
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}A cinco rodadas do fim, veja quantos times no Z-4 do Brasileirão escaparam do rebaixamento{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>A cinco rodadas do fim, veja quantos times no Z-4 do Brasileirão escaparam do rebaixamento
Com último jogo atrasado disputado no sábado, todos os times completaram 33 rodadas



Athletico vence o Atlético-MG em jogo atrasado e deixa a zona de rebaixamento
O Brasileirão retorna nesta quarta-feira, após a última pausa para a data Fifa, e se encaminha para a reta final.  A cinco rodadas do fim, a briga nas duas pontas da tabela está acirrada.  Na parte de baixo, sete times estão separados por apenas três pontos, sendo dois deles dentro do Z-4.</p>
<p class='noticia-conteudo'>No sábado, o Athletico-PR venceu o Atlético-MG no último jogo atrasado, deixou a zona da degola e colocou o Juventude, por conta dos critérios de desempate.  Quatro equipes somam os mesmos 37 pontos.  Agora, os 20 times da Série A estão com 33 rodadas completas.</p>
<p class='noticia-conteudo'>Athletico-PR 1 x 0 Atlético-MG | Melhores Momentos | 19ª Rodada | Brasileirão 2024

Nas 18 edições anteriores do Brasileirão de pontos corridos com 20 clubes (desde 2006), em 13 ao menos uma equipe que estava no Z-4 a cinco rodadas do fim conseguiu escapar da queda – 15 equipes no total. 
Por duas vezes na mesma edição, dois times saíram da parte de baixo e evitaram o rebaixamento: 2010 (Atlético-MG e Avaí) e 2013 (Criciúma e Fluminense).  O Tricolor carioca, inclusive, tem uma das campanhas mais emblemáticas, em 2009, quando chegou a ter 98% de chance de cair.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_0.jpg"></div><p class='foto-descricao'>Fred comemora gol pelo Fluminense em 2009 — Foto: André Durão /GLOBOESPORTE. COM</p>
Em cinco temporadas, o cenário não se alterou no fim do campeonato, mas duas delas no começo do sistema atual de disputa, em 2006 e 2007.  A mais recente foi em 2021, embora na data de disputa da 33ª rodada, alguns times estivessem com jogos a mais ou a menos que os demais.</p>
<p class='noticia-conteudo'>No ano passado, antes da 34ª rodada, o Cruzeiro estava no Z-4 (17º), mas com dois jogos a menos, disputados logo depois, antes da 35ª.  O Vasco, 16º, tinha uma partida a menos.  Os dois se salvaram, e o Santos, em 13º na 33ª rodada, teve uma derrocada que culminou no rebaixamento.</p>
<p class='noticia-conteudo'>Abaixo, ano a ano, veja como estava o Z-4 do Brasileirão após a 33ª rodada e como terminou. 
2006
Como estava na 33ª rodada Como terminou
17º Ponte Preta - 34 pontos 17º Ponte Preta - 39 pontos
18º Fortaleza - 31 pontos 18º Fortaleza - 38 pontos
19º São Caetano - 30 pontos 19º São Caetano - 36 pontos
20º Santa Cruz - 25 pontos 20º Santa Cruz - 28 pontos

2007
Como estava na 33ª rodada Como terminou
17º Corinthians - 41 pontos 17º Corinthians - 44 pontos
18º Paraná - 37 pontos 18º Juventude - 41 pontos
19º Juventude - 32 pontos 19º Paraná - 41 pontos
20º América-RN - 16 pontos 20º América-RN - 17 pontos
Sem alteração nos rebaixamentos, apenas com a troca de posição entre Paraná e Juventude. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_1.jpg"></div><p class='foto-descricao'>Betão chora e esconde o rosto em rebaixamento do Corinthians em 2007 — Foto: Divulgação</p>
2008
Como estava na 33ª rodada Como terminou
17º Athletico-PR - 35 pontos 17º Figueirense - 44 pontos
18º Figueirense - 35 pontos 18º Vasco - 40 pontos
19º Vasco - 34 pontos 19º Portuguesa - 38 pontos
20º Ipatinga - 31 pontos 20º Ipatinga - 35 pontos
O Athletico-PR somou 10 pontos nas últimas cinco rodadas e terminou o campeonato em 13º lugar.</p>
<p class='noticia-conteudo'>A Portuguesa, fora do Z-4 na 33ª rodada (16º com 36 pontos), fez apenas dois e foi rebaixada na penúltima posição. 
2009
Como estava na 33ª rodada Como terminou
17º Santo André - 35 pontos 17º Coritiba - 45 pontos
18º Náutico - 35 pontos 18º Santo André - 41 pontos
19º Fluminense - 33 pontos 19º Náutico - 38 pontos
20º Sport - 30 pontos 20º Sport - 31 pontos
O Fluminense, já em ascensão para escapar da degola, fez 13 pontos em 15 e terminou em 16º.  O Coritiba, 14º com 41 pontos na 33ª rodada, fez apenas quatro até o fim e acabou rebaixado em casa ao empatar com o próprio Flu.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_2.jpg"></div><p class='foto-descricao'>Em 2009, Fluminense reagiu no 2º turno e impediu rebaixamento — Foto: Arquivo</p>
2010
Como estava na 33ª rodada Como terminou
17º Atlético-MG - 35 pontos 17º Vitória - 42 pontos
18º Avaí - 33 pontos 18º Guarani - 37 pontos
19º Goiás - 31 pontos 19º Goiás - 33 pontos
20º Barueri - 24 pontos 20º Barueri - 28 pontos
Atlético-MG e Avaí tiveram boa reta final de Brasileirão e somaram 10 pontos nas cinco rodadas finais, cada, terminando em 13º e 15º, respectivamente. 
Guarani (16º, 36 pontos) e Vitória (14º, 38) entraram no Z-4 e foram rebaixados.  O time baiano, inclusive, ficou no 0 a 0 em casa na última rodada com o Atlético-GO, que se salvou nos critérios de desempate.</p>
<p class='noticia-conteudo'>2011
Como estava na 33ª rodada Como terminou
17º Cruzeiro - 34 pontos 17º Athletico-PR - 41 pontos
18º Athletico-PR - 34 pontos 18º Ceará - 39 pontos
19º Avaí - 29 pontos 19º América-MG - 37 pontos
20º América-MG - 28 pontos 20º Avaí - 31 pontos
O Cruzeiro tinha um ponto a menos que o Ceará (16º) na 33ª rodada e escapou na última rodada ao golear o rival Atlético-MG, rebaixando também o Athletico-PR. 
2012
Como estava na 33ª rodada Como terminou
17º Sport - 33 pontos 17º Sport - 41 pontos
18º Palmeiras - 32 pontos 18º Palmeiras - 34 pontos
19º Figueirense - 29 pontos 19º Atlético-GO - 30 pontos
20º Atlético-GO - 23 pontos 20º Figueirense - 30 pontos
Outra temporada sem alteração nos quatro últimos, apenas com mudança de posição entre Atlético-GO e Figueirense. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_3.jpg"></div><p class='foto-descricao'>Em 2012, Palmeiras sofreu segundo rebaixamento na história — Foto: Marcos Ribolli</p>
2013
Como estava na 33ª rodada Como terminou
17º Criciúma - 36 pontos 17º Portuguesa - 44 pontos
18º Fluminense - 36 pontos 18º Vasco - 44 pontos
19º Ponte Preta - 34 pontos 19º Ponte Preta - 37 pontos
20º Náutico - 17 pontos 20º Náutico - 20 pontos
Criciúma e Fluminense somaram 10 pontos em cinco jogos.</p>
<p class='noticia-conteudo'>Inicialmente, apenas o time catarinense havia escapado, em 16º, à frente pelo número de vitórias.  Porém, com a perda de quatro pontos por irregularidade, a Portuguesa acabou rebaixada, salvando os cariocas. 
O Vasco, então 15º (37 pontos), entrou no Z-4 na reta final.</p>
<p class='noticia-conteudo'>2014
Como estava na 33ª rodada Como terminou
17º Vitória - 34 pontos 17º Vitória - 38 pontos
18º Botafogo - 33 pontos 18º Bahia - 37 pontos
19º Bahia - 31 pontos 19º Botafogo - 34 pontos
20º Criciúma - 30 pontos 20º Criciúma - 32 pontos
Sem mudança nos times do Z-4, apenas com troca de posição de Bahia e Botafogo. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_4.jpg"></div><p class='foto-descricao'>Em 2014, Botafogo foi rebaixado com 34 pontos — Foto: Mauro Horita / Ag.  Estado</p>
2015
Como estava na 33ª rodada Como terminou
17º Goiás - 34 pontos 17º Avaí - 42 pontos
18º Coritiba - 34 pontos 18º Vasco - 41 pontos
19º Joinville - 30 pontos 19º Goiás - 38 pontos
20º Vasco - 30 pontos 20º Joinville - 31 pontos
O Coritiba tinha um ponto a menos que o Avaí (16º) e somou 10 em 15, contra sete do concorrente, terminando o Brasileirão em 15º lugar.</p>
<p class='noticia-conteudo'>2016
Como estava na 33ª rodada Como terminou
17º Vitória - 36 pontos 17º Inter - 43 pontos
18º Figueirense - 33 pontos 18º Figueirense - 37 pontos
19º América-MG - 27 pontos 19º Santa Cruz - 31 pontos
20º Santa Cruz - 24 pontos 20º América-MG - 28 pontos
O Vitória somava dois pontos a menos que o Inter (16º), mas fez quatro a mais que o rival nas últimas rodadas (9 a 5) e escapou em 16º, decretando o primeiro rebaixamento da história do clube gaúcho. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_5.jpg"></div><p class='foto-descricao'>Inter caiu para o Z-4 nas últimas rodadas do Brasileirão e foi rebaixado em 2016 — Foto: André Durão / GloboEsporte. com</p>
2017
Como estava na 33ª rodada Como terminou
17º Sport - 36 pontos 17º Coritiba - 43 pontos
18º Ponte Preta - 35 pontos 18º Avaí - 43 pontos
19º Avaí - 35 pontos 19º Ponte Preta - 39 pontos
20º Atlético-GO - 27 pontos 20º Atlético-GO - 36 pontos
O Coritiba era 15º colocado na 33ª rodada, com três pontos a mais que o Sport.</p>
<p class='noticia-conteudo'>O Coxa foi rebaixado pelo saldo de gols em relação ao Vitória, o 16º (-9 a -8).  Os pernambucanos fecharam o campeonato em 15º, com 45 pontos. 
2018
Como estava na 33ª rodada Como terminou
17º Chapecoense - 37 pontos 17º Sport - 42 pontos
18º Vitória - 35 pontos 18º América-MG - 40 pontos
19º América-MG - 34 pontos 19º Vitória - 37 pontos
20º Paraná - 21 pontos 20º Paraná - 23 pontos
A Chape tinha o mesmo número de pontos do Sport, mas uma vitória a menos.</p>
<p class='noticia-conteudo'>A equipe não só escapou da queda, como terminou três posições à frente do Z-4, em 14º (44 pontos).  O Leão, que havia escapado no ano anterior, caiu. 
2019
Como estava na 33ª rodada Como terminou
17º Fluminense - 35 pontos 17º Cruzeiro - 36 pontos
18º CSA - 29 pontos 18º CSA - 32 pontos
19º Chapecoense - 25 pontos 19º Chapecoense - 32 pontos
20º Avaí - 18 pontos 20º Avaí - 20 pontos
O Fluminense arrancou no fim do campeonato, somou 11 pontos e acabou em 14º lugar.</p>
<p class='noticia-conteudo'>O Cruzeiro (16º com 36 pontos), em queda livre, perdeu os últimos cinco jogos e amargou o primeiro rebaixamento da história. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_6.jpg"></div><p class='foto-descricao'>Thiago Neves foi uma das figuras do rebaixamento do Cruzeiro em 2019 — Foto: GIAZI CAVALCANTE/CÓDIGO19/ESTADÃO CONTEÚDO</p>
2020
Como estava na 33ª rodada Como terminou
17º Fortaleza - 35 pontos 17º Vasco - 41 pontos
18º Goiás - 29 pontos 18º Goiás - 37 pontos
19º Coritiba - 28 pontos 19º Coritiba - 31 pontos
20º Botafogo - 24 pontos 20º Botafogo - 27 pontos
O Vasco tinha 37 pontos a cinco rodadas do fim, mas somou apenas quatro mais, enquanto o Fortaleza fez seis e se salvou pelo saldo de gols (-10 a -19). 
2021
Como estava na 33ª rodada Como terminou
17º Bahia - 36 pontos (um jogo a menos) 17º Grêmio - 43 pontos
18º Sport - 33 pontos (um jogo a mais) 18º Bahia - 43 pontos
19º Grêmio - 32 pontos (um jogo a menos) 19º Sport - 38 pontos
20º Chapecoense - 15 pontos 20º Chapecoense - 15 pontos
Embora os times não tivessem o calendário completo quando disputaram a 33ª rodada, não houve alteração nos quatro últimos.</p>
<p class='noticia-conteudo'>O Grêmio chegou a esboçar uma reação e ultrapassou Bahia e Sport, mas não evitou a queda. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_7.jpg"></div><p class='foto-descricao'>Grêmio rebaixado em 2021 — Foto: Pedro H.  Tesch/AGIF</p>
2022
Como estava na 33ª rodada Como terminou
17º Atlético-GO - 33 pontos 17º Ceará - 37 pontos
18º Cuiabá - 31 pontos 18º Atlético-GO - 36 pontos
19º Avaí - 28 pontos 19º Avaí - 35 pontos
20º Juventude - 21 pontos 20º Juventude - 22 pontos
O Ceará era 16º colocado com 34 pontos, mas fez apenas três até o fim o Brasileirão.</p>
<p class='noticia-conteudo'>Com uma arrancada de 10 pontos, o Cuiabá fechou o campeonato em 16º. 
2023
Como estava na 33ª rodada Como terminou
17º Cruzeiro - 37 pontos (dois jogos a menos) 17º Santos - 43 pontos
18º Goiás - 35 pontos 18º Goiás - 38 pontos
19º Coritiba - 26 pontos 19º Coritiba - 30 pontos
20º América-MG - 21 pontos 20º América-MG - 24 pontos
Após a 33ª rodada, o Cruzeiro tinha ainda sete partidas, o que ajudou a sair da briga pelo descenso.  O Santos, por sua vez, era 13º com 41 pontos, corretamente com 33 jogos, mas somou apenas dois em cinco jogos e foi rebaixado pela primeira vez na história.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_8.jpg"></div><p class='foto-descricao'>Santos rebaixado contra o Fortaleza — Foto: Abner Dourado/AGIF</p>.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

