
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}A duas rodadas do fim, veja o que ainda está em jogo na Série B{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>A duas rodadas do fim, veja o que ainda está em jogo na Série B
Penúltima rodada pode ser definitiva nos dois extremos da tabela; confira os cenários



Goiás e Vila Nova travam disputa particular no fim da Série B
A 37ª e penúltima rodada da Série B começa nesta sexta-feira e tem potencial para ser definitiva em todos os extremos da tabela. 
Com um acesso definido até o momento, oito times seguem vivos na briga para disputar a Série A de 2025. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_7_0.jpg"></div><p class='foto-descricao'>Série B chega à 37ª rodada com disputas em aberto — Foto: Gabriel Thá/OFEC</p>
O caminho, porém, se mostra muito mais claro para uns do que para outros (entenda melhor abaixo), com equipes mantendo menos de 1% de possibilidade de subir de divisão.</p>
<p class='noticia-conteudo'>Já na parte de baixo da tabela, Guarani e Brusque já estão rebaixados, deixando duas vagas restantes e cinco clubes ameaçados na luta contra a degola. 



Curiosamente, a rodada começa e termina com embates entre clubes que disputam o acesso: Operário-PR e Mirassol duelam nesta sexta, às 16h, em Ponta Grossa, enquanto na terça-feira, o Ceará recebe o América-MG, às 21h45, na Arena Castelão. 
Veja abaixo o cenário da briga por acesso e luta contra o rebaixamento nesta Série B:
Acesso - 3 para 8
Com o Santos confirmado na Série A do ano que vem, restam três vagas no G-4 a serem disputadas por oito times nas duas rodadas finais.</p>
<p class='noticia-conteudo'>O cenário está bem encaminhado para Mirassol e Novorizontino, que podem, inclusive, carimbar a classificação à elite neste final de semana. 
O Ceará fecha o G-4, seguido de perto pelo Sport.  Goiás, Operário, Vila Nova e América-MG completam a lista dos clubes que ainda sonham com um possível acesso, ainda que com chances remotas que passam por uma série de combinações de resultados.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_7_1.jpg"></div><p class='foto-descricao'>Briga pelo acesso na Série B — Foto: ge</p>
Veja abaixo as chances de acesso de de cada um, de acordo com o Espião Estatístico:

Rebaixamento - 2 contra 5
Lanterna e vice-lanterna, Guarani e Brusque já sabem que irão disputar a Série C em 2025.  As duas vagas restantes têm Ituano, Ponte Preta (ambos na zona da degola), CRB, Chapecoense e Botafogo-SP brigando para escapar. 
O Galo de Itu é o mais desesperado nessa batalha e só não terá o rebaixamento sacramentado ainda nesta rodada diante de uma combinação de resultados.</p>
<p class='noticia-conteudo'>A briga mais ferrenha deve recair sobre Ponte e CRB, mas em caso de derrota da Macaca e vitória do Galo da Pajuçara, o time paulista se juntará ao maior rival na terceira divisão. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_7_2.jpg"></div><p class='foto-descricao'>Luta contra o rebaixamento na Série B — Foto: ge</p>
Veja abaixo o risco de queda de cada um, de acordo com o Espião Estatístico:
Ituano (visita o Vila Nova) - 97,84%
Ponte Preta (recebe o Sport) - 60,17%
CRB (visita o Santos) - 32,69%
Chapecoense (recebe o Coritiba) - 7,44%
Botafogo-SP (recebe o Avaí) - 1,86%
AMÉRICA-MG
BOTAFOGO-SP
CRB
CEARÁ
CHAPECOENSE
GOIÁS
ITUANO
OPERÁRIO-PR
PONTE PRETA
SPORT
VILA NOVA.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

