
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Abel admite que Botafogo foi melhor que Palmeiras e comenta xingamentos Pequena parte{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Abel admite que Botafogo foi melhor que Palmeiras e comenta xingamentos: "Pequena parte"
Treinador também critica marcação da arbitragem em escanteio que originou primeiro gol do time visitante e não acredita que cariocas deixarão título escapar



Palmeiras x Botafogo - Melhores Momentos
O técnico Abel Ferreira admitiu que o Botafogo foi superior ao Palmeiras no duelo desta terça-feira, no Allianz Parque, pela 36ª rodada do Campeonato Brasileiro.  O time carioca venceu por 3 a 1 e se isolou na liderança da competição. 

– Nosso adversário acaba por ter muito mérito no desempenho técnico.</p>
<p class='noticia-conteudo'>Os primeiros 15 minutos foram nossos, tivermos uma bola de cabeça, uma no poste do Rony, mais um do Rony para o Rocha na cara do gol, é nosso adversário acabou por ser muito feliz.  O Gregore reconhece que estava onde não era para estar e o futebol é isso.  Na segunda parte entramos para ser contundentes e depois da expulsão fica tudo mais difícil – afirmou o treinador.</p>
<p class='noticia-conteudo'>– Embora o Palmeiras tenha mais expectativa de gols, acho que o adversário foi melhor e também feliz no jogo – acrescentou. 
Mais notícias do Palmeiras:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_0.jpg"></div><p class='foto-descricao'>Abel Ferreira, técnico do Palmeiras, contra o Botafogo — Foto: Marcos Ribolli</p>
Apesar de ter achado o Botafogo superior nesta noite, o técnico não deixou de citar que o primeiro gol sofrido surgiu de um escanteio que, na visão dele, não era para ter sido marcado. 
– Acho que o desempenho técnico da nossa equipe esteve abaixo, mas não posso deixar de dizer.</p>
<p class='noticia-conteudo'>O primeiro gol do adversário vem de um erro claro do árbitro.  Mais uma vez digo, não sou eu que digo, o Gregore que disse. 
A má atuação e a derrota sofrendo três gols fizeram parte da torcida ficar irritada e ensaiar algumas vaias.</p>
<p class='noticia-conteudo'>A substituição de Estêvão por Gabriel Menino, porém, culminou em xingamentos de membros da torcida organizada em direção a Abel Ferreira. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_1.jpg"></div><p class='foto-descricao'>Savarino disputa a bola com Marcos Rocha em Palmeiras x Botafogo — Foto: Marcos Ribolli</p>
Uma parte dos torcedores chamou o técnico português de "burro".  Demais torcedores presentes no estádio vaiaram a atitude deste grupo.</p>
<p class='noticia-conteudo'>– Uma pequena parte da torcida falaste o nome, mas viu o que toda a torcida fez? Isso mostra o carinho que tem por nós.  Eu entendo.  São muitos títulos juntos.</p>
<p class='noticia-conteudo'>Parece que o Palmeiras ganha sempre e vocês sabem que não é isso.  Tem bons dirigentes, jogadores, recursos, mas a verdade é que hoje correu tudo bem com o adversário mas ainda não há campeão – comentou o técnico. 
– O Botafogo este com tudo para ser campeão, há quatro anos investe para isso.</p>
<p class='noticia-conteudo'>Quando cheguei ao Brasil, o Botafogo estava na segunda divisão, em quatro anos está na final da Libertadores e a disputar o campeonato palmo a palmo conosco.  Botafogo tem tudo nas mãos para ser campeão, sem dúvida nenhuma – completou. 

Apesar do clima melancólico pela derrota, o Palmeiras ainda tem chances de ser campeão.</p>
<p class='noticia-conteudo'>Para isso, precisa vencer os dois últimos jogos (Cruzeiro e Fluminense) e o Botafogo perder um dos dois últimos (Internacional ou São Paulo). 
– Estamos na luta ainda.  Botafogo tem tudo para ser campeão.</p>
<p class='noticia-conteudo'>Já desperdiçaram no ano passado e não acredito que vai desperdiçar de novo. 
– Mas volto a referir, dar os parabéns ao Botafogo, foi tecnicamente melhor, mais eficaz, mais maduro, até na pressão na arbitragem para expulsar para o Rocha.  O máximo responsável pelo que aconteceu hoje sou eu, mas vamos continuar a trabalhar.</p>
<p class='noticia-conteudo'>Não tem nada decidido. 
O Palmeiras volta a campo na próxima terça-feira, às 21h30, para encarar o Cruzeiro, no Mineirão. 

Mais lidas do Ge
1
Flamengo
Flamengo anuncia férias antecipadas para quatro jogadores; veja quais
2
Botafogo
Análise: Botafogo mostra força, equilíbrio e coloca uma mão na taça do Brasileirão
3
Espião Estatístico
Botafogo volta a ser favorito com 76% de chances de título brasileiro, e Palmeiras fica com 23%
4
Flamengo
Análise do Flamengo: expulsão compromete mais uma noite de inovações positivas de Filipe Luís
5
Futebol Internacional
Gyökeres se irrita com provocação de brasileiro do Arsenal: 'Se não consegue criar sua comemoração.</p>
<p class='noticia-conteudo'>. . '

PALMEIRAS.</p>
{% endblock main_content %}

