
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Palmeiras{% endblock title %}
{% block main_title %}Palmeiras{% endblock main_title %}
{% block second_title %}Adriana, da Seleção, é indicada ao time do The Best da Fifa e destaca Para coroar ano incrível{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Adriana, da Seleção, é indicada ao time do The Best da Fifa e destaca: "Para coroar ano incrível"
Campeã com Orlando Pride e medalhista de prata com Brasil nas Olimpíadas concorre a entrar em equipe ideal de 2024



Adriana Silva, do Orlando Pride, mostra bastidores nas redes sociais após título nos EUA
Atacante da seleção brasileira e do Orlando Pride, dos Estados Unidos, Adriana Silva foi indicada ao time do The Best - evento da Fifa que homenageia os destaques da temporada.  A piauiense, de 28 anos, contou que chegou a ficar "atordoada" com a notícia, mas destacou que essa indicação é "para coroar o ano incrível" que teve na Seleção e no seu clube. 
O sentimento é de muita gratidão e alegria, eu fiquei muito feliz quando recebi a notícia.</p>
<p class='noticia-conteudo'>A princípio, eu fiquei muito atordoada, não sabia o que era direito, mas depois entrei no “Instagram” da Fifa e vi certinho.  Eu fico muito feliz, é para coroar o ano incrível que eu tive no Orlando Prides e na Seleção"
— declarou a atacante. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_101_0.jpg"></div><p class='foto-descricao'>Adriana Silva, atacante da seleção brasileira — Foto: Rafael Ribeiro/CBF</p>
Além dela, outras cinco jogadoras brasileiras foram indicadas à seleção ideal da Fifa de 2024: a goleira Lorena, as zagueiras Tarciane e Rafaelle, a meia Gabi Portilho e a atacante Kerolin.</p>
<p class='noticia-conteudo'>Aos 25' do 2º Tempo - Após bate-rebate, Gabi Portilho ajeita de cabeça para Adriana marcar
Nesta temporada, Adriana foi medalhista de prata com a seleção brasileira nas Olimpíadas de Paris 2024 e foi campeã da NWLS - liga norte-americana de futebol feminino.  Pela sua equipe, a atacante marcou seis gols, e pelo Brasil balançou as redes em uma oportunidade. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_101_1.jpg"></div><p class='foto-descricao'>Adriana Silva, atacante da seleção brasileira — Foto: Rafael Ribeiro/CBF</p>
A votação do The Best da Fifa iniciou nesta quinta-feira e vai até o dia 10 de dezembro.</p>
<p class='noticia-conteudo'>Jornalistas e capitães de seleções possuem direito a voto.  A premiação ainda não possui data definida, mas deve ocorrer no início de janeiro do próximo ano..</p>
{% endblock main_content %}

