
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Agência revela doping de Iga Swiatek depois da tenista cumprir suspensão{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Agência revela doping de Iga Swiatek depois da tenista cumprir suspensão
Atleta polonesa testou positivo em uma amostra coletada em agosto deste ano e ficou afastada de competições entre 22 de setembro a 4 de outubro, período em que deixou de jogar três torneios


A tenista Iga Swiatek, atual número 2 do ranking mundial, recebeu uma suspensão de cerca de um mês em caso de doping após fazer uso da substância proibida trimetazidina (TMZ), divulgou a Agência Internacional de Integridade do Tênis (ITIA), nesta quinta-feira.  A atleta polonesa testou positivo em uma amostra coletada em agosto deste ano e ficou afastada de competições entre 22 de setembro a 4 de outubro, período em que deixou de jogar três torneios. 


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_57_0.jpg"></div><p class='foto-descricao'>Iga Swiatek em ação no Madrid Open — Foto: Robert Prange/Getty Images</p>
A Agência aceitou a defesa da jogadora, que alegou que a contaminação pela substância ocorreu de maneira não intencional.</p>
<p class='noticia-conteudo'>Na ocasião, Swiatek disse ter ingerido melatonina, um medicamento para controle de insônia e jet lag, fabricado e vendido na Polônia.  Após a tenista e sua equipe prestarem depoimentos, que também contou com a análise de dois laboratórios credenciados pela Agência Mundial Antidoping (Wada), a investigação concluiu que a ingestão não foi proposital. 
Iga Swiatek 0 x 2 Zhen Qinwen | Melhores momentos | Tênis | Jogos de Paris 2024
- A jogadora foi suspensa provisoriamente de 22 de setembro a 4 de outubro, perdendo três torneios.</p>
<p class='noticia-conteudo'>O que conta para a sanção, restando oito dias - disse a ITIA em um comunicado. 
Como o produto contaminado era um medicamento regulamentado no país de origem da atleta, sem nenhuma falha ou negligência significativa comprovada, a ITIA ofereceu para Iga Swiatek uma suspensão curta de um mês, que foi aceita por ela. 
Além da pena, a tetracampeã de Roland Garros também teve que abdicar do prêmio em dinheiro recebido pela presença no WTA 1000 de Cincinnati, primeiro campeonato realizado após o incidente.</p>
<p class='noticia-conteudo'>Durante o torneio, Swiatek chegou até as semifinais e caiu diante de Aryna Sabalenka, atual número 1 do ranking..</p>
{% endblock main_content %}

