
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Agonia no ar torcedores do Botafogo voam para Buenos Aires e perdem vitória sobre o Palmeiras{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Agonia no ar: torcedores do Botafogo voam para Buenos Aires e perdem vitória sobre o Palmeiras
Botafoguenses ficaram sem sinal de wi-fi no caminho para o palco da final da Libertadores, não viram o triunfo no Brasileirão e contaram seu "drama" ao ge; quem foi de ônibus teve mais sorte



Palmeiras 1 x 3 Botafogo | Melhores Momentos | 36ª Rodada | Brasileirão 2024
Imagine a cena: seu time está jogando uma das partidas mais importantes da temporada e você simplesmente não tem acesso a nenhuma informação.  Isso aconteceu com alguns torcedores do Botafogo na última terça-feira.  Muitos botafoguenses compraram passagens para Buenos Aires, palco da final da Conmebol Libertadores contra o Atlético-MG, no próximo sábado (30), antes de saber que o duelo decisivo contra o Palmeiras, pelo Brasileirão, seria justamente no dia e na hora do voo.</p>
<p class='noticia-conteudo'>E assim, vários torcedores viajaram sem sinal pelos céus e estradas que levam do Brasil à Argentina, sem saber em tempo real que Gregore, Savarino e Adryelson marcaram para construir um triunfo por 3 a 1 contra o maior adversário na luta pelo título Brasileiro, em pleno Allianz Parque. 
Torcedores do Botafogo vibram em avião ao descobrirem vitória contra Palmeiras
- Foi uma agonia.  O voo era para Buenos Aires, mas parecia que era para o Japão.</p>
<p class='noticia-conteudo'>O voo não tinha Wi-Fi, então nem dava para comprar um pacote de dados para ter acesso ao resultado em tempo real.  Ninguém estava com o celular em modo avião, estavam tentando algum resquício de sinal e durante o voo algum abençoado conseguiu o sinal e anunciou que estava 3 a 0 - afirmou Lucas Abreu, que saiu do Rio de Janeiro para Buenos Aires. 

Ao saber do resultado, torcedores pouco se importaram com o veículo no ar.</p>
<p class='noticia-conteudo'>Muitos tiraram o cinto de segurança e foram para o corredor cantar e vibrar com o resultado.  O Botafogo chegou a 73 pontos e recuperou a liderança do Brasileirão com a vitória. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_37_0.jpg"></div><p class='foto-descricao'>Torcedores do Botafogo que estavam num avião rumo a Bueno Aires enquanto o time vencia o Palmeiras pelo Brasileirão — Foto: Reprodução</p>
- Virou uma loucura.</p>
<p class='noticia-conteudo'>O avião era quase todo alvinegro e todos começaram a cantar, levantar e pular.  A aeromoça ficou até um pouco descontente (risos).  O piloto pediu para a galera segurar um pouco a emoção.</p>
<p class='noticia-conteudo'>Aí acabou modo avião, ninguém estava nem aí para a frequência do rádio, só queria saber do Botafogo - completou Lucas. 
Rafaella Girão passou por situação parecida.  A carioca também voou do Rio de Janeiro para Buenos Aires na noite de terça-feira.</p>
<p class='noticia-conteudo'>- Pegamos um voo metade botafoguense e metade com pessoas que não faziam a menor ideia do que estava acontecendo.  Decolou às 20h30 e assim que sentamos já começou o burburinho de "alguém comprou sinal?", "tem wi-fi aqui?".  Ficamos cantando algumas músicas e depois dormimos.</p>
<p class='noticia-conteudo'>Quando estava no final do segundo tempo algum botafoguense maravilhoso avisou do placar - contou. 
- Ele pediu para um amigo ficar mandando SMS com o placar para ele, e avisou que estava 2 a 0.  Começamos a gritar, o pessoal que estava na frente não acreditou.</p>
<p class='noticia-conteudo'>Essa era a única informação que tínhamos até quase pousar e nos agarramos nisso confiando que ele estava falando a verdade - completou. 
E quem viajou de ônibus?
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_37_1.jpg"></div><p class='foto-descricao'>Torcedores do Botafogo que estavam num ônibus rumo a Bueno Aires enquanto o time vencia o Palmeiras pelo Brasileirão — Foto: Acervo pessoal</p>
A ida de torcedores do Botafogo para Buenos Aires não fica limitada aos aviões.  Afinal, mais de 100 caravanas espalhadas pelo Brasil estão saindo do país nos últimos dias rumo à Argentina.</p>
<p class='noticia-conteudo'>O grupo de Diego Foguel não passou lá por um perrengue de proporções gigantescas, mas estava dentro do ônibus - inclusive, passando em um ponto próximo do Allianz Parque na hora da partida - quando a bola rolou. 
- Para mim a parte mais difícil foi cada um ver no seu celular e estar em timings completamente diferentes.  Basicamente todos os gols foram avisados antes.</p>
<p class='noticia-conteudo'>Ao longo do jogo era engraçado porque vários grupos se formaram para olhar as telinhas de um celular por grupo, então qualquer reação deixava um outro grupo assustado por não saber do que se tratava. 
O grupo saiu do Rio de Janeiro e chegará em San Telmo, em Buenos Aires, na sexta-feira. 


Assista: tudo sobre o Botafogo no ge, na Globo e no sportv
50 vídeos
BOTAFOGO.</p>
{% endblock main_content %}

