
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}corinthians{% endblock title %}
{% block main_title %}corinthians{% endblock main_title %}
{% block second_title %}Ainda dá Yuri Alberto, do Corinthians, busca três artilharias inéditas na carreira; veja números{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Ainda dá? Yuri Alberto, do Corinthians, busca três artilharias inéditas na carreira; veja números
Com 27 gols marcados em 2024, camisa 9 nunca foi goleador de uma competição desde que se profissionalizou e tem chance dupla de alcançar feito inédito

22/11/2024 04h00 Atualizado

Yuri Alberto fala com exclusividade para o Globo Esporte SP
Em grande fase no Corinthians, Yuri Alberto pode coroar a sua melhor temporada da carreira com duas artilharias, algo inédito desde que se profissionalizou como jogador. 

Aos 23 anos, Yuri nunca conseguiu ser artilheiro máximo de alguma competição.  Segundo dados do Espião Estatístico do ge, o mais próximo que o atacante chegou da lista de maiores goleadores foi no Brasileirão de 2021, quando defendia o Internacional e balançou as redes 12 vezes, sendo o quinto jogador com mais gols na competição.</p>
<p class='noticia-conteudo'>Os 27 gols anotados neste ano permitem ao jogador sonhar com três artilharias de uma vez. 
Mais notícias do Corinthians:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_7_0.jpg"></div><p class='foto-descricao'>Yuri Alberto comemora gol do Corinthians contra o Cruzeiro — Foto: Rodrigo Coca/Agência Corinthians</p>
Com 11 gols marcados no Brasileirão, Yuri divide a vice-artilharia da competição com Pedro, do Flamengo, que está lesionado e só voltará a jogar em 2025.  A liderança é de Estêvão, do Palmeiras, que tem 12 gols anotados.</p>
<p class='noticia-conteudo'>Yuri e Estêvão terão mais quatro jogos para definir quem ficará com o posto de maior goleador do Campeonato Brasileiro deste ano. 
Apesar de ter saído com dores na coxa direita na vitória contra o Cruzeiro, na quarta-feira, o atacante do Corinthians deve estar em campo na próxima rodada, contra o Vasco, domingo, na Neo Química Arena. 

O Timão se credenciou de vez na briga pela Libertadores? GE Corinthians debate
Outra possibilidade de artilharia de Yuri Alberto é mais ampla.</p>
<p class='noticia-conteudo'>O atacante do Timão é o segundo maior goleador do Brasil em 2024, apenas três gols atrás de Pedro, do Flamengo.  Como o rival não entrará em campo mais no ano, Yuri depende do próprio desempenho para garantir o posto de maior artilheiro do país na temporada. 
A artilharia mais próxima é a da Copa Sul-Americana.</p>
<p class='noticia-conteudo'>Com nove gols marcados na competição, Yuri torce para que Adrían Martínez, do Racing, não marque na decisão do título do torneio, contra o Cruzeiro, neste sábado.  Os dois estão dividindo o posto de maiores goleadores da atual edição da competição. 


50 vídeos
CORINTHIANS.</p>
{% endblock main_content %}

