
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Ajax voltará a usar escudo clássico 34 anos depois; confira o emblema{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Ajax voltará a usar escudo clássico 34 anos depois; confira o emblema
Clube holandês retomará emblema histórico como parte das celebrações do 125º aniversário



Ajax voltará a usar escudo clássico na próxima temporada
O Ajax anunciou uma novidade relevante para o seu aniversário de 125 anos.  O clube holandês voltará a usar o seu escudo clássico na próxima temporada (confira na imagem abaixo), 34 anos depois de substituí-lo por versões mais modernas, e fará isso de forma definitiva. 
✅Siga o novo canal ge Futebol Internacional no WhatsApp
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_21_0.jpg"></div><p class='foto-descricao'>Ajax voltará a usar escudo clássico da história do clube — Foto: Divulgação / Ajax</p>
O Ajax completará 125 anos de existência em 18 de março de 2025.</p>
<p class='noticia-conteudo'>O clube prometeu voltar a usar o emblema clássico a partir da temporada 2025/26, que só começa em agosto do ano que vem.  Essa é uma das muitas ações que o Ajax terá em suas celebrações de aniversário. 
— Sabemos que a maioria de nossos torcedores sonharam com esse desejo durante anos, e pensamos que nosso 125º aniversário era o momento perfeito para devolver o escudo clássico à torcida e a nós mesmos — comentou o diretor-geral do clube, Menno Geelen.</p>
<p class='noticia-conteudo'>O Ajax justificou a retomada do escudo clássico como uma forma de manter o clube fiel ao seu "DNA", o que passa também por sua filosofia de futebol.  Nas palavras da direção do clube, isso seria um "símbolo desse compromisso", além de um tributo à história de sucesso da agremiação holandesa. 
O retorno do uso do escudo clássico será celebrado neste domingo, durante um jogo amistoso na Arena Johan Cruyff, em Amsterdã, entre lendas do Ajax e do Real Madrid.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_21_1.jpg"></div><p class='foto-descricao'>O escudo clássico do Ajax, da Holanda, em detalhes — Foto: Divulgação / Ajax</p>
AJAX.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

