
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Alan Patrick sofre lesão muscular e desfalca o Inter nos dois últimos jogos do Brasileirão{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Alan Patrick sofre lesão muscular e desfalca o Inter nos dois últimos jogos do Brasileirão
Meia tem problema na coxa que o impede de participar das partidas contra Botafogo e Fortaleza

04/12/2024 21h08 Atualizado há 14 horas

Peça-chave no Inter, Alan Patrick aumenta participações em gols com mudança tática
O Inter perdeu Alan Patrick para os dois últimos jogos do Inter no Campeonato Brasileiro.  Uma hora antes da partida contra o Botafogo nesta quarta-feira, no Beira-Rio, a assessoria de imprensa do clube informou que o jogador tem uma lesão muscular que o impede de atuar hoje e no fim de semana.  O ge apurou que é em uma das coxas.</p>
<p class='noticia-conteudo'>Portanto, a temporada 2024 acabou para o camisa 10 colorado, um dos pilares técnicos e táticos da equipe treinada por Roger Machado.  O jogador de 33 anos atuou em 45 jogos no ano, com 12 gols marcados e oito assistências. 
Até o momento, é o quarto atleta do elenco com mais partidas disputadas, o vice-artilheiro (atrás de Wesley, que tem 13) e o principal garçom.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_63_0.jpg"></div><p class='foto-descricao'>Alan Patrick em treino do Inter — Foto: Ricardo Duarte / Internacional</p>
Diante do Botafogo, Roger optou por escalar uma equipe com dois centroavantes em vez de manter o esquema de três meias.  Assim, Valencia e Borré atuarão juntos. 
Escalação do Inter contra o Botafogo: Rochet; Bruno Gomes, Rogel, Vitão e Bernabei; Rômulo, Bruno Henrique, Bruno Tabata e Wesley; Valencia e Borré.</p>
<p class='noticia-conteudo'>No domingo, o Inter encerra sua participação no Campeonato Brasileiro diante do Fortaleza, no Castelão.  A partida está marcada para as 16h. 


50 vídeos
INTERNACIONAL.</p>
{% endblock main_content %}

