
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}internacional{% endblock title %}
{% block main_title %}internacional{% endblock main_title %}
{% block second_title %}Alario terá conversa com Inter após o Brasileirão para definir futuro{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Alario terá conversa com Inter após o Brasileirão para definir futuro
Centroavante perdeu espaço com Roger e pretende estar em um time com mais chances de atuar


O Inter ainda tem cinco partidas a cumprir, mas Lucas Alario se aproxima do fim da passagem pelo Beira-Rio.  Ainda que a relação contratual vigore até o término de 2025, o cenário indica a saída após o Brasileirão. 

As partes discutirão sobre o futuro tão logo a Série A se encerre.</p>
<p class='noticia-conteudo'>Na ocasião, os representantes do jogador manifestarão o desejo em recolocá-lo no mercado.  O argentino pretende encontrar uma equipe na qual ganhe mais oportunidades. 

Inter tenta chegar a 15 jogos de invencibilidade diante do Vasco
Alario perdeu espaço no Colorado.</p>
<p class='noticia-conteudo'>A última partida que disputou ocorreu há mais de um mês.  Em 5 de outubro, o centroavante entrou nos três minutos finais no empate em 2 a 2 com o Corinthians. 
Nas cinco partidas mais recentes, ficou entre o banco de reservas e atrás do gol no aquecimento.</p>
<p class='noticia-conteudo'>O que atesta a queda na hierarquia.  Borré é o titular do comando de ataque.  Enner Valencia, a primeira opção, e o garoto Ricardo Mathias, a segunda.</p>
<p class='noticia-conteudo'>Só então vem o gringo. 
Alario pelo Inter

Desde que Roger assumiu o time, o hermano participou de oito das 21 partidas do treinador.  Em apenas duas como titular.</p>
<p class='noticia-conteudo'>São 241 minutos no período, o que representa menos de três jogos no total. 
A situação aponta que, caso surja um interessado, Alario será liberado.  O atacante teria mais oportunidades para atuar, e o Inter ganharia fôlego para utilizar os vencimentos em um jogador que preencha as necessidades do grupo.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_7_0.jpg"></div><p class='foto-descricao'>Alario tem cinco gols pelo Inter — Foto: Ricardo Duarte/Divulgação, Internacional</p>
O jogador de 32 anos disputou 36 partidas pelo Inter.  Balançou as redes em cinco oportunidades.  O mais recente há exatos 165 dias, quando marcou o gol da vitória por 1 a 0 sobre o Delfín, pela Sul-Americana.</p>
<p class='noticia-conteudo'>Ainda persegue o primeiro pelo Brasileirão. 
Mesmo em ostracismo no momento atual, foi relacionado para a partida contra o Vasco, na quinta-feira, às 20h, em São Januário, pela 34ª rodada da competição nacional. 


50 vídeos
INTERNACIONAL.</p>
{% endblock main_content %}
{% block cor_categoria %}#cc0000{% endblock cor_categoria %}

