
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}avai{% endblock title %}
{% block main_title %}avai{% endblock main_title %}
{% block second_title %}Alef Manga e mais Avaí anuncia pacote de quatro contratações{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Alef Manga e mais: Avaí anuncia pacote de quatro contratações
Eduardo Freeland, executivo de futebol do Leão, anuncia ex-Coritiba e mais três jogadores, , todos com pré-contratos assinados



Avaí anuncia lista com jogadores que não ficam para próxima temporada
O executivo de futebol do Avaí Eduardo Freeland anunciou quatro reforços para o elenco azurra na próxima temporada.  São eles o zagueiro Eduardo Brock, o lateral-direito Pedro Costa, e os atacantes Cléber e Alef Manga.  Todos já têm pré-contrato assinado.</p>
<p class='noticia-conteudo'>Além disso, o cartola também confirmou um acerto com o lateral-direito Marcos Vinícius.  Faltam apenas detalhes contratuais para a formalização para a renovação com o atleta.  O Leão já havia anunciado as permanências do goleiro César e do atacante Gaspar.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_13_0.jpg"></div><p class='foto-descricao'>Eduardo Brock chegou no Cerro Porteño na última temporada — Foto: Reprodução/Cerro Porteño</p>
Mais notícias do esporte catarinense em ge. globo/sc
Eduardo Brock, de 33 anos, estava no Cerro Porteño, onde jogou a Libertadores 2024 e com a eliminação na primeira fase, a Sul-Americana.  Ele fez um 2022 como capitão do Cruzeiro na campanha do título da Série B.</p>
<p class='noticia-conteudo'>Na Raposa atuou também em 2021.  Em todo o período pelo time mineiro fez 81 jogos, com cinco gols e duas assistências.  Atuou também por Ceará, Goiás, Paraná, Brasil de Pelotas, Aymoré, Juventude, Novo Hamburgo e Grêmio, onde começou a carreira no sub-17.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_13_1.jpg"></div><p class='foto-descricao'>Pedro Costa defendeu o Botafogo-SP na reta final da Série B — Foto: João Victor Cristovão/Agência Botafogo</p>
Pedro Costa estava no Botafogo de Ribeirão Preto nesta Série B.  Antes, jogou pelo Tombense, em 2021, onde se destacou na Série C, Retrô, Paraná, Macaé, entre outros. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_13_2.jpg"></div><p class='foto-descricao'>Cléber estava no Ceará — Foto: Kid Júnior/SVM</p>
Cléber, teve sua última passagem por um clube profissional no Ceará, onde chegou em 2020 e em novembro de 2022 foi suspenso por doping por um ano.</p>
<p class='noticia-conteudo'>Retornou, mas a Justiça o fez cumprir mais 12 meses.  Em 2024 foi anunciado por um clube amador da Bahia. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_13_3.jpg"></div><p class='foto-descricao'>Alef Manga estava no Coritiba — Foto: Thiago Silvério | Coritiba</p>
Alef Manga, ex-Coritiba, é o nome mais conhecido da lista e deve ficar até o fim de 2025.</p>
<p class='noticia-conteudo'>Em agosto de 2023 foi suspenso por um ano pelo STJ (Superior Tribunal de Justiça Desportiva) por conta de participação em esquema com apostadores.  Retornou na reta final da Série B em 2024 pelo Coxa, após cumprir a punição e se desculpar com os colegas de clube. 
Também na coletiva, Freeland falou que busca a renovação do volante Zé Ricardo.</p>
<p class='noticia-conteudo'>De acordo com o dirigente "a pedida é alta" por parte do jogador. 
— A gente respeita o que o jogador entende que vale no mercado.  E estamos tentando achar um caminho que seja bom para as duas partes.</p>
<p class='noticia-conteudo'>Outro jogador que está sob avaliação interna é o volante Pedro Castro.  Em breve devem ser anunciados um volante, um zagueiro e um atacante de lado de campo. 
AVAÍ.</p>
{% endblock main_content %}

