
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}vasco{% endblock title %}
{% block main_title %}vasco{% endblock main_title %}
{% block second_title %}Alerj aprova projeto que declara São Januário, estádio do Vasco, patrimônio do Rio{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Alerj aprova projeto que declara São Januário, estádio do Vasco, patrimônio do Rio
Declaração de patrimônio não interfere no projeto de reforma do estádio

14/11/2024 13h30 Atualizado
A Assembleia Legislativa do Estado do Rio de Janeiro (Alerj) aprovou, nesta quinta-feira, projeto de lei que declara São Januário, estádio do Vasco, um patrimônio histórico, cultural e turístico do estado do Rio de Janeiro.  O projeto segue agora para sanção do governador, que tem até 15 dias para decidir. 


Paiva fica em 2025? Se sair, quem vem? "Vasco não tem dinheiro para treinador caro"
Um dos principais objetivos desta declaração é aumentar a atratividade do estádio como destino turístico, chamando atenção de visitantes nacionais e internacionais interessados em vivenciar a cultura do futebol carioca e aprender sobre sua história.</p>
<p class='noticia-conteudo'>Além disso, o projeto reconhece São Januário como um símbolo da luta antirracista não apenas no futebol e no esporte, mas também na história do estado do Rio de Janeiro. 
Até a construção do Estádio do Maracanã, em 1950, São Januário foi o principal estádio do Rio de Janeiro e testemunhou momentos históricos para o futebol.  Foi palco de partidas oficiais entre grandes times brasileiros e estrangeiros e também serviu como casa da seleção brasileira por muitos anos.</p>
<p class='noticia-conteudo'>O projeto de lei 1950/23 é de autoria dos deputados Vinicius Cozzolino e Prof.  Josemar. 
O estádio do Vasco começou a ser construído em 1925, quando o clube fez campanhas para que torcedores se tornassem sócios e levantou 685 contos e 895 mil réis para a compra do terreno e 2 mil contos de réis para a construção.</p>
<p class='noticia-conteudo'>A mobilização ocorreu como uma resposta aos clubes elitistas da época que não aceitavam jogar contra atletas negros e pobres que compunham o elenco do Vasco.  São Januário foi inaugurado no dia 21 de abril de 1927. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_0.jpg"></div><p class='foto-descricao'>São Januário, estádio do Vasco, é declarado patrimônio do Rio — Foto: Getty</p>
Após a conclusão das arquibancadas, São Januário foi considerado o maior estádio da América do Sul até a construção do Centenário, no Uruguai, para a Copa de 1930.</p>
<p class='noticia-conteudo'>Com 274 metros, a fachada principal é feita no estilo neocolonial, movimento que valoriza a arquitetura colonial e barroca e as raízes luso-brasileiras.  Desenhada pelo arquiteto português Ricardo Severo, ela é a porta de entrada para a Tribuna de Honra e setores administrativos do clube, além da sala de troféus.  Apesar de ter recebido algumas reformas ao longo dos anos, ela nunca perdeu suas características originais e foi tombada pelo Patrimônio Histórico e Artístico Nacional.</p>
<p class='noticia-conteudo'>A declaração de patrimônio não interfere no projeto de reforma do estádio, que está em vias de ter início.  O Vasco acelera trâmites burocráticos para começar a grande obra de São Januário em 2025.  A fachada, como é tombada, precisará ser mantida.</p>
<p class='noticia-conteudo'>Assista tudo sobre o Vasco no ge, na Globo e no SporTV:
50 vídeos
VASCO.</p>
{% endblock main_content %}
{% block cor_categoria %}#000000{% endblock cor_categoria %}

