
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}selecao{% endblock title %}
{% block main_title %}selecao{% endblock main_title %}
{% block second_title %}Alex Telles e Dodô são convocados para a seleção brasileira{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Alex Telles e Dodô são convocados para a seleção brasileira
Laterais do Botafogo e da Fiorentina são chamados para os lugares de Vanderson, suspenso, e Guilherme Arana, que se recupera de lesão

15/11/2024 10h37 Atualizado

Venezuela 1 x 1 Brasil | Melhores Momentos | 11ª Rodada | Eliminatórias da Copa do Mundo 2024
Os laterais Alex Telles, do Botafogo, e Dodô, da Fiorentina, foram convocados pelo técnico Dorival Júnior para defender a seleção brasileira contra o Uruguai, na próxima terça-feira, no último compromisso da equipe em 2024.  Eles chegam para os lugares de Vanderson, suspenso, e Guilherme Arana, que se recupera de lesão no tornozelo direito. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_16_0.jpg"></div><p class='foto-descricao'>Alex Telles em ação pela seleção brasileira em 2023 — Foto: Getty Images</p>
A CBF informou que os dois jogadores se apresentarão à Seleção ainda nesta sexta-feira, em Salvador, onde a delegação desembarcou pela manhã.</p>
<p class='noticia-conteudo'>O time comandado por Dorival Júnior chegou à cidade horas depois do empate em 1 a 1 com a Venezuela, na última quinta. 

Vanderson levou cartão amarelo ainda no primeiro tempo do duelo contra a Venezuela e, assim, ficou suspenso para o confronto contra os uruguaios.  Arana, por sua vez, sofreu uma entorse no tornozelo direito em treinamento na terça-feira e ainda está em processo de recuperação.</p>
<p class='noticia-conteudo'>Aos 37 min do 1º tempo - cartão amarelo de Vanderson do Brasil contra a Venezuela
A seleção brasileira enfrenta o Uruguai na terça, em Salvador, às 21h30 (de Brasília).  Neste momento, o Brasil é o terceiro colocado nas eliminatórias da América do Sul para a Copa do Mundo de 2026, com 17 pontos, mas pode terminar a rodada no quarto lugar, dependendo do resultado do duelo entre uruguaios e colombianos, nesta sexta. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_16_1.jpg"></div><p class='foto-descricao'>Dodô, da Fiorentina, é convocado para a seleção brasileira — Foto: Getty Images</p>
BOTAFOGO
FIORENTINA.</p>
{% endblock main_content %}
{% block cor_categoria %}#ffcc00{% endblock cor_categoria %}

