
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Alisson não se recupera de lesão a tempo de enfrentar o Real Madrid pela Champions League{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Alisson não se recupera de lesão a tempo de enfrentar o Real Madrid pela Champions League
Goleiro do Liverpool lesionou-se no início de outubro pela Premier League; Kelleher assume vaga e deve seguir no gol para duelo com time espanhol


Alisson não volta ao Liverpool para enfrentar o Real Madrid na quarta-feira, às 17h, pela Champions League.  Fora desde outubro, o goleiro não esteve em sete jogos do clube inglês por uma lesão muscular na coxa.  Apesar de ter voltado a treinar, Alisson ainda não trabalha com o grupo.</p>
<p class='noticia-conteudo'>Caoimhin Kelleher assumiu a vaga do brasileiro, ainda não perdeu no período e deve ser titular contra o atual campeão europeu. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_0.jpg"></div><p class='foto-descricao'>Alisson sofre lesão durante Crystal Palace x Liverpool e vira preocupação para a Seleção — Foto: Getty Images</p>
Alisson sofreu uma lesão muscular na coxa no início de outubro em confronto com o Crystal Palace pela Premier League.  A expectativa do Liverpool era de contar com o goleiro em novembro, mas o retorno deve ser adiados.</p>
<p class='noticia-conteudo'>Técnico dos Reds, Arne Slot ainda não definiu uma data para ter Alisson de volta.  O brasileiro treina com o preparador de goleiros, mas ainda não se prepara com o time. 
- Somos cuidadosos com todos, especialmente quando se trata de lesões musculares.</p>
<p class='noticia-conteudo'>Ali está de volta aos treinos com o treinador de goleiros, mas ele ainda não está treinando com o time.  Isso é esperado em breve e então vamos esperar para ver onde ele está em termos de preparo físico para a partida.  Ele está ficando cada vez melhor - disse Slot.</p>
<p class='noticia-conteudo'>Gringolândia: Liverpool vira favorito para ser líder da fase de liga da Champions
O goleiro já tinha perdido dois jogos do Liverpool nesta temporada por conta de uma lesão muscular, contra Bournemouth e West Ham, e foi desfalque durante dois meses na anterior por um problema semelhante. 
Enquanto estava fora, Alisson perdeu sete partidas do Liverpool.  Caoimhin Kelleher assumiu a titularidade no período sem o brasileiro.</p>
<p class='noticia-conteudo'>Foram seis vitórias para os Reds e apenas um empate. 
Na quarta-feira, Kelleher terá o maior teste neste período.  O Liverpool recebe o Real Madrid em Anfield pela 5ª rodada da Champions League.</p>
<p class='noticia-conteudo'>Os ingleses estão na liderança da competição com 12 pontos, seis a mais que o time espanhol. 
PREMIER LEAGUE.</p>
{% endblock main_content %}

