
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Al-Rayyan, do Catar, inicia contatos para contratar Artur Jorge, do Botafogo{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Clube catari oferece quase três vezes mais do que o treinador recebe no Alvinegro; técnico terá encontro com Textor antes de decidir



"É fantástico" diz Artur Jorge sobre a recepção dos torcedores no desembarque do Botafogo


A equipe asiática buscou informações iniciais do comandante há dois meses, mas sequer teve papo na época pelo foco do Alvinegro na busca pelos títulos do Brasileirão e da Conmebol Libertadores - ambos conquistados posteriormente.  A notícia do interesse foi dada primeiramente pelo "Canal do TF" e confirmada pelo ge. 
Agora, no fim da temporada, houve o contato oficial.</p>
<p class='noticia-conteudo'>Os valores oferecidos pelo Al-Rayyan são praticamente três vezes maiores do que ele recebe atualmente no Botafogo. 
É aí que John Textor entra na jogada.  O norte-americano não quer perder Artur Jorge e pretende oferecer um aumento salarial atrelado a uma renovação contratual.</p>
<p class='noticia-conteudo'>Os vencimentos do português aumentaram recentemente por bônus de desempenho pelas conquistas da Libertadores e Brasileiro, mas o empresário está disposto a oferecer ainda mais para segurá-lo. 
Younes Ali, ex-jogador da seleção catari, é o treinador do Al-Rayyan.  Ele chegou ao clube em setembro, mas não conseguiu bons resultados - são quatro vitórias em 19 jogos na Qatar Super League.</p>
<p class='noticia-conteudo'>Uma possível queda de Ali ainda não é unanimidade entre todos os dirigentes do clube, mas já há o entendimento que é preciso buscar alternativas e, neste sentido, Artur Jorge é o favorito. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_406_0.jpg"></div><p class='foto-descricao'>Artur Jorge com a taça do Brasileirão — Foto: Thiago Ribeiro/AGIF</p>.</p>
{% endblock main_content %}

