
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}corinthians{% endblock title %}
{% block main_title %}corinthians{% endblock main_title %}
{% block second_title %}Análise Corinthians encorpa de vez por Libertadores e mostra elenco blindado contra crise de bastidores{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Análise: Corinthians encorpa de vez por Libertadores e mostra elenco blindado contra crise de bastidores
Timão embalou a sexta vitória seguida e colou no G-7 em meio ao processo de impeachment de Augusto Melo



Corinthians 3 x 1 Vasco | Melhores momentos | 35ª rodada | Brasileirão 2024
O Corinthians está de vez na briga por uma vaga na Conmebol Libertadores.  Não só na disputa, mas encorpado para terminar o Campeonato Brasileiro com uma das sete ou oito vagas (a depender da decisão entre Botafogo x Atlético-MG) para a principal competição sul-americana em 2025.  A construção da vitória contra o Vasco, diante do contexto, demonstra força.</p>
<p class='noticia-conteudo'>A equipe comandada por Ramón e Emiliano Díaz precisou de apenas 24 minutos para definir a partida deste domingo, na Neo Química Arena.  Foi tempo suficiente para Gustavo Henrique e Rodrigo Garro, duas vezes, anotarem os três gols da vitória de 3 a 1, que assegurou o sexto resultado positivo consecutivo do Timão. 
São sete jogos de invencibilidade e a terceira melhor campanha nas últimas dez rodadas.</p>
<p class='noticia-conteudo'>Tudo isso em meio a uma crise de bastidores que pode acarretar no impeachment do presidente Augusto Melo, que será votado pelo Conselho Deliberativo na próxima quinta-feira. 
Mais notícias do Corinthians:



<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_13_0.jpg"></div><p class='foto-descricao'>Garro foi decisivo para a vitória do Corinthians contra o Vasco — Foto: Marcos Ribolli</p>
Parte dos jogadores chegou a manifestar uma mensagem de apoio ao presidente Augusto Melo, sem entrar no mérito do processo de possível impedimento dentro do clube. 
Nada que tenha atrapalhado, contudo, o desempenho em mais uma decisão.</p>
<p class='noticia-conteudo'>Era inimaginável há dois meses ver o Corinthians com a mesma pontuação de uma equipe inserida no grupo de classificados para a Libertadores. 
O Timão chegou aos mesmos 47 do Cruzeiro, que ainda joga na rodada e encara o Grêmio na quarta-feira, com a estratégia repetida das últimas semanas.  Enxerga-se um time intenso, fluído com a bola nos pés e com controle do jogo a partir do meio-campo com Breno Bidon e André Carrillo.</p>
<p class='noticia-conteudo'>A partir da dupla, Rodrigo Garro acha espaços e ganha liberdade para decidir como decidiu no domingo.  Começou com uma assistência de escanteio para Gustavo Henrique abrir o placar e terminou com dois chutes precisos para construir o resultado. 
Confira a íntegra da coletiva de Ramon Diaz, técnico do Corinthians, após vitória contra o Vasco

Uma vitória construída ao natural, longe de um time travado e pouco criativo de pouco tempo atrás, ainda mais valorizada pelas ausências de Memphis Depay e Yuri Alberto.</p>
<p class='noticia-conteudo'>As duas estrelas do ataque, grandes símbolos da boa fase atual, eram apenas meros espectadores na Neo Química Arena - o primeiro por suspensão, o segundo por lesão. 
Nem o gol de Puma Rodríguez no segundo tempo trouxe desconfiança.  O Corinthians controlou o duelo no seu ritmo, como quis, poupando e esperando o apito final para se colocar de vez na briga pela Libertadores.</p>
<p class='noticia-conteudo'>O roteiro de pesadelo de 2024 pode terminar em campo de maneira animadora.  Nem a pressão e o clima bélico da política do clube mostram-se capazes de atingir o elenco, que se vê no ponto mais alto de maturidade e de nível técnico justamente na parte mais decisiva do ano. 
"Grande vitória para brigar na parte de cima da tabela", celebra Careca | A Voz da Torcida


50 vídeos
CORINTHIANS.</p>
{% endblock main_content %}

