
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}corinthians{% endblock title %}
{% block main_title %}corinthians{% endblock main_title %}
{% block second_title %}Análise Corinthians é letal contra o Bahia e fica perto de salvar ano com vaga na Libertadores{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Análise: Corinthians é letal contra o Bahia e fica perto de salvar ano com vaga na Libertadores
Com dois de Memphis (com direito a golaço) e outro de Yuri Alberto, Timão domina confronto direto em Itaquera



Corinthians 3 x 0 Bahia | Melhores Momentos | 37ª Rodada | Brasileirão 2024
Uma noite quase perfeita para despedida da Neo Química Arena na temporada.  O Corinthians se mostrou letal, aproveitou os erros do Bahia e ficou perto de salvar o ano em noite inspirada de Memphis Depay e Yuri Alberto.  O drama da briga contra o rebaixamento está prestes a ser trocado por uma vaga na Libertadores.</p>
<p class='noticia-conteudo'>Mais do que simplesmente a proximidade de um lugar na fase qualificatória do principal torneio sul-americano, a vitória por 3 a 0 contra o Bahia, pela penúltima rodada do Campeonato Brasileiro, apresentou um Corinthians maduro e que dá esperança para um 2025 sem o drama (em campo) deste ano. 
O Timão não perdoou os erros do Bahia e construiu a vitória naturalmente, com uma primeira etapa eficiente e um segundo tempo de completo domínio.  Teve gol de Yuri Alberto, dois de Memphis Depay (com direito a um golaço de falta) e noite de altíssimo nível de Breno Bidon e André Carrillo, cada vez mais donos do meio-campo do time.</p>
<p class='noticia-conteudo'>Em noites como a desta terça-feira, fica difícil superar o consolidado Corinthians de Ramón Díaz.  Controle de meio-campo e talento no ataque levaram o Timão a oito vitórias consecutivas na Série A, um recorde na história do clube, e a um fim de ano de justa empolgação para o torcedor. 
Mais notícias do Corinthians:



<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_19_0.jpg"></div><p class='foto-descricao'>Memphis Depay anotou dois gols e comandou a vitória do Timão sobre o Bahia — Foto: Marcos Ribolli</p>
O clima de confiança na Neo Química Arena se justificou ainda no primeiro tempo.</p>
<p class='noticia-conteudo'>Em um confronto direto, decisivo, o Corinthians se comportou de maneira madura e conseguiu controlar um Bahia que se propôs a jogar desde o primeiro minuto, com marcação alta e pressionando a saída de bola. 
Aos poucos, porém, o jogo fluído apresentado pelo Timão nas últimas oito rodadas apareceu, especialmente por meio de Breno Bidon e André Carrillo.  Foi a partir do crescimento dos dois meio-campistas que a equipe da casa passou a controlar a partida e construir o resultado ainda na etapa inicial.</p>
<p class='noticia-conteudo'>Carrillo, neste ponto, foi protagonista.  No primeiro gol, aos 11 minutos, o peruano recuperou a bola e achou Yuri Alberto, que deu a assistência para Memphis Depay abrir o placar. 
Aos 48, após o holandês recuperar a bola, o camisa 19 tocou em profundidade para Yuri Alberto, o artilheiro do Brasil, ampliar e dar tranquilidade ao time antes do intervalo.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_19_1.jpg"></div><p class='foto-descricao'>Yuri Alberto comemora o gol do Corinthians contra o Bahia — Foto: Marcos Ribolli</p>
Esta tranquilidade adquirida pelo gol de Yuri Alberto trouxe um Corinthians ainda mais solto para o gramado na segunda etapa. 
A eficiência demonstrada nos 45 minutos iniciais se tornou imposição diante do Bahia, que, de tão fragilizado, mal parecia o time que brigaria em um duelo decisivo nesta terça. 
Com Breno Bidon e Carrillo ditando o ritmo da partida, o Corinthians trabalhou a bola para eliminar qualquer chance de reação por parte dos visitantes.</p>
<p class='noticia-conteudo'>Confira a íntegra da coletiva de Ramón e Emiliano Díaz após vitória do Corinthians
Defensivamente, em noite segura coletiva sem a bola, a equipe de Ramón Díaz passou a sequer sofrer com o trabalho de bola do meio-campo do Bahia.  Era o necessário para administrar com maturidade a vantagem.  Diferente de uma equipe que lamentou resultados desperdiçados nesta mesma arena em 2024.</p>
<p class='noticia-conteudo'>Qualquer esperança do Bahia terminou aos 15 minutos.  Memphis Depay cobrou falta com força e categoria para superar o goleiro Adriel e anotar o terceiro gol. 
Era o toque especial para promover a festa na despedida da Neo Química Arena.</p>
<p class='noticia-conteudo'>O Corinthians se achou no fim do ano, voltou a ser temido em casa e promete para 2025. 
"O Corinthians atropelou o Bahia na Neo Química Arena!", diz Careca | A Voz da Torcida


50 vídeos
CORINTHIANS.</p>
{% endblock main_content %}

