
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}internacional{% endblock title %}
{% block main_title %}internacional{% endblock main_title %}
{% block second_title %}Análise seguro, Inter diminui distância do sonho e se aproxima da fase de grupos da Libertadores{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Análise: seguro, Inter diminui distância do sonho e se aproxima da fase de grupos da Libertadores
Colorado deu mais um passo para cortar as fases prévias do torneio continental com uma vitória sólida sobre o Vasco na noite de quinta-feira

22/11/2024 05h04 Atualizado

Vasco 0 x 1 Internacional | Melhores Momentos | 34ª Rodada | Brasileirão 2024
O título é difícil, quase uma utopia, mas o Inter está autorizado não só a sonhar como a lutar enquanto a matemática permitir. 
O time sofre pouco nas partidas e domina os adversários, como mostrou na vitória por 1 a 0 sobre o Vasco na noite passada.  O resultado o faz abrir quatro pontos do São Paulo, a quatro rodadas do fim do Brasileirão e vaga à fase de grupos da Conmebol Libertadores ainda mais próxima.</p>
<p class='noticia-conteudo'>Não foi uma partida vistosa.  Longe disso.  No entanto, o Colorado esteve com as ações em São Januário.</p>
<p class='noticia-conteudo'>No primeiro tempo, sem conseguir traduzir em uma contundência contra Léo Jardim. 
Após o intervalo, manteve a supremacia e acabou agraciado com o gol de Wesley, o melhor em campo, em um chute no canto, sem chances ao goleiro, após a disputa de Borré com o marcador. 
Veja mais



Luka: "O Inter funcionou, venceu e deu motivos para continuar sonhando" | A Voz da Torcida
O Vasco não conseguiu incomodar Rochet.</p>
<p class='noticia-conteudo'>Muito pela solidez defensiva.  O terceiro jogo sem vazar apareceu pela postura da zaga, escudada por Rômulo e, na sequência, Fernando.  Vitão joga cada partida melhor.</p>
<p class='noticia-conteudo'>O resultado positivo, o terceiro consecutivo, aumentou o cartel cada vez mais de respeito.  Já são 15 partidas de invencibilidade, com 11 vitórias no período. 
Onde o time estaria se Roger Machado tivesse iniciado o Brasileirão? A desconfiança com a qual o técnico desembarcou no Beira-Rio hoje está praticamente dizimada.</p>
<p class='noticia-conteudo'>É o responsável pela retomada, na montagem de um time que dá segurança ao torcedor. 
Sem arroubos, cativou o vestiário, implantou suas ideias, lançou garotos, deu protagonismo a jogadores outrora sem cartaz – vide Bruno Gomes e Bernabei – e começa a recuperar Renê.  Em São Januário, o lateral-esquerdo recebeu a oportunidade e foi um dos melhores em campo.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_0.jpg"></div><p class='foto-descricao'>Gabriel Carvalho, Wesley e Alan Patrick ajudaram o Inter a superar o Vasco — Foto: Ricardo Duarte/Divulgação, Internacional</p>
Roger tem como um mantra que o coletivo faz a individualidade aparecer.  O modelo de jogo faz a equipe hoje se impor, independentemente de local ou adversário. 
O Inter chegou aos 62 pontos no Brasileirão, a sete do líder Botafogo.</p>
<p class='noticia-conteudo'>Restam 12 a disputar, mas há o confronto direto.  O que deixa a esperança viva, por mais complicada que seja. 
Afinal, além da distância, há Palmeiras, Fortaleza e Flamengo entre os dois.</p>
<p class='noticia-conteudo'>O sonho está permitido.  Muito pelo trabalho de Roger e a execução em campo. 
Caso o título não venha, a classificação à fase de grupos da Libertadores dificilmente escapará.</p>
<p class='noticia-conteudo'>O São Paulo, o sexto na tabela, está com 58 pontos. 
Para atingir o próximo objetivo, o caminho passa por um Beira-Rio lotado.  O torcedor tem compromisso marcado.</p>
<p class='noticia-conteudo'>No domingo, às 16h, os colorados precisam estar nas arquibancadas para empurrar o time a vencer o Bragantino na partida válida pela 35ª rodada do Brasileirão. 


50 vídeos
INTERNACIONAL.</p>
{% endblock main_content %}

