
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}corinthians{% endblock title %}
{% block main_title %}corinthians{% endblock main_title %}
{% block second_title %}Análise Corinthians dá primeiro de cinco passos para salvar o ano com vaga na Libertadores{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Análise: Corinthians dá primeiro de cinco passos para salvar o ano com vaga na Libertadores
Timão engata quinta vitória seguida no Brasileirão, aguarda apenas por protocolo a confirmação de permanência na Série A e agora passa a sonhar com um desfecho improvável em 2024



Corinthians 2 x 1 Cruzeiro | Melhores Momentos | 34ª rodada | Brasileirão 2024
O termo em inglês "plot twist" é muito conhecido entre os fãs das mais diversas séries e filmes.  Na tradução livre, as duas palavras significam "reviravolta na história".  E isso pode ser usado para descrever a temporada do Corinthians.</p>
<p class='noticia-conteudo'>A vitória sobre o Cruzeiro por 2 a 1, nesta quarta-feira, na Neo Química Arena, pode ter selado uma reviravolta no fim de 2024 do Corinthians, que se desenhava com muito sofrimento e a briga até as rodadas finais contra o rebaixamento no Campeonato Brasileiro. 
Com 44 pontos, o clube praticamente disse adeus a qualquer risco de queda.  É uma questão protocolar e de tempo para que isso se confirme.</p>
<p class='noticia-conteudo'>Mais do que isso, a pontuação deste momento permite ao time sonhar com uma vaga na próxima edição da Copa Sul-Americana e até na Libertadores - ainda mais real com a possibilidade de G-9. 
Mais notícias do Corinthians:



<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_0.jpg"></div><p class='foto-descricao'>Memphis comemora gol pelo Corinthians contra o Cruzeiro — Foto: Marco Miatelo/AGIF</p>
O plano do Corinthians é somar mais 12 pontos nas quatro rodadas finais do Campeonato Brasileiro.  Ramón Díaz tem batido na tecla de que é preciso buscar a posição mais alta possível ao fim da competição, independentemente da vaga na Copa Sul-Americana ou da Libertadores.</p>
<p class='noticia-conteudo'>Serão rivais do Timão nas quatro últimas partidas do ano: Vasco (em casa); Criciúma (fora); Bahia (casa) e Grêmio (fora). 
Feriado sonolento? Não em Itaquera
Memphis Depay foi o porta-voz do Corinthians no Dia da Consciência Negra.  Pelo menos durante os 20 minutos de intensidade que ele e o time tiveram no primeiro tempo.</p>
<p class='noticia-conteudo'>O atacante holandês foi o principal nome ofensivo do Timão.  Foram três finalizações até abrir o placar em um lance de muita qualidade. 
O camisa 94 aproveitou sobra de bola na entrada da área, limpou o marcador e soltou a bomba para colocar o Corinthians em vantagem logo aos dez minutos.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_1.jpg"></div><p class='foto-descricao'>Gol de Memphis em Corinthians x Cruzeiro — Foto: Marco Miatelo/AGIF</p>
O Timão conseguiu ampliar o placar cinco minutos mais tarde.  Yuri Alberto recebeu bom passe de André Ramalho, bateu e contou com desvio na defesa do Cruzeiro para enganar o goleiro Anderson.  E poderia ter sido mais.</p>
<p class='noticia-conteudo'>Antes mesmo de abrir o placar, Matheuzinho desperdiçou a chance mais clara do primeiro tempo.  Depois de boa jogada individual de Memphis e defesa ainda melhor de Anderson, o lateral bateu com o gol livre, mas sem a força necessária para evitar o corte de Zé Ivaldo. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_2.jpg"></div><p class='foto-descricao'>Gol de Yuri Alberto em Corinthians x Cruzeiro — Foto: Marco Miatelo/AGIF</p>
O Corinthians fez 2 a 0 e parou.</p>
<p class='noticia-conteudo'>O calor, a folga no placar e o crescimento gradual do Cruzeiro fizeram o time mineiro conseguir diminuir.  Aos 34 minutos, Kaiki Bruno chutou de fora da área, a bola desviou nas costas de André Ramalho e tirou qualquer chance de defesa para Hugo Souza. 
"Vitória importantíssima, necessária" comemora Careca Bertaglia | Voz da Torcida
Queda de ritmo
Sem Yuri Alberto na volta do intervalo - o atacante sentiu lesão muscular na coxa direita -, o Corinthians teve em Talles Magno e Memphis a tentativa de replicar no segundo tempo a pressão inicial que conseguiu impor na primeira etapa.</p>
<p class='noticia-conteudo'>Mas isso não aconteceu. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_3.jpg"></div><p class='foto-descricao'>Gustavo Henrique e Lautaro Díaz em Corinthians x Cruzeiro — Foto: Gustavo Aleixo/Cruzeiro</p>
Sem força no meio de campo, Ramón optou por fazer duas trocas: Raniele e Breno Bidon saíram para as entradas de Alex Santana e Igor Coronado.  Mesmo com as trocas, o Corinthians pouco assustou o Cruzeiro.</p>
<p class='noticia-conteudo'>As melhores chances saíram sempre dos pés de Memphis.  Ramón Díaz fez mais uma troca no meio: Charles no lugar de André Carrillo.  Pedro Raul entrou nos minutos finais na vaga de Memphis, que levou o terceiro amarelo e desfalca o Corinthians contra o Vasco, no domingo, novamente na Neo Química Arena.</p>
<p class='noticia-conteudo'>O segundo tempo trouxe um importante alerta ao Corinthians para as rodadas finais: com o placar apertado, não se pode criar tantas chances e não matar o jogo.  No domingo, contra o Vasco, mais uma decisão.  Desta vez, não contra o rebaixamento, mas por algo maior no Brasileirão.</p>
<p class='noticia-conteudo'>Veja como foi o "reencontro" de Cássio com o Corinthians

50 vídeos
CORINTHIANS.</p>
{% endblock main_content %}
{% block cor_categoria %}#333333{% endblock cor_categoria %}

