
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}gremio{% endblock title %}
{% block main_title %}gremio{% endblock main_title %}
{% block second_title %}Análise torcida abraça nova missão contra queda, lota Arena e vê outro fracasso do Grêmio{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Análise: torcida abraça nova missão contra queda, lota Arena e vê outro fracasso do Grêmio
Equipe montada por Renato levou a virada do Juventude diante de 40 mil pessoas e só não saiu com derrota por conta de gol contra milagroso


Poderia ter sido pior, mas o Grêmio ficou no empate em 2 a 2 com o Juventude na noite de quarta-feira, na Arena, pela 34ª rodada do Brasileirão.  O gol contra nos minutos finais salvou o time do técnico Renato Portaluppi de um vexame diante da própria torcida.  O ponto conquistado mantém a equipe próxima da zona do rebaixamento e o alerta ligado na briga para permanecer na Série A.</p>
<p class='noticia-conteudo'>Grêmio 2 x 2 Juventude | Melhores Momentos | 34ª Rodada | Brasileirão 2024
Acredite se quiser, mas a quatro jogos do fim da temporada o Grêmio ainda corre risco sério de cair pela quarta vez para a segunda divisão.  Apesar da garantia e confiança de comissão técnica e direção, o resultado fez o cluber perder uma posição na tabela.  Agora é 13º.</p>
<p class='noticia-conteudo'>A gente está devendo, sim.  Mas esse pensamento do rebaixamento nunca passou pela minha cabeça. 
— Renato Portaluppi, treinador do Grêmio
Mesmo jogando em casa, o empate não condiz com o que foi a partida diante do Juventude.</p>
<p class='noticia-conteudo'>Desfalcado – é verdade –, Renato montou uma estratégia inédita na temporada, com Diego Costa e Braithwaite juntos.  Deu certo nos primeiros dois minutos.  Mas depois do gol do dinamarquês o time recuou, como o próprio treinador admitiu.</p>
<p class='noticia-conteudo'>– Começamos bem a partida, fizemos o mais importante de tudo, saímos na frente com dois, três minutos.  Isso poderia dar uma tranquilidade maior para o nosso time.  Infelizmente nosso time começou a recuar, dar espaços para o adversário, que começou a se aproveitar e no final do primeiro tempo eles conseguiram fazer o gol – disse o comandante gremista.</p>
<p class='noticia-conteudo'>"O Grêmio conseguiu frustrar 40 mil torcedores", diz Queki | A Voz da Torcida
O Grêmio teve 12 dias de preparação para o duelo decisivo da última noite, mas não se vê evolução em campo.  Dentro da Arena, viu o Ju, no terceiro jogo sob o comando de Fábio Matias, ter a posse de bola.  Na jogada aérea, Mandaca subiu sozinho e empatou antes do fim do primeiro tempo.</p>
<p class='noticia-conteudo'>O gol deu ânimo para o time da serra gaúcha, que voltou do intervalo dominante.  E se o Tricolor falha no alto, falha também por baixo.  O erro de Gustavo Martins ao afastar mal a bola mostra a desconcentração da equipe.</p>
<p class='noticia-conteudo'>Mandaca se aproveitou e achou Lucas Barbosa nas costas de Reinaldo, pego de surpresa com a displicência do zagueiro. 
Mesmo quando esteve atrás no placar, o Grêmio continuou pior no jogo.  A postura dos jogadores refletiu no comportamento impaciente nas arquibancadas.</p>
<p class='noticia-conteudo'>Três minutos após sofrer a virada, Reinaldo fez pênalti em Jadson.  A defesa de Marchesín foi como um gol, reacendeu a torcida. 
Renato: "Enquanto eu estiver aqui, o Grêmio não cai"
A falta de organização do Tricolor fez a equipe ter dificuldade para criar.</p>
<p class='noticia-conteudo'>Coube a Renato repetir o modus operandi, empilhando atacantes para buscar o gol no abafa.  Do outro lado, Fábio Matias tentou segurar os três pontos. 
Monsalve parou no travessão.</p>
<p class='noticia-conteudo'>Soteldo, cansado do jogo nas Eliminatórias, foi acionado e os problemas seguiam.  Aos 48 minutos do segundo tempo, Reinaldo rolou para Cristaldo na cobrança de falta, e o chute do argentino desviou em João Lucas, que marcou o gol contra milagroso do Grêmio. 
O Grêmio joga como time de Z-4 e o que se vê na tabela de classificação é melhor do que o desempenho.</p>
<p class='noticia-conteudo'>Ao ser questionado sobre as atuações ruins, o técnico gremista rebateu as críticas e voltou a jogar a responsabilidade na imprensa. 
O Grêmio não está mal treinado, o problema é a campanha que vocês (jornalistas) andam fazendo no dia a dia. 
— Renato Portaluppi, técnico do Grêmio
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_16_0.jpg"></div><p class='foto-descricao'>Marchesín foi protagonista do Grêmio ao defender pênalti contra o Juventude — Foto: Lucas Uebel/Grêmio FBPA</p>
Na contagem regressiva, faltam quatro jogos para o fim do Brasileirão.</p>
<p class='noticia-conteudo'>São dois compromissos em casa, dois fora e 12 pontos em disputa para o Tricolor garantir a permanência da elite do futebol brasileiro.  O Grêmio ainda flerta com o rebaixamento de maneira perigosa na reta final do Brasileiro. 


50 vídeos
GRÊMIO.</p>
{% endblock main_content %}
{% block cor_categoria %}#0066cc{% endblock cor_categoria %}

