
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}palmeiras{% endblock title %}
{% block main_title %}palmeiras{% endblock main_title %}
{% block second_title %}Análise Palmeiras reativa modo acreditar até o fim e mostra atitude de quem quer ser campeão{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Análise: Palmeiras reativa modo "acreditar até o fim" e mostra atitude de quem quer ser campeão
Verdão faz jogo longe de ser primoroso, mas mostra resiliência e atitude que elevam moral e dão esperanças de que o tricampeonato do Brasileirão é bem possível



Bahia 1 x 2 Palmeiras | Melhores momentos | 34ª rodada | Brasileirão 2024
O Palmeiras de Abel Ferreira se caracterizou por ser uma equipe que não desiste seja lá qual for a situação ou resultado dentro do jogo.  Em 2024, porém, esse espírito se mostrou mais distante em diversos momentos decisivos da temporada.  Mas na última quarta-feira tudo pode ter mudado (mais uma vez).</p>
<p class='noticia-conteudo'>Com um gol de Flaco López aos 44 minutos do segundo tempo, o Palmeiras virou sobre o Bahia, na Arena Fonte Nova, e reativou o modo "acreditar até o fim". 

O torcedor palmeirense reviveu momentos que fizeram desse time um colecionador de títulos nos últimos anos e aumentou ainda as esperanças de que o tricampeonato do Brasileirão é possível. 
Mais notícias do Palmeiras:



<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_0.jpg"></div><p class='foto-descricao'>Jogadores do Palmeiras comemoram vitória em Salvador — Foto: Cesar Greco / Palmeiras</p>
Essa sensação não foi nem de perto pela atuação nos 90 minutos.</p>
<p class='noticia-conteudo'>O Verdão fez uma partida muito abaixo do que está acostumado.  Um jogo coletivo repleto de erros e jogadas individuais nada inspiradas.  Mas nada disso importou na última quarta.</p>
<p class='noticia-conteudo'>O Palmeiras teve o mais importante para conseguir os três pontos que em certo momento pareciam improváveis: resiliência. 
Sem Estêvão e Richard Ríos, suspensos, Abel Ferreira optou por colocar Dudu como titular no lado esquerdo do ataque, Felipe Anderson na direita e Rony de centroavante.  No meio de campo, Raphael Veiga foi o segundo volante.</p>
<p class='noticia-conteudo'>O time teve muitas dificuldades. 
Sem conseguir criar, o Verdão viu o Bahia ser muito superior nos primeiros 30 minutos.  O gol foi inevitável.</p>
<p class='noticia-conteudo'>Aos 26, Lucho Rodríguez recebeu na entrada da área e finalizou no canto de Weverton para abrir o placar.  Jean Lucas ainda teve outra ótima oportunidade, aos 37, mas parou no goleiro palmeirense. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_1.jpg"></div><p class='foto-descricao'>Bahia x Palmeiras na Arena Fonte Nova — Foto: Letícia Martins / E.</p>
<p class='noticia-conteudo'>C Bahia</p>
Em Salvador, porém, a maré parece ter virado completamente para o Palmeiras.  Se na maioria dos jogos na temporada a equipe criou muito e converteu pouco, na última quarta criou pouco e fez o suficiente. 
No primeiro chute em direção ao gol, o Verdão empatou.</p>
<p class='noticia-conteudo'>Aos 40 minutos, Veiga usou sua experiência para ajeitar a bola na distância que mais lhe agradava em uma falta frontal e mandou no ângulo. 
Raphael Veiga ajeita posição da bola antes de marcar gol de falta para o Palmeiras; veja
Era o que o Palmeiras precisava para voltar mais tranquilo e organizado para a etapa final.  Mesmo sem alterações no time, o Verdão teve mais paciência para tocar a bola e controlou o ímpeto do Bahia, que vinha pressionado de cinco jogos sem vencer.</p>
<p class='noticia-conteudo'>Abel passou a fazer alterações em busca de melhora, mas por alguns momentos tudo ficou bagunçado, o que fez o time baiano crescer e fez o Verdão flertar com a derrota duas vezes.  Primeiro aos 34 minutos, quando Biel fez linda jogada com Cauly e teve tudo para marcar, mas isolou cara a cara com Weverton.  Aos 39, Jean Lucas chegou a marcar o 2 a 1, mas estava impedido.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_2.jpg"></div><p class='foto-descricao'>Flaco López comemora gol do Palmeiras contra o Bahia — Foto: Cesar Greco</p>
E foi neste momento que o Palmeiras resiliente e que acredita até o fim apareceu.  Vanderlan e Flaco López saíram do banco para mudarem o rumo da equipe dentro do jogo.  Aos 44 minutos, o lateral recebeu na esquerda, ergueu a cabeça e cruzou para dentro da área.</p>
<p class='noticia-conteudo'>Flaco ganhou da marcação e cabeceou firme para ver a bola bater no travessão e cair caprichosamente a centímetros da linha. 
Os três pontos vieram de forma dramática, mas que mostraram um Palmeiras que quer ser tricampeão, mesmo com todos os problemas do ano e a falta de organização em muitas ocasiões. 
O sonho segue vivo, e as quatro rodadas que restam reservam mais momentos como o da última quarta-feira.</p>
<p class='noticia-conteudo'>"Vivíssimo pelo título", celebra Bocca após vitória do Palmeiras | Voz da Torcida

Mais lidas do Ge
1
Futebol
Hulk critica Luiz Henrique após empate entre Atlético-MG e Botafogo: 'Acha que é craque, ganhou p. ..</p>
<p class='noticia-conteudo'>nenhuma'
2
Futebol Internacional
Com cinco brasileiros, rádio inglesa escolhe 25 melhores jogadores do século; veja lista
3
Palmeiras
Palmeiras volta a depender só de si para ganhar Brasileiro a quatro jogos do fim; simule reta final
4
Flamengo
Braz diz que afastou Gabigol após ver 'um ou dois fatos' no vestiário e prevê despedida à altura do atleta no Flamengo
5
Botafogo
Atlético-MG x Botafogo: Luiz Henrique joga garrafa na direção de segurança e é expulso

PALMEIRAS.</p>
{% endblock main_content %}
{% block cor_categoria %}#006633{% endblock cor_categoria %}

