
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}sport{% endblock title %}
{% block main_title %}sport{% endblock main_title %}
{% block second_title %}Análise Lucas Lima faz mágica no Sport, conduz acesso e transforma R$ 500 mil em dezenas de milhões{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Análise: Lucas Lima faz mágica no Sport, conduz acesso e transforma R$ 500 mil em dezenas de milhões
Meio-campista foi o maestro do Leão na temporada 2024 e, no jogo final, contra o Santos, justificou por que valeu a pena o investimento para entrar em campo diante do ex-clube



Deu tudo certo: Sport paga multa para ter Lucas Lima e ele marca gols decisivos no acesso
Lucas Lima fez a torcida do Sport sentir o gosto da Série A antes mesmo de o time garantir o retorno à elite nacional.  Com um atleta de alto nível, cada toque na bola, cada passe diferenciado do meia, fez a torcida do Leão rememorar o sentimento de pertencimento à Primeira Divisão. 
Sensação que, ao final do ano, tornou-se mais: realidade.</p>
<p class='noticia-conteudo'>O investimento para ter um maestro no time, mais do que justificado, foi multiplicado por dezenas de milhões de reais que o Leão voltará a ter direito por disputar a competição mais importante do país em 2025. 



Lucas Lima celebra acesso do Sport e fala sobre gols decisivos: "Somos merecedores"
Lucas Lima foi o principal jogador da temporada 2024 no Sport.  Fez 53 jogos, liderou estatísticas na equipe - como o maior número de assistências (10) da Série B.</p>
<p class='noticia-conteudo'>E o principal: foi decisivo em múltiplas partidas, das "menores" à mais importante do ano. 
Afastado do Santos no início da temporada - chegou a ter a entrada barrada no CT alvinegro -, o meia foi emprestado ao Sport.  O clube pernambucano assumiu 60% do salário de R$ 350 mil; o Peixe os demais 40% sob uma condição: Lucas Lima só poderia enfrentá-los caso o Leão pagasse uma multa.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_27_0.jpg"></div><p class='foto-descricao'>Lucas Lima brilhou contra o Santos e na Série B — Foto: Paulo Paiva / Sport Recife</p>
Se no jogo de ida, no primeiro turno, na Vila Belmiro, a contragosto dele, o atleta de 34 anos ficou de fora, na volta, na última rodada da Série B, fez-se necessário que o Sport abrisse os cofres. 
Pressionado, sob a necessidade da vitória para voltar à Série A, o clube pernambucano pagou os R$ 500 mil para contar com Lucas Lima contra o Santos.  Eis o investimento que, de forma concreta, retornará multiplicado.</p>
<p class='noticia-conteudo'>Foi uma das decisões mais acertadas da direção do Sport ao longo da temporada. 
Lucas Lima justificou cada centavo investido nele, não só - mas principalmente! - na noite deste domingo, contra o Santos, numa Ilha do Retiro inflamada, em êxtase. 
O meia fez tudo o que dele se esperava.</p>
<p class='noticia-conteudo'>E até mais: gols, no plural (por mais que o árbitro tenha anotado o segundo para Fabinho, o gol é muito de Lucas Lima!). 
Pela primeira no ano, ele fez dois gols numa partida.  Dobrou o número que somava até então, de duas redes balançadas para quatro.</p>
<p class='noticia-conteudo'>E o melhor: contra o ex-clube. 

Sport 2 x 1 Santos | Melhores momentos | 38ª rodada | Série B 2024
As formas de desabafos contra quem meses antes lhe deu as costas, sutis, vieram não em palavras, mas em gestos. 
No primeiro gol, comemorou efusivamente, vibrando com os companheiros e a torcida.</p>
<p class='noticia-conteudo'>Colocou as mãos no ouvido como quem quisesse uma resposta.  Deu um abraço apertado no técnico Pepa, chutou copos de água.  Ajoelhou-se e apontou para o céu.</p>
<p class='noticia-conteudo'>No segundo, não reduziu o ímpeto.  Vibração absoluta, desta vez do outro lado do gramado.  Com punho cerrado, extravasou.</p>
<p class='noticia-conteudo'>Com os companheiros, novamente, ajoelhou-se no chão e apontou novamente para o céu, sob aplausos de um estádio que reaprendeu a reverenciar o maestro. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_27_1.jpg"></div><p class='foto-descricao'>Lucas Lima, meia do Sport — Foto: Paulo Paiva / Sport Recife</p>
"Reaprendeu" porque, afinal, Lucas Lima foi um dos destaques na campanha do Leão de acesso na Série B 2013.  São dois acessos na conta dele, que ajudou diretamente a conduzir o Sport a 40ª participação na Primeira Divisão desde 1971.</p>
<p class='noticia-conteudo'>O Leão retorna à elite nacional depois de amargar três Segundonas consecutivas, pela primeira vez desde que a Série B passou a ser disputada nos pontos corridos, em 2006. 
Pronunciamento do presidente do Sport, Yuri Romão, após acesso
Em 2022, o Sport pecou na construção do elenco - como na ausência de um goleiro para substituir Mailson, negociado com um clube da Arábia Saudita. 
No ano passado, além de novamente pecar ao não ter um goleiro confiável, teve na demora para demitir o técnico Enderson Moreira o maior erro da direção.</p>
<p class='noticia-conteudo'>Em ambos os anos, concluiu a Série B na 7ª posição - muito pouco. 
Neste ano, o presidente Yuri Romão, à frente do Sport nos dois fracassos anteriores, deu um reinício completo na direção de futebol e, além de fazer um trabalho de saneamento do clube fora de campo, acabou tendo mais sucesso do que nos anos anteriores também dentro dele. 
Comentaristas falam sobre festa na Ilha do Retiro após acesso do Sport
Apesar de falhas injustificáveis, como a contratação de Guto Ferreira - que por muito pouco não comprometeu a temporada do clube -, a direção rubro-negra equalizou o ano com muito mais acertos do que erros.</p>
<p class='noticia-conteudo'>E, brindada pela contratação de Lucas Lima no início do ano, a gestão do futebol viu o investimento em Lucas Lima - e em outros atletas fundamentais, como Caíque França e Barletta, por exemplo - ser crucial para que o Sport regressasse ao lugar mais cobiçado pela torcida (e todos que fazem o clube) nos últimos anos: a Série A. 

Assista: tudo sobre o Sport no ge, na Globo e no sportv
50 vídeos.</p>
{% endblock main_content %}

