
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Análise São Paulo oscila demais para quem tem como objetivo vaga na fase de grupos da Libertadores{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Análise: São Paulo oscila demais para quem tem como objetivo vaga na fase de grupos da Libertadores
Tricolor tem atuações irregulares mesmo quando vence e não consegue mostrar consistência; tropeços contra times que lutam contra o rebaixamento atrapalham planos do time



Bragantino 1 x 1 São Paulo | Melhores momentos | 34ª rodada | Brasileirão 2024
O São Paulo, em tese, vive um momento de muita tranquilidade no Campeonato Brasileiro.  Em sexto lugar e a 11 pontos do sétimo, que é o Cruzeiro, o Tricolor está perto de uma vaga pelo menos nas fases preliminares da Conmebol Libertadores do ano que vem. 
Não briga mais por título, não corre riscos de brigar contra o rebaixamento.</p>
<p class='noticia-conteudo'>. .  Mas o discurso tem sido de busca por uma vaga direta na fase de grupos da Libertadores.</p>
<p class='noticia-conteudo'>Para isso acontecer sem depender da abertura de mais uma vaga no Brasileirão, o São Paulo precisa chegar ao G-4. 

As frequentes oscilações, porém, não condizem com esse discurso.  O empate por 1 a 1 com o Red Bull Bragantino, que luta contra o rebaixamento, é um bom exemplo disso.</p>
<p class='noticia-conteudo'>Mais do São Paulo:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_9_0.jpg"></div><p class='foto-descricao'>Bragantino x São Paulo — Foto: Joisel Amaral/AGIF</p>
E essa não foi a primeira vez, no passado recente, que o São Paulo vacilou.  Derrota para Cuiabá por 2 a 0 e empate por 1 a 1 com o Criciúma, dois times que também estão na luta contra o rebaixamento, são dois exemplos de oportunidades desperdiçadas de entrar no G-4. 

O que preocupa, por sinal, não são apenas os resultados - que até são bons, muitas vezes.</p>
<p class='noticia-conteudo'>Contra o Athletico, por exemplo, o São Paulo empatava até os minutos finais, quando André Silva, que havia saído do banco de reservas, conseguiu garantir os três pontos no Morumbis apesar da oscilação. 
E isso já aconteceu outras vezes no Campeonato Brasileiro, por diversos motivos.  O principal deles é a dificuldade para manter a equipe titular em campo em mais oportunidades.</p>
<p class='noticia-conteudo'>Nesta quarta-feira, por exemplo, Calleri, um dos principais jogadores do time , não esteve à disposição por causa de um desconforto muscular na coxa esquerda. 
Na lateral esquerda, o zagueiro Sabino foi improvisado nos últimos dois jogos, também por falta de opção: Welington, que vinha sendo titular, teve um edema na coxa esquerda; Jamal Lewis voltou da seleção da Irlanda do Norte com um trauma no tornozelo esquerdo; e Patryck acaba de se recuperar de uma fratura na clavícula. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_9_1.jpg"></div><p class='foto-descricao'>Sabino em ação no duelo entre Bragantino x São Paulo — Foto: Rubens Chiri/Saopaulofc.</p>
<p class='noticia-conteudo'>net</p>
No ataque, além de Calleri, Wellington Rato virou desfalque nos últimos dias por causa de dores na panturrilha direita. 
As constantes mudanças, porém, não são o único ponto de dificuldade nas últimas rodadas.  O time comandado por Luis Zubeldía tem tido momentos de desatenção.</p>
<p class='noticia-conteudo'>Contra o Red Bull Bragantino foi assim.  O Tricolor começou muito mal, sendo pressionado pelo adversário até sofrer o gol. 
Apesar da vitória por 3 a 0, o jogo contra o Bahia foi outro exemplo disso.</p>
<p class='noticia-conteudo'>O São Paulo começou mal, deu brechas para o adversário, mas, naquela ocasião, melhorou.  Isso não aconteceu novamente diante do Bragantino - o Tricolor até mostrou evolução, mas não o suficiente para vencer uma equipe que briga contra o rebaixamento. 
A quatro rodadas para o fim da temporada, o Tricolor precisa mostrar o que quer: brigar, de fato, por uma vaga no G-4 ou se contentar com a fase preliminar da Libertadores em 2025?


50 vídeos
SÃO PAULO.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

