
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Análise Fluminense segue sob risco, e melancolia vira palavra-chave em reta final do Brasileiro{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Análise: Fluminense segue sob risco, e melancolia vira palavra-chave em reta final do Brasileiro
Serna vai de primeiro tempo ruim a gol que criou esperanças, mas vitória sobre o Cuiabá não garante permanência na Série A.  Desesperado, Tricolor colhe frutos dos próprios tropeços

06/12/2024 04h00 Atualizado há 7 horas
Um primeiro tempo repetitivo com cruzamentos na área, um segundo tempo em que Keno foi o caminho ofensivo e um gol de Serna que foi essencial, mas também não salvou ninguém.  O que se viu na vitória do Fluminense sobre o Cuiabá por 1 a 0, nesta quinta-feira, foi mais uma amostra de um time que chegou à última rodada lamentando todas as vezes em que tropeçou nos próprios pés.</p>
<p class='noticia-conteudo'>Permanecendo ou não na elite, o Tricolor pode ser resumido em uma única palavra: melancolia. 

Fluminense 1 x 0 Cuiabá | Melhores momentos | 37ª rodada | Brasileirão 2024

O contexto pré-jogo
Para garantir a permanência na Série A, o Fluminense precisava vencer no Maracanã e torcer por um tropeço do Bragantino contra o Athletico-PR, na Ligga Arena.  O time não poderia contar com o suspenso Ganso, postulante ao título de jogador mais essencial da temporada tricolor - em uma boa briga com Arias e até Fábio, este principalmente pelo desempenho na reta final do Campeonato Brasileiro.</p>
<p class='noticia-conteudo'>Mano chegou a testar no CT um quarteto ofensivo no treino, com Arias, Keno, Serna e Kauã Elias.  Por fim, o técnico escalou seu "12º jogador", Lima, na vaga de Ganso.  O ataque se manteve com um trio, mas Cano ganhou a vaga de Kauã Elias.</p>
<p class='noticia-conteudo'>De última hora, Diogo Barbosa virou desfalque por dores na coxa esquerda durante o aquecimento, substituído por Fuentes. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_92_0.jpg"></div><p class='foto-descricao'>Fuentes substituiu Diogo Barbosa no Fluminense e se saiu bem contra o Cuiabá — Foto: Lucas Merçon/FFC</p>
Chuveirinho e mais um pênalti perdido
Logo no primeiro minuto de jogo, Cano recebeu de Martinelli dentro da área, girou e mandou à direita de Walter.  Mas se enganou quem pensou que a chance era um prenúncio de um primeiro tempo de domínio tricolor.</p>
<p class='noticia-conteudo'>Na prática, o que se viu foi um desenrolar parecido com outros jogos do Fluminense: um excesso de cruzamentos na área e poucas chances de aproveitá-los de fato, com Cano preso na linha defensiva do Cuiabá.  A pobreza criativa pelo meio não foi inédita, mas também se potencializou com a ausência de Ganso. 
Foi em uma dessas tentativas de chuveirinho que Serna escorou para a pequena área e Lima, enquanto ameaçou o cabeceio, sofreu a falta de Walter.</p>
<p class='noticia-conteudo'>A arbitragem foi ao monitor do VAR e confirmou a penalidade máxima, mas veio então outro problema: Arias perdeu seu segundo pênalti consecutivo. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_92_1.jpg"></div><p class='foto-descricao'>Arias lamenta pênalti perdido em Fluminense x Cuiabá — Foto: André Durão</p>
Esta foi a terceira vez seguida em que um goleiro rival salvou um pênalti do Fluminense no Brasileirão.  Rossi defendeu chute de Ganso contra o Flamengo, Mycael (Athletico) pegou a tentativa de Arias e o colombiano também parou em Walter.</p>
<p class='noticia-conteudo'>O último gol tricolor de pênalti no torneio foi em junho, contra o Juventude, convertido por Marcelo. 
A frustração de Arias era visível.  O colombiano ameaçou chutar a trave do Cuiabá, mandou longe uma bola e deu pouca atenção aos consolos de Cano.</p>
<p class='noticia-conteudo'>Quando outros companheiros surgiram, manteve uma expressão de poucos amigos (veja no vídeo abaixo). 
Os gritos de "Arias, Arias" antes da cobrança deram lugar à incredulidade de uma torcida que viu seu craque tropeçar mais uma vez.  O peso do pênalti perdido foi visto logo na sequência, quando o camisa 21 passou a errar com mais frequência.</p>
<p class='noticia-conteudo'>Veja reação de Jhon Arias após pênalti perdido em Fluminense x Cuiabá
Keno dá nova cara ao Fluminense
Após Bernal levar o terceiro amarelo e virar desfalque por suspensão contra o Palmeiras, Mano optou por sacar Martinelli, outro volante pendurado.  Keno entrou no lugar do camisa 8 para povoar a ponta esquerda na segunda etapa; Serna passou a cair pela direita.  A mudança se mostrou certeira, e o nível de volume ofensivo subiu.</p>
<p class='noticia-conteudo'>O Fluminense passou a tentar chutar de fora da área, primeiro com Lima, aos 12 do segundo tempo.  Depois, Keno soltou uma bomba, que Walter defendeu.  Como o futebol sempre reserva uma ironia, coube a Serna aproveitar o rebote dentro da área e marcar o gol naquele que foi um de seus piores jogos com a camisa do Fluminense.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_92_2.jpg"></div><p class='foto-descricao'>Serna comemora gol em Fluminense 1 x 0 Cuiabá, no Brasileiro 2024 — Foto: Marcelo Gonçalves/FFC</p>
Serna tirou a camisa, se emocionou, foi abraçado pelos companheiros.  Mas o gol importantíssimo não apaga o que é uma marca do Fluminense com Mano Menezes: o baixo poder ofensivo.  Contra o Cuiabá, foram 22 finalizações - sete delas no alvo - para que um único gol saísse.</p>
<p class='noticia-conteudo'>Ao falar sobre quais críticas a seu trabalho considera mais justas, o técnico já mencionou os poucos gols marcados pelo Tricolor.  Com 32 gols pró, o Flu é o hoje o terceiro ataque menos efetivo do Brasileirão, à frente apenas dos já rebaixados Atlético-GO e Cuiabá. 
Tensão e expectativa
Com 1 a 0 no placar contra o Cuiabá, os tricolores berraram ao saber que Erick havia deixado tudo igual em Athletico-PR x Bragantino - um resultado parcial que garantiria o Fluminense na elite em 2025.</p>
<p class='noticia-conteudo'>Com a bola parada para uma cobrança de falta no Maracanã, os jogadores tricolores conseguiram entender que a reação era a um gol do Furacão. 
Mas Eduardo Sasha recolocou o Bragantino em vantagem e gerou um silêncio quase sepulcral entre os torcedores do Fluminense, a centenas de quilômetros de distância da Ligga Arena.  Mesmo com a vitória em casa, o Tricolor não se salvaria na combinação de resultados.</p>
<p class='noticia-conteudo'>Veja a íntegra da coletiva de Mano Menezes, do Fluminense, após vitória contra o Cuiabá
Próximos passos
O presidente Mário Bittencourt, que já havia sido hostilizado antes da partida, foi novamente xingado por alguns tricolores no Maracanã depois do apito final.  Da torcida não se pode pedir mais nada: mesmo em um ano muito abaixo das expectativas gerais, o Fluminense tem hoje a sexta maior média de público no Campeonato Brasileiro. 
Com média de 30.</p>
<p class='noticia-conteudo'>834 mil pagantes por partida, o Fluminense só perde no ranking para Flamengo, Corinthians, São Paulo, Bahia e Palmeiras.  Falar em falta de apoio é brigar com os números. 
O Fluminense fez sua parte contra o Cuiabá, mas isso não foi suficiente nesta quinta-feira.</p>
<p class='noticia-conteudo'>Serão dias de indefinição, tensão e uma busca intensificada por culpados.  Contra o Palmeiras, que ainda almeja o título do Brasileiro, os comandados de Mano Menezes precisam ao menos de um empate no Allianz Parque. 
Se perder, o Tricolor dependerá de um tropeço do Bragantino em casa contra o Criciúma, ou de uma derrota do Athletico-PR para o Atlético-MG, na Arena MRV, com portões fechados (veja a matemática da 38ª rodada aqui).</p>
<p class='noticia-conteudo'>Mesmo que confirme a vaga na próxima Série A, única certeza é que o Fluminense não pode fingir que não tem problemas para resolver em 2025. 

️ Leia mais notícias do Fluminense
 Ouça o podcast ge Fluminense
Assista: tudo sobre o Fluminense no ge, na Globo e no sportv
50 vídeos
FLUMINENSE.</p>
{% endblock main_content %}

