
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}palmeiras{% endblock title %}
{% block main_title %}palmeiras{% endblock main_title %}
{% block second_title %}Ananias Parque a história não contada do autor do primeiro gol do estádio do Palmeiras{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Ananias Parque: a história não contada do autor do primeiro gol do estádio do Palmeiras
O futebol eternizou o nome de Ananias, vítima da tragédia da Chapecoense em 2016; hoje, aos 13 anos, filho do atacante tornou-se torcedor palmeirense



Relembre como foi o "Ananias Parque", dia em que o Sport estragou a festa do Palmeiras
Foi um herói improvável quem brilhou naquela noite de 19 de novembro de 2014, na partida entre Palmeiras e Sport, que marcava a inauguração do Allianz Parque.  Ananias deixou o banco e dois minutos depois entrou para a história, marcando o primeiro gol do novo estádio.  Ele já havia defendido o clube paulista um ano antes, mas foi vestindo vermelho e preto que teve o nome eternizado.</p>
<p class='noticia-conteudo'>A internet teve seu papel nisso.  O meme pode não agradar à torcida palmeirense, mas o estádio ali ganhava uma alcunha: Ananias Parque. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_20_0.jpg"></div><p class='foto-descricao'>Camisa com a qual Ananias marcou o primeiro gol do Allianz Parque de volta ao estádio — Foto: Diogo Marques</p>
Há oito anos, o atacante foi uma das vítimas do trágico acidente com o time da Chapecoense.</p>
<p class='noticia-conteudo'>Mas o futebol fez Ananias eterno.  E por um toque de capricho do destino, o Palmeiras segue fazendo parte da sua história.  Enzo, filho do jogador, hoje com 13 anos, tornou-se torcedor do clube.</p>
<p class='noticia-conteudo'>Dez anos depois, o ge conversou com personagens que fizeram parte daquele dia para reconstruir o cenário da festa, que não saiu como o anfitrião esperava, e contar mais sobre o protagonista dessa história.  Os bastidores desse dia e a trajetória de Ananias se entrelaçam e se desenrolam.  A seguir, tudo o que marcou a data histórica.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_20_1.jpg"></div><p class='foto-descricao'>Inauguração do estádio do Palmeiras, em 2014 — Foto: Marcos Ribolli</p>

Dia de festa
O ônibus estacionou e a porta abriu.  Rapidamente, a delegação do Sport foi saindo, jogadores uniformizados, com seus fones e caixas de som e o tradicional semblante fechado, de concentração.  Ao redor, tudo era novo e impressionava.</p>
<p class='noticia-conteudo'>Do local do desembarque, numa área reservada por trás do estádio, até o vestiário dos visitantes havia certa distância.  A delegação do Sport seguiu caminhando, concentrada para uma partida de extrema importância para o futuro da equipe na Série A, mas também admirada com a estrutura. 
Não foi somente isso, porém, que chamou atenção.</p>
<p class='noticia-conteudo'>No caminho, em meio a uma grande movimentação, o então técnico do Sport, Eduardo Baptista, observou a chegada de caixas de champanhe, que abasteceriam os camarotes do estádio.  Era o retrato da atmosfera de celebração que tomava conta do ambiente.  Uma grande festa foi preparada.</p>
<p class='noticia-conteudo'>Tem uma festa aqui, mas não é pra gente.  O nosso papel é estragar isso aqui.  Botar água nessa champanhe.</p>
<p class='noticia-conteudo'>"
— Eduardo Baptista
— A mídia estava toda preparada para o Palmeiras.  Quando o nosso ônibus chega no Allianz, tem uma longa caminhada até os vestiários.  A gente chega lá e estavam desembarcando caixas de champanhe.</p>
<p class='noticia-conteudo'>Nós vínhamos andando, as caixas de champanhe chegando e aquilo serviu como um papo no pré-jogo — acrescenta o então treinador do Sport. 
Até a primeira champanhe ser estourada no Allianz Parque, no entanto, foi um longo caminho. 
Foram pouco mais de quatro anos, da despedida do antigo e tradicional Palestra Itália, em jogo com o Boca Juniors, em julho de 2010, até a inauguração do moderno Allianz Parque, em novembro de 2014.</p>
<p class='noticia-conteudo'>O custo do novo estádio, fruto de um acordo entre o Palmeiras e o Grupo WTorre, foi de R$ 660 milhões. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_20_2.jpg"></div><p class='foto-descricao'>Construção do Allianz Parque durou quatro anos e custou R$ 660 milhões — Foto: Marcos Ribolli</p>
Naquele dia 19, o tradicional burburinho nas ruas do entorno do estádio estava de volta.  Embora o público permitido no Allianz Parque tenha sido reduzido (a capacidade total de 43 mil lugares não foi liberada), as quase 36 mil pessoas que compareceram ao jogo fizeram uma enorme festa.</p>
<p class='noticia-conteudo'>Os momentos que antecederam a partida tiveram fogos de artifício, vídeos comemorativos exibidos nos telões e hino do clube interpretado por artistas palmeirenses. 
Era dia de festa, mas também de um jogo tenso pela situação do Palmeiras na tabela, que brigava para se afastar da zona de rebaixamento.  Pelo lado do Leão, embora em condição mais favorável, havia o desejo de garantir a permanência na Série A.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_20_3.jpg"></div><p class='foto-descricao'>Eduardo Baptista em novembro de 2014, dirigindo o Sport — Foto: Aldo Carneiro / Pernambuco Press</p>
— A gente vai para aquele jogo sabendo que a vitória é importante, porque nos consolidava, com muitas rodadas de antecedência, na Série A, e nos dava uma boa colocação — lembra Eduardo Baptista. 
O jogo
O primeiro tempo foi de muita pressão do Palmeiras, mas de uma boa consistência do Sport.  Eduardo Baptista havia estudado bem a equipe do então técnico alviverde Dorival Júnior.</p>
<p class='noticia-conteudo'>— A gente tinha o Palmeiras que ia inaugurar o estádio, a gente tinha toda uma expectativa para o jogo, a gente tinha o Patric, que era uma saída muito forte, o Diego (Souza) era um cara que sustentava, fez uma partida impecável.  Então era marcar bem o Palmeiras com saídas rápidas ali com o Patric e com o próprio Ananias.  E a gente conseguiu.</p>
<p class='noticia-conteudo'>Não ficamos só marcando — conta Eduardo. 
Como foi o Ananias Parque, dia em que o atacante Ananias marcou o primeiro gol do estádio do Palmeiras
No segundo tempo, a festa pela inauguração começava a ficar em segundo plano.  A torcida palmeirense estava preocupada com a tabela e a atuação ruim do time.</p>
<p class='noticia-conteudo'>A pressão começava a virar de lado.  Aos 30 minutos, Eduardo tira o centroavante Joelinton, relevado pelo Leão e atualmente no Newcastle, para colocar Ananias, dando ao Sport mais mobilidade à equipe. 
E aqui vale um adendo importante.</p>
<p class='noticia-conteudo'>Ananias voltava de lesão, tanto que ficou fora da partida anterior.  Ele ficou no Recife, em tratamento, e só se juntou à delegação, que já estava em São Paulo, depois. 
— Mesmo não sendo titular, (Ananias) era um jogador que sempre entrava, por questões táticas para crescer no jogo.</p>
<p class='noticia-conteudo'>O Palmeiras fechava muito bem com três homens por dentro e atacava com a saída pelos lados, então a entrada dele era para ter uma dobra com o Patric, com os dois chegando pelos lados, surpreendendo eles — afirma Eduardo. 
Bastaram dois minutos em campo para Ananias.  Danilo desceu pela esquerda e cruzou para a área.</p>
<p class='noticia-conteudo'>Na altura da marca do pênalti, Felipe Azevedo disputa a bola com o zagueiro adversário e a bola sobra para o atacante.  Ele domina e bate.  A bola vai no canto de Fernando Prass.</p>
<p class='noticia-conteudo'>O atacante ergue o dedo e sai para comemorar com os companheiros. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_20_4.jpg"></div><p class='foto-descricao'>Ananias comemora gol do Sport contra o Palmeiras — Foto: Alan Morici / Agência estado</p>
— Eu lembro do gol.  Foi uma jogada pela nossa direita, a bola é cruzada na área, a gente não consegue tirar e sobra pro Ananias.</p>
<p class='noticia-conteudo'>Ele domina e bate muito rápido.  A bola vai no canto, forte.  Eu tento chegar, mas ela estava muito no chão, no canto e eu não consigo (defender) — descreve Prass.</p>
<p class='noticia-conteudo'>O primeiro gol da história do Allianz Parque teve a assinatura de Ananias. 
O histórico gol do atacante Ananias, do Sport, na inauguração do Allianz Parque, em 2014
— A expectativa do torcedor era um gol de alguém do Palmeiras.  Mas o momento não era tão bom, e o gol foi do Ananias.</p>
<p class='noticia-conteudo'>Veio aquele anticlímax no estádio… Aí: "Ananias! Gol do Sport! Ananias vai entrar na história do Palmeiras, o primeiro gol do estádio", lembra Odinei Ribeiro, que narrou aquele jogo para o SporTV. 
Odinei Ribeiro relembra a narração do gol de Ananias, o primeiro do Allianz Parque
Gol de centroavante.  Com 1m69, porém, Ananias nunca teve porte físico para jogar como tal.</p>
<p class='noticia-conteudo'>Um encontro na Portuguesa ressignificou isso.  Em 353 jogos oficiais, o atacante marcou 52 gols na carreira.  Até marcar o gol mais importante da sua trajetória, Ananias percorreu um longo caminho.</p>
<p class='noticia-conteudo'>"Você tem tudo contra você para ser atleta"
Velocidade, habilidade e dedicação sobravam a Ananias, desde a base no Bahia.  E foi isso que chamou atenção do técnico Jorginho, em 2010. 
— O Ananias jogava no Bahia, nós jogamos lá em 2010.</p>
<p class='noticia-conteudo'>Eu estava na Ponte Preta, e ele entrou no jogo.  Eu falei: "Rapaz, esse baixinho é chato!".  Deu trabalho para o nosso time.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_20_5.jpg"></div><p class='foto-descricao'>Jorginho dirigiu Ananias na Portuguesa — Foto: Marcos Ribolli</p>
No ano seguinte, ao assumir a Portuguesa, Jorginho pensava na montagem do elenco quando chegou à formação dos atletas para o ataque. 
— Quando eu cheguei na Portuguesa, precisava de um atacante rápido.  O primeiro nome que me veio foi do Ananias.</p>
<p class='noticia-conteudo'>Lembrei dele na hora.  Pedi para o meu diretor entrar em contato com o Bahia e ele veio. 
Aos 22 anos, o atacante baixinho que esbanjava habilidade chegou à Portuguesa para dar início a uma história memorável.</p>
<p class='noticia-conteudo'>Não antes de ter uma conversa que mudou a sua carreira. 
Técnico Jorginho fala sobre o início da carreira do atacante Ananias
Uma conversa franca, em que ouviu de Jorginho que, se quisesse ir longe como atacante, “conseguir jogar em time grande”, teria que entrar na área e fazer gol. 
— Você tem tudo contra você para ser atleta.</p>
<p class='noticia-conteudo'>Você não tem tamanho, você não tem uma força absurda, você não é um atleta com uma carcaça exuberante.  Então, se você não fizer gol, não vai conseguir jogar em time grande. 
— Tenho que fazer um trabalho de força com você, que você vai entrar na área.</p>
<p class='noticia-conteudo'>Se você não entrar na área, eu tiro você.  Você comigo não vai jogar — avisou. 
Foi até mais duro.</p>
<p class='noticia-conteudo'>— Eu perguntei para ele: "Quantos gols você fez na sua carreira?" Ele falou quatro.  "E quantos anos de profissional você tem?" Ele falou quatro.  Eu falei: "Rapaz, cada ano um gol não dá.</p>
<p class='noticia-conteudo'>Eu preciso que você faça gol, cara.  Eu preciso que você entre na área e eu vou cobrar isso de você.  E vou fazer você entender como que chega na área".</p>
<p class='noticia-conteudo'>No seu primeiro ano de Portuguesa, Ananias teve sua temporada mais goleadora da carreira, com 13 gols.  No ano seguinte, também foi bem, ao anotar oito. 
Sob o comando de Jorginho, Ananias fez parte de uma histórica campanha da Portuguesa na Série B em 2011.</p>
<p class='noticia-conteudo'>O time, que jogava ofensivamente e marcava muitos gols, ficou conhecido como Barcelusa.  No elenco, nomes como "Lionedno Messi", Marco "Xavi" Antônio, "Weverton Valdes" e "Ananiesta". 
Relembre a "Barcelusa", time que marcou época na Série B de 2011
Naquela Série B, a Portuguesa venceu 23 jogos, empatou 12 e perdeu somente três, além de ter sido o melhor ataque da competição com incríveis 82 gols marcados, dos quais Ananias fez 12.</p>
<p class='noticia-conteudo'>Após duas temporadas na Portuguesa, Ananias foi negociado com o Cruzeiro em 2013, onde pouco ficou.  Ele foi envolvido numa troca por empréstimo com o Palmeiras, que cedeu o volante Souza para tê-lo no elenco.  Pelo clube paulista, não marcou gols, foi campeão da Série B, mas não ficou para o ano seguinte.</p>
<p class='noticia-conteudo'>Novos ares
O ano de 2014 começou com boas novas para Ananias.  Ele ainda tinha contrato com o Cruzeiro, mas nos primeiros dias de janeiro acertou com o Sport, por empréstimo.  No dia 17, foi apresentado e ali já pontuava como gostaria de atuar, relembrando os tempos de Portuguesa.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_20_6.jpg"></div><p class='foto-descricao'>Ananias em sua primeira entrevista no Sport, em janeiro de 2014 — Foto: Aldo Carneiro / Pernambuco Press</p>

Foi uma temporada cheia para Ananias no Sport, disputando Pernambucano, Copa do Nordeste, Copa do Brasil, Série A e Sul-Americana.  Dos 43 jogos, foi titular em 24.  Marcou seis gols, metade deles na Copa do Brasil.</p>
<p class='noticia-conteudo'>No Brasileiro, foram dois gols.  O primeiro na segunda rodada, contra a Chapecoense.  O segundo, e último dele com a camisa do Sport, o colocou na história.</p>
<p class='noticia-conteudo'>A história do Ananias Parque
Antes mesmo da inauguração, o Palmeiras anunciou, em 2013, a negociação dos naming rights do novo estádio.  A seguradora alemã Allianz assinou um acordo com o clube e a WTorre com duração de 20 anos.  O pagamento é anual e reajustado pelo IPCA.</p>
<p class='noticia-conteudo'>Em 2023, ele foi de 27,5 milhões, divididos entre as duas partes com percentuais gradativos.  A partir dali, a casa do Verdão passou a se chamar Allianz Parque. 
Naquele dia 19, o gol de Ananias mudou um pouco isso.</p>
<p class='noticia-conteudo'>Graças à internet, onde certas coisas fogem do controle e do rumo natural. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_20_7.jpg"></div><p class='foto-descricao'>Meme da torcida do Sport após Ananias marcar o primeiro gol do Allianz Parque — Foto: Reprodução</p>
Os memes surgiram tão logo a partida acabou: em vez de Allianz Parque, a torcida do Sport - junto com os rivais palmeirenses - (re)batizou o estádio como "Ananias Parque". 
O jogo virou.</p>
<p class='noticia-conteudo'>Àquela altura, Eduardo Baptista cumpriu com o objetivo traçado no vestiário e colocou água no champanhe palmeirense.  A grande festa alviverde virou motivo de diversão nas redes entre os adversários.  Embora a maioria dos conteúdos da internet tenha vida curtíssima, o Ananias Parque ficou.</p>
<p class='noticia-conteudo'>— De repente, deu tudo certo.  E a vitória é marcante até hoje, né? Quando se fala em Allianz Parque, a gente tem aquele jogo lá do Sport que ficou marcado — conta Eduardo Baptista. 
Ex-jogador Neto fala sobre como o amigo tratava o "Ananias Parque"
— O Ananias sempre falava (do gol).</p>
<p class='noticia-conteudo'>. .  A gente brincava também com ele.</p>
<p class='noticia-conteudo'>Essa dádiva que foi fazer um gol na estreia de um estádio que hoje dá medo em muitos adversários.  Porque o Palmeiras já conquistou muitos títulos ali.  Então a gente sempre brincou com ele.</p>
<p class='noticia-conteudo'>A gente chamava ele de "Nana":
"Pô, o Nana é cruel.  O Nana fez gol no Allianz Parque.  Aí ficou o Ananias Parque", conta Neto, ex-zagueiro da Chapecoense, um dos melhores amigos de Ananias fora de campo.</p>
<p class='noticia-conteudo'>Tanto ficou que, vez ou outra, Ananias era procurado para falar sobre a data.  Em todas elas, mostrou um respeito profundo pelo Palmeiras, equipe que já havia defendido.  A discrição era um traço marcante da sua personalidade.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_20_8.jpg"></div><p class='foto-descricao'>Pelo Palmeiras, Ananias enfrentou o Sport, na Série B de 2013 — Foto: Marcos Ribolli / Globoesporte. com</p>
— Com tantas qualidades que ele tinha, ele era um cara humilde.  Um cara calado.</p>
<p class='noticia-conteudo'>Eu sempre lembro do Ananias como um cara na dele, caladinho, brincava muito com as pessoas que ele gostava.  Mas era um pouco fechado.  Um cara sangue bom demais.</p>
<p class='noticia-conteudo'>Sensacional.  Um cara que me ensinou muito - recorda Neto. 

O último clube
Ananias não permaneceu no Sport, acertando com a Chapecoense ainda em dezembro de 2014.</p>
<p class='noticia-conteudo'>Se apresentou em janeiro de 2015 ao novo clube.  Aos 26 anos, dava início ali a mais um importante capítulo da sua história. 
A Chapecoense foi o clube pelo qual Ananias mais atuou, superando a Portuguesa.</p>
<p class='noticia-conteudo'>No total, foram 92 jogos em duas temporadas (2015 e 2016) com a camisa do time catarinense.  Uma história encurtada por uma tragédia. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_20_9.jpg"></div><p class='foto-descricao'>Ananias defendeu a Chapecoense por duas temporadas, 2015 e 2016 — Foto: Cleberson Silva/Chapecoense</p>
— A gente tinha até uma viagem marcada eu, ele (Ananias), o Gil e o Bruno Rangel (atletas que também morreram no acidente).</p>
<p class='noticia-conteudo'>A gente estava se programando para um dia ir pros Estados Unidos em família.  Infelizmente, isso não aconteceu devido à tragédia — conta Neto. 
Em 29 de novembro de 2016, o avião que transportava a delegação da Chapecoense para o jogo de ida da final da Copa Sul-Americana, na Colômbia, caiu nas proximidades de Medellín.</p>
<p class='noticia-conteudo'>Na aeronave estavam jogadores, comissão técnica, dirigentes, jornalistas e tripulantes. 
Acidente da Chapecoense é resultado de falhas humanas, diz relatório
O zagueiro Neto foi o último sobrevivente a ser resgatado no acidente aéreo.  O ex-goleiro Jakson Follmann e o lateral Alan Ruschel foram outros jogadores que sobreviveram, além de dois tripulantes da companhia aérea LaMia.</p>
<p class='noticia-conteudo'>O narrador Rafael Henzel, também sobrevivente do acidente aéreo, morreu em março de 2019 após sofrer um infarto durante um jogo de futebol com amigos. 
Neto conta que só voltou a ter lembranças ligadas ao acidente um ano depois, em 2017. 
— A minha última lembrança foi antes do jogo do Palmeiras, que foi o nosso último jogo.</p>
<p class='noticia-conteudo'>Era a gente treinando no CT do São Paulo.  Depois eu dormi e acordei ali em outro país — recorda. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_20_10.jpg"></div><p class='foto-descricao'>Neto, Ananias, Gil e Bruno Rangel formavam um grupo inseparável na Chapecoense — Foto: Arquivo Pessoal</p>
Neto, Bruno Rangel, Gil e Ananias tinham uma forte amizade fora de campo.</p>
<p class='noticia-conteudo'>As famílias viviam juntas, realizavam viagens, iam à Igreja ou faziam a celebração em casa ou na concentração. 
— Existia uma amizade muito forte.  Era um quarteto: Bruno, Rangel, Neto, Gil e Ananias.</p>
<p class='noticia-conteudo'>Eles eram muito unidos, dentro e fora de campo — conta Bárbara Calazans, viúva de Ananias. 
Até por isso, os quatro estavam próximos na aeronave da Chape.  Neto e Bruno numa fileira e, logo à frente, Gil e Ananias.</p>
<p class='noticia-conteudo'>— Eu fui lembrar no outro ano, em 2017, depois que minha cabeça foi voltando, porque eu perdi muitas memórias ali inicialmente quando eu acordei.  Depois que as coisas foram acontecendo, eu fui relembrando e acabei me recordando do Gil que estava na minha frente e do Bruno Rangel…
— O Gil e o Ananias estavam na minha frente.  Eu lembro do banco deles dois, eles olhando o filme no iPad e dividindo o fone juntos.</p>
<p class='noticia-conteudo'>É a última memória que tenho deles.  Eles estavam assistindo um filme…
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_20_11.jpg"></div><p class='foto-descricao'>Ananias e Gil estabeleceram uma forte amizade na Chapecoense — Foto: Cleberson Silva/Chapecoense</p>
Em especial, Gil e Ananias tinham ainda mais proximidade, embora tivessem se conhecido apenas ali na Chapecoense há pouco mais de um ano.  Outro traço forte do atacante era a lealdade.</p>
<p class='noticia-conteudo'>Embora fosse uma pessoa mais fechada, depois que consolidava a amizade, se abria completamente, era generoso. 
— Eles viviam muito juntos no dia a dia, brincavam bastante entre eles.  Ele chamava Gil de "mano Gil", e o Gil chamava ele de "moleque Anana".</p>
<p class='noticia-conteudo'>A gente viajou juntos várias vezes, para Florianópolis, para fora do país, para Disney, com os nossos filhos.  Eles eram muito unidos — lembra Bárbara. 
— E tinha uma frase dele que me marcou muito.</p>
<p class='noticia-conteudo'>Ele falava assim: "Gil é um amigo que eu quero levar para a vida".  E eles, quando aconteceu a tragédia, estavam no avião lado a lado.  Partiram juntos — conta Bárbara.</p>
<p class='noticia-conteudo'>Lembranças
Um álbum com cerca de 500 fotografias organizado por Bárbara registra os cinco anos que Enzo teve de convívio com o pai.  É por meio das imagens que ele recorda e conhece Ananias, já que era muito novo para se lembrar com nitidez de tudo o que viveu. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_20_12.jpg"></div><p class='foto-descricao'>Bárbara, Enzo e Ananias — Foto: Arquivo Pessoal</p>
— Ali ele revive, eu conto alguma história de onde foi aquela foto, por onde a gente passou, o que o pai fez com ele.</p>
<p class='noticia-conteudo'>São fotos da vida, não são fotos posadas.  São fotos deles dois juntos, dormindo, escovando os dentes, jogando videogame.  Então, ele tem um registro de vivência com o pai nesse álbum — conta Bárbara.</p>
<p class='noticia-conteudo'>Uma foto em especial está marcada na memória de Bárbara e Enzo.  Em 2013, quando Ananias defendia o Palmeiras, como de costume, a família foi ao estádio para torcer pelo atacante.  Enzo, com apenas dois anos, entrou em campo com o pai e depois acompanhou a partida com a mãe, na arquibancada.</p>
<p class='noticia-conteudo'>Obviamente que ele não imaginava, mas ali nascia uma conexão especial. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_20_13.jpg"></div><p class='foto-descricao'>Ananias entrou em campo com Enzo no colo na época em que defendia o Palmeiras — Foto: Arquivo Pessoal</p>
— É uma foto especial pela história do pai dele lá (no Palmeiras), né? Conquistou acesso, foi campeão, fez o primeiro gol do estádio, fez o último jogo da carreira, pela Chapecoense.  Então, o Palmeiras é especial também pela ligação com o pai.</p>
<p class='noticia-conteudo'>Tão especial que Enzo tornou-se torcedor do Palmeiras.  Segundo Bárbara, a escolha aconteceu de forma espontânea — e até surpreendente. 
Bárbara Calazans relembra a trajetória do atacante Ananias, ex-Sport
— Ele tem uma caixa com o nome dele e o escudo do Palmeiras, onde guarda todas as camisas.</p>
<p class='noticia-conteudo'>Ele tem quase tudo do Palmeiras.  A gente chega na loja do Palmeiras, ele escolhe as coisas que quer.  Comprou a mala do Palmeiras, tem camisa, tem toalhinha, tem garrafinha, tem caneca, sabe? Torcedor mesmo!
Em 2023, quando completou 12 anos, Enzo teve o dia mais especial de que se recorda.</p>
<p class='noticia-conteudo'>A ideia inicial era fazer uma festa de aniversário temática do Palmeiras, mas os planos foram crescendo. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_20_14.jpg"></div><p class='foto-descricao'>Enzo, filho do atacante Ananias, visitou o gramado do Allianz Parque — Foto: Arquivo Pessoal</p>
— Eu falei: "Escolhe o bolo".  Ele olhou na internet e falou que queria um bolo no formato do estádio (Allianz Parque).</p>
<p class='noticia-conteudo'>Então eu disse: "A gente poderia ir lá no estádio, o que você acha?" E quando eu olhei no calendário, o jogo do Palmeiras caía exatamente no dia do aniversário dele. 
O Palmeiras acolheu a ideia de Bárbara, recebeu a mãe e o garoto nos bastidores da partida contra o Goiás, no Allianz Parque.  Ele conheceu o elenco e o técnico Abel Ferreira, entrou no gramado com o goleiro Wéverton, ex-companheiro do pai dele Portuguesa, e tirou foto na trave onde o pai marcou o primeiro gol do estádio.</p>
<p class='noticia-conteudo'>A camisa autografada por todos naquele dia está guardada e, em breve, vai virar um quadro na parede do quarto de Enzo. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_20_15.jpg"></div><p class='foto-descricao'>Enzo visitou os vestiários do Palmeiras e conheceu jogadores e o técnico Abel Ferreira — Foto: Arquivo Pessoal</p>
— Foi um presente, um aniversário muito especial.  E aí consolidou, né? Dali pra frente, foi só aumentando a torcida, o carinho pelo time, pelos jogadores, que também demonstraram muito carinho por ele — lembra Bárbara.</p>
<p class='noticia-conteudo'>Hoje, aos 13, Enzo vive a entrada na adolescência.  A família acompanha com muito cuidado e carinho o desenvolvimento do garoto que estuda, joga futebol e, vez ou outra, fala quer ser jogador. 
"Ele comenta às vezes que quer ser jogador, mas ainda não é nada muito certo, ele não tem esse objetivo único.</p>
<p class='noticia-conteudo'>Ele estuda, faz a escolinha e faz terapia ainda também, por conta de tudo que aconteceu", revela Bárbara. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_20_16.jpg"></div><p class='foto-descricao'>Bárbara e Enzo ao lado de Wéverton, que jogou com Ananias na Portuguesa — Foto: Arquivo Pessoal</p>
— Eu tenho muito cuidado com ele, de deixar que ele mesmo escolha, independentemente do pai.  Existe essa expectativa de que filho de jogador vai ser jogador, mas ele vai ser jogador se ele quiser ser jogador.</p>
<p class='noticia-conteudo'>Por aptidão, por afinidade, por desejo pessoal, não por ser filho de jogador.  Eu tenho muito esse cuidado com ele, e deixo muito à vontade.  Se for para ser jogador, estamos juntos, se for estudar e escolher outra profissão, estamos juntos também.</p>
<p class='noticia-conteudo'>Ele ainda não tem essa definição dentro dele. 
— Ele era um jogador muito focado, uma pessoa muito abençoada, que conquistou títulos em todos os times que passou.  Era ser um diferenciado incrível.</p>
<p class='noticia-conteudo'>E foi muito bom viver e acompanhar ele — finaliza Bárbara. 
A última vez em que Ananias esteve em um estádio de futebol foi no Allianz Parque.  No dia 27 de novembro de 2016, pela 37ª rodada da Série A, na derrota por 1 a 0 da Chapecoense para o Palmeiras.</p>
<p class='noticia-conteudo'>Dessa vez, ficou no banco de reservas e não entrou, como em 2014. 
Não era necessário.  Um dos capítulos mais bonitos da história de Ananias, o "Ananias Parque", já estava escrito.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}
{% block cor_categoria %}#006633{% endblock cor_categoria %}

