
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Ancelotti elogia Rodrygo, vê pênalti em Vini Jr. e mira Intercontinental Cereja no bolo{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Atacante encerrou jejum de 11 partidas e foi o melhor do Real Madrid no empate por 3 a 3 com o Rayo Vallecano



Rayo Vallecano 3 x 3 Real Madrid | Melhores Momentos | 17ª rodada | Campeonato Espanhol


- O jogo estava perdido, nos recuperamos e nos adiantamos.  Nos faltou contundência na área.  Criamos um montão de oportunidades e quando eles empataram (3 a 3), continuamos.</p>
<p class='noticia-conteudo'>Há empates e empates.  Esse é diferente de todos, temos que mirar o futuro. 
O duelo em Vallecas teve Rodrygo como protagonista.</p>
<p class='noticia-conteudo'>O camisa 11 foi a melhor figura do Real, com uma assistência para Bellingham e um bonito gol.  Com o chute de pé esquerdo, aliás, encerrou jejum de 11 jogos (dois pela Seleção).  O treinador italiano o elogiou e disse que o jogo o deixou otimista de olho na final da Copa Intercontinental, que será disputada na quarta-feira, no Catar, contra o Pachuca, às 14h de Brasília.</p>
<p class='noticia-conteudo'>- Só nos faltou o gol.  Rodrigo voltou ao seu melhor nível.  Eu vejo um bom futuro, há uma grande oportunidade de ganhar um título.</p>
<p class='noticia-conteudo'>Seria a cereja no bolo de um ano espetacular - afirmou o treinador do Real, que em 2024 conquistou o 36º Espanhol, a 15ª Champions League e a 13ª Supercopa da Espanha. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_416_0.jpg"></div><p class='foto-descricao'>Carlo Ancelotti em Rayo Vallecano x Real Madrid — Foto: EFE/Juanjo Martín. </p>

Ainda na entrevista coletiva, Carlo Ancelotti reclamou de pênalti do zagueiro Mumin em Vini Jr.</p>
<p class='noticia-conteudo'>, após o adversário chutar a perna do brasileiro dentro da área aos 30 minutos da etapa final. 
- O pênalti me parece muito claro.  Vinicius não começou porque jogou 90 minutos (contra a Atalanta) após se recuperar da lesão.</p>
<p class='noticia-conteudo'>Tem recebido oportunidades e creio que fez um bom jogo. 
Iñigo Pérez, treinador do Real Vallecano, deu razão às reclamações dos madrilenos e reconheceu que houve o contato faltoso. 
- Não gosto de mentir e acredito que Mumin é quem dá o chute.</p>
<p class='noticia-conteudo'>Sempre tento ser sincero e quando vi disse que poderia apitá-la, mas também não.  São jogadas delicadas que, com o VAR, é preciso ter um cuidado extremo..</p>
{% endblock main_content %}

