
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Ancelotti diz que assistiu à final da Libertadores e elogia o Botafogo Extraordinário{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Ancelotti diz que assistiu à final da Libertadores e elogia o Botafogo: "Extraordinário"
Alvinegro pode enfrentar o Real Madrid, equipe do técnico italiano, na final do Intercontinental


Com a vaga do Real Madrid garantida na final do Intercontinental, o técnico Carlo Ancelotti assistiu à decisão da Libertadores no último sábado, que definiu um possível adversário de sua equipe no torneio entre clubes de todos os continentes, que será disputado em dezembro.  Em entrevista coletiva nesta terça, ele contou ter ficado impressionado com o Botafogo. 

Botafogo vence o Atlético-MG e conquista o título inédito da Conmebol Libertadores
- O primeiro minuto da partida foi incrível, com chute (da expulsão de Gregore).</p>
<p class='noticia-conteudo'>. . incrível.</p>
<p class='noticia-conteudo'>Depois, a atitude e compromisso da equipe foram extraordinários, fizeram uma partida fantástica.  Estou muito feliz por Allan ter ganhado a copa Libertadores.  Também pelo Botafogo que é uma equipe histórica do futebol brasileiro ter sido capaz de ganhar pela primeira vez a Libertadores - disse em resposta à pergunta feita pelo jornalista brasileiro Fernando Kallás.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_0.jpg"></div><p class='foto-descricao'>Carlo Ancelotti, técnico do Real Madrid — Foto: Jennifer Lorenzini/Reuters</p>
- Então estamos encantados.  Agora, eles têm que disputar outras partidas para disputar a final do Mundial contra nós.  Mas parabéns a eles, foi um grande sucesso ganhar uma partida com 10, num esforço extraordinário - completou.</p>
<p class='noticia-conteudo'>Mencionado por Ancelotti, Allan é um velho conhecido do treinador.  O volante do Botafogo foi comandado pelo italiano em duas oportunidades.  Primeiro, no Napoli, da Itália, e, depois, no Everton, da Inglaterra.</p>
<p class='noticia-conteudo'>O técnico Artur Jorge também teve a oportunidade de enfrentar Ancelotti por duas vezes na última edição da Champions League, quando o português conduzia o Braga. 
Para o Botafogo enfrentar o Real Madrid na final do Intercontinel terá de passar pelo Pachuca, do México, no dia 11 de dezembro.  A semifinal será no dia 14, contra o Al-Ahly, do Egito, que se credenciou ao bater o Al-Ain, em outubro.</p>
<p class='noticia-conteudo'>A final está marcada para o dia 18. 



Assista: tudo sobre o Botafogo no ge, na Globo e no sportv
50 vídeos
BOTAFOGO.</p>
{% endblock main_content %}

