
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Antetokounmpo supera recorde de Scottie Pippen em vitória dos Bucks sobre o Bulls{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Antetokounmpo supera recorde de Scottie Pippen em vitória dos Bucks sobre o Bulls
Com os 41 pontos desta quarta-feira, grego ultrapassa lenda do Chicago Bulls e é o 65º maior marcador da NBA


A cada temporada que passa, Giannis Antetokounmpo aumenta o seu nível de jogo na NBA.  Na noite desta quarta-feira, no Fiserv Forum, em Milwaukee, o grego comandou as ações da segunda vitória seguida da franquia na competição: Milwaukee Bucks 122 x 106 Chicago Bulls.  O camisa 34 foi o cestinha da partida com 41 pontos e anotou ainda nove rebotes e oito assistências.</p>
<p class='noticia-conteudo'>Com a pontuação de hoje, Giannis se tornou o 65º maior marcador da NBA, ultrapassando a lenda do Chicago Bulls, Scottie Pippen, que tem o recorde de 18,940 pontos. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_10_0.jpg"></div><p class='foto-descricao'>Antetokounmpo marca 41 pontos na vitória dos Bucks sobre os Bulls — Foto: Getty Images</p>
A atuação foi simplesmente de gala.  (Veja vídeo abaixo)
Com a vitória, os Bucks ocupam a 9ª colocação da Conferência Leste.</p>
<p class='noticia-conteudo'>Os Bulls estão na 11ª posição..</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

