
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Aos 35 anos, Walter treina em Alagoas para retomar a carreira Perdi 22 quilos; vídeo{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Ex-Flu e Goiás, atacante diz que iniciou trabalho no Guarany-AL, mas não foi contratado



Walter participa de pré-temporada do Guarany Alagoano, mas não está contratado

- Eu só estou treinando.  Tô num momento para emagrecer, já perdi 22 quilos e quero perder mais 10 para chegar ao meu peso (ideal) e ir para um time que estou conversando.  Conversei com Jorginho (Gonzaga, dirigente do Guarany) e ele abriu as portas lá.</p>
<p class='noticia-conteudo'>Nessas conversas, tudo pode acontecer, e posso até disputar a Copa Alagoas.  Mas não fui contratado.  Sou muito grato a ele por abrir as portas para eu treinar - disse Walter, na noite desta quinta.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_13_0.jpg"></div><p class='foto-descricao'>Walter treina no Guarany de Alagoas — Foto: Reprodução Instagram</p>
O Guarany está na Segunda Divisão do estadual, mas começa a disputar neste mês a Copa Alagoas, que dá vaga na Série D do Brasileiro.  A estreia está marcada para o dia 23 de janeiro, contra o Murici. 
O último time do pernambucano Walter foi o Rolim de Moura, que disputou a Segunda Divisão de Rondônia no ano passado.</p>
<p class='noticia-conteudo'>Em Alagoas, ele defendeu o CSA em 2018 e fez parte do grupo que conquistou o acesso para a Série A do Brasileiro. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_13_1.jpg"></div><p class='foto-descricao'>Walter defendeu o CSA em 2018 — Foto: Ailton Cruz/Gazeta de Alagoas</p>.</p>
{% endblock main_content %}

