
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Aposentado do tênis, Nadal participa de torneio de golfe na Espanha{% endblock second_title %}
{% block main_content %}<p class="noticia-conteudo">Aposentado do tênis, Nadal participa de torneio de golfe na Espanha



Tenista disputou última etapa de torneio de golfe em Mallorca















Rafael Nadal se aposenta do tênis com derrota na Copa Davis



Rafael Nadal levou alguns dias para trocar de esporte.  Aposentado do tênis na última semana, o espanhol participou de um torneio de golfe em Mallorca e terminou em oitavo lugar na categoria Handicap. <b><i><u>oi</u></i></b></p><div class="div-imagem"><img class="noticia-imagem" src="/media/noticias/n_17_0.jpg"></div><p class="foto-descricao">Nadal disputa torneio de golfe em Mallorca — Foto: Getty Images</p>



Nadal disputou competição como parte da equipe Rafa Nadal Academy, que ficou em quarto lugar na classificação geral.<p></p>



<p class="noticia-conteudo">O golfe é um dos esportes preferidos do ex-tenista,&nbsp;</p><p class="noticia-conteudo">que costuma participar de torneios na Espanha. 







Nadal deixou o tênis aos 37 anos, após conquistas 22 Grand Slams e se tornar um dos maiores nomes do esporte na história.  Sua despedida foi na Copa Davis, ao perder com a Espanha nas quartas de final da competição.</p>



<p class="noticia-conteudo">Em seu último jogo, Nadal perdeu para o holandês Botic van de Zandschulp, por 2 sets a 0 - parciais de 6/4 e 6/4..</p>{% endblock main_content %}

