
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Após seca, LeBron faz bola de três e se torna o sétimo maior da história da NBA no quesito{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Após seca, LeBron faz bola de três e se torna o sétimo maior da história da NBA no quesito
Astro da NBA, LeBron James volta a marcar de três após cinco jogos, se torna o sétimo maior da história em bolas de longa distância, mas vê Lakers sofrerem derrota acachapante para Heat

05/12/2024 09h42 Atualizado há 2 horas

Camilo Pinheiro Machado: "Se fosse no futebol, LeBron seria o volante do Lakers agora"
Após cinco jogos sem conseguir fazer uma bola de três - a maior seca de sua carreira na NBA -, Lebron James anotou uma cesta de longa distância, fez uma grande partida, mas viu o Los Angeles Lakers perder de forma acachapante para o Miami Heat.  O placar final foi de 134 a 93. 
"O que o torcedor do knicks espera é final de conferência", analisa João Pedro Brandão
LeBron chegou a 2.</p>
<p class='noticia-conteudo'>451 bolas de três na carreira da NBA, se tornando o sétimo maior no quesito, passando Kyle Korver, que tem 2. 450.  O líder desta estatística é Stephen Curry, com 3.</p>
<p class='noticia-conteudo'>814, seguido de James Harden, com 3. 007.  Na partida contra o Heat, LeBron anotou 29 pontos, além de oito assistências e cinco rebotes.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_57_0.jpg"></div><p class='foto-descricao'>LeBron vive a pior fase da carreira nas bolas de três — Foto: Alex Goodlett/Getty Images</p>
Nos primeiros anos de carreira, LeBron era um arremessador apenas regular nas bolas de três pontos.  Depois, aos poucos , melhorou sua eficiência.  Os Lakers estão com 12 vitórias e 10 derrotas, em nono lugar na Conferência Oeste.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}

