
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Aposentadoria de Geromel encerra história de um ídolo improvável Me dediquei 100% ao Grêmio{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Aposentadoria de Geromel encerra história de um ídolo improvável: "Me dediquei 100% ao Grêmio"
Zagueiro de 39 anos fará no domingo, contra o Corinthians, a última partida como jogador de futebol.  Confira entrevista exclusiva com o jogador

06/12/2024 05h02 Atualizado há 7 horas

Geromel relembra carreira no Grêmio e manda recado ao torcedor
Uma era vitoriosa, de todo o tipo de emoções, terá seu apito final no domingo.  O último capítulo da história de Pedro Geromel como zagueiro do Grêmio ocorre contra o Corinthians, na despedida do Brasileirão.</p>
<p class='noticia-conteudo'>Sem a ficha cair, o capitão tricolor desfrutrará pela última vez da caminhada de pouco mais de 20 metros do vestiário até ser ovacionado pelos gremistas presentes na Arena. 

A rotina do futuro ex-jogador de 39 anos vai sofrer uma interrupção brusca na segunda-feira sem os treinos, embora isso seja normal no período de férias.  O zagueiro revelou que o plano não é trabalhar no futebol no futuro, apesar de reconhecer que viveu mais de 20 anos no meio e "só sabe" fazer isso.</p>
<p class='noticia-conteudo'>Com sorriso no rosto e seguro da decisão, Geromel explicou que até poderia esticar a carreira, como deixou claro com a atuação na vitória sobre o São Paulo, há uma semana.  Mas, aos 39 anos, já paga um preço muito alto para jogar e manter o nível.  Por isso, optou pela aposentadoria ao fim da temporada.</p>
<p class='noticia-conteudo'>Atualmente, é o jogador há mais tempo em um clube no Brasil. 
Nos 10 anos no Tricolor, teve inúmeras propostas, inclusive para ganhar mais, mas optou sempre pela permanência devido à sinergia criada em Porto Alegre.  Também lembrou que teve um início difícil, mas apontou Zé Roberto como inspiração para encarar o que foi quase um recomeço após 10 anos na Europa.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_121_0.jpg"></div><p class='foto-descricao'>Pedro Geromel, zagueiro do Grêmio — Foto: Eduardo Moura</p>
Confira a entrevista
Como é que está o sentimento, a tua cabeça, o coração?
Ah, eu tô num misto, né? Eu, por ter continuado na rotina, de vir treinar, trabalhar, estar jogando, eu acho que eu não estou sentindo tanto ainda.  Pensando em muitas coisas e tudo isso.  Mas uma sensação de realização, de estar completamente realizado profissionalmente.</p>
<p class='noticia-conteudo'>E muito feliz por ter tido a oportunidade de ter ficado tanto tempo num clube como o Grêmio. 
Já tem programação para segunda-feira, no primeiro dia de aposentadoria?
Não, nenhuma.  Eu quero jogar o jogo, desfrutar do momento, aproveitar pela última vez entrar em campo na Arena.</p>
<p class='noticia-conteudo'>E depois vamos ver. 
Renato Portaluppi convoca torcida para a despedida do Geromel
Parece que ainda não caiu a ficha para ti.  Vai ser mais quando ficar em casa com a família, quando tiver mais tempo?
Com certeza, né? Quando não tiver mais a rotina, esse ano aqui já foram mais de, sei lá, 45 jogos que eu fui aí.</p>
<p class='noticia-conteudo'>Então sempre tem viagem, concentração, jogo e treino todos os dias.  Então não dá tempo de sentir ainda, né? Mas tempo não vai faltar (risos). 
Como acha que vai ser a recepção da torcida no domingo?
Ah, eu acho que igual sempre, né? Torcida aqui não tem do que falar, só agradecer por todos esses 10 anos, por tudo que a gente passou junto.</p>
<p class='noticia-conteudo'>Já foram alegrias, tristezas, emoção, felicidade, comemoração, raiva.  Já passamos por tanta coisa junto.  Só o agradecimento mesmo por ter passado por tudo isso junto com eles (torcedores) por tanto tempo.</p>
<p class='noticia-conteudo'>São mais de 20 anos de carreira.  Está se aposentado mais porque o corpo cansou da rotina ou mental da rotina de atleta?
Eu acho que é o ciclo da vida, né? Todo mundo sabe que a vida é assim.  Tem começo, meio e fim.</p>
<p class='noticia-conteudo'>Na vida do jogador profissional, todo mundo vai passar por esse momento, vai chegar um momento que não consegue mais.  E chegou um momento que eu vi que eu não estava conseguindo mais.  Eu tenho que abdicar de muita coisa, tenho que me cuidar 24 horas por dia praticamente.</p>
<p class='noticia-conteudo'>Tenho que cuidar muito mais do meu descanso, da minha alimentação, da minha suplementação, da minha treinabilidade.  E algumas vezes eu não consigo nem render como eu rendia antes.  Eu não queria que isso acontecesse.</p>
<p class='noticia-conteudo'>E o último jogo contra São Paulo, que a gente ganhou na Arena lotada, eu consegui jogar o jogo todo, os 90 minutos, no alto nível.  E era assim que eu esperava terminar.  E não foi fácil, foram meses, semanas, anos de dedicação para conseguir chegar e jogar nesse nível.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_121_1.jpg"></div><p class='foto-descricao'>Pedro Geromel, zagueiro do Grêmio — Foto: Eduardo Moura</p>
Tem ideia de quando teve que cuidar mais do teu corpo, ter uma recuperação mais lenta?
Acho que nesse quesito de recuperação eu sou privilegiado geneticamente e me cuido sempre.  Eu digo mais é pela força, pela explosão, pela velocidade, performar como eu estou acostumado, que deixei os torcedores acostumados.  E aí quando você não consegue mais manter esse nível sempre, eu acho que você acaba atrapalhando em vez de ajudar.</p>
<p class='noticia-conteudo'>E eu não queria que chegasse nesse ponto. 
O último jogo foi tão em alto nível.  Não dava para queimar mais uma lenha?
Dava, com certeza.</p>
<p class='noticia-conteudo'>Mas eu não tenho mais essa vontade de fazer tanto sacrifício, são mais de 20 anos de profissão que venho fazendo diariamente.  Eu tenho família, eu tenho filhos, eu tenho amigos, eu quero fazer outras coisas além do futebol. 
E esse sacrifício, essa preparação para o último jogo, tem tido algo diferente, está mexendo contigo?
Ninguém se prepara de um dia para o outro, você não consegue, "amanhã eu vou jogar".</p>
<p class='noticia-conteudo'>Isso já é uma preparação.  Não é dias, não são semanas, não são meses, são anos que eu venho me cuidando.  E a gente entra meio naquele estado flow, que você simplesmente faz o que você nasceu para fazer e faz com excelência.</p>
<p class='noticia-conteudo'>Mas para isso você tem que se preparar.  Só profissionalmente são duas décadas. 
Grêmio realiza exposição sobre a trajetória de Pedro Geromel
Já tem ideia da sua rotina depois, o que vai querer fazer?
Não, ainda não.</p>
<p class='noticia-conteudo'>Falei para as crianças: o meu foco vai ser levar vocês na escola e buscar, isso daí eu não abro mão.  E depois entre essas duas atividades, ir arrumando coisa para fazer. 
Recapitulando a sua chegada ao Grêmio, hoje todo mundo sabe quem é o Geromel.</p>
<p class='noticia-conteudo'>Como foi lidar com a desconfiança no início e depois virar ídolo?
Eu acho que é normal a desconfiança, chega um jogador que ninguém nunca ouviu falar, que ninguém nunca viu jogar, essa desconfiança é completamente normal.  E eu tive humildade para trabalhar, força de vontade, dedicação, para mostrar o meu valor.  E isso daí nada melhor do que o tempo para provar.</p>
<p class='noticia-conteudo'>Você chegou e era o quinto zagueiro na hierarquia.  Como foi o momento de chegada, que tinha um caminho bastante grande para pular até o time titular?
Foi difícil essa aceitação.  Já tinha 10 anos de Europa, já tinha jogado nas melhores ligas no mundo.</p>
<p class='noticia-conteudo'>E eu fiquei pensando: "putz, vou ter que começar tudo de novo.  Tem um longo caminho pela frente".  Mas com perseverança, com trabalho, fazendo sempre a coisa certa, sem nunca passar a perna em ninguém, sem nunca desmerecer ninguém, eu sabia que eu ia ter uma oportunidade.</p>
<p class='noticia-conteudo'>Eu vejo que muitos jogadores, muitas pessoas na vida também, às vezes ficam reclamando da falta de oportunidade.  Em vez de trabalhar, se preparar, adquirir conhecimento, adquirir outras formas para quando chegar a oportunidade estar pronto, as pessoas ficam reclamando.  E aí quando chega a oportunidade, não está pronto, porque em vez de se preparar mais, ele ficou reclamando.</p>
<p class='noticia-conteudo'>Eu não queria ser esse tipo de pessoa, então eu sempre me dediquei muito, muito, muito, muito.  Treinava horrores. 
Até em 2014, nessa fase, eu estava com o Zé Roberto.</p>
<p class='noticia-conteudo'>E eu ficava olhando e falava: "nossa, o Zé Roberto, que é o Zé Roberto, uma referência no futebol mundial, ele não estava sendo convocado (para os jogos)".  Ele continuava chegando cedo, indo embora mais tarde que todo mundo, e eu falava: "pô se o Zé está treinando esse tanto, eu tenho que me condicionar, treinar também para ter uma oportunidade".  Então, depois acabou mudando o treinador e o Zé começou a jogar, e ele já tinha uma certa idade, e aí um dia o Felipão chegou e falou: "você joga na lateral?".</p>
<p class='noticia-conteudo'>E porque ele se preparou tanto nesse tempo todo que ele não estava jogando, estamos falando de um período de mais de seis meses, ele estava pronto.  E aí ele jogou de lateral o resto do campeonato, foi até considerado, se eu não me engano, o melhor lateral do campeonato.  Serviu de inspiração para mim nesse momento mais complicado.</p>
<p class='noticia-conteudo'>E contigo foi meio semelhante também, porque o Enderson Moreira (ex-técnico do Grêmio) colocou para jogar do lado esquerdo, quando surgiu a oportunidade de jogar, e você joga do lado direito. 
É, eu queria jogar, né, eu jogo de qualquer lado.  Quando ele perguntou se eu jogava do lado esquerdo, eu falei que era canhoto (risos).</p>
<p class='noticia-conteudo'>Queria jogar. 
Geromel recebe título de cidadão de Porto Alegre
Tem algum momento que deu o clique e você percebeu seu tamanho na história do Grêmio?
Eu acho que a gente não tem tempo, a gente fica 11 meses correndo de lá pra cá, jogando, viajando.  Esse ano já foram inúmeros jogos e tudo isso, ano passado igual, e sempre assim, você está numa rotina que você vai fazendo, vai fazendo, você não para e pensa.</p>
<p class='noticia-conteudo'>Acho que eu vou começar a sentir e ter noção real disso ano que vem. 
Com 10 anos de Grêmio, conhecendo a história do clube também, onde você acha que se coloca na hierarquia dos grandes zagueiros da história do Grêmio?
Ah, eu não tenho pretensão nenhuma.  Eu sou muito realizado e feliz por ter tido a chance de fazer tanto tempo da história de um grande clube como o Grêmio.</p>
<p class='noticia-conteudo'>Eu fico tranquilo, eu deixo vocês, jornalistas, torcedores, fãs, tomar essa decisão aí, escolherem.  Eu estou tranquilo porque eu fiz o meu melhor, então eu fico com a consciência super tranquila. 
Nessa prateleira aí, tem um cara que foi teu parceiro, tem aquele beijo na taça que ficou tão registrado na memória do torcedor.</p>
<p class='noticia-conteudo'>O que o Kannemann representa para você?
Ah, o Kannemann é fenomenal, né? O Kannemann eu acho que incorpora a alma do torcedor gremista.  Você quando vai entrar dentro do campo e tem o Kannemann do lado, a energia dele é contagiante.  Ele é aquela pessoa que é sempre agressiva, sempre com vontade, sempre com determinação.</p>
<p class='noticia-conteudo'>Você sabe que você pode contar com ele em qualquer momento, em qualquer hora.  Você sabe que ele não é a pessoa mais refinada tecnicamente, mas você sabe que no que estiver no alcance dele, ele vai te ajudar.  E isso é uma coisa que eu tento passar para todo mundo.</p>
<p class='noticia-conteudo'>Todos os jogadores, os mais jovens, as novas contratações, os mais experientes.  Eu falo: "meu, aqui no Grêmio você tem que correr, você tem que trabalhar, você tem que se empenhar.  Você não precisa ser tecnicamente muito diferente.</p>
<p class='noticia-conteudo'>Se for, melhor.  Mas você tem que ter disposição".  E a torcida é o reflexo da nossa vontade dentro de campo.</p>
<p class='noticia-conteudo'>E o Kannemann reflete mais do que ninguém esse espírito imortal. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_121_2.jpg"></div><p class='foto-descricao'>Geromel e Kannemann na conquista da Copa do Brasil 2016 — Foto: Lucas Ubel/Grêmio</p>
Na entrevista coletiva você falou que o vestiário ficaria em boas mãos com o Kannemann.  De que forma você tentou ajudar a manter esse bom ambiente, essa questão interna para o futuro?
Eu acho que o ambiente bom ganha campeonato.</p>
<p class='noticia-conteudo'>Quando você tem um grupo que é comprometido, um grupo que todo mundo vai para o mesmo lugar, isso facilita muito nos momentos difíceis.  Que é quando você mais precisa, tem jogadores lesionados, chega numa decisão.  Tem jogos que são como decisões, igual o último aqui contra o São Paulo, que para a gente era uma final.</p>
<p class='noticia-conteudo'>Então, se você tem um ambiente bom, um ambiente propício, onde todo mundo se respeita, onde todo mundo consegue olhar um na cara do outro, consegue se cobrar, tem essas características, fica muito mais fácil.  E eu tenho certeza que o vestiário está entregue em boas mãos aí com o Kannemann. 
Esse ambiente foi o segredo para os títulos?
Com certeza.</p>
<p class='noticia-conteudo'>Semana passada a gente foi jogar contra o São Paulo, o Douglas mandou mensagem, falando: "meu, arrebenta, vai para cima, vocês vão ganhar e não sei o quê".  O Edilson mandou mensagem, o Michel mandou mensagem, outros jogadores que jogaram no Grêmio que estão em outros clubes mandaram mensagem também.  A gente tem até hoje uma amizade que é muito legal.</p>
<p class='noticia-conteudo'>E com certeza essa amizade foi fundamental para o sucesso esportivo do Grêmio. 
Que peso tem na sua carreira, na sua vida, esses anos com títulos no Grêmio?
Para mim foram anos maravilhosos.  Eu me dediquei 100% ao Grêmio, a fazer o melhor.</p>
<p class='noticia-conteudo'>E eu vi aqui os outros jogadores também.  E a gente tinha praticamente uma família aqui, jogadores que se davam muito bem dentro e fora do campo.  E o Renato coordenou a gente magistralmente para a gente ter esse sucesso esportivo.</p>
<p class='noticia-conteudo'>Aproveitando para falar de títulos, aquela arrancada na final (da Copa do Brasil de 2016) contra o Atlético-MG, como saiu aquilo?
A gente sempre conversou que cada um que estiver mais perto do marcador, marca e o outro faz a posição dele.  E aí é um escanteio, estou marcando um zagueiro lá dentro da área, e o escanteio é um pouquinho forte, e a bola vai sobrar lá no rebote para o Robinho.  E eu que estava mais perto, que a bola passou, meu cara estava por ali, eu já fui encurtar, aí eu roubei a bola dele, estava na jogada, continuei, e tive a felicidade de cruzar para o Cebolinha fazer o gol (veja abaixo).</p>
<p class='noticia-conteudo'>Gol do Grêmio! Geromel cruza na medida para Everton ampliar, aos 45 do 2º
Aquela pegada no Cristiano Ronaldo no Mundial.  Foi premeditado? Qual era a sua intenção?
Acho que eu nem tomei amarelo.  Não, foi um lance normal do jogo, o Marcelo foi tocar para ele na paralela, eu fui encurtar ele, e a bola desvia no Ramiro, e aí a bola muda de trajetória.</p>
<p class='noticia-conteudo'>E aí como ele estava na minha frente, ele viu antes, ele reagiu antes, e eu fiz uma falta, vou matar a jogada.  Deve ter reclamado, mas é normal.  Os atacantes sempre reclamam quando a gente bate neles, mas é do jogo.</p>
<p class='noticia-conteudo'>Qual o ano mais especial, 2016 ou 2017?
Ah, eu acho que os dois anos estão praticamente juntos.  Em 2014, quando eu cheguei no Grêmio, tinha uma pressão tão grande para ganhar títulos que era uma coisa que atrapalhava.  E aí em 2016, quando a gente ganha de 3 a 1 fora de casa o primeiro jogo da final, a gente já sabia que ninguém tirava o título da gente aqui na Arena.</p>
<p class='noticia-conteudo'>Em 2017, a gente entra em uma espiral vencedora, porque a gente tira esse peso, a confiança volta, começa a criar aquela sinergia entre o torcedor e o time, e a gente sabia que ia jogar aqui na Arena, ia ganhar de todo mundo, e isso tudo foi culminando para ter mais um ano de títulos, e que se seguiu assim por mais algum tempo. 
A maior parte do teu período no Grêmio foi o Renato como técnico.  Como foi trabalhar com ele que teve a história muito grande no clube?
O Renato é um ótimo treinador, o sucesso que a gente teve em 2016, 17, 18, é muito graças a ele.</p>
<p class='noticia-conteudo'>Ele chegou, acertou o time, é uma pessoa muito preparada, um treinador muito íntegro, uma pessoa que fala sempre no olho um do outro. 
Todos esses anos já passaram, se bobear, centenas de jogadores com ele, e tenho certeza que por ser a pessoa que ele é, correta, consegue olhar no olho de cada um, e isso diz muito do caráter da pessoa.  E foi com ele que eu tive minhas maiores glórias no futebol, e eu sou muito grato a ele por tudo.</p>
<p class='noticia-conteudo'>Ele é o teu melhor técnico na vida?
Com certeza. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_121_3.jpg"></div><p class='foto-descricao'>Geromel e Renato em treino do Grêmio — Foto: Lucas Uebel/Divulgação Grêmio</p>
Você viveu os momentos mágicos, mas também o rebaixamento de 2021.  O que ficou daquele ano para vocês que já eram ídolos e ficaram no clube?
Eu acho que a vida é assim, ela não é só feita de momentos felizes, ela é feita de altos e baixos, e todo mundo cai.</p>
<p class='noticia-conteudo'>Eu acho que o importante é como você se levanta.  Por exemplo, eu e o Kannemann ficamos aqui, eu joguei praticamente todos os jogos da Série B e fiz de tudo para trazer o Grêmio para a primeira divisão de volta, que é o lugar que está hoje, e espero que nunca mais saia. 
Quando um clube cai, muitos jogadores vão embora, mas você ficou.</p>
<p class='noticia-conteudo'>Que recado ficou para a torcida?
Eu acho que se bobear é o momento que o Grêmio mais precisou de mim, de um líder, de um jogador, de uma referência.  Foi o momento que eu mais me dediquei para ajudar, porque esses 10 anos que eu estou aqui foi de longe o pior time que a gente montou, e eu sabia que não ia ser fácil.  Mas pela questão financeira, pela situação toda, foi o ano que eu mais joguei, que eu sabia que o Grêmio mais precisava.</p>
<p class='noticia-conteudo'>Conseguimos o nosso objetivo, e eu espero que o Grêmio continue sempre aí, na primeira divisão. 
Naquele período chegou a receber proposta para sair, pensou em sair?
Eu não, eu estava bem tranquilo e bem conformado com a situação.  Chegaram a ter algumas propostas, mas eu nem quis ouvir.</p>
<p class='noticia-conteudo'>E antes, teve algum momento que poderia ter acontecido uma saída?
Ah, não vou saber os anos exatamente, mas eu já tive um monte de propostas de grandes clubes aqui do Brasil, eu tive uma proposta muito vantajosa financeiramente da China, uns anos atrás, acho que foi no ano que eu fui para a Copa, ou no ano que a gente foi campeão da Libertadores, não sei direito.  Mas eu sempre pus o Grêmio e minha família em primeiro lugar, e isso sempre pesou bastante para mim.  Teve até uma proposta de um time do Brasil aqui que o diretor até chegou a falar para: "mas eu pago mais do que você ganha no Grêmio".</p>
<p class='noticia-conteudo'>Eu falei: "então nem me fala para eu não ficar com vontade! Obrigado".  Mas sempre teve uma sinergia muito boa entre eu e o Grêmio, e eu acho que eu fiz a decisão acertada hoje.  Depois de feito, na hora é difícil de você tomar essas decisões, mas eu acho que pela estabilidade da minha família, eu sempre fui muito bem recebido por todos aqui em Porto Alegre.</p>
<p class='noticia-conteudo'>Acho que foi a decisão acertada ter ficado tanto tempo. 
Aqui no Brasil é complicado, não é fácil ficar muitos anos, você vê que poucos jogadores ficam muito tempo em um clube, e eu tenho a felicidade de ter ficado tanto tempo aqui. 
Você virou um gremista, né?
Claro, com certeza! Meus filhos, então, meu Deus do céu!
Além dos títulos, você teve gol em Gre-Nal.</p>
<p class='noticia-conteudo'>Qual o gostinho?
Eu acho que o Gre-Nal é a maior rivalidade do futebol brasileiro, e jogar um Gre Nal é sempre diferente, é um campeonato à parte, mas o meu objetivo sempre foi não tomar gol, fazer gol eu deixo com os atacantes.  Eu acho importante, claro, quando a gente pode, poder ajudar, mas o meu foco sempre foi ganhar os jogos e não tomar gol. 
Relembre momentos da carreira de Geromel com a camisa do Grêmio
Você já disse que não sabe o que vai fazer.</p>
<p class='noticia-conteudo'>Mas pretende ficar no futebol?
A princípio eu não pretendo trabalhar no futebol, mas é a única coisa que eu sei fazer.  Passei minha vida toda fazendo isso, então não sei te dizer, mas agora eu não pretendo fazer nada. 
O que o Grêmio significou na sua vida?
O Grêmio me deu 10 anos que eu estou aqui, o Grêmio é minha casa praticamente, eu passo grande parte do tempo nessa última década aqui.</p>
<p class='noticia-conteudo'>Então o sentimento que eu tenho com o Grêmio é gratidão, por ter tido a sorte de ficar tanto tempo numa cidade tão boa, e isso foi graças ao Grêmio. 
Qual foi a sua melhor atuação?
Eu sou muito chato, muito perfeccionista, eu sempre fico me cobrando, que eu podia ter feito isso ou aquilo.  Então eu sempre faço uma autocrítica muito exigente.</p>
<p class='noticia-conteudo'>Sei lá qual foi, é tanto jogo! (risos)
Deixa um recado para o torcedor do Grêmio. 
Torcedor, já são mais de 10 anos aí, representando, jogando por vocês dentro de campo.  Já passamos por muitas coisas, muitas alegrias, muitas tristezas, muitas emoções, muitas vitórias, muitas derrotas, e para mim foi um privilégio poder ter estado com vocês todo esse momento.</p>
<p class='noticia-conteudo'>Espero ter representado vocês nesses 10 anos, sempre fiz o meu melhor, e muito obrigado por tudo. 


50 vídeos.</p>
{% endblock main_content %}

