
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}flamengo{% endblock title %}
{% block main_title %}flamengo{% endblock main_title %}
{% block second_title %}Após derrota do Inter, Wesley detona arbitragem Não sei o que veio fazer aqui{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Após derrota do Inter, Wesley detona arbitragem: "Não sei o que veio fazer aqui"
Atacante questionou decisões de Ramon Abatti Abel após a derrota por 1 a 0 para o Botafogo

05/12/2024 00h38 Atualizado há 10 horas

Internacional 0 x 1 Botafogo | Melhores momentos | 37ª rodada | Campeonato Brasileiro Série A 2024
Wesley deixou o gramado do Beira-Rio na noite desta quarta-feira indignado com a arbitragem.  O atacante mostrou incômodo com as decisões de Ramon Abatti Abel durante a derrota do Inter para o Botafogo por 1 a 0, pela penúltima rodada do Brasileirão. 

O camisa 21 não poupou críticas ao juiz da partida.</p>
<p class='noticia-conteudo'>Chegou a perguntar se Abatti estava mal-intencionado e se não deveria ir até o VAR para revisar lances que poderiam beneficiar o time gaúcho. 
– Não sei o que o Ramon veio fazer aqui, se veio mal-intencionado ou se foram erros mesmo.  Houve lances duvidosos, toques de mão na área.</p>
<p class='noticia-conteudo'>. .  O lance do Bernabei, se ele fosse olhar, acredito que teria um possível pênalti – disparou.</p>
<p class='noticia-conteudo'>Wesley, do Internacional, detona arbitragem contra o Botafogo
Wesley também falou sobre a postura do time e o carinho das arquibancadas.  Mesmo com a derrota, os torcedores cantaram para os colorados e os aplaudiram.  Para o atacante, pela tentativa de evitar o resultado negativo até o fim da partida:
– Eles (torcedores) vieram ao Beira-Rio com intuito de ver uma vitória, não aconteceu, mas os aplausos mostram o quanto lutamos em campo até o último minuto pelo resultado positivo.</p>
<p class='noticia-conteudo'>O que vale é a festa da torcida.  Terminamos o ano com papel cumprido. 
Veja mais:


Com o resultado, o Inter soma 65 pontos e está em quarto lugar.</p>
<p class='noticia-conteudo'>O time se despede do Brasileirão no domingo, quando enfrenta o Fortaleza às 16h no Castelão. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_65_0.jpg"></div><p class='foto-descricao'>Wesley não impediu a derrota do Inter — Foto: Ricardo Duarte/Divulgação, Internacional</p>


50 vídeos
INTERNACIONAL.</p>
{% endblock main_content %}

