
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}mirassol{% endblock title %}
{% block main_title %}mirassol{% endblock main_title %}
{% block second_title %}Apresentado no Mirassol, Paulinho confirma conversas com Carille, mas prega cautela Muita calma{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Ex-volante do Corinthians e da Seleção concede primeira coletiva como coordenador técnico do Leão



Ex-Corinthians, Paulinho é anunciado como coordenador técnico do Mirassol

O Leão busca um substituto para Mozart, que acertou com o Coritiba, e tem o ex-treinador de Santos e Corinthians como um dos candidatos no radar.  O ge apurou que o treinador esteve em Mirassol nesta semana e se reuniu com o vice-presidente do Leão, Júnior Antunes.  O novo dirigente da equipe, porém, pregou cautela quanto à definição do novo comandante.</p>
<p class='noticia-conteudo'>– Houve conversas com alguns treinadores, sim, e o Carille foi um deles.  Conversamos, explicamos como é o Mirassol, o projeto, o processo que existe aqui dentro, mas ainda tem conversas com outros treinadores.  Vocês sabem como é o futebol, de especulações, algumas coisas não são, outras realmente estão acontecendo, mas isso estamos preparando internamente.</p>
<p class='noticia-conteudo'>É difícil já ter uma contratação logo que acaba uma competição onde ocorre um acesso.  É preciso ter muita calma para decidir e escolher – disse. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_386_0.jpg"></div><p class='foto-descricao'>Paulinho é apresentado como novo coordenador técnico do Mirassol — Foto: Pedro Zacchi/Agif</p>




Paulinho falou sobre o planejamento do Mirassol para a próxima temporada e disse que apesar de ter a Série A do Brasileiro como grande novidade, o projeto também passa muito pela participação no Paulistão.</p>
<p class='noticia-conteudo'>– A gente vem conversando internamente na busca pelo treinador, não é uma missão fácil, porém, é o primeiro passo.  O planejamento tem que ser muito bem feito porque o ano é muito longo.  Então, é a busca pelo treinador, de elenco, buscar no mercado e, para muita gente de fora, tem a questão da Série A do Brasileiro, mas temos o Campeonato Paulista que é o estadual mais difícil do país.</p>
<p class='noticia-conteudo'>Temos que nos preparar para isso primeiro e então, consequentemente, para a Série A. 
– Sobre a permanência de jogadores, chego agora e vou entender com a diretoria quem permanece, quem não permanece, mas é seguir a linha do que foi feito.  Uma Série A o nível é outro, estamos olhando para ela, mas existe um Campeonato Paulista que é muito difícil e precisamos montar um elenco para fazer uma boa competição.</p>
<p class='noticia-conteudo'>Temos metas de chegar ao mata-mata e sou um cara muito competitivo – completou. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_386_1.jpg"></div><p class='foto-descricao'>Fábio Carille tem conversado com o Mirassol — Foto: Reinaldo Campos/AGIF</p>

Na nova função, Paulinho promete ser o "elo" entre os departamentos do clube ligados diretamente ao futebol. 
O ex-volante disse que iniciou os cursos de gestão e a preparação durante a recuperação de algumas das graves lesões sofridas na reta final da carreira.</p>
<p class='noticia-conteudo'>Ele garantiu que irá atuar muito mais no campo do que na parte administrativa. 
– É um desafio novo.  Tudo o que vivi como atleta já passou.</p>
<p class='noticia-conteudo'>Depois de quase três anos estudando, fazendo a parte de gestão, uma gestão muito mais técnica do que a parte administrativa.  Sou um cara que gosta do campo, todos vocês conhecem minha história, meu caráter e a minha personalidade.  É o meu primeiro trabalho na parte de gestão, mas sou um cara preparado.</p>
<p class='noticia-conteudo'>Gosto de estar com a comissão técnica, preciso estar no campo para ver como o trabalho está sendo feito até para termos um feedback de todos os departamentos. 
– Depois de quase três anos estudando, vejo que a comunicação entre os departamentos de alguns clubes que fui visitar fica muito distante entre comissão, fisioterapia, médicos e precisamos ser um grupo só para que o treinador possa fazer um grande trabalho.  Aqui no Mirassol existem os processos, eles são importantes, e venho para ajudar.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_386_2.jpg"></div><p class='foto-descricao'>Paulinho, coordenador técnico do Mirassol — Foto: João Pinheiro/Ag.  Mirassol</p>
Embora não seja o responsável direto pelas contratações, o coordenador técnico do Mirassol garantiu que também dará seus pitacos nesta questão. 
– Na parte de contratações, é algo que está sendo feito internamente, mas vou colocar algumas opiniões.</p>
<p class='noticia-conteudo'>Não sou em quem contrata, quem decide, a minha parte é dentro do campo fazendo todo esse elo para que as decisões sejam tomadas por quem tem que tomar.  Mas, em termos de contratações, obviamente vou participar porque é o Mirassol, temos que olhar o bem e a performance do clube para que possamos fazer uma grande temporada. 
– Temos que ir analisando o mercado, sabemos que é muito difícil.</p>
<p class='noticia-conteudo'>E as oportunidades que aparecem dentro disso, nós decidimos quais são os melhores atletas para compor o elenco do Mirassol. 
Visita que rendeu
O namoro entre Paulinho e o Mirassol começou quando o jogador fez uma visita ao clube, ainda durante o processo de estudos, para conhecer a estrutura e o funcionamento da equipe. 
Segundo o agora coordenador técnico, ele não se ofereceu para o cargo e o acordo para que ele assumisse a função aconteceu de maneira "natural".</p>
<p class='noticia-conteudo'>– Vim fazer uma visita, fui rodando os clubes para conhecer estruturas, processos, metodologia e o pessoal da Federação Paulista sugeriu de conhecer o Mirassol.  Liguei para saber se poderia vir, fiquei por dois dias, depois voltei para São Paulo e começamos a conversar sobre uma possibilidade.  Foi uma troca de ideias, os profissionais daqui perguntando algumas cosias, o que já passei no futebol, e foi ficando mais próximo.</p>
<p class='noticia-conteudo'>– Estar no Mirassol, um clube organizado, que tem uma gestão muito boa, chega à Série A por méritos, por capacidade e potencial, para mim é um desafio muito bom para a carreira e tenho a certeza de que vou exercer da melhor maneira possível – disse. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_386_3.jpg"></div><p class='foto-descricao'>Paulinho entre Júnior Antunes, diretor de futebol, e o presidente Edson Ermenegildo — Foto: João Pinheiro/Ag.  Mirassol</p>
Questionado a respeito da desconfiança sobre o clube, caçula na Série A, e até o suposto risco de rebaixamento apontado por críticos, Paulinho garantiu que o assunto não é uma preocupação interna e se disse convicto do trabalho feito no clube.</p>
<p class='noticia-conteudo'>– Muito difícil a pessoa, quando não conhece, coloca algumas coisas, como foi citado de o Mirassol ser rebaixado.  Acontece a fala antes de começar o treino e acho que não tem nexo.  Quem não conhece o processo, tá tudo bem, não tem problema falar, o importante somos nós aqui dentro.</p>
<p class='noticia-conteudo'>É o nosso profissionalismo, o nosso caráter, é ali dentro de campo que decidimos as coisas.  As conversas vão acontecer, faz parte do futebol, mas o mais importante é nós, aqui dentro, sabermos para onde queremos ir, independentemente da fala das pessoas.  Estou muito convicto no trabalho, conseguimos um acesso agora, estamos há anos no Campeonato Paulista, então a questão do rebaixamento, para nós, internamente, não acrescenta em nada.</p>
<p class='noticia-conteudo'>Não vamos fazer nada porque escutamos algumas coisas fora, vamos fazer o que tem de ser feito, o que nós acreditamos e temos convicção – finalizou Paulinho..</p>
{% endblock main_content %}

