
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Arias se reapresenta ao Fluminense, e treino definirá participação contra o Fortaleza{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Arias se reapresenta ao Fluminense, e treino definirá participação contra o Fortaleza
Colombiano vai participar de última atividade no CT antes de jogo pelo Brasileirão, quando Mano Menezes definirá escalação titular

21/11/2024 15h43 Atualizado
Arias está de volta ao Fluminense.  De volta ao Rio de Janeiro após defender a seleção da Colômbia na data Fifa, o atacante se reapresentou nesta sexta-feira no CT Carlos Castilho.  O técnico Mano Menezes vai definir o time titular para enfrentar o Fortaleza em um último treino nesta tarde.</p>
<p class='noticia-conteudo'>A partida, válida pela 34ª rodada do Brasileirão, será às 21h30 desta sexta-feira, no Maracanã. 

Marcelo, ex-Fluminense, brinca com frase dita a Mano Menezes: "Não encosta em mim"
O jogo mais recente de Arias com a seleção colombiana foi na terça-feira, na derrota para o Equador por 1 a 0.  Desta vez, o calendário do Brasileiro permitiu a Arias um período de descanso um pouco maior - na penúltima data Fifa, o jogador chegou à capital carioca de madrugada para jogar o Fla-Flu à noite, no mesmo dia.</p>
<p class='noticia-conteudo'>Arias foi poupado no início do clássico, com Marquinhos assumindo sua vaga de titular.  Com o nível de desgaste físico mais parelho no segundo tempo, Mano Menezes promoveu a entrada do colombiano, que marcou o segundo gol do Fluminense contra o rival Flamengo. 
A tendência é pela manutenção de Arias nos 11 iniciais do Fluminense, mas eventuais ajustes podem ser feitos pela comissão técnica neste último treino.</p>
<p class='noticia-conteudo'>Sua presença em campo é importante para o Tricolor, visto que o clube ainda não venceu no Brasileirão sem contar com o colombiano. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_0.jpg"></div><p class='foto-descricao'>Arias em Fluminense x Athletico-PR — Foto: Jorge Rodrigues/AGIF</p>
São 11 jogos, nenhuma vitória, três empates e oito derrotas, com aproveitamento inferior a 10%.  Neste momento, o Atlético-GO, último colocado no Brasileirão, tem 23% de aproveitamento dos pontos disputados.</p>
<p class='noticia-conteudo'>Com os resultados desta quarta-feira, o Fluminense não corre riscos de voltar ao Z-4 na 34ª rodada do Brasileirão.  O Tricolor caiu para o 16º lugar antes de entrar em campo contra o Fortaleza, mas não poderá perder mais posições - as partidas pendentes não incluem times nas últimas quatro posições da tabela. 

🗞️ Leia mais notícias do Fluminense
🎧 Ouça o podcast ge Fluminense
Assista: tudo sobre o Fluminense no ge, na Globo e no sportv
50 vídeos
FLUMINENSE.</p>
{% endblock main_content %}

