
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}flamengo{% endblock title %}
{% block main_title %}flamengo{% endblock main_title %}
{% block second_title %}Arrascaeta é o novo camisa 10 do Flamengo{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Landim comunicou o uruguaio nesta segunda-feira em uma chamada de vídeo






O vídeo foi publicado nas redes sociais do clube.  Landim aparece na sala da presidência em uma reunião de vídeo com Arrascaeta, que está de férias na Itália.  O mandatário pede desculpas por interromper as férias, mas lê uma carta e anuncia o presente.</p>
<p class='noticia-conteudo'>- Caro Arrasca, desde a sua chegada ao Clube de Regatas do Flamengo, a sua dedicação, talento e paixão pelo nosso time têm sido inspiradores.  Ao longo dos últimos seis anos, você nos brindou com momentos mágicos e conquistas memoráveis que ficarão marcadas em nossa história e do nsso clube.  A Nação é muito grata por todas as vitória que você nos ajudou a conquistar, pelos títulos que celebramos juntos.</p>
<p class='noticia-conteudo'>Você é uma referência de uma era de conquistas e, merecidamente, sua trajetória no clube faz de você um grande ídolo.  É importante ressaltar que apenas os grandes ídolos do Flamengo têm a honra de vestir a camisa 10.  E você, definitivamente, já fez por merecer essa distinção.</p>
<p class='noticia-conteudo'>O reconhecimento do seu comprometimento e sua genialidade em campo é uma unanimidade entre todos os torcedores do clube.  Que essa camisa se torne um incentivo a mais para enfrentar nossos futuros desafios e que ela te ajude a nos trazer muitas vitórias e a conquista de ainda mais títulos.  Esteja certo que você sempre terá um lugar especial no coração da Nação Rubro-Negra e em especial no meu coração.</p>
<p class='noticia-conteudo'>Esse é o presente antecipado de Natal que a gente está te dando - leu Landim para Arrascaeta. 
+Entenda como Bap pensa a gestão do Flamengo
+Flamengo debate contratação de Róger Guedes, mas atacante não é unanimidade no clube
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_424_0.jpg"></div><p class='foto-descricao'>abre aspas arrascaeta — Foto: André Durão</p>
A camisa 10 estava vaga desde que o Flamengo retirou a numeração de Gabigol, após o episódio polêmico em que o atacante vestiu a camisa do Corinthians.  Em maio, o jogador foi punido com a perda da camisa e uma multa.</p>
<p class='noticia-conteudo'>A ideia inicial da gestão era que uma eventual contratação na janela do meio do ano pudesse usar o número.  Lucas Paquetá, na época, foi quem ganhou força nos bastidores. 
- Eu fico feliz com essa notícia e minhas palavras desde que cheguei ao Flamengo são só de gratidão por tudo o que eu tenho vivido dentro do clube.</p>
<p class='noticia-conteudo'>A camisa 10 é muito especial.  Eu sei o tamanho e o peso que ela tem.  Vou me preparar da melhor forma possível para representar da melhor forma dentro de campo e fora também - disse Arrascaeta em agradecimento.</p>
<p class='noticia-conteudo'>No Flamengo desde 2019, Arrascaeta já conquistou 13 títulos e se tornou um dos jogadores com mais títulos pelo Flamengo.  O uruguaio divide o posto com Gabigol, Bruno Henrique, Júnior e Zico.  Com a camisa 14, fez 290 jogos: 186 vitórias, 60 empates e 44 derrotas.</p>
<p class='noticia-conteudo'>Arrascaeta tem 73 gols e 88 assistências..</p>
{% endblock main_content %}

