
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Artilheiro do Brasileirão 2024 veja ranking atualizado{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Artilheiro do Brasileirão 2024: veja ranking atualizado
Confira quem são os principais artilheiros do Campeonato Brasileiro 2024



Veja os 12 gols de Estêvão no Campeonato Brasileiro de 2024
Estêvão, do Palmeiras, é o artilheiro do Brasileirão 2024, após 33 rodadas.  O atacante tem 12 gols na competição.  Depois dele, vêm Pedro, do Flamengo, e Yuri Alberto, do Corinthians, ambos com 11 gols.</p>
<p class='noticia-conteudo'>Abaixo, você confere a lista atualizada da artilharia do Campeonato Brasileiro. 

Artilheiros do Brasileirão 2024
Estêvão (Palmeiras): 12
Pedro (Flamengo): 11
Yuri Alberto (Corinthians): 11
Luciano (São Paulo): 10
Hulk (Atlético-MG): 10
Alerrandro (Vitória): 10
Lucas Moura (São Paulo): 10
Raphael Veiga (Palmeiras): 10
Vegetti (Vasco): 9
Flaco López (Palmeiras): 9
Lucero (Fortaleza): 8
Wesley (Internacional): 8
Everaldo (Bahia): 8
Borré (Internacional): 8
Vargas (Atlético-MG): 7
Luiz Henrique (Botafogo): 7
Isidro Pitta (Cuiabá): 7
Helinho (Bragantino): 7
Alan Patrick (Internacional): 7
Garro (Corinthians): 7
Braithwaite (Grêmio): 7
Renato Kayzer (Fortaleza): 6
André Silva (São Paulo): 6
Luiz Fernando (Atlético-GO): 6
Paulinho (Atlético-MG): 6
Bolasie (Criciúma): 6
Matheus Pereira (Cruzeiro): 6
Thaciano (Bahia): 6
Gabriel Veron (Cruzeiro): 6
Julimar (Athletico-PR): 6
Kauã Elias (Fluminense): 6
Arias (Fluminense): 6
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_0.jpg"></div><p class='foto-descricao'>Comemoração de Estêvão, do Palmeiras, contra o Grêmio — Foto: Marcos Ribolli</p>.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

