
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}corinthians{% endblock title %}
{% block main_title %}corinthians{% endblock main_title %}
{% block second_title %}Artilharia do Brasil 2024 Yuri Alberto pode se isolar na liderança em Corinthians x Grêmio; veja lista{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Artilharia do Brasil 2024: Yuri Alberto pode se isolar na liderança em Corinthians x Grêmio; veja lista
Atacante do Timão iguala Pedro, do Flamengo, e tem chance se tornar maior goleador da temporada na última rodada do Campeonato Brasileiro

05/12/2024 05h04 Atualizado há 6 horas

Artilheiro do Brasileirão, Yuri Alberto se emociona com temporada no Corinthians: "Momento único que estou vivendo aqui"
Atacante do Corinthians, Yuri Alberto empatou com Pedro, do Flamengo, na artilharia do Brasil em 2024.  Contra o Bahia, pela 37ª rodada do Campeonato Brasileiro, na Neo Quimica Arena, o jogador marcou seu 30º gol na temporada, ajudou o Timão a chegar na zona de classificação para a Libertadores e de quebra, se tornou o maior goleador da Série A do Brasileirão deste ano com 14 gols marcados. 
E contra o Grêmio, pela última rodada do Campeonato Brasileiro, Yuri Alberto vai ter a chance de se tornar o maior artilheiro do Brasil nesta temporada.</p>
<p class='noticia-conteudo'>Veja abaixo. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_59_0.jpg"></div><p class='foto-descricao'>Yuri Alberto comemora o gol do Corinthians contra o Bahia — Foto: Marcos Ribolli</p>


Veja os artilheiros do Brasil em 2024
Pedro (Flamengo) - 30 gols
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_59_1.jpg"></div><p class='foto-descricao'>Pedro, do Flamengo — Foto: Alexandre Durão</p>

“Com a lesão do Pedro, não tinha como abrir mão do Gabriel” opina Renata Mendonça
Yuri Alberto (Corinthians) - 30 gols
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_59_2.jpg"></div><p class='foto-descricao'>Yuri Alberto comemora o segundo gol do Corinthians contra o Bahia — Foto: Marcos Ribolli</p>
Campeonato Paulista: 5 gols
Copa do Brasil: 2 gols
Copa Sul-Americana: 9 gols
Campeonato Brasileiro: 14 gols
Aos 48 min do 1º tempo - gol de dentro da área de Yuri Alberto do Corinthians contra o Bahia
Todos os gols de Yuri Alberto, do Corinthians, pelo Brasileirão 2024
Juan Martín Lucero (Fortaleza) - 23 gols
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_59_3.jpg"></div><p class='foto-descricao'>Lucero comemorando em Fortaleza x Palmeiras — Foto: Thiago Gadelha/SVM</p>
Campeonato Cearense: 3 gols
Copa do Nordeste: 3 gols
Copa do Brasil: 2 gols
Copa Sul-Americana: 7 gols
Campeonato Brasileiro: 8 gols
Lucero vive seca de gols e recebe apoio do torcedor do Fortaleza
Anselmo Ramon (CRB) - 23 gols
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_59_4.jpg"></div><p class='foto-descricao'>Anselmo Ramon comemora gol do CRB contra o Santos — Foto: Ailton Cruz</p>
Campeonato Alagoano: 7 gols
Copa do Nordeste: 5 gols
Copa do Brasil: 1 gol
Série B do Brasileiro: 10 gols
Gonzalo Mastriani (América-MG e Athletico-PR): 22 gols
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_59_5.jpg"></div><p class='foto-descricao'>Lesionado, Mastriani não joga mais em 2024 — Foto: Divulgação/Athletico</p>
Campeonato Mineiro: 6 gols
Campeonato Paranaense: 4 gols
Copa do Brasil: 1 gol
Copa Sul-Americana: 7 gols
Campeonato Brasileiro: 4 gols
Erick Pulga (Ceará) - 22 gols
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_59_6.jpg"></div><p class='foto-descricao'>Erick Pulga, Ceará, Avaí — Foto: LC Moreira</p>
Campeonato Cearense: 5 gols
Copa do Nordeste: 4 gols
Série B do Brasileiro: 13 gols
Veja todos os 13 gols de Erick Pulga pelo Ceará na Série B
Flaco López (Palmeiras) - 21 gols
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_59_7.jpg"></div><p class='foto-descricao'>Flaco López comemora gol do Palmeiras contra o Cruzeiro — Foto: Marcos Ribolli</p>
Campeonato Paulista: 10 gols;
Libertadores: 2 gol;
Campeonato Brasileiro: 9 gols. 
Flaco López garantiu vitória do Palmeiras contra o Bahia
Isidro Pitta (Cuiabá) - 21 gols
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_59_8.jpg"></div><p class='foto-descricao'>Pitta comemora gol do Cuiabá contra o Atlético-MG — Foto: AssCom Dourado</p>
Campeonato Mato-Grossense: 6 gols
Copa do Brasil: 1 gol
Copa Verde: 3 gols
Copa Sul-Americana: 4 gols
Campeonato Brasileiro: 7 gols
Atacante Pitta completou 4 meses sem marcar gol no Cuiabá
Luiz Fernando (Atlético-GO) - 21 gols
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_59_9.jpg"></div><p class='foto-descricao'>Luiz Fernando - atacante do Atlético-GO — Foto: Ingryd Oliveira / ACG</p>
Campeonato Goiano: 11 gols
Campeonato Brasileiro: 8 gols
Copa do Brasil: 2 gols
Vasco leva dois gols, mas busca empate com Atlético-GO em São Januário
Júnior Santos (Botafogo) - 20 gols
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_59_10.jpg"></div><p class='foto-descricao'>Júnior Santos comemora gol em Atlético-MG x Botafogo na final da Conmebol Libertadores — Foto: Luis Robayo/AFP</p>
Campeonato Carioca: 5 gols;
Copa do Brasil: 1 gol;
Campeonato Brasileiro: 4 gols;
Libertadores: 10 gols.</p>
<p class='noticia-conteudo'>Aos 51 min do 2º tempo - gol de dentro da área de Júnior Santos do Botafogo contra o Atlético-MG
Raphael Veiga (Palmeiras): 20 gols
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_59_11.jpg"></div><p class='foto-descricao'>Raphael Veiga - Bahia x Palmeiras — Foto: Cesar Greco</p>
Campeonato Paulista: 7 gols;
Libertadores: 2 gols;
Campeonato Brasileiro: 11 gols. 
Vegetti (Vasco): 20 gols
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_59_12.jpg"></div><p class='foto-descricao'>Vegetti - Vasco x Atlético-MG — Foto: André Durão</p>
Campeonato Carioca: 4 gols
Campeonato Brasileiro: 9 gols
Copa do Brasil: 7 gols
Nicolas (Paysandu) - 20 gols
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_59_13.jpg"></div><p class='foto-descricao'>Nicolas, artilheiro do Paysandu na Copa Verde — Foto: Jorge Luís Totti/Paysandu</p>
Campeonato Paraense: 11 gols
Copa Verde: 6 gols
Série B do Brasileiro: 2 gols
Hulk (Atlético-MG) - 19 gols
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_59_14.jpg"></div><p class='foto-descricao'>Hulk Atlético-MG Flamengo Copa do Brasil — Foto: Douglas Magno/AFP</p>
Campeonato Mineiro: 7 gols;
Campeonato Brasileiro: 10 gols;
Copa do Brasil: 1 gol;
Libertadores: 1 gol. 
Hulk explica discussão no fim do jogo e revela fala de Luiz Henrique sobre o Atlético-MG: "Time de vocês é uma m.</p>
<p class='noticia-conteudo'>. . "
Na temporada passada, o atacante German Cano, do Fluminense, foi o artilheiro do Brasil.</p>
<p class='noticia-conteudo'>Em 61 partidas, o argentino balançou as redes em 40 oportunidades.  Pedro, do Flamengo, e Paulinho, do Atlético-MG, com 35 e 31 gols, respectivamente, completaram o pódio. 
Germán Cano tem sofrido com as lesões em 2024
AMÉRICA-MG
ATHLETICO-PR
ATLÉTICO-GO
ATLÉTICO-MG
BOTAFOGO
CRB
CAMPEONATO BRASILEIRO SÉRIE D
CEARÁ
CEILÂNDIA
COPA VERDE
COPA DO BRASIL
CORINTHIANS
CUIABÁ
FLAMENGO
FORTALEZA
PALMEIRAS
PAYSANDU
VASCO.</p>
{% endblock main_content %}

