
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}As seis finais veja planejamento do Botafogo para reta final do Brasileiro e decisão da Libertadores{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>As seis finais: veja planejamento do Botafogo para reta final do Brasileiro e decisão da Libertadores
Clube terá sequência de seis jogos em 18 dias, incluindo jogo decisivo contra Palmeiras e decisão diante de Atlético-MG



Luiz Henrique e Deyverson são os grandes destaques de Botafogo e Atlético-MG, finalistas da Libertadores
A reta decisiva da temporada chegou para o Botafogo.  A equipe comandada por Artur Jorge retorna aos gramados nesta quarta-feira para enfrentar o Atlético-MG, em jogo da 34ª rodada do Brasileiro.  A partir disso, o time vai encarar uma sequência de seis jogos em 18 dias - incluindo a final da Conmebol Libertadores contra o próprio Galo, dia 30, em Buenos Aires.</p>
<p class='noticia-conteudo'>Internamente, Artur Jorge tenta tirar o peso da decisão do torneio continental das costas dos jogadores.  Afinal, o Alvinegro também está na briga pelo título do Brasileirão - o time lidera a competição com quatro pontos de vantagem para o Palmeiras. 
A sequência também inclui a partida contra o Alviverde no Allianz Parque no dia 26, quatro dias antes da final da Libertadores.</p>
<p class='noticia-conteudo'>O discurso adotado é que o Botafogo tem seis finais pela frente.  É claro que há natural peso maior para a decisão da Libertadores, mas o elenco se blinda para manter a cabeça no lugar na busca dos dois campeonatos. 
Planejamento
No dia a dia, Artur Jorge tenta manter todos os jogadores como parte integrada.</p>
<p class='noticia-conteudo'>Como de praxe, o treinador, durante os treinos, não dá pistas do que pode ser o time titular - apesar de o Alvinegro já ter uma espinha dorsal definida.  São várias mudanças realizadas nas diversas atividades colocadas no Espaço Lonier.  A intenção é evitar que algum atleta sinta que possui "lugar carimbado" na escalação.</p>
<p class='noticia-conteudo'>As escalações não terão mistério: apesar da final da Libertadores, a intenção de Artur é escalar o que há de melhor fisicamente para todos os jogos.  A posição é não abrir mão de nenhum campeonato. 
Isso não quer dizer, claro, que jogará sempre o mesmo onze inicial - afinal, o desgaste pela longa sequência de jogos vai acontecer -, mas o português aponta, até agora, que não vai relaxar no Brasileiro mesmo com a decisão continental.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_9_0.jpg"></div><p class='foto-descricao'>Artur Jorge em treino do Botafogo — Foto: Vítor Silva/Botafogo</p>
Quem joga contra o Galo?
O Botafogo tem problemas para a partida contra o Atlético-MG nesta quarta-feira.  Cinco jogadores têm compromissos pelas respectivas seleções no dia anterior da partida do Brasileiro: Igor Jesus e Luiz Henrique (Brasil), Almada (Argentina), Savarino (Venezuela) e Gatito Fernández (Paraguai). 

Na última Data-Fifa, o Botafogo não passou por essa situação de ter jogadores atuando na véspera de jogos do Brasileirão pelas seleções.</p>
<p class='noticia-conteudo'>Chegar em Belo Horizonte nem deve ser um problema de logística, mas a tendência é que o grupo inicie a partida no banco de reservas pelo desgaste. 
A boa notícia fica na conta de Bastos.  O defensor, que estava com a seleção angolana, pediu liberação após os Palancas confirmarem o primeiro lugar no grupo das eliminatórias da Copa Africana de Nações.</p>
<p class='noticia-conteudo'>O camisa 15 já está no Rio de Janeiro, vai treinar e é mais uma opção para o duelo contra o Galo. 


Assista: tudo sobre o Botafogo no ge, na Globo e no sportv
50 vídeos
BOTAFOGO.</p>
{% endblock main_content %}
{% block cor_categoria %}#000000{% endblock cor_categoria %}

