
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}criciuma{% endblock title %}
{% block main_title %}criciuma{% endblock main_title %}
{% block second_title %}Atacante Allano é afastado do Criciúma por indisciplina{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Atacante Allano é afastado do Criciúma por indisciplina
Atleta já havia sido multado por conta dos cartões recebidos na Série A do Brasileiro


O Criciúma afastou por tempo indeterminado o atacante Allano por indisciplina fora dos gramados.  O atleta já havia sido multado em bonificações por conta dos cartões que recebeu na Série A do Brasileiro. 
O estopim para o afastamento de Allano foi com uma declaração após a derrota contra o Vitória na quarta-feira.</p>
<p class='noticia-conteudo'>O atacante começou a partida no banco de reservas e, em entrevista para a rádio Tabelando, ele comentou que foi por opção técnica. 
Porém, o atacante havia sentido um entorse no tornozelo dias antes da partida e, de acordo com o Criciúma, por conta disso ele começou o jogo no banco.  A entrevista não teve uma boa repercussão.</p>
<p class='noticia-conteudo'>A informação foi dada primeiramente pelo repórter Fabrício Júnior, do Tabelando, e confirmada pelo ge. 



<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_15_0.jpg"></div><p class='foto-descricao'>Allano, atacante do Criciúma — Foto: Celso da Luz/ Assessoria de imprensa Criciúma E. C.</p>
<p class='noticia-conteudo'></p>
Emprestado pelo Goiás, Allano tem 25 partidas pelo Criciúma, com um gol marcado e duas assistências. 
O Criciúma volta a entrar em campo na terça-feira, às 19h (de Brasília), contra o Fluminense.  A bola rola no Maracanã, pela 35ª rodada da Série A.</p>
<p class='noticia-conteudo'>Mais informações do esporte catarinense em ge. globo. com/sc.</p>
{% endblock main_content %}

