
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}atletico_mg{% endblock title %}
{% block main_title %}atletico_mg{% endblock main_title %}
{% block second_title %}Atacante do Atlético-MG, Paulinho passa por cirurgia após fratura por estresse na tíbia{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Atacante do Atlético-MG, Paulinho passa por cirurgia após fratura por estresse na tíbia
Jogador passou por procedimento para tratar uma fratura por estresse na tíbia da perna direita e deu início a recuperação; camisa 10 do Galo vai abrir mão das férias para acelerar recuperação

04/12/2024 17h47 Atualizado há 2 horas
O atacante Paulinho, do Atlético-MG, passou por cirurgia nesta quarta-feira.  O procedimento foi realizado em um hospital da Região Centro-Sul de Belo Horizonte, por causa de uma fissura óssea na canela direita do jogador. 


Milito tem desfalques para escalar time do Galo contra o Vasco

O Alético informou que o jogador ainda vai dar início ao processo de recuperação e tratará a lesão ainda no período de férias do elenco profissional.</p>
<p class='noticia-conteudo'>"O atacante Paulinho passou por cirurgia para tratamento de fratura por estresse na tíbia da perna direita nesta quarta-feira (4/12), no hospital Mater Dei.  O atleta seguirá o processo de recuperação da lesão no período de férias do elenco profissional"
Paulinho relatou que acusou o problema no início do ano.  Segundo o atacante, ele jogou durante toda a temporada lesionado.</p>
<p class='noticia-conteudo'>A recuperação do camisa 10 do Atlético-MG tem prazo estimado entre quatro e seis meses. 
O jogador desfalca o Galo nas duas últimas partidas do ano: contra o Vasco, nesta quarta-feira, no Rio de Janeiro, e no domingo, contra o Athletico-PR, em Belo Horizonte.  Paulinho deve voltar a atuar a partir do segundo trimestre de 2025.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_44_0.jpg"></div><p class='foto-descricao'>Atacante do Atlético-MG, Paulinho deve voltar a atuar somente depois do Campeonato Mineiro — Foto: Pedro Souza</p>
O atacante se lesionou após uma pancada em um treinamento.  Paulinho explicou que a lesão piorou conforme os jogos foram passando e que atuou à base de injeções por mais de seis meses. 
- No começo do ano, tive uma lesão num treinamento, uma pancada na canela, provavelmente fez uma pequena fissura, mas passou.</p>
<p class='noticia-conteudo'>Conforme fui jogando, se não me engano, no período da Copa América, a gente ficou muito desfalcado, tive que jogar muito 90 minutos, nesse lugar onde machucou ficou tentando calcificar o osso - explicou o jogador do Galo em entrevista após a final da Libertadores. 
Na temporada 2024, Paulinho disputou 59 partidas, marcou 19 gols e deu quatro assistências.  O jogador foi o artilheiro do Galo na Libertadores, com sete gols.</p>
<p class='noticia-conteudo'>Assista: tudo sobre o Atlético no ge, na Globo e no Sportv
50 vídeos

ATLÉTICO-MG.</p>
{% endblock main_content %}

