
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}atletico_mg{% endblock title %}
{% block main_title %}atletico_mg{% endblock main_title %}
{% block second_title %}Atacante do Atlético-MG, Hulk publica foto com camisa da Seleção após críticas a Luiz Henrique, do Botafogo{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Atacante do Atlético-MG, Hulk publica foto com camisa da Seleção após críticas a Luiz Henrique, do Botafogo
Confusão entre jogadores de Galo e Botafogo em partida pelo Brasileirão esquenta ânimos para decisão da Libertadores entre os times, no dia 30, em Buenos Aires


O atacante Hulk, do Atlético-MG, postou uma foto nas redes sociais com a camisa da Seleção e a taça da Copa das Confederações de 2013.  A publicação acontece um dia após o empate do Galo com o Botafogo, jogo em que o jogador alvinegro fez críticas ao atual atacante da seleção brasileira e jogador do Botafogo, Luiz Henrique. 


Hulk critica Luiz Henrique: "Ele acha que é craque.</p>
<p class='noticia-conteudo'>Ganhou p. ..</p>
<p class='noticia-conteudo'>nenhuma"

Hulk escreveu na foto publicada a data do dia 30/06/2013.  Naquele dia, a seleção brasileira foi campeã da Copa das Confederações.  Nessa quarta-feira, o camisa 7 do Galo criticou Luiz Henrique, do Botafogo.</p>
<p class='noticia-conteudo'>“Luiz Henrique falou “vocês são uma m#. ..</p>
<p class='noticia-conteudo'>”.  Ele tem cinco jogos na Seleção, acha que é craque, não ganhou p..</p>
<p class='noticia-conteudo'>.  nenhuma.  Ele falou no intervalo do jogo.</p>
<p class='noticia-conteudo'>Ele tem cinco chutes na Seleção, eu tenho sete anos na seleção, ele tem que correr para caramba. ” - disse Hulk. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_1_0.jpg"></div><p class='foto-descricao'>Hulk posta foto com camisa da seleção e taça de campeão da Copa das Confederações — Foto: Divulgação</p>
- O Matheus Mendes jurou pela família no intervalo de jogo, o Luiz Henrique virou e falou: "O time de vocês é muito fraco, uma m#.</p>
<p class='noticia-conteudo'>. . ".</p>
<p class='noticia-conteudo'>Ele tem tudo para ser um craque, mas não é ainda.  Está fazendo um grande ano.  Que sirva como aprendizado, que ele precisa ralar muito.</p>
<p class='noticia-conteudo'>"Tenho 20 anos de carreira e nunca falei que um time é uma "m#. ..</p>
<p class='noticia-conteudo'>".  Que ele aprenda com o erro dele.  Tem tudo para ser craque, mas primeiro tem que ser craque como pessoa"!
O clima da partida ficou tenso durante grande parte do jogo.</p>
<p class='noticia-conteudo'>Sem torcida, foi possível ouvir os ânimos exaltados no gramado, no Independência.  As duas equipes se enfrentam dia 30 de novembro, em Buenos Aires, pela final da Conmebol Libertadores. 
Assista: tudo sobre o Atlético no ge, na Globo e no Sportv
50 vídeos

ATLÉTICO-MG.</p>
{% endblock main_content %}

