
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}athletico_pr{% endblock title %}
{% block main_title %}athletico_pr{% endblock main_title %}
{% block second_title %}Athletico publica carta ao torcedor, justifica erros e se prepara para nova realidade na Série B{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Furacão pede desculpas pelo rebaixamento no Brasileirão: "Digno de toda lamentação"



Athletico é rebaixado no ano do centenário

Entre os assuntos, o Athletico explica também as mudanças no departamento de futebol, com as demissões do técnico Lucho González, do diretor técnico Paulo Autuori, do gestor desportivo Paulo Miranda, além da saída do auxiliar técnico da comissão permanente, Juca Antonello. 
️ Mais notícias do Athletico
 Clique aqui e siga o canal ge Athletico no WhatsApp
- É imperativo pensar o futuro e a necessidade de dar novo direcionamento de rotas.  Para isso, já iniciamos uma reestruturação ampla na área do futebol e trabalhamos por uma adaptação mais rápida possível para a realidade que enfrentaremos na próxima temporada - escreveu o Athletico.</p>
<p class='noticia-conteudo'>Além disso, quando fala sobre a vinda das SAFs ao futebol brasileiro e aponta um "desequilíbrio financeiro", o Athletico lembrou também que fez em 2024 um dos maiores investimentos em contratações, quase todas no começo do ano, gastando mais de R$ 80 milhões.  Porém, a maioria dos reforços não deu o retorno esperado em campo. 
- Mesmo assim, é preciso dizer que o CAP aportou um investimento em seu Departamento de Futebol maior que o realizado nos anos de 2022 e 2023.</p>
<p class='noticia-conteudo'>Infelizmente, pelo imponderável da bola e pela incerteza inerentes a cada contratação, não acertamos. 
O elenco principal do Athletico entrou em férias e se reapresenta apenas no dia 8 de janeiro.  A estreia no Campeonato Paranaense será no dia 14 de janeiro, contra o Paraná Clube.</p>
<p class='noticia-conteudo'>O Furacão iniciará o estadual com uma base sub-20.  Além do estadual, o time terá a Copa do Brasil e a Série B. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_376_0.jpg"></div><p class='foto-descricao'>Arena da Baixada bandeirinha bandeira Athletico — Foto: Gustavo Oliveira/Athletico</p>

Carta ao torcedor athleticano
Antes de tudo, é preciso pedir desculpas pelo triste resultado esportivo de 2024.</p>
<p class='noticia-conteudo'>O descenso do Athletico Paranaense é doloroso e digno de toda lamentação, pois esta Instituição se tornou nas últimas décadas sinônimo de grandeza e orgulho para todo o povo paranaense e sua fanática torcida. 
Apesar de fazer parte da vida competitiva e esportiva o ganhar e perder, não é fácil absorver e entregar este decepcionante resultado para todos vocês, que assim como nós, amam e vivem diariamente este Club.  É necessário com muita humildade reconhecer que muitos erros foram cometidos, mas também é fundamental refletir sobre eles e aperfeiçoar nosso caminho para o futuro.</p>
<p class='noticia-conteudo'>O futebol brasileiro, como indústria que é hoje, traz um cenário diverso do que tínhamos em nosso passado recente, em que passamos a ocupar um espaço de destaque entre os grandes, como reflexo da nossa boa organização e profissionalismo, mas também como resposta ao estado de vulnerabilidade econômica de muitos clubes.  Agora, com a redução significativa do sistema associativo do futebol brasileiro com vinda das SAF’s e a injeção de aporte financeiro por investidores na formação de blocos econômicos para negociação de seus direitos (caso das ligas), é notório um novo desequilíbrio financeiro, acompanhado de outras e maiores demandas por parte do mercado. 
Mesmo assim, é preciso dizer que o CAP aportou um investimento em seu Departamento de Futebol maior que o realizado nos anos de 2022 e 2023.</p>
<p class='noticia-conteudo'>Infelizmente, pelo imponderável da bola e pela incerteza inerentes a cada contratação, não acertamos. 
O calendário anual das copas, que faz a maioria dos seus disputantes a desfocar do Campeonato Brasileiro, e o desencontro do calendário brasileiro com a principal janela europeia de contratações também levam a refletir as perdas significativas de atletas que estão em plena competição nacional. 
É imperativo pensar o futuro e a necessidade de dar novo direcionamento de rotas.</p>
<p class='noticia-conteudo'>Para isso, já iniciamos uma reestruturação ampla na área do futebol e trabalhamos por uma adaptação mais rápida possível para a realidade que enfrentaremos na próxima temporada. 
A visão do futuro nos exige todos os sacrifícios, sem nos desconectar dos princípios de governança que nos levaram a ser referência de modernidade e boa gestão. 
Como tudo que é mais valoroso na vida, é preciso estarmos juntos, nas alegrias e nas tristezas.</p>
<p class='noticia-conteudo'>Contigo, ATHLETICO PARANAENSE, até o fim.  Vencemos juntos e perdemos juntos.  Que a reta final deste ano seja valorada pela união e a força incansáveis que demonstramos com nossa casa cheia, apoiando incondicionalmente o Furacão.</p>
<p class='noticia-conteudo'>A Direção. 

Mais notícias do esporte paranaense no ge. globo/pr.</p>
{% endblock main_content %}

