
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Athletico Nikão volta do intervalo com camisa errada e faz gol estampando patrocínio suspenso{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Athletico: Nikão volta do intervalo com "camisa errada" e faz gol estampando patrocínio suspenso
Ídolo do Furacão balança a rede contra o Atlético-GO usando a versão anterior



Athletico-PR 2 x 0 Atlético-GO | Melhores Momentos | 34ª Rodada | Brasileirão 2024
O meia Nikão voltou do intervalo do jogo entre Athletico e Atlético-GO com a "camisa errada" e balançou a rede estampando a marca da bet que teve o contrato de patrocinador master suspenso pelo clube.  O gol foi o segundo do Furacão no jogo desta quarta-feira, na Ligga Arena, pela 34ª rodada do Campeonato Brasileiro. 
🗞️ Mais notícias do Athletico
✅ Clique aqui e siga o canal ge Athletico no WhatsApp
Antes do gol, colegas e membros da comissão técnica que estavam no banco de reservas tentaram avisar Nikão da camisa errada.</p>
<p class='noticia-conteudo'>Só na comemoração do gol, quando Fernandinho falou ao ouvido do camisa 11, a camisa foi trocada. 

O Athletico usa camisa sem patrocínio deste outubro, quando o clube suspendeu o contrato de patrocínio com a empresa Esportes da Sorte e solicitou a interrupção imediata da exposição da marca junto ao clube. 
Na época, a operação "Integration" investigava plataformas de aposta online que patrocinam clubes de futebol brasileiros, e a bet que era patrocinadora master do Furacão não ficou na lista de casas de apostas liberadas para atuar no Brasil.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_11_0.jpg"></div><p class='foto-descricao'>Nikão usa camisa com patrocínio no Athletico — Foto: Reprodução/Rede Furacão</p>

50 vídeos
Mais notícias do esporte paranaense em ge. globo/pr
ATHLETICO-PR.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

