
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Athletico x Bragantino torcedores tentam invadir o gramado da Arena, e polícia intervém; assista{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Athletico x Bragantino: torcedores tentam invadir o gramado da Arena, e polícia intervém; assista
Grupo chega a abrir portão de acesso ao gramado, mas é parado pela polícia; Athletico perde por 2 a 1, no último jogo em casa no ano, e segue com risco de rebaixamento

05/12/2024 23h10 Atualizado há 12 horas

Após derrota do Athletico, torcedores se envolvem em confusão na arquibancada; veja
Torcedores do Athletico tentaram invadir o gramado da Ligga Arena após a derrota do Furacão para o Bragantino, por 2 a 1, nesta quinta-feira, pela penúltima rodada do Campeonato Brasileiro. 
Após o apito final, um grupo começou a chutar os vidros que separam a arquibancada do gramado e também a empurrar um dos portões de acesso.  Seguranças tentaram conter inicialmente, os torcedores conseguiram abrir o portão, e a Polícia Militar precisou intervir com cassetetes e bombas de efeito moral.</p>
<p class='noticia-conteudo'>️ Mais notícias do Athletico
 Clique aqui e siga o canal ge Athletico no WhatsApp
Durante a partida, alguns copos foram arremessados no gramado.  Este foi o último jogo do Athletico em casa na temporada.  O Furacão perdeu para o Bragantino em confronto direto e vai para a última rodada do Campeonato Brasileiro ainda ameaçado de rebaixamento.</p>
<p class='noticia-conteudo'>O Bragantino abriu o placar aos 13 minutos do primeiro tempo.  Após cruzamento de Andres Hurtado, Eduardo Sasha antecipou a marcação e marcou.  O empate do Furacão veio na etapa final, aos 28 minutos.</p>
<p class='noticia-conteudo'>Erick aproveitou cruzamento de Zapelli e deixou tudo igual. 


Esse resultado, aliado à vitória do Fluminense, estava livrando o Athletico e rebaixando o Bragantino.  Até que aos 36 minutos, Eduardo Sasha aproveitou uma sobra e aproveitou o goleiro Mycael fora da posição para bater de primeira e garantir a vitória do Massa Bruta.</p>
<p class='noticia-conteudo'>O Athletico encara agora o Atlético-MG, no domingo, às 16h (de Brasília), na Arena MRV, pela última rodada do Campeonato Brasileiro. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_122_0.jpg"></div><p class='foto-descricao'>Polícia intervém em ação de torcedores do Athletico na Ligga Arena — Foto: Reprodução/ge</p>
Mais notícias do esporte paranaense no ge. globo/pr
ATHLETICO-PR
BRAGANTINO.</p>
{% endblock main_content %}

