
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}atletico_mg{% endblock title %}
{% block main_title %}atletico_mg{% endblock main_title %}
{% block second_title %}Atlético-MG x Flamengo suspeito de atirar bomba que feriu fotógrafo será indiciado por tentativa homicídio{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Atlético-MG x Flamengo: suspeito de atirar bomba que feriu fotógrafo será indiciado por tentativa homicídio
Caso ocorreu na final da Copa do Brasil, disputada na Arena MRV; incidentes provocaram a interdição do estádio

18/11/2024 08h13 Atualizado
Em coletiva na manhã desta segunda-feira, o governo de Minas Gerais e a Polícia Civil detalharam a prisão do suspeito de atirar a bomba que feriu o fotógrafo Nuremberg José Maria, de 67 anos, durante a partida entre Atlético-MG e Flamengo, no dia 10, na Arena MRV, na final da Copa do Brasil.  O homem, que foi preso durante o fim de semana, vai ser indiciado por tentativa de homicídio. 


Fotógrafo atingido por bomba na arena MRV tem alta hospitalar e fala sobre trauma

Mateus Simões, vice-governador de MG, informou que o detido tem 25 anos, mora em Contagem e não tem passagem pela polícia.</p>
<p class='noticia-conteudo'>O suspeito teria atirado vários artefatos em direção ao gramado.  Cerca de 300 sinais gravados de imagens foram utilizados na investigação, que identificou o homem na sexta-feira, levando ao mandato de prisão, cumprido no domingo. 
- Ele não é parte de uma das organizadas pela forma como eles se identificam, mas ele estava no meio da organizada pela forma como ele adquiriu o ingresso.</p>
<p class='noticia-conteudo'>Ele entra com as bombas porque o sistema de revista é frágil.  E é por isso que nós (governo estadual) queremos assumir esse sistema de revista em jogos mais críticos - disse Simões
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_3_0.jpg"></div><p class='foto-descricao'>Coletiva na Polícia Civil explica prisão de suspeito de atirar bomba que feriu fotógrafo — Foto: Luciana Machado</p>
Nuremberg foi atingido por um artefato arremessado em direção ao campo.  Na explosão, ele fraturou três dedos e rompeu um dos tendões do pé.</p>
<p class='noticia-conteudo'>Depois de cinco dias internado, o fotógrafo recebeu alta hospitalar na sexta-feira.  O profissional atua como autônomo e está impossibilitado de trabalhar nos próximos três meses. 
- Eu trabalho, eu como.</p>
<p class='noticia-conteudo'>Se não trabalho, não como.  É simplesmente assim - disse o fotógrafo em entrevista ao Esporte Espetacular (confira no vídeo acima). 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_3_1.jpg"></div><p class='foto-descricao'>Fotógrafo Nuremberg José Maria foi atingido por bomba atirada pela torcida do Atlético-MG — Foto: Dhavid Normando/Código 19/Folhapress</p>
Além do caso de Nuremberg, a partida teve outros incidentes registrados em súmula, que levaram o Superior Tribunal de Justiça Desportiva (STJD) a interditar provisoriamente a Arena MRV.</p>
<p class='noticia-conteudo'>Os advogados do Atlético recorreram da decisão e tentam que o time atue no estádio com portões fechados até o julgamento do caso. 
O Atlético anunciou, na quinta-feira, que identificou mais de 20 pessoas envolvidas nos incidentes que ocorreram na final da Copa do Brasil.  Além de responderem criminalmente, o clube promete punir os identificados administrativamente, de acordo com as regras de utilização da Arena MRV e do programa de sócio-torcedor.</p>
<p class='noticia-conteudo'>A diretoria do Atlético planeja mudanças para os futuros jogos no estádio. 
Arena MRV vai passar por mudança para aumentar segurança
No mesmo dia, o governo de Minas Gerais informou que pretende discutir com os clubes mineiros um modelo de financiamento para aumentar a segurança nos estádios de futebol.  Vai ser discutida uma forma de reforçar do efetivo da Polícia Militar durante os jogos e o modelo de financiamento dessas operações.</p>
<p class='noticia-conteudo'>Nesta quarta-feira, às 21h30, o Atlético enfrenta o Botafogo, no Independência, pelo Brasileirão, sem a presença de torcedores.  O Galo ainda faz mais dois jogos em Belo Horizonte, contra Juventude e Athletico-PR, até o fim da temporada. 
Assista: tudo sobre o Atlético no ge, na Globo e no Sportv
50 vídeos

ATLÉTICO-MG.</p>
{% endblock main_content %}
{% block cor_categoria %}#ff0000{% endblock cor_categoria %}

