
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}atletico_mg{% endblock title %}
{% block main_title %}atletico_mg{% endblock main_title %}
{% block second_title %}Atlético-MG x Botafogo sem Arena MRV, Galo jogará no Independência com portões fechados{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Atlético-MG x Botafogo: sem Arena MRV, Galo jogará no Independência com portões fechados
Mudança acontece após interdição da Arena MRV por incidentes na final da Copa do Brasil


O duelo entre Atlético-MG e Botafogo, pela 34ª rodada do Campeonato Brasileiro, será realizado no Independência e com portões fechados, às 21h30 da próxima quarta-feira.  O motivo é a interdição da Arena MRV, pelo STJD, após os incidentes na final da Copa do Brasil, contra o Flamengo. 


Everson tem noite brilhante e evita outra derrota do Galo para o Flamengo

A informação sobre o jogo contra o Botafogo no Independência foi divulgada inicialmente pela Itatiaia e confirmada pelo ge.</p>
<p class='noticia-conteudo'>O Atlético ainda não confirma oficialmente a mudança. 
Segundo apuração da reportagem, resta a assinatura do contrato - que está nas mãos do clube -, para que haja a oficialização do acordo com o América, administrador do Independência. 
Além de ter fechado o estádio, o STJD determinou também que o Atlético jogue sem público até o julgamento do caso, que ainda não tem data para ocorrer.</p>
<p class='noticia-conteudo'>O clube tenta a reconsideração da decisão para jogar na Arena MRV de portões fechados. 
O Atlético ainda terá outros dois jogos em casa nesta temporada, contra Juventude e Athletico-PR, na 36ª e 38ª rodadas, respectivamente.  Com a perda do título da Copa do Brasil, o Galo tenta arrancar na reta final do Brasileirão para garantir vaga na próxima Libertadores – o que também acontecerá em caso de título da competição neste ano, contra o Botafogo, no dia 30.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_9_0.jpg"></div><p class='foto-descricao'>Independência receberá duelo entre Atlético e Botafogo — Foto: Paula Reis/CRF</p>
Nessa quinta-feira, o Atlético informou que conseguiu identificar 21 envolvidos nos incidentes do jogo contra o Flamengo e avançou também para identificação de outros nove.  O clube promete tomar medidas administrativas contra essas pessoas, tanto na Arena MRV, quanto no programa de sócios-torcedores
Assista: tudo sobre o Atlético no ge, na Globo e no Sportv
50 vídeos

ATLÉTICO-MG.</p>
{% endblock main_content %}
{% block cor_categoria %}#000000{% endblock cor_categoria %}

