
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}flamengo{% endblock title %}
{% block main_title %}flamengo{% endblock main_title %}
{% block second_title %}Atlético-MG x Flamengo suspeito de jogar bomba que feriu fotojornalista é preso{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Atlético-MG x Flamengo: suspeito de jogar bomba que feriu fotojornalista é preso
Caso aconteceu no domingo passado, na Arena MRV, na final da Copa do Brasil


O suspeito de arremessar a bomba que feriu um fotojornalista durante a final da Copa do Brasil entre Atlético-MG e Flamengo foi preso na manhã deste domingo.  A informação foi divulgada pelo vice-governador de Minas Gerais, Mateus Simões, em uma rede social. 


Fotógrafo atingido por bomba na arena MRV tem alta hospitalar e fala sobre trauma

O caso aconteceu em 10 de novembro, na Arena MRV, em Belo Horizonte, no jogo de volta que sagrou o time rubro-negro campeão.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_27_0.jpg"></div><p class='foto-descricao'>Fotógrafo Nuremberg José Maria é atingido por bomba atirada pela torcida do Atlético-MG na final da Copa do Brasil e vai para hospital — Foto: Dhavid Normando/Código 19/Folhapress</p>
Durante atos de vandalismo cometidos por atleticanos, o fotógrafo Nuremberg José Maria, de 67 anos, foi atingido por uma bomba arremessada em direção ao campo.  Ele fraturou três dedos e rompeu um dos tendões do pé. 
Após cinco dias internado, o profissional recebeu alta hospitalar na manhã de sexta-feira.</p>
<p class='noticia-conteudo'>Segundo o vice-governador, mais detalhes da prisão serão repassados em uma entrevista coletiva na manhã desta segunda-feira. 
Assista: tudo sobre o Atlético no ge, na Globo e no Sportv
50 vídeos

ATLÉTICO-MG.</p>
{% endblock main_content %}
{% block cor_categoria %}#ff0000{% endblock cor_categoria %}

