
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}atletico_mg{% endblock title %}
{% block main_title %}atletico_mg{% endblock main_title %}
{% block second_title %}Atlético-MG faz consulta por Luís Castro, ex-Botafogo{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Atlético-MG faz consulta por Luís Castro, ex-Botafogo
Milito deixou o clube em comum acordo na noite dessa quarta-feira após derrota para o Vasco; Galo quer acelerar busca por treinador pensando no planejamento de 2025

05/12/2024 00h01 Atualizado há 11 horas

Vasco 2 x 0 Atlético-MG | Melhores momentos | 37ª rodada | Brasileirão 2024
O Atlético-MG fez o primeiro contato com o treinador português Luís Castro para substituir o argentino Gabriel Milito, que deixou o clube nessa quarta-feira.  O técnico europeu está disponível no mercado desde que deixou o Al Nassr, da Arábia Saudita, em setembro deste ano, após sequência negativa. 


A informação da busca pelo treinador por parte do time mineiro foi antecipada pela Rádio 98 e confirmada pelo ge, que avançou.</p>
<p class='noticia-conteudo'>O contato com o português aconteceu após a final da Libertadores, no sábado, na Argentina.  O Galo perdeu para o Botafogo por 3 a 1, com o rival com um jogador a menos por mais de 90 minutos.  A derrota ampliou o jejum do Galo e o desgaste de Milito no comando da equipe.</p>
<p class='noticia-conteudo'>O primeiro contato foi para saber e o português estaria disposto a abrir conversas.  Seguem os trâmites iniciais.  A reportagem apurou que o português ouviu outras propostas e que só vai tomar qualquer decisão após dia 15 de dezembro.</p>
<p class='noticia-conteudo'>O treinador também é alvo do Santos. 
Na temporada passada, Luís Castro foi responsável pela excelente campanha do Botafogo no Campeonato Brasileiro no primeiro turno antes da derrocada final e perda do título para o Palmeiras.  O técnico deixou o time carioca em julho de 2023 para assumir o Al Nassr, de Cristiano Ronaldo.</p>
<p class='noticia-conteudo'>O nome do treinador agrada a aos donos do clube.  Victor foi questionado após o jogo sobre o português, mas não quis cravar conversas.  O diretor de futebol falou em acelerar o planejamento de 2025.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_61_0.jpg"></div><p class='foto-descricao'>Técnico Luis Castro - Al-Fateh x Al-Nassr - Campeonato Saudita — Foto: Divulgação / Al-Nassr</p>
- Você colocou o nome do Luís, realmente um grande treinador, fez um bom trabalho no Botafogo, mas como eu falei, acho que é um momento de acelerarmos também o planejamento para o ano que vem, passando também pela busca de um treinador que tem o perfil e que tem a capacidade de extrair o melhor dos atletas que nós temos e também daqueles que eventualmente vem chegar para a temporada que vem - disse Victor. 
Sem chance de disputar a Libertadores, o time vai em busca de uma vaga na Sul-Americana na última rodada do Brasileirão.  O Galo tem somente 44 pontos no Brasileirão e é o 14 colocado.</p>
<p class='noticia-conteudo'>No fim de semana, enfrenta o Athletico-PR, na Arena MRV, com portões fechados sob o comando de Lucas Gonçalves, auxiliar técnico fixo da comissão atleticana. 
Assista: tudo sobre o Atlético no ge, na Globo e no Sportv
50 vídeos

ATLÉTICO-MG.</p>
{% endblock main_content %}

