
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Atlético-MG faz as contas para confirmar Sul-Americana diante do Vasco e encerrar risco de queda{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Atlético-MG faz as contas para confirmar Sul-Americana diante do Vasco e encerrar risco de queda
Galo só depende dele em ambos os casos, mas ainda pode chegar no desespero na última rodada



O que o Atlético deixou de faturar perdendo a final da Libertadores pro Botafogo
De duas finais em mata-matas, o Atlético-MG chega às duas últimas rodadas do Campeonato Brasileiro fazendo contas para garantir uma vaga na Copa Sul-Americana e se livrar de qualquer chance matemática de ser rebaixado.  Contra o Vasco, nesta quarta-feira, às 19h, em São Januário, o clube tenta alcançar um resultado positivo para só cumprir tabela na última rodada. 


O Galo só depende de si para estar na Sul-Americana em 2025.</p>
<p class='noticia-conteudo'>Com uma vitória, o Alvinegro chega aos 47 pontos.  Ele torce para que Juventude ou Athletico-PR tropecem na rodada.  Caso isso aconteça, garante vaga uma rodada antes do fim.</p>
<p class='noticia-conteudo'>Em caso de empate, a decisão da vaga fica para a última rodada, mas escapa matematicamente da queda (o Galo pode afastar o risco de rebaixamento até com derrota na rodada, mas dependeria de resultados dos times do Z-4). 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_33_0.jpg"></div><p class='foto-descricao'>Time do Atlético-MG; Libertadores — Foto: JUAN MABROMATA / AFP</p>
A tarefa não é fácil.  O Atlético carrega um jejum de 11 partidas sem vencer.</p>
<p class='noticia-conteudo'>O último triunfo foi no dia 22 de outubro, pela semifinal da Libertadores.  Desde então, foram sete derrotas e quatro empates. 
Já o Vasco ainda sonha uma possível vaga na pré-Libertadores.</p>
<p class='noticia-conteudo'>Para isso, precisa vencer os dois jogos e contar com uma grande combinação de resultados. 
"Agora é juntar os cacos", lamenta Carol após vice na Libertadores | A Voz da Torcida
Assista: tudo sobre o Atlético no ge, na Globo e no Sportv
50 vídeos

ATLÉTICO-MG.</p>
{% endblock main_content %}

