
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}atletico_mg{% endblock title %}
{% block main_title %}atletico_mg{% endblock main_title %}
{% block second_title %}Atlético-MG em Buenos Aires privacidade e diária de R$ 1,5 mil; conheça a concentração do Galo{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Atlético-MG em Buenos Aires: privacidade e diária de R$ 1,5 mil; conheça a concentração do Galo
Resort fica na região de La Plata, a cerca de 30km do centro de Buenos Aires; são 118 quartos reservados de forma exclusiva para o time



Voz do Setorista: Laura Rezende detalha a chegada do Atlético a Buenos Aires
O Atlético-MG está hospedado em um resort cinco estrelas, na região de La Plata, a cerca de 30 km do centro de Buenos Aires, para a final da Conmebol Libertadores.  O local é novo.  O Galo é o segundo "hóspede" do hotel.</p>
<p class='noticia-conteudo'>Recentemente, o rival Cruzeiro ficou no mesmo hotel para a disputa da Sul-Americana.  O local foi escolhido pela Conmebol, assim como o hotel onde o Botafogo está acomodado. 
Em sites de reservas, as diárias são em média de R$ 1,5 mil.</p>
<p class='noticia-conteudo'>A Conmebol arca com as despesas de 35 pessoas da delegação.  Pelo que ge apurou, o Galo viajou com 90 pessoas e vai custear o restante das diárias e despesas.  O local está reservado de forma exclusiva para a delegação alvinegra.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_49_0.jpg"></div><p class='foto-descricao'>Hotel do Atlético-MG na Argentina — Foto: Reprodução</p>
O resort oferece 118 quartos, uma moderna academia, centro de convenção, restaurantes e até mesmo um spa.  O site oficial ainda cita privacidade para hóspedes e um conceito exclusivo de condomínio para casas residenciais, que também fazem parte do complexo. 
Entenda quais os problemas o Atlético-MG precisa resolver antes de duelo contra o Botafogo
O Galo viajou com 90 pessoas na delegação entre jogadores, funcionários e membros da diretoria da SAF e da associação.</p>
<p class='noticia-conteudo'>Até mesmo parte do grupo dos 4R’s, como Ricardo Guimarães e Renato Salvador, ficará hospedado no resort.  Os outros donos do clube chegam a Buenos Aires nesta quinta-feira.  Rubens e Rafael Menin ficarão em outro hotel.</p>
<p class='noticia-conteudo'>Veja imagens:
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_49_1.jpg"></div><p class='foto-descricao'>Hotel do Atlético-MG na Argentina — Foto: Reprodução</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_49_2.jpg"></div><p class='foto-descricao'>Hotel do Atlético-MG na Argentina — Foto: Reprodução</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_49_3.jpg"></div><p class='foto-descricao'>Hotel do Atlético-MG na Argentina — Foto: Reprodução</p>
Assista: tudo sobre o Atlético no ge, na Globo e no Sportv
50 vídeos

ATLÉTICO-MG.</p>
{% endblock main_content %}

