
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Atlético-MG{% endblock title %}
{% block main_title %}Atlético-MG{% endblock main_title %}
{% block second_title %}Atlético-MG x Botafogo torcedores reclamam de agência por cancelamento de pacote da Libertadores{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Atlético-MG x Botafogo: torcedores reclamam de agência por cancelamento de pacote da Libertadores
Empresa não retorna as tentativas de comunicação dos clientes em busca de respostas


Torcedores reclamam da agência de turismo Outsider por cancelamento de pacote de viagem para Buenos Aires, onde Atlético-MG e Botafogo decidem a Libertadores, neste sábado.  O pacote incluía voo e ingresso para a partida.  As queixas foram feitas em site próprio para denúncias de empresas.</p>
<p class='noticia-conteudo'>Atlético-MG faz reconhecimento de gramado antes da final da Libertadores

A empresa fornecia venda separada de ingresso, hospedagem e hotel, mas também tinha pacote com os três itens inclusos.  Inicialmente, a Outsider informou aos torcedores que o voo de ida para Buenos Aires partiria de Belo Horizonte às 9h (de Brasília) desta sexta, com volta no domingo, às 13h.  Nesta semana, passageiros receberam uma ligação a respeito de uma mudança.</p>
<p class='noticia-conteudo'>A mudança foi que o voo de ida passou para a madrugada de sábado, dia da final, às 3h15.  O retorno também foi alterado, passando para domingo, às 6h.  Torcedores que compraram o pacote alegam que receberam ligações na manhã desta sexta-feira sendo informados do cancelamento e orientação para reembolso.</p>
<p class='noticia-conteudo'>No site de denúncias de empresas, há relatos de que a agência não retorna os clientes e nem atende as ligações. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_93_0.jpg"></div><p class='foto-descricao'>Torcedores reclamam de agência por cancelamento de pacote da Libertadores — Foto: Reprodução</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_93_1.jpg"></div><p class='foto-descricao'>Torcedores reclamam de agência por cancelamento de pacote da Libertadores — Foto: Reprodução</p>
Um torcedor do Atlético que sofreu com o cancelamento em cima da hora, concedeu uma entrevista ao ge.  Felipe Cardoso Campos conta que comprou antecedência para não ter risco de ficar sem a passagem para ir a final, mas na manhã desta sexta-feira também foi surpreendido com o cancelamento do voo.</p>
<p class='noticia-conteudo'>"Hoje, por volta de 10 da manhã, 11h, uma pessoa da empresa me ligou falando que não tiveram pessoas suficientes no voo e vão ter que cancelar o meu pacote.  Pediram para eu mandar um e-mail com informações pedindo reembolso.  Fiquei tão desesperado na hora que eu nem lembro quais informações.</p>
<p class='noticia-conteudo'>"
Felipe Cardoso gastou R$ 7,5 mil com as passagens.  O torcedor do Galo afirma estar desolado com o cancelamento e ainda busca respostas. 
- Estou desesperado e desolado.</p>
<p class='noticia-conteudo'>Eu não quero reembolso, processo, nada.  Só quero ir ver o jogo, é um sonho de criança.  Sempre quis ir ver o Galo fora do país e é uma oportunidade única, final da Libertadores, que até agora está sendo tirada de mim por uma irresponsabilidade dessa empresa.</p>
<p class='noticia-conteudo'>Eles vendem um sonho e um dia antes cancela. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_93_2.jpg"></div><p class='foto-descricao'>Avião vazio antes da decolagem — Foto: Thiago Ferri</p>
Felipe também disse que conseguiu o contato de uma pessoa da agência, que o informou que tentaria realocar quem teve o voo cancelado para um voo neste sábado, às 7h, mas que seria muito difícil por não ser uma aeronave da agência. 
Posicionamento da agência
O ge procurou a agência em busca de um posicionamento sobre os cancelamentos dos voos e as reclamações dos torcedores.</p>
<p class='noticia-conteudo'>"Depois da Latam cancelar dois aviões para Buenos Aires no dia de hoje (sexta-feira), seis passageiros nossos foram impactados com esse cancelamento, e precisamos reacomoda-los.  Nos causa estranhamento após uma grande empresa cancelar dois aviões e deixar 400 passageiros no chão, o assunto seja sobre a reacomodação de meia dúzia de passageiros. "
Assista: tudo sobre o Atlético no ge, na Globo e no Sportv
50 vídeos

ATLÉTICO-MG.</p>
{% endblock main_content %}

