
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}atletico_mg{% endblock title %}
{% block main_title %}atletico_mg{% endblock main_title %}
{% block second_title %}Atlético-MG x Botafogo dono do Galo lamenta jogo com portões fechados Todos saem prejudicados{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Atlético-MG x Botafogo: dono do Galo lamenta jogo com portões fechados: "Todos saem prejudicados"
Arena MRV está interditada por ocorridos na final da Copa do Brasil


Atlético-MG e Botafogo entram em campo nesta quarta-feira.  Rubens Menin, um dos donos da SAF do Galo, utilizou uma rede social para lamentar o fato de a partida ser com portões fechados.  Veja a nota ao longo da matéria.</p>
<p class='noticia-conteudo'>Atlético-MG x Botafogo: saiba tudo sobre o jogo da 34ª rodada do Brasileirão Série A 2024

O cartola atleticano disse que muitos foram punidos pelas ações da minoria.  Menin ainda citou o prejuízo financeiro que o clube terá sem poder mandar seus jogos com a torcida atleticana presente. 
Menin reforçou que o Galo segue colaborando com as autoridades para responsabilizar os envolvidos nas confusões da final da Copa do Brasil.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_0.jpg"></div><p class='foto-descricao'>Rubens Menin, dono da SAF do Atlético-MG — Foto: Gilson Lobo/AGIF</p>
A nota
Hoje tem Galo, dia de uma grande e, por razões evidentes, importante partida contra o Botafogo.  Infelizmente, ela será realizada de portões fechados.  A maioria que ama futebol é prejudicada pela irresponsabilidade e falta de inteligência de poucos.</p>
<p class='noticia-conteudo'>Isso sem contar o prejuízo financeiro para o time.  Resumindo: uma situação onde todos saem prejudicados. 
O Atlético segue colaborando com as autoridades para responsabilizar os envolvidos no incidente, um deles detido pela Polícia Civil nesta semana.</p>
<p class='noticia-conteudo'>O Galo também apoiou integralmente o fotógrafo atingido, custeando as despesas do seu tratamento.  Seguimos. 
Relembre o que aconteceu
O Atlético-MG foi punido, provisoriamente, pelo Superior Tribunal de Justiça Desportiva (SJTD), com a interdição da Arena MRV devido aos incidentes na final da Copa do Brasil, contra o Flamengo, no último domingo.</p>
<p class='noticia-conteudo'>No mais grave deles, um fotógrafo atingido por uma bomba.  Com isso, o Galo terá de atuar em outro estádio e com portões fechados. 
Assista: tudo sobre o Atlético no ge, na Globo e no Sportv
50 vídeos

ATLÉTICO-MG.</p>
{% endblock main_content %}
{% block cor_categoria %}#000000{% endblock cor_categoria %}

