
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}atletico_mg{% endblock title %}
{% block main_title %}atletico_mg{% endblock main_title %}
{% block second_title %}Atlético-MG, Fluminense, Athletico e Bragantino buscam permanência na Série A; veja chances na última rodada{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Atlético-MG, Fluminense, Athletico e Bragantino buscam permanência na Série A; veja chances na última rodada
Quem vencer permanece na Série A! Atlético-MG recebe Athletico-PR em confronto direto, Fluminense viaja para enfrentar o vice-líder Palmeiras, e Bragantino recebe o já rebaixado Criciúma

06/12/2024 07h00 Atualizado há 5 horas

Fluminense 1 x 0 Cuiabá | Melhores momentos | 37ª rodada | Brasileirão 2024
A última rodada do Brasileirão será extraordinária.  Quatro times buscam a permanência na elite nacional, mas um deles disputará a Série B em 2025.  Athetico-PR, Atlético-MG, Bragantino e Fluminense vão campo no domingo, às 16h.</p>
<p class='noticia-conteudo'>Quem vencer fica na Série A. 
Atlético-MG e Athletico-PR fazem um confronto direto na Arena MRV, em Belo Horizonte, sem público.  O time que conseguir os três pontos permanece.</p>
<p class='noticia-conteudo'>O Fluminense viaja para São Paulo para enfrentar o Palmeiras, que precisa vencer para buscar seu inédito tricampeonato brasileiro.  O Bragantino recebe o Criciúma, que com os resultados da rodada, disputará a Série no ano que vem. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_130_0.jpg"></div><p class='foto-descricao'>— Foto: Info esporte</p>
O Atlético-MG tem 44 pontos, se empatar vai a 45 e se vencer vai a 47.</p>
<p class='noticia-conteudo'>O Atheltico-PR tem 42 pontos, se empatar vai a 43 e se vencer vai a 45. 
Como se enfrentam, só um pode conquistar os três pontos.  Se empatarem, o Athletico supera o Fluminense em caso de vitória do Palmeiras.</p>
<p class='noticia-conteudo'>O Fluminense tem 43 pontos, se empatar vai a 44 e se vencer vai a 46. 
O Bragantino tem 41 pontos, se empatar vai a 42 e se vencer vai a 44. 

Os encadeamentos de resultados devem levar em conta além dos pontos, os desempates por número de vitórias e saldo de gols.</p>
<p class='noticia-conteudo'>Um exemplo do que pode acontecer na última rodada: se o Fluminense empatar, e o Bragantino vencer, as duas equipes vão a 44 pontos, mas o Fluminense ficaria na frente com uma vitória a mais.  Com essas condições, os dois ficariam na Série A se houvesse um vencerdor no jogo Atlético-MG x Athletico-PR. 

Nesse caso, se o Athletico-PR vencer, ocorreria um triplo empate em 44 pontos, com o Fluminense à frente por ter 11 vitórias.</p>
<p class='noticia-conteudo'>Então, Bragantino e Atlético-MG ficariam empatados também com dez vitórias cada um. 
Antes da rodada, tanto Bragantino quanto Atlético-MG têm saldo negativo de oito gols, mas se o Bragantino vencesse, e o Atlético-MG perdesse, a equipe mineira iria para a Série B porque passaria a ter saldo de gols ainda mais negativo. 
Veja abaixo as chances e a evolução do percentual de cada equipe no returno.</p>
<p class='noticia-conteudo'>As chances são determinadas por modelos estatísticos aplicados pelo economista Bruno Imaizumi sobre microdados coletados pela equipe do Espião Estatístico desde 2013.  Foram analisadas as características de todas as finalizações e resultados de 4. 539 jogos de Campeonatos Brasileiros que servem de parâmetro para medir a produtividade atual das equipes no ataque e na defesa a partir da métrica de expectativa de gol (xG), consolidada internacionalmente.</p>
<p class='noticia-conteudo'>Por exemplo, se uma equipe com desempenhos ofensivos e defensivos apenas medianos será visitante no segundo turno contra adversários que estejam com as melhores performances mandantes, as chances desse visitante vencer são menores do que de um time eficiente e de alta produtividade ofensiva que tem agendados confrontos contra adversários que, neste momento, estejam com os piores desempenhos caseiros. 
Saiba como funciona o cálculo por trás do percentual de chances da Série A
Porém, conforme novos jogos são disputados, os potenciais futuros mudam, rodada a rodada.  Essas são algumas possibilidades que explicam quando as chances não acompanham exatamente as posições atuais da tabela de classificação: os potenciais futuros são diferentes dos resultados já conhecidos, entre outros motivos, devido à inversão de mandos no returno.</p>
<p class='noticia-conteudo'>Os dados ajudam a calcular o potencial que cada equipe tem para vencer os jogos restantes, considerando mando de campo e outras características ao fazer 10 mil simulações para cada partida a ser disputada. 
Chances de título
Com a vitória do Fluminense sobre o Cuiabá e a necessidade da equipe carioca de conquistar ao menos um empate na última rodada, as chances de título do Palmeiras mudaram, já que o Fluminense chega para a partida com um desempenho um pouco melhor do que tinha antes da partida pela penúltima rodada. 
Para o Palmeiras ser campeão, tem de vencer o Fluminense e o Botafogo ser derrotado em casa pelo São Paulo.</p>
<p class='noticia-conteudo'>Com isso, ficaram assim as chances de título de Botafogo e Palmeiras. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_130_1.jpg"></div><p class='foto-descricao'>— Foto: Info esporte</p>
Chances de Libertadores
O Bahia recebe em casa o já rebaixado Atlético-GO na última rodada e é o maior candidato para ficar com a última vaga restante para a disputa da Libertadores do ano que vem.  O Cruzeiro tem um ponto a menos na classificação e viaja para enfrentar o Juventude.</p>
<p class='noticia-conteudo'>Veja as chances de cada um na busca pela pela última vaga na Libertadores:
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_130_2.jpg"></div><p class='foto-descricao'>— Foto: Info esporte</p>
Metodologia
Apresentamos as probabilidades estatísticas baseadas nos parâmetros do modelo de "Gols Esperados" ou "Expectativa de Gols" (xG), uma métrica consolidada na análise de dados que tem como referência as finalizações cadastradas pelo Espião Estatístico em todos os jogos de Brasileirões desde a edição de 2013. 
As variáveis consideradas no modelo são: (1) a distância e o ângulo da finalização em relação ao gol; (2) se a finalização foi feita cara a cara com o goleiro; (3) se foi feita sem a presença do goleiro; (4) a parte do corpo utilizada para concluir; (5) se a finalização foi feita de primeira, ajeitada ou carregada; se o chute foi feito com a perna boa ou ruim do jogador; (6) a origem do lance (pênalti, escanteio, cruzamento, falta direta, roubada de bola, lateral etc); (7) se a assistência foi feita de dentro da área; (8) a posição em que o atleta joga; (9) indicadores de força do chute; (10) o valor de mercado das equipes em cada temporada a partir de dados do site Transfermarkt (como proxy de qualidade do elenco); (11) o tempo de jogo; (12) a idade do jogador; (13) a altura do goleiro em jogadas originadas de bolas aéreas; (14) a diferença no placar no momento de cada finalização. 
De cada cem finalizações da meia-lua, por exemplo, apenas sete viram gol.</p>
<p class='noticia-conteudo'>Então, uma finalização da meia-lua tem expectativa de gol (xG) de cerca de 0,07.  Cada posição do campo tem uma expectativa diferente de uma finalização virar gol, que cresce se for um contra-ataque por haver menos adversários para evitar a conclusão da jogada.  Cada pontuação é somada ao longo da partida para se chegar ao xG total de uma equipe em cada jogo.</p>
<p class='noticia-conteudo'>Essa variação indica as chances de os times vencerem cada adversário e, a partir daí, é calculada a chance de os clubes terminarem o campeonato em cada posição. 
O modelo empregado nas análises segue uma distribuição estatística chamada Poisson Bivariada, que calcula as probabilidades de eventos (no caso, os gols de cada equipe) acontecerem dentro de um certo intervalo de tempo (o jogo).  Para chegar às previsões sobre as chances de cada time terminar o campeonato em cada posição foi empregado o método de Monte Carlo, que basicamente se baseia em simulações para gerar resultados.</p>
<p class='noticia-conteudo'>Para cada jogo ainda não disputado, realizamos dez mil simulações. 
*A equipe do Espião Estatístico é formada por: Davi Barros, Guilherme Maniaudet, Guilherme Marçal, Gustavo Figueiredo, Igor Mattos, Leandro Silva, Roberto Maleson, Roberto Teixeira, Valmir Storti. 
ATHLETICO-PR
ATLÉTICO-GO
ATLÉTICO-MG
BAHIA
BOTAFOGO
BRAGANTINO
CORINTHIANS
CRICIÚMA
CRUZEIRO
CUIABÁ
FLAMENGO
FLUMINENSE
FORTALEZA
GRÊMIO
INTERNACIONAL
JUVENTUDE
PALMEIRAS
SÃO PAULO
VASCO
VITÓRIA.</p>
{% endblock main_content %}

