
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Atraso nas premiações veja linha do tempo das reclamações dos jogadores do Botafogo{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Valor a receber pelo elenco é de pouco mais de R$ 80 milhões; clube garante que situação será normalizada e vê ação de empresários



Presidente do Botafogo diz que pessoas querem tumultuar ambiente com notícias de pagamento


O combinado inicial era de repassar 40% do valor das premiações aos jogadores - o valor seria dividido entre os atletas.  As cifras dariam pouco mais de R$ 80 milhões diante do que foi recebido pelo Botafogo pelos dois títulos. 
A questão começa a se desenrolar de maneira ruim por causa dos repasses.</p>
<p class='noticia-conteudo'>A primeira data prometida para pagamentos foi 20 de dezembro, mas o clube só recebeu o dinheiro da premiação sete dias depois, quando o setor financeiro já estava de recesso pelos feriados de ano novo.  Portanto, não havia responsáveis para colocar o dinheiro na conta dos jogadores. 
A Conmebol até fez o repasse para a CBF no dia 20, mas a entidade demorou uma semana para colocar o dinheiro nos cofres do Botafogo.</p>
<p class='noticia-conteudo'>Isso fez o clube mudar a promessa da data de pagamento para 7 de janeiro e, depois, para o dia 17 do mesmo mês.  Mudar a data pela segunda vez não foi bem visto pelos jogadores e, de acordo com o lado deles, é um dos motivos de descontentamento. 


Em nota, o Botafogo afirmou que jogadores que deixaram o clube na virada do ano tentaram aumento de 25% nos valores das premiações "nos últimos dias antes do término da temporada, sem base contratual alguma".</p>
<p class='noticia-conteudo'>O clube não aceitou. 
Por fora, também há pressão de empresários e agentes que não receberam valores de comissões, luvas e participações em negócios do Alvinegro nos últimos anos tentando pressionar o clube - algo que acontece pelo menos desde o ano passado.  A diretoria não gosta das ações e trata caso a caso com os profissionais do mercado.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_0.jpg"></div><p class='foto-descricao'>Botafogo Campeão brasileiro 2024 Taça troféu Marçal — Foto: Buda Mendes/Getty Images</p>
A mensagem ameaçando não se reapresentar foi enviada no grupo de WhatsApp.  O clube vê certo exagero na ação dos jogadores, mas reconhece as dívidas nas premiações.  Internamente, pastas estão sendo acumuladas por membros da direção desde a saída de Pedro Martins, que virou CEO do Santos no começo do ano.</p>
<p class='noticia-conteudo'>Desde a virada de 2025, o Botafogo não possui um diretor de futebol e uma pessoa responsável por lidar diretamente com uma função para fazer uma mediação entre direção e jogadores. 


O dinheiro das premiações está nos cofres do Botafogo.  Se há a quantia, por que o clube não efetua logo o pagamento? A questão envolve fluxo de caixa.</p>
<p class='noticia-conteudo'>Como de praxe em começo de temporada, o clube tem questões operacionais para resolver, como aluguéis, compras logísticas e renovações, e lida com prioridades no dinheiro que sai do caixa.  Há um controle por parte do departamento financeiro para que o pagamento ocorra de forma organizada. 
Em nota, o clube prometeu que o pagamento será efetuado "dentro do prazo de até 20 dias úteis após o recebimento (das cifras)", o que configuraria até dia 27 de janeiro.</p>
<p class='noticia-conteudo'>Internamente, a diretoria dá o dia 17 como data para o pagamento de todas as pendências. 

️ Leia mais notícias do Botafogo.</p>
{% endblock main_content %}

