
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}bragantino{% endblock title %}
{% block main_title %}bragantino{% endblock main_title %}
{% block second_title %}Atuações do São Paulo Sabino vai mal, e Lucas Moura garante ponto em jogo contra o Bragantino{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Atuações do São Paulo: Sabino vai mal, e Lucas Moura garante ponto em jogo contra o Bragantino
Veja a avaliação dos jogadores do Tricolor no empate fora de casa pelo Campeonato Brasileiro


Ranking de Atuação
Ordenar por:
 Ordem de escalação
 Nota GE
 Nota público
  1º
Rafael - GOL
nota ge
6. 5
público
6. 2
Avaliar
Não teve culpa no gol de Sasha, fez algumas intervenções de nível baixo e, no fim do jogo, fez uma defesa linda em chute de trivela de Juninho Capixaba.</p>
<p class='noticia-conteudo'>Foi decisivo. 
2º
Igor Vinícius - LAT
nota ge
5. 0
público
3.</p>
<p class='noticia-conteudo'>2
Avaliar
Chegou pouco à frente e praticamente não apoiou Lucas Moura no ataque.  Pelo seu lado, o Bragantino levou vantagem em diversos lances. 
3º
Ruan - ZAG
nota ge
5.</p>
<p class='noticia-conteudo'>0
público
4. 1
Avaliar
Perdeu o contato de Sasha no lance do gol do Bragantino.  Quando percebeu, já era tarde.</p>
<p class='noticia-conteudo'>4º
Alan Franco - ZAG
nota ge
5. 0
público
4. 3
Avaliar
Numa temporada de alto nível, chamou a atuação por uma atuação ruim na primeira etapa.</p>
<p class='noticia-conteudo'>Bateu cabeça com Sabino e, numa virada de jogo, entregou bola de presenta para Sasha, que quase marcou.  Melhorou no segundo tempo. 
5º
Sabino - ZAG
nota ge
4.</p>
<p class='noticia-conteudo'>0
público
2. 6
Avaliar
Improvisado na lateral esquerda, não foi bem.  Sofreu com a pressão do Bragantino e errou na saída de bola no lance do gol do Bragantino.</p>
<p class='noticia-conteudo'>Saiu aos 15 do segundo tempo. 
6º
Patryck - LAT
nota ge
5. 5
público
5.</p>
<p class='noticia-conteudo'>1
Avaliar
Voltou a jogar depois de um longo período, começou com timidez, mas aos poucos foi se soltando no jogo.  Deu apoio ao ataque no final. 
7º
Luiz Gustavo - MEI
nota ge
5.</p>
<p class='noticia-conteudo'>5
público
3. 4
Avaliar
Destacou-se com alguns desarmes e por conseguir enxergar os espaços em determinados momentos.  Mas apareceu pouco.</p>
<p class='noticia-conteudo'>8º
Marcos Antônio - MEI
nota ge
5. 0
público
3. 9
Avaliar
Deu um lindo passe para Luciano finalizar ainda na primeira etapa.</p>
<p class='noticia-conteudo'>Quando resolveu arriscar de longe, chutou muito torto.  Sofreu na marcação. 
9º
Alisson - MEI
nota ge
5.</p>
<p class='noticia-conteudo'>5
público
6. 2
Avaliar
Aos poucos vai retornando e ganhando tempo de bola.  Sofreu um pouco com o alto ritmo que estava o jogo na segunda etapa.</p>
<p class='noticia-conteudo'>10º
Lucas Moura - MEI
nota ge
7. 5
público
7. 7
Avaliar
É o jogador diferente do São Paulo e, mais uma vez, fez a diferença.</p>
<p class='noticia-conteudo'>Com insistência e inteligência, forçou o erro de Juninho Capixaba e marcou belo gol.  Teve outros bons lances. 
11º
Luciano - ATA
nota ge
5.</p>
<p class='noticia-conteudo'>0
público
3. 4
Avaliar
Apagado, apareceu quando deu toques rápidos em jogadas de contra-ataque, mas ficou longe do gol e não assustou. 
12º
Ferreira - ATA
nota ge
6.</p>
<p class='noticia-conteudo'>0
público
5. 1
Avaliar
Chamou o jogo em algumas ocasiões, buscou jogadas de dribles e chegou a fazer fumaça pelo lado esquerdo com lances perigosos.  Teve boa atuação.</p>
<p class='noticia-conteudo'>13º
Rodrigo Nestor - MEI
nota ge
5. 0
público
3. 4
Avaliar
Entrou aberto pelo lado esquerdo e praticamente não foi notado.</p>
<p class='noticia-conteudo'>Na única vez que teve chance de chutar, perdeu a bola. 
14º
André Silva - ATA
nota ge
5. 0
público
3.</p>
<p class='noticia-conteudo'>9
Avaliar
Ganhou a vaga de Calleri, que foi poupado, mas participou muito pouco do jogo, como vem ocorrendo com o titular.  Não teve uma grande chance de finalização. 
15º
Erick - ATA
nota ge
5.</p>
<p class='noticia-conteudo'>0
público
3. 8
Avaliar
Entrou para dar velocidade ao time pelo lado direito, mas também não conseguiu mudar o panorama da partida. 
16º
Luis Zubeldía - TEC
nota ge
5.</p>
<p class='noticia-conteudo'>0
público
2. 6
Avaliar
Suspenso, foi representado pelo auxiliar Maxi Cuberas, que terminou o jogo com uma mudança por fazer.  Poderia ter dado chance a um dos garotos para fazer o time ter gás no fim.</p>
<p class='noticia-conteudo'>Bragantino 1 x 1 São Paulo | Melhores momentos | 34ª rodada | Brasileirão 2024

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_0.jpg"></div><p class='foto-descricao'>RB Bragantino x São Paulo - Brasileirão — Foto: Diogo Reis/AGIF</p>



50 vídeos
SÃO PAULO.</p>
{% endblock main_content %}
{% block cor_categoria %}#cc0000{% endblock cor_categoria %}

