
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Ausência de cláusula do medo permite que Vitor Roque, emprestado, enfrente o Barcelona{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Ausência de "cláusula do medo" permite que Vitor Roque, emprestado, enfrente o Barcelona
Atacante brasileiro defende o Real Betis em confronto contra o Barça neste sábado, às 12h15

06/12/2024 10h34 Atualizado há uma hora
Emprestado pelo Barcelona, Vitor Roque deve entrar em campo neste sábado contra o clube catalão.  O atacante defende a camisa do Real Betis, que recebe o Barça em casa às 12h15.  É comum no futebol que um jogador cedido por empréstimo não enfrente o clube que o empresta.</p>
<p class='noticia-conteudo'>A "cláusula do medo", como é chamada na Espanha, não foi usada na transferência do brasileiro, que espera fazer bonito no confronto.  O ge acompanha em tempo real. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_121_0.jpg"></div><p class='foto-descricao'>Vitor Roque está emprestado ao Betis até o fim da temporada — Foto: Getty Images</p>
Normalmente, jogadores emprestados não enfrentam o clube "mãe".</p>
<p class='noticia-conteudo'>A chamada "cláusula do medo", muito utilizada pelo Barcelona, não está presente no contrato do atacante com o Betis.  Segundo o The Athletic, o Barça aceitou a exigência do brasileiro para não perder o prazo da transferência. 
Na última temporada, o Barcelona aproveitou da ausência da cláusula.</p>
<p class='noticia-conteudo'>João Félix, emprestado pelo Atlético de Madrid, marcou na vitória do Barça por 3 a 0 no Wanda Metropolitano e também no 1 a 0 na Catalunha. 

Apresentado no Betis, Vitor Roque se emociona com família e diz: "Precisava de mudança"
Vitor Roque quer fazer valer a "lei do ex" neste sábado.  O brasileiro, que já disse não ser feliz como jogador do Barcelona, afirmou ter se encontrado no Betis.</p>
<p class='noticia-conteudo'>— Estou muito feliz.  Minha família, que passou por momentos difíceis, também sorri comigo.  Fiquei seis ou sete meses sem sorris e passei por situações complicadas, mas agora isso acabou.</p>
<p class='noticia-conteudo'>Estou aqui e feliz.  Isso é o mais importante — disse Vitor Roque. 
Vitor Roque tem cinco gols pelo Betis na temporada.</p>
<p class='noticia-conteudo'>A equipe está na 10ª colocação de LaLiga e soma 20 pontos, quatro a menos que o Mallorca, primeiro clube na zona de classificação para competições continentais. 
O brasileiro tem contrato com o Barcelona até 2031.  Segundo a imprensa espanhola, o contrato de empréstimo com o Betis tem opção de renovação por mais um ano, até 2026.</p>
<p class='noticia-conteudo'>Depois, haveria um valor como opção de compra fixado em 25 milhões de euros (R$ 155 milhões) fixos por 80% dos direitos econômicos do jogador..</p>
{% endblock main_content %}

