
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}flamengo{% endblock title %}
{% block main_title %}flamengo{% endblock main_title %}
{% block second_title %}Auxiliar do Flamengo ganha força no Guarani, que tem ídolo como trunfo{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Auxiliar do Flamengo ganha força no Guarani, que tem ídolo como trunfo
Vinicius Bergantin é um dos principais alvos da diretoria para substituir Allan Aal



Allan Aal não renova e Guarani busca novo técnico
O torcedor do Guarani anseia por uma definição rápida do substituto de Allan Aal.  A diretoria de futebol tem o mesmo pensamento e espera avançar para uma proposta oficial a um treinador até o fim desta semana. 
Após alguns nomes na mesa, o Conselho de Administração definiu Vinicius Bergantin como um alvo de prioridade.</p>
<p class='noticia-conteudo'>O auxiliar do Flamengo está disposto a ouvir o projeto do Bugre, o que animou a diretoria alviverde. 
Bergantin ganhou força nos bastidores depois que outros profissionais que estão no radar do clube sinalizaram com o interesse de permanência no "mercado da Série B", como é o caso de Daniel Paulista. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_48_0.jpg"></div><p class='foto-descricao'>Vinicius Bergantin na comemoração do título da Copa do Brasil com o Flamengo — Foto: Arquivo pessoal</p>
Um dos trufos do Guarani para avançar na negociação é o empresário de Vinicius Bergantin.</p>
<p class='noticia-conteudo'>O treinador e atual auxiliar do Flamengo tem a carreira gerenciada por Fumagalli, ex-jogador e ídolo bugrino. 
O atual empresário chegou a negociar com o técnico quando atuou como dirigente no Brinco de Ouro entre 2018 e 2019. 
Como o Flamengo está em período eleitoral - a diretoria do triênio 2025-2027 será definida no dia 9 de dezembro -, não há garantias de permanência de toda comissão técnica permanente - o que incentivaria Bergantin a retornar ao cargo de treinador na próxima temporada.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_48_1.jpg"></div><p class='foto-descricao'>Vinícius Bergantin, auxiliar do Flamengo — Foto: Divulgação</p>
O último trabalho de Bergantin como técnico foi à frente da Ferroviária na Série A2 do Paulista e na Série C do Brasileiro.  Ele se juntou ao Flamengo em julho após um convite de Tite. 
Na ocasião, o time era o único invicto da terceira divisão nacional e tinha a melhor defesa da competição, com cinco gols sofridos em 13 jogos.</p>
<p class='noticia-conteudo'>Posteriormente, a Locomotiva confirmou o acesso à Série B sob o comando de Júnior Rocha. 
Em 2024, a Ferroviária de Bergantin sofreu apenas uma derrota, ainda na primeira fase da Série A2 do Campeonato Paulista, em que a equipe perdeu a chance de disputar o acesso após ser derrotada nos pênaltis para o Juventus-SP nas quartas de final. 
Em 26 partidas pela Locomotiva, Bergantin teve um revés, 12 vitórias e 13 empates.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_48_2.jpg"></div><p class='foto-descricao'>Vinicius Bergantin em passagem pela Ferroviária — Foto: Carolina Borges</p>
O auxiliar do Flamengo foi zagueiro na Bundesliga por oito anos com a camisa do Hannover 96.  No Brasil, ele atuou no Ituano, São Caetano, Gama e Guarantinguetá-SP. 
Como técnico, começou na base do Ituano, passou a ser auxiliar e foi efetivado no time principal.</p>
<p class='noticia-conteudo'>Ele ficou no Galo de Itu entre 2013 e 2021. 

A ideia dos dirigentes do Bugre é definir a contratação do novo técnico até o fim da próxima semana para que o profissional participe também da montagem do elenco para 2025, quando, além da Série C, o Guarani terá a disputa do Paulistão, a partir de 15 de janeiro. 
A reformulação vai atingir aproximadamente 80% do grupo.</p>
<p class='noticia-conteudo'>Nomes como dos goleiros Vladimir, Pegorari e Douglas Borges; dos zagueiros Matheus Salustiano e Douglas Bacelar; do lateral-direito Heitor; do meia Luan Dias; e do atacante Reinaldo, por exemplo, não ficam e puxam a lista de saídas. 
GUARANI.</p>
{% endblock main_content %}

