
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}bahia{% endblock title %}
{% block main_title %}bahia{% endblock main_title %}
{% block second_title %}Bahia faz proposta por goleiro Everson, do Atlético-MG{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Goleiro tem contrato com o Galo até dezembro de 2025



<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_365_0.jpg"></div><p class='foto-descricao'>Everson, goleiro do Atlético-MG, durante o jogo contra o Botafogo — Foto: Fernando Moreno/AGIF</p>

A informação da proposta do Bahia por Everson foi divulgada inicialmente pela rádio Itatiaia e confirmada pelo ge na manhã desta quarta-feira. 
Apesar da oferta do Bahia, a tendência é que o atleta fique em Belo Horizonte.  Após a final da Copa Libertadores, o camisa 22 do Galo comentou que não recebeu nenhuma proposta e que o foco é seguir em Belo Horizonte.</p>
<p class='noticia-conteudo'>- Na minha mesa, no meu telefone, não chegou nenhuma proposta, vazou, lógico que a gente acaba acompanhando seu nome e fica entrando já na mídia.  Primeira oportunidade que eu tenho de falar, mas pra mim não chegou nada, meu foco sempre foi, já deixei claro, isso que é de continuar no Atlético, de estender o meu tempo aqui, esse é o meu desejo - diz Everson. 

Clube mineiro e goleiro já iniciaram as conversas por renovação e demonstram interesse em acordo.</p>
<p class='noticia-conteudo'>A reportagem ouviu de pessoas da cúpula alvinegra que o Galo quer a prorrogação de contrato e está trabalhando para isto com uma valorização salarial. 
Em entrevista em maio deste ano, o goleiro falou da renovação e que tinha o interesse de se aposentar no clube mineiro. 
"Espero que essa vontade seja recíproca da diretoria para que a gente possa fazer essa renovação e continuar fazendo essa linda história no clube", disse o goleiro.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_365_1.jpg"></div><p class='foto-descricao'>Everson comemora o gol do Atlético-MG — Foto: Alexandre Loureiro/AGIF</p>
- Estou muito feliz no Atlético.  Se for da minha vontade, eu pretendo terminar a carreira aqui.  Pretendo renovar o meu contrato e poder terminar a minha carreira aqui.</p>
<p class='noticia-conteudo'>Logicamente dando títulos e vitórias para o clube, continuar escrevendo essa linda história.  Se depender do Everson, a gente vai renovar por mais tempo para que eu possa continuar aqui no clube dando alegria para o torcedor. 


BAHIA.</p>
{% endblock main_content %}

