
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Balanço de 2024 artilheiros e garçons de cada time da Série A{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Yuri Alberto, Pedro, Lucero, Vegetti, Hulk, Garro e Matheus Pereira foram alguns dos destaques do ano



Seleção elege os melhores do Brasileirão

O posto de maior garçom da elite do futebol brasileiro foi dividido por três atletas: Garro (Corinthians), Pochettino (Fortaleza) e Matheus Pereira (Cruzeiro).  Cada um deu 15 assistências no ano.  Veja abaixo os principais destaques de cada clube:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_427_0.jpg"></div><p class='foto-descricao'>Mastriani celebra gol do Athletico contra o Criciúma — Foto: José Tramontin/Athletico</p>
Artilheiro: Mastriani - 16 gols
Garçom: Cuello - 12 assistências
Atlético-GO
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_427_1.jpg"></div><p class='foto-descricao'>Luis Fernando comemora gol do Atlético-GO contra o Brusque — Foto: Luiz Vieira</p>
Artilheiro: Luiz Fernando - 21 gols
Garçom: Shaylon - 14 assistências
Atlético-MG
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_427_2.jpg"></div><p class='foto-descricao'>Hulk, Paulinho e Scarpa; Atlético-MG x Vasco — Foto: Pedro Souza / Atlético-MG</p>
Artilheiros: Paulinho e Hulk - 19 gols cada
Garçons: Gustavo Scarpa e Hulk - 12 assistências cada
Bahia
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_427_3.jpg"></div><p class='foto-descricao'>Cauly e Thaciano celebram gol da última vitória tricolor sobre o Palmeiras — Foto: Felipe Oliveira/EC Bahia</p>
Artilheiro: Thaciano - 15 gols
Garçons: Biel e Cauly - 10 assistências cada
Botafogo
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_427_4.jpg"></div><p class='foto-descricao'>Gol de Junior Santos, Botafogo x LDU — Foto: André Durão / ge</p>
Artilheiro: Junior Santos - 20 gols
Garçom: Savarino - 12 assistências
Bragantino
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_427_5.jpg"></div><p class='foto-descricao'>Eduardo Sasha comemora gol do Bragantino contra o Cruzeiro — Foto: Diogo Reis/AGIF</p>
Artilheiro: Eduardo Sasha - 15 gols
Garçom: Helinho - 9 assistências
Corinthians
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_427_6.jpg"></div><p class='foto-descricao'>Yuri Alberto celebra gol pelo Corinthians sobre o Grêmio — Foto: Liamara Polli/AGIF</p>
Artilheiro: Yuri Alberto - 31 gols
Garçom: Garro - 15 assistências
Criciúma
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_427_7.jpg"></div><p class='foto-descricao'>Yannick Bolasie no Criciúma — Foto: Celso da Luz | Criciúma E.</p>
<p class='noticia-conteudo'>C. </p>
Artilheiro: Bolasie - 8 gols
Garçom: Marcelo Hermes - 8 assistências
Cruzeiro
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_427_8.jpg"></div><p class='foto-descricao'>Matheus Pereira, do Cruzeiro, comemora gol marcado diante do Palmeiras — Foto: Gustavo Aleixo</p>
Artilheiro: Matheus Pereira - 11 gols
Garçom: Matheus Pereira - 15 assistências
Cuiabá
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_427_9.jpg"></div><p class='foto-descricao'>Pitta comemora gol do Cuiabá contra o Atlético-MG — Foto: AssCom Dourado</p>
Artilheiro: Isidro Pitta - 21 gols
Garçom: Fernando Sobral - 8 assistências
Flamengo
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_427_10.jpg"></div><p class='foto-descricao'>Pedro, do Flamengo, comemora gol contra Palmeiras no confronto pela Copa do Brasil — Foto: Alexandre Durão</p>
Artilheiro: Pedro - 30 gols
Garçons: Arrascaeta, Gerson e Luiz Araújo - 10 assistências cada
Fluminense
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_427_11.jpg"></div><p class='foto-descricao'>Arias comemora o gol em Flamengo x Fluminense — Foto: André Durão</p>
Artilheiro: Arias - 14 gols
Garçom: Ganso - 10 assistências
Fortaleza
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_427_12.jpg"></div><p class='foto-descricao'>Lucero comemora gol do Fortaleza contra a LDU na final da Sul-Americana — Foto: Pablo PORCIUNCULA / AFP</p>
Artilheiro: Lucero - 23 gols
Garçom: Pochettino - 15 assistências
Grêmio
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_427_13.jpg"></div><p class='foto-descricao'>Cristaldo comemora gol em Grêmio x São Paulo — Foto: Maxi Franzoi/AGIF</p>
Artilheiro: Cristaldo - 13 gols
Garçom: Pavón - 8 assistências
Internacional
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_427_14.jpg"></div><p class='foto-descricao'>Wesley atacante Inter — Foto: Ricardo Duarte/Divulgação, Internacional</p>
Artilheiro: Wesley - 13 gols
Garçom: Alan Patrick - 7 assistências
Juventude
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_427_15.jpg"></div><p class='foto-descricao'>Atlético-MG x Juventude Independência Brasileirão gol Lucas Barbosa — Foto: Fernando Alves / ECJ</p>
Artilheiro: Lucas Barbosa - 14 gols
Garçom: Jean Carlos - 10 assistências
Palmeiras
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_427_16.jpg"></div><p class='foto-descricao'>Flaco López comemora gol do Palmeiras contra o Cruzeiro — Foto: Marcos Ribolli</p>
Artilheiro: Flaco López - 22 gols
Garçom: Estêvão - 10 assistências
São Paulo
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_427_17.jpg"></div><p class='foto-descricao'>Lucas e Luciano comemoram gol do São Paulo contra o  — Foto: Marcos Ribolli</p>
Artilheiro: Luciano - 18 gols
Garçons: Lucas Moura e Wellington Rato - 9 assistências cada
Vasco
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_427_18.jpg"></div><p class='foto-descricao'>Vegetti e Payet comemoram gol em Vasco x Portuguesa — Foto: Leandro Amorim/Vasco</p>
Artilheiro: Vegetti - 23 gols
Garçom: Payet - 9 assistências
Vitória
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_427_19.jpg"></div><p class='foto-descricao'>Alerrandro comemora seu 15º gol no Campeonato Brasileiro — Foto: Victor Ferreira / EC Vitória</p>
Artilheiro: Alerrandro - 21 gols
Garçom: Matheuzinho - 10 assitências
*A equipe do Espião Estatístico é formada por: Davi Barros, Guilherme Maniaudet, Guilherme Marçal, Gustavo Figueiredo, Igor Mattos, Leandro Silva, Roberto Maleson, Roberto Teixeira e Valmir Storti. 

ATLÉTICO-GO
ATLÉTICO-MG
BAHIA
BOTAFOGO
BRAGANTINO
CORINTHIANS
CRICIÚMA
CRUZEIRO
CUIABÁ
FLAMENGO
FLUMINENSE
FORTALEZA
GRÊMIO
INTERNACIONAL
JUVENTUDE
PALMEIRAS
SÃO PAULO
VASCO
VITÓRIA.</p>
{% endblock main_content %}

