
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Bar de Buenos Aires que reuniu torcedores do Botafogo faz postagem racista{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Bar de Buenos Aires que reuniu torcedores do Botafogo faz postagem racista
Perfil publica foto de um macaco segurando a bandeira do clube



Conheça o ponto de encontro da torcida do Botafogo em Buenos Aires | Voz do Setorista
O perfil do bar que reuniu torcedores do Botafogo em Buenos Aires para as festas às vésperas da final da Conmebol Libertadores fez uma publicação racista nesta terça-feira. 
O Kraken Bar postou uma foto de um homem com máscara de macaco carregando a bandeira da Argentina com o escudo do time alvinegro no meio.  A publicação foi apagada minutos depois de receber uma enxurrada de comentários negativos.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_20_0.jpg"></div><p class='foto-descricao'>Bar em Buenos Aires faz postagem racista — Foto: Reprodução</p>
Pouco depois, o perfil do bar pediu desculpas em nova publicação:
Comunicado à comunidade da Argenfogo
Queremos expressar nossas mais sinceras desculpas pelo erro cometido em uma de nossas publicações.  Entendemos que o conteúdo foi doloroso, e lamentamos profundamente ter causado mal estar na comunidade. 
Como equipe, queremos deixar claro que estamos absolutamente contra qualquer tipo de racismo, xenofobia ou discriminação.</p>
<p class='noticia-conteudo'>Nossa intenção jamais foi ofender nem gerar discórdia.  Reconhecemos que nossa community manager, sem intenção de causar dano, desconhecia o impacto que esse tema poderia gerar. 
A publicação foi excluída e reiteramos nossas mais sinceras desculpas a todos aqueles que se sentiram ofendidos.</p>
<p class='noticia-conteudo'>Agradecemos sua compreensão e tomaremos isso como uma oportunidade para aprender e melhorar. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_20_1.jpg"></div><p class='foto-descricao'>Bar em Buenos Aires publica texto após apagar a postagem — Foto: Reprodução</p>

O espaço recebeu torcedores durante toda a semana em Buenos Aires e foi o ponto de encontro definido pela Argenfogo - torcida do Botafogo na Argentina - para reunir a torcida no jogo entre Palmeiras x Botafogo. 
Em outubro, houve um episódio de racismo no Nilton Santos, quando um torcedor do Peñarol imitou um macaco nas arquibancadas.</p>
<p class='noticia-conteudo'>Assista: tudo sobre o Botafogo no ge, na Globo e no sportv
50 vídeos
BOTAFOGO.</p>
{% endblock main_content %}

