
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Barcos a 100kmh, controlador de voo a bordo, vela-asa como funciona a Fórmula 1 da vela{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Barcos a 100km/h, controlador de voo a bordo, vela-asa: como funciona a Fórmula 1 da vela
Competição que reúne os veleiros mais rápidos do mundo tem início neste fim de semana em Dubai, nos Emirados Árabes; Martine Grael é a primeira mulher a pilotar barcos que "voam"


Altas velocidades, manobras impressionantes, tecnologia de ponta e uma disputa intensa para cruzar a linha de chegada em primeiro lugar, diante de uma arquibancada lotada de torcedores.  Se a descrição não lembra uma competição comum de vela, é porque o SailGP pode mesmo parecer outro esporte - não à toa, é conhecido como a “Fórmula 1 dos mares”.  Em catamarãs de 50 pés capazes de ultrapassar 100km/h que carregam bandeiras de seus países, alguns dos maiores velejadores do mundo, como a brasileira Martine Grael, iniciam neste fim de semana, em Dubai, nos Emirados Árabes, a briga pelo título da quinta temporada de um circuito que deu uma nova cara a um esporte tradicional.</p>
<p class='noticia-conteudo'>Conheça o barco da equipe brasileira, comandada por Martine Grael, no SailGP


A competição nasceu em 2019 com o objetivo de furar a bolha da vela e oferecer uma disputa mais atrativa para o público em geral.  Um evento centrado na experiência do espectador, que acompanha a ação de perto como se estivesse num estádio, assistindo a uma partida de futebol.  Um sistema de pontuação simplificado e corridas - não regatas, como tradicionalmente são chamadas as provas do esporte - que acontecem perto da terra facilitam a compreensão da disputa na água.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_18_0.jpg"></div><p class='foto-descricao'>Etapa do SailGP em Christchurch, na Nova Zelândia — Foto: Iain McGregor/SailGP</p>
Mas a principal atração do SailGP é mesmo a velocidade dos barcos.  O grande diferencial da classe é o sistema de hidrofólios, tecnologia introduzida em competições há pouco mais de uma década que faz dos F50 os veleiros mais rápidos do mundo, atingindo mais de 100km/h em ventos fortes.  As embarcações de 15m de comprimento contam com lâminas de fibra de carbono de 8m que elevam o casco acima da água e reduzem o atrito com a superfície.</p>
<p class='noticia-conteudo'>Outra peculiaridade é a vela-asa, estrutura rígida de até 29m fixada no barco por um guindaste, que substitui a vela tradicional, feita de tecido. 
A velocidade provoca mudanças até em nomenclaturas tradicionais da vela.  O timoneiro do barco vira piloto e um dos tripulantes mais importantes do F50 é o controlador de voo, responsável por comandar os hidrofólios, permitindo que o barco execute manobras impressionantes fora da água.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_18_1.jpg"></div><p class='foto-descricao'>Equipes treinam em Dubai para a temporada 2024/2025 do SailGP — Foto: SailGP</p>
E se inovação é um tema constante no SailGP, a equipe brasileira estreia no circuito em 2024-2025 contribuindo com um elemento inédito.  A bicampeã olímpica Martine Grael será a primeira mulher a pilotar um barco na competição.  Ela terá companhias familiares a bordo: seu irmão, Marco Grael, é dos grinders (responsáveis por girar a manivela que regula as velas) do time; a ex-parceira na conquista do ouro na Rio 2016 e em Tóquio 2021, Kahena Kunze, é a reserva da equipe; e Matheus Isaac, que representou o Brasil nos Jogos de Paris 2024 no windsurfe, é o segundo grinder.</p>
<p class='noticia-conteudo'>Terá ainda sob seu comando o experiente controlador de voo Andy Maloney, da Nova Zelândia, e os britânicos Richard Mason e Leigh McMillan, como estrategista e regulador da vela-asa, respectivamente. 


- É um barco muito veloz e esse desafio novo é muito bem-vindo, eu gosto muito de velejar em qualquer coisa - brinca Martine.  - É muito diferente, você tem que adaptar todas as referências que tem do esporte para esse novo ambiente, mas na essência é um barco, a força do vento, tentar ir mais rápido do que os outros e chegar em primeiro.</p>
<p class='noticia-conteudo'>Então de alguma forma é a mesma coisa de sempre. 
Rio de Janeiro sediará a primeira etapa brasileira do Sail GP
No evento de abertura da temporada 2024-2015, em Dubai, serão 11 países brigando pelo título da etapa, que vale 10 pontos - o segundo colocado ganha 9, o terceiro leva 8 e assim por diante (o último colocado fica com 0).  O circuito contará com 14 etapas, uma delas no Rio de Janeiro nos dias 3 e 4 de maio, que determinarão o campeão da temporada.</p>
<p class='noticia-conteudo'>A Austrália venceu as três primeiras temporadas da competição e na última edição a equipe espanhola foi a campeã. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_18_2.jpg"></div><p class='foto-descricao'>F50 do Canadá em ação no SailGP — Foto: Felix Diemer/SailGP</p>.</p>
{% endblock main_content %}

