
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Bastidores como Ramón Díaz reverteu pressão e garantiu permanência no Corinthians{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Bastidores: como Ramón Díaz reverteu pressão e garantiu permanência no Corinthians
Técnico argentino teve continuidade questionada depois das eliminações nas copas, mas aprovação do elenco, evolução do trabalho e gratidão do clube o garantiram no cargo

05/12/2024 04h01 Atualizado há 6 horas

Ramón Díaz: "O Corinthians é muito maior que o Vasco" | Abre Aspas
A permanência de Ramón Díaz no Corinthians em 2025 passa por alguns pontos cruciais.  Apesar do contrato do treinador ser válido até o fim do próximo ano, a continuidade do trabalho era incerta até poucas semanas atrás. 

O principal defensor da manutenção de Ramón e sua comissão técnica foi Fabinho Soldado, executivo de futebol.</p>
<p class='noticia-conteudo'>O profissional gostaria de dar uma pré-temporada completa aos profissionais, enxergando a possibilidade de um salto de qualidade no trabalho. 
As eliminações nas semifinais da Copa do Brasil e Copa Sul-Americana foram o ponto de maior tensão e pressão para uma decisão sobre a troca de comando técnico em 2025.  Foi o executivo de futebol que deu respaldo para que o trabalho seguisse com o objetivo central de escapar do rebaixamento e conquistar uma vaga na Libertadores do próximo ano.</p>
<p class='noticia-conteudo'>Mais notícias do Corinthians:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_66_0.jpg"></div><p class='foto-descricao'>Ramón Díaz e Emiliano Díaz no banco do Corinthians — Foto: Marcos Ribolli</p>
Em meio a tudo isso, outro ponto foi considerado crucial para que Ramón e sua comissão conquistassem de vez a confiança da direção alvinegra: a recusa de uma proposta milionária para comandar a seleção da Arábia Saudita.  Uma saída da comissão, naquela altura, era vista como um ponto negativo que poderia determinar a queda da equipe para a Série B do Brasileiro. 
A arrancada na reta final do Brasileirão ajudou Ramón a convencer os dirigentes sobre o desenvolvimento do seu trabalho.</p>
<p class='noticia-conteudo'>Havia receio de que o treinador tinha atingido o seu limite com o atual elenco, mesmo com a chegada de reforços importantes na janela do meio do ano. 

Rizek comenta ascensão do Corinthians e prevê 2025 "brigando por coisas grandes"
E a mudança de chave dentro de campo também fez Ramón e Emiliano ganharem a confiança do elenco, que enxergou na dupla o caminho certo para conseguir encerrar a má fase e arrancar rumo a uma vaga na Libertadores. 
A comissão técnica conseguiu recuperar jogadores, como Matheus Bidu, e potencializar talentos, como a fase artilheira de Yuri Alberto.</p>
<p class='noticia-conteudo'>Tudo isso administrando a chegada de Memphis, estrela que caiu nas graças dos colegas de elenco. 
Ramón Díaz planeja a próxima temporada e terá papel fundamental na busca por reforços pontuais.  O Corinthians estuda fazer até quatro contratações para 2025.</p>
<p class='noticia-conteudo'>As prioridades são um zagueiro, um lateral-esquerdo e um atacante, além da possibilidade de um meia criativo. 
O espanhol Sergio Ramos foi um alvo para a defesa.  O zagueiro negociou com a diretoria, mas o clube desistiu da contratação do atleta que já brilhou por Real Madrid, PSG e Sevilla.</p>
<p class='noticia-conteudo'>Com 32 jogos desde que assumiu o comando do Corinthians, Ramón tem aproveitamento de 56%.  Foram 15 vitórias, nove empates e oito derrotas. 
Ramón Díaz cita diferença entre Brasil e Argentina e evita eleger melhor jogador de todos


50 vídeos
CORINTHIANS.</p>
{% endblock main_content %}

