
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}corinthians{% endblock title %}
{% block main_title %}corinthians{% endblock main_title %}
{% block second_title %}Bastidores entenda por que o Corinthians negociou e desistiu de contratar zagueiro Sergio Ramos{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Bastidores: entenda por que o Corinthians negociou e desistiu de contratar zagueiro Sergio Ramos
Veterano de 38 anos, livre no mercado desde a saída do Sevilla, ouviu e aceitou jogar no Timão, mas negócio não evoluiu; ge traz bastidores da conversa entre clube e jogador



Aos 38 anos, Sergio Ramos publica vídeo treinando ao ar livre para manter a forma
O Corinthians tem em sua lista de prioridades para a próxima temporada a contratação de um zagueiro.  E o primeiro alvo do clube foi o espanhol Sergio Ramos, de 38 anos, multicampeão pelo Real Madrid e seleção espanhola. 
Segundo apuração do ge, o Timão negociou com o defensor nos últimos meses.</p>
<p class='noticia-conteudo'>A ideia seria contar com o jogador ainda nesta temporada, mas o clube acabou recuando nas tratativas.  Neste momento, a contratação de Sergio Ramos está descartada. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_0.jpg"></div><p class='foto-descricao'>Sergio Ramos observa taças que ele ajudou o Real Madrid a conquistar — Foto: Site oficial do Real Madrid</p>
Em uma das reuniões com Sergio Ramos, o Corinthians apresentou ao zagueiro o mesmo dossiê histórico do clube que foi mostrado ao atacante holandês Memphis Depay, com dados sobre a história centenária, a estrutura do CT Joaquim Grava e o posicionamento do Timão na América do Sul e no Brasil.</p>
<p class='noticia-conteudo'>O projeto agradou. 
Antes reticente com a possibilidade de atuar no Brasil, Sergio Ramos buscou referências com jogadores brasileiros com quem atuou ao longo da sua carreira e deu o aval para uma negociação com o Corinthians. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_1.jpg"></div><p class='foto-descricao'>Sergio Ramos em ação pelo Sevilla na temporada passada — Foto: Maurice Van Steen/EFE</p>
A partir daí, o Corinthians ouviu quais seriam os valores necessários para conseguir fazer a contratação do veterano de 38 anos.</p>
<p class='noticia-conteudo'>Sergio Ramos era visto internamente pela direção alvinegra como uma excelente oportunidade de mercado para aumentar ainda mais a visibilidade internacionalmente e também para elevar o patamar do time. 
Mas, dois principais motivos fizeram o clube recuar na negociação: as altas cifras pedidas pelo jogador, além da incerteza sobre o calendário da equipe em 2025.  No momento em que conversou com o zagueiro, o Timão estava na zona de rebaixamento e envolvido nas semifinais da Copa do Brasil e da Sul-Americana, sem garantia de uma possível vaga na Libertadores do próximo ano.</p>
<p class='noticia-conteudo'>Os 38 anos do zagueiro e as dúvidas sobre o rendimento atuando no calendário brasileiro também pesaram e fizeram a contratação de Sergio Ramos, neste momento, ser descartada. 

Corinthians recebe Bahia em busca de vaga na Libertadores
O negócio seria viável financeiramente pela possibilidade de uma parceria com a atual patrocinadora.  No entanto, o Timão espera usar esse trunfo com outros nomes futuramente.</p>
<p class='noticia-conteudo'>Com a ajuda da patrocinadora, o Corinthians contratou Memphis Depay e conseguiu fazer o pagamento à vista ao Flamengo para ficar com o goleiro Hugo Souza em definitivo.  A empresa e o clube estudam novas possibilidades de parceria para a chegada de reforços. 
Quem é Sergio Ramos
Sergio Ramos nasceu em Camas, na região metropolitana de Sevilha, e chegou às categorias de base do Sevilla aos 10 anos.</p>
<p class='noticia-conteudo'>Lá, se profissionalizou, mas atuou por apenas uma temporada no time principal, quando chamou a atenção do Real Madrid, que o contratou em 2005. 
O zagueiro permaneceu no clube merengue por 16 anos, até 2021, se tornando um dos maiores ídolos da história do Real.  Então, foi para o PSG, onde ficou até o meio do ano passado, sem grande brilho.</p>
<p class='noticia-conteudo'>Na segunda passagem pelo Sevilla, na temporada 2023/24, fez 37 jogos e marcou sete gols. 
Pela seleção espanhola, Sergio Ramos conquistou a Copa do Mundo (2010) e foi bicampeão da Eurocopa (2008 e 2012).  Com 180 partidas, é o jogador que mais atuou na história da Fúria.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_2.jpg"></div><p class='foto-descricao'>Jesus Navas, Rafael Nadal e Sergio Ramos com taça da Copa do Mundo de 2010 — Foto: Alex Livesey - FIFA/FIFA via Getty Images</p>

50 vídeos
CORINTHIANS.</p>
{% endblock main_content %}

