
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}corinthians{% endblock title %}
{% block main_title %}corinthians{% endblock main_title %}
{% block second_title %}Bastidores Memphis se espanta com estrutura do Corinthians e crê em volta à seleção holandesa{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Bastidores: Memphis se espanta com estrutura do Corinthians e crê em volta à seleção holandesa
Atacante comenta no dia a dia que nunca teve acompanhamento profissional tão personalizado na Europa como tem no Timão; além disso, tem se esforçado para aprender o português



Memphis reclama do horário da partida: "Não entendo por que isso ocorre no Brasil"
Memphis Depay está muito mais adaptado ao Brasil do que os registros frequentes nas suas redes sociais, em inúmeras visitas aos locais mais diversos possíveis de São Paulo, podem indicar. 

O processo de adaptação do jogador ao país passa pela forma como é tratado diariamente no Corinthians.  A maneira como sua condição física é monitorada pelo clube o surpreendeu positivamente, rendendo comparações com os times pelos quais passou ao longo da carreira.</p>
<p class='noticia-conteudo'>Memphis confidenciou que nunca havia tido um acompanhamento tão personalizado como o do Corinthians, que controla a carga dos treinos do atleta, a alimentação e personaliza as atividades para manter o jogador em condições de ter uma alta performance, reduzindo os riscos de lesões. 
Mais notícias do Corinthians:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_15_0.jpg"></div><p class='foto-descricao'>Memphis comemora gol do Corinthians contra o Cruzeiro — Foto: Rodrigo Coca/Agência Corinthians</p>
O cuidado do Corinthians em potencializar o seu condicionamento físico, além da estrutura oferecida no CT Joaquim Grava, animam ainda mais Memphis a conquistar um dos objetivos a curto prazo: voltar a ser convocado pela seleção holandesa. 
Ronald Koeman, atual técnico da Holanda, foi convidado pelo Corinthians a conhecer o CT, o trabalho que vem sendo desenvolvido com Memphis e ainda acompanhar uma partida do Campeonato Brasileiro.</p>
<p class='noticia-conteudo'>O treinador sinalizou em entrevistas recentes que deseja convocar Memphis na próxima Data Fifa, em março de 2025, mas que isso depende de uma melhora física do jogador. 
Resenha, dribles e intensidade: como é o treino de Memphis Depay no Corinthians 
“A cultura brasileira me encanta”
Outro fator que tem ajudado Memphis a ficar cada vez mais ambientado no Brasil é o fato de gostar de vivenciar a cultura do país. 
As visitas do jogador a regiões periféricas da cidade estão longe de ser algo pensado pelo jogador para ganhar popularidade.</p>
<p class='noticia-conteudo'>Memphis comentou com pessoas próximas a ele no Corinthians que sempre gostou de estar nesses ambientes: “Eu sou assim, sempre fui assim e é como me sinto bem”, disse o jogador. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_15_1.jpg"></div><p class='foto-descricao'>Memphis come churrasco na periferia de São Paulo — Foto: Reprodução/Instagram</p>
Memphis tem feito aulas de português e se esforçado para conseguir entender e se comunicar por meio do idioma.  Diariamente, o jogador busca apreender novas palavras e usá-las como incentivo e também cobrança com os colegas de elenco.</p>
<p class='noticia-conteudo'>Com 30 anos, Memphis chegou ao Corinthians em meados de setembro e fez 11 partidas desde então.  Foram quatro gols e quatro assistências. 


50 vídeos
CORINTHIANS.</p>
{% endblock main_content %}
{% block cor_categoria %}#333333{% endblock cor_categoria %}

