
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Bia Haddad consegue virada heróica e vence Jasmin Ortenzi na BJK Cup{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Bia Haddad consegue virada heróica e vence Jasmin Ortenzi na BJK Cup
Depois de ver rival vencer o 1º set e abrir 5/2 na segunda parcial, brasileira se recupera e consegue a vitória por 2 a 1.  Resultado faz Brasil empatar o confronto com a Argentina em 1 a 1


O jogo parecia perdido.  Depois de ver a argentina Jasmin Ortenzi vencer o primeiro set e abrir 5/2 no segundo, Beatriz Haddad Maia esteve a um game da derrota.</p>
<p class='noticia-conteudo'>No entanto, o que se configurava como impossível aconteceu.  Demonstrando muita frieza e precisão, a brasileira conseguiu uma improvável virada no set, empatando o jogo.  A reação fez Bia ser dominante no terceiro set.</p>
<p class='noticia-conteudo'>Com uma imponente vitória na terceira parcial, Bia tratou de fechar a partida em 2 a 1, com 3/6, 7/5 e 6/2. 
A vitória heróica da paulista faz o Brasil empatar confronto com a Argentina pela Billie Jean King Cup em 1 a 1.  Mais cedo, Laura Pigossi perdeu para Solana Sierra por 2 sets a 1 (3/6, 6/1 e 6/2), também no Ibirapuera, em São Paulo.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_0.jpg"></div><p class='foto-descricao'>Bia Haddad Maia na difícil partida contra a argentina — Foto: Divulgação/BJKC</p>
O próximo jogo do duelo entre Brasil e Argentina será entre Bia Haddad e Sorana Sierra, neste sábado, às 14h.  Logo em seguida, Laura Pigossi enfrentará Ortenzi.  Quem vencer três jogos, será o vencedor.</p>
<p class='noticia-conteudo'>Se necessário, Bia e Ingrid Martins enfrentarão Martina Taborda/Melany Krywoj nas duplas, também neste sábado. 
Quem vencer o confronto Brasil x Argentina garante um lugar no qualifying round, a ser disputado no primeiro semestre do próximo ano.  O qualifying, por sua vez, dará vaga nas finais da Billie Jean King Cup, que reúne 12 países.</p>
<p class='noticia-conteudo'>O jogo
Principal tenista do Brasil, Bia Haddad encarou a Jazmin Ortenzi, número 5 da Argentina - mas segunda melhor tenista de seu país nesta convocação.  Apesar do amplo favoritismo da brasileira, ela não conseguiu impor sua superioridade no primeiro set.  Logo em seu primeiro game, Bia precisou salvar um break point e só confirmou o seu serviço após quatro igualdades.</p>
<p class='noticia-conteudo'>Depois de sofrer no segundo game, a brasileira foi quebrada no quarto game e Ortenzi saltou à frente com 3/1.  Bia chegou a devolver o break no sétimo game, mas não confirmou seu serviço e foi quebrada outra vez na sequência.  A argentina encaminhou a vitória e fechou a parcial em 6/3.</p>
<p class='noticia-conteudo'>Pressionada, Bia errou muito no início do segundo set, permitindo que a argentina abrisse 2/0.  No terceiro game, nova quebra de Jazmin Ortenzi, que deixou a brasileira em situação muito complicada.  Confiante, Ortenzi confirmou o seu saque seguinte, abrindo 4/0.</p>
<p class='noticia-conteudo'>Foi a senha para Beatriz Haddad Maia reagir.  Depois de pontuar pela primeira vez no set, Bia quebrou o serviço da argentina na sequência, diminuindo para 4/2. 
Só que a brasileira não contava com o que viria pela frente.</p>
<p class='noticia-conteudo'>Com muita raça, Jazmin Ortenzi devolveu a quebra no game seguinte, fazendo 5/2 e passando a sacar para o jogo.  Precisando ser perfeita nos games restantes, Bia foi buscar o empate e conseguiu.  Empurrada pela torcida, ela igualou em 5/5 após duas quebras de serviço seguidas.</p>
<p class='noticia-conteudo'>Como confirmou o seu saque, Bia fez 6/5, ficando a um game do set.  E a vitória na parcial veio ao melhor estilo num contundente 7/5. 
Confiante, Bia voltou melhor para o terceiro set, abrindo de cara 3/1.</p>
<p class='noticia-conteudo'>Como confirmou o seu saque no quinto game, o placar foi a 5/1 para a brasileira, que passou a ficar com a vitória nas mãos.  Dominada até então, Ortenzi ainda diminuiu para 5/2 num último suspiro na partida.  Só que a vitória ficou mesmo com Bia Haddad Maia, que tratou de fechar o set em 6/2.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

