
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Palmeiras{% endblock title %}
{% block main_title %}Palmeiras{% endblock main_title %}
{% block second_title %}Bia Souza e Rebeca Andrade estão entre as vencedoras do Prêmio Brasil Olímpico nas modalidades individuais{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Bia Souza e Rebeca Andrade estão entre as vencedoras do Prêmio Brasil Olímpico nas modalidades individuais
Campeãs olímpicas, assim como Duda e Ana Patrícia, foram eleitas as melhores atletas de suas modalidades em 2024



É OURO! Rebeca Andrade comemora conquista no solo nos Jogos de Paris 2024
Um dia depois de divulgar os vencedores nas modalidades coletivas, o Comitê Olímpico do Brasil (COB) revelou nesta sexta-feira (29) os melhores atletas do ano em 21 modalidades individuais.  Entre os nomes, estão medalhistas olímpicos como Beatriz Souza (judô), Caio Bonfim (atletismo), Rebeca Andrade (ginástica artística), Beatriz Ferreira (boxe) e Duda e Ana Patrícia (vôlei de praia).  Os atletas receberão seus troféus no Prêmio Brasil Olímpico, que acontecerá em 11 de dezembro, em cerimônia no Rio de Janeiro.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_101_0.jpg"></div><p class='foto-descricao'>Campeã olímpica em Paris, Bia Souza foi eleita a melhor atleta do ano no judô — Foto: Alexandre Loureiro/COB</p>
No atletismo, Caio Bonfim foi o escolhido depois de uma temporada histórica, na qual não só ganhou a prata olímpica, primeira medalha da história do Brasil da marcha atlética, como também bateu mais uma vez o recorde brasileiro.  Ele ainda ficou perto de conseguir levar o Brasil ao título do Mundial de Revezamento da Marcha.  É a segunda vez seguida que Caio vence no atletismo, a terceira no total, já que também foi o premiado em 2017, quando ganhou ainda o Atleta da Torcida.</p>
<p class='noticia-conteudo'>No judô, Bia Souza é a escolhida pelo segundo ano consecutivo, depois de uma campanha história nos Jogos Olímpicos Paris 2024: ouro no peso pesado e bronze por equipes mistas. 
Sua xará, Bia Ferreira, chegou à sexta conquista em sete possíveis durante sua trajetória no boxe olímpico, iniciada em 2017.  De lá para cá, ela só não ganhou em 2021, quando Hebert Conceição foi campeão olímpico, e em 2020, quando não houve premiação por causa da pandemia.</p>
<p class='noticia-conteudo'>Bia se despediu do boxe olímpico, para focar no profissional, com o bronze em Paris. 
Na ginástica artística, Rebeca Andrade foi a escolha óbvia depois de quatro medalhas nos Jogos Olímpicos Paris 2024, incluindo um ouro no solo, que a fizeram se tornar a atleta brasileira com mais láureas olímpicas na história - com seis, no total.  Agora, ela é tetracampeã consecutiva (2021, 2022, 2023 e 2024) do Prêmio Brasil Olímpico.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_101_1.jpg"></div><p class='foto-descricao'>Rebeca Andrade em final no solo — Foto: Hannah Mckay/Reuters</p>
Nas outras modalidades da ginástica, vão receber a estatueta: Rayan Dutra, pela primeira vez na carreira, no ano de sua estreia olímpica no trampolim, e Bárbara Domingos, que teve temporada histórica na ginástica rítmica, coroada com uma final olímpica. 
O vôlei de praia também premia uma campeã olímpica.  Ou melhor, duas: Duda e Ana Patrícia.</p>
<p class='noticia-conteudo'>Duda, pessoalmente, chegou ao hexacampeonato consecutivo.  Ana Patrícia, sempre junto dela, ao tri. 
A temporada ainda não acabou para Rayssa Leal, que vai disputar o Super Crown da SLS em busca de mais um título mundial, mas ela já pode colocar na conta mais uma taça.</p>
<p class='noticia-conteudo'>Pela quarta vez seguida, foi a escolhida melhor do ano no skate. 
É DO BRASIL! Ana Patrícia e Duda são ouro no vôlei de praia nos Jogos de Paris
No surfe, pela primeira vez a vitoriosa é uma mulher: Tatiana Weston-Webb, medalhista de prata nos Jogos Olímpicos Paris 2024, vice-campeã do ISA Games e terceira colocada geral da temporada da WSL.  Antes, Gabriel Medina (17/18), Italo Ferreira (19/21) e Filipe Toledo (22/23) haviam sido bi.</p>
<p class='noticia-conteudo'>Com a prata em Paris, Isaquias Queiroz chegou à quinta medalha olímpica na carreira e à 11ª conquista na canoagem velocidade do Prêmio Brasil Olímpico.  O baiano mantém o número de conquistas do PBO de Ana Sátila, na canoagem slalom, e Hugo Calderano, no tênis de mesa, dois brasileiros que bateram na trave pela medalha na França. 
Nas águas abertas, Ana Marcela Cunha faturou o hepta do circuito mundial e seu 12º prêmio de melhor da modalidade no Brasil.</p>
<p class='noticia-conteudo'>Os esportes aquáticos ainda premiaram Guilherme Costa, o Cachorrão, na natação, a agora três vezes olímpica Ingrid Oliveira, nos saltos ornamentais, e a dupla Marina Postal e Eduarda Mattos, dueto júnior do Brasil, no nado artístico. 
'Mapeando': Rayssa Leal e Ana Marcela Cunha são campeãs na Ásia
Edival Pontes, o Netinho, que ganhou o bronze em Paris 2024, foi eleito o melhor do ano no taekwondo, enquanto Marcus Vinicius D’Almeida é premiado pela nona vez no tiro com arco em uma temporada em que foi líder do ranking mundial. 
Bia Haddad Maia, número 17 do mundo da WTA, venceu como a melhor do ano no Brasil no tênis.</p>
<p class='noticia-conteudo'>E Miguel Hidalgo, oitavo em Paris 2024 e nono do ranking mundial, foi escolhido para ganhar o prêmio no triatlo.  Sétima nos Jogos Olímpicos, Laura Amaro leva a taça para casa no levantamento de peso. 
No sábado (30), o COB divulga os vencedores das demais modalidades individuais.</p>
<p class='noticia-conteudo'>Os ganhadores nos esportes coletivos já foram revelados na quinta (28).  No domingo serão anunciados os finalistas do Melhor do Ano – Troféu Rei Pelé e do Atleta da Torcida. 
Vencedores do Prêmio Brasil Olímpico 2024 nas modalidades individuais:
Atletismo - Caio Bonfim
Águas Abertas - Ana Marcela Cunha
Boxe - Beatriz Ferreira
Canoagem Slalom - Ana Sátila
Canoagem Velocidade - Isaquias Queiroz
Ginástica Artística - Rebeca Andrade
Ginástica Rítmica - Barbara Domingos
Ginástica de Trampolim - Ryan Dutra
Judô - Beatriz Souza
Levantamento de Peso - Laura Amaro
Nado Artístico - Marina Postal e Eduarda Mattos
Natação - Guilherme Costa
Saltos Ornamentais - Ingrid Oliveira
Skate - Rayssa Leal
Surfe - Tatiana Weston-Webb
Taekwondo - Edival Pontes
Tênis - Beatriz Haddad Maia
Triatlo - Miguel Hidalgo
Tênis de Mesa - Hugo Calderano
Tiro com Arco - Marcus Vinícius D'Almeida
Vôlei de Praia - Duda Lisboa e Ana Patrícia.</p>
{% endblock main_content %}

