
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Botafogo faz primeiro e único treino em Doha antes da estreia na Copa Intercontinental{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Atividade foi aberta por 15 minutos no Estádio 974 e contou com a presença do zagueiro Bastos na primeira parte



Marcelo Courrege está no Catar e traz informações sobre o Botafogo

Primeiro, Artur Jorge reuniu os 26 jogadores relacionados no centro do gramado e, na sequência, o elenco fez a tradicional roda de bobinho que antecede os treinos.  O período "recreativo" durou 15 minutos, exatamente o tempo que a imprensa conseguiu ter acesso. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_369_0.jpg"></div><p class='foto-descricao'>Botafogo treina em Doha — Foto: Sergio Santana / ge</p>


A dúvida agora é se Bastos será titular na partida.</p>
<p class='noticia-conteudo'>Ele participou da atividade durante toda parte inicial com uma bandagem no músculo posterior da coxa esquerda, mas aparentemente sem restrições. 
Em entrevista após o título do Brasileirão, no último domingo, ele não descartou a possibilidade de voltar já no duelo contra a equipe mexicana.  O angolano sofreu uma lesão muscular durante o jogo contra o Palmeiras, em 26/11, e ficou fora da final da Libertadores e do último jogo contra o São Paulo, que deu o segundo título aos cariocas em uma semana.</p>
<p class='noticia-conteudo'>Ainda nesta terça, Artur Jorge e um jogador concedem entrevista coletiva projetando a estreia na competição mundial. 


Assista: tudo sobre o Botafogo no ge, na Globo e no sportv.</p>
{% endblock main_content %}

