
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Botafogo já foi campeão de torneio amistoso contra PSG e venceu Atlético de Madrid; veja balanço{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Botafogo já foi campeão de torneio amistoso contra PSG e venceu Atlético de Madrid; veja balanço
ge destrincha histórico do Alvinegro contra adversários de grupo do Super Mundial

06/12/2024 05h03 Atualizado há 6 horas

Textor vê Botafogo no nível de alguns times europeus: "Tentar chutar o traseiro de alguém"
PSG, Atlético de Madrid e Seattle Sounders são os rivais que estão no caminho do Botafogo no Super Mundial que começa em junho de 2025.  Enfrentar dois desses clubes não será novidade para o Alvinegro. 

Os confrontos contra os franceses e os espanhóis, ao longo da história, ocorreram em amistosos.</p>
<p class='noticia-conteudo'>A partida contra a equipe norte-americana será inédita. 
Os primeiros confrontos contra o Atlético de Madrid vieram ainda nos anos 1950, quando o clube se notabilizou por fazer excursões para fora do Brasil com o objetivo de arrecadar dinheiro.  Em 1955, as equipes empataram por 3 a 3 na capital espanhola.</p>
<p class='noticia-conteudo'>A primeira vitória veio quatro anos depois, novamente em amistoso disputado em Madrid.  O Botafogo venceu por 6 a 4 com gols de Didi, Zagallo e Quarentinha - cada um balançou as redes duas vezes cada. 

O troco dos Colchoneros veio em 1985 no Troféu Colombino, torneio amistoso realizado pelo Huelva, clube espanhol.</p>
<p class='noticia-conteudo'>O Atleti bateu o clube carioca por 4 a 2. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_122_0.jpg"></div><p class='foto-descricao'>Time de 84 do Botafogo — Foto: Reprodução/Facebook</p>
Campeão contra PSG
O Botafogo jogou (e ganhou) um torneio amistoso que contou com a presença do Paris Saint-Germain.  Em 1984, o clube embarcou para Genebra, na Suíça, novamente seduzido pelos altos valores de premiação envolvidos.</p>
<p class='noticia-conteudo'>Além dos franceses, o Alvinegro enfrentou Everton, da Inglaterra, e Servette, da Suíça, em torneio com formato de quadrangular.  O título foi confirmado após vitórias por 3 a 1 sobre o PSG e triunfo por 1 a 0 em cima da equipe britânica. 

A manchete do "Jornal dos Sports" no dia seguinte à vitória sobre o PSG destacava a atuação alvinegra e a arbitragem.</p>
<p class='noticia-conteudo'>"Com uma bela atuação, o Botafogo venceu ao Paris Saint-Germain, ontem à noite, nesta cidade, por 3 a 1, empolgando aos torcedores suíços.  A equipe carioca apresentou um futebol envolvente, explorando os toques rápidos no meio-campo e boa velocidade dos pontas Robertinho e Helinho.  O placar poderia ter sido maior não fosse a péssima arbitragem do juiz Gachter, que prejudicou sensivelmente o time brasileiro.</p>
<p class='noticia-conteudo'>", escreveu o repórter Ricardo Carpenter. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_122_1.jpg"></div><p class='foto-descricao'>Botafogo no Torneio de Genebra — Foto: Reprodução/Jornal dos Sports</p>


Assista: tudo sobre o Botafogo no ge, na Globo e no sportv
50 vídeos
BOTAFOGO.</p>
{% endblock main_content %}

