<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Botafogo fecha três meses de invencibilidade no Brasileirão; compare com o mesmo período em 2023</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/trendfeeds/css/modelo.css">
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom shadow-sm">
            <a class="navbar-brand p-2 nome-site" href="#">site noticias</a>
            <div class="d-flex justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">Início</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Sobre</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Serviços</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contato</a></li>
                </ul>
            </div>
            <div class="d-flex align-items-center">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                    <button class="btn" type="submit"><img src="pngwing.com (3).png" alt="lupa" style="width: 30px; height: 30px;"></button>
                </form>
            </div>
        </nav>
    </header>

    <!-- Hero Section -->
    <section class="hero bg-primary text-white text-center py-5">
        <h1 class="display-4">Botafogo fecha três meses de invencibilidade no Brasileirão; compare com o mesmo período em 2023</h1>
        <p class="lead"></p>
    </section>

    <main class="container mt-4">
        
        <article class="noticia-detalhada">
            <div class="row">
                <div class="col-lg-8">
                    <h2 class="noticia-titulo">Botafogo fecha três meses de invencibilidade no Brasileirão; compare com o mesmo período em 2023</h2>
                    <div class="noticia-conteudo">
                        <p class='noticia-conteudo'>Botafogo fecha três meses de invencibilidade no Brasileirão; compare com o mesmo período em 2023
Última vez que time perdeu foi no dia 11 de agosto para o Juventude por 3 a 2



Botafogo empata em casa e vê vantagem sobre o Palmeiras diminuir
Apesar de tropeçar diante do Cuiabá no último sábado, com um empate sem gols, o Botafogo completou três meses de invencibilidade no Campeonato Brasileiro.  Desde o dia 11 de agosto, quando perdeu para o Juventude por 3 a 2, o time de Artur Jorge não é derrotado.  Desde então, fez 11 jogos, somando sete vitórias e quatro empates.</p>
<p class='noticia-conteudo'>No último mês, o time já havia chegado à melhor marca com o treinador português.  A sequência poderia ser ainda mais positiva se o Alvinegro não tivesse perdido para o Peñarol no jogo de volta da semifinal da Libertadores, em Montevidéu.  Até essa partida, o Botafogo acumulava 14 jogos sem perder, mas a boa sequência entre as duas competições em disputa foi interrompida.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="../media/Botafogo_fecha_tres_meses_de_invencibilidade_no_Brasileirao_compare_com_o_mesmo_periodo_em_2023_0.jpg"></div>Botafogo comemora gol de Igor Jesus contra o Athletico-PR — Foto: Hedeson Alves/AGIF
Sequência de invencibilidade no Brasileirão

Com sobra, número supera o mesmo período de 2023
Em comparação ao mesmo período de 2023, que foi crítico, o Alvinegro supera com sobras.  Entre a 23ª e 34ª rodada da temporada passada, o time fez apenas nove pontos.  Agora, nesses 11 jogos, 25 pontos foram contabilizados.</p>
<p class='noticia-conteudo'>O Botafogo é líder do Campeonato Brasileiro com 68 pontos, quatro na frente do Palmeiras, que é o segundo.  Essa é a melhor campanha do time na competição de pontos corridos - a marca foi atingida na vitória sobre o Bragantino no dia 26 de outubro. 
Caso vença o próximo jogo, contra o Atlético-MG, atinge a marca de 70 pontos em que o Palmeiras foi campeão em 2023, superando o Alvinegro.</p>
<p class='noticia-conteudo'>“Só tenho motivo para acreditar que o Botafogo vai ser campeão”, diz Pedro Dep

 Ouça o podcast ge Botafogo 🎧
Assista: tudo sobre o Botafogo no ge, na Globo e no sportv
50 vídeos
BOTAFOGO.</p>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card border-light shadow-sm mb-4">
                        <img src="" class="card-img-top noticia-imagem" alt="Imagem da notícia">
                        <div class="card-body">
                            <h5 class="card-title">Destaque</h5>
                            <p class="card-text">Texto extra ou uma citação de destaque pode ser exibido aqui.</p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        
    </main>

    <footer class="text-center py-3 bg-light">
        <p class="mb-0">© 2024 site noticias - Todos os direitos reservados.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
