
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Botafogo x Pachuca onde assistir ao vivo, horário e escalações{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>desfalques, arbitragem e outras informações do Dérbi das Américas pela Copa Intercontinental; Globo e Sportv transmitem ao vivo, e ge acompanha em Tempo Real



Artur Jorge explica a chave para a manutenção da estabilidade do Botafogo em 2024




COPA INTERCONTINENTAL 2024
Segunda fase
X
Botafogo
Pachuca
Campeão da Libertadores e do Campeonato Brasileiro, o Botafogo chega para o confronto embalado pelos resultados e pela melhor temporada da sua história.  Porém, com uma sequência de jogos exaustiva.  O time viajou para Doha logo após erguer a taça do Brasileirão, no Nilton Santos, no último domingo.</p>
<p class='noticia-conteudo'>O time de Artur Jorge pode conquistar outro feito inédito e coroar 2024. 
O Pachuca, campeão da Concacaf, não vive bom momento, mas chega motivado e mais descansado em relação ao calendário.  Na temporada, os mexicanos disputaram 17 jogos, com apenas três vitórias, quatro empates e 10 derrotas.</p>
<p class='noticia-conteudo'>A última vez que entrou em campo foi no início de novembro, dia 9, quando perdeu por 1 a 0, para o Juarez. 
Artur Jorge cita tempo de preparação do Pachuca, mas evita analisar equipe mexicana
Escalações prováveis
Botafogo - Técnico: Artur Jorge
O time segue sem contar com o lateral-direito Vitinho e o zagueiro Bastos, ambos em recuperação de lesão.  O angolano até viajou para Doha, mas ainda não tem condições de entrar em campo.</p>
<p class='noticia-conteudo'>ALEX TELLES
ADRYELSON
MARLON FREITAS
JOHN
GREGORE
SAVARINO
ALEXANDER BARBOZA
IGOR JESUS
ALMADA
LUIZ HENRIQUE
MATEO PONTE
Provável time: John; Mateo Ponte, Adryelson, Barboza e Alex Telles; Gregore e Marlon Freitas; Luiz Henrique, Savarino e Almada; Igor Jesus. 
Quem está fora: Vitinho e Bastos (lesionados). 
Pachuca - Técnico: Guillermo Almada
Em relação ao time que foi campeão da Concacaf, o treinador argentino não terá o meia Erick Sánchez e o atacante Miguel Rodríguez, destaques da equipe na campanha - ambos negociados para outras equipes na última janela.</p>
<p class='noticia-conteudo'>Escalação provável: Moreno; Castillo Liñan, Barreto, Aceves e Bryan González; Pedraza e Montiel; Owen González, Ponchito e Idrissi; Salomón Rondon
RONDÓN
ARTURO GONZÁLEZ
BARRETO
IDRISSI
ACEVES
BRYAN GONZÁLEZ
CARLOS MORENO
PEDRAZA
MONTIEL
OWEN GONZÁLEZ
JOSÉ CASTILLO
Arbitragem
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_371_0.jpg"></div><p class='foto-descricao'>Árbitro Danny Makkelie, da Holanda, árbitro de Botafogo x Pachuca — Foto: Reuters</p>
Árbitro: Danny Makkelie (HOL)
Assistentes: Hessel Steegstra (HOL) e Jan de Vries (HOL)
Quarto árbitro: Abdulrahman Al-Jassim (QAT)
VAR: Rob Dieperink (HOL)
Assistente do VAR: Clay Ruperti (HOL).</p>
{% endblock main_content %}

