
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Botafogo é o quinto brasileiro a não chegar à final do Mundial; veja lista{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Time perde para o Pachuca, não avança à semifinal e não chega à disputa da final, a exemplo do que aconteceu com Palmeiras, Flamengo, Internacional e Atlético-MG



Aos 4 min do 2º tempo - Gol do Pachuca! Idrissi marca contra o Botafogo

Campeões da Libertadores, o Alvinegro e os outros brasileiros ficaram pelo caminho.  Relembre, abaixo, como foram as participações nos anos anteriores. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_392_0.jpg"></div><p class='foto-descricao'>Gregore disputa lance em Botafogo x Pachuca — Foto: Vitor Silva/Botafogo</p>

O Flamengo perdeu do Al-Hilal na semifinal e deu adeus precoce ao sonho do bicampeonato mundial.</p>
<p class='noticia-conteudo'>Em jogo com dois pênaltis e expulsão de Gerson, o Rubro-Negro perdeu por 3 a 2 e ficou com o 3º lugar ao superar o Al-Ahly. 
Os gols de Flamengo 2 x 3 Al Hilal, pela semifinal do Mundial de Clubes 2022
2020 - Palmeiras
Há quatro anos, o time paulista foi o primeiro brasileiro a ser derrotado na disputa pelo terceiro lugar.  Diante do Al-Ahly, o time comandado por Abel Ferreira jogou mal, empatou em 0 a 0 no tempo normal e perdeu nos pênaltis por 3 a 2.</p>
<p class='noticia-conteudo'>Antes, foi derrotado pelo Tigres, do México, por 1 a 0 na semifinal. 
Palmeiras encerra participação no Mundial de Clubes com o quarto lugar
2013 - Atlético-MG
Com Ronaldinho e companhia, o time mineiro foi derrotado por 3 a 1 para o Raja Casablanca na semifinal do Mundial.  Na disputa pelo terceiro lugar, o Galo venceu o Guangzhou Evergrande, da China, por 3 a 2.</p>
<p class='noticia-conteudo'>Atlético-MG perdeu semifinal para o Raja Casablanca no Mundial de Clubes 2013
2010 - Internacional
A estreia entre os desastres brasileiros no Mundial foi com o time gaúcho, que perdeu para o Mazembe, da República Democrática do Congo, por 2 a 0 na semifinal em 2010.  Meses após ser bicampeão da Libertadores, o time comandado por Celso Roth não jogou bem e foi derrotado.  Conquistou o terceiro lugar ao vencer o Seongnam, da Coreia do Sul.</p>
<p class='noticia-conteudo'>Melhores momentos: Mazembe 2 x 0 Internacional pelo Mundial de clubes da Fifa.</p>
{% endblock main_content %}

