
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Brasil enfrenta a França na estreia da Copa Davis 2025{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Brasil enfrenta a França na estreia da Copa Davis 2025
Equipe masculina encara os franceses na primeira fase, prevista para ser disputada entre 31 de janeiro e 2 de fevereiro


O Brasil já conhece seu primeiro adversário na Copa Davis 2025.  A equipe masculina terá pela frente a França na abertura da competição por países do tênis mundial.  Um sorteio realizado na última segunda-feira (2) definiu os confrontos iniciais e o chaveamento das duas fases de qualificação.</p>
<p class='noticia-conteudo'>O primeiro duelo brasileiro será disputado em terras francesas entre 31 de janeiro e 2 de fevereiro, mas ainda não há definição da cidade-sede nem do tipo de piso em que as partidas serão realizadas. 



João Fonseca comemora ano como profissional e estar com o Brasil na Copa Davis
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_17_0.jpg"></div><p class='foto-descricao'>Time do Brasil antes de duelos com a Holanda, pela Copa Davis — Foto: REUTERS/Claudia Greco</p>
Caso supere a França, o Brasil terá pela frente na segunda rodada o vencedor do embate entre Croácia e Eslováquia, em setembro.  Se vencer as partidas contra os croatas ou eslovacos, o time brasileiro compete a última etapa do torneio em novembro: os Finals.</p>
<p class='noticia-conteudo'>Na edição de 2024 da Copa Davis, a equipe brasileira contou com os tenistas Thiago Monteiro, João Fonseca, Felipe Meligeni, além dos duplistas Rafael Matos e Marcelo Melo.  A formação comandada pelo capitão Jaime Oncins acabou eliminada ainda na fase de grupos. 
Novo formato da Copa Davis 2025
A Davis vai passar por uma mudança de formato no próximo ano, com a extinção da fase de grupos.</p>
<p class='noticia-conteudo'>As duas primeiras rodadas serão disputadas em forma de qualificatória e as etapas finais decisivas em sistema de mata-mata, até a definição dos campeões.  As oito seleções que avançarem se encontram a partir das quartas de final na chamada “fase final”, que será realizada em novembro.  A Itália, campeã das duas últimas Davis, entra diretamente nas quartas.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}

