
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Brasil fecha 2024 como seleção do top 10 da Fifa com menos derrotas{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Brasil fecha 2024 como seleção do top 10 da Fifa com menos derrotas
Seleção brasileira é a segunda equipe que menos sofreu gols neste ano entre as 10 melhores do ranking mundial, mas por outro lado apresenta o terceiro pior ataque, com 22 gols marcados



A safra de jogadores da seleção brasileira é boa? Veja o debate no Gringolândia
O Brasil foi a seleção do atual top 10 do ranking da Fifa com o menor número de derrotas em 2024, ao lado da Espanha.  As duas equipes perderam apenas um jogo cada neste ano.  Além disso, a seleção brasileira foi a segunda que menos sofreu gols: 12 no total.</p>
<p class='noticia-conteudo'>✅Siga o novo canal ge Futebol Internacional no WhatsApp
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_0.jpg"></div><p class='foto-descricao'>Seleção brasileira fechou o ano de 2024 com empate com o Uruguai pelas Eliminatórias — Foto: Nelson Almeida/AFP</p>


A Seleção disputou 14 jogos em 2024, entre amistosos, Copa América e eliminatórias sul-americanas da Copa do Mundo 2026.  Tudo sob o comando do técnico Dorival Júnior.  O time venceu seis vezes, empatou sete partidas e perdeu uma.</p>
<p class='noticia-conteudo'>Sofreu 12 gols e marcou 22. 
Na comparação dentro do top 10, terminou com o terceiro pior ataque (ao lado da França, mas melhor que Bélgica e Itália). 
O Brasil não perdeu nenhum dos quatro amistosos que encarou.</p>
<p class='noticia-conteudo'>Por outro lado, saiu da Copa América nas quartas de final (eliminado pelo Uruguai, nos pênaltis), e terminou o ano em quinto lugar na classificação das Eliminatórias, com 18 pontos (50% de aproveitamento). 
Vale frisar que Brasil, Bélgica e Itália fizeram menos jogos do que o resto.  Espanha e Inglaterra foram as que mais entraram em campo em 2024.</p>
<p class='noticia-conteudo'>Números das seleções top 10 do ranking da Fifa em 2024
Seleção Posição no ranking Jogos Vitórias Empates Derrotas Gols Pró Gols Contra
Argentina 1º 16 12 2 2 33 8
França 2º 16 8 5 3 22 13
Espanha 3º 17 14 2 1 41 13
Inglaterra 4º 17 9 4 4 29 13
Brasil 5º 14 6 7 1 22 12
Bélgica 6º 14 4 4 6 15 13
Portugal 7º 16 9 4 3 31 16
Holanda 8º 16 8 4 4 36 16
Itália 9º 14 8 3 3 21 14
Colômbia 10º 16 10 2 4 33 13
Fonte: Fifa
* A última atualização no ranking da Fifa foi em 24 de outubro, e a próxima acontecerá só no dia 27 de novembro, quarta-feira da semana que vem. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_1.jpg"></div><p class='foto-descricao'>Com golaço de Lautaro Martínez, Argentina vence o Peru na Bombonera — Foto: EFE</p>
A equipe com mais vitórias e mais gols pró em 2024, entre as 10 melhores do mundo no atual ranking da Fifa, foi a Espanha.  A seleção espanhola conquistou o título da Eurocopa deste ano e terminou a fase de grupos da Liga das Nações com a melhor campanha.</p>
<p class='noticia-conteudo'>A Argentina levou apenas oito gols neste ano, melhor defesa do top 10.  O time de Messi, Lautaro Martínez e companhia ganhou a Copa América de forma invicta.  A Bélgica foi dessas a que sofreu mais derrotas em 2024: seis no total, sendo quatro na Liga das Nações.</p>
<p class='noticia-conteudo'>O Brasil ocupa no momento o quinto lugar no ranking de seleções da Fifa, com 1784. 37 pontos.  A líder é a Argentina, com 1883.</p>
<p class='noticia-conteudo'>5. 

Gringolândia analisa: "A Argentina hoje está em um patamar acima"
ARGENTINA
DORIVAL JÚNIOR.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

