<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brasileirão abre G-7, Internacional se garante na Libertadores, e Cruzeiro e Bahia são favoritos à última vaga</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/trendfeeds/css/modelo.css">
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom shadow-sm">
            <a class="navbar-brand p-2 nome-site" href="#">site noticias</a>
            <div class="d-flex justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">Início</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Sobre</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Serviços</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contato</a></li>
                </ul>
            </div>
            <div class="d-flex align-items-center">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                    <button class="btn" type="submit"><img src="pngwing.com (3).png" alt="lupa" style="width: 30px; height: 30px;"></button>
                </form>
            </div>
        </nav>
    </header>

    <!-- Hero Section -->
    <section class="hero bg-primary text-white text-center py-5">
        <h1 class="display-4">Brasileirão abre G-7, Internacional se garante na Libertadores, e Cruzeiro e Bahia são favoritos à última vaga</h1>
        <p class="lead"></p>
    </section>

    <main class="container mt-4">
        
        <article class="noticia-detalhada">
            <div class="row">
                <div class="col-lg-8">
                    <h2 class="noticia-titulo">Brasileirão abre G-7, Internacional se garante na Libertadores, e Cruzeiro e Bahia são favoritos à última vaga</h2>
                    <div class="noticia-conteudo">
                        <p class='noticia-conteudo'>Brasileirão abre G-7, Internacional se garante na Libertadores, e Cruzeiro e Bahia são favoritos à última vaga
Atualmente na quinta colocação, Flamengo está classificado para a principal competição sul-americana pela conquista da Copa do Brasil, e disputa no meio da tabela fica mais acirrada



Atlético-MG 0 x 1 Flamengo | Melhores Momentos | Final | Copa do Brasil 2024
O título do Flamengo na Copa do Brasil vai tornar a disputa no meio da tabela do Campeonato Brasileiro mais interessante a cada rodada.  Com a conquista, a equipe rubro-negra está garantida na Libertadores 2025 e, com isso, como atualmente ocupa a quinta posição, abriu uma vaga para o sétimo colocado disputar a fase preliminar da principal competição sul-americana na temporada que vem. 

Outra novidade importante com o título do Fla é que, além de Botafogo, Palmeiras e Fortaleza, que já tinham assegurado suas participações na próxima Libertadores, agora o Internacional também está 100% garantido, de acordo com as projeções do Espião Estatístico.</p>
<p class='noticia-conteudo'>O São Paulo, atualmente na sexta posição, tem 99,99% de possibilidades de ficar nas sete primeiras posições do campeonato e, consequentemente, com a sua vaga na Libertadores

<div class="div-imagem"><img class="noticia-imagem" src="../media/Brasileirao_abre_G7_Internacional_se_garante_na_Libertadores_e_Cruzeiro_e_Bahia_sao_favoritos_a_ultima_vaga_0.jpg"></div>Borré e Alan Patrick comemoram gol diante do Fluminense pelo Brasileirão — Foto: Ricardo Duarte/Divulgação, Internacional
Há algumas rodadas os seis primeiros colocados vêm abrindo vantagem da concorrência, tanto que o São Paulo, sexto colocado, tem 10 pontos a mais que o Cruzeiro, que está em sétimo.  E agora essa posição ocupada pela equipe celeste passa a ser vista com muito interesse pela própria Raposa e pelo Bahia, e ainda tem o Vasco correndo por fora.  O Cruzeiro está com 42,32% de chances de integrar o G-7, o Bahia tem 39,20%, e o Vasco, 4,58%.</p>
<p class='noticia-conteudo'>Com ainda mais chances de G-7 do que o Vasco nas projeções do Espião Estatístico há o Atlético-MG, com 10, 49%.  O Galo vai precisar se recuperar rapidamente das derrotas na final da Copa do Brasil para ter oportunidade de disputar a classificação à Libertadores através do Campeonato Brasileiro.  E tem uma semana decisiva com seus dois jogos atrasados: pega o seu algoz Flamengo na quarta-feira e o Athletico-PR no sábado que vem.</p>
<p class='noticia-conteudo'>Além disso, os atleticanos estão na final da atual edição da Libertadores contra o Botafogo, mas, se não se aplicar no Brasileirão e sair derrotado de mais uma decisão, dificilmente estará na principal competição continental em 2025. 
<div class="div-imagem"><img class="noticia-imagem" src="../media/Brasileirao_abre_G7_Internacional_se_garante_na_Libertadores_e_Cruzeiro_e_Bahia_sao_favoritos_a_ultima_vaga_1.jpg"></div>Chances de G-7 — Foto: Info Esporte
As chances são determinadas por modelos estatísticos aplicados pelo economista Bruno Imaizumi sobre microdados coletados pela equipe do Espião Estatístico desde 2013.  Foram analisadas as características de todas as finalizações e resultados de 4.</p>
<p class='noticia-conteudo'>507 jogos de Campeonatos Brasileiros que servem de parâmetro para medir a produtividade atual das equipes no ataque e na defesa a partir da métrica de expectativa de gol (xG), consolidada internacionalmente. 

Por exemplo, se uma equipe com desempenhos ofensivos e defensivos apenas medianos será visitante no segundo turno contra adversários que estejam com as melhores performances mandantes, as chances desse visitante vencer são menores do que de um time eficiente e de alta produtividade ofensiva que tem agendados confrontos contra adversários que, neste momento, estejam com os piores desempenhos caseiros. 
Porém, conforme novos jogos são disputados, os potenciais futuros mudam, rodada a rodada.</p>
<p class='noticia-conteudo'>Essas são algumas possibilidades que explicam quando as chances não acompanham exatamente as posições atuais da tabela de classificação: os potenciais futuros são diferentes dos resultados já conhecidos, entre outros motivos, devido à inversão de mandos no returno. 
Os dados ajudam a calcular o potencial que cada equipe tem para vencer os jogos restantes, considerando mando de campo e outras características ao fazer 10 mil simulações para cada partida a ser disputada. 
Metodologia
Apresentamos as probabilidades estatísticas baseadas nos parâmetros do modelo de "Gols Esperados" ou "Expectativa de Gols" (xG), uma métrica consolidada na análise de dados que tem como referência as finalizações cadastradas pelo Espião Estatístico em 4.</p>
<p class='noticia-conteudo'>507 jogos de Brasileirões desde a edição de 2013. 
As variáveis consideradas no modelo são: (1) a distância e o ângulo da finalização em relação ao gol; (2) se a finalização foi feita cara a cara com o goleiro; (3) se foi feita sem a presença do goleiro; (4) a parte do corpo utilizada para concluir; (5) se a finalização foi feita de primeira, ajeitada ou carregada; se o chute foi feito com a perna boa ou ruim do jogador; (6) a origem do lance (pênalti, escanteio, cruzamento, falta direta, roubada de bola, lateral etc); (7) se a assistência foi feita de dentro da área; (8) a posição em que o atleta joga; (9) indicadores de força do chute; (10) o valor de mercado das equipes em cada temporada a partir de dados do site Transfermarkt (como proxy de qualidade do elenco); (11) o tempo de jogo; (12) a idade do jogador; (13) a altura do goleiro em jogadas originadas de bolas aéreas; (14) a diferença no placar no momento de cada finalização. 
De cada cem finalizações da meia-lua, por exemplo, apenas sete viram gol.</p>
<p class='noticia-conteudo'>Então, uma finalização da meia-lua tem expectativa de gol (xG) de cerca de 0,07.  Cada posição do campo tem uma expectativa diferente de uma finalização virar gol, que cresce se for um contra-ataque por haver menos adversários para evitar a conclusão da jogada.  Cada pontuação é somada ao longo da partida para se chegar ao xG total de uma equipe em cada jogo.</p>
<p class='noticia-conteudo'>Essa variação indica as chances de os times vencerem cada adversário e, a partir daí, é calculada a chance de os clubes terminarem o campeonato em cada posição. 
O modelo empregado nas análises segue uma distribuição estatística chamada Poisson Bivariada, que calcula as probabilidades de eventos (no caso, os gols de cada equipe) acontecerem dentro de um certo intervalo de tempo (o jogo).  Para chegar às previsões sobre as chances de cada time terminar o campeonato em cada posição foi empregado o método de Monte Carlo, que basicamente se baseia em simulações para gerar resultados.</p>
<p class='noticia-conteudo'>Para cada jogo ainda não disputado, realizamos dez mil simulações. 
*A equipe do Espião Estatístico é formada por: Davi Barros, Guilherme Maniaudet, Guilherme Marçal, Gustavo Figueiredo, Igor Mattos, Leandro Silva, Roberto Maleson, Roberto Teixeira e Valmir Storti. 
ATHLETICO-PR
ATLÉTICO-GO
ATLÉTICO-MG
BAHIA
BOTAFOGO
BRAGANTINO
CORINTHIANS
CRICIÚMA
CRUZEIRO
CUIABÁ
FLAMENGO
FLUMINENSE
FORTALEZA
GRÊMIO
INTERNACIONAL
JUVENTUDE
PALMEIRAS
SÃO PAULO
VASCO
VITÓRIA.</p>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card border-light shadow-sm mb-4">
                        <img src="" class="card-img-top noticia-imagem" alt="Imagem da notícia">
                        <div class="card-body">
                            <h5 class="card-title">Destaque</h5>
                            <p class="card-text">Texto extra ou uma citação de destaque pode ser exibido aqui.</p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        
    </main>

    <footer class="text-center py-3 bg-light">
        <p class="mb-0">© 2024 site noticias - Todos os direitos reservados.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
