
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}flamengo{% endblock title %}
{% block main_title %}flamengo{% endblock main_title %}
{% block second_title %}Braz diz que afastou Gabigol após ver um ou dois fatos no vestiário e prevê despedida à altura do atleta no Flamengo{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Braz diz que afastou Gabigol após ver "um ou dois fatos" no vestiário e prevê despedida à altura do atleta no Flamengo
Dirigente quebra silêncio sobre decisão de deixar o atacante fora de dois jogos após o título da Copa do Brasil e revela que ainda acreditava em renovação: "Vida que segue"



Braz comenta ausência de Gabigol em Cuiabá: "Tem mais 27 jogadores do Flamengo aí"
O vice de futebol do Flamengo, Marcos Braz, quebrou o silêncio e explicou por que afastou Gabigol por duas partidas.  O dirigente afirmou que tomou a decisão por causa dos atos de indisciplina que presenciou no vestiário da final da Copa do Brasil.  Ele garante não ter levado em conta as críticas do jogador à diretoria e o anúncio do camisa 99 de que deixaria o clube ao término da temporada.</p>
<p class='noticia-conteudo'>O dirigente não quis detalhar a gravidade ou especificar qual episódio presenciou na Arena MRV.  Na ocasião, Gabigol se irritou com a substituição no intervalo.  Ele deu as costas, isolou-se ao saber da mexida e resmungou com a decisão de Filipe Luís.</p>
<p class='noticia-conteudo'>Braz afirmou que a decisão foi tomada por ele e apenas comunicada ao treinador rubro-negro. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_13_0.jpg"></div><p class='foto-descricao'>Marcos Braz e Gabigol têm relação de altos e baixos no Flamengo — Foto: Alexandre Vidal/Flamengo</p>
– A gente não precisa externar nem qualificar o episódio.  O que posso falar é que a gente está há seis anos na vice-presidência de futebol e sempre administrando não só situações do Gabriel, mas de outros jogadores também.</p>
<p class='noticia-conteudo'>A gente sempre fez com a mesma métrica.  Quando a gente achava que o clube deveria se posicionar, a gente chegou e sempre fez isso de maneira pontual. 
Eu comuniquei ao Filipe Luís, claro que a gente sempre tem uma boa conversa, tenho uma excelente relação com ele.</p>
<p class='noticia-conteudo'>Mas, para deixar claro, o Filipe Luís foi comunicado
— Marcos Braz. 
– O que o Flamengo fez nada tem a ver com o que ele falou.  Agora, vou deixar claro, o que foi dentro do vestiário ficará no vestiário, mas um ou dois fatos eu presenciei.</p>
<p class='noticia-conteudo'>Entendemos que precisaria ter um ajuste, e isso foi feito com o Gabriel saindo dos jogos contra Atlético-MG e Cuiabá.  Ele voltará normalmente a partir do próximo jogo, contra o Fortaleza, e cumprirá seu contrato até o final como fez até agora com muita tranquilidade, e o Flamengo também – explicou Braz ao ge. 
Flamengo mantém afastamento de Gabigol, que segue sem poder atuar
Mais notícias do Flamengo:



<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_13_1.jpg"></div><p class='foto-descricao'>Marcos Braz, vice-presidente de futebol do Flamengo — Foto: Marcos Ribolli</p>
O vice-presidente de futebol admitiu que tinha esperança em uma reviravolta e na permanência de Gabriel por mais tempo no Flamengo.</p>
<p class='noticia-conteudo'>No entanto, a situação ficou insustentável depois do tom da entrevista logo após o título da Copa do Brasil. 

– Eu tinha esperança de ajustar, sabia como era complexo, sabia o que as partes deveriam ceder.  Isso não foi possível, mas eu fiquei no meio desse processo tentando equacionar esse problema.</p>
<p class='noticia-conteudo'>– Acho que aquele momento era um momento de título, um título importante de nível nacional contra um adversário histórico nosso.  Mas a gente não pode controlar isso, nem ficar chateado ou fora do controle por causa disso.  O jogador entendeu que deveria se pronunciar naquele momento.</p>
<p class='noticia-conteudo'>Mais uma vez, acho que poderia ter evitado, mas é um direito do jogador de se colocar – pontuou o dirigente. 
Gabigol divulga vídeo com exaltação de torcedores e seus lances na final da Copa do Brasil
A relação entre Marcos Braz e Gabriel melhorou depois de um bate-papo entre eles, pontuando os problemas e externando as divergências sobre o afastamento.  A intenção de ambas as partes é encerrar o ciclo do jogador no clube da melhor maneira possível, até por respeito à torcida.</p>
<p class='noticia-conteudo'>Por isso, o Flamengo projeta uma despedida à altura do tamanho do camisa 99 na história rubro-negra.  O clube ainda tem dois jogos no Maracanã pelo Brasileirão: Internacional, dia 1º de dezembro, e Vitória, dia 8. 
– Essa celebração deveria ser feita no Rio de Janeiro.</p>
<p class='noticia-conteudo'>É como o atleta quer, como a gente quer.  E acho que é importante a gente falar do que foi a passagem do Gabriel aqui.  O Gabriel foi importantíssimo, os títulos foram mais importantes ainda, conquistados por ele, pelo elenco que lhe ajudou.</p>
<p class='noticia-conteudo'>E no final é isso que vai contar. 
É uma história de Cinderela, de final feliz, essa que é a verdade.  Não tenho o que lamentar, é vida que segue.</p>
<p class='noticia-conteudo'>Boa sorte para ele
— Marcos Braz. 
– Estou falando a nível Brasil, do dirigente, quando você compõe, você passa a mão no jogador, você amarela para o jogador, são todos os adjetivos possíveis.  E, quando você tem um pouco mais de dureza, é o ego do dirigente, o dirigente querendo aparecer, as interpretações são diversas – disse.</p>
<p class='noticia-conteudo'>Gabigol vai deixar o Flamengo como maior vencedor da história do clube, ao lado de Zico, Júnior, Arrascaeta e Bruno Henrique.  O atacante soma 304 jogos e 160 gols, sendo o sexto maior goleador da história rubro-negra. 
Não é apenas Gabriel que irá deixar o Flamengo.</p>
<p class='noticia-conteudo'>Ao término da gestão de Rodolfo Landim, Marcos Braz irá sair do cargo de vice-presidente de futebol. 
Veja outros trechos da entrevista de Marcos Braz ao ge:
ge: a decisão de afastar o Gabriel foi totalmente sua? Como é a relação entre vocês?
– A relação é boa.  Da mesma maneira que ele espera entender várias situações que ele externou, tive que entender e espero que ele entenda a minha posição nesse momento.</p>
<p class='noticia-conteudo'>Sempre tive uma relação muito boa com o Gabriel, em episódios pontuais tivemos algum problema, mas sempre teve um carinho da minha parte, um respeito pela sua história, pelo que ele fez dentro do Flamengo e pelo que ele ganhou.  Agora, essas histórias são intensas, os títulos foram intensos e de vez em quando você precisa, ou às vezes você precisa, de algumas situações pontuais que elas têm que ser entendidas de um lado e de outro. 
– Espero mais uma vez que o Gabriel tenha entendido, acho que entendeu.</p>
<p class='noticia-conteudo'>Nossa conversa foi muito boa, o Gabriel volta normalmente a partir do próximo jogo e nessa sequência de Brasileiro.  Se ele entra em campo ou não, é um problema do Filipe Luís.  Estará à disposição do elenco a partir do próximo jogo.</p>
<p class='noticia-conteudo'>Todo mundo sabe que ele tem um final de contrato, são os últimos jogos dele nessa passagem pelo Flamengo e isso vai ser respeitado, vai ser considerado e vamos escolher um dia para que a gente possa fazer uma celebração de um último jogo nessa passagem do Gabriel pelo Flamengo. 
A despedida será contra o Vitória?
– Possivelmente, tem Flamengo x Vitória, tem Flamengo x Inter.  Acho que essa festa deveria ser feita no Rio de Janeiro.</p>
<p class='noticia-conteudo'>É como o atleta quer, como a gente quer.  E eu acho que é importante também a gente falar do saldo, do que foi a passagem do Gabriel aqui.  O Gabriel foi importantíssimo, os títulos mais importantes ainda conquistados por ele, pelo elenco que lhe ajudou.</p>
<p class='noticia-conteudo'>E no final é isso que vai contar. 
Você sabia que ele não ia ficar mais?
– Não, não sabia.  Mas sou um conhecedor do mercado brasileiro, do mercado internacional, em relação a esse complexo mundo do futebol.</p>
<p class='noticia-conteudo'>E eu sei do tamanho do Gabriel, sei das possibilidades dos outros clubes quererem o Gabriel.  O Gabriel é um jogador perto dos 28 anos, que não tem lesão séria na carreira, não tem uma lesão histórica séria na carreira.  Mais do que normal o mercado estar sempre à sua procura.</p>
<p class='noticia-conteudo'>Num primeiro momento teve o Corinthians, num segundo momento teve o Palmeiras e num terceiro momento teve o Cruzeiro, uma hora isto ia parar em algum lugar.  Ao que estou vendo, ao que tudo indica, o Cruzeiro é hoje, pelas informações que a gente tem, que é uma possibilidade grande e real dele ir para o Cruzeiro. 
E você tentou achar um caminho para o Flamengo e ele renovarem contrato?
– Até o dia das declarações.</p>
<p class='noticia-conteudo'>Sempre tentei ajustar isso, desde sempre.  Eu sempre achei que o Gabriel..</p>
<p class='noticia-conteudo'>.  aí eu já vou reportar seis anos atrás.  Quando cheguei, alguns pares meus, importantes players que estão aí até disputando a eleição, queriam o Pablo.</p>
<p class='noticia-conteudo'>Saiu isso na imprensa.  Eu sempre quis o Gabigol, deu certo.  O Gabriel deu certo, deu muito certo no Flamengo.</p>
<p class='noticia-conteudo'>Acho que não é o porque não tá renovando que a gente tem que chegar e ficar se lamentando.  Se todo jogador que o dirigente contratasse desse os resultados que o Gabriel deu, acho que não teria lamentação. 
– Não estou lamentando mais, sou agradecido ao que o Gabriel fez ao Flamengo.</p>
<p class='noticia-conteudo'>Acho que o Flamengo também. ..</p>
<p class='noticia-conteudo'>acho não, tenho certeza que o Flamengo também foi muito importante para o Gabriel no momento em ele precisava de uma retomada da carreira.  Gabriel vai para fora, vai para um outro lugar em Portugal, volta para o Santos, e acho que no momento de retomada de carreira foi importantíssimo para o Gabriel, foi importantíssimo para o Flamengo, e a história é uma história feliz.  É uma história de cinderela, de final feliz, essa que é a verdade.</p>
<p class='noticia-conteudo'>Não tenho o que lamentar, é vida que segue.  Boa sorte para ele na continuação do Flamengo, na continuação da carreira e boa sorte para o Flamengo na continuação da sua história. 
Acha que os últimos episódios, como o doping, ter vestido a camisa do Corinthians, negociado com o Palmeiras, abalaram o fim da passagem dele pelo clube e a relação com a torcida?
– Talvez a indiferença possa ter tido nesse jogo, mas o que o Gabriel fez pro Flamengo, os títulos que foram conquistados, não podem ser indiferentes e não deverão ser.</p>
<p class='noticia-conteudo'>E se tiver algum ajuste, a história sempre corrige.  Acho que esses dois anos não são os dois anos que você poderia querer de qualquer jogador.  Esses dois anos são os dois anos que o Gabriel, pudesse fazer uma entrega ainda maior, mas isso longe de apagar a média do que ele entregou desde sempre e do que talvez ele poderia até entregar.</p>
<p class='noticia-conteudo'>Mas chega uma hora, que às vezes você tem que oxigenar o ambiente ou se oxigenar também. 
– O que eu posso te falar é o seguinte: eu não tinha o porquê de tomar uma medida dessa aleatoriamente se eu administrei o Gabriel, aí estou falando especificamente do Gabriel, não estou falando dos outros jogadores.  Se eu administrei o Gabriel, desde sempre no Flamengo, administrei porque era o meu papel também, administrei pelo que ele entregou desde o começo aqui.</p>
<p class='noticia-conteudo'>Administrei pela importância do jogador que ele é.  Se eu fiz isso desde sempre, por que eu não ia fazer nos últimos seis jogos? Nos últimos oito jogos? Fiz, vou fazer, vou administrar sempre.  Agora, às vezes, no percurso, você tem que se posicionar ou pontuar algumas coisas que você acha que deveria ter feito ou que não gostei.</p>
<p class='noticia-conteudo'>Enfim, seja lá qual é a interpretação.  Mas o que eu posso falar para você é que eu não queria que isso tivesse ocorrido, nem esses dois jogos, também talvez não queria ouvir o que ele se expressou após um título nacional da envergadura e da importância, mas isso passa, se ajusta e é vida que segue. 
A contratação do Tite abalou o Gabriel?
– O que eu posso falar é que quando o Tite chega, já tem algumas fotografias em relação ao Gabriel.</p>
<p class='noticia-conteudo'>Como, por exemplo, o dopping.  Não era exposto ainda, não era exposto porque não estava na imprensa.  Isso não quer dizer que eu não sabia, a gente teve um problema com o jogador agora que eu sabia há seis meses, sete meses.</p>
<p class='noticia-conteudo'>Refere-se ao caso do Bruno Henrique?
– É.  Eu já sabia desse problema há seis meses, sete meses.  O problema estava até arquivado, depois voltou.</p>
<p class='noticia-conteudo'>Então, assim, isso não quer dizer que se o problema não está exposto é porque não está sendo administrado.  Entende? Hoje até existe uma soberba que é "se não foi noticiado por algum jornalista grande é porque não é fato".  E isso é uma falácia.</p>
<p class='noticia-conteudo'>Existem muitas situações que são administradas e ajustadas dentro do departamento de futebol e que, às vezes, é divulgado só em outro contexto e você não tem mais o interesse de abordar o tema de novo. 
– Então, assim, dentro desses dois anos eu acho que é injusto só botar na conta do Tite uma situação de uma melhor entrega do Gabriel.  Eu penso que tem de tudo um pouco.</p>
<p class='noticia-conteudo'>E também tem o fato dele ter tido poucas oportunidades, ainda mais para um jogador que joga de frente, fazendo gol.  Quando o cara começa a analisar que não está fazendo gol, teoricamente não está entregando, né? Um jogador da envergadura do Gabriel e da importância do Gabriel, se não está fazendo gol, não está fazendo a entrega.  Eu acho que é essa a interpretação.</p>
<p class='noticia-conteudo'>Às vezes o jogador na zaga, no meio campo, que não tem tanta a necessidade e o nome atrelado ao gol, ele passa um pouco mais batido em relação à entrega que eu estou falando, entendeu?
Não tenho muito o que falar.  Vou fazer uma bonita festa para ele, que ele é merecedor disso.  A história que ele fez dentro do Flamengo é merecedora.</p>
<p class='noticia-conteudo'>E os ajustes durante esse tempo, eu espero que ele entenda. 

Assista: tudo sobre o Flamengo no ge, na Globo e no sportv
0 seg
Inter garante vaga na Libertadores e assegura ..</p>
<p class='noticia-conteudo'>. 
0 seg
Análise: Filipe Luís aposta em repertório da b..</p>
<p class='noticia-conteudo'>. 
0 seg
Braz diz que afastou Gabigol após ver "um ou d..</p>
<p class='noticia-conteudo'>. 
0 seg
Filipe Luís cita vantagem com Garotos do Ninho..</p>
<p class='noticia-conteudo'>. 
0 seg
Guilherme celebra gol em estreia pelo profissi..</p>
<p class='noticia-conteudo'>. 
0 seg
Atuações do Flamengo: Filipe Luís vai bem, e b..</p>
<p class='noticia-conteudo'>. 
0 seg
Escalação do Flamengo: Filipe Luís terá três z..</p>
<p class='noticia-conteudo'>. 
0 seg
Clubes reforçam luta contra o racismo no Dia d..</p>
<p class='noticia-conteudo'>. 
0 seg
Fortaleza diminui carga para flamenguistas e d..</p>
<p class='noticia-conteudo'>. 
0 seg
Veja o que está em jogo para o Flamengo na ret..</p>
<p class='noticia-conteudo'>. 
0 seg
Despedida de Adriano: Materazzi é confirmado e..</p>
<p class='noticia-conteudo'>. 
0 seg
Diego Ribas terá jogo de despedida no Werder B..</p>
<p class='noticia-conteudo'>. 
0 seg
Rebeca Andrade encanta jovens atletas nos Jogo..</p>
<p class='noticia-conteudo'>. 
0 seg
Cuiabá x Flamengo: onde assistir ao vivo, horá..</p>
<p class='noticia-conteudo'>. 
0 seg
Braz comenta ausência de Gabigol em chegada a ..</p>
<p class='noticia-conteudo'>. 
0 seg
Escalação do Flamengo: dupla Bruno Henrique e ..</p>
<p class='noticia-conteudo'>. 
0 seg
Favoritismos #34: dicas, palpites e chances de..</p>
<p class='noticia-conteudo'>. 
0 seg
Flamengo consegue efeito suspensivo, e Bruno H..</p>
<p class='noticia-conteudo'>. 
0 seg
Fortaleza x Flamengo: mais de 49 mil torcedore..</p>
<p class='noticia-conteudo'>. 
0 seg
Venezuelano do Paysandu é o segundo estrangeir..</p>
<p class='noticia-conteudo'>. 
0 seg
Com febre e mal-estar, David Luiz está fora de..</p>
<p class='noticia-conteudo'>. 
0 seg
Estêvão supera Pedro e Hulk e tem maior poder ..</p>
<p class='noticia-conteudo'>. 
0 seg
Sem Gabigol e à espera de efeito para BH, veja..</p>
<p class='noticia-conteudo'>. 
0 seg
Colômbia x Equador nas Eliminatórias: onde ass..</p>
<p class='noticia-conteudo'>. 
0 seg
Ainda em transição, Luiz Araújo está fora de C..</p>
<p class='noticia-conteudo'>. 
0 seg
Show do Apolinho: como um jornalista conseguiu..</p>
<p class='noticia-conteudo'>. 
0 seg
A cinco rodadas do fim, veja quantos times no ..</p>
<p class='noticia-conteudo'>. 
0 seg
Gabigol continua afastado pelo Flamengo e não ..</p>
<p class='noticia-conteudo'>. 
0 seg
Após renovação até 2029, Lorran busca novo gás..</p>
<p class='noticia-conteudo'>. 
0 seg
Mosaico, taças no campo e choro: há um ano, co..</p>
<p class='noticia-conteudo'>. 
FLAMENGO.</p>
{% endblock main_content %}
{% block cor_categoria %}#ff0000{% endblock cor_categoria %}

