
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Buffon diz que Neymar é o melhor que já enfrentou Deveria ter cinco Bolas de Ouro{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Buffon diz que Neymar é o melhor que já enfrentou: "Deveria ter cinco Bolas de Ouro"
Ex-goleiro italiano atuou com o craque brasileiro no Paris Saint-Germain e o colocou na frente de Messi e Cristiano Ronaldo


Gianlugi Buffon tem Neymar como o melhor jogador que já enfrentou na carreira.  O ex-goleiro, que atuou profissionalmente entre 1995 e 2023, venceu a Copa do Mundo de 2006.  Buffon citou diversos craques que já jogou contra, mas o brasileiro do Al-Hilal ganhou o destaque para o italiano.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_12_0.jpg"></div><p class='foto-descricao'>Neymar e Buffon pelo PSG — Foto: Catherine Steenkeste/Getty Images</p>
- Joguei com três gerações, como posso dizer? Zidane, Ronaldo, Messi, CR7, Iniesta - disse Buffon quando perguntado sobre o melhor jogador que já enfrentou. 
Apesar de ter enfrentado muitos craques, Buffon precisou escolher apenas um.  Em entrevista ao jornal italiano Corriere della Sera, Gigi deu destaque para Neymar, que foi adversário e companheiro de equipe.</p>
<p class='noticia-conteudo'>- Neymar.  Para o jogador e o garoto que ele é, ele deveria ter ganhado cinco Bolas de Ouro - destacou o ex-goleiro. 
“Se o Neymar tiver bem, a Seleção muda de patamar” opina Rizek
Buffon e Neymar jogaram juntos no Paris Saint-Germain na temporada 2018/19.</p>
<p class='noticia-conteudo'>A equipe já contava com Kylian Mbappé e era uma das candidatas ao título da Champions League, mas foi eliminada nas oitavas de final para o Manchester United. 
- Tínhamos vencido por 2-0 em Manchester contra o United.  Entendi que não estávamos preparando o retorno da maneira certa.</p>
<p class='noticia-conteudo'>Mas não disse. ..</p>
<p class='noticia-conteudo'>afinal, fui o último a chegar, talvez ainda tivesse uma mentalidade provinciana, eram todos campeões, o Mbappé tinha acabado de ganhar a Copa.  Sofremos um gol imediatamente devido a um erro defensivo, o segundo também foi culpa de um passe impreciso da minha parte, acertamos o terceiro e fomos eliminados.  Não nos preparamos adequadamente para o retorno.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_12_1.jpg"></div><p class='foto-descricao'>Os números da carreira de Buffon — Foto: INFOESPORTE</p>
Campeão do mundo em 2006 com a Itália e ídolo da Juventus, o goleiro Gianluigi Buffon anunciou sua aposentadoria do futebol aos 45 anos de idade em agosto de 2023.  Ele atuou pelo Parma, clube que o revelou, nas últimas duas temporadas. 
Além da Copa conquistada, Buffon defendeu a seleção italiana em 1998, 2002, 2010 e 2014.</p>
<p class='noticia-conteudo'>Ele poderia se tornar o único jogador a atuar em seis edições, mas a Azzurra não se classificou para as duas últimas, na Rússia e no Catar. 
O goleiro encerrou a carreira com 1151 partidas disputadas.  Foram 685 pela Juventus, clube onde ficou durante 19 temporadas, 265 pelo Parma, 25 pelo Paris Saint-Germain, onde teve breve passagem em 2018/19, e 176 pela Itália.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

