
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Calendário 2025 de corridas no Brasil veja datas e locais{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Confira as principais provas de rua; a primeira é em janeiro, mas há opções no ano inteiro



Corridas em lugares inusitados




<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_379_0.jpg"></div><p class='foto-descricao'>Meia Maratona SC21K Caixa — Foto: Guilherme Spengler/Corre Brasil</p>

Meia Maratona de Americana
Data: 19 de janeiro
Local: Americana (SP)
Distâncias: 5km, 10km e 21km
Mais informações no site
Maratona Oficial de Ribeirão Preto
Data: 21 de janeiro
Local: Ribeirão Preto (SP)
Distâncias: 3km (caminhada), 5km, 10km, 21km e 42km
Mais informações no site
Maratona de Duque de Caxias
Data: 26 de janeiro
Local: Duque de Caxias (RJ)
Distâncias: 5km, 10km, 21km e 42km
Mais informações no site
Fevereiro
Maratona do Vinho
Data: 9 de fevereiro
Local: Bento Gonçalves (RS)
Distâncias: 7km, 21km e 42km
Mais informações no site
Meia Maratona de Peruíbe
Data: 23 de fevereiro
Local: Peruíbe (SP)
Distâncias: 5km, 10km e 21km
Mais informações no site
Março
Maratona de Torres
Data: 16 de março
Local: Torres (RS)
Distâncias: 5km, 10km, 21km e 42km
Mais informações no site
Meia das Pontes
Data: 30 de março
Local: Brasília (DF)
Distâncias: 5km, 10km e 21km
Mais informações no site
Abril
Maratona Internacional de São Paulo
Data: 6 de abril
Local: São Paulo (SP)
Distâncias: 5km, 10km, 21km e 42km
Mais informações no site
Meia Maratona de São Paulo
Data: 13 de abril
Local: São Paulo (SP)
Distâncias: 5km, 10km e 21km
Mais informações no site
Maratona de João Pessoa
Data: 20 de abril
Local: João Pessoa (PB)
Distâncias: 5km, 10km, 21km e 42km
Mais informações no site
Maratona de Brasília
Data: 21 de abril
Local: Brasília (DF)
Distâncias: 5km, 10km, 21km e 42km
Mais informações no site
New Balance 42k Porto Alegre
Data: 27 de abril
Local: Porto Alegre (RS)
Distâncias: 5km, 10km, 21km e 42km
Mais informações no site
RJ Half Marathon 2025
Data: 27 de abril
Local: Rio de  (RJ)
Distâncias: 5km, 10km e 21km
Mais informações no site
Maio
Meia Maratona Internacional de Florianópolis
Data: 4 de maio
Local: Florianópolis (SC)
Distâncias: 5km, 10km e 21km
Mais informações no site
Rio do Rastro Marathon
Data: 17 e 18 de maio
Local: Rio do Rastro (SC)
Distâncias: 12km, 25km, 42km e 67km
Mais informações no site
Maratona Nilson Lima de Uberlândia
Data: 17 e 18 de maio
Local: Uberlândia (MG)
Distâncias: 5km, 10km, 21km e 42km
Mais informações no site
Maratona do Natal
Data: 18 de maio
Local: Lagoa Nova (RN)
Distâncias: 5km, 10km, 21km e 42km
Mais informações no site
Junho
Maratona de Porto Alegre
Data: 7 e 8 de junho
Local: Porto Alegre (RS)
Distâncias: 5km, 10km, 21km e 42km
Mais informações no site
Maratona de Olinda
Data: 8 de junho
Local: Olinda (PE)
Distâncias: 5km, 10km, 21km e 42km
Mais informações no site
13ª Meia Maratona de Campinas
Data: 8 de junho
Local: Campinas (SP)
Distâncias: 5km, 10km e 21km
Mais informações no site
Maratona do Rio
Data: 18 a 22 de junho
Local: Rio de  (RJ)
Distâncias: 5km, 10km, 21km, 42km e 21+42km
Mais informações no site
14ª Maratona Floripa
Data: 22 de junho
Local: Florianópolis (SC)
Distâncias: 5km, 21km e 42km
Mais informações no site
Julho
Hoka Speed Run
Data: 6 de julho
Local: São Paulo (SP)
Distâncias: 7. 5km, 15km e 30km
Mais informações no site
8ª Meia Maratona de Uberlândia
Data: 6 de julho
Local: Uberlândia (MG)
Distâncias: 5km, 10km e 21km
Mais informações no site
Uphill Cristo Redentor
Data: 20 de julho
Local: Rio de  (RJ)
Distâncias: 5km, 10km e 21km
Mais informações no site
SP City Marathon
Data: 27 de julho
Local: São Paulo (SP)
Distâncias: 21km e 42km
Mais informações no site
Agosto
Maratona Internacional de João Pessoa
Data: 2 e 3 de agosto
Local: João Pessoa (PB)
Distâncias: 5km, 10km, 21km e 42km
Mais informações no site
A Muralha Up and Down Marathon
Data: 17 de agosto
Local: Pinedo (RJ)
Distâncias: 42km
Mais informações no site
Maratona Fila
Data: 25 de agosto
Local: São Paulo (SP)
Distâncias: 10km, 21km e 42km
Mais informações no site
Maratona Internacional de Floripa
Data: 31 de agosto
Local: Florianópolis (SC)
Distâncias: 5km, 21km e 42km
Mais informações no site
Maratona Internacional de Goiânia
Data: 31 de agosto
Local: Goiânia (GO)
Distâncias: 5km, 10km, 21km e 42km
Mais informações no site
Setembro
Maratona de Niterói
Data: setembro de 2025 (dia ainda não anunciado)
Local: Niterói (RJ)
Distâncias: 5km, 42km e 42km revezando
Mais informações no site
Mountain Do Costão do Santinho
Data: 13 de setembro
Local: Florianópolis (SC)
Distâncias: 5km, 9km, 21km e 42km
Mais informações no site
Maratona de Salvador
Data: 21 de setembro
Local: Salvador (BA)
Distâncias: 5km, 10km, 21km e 42km
Mais informações no site
3ª Maratona e 8ª Meia Maratona Criciúma 2025
Data: 28 de setembro
Local: Criciúma (SC)
Distâncias: 5km, 10km, 21km e 42km
Mais informações no site
Outubro
Maratona Internacional de Pomerode
Data: 25 e 26 de outubro
Local: Pomerode (SC)
Distâncias: 6km, 21km e 42km
Mais informações no site
Maratona de Aracaju
Data: 26 de outubro
Local: Aracaju (SE)
Distâncias: 5km, 10km, 21km e 42km
Mais informações no site
Novembro
Maratona de Jurerê
Data: 1º e 2 de novembro
Local: Jurerê (SC)
Distâncias: 5km, 10km, 21km e 42km
Mais informações no site
Maratona Monumental de Brasília
Data: 22 e 23 de novembro
Local: Brasília (DF)
Distâncias: 5km, 10km, 21km e 42km
Mais informações no site.</p>
{% endblock main_content %}

