
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Camisas de LeBron e Bronny em jogo histórico são leiloadas por R$ 600 mil{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Camisas de LeBron e Bronny em jogo histórico são leiloadas por R$ 600 mil
Uniformes usados por pai e filho no primeiro jogo juntos na NBA começou recebendo propostas de 70 mil dólares (cerca de R$ 421 mil)

06/12/2024 10h10 Atualizado há uma hora

"O que o torcedor do knicks espera é final de conferência", analisa João Pedro Brandão
LeBron James e Bronny James tiveram suas camisas usadas no jogo histórico, em que se tornaram a primeira dupla de pai e filho a atuar junta na NBA, leiloadas por um valor tão significativo quanto o momento.  Os uniformes foram arrematados por 102 mil dólares (cerca de R$ 613 mil) em um leilão realizado pela Sotheby's, uma renomada casa de leilões conhecida pela especialidade em vender memorabilia esportiva, na última quarta-feira (04). 


Os lances começaram a ser realizados no mês passado e se encerraram nesta semana.</p>
<p class='noticia-conteudo'>No início da disputa pelos itens, 34 propostas haviam sido feitas, começando com a quantia de 70 mil dólares (cerca de R$ 421 mil). 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_122_0.jpg"></div><p class='foto-descricao'>Lebron James e Bronny em ação pelos Lakers — Foto: Getty Images</p>
As peças foram vestidas pelos atletas no dia 22 de outubro, quando o Los Angeles Lakers venceu o Minnesota Timberwolves por 110 a 103.  No confronto, King James e Bronny permaneceram em quadra como companheiros de time por cerca de dois minutos.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_122_1.jpg"></div><p class='foto-descricao'>Camisas de LeBron e Bronny em jogo histórico são leiloadas por R$ 600 mil — Foto: Sotheby's</p>
Desde então, Bronny perdeu espaço no Los Angeles Lakers e passou a atuar pela equipe de desenvolvimento da franquia, na G-League.  Ao contrário do filho, LeBron segue sendo um dos principais jogadores dos Lakers na temporada, com uma média de 22. 3 pontos e nove assistências por jogo.</p>
<p class='noticia-conteudo'>Confira o momento em que LeBron e Bronny atuaram juntos na NBA pela primeira vez:.</p>
{% endblock main_content %}

