
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Campeonato Italiano anuncia janela de transferências especial para o Mundial de Clubes de 2025{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Campeonato Italiano anuncia janela de transferências especial para o Mundial de Clubes de 2025
Essa foi a primeira liga a aderir ao período de transferências extra entre 1º e 10 de junho; Fifa deixa a decisão de aprovar a janela a cargo de cada federação


O Campeonato Italiano foi o primeiro a aderir à janela de transferências extra antes do Mundial de Clubes de 2025.  A medida foi tomada após a Fifa anunciar o período extra para contratações, no último mês de outubro.  Com isso, Juventus e Internazionale, representantes do país na competição, terão a chance de se reforçar entre 1º e 10 de junho do ano que vem.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_0.jpg"></div><p class='foto-descricao'>Juventus e Internazionale terão a chance de se reforçar antes do Mundial de Clubes de 2025 — Foto: Fabrizio Carabelli/SOPA Images/LightRocket via Getty Images</p>

A Fifa quer incentivar os clubes participantes do Mundial de Clubes de 2025 a se movimentarem no mercado antes da competição.  Além disso, a entidade também espera que os clubes possam renovar os contratos de alguns atletas que terminariam no meio do campeonato. 
A Federação Italiana de Futebol anunciou a medida em um comunicado nesta quinta-feira:
— Levando em consideração a edição de 2025 do Mundial de Clubes da Fifa, a pedido da Série A e enquanto se aguarda a definição do regulamento específico, também foi decidido autorizar uma janela de transferência adicional de 1 a 10 de junho de 2025 — disse.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_1.jpg"></div><p class='foto-descricao'>Juventus e Internazionale terão a chance de se reforçar antes do Mundial de Clubes de 2025 — Foto: Piero Cruciatti/Anadolu via Getty Images</p>

A decisão de adotar a nova janela de transferências será de cada associação membro da Fifa.  A data será voltada para os times participantes da competição e para aqueles que quiserem utilizar, caso a federação local tenha aderido. 
Além da Itália, é esperado que as federações de futebol de Alemanha, Espanha e Inglaterra também confirmem se vão introduzir a janela de transferências adicional.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_2.jpg"></div><p class='foto-descricao'>Juventus e Internazionale terão a chance de se reforçar antes do Mundial de Clubes de 2025 — Foto: Mattia Pistoia - Inter/Inter via Getty Images</p>

A mudança visa permitir que os clubes prorroguem os contratos dos atletas por determinado números de dias.  Com essas medidas, a Fifa pretende dar mais facilidade aos jogadores na hora de prolongar seus vínculos.  Aos clubes, a ideia é marcar um período para reforçar a equipe para o Mundial em igualdade de condições.</p>
<p class='noticia-conteudo'>O Mundial de Clubes acontece do dia 15 de junho a 13 julho de 2025, nos Estados Unidos.  Três brasileiros já estão confirmados na disputa: Palmeiras, Flamengo e Fluminense, campeões das últimas edições da Conmebol Libertadores.  Atlético-MG e Botafogo brigam pela última vaga sul-americana para a competição.</p>
<p class='noticia-conteudo'>Fifa divulga detalhes do troféu do Mundial de Clubes 2025
INTERNAZIONALE
JUVENTUS.</p>
{% endblock main_content %}

