
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Campeão da Copa Conmebol em 93 com o Botafogo relembra glória e alerta Não pode vacilar de novo{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Campeão da Copa Conmebol em 93 com o Botafogo relembra glória e alerta: "Não pode vacilar de novo"
Suélio Lacerda, que fez parte do elenco comandado pelo técnico Carlos Alberto Torres, destaca importância da concentração do clube em busca do Brasileirão e da Libertadores



Atlético-MG empata com Botafogo em jogo que antecede a final da Libertadores
O Botafogo se prepara para semanas decisivas em 2024, com a chance de conquistar dois dos títulos mais importantes do futebol sul-americano.  Líder do Campeonato Brasileiro e finalista da Libertadores, o clube carioca busca fazer história.  Para Suélio Lacerda, ex-jogador e campeão da Copa Conmebol pelo Glorioso em 1993, a conquista desses troféus exige foco e determinação, especialmente após o clube ter desperdiçado uma oportunidade semelhante no ano passado.</p>
<p class='noticia-conteudo'>O time atual tem potencial para ser campeão tanto do Brasileirão quanto da Libertadores.  Mas, não pode vacilar e precisa manter os pés no chão". 
— Suélio Lacerda.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_14_0.jpg"></div><p class='foto-descricao'>Sentado, Suélio Lacerda é o segundo, da direita para a esquerda — Foto: Julio Cesar Guimarães / O Globo</p>
A campanha da Copa Conmebol de 1993 é um marco na história do Botafogo.  Naquela ocasião, a equipe de General Severiano superou importantes adversários, como o Atlético-MG e o Peñarol, sob a liderança de Carlos Alberto Torres, técnico responsável por conduzir o time ao título continental.  Suélio, que chegou ao Glorioso após passagem vitoriosa pelo São Paulo de Telê Santana, foi peça importante.</p>
<p class='noticia-conteudo'>O Botafogo passava por uma fase difícil, mas o Capita foi importante.  Nos juntamos a um grupo jovem e combinamos experiência com qualidade, o que foi fundamental". 
— Suélio Lacerda.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_14_1.jpg"></div><p class='foto-descricao'>Botafogo x Peñarol, pela Copa Conmebol 1993 — Foto: Acervo Antônio Rodrigues</p>
O paralelo com a temporada atual é inevitável.  Em 2023, o Botafogo liderou grande parte do Brasileirão, mas perdeu o título na reta final para o Palmeiras.  Este ano, a disputa se repete, com o time carioca novamente na ponta da tabela, mas com uma diferença de apenas dois pontos para o rival paulista.</p>
<p class='noticia-conteudo'>Um confronto direto ainda está marcado, em São Paulo, o que pode ser decisivo na briga pela sonhada taça. 
O Botafogo não pode vacilar, pois o Palmeiras está logo atrás na disputa.  Se vacilar, pode acabar perdendo novamente um título que, teoricamente, está em suas mãos".</p>
<p class='noticia-conteudo'>— Suélio Lacerda. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_14_2.jpg"></div><p class='foto-descricao'>Endrick comemora gol pelo Palmeiras contra o Botafogo, pela Série A 2023 — Foto: Cesar Greco/Palmeiras</p>
Além da disputa nacional, o Alvinegro da Estrela Solitária tem a final da Libertadores contra o Atlético-MG como seu principal objetivo.  De acordo com Suélio Lacerda, a competição continental é vista como uma prioridade, considerando o prestígio internacional que o título pode trazer ao time liderado pelo técnico português Artur Jorge.</p>
<p class='noticia-conteudo'>Os jogadores têm todas as condições favoráveis: salários altos e pagos em dia.  Um grande desafio será enfrentar o Atlético-MG, e eu espero que a torcida possa celebrar essa vitória tão esperada". 
— Suélio Lacerda.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_14_3.jpg"></div><p class='foto-descricao'>Suélio Lacerda pelo Botafogo, em 1993 — Foto: Acervo pessoal</p>
ATLÉTICO-MG
BOTAFOGO
PALMEIRAS.</p>
{% endblock main_content %}

