
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Campeão brasileiro, ex-zagueiro Nem barrou Artur Jorge e viu ascensão de Abel Ferreira{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Campeão brasileiro, ex-zagueiro Nem "barrou" Artur Jorge e viu ascensão de Abel Ferreira
Ex-jogador conta bastidores dos tempos de Braga, de Portugal, onde teve contato direto com os técnicos de Botafogo e Palmeiras



Novembro Verde: Palmeiras pode fechar mês mágico contra Botafogo
Campeão brasileiro em 2001 pelo Athletico, o ex-zagueiro Nem conviveu, em passagem de cinco anos pelo Braga, de Portugal, com os dois treinadores que atualmente são protagonistas no futebol brasileiro: Abel Ferreira e Artur Jorge, comandantes de Palmeiras e Botafogo. 
Nem, então aos 32 anos, conta que foi contratado pelo Braga em 2003 com uma missão definida pela diretoria: tirar a faixa de capitão de Artur Jorge.  O ex-zagueiro detalha ainda, em entrevista ao ge, que não apenas se consolidou na posição, mas também testemunhou a ascensão do então jovem lateral Abel Ferreira.</p>
<p class='noticia-conteudo'>O Abel e o Artur, assim como outros portugueses que estavam no Braga, se doam muito em relação ao futebol, eles estudavam e ainda estudam muito.  Por isso que a grande maioria deles tem sucesso no mundo do futebol. 
— Nem, ex-zagueiro, em entrevista ao ge
Nesta quarta-feira, os ex-jogadores do Braga estarão frente a frente no duelo entre Palmeiras e Botafogo, às 21h30 (de Brasília), no Allianz Parque, em São Paulo, e que podem deixar um deles mais próximo da conquista.</p>
<p class='noticia-conteudo'>A TV Globo transmite a partida para todo o Brasil, e o ge acompanha em Tempo Real. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_58_0.jpg"></div><p class='foto-descricao'>Nem, ex-jogador do Athletico, em entrevista ao ge — Foto: Reprodução/ RPC</p>
Conversa franca com Artur Jorge
Nem chegou ao Braga em um momento crucial para o clube.  Com a missão de renovar o time, a diretoria portuguesa buscou um zagueiro experiente e de personalidade forte para substituir o capitão Artur Jorge.</p>
<p class='noticia-conteudo'>O brasileiro, então no Atlético-MG, encaixava perfeitamente nesse perfil. 
— Sentei com o Artur, expliquei a ele, porque eu sempre fiz isso.  Eu disse: 'me contrataram para te tirar do Braga.</p>
<p class='noticia-conteudo'>Eu não quero que você saia, mas eles querem te tirar.  E eu não fujo dos meus compromissos.  Eu sou homem, sou honesto e vim falar a você que, daqui para frente, quem vai tomar conta do Braga sou eu' — revelou Nem em entrevista ao ge.</p>
<p class='noticia-conteudo'>Nos cinco anos que ficou no Braga (de 2003 a 2007), Nem fez parte da revolução promovida pelo presidente António Salvador, que resultou na modernização do clube e, esportivamente falando, em quatro participações em competições da Uefa, sendo uma delas a Liga dos Campeões da Europa. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_58_1.jpg"></div><p class='foto-descricao'>Artur Jorge (pai) com seu filho na época de jogador do Braga — Foto: Reprodução</p>
O surgimento de Abel Ferreira
Enquanto Nem se consolidava na defesa do Braga, Abel Ferreira dava os primeiros chutes na bola como profissional.  O futuro treinador do Palmeiras conviveu com o zagueiro brasileiro e outros portugueses mais experientes, sendo um deles Vitor Castanheira, atual auxiliar do técnico no Verdão.</p>
<p class='noticia-conteudo'>Além de cumprir seu papel dentro de campo, Nem foi testemunha privilegiada da ascensão de Abel Ferreira e da formação de uma nova geração de treinadores portugueses. 
— O Abel é um lateral muito forçado, mas eles (Artur, Abel e Castanheira) estudavam muito futebol.  Ficavam um tempo, com várias vezes presenciei, conversando com o Jesualdo Ferreira, que era treinador, em relação a tática e estratégia de jogo — contou Nem.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_58_2.jpg"></div><p class='foto-descricao'>Abel Ferreira com Nem, nos tempos de Braga — Foto: Divulgação/SC Braga</p>
A importância da comissão técnica
Nem destaca a importância da comissão técnica na formação de grandes treinadores como Abel Ferreira e Artur Jorge.  Segundo o ex-zagueiro, a união entre os profissionais e a troca de experiências são fundamentais para o sucesso. 
— Os portugueses que que vêm para o Brasil dão certo porque eles trazem a própria comissão técnica.</p>
<p class='noticia-conteudo'>O Abel tem a sua comissão, que é composta por alguns ex-jogadores que trabalharam com ele lá em Portugal.  O Artur do mesmo jeito — explicou. 
— Hoje, se você mandar embora o Abel, sai todo mundo da comissão técnica do Palmeiras.</p>
<p class='noticia-conteudo'>Se demitir o Artur, do Botafogo, é a mesma coisa.  O treinador brasileiro aceitou fazer o que o clube quer, que é deixar as pessoas da confiança dos dirigentes.  Acho isso errado, está na hora de mudar, porque a gente está vendo que está dando certo, tanto no Botafogo, quanto no Palmeiras — completou.</p>
<p class='noticia-conteudo'>O Braga foi o clube que Nem mais defendeu na carreira: 127 jogos.  Além do clube português e também de Athletico e Atlético-MG, o zagueiro ainda atuou por Botafogo-SP, São Paulo, XV de Piracicaba, Bragantino, Paraná Clube, CRB e Marcílio Dias. 
Mais notícias do esporte paranaense no ge.</p>
<p class='noticia-conteudo'>globo/pr
BOTAFOGO
PALMEIRAS.</p>
{% endblock main_content %}

