
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Campeonato Argentino tem final na última rodada e três times na briga pelo título{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Confronto direto entre Vélez Sarsfield e Huracán também pode dar título ao Talleres; Boca Juniors briga por vaga na Libertadores de 2025




<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_418_0.jpg"></div><p class='foto-descricao'>Troféu do Campeonato Argentino — Foto: LPF</p>
A rodada final do Campeonato Argentino será disputada a partir de sexta-feira, e não terá todos os jogos simultâneos.  As partidas que decidem o título, porém, serão disputadas ao mesmo tempo.  Os confrontos entre Vélez Sarsfield x Huracán e Talleres x Newell's Old Boys estão marcados para 19h30 de domingo.</p>
<p class='noticia-conteudo'>Quem lidera o campeonato antes do início da última rodada é o Vélez Sarsfield, com 48 pontos.  O time de Liniers tem 20 de saldo de gols e 36 gols marcados.  O Talleres está empatado em pontos e possui três gols a menos, chegando em 9 de SG.</p>
<p class='noticia-conteudo'>Com 46 pontos, o Huracán tem 12 de saldo e 28 gols. 


O Campeonato Argentino define o saldo de gols como critério de desempate.  Caso as equipes tenham o mesmo número de SGs, o número de gols marcados é o que separa os times.</p>
<p class='noticia-conteudo'>O terceiro critério é o confronto direto. 
1º - Vélez Sarsfield (48 pontos e 20 de SG)
Líder durante grande parte do campeonato, o Vélez chegou a uma sequência de empates em um momento decisivo da temporada.  Entre as rodadas 18 e 24, o clube somou seis empates em sete jogos, o que permitiu a aproximação de rivais.</p>
<p class='noticia-conteudo'>Racing e River Plate foram algumas equipes que chegaram a ameaçar o título do Vélez Sarsfield, mas se afastaram.  No confronto direto com os rivais, o líder venceu o Racing por 1 a 0 e empatou em 1 a 1 com o River. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_418_1.jpg"></div><p class='foto-descricao'>Vélez Sarsfield briga pelo título argentino — Foto: Hernan Cortez/Getty Images</p>
O Vélez depende apenas de si para ser campeão.</p>
<p class='noticia-conteudo'>A vitória mantém as posições do campeonato, a menos que o Talleres tire a diferença de 11 no saldo de gols.  Se empatar no confronto direto com o Huracán, a equipe precisa torcer para o Talleres não vencer o Newell's.  A derrota tira o título do Vélez.</p>
<p class='noticia-conteudo'>2º - Talleres (48 pontos e 9 de SG)
Forte candidato ao título até o meio do campeonato, o Talleres se afastou da briga depois de uma sequência de cinco jogos sem vencer entre julho e agosto.  Na reta final da temporada, o clube voltou a ser um forte adversário para o Vélez. 
Em um novembro lotado de jogos, a equipe entendeu o que o momento pedia.</p>
<p class='noticia-conteudo'>Depois de um empate e uma derrota nos dois primeiros jogos do mês, o Talleres venceu cinco jogos seguidos para empatar em pontos com o líder da competição. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_418_2.jpg"></div><p class='foto-descricao'>Talleres busca título argentino em 2024 — Foto: Marcelo Endelli/Getty Images</p>
Para ser campeão, o Talleres precisa da vitória.  A derrota mantém o time atrás do líder.</p>
<p class='noticia-conteudo'>O empate permite que qualquer resultado em Vélez x Huracán tire o título da equipe de Córdoba.  Com a vitória, o Talleres ainda precisa torcer para o Vélez não vencer. 
3º - Huracán (46 pontos e 12 de SG)
O Huracán foi o time que mais assustou o Vélez durante o campeonato.</p>
<p class='noticia-conteudo'>A contagem regressiva para o confronto direto na última rodada pareceu se afastar após tropeços da equipe em casa, como nos empates sem gols com Gimnasia y Esgrima e Central Córdoba, mas a "final" chegou em Buenos Aires. 
A cinco pontos do Vélez até segunda-feira, o Huracán precisava da vitória em casa com o Platense na penúltima rodada.  Em um jogo de muitos gols perdidos, Eric Ramírez acertou o voleio que manteve o Huracán vivo na briga pelo título argentino.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_418_3.jpg"></div><p class='foto-descricao'>Huracán tenta título em confronto direto no Campeonato Argentino — Foto: Huracán</p>
Assim como o Talleres, o Huracán só se importa com a vitória.  O empate e a derrota deixam o clube atrás dos rivais.  Se vencer, porém, o time precisa torcer para o Talleres não ganhar do Newell's.</p>
<p class='noticia-conteudo'>O empate do segundo colocado dá o título ao Huracán em caso de vitória pelo desempate no saldo de gols. 
Vagas na Libertadores
Além da disputa pelo título, o Campeonato Argentino também tem a definição das últimas vagas na Libertadores.  Estudiantes, campeão da Copa da Liga, Central Córdoba, campeão da Copa Argentina, e Racing, campeão da Sul-Americana, são as equipes garantidas.</p>
<p class='noticia-conteudo'>O vencedor do Campeonato Argentino garante uma das vagas restantes.  Os outros três classificados serão os três melhores na tabela anual da competição, que soma os resultados.  No momento, as vagas estão com Vélez Sarsfield, Talleres e River Plate.</p>
<p class='noticia-conteudo'>Caso o título fique com Vélez ou Talleres, abre uma vaga para o Boca Juniors jogar a pré-Libertadores.  Se o título for do Huracán, que está em sétimo na tabela anual, as vagas continuam da maneira que estão, e o Boca vai para a Sul-Americana..</p>
{% endblock main_content %}

