
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Campeã olímpica flagrada chicoteando cavalo é suspensa por um ano{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Campeã olímpica flagrada chicoteando cavalo é suspensa por um ano
Charlotte Dujardin, dona de três medalhas de ouro no adestramento, já havia sido afastada provisoriamente por seis meses e ficará sem competir até julho de 2025

05/12/2024 10h22 Atualizado há uma hora

Vídeo mostra maus-tratos de campeã olímpica a cavalo; imagens fortes
A britânica Charlotte Dujardin, dona de três medalhas de ouro no adestramento, foi suspensa de todas as competições do hipismo pelo período de um ano após ter sido filmada agredindo um cavalo inúmeras vezes com um chicote durante um treinamento.  Além da punição, a Federação Equestre Internacional (FEI) aplicou uma multa de 10. 000 francos suíços (cerca de R$ 68 mil).</p>
<p class='noticia-conteudo'>O incidente ocorreu há quatro anos, mas o vídeo só veio a público em julho deste ano. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_66_0.jpg"></div><p class='foto-descricao'>Vídeo mostra Dujardin maltratando cavalo em treino — Foto: Reprodução</p>
- Essas sanções significativas enviam uma mensagem clara de que qualquer um, independentemente do seu perfil, que se envolva em conduta que comprometa o bem-estar do cavalo enfrentará consequências sérias.  Acreditamos que esse resultado reafirma o comprometimento da FEI com o bem-estar equino e com seu papel como guardiã de nossos parceiros equinos - disse a secretária-geral da FEI Sabrina Ibáñez.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_66_1.jpg"></div><p class='foto-descricao'>Multicampeã olímpica é suspensa por um ano após agredir cavalo — Foto: REUTERS</p>


Por causa das imagens, a Federação suspendeu Dujardin provisoriamente por seis meses.  A esportista pode voltar a competir em julho de 2025, pois o tempo já cumprido contará para a pena disciplinar.  Antes mesmo da punição, devido à repercussão negativa, a atleta decidiu abdicar de disputar os Jogos Olímpicos de Paris.</p>
<p class='noticia-conteudo'>Britânica Charlotte Dujardin recebe medalha de ouro no hipismo adestramento
Charlotte Dujardin conquistou seis medalhas olímpicas ao longo da carreira, sendo três de ouro.  A competidora alcançou o lugar mais alto do pódio por duas vezes em Londres 2012 (individual e equipes) e levou um ouro no Rio de Janeiro 2016 (individual); além de uma prata no Rio (equipes) e dois bronzes (equipe e individual) em Tóquio 2020..</p>
{% endblock main_content %}

