
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}vasco{% endblock title %}
{% block main_title %}vasco{% endblock main_title %}
{% block second_title %}Campinas vence Santo André em fim emocionante e é campeão do Paulista feminino de basquete{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Campinas vence Santo André em fim emocionante e é campeão do Paulista feminino de basquete
Time segura reação do Santo André no último período e conquista o título no jogo 3 da decisão

04/12/2024 20h57 Atualizado há 13 horas
Campinas é campeão da edição 2024 do Paulista feminino de basquete.  Com um fim emocionante, a equipe segurou a reação do Santo André no último período e venceu por 74 a 69 na noite desta quarta-feira, no ABC paulista, para fechar a série decisiva melhor de três em 2 a 1. 
É o terceiro título estadual do Campinas - os outros foram em 2019 e 2020.</p>
<p class='noticia-conteudo'>Já o Santo André fica com o vice pelo quarto ano consecutivo (tinha perdido as três finais anteriores para o Sesi Araraquara) e adiou mais uma vez a busca pelo hexa paulista. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_64_0.jpg"></div><p class='foto-descricao'>Campinas comemora o título do Paulista feminino de basquete — Foto: Diego Alves</p>
Enquanto o Santo André teve as duas principais cestinhas (Yasmim e Tássia, com 20 e 18 pontos, respectivamente), o jogo coletivo do Campinas fez a diferença, com quatro jogadores fazendo dois dígitos em pontuação: Iza Sangalli (15), Luana (14), Lua (12) e Casanova (12).  Campinas liderou o placar do início ao fim e chegou a abrir 16 pontos de vantagem.</p>
<p class='noticia-conteudo'>O JOGO
Campinas abriu 5 a 0 no início, com cinco pontos de Luana.  A ala-pivô foi a destaque do primeiro quarto, com oito pontos.  Santo André chegou a empatar em 14 a 14, mas as visitantes terminaram na frente: 18 a 6.</p>
<p class='noticia-conteudo'>O segundo período começou com domínio do Campinas, fazendo 34 a 23 sob o comando de Iza Sangalli.  Santo André reduziu para dois (37 a 35) e foi para o intervalo apenas quatro pontos atrás: 39 a 35 para o Campinas. 
O roteiro do primeiro tempo se repetiu na volta do intervalo, com Campinas abrindo vantagem e o Santo André correndo atrás.</p>
<p class='noticia-conteudo'>Com direito a dois arremessos de três de Luana, as visitantes ficaram 11 pontos na frente: 51 a 39. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_64_1.jpg"></div><p class='foto-descricao'>Santo André x Campinas, final do Paulista feminino de basquete — Foto: Diego Alves</p>
Mas o Santo André não desistiu e reagiu no último período, baixando para apenas dois pontos faltando 2m10: 70 a 68.  Evelyn teve a chance de empatar, mas acertou apenas um dos dois arremessos de lance livre.</p>
<p class='noticia-conteudo'>Babi, em bola dentro do garrafão, fez 72 a 69 para o Campinas.  Evelyn errou uma bandeja livre na sequência, e Casanova deixou a equipe campineiro cinco pontos na frente com um arremesso "espírita", definindo a vitória por 74 a 69 e também o título para Campinas..</p>
{% endblock main_content %}

