
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}corinthians{% endblock title %}
{% block main_title %}corinthians{% endblock main_title %}
{% block second_title %}Campanha para pagar arena do Corinthians se aproxima de R$ 30 milhões, mas perde fôlego{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Organizadores acreditam que pagamento da segunda parcela do 13º salário e ações de marketing podem turbinar a "vaquinha"; Arrecadação atingiu 4,2% da meta



Vaquinha para pagar arena do Corinthians está fazendo sucesso


O volume de doações perdeu o fôlego com o passar do tempo, como é possível observar no gráfico abaixo:
Doações para pagar a arena do Corinthians
Milhões de reais
27/11
29/11
1/12
3/12
5/12
7/12
9/12
11/12
0
5
10
15
20
25
30
35
Fonte: ge
A média diária de doações está em R$ 2,1 milhões.  Para alcançar a meta no prazo estipulado, de seis meses, é preciso acelerar a arrecadação. 
Os organizadores da campanha acreditam que o pagamento da segunda parcela do 13º salário, na próxima semana, pode turbinar a "vaquinha".</p>
<p class='noticia-conteudo'>Eles também apostam na realização de ações de marketing envolvendo embaixadores do projeto, como artistas e ex-jogadores. 



<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_398_0.jpg"></div><p class='foto-descricao'>Neo Química Arena, casa do Corinthians — Foto: Rodrigo Gazzanel</p>

O saldo do financiamento do clube com a Caixa Econômica Federal está na casa de R$ 710 milhões, e a expectativa é de que seja possível até mesmo quitar o débito com o valor arrecadado na campanha. 
Uma comissão fiscal independente vai acompanhar a ação.</p>
<p class='noticia-conteudo'>O Corinthians não terá acesso aos valores e não há risco de a conta ser alvo de bloqueios ou penhoras. 
Por meio do site da campanha os torcedores podem acompanhar o volume de doações em tempo real.  O projeto terá duração máxima de seis meses.</p>
<p class='noticia-conteudo'>Se a meta de dinheiro for atingida antes, a arrecadação será interrompida. 

Todos os que colaborarem receberão um certificado de doação.  Aqueles que contribuírem com mais de R$ 100, caso autorizem, terão seus nomes divulgados no painel que será instalado na arena.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}

