
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Canelo Alvarez aceita enfrentar Jake Paul, mas com uma condição; veja qual{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Canelo Alvarez aceita enfrentar Jake Paul, mas com uma condição; veja qual
Pugilista mexicano virou um dos principais alvos do youtuber que virou boxeador.  Jake Paul chamou a atenção por duelo com Mike Tyson, 31 anos mais velho que ele



Mundo da Luta analisa combate entre Mike Tyson e Jake Paul
Depois de enfrentar Mike Tyson, Jake Paul já mudou sua mira para outro expoente do boxe.  E que já não nega a possibilidade de enfrentar o youtuber hoje pugilista.</p>
<p class='noticia-conteudo'>Canelo Alvarez, mexicano de 34 anos, é campeão super-médio da WBA (Super), WBC, WBO e The Ring, e desejo antigo de Jake Paul.  Mas o campeão mundial jpa avisou que tem uma condição. 
- Eu lutaria com Jake Paul? Quando eu encerrar no boxe, por que não? Talvez, talvez eu faça isso.</p>
<p class='noticia-conteudo'>Sim (quando eu terminar de competir no topo).  Acho que é bom porque o que acontece é que há outras pessoas que nunca assistem boxe ou não sabem nada sobre boxe - disse Alvarez no programa “Full Send Podcast”. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_21_0.jpg"></div><p class='foto-descricao'>Canelo - Munguia - luta — Foto: Esther Lin/PBC</p>
- Eles querem assistir Jake Paul porque ele traz fãs de outro mundo, certo? Isso é bom porque todo mundo (consegue) aproveitar.</p>
<p class='noticia-conteudo'>Talvez (lute com Jake Paul no futuro).  Talvez. 
Jake Paul responde críticas sobre luta contra Mike Tyson
Mundo da Luta repercute Tyson x Jake Paul e vitórias de Jon Jones e Do Bronx
Mike Tyson revela ter passado por oito transfusões em junho: "Quase morri"
Evander Holyfield desafia Mike Tyson por trilogia no boxe
Ngannou reage à vitória de Jake Paul contra Tyson: "Me doeu ver Mike naquela situação"
Jake Paul é desafiado por campeão mundial de boxe e dispara: "Entra na fila"
Canelo admite que a força para fazer negócios de pessoas como Jake Paul pe de se admirar, mas não os vê como verdadeiros lutadores.</p>
<p class='noticia-conteudo'>- Como lutadores, não sei.  Porque ser um lutador é diferente.  O que eles fazem, acho que eles fazem para os negócios.</p>
<p class='noticia-conteudo'>E você precisa respeitar isso. 
Assine o Combate e veja o melhor do mundo das lutas.</p>
{% endblock main_content %}

