
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Capitão do Atlético-MG, Hulk sonha acordado com Libertadores Título que não tenho{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Capitão do Atlético-MG, Hulk sonha acordado com Libertadores: "Título que não tenho"
Atacante tem no currículo as conquistas do Brasileirão, da Copa do Brasil, do Campeonato Mineiro e da Supercopa com a camisa do Galo



Capitão, Hulk revela sonhar com Libertadores: "É o que falta com a camisa do Galo"
Hulk está a um jogo de ampliar a galeria de troféus com a camisa do Atlético-MG.  Campeão do Campeonato Brasileiro, da Copa do Brasil, da Supercopa e tetra do Campeonato Mineiro, o capitão do Galo busca levantar o troféu da Conmebol Libertadores.  Questionado sobre o que significa a Glória Eterna, como é chamada a competição, ele foi preciso:
"É o título que eu não tenho com a camisa do Galo.</p>
<p class='noticia-conteudo'>Estou sentindo que a gente vai ser abençoado com esse sonho da Glória Eterna. "


"Para gente é tudo (a Glória Eterna).  Principalmente levando em consideração todo esse ano.</p>
<p class='noticia-conteudo'>A gente está mal no Brasileiro, perdemos a Copa do Brasil, e ter a oportunidade de ganhar Libertadores é tudo.  Se tiver que deixar a vida lá dentro, eu vou deixar por esse título.  É sonho, obsessão".</p>
<p class='noticia-conteudo'>O jogador revelou ainda que tem sonhado dormindo e, acreditem, também acordado com a decisão da competição, no sábado, às 17h (de Brasília), em Buenos Aires, contra o Botafogo. 
Resenha! Hulk e Deyverson se divertem nos bastidores do Galo
- Eu sonhei com a final, com gol recentemente, não é bom ficar falando, mas já sonhei sim.  Sonhei acordado também, estava com minhas filhas na piscina, olhei a lua e vi um filme passar na minha cabeça.</p>
<p class='noticia-conteudo'>Temos que pegar esse sonho, colocar como objetivo - disse o atacante. 
"É um sonho que hoje podemos ter a oportunidade de desfrutar dessa competição. "
Desde que chegou ao clube, o camisa 7 disputou 220 jogos, marcou 114 gols e deu 44 assistências com a camisa alvinegra.</p>
<p class='noticia-conteudo'>Currículo que explica o tamanho da idolatria.  Capitão do Atlético, Hulk vai ser o responsável por levantar a taça, em caso de título. 
- Escolhido e nomeado pelo treinador.</p>
<p class='noticia-conteudo'>Tem que honrar a escolha, respeitando, trabalhando para caramba e sendo exemplo positivo.  Sempre estou sendo elogiado pelo meu comportamento profissional e humano.  É gratificante quando somos exemplos para os mais jovens.</p>
<p class='noticia-conteudo'>Não gosto de ficar fora de treino, de jogo.  A gente ganha esse prêmio e responsabilidade.  Não é fácil ser capitão.</p>
<p class='noticia-conteudo'>"O mais importante é ganhar, ser campeão.  Aqui no Galo, quando a gente é campeão, a gente junta quatro, cinco capitães, e, por respeito, levantamos a taça juntos. "
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_37_0.jpg"></div><p class='foto-descricao'>Hulk ergue a taça de campeão mineiro com o Atlético-MG — Foto: Gilson Lobo/AGIF</p>
Como a final é em jogo único, quem vencer levanta a taça.</p>
<p class='noticia-conteudo'>Em caso de empate, haverá prorrogação.  E, se persistir a igualdade, o título será definido nos pênaltis.  Esta é sexta decisão da Conmebol Libertadores nesse formato.</p>
<p class='noticia-conteudo'>Os jogadores do Atlético estão concentrados em um resort, que fica em uma das extremidades de Buenos Aires.  O elenco vai fazer duas atividades, uma na quinta e outra na sexta, antes da decisão de sábado no estádio do River Plate. 
O vencedor garante vaga na Copa Intercontinental e vai enfrentar o Pachuca, do México, no dia 11 de dezembro, em Doha, no Catar.</p>
<p class='noticia-conteudo'>Quem passar pega o Al Ahly, do Egito, decidindo um lugar na decisão contra o Real Madrid. 
O campeão da Conmebol Libertadores fica com a última vaga no Mundial de Clubes, que será disputado nos Estados Unidos entre 15 de junho e 13 de julho do ano que vem.  Além disso, o vencedor vai disputar o título da Recopa com o Racing, que conquistou a Copa Sul-Americana.</p>
<p class='noticia-conteudo'>A disputa está marcada para os dias 19 e 26 de fevereiro. 
Assista: tudo sobre o Atlético no ge, na Globo e no Sportv
50 vídeos

ATLÉTICO-MG.</p>
{% endblock main_content %}

