
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Careca por opção, cuscuz, e pouca frescura as revelações de Pepa no Carona do GE{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Careca por opção, cuscuz, e "pouca frescura": as revelações de Pepa no Carona do GE
Treinador do Sport deixa o campo um pouco de lado e conta muitas histórias para Tiago Medeiros: "É muita resenha"

04/12/2024 13h01 Atualizado há uma hora

Carona do GE com o técnico Pepa, do Sport, trouxe revelações do treinador
Pepa está feliz.  E não teria outro caminho.  No Sport, o treinador português não nega que encontrou um ambiente de pressão, mas se disse privilegiado por ter recebido a responsabilidade de resgatar o time de um momento ruim dentro da Série B.</p>
<p class='noticia-conteudo'>No fim, ele sorriu.  Levou o Leão à Série A e cumpriu a primeira parte da sua missão. 


Antes de sair de férias e descansar para o restante da missão no Sport, Pepa pegou uma Carona com o GE.</p>
<p class='noticia-conteudo'>No vídeo, você assiste a um resumo dessa conversa, mas no Podcast Embolada, publicamos o papo completo que o treinador teve com Tiago Medeiros (escute abaixo). 
Nitidamente satisfeito, entre risos e revelações, o português deixou o campo de lado e não só abriu o coração, como falou de suas impressões sobre o Recife e sua população, contou os bastidores de uma certa foto na festa de comemoração do título e até fez confissões da época em que foi jogador do Benfica. 
"Eu era um pouco bandido, como se fala aqui, malandro, né?!"
Até de cabelo Pepa falou.</p>
<p class='noticia-conteudo'>Ou melhor, da falta dele.  E trouxe uma revelação.  Ele não é calvo e a cabeça lisa é uma opção desde a juventude.</p>
<p class='noticia-conteudo'>— Eu não sou calvo, eu tiro.  Eu raspo.  Comecei com uns 15 anos.</p>
<p class='noticia-conteudo'>Se me desse a chance de ser careca, sem nada, nada, eu aceitava na hora.  Quatro dias sem raspar eu já não me sinto o mesmo. 
Pepa estava acertando em tudo, até fazer uma outra revelação, sincera, mas que o povo pernambucano só vai perdoar porque o técnico é muito gente boa.</p>
<p class='noticia-conteudo'>— Não gosto de cuscuz.  Aqui é cuscuz pra tudo! Lá no CT tem cuscuz a toda hora. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_40_0.jpg"></div><p class='foto-descricao'>Técnico Pepa, do Sport, e Tiago Medeiros no Carona do GE — Foto: Reprodução</p>
Pepa não confirma se fica no Sport, mas faz planos para 2025
Mas o treinador compensa.</p>
<p class='noticia-conteudo'>Foi só elogios à cidade, buscou a história do nome da avenida onde fincou residência, a 17 de agosto, no bairro de Casa Forte, e mostrou que está mais do que por dentro do vocabulário pernambucano. 
— Senti que é um povo humilde, o povo de Pernambuco.  Pouca frescura.</p>
<p class='noticia-conteudo'>Muita paixão, emoção, coração na boca.  O que tem pra dizer, diz.  O que tem pra falar, fala.</p>
<p class='noticia-conteudo'>É muita "resenha". 
Durante a carona, gravada logo após levar o Sport de volta à Série A, Pepa não escondeu a felicidade ao falar sobre sua adaptação ao Recife e o sentimento de dever cumprido com o acesso. 
— Estou muito feliz aqui.</p>
<p class='noticia-conteudo'>A adaptação foi acima das minhas expectativas.  O torcedor do Sport estava muito sofrido.  Esse acesso foi fundamental para resgatar a alma dele.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_40_1.jpg"></div><p class='foto-descricao'>Pepa comemora acesso do Sport — Foto: Marlon Costa / Pernambuco Press</p>
A pressão e a gratidão
Mesmo com os desafios de assumir o Sport durante a temporada, e num momento negativo da equipe na Série B, Pepa enxerga a pressão como parte essencial do trabalho.  Ele gosta disso. 
— Há muita pressão, sim.</p>
<p class='noticia-conteudo'>Mas precisamos torná-la saudável e ver isso como algo positivo.  Sou privilegiado por fazer o que gosto.  Capaz de ter sido o clube que mais senti que existia (pressão).</p>
<p class='noticia-conteudo'>No Cruzeiro, tem muita pressão externa, é uma loucura, mas a intensidade do torcedor do Sport, até dentro do próprio clube, com os próprios funcionários. ..</p>
<p class='noticia-conteudo'>Sentem o clube de modo muito especial.  Até internamente você sente essa pressão de forma natural.  É bom? É mal? É o que é, e temos que lidar com essas coisas com naturalidade.</p>
<p class='noticia-conteudo'>Nascido em Torres Novas, no Distrito de Santarém, Pepa começou sua trajetória no futebol nas categorias de base do Benfica em 1994, aos 13 anos.  Sua estreia como profissional ocorreu em 23 de janeiro de 1999, marcando um gol na vitória por 3 a 1 contra o Rio Ave pela Primeira Liga.  Nunca se firmou como jogador do time principal, passou pela equipe B e chegou a ser emprestado para o Lierse, da Bélgica.</p>
<p class='noticia-conteudo'>O ponto alto da carreira foi o título do Europeu sub-18, com a seleção portuguesa, em 1999. 
— Pouca gente sabe, mas joguei na base do Benfica, o maior clube de Portugal.  Estreei no profissional marcando um gol, mas depois tive lesões e eu… não tinha muita estrutura, era um pouco bandido, como se diz aqui, malandro — confessou.</p>
<p class='noticia-conteudo'>Em 2002, Pepa rescindiu seu contrato com o Benfica para assinar com o Varzim, onde ficou uma temporada, passando depois por outros times menores, como Paços Ferreira e Olhanense.  Após sucessivas lesões no joelho, encerrou sua carreira precocemente em 2007, aos 26 anos. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_40_2.jpg"></div><p class='foto-descricao'>Técnico Pepa, do Sport, e Tiago Medeiros no Carona do GE — Foto: Reprodução</p>
Foi na passagem pelo Varzim que Pepa teve a sua primeira conexão forte com o Nordeste.</p>
<p class='noticia-conteudo'>Foi lá, por meio de colegas brasileiros de clube, que ele conheceu o humorista Mução, famoso pelas pegadinhas que fazem as pessoas "pegarem ar" e que são transmitidas no rádio e internet. 
— Quando eu jogava no Varzim, lá tinha muitos jogadores do Nordeste.  Eles ouviam muito.</p>
<p class='noticia-conteudo'>E eles riam pra caramba.  Comecei a ouvir há mais de 20 anos e fiquei viciado naquilo.  Aprendi a entender.</p>
<p class='noticia-conteudo'>'Pega um ar da bexiga'.  'Furunco', 'Casca de ferida', 'Pato rouco'. 
E qual não foi a surpresa do português quando Tiago Medeiros sacou o celular e mostrou ao treinador um recado de Mução para ele?
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_40_3.jpg"></div><p class='foto-descricao'>Técnico do Sport, Pepa, pegou uma carona com o GE e recebeu uma mensagem do humorista Mução — Foto: Reprodução</p>
— É ele? Espetacular, espetacular.</p>
<p class='noticia-conteudo'>Entre histórias curiosas e torcedores apaixonados
O papo durante a carona rendeu, e Pepa falou muito mais.  O técnico revelou que já é avô, aos 43 anos, e reagiu incrédulo ao saber de um torcedor que tatuou a personagem Peppa Pig em sua homenagem.  Ele não sabia do fato até que Tiago Medeiros mostrou a ele.</p>
<p class='noticia-conteudo'>— Isso é a Pepa Pig? Tatuou? Caraca.  Nossa Senhora..</p>
<p class='noticia-conteudo'>.  Pepa Pig - disse, caindo na risada. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_40_4.jpg"></div><p class='foto-descricao'>Torcedor fez uma tatuagem da Pepa Pig com a camisa do Sport, em homenagem ao treinador Pepa — Foto: Reprodução</p>
Outra foto também chamou atenção de Pepa, mas essa ele já havia visto.</p>
<p class='noticia-conteudo'>Clicaram o professor em plena hora do xixi, durante a festa de comemoração do acesso para a Série A.  Ele não curtiu. 
— Essa me mandaram.</p>
<p class='noticia-conteudo'>Eu lembro disso.  Aqui eu fiquei puto, como se diz aqui.  Isso não se faz.</p>
<p class='noticia-conteudo'>Uma coisa é na boa, mas aí não.  Queria ir atrás dele, mas não dava.  Não acreditei que fez isso.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_40_5.jpg"></div><p class='foto-descricao'>Torcedor do Sport tirou foto do técnico Pepa no banheiro, na festa de comemoração do acesso — Foto: Reprodução</p>
Por fim, o treinador fez uma revelação que já mostra toda sua ambientação ao Recife.  Ele saiu de férias logo após a conquista do acesso, mas, quando voltar, não pretende fazer como a maioria dos boleiros e morar em Boa Viagem, perto da praia.  Ele até gosta muito do mar, mas não está curtindo muito o trânsito recifense.</p>
<p class='noticia-conteudo'>- Morei durante um tempo no CT e depois pedi um apartamento que fosse mais próximo possível.  (Morar em Boa Viagem) Pra mim é muito longe.  Não estou aqui para passar férias! É muito longe.</p>
<p class='noticia-conteudo'>Assista: tudo sobre o Sport no ge, na Globo e no sportv
50 vídeos.</p>
{% endblock main_content %}

