
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Cartola 2024 veja suspensos, lesionados e escalações prováveis para a rodada #37{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Cartola 2024: veja suspensos, lesionados e escalações prováveis para a rodada #37
Mercado fecha nesta quarta-feira, às 18h59 (de Brasília).  Serão nove jogos válidos para o game


Atenção, cartoleiro (a): chegou a rodada #37 do game.  Estamos na reta finalíssima.</p>
<p class='noticia-conteudo'>Para montar a melhor equipe para o meio de semana, estude bem as escalações prováveis e fique por dentro de quem são os suspensos e lesionados.  O mercado fecha na noite desta quarta-feira (04/12), às 18h59 (de Brasília). 
Líder e principal candidato ao título, o Botafogo não terá o goleiro John em sua visita ao Internacional, por suspensão.</p>
<p class='noticia-conteudo'>Lesionado, o zagueiro Bastos também não encara o Colorado.  Na segunda posição, o Palmeiras vai desfalcado de Gustavo Gómez e Marcos Rocha para o duelo diante do Cruzeiro.  A Raposa tem as baixas de Barreal e Lucas Romero, ambos também suspensos.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_22_0.jpg"></div><p class='foto-descricao'>— Foto: Arte</p>
Mercado vai fechar 18h59 desta quarta (04/12).  Escale o seu time!. 




Veja a lista de suspensos, lesionados e prováveis da rodada #37:
ATHLETICO-PR
Suspensos: Léo Linck
Lesionados: Mastriani
Time provável: Mycael; Léo Godoy, Belezi, Thiago Heleno e Esquivel; Felipinho, Erick (Gabriel), Zapelli (João Cruz) e Nikão; Cuello e Pablo.</p>
<p class='noticia-conteudo'>ATLÉTICO-GO
Suspensos: Luiz Fernando
Lesionados: Jorginho
Time provável: Ronaldo; Bruno Tubarão, Alix, Adriano Martins e Guilherme Romão; Roni, Baralhas e Shaylon; Alejo Cruz, Hurtado e Derek (Janderson)
ATLÉTICO-MG
Suspensos: ninguém
Lesionados: Paulinho
Time provável: Everson; Lyanco, Battaglia, Junior Alonso e Guilherme Arana; Fausto Vera, Alan Franco e Gustavo Scarpa; Vargas, Hulk e Deyverson
BOTAFOGO
Suspensos: John
Lesionados: Bastos e Rafael
Time provável: Gatito; Vitinho, Adryelson, Barboza e Alex Telles; Gregore, Marlon Freitas; Luiz Henrique, Savarino, Almada; Igor Jesus. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_22_1.jpg"></div><p class='foto-descricao'>John cumpre suspensão contra o Inter — Foto: Vitor Silva / Botafogo</p>
BRAGANTINO
Suspensos: ninguém
Lesionados: Eduardo Santos, Nathan, Gustavo Neves, Eric Ramires e Thiago Borbas
Time provável: Cleiton; Andrés Hurtado, Pedro Henrique, Lucas Cunha e Juninho Capixaba; Matheus Fernandes, Lucas Evangelista e Lincoln; Vinicinho, Jhon Jhon e Eduardo Sasha. 
CRICIÚMA
Suspensos: Newton e Rodrigo
Lesionados: ninguém
Time provável: Gustavo; Dudu, Walisson Maia, Tobias Figueiredo e Trauco; Barreto, Ronald, Marcelo Hermes e Matheusinho; Bolasie e Arthur Caike (Felipe Vizeu).</p>
<p class='noticia-conteudo'>CRUZEIRO
Suspensos: Barreal e Lucas Romero
Lesionados: Kaio Jorge e Matheus Henrique
Time provável: Cássio; William, João Marcelo, Villalba e Marlon; Walace (Japa), Lucas Silva, Ramiro e Matheus Pereira; Gabriel Veron (Mateus Vital) e Lautaro Díaz
CUIABÁ
Suspensos: Jonathan Cafu e Max
Lesionados: Eliel
Time provável: Walter; Matheus Alexandre, Marllon, Bruno Alves, Alan Empereur e Ramon; Filipe Augusto e Fernando Sobral; Eliel, Clayson e Isidro Pitta
FLAMENGO
Suspensos: De la Cruz e Gérson
Lesionados: Arrascaeta, Everton Cebolinha, Pedro e Viña
Time provável: Matheus Cunha, Wesley, Léo Ortiz, Fabrício Bruno e Ayrton Lucas; Evertton Araújo, Erick Pulgar e Alcaraz; Michael, Plata e Bruno Henrique
FLUMINENSE
Suspensos: Ganso
Lesionados: ninguém
Time provável: Fábio; Samuel Xavier, Thiago Silva, Thiago Santos, Diogo Barbosa; Bernal, Martinelli e Lima; Arias, Serna e Kauã Elias. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_22_2.jpg"></div><p class='foto-descricao'>Ganso desfalca o Fluminense contra o já rebaixado Cuiabá — Foto: Robson Mafra/AGIF</p>
FORTALEZA
Suspensos: ninguém
Lesionados: ninguém
Time provável: João Ricardo; Brítez, Kuscevic, Cardona, Eros Mancuso; Matheus Rossetto, Hércules, Martínez; Marinho, Moisés e Lucero
GRÊMIO
Suspensos: ninguém
Lesionados: Kannemann e Rodrigo Ely
Time provável: Marchesín; João Pedro, Rodrigo Caio (Gustavo Martins), Jemerson e Reinaldo; Villasanti, Dodi, Edenilson, Cristaldo e Aravena; Braithwaite
INTERNACIONAL
Suspensos: ninguém
Lesionados: ninguém
Time provável: Rochet; Bruno Gomes, Rogel, Vitão e Bernabei; Fernando, Bruno Tabata, Bruno Henrique (Rômulo) e Wesley; Alan Patrick e Borré
JUVENTUDE
Suspensos: ninguém
Lesionados: Caíque
Time provável: Gabriel; João Lucas, Danilo Boza, Lucas Freitas (Zé Marcos) e Ewerthon (Alan Ruschel); Ronaldo, Jadson e Mandaca; Lucas Barbosa, Edson Carioca e Gabriel Taliari
PALMEIRAS
Suspensos: Gustavo Gómez e Marcos Rocha
Lesionados: ninguém
Time provável: Weverton; Mayke, Murilo, Vitor Reis e Caio Paulista; Aníbal Moreno, Raphael Veiga e Mauricio; Dudu (Felipe Anderson), Estêvão e Rony (Flaco López). 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_22_3.jpg"></div><p class='foto-descricao'>Gustavo Gómez não enfrenta o Cruzeiro — Foto: Cesar Greco</p>
SÃO PAULO
Suspensos: ninguém
Lesionados: Pablo Maia
Time provável: Rafael, Igor Vinícius, Ruan, Alan Franco e Patryck; Alisson, Marcos Antônio e Lucas; Luciano, André Silva e Ferreira (William Gomes)
VASCO
Suspensos: ninguém
Lesionados: Adson e David
Time provável: Léo Jardim, Puma, João Victor, Léo, Lucas Piton, Hugo Moura, Mateus Carvalho, Alex Teixeira, Coutinho, Rayan (Maxime) e Vegetti
VITÓRIA
Suspensos: Zé Hugo
Lesionados: ninguém
Time provável: Lucas Arcanjo; Neris, Edu [Carlos Eduardo] e Wagner Leonardo; Raúl Cáceres, Willian Oliveira, Ricardo Ryller e Lucas Esteves; Gustavo Mosquito, Janderson e Alerrandro
Monte o seu time para a rodada #37.</p>
<p class='noticia-conteudo'>Mercado fecha 18h59 (de Brasília) desta quarta (04/12)
JOGOS VÁLIDOS PARA A RODADA #37 DO CARTOLA
Quarta 04/12
19h - Vasco x Atlético-MG
20h - Vitória x Grêmio
20h - São Paulo x Juventude
20h - Criciúma x Flamengo
21h30 - Internacional x Botafogo
21h30 - Cruzeiro x Palmeiras
21h30 - Atlético-GO x Fortaleza
Quinta, 05/12
20h - Athletico-PR x Bragantino
20h - Fluminense x Cuiabá.</p>
{% endblock main_content %}

