
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Cartola 2024 veja suspensos, lesionados e escalações prováveis para a rodada #38{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Cartola 2024: veja suspensos, lesionados e escalações prováveis para a rodada #38
Mercado fecha neste domingo às 15h59 (de Brasília).  Todos os jogos vão valer para o game

07/12/2024 17h00 Atualizado há 9 horas

Confira a escalação do time oficial do Cartola para a rodada 38
Dá até um aperto no coração dizer que a última rodada da temporada 2024 está chegando.  Mas é preciso deixar a emoção de lado e se preparar muito bem para o desafio final.</p>
<p class='noticia-conteudo'>Saiba quem são os lesionados, os suspensos e as escalações prováveis da rodada #38 e monte o seu time.  O mercado fecha neste domingo (08/12), às 15h59 (de Brasília). 
Com a mão na taça para levar o Brasileirão depois de 29 anos, o Botafogo não poderá contar com o zagueiro Barboza diante do São Paulo, no Engenhão.</p>
<p class='noticia-conteudo'>Um empate garante o título ao Alvinegro.  Ainda na luta para pegar uma das vagas na próxima Libertadores, o Cruzeiro jogará desfalcado de Marlon e Zé Ivaldo diante do Juventude, em Caxias do Sul. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_220_0.jpg"></div><p class='foto-descricao'>— Foto: Arte</p>
Mercado vai fechar 15h59 deste domingo (08/12).</p>
<p class='noticia-conteudo'>Escale o seu time!. 


Veja a lista de suspensos, lesionados e prováveis da rodada #38:
ATHLETICO-PR
Suspensos: Léo Linck
Lesionados: Mastriani
Time provável: Mycael; Léo Godoy, Belezi, Thiago Heleno e Esquivel; Felipinho, Erick, Zapelli e Nikão; Cuello e Pablo (Emersonn)
ATLÉTICO-GO
Suspensos: Baralhas
Lesionados: Jorginho
Time provável: Ronaldo; Maguinho, Adriano Martins, Alix e Guilherme Romão; Roni, Gonzalo Freitas (Janderson ou Luiz Fernando) e Rhaldney; Shaylon, Derek e Alejo Cruz. 
ATLÉTICO-MG
Suspensos: ninguém
Lesionados: Paulinho
Time provável: Everson; Saravia (Lyanco), Battaglia, Alonso e Arana; Alan Franco, Fausto Vera, Scarpa e Igor Gomes; Deyverson e Hulk
BAHIA
Suspensos: ninguém
Lesionados: Iago
Time provável: Danilo Fernandes [Adriel]; Arias, Gabriel Xavier, Kanu e Luciano Juba; Caio Alexandre, Jean Lucas [Ademir], Everton Ribeiro e Cauly; Thaciano e Lucho Rodríguez
BOTAFOGO
Suspensos: Barboza
Lesionados: Bastos, Rafael e Vitinho
Time provável: Gatito; Ponte, Adryelson, Lucas Halter (Danilo Barbosa) e Alex Telles (Cuiabano); Gregore, Marlon Freitas; Luiz Henrique, Savarino, Almada; Igor Jesus
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_220_1.jpg"></div><p class='foto-descricao'>Barboza levou o terceiro amarelo contra o Internacional — Foto: Vitor Silva/Botafogo</p>
BRAGANTINO
Suspensos: ninguém
Lesionados: Eduardo Santos, Nathan, Gustavo Neves, Eric Ramires e Thiago Borbas
Time provável: Cleiton; Andrés Hurtado, Pedro Henrique, Lucas Cunha e Juninho Capixaba; Matheus Fernandes, Lucas Evangelista e Lincoln; Vinicinho, Jhon Jhon e Eduardo Sasha
CORINTHIANS
Suspensos: Gustavo Henrique
Lesionados: Felix Torres
Time provável: Hugo Souza; Matheuzinho, André Ramalho, Cacá e Matheus Bidu; Raniele, André Carrillo, Breno Bidon e Rodrigo Garro; Memphis Depay e Yuri Alberto.</p>
<p class='noticia-conteudo'>CRICIÚMA
Suspensos: Fellipe Mateus
Lesionados: ninguém
Time provável: Alisson; Claudinho (Jonathan), Rodrigo, Tobias Figueiredo e Marcelo Hermes; Barreto, Newton, Jhonata Robert e Ronald; Arthur Caíke e Bolasie. 
CRUZEIRO
Suspensos: Marlon e Zé Ivaldo
Lesionados: Kaio Jorge e Matheus Henrique, Villalba e Walace
Time provável: Cássio; William, João Marcelo, Jonathan Jesus e Kaiki; Lucas Romero, Ramiro, Lucas Silva e Matheus Pereira; Gabriel Veron e Lautaro Díaz (Tevis)
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_220_2.jpg"></div><p class='foto-descricao'>Marlon cumpre suspensão contra o Juventude — Foto: Gustavo Aleixo/ Cruzeiro</p>
CUIABÁ
Suspensos: Alan Empereur, Ramon e Walter
Lesionados: ninguém
Time provável: Mateus Pasinato, Matheus Alexandre, Marllon, Bruno Alves e Juan Tavares; Lucas Mineiro, Denilson e Fernando Sobral; Clayson, Eliel e Isidro Pitta. 
FLAMENGO
Suspensos: Bruno Henrique (STJD)
Lesionados: Arrascaeta, Everton Cebolinha, Pedro e Viña
Time provável: Rossi, Wesley, Léo Ortiz, Léo Pereira e Alex Sandro; Erick Pulgar, De la Cruz e Gérson; Michael, Bruno Henrique e Gabriel
FLUMINENSE
Suspensos: Bernal
Lesionados: ninguém
Time provável: Fábio; Samuel Xavier, Thiago Silva, Thiago Santos, Gabriel Fuentes; Martinelli, Lima, Ganso; Keno (Serna), Arias e Cano.</p>
<p class='noticia-conteudo'>FORTALEZA
Suspensos: Kuscevic
Lesionados: ninguém
Time provável: João Ricardo; Tinga, Brítez, Titi, Eros Mancuso; Rossetto, Hércules, Martínez; Marinho, Moisés e Lucero. 
GRÊMIO
Suspensos: ninguém
Lesionados: Kannemann
Time provável: Caíque; João Pedro, Pedro Geromel, Jemerson e Reinaldo; Villasanti, Dodi, Monsalve, Cristaldo e Soteldo; Braithwaite
INTERNACIONAL
Suspensos: Wanderson
Lesionados: Alan Patrick e Mercado
Time provável: Rochet; Bruno Gomes, Clayton Sampaio, Vitão e Bernabei; Fernando, Bruno Tabata, Rômulo (Bruno Henrique) e Gabriel Carvalho; Borré e Enner Valencia
JUVENTUDE
Suspensos: ninguém
Lesionados: Caíque
Time provável: Gabriel; João Lucas, Danilo Boza, Lucas Freitas e Ewerthon; Ronaldo, Jadson e Mandaca (Nenê); Lucas Barbosa, Edson Carioca (Erick Farias) e Gabriel Taliari
PALMEIRAS
Suspensos: Vitor Reis
Lesionados: ninguém
Time provável: Weverton, Marcos Rocha, Murilo, Gustavo Gómez e Vanderlan; Aníbal Moreno, Richard Ríos e Raphael Veiga; Felipe Anderson, Estêvão e Flaco López. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_220_3.jpg"></div><p class='foto-descricao'>Vitor Reis está suspenso e não enfrenta o Fluminense — Foto: Thiago Ferri</p>
SÃO PAULO
Suspensos: ninguém
Lesionados: Pablo Maia
Time provável: Rafael, Rafinha (Igor Vinicius), Ruan, Sabino e Patryck; Bobadilla, Marcos Antônio e Nestor (Galoppo); Erick, André Silva e William Gomes
VASCO
Suspensos: Lucas Piton e Paulo Henrique
Lesionados: Adson e David
Time provável: Léo Jardim, Puma, João Victor, Léo, Leandrinho, Hugo Moura, Jair, Mateus Carvalho e Philippe Coutinho, Alex Teixeira e Vegetti
VITÓRIA
Suspensos: Neris
Lesionados: ninguém
Time provável:Lucas Arcanjo; Bruno Uvini, Edu e Wagner Leonardo; Raúl Cáceres, Lucas Esteves, Ricardo Ryller e Willian Oliveira; Janderson, Gustavo Mosquito e Alerrandro.</p>
<p class='noticia-conteudo'>Monte o seu time para a rodada #38.  Mercado fecha 15h59 (de Brasília) deste domingo (08/12)
JOGOS VÁLIDOS PARA A RODADA #38 DO CARTOLA
Domingo, 08/12
16h - Atlético-MG x Athletico-PR
16h - Palmeiras x Fluminense
16h - Bragantino x Criciúma
16h - Cuiabá x Vasco
16h - Botafogo x São Paulo
16h - Juventude x Cruzeiro
16h - Flamengo x Vitória
16h - Bahia x Atlético-GO
16h - Fortaleza x Internacional
16h - Grêmio x Corinthians.</p>
{% endblock main_content %}

