
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}santos{% endblock title %}
{% block main_title %}santos{% endblock main_title %}
{% block second_title %}Castro não dá resposta, e Santos negocia com outros treinadores{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Castro não dá resposta, e Santos negocia com outros treinadores
Prazo acaba, e Peixe tenta manter negociações em sigilo depois de não ter sucesso com português



Você Viu? Santos espera resposta de dupla de ataque para 2025
O Santos não trata mais Luís Castro como único plano para assumir o comando da equipe.  O clube ainda não desistiu da contratação do português, já que não recebeu uma resposta negativa, mas não negocia apenas com ele para 2025.  Renato Gaúcho, do Grêmio, já foi avaliado como alternativa, mas o Peixe agora trabalha para manter novos nomes em sigilo.</p>
<p class='noticia-conteudo'>No clube, o entendimento é que qualquer tratativa neste momento não será resolvida rapidamente, e por isso também não trata o assunto de Castro como uma desistência formal.  O tom, porém, é mais pessimista neste momento por causa da ausência de resposta. 
Mais sobre o Santos:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_0.jpg"></div><p class='foto-descricao'>Marcelo Teixeira, presidente do Santos — Foto: Raul Baretta/ Santos FC</p>

Castro tem a intenção de se posicionar apenas a partir de 15 de dezembro.</p>
<p class='noticia-conteudo'>Inicialmente, o Peixe acreditava que essa data era um prazo para o treinador estar no Brasil, dando uma resposta antes disso.  Porém, o cenário não mudou nos últimos dias, e o estafe dá sinais de que não haverá nenhum posicionamento até a metade do mês. 
Algumas definições ficarão a cargo da próxima comissão técnica, mas o Peixe entende estar tomando providências relevantes em relação ao planejamento de 2025 mesmo sem a escolha do novo técnico, como uma lista de dispensa já definida.</p>
<p class='noticia-conteudo'>Há, porém, contratos em vigência.  Tanto de opções de mercado para o elenco e também para o cargo de treinador, casos do argentino Gustavo Quinteros, do Vélez, e Renato Gaúcho, do Grêmio, que estão em disputa de campeonatos e com vínculos até o fim do mês..</p>
{% endblock main_content %}

