
            <html>
                <article class="noticia-detalhada">
                    <h1 class="noticia-titulo mt-4">Cavaliers se tornam o quarto time da história a começar a temporada com 15 vitórias seguidas</h1>
                    <p class="noticia-conteudo">Cavaliers se tornam o quarto time da história a começar a temporada com 15 vitórias seguidas
Cleveland venceu o Charlotte Hornets por 128 a 114 neste domingo mesmo sem Donovan Mitchell em quadra e entrou na prateleira das grandes equipes que chegaram a 15-0 no início da temporada

18/11/2024 06h00 Atualizado
A fase dos Cavaliers é boa e os números comprovam. Mesmo sem Donovan Mitchell, a equipe de Cleveland fez mais uma vítima neste domingo, a 15ª. Venceu o Charlotte Hornets por 128 a 114 e se tornou o quarto time da história a começar a temporada com 15 vitórias seguidas e nenhuma derrota. Na história da NBA, outras três equipes também chegaram nessa marca histórica: Washington Capitols (1948-49), Houston Rockets (1993-94) e o Golden State Warriors (2015-16).
+ NBA: Julius Randle dá a vitória ao Minnesota a menos 1 segundo do fim
+ De'Aaron Fox anota 49 pontos, soma 109 em duas noites e faz terceira maior sequência da história
+ Jayson Tatum faz cesta de três no estouro do relógio, e Celtics vencem os Raptors
Cavaliers se tornam o quarto time da NBA a conquistar 15-0 no início da temporada — Foto: Getty Images
Os Cavaliers empataram com Washington Capitols e o Houston Rockets com a marca de 15-0 no início da temporada. Já o Golden State Warriors foi mais longe, chegou a 24 vitórias e 0 derrotas. Para conquistar a 15ª vitória, a franquia de Cleveland teve que passar por cima dos Hornets. Sem Mitchell, a equipe ainda sofreu com lesões de Dean Wade e Isaac Okoro durante a partida. Mesmo assim, não se deixaram abalara e venceram o jogo por 128 a 114.
O armador Darius Garland foi o cestinha do time, com 25 pontos, e ainda ajudou com 12 assistências. Evan Mobley também contribuiu com 23 pontos e 11 rebotes, e Jarrett Allen terminou a partida com 21 pontos e 15 rebotes. Substituindo a estrela Mitchell entre os titulares, Ty Jerome cravou 24 pontos e oito assistências. Pelo lado dos adversários, LaMelo Ball chamou a responsabilidade e fez um grande jogo. Registrou 31 pontos e 12 assistências em 35 minutos em quadra.
Cavaliers chegam a 15-0 na temporada da NBA — Foto: Getty Images
Agora, os Cavaliers terão uma tarefa dura pela frente. Nesta terça-feira, vão enfrentar o atual campeão da NBA, Boston Celtics, fora de casa. Os Hornets, em 11º lugar no Leste, encaram o Brooklyn Nets, também fora de casa, no mesmo dia.
Veja também</p>
                </article>
            </html>
            