
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}CBF anuncia premiação para o G-4 da Série B; confira valores{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Campeão, Santos receberá R$ 3,5 milhões, enquanto Mirassol, Sport e Ceará, que fecharam o grupo de acesso, R$ 1,35 milhão, cada



Mirassol, Sport e Ceará garantem acesso na última rodada da Série B


Campeão da Série B, o Santos embolsará R$ 3,5 milhões pelo título.  Já Mirassol, Sport e Ceará, que completaram o G-4, irão receber R$ 1,35 milhão cada um pela classificação. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_380_0.jpg"></div><p class='foto-descricao'>Diego Pituca jogador do Santos levanta a taça de campeão durante cerimônia de premiação ao final da partida contra o CRB no estádio Vila Belmiro pela decisão do campeonato Brasileiro B 2024.</p>
<p class='noticia-conteudo'>— Foto: Foto: Reinaldo Campos/AGIF</p>
Ao todo, a CBF distribuiu R$ 7,55 milhões, o que representa um acréscimo de 15% com relação á premiação da Série B de 2023. 

No ano passado, o valor total da premiação da Série B oferecido pela CBF foi de R$ 5 milhões, sendo que o campeão Vitória ficou com a metade (R$ 2,5 milhões). 
Os demais clubes que completaram o G-4 (Juventude, Criciúma e Atlético-GO) dividiram os outros R$ 2,5 milhões, com cada um ficando com aproximadamente R$ 833 mil.</p>
<p class='noticia-conteudo'>Nordeste em peso na Série A! Brasileiro de 2025 terá cinco clubes da região.</p>
{% endblock main_content %}

