
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}CBF vai divulgar os calendários da Copa do Nordeste e Copa Verde na próxima semana{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>CBF vai divulgar os calendários da Copa do Nordeste e Copa Verde na próxima semana
Entidade confirma edição dos regionais, que devem ter os mesmos formatos de 2024; confira os times que estão garantidos nas duas competições

15/11/2024 10h03 Atualizado

Calendário do futebol brasileiro para 2025 é divulgado pela CBF
A CBF promete divulgar na próxima semana os calendários das duas competições regionais que promove: a Copa do Nordeste e a Copa Verde.  A entidade também aproveitou para encerrar a polêmica de que as disputas poderiam ser suprimidas da próxima temporada em virtude do calendário apertado com o Super Mundial. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_0.jpg"></div><p class='foto-descricao'>Copa do Nordeste e Copa Verde estão confirmadas em 2025 — Foto: Arte: Cisco Nobre/ge</p>
Nos bastidores, o blog Nordestino de Coração apurou que o próprio presidente Ednaldo Rodrigues já deixou claro que é um compromisso dele com os clubes a manutenção das competições regionais.</p>
<p class='noticia-conteudo'>Na última terça-feira, ao revelar o calendário para 2025, a CBF não incluiu as copas do Nordeste e Verde, o que suscitou alguma dúvida se seriam canceladas. 
- O que aconteceu é que a CBF vai divulgar um calendário específico para as disputas regionais, separado dos estaduais e das competições nacionais.  Mas as duas (Copa do Nordeste e Copa Verde) estão mantidas e continuam dando ao campeão uma vaga na terceira fase da Copa do Brasil - disse um interlocutor do presidente Ednaldo Rodrigues.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_1.jpg"></div><p class='foto-descricao'>CBF esticou o calendário do futebol em 2025 para se adequar ao novo Mundial de Clubes da Fifa — Foto: Lucas Figueiredo/CBF</p>
Outro ponto praticamente garantido pela CBF é a manutenção dos regulamentos.  Assim, a Copa do Nordeste terá o formato que está em vigor desde 2019: dois grupos de oito, com os times de uma chave enfrentando os da outra na primeira fase; quartas e semifinais em jogos únicos, e a final em partidas de ida e volta.  Quatro times serão conhecidos em duas fases preliminares.</p>
<p class='noticia-conteudo'>Já a Copa Verde deve ser toda disputada em jogos eliminatórios, com uma fase preliminar (em jogos apenas de ida) e mata-mata a partir das oitavas de final, com a entrada dos principais clubes das regiões Norte e Centro-Oeste. 
Copa do Nordeste
A princípio, a CBF só reservou três datas para a Copa do Nordeste - 22 de janeiro, e ainda 5 e 12 de fevereiro.  O blog Nordestino de Coração trouxe algumas possibilidades estudadas pela CBF.</p>
<p class='noticia-conteudo'>Com a manutenção do formato garantido pela CBF, a Copa do Nordeste ainda precisaria de cinco datas.  A entidade deve encontrar essas datas após os estaduais, que têm previsão de término no dia 26 de março.  Assim, a reta final do Nordestão seria disputada simultaneamente ao Campeonato Brasileiro.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_2.jpg"></div><p class='foto-descricao'>CRB x Fortaleza se enfrentam na final da Copa do Nordeste 2024 — Foto: Ailton Cruz/Gazeta de Alagoas</p>
A fase preliminar da Copa do Nordeste terá a participação de 16 times, que vão se enfrentar duelos eliminatórios e em jogo único - na casa do time melhor classificado no ranking da CBF, a saber. 
Confrontos previstos na pré-Copa do Nordeste:
CSA x Barcelona de Ilhéus
ABC x Santa Cruz-RN
Ferroviário x Maracanã
Botafogo-PB x Maranhão
Retrô x Treze
Juazeirense x ASA
Santa Cruz x Fluminense-PI
Moto Club x Sergipe
Os vencedores passam por uma nova fase eliminatória, novamente reagrupados de acordo com o ranking da CBF, valendo vaga na fase de grupos. 
Já estão garantidos na competição os seguintes times:
Altos (campeão piauiense)
América-RN (campeão potiguar)
Ceará (campeão cearense)
Confiança (campeão sergipano)
CRB (campeão alagoano)
Sousa (campeão paraibano)
Sport (campeão pernambucano)
Vitória (campeão baiano)
Sampaio Corrêa (campeão maranhense)
Bahia (via ranking da CBF)
Fortaleza (ranking da CBF)
Náutico (via ranking da CBF)
Copa Verde
Em relação à Copa Verde, havia um grande movimento para que o formato pudesse ser alterado, que garantiria mais jogos para cada clube.</p>
<p class='noticia-conteudo'>No entanto, a CBF deve confirmar (por pelo menos mais um ano) o regulamento com jogos eliminatórios desde o início da competição.  Dessa forma, 16 times jogam a fase preliminar, e os vencedores se juntam a oito times previamente classificados de acordo com o ranking da CBF. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_3.jpg"></div><p class='foto-descricao'>Vila Nova x Paysandu, jogo de volta da final da Copa Verde 2024 — Foto: Staff Images/CBF</p>
Quem está na disputa:
Acre: Independência e Humaitá
Amapá: Trem
Amazonas: Manaus e Amazonas
Distrito Federal: Ceilândia, Capital-DF e Brasiliense (via ranking CBF)
Espírito Santo: Rio Branco-ES e Rio Branco VN
Goiás: Atlético-GO, Vila Nova, Goiás (via ranking CBF) e Aparecidense (via ranking CBF)
Mato Grosso: Cuiabá, União Rondonópolis e Luverdense (via ranking CBF)
Mato Grosso do Sul: Operário-MS
Pará: Paysandu e Remo
Rondônia: Porto Velho
Roraima: GAS
Tocantins: União-TO e Tocantinópolis
Como foi em 2024
O Fortaleza ganhou a Copa do Nordeste depois de vencer o CRB na disputa por pênaltis.</p>
<p class='noticia-conteudo'>O Laion venceu o jogo de ida por 2 a 0, mas viu os alagoanos devolverem o resultado na partida em Maceió.  Nas penalidades, o Tricolor fez 5 a 4. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_4.jpg"></div><p class='foto-descricao'>Jogadores do Fortaleza comemoram título de campeão após partida contra o CRB no estádio Rei Pele pela decisão do campeonato Copa Do Nordeste 2024 — Foto: Foto: Itawi Albuquerque/AGIF</p>
Na Copa Verde, o campeão foi o Paysandu, que atropelou o Vila Nova com um incrível 10 a 0 no placar agregado - 6 a 0 em Belém e 4 a 0 em Goiânia.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_5.jpg"></div><p class='foto-descricao'>Paysandu campeão da Copa Verde 2024: placar agregado de 10 a 0 na final contra o Vila Nova — Foto: Staff Images/CBF</p>
Fortaleza e Paysandu se garantiram na terceira fase da Copa do Brasil de 2025. 
Leia outras notícias do esporte no ge. globo/pb
ALTOS
ATLÉTICO-GO
BOTAFOGO-PB
BRASILIENSE
CRB
CSA
CAPITAL-DF
CEARÁ
CEILÂNDIA
CONFIANÇA
CUIABÁ
FERROVIÁRIO
FORTALEZA
GOIÁS
HUMAITÁ
MANAUS
NÁUTICO
PAYSANDU
REMO
RIO BRANCO VN
RIO BRANCO-ES
SAMPAIO CORRÊA
SANTA CRUZ
SPORT
TOCANTINÓPOLIS
TREZE
UNIÃO RONDONÓPOLIS
VILA NOVA
VITÓRIA.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

