
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}bahia{% endblock title %}
{% block main_title %}bahia{% endblock main_title %}
{% block second_title %}Ceni pede desculpa por má fase do Bahia, mas ainda acredita em Libertadores Vai ser possível{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Ceni pede desculpa por má fase do Bahia, mas ainda acredita em Libertadores: "Vai ser possível"
Técnico lamenta gols perdidos pelo Tricolor em empate com o Athletico



Bahia 1 x 1 Athletico-PR | melhores momentos | 35ª rodada | Brasileirão 2024
O Bahia segue sem vencer no Campeonato Brasileiro e chegou chegou a sete jogos de jejum no empate por 1 a 1 com o Athletico, na tarde deste domingo, na Casa de Apostas Arena Fonte Nova.  Biel deixou tudo igual para o Tricolor, na partida válida pela 35ª rodada, após Nikão abrir a contagem para os paranaenses [assista aos melhores momentos no vídeo acima]. 

"Eu me frustro por ter chegado tão bem no fim do primeiro turno, e por fazer um segundo turno tão abaixo", disse Rogério Ceni.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_0.jpg"></div><p class='foto-descricao'>Ceni em chegada à Fonte Nova para Bahia x Athletico — Foto: Rafael Rodrigues/EC Bahia</p>
Em entrevista coletiva após o jogo, o técnico Rogério Ceni lamentou os gols perdidos pelo Bahia ao longo da partida contra o Furacão e na derrota para o Palmeiras, na rodada anterior.  Também pediu desculpas pelo difícil momento da equipe na competição. 
- Eu sei que o torcedor tem vaiado, eu entendo e dou razão pela expectativa que a gente mesmo vendeu no campeonato.</p>
<p class='noticia-conteudo'>A gente tinha expectativa de dois gols, e fazia os dois gols.  Hoje a gente mantém a expectativa, mas caiu no número dos gols efetivamente marcados.  A responsabilidade é minha.</p>
<p class='noticia-conteudo'>Temos um time que pratica um bom futebol, que vem de trás, trabalha bem na frente.  Peço desculpas por não conseguir entregar os resultados que a gente imaginava - disse Ceni. 
Apesar da má fase azul, vermelha e branca, o treinador garante que os jogadores têm buscado a volta por cima e ainda acredita que isso pode acontecer nas três rodadas restantes do campeonato em busca do G-7 para garantir a equipe na Libertadores do ano que vem.</p>
<p class='noticia-conteudo'>Atualmente, o Bahia é o oitavo colocado com 47 pontos. 
- Acho que todos estão tentando fazer seu melhor.  Confesso que teve jogos que deixaram a desejar, mas todos estão tentando muito.</p>
<p class='noticia-conteudo'>Espero uma vitória contra o Cuiabá para manter a equipe na briga pela Libertadores.  São ótimos meninos, trabalhadores.  A gente trabalha muito todos os dias, mas não estamos conseguindo entregar os resultados.</p>
<p class='noticia-conteudo'>Peço desculpas, mas não vou deixar de trabalhar, de lutar.  Eu realmente sigo acreditando que vai ser possível.  Não vejo nosso time com medo de nenhum adversário no país - complementou o técnico.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_1.jpg"></div><p class='foto-descricao'>Bahia x Athletico na Fonte Nova — Foto: Rafael Rodrigues/EC Bahia</p>
O treinador também reconheceu que falta colocar a bola para dentro nos momentos decisivos.  O Bahia criou boas oportunidades tanto contra Palmeiras quanto diante do Athletico, mas cometeu muitos erros. 
- Tem faltado [eficiência].</p>
<p class='noticia-conteudo'>Foram mais de 40 finalizações em dois jogos.  Só entraram duas.  Os adversários finalizaram poucas vezes e marcaram três vezes.</p>
<p class='noticia-conteudo'>Eu não conheço outra maneira que não seja trabalhar, repetir.  Ser dominante para ter mais chances.  E quando chegar o momento, ter a frieza.</p>
<p class='noticia-conteudo'>O Cuiabá vai ser um jogo muito difícil, um time que compete muito.  Temos que manter o padrão dos últimos jogos e tentar ser mais assertivos. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_2.jpg"></div><p class='foto-descricao'>Ademir colocou bola na trave na segunda etapa — Foto: Jhony Pinho/AGIF</p>
Ceni também explicou a mudança tática para confirmar o empate na Fonte Nova.</p>
<p class='noticia-conteudo'>Ele tirou um jogador de defesa, no caso Gilberto, e colocou mais um atacante para buscar o resultado.  Com mais presença ofensiva e aos trancos e barrancos o Tricolor empatou o jogo.  O treinador também explicou outras substituições.</p>
<p class='noticia-conteudo'>- Saiu o Gilberto para ter Biel e Ademir abertos.  Ficamos com três homens na defesa, o Athletico já não atacava tanto, entendi que a gente precisava correr esse risco.  O Ademir cansou e colocamos o Tiago.</p>
<p class='noticia-conteudo'>Foi suficiente para fazer o gol de empate, mas não para virar.  Era um risco, mas que a gente precisava correr.  O Cauly começou o jogo porque o Thaciano sentou no aquecimento.</p>
<p class='noticia-conteudo'>Acho que ele fez uma boa partida.  Tivemos muito um para um pelos lados, então o Everaldo entrou para ter mais um jogador alto dentro da área, mesmo com o Cauly fazendo um bom jogo. 
O Bahia agora terá que recuperar os pontos perdidos em casa em partidas como visitante.</p>
<p class='noticia-conteudo'>O próximo desafio será o Cuiabá, às 19h30 do próximo sábado (horário de Brasília), na Arena Pantanal, pela 36ª rodada do Brasileirão. 
Confira outros trechos da entrevista coletiva de Ceni
Está confortável sobre seu futuro?
- Eu não me sinto nunca confortável.  Ninguém pode se sentir confortável quando não vence jogos, mesmo jogando bem.</p>
<p class='noticia-conteudo'>Não é nem pelo cenário de estar aqui ou não.  Se você estiver confortável sem fazer resultados, alguma coisa está errado.  Mas não tenho o que dizer, mais um jogo que dominados.</p>
<p class='noticia-conteudo'>Produzimos para fazer seis pontos, mas perdemos um jogo e empatamos hoje.  Vamos tentar vencer o Cuiabá, é o que nos resta para seguir na briga pelo nosso objetivo. 
Novas ideias e como extrair algo da equipe
- Sobre extrair a parte técnica, os números dos dois últimos jogos mostram que a gente conseguiu extrair muita coisa técnica, mas não conseguimos o gols.</p>
<p class='noticia-conteudo'>Fomos dominantes contra Palmeiras e Athletico.  Muitas chances de gol, finalizações, defesas, bola na trave.  Acho que extrair a parte técnica é isso, é criar.</p>
<p class='noticia-conteudo'>Controlamos o jogo, tivemos domínio, criamos mais que o adversário.  Então dentro do que a gente se propõe a fazer, conseguimos executar.  Agora tem um detalhe muito importante que é o gol.</p>
<p class='noticia-conteudo'>Isso é impossível você controlar.  Quando a bola não entra, a principal avaliação é o resultado. 
Pressão e mental dos jogadores
- Eu acho que contra o Juventude não jogamos bem, mas contra Palmeiras e Athletico sim.</p>
<p class='noticia-conteudo'>Acho que é uma boa explicação de porque o gol não sai (nervosismo).  Acho que temos que repetir essas boas atuações e caprichar nas finalizações quando as chances aparecerem.  Acho que mentalmente o time está mais forte depois do jogo contra o Palmeiras.</p>
<p class='noticia-conteudo'>Hoje jogamos bem, mas o resultado não veio.  Entre a bola entrar ou não, isso foge do nosso controle. 
Everaldo titular no lugar de Cauly
- A proposta não era fazer muitos cruzamentos, era chegar na linha de fundo com Ademir para ter a bola passada para trás.</p>
<p class='noticia-conteudo'>O Cauly era um meio termo entre Thaciano e Everaldo.  No segundo tempo tentamos mais cruzamentos, aí a gente tira o Cauly.  Na primeira parte alguns cruzamentos realmente foram aéreos, mas a proposta era colocar a bola para trás pelo chão.</p>
<p class='noticia-conteudo'>Jogadores mal posicionados na área para atacar
- Acho que no primeiro tempo teve isso.  A gente tem o balanço de cada lado para conseguir criar um um contra um, com Ademir principalmente.  Faltou um jogador que ocupasse mais o espaço.</p>
<p class='noticia-conteudo'>O Jean Lucas chegou e finalizou várias vezes, também contra o Palmeiras.  Era para ele entrar na área, Lucho e Cauly tinham que atacar o primeiro pau.  No segundo tempo veio o Everaldo, mas mesmo assim não conseguimos.</p>
<p class='noticia-conteudo'>Infelizmente na hora de finalizar erramos, acertamos a trave.  Tivemos as chances, uma pena não conseguir fazer o gol. 
BAHIA
ROGÉRIO CENI.</p>
{% endblock main_content %}

