
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Ciclista espanhola denuncia abuso sexual em etapa da Copa do Mundo{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Ciclista espanhola denuncia abuso sexual em etapa da Copa do Mundo
Três vezes vice-campeã nacional de mountain bike enduro, Ares Masip revelou ter sido violentada por outro ciclista no paddock da etapa de Leogang, na Áustria, em junho de 2023

04/12/2024 10h46 Atualizado há 4 horas

Ciclista espanhola denuncia abuso sexual em etapa da Copa do Mundo de mountain bike
A ciclista espanhola Ares Masip, três vezes vice-campeã nacional na modalidade mountain bike enduro, denunciou ter sofrido abuso sexual durante a etapa Copa do Mundo de MTB de Leogang, na Áustria, em junho de 2023.  Em um vídeo em suas redes sociais, a atleta de 29 anos revelou que foi violentada por outro ciclista no paddock da competição.  Ares decidiu vir a público após saber que o agressor havia tentado fazer o mesmo com outra atleta.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_31_0.jpg"></div><p class='foto-descricao'>Ares Masip, ciclista espanhola de mountain bike — Foto: Reprodução</p>
No forte relato, Ares descreve em detalhes o episódio.  Segundo a ciclista, ela descansava em seu carro após competir quando foi abordada pelo agressor. 
- Olá, sou Ares Masip, sou ciclista de montanha e em 2023 fui abusada sexualmente no paddock da Copa do Mundo de Leogang por um corredor - disse a ciclista.</p>
<p class='noticia-conteudo'>- A prova foi muito longa e eu estava dormindo há algumas horas na minha van.  Ele apareceu no meio da madrugada e tentou me forçar a ter relações sexuais.  Recusei desde o primeiro momento, pedi que parasse, tentei afastá-lo.</p>
<p class='noticia-conteudo'>Ele cobriu minha boca e repetiu que iria me estuprar. 

Ares diz que tentou esquecer o episódio num primeiro momento.  Mas após reencontrar o agressor em competições e saber que ele havia tentado assediar outra mulher, decidiu formalizar a denuncia.</p>
<p class='noticia-conteudo'>Ela levou o caso às autoridades locais de Andorra, onde vive e compete, e à federação internacional de ciclismo (UCI na sigla em inglês). 
- Tentei e fingir que não tinha acontecido nada, mas depois de alguns meses nos encontramos nas pistas.  Pouco a pouco tomei consciência da gravidade dos fatos e decidi denunciá-lo.</p>
<p class='noticia-conteudo'>Judicialmente não sei o que vai acontecer, mas queria tornar isso público porque infelizmente acontece com mais frequência do que pensamos - disse Ares..</p>
{% endblock main_content %}

