
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}vasco{% endblock title %}
{% block main_title %}vasco{% endblock main_title %}
{% block second_title %}Cléber Xavier é oferecido ao Vasco{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Cléber Xavier é oferecido ao Vasco
Auxiliar de Tite por duas décadas, profissional de 60 anos quer ser treinador.  Diretoria vai avaliar

04/12/2024 17h57 Atualizado há uma hora

Abre Aspas: Cleber Xavier explica decisão de se tornar técnico após trabalhar com Tite
O nome de Cléber Xavier foi oferecido ao Vasco, que busca treinador depois da demissão de Rafael Paiva há pouco mais de uma semana.  A diretoria vascaína vai avaliar a possibilidade.</p>
<p class='noticia-conteudo'>O profissional de 60 anos tem a seu favor o conhecimento da base e do futebol brasileiro, requisitos desejados pelo Vasco no novo técnico.  Ele também seria uma opção mais barata em comparação a outros nomes avaliados pelo clube - os valores altos têm dificultado a busca no mercado. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_49_0.jpg"></div><p class='foto-descricao'>Cléber Xavier foi auxiliar de Tite no Flamengo — Foto: Robson Mafra/AGIF</p>
Cléber Xavier foi auxiliar de Tite por 24 anos e anunciou em outubro o fim da parceria para se lançar como treinador.</p>
<p class='noticia-conteudo'>Ele aguarda a primeira oportunidade, e seus empresários têm oferecido seu nome a alguns clubes. 
Seu último trabalho como auxiliar de Tite foi no Flamengo, do qual foram demitidos em setembro pouco depois da eliminação nas quartas de final da Libertadores para o Peñarol. 
Sem Rafael Paiva, o Vasco está sendo comandado interinamente por Felipe Maestro.</p>
<p class='noticia-conteudo'>Ele estreou na rodada passada, no empate em 2 a 2 com o Atlético-GO, e seguirá como treinador nos dois últimos jogos do Brasileirão, contra Atlético-MG e Cuiabá. 



Assista tudo sobre o Vasco no ge, na Globo e no SporTV:
50 vídeos
VASCO.</p>
{% endblock main_content %}

