
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}ceara{% endblock title %}
{% block main_title %}ceara{% endblock main_title %}
{% block second_title %}Clube russo faz proposta por Erick Pulga; Ceará recusa{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Clube russo faz proposta por Erick Pulga; Ceará recusa
Torpedo Moscow oferece três milhões de euros pelo atacante do Ceará



Veja todos os 13 gols de Erick Pulga pelo Ceará na Série B
O Ceará recebeu uma proposta do Torpedo Moscow, da Rússia, pelo atacante Erick Pulga, destaque do time na temporada.  O valor da oferta foi de 3 milhões de euros (cerca de R$ 19 milhões). 

O Torpedo é um time da Segunda Divisão do Campeonato Russo.</p>
<p class='noticia-conteudo'>A proposta, no entanto, foi recusada pelo Vovô, que estipula um valor de 5 milhões de euros para a venda do jogador. 
Pulga terminou a temporada com 51 jogos com a camisa alvinegra.  Com ela, anotou 22 gols.</p>
<p class='noticia-conteudo'>Foi o artilheiro do Cearense e da Série B 2024. 
Números de Pulga em 2024

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_28_0.jpg"></div><p class='foto-descricao'>Ceará, Erick Pulga — Foto: Kid Júnior/SVM</p>
50 vídeos.</p>
{% endblock main_content %}

