
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}COB divulga candidatos a Atleta Revelação e Prêmio Inspire 2024{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>COB divulga candidatos a Atleta Revelação e Prêmio Inspire 2024
Vencedores das duas categorias serão escolhidos por meio de votação popular no site do Comitê Olímpico do Brasil.  Premiação acontece no dia 11 de dezembro no Rio de Janeiro

04/12/2024 16h16 Atualizado há 3 horas
O Comitê Olímpico do Brasil anunciou nesta quarta-feira os finalistas de mais duas categorias do Prêmio Brasil Olímpico 2024, que será realizado no dia 11 de dezembro no Rio de Janeiro.  E a escolha está nas mãos do torcedor: assim como a eleição do Atleta da Torcida, a votação para os vencedores dos troféus de Atleta Revelação e do Prêmio Inspire é aberta ao público e já está disponível no site do COB.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_52_0.jpg"></div><p class='foto-descricao'>Gustavo Bala Loka se classifica para final do ciclismo BMX nas Olimpíadas — Foto: Reuters</p>
Para a disputa de revelação do ano, Gustavo "Bala Loka" Oliveira (BMX park freestyle), Maria Fernanda Costa (natação) e Raicca Ventura (skate park) estão no páreo.  A categoria é recente: foi incluída na premiação do COB no ano passado.  Na ocasião, Maria Eduarda Alexandre, da ginástica rítmica, sagrou-se vencedora.</p>
<p class='noticia-conteudo'>Ela concorreu com Renan Gallina, do atletismo, e Miguel Hidalgo, do triatlo. 


O Prêmio Inspire, que tem como objetivo premiar a atleta mais inspiradora do ano, tem concorrentes que deixaram sua marca em Paris.  Ana Sátila (canoagem slalom), Beatriz Souza (judô), Duda e Ana Patricia (vôlei de praia), Jade Barbosa (ginástica artística), Raquel Kochhann (rugby 7) e Tatiana Weston-Webb (surfe) estão na disputa.</p>
<p class='noticia-conteudo'>Desde que foi lançado, o Prêmio Inspire já condecorou Rayssa Leal na edição de estreia, em 2021, Rebeca Andrade em 2022 e Bruna Takahashi em 2023. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_52_1.jpg"></div><p class='foto-descricao'>Ana Patrícia e Duda com a medalha de ouro conquistada nos Jogos de Paris — Foto: Luiza Moraes/COB. </p>
A votação popular das duas categorias acontece até o início da cerimônia de premiação, no dia 11.</p>
<p class='noticia-conteudo'>Guilherme Costa comenta sobre os indicados do Prêmio Brasil Olímpico.</p>
{% endblock main_content %}

