
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}COB anuncia a saída de Rogério Sampaio em janeiro{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Campeão olímpico deixará o cargo de diretor-geral do Comitê após seis anos na função



<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_390_0.jpg"></div><p class='foto-descricao'>Rogério Sampaio está na diretoria-geral do COB desde 2018 — Foto: Wander Roberto/COB</p>
- O trabalho do Rogério foi irrepreensível.  Ele trouxe modernidade e eficiência para a agenda do comitê, que hoje tem inúmeros projetos que são referência internacional.  Tanto no campo esportivo quando administrativo, ele contribuiu de maneira decisiva para o esporte olímpico do país - disse o presidente do COB, Paulo Wanderley.</p>
<p class='noticia-conteudo'>Rogério deixará o COB com números positivos.  Sob o seu comando, o Time Brasil obteve a melhor campanha olímpica em número de medalhas (21, nos Jogos Tóquio 2020), a segunda melhor campanha olímpica em total de pódios (20, nos Jogos Paris 2024) e a melhor campanha em todos os tempos em Jogos Pan-americanos (205 medalhas, em Santiago 2023). 
Sampaio também atuou consolidando boas práticas de governança, previstas no estatuto da entidade.</p>
<p class='noticia-conteudo'>- Gostaria de deixar meu mais profundo agradecimento ao presidente Paulo Wanderley, à diretoria e aos colaboradores do COB, com os quais convivi nestes mais de seis anos.  Foi um período de dedicação extrema e inúmeras conquistas.  Deixo o COB com a certeza de que o Movimento Olímpico brasileiro está em um caminho de profissionalização e ascensão - comentou Rogério.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}

