
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}COI desaprova premiação em dinheiro concedida a medalhistas olímpicos{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>COI desaprova premiação em dinheiro concedida a medalhistas olímpicos
Comitê Olímpico Internacional se posiciona contra iniciativa adotada pela Federação Internacional de Atletismo de distribuir um bônus para cada campeão do esporte nas Olimpíadas de Paris



COI inclui mais cinco esportes nos Jogos Olímpicos de Los Angeles, em 2028
O Comitê Olímpico Internacional (COI) desaprovou o pagamento de premiações em dinheiro concedidas por federações internacionais aos medalhistas olímpicos.  Em reunião na última terça-feira, a Comissão Executiva da entidade que comanda as Olimpíadas se posicionou contra a iniciativa adotada pela World Athletics (Federação Internacional de Atletismo), que distribuiu um bônus de 50 mil dólares (cerca de R$ 303 mil) para cada medalhista de ouro do esporte nas Olimpíadas de Paris. 


O atletismo quebrou uma tradição de 128 anos de não premiar financeiramente os esportistas que disputam os Jogos.</p>
<p class='noticia-conteudo'>O COI nunca ofereceu dinheiro aos medalhistas, argumentando que competir nas Olimpíadas já é uma honraria. 
- A comissão executiva considerou que isso ia contra a missão do COI e poderia facilmente transformar os Jogos Olímpicos em um evento elitista - disse Mark Adams, diretor de comunicações do COI, em um vídeo publicado na rede social X (antigo Twitter). 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_33_0.jpg"></div><p class='foto-descricao'>Mark Adams, porta-voz do COI — Foto: Getty Images</p>
Anteriormente, Thomas Bach, atual presidente do COI, já havia rejeitado a iniciativa.</p>
<p class='noticia-conteudo'>Na ocasião, o alemão afirmou que os comitês olímpicos nacionais devem ser os que decidem livremente sobre os prêmios dos atletas como motivação, não as federações.  Além dos comitês nacionais, patrocinadores também costumam premiar em dinheiro os medalhistas olímpicos. 
Confira os 10 países que pagam mais por uma medalha de ouro olímpico:
Hong Kong - US$ 768 mil (cerca de R$ 4,1 milhões)
Israel - US$ 275 mil (cerca de R$ 1,46 milhão)
Sérvia - US$ 218 mil (cerca de R$ 1,2 milhão)
Malásia - US$ 214 mil (cerca de R$ 1,14 milhão)
Itália - US$ 196 mil (cerca de R$ 1,03 milhão)
Lituânia - US$ 182 mil (cerca de R$ 965 mil)
Moldávia - US$ 171 mil (cerca de R$ 906 mil)
Letônia - US$ 155 mil (cerca de R$ 817 mil)
Hungria - US$ 154 mil (cerca de R$ 816 mil)
Bulgária - US$ 139 mil (cerca de R$ 737 mil)
Quanto recebeu cada atleta brasileiro nas Olimpíadas de Paris:
Os atletas brasileiros que ganharam medalha nas Olimpíadas 2024 receberam do Comitê Olímpico do Brasil (COB) um bônus em dinheiro.</p>
<p class='noticia-conteudo'>Com quatro medalhas conquistadas em Paris, Rebeca Andrade foi a brasileira com maior premiação: somou R$ 826 mil. 
Rebeca Andrade (ginástica artística): R$ 826 mil (ouro 
Beatriz Souza (judô): R$ 392 mil (ouro individual 
Ana Patrícia (vôlei de praia): R$ 350 mil (ouro em dupla);
Duda (vôlei de praia): R$ 350 mil (ouro em dupla);
Willian Lima (judô): R$ 252 mil (prata individual 
Isaquias Queiroz (canoagem de velocidade): R$ 210 mil (prata individual);
Tatiana Weston-Webb (surfe): R$ 210 mil (prata individual)
Caio Bonfim (marcha atlética): R$ 210 mil (prata individual);
Larissa Pimenta (judô): R$ 182 mil (bronze individual 
Alison dos Santos (atletismo): R$ 140 mil (bronze individual);
Rayssa Leal (skate): R$ 140 mil (bronze individual);
Bia Ferreira (boxe): R$ 140 mil (bronze individual);
Gabriel Medina (surfe): R$ 140 mil (bronze individual);
Augusto Akio (skate): R$ 140 mil (bronze individual);
Edival Pontes (taekwondo): R$ 140 mil (bronze individual);
Flávia Saraiva (ginástica artística): R$ 56 mil (bronze por equipes);
Jade Barbosa (ginástica artística): R$ 56 mil (bronze por equipes);
Lorrane Oliveira (ginástica artística): R$ 56 mil (bronze por equipes);
Júlia Soares (ginástica artística): R$ 56 mil (bronze por equipes);
Rafaela Silva (judô): R$ 42 mil (bronze por equipes);
Ketleyn Quadros (judô): R$ 42 mil (bronze por equipes);
Leonardo Gonçalves (judô): R$ 42 mil (bronze por equipes);
Rafael Macedo (judô): R$ 42 mil (bronze por equipes);
Guilherme Schmidt (judô): R$ 42 mil (bronze por equipes);
Daniel Cargnin (judô): R$ 42 mil (bronze por equipes);
Rafael Silva (judô): R$ 42 mil (bronze por equipes);
Seleção feminina de futebol: R$ 35 mil (para cada jogadora);
Seleção feminina de vôlei: R$ 32 mil (para cada jogadora)..</p>
{% endblock main_content %}

