
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Com uma rodada de antecedência, Criciúma é rebaixado para Série B{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Com uma rodada de antecedência, Criciúma é rebaixado para Série B
Sem vencer há oito jogos, time fica com 38 pontos na competição

05/12/2024 22h03 Atualizado há 13 horas
Mesmo sem entrar em campo nesta quinta-feira, o Criciúma está matematicamente rebaixado para Série B do Campeonato Brasileiro de 2025.  Com a vitória do Fluminense contra o Cuiabá por 1 a 0, o time catarinense não tem mais chance de alcançar o primeiro lugar fora da zona de rebaixamento. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_110_0.jpg"></div><p class='foto-descricao'>Fluminense x Criciúma — Foto: Alexandre Durão</p>
+Presidente do Criciúma Vilmar Guedes anuncia renúncia ao cargo
Depois do tropeço para o Flamengo e a derrota por 3 a 0 no Heriberto Hülse, o Carvoeiro torcia por uma vitória do Cuiabá contra o Fluminense para decidir sua vida na última rodada.</p>
<p class='noticia-conteudo'>No Maracanã, a equipe carioca venceu com gol de Kevin Serna.  O time comandado pelo técnico Cláudio Tencati não vence no Brasileirão desde 3 de outubro, quando superou o Atlético-GO. 
Criciúma corre o risco de ser rebaixado nesta quinta (5) sem entrar em campo
A equipe Carvoeira se junta a Cuiabá e Atlético-GO que também já foram rebaixados matematicamente.</p>
<p class='noticia-conteudo'>Apenas para cumprir tabela, encara o Bragantino no domingo, às 16h (de Brasília), pela 38ª rodada do Campeonato Brasileiro.  A bola rola no Nabi Abi Chedid. 
Mais informações do esporte catarinense em ge.</p>
<p class='noticia-conteudo'>globo/sc.</p>
{% endblock main_content %}

