
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}flamengo{% endblock title %}
{% block main_title %}flamengo{% endblock main_title %}
{% block second_title %}Com três sessões de tratamento em casa e uma no Flamengo, Pedro evolui e já faz exercício com carga{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Com três sessões de tratamento em casa e uma no Flamengo, Pedro evolui e já faz exercício com carga
No início da semana, o vice de futebol do clube, Marcos Braz, postou um vídeo em que o camisa 9 trabalhava na cadeira extensora com carga


Enquanto o assunto Gabigol domina o clube, a torcida quer saber como está Pedro, o artilheiro da equipe no ano, titular absoluto e que dividia com Gerson o posto de melhor jogador do Flamengo em 2024.  O ge apurou em qual estágio se encontra a recuperação do atleta. 


Braz explica como o Fla pedirá indenização na Fifa por lesão de Pedro
Com retorno estimado de seis a oito meses a partir da lesão de ligamento cruzado do joelho esquerdo, sofrida em 4 de setembro, Pedro está em franca recuperação.</p>
<p class='noticia-conteudo'>O problema enfrentado pelo camisa 9 é quase o mesmo que o tirou dos campos por sete meses, três semanas e dois dias entre agosto de 2018 e abril de 2019, quando defendia o Fluminense. 
A vantagem é que, apesar de similares, a lesão atual não afetou o menisco do atleta.  Com isso, tão logo que saiu da mesa de cirurgia, o atleta já pôde apoiar parcialmente o pé no chão.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_0.jpg"></div><p class='foto-descricao'>Pedro exibe a taça e a medalha do pentacampeonato da Copa do Brasil — Foto: Adriano Fontes/ InFuture</p>
Rotina atual e estrutura em casa
Operado em 13 de setembro, Pedro começou a fisioterapia no Ninho do Urubu em 1º de outubro.  Segundo pessoas próximas ao atleta, a recuperação está transcorrendo com muito êxito, e o atleta já fez exercícios na academia com bastante desenvoltura. 
Em comparação com o processo vivido entre 2018 e 2019, Pedro encontra-se em estágio bem mais avançado de recuperação.</p>
<p class='noticia-conteudo'>Há cinco anos, por exemplo, o atleta não podia apoiar o pé no chão de imediato e foi submetido a repouso total até a cicatrização do menisco antes de começar o tratamento do ligamento. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_1.jpg"></div><p class='foto-descricao'>Pedro faz exercício no Ninho do Urubu sob orientação do Flamengo — Foto: Reprodução</p>
Com todos os aparelhos necessários em casa e dispondo de fisioterapia particular desde 2021, Pedro vem fazendo três sessões de tratamento na própria residência e uma dentro do clube diariamente. 
Vice-presidente de futebol do Flamengo, Marcos Braz postou vídeo nessa semana em que Pedro é flagrado realizando trabalhos na cadeira extensora.</p>
<p class='noticia-conteudo'>A ótima notícia é que o jogador fazia o exercício com extensão completa e o uso de cargas. 
Mesmo sem jogar desde 1º de setembro, quando marcou pelo Flamengo em duelo com o Corinthians na Neo Química Arena, Pedro segue no posto de artilheiro do futebol brasileiro em 2024, com 30 gols - ainda marcou dois em amistosos na pré-temporada nos Estados Unidos. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_2.jpg"></div><p class='foto-descricao'>Pedro marcou três gols na campanha do pentacampeonato da Copa do Brasil — Foto: Arquivo Pessoal</p>
Além dos gols, o camisa 9 ainda deu oito assistências no ano.</p>
<p class='noticia-conteudo'>Foram 38 participações diretas em 43 partidas. 
Depois de Pedro ser flagrado comemorando o pentacampeonato do Flamengo na Copa do Brasil, no último domingo, teve torcedor preocupado pela forma como flexionou os joelhos para se agachar e exibir a taça.  Mas o rubro-negro pode ficar tranquilo: Pedro está confiante e evoluindo de forma muito satisfatória.</p>
<p class='noticia-conteudo'>🗞️ Leia mais notícias do Flamengo
🎧 Ouça o podcast ge Flamengo
Assista: tudo sobre o Flamengo no ge, na Globo e no sportv
50 vídeos
FLAMENGO.</p>
{% endblock main_content %}
{% block cor_categoria %}#ff0000{% endblock cor_categoria %}

