
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}vasco{% endblock title %}
{% block main_title %}vasco{% endblock main_title %}
{% block second_title %}Com duplo-duplo de Jamaal, Vasco vence Paulistano fora de casa no NBB{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Com duplo-duplo de Jamaal, Vasco vence Paulistano fora de casa no NBB
Importante na vitória da equipe carioca, armador vascaíno somou 11 pontos, 10 assistências e cinco rebotes

04/12/2024 21h48 Atualizado há 13 horas

Paulistano 70 x 76 Vasco | Melhores momentos | NBB 2024/25
Em jogo marcado por muitos erros no início, o Vasco soube identificar os pontos fracos da equipe ao longo da partida, se organizou e venceu o Paulistano, por 76 a 70, nesta quarta (4), em São Paulo.  Com uma vantagem de apenas cinco pontos no placar durante boa parte do último quarto, a equipe carioca conseguiu administrar o duelo e garantiu sua sétima vitória em 12 jogos. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_64_0.jpg"></div><p class='foto-descricao'>Jammal foi um dos destaques do Vasco diante do Paulistano — Foto: Wilian Oliveira/Foto Atleta</p>
O grande destaque da noite foi o armador Jamaal, que anotou um duplo-duplo.</p>
<p class='noticia-conteudo'>Foram 11 pontos, além de dez assistências e cinco rebotes.  Voltando de lesão, o veterano Marquinhos também entrou bem na partida.  Ele foi o cestinha do time comandado por Leo Figueiró ao pontuar 15 vezes.</p>
<p class='noticia-conteudo'>Do lado do Paulistano, o argentino Ferreyra foi o maior pontuador.  Foram 21 pontos dos 70 marcados pelos donos da casa. 


O jogo
Foi um início de partida com muitos erros dos dois lados.</p>
<p class='noticia-conteudo'>O ala Marquinhos marcou no último segundo do primeiro quarto para fazer o Vasco encostar no placar: 16 a 15.  No segundo período, apesar de as equipes continuarem apresentando inconstâncias na parte ofensiva, as defesas se mostraram eficientes.  A parcial foi de 16 a 12 para os vascaínos.</p>
<p class='noticia-conteudo'>Na volta do intervalo, o time carioca cresceu de rendimento.  Retomando seu poder ofensivo, o Vasco chegou a conquistar uma diferença de sete pontos.  Em resposta, o Paulistano conseguiu se recuperar e voltou a pontuar para deixar o jogo em aberto.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_64_1.jpg"></div><p class='foto-descricao'>Voltando de lesão, Marquinhos foi um dos destaques do Vasco diante do Paulistano — Foto: Wilian Oliveira/Foto Atleta</p>
No último quarto, o Gigante retornou ainda melhor.  Com Jamaal de maestro, a equipe conseguiu administrar a pequena vantagem no placar apesar das boas investidas do argentino Ferreyra.  No fim, o armador vascaíno ainda sofreu falta e somou mais dois pontos para o time de São Januário garantir a vitória fora de casa.</p>
<p class='noticia-conteudo'>Na próxima rodada, o Vasco vai até o Morumbi para encarar o São Paulo, na sexta (6), às 20h.  Já o Paulistano recebe o União Corinthians na próxima terça (10), às 19h30, no Antônio Prado Júnior..</p>
{% endblock main_content %}

