
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Com cinco brasileiros, rádio inglesa escolhe 25 melhores jogadores do século; veja lista{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Com cinco brasileiros, rádio inglesa escolhe 25 melhores jogadores do século; veja lista
Eleição da "TalkSport" tem Ronaldinho Gaúcho na terceira posição, atrás de Cristiano Ronaldo e Messi



Relembre golaço de Ronaldinho em sua estreia no Barcelona contra o Sevilla
Cinco brasileiros foram incluídos na lista de 25 melhores jogadores do século 21, em eleição feita pela rádio inglesa "TalkSport".  Ronaldinho Gaúcho foi o melhor colocado, ficando em terceiro lugar, atrás de Cristiano Ronaldo e Messi - o argentino ficou na primeira colocação. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_0.jpg"></div><p class='foto-descricao'>Ronaldinho Gaúcho jogou por cinco temporadas no Barcelona e fez história no clube catalão — Foto: Getty Images</p>
Além de Ronaldinho, os outros brasileiros citados foram Neymar, Ronaldo Fenômeno, Daniel Alves e Kaká.</p>
<p class='noticia-conteudo'>Veja os jogadores mais bem pagos do mundo em 2024
- Como Zidane, não há questão sobre Ronaldinho como o melhor de tudo durante seu auge.  O superastro do Brasil podia fazer o que quisesse em campo, deixando defensores icônicos em seu rastro com momentos de pura magia - disse a rádio sobre Ronaldinho. 
Golaços de Ronaldinho Gaúcho pelo Barcelona
0 seconds of 1 minute, 41 seconds

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_1.jpg"></div><p class='foto-descricao'>Messi com a taça da Copa do Mundo em 2022 — Foto: REUTERS/Hannah Mckayc</p>
Na escolha entre Messi e Cristiano Ronaldo, a "TalkSport" argumentou a favor do argentino por causa da conquista da Copa do Mundo de 2022.</p>
<p class='noticia-conteudo'>- Só poderia haver um vencedor.  Muitos acreditavam que Messi precisava vencer uma Copa para ser considerado o maior jogador da história, e ele finalmente conseguiu em 2022 - completou a rádio. 
O maior ídolo da história do Barcelona: Lionel Messi
Veja os 25 melhores jogadores do século 21, de acordo com a "TalkSport":
Lionel Messi
Cristiano Ronaldo
Ronaldinho Gaúcho
Zinedine Zidane
Andrés Iniesta
Xavi
Thierry Henry
Kaká
Luis Suárez
Dani Alves
Andrea Pirlo
Philipp Lahm
Sergio Ramos
Luka Modric
Fabio Cannavaro
Gianluigi Buffon
Ronaldo Fenômeno
Zlatan Ibrahimovic
Mohamed Salah
Wayne Rooney
Luis Figo
Neymar
Kylian Mbappé
John Terry
Karim Benzema.</p>
{% endblock main_content %}

