
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Com show de Alex Garcia, Bauru lidera do início ao fim e vence o Fortaleza pelo NBB{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Com show de Alex Garcia, Bauru lidera do início ao fim e vence o Fortaleza pelo NBB
Dragão faz jogo seguro em casa e derrota o lanterna da competição, com direito a 27 pontos do "Brabo"


O Bauru Basket fez um jogo sólido, liderou o placar do início ao fim e venceu o Fortaleza BC por 80 a 71 pela 14ª rodada do NBB.  O duelo foi nesta quarta-feira no ginásio Panela de Pressão, em Bauru. 
O grande destaque dos donos da casa foi, mais uma vez, o lendário Alex Garcia que, no alto dos seus 44 anos de idade, foi o cestinha da noite com 27 pontos, quatro assistências e quatro rebotes.</p>
<p class='noticia-conteudo'>Ewing, dos visitantes, anotou 26, enquanto Brite marcou 24 tentos. 
O Dragão vence a segunda partida seguida, se mantém como quarto melhor aproveitamento da liga e chega aos 17 pontos, com campanha de sete vitórias e três derrotas.  O time cearense, por sua vez, segue na lanterna com dois triunfos e nove reveses.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_16_0.jpg"></div><p class='foto-descricao'>Alex García, do Bauru Basket, foi o cestinha da partida contra o Fortaleza BC — Foto: Andrews Clayton/Bauru Basket</p>
O Fortaleza continua no interior de São Paulo e viaja para encarar o Franca nesta sexta-feira, às 20h, no ginásio Pedrocão.  No sábado, às 18h, é a vez do Bauru Basket receber o Unifacisa, no ginásio Panela de Pressão, em Bauru. 




O jogo
O Bauru Basket começou com tudo e controlou o jogo desde o primeiro minuto.</p>
<p class='noticia-conteudo'>No primeiro quarto, o Dragão abriu 12 pontos, mas viu o Fortaleza descontar e fechou a primeira parcial em um 21 a 12. 
O ritmo intenso dos donos da casa continuou no segundo período, quando a equipe alviverde chegou a abrir 17 pontos de vantagem.  Porém, os cearenses reagiram e fecharam o primeiro tempo com uma desvantagem de cinco pontos, ao vencer a segunda parcial por 24 a 21.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_16_1.jpg"></div><p class='foto-descricao'>Bauru Basket e Fortaleza se enfrentaram pelo NBB — Foto: Andrews Clayton/Bauru Basket</p>
No terceiro quarto, o Fortaleza chegou a ficar três pontos atrás, mas o Bauru voltou a crescer e fez 20 a 18 na parcial, aumentando a diferença para sete tentos. 
No quarto e último período, o Dragão colocou a vantagem em 13 pontos, mas os visitantes conseguiram reduzir para apenas quatro, a 53 segundos do fim.  O Dragão cravou mais duas cestas no minuto final e fechou a partida com uma vantagem de nove tentos.</p>
<p class='noticia-conteudo'>ALEX GARCIA.</p>
{% endblock main_content %}

