
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Com gol de Marcos Leonardo, ex-Santos, Al-Hilal vence o Al-Gharafa na Champions da Ásia{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Com gol de Marcos Leonardo, ex-Santos, Al-Hilal vence o Al-Gharafa na Champions da Ásia
Atacante ex-Santos abriu o placar na vitória por 3 a 0 dos sauditas contra o Al-Gharafa, do Catar


O Al-Hilal venceu o Al-Gharafa por 3 a 0 pela sexta rodada da Liga dos Campeões da Ásia.  Jogando em casa, na Kingdom Arena, a equipe saudita abriu o placar com Marcos Leonardo, ex-Santos.  Os sérvios Mitrovic e Milinkovic-Savic fecharam a conta para o time de Jorge Jesus, que lidera o grupo Oeste da competição, com 16 pontos (cinco vitórias e um empate).</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_0.jpg"></div><p class='foto-descricao'>Marcos Leonardo, ex-Santos, comemora seu gol marcado pelo Al-Hilal com Jorge Jesus — Foto: Getty Images</p>
✅Clique aqui para seguir o novo canal ge Futebol Internacional no WhatsApp
Com a vitória, eles retornaram à liderança, com 13 pontos.  Os sauditas têm a mesma pontuação do Al-Ahli, de Roberto Firmino, mas levam vantagem nos critérios de desempate.  Já o Al-Gharafa ocupa apenas a décima colocação, ficando fora da zona de classificação para a próxima fase do torneio continental.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_1.jpg"></div><p class='foto-descricao'>Al-Hilal vence mais uma pela Champions Asiática — Foto: Getty Images</p>

Essa foi a segunda vitória seguida do Al-Hilal.  No final do último mês de novembro, a equipe de Jorge Jesus sofreu sua primeira derrota na temporada 2024/25, ao ser superado pelo Al-Khaleej no Campeonato Saudita.  Recentemente, eles também tropeçaram na Champions Asiática, chegando a perder a liderança do grupo Oeste da competição.</p>
<p class='noticia-conteudo'>Gringolândia: "Formato da nova Champions está dando certo e oferecendo emoção".</p>
{% endblock main_content %}

