
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}cuiaba{% endblock title %}
{% block main_title %}cuiaba{% endblock main_title %}
{% block second_title %}Com febre e mal-estar, David Luiz está fora de Cuiabá x Flamengo; selecionáveis não jogam{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Com febre e mal-estar, David Luiz está fora de Cuiabá x Flamengo; selecionáveis não jogam
Bruno Henrique, aguardando efeito suspensivo, viaja com delegação para o Mato Grosso



Flamengo mantém afastamento de Gabigol, que segue sem poder atuar
Com febre e mal-estar, o zagueiro David Luiz é mais um desfalque do Flamengo para enfrentar o Cuiabá, nesta quarta-feira, às 19h, na Arena Pantanal.  Luiz Araújo e De La Cruz, ainda longe das condições ideias de jogo, também ficam no Rio.  Erick Pulgar está na lista dos que viajam.</p>
<p class='noticia-conteudo'>O Flamengo também definiu que não submeterá os selecionáveis a um esforço fora do comum, já que os quatro jogam na noite desta terça-feira.  Dessa forma, a decisão de momento é que nenhum deles seguirão para Cuiabá. 
Gerson, Léo Ortiz e Varela estão com suas respectivas seleções para duelo entre Brasil e Uruguai na Casa de Apostas Arena Fonte Nova, às 21h45 (de Brasília) desta terça.</p>
<p class='noticia-conteudo'>O Coringa deve ser titular.  Já Gonzalo Plata teria o voo mais difícil, já que joga em Barranquilla, na Colômbia, às 20h (de Brasília) do mesmo dia. 
Gabigol, ainda afastado devido aos acontecimentos na Arena MRV, também não viaja para Cuiabá.</p>
<p class='noticia-conteudo'>Confira quem são as outras baixas: Carlinhos, Arrascaeta, Pedro, Viña e Everton Cebolinha. 
Quarto colocado com 59 pontos, o Flamengo enfrenta o Cuiabá nesta quarta-feira, às 19h30 (de Brasília), na Arena Pantanal. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_22_0.jpg"></div><p class='foto-descricao'>Flamengo x Atlético-MG - David Luiz — Foto: Alexandre Durão</p>

🗞️ Leia mais notícias do Flamengo
🎧 Ouça o podcast ge Flamengo
Assista: tudo sobre o Flamengo no ge, na Globo e no sportv
50 vídeos
FLAMENGO.</p>
{% endblock main_content %}
{% block cor_categoria %}#ff0000{% endblock cor_categoria %}

