
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}flamengo{% endblock title %}
{% block main_title %}flamengo{% endblock main_title %}
{% block second_title %}Com terceiro lugar no Brasileiro, Flamengo não cumpre mais uma meta esportiva na temporada{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Com terceiro lugar no Brasileiro, Flamengo não cumpre mais uma meta esportiva na temporada
Clube projetou pelo menos o segundo lugar nos pontos corridos; queda precoce na Libertadores é outro objetivo não alcançado

05/12/2024 10h00 Atualizado há uma hora

Criciúma 0 x 3 Flamengo | Gols | 37ª rodada | Brasileirão 2024
O Flamengo tinha quatro metas esportivas para a temporada 2024, mas só conseguiu cumprir duas: na Copa do Brasil e no Carioca.  A situação foi diferente na Libertadores e no Brasileirão.  Nelas, o Rubro-Negro ficou perto, porém, não alcançou o desempenho planejado.</p>
<p class='noticia-conteudo'>As metas foram colocadas em documento publicado na Transparência do próprio site do clube.  O Rubro-Negro estabeleceu como premissa de orçamento classificações às semis da Libertadores e da Copa do Brasil, a final do Carioca e o vice-campeonato do Brasileiro. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_65_0.jpg"></div><p class='foto-descricao'>Bruno Henrique comemora gol do Flamengo contra o Criciúma — Foto: Leonardo Hubbe/AGIF</p>
A vitória contra o Criciúma garantiu o terceiro lugar, com 69 pontos - o Flamengo não pode mais ser ultrapassado por Internacional ou Fortaleza, ambos com 65.</p>
<p class='noticia-conteudo'>No entanto, a previsão do clube era chegar pelo menos em segundo lugar no Brasileirão. 
Em 2023, a meta era a mesma e também não foi cumprida, já que o Flamengo terminou em quarto.  Esta é a melhor colocação do Flamengo desde 2021, quando foi vice-campeão.</p>
<p class='noticia-conteudo'>Em 2022, ficou em quinto. 
A outra meta que o Flamengo não conseguiu cumprir - também pelo segundo ano seguido - foi a classificação para semifinal da Libertadores.  A eliminação para o Peñarol fez o Rubro-Negro cair nas quartas.</p>
<p class='noticia-conteudo'>Na competição continental, o clube arrecadou perto de R$ 35 milhões com a participação. 
+Filipe Luís critica "ataque anárquico" após vitória por 3 a 0: "Um Flamengo de que não gosto"
+Liminar cancela exigência de carteirinha de sócio para votar na eleição do Flamengo
As premissas esportivas impactam diretamente na questão financeira.  E o título da Copa do Brasil fez o Flamengo superar o que havia colocado como base no documento de projeção da temporada: a semifinal do mata-mata.</p>
<p class='noticia-conteudo'>A conquista em cima do Atlético-MG rendeu R$ 93,1 milhões aos cofres do Rubro-Negro.  Outra meta batida - e superada - é o título do Campeonato Carioca, que não rende premiação. 
"Flamengo vence e mantém a honra intacta", afirma Arthur | Voz da Torcida


Assista: tudo sobre o Flamengo no ge, na Globo e no sportv
50 vídeos
FLAMENGO.</p>
{% endblock main_content %}

