
            <html>
                <article class="noticia-detalhada">
                    <h1 class="noticia-titulo mt-4">Com apenas uma perna, ciclista viraliza ao cruzar lama e rio durante prova em MS</h1>
                    <p class="noticia-conteudo">Com apenas uma perna, ciclista viraliza ao cruzar lama e rio durante prova em MS
Após 10 anos do acidente em que perdeu a perna esquerda, Gilvan começou a pedalar e no ano seguinte disputou primeira prova de Mountain Bike



Ciclista PCD viralizou ao cruzar lama e rio durante prova em MS
O ciclista Gilvan Pereira da Silva, de 41 anos, viralizou após ter um vídeo seu disputando uma prova de Mountain Bike (MTB) publicado nas redes sociais. Nos quilômetros finais do circuito, realizado na região de Jaraguari (MS), Gilvan precisou descer da bicicleta para cruzar um trecho de rio e lama.
✅ Clique aqui para seguir o canal do ge MS no Whatsapp
– Fiquei em primeiro lugar na categoria PCD (Pessoa Com Deficiência). Esse trecho do riozinho foi mais ou menos com 45km de prova, que tinha percurso total de 60km com uma elevação de 950m. Pra mim fica um pouco difícil por ter apenas uma perna, mas nada me abala – orgulha-se Gilvan.
Vídeo publicado nas redes sociais viralizou. — Foto: Arquivo Pessoal
Há três anos o MTB entrou na vida do auxiliar administrativo e financeiro. De lá pra cá, foram dezenas de pódios nas principais provas de Mato Grosso do Sul. Ele é o atual campeão estadual PCD.
“Como PCD não tenho o que reclamar. Sou muito querido no meio do ciclismo, a galera se espelha na gente e é gostoso isso. Você acaba arrastando outras pessoas: ‘pô, o cara com apenas uma perna consegue fazer aquilo ali e por que que eu não posso fazer?’ É gratificante demais”, comenta o ciclista.
Gilvan pratica MTB há três anos e acumula medalhas e troféus. — Foto: Arquivo Pessoal
+ Aos 50 anos, medalhista olímpica em Atenas e Pequim disputa artilharia em estadual
Gilvan faz parte da MTR Bike Team e graças aos colegas de equipe que geralmente vai às competições.
– Vou no carro com eles e quando termina a prova eles me deixam aqui em casa e pronto. [...] Infelizmente, não me dedico 100% ao esporte, porque eu não tenho bolsa-atleta. As provas federadas às vezes eles pagam. Por exemplo, 1º lugar: 300 reais; 2º lugar: 200; 3º lugar: 100 reais. Então, isso já dá uma ajudinha – aponta.
Os treinos do ciclista costumam ser em três dias das semanas.
– Eu trabalho como auxiliar administrativo e quando surgem umas horas vagas, eu consigo treinar. Geralmente, meus treinos são terça, quinta e domingo. No domingo, os pedais são mais longos, eu chego a fazer 90 km, 100 km.
Gilvan já chegou a pedalar 140km, em 2022
Renascimento
Em 2010, Gilvan pilotava uma moto quando foi atingido por um carro, na avenida Júlio de Castilho, uma das principais vias de Campo Grande.
– O cara fez uma conversão proibida e acabou me acertando no meio. Na hora que eu tentei levantar, eu vi a gravidade do acidente. Naquele momento eu sabia que eu ia perder a perna, então eu orei pra não perder a vida. Eu dei entrada na Santa Casa com a pressão 6 por 5.
Gilvan levou um ano até se recuperar por completo do acidente. Com o uso de uma prótese, voltou à rotina.
Em 2020, perdeu o carro ao não conseguir pagar as parcelas do financiamento. Foi então que pegou com o vizinho uma bicicleta emprestada para fazer as compras para a mercearia que tinha na época. De sua casa até o supermercado, eram 8 quilômetros.
– No outro dia eu não aguentava andar direito. Depois do terceiro dia já foi mais de boa, o corpo também se acostumou, até que recebi um convite do amigo meu, o Roberto, de participar de um grupo de ciclistas.
No ano seguinte, Gilvan participou da primeira prova de Mountain Bike de sua vida. E não parou mais.
“Pra mim, é muito gratificante participar e mostrar para as pessoas que nada está perdido. Só depende da gente, um pouquinho de esforço e determinação que a gente consegue”, garante o ciclista.
+ Fã de corrida? Concorra a uma camiseta exclusiva autografada pelo campeão brasileiro de Arrancada
Em casa, em Campo Grande, ciclista tem cantinho especial para conquistas e recordações. — Foto: Arquivo Pessoal
No início, Gilvan até tentou pedalar com a prótese que usa no dia a dia, mas segundo ele, não deu muito certo.
“Até comecei a pedalar com prótese, mais atrapalhou do que ajudou, aí optei a pedalar com uma perna só”, conta ao ge.
O Mountain Bike já é desafiador por si só e pedalar com apenas uma perna, é ainda mais. Porém, as dificuldades nem chegam perto do otimismo de Gilvan.
– Se tiver subida com muita pedra solta, infelizmente, eu não consigo subir. Eu tenho que descer da bike e ir empurrando, porque eu perco muita tração. Quando você tem duas pernas, se patinou, você consegue tracionar com a outra perna. E eu não, já aconteceu de eu cair em subida, mas graças a Deus é sacudir a poeira, se levantar e seguir o caminho de novo.
Gilvan também já subiu em pódios na categoria geral. — Foto: Arquivo Pessoal
Cruzar rios e lamas, como no vídeo assistido por milhares de pessoas, faz parte da rotina do ciclista. Também tem pedras, galhos, árvores e tudo o que forma a natureza e compõe o MTB. Dificuldade para alguns, diversão para quem pratica.
Sobre o que mais o encanta na modalidade, Gilvan é enfático:
“MTB é sensacional, porque passamos por lugares espetaculares, contemplando a natureza, cada prova é uma nova surpresa em lugares deslumbrantes”.
Veja também</p>
                </article>
            </html>
            