
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}corinthians{% endblock title %}
{% block main_title %}corinthians{% endblock main_title %}
{% block second_title %}Com necessidade de vender e calendário cheio, Corinthians promete usar mais a base em 2025{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Ramón Díaz observou jovens de perto nesta temporada, mas clube avalia que utilização das crias do Terrão precisa aumentar no próximo ano



Contratação de medalhões é um bom caminho para o Timão? GE Corinthians debate

Porém, a própria diretoria do Corinthians reconhece que as crias do Terrão precisam ter mais espaço na equipe de cima.  Com calendário cheio em 2025 e a necessidade de faturar pelo menos R$ 181 milhões com vendas de jogadores, o clube promete dar mais chances aos garotos. 


Fabinho Soldado fala sobre as projeções do Corinthians para 2025
Desde que chegou, há cinco meses, o técnico Ramón Díaz usou os treinos para observar jovens talentos.</p>
<p class='noticia-conteudo'>Sem muito tempo para frequentar jogos das equipes sub-20 ou sub-17, o argentino aproveitou diversos jogadores da base para completar as atividades do elenco profissional. 
Na maior parte das vezes os garotos foram usados como "sparrings" - atletas utilizados em coletivos e trabalhos táticos para simular os adversários do Timão. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_364_0.jpg"></div><p class='foto-descricao'>Breno Bidon foi o jogador da base mais utilizado pelo Corinthians em 2024 — Foto: Rodrigo Coca / Ag.</p>
<p class='noticia-conteudo'>Corinthians</p>
O momento delicado, com a disputa de mata-matas e a luta contra o rebaixamento no Brasileirão, fez com que Ramón e sua comissão apostassem mais em atletas mais experientes, deixando em segundo plano a promoção de jovens.  Ainda assim, relacionaram prodígios como Gui Negão e Luiz Fernando, de 17 anos, e Renato, de 20. 
Do time campeão da Copa São Paulo em janeiro, além de Breno Bidon, subiram o goleiro Felipe Longo; o lateral-direito Léo Maná; o meio-campista Ryan; e os atacantes Kayke Ferrari e Arthur Sousa - este último deixou o clube ao obter uma liminar da Justiça para rescindir o contrato.</p>
<p class='noticia-conteudo'>– Nossa ideia é em 2025 estar ainda mais perto.  Os processos no departamento de saúde, parte física e técnica precisam estar alinhados com a base.  Os jogadores que chegam do sub-20 precisam ter um tempo de adaptação pequeno.</p>
<p class='noticia-conteudo'>Nosso desafio para 2025 é aproximar cada vez mais essa integração, ter cada vez mais jogadores porque há espaço para ter esses atletas de base – comentou Fabinho Soldado, diretor executivo de futebol do Corinthians, que ainda completou:
– Historicamente, o Corinthians revelou grandes jogadores, um deles é o Bidon, que está desempenhando um papel fundamental.  Queremos ter mais jogadores como esse, iremos nos aproximar muito com esse processo de base, para que o Corinthians revele e faça boas vendas, o clube necessita realizar essas saídas. 

Central do Mercado: Yuri Alberto diz que fica no Corinthians
Hoje, o principal elo entre os departamentos profissional e de base é feito por Fabinho Soldado com Alex Brasil, executivo contratado para a base alvinegra, e o ex-jogador Chicão, coordenador de transição do clube.</p>
<p class='noticia-conteudo'>A Copinha, como de costume, terá papel importante na escolha dos atletas que serão promovidos ao time principal em 2025.  O Corinthians, 11 vezes campeão, estreia no torneio dia 4 de janeiro, contra o Gazin-RO.  O grupo ainda tem Rio Branco-AC e o Santo André, time da cidade que receberá os jogos da chave.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}

