
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}corinthians{% endblock title %}
{% block main_title %}corinthians{% endblock main_title %}
{% block second_title %}Como o príncipe Garro superou distância da família para brilhar na Argentina e chegar ao Corinthians{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Como o "príncipe" Garro superou distância da família para brilhar na Argentina e chegar ao Corinthians
De comandante do castelinho em Rafaela a dispensado pelo clube, coração partido e quase fim precoce da carreira: as idas e vindas do camisa 10 antes de virar xodó no Timão



De Rosário a Itaquera: a trajetória do argentino Rodrigo Garro
Ser o berço de um dos maiores jogadores da história é algo que merece ser estampado com orgulho.  Rosário, a terceira cidade mais populosa da Argentina, mas que tem um agradável clima de interior.  A paixão por futebol é evidente por aqui, e não é para menos: é a terra natal de Lionel Messi.</p>
<p class='noticia-conteudo'>Em todo o bairro La Bajada, onde o craque nasceu e cresceu, dá pra ter uma ideia da gratidão que os argentinos têm. 
E é nesta cidade que descobrimos a importância de Messi na formação de outro camisa 10: Rodrigo Garro, craque do Corinthians. 

O clube Sarmiento era onde, há alguns anos, funcionava a parte esportiva da Fundação Leo Messi.</p>
<p class='noticia-conteudo'>O projeto da família do craque argentino tinha como objetivo dar oportunidades a crianças carentes, e uma das formas era por meio do futebol.  Foi ali que Rodrigo Garro chegou aos 12 anos de idade para jogar nas categorias de base. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_25_0.jpg"></div><p class='foto-descricao'>Garro, meia do Corinthians, nos tempos de Sarmiento — Foto: Arquivo Pessoal</p>
German Sapp, um dos fundadores do clube, diz que a parceria com a fundação mudou o patamar do trabalho que faziam.</p>
<p class='noticia-conteudo'>Foi isso que permitiu levar jovens de diversos lugares do país para treinar no clube.  Entre eles, Garro. 
– A chegada de Jorge Messi, pai do Lionel, revolucionou tudo no clube.</p>
<p class='noticia-conteudo'>Só de escutar o nome Messi é uma alegria para todos, e tê-los aqui no Sarmiento foi um orgulho, uma honra.  Nesse momento também chegaram muitos treinadores.  Trouxeram um grupo de trabalho, davam comida, moradia, medicina.</p>
<p class='noticia-conteudo'>Muitas coisas que hoje jovens que estão na base não têm acesso.  Jorge facilitou tudo isso.  A Fundação Messi trouxe tudo isso consigo – afirma Sapp.</p>
<p class='noticia-conteudo'>O Esporte Espetacular foi à Argentina para conhecer as origens de três argentinos que brilham no São Paulo, no Corinthians e no Palmeiras.  Luis Zubeldía, técnico do São Paulo, foi o primeiro. 
Mais notícias do Corinthians:

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_25_1.jpg"></div><p class='foto-descricao'>German Sapp, um dos fundadores do Sarmiento, conhece Garro desde cedo — Foto: Reprodução</p>
Moleque atrevido, descarado
Foi na Fundação Messi que Garro teve a primeira experiência real no futebol.</p>
<p class='noticia-conteudo'>Com estrutura, treinamento, e morando em um alojamento para jovens atletas.  Mas quem sofreu com isso foi a família dele, que é de General Pico, cidade a cerca de 600km e sete horas de viagem ao sul de Rosário. 
– A decisão de deixá-lo ir desacompanhado, aos 12 anos, foi muito dura.</p>
<p class='noticia-conteudo'>Ficou muito difícil dormir.  Aos 12 é muito jovem ainda..</p>
<p class='noticia-conteudo'>.  Hoje, em Pico, andamos pela rua e vemos crianças fazendo bolas de sabão com 12 anos.  E nós pensávamos: "O nosso filho se foi aos 12, sozinho".</p>
<p class='noticia-conteudo'>Mas ele queria isso – diz, chorando, o pai Ricardo Garro. 
– Quando viajávamos para vê-lo, era muito difícil voltar.  Por que não queríamos nos largar.</p>
<p class='noticia-conteudo'>E ele chorando, mas nos pedindo para deixá-lo porque era o que ele queria fazer.  Então ficávamos um pouco mais e quando ele se acalmava nós saíamos.  E depois tínhamos 600km de viagem pela frente, com a sua irmã chorando porque era pequena, e nós nos controlando e olhando pela janela – diz a mãe Andrea Prietto.</p>
<p class='noticia-conteudo'>Só que um grande amigo da família era um dos treinadores da Fundação Messi e ajudou a tornar o processo um pouco menos doloroso. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_25_2.jpg"></div><p class='foto-descricao'>Garro (à direita) com a avó, ainda nos tempos de General Pico — Foto: Arquivo Pessoal</p>
– Foi duro porque obviamente ele sofreu por sair do seu estado de conforto, de estar perto da família.  Depois, viver em um alojamento com outros garotos de diversas idades, de ir para outra escola, outra idiossincrasia, longe da sua cidade.</p>
<p class='noticia-conteudo'>Mas ele sempre levou bem.  Obviamente que estávamos perto e ajudávamos a cuidar porque era um garoto que estava apadrinhado pela fundação.  Mas cuidamos para ter gente profissional ao seu redor.</p>
<p class='noticia-conteudo'>Psicólogos, psicopedagogos, para ajudar com a distância.  Mas ele, com sua personalidade, sempre viveu bem – diz Alberto Bulleri. 
Já naquela época, Bulleri enxergava no menino características de um grande jogador.</p>
<p class='noticia-conteudo'>– É muito atrevido, como dizemos aqui, divertido em todos os aspectos.  E com muita vontade de querer chegar e triunfar.  Descarado! São situações que às vezes tem mais a ver com o extracampo do que com o futebolístico.</p>
<p class='noticia-conteudo'>Isso porque a parte técnica ele tinha – elogia. 
Sapp diz que viu um jogo do Corinthians uma noite qualquer.  E viu o mesmo Garro de 12 anos atrás.</p>
<p class='noticia-conteudo'>– É como ver o mesmo garoto de 13 ou 14 anos.  A mesma alegria, a vontade de pedir a bola sempre.  De ser solidário com o seu companheiro.</p>
<p class='noticia-conteudo'>No futebol ele expressa toda essa paixão que sente.  Isso tudo me dá orgulho, de saber que tive possibilidade de acompanhar e contribuir com uma parte pequena da sua história, com o clube Sarmiento e a fundação – diz Sapp. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_25_3.jpg"></div><p class='foto-descricao'>Garro, o último agachado, no time da Fundação Messi — Foto: Arquivo Pessoal</p>
Sonho despedaçado em Rafaela
Com o passar do tempo, a canhotinha certeira de Garro abriu novas possibilidades.</p>
<p class='noticia-conteudo'>E seu próximo clube foi o Atlético Rafaela, da cidade de Rafaela, a 250km ao norte de Rosário. 
Município pequeno e elegante, com pouco mais de 100 mil habitantes, com características de cidadezinhas do interior do Brasil, com a pracinha da igreja como principal ponto turístico. 
É lá que o Atlético Rafaela, recém-rebaixado para a Terceira Divisão do futebol argentino, recebeu Garro aos 16 anos.</p>
<p class='noticia-conteudo'>– Ele era extremamente alegre, um garoto muito aberto, se aproximava fácil das pessoas.  E era excelente no pingue-pongue também.  Agora, se perdesse, buscava alguma artimanha porque nunca gostou de perder em nada.</p>
<p class='noticia-conteudo'>Ele sempre foi assim, sempre foi vencedor.  E se adaptou facilmente à cidade e à escola.  Teve sempre uma alma de líder positivo.</p>
<p class='noticia-conteudo'>Desde o momento em que entrou no campo começou a mostrar suas virtudes – afirma Luis Trossero, o Luisito. 
Foi Luisito quem entregou o apelido que Garro ganhou nos anos em que viveu em Rafaela. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_25_4.jpg"></div><p class='foto-descricao'>Luisito Trossero, técnico de Garro no Atlético Rafaela — Foto: Reprodução</p>
– O lugar onde era o nosso alojamento, a residência dos garotos, era em um castelo, por isso chamavam Rodrigo de “príncipe”.</p>
<p class='noticia-conteudo'>Algumas pessoas de Rafaela o chamavam de Príncipe. 
Garro foi ganhando mais oportunidades, chegou a um time maior..</p>
<p class='noticia-conteudo'>.  Tudo parecia se encaixar na carreira.  Parecia viver um conto de fadas.</p>
<p class='noticia-conteudo'>Só que não! Porque, na verdade, quando ele completou 18 anos, foi dispensado do Atlético Rafaela. 
– Quando me encontrei com Rodrigo, me caiu o mundo.  Porque eu estava com meu filho ali.</p>
<p class='noticia-conteudo'>. .  E agora o que faço? Chegamos no alojamento para pegá-lo e na porta do alojamento estavam todos os jogadores.</p>
<p class='noticia-conteudo'>Imagine, todos os garotos.  E o que poderíamos fazer? Aos 12 foi embora de casa, e agora tinha que voltar.  E voltamos os 600km em silêncio de volta para casa (em General Pico) – lembra Ricardo.</p>
<p class='noticia-conteudo'>– Este foi um dos momentos que mais lembramos pela forma como aconteceu.  Podem acontecer coisas na vida que você não está preparado, coisas muito tristes, mas não importa quantas vezes você caia, você pode se levantar – diz Ricardo. 
A cena comoveu quem estava presente.</p>
<p class='noticia-conteudo'>– Para mim foi uma tristeza vê-lo ir embora.  Infelizmente, na minha função, não tinha poder de dizer vai ficar ou não vai ficar.  Tenho que respeitar a posição do clube.</p>
<p class='noticia-conteudo'>Então foi um momento duro para todos.  Porém não há males que não venham para o bem – afirma Luisito. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_25_5.jpg"></div><p class='foto-descricao'>Ricardo Garro e Andrea Prietto, pai e mãe de Rodrigo Garro, do Corinthians — Foto: Maurício Oliveira</p>
Um novo resgate
Mais uma vez na história da família Garro, Beto Bulleri foi o amigo com quem puderam contar.</p>
<p class='noticia-conteudo'>Ele estava morando e trabalhando na Colômbia, cogitou a possibilidade de levá-lo para um clube de lá, mas o processo todo para isso parecia ser impossível. 
– E aí com a família, decidimos encontrar uma solução mais próxima.  Com gente conhecida, alguns contatos que tínhamos, conseguimos levá-lo para fazer um teste no Instituto de Córdoba – diz Bulleri.</p>
<p class='noticia-conteudo'>E lá foi a família de Garro para mais uma viagem, desta vez para Córdoba, 400km a oeste de Rosário. 
– Chegamos no Instituto de manhã ou à tarde, não me lembro.  Aí em 20 minutos de teste, nos chamaram e disseram “Rodrigo vai ficar!”.</p>
<p class='noticia-conteudo'>E aí é como se surgisse o sol.  A situação era diferente, e o clube fez uma aposta importante.  O Instituto nos deu uma mão muito grande.</p>
<p class='noticia-conteudo'>E logo depois terminou no Talleres (também de Córdoba), olha como as coisas são – diz Ricardo. 
Depois de tantos anos de luta, Garro finalmente conseguiu chegar ao futebol profissional da Argentina.  Estreou na Segunda Divisão pelo Instituto, rapidamente se destacou e foi contratado pelo Talleres.</p>
<p class='noticia-conteudo'>Um ano depois, em 2022, foi eleito o melhor jogador do campeonato argentino. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_25_6.jpg"></div><p class='foto-descricao'>Rodrigo Garro em ação pelo Talleres — Foto: Rodrigo Valle/Getty Images</p>
– Imagina hoje como é para a gente.  É uma felicidade enorme! Você liga a televisão porque gosta de futebol, quer ver grandes jogadores, e vê seu filho ali.</p>
<p class='noticia-conteudo'>. .  Ele está aproveitando e nos fazendo aproveitar, porque realiza o nosso sonho também – diz o pai.</p>
<p class='noticia-conteudo'>– Acho que ainda não conseguimos entender o que está acontecendo.  É como um sonho feito realidade.  Mas ainda não entendemos bem o que estamos vivendo.</p>
<p class='noticia-conteudo'>É como se eu me perguntasse: “É meu filho mesmo?”.  Sim, é o meu filho! – afirma Andrea. 
Como essa história continua, já se sabe.</p>
<p class='noticia-conteudo'>No fim de 2023, o Corinthians contratou Rodrigo Garro por cerca de US$ 6 milhões (R$ 30 milhões pela cotação na época).  Ele vestiu a camisa 10 e se tornou um dos principais jogadores da equipe.  Em um ano complicado, suas assistências e gols foram fundamentais para fazer o time chegar às semifinais das Copas do Brasil e Sul-Americana e, principalmente, de afastar o risco tenebroso do rebaixamento.</p>
<p class='noticia-conteudo'>Virou xodó da torcida, e deu ainda mais orgulho para os pais. 
– Precisamos correr atrás de como ver os jogos do Corinthians pela televisão na Argentina.  Começamos a estudar sobre o clube, ficamos loucos, conhecemos toda a história.</p>
<p class='noticia-conteudo'>No primeiro dia que eu fui visitar no centro de treinamento, eu vi o Cássio. ..</p>
<p class='noticia-conteudo'>Imagina isso, vi o Cássio andando no CT.  Foi muito lindo! – conta Ricardo. 
– Eu creio que vê-lo feliz, eu como mãe, que sofri todos esses anos por estar longe.</p>
<p class='noticia-conteudo'>. .  É como te digo, valeu tudo à pena (chora).</p>
<p class='noticia-conteudo'>E estou muito feliz por ele – diz Andrea. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_25_7.jpg"></div><p class='foto-descricao'>Garro comemora gol do Corinthians contra o Grêmio — Foto: Marcos Ribolli</p>



50 vídeos
CORINTHIANS.</p>
{% endblock main_content %}

