
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Palmeiras{% endblock title %}
{% block main_title %}Palmeiras{% endblock main_title %}
{% block second_title %}Como a final da Libertadores pode garantir o Inter na fase de grupos do torneio em 2025{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Como a final da Libertadores pode garantir o Inter na fase de grupos do torneio em 2025
Atlético-MG e Botafogo decidem o torneio sul-americano neste sábado, em Buenos Aires


O Inter entra em campo no domingo para enfrentar o Flamengo, no Maracanã, mas pode assegurar a classificação à fase de grupos da Conmebol Libertadores já no sábado.  Para isso, o clube gaúcho torce para que o Botafogo derrote o Atlético-MG na final do torneio continental no Más Monumental, em Buenos Aires, a partir das 17h. 


Quem é a próxima vítima do Inter? Torcedores se divertem com brincadeira
O Glorioso lidera o Brasileirão com 73 pontos e, assim como Palmeiras, Fortaleza, Inter e São Paulo, já garantiu a participação na Libertadores pelo nacional.</p>
<p class='noticia-conteudo'>Porém, caso o time carioca conquiste o inédito título sul-americano, garante vaga no torneio continental como atual campeão e transforma o atual G-5 do Brasileirão em G-6. 

O Flamengo, atual quinto na tabela, já garantiu a classificação por ter conquistado o título da Copa do Brasil.  Assim, o Inter entraria direto na fase de grupos mesmo que seja derrotado nos três jogos restantes.</p>
<p class='noticia-conteudo'>Isso porque o Cruzeiro, atual sétimo colocado, tem 48 pontos, 17 a menos que o Colorado, com apenas mais nove pontos a disputar. 
Veja mais:


Caso o Botafogo perca para o Galo, o Inter precisaria de um tropeço do São Paulo, o sexto com 59, para confirmar vaga na fase de grupos já nesta rodada.  Caso o time de Zubeldía perca para o Grêmio, um empate basta no Maracanã.</p>
<p class='noticia-conteudo'>Se os paulistas levarem um empate da Arena, o Colorado precisa ganhar do Flamengo no Rio.  Vitória do Tricolor impediria a classificação antecipada à fase de grupos. 
Independentemente do que ocorrer em Buenos Aires, o Inter tenta manter o embalo.</p>
<p class='noticia-conteudo'>O time chega para o confronto contra o Flamengo com uma sequência de 16 partidas de invencibilidade, com 12 vitórias no período (quatro delas nos quatro mais recentes compromissos).  O confronto com o Flamengo ocorre às 16h de domingo, pela 36ª rodada do Brasileirão. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_101_0.jpg"></div><p class='foto-descricao'>Valencia é a esperança do Inter no Maracanã — Foto: Ricardo Duarte/Divulgação, Internacional</p>


50 vídeos
INTERNACIONAL.</p>
{% endblock main_content %}

