
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}santos{% endblock title %}
{% block main_title %}santos{% endblock main_title %}
{% block second_title %}Como será a postura do Inter no mercado para reforçar o grupo em 2025{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Como será a postura do Inter no mercado para reforçar o grupo em 2025
Direção não conseguirá ser agressiva para fazer contratações de valores altos, mas promete criatividade por soluções

06/12/2024 05h02 Atualizado há 5 horas
O Inter se prepara para a última rodada do Brasileirão, mas já alinha o planejamento da próxima temporada.  Entre as discussões do departamento de futebol aparece a busca por reforços.  Sem dinheiro para apresentar nomes de pompa, a direção avalia no mercado peças que se encaixem no que Roger Machado precisa e tenta se antecipar à concorrência.</p>
<p class='noticia-conteudo'>A situação financeira no Beira-Rio, que nunca permitiu ostentação, se agravou após a enchente que devastou o Rio Grande do Sul.  O clube teve um prejuízo de R$ 90 milhões, já que precisou reformar Beira-Rio e Centro de Treinamentos Parque Gigante, além de outras questões.  O déficit da temporada será de R$ 44 milhões.</p>
<p class='noticia-conteudo'>Roger Machado comenta sobre a importância de estar atento ao mercado do futebol
O cenário obriga o Colorado a negociar jogadores para minimizar o rombo nos cofres.  Após estipular uma meta de R$ 135 milhões em negociações, subiu para R$ 200 milhões. 
Veja mais:



O recado é claro.</p>
<p class='noticia-conteudo'>Mesmo que tenha a disputa da Conmebol Libertadores, jogadores como Borré, Thiago Maia, Alario, Fernando e Robert Renan dificilmente desembarcarão em Porto Alegre.  A alternativa encontrada está no trabalho de prospecção e análise do que o mercado oferece. 
A gestão liderada pelo presidente Alessandro Barcellos, desde o primeiro mandato, deu protagonismo ao Centro de Análise e Prospecção de Atletas (CAPA).</p>
<p class='noticia-conteudo'>O núcleo de inteligência do clube tem como uma das principais atribuições vasculhar peças sem tanto holofote, mas com qualidade e perfil para elevar o patamar. 
– Ter um departamento de mercado para antecipar e monitorar atletas que sejam importantes.  O Clayton (Sampaio) é um deles.</p>
<p class='noticia-conteudo'>Quando chegou, recordo algumas resistências por vir de um time que não era da primeira linha, pouco conhecido – diz o técnico Roger. 
Cada vez mais teremos de buscar alternativas porque o destaque nas grandes ligas já tem um valor muito alto. 
— Roger Machado, técnico do Inter
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_91_0.jpg"></div><p class='foto-descricao'>Alessandro Barcellos, José Olavo Bisol e D'Alessandro buscam encorpar o grupo do Inter — Foto: Ricardo Duarte/Divulgação, Internacional</p>
Os movimentos do Inter, prioritariamente, serão de reposição para eventuais saídas.</p>
<p class='noticia-conteudo'>Wesley tem proposta do Krasnodar, da Rússia, e Vitão já despertou a cobiça de clubes como o Betis e o Napoli. 
O Colorado reconhece que é preciso aumentar o número de opções na defesa.  Atualmente, Roger conta com Vitão, Rogel e Clayton Sampaio, já que Gabriel Mercado passou por cirurgia no joelho esquerdo e só volta aos gramados no segundo semestre.</p>
<p class='noticia-conteudo'>O garoto Victor Gabriel ainda não estreou como profissional. 
No domingo, a equipe encerra a participação no Campeonato Brasileiro em confronto direto pelo quarto lugar contra o Fortaleza, às 16h, no Castelão.  Se não perder, o Inter assegura a quarta posição e embolsa R$ 40,8 milhões.</p>
<p class='noticia-conteudo'>50 vídeos
INTERNACIONAL.</p>
{% endblock main_content %}

