
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Como clube centenário, que já revelou até Miss Brasil, sumiu do mapa do futebol cearense{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Como clube centenário, que já revelou até Miss Brasil, sumiu do mapa do futebol cearense
Completando 100 anos de fundação neste 2024, o Maguary revelou a Miss Brasil de 1955, a primeira cearense a ser eleita a mulher mais bonita do país



Termômetro ge: quem anda em alta nos cearenses?
Entre as décadas de 1940 e 50, a sociedade cearense acompanhou o fortalecimento da cultura popular com eventos canavalescos e festas tradicionais embaladas pelo característico forró.  Nos estádios de futebol, um time roubou a cena.  O Maguary foi bicampeão cearense (1943 e 44) e, por pouco, não faturou o tri no ano seguinte.</p>
<p class='noticia-conteudo'>Fora dos gramados, o Clube dos Príncipes ajudou a relevar ainda a Miss Brasil de 1955, Emília Corrêa, a primeira cearense a se tornar Miss Brasil na história.  E entre idas e vindas no futebol, o clube é, até hoje, o quarto time com mais títulos estaduais no Ceará. 
A história do Clube dos Príncipes
O Maguary foi um dos clubes mais elitizados na história do futebol cearense, sendo fundado em 1924.</p>
<p class='noticia-conteudo'>Após quatro títulos estaduais (1929, 1936, 1943 e 1944) e sete vices, o departamento de futebol acabou extinto pela primeira vez em 1945. 
Se hoje em dia, Ceará e Fortaleza dominam o cenário local e se destacam no regional, décadas atrás o Maguary disputava competições acirradas contra Vovô e Leão.  A maior rivalidade, inclusive, era com o próprio Alvinegro, sobre quem o Maguary conquistou os dois últimos estaduais da sua história.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_22_0.jpg"></div><p class='foto-descricao'>Maguary no campo do Prado na década de 1940 — Foto: Arquivo Nirez</p>
— Tratavam-se dos dois clubes com maior torcida no estado.  Era comum encontrar as matérias dos jornais com manchetes "O grande clássico do futebol cearense" e coisas do tipo.  O ápice dessa rivalidade foi em 1944, quando o Maguary possuía o time mais forte de sua história e caminhava para o bicampeonato invicto.</p>
<p class='noticia-conteudo'>O Ceará acusou a FCF de beneficiar os Príncipes após uma partida entre os dois clubes em que o Maguary saiu vencedor e os times tiveram jogadores expulsos.  Isso acarretou na saída do Ceará do restante do campeonato de 44 e uma punição ao alvinegro, que não disputou o campeonato de 45 — detalha o jornalista e pesquisador Caio Salgueiro. 
Caio é autor do livro "O Clube dos Príncipes: 100 anos de história do Maguary".</p>
<p class='noticia-conteudo'>A obra deve ser lançada até o final deste ano.  No documento, ele explica que o Clube dos Príncipes era conhecido também como "Cintanegrino" devido ao uniforme, branco com uma faixa preta na altura do peito. 
Em 1945, com a frustrante perda do tricampeonato, o departamento de futebol do Maguary acabou extinto.</p>
<p class='noticia-conteudo'>Longe do futebol, é importante destacar que o clube manteve os esportes amadores, sendo campeão estadual de basquete na década de 1950, além de disputar competições oficiais de voleibol e futebol de salão. 
— Existe uma crença popular no futebol cearense de que o Maguary acabou simplesmente por ter perdido o tri e pronto.  Mas a realidade é que existiu uma série de fatores.</p>
<p class='noticia-conteudo'>Ainda no final de 1944 e início de 1945, o time já iniciava movimentos para retornar ao amadorismo no futebol, ou seja: acabar com a profissionalização, que significaria também encerrar o pagamento de seus atletas —explicou o pesquisador. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_22_1.jpg"></div><p class='foto-descricao'>Maguary x Remo em 1944 — Foto: Arquivo Nirez</p>
O clube social
A primeira sede do Maguary ficava no antigo bairro do Alagadiço, o atual São Gerardo, em Fortaleza.  A elite fortalezense comandava o clube e promovia festas e confraternizações, algo que não existia nas sedes de Vovô e Leão.</p>
<p class='noticia-conteudo'>Isso se intensificou quando o clube se mudou nos anos 1930 para uma nova sede com um espaço maior e com localização mais central na cidade. 
— O Maguary ganhou destaque no público desde sua fundação.  Houve um concurso do jornal O Ceará, de 1927, em que o Clube dos Príncipes venceu como o mais popular do Estado.</p>
<p class='noticia-conteudo'>Isso acontece pelo aspecto social do clube — reforça Caio. 
Um ano depois, seria construída a terceira sede social, localizada no bairro de Fátima, de importância histórica para a Capital cearense.  O local passou a receber eventos que movimentariam a sociedade alencarina pelos anos seguintes.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_22_2.jpg"></div><p class='foto-descricao'>Sede social do Maguary em 1946 — Foto: Arquivo Nirez</p>
Miss Maguary e Miss Brasil
Entre as décadas de 1950 e 1960, as tertúlias (populares festas) do Maguary eram muito famosas entre a população cearense, principalmente entre a juventude universitária, em especial os que migravam do interior para a capital. 
Um episódio que marcou a história do clube envolve o nome da cearense Emília Corrêa Lima.  Entre as atrações do clube, estavam os bailes e concursos de beleza, reunindo a elite fortalezense e valorizando bem a presença feminina.</p>
<p class='noticia-conteudo'>Em 1955, Emília foi eleita Miss Maguary, arrebatando na sequência os títulos de Miss Ceará e Miss Brasil daquele ano. 
— Ser miss aconteceu por acaso, foi quase como uma brincadeira.  Foi mais por insistência dos amigos.</p>
<p class='noticia-conteudo'>Minha avó era muito bonita, e acabou ganhando o concurso, mas ela não queria isso.  O que a diferenciou e chamou a atenção das pessoas, foi que ela usou o momento de miss para divulgar causas importantes como a doença de hanseníase.  Ela viajou o país inteiro falando sobre a doença, trazendo informações sobre isso — rememorou Eduardo Caldas, ator, diretor, roteirista e neto de Emília.</p>
<p class='noticia-conteudo'>— Minha avó nunca modelou e isso só durou na época de miss mesmo.  Ela não gostava da pressão pela responsabilidade do cargo.  Quando ela foi levar algum dos filhos na escola uma vez e a reconheceram, ela pensou "poxa, eu queria poder ir de chinelo, mas eu tenho que ir bonita porque eu sou Miss Brasil" — completa o roteirista.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_22_3.jpg"></div><p class='foto-descricao'>Miss Brasil em 1955, Emília Corrêa, representante do Maguary, dando pontapé inicial em jogo no Maracanã — Foto: Eduardo Caldas/Arquivo Pessoal</p>
Eduardo lembra que Emília sempre foi uma pessoa simples, que valorizava até mais o tempo ao lado da família do que o glamour de ser Miss Brasil.  E a ligação com o futebol era grande.  Flamenguista, há até registros de Emília dando o pontapé inicial em uma partida no Maracanã.</p>
<p class='noticia-conteudo'>— Era atribuição comum para a Miss Brasil da época dar o pontapé inicial em jogos pelo país.  Por isso, imagino até que ela possa ter dado um pontapé inicial em algum jogo do Maguary.  Mas o registro que temos é de um jogo no Maracanã entre Benfica e América-RJ — detalhou o neto.</p>
<p class='noticia-conteudo'>O Miss Brasil projetou não só Emília no cenário nacional, como o próprio Maguary, que passou a ser referência na promoção de talentos e na vida cultural de Fortaleza, mesmo após a extinção do clube. 
— Minha avó era uma pessoa incrível.  A mais incrível que eu conheci.</p>
<p class='noticia-conteudo'>Pessoa do bem, bondosa, preocupada com todos.  Por isso eu até brinco às vezes que ela devia ser canonizada.  É sempre uma felicidade lembrar dela e qualquer coisa relacionada à história dela, inclusive o clube Maguary — conclui.</p>
<p class='noticia-conteudo'>E hoje em dia?
O primeiro retorno do Maguary foi em 1972.  O clube, no entanto, sobreviveu somente por três anos, quando fechou as portas por completo, vendendo inclusive a sede social. 
Em 2009, o advogado e ex-político Aguiar Júnior refundou o Sport Club Maguari como um sucessor daquele que acabou em 1975, desta vez em modelo de clube-empresa.</p>
<p class='noticia-conteudo'>Eles recomeçaram da Terceira Divisão do futebol cearense, mas não conseguiram subir, disputando a competição até 2013. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_22_4.jpg"></div><p class='foto-descricao'>Maguari em 2009 — Foto: Aguiar Júnior/Arquivo Pessoal</p>
— Eles ainda continuaram com algumas modalidades amadoras, mas atualmente a única atividade vinculada ao clube é um projeto em parceria com o time de handebol feminino do Colégio Júlia Fialho, em que as garotas utilizam o nome e os uniformes do Maguari para competir em torneios — pontuou Caio. 
Hoje o clube tem um CNPJ ativo, com razão social Sport Club Maguari LTDA.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

