
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}flamengo{% endblock title %}
{% block main_title %}flamengo{% endblock main_title %}
{% block second_title %}Como diretor na mira do Flamengo viu sequência de joias e fez R$ 1,8 bilhão na base do Palmeiras{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Com proposta do clube carioca, João Paulo Sampaio está no Verdão desde 2015 e teve papel fundamental em reformulação da base, com revelação de nomes como Endrick e Estêvão



Conheça o CT da base do Palmeiras, maior formador de joias milionárias no Brasil

O dirigente informou a diretoria alviverde do interesse rubro-negro e ainda deve ter uma conversa com o português José Boto, principal cotado para assumir o departamento de futebol no clube carioca, enquanto a presidente Leila Peira já disse que espera por sua permanência. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_358_0.jpg"></div><p class='foto-descricao'>Luis Guilherme, Endrick, Vanderlan e outras joias da base ao lado de João Paulo Sampaio, coordenador da base do Palmeiras — Foto: Cesar Greco / Palmeiras</p>



Contratado em 2015, João Paulo Sampaio se transferiu do Vitória para assumir o posto deixado vago por Erasmo Damiani, que iniciou a reformulação e saiu à seleção brasileira pouco depois.  Naquele período, chegou com a missão de transformar o clube em referência na formação.</p>
<p class='noticia-conteudo'>Em menos de 10 anos, pode-se dizer que conseguiu. 
O coordenador, bombardeado com cerca de 20 a 30 vídeos por dia de gols e melhores momentos de jovens atletas, calcula ter gasto R$ 260 milhões e vendido R$ 1,8 bilhão em jogadores da base desde 2015. 

As últimas grandes negociações milionárias do futebol brasileiro, inclusive, foram de atletas revelados sob a gestão dele: Endrick ao Real Madrid e Estêvão ao Chelsea, em acordos que podem chegar a cerca de R$ 337 milhões e R$ 358 milhões.</p>
<p class='noticia-conteudo'>Todos os gols de Estêvão, do Palmeiras, pelo Brasileirão 2024
As mudanças na base começaram na estrutura, com uma redistribuição dos departamentos e triplicando o número de profissionais trabalhando diretamente com o campo. 
– O campo é o nosso cartão de visitas – costuma dizer o coordenador. 
Antes, eram quatro treinadores e dois captadores de novos atletas.</p>
<p class='noticia-conteudo'>Agora, o Palmeiras trabalha com 12 técnicos, no futsal e no campo, e oito captadores distribuídos em quatro das cinco regiões do Brasil: cinco no Sudeste - entre São Paulo capital e interior, Rio de Janeiro e Minas Gerais -, dois no Nordeste - no Recife e em Salvador - e um no Centro-Oeste, em Goiânia. 
“É uma verdadeira revolução o que o Palmeiras faz no seu departamento de base”.  afirma Rizek.</p>
<p class='noticia-conteudo'>Uma das mais chamativas mudanças de estrutura aconteceu através do dirigente, durante a gestão de Leila Pereira: a reforma da Academia de Futebol 2, que é o centro de treinamento dedicado aos atletas da base e inaugurado no início deste ano. 
Localizado em Guarulhos, o CT tem três campos de grama, um sintético e um campo de barro, montado para incentivar a criatividade dos meninos e famoso por duas placas no alambrado que dizem "Proibido treinadores.  Somente formadores" e "Espaço de liberdade, improviso e autonomia".</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_358_1.jpg"></div><p class='foto-descricao'>"Proibido treinadores.  Somente formadores", diz placa na entrada do campo de terra no CT da base do Palmeiras — Foto: Cesar Palmeiras / Palmeiras</p>
A primeira venda marcante neste período aconteceu em 2016, com Gabriel Jesus ao Manchester City por 32,75 milhões de euros.  Em 2017 começaram as divulgações em maior escala ao futebol internacional e em 2020 a base passou a ter papel importante no time profissional.</p>
<p class='noticia-conteudo'>Nos últimos anos, o departamento ganhou ainda mais força com o time profissional.  O auxiliar Victor Castanheira é responsável por acompanhar a transição, e Abel Ferreira, na reta final do campeonato, anunciou os quatro escolhidos para a equipe em 2025: Figueiredo, Benedetti, Thalys e Luighi. 
Base do Palmeiras ajuda no campo e no cofre

A utilização das Crias chama a atenção principalmente por Endrick e Estêvão, decisivos para as campanhas do Verdão nos Brasileiros de 2023 e 2024, mas há também nomes como o zagueiro Vitor Reis e uma marca de 301 jogos seguidos utilizando no time ao menos uma joia da base.</p>
<p class='noticia-conteudo'>A última vez que o Palmeiras entrou em campo sem utilizar nenhum atleta formado no clube foi no empate por 1 a 1 com o Grêmio, em 15 de janeiro de 2021, pelo Brasileiro de 2020 - que se estendeu pelo ano seguinte por conta da paralisação na pandemia da Covid-19. 
Todos os jogos das temporadas 2021, 2022 e 2023 tiveram presença de pratas da casa em campo.  Na temporada de 2020, apenas um jogo não teve.</p>
<p class='noticia-conteudo'>Foram 36 estreias desde 2020. 

A lista de 39 Crias utilizadas nos últimos 301 jogos
Goleiro: Vinicius Silvestre
Laterais direitos: Garcia e Lucas Sena
Laterais esquerdos: Ian, Lucas Esteves, Vanderlan e Victor Luis
Zagueiros: Henri, Lucas Freitas, Michel, Naves, Renan e Vitor Reis
Meio-campistas: Danilo, Fabinho, Gabriel Menino, Jhon Jhon, Luis Guilherme, Patrick de Paula, Pedro Bicalho, Pedro Lima e Yago Santos
Atacantes: Aníbal, Artur, Endrick, Estêvão, Fabrício, Gabriel Silva, Gabriel Veron, Giovani, Kauan Santos, Kevin, Luighi, Marcelinho, Newton, Pedro Acácio, Rafael Elias, Vitinho e Wesley. 
Se considerar os utilizados desde 2020 - mesmo fora da sequência de 301 partidas -, ainda houve mais dois estreantes: o atacante Angulo e o meio-campista Alan.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}

