
    {% extends "html/modelo.html" %}
    {% load static %}
    

    {% block title %}Concessionária planeja reabertura do Pacaembu na final da Copinha de 2025{% endblock title %}
    {% block main_title %}Concessionária planeja reabertura do Pacaembu na final da Copinha de 2025{% endblock main_title %}
    {% block second_title %}None{% endblock second_title %}
    {% block main_content %}<p class='noticia-conteudo'>Concessionária planeja reabertura do Pacaembu na final da Copinha de 2025
Estádio receberá eventos-testes nas próximas semanas e há a expectativa de que alvarás sejam concedidos em dezembro



De shows a jogos, Pacaembu deve receber eventos nos próximos meses
Depois de idas e vindas nas expectativas, o Pacaembu pode ser reinaugurado no próximo dia 25 de janeiro, aniversário da cidade de São Paulo, para receber a final da Copinha de 2025.  A Federação Paulista de Futebol, inclusive, conta com o estádio para realizar a decisão da maior competição de futebol de base do país. 
Cedido à Concessionária Allegra Pacaembu em 2020 e em reforma desde 2021, o estádio, renomeado recentemente como Mercado Livre Arena Pacaembu, está na fase final das obras e já recebeu público, como na decisão da Taça das Favelas, em setembro – limitado a uma parte das arquibancadas.</p>
<p class='noticia-conteudo'>Há pelo menos dois eventos marcados para dezembro: um amistoso festivo entre times capitaneados por Ronaldinho e Cafu e a final da Brasil Ladies Cup, torneio de futebol feminino. 
Espera-se que a documentação para liberação do estádio, como laudos e alvarás definitivos, seja concedida no começo do próximo mês. 
As obras avançaram além do tempo que se imaginava.</p>
<p class='noticia-conteudo'>Havia a intenção de que o estádio recebesse a final da Copinha deste ano, inclusive com declarações públicas do presidente da Federação Paulista de Futebol, Reinaldo Carneiro Bastos, poucos meses antes. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}n_1_0.jpg"></div>Novo gramado do estádio do Pacaembu — Foto: Marcos Ribolli
O novo Pacaembu terá capacidade para cerca de 26 mil pessoas.  O Tobogã, arquibancada que ficava atrás de um dos gols, foi demolido e dará lugar a um prédio multiuso onde será instalado um hotel, um centro médico e restaurantes – esse edifício ainda está em obras.</p>
<p class='noticia-conteudo'>O gramado, já colocado, é sintético – uma opção para que o estádio possa receber shows com frequência. 
A Allegra tem contrato com o Santos, que mandará partidas no local, principalmente durante as obras de reforma da Vila Viva Sorte, previstas para o ano que vem.  O São Paulo também tem um acordo para utilizar o estádio eventualmente quando o Morumbis for alugado para eventos musicais.</p>
<p class='noticia-conteudo'>Nesta terça-feira a FPF realiza o sorteio dos grupos do Paulista do ano que vem no Mercado Pago Hall, uma área de conferências dentro do Pacaembu.  Segundo o calendário divulgado pela CBF, o estadual deve começar no dia 12 de janeiro. 
CORINTHIANS
PALMEIRAS
SANTOS
SÃO PAULO.</p>
{% endblock main_content %}
    