
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Confusão entre jogadores do Real Madrid e do Mallorca marca semifinal da Supercopa{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Provocações começaram entre Vini Jr.  e Pablo Maffeo, antigo desafeto do brasileiro, mas se estenderam para outros atletas, como Bellingham e Asencio.  Grande confusão no apito final precisou ser separada pelas comissões técnicas



Semifinal entre Real Madrid e Mallorca termina em confusão na Supercopa da Espanha

Clique aqui para seguir o novo canal ge Futebol Internacional no WhatsApp
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_0.jpg"></div><p class='foto-descricao'>Vini Jr.</p>
<p class='noticia-conteudo'>discute com Pablo Maffeo, lateral do Mallorca, durante semifinal da Supercopa da Espanha — Foto: Reprodução / @MovistarFutbol</p>
O embate começou durante os 90 minutos.  Logo no início do primeiro tempo, Maffeo simulou uma agressão de Vinicius e caiu no chão se contorcendo.  Bellingham, que via a cena de perto, foi cobrar o lateral e deu um tapa na cabeça dele.</p>
<p class='noticia-conteudo'>O clima quente permeou por todo jogo, com uma série de provocações e marcações fortes de Maffeo em cima de Vinicius.  Teve até beijo irônico do jovem zagueiro Asencio para o lateral do Mallorca. 
— Você vai para casa, vai para casa.</p>
<p class='noticia-conteudo'>Você é péssimo e vai para casa — disse Vini Jr. 

O problema ficou maior no apito final.  Jogadores das duas equipes se envolveram em uma grande discussão no centro do campo, com empurrões e funcionários do Real Madrid tentando separar a confusão.</p>
<p class='noticia-conteudo'>Asencio saiu segurado pelos companheiros, que tentaram apaziguar a discussão. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_1.jpg"></div><p class='foto-descricao'>Confusão entre jogadores após o apito final de Real Madrid x Mallorca, na Supercopa da Espanha — Foto: Reprodução / @Marca</p>
Vini Jr.  já não estava em campo, por ter sido substituído no segundo tempo.</p>
<p class='noticia-conteudo'>Mas ele também precisou ser contido por funcionários do Real Madrid em meio a uma discussão acalorada com o adversário Morlanes na entrada para o vestiário.  Confira no vídeo abaixo:
O atrito entre Vini Jr.  e Pablo Maffeo é antigo.</p>
<p class='noticia-conteudo'>O jogador argentino costuma provocar Vinicius com gestos de choro e, durante a semana, disse na imprensa que precisaria de apenas 10 segundos para vencer Vinicius em uma luta de boxe. 

As brigas não impediram que o Real Madrid levasse a vitória em Jidá.  O clube de Carlo Ancelotti se classificou para a final da Supercopa da Espanha com o placar de 3 a 0 e gols de Bellingham, Rodrygo e um contra de Valjent.</p>
<p class='noticia-conteudo'>A grande decisão do torneio será contra o Barcelona, às 16h (horário de Brasília) de domingo.  O ge acompanha a partida ao vivo no Tempo Real. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_2.jpg"></div><p class='foto-descricao'>Rodrygo marca o terceiro gol da vitória do Real Madrid sobre o Mallorca — Foto: Reuters</p>
Real Madrid 3 x 0 Mallorca | Melhores momentos | Semifinal | Supercopa da Espanha

REAL MADRID.</p>
{% endblock main_content %}

