
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Conheça os artistas por trás de mosaicos e bandeiras das torcidas{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Conheça os artistas por trás de mosaicos e bandeiras das torcidas
Artes de designers e ilustradores nos estádios fazem parte de um trabalho que envolve a mobilização de dezenas de torcedores, como os finalistas da Libertadores, Atlético-MG e Botafogo



Confira a festa da torcida do Atlético-MG na entrada dos times em campo na final da Copa do Brasil
De uns tempos para cá, os mosaicos com placas, bandeirões 3D e até sinalizadores viraram febre nos estádios brasileiros.  Mas quem são os artistas por trás das imagens que dão um colorido todo especial aos jogos e viralizam nas redes sociais? O ge apresenta alguns deles abaixo. 
As torcidas de Atlético-MG e Botafogo, os dois finalistas da Conmebol Libertadores, são duas que se notabilizaram por esse tipo de iniciativa na atual temporada.</p>
<p class='noticia-conteudo'>Mas quem vê tudo pronto e funcionando em perfeita sincronia talvez não imagine o tanto de trabalho e planejamento necessário para que cada ideia saia do papel e tome as arquibancadas. 
Há pouco mais de duas semanas, torcedores do Galo deram uma bela demonstração de apoio ao time na decisão da Copa do Brasil contra o Flamengo.  A festa promovida na Arena MRV na recepção à equipe de Gabriel Milito contou com bandeiras, papéis picados, mosaico de papel e um enorme mosaico 3D com mascotes do clube.</p>
<p class='noticia-conteudo'>– Ele foi o maior já feito no Brasil – diz, orgulhoso, Thiago Scap. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_54_0.jpg"></div><p class='foto-descricao'>Mosaico da torcida do Galo na final da Copa do Brasil — Foto: Pedro Click/Divulgação, Atlético-MG</p>
Scap, que é tatuador, é um dos integrantes e líderes do "Coletivo 1908", um movimento de torcedores voluntários que organiza as festas e mosaicos da torcida do Atlético-MG.  O ousado desenho da final da Copa do Brasil não contou com um, mas três galos.</p>
<p class='noticia-conteudo'>A arte é obra de Will Ramos.  O artista, que já colabora com o clube do coração desde 2021, recebeu o convite do parceiro para executar a ideia. 
– Fiz outros mosaicos, inclusive, na inauguração da Arena MRV.</p>
<p class='noticia-conteudo'>Desta vez, o Thiago pediu algo diferente.  A ideia era com três galos.  Um deles veio semipronto, o que está à direita.</p>
<p class='noticia-conteudo'>Era para ter uma diversidade das mascotes – conta Will. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_54_1.jpg"></div><p class='foto-descricao'>Will Rios é o ilustrador por trás dos mosaicos do Galo — Foto: Arquivo pessoal</p>
A torcida do Botafogo também deu uma amostra de sua criatividade e mobilização recentemente, em um confronto contra o Criciúma, pela 30ª rodada do Brasileirão.  O time de Artur Jorge e cia.</p>
<p class='noticia-conteudo'>foi recebido por um mosaico em movimento, formado por milhares de placas seguradas por torcedores, algumas fixas e outras que eram movimentadas de acordo com as instruções dos organizadores. 
A festa foi promovida pelo movimento "Ninguém Ama como a Gente", um coletivo de torcedores semelhante ao que apoia o Galo surgido em 2017.  O grupo busca inspiração na história, ídolos, mascotes e cores do Glorioso para as iniciativas antes dos jogos no Nilton Santos.</p>
<p class='noticia-conteudo'>Mas o processo de criação também leva em conta a opinião de outros torcedores. 
– Buscamos na internet por inspiração.  Na maioria das vezes, essas ideias vêm de comentários de torcedores.</p>
<p class='noticia-conteudo'>Nossa torcida manda muitas sugestões para nós – detalha Lara di Mello, a designer por trás das artes feitas pelo coletivo. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_54_2.jpg"></div><p class='foto-descricao'>Lara di Mello é quem desenha os mosaicos do Botafogo — Foto: Arquivo pessoal</p>
Um trabalho feito a várias mãos
Tanto Lara quando Will costumam ser os responsáveis pelas artes, mas o trabalho para cada iniciativa envolve dezenas, às vezes centenas de pessoas.  Entre organizadores, criadores e voluntários, o grupo não só coloca a mão na massa, como também ajuda a custear cada festa, com campanhas de arrecadação na internet.</p>
<p class='noticia-conteudo'>– Demoramos três dias e três noites para realizar tudo, confeccionar bandeirinhas, bandeiras e mosaico.  O 3D testamos no dia anterior para ver se daria certo – revela. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_54_3.jpg"></div><p class='foto-descricao'>Mosaico da torcida do Botafogo contra o Palmeiras — Foto: Giba Perez/ge</p>
Cada vez que um desses coletivos decide preparar algo especial também começa uma corrida contra o tempo.</p>
<p class='noticia-conteudo'>No caso dos mosaicos 3D (os bandeirões com ilustrações estendidos em posição vertical), o processo envolve várias etapas, que começa pelo desenho da arte, passa pela confecção do tecido até a pintura da peça que tomará conta das arquibancadas. 
– A partir da escolha do desenho, eu começo a ilustração, o que demora mais ou menos um dia.  Depois, mandamos para a gráfica e para a costura, o que leva mais alguns.</p>
<p class='noticia-conteudo'>Por fim, testamos o 3D no estádio, já na estrutura – explica Lara. 
– No fim de outubro, eles me chamaram.  Estava bem em cima (do prazo), mas ficou pronto em 30 de outubro.</p>
<p class='noticia-conteudo'>Tive dois dias para fazer.  Eles precisam fabricar o bandeirão e não é feito em Minas, vem do Nordeste.  Foi difícil, mas conseguimos – recorda Will.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_54_4.jpg"></div><p class='foto-descricao'>Mosaico do Botafogo homenageia Garrincha — Foto: Botafogo / Divulgação</p>
Traço argentino
As torcidas de Fluminense e Internacional são outras que aderiram à moda dos mosaicos.  As artes usadas pelas duas torcidas vieram do traço de Gonzalo Rodriguez, ilustrador e artista gráfico argentino radicado em Porto Alegre.  Na vitória do Inter no clássico Gre-Nal, no Beira-Rio, um mosaico 3D subiu em frente à torcida organizada colorada com um desenho de Valdomiro, ídolo do clube.</p>
<p class='noticia-conteudo'>– Eles chegam com o conceito e eu crio.  A do Valdomiro fiz o lettering e ficou legal.  É muito bacana homenagear ídolos históricos.</p>
<p class='noticia-conteudo'>Em 17 de setembro, estava entregue o desenho.  Demorou mais ou menos uma semana para ficar pronta – conta o argentino. 
Gonza, como é conhecido, também já fez artes para as torcidas do Atlético Nacional, da Colômbia, e o Chivas, do México.</p>
<p class='noticia-conteudo'>O ilustrador ainda trabalha para a Conmebol e produz material para as redes sociais e outros canais da entidade.  Para promover a final da Libertadores, por exemplo, fez caricaturas de Garrincha e Ronaldinho Gaúcho, ídolos de Botafogo e Atlético-MG. 
Até a publicação dessa reportagem, as torcidas do Galo e Glorioso ainda discutiam as inciativas que seriam feitas para recepcionar os times na grande decisão de sábado, no estádio do River Plate, em Buenos Aires.</p>
<p class='noticia-conteudo'>Mosaicos, a princípio, estavam descartados.  A Conmebol proíbe esse tipo de adereço em jogos da entidade e vetou o elaborado pela torcida do Fluminense na final do ano passado. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_54_5.jpg"></div><p class='foto-descricao'>Garrincha e Ronaldinho ilustram a imagem da final da Libertadores entre Botafogo x Atlético-MG — Foto: Divulgação, Conmebol</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_54_6.jpg"></div><p class='foto-descricao'>Valdomiro foi homenageado pela Popular no Gre-Nal 443 — Foto: Tomás Hammes</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_54_7.jpg"></div><p class='foto-descricao'>Mosaico da torcida do Fluminense com a arte de Gonza Rodriguez — Foto: Felipe Siqueira/ge</p>
Veja vídeos de mosaicos feitos por torcedores de clubes brasileiros:
Torcida do Flamengo faz mosaico em comemoração ao título da Copa do Brasil
Torcida do Ceará faz mosaico em homenagem a Luiz Otávio
Torcida do Botafogo faz mosaico com sinalizadores e muita festa na Libertadores
E o mosaico da torcida do Internacional antes do clássico contra o Grêmio?
Confira o mosaico da torcida do Botafogo para receber o time no Maracanã
Botafogo faz mosaico duplo nas oitavas da Libertadores contra o Palmeiras
Torcida do Atlético-MG faz mosaico e show de fogos antes de jogo contra o Flamengo
ATLÉTICO-MG
BOTAFOGO
FLAMENGO
FLUMINENSE
INTERNACIONAL.</p>
{% endblock main_content %}

