
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Conheça o torcedor do Botafogo que indicou Almada a Textor em rede social Ganhei na loteria{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Conheça o torcedor do Botafogo que indicou Almada a Textor em rede social: "Ganhei na loteria"
Inspirado em filme, torcedor ajudou o clube a realizar a contratação mais cara da história do futebol brasileiro



Veja os melhores lances e assistências de Thiago Almada, do Botafogo
O alvinegro Gustavo Debossan, de 28 anos, viralizou nas redes sociais por ter indicado Thiago Almada a John Textor, pelo "X" (antigo Twitter) meses antes de o argentino ser contratado pelo Botafogo.  Nesta terça-feira, o americano brincou com a situação em uma rede social ao dizer que chegou ao Botafogo por intermédio do Linkedin e que contratou o meia pelo Twitter.  Almada se tornou um dos destaques do Botafogo na conquista da Libertadores da América.</p>
<p class='noticia-conteudo'>- Tomou uma proporção absurda a ponto de muita gente me mandar mensagem, estou muito feliz.  Momento único como torcedor botafoguense, tem até amigo falando "você é responsável pela Libertadores".  Mas não sou - disse Debossan, ao ge.</p>
<p class='noticia-conteudo'>- O que era um sonho, uma mensagem meio "seja o que Deus quiser", acabou dando certo.  Ganhei na loteria, ganhamos. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_15_0.jpg"></div><p class='foto-descricao'>Gustavo Debossan, torcedor do Botafogo que indicou Almada a Textor — Foto: Arquivo pessoal</p>
A interação entre o torcedor e o dirigente ocorreu em janeiro, quando o Botafogo vivia uma espécie de ressaca pela perda do Brasileirão de 2023, depois de liderar boa parte do campeonato.</p>
<p class='noticia-conteudo'>Na madrugada do dia 20, Debossan decidiu fazer algumas indicações a Textor em mensagens no "X" (antigo Twitter) e não imaginava que seria lido, muito menos que teria a sugestão acolhida.  Às 4h45, escreveu a seguinte mensagem, em inglês:
- Tem um bom jogador chamado Thiago Almada, acredito que ele seja uma grande aquisição para o Botafogo na Libertadores, é um argentino que arma jogadas, é rápido, tem boa finalização e também pode jogar pelas pontas.  No momento ele joga no Atlanta United - diz o texto traduzido.</p>
<p class='noticia-conteudo'>Na ocasião, o empresário norte-americano foi sucinto na resposta: "Vou checar".  O torcedor fez ainda outra indicação, a do lateral Danilo.  Ele conta que o dirigente enviou uma mensagem com o intuito de saber de que Danilo se tratava.</p>
<p class='noticia-conteudo'>Debossan falava do jogador da Juventus e da seleção brasileira.  Este foi o último contato entre os dois. 
Seis meses depois, Debossan soube que sua indicação surtiu efeito, quando o Botafogo fechou com Almada.</p>
<p class='noticia-conteudo'>O meia, campeão do mundo pela Argentina, em 2022, custou R$ 137,4 milhões e se tornou a contratação mais cara do futebol brasileiro. 
Não demorou para o argentino se adaptar ao futebol brasileiro e deslanchar junto ao estrelado time do Botafogo.  No último sábado, Almada se destacou na conquista do título da Libertadores contra o Atlético-MG e pode, nos próximos dias, conquistar o Brasileirão.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_15_1.jpg"></div><p class='foto-descricao'>Thiago Almada Libertadores Botafogo — Foto: Antonio Lacerda/EFE</p>
Em entrevista ao ge, no início de novembro o americano deu outra versão sobre a contratação de Almada. 
- Duas pessoas me levaram ao Almada: um jogador ex-FC Florida chamado Julian Gressel, foi o melhor novato da liga em 2017 e hoje está no Inter Miami, que jogava pelo Atlanta United.  Foi lá que descobri Almada.</p>
<p class='noticia-conteudo'>Dias depois recebi a ligação de um dos donos do Atlético de Madrid dizendo que o amava.  Apesar de ter gostado dele, eu não confiava no nível da MLS.  Continuei assistindo e qualidade é qualidade, independentemente do lugar.</p>
<p class='noticia-conteudo'>Vi qualidade excepcional no Thiago e quis trazê-lo.  Ele teve o desejo de fazer parte do projeto.  Ele quer ganhar títulos aqui.</p>
<p class='noticia-conteudo'>Ele sabe que um dia pode jogar na Europa, mas quer aproveitar aqui, a família está mais perto.  Está sendo uma boa experiência - afirmou. 
Mesmo assim, Debossan acredita em seu papel na indicação.</p>
<p class='noticia-conteudo'>Atualmente, o torcedor alvinegro está à procura de trabalho.  Seu último emprego foi de assistente de vendas de uma concessionária de motos.  Ele faz suas análises sobre jogadores por hobby.</p>
<p class='noticia-conteudo'>Se inspirou no método estatístico para avaliar e contratar jogadores de baseball desenvolvido pelo americano Billy Beane.  A história foi retratada no filme "Moneyball", O Homem Que Mudou o Jogo", lançado em 2011, e estrelado por Brad Pitt. 
- Tentei traduzir a fórmula para o futebol, e a posição de meia ofensivo pela esquerda estava um pouco carente.</p>
<p class='noticia-conteudo'>Pensei em jogadores sul-americanos: Kendry Páez, Echeverri, De la Vega, e o mais top era o Thiago Almada, dentro dessa fórmula - explicou. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_15_2.jpg"></div><p class='foto-descricao'>Gustavo Debossan e sua esposa na Fan Fest do Botafogo para a final da Libertadores — Foto: Arquivo pessoal</p>
No "X" o sucesso da "loteria" de Debossan chegou a outras torcidas.  Ele contou que vem recebendo mensagens de torcedores de times de outros estados com pedidos de sugestões, que ele afirmou atender sem clubismo.</p>
<p class='noticia-conteudo'>Mas sua vontade mesmo é ajudar o Botafogo. 
- Se o Textor precisar, estou aí.  O que o Botafogo quiser, eu estou sempre.</p>
<p class='noticia-conteudo'>Almada também queria a Libertadores, então acabei ajudando todo mundo de alguma forma. 



Assista: tudo sobre o Botafogo no ge, na Globo e no sportv
50 vídeos
BOTAFOGO.</p>
{% endblock main_content %}

