
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Palmeiras{% endblock title %}
{% block main_title %}Palmeiras{% endblock main_title %}
{% block second_title %}Conheça o menino Gui, fã do Vasco indicado a prêmio de torcedor do ano da Fifa{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Conheça o menino Gui, fã do Vasco indicado a prêmio de torcedor do ano da Fifa
Pequeno vascaíno virou amuleto do clube em 2023 após viralizar nas redes sociais



Torcedor do Vasco, Gui concorre a prêmio na Fifa
O menino Gui, torcedor ícone do Vasco, está concorrendo ao prêmio de torcedor do ano do "Fifa The Best Football Awards".  O pequeno vascaíno foi acordado pela mãe, a nutricionista Tayane Gandra, nesta sexta-feira com a notícia (veja no vídeo acima). 

- Nosso milagre agora alcançou o mundo inteiro numa das maiores premiações do planeta do esporte.</p>
<p class='noticia-conteudo'>. .  Vamos mover o país e fazer a campanha mais linda já vista pra conseguirmos eleger nosso GUI como melhor torcedor do mundo - escreveu Tayane no Instagram.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_102_0.jpg"></div><p class='foto-descricao'>Gui, torcedor xodó do Vasco — Foto: Reprodução</p>
Conheça o menino Gui
Guilherme Gandra Moura, de 10 anos, é portador de uma doença rara chamada epidermólise bolhosa.  Em junho de 2023, um vídeo compartilhado pela mãe dele viralizou nas redes sociais, com milhões de visualizações.  Tayane registrou o encontro com o filho depois de ele ficar 16 dias em coma induzido.</p>
<p class='noticia-conteudo'>Gabriel Pec, do Vasco, visita pequeno Gui, torcedor que despertou de coma após 16 dias
A partir dali começou também a história de Gui como torcedor símbolo do Vasco.  Ele recebeu a visita de jogadores do clube no hospital e ficou amigo de Gabriel Pec, que manteve contato com a família do garoto e incentivou outros atletas a encontrarem o pequeno vascaíno.  Em pouco tempo, Gui passou a frequentar os jogos do clube e o dia a dia do elenco, virando uma espécie de mascote.</p>
<p class='noticia-conteudo'>Ele ganhou até uma bandeira com seu rosto na torcida. 


Veja o encontro de Philippe Coutinho com Gui, torcedor do Vasco
Recentemente, Gui teve um encontro com Philippe Coutinho, uma das principais contratações do Vasco nesta temporada. 
Além do Vasco
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_102_1.jpg"></div><p class='foto-descricao'>Menino Gui conhecer Neymar e Nenê — Foto: Reprodução</p>
O carisma e a história de Gui ultrapassaram os limites do Vasco, seu time do coração.</p>
<p class='noticia-conteudo'>O torcedor passou a ganhar camisas de diferentes times e recebeu convites para visitar instalações de clubes Brasil afora, registrando momentos ao lado de jogadores diversos.  Entrou em campo com a seleção brasileira e foi até a casa de Neymar.  A história teve repercussão internacional, e o futebol melhorou a qualidade de vida do menino.</p>
<p class='noticia-conteudo'>Torcedor do Vasco, Gui encontra Hullk na Arena e faz pedido inusitado
Em novembro do ano passado, Gui foi até Brasília conhecer o presidente Lula.  O torcedor do Vasco trouxe ainda visibilidade para a doença, tendo sido sancionada a “Lei Gui” no estado do Rio de Janeiro, que prevê o pagamento de pensão e custeamento de medicamentos, curativos e outras despesas a portadores de epidermólise bolhosa. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_102_2.jpg"></div><p class='foto-descricao'>Gui, torcedor do Vasco, com o presidente Lula — Foto: Reprodução</p>
O que é epidermólise bolhosa
A doença, que tem causa genética e hereditária, é uma deficiência no colágeno que causa algumas feridas e bolhas na pele.</p>
<p class='noticia-conteudo'>A condição pode gerar diversas complicações e se manifesta desde o nascimento.  A rara doença não tem cura e nem é transmissível, mas exige um gasto muito alto por causa dos graves ferimentos que provoca na pele. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_102_3.jpg"></div><p class='foto-descricao'>Lucas Piton e Gabriel Pec com Gui no CT do Vasco — Foto: Vasco</p>
Pesquisas recentes publicadas em revistas internacionais falam de um tratamento inovador para esses casos.</p>
<p class='noticia-conteudo'>Trata-se de um gel em desenvolvimento com um tipo de vírus da herpes simples e que é aplicado diretamente na pele. 
O remédio está em fase avançada de testes e apresentou uma significativa melhora nas feridas dos pacientes.  Durante os testes, os machucados fecharam completamente.</p>
<p class='noticia-conteudo'>Assista tudo sobre o Vasco no ge, na Globo e no SporTV:
50 vídeos
VASCO.</p>
{% endblock main_content %}

