
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}flamengo{% endblock title %}
{% block main_title %}flamengo{% endblock main_title %}
{% block second_title %}Conheça o ex-Flamengo que foi titular na estreia de Ronaldinho e joga há oito anos na Tailândia{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Conheça o ex-Flamengo que foi titular na estreia de Ronaldinho e joga há oito anos na Tailândia
Cria do Bahia, Vander conta sobre festas proibidas para jovens no Fla de R10, "pernas tremendo" no 5 a 4 contra o Santos e a relação de amor e ódio com clubes baianos



Vander lembra estreia de Ronaldinho no Flamengo e jovens barrados em festas
Aos 34 anos, Vander passou metade da carreira Tailândia, onde segue como jogador profissional.  Mas antes de escolher o país no sudeste asiático como destino, o meia viveu boas histórias no futebol brasileiro.  Em entrevista exclusiva ao ge, ele lembrou os momentos mais marcantes, como a troca do Bahia pelo Vitória e os dias ao lado de Ronaldinho Gaúcho no estrelado Flamengo de 2011.</p>
<p class='noticia-conteudo'>"Era um sonho que eu vivia diariamente", afirma. 
— Todo dia, dividir vestiário com aqueles jogadores..</p>
<p class='noticia-conteudo'>.  Não só o Ronaldinho, que dispensa comentário, mas Thiago Neves, Léo Moura, Renato Abreu.  Maior orgulho da minha carreira ter jogado naquele Flamengo — conta Vander ao ge.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_23_0.jpg"></div><p class='foto-descricao'>Vander defendeu Bahia, Vitória e Flamengo — Foto: Reprodução/ge Bahia</p>
Vander lembra com euforia os momentos que dividiu com Ronaldinho dentro de campo.  Só não pôde acontecer fora dele, já que as festas eram um privilégio para os veteranos.  Imposição esta que não vinha do R10, mas, sim, do técnico Vanderlei Luxemburgo.</p>
<p class='noticia-conteudo'>— Aconteciam muitas festas.  O treinador era o Vanderlei Luxemburgo, que não deixava os mais jovens saírem.  É claro que se fosse no Rio de Janeiro, não tinha como controlar.</p>
<p class='noticia-conteudo'>Mas quando jogava fora, se ganhava o jogo, sempre tinha uma festinha.  Por exemplo, ia jogar em Curitiba, ganhava o jogo e iria voltar para o Rio no outro dia.  Aí sempre tinha uma festinha, Ronaldinho organizava.</p>
<p class='noticia-conteudo'>O Luxemburgo deixava os jogadores irem, mas não os jovens.  Moleque de 20, 21 anos..</p>
<p class='noticia-conteudo'>.  Eu, Negueba, Diego Maurício, éramos proibidos — lembra Vander. 
Vander lembra medo em histórico Santos 4 x 5 Flamengo
Vander foi titular do Flamengo na estreia de Ronaldinho Gaúcho, em 2011.</p>
<p class='noticia-conteudo'>O meia relembra com orgulho sobre atmosfera do Maracanã naquela partida contra o Nova Iguaçu.  Outro dia que não sai da cabeça de Vander é o 5 x 4 contra o Santos, pelo Brasileirão daquele ano.  Ele assistiu ao jogo do banco de reservas e "agradece" por isso.</p>
<p class='noticia-conteudo'>"Eu lembro que foi um dos poucos jogos que eu tive medo de jogar", revela Vander. 
— Quando estava 4 a 4, o Thiago Neves sentiu alguma coisa.  E aí ele saiu.</p>
<p class='noticia-conteudo'>O Luxemburgo me chamou, cheguei a tirar o colete para entrar.  Ele pediu para esperar.  Voltei para o banco, e acabou que o Thiago Neves dá a assistência para o quinto gol, para Ronaldinho.</p>
<p class='noticia-conteudo'>Eu estava com as pernas tremendo, muito nervoso.  Estava muito tempo parado por causa da lesão.  Estava voltando nesse jogo.</p>
<p class='noticia-conteudo'>A Vila Belmiro, com Neymar, Elano, Ronaldinho, Thiago Neves, só craque.  E eu, moleque de 21 anos.  Aquele jogo eu senti.</p>
<p class='noticia-conteudo'>Acabou que eu nem entrei — completou o meia. 
Os gols de Santos 4 x 5 Flamengo pelo Campeonato Brasileiro de 2011
A lesão citada por Vander atrapalhou a passagem do meia pela Flamengo, clube que ele defendeu apenas nove vezes e marcou um gol.  Mas o que foi determinante para a saída dele foi uma entrevista para o Globo Esporte.</p>
<p class='noticia-conteudo'>De férias em Salvador, o meia jurou amor ao Bahia e citou o desejo de voltar a defender o Tricolor.  A declaração não caiu bem na Gávea, e a renovação do empréstimo emperrou ali. 
— Um dos principais arrependimentos da minha carreira foi não ter ficado mais um ano, estava tudo acertado com o Flamengo, meu empresário já tinha ido ao Rio e já estava tudo certo.</p>
<p class='noticia-conteudo'>Quando voltei de férias para Salvador, inclusive acho que foi para uma matéria para o Globo Esporte, falei que meu coração era tricolor, que queria voltar para o Bahia.  Melou toda negociação — recorda Vander. 



— Diretores do Bahia não gostaram, acho que era o [Paulo] Angioni.</p>
<p class='noticia-conteudo'>Já estava tudo apalavrado, e a declaração minha não pegou bem.  Quando você chega num patamar de time como o Flamengo tem que tentar manter.  É o máximo no Brasil.</p>
<p class='noticia-conteudo'>E eu querendo jogar.  Como ia jogar num time com Ronaldinho, Thiago Neves, Vagner Love, achei que no Bahia teria mais espaço e não poucos minutos — explica o jogador. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_23_1.jpg"></div><p class='foto-descricao'>Vander tem um gol marcado pelo Flamengo, contra o Volta Redonda, em 2011 — Foto: Gilvan de Souza / Flamengo</p>
Bahia e Vitória
Nascido e criado em Salvador, a história de Vander passa pelos dois principais clubes da cidade.</p>
<p class='noticia-conteudo'>Ele começou a carreira no Bahia, clube em que conquistou um acesso para a Primeira Divisão e também um título estadual, fazendo o time sair de uma fila de nove temporadas sem taças.  No Tricolor, ganhou as primeiras chances como profissional sob o comando de Renato Gaúcho. 
— Me dava muita moral, confiança, sou muito grato.</p>
<p class='noticia-conteudo'>Me sinto até orgulhoso porque é um grande treinador do futebol brasileiro, um grande personagem.  Mas não mantenho relação com ele.  Em jogos no Brasil sempre cumprimentava ele, conversava comigo.</p>
<p class='noticia-conteudo'>Sou muito grato a ele, foi muito importante para mim nos primeiros meses de profissional, sempre me blindou de muita situação — lembra Vander. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_23_2.jpg"></div><p class='foto-descricao'>Vander pelo Bahia em 2012 — Foto: Felipe Oliveira / EC Bahia</p>
De 2012 para 2013, Vander trocou o Bahia pelo Vitória.  A mudança para o maior rival por si só já seria algo polêmico, mas a saída do Fazendão teve ainda troca de acusações com a diretoria Tricolor.</p>
<p class='noticia-conteudo'>De um lado, o meia expôs salários atrasados; do outro, a cúpula do Esquadrão alegou deficiência técnica para não renovar o contrato do jogador. 
— Escolhi voltar para o Bahia, quando voltei a gente foi campeão baiano, comecei bem o Brasileiro, mas, infelizmente, não me senti valorizado.  Fizeram uma proposta baixa, tempo de contrato mais um ano e aumento salarial mínimo.</p>
<p class='noticia-conteudo'>Aí surgiu o Vitória, que ofereceu quatro anos de contrato, valorização financeira boa, para mim e minha família.  Eu precisava me estabilizar financeiramente, estava começando, tinha 21 anos.  A gente ainda tentou com o Bahia, conversou, era a prioridade, mas não senti uma valorização justa no Bahia e aceitei o desafio do Vitória — conta Vander.</p>
<p class='noticia-conteudo'>O meia revelou que teve receio de não ser bem recebido no Vitória por causa do passado tricolor.  Mas a insegurança foi superada, e ele ficou por quatro temporadas na Toca do Leão.  No período, venceu o Campeonato Baiano mais duas vezes e também conseguiu um acesso para a Primeira Divisão.</p>
<p class='noticia-conteudo'>Hoje, garante ser mais identificado com o Rubro-Negro. 
— Fui bem recebido.  Quem me contratou foi o presidente, que conversou comigo, me ligou, o Alexi Portela.</p>
<p class='noticia-conteudo'>Me passou confiança.  Na final do Baiano de 2012, que o Bahia foi campeão, eu acabei brigando com o Wellington, saí na porrada.  Nós dois fomos expulsos.</p>
<p class='noticia-conteudo'>E quando fui para o Vitória, em 2013, eu pensava: "Será que esse cara vai criar alguma confusão comigo?" [risos].  Mas ele saiu em 2013.  Eu ficava pensando se eles iriam lembrar da confusão.</p>
<p class='noticia-conteudo'>Mas fui muito bem recebido — recorda o meia. 
— Apesar de ter jogado a minha base inteira no Bahia, entrei em 2001 e fui até 2010, no profissional.  Depois fui para o Flamengo, voltei em 2012, ganhei título baiano e consegui acesso para a Série A com o Bahia.</p>
<p class='noticia-conteudo'>Mas me considero mais identificado com o Vitória.  Foi mais intenso.  Uma relação de amor e ódio com a torcida, felizmente conquistei dois baianos, um acesso para a Série A em 2015.</p>
<p class='noticia-conteudo'>Para falar a verdade não tenho esse objetivo de um clube, mas entre os dois me identifico mais com o Vitória - complementa. 
Principais feitos de Vander por Bahia e Vitória:

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_23_3.jpg"></div><p class='foto-descricao'>Vander pelo Vitória contra o Paraná — Foto: Francisco Galvão / Divulgação / E. C.</p>
<p class='noticia-conteudo'>Vitória</p>
O último ano de Vander no Vitória foi 2016, quando ele dividiu o campo com Marinho.  O meia lembra do atacante como um dos melhores jogadores com quem já atuou.  Naquela temporada, Marinho marcou 21 gols e deu seis assistências em 43 jogos.</p>
<p class='noticia-conteudo'>Nas últimas seis rodadas do Brasileirão, ele balançou as redes sete vezes e ainda deu quatro passes decisivos para evitar o rebaixamento do Leão. 
— Eu joguei com Kleberson, pentacampeão mundial, Edilson, mas estavam no fim da carreira.  Dentro de campo não faziam tanta diferença, proporcional ao nome deles.</p>
<p class='noticia-conteudo'>Marinho foi um cara que me marcou muito, em 2016 fazia chover.  Ele fazia coisas que eu me perguntava como ele conseguia.  Tanto dentro de campo como fora.</p>
<p class='noticia-conteudo'>A gente se dava bem, meio doidinho, alegria.  O Escudero também era um jogador muito inteligente, o Willian Farias, o goleiro Gatito.  Muitos jogadores bons que gostei.</p>
<p class='noticia-conteudo'>Mas Escudero e, principalmente, Marinho, foram os que mais me impressionaram — afirma Vander. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_23_4.jpg"></div><p class='foto-descricao'>Vander (direita) celebra gol marcado contra o Sport — Foto: Raul Spinassé/Ag.  A Tarde/Estadão Conteúdo</p>
A vida na Tailândia
Em 2017, Vander deixou o Vitória e se aventurou no futebol tailandês, onde segue até hoje.</p>
<p class='noticia-conteudo'>Aos 34 anos, o atacante fala sobre as nova temporadas na Ásia e enxerga a carreira em reta final. 
— Cheguei aqui em 2017, vim no início do ano, foi a convite de um treinador brasileiro que estava aqui.  Tive oportunidade de ir para a Coreia antes, em 2015, mas o Vitória não liberou.</p>
<p class='noticia-conteudo'>Como estava acabando meu contrato, aceitei esse desafio, não conhecia nada do futebol tailandês.  Mas a proposta financeira era boa, e acabei aceitando esse desafio — explica Vander. 
— Estou começando a pensar em parar, futebol é complicado.</p>
<p class='noticia-conteudo'>Às vezes está vivendo um momento ruim e quer antecipar e num momento bom acha que dá para jogar uns três, quatro anos.  Estou bem ainda, não estou pensando em parar, por exemplo, nesta temporada, mas tenho que começar nisso, geralmente a média é 35, 36, 37 anos.  Não sei se vai ser no próximo ano, talvez faça planos de voltar ao Brasil se tiver oportunidade boa.</p>
<p class='noticia-conteudo'>Talvez seja o momento, mas não defini nada — completa. 
Veja abaixo a entrevista completa com Vander:
ge: o que mais te marcou na passagem pelo Flamengo?
Vander: Tem coisas do Flamengo que nunca vou esquecer, por exemplo, a estreia de Ronaldinho.  Fui titular com o Engenhão lotado, jogo transmitido talvez para o mundo todo.</p>
<p class='noticia-conteudo'>Sinto muito orgulho, acho que consegui fazer um bom trabalho e aprendi muito. 
Como era a relação com Ronaldinho Gaúcho?
— Ele era muito tranquilo.  Às vezes, até para reclamar com a gente.</p>
<p class='noticia-conteudo'>Costumo brincar com amigos meus que eu joguei com grandes jogadores e que são humildes.  E jogadores que não são tão famosos assim são mais complicados de viver no elenco.  Naquele dia foi marcante (dia da estreia).</p>
<p class='noticia-conteudo'>Foi uma festa no Rio de Janeiro.  Tudo parado, uma festa.  Um dia marcante.</p>
<p class='noticia-conteudo'>Quando eu subi no túnel tinha o mosaico com "seja bem-vindo R10", com tudo vermelho e preto.  Aquele dia eu acredito que me tornei jogador de futebol.  É uma cena que não vai sair da memória.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_23_5.jpg"></div><p class='foto-descricao'>Mosaico Ronaldinho Flamengo — Foto: André Durão</p>
Apesar de ter Ronaldinho Gaúcho, Thiago Neves e outras estrelas, aquele Flamengo ganhou apenas o Campeonato Carioca em 2011.  O que faltou para o time conquistar coisas maiores?
— A gente não foi tão regular na temporada.  Fazia jogos maravilhosos, como aquele 5 a 4 contra o Santos, o contra o Cruzeiro no Engenhão, 4 a 0, com show dos caras.</p>
<p class='noticia-conteudo'>Mas em outros jogos tropeçava, não mantinha regularidade.  O Corinthians e o Vasco tinham grandes times também.  Foi uma experiência maravilhosa.</p>
<p class='noticia-conteudo'>No processo de saída do Bahia você chegou a cobrar o clube nas redes sociais.  Se arrepende da postura naquela época?
— Me arrependo.  Nesse tempo aí eu mexia no Twitter.</p>
<p class='noticia-conteudo'>Hoje nem entro.  Coisa de moleque, 22 anos, empolgação, fama, conhecendo os primeiros passos.  Sair de um bairro humilde para ser famoso.</p>
<p class='noticia-conteudo'>Me arrependo de ter ido lá expor, mas nem lembro.  Não é da minha personalidade, sou bem tranquilo em relação a essas coisas de rede social. 
Você acompanha o futebol baiano? Pode falar sobre as diferenças do Bahia atual, sob gestão do Grupo City, para o Bahia que você defendeu até 2012?
— No tempo que joguei no Bahia sempre foi muito organizado, nada assustador.</p>
<p class='noticia-conteudo'>Estrutura sempre foi muito boa, ambiente muito bom.  Torcida do Bahia dispensa comentários.  Joguei com Kleberson no Bahia, Edilson, muito jogadores, Souza, Titi, mas hoje o Bahia está em outro patamar, futebol também mudou.</p>
<p class='noticia-conteudo'>O Bahia tem um elenco forte, talvez seja o mais forte desse século.  Em relação a estrutura acredito que esteja melhor. 
Quando saiu do Vitória você comentou que se sentia perseguido pela imprensa.</p>
<p class='noticia-conteudo'>Pode explicar melhor como era isso?
— É difícil.  Eu acho que, pelo fato de ser baiano, cria de Salvador, sair do Bahia para o Vitória, a cobrança em mim foi maior.  Claro que eu, como jogador, cometi erros, fiz jogos ruins.</p>
<p class='noticia-conteudo'>Eu via jogadores que ganhavam muito mais que eu e que não ajudavam como eu que não tinha essa cobrança.  Foram quatro anos vivendo isso.  O Vitória até me ofereceu mais um ano de contrato, por Anderson Barros, diretor.</p>
<p class='noticia-conteudo'>Mas aí eu queria sair já, estava com 26 ou 27 anos.  Eu tinha vontade de jogar no exterior.  Em 2015 tive vontade de ir para a Coreia do Sul, um clube me ofereceu proposta boa, mas o Vitória não me liberou.</p>
<p class='noticia-conteudo'>Mas eu tinha essa vontade de mudar um pouco, também era bom financeiramente para mim.  Mas sempre achei que a cobrança era um pouco demais para o que eu merecia. 
Como é sua relação com Salvador atualmente? Costuma vir para a cidade nas férias?
— Sou de Salvador, moro em Salvador, sempre estou aí nas férias.</p>
<p class='noticia-conteudo'>Moro aí, minha mãe, minhas filhas também moram em Salvador.  Uma vez ano, um mês de férias, sempre estou aí. 
Como é a sua rotina na Tailândia? Você gosta de viver aí ou é apenas o futebol que te segura no país por tantos anos?
— Joguei sete anos no mesmo clube, essa temporada agora que vim para um novo clube.</p>
<p class='noticia-conteudo'>Morava em Bangkok, na capital.  Bangkok é muito bom para morar, tem muito brasileiro.  Futebol aqui é muito diferente, calendário mais tranquilo, um jogo por semana, de vez em quando a liga para duas, três semanas sem jogos.</p>
<p class='noticia-conteudo'>Quando a seleção da Tailândia joga eles param o campeonato duas semanas.  Então eu saía muito, viajei muito, Indonésia, Singapura, Japão, conheci tudo aqui, tudo pertinho.  Também é muito bonito, tem muitas ilhas aqui.</p>
<p class='noticia-conteudo'>Só que agora estou numa cidade menor, não tem sido tão fácil nesse último desafio, mas nesses sete anos em Bangkok foi muito bom. 
E a alimentação? Tem alguma comida exótica que entrou no seu cardápio depois desse tempo todo?
— Já arrisquei alguns para conhecer.  Já comi escorpião, grilo.</p>
<p class='noticia-conteudo'>Mas não é minha alimentação diária.  Outros pratos não tive coragem, cigarra, larva, mosquito.  Gostei um pouco do escorpião, parece um pouco com camarão frito.</p>
<p class='noticia-conteudo'>No dia a dia como comida brasileira mesmo.  Quando venho do Brasil trago estoque de feijão, farinha.  Carne e macarrão tem normal aqui.</p>
<p class='noticia-conteudo'>Comida aqui é muito apimentada, é surreal, difícil de acreditar como eles comem com tanta naturalidade, muita pimenta.  Nesses oito anos não me arrisco, essa comida apimentada é muito difícil. 
Depois de nove anos deu para aprender algo do idioma? Como você se comunica aí?
— Idioma é muito difícil, primeiramente porque trabalhei muito tempo com treinador brasileiro, cinco anos.</p>
<p class='noticia-conteudo'>Comunicação era mais direta.  Com os jogadores tailandeses a gente fala em inglês.  Uma coisa ou outra eu consigo pegar, no campo, juiz falar alguma coisa, jogador fala, mas é muito difícil.</p>
<p class='noticia-conteudo'>Poucos brasileiros conseguem falar. 
O que você pode falar sobre a diferença cultural do futebol no Brasil e na Tailândia?
— Aqui é muito diferente.  Parece até outro esporte.</p>
<p class='noticia-conteudo'>Futebol é uma paixão nacional, mas não chega nem perto do Brasil em cobrança.  A cobrança é interna.  O presidente do clube contrata você para fazer a diferença.</p>
<p class='noticia-conteudo'>No Brasil, jogam 11.  No Vitória, por exemplo, ninguém cobra mais Matheusinho que Wagner Leonardo.  Todo mundo tem a mesma cobrança.</p>
<p class='noticia-conteudo'>Aqui, não.  Se você, como estrangeiro, fazer um jogo meia boca, já começam a olhar..</p>
<p class='noticia-conteudo'>. Um jogo beleza, mas no terceiro começam a olhar torto.  É diferente a cobrança.</p>
<p class='noticia-conteudo'>Já perdi jogo de 4 a 0, 5 a 0, e a torcida bateu palma no final do jogo.  Em relação à torcida, a cobrança é muito pouca.  Aqui eles pagam bem.</p>
<p class='noticia-conteudo'>O futebol aqui, onde eu jogo, quando está cheio, o estádio dá 3 mil pessoas.  Não tem um retorno.  É por amor mesmo.</p>
<p class='noticia-conteudo'>O presidente tira o dinheiro do bolso dele, do negócio que tem.  Eu já pensei que a cobrança não estava sendo legal e pensei no retorno ao Brasil.  Tem cobrança, mas de torcida e imprensa é zero.</p>
<p class='noticia-conteudo'>Você perde, mas a torcida vai aplaudir e dizer que no próximo jogo vai ganhar.  No Barradão, com cinco minutos, se errar o passe o estádio cai em cima de mim [risos].  É muito mais difícil.</p>
<p class='noticia-conteudo'>Existe a cobrança aqui, mas é diferente. 
BAHIA
FLAMENGO
VITÓRIA.</p>
{% endblock main_content %}
{% block cor_categoria %}#ff0000{% endblock cor_categoria %}

