
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Conheça o projeto da Argentina no RS que quer formar jogadores no Brasil{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Conheça o projeto da Argentina no RS que quer formar jogadores no Brasil
AFA faz parceria com clube de Porto Alegre para difundir metodologia e planeja receber até 1000 jovens em 2026



Soledade FC monta novo projeto em Porto Alegre
A Associação de Futebol Argentino (AFA) desembarca em Porto Alegre para difundir um projeto de lapidação de garotos.  A entidade, amparada no sucesso de atual campeã do mundo, firmou uma parceria com o Soledade Futebol Clube com o objetivo de receber até 1000 promessas. 
As conversas entre as partes iniciaram em março.</p>
<p class='noticia-conteudo'>Gustavo Grossi, ex-diretor da base do Inter e atual diretor esportivo da AFA Internacional, aproveitou o conhecimento do Rio Grande e Brasil para capitanear as tratativas e abrir a academia em solo gaúcho.  A proximidade das culturas foi um trunfo para ser escolhida como um dos locais. 


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_11_0.jpg"></div><p class='foto-descricao'>Projeto de estádio da parceria entre Soledade e AFA — Foto: Divulgação, AFA Internacional</p>
O acordo foi celebrado há alguns meses e terá o lançamento em 18 de novembro na sede do Soledade, na zona norte da capital.</p>
<p class='noticia-conteudo'>A casa da AFA em Porto Alegre será a sexta desta empreitada.  Já há operações em Miami (EUA), Madri e Barcelona (Espanha), Tanger (Marrocos) e Medelín (Colômbia). 
– A AFA busca expandir a metodologia.</p>
<p class='noticia-conteudo'>É a atual campeã mundial.  Hoje ela se vê com uma base sólida para desenvolver projetos abrangentes ao redor do mundo e ajudar o futebol – valoriza o presidente do Soledade, Francisco Lodi. 
As atividades iniciam em 17 de fevereiro.</p>
<p class='noticia-conteudo'>Este período que antecede serve para realizar melhorias para receber os jovens, como estrutura para eventos, departamento de fisioterapia, scout.  Inclusive, há a construção de um estádio. 
– O clube espera entregar o estádio até o fim do primeiro semestre de 2025.</p>
<p class='noticia-conteudo'>O CT já conta com quatro campos de futebol 7, um deles coberto.  Agregaremos um campo de 11 sintético – informa o dirigente. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_11_1.jpg"></div><p class='foto-descricao'>Projeto do estádio da parceria entre AFA e Soledade — Foto: Divulgação, AFA Internacional</p>
O projeto pretende acolher 350 atletas no primeiro semestre de 2025 e atingir até 800 até o fim do ano.</p>
<p class='noticia-conteudo'>Em 2026, a expectativa é receber até 1000 garotos. 
– A temporada de 2025 inicia com atletas de cinco a 15 anos.  Em 2026 esperamos até a 17 e, a partir de 2027 estar com todas as categorias, do sub-5 ao sub-20 – completa Lodi.</p>
<p class='noticia-conteudo'>O Soledade contará com profissionais brasileiros e argentinos para executar o projeto e ajudar o projeto de expansão da marca.  Alguns destes com passagens por clubes de primeira e segunda divisão no Brasil. 
ARGENTINA.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

