
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Conmebol amplia troféu da Libertadores dias antes da final entre Botafogo e Atlético-MG{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Conmebol amplia troféu da Libertadores dias antes da final entre Botafogo e Atlético-MG
Base do troféu é aumentada para nove filas, com capacidade para mais oito campeões



Conmebol amplia troféu da Libertadores dias antes da final entre Botafogo e Atlético-MG
O troféu da Conmebol Libertadores passou por retoques antes da final deste sábado, entre Botafogo e Atlético-MG.  Através de um anúncio nas redes sociais, o presidente da entidade, Alejandro Domínguez informou que a base foi ampliada para nove filas, com capacidade para mais oito campeões terem plaquinhas adicionadas. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_50_0.jpg"></div><p class='foto-descricao'>Conmebol retoca troféu da Libertadores dias antes da final entre Botafogo e Atlético-MG — Foto: Jeferson Guareze/AGIF</p>
- O troféu da Conmebol Libertadores foi atualizado para 2024! Renovamos o símbolo mais emblemático do futebol sul-americano, mantendo sua essência histórica enquanto adaptamos a novas gerações e aos feitos acumulados.</p>
<p class='noticia-conteudo'>Nesta edição, a base do troféu foi ampliada para nove filas, com capacidade para mais oito campeões, substituindo as oito filas prévias - disse. 
Entenda qual a maior dificuldade do Botafogo para a final da Libertadores
Esta não é a primeira vez que a taça sofre uma modificação desse tipo.  Originalmente eram 16 placas, para registrar os vencedores do período 1960-1977.</p>
<p class='noticia-conteudo'>Depois disso, foi acrescentada uma linha com mais seis vagas e, em 1983, foi acrescentada outra coluna. 
Entenda quais os problemas o Atlético-MG precisa resolver antes de duelo contra o Botafogo
Uma solução encontrada desde então foi colocar os enrolamentos na borda do pedestal, algo que durou até 2004, quando a taça foi quebrado nas comemorações do Once Caldas.  Em 2009 as placas passaram a ser de prata, enquanto em 2021 houve uma grande restauração.</p>
<p class='noticia-conteudo'>Foi utilizado o molde do prêmio original de 1960, bem como suas peças, para que ficasse o mais semelhante possível ao da época.  Ele também se inspirou muito nos detalhes e molduras, inclusive nas facetas originais. 
BOTAFOGO.</p>
{% endblock main_content %}

