
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Conmebol multa Deyverson por ironia a racismo e provocação ao River Plate{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Conmebol multa Deyverson por ironia a racismo e provocação ao River Plate
Atacante do Atlético-MG recebe infração de US$ 25 mil (R$ 150 mil) por gestos ao ser substituído durante semifinal da Libertadores

04/12/2024 14h40 Atualizado há 42 minutos

Deyverson coloca protetor no ouvido e provoca a torcida do River após ser substituído
A Conmebol multou o atacante Deyverson, do Atlético-MG, em US$ 25 mil (R$ 150 mil, na cotação atual) pelas provocações feitas durante a semifinal da Libertadores, contra o River Plate.  Na ocasião, o jogador colocou protetores auriculares ao ser substituído e ironizou supostos ataques racistas recebidos da torcida rival (assista acima). 
Ao caminhar rumo ao banco de reservas, Deyverson retirou os tampões de ouvido de dentro do calção e os colocou.</p>
<p class='noticia-conteudo'>Em seguida, exibiu a língua contra a torcida rival e imitou macaco, em sinal irônico aos ataques recebidos. 
O atacante também fez um gesto horizontal com o braço, em ato que simula a camisa do Boca Juniors, e falou o nome do rival do River Plate à torcida do Millonario (assista abaixo). 

Deyverson coloca protetor auricular ao ser substituído e provoca torcedores do River Plate
Deyverson coloca protetor auricular ao ser substituído e provoca torcedores do River Plate
Atacante Deyverson colocou protetor auricular ao ser substituído no Monumental de Nuñez e provoca torcedores do River Plate na CONMEBOL Libertadores.</p>
<p class='noticia-conteudo'>0 seconds of 18 seconds
Mais notícias do Atlético
Contratações do Atlético: veja quem chega, quem fica e quem sai

Antes e depois da partida na Argentina, torcedores do River foram flagrados fazendo gestos racistas em direção aos atleticanos.  Deyverson foi denunciado no artigo 11. 2 do Código Disciplinar da Conmebol, nos itens "b" e "c", que punem quem:
Comportar-se de forma ofensiva, ultrajante ou fazer declarações difamatórias de qualquer natureza;
Violar as pautas mínimas do que deve ser considerado como comportamento aceitável no domínio do desporto e do futebol organizado;
O centroavante foi o principal nome da classificação alvinegra contra os argentinos, com dois gols e uma assistência na vitória por 3 a 0 na Arena MRV, na última semana.</p>
<p class='noticia-conteudo'>Além disso, também chamou atenção por uma "trolagem" contra o adversário, um pênalti cavado e discussão com Borja no campo. 
Além de ter sido o nome da semifinal, Deyverson também foi decisivo nas quartas, contra o Fluminense.  Foram deles os dois gols anotados na vitória por 2 a 0, no duelo de volta, após o time perder por 1 a 0 no Maracanã.</p>
<p class='noticia-conteudo'>Assista: tudo sobre o Atlético no ge, na Globo e no Sportv
50 vídeos

ATLÉTICO-MG.</p>
{% endblock main_content %}

