
    {% extends "html/modelo.html" %}
    {% load static %}
    

    {% block title %}Conmebol abre investigação contra o Botafogo após denúncia do Peñarol por gestos de torcedores; entenda{% endblock title %}
    {% block main_title %}Conmebol abre investigação contra o Botafogo após denúncia do Peñarol por gestos de torcedores; entenda{% endblock main_title %}
    {% block second_title %}None{% endblock second_title %}
    {% block main_content %}<p class='noticia-conteudo'>Conmebol abre investigação contra o Botafogo após denúncia do Peñarol por gestos de torcedores; entenda
Vídeo mostra brasileiros fazendo sinais de mãos algemadas em alusão aos torcedores do time uruguaio detidos no Brasil



Torcedores do Botafogo fazem gesto de mãos algemadas para a torcida do Peñarol
A Conmebol abriu investigação contra o Botafogo após uma denúncia do Peñarol.  A apuração é sobre "atos ofensivos e discriminatórios" da torcida alvinegra no jogo de volta da semifinal da Libertadores, em Montevidéu, no último dia 30 de outubro. 
O pedido tem como base um vídeo que mostra brasileiros fazendo gestos de mãos algemadas em referência aos cerca de 200 torcedores detidos no Brasil por confusões antes da partida de ida.</p>
<p class='noticia-conteudo'>O clube uruguaio formalizou a denúncia na última terça-feira (12), a e Conmebol abriu procedimento disciplinar para investigar o ocorrido.  O Botafogo tem até o próximo dia 18 para apresentar a defesa. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_0.jpg"></div>Torcedores do Botafogo fazem sinal de mãos algemadas em Montevidéu — Foto: Reprodução
Na manhã no dia 23, uruguaios usando a camisa do time depredaram quiosques, queimaram moto e entraram em confronto com a polícia na praia do Recreio.</p>
<p class='noticia-conteudo'>Internamente, no Botafogo, correntes do clube enxergam o movimento como uma continuidade às narrativas de mudar o que de fato ocorreu no Brasil, por parte do Peñarol, na tentativa de distorcer os acontecimentos.  À noite, no Nilton Santos, o espaço destinado à torcida adversária, uruguaios depredaram cadeiras e banheiros. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_1.jpg"></div><p class='foto-descricao'>
    Confusão entre torcedores do Peñarol e a Polícia após jogo contra Botafogo — Foto: André Durão / ge
    A possível infração do artigo 12.
</p></p>
<p class='noticia-conteudo'>2 e 15. 2 (veja detalhes abaixo), que consta na denúncia, pode resultar em multa de até US$ 100 mil. 


Em Montevidéu, ainda no dia do jogo, torcedores do Peñarol fizeram um protestos pela liberação dos presos no Brasil - antes, durante e após a partida.</p>
<p class='noticia-conteudo'>Na saída de campo, inclusive, jogadores fizeram coro ao pedido das arquibancadas. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_2.jpg"></div><p class='foto-descricao'>Familiares de torcedores presos no Brasil protestam — Foto: Raphael Sibilla</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_3.jpg"></div>Torcida levanta cartazes e também pede pela libertação dos presos — Foto: Jéssica Maldonado / ge


Assista: tudo sobre o Botafogo no ge, na Globo e no sportv
50 vídeos
BOTAFOGO.</p>
{% endblock main_content %}
    