
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Conor McGregor se diz arrependido, mas reitera apelação em caso de estupro{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Conor McGregor se diz "arrependido", mas reitera apelação em caso de estupro
Lutador de MMA afirma que "não devia ter respondido às investidas" da vítima e que "todas as testemunhas presentes asseveraram" que o sexo foi consensual



McGregor é condenado por agressão sexual: veja imagens
Após publicar uma declaração nas redes sociais e apagá-la poucos minutos depois no fim de semana, Conor McGregor voltou a se pronunciar nesta terça-feira sobre sua condenação por agressão sexual.  Em publicação no X, o lutador de MMA se disse arrependido de ter se envolvido com a colorista de cabelos Nikita Hand, autora da acusação e querelante no caso civil, mas reiterou sua inocência no que tange à alegação de estupro e prometeu mais uma vez apelar a decisão do júri. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_67_0.jpg"></div><p class='foto-descricao'>Conor McGregor chega à Alta Corte de Dublin para julgamento em caso de agressão sexual — Foto: Niall Carson/PA Images via Getty Images</p>
"As pessoas querem me ouvir, eu precisava de tempo.</p>
<p class='noticia-conteudo'>Eu sei que cometi erros.  Há seis anos, eu não deveria ter respondido às investidas dela.  Eu devia ter acabado com a festa.</p>
<p class='noticia-conteudo'>Eu nunca deveria ter traído a mulher que eu mais amo no mundo.  Tudo isso é minha culpa.  Por mais que eu me arrependa, tudo que aconteceu naquela noite foi consensual e todas as testemunhas presentes asseveraram isso sob juramento.</p>
<p class='noticia-conteudo'>Eu instruí minha equipe jurídica a apelar a decisão," escreveu o ex-campeão do UFC. 
As acusações contra McGregor surgiram de um incidente ocorrido em 2018, quando Hand acusou o lutador do UFC de agredi-la sexualmente na cobertura do Beacon Hotel.  Hand e seus advogados argumentaram no tribunal que ela estava com McGregor quando ele tentou forçá-la a fazer sexo.</p>
<p class='noticia-conteudo'>Durante o depoimento, Hand afirmou que mais tarde contou a uma amiga que McGregor a “estuprou e espancou”.  McGregor testemunhou no tribunal e admitiu ter feito sexo com Hand, mas alegou que todos os atos foram consensuais.  O lutador de 36 anos declarou na corte que o sexo foi "atlético, físico", mas negou veementemente tê-la agredido.</p>
<p class='noticia-conteudo'>McGregor também disse ao advogado de Hand que “sua cliente está cheia de mentiras.  Tudo é mentira”. 
Uma investigação policial de dois anos terminou sem que nenhuma acusação criminal fosse apresentada, mas Hand entrou com uma ação judicial contra McGregor, com o julgamento que durou 11 dias até que o júri proferisse o veredito.</p>
<p class='noticia-conteudo'>Ele foi condenado a pagar cerca de € 250 mil, valor aproximadamente de R$ 1,8 milhão.  Como se trata de uma ação civil, o lutador não corria o risco de ser preso. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_67_1.jpg"></div><p class='foto-descricao'>Post de Conor McGregor no X sobre condenação por agressão sexual — Foto: Reprodução/X</p>
Confira o post de McGregor na íntegra:
"As pessoas querem me ouvir, eu precisava de tempo.</p>
<p class='noticia-conteudo'>Eu sei que cometi erros.  Há seis anos, eu não deveria ter respondido às investidas dela.  Eu devia ter acabado com a festa.</p>
<p class='noticia-conteudo'>Eu nunca deveria ter traído a mulher que eu mais amo no mundo.  Tudo isso é minha culpa. 
Por mais que eu me arrependa, tudo que aconteceu naquela noite foi consensual e todas as testemunhas presentes asseveraram isso sob juramento.</p>
<p class='noticia-conteudo'>Eu instruí minha equipe jurídica a apelar a decisão. 
Não posso voltar no tempo e vou seguir para frente.  Sou mais do que grato pela minha família, amigos e apoiadores por todo o mundo que permaneceram ao meu lado.</p>
<p class='noticia-conteudo'>É isso.  Chega.  Retornando à academia - as lutas aguardam!"
Assine o Combate e veja o melhor do mundo das lutas.</p>
{% endblock main_content %}

