
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Conor McGregor nega acusação de estupro Cheia de mentiras{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Conor McGregor nega acusação de estupro: "Cheia de mentiras"
Lutador de MMA assegura que sexo com querelante foi "completamente consensual", descreve eventos do dia do encontro e é corroborado por amigo, também acusado



Nocautes e finalização no One Friday Fights 87 | melhores momentos
O lutador irlandês Conor McGregor prestou seu depoimento na ação civil sobre a acusação de estupro que recebeu da colorista de cabelo Nikita Hand.  O ex-campeão do UFC foi interrogado durante dois dias na semana passada na Alta Corte de Dublin, Irlanda, assim como seu amigo James Lawrence, também acusado.  O júri foi dispensado na sexta-feira e o caso recomeça na próxima terça-feira, com os discursos de encerramento dos advogados de ambas as partes.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_3_0.jpg"></div><p class='foto-descricao'>Conor McGregor deixa a Alta Corte de Dublin após prestar depoimento — Foto: Gareth Chaney/PA Images via Getty Images</p>

Em seu depoimento, McGregor negou veementemente que houvesse estuprado a Sra.  Hand e que o sexo entre eles foi "completamente consensual".  Ele também afirmou que os hematomas sofridos pela suposta vítima, retratados alguns dias após o encontro entre os dois, "possivelmente vieram de ela ter mergulhado na banheira".</p>
<p class='noticia-conteudo'>- Vou te dizer de onde não vieram (esses hematomas): de mim.  (O sexo) Foi atlético, foi físico e foi prolongado, e foi em múltiplas posições.  Eu pus as mãos nos quadris, nádegas, nas pernas, em nenhum momento me aproximei do pescoço dela.</p>
<p class='noticia-conteudo'>Em nenhum momento eu a mordi, ou ela me mordeu.  Em nenhum momento eu a arranhei, ou ela me arranhou - declarou McGregor. 
Suposta vítima de agressão sexual detalha acusação contra Conor McGregor
Suposta vítima acusa Conor McGregor de estrangulamento e estupro
Ao comentar o desenrolar dos fatos do dia do suposto estupro, o lutador contou que trocava mensagens com Nikita havia algum tempo e que, durante a madrugada do dia 9 de dezembro de 2018, a colorista lhe enviou uma foto provocante e pediu para que ele a buscasse, junto com sua amiga Danielle.</p>
<p class='noticia-conteudo'>McGregor as encontrou já pela manhã, afirmou que a querelante estava "bombástica e energética" e que os dois começaram a se beijar e se tocar no carro.  Ele admitiu também que cheirou cocaína no veículo com as moças, mas que a droga já estava presente e não foi trazida por seu amigo Lawrence. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_3_1.jpg"></div><p class='foto-descricao'>Nikita Hand, que acusa Conor McGregor de agressão sexual — Foto: Niall Carson/PA Images via Getty Images</p>
McGregor assegurou que em nenhum momento a Sra.</p>
<p class='noticia-conteudo'>Hand mencionou estar menstruada e que não viu nenhum absorvente, ou não teria performado sexo com ela.  Quando foi interrogado pelo advogado de acusação sobre supostamente ter estrangulado sua cliente e dito, "agora você sabe como me senti no octógono", o lutador disparou:
- Sua cliente é cheia de mentiras.  Tudo isso é uma mentira.</p>
<p class='noticia-conteudo'>Como alguém poderia acreditar nisso? É uma falha, não é da minha natureza.  (..</p>
<p class='noticia-conteudo'>. ) A alegação não é verdadeira e eu nego a alegação. 
Charles do Bronx revela lesão antes de luta no UFC 309: "Tive muitas dores"
Dana White descarta chances de combate entre Jon Jones e Poatan
McGregor revelou ter ficado assustado quando boatos de que um "astro do esporte" estaria sendo investigado por um suposto estupro, poucos dias após o encontro, e que teria dito que "com certeza não sou eu".</p>
<p class='noticia-conteudo'>Porém, quando foi interrogado pela An Garda Siochana, a força nacional policial da Irlanda, o lutador respondeu às perguntas apenas com "sem comentários". 
- Eu estava petrificado.  Eu disse "sem comentários", sim.</p>
<p class='noticia-conteudo'>Eu relatei minha série de eventos e foi assim que fui aconselhado (pelos advogados) - respondeu, acrescentando ainda que adoraria ter "gritado do topo da montanha" sua versão dos fatos. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_3_2.jpg"></div><p class='foto-descricao'>James Lawrence, segundo acusado em caso de agressão sexual contra Conor McGregor — Foto: Brian Lawless/PA Images via Getty Images</p>
James Lawrence também deu seu depoimento, corroborando que a relação sexual entre McGregor e a Sra.  Hand foi consensual.</p>
<p class='noticia-conteudo'>Ele afirmou que estava no quarto adjunto com a amiga de Nikita, Danielle Kealy, com a porta aberta, e garantiu que não permitiria que McGregor abusasse da suposta vítima caso acreditasse que isso estava acontecendo. 
Lawrence também indicou que, após o lutador ir embora e dar carona para Danielle, Nikita começou a flertar e apalpá-lo insistentemente e ele se sentiu pressionado a corresponder.  Por isso, teria a levado de volta para o quarto, onde fizeram sexo duas vezes, segundo seu relato.</p>
<p class='noticia-conteudo'>O julgamento será retomado nesta terça-feira. 
Assine o Combate e veja o melhor do mundo das lutas.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

