
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}corinthians{% endblock title %}
{% block main_title %}corinthians{% endblock main_title %}
{% block second_title %}Conselho do Corinthians convoca reunião para votação de impeachment de Augusto Melo{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Conselho do Corinthians convoca reunião para votação de impeachment de Augusto Melo
Encontro será em 28 de novembro, às 18h, no Parque São Jorge; presidente pode ser afastado do cargo em meio a investigações sobre contrato com a VaideBet



O Timão se credenciou de vez na briga pela Libertadores? GE Corinthians debate
Romeu Tuma Junior, presidente do Conselho Deliberativo do Corinthians, convocou os conselheiros para a votação do pedido de impeachment do presidente Augusto Melo.  A reunião extraordinária será em 28 de novembro, às 18h, no Parque São Jorge. 

Augusto Melo tomou posse no início deste ano e tem mandato até 31 de dezembro de 2026.</p>
<p class='noticia-conteudo'>O pedido de impeachment faz parte de um processo de investigação na Comissão de Ética do clube para averiguar o contrato de patrocínio com a VaideBet. 
Mais notícias do Corinthians:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_0.jpg"></div><p class='foto-descricao'>Augusto Melo, presidente do Corinthians — Foto: Marcos Ribolli</p>
Anteriormente, os membros do órgão sugeriram a suspensão do processo de destituição até que seja concluído o inquérito policial que apura possíveis irregularidades no contrato de patrocínio máster da VaideBet. 
Na avaliação da Comissão de Ética, o Corinthians corria o risco de incorrer em uma injustiça se tomasse qualquer decisão antes que a Polícia Civil encerre as investigações, que acontecem desde maio.</p>
<p class='noticia-conteudo'>Apesar do parecer sugerindo a suspensão do processo, o impeachment poderia ser levado à votação pelo Conselho Deliberativo se o presidente do órgão quisesse.  E isso acabou sendo feito por Romeu Tuma Jr. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_1.jpg"></div><p class='foto-descricao'>Romeu Tuma Júnior, presidente do Conselho Deliberativo do Corinthians — Foto: reprodução</p>
Além de Augusto Melo, são investigados neste processo Armando Mendonça (segundo vice-presidente), Fernando Perino (ex-integrante do departamento jurídico), Marcelo Mariano (diretor administrativo), Rozallah Santoro (ex-diretor financeiro), Rubens Gomes (ex-diretor de futebol) e Yun Ki Lee (ex-diretor jurídico).</p>
<p class='noticia-conteudo'>Embora se baseie em argumentos jurídicos, o processo de impeachment é essencialmente político.  Para que o presidente deixe o cargo é preciso aprovação de maioria não apenas dos conselheiros do Corinthians, mas também dos associados do clube.  Caso o Conselho aprove o impeachment, o presidente é afastado temporariamente até a votação na Assembleia Geral dos sócios.</p>
<p class='noticia-conteudo'>O presidente Augusto Melo se pronunciou sobre o ocorrido em nota:
Comunicado à Fiel Torcida:
Recebi com indignação a convocação realizada pelo presidente do Conselho Deliberativo do Sport Club Corinthians Paulista para votar o processo de impeachment contra mim.  É de conhecimento público que o entendimento da Comissão de Ética foi de que o processo deve ser suspenso até a conclusão da apuração dos fatos envolvendo o caso Vai de Bet na Polícia Civil. 
Destaque-se ainda que o processo de impeachment conturba o ambiente em reta final do Campeonato Brasileiro e compromete completamente o planejamento para o ano de 2025, trazendo danos irreparáveis para a instituição Corinthians.</p>
<p class='noticia-conteudo'>Não admitirei que cassem o meu mandado sem que tenha sido garantido o meu direito de defesa.  Tenho a certeza que a verdade prevalecerá e que todos aqueles que querem impedir a profissionalização do Corinthians serão derrotados. 
Essa situação é um desrespeito e um afronto à Instituição, onde um presidente ser impeachmado sem a chance de defesa.</p>
<p class='noticia-conteudo'>É a prova da falta de DEMOCRACIA, que nós CORINTHIANOS defendemos. 
Ressalto aqui que a condenação sem provas é considerada GOLPE e todos aqueles que pensam em tomar o poder sem o voto direto dos associados serão cúmplices disso. 
Augusto Melo
Veja abaixo a nota de Romeu Tuma Jr.</p>
<p class='noticia-conteudo'>sobre a convocação para a votação do impeachment de Augusto Melo no Corinthians:
Em conformidade com o Estatuto do Sport Club Corinthians Paulista, compete a mim como Presidente do Conselho Deliberativo, sem qualquer outra alternativa cabível, a convocação de Reunião Extraordinária do Conselho Deliberativo, a fim de que seja votado o pedido de destituição do Presidente da Diretoria Executiva encaminhado por mais de 80 Conselheiros e acolhido e processado pela Comissão de Ética e Disciplina do colegiado, tudo como mandam as leis em vigor. 
Ainda nesse período em que se buscou o entendimento destes temas, listaram-se diligências policiais estaduais e federais de teor gravíssimo, que ganharam notoriedade em diversos veículos da imprensa e demandaram maior grau de preocupação de nossa parte, não sendo possível ignorar a urgência dos fatos, conforme precedente observado em situações anteriores. 
Os fatos nos demandam, como poder de fiscalização do Clube, que atuemos com ciência das consequências previstas no artigo 24 da Lei do Profut, em seus três primeiros parágrafos, além do nosso Estatuto e da LGE, as quais não nos permitem não encaminhar o pedido às considerações dos órgãos competentes do Clube, sob o risco de sermos implicados por negligência ou conivência.</p>
<p class='noticia-conteudo'>Lembro que tão logo recebi o parecer da Comissão de Ética para julgamento do processo, manifestei-me publicamente que não tocaríamos nesse assunto, até que o time pudesse se livrar do rebaixamento no Campeonato Brasileiro, o que de fato ocorreu.  Da mesma maneira foi feito em relação a diversos procedimentos investigatórios que o Conselho tem conduzido sempre em sigilo, preservando a instituição. 
Por isso, pela tranquilidade da gestão e por obrigação estatuária e legal, é nosso dever decidir de uma vez por todas essa questão posta de forma regular e regimental.</p>
<p class='noticia-conteudo'>O Corinthians merece paz!
Atenciosamente,
Romeu Tuma Junior
Presidente do Conselho Deliberativo do SCCP

50 vídeos
CORINTHIANS.</p>
{% endblock main_content %}

