
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Controlar as emoções veja resquícios do acesso do Sport que continuam no vestiário da Ilha{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>"Controlar as emoções": veja resquícios do acesso do Sport que continuam no vestiário da Ilha
Reportagem do ge tem acesso ao vestiário rubro-negro que ainda guarda mensagens motivacionais direcionadas ao elenco antes do jogo contra o Santos, que valeu o retorno à Série A



Sport vence o Santos e garante volta à Série A depois de três anos
Passados três dias da vitória por 2 a 1 sobre o Santos, que valeu o retorno à Série A após três anos, alguns resquícios da conquista continuam no vestiário do Sport. 


A reportagem do ge esteve nesta quarta-feira, na Ilha do Retiro, e teve acesso ao local onde ainda estão algumas das mensagens motivacionais direcionadas ao elenco rubro-negro visando a partida, bem como um altar improvisado, com a imagem de Nossa Senhora de Fátima. 
O Leão foi para a última rodada da Série B precisando vencer e ainda torcer por tropeço de pelo menos um dos concorrentes diretos ao acesso.</p>
<p class='noticia-conteudo'>Foi o que aconteceu.  Com a derrota do Novorizontino para o Goiás e o empate do Ceará com o Guarani, o Sport terminou a competição na terceira posição. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_28_0.jpg"></div><p class='foto-descricao'>Mensagem deixada para o elenco do Sport antes do acesso à Série A — Foto: Daniel Leal/ge</p>
Ainda estão no vestiário rubro-negro quatro mensagens que foram coladas em cadeiras do local, com as seguintes frases:

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_28_1.jpg"></div><p class='foto-descricao'>Mensagem deixada para o elenco do Sport antes do acesso à Série A — Foto: Daniel Leal/ge</p>
A iniciativa partiu da psicóloga do Sport, Rosângela Vieira (também foi utilizada em outras partidas), e foi usada na preleção do técnico Pepa.</p>
<p class='noticia-conteudo'>- É uma técnica de “mentalização positiva” que ajuda o atleta a manter o foco no presente; aumenta a confiança na sua capacidade de realização; fortalece a identidade coletiva e auxilia no nível de motivação e ansiedade ideal - explicou a psicóloga. 
Além das direcionadas ao elenco, cada jogador também uma mensagem motivacional de cunho pessoal.  O treinador rubro-negro comentou sobre o clima no vestiário no pré-jogo contra o Santos.</p>
<p class='noticia-conteudo'>"Passa tranquilidade e muita energia para o estafe e os jogadores.  Nossa Senhora de Fátima, sempre.  É também a nossa Senhora de Portugal.</p>
<p class='noticia-conteudo'>E ter referências do clube é sempre especial e marcante.  Acima de tudo é olharmos para isso como a nossa casa e tornar o espaço com muita energia e força.  A mesma que a torcida manda para o campo, nós temos que levar", destacou o técnico português.</p>
<p class='noticia-conteudo'>- Costumo dar o exemplo daqueles gladiadores no tempo do Império Romano, quando estavam nas cavernas a ouvir as batalhas na arena.  Gosto de idealizar isso como uma batalha na arena e nós vamos para batalhar, gosto de ver as coisas assim - completou o treinador, que deverá permanecer no Sport para 2025, já que uma cláusula no contrato previa renovação automática em caso de acesso à Série A. 
Pepa tem o aval da torcida e dos jogadores para seguir no Sport
Veja outras imagens do vestiário do Sport
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_28_2.jpg"></div><p class='foto-descricao'>Altar improvisado no vestiário do Sport — Foto: Daniel Leal/ge</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_28_3.jpg"></div><p class='foto-descricao'>Mensagem deixada para o elenco do Sport antes do acesso à Série A — Foto: Daniel Leal/ge</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_28_4.jpg"></div><p class='foto-descricao'>Mensagem deixada para o elenco do Sport antes do acesso à Série A — Foto: Daniel Leal/ge</p>

Assista: tudo sobre o Sport no ge, na Globo e no sportv
50 vídeos.</p>
{% endblock main_content %}

