
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Copa do Mundo 2030 e 2034 Fifa anuncia sedes dos Mundiais{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Espanha, Marrocos e Portugal sediam evento de 2030, que ainda terá jogos na Argentina, Paraguai e Uruguai; Copa de 2034 será na Arábia Saudita




<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_381_0.jpg"></div><p class='foto-descricao'>Infantino no Congresso da Fifa 2024 — Foto: Getty Images</p>
As sedes foram anunciadas no Congresso Extraordinário da Fifa.  Todas as candidaturas foram aprovadas nas inspeções técnicas.  Sem concorrentes, as sedes de 2030 e 2034 foram confirmadas pelo presidente Gianni Infantino.</p>
<p class='noticia-conteudo'>Espanha, Portugal e Marrocos serão as sedes oficiais da . Uruguai, Argentina e Paraguai também recebem jogos, mas apenas uma partida em cada país como forma de celebrar os cem anos do primeiro Mundial, realizado no Uruguai, em 1930.  Estas partidas serão na semana anterior à abertura oficial da Copa.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_381_1.jpg"></div><p class='foto-descricao'>Congresso da Fifa define sedes das Copas de 2030 e 2034 — Foto: REUTERS</p>
O presidente da Conmebol, Alejandro Domínguez, discursou e disse que era "um dia histórico para o futebol", citando o Mundial de 1930, vencido pelos uruguaios no Estádio Centenário.  Ao seu lado estavam os presidentes das federações argentina, uruguaia e paraguaia, que também falaram. 
Na avaliação técnica das candidaturas, o trio Espanha-Portugal-Marrocos recebeu uma nota média de 4,2, tendo 5 como nota máxima possível.</p>
<p class='noticia-conteudo'>Os três países sul-americanos atingiram, em conjunto, nota 3,6.  Estádios, acomodação e transportes são os pontos mais preocupantes das sedes sul-americanas, com risco considerado médio, sem comprometer a realização do evento. 
A candidatura da  propõe, em sua fase principal, jogos em 20 estádios (11 na Espanha, seis no Marrocos e três em Portugal) de 17 cidades, sendo nove espanholas (incluindo a insular Las Palmas, perto da costa marroquina), seis no Marrocos e duas em Portugal (Lisboa e Porto).</p>
<p class='noticia-conteudo'>O número é 40% superior ao mínimo exigido pela Fifa, de 14 estádios. 
Copa de 2034
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_381_2.jpg"></div><p class='foto-descricao'>Painel de apresentação da candidatura da Arábia Saudita para Copa do Mundo de 2034 — Foto: REUTERS</p>
Também foi confirmada a Arábia Saudita como sede do Mundial de 2034.  O país propõe jogos em 15 estádios de cinco cidades do país (Neom, Jidá, Abha, Riade e Al Khobar).</p>
<p class='noticia-conteudo'>O estádio King Salman, em Riade, foi escolhido para receber o jogo de abertura e a final.  A candidatura saudita recebeu nota 4,2 de um máximo possível de 5. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_381_3.jpg"></div><p class='foto-descricao'>Painel de apresentação da candidatura da Arábia Saudita para Copa do Mundo de 2034 — Foto: REUTERS</p>
Uma das cidades propostas para receber jogos é a futurista Neom, que está sendo desenvolvida no Noroeste do país, na costa do Mar Vermelho, baseada em energia renovável e transporte sustentável.</p>
<p class='noticia-conteudo'>A candidatura da Arábia Saudita, no entanto, sofre críticas de organismos internacionais de direitos humanos, que cobram da Fifa que não realize a Copa de 2034 no país.  A Noruega reclamou formalmente da escolha..</p>
{% endblock main_content %}

