
    {% extends "html/modelo.html" %}

    {% block title %}Copa 2034 Fifa é cobrada a não dar Mundial para a Arábia Saudita{% endblock title %}
    {% block main_title %}Copa 2034 Fifa é cobrada a não dar Mundial para a Arábia Saudita{% endblock main_title %}
    {% block second_title %}None{% endblock second_title %}
    {% block main_content %}<p class='noticia-conteudo'>Copa 2034: Fifa é cobrada a não dar Mundial para a Arábia Saudita
Anistia Internacional diz que processo de candidatura para Copas do Mundo de 2030 e 2034 deveria ser paralisado caso não haja reformas visando a proteção de direitos humanos


A Anistia Internacional, dedicada à defesa dos direitos humanos pelo mundo, alertou a Fifa para não escolher a Arábia Saudita como sede da Copa do Mundo de 2034.  A candidatura saudita é a única ainda no processo, e há grandes chances do país ser ratificado como anfitrião. 
A organização não governamental publicou posicionamento sobre o tema nesta segunda-feira, acompanhado de um relatório que trata de problemas de direitos humanos na Arábia Saudita e nos únicos países candidatos à Copa do Mundo de 2030, Espanha, Portugal e Marrocos (também haverá jogos na Argentina, Paraguai e Uruguai).</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="/media/Copa_2034_Fifa_e_cobrada_a_nao_dar_Mundial_para_a_Arabia_Saudita_0.jpg"></div>Torcedores da Arábia Saudita com números alusivos à Copa do Mundo de 2034 — Foto: Divulgação / SAFF

A Anistia Internacional aconselha a Fifa a paralisar o processo relativo à Arábia Saudita a menos que o país aprove reformas no que diz respeito aos direitos humanos no país. 
— O relatório conclui que nenhuma das candidaturas explica adequadamente como os países anfitriãos vão atingir os padrões de direitos humanos estabelecidos pelas regulamentações da Fifa.  Organizações de direitos humanos não foram consultadas, e os riscos são enormes de violações abrangentes e sérias caso a Arábia Saudita seja escolhida — afirma a Anistia, em nota.</p>
<p class='noticia-conteudo'>Tratando de ambas as candidaturas, a ONG chama a atenção para os possíveis custos humanos, direitos trabalhistas de imigrantes, remoções de populações, discriminação de torcedores, além do uso excessivo de força policial e restrição da liberdade de expressão. 
✅Siga o canal ge Futebol Internacional no WhatsApp
"Me engana que eu gosto, Infantino", diz Rizek sobre Copa de 2034 na Arábia Saudita
A Anistia Internacional já havia divulgado em junho deste ano, junto com a ONG Sports & Rights Alliance (SRA), um relatório de 91 páginas sobre os riscos de direitos humanos nas Copa do Mundo de 2030 e 2034. 
— A Arábia Saudita vai exigir um vasto número de trabalhadores migrantes para entregar essas ambições de Copa do Mundo, mas não há garantia de reforma no sistema de trabalho, de estabelecer um salário mínimo para não cidadãos, ou de introduzir medidas para prevenir a morte de trabalhadores — comentou Steve Cockburn, chefe da área de Direitos de Trabalho e Esporte da Anistia.</p>
<p class='noticia-conteudo'>O Conselho da Fifa se reúne no próximo dia 11 de dezembro para ratificar as escolhas de Espanha, Portugal e Marrocos para 2030, e da Arábia Saudia para 2034.  A entidade máxima do futebol já trata esses países como anfitriões do torneio, até porque foram candidaturas únicas, mas isso ainda não foi 100% oficializado. 
Em outubro, a Fifa definiu que as federações de futebol de cada país não poderão votar em cada candidatura separadamente, mas devem aprovar ou rejeitar as duas em pacote.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="/media/Copa_2034_Fifa_e_cobrada_a_nao_dar_Mundial_para_a_Arabia_Saudita_1.jpg"></div>Anistia Internacional divulga relatório sobre direitos humanos visando a Copa do Mundo de 2034 — Foto: Reprodução / Anistia Internacional
COPA DO MUNDO DA FIFA™.</p>
{% endblock main_content %}
    