
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Copa do Brasil 2025 veja os potes do sorteio da 1ª fase da competição{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Divisão dos clubes é baseada através do Ranking Nacional de Clubes (RNC) da CBF; torneio deve iniciar em fevereiro do próximo ano



Confira o top 10 do Ranking de Clubes da CBF de 2025

Ao todo, 80 clubes irão participar da primeira fase da Copa do Brasil 2025.  Como determina o regulamento da competição, as equipes do pote A, B, C e D irão jogar fora de casa, no entanto, possuem a vantagem do empate.  Nesta etapa inicial do torneio, os duelos são únicos, na casa da equipe pior posicionada no RNC.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_425_0.jpg"></div><p class='foto-descricao'>Atlético-MG e Vasco estão no pote 1 — Foto: Gilson Lobo/AGIF</p>
Dessa maneira, os clubes dos potes E, F, G e H necessitam da vitória para conseguir a classificação para a segunda fase.  O cruzamento dos potes funciona da seguinte forma: A x E, B x F, C x G e D e H; confira abaixo. 
 x Pote E
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_425_1.jpg"></div><p class='foto-descricao'>Thiago Silva em Palmeiras x Fluminense — Foto: Marcelo Gonçalves/FFC</p>


Grêmio anuncia saída do técnico Renato Gaúcho
Pote E
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_425_2.jpg"></div><p class='foto-descricao'>Sousa, Campeão Paraibano, Campeonato Paraibano 2024 — Foto: Wellington Faustino / FPF-PB</p>
Sousa;
Tocantinópolis;
São Raimundo-RR;
Maringá;
FC Cascavel;
Pouso Alegre;
ASA de Arapiraca;
União Rondonópolis;
Porto Velho;
Sergipe.</p>
<p class='noticia-conteudo'>Maringá, vice-campeão paranaense
Pote B x Pote F
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_425_3.jpg"></div><p class='foto-descricao'>Thiago Carpini comemora permanência com o Vitória — Foto: Victor Ferreira / EC Vitória</p>
Pote B
Ceará;
Vitória;
Coritiba;
Sport;
Criciúma;
Vila Nova;
Operário-PR;
Ponte Preta;
Brusque;
Sampaio Corrêa. 
Léo Condé renova com Ceará e fica para 2025
Pote F
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_425_4.jpg"></div><p class='foto-descricao'>Tuna Luso celebra título da Copa Grão-Pará 2024 — Foto: Claudio Pinheiro/O Liberal</p>
Humaitá;
Trem;
Ceilândia;
Inter de Limeira;
Maranhão;
Operário VG;
Tuna Luso;
Operário-MS;
Concórdia;
CSE. 
Flavio Araújo, técnico do Maranhão para 2025, é entrevistado no Bom Dia Mirante
Pote C x Pote G
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_425_5.jpg"></div><p class='foto-descricao'>Paulo Sérgio, atacante do Náutico — Foto: Gabriel França / CNC</p>
Pote C
Novorizontino;
Tombense;
CSA;
ABC;
Remo;
Náutico;
Confiança;
Ferroviário;
Botafogo-PB;
Amazonas.</p>
<p class='noticia-conteudo'>Novorizontino renova com técnico e anuncia reforço para 2025
Pote G
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_425_6.jpg"></div><p class='foto-descricao'>Torcida da Portuguesa faz festa no Canindé pela aprovação da SAF — Foto: Rafael Dantas</p>
Boavista;
Parnahyba;
Maracanã-CE;
Santa Cruz-RN;
GAS-RR;
Rio Branco-ES;
Rio Branco VN-ES;
Olaria
Portuguesa;
Votuporanguense;
Boavista passa a ser SAF e será administrado por empresário
Pote D x Pote H
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_425_7.jpg"></div><p class='foto-descricao'>Leston Júnior, técnico do América-RN — Foto: Edmário Oliveira/América FC</p>
Pote D
América-RN;
Manaus;
São José-RS;
Aparecidense;
Altos;
Retrô;
Caxias;
Athletic Club;
Nova Iguaçu;
Portuguesa-RJ. 
Samba e festa! Retrô vence Anápolis e fatura título da Série D
Pote H
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_425_8.jpg"></div><p class='foto-descricao'>Barcelona de Ilhéus está na Copa do Brasil 2025 — Foto: Barcelona de Ilhéus / Divulgação</p>
Guarany de Bagé-RS;
Jequié;
Barcelona de Ilhéus;
São Francisco-PA;
Capital-DF;
Independência-AC;
União-TO;
Dourados-MS;
Barcelona-RO;
Oratório-AP. 
União vence o Tocantinópolis e é bicampeão do Tocantinense
A CBF ainda não divulgou a data dos sorteios dos confrontos.</p>
<p class='noticia-conteudo'>Botafogo, Palmeiras, Flamengo, Fortaleza, Internacional, São Paulo, Corinthians, Bahia, Cruzeiro, Santos, CRB e Paysandu estão garantidos na terceira fase do torneio. 
Copa do Brasil 2025
Norte
Acre: Independência-AC e Humaitá;
Amapá: Oratório e Trem;
Amazonas: Amazonas e Manaus;
Pará: São Francisco-PA, Remo, Paysandu e Tuna Luso;
Rondônia: Barcelona-RO e Porto Velho;
Roraima: São Raimundo-RR e GAS;
Tocantins: União-TO e Tocantinópolis. 
Remo garante acesso na Série B do Brasileirão
Nordeste
Alagoas: CSE, CRB, ASA e CSA;
Bahia: Bahia, Vitória, Barcelona de Ilhéus e Jequié;
Ceará: Ceará, Maracanã, Fortaleza e Ferroviário
Maranhão: Sampaio Corrêa e Maranhão;
Paraíba: Botafogo-PB e Sousa;
Pernambuco: Sport, Retrô e Náutico;
Piauí: Altos e Parnahyba;
Rio Grande do Norte: América-RN, ABC e Santa Cruz-RN;
Sergipe: Confiança e Sergipe.</p>
<p class='noticia-conteudo'>Bahia vence o Atlético-GO e está de volta à Libertadores após 35 anos
Centro-Oeste
Distrito Federal: Capital-DF e Ceilândia;
Goiás: Atlético-GO, Vila Nova e Aparecidense;
Mato Grosso: União Rondonópolis, Cuiabá e Operário VG;
Mato Grosso do Sul: Dourados e Operário-MS. 
Torcedores frustrados com 2024 de Goiás, Vila Nova e Atlético-GO
Sudeste
Espírito Santo: Rio Branco-ES e Rio Branco VN;
Minas Gerais: Tombense, América-MG, Cruzeiro, Atlético-MG, Athletic Club e Pouso Alegre;
Rio de Janeiro: Flamengo, Fluminense, Nova Iguaçu, Vasco, Botafogo, Portuguesa-RJ, Boavista e Olaria;
São Paulo: Palmeiras, Santos, Bragantino, Novorizontino, São Paulo, Inter de Limeira, Ponte Preta, Portuguesa, Corinthians e Votuporanguense. 
Palmeiras faz balanço e tenta extrair aprendizados da temporada
Sul
Paraná: Athletico-PR, Coritiba, Maringá, Operário-PR e FC Cascavel;
Rio Grande do Sul: Caxias, Internacional, Juventude, Grêmio, São José-RS e Guarany de Bagé;
Santa Catarina: Brusque, Criciúma e Concórdia.</p>
<p class='noticia-conteudo'>Inter mapeia o mercado e prioriza busca por zagueiros
Clubes garantidos na 3ª da Copa do Brasil de 2025
Botafogo (se classificou para Libertadores via Brasileiro);
Palmeiras (se classificou para Libertadores via Brasileiro);
Fortaleza (se classificou para Libertadores via Brasileiro);
Internacional (se classificou para Libertadores via Brasileiro);
Paysandu (campeão da Copa Verde);
Flamengo (Campeão da Copa do Brasil);
CRB (classificado com o vice-campeonato da Copa do Nordeste);
Santos (campeão da Série B do Brasileiro);
São Paulo (se classificou para Libertadores via Brasileiro);
Corinthians (se classificou para Libertadores via Brasileiro);
Bahia (se classificou para Libertadores via Brasileiro);
Cruzeiro (9º colocado no Brasileiro). 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_425_9.jpg"></div><p class='foto-descricao'>Flamengo ergue taça de campeão da Copa do Brasil após vitória contra o Atlético-MG — Foto: Cris Mattos/Reuters</p>
Modelo de disputa
O formato da Copa do Brasil segue sem alterações, com duelos eliminatórios nas suas sete fases:
Primeira fase: jogo único, com o time de menor pontuação no Ranking Nacional de Clubes (RNC) da CBF sendo o mandante.  Em caso de empate, o visitante se classifica.</p>
<p class='noticia-conteudo'>Os duelos com os 80 times serão definidos por sorteio. 
Segunda fase: também em jogo único, tendo o mando de campo da partida definido por sorteio.  Em caso de empate, disputa da classificação nos pênaltis.</p>
<p class='noticia-conteudo'>Terceira fase: entram os 12 times previamente classificados (Libertadores, Copa do Nordeste, Copa Verde, Série B e Série A do Brasileirão) mais as 20 equipes que passaram das duas primeiras fases.  Sorteio define os confrontos, com jogos de ida e volta. 
Oitavas de final: jogos de ida e volta, com um sorteio entre os 16 classificados.</p>
<p class='noticia-conteudo'>Todos os clubes poderão se enfrentar. 
Quartas de final: partidas de ida e volta, e um sorteio entre os oito classificados para a formação dos duelos.  Todos as equipes poderão se enfrentar.</p>
<p class='noticia-conteudo'>Semifinais e Final: duelos de ida e volta, com o mando de campo definido por sorteio.  Em caso de empate na soma dos placares das partidas, decisão nos pênaltis. 
Flamengo é o atual campeão
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_425_10.jpg"></div><p class='foto-descricao'>Flamengo ergue taça de campeão da Copa do Brasil após vitória contra o Atlético-MG — Foto: Cris Mattos/Reuters</p>
O Flamengo se sagrou pentacampeão da Copa do Brasil.</p>
<p class='noticia-conteudo'>O Rubro-Negro bateu o Galo por 3 a 1 no jogo da ida e por 1 a 0 no jogo da volta.  A primeira partida foi disputada no Rio de Janeiro.  A volta em Belo Horizonte.</p>
<p class='noticia-conteudo'>Plata marcou o gol do título do Fla na segunda partida. 
Flamengo é campeão da Copa do Brasil

AMÉRICA-MG
ATHLETIC CLUB
ATHLETICO-PR
ATLÉTICO-GO
ATLÉTICO-MG
BAHIA
BARCELONA-RO
BOTAFOGO
BOTAFOGO-PB
BRAGANTINO
BRUSQUE
CRB
CSA
CAPITAL-DF
CAXIAS
CEARÁ
CEILÂNDIA
CONCÓRDIA
CONFIANÇA
COPA DO BRASIL
CORINTHIANS
CORITIBA
CRICIÚMA
CRUZEIRO
CUIABÁ
FC CASCAVEL
FERROVIÁRIO
FLAMENGO
FLUMINENSE
FORTALEZA
GRÊMIO
HUMAITÁ
INTER DE LIMEIRA
INTERNACIONAL
JUVENTUDE
MANAUS
NOVA IGUAÇU
NÁUTICO
OPERÁRIO-PR
PALMEIRAS
PAYSANDU
PONTE PRETA
PORTUGUESA-RJ
POUSO ALEGRE
REMO
RIO BRANCO VN
RIO BRANCO-ES
SAMPAIO CORRÊA
SANTOS
SPORT
SÃO JOSÉ-RS
SÃO PAULO
TOCANTINÓPOLIS
TOMBENSE
UNIÃO RONDONÓPOLIS
VASCO
VILA NOVA
VITÓRIA.</p>
{% endblock main_content %}

