
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Copa NBA veja confrontos, datas e horários das quartas de final{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Copa NBA: veja confrontos, datas e horários das quartas de final
Após uma rodada emocionante na última terça-feira, liga divulga informações das rodadas eliminatórias, incluindo semifinais e final



Os candidatos a MVP da temporada da NBA
Depois de uma rodada eletrizante na última terça-feira, os confrontos das quartas de final da Copa NBA estão definidos.  Pela Conferência Oeste, o Dallas Mavericks conseguiu a classificação no último segundo da partida contra o Grizzlies, e enfrentará o Oklahoma City Thunder nas eliminatórias.  Ainda pela Oeste, Golden State Warriors e Houston Rockets também se classificaram.</p>
<p class='noticia-conteudo'>Representam a Conferência Leste o New York Knicks, Milwaukee Bucks, Atlanta Hawks e Orlando Magic.  As quartas da Copa NBA serão disputadas entre os dias 10 e 11 de dezembro. 


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_30_0.jpg"></div><p class='foto-descricao'>Doncic contra o Memphis Grizzlies pela Copa NBA — Foto: Tim Heitman/NBAE via Getty Images</p>
Nesta quarta-feira, a Copa NBA também divulgou as datas das semifinais.</p>
<p class='noticia-conteudo'>As quatro franquias que avançarem nas quartas se enfrentarão pela mesma conferência no dia 14 de dezembro.  A grande final será no dia 17.  As disputas nas quartas de final e semifinais também contarão como jogos da temporada regular da NBA.</p>
<p class='noticia-conteudo'>Rodada emocionante
Em um jogo emocionante na última terça-feira, o Dallas Mavericks conseguiu a vaga nas quartas de final no último segundo da partida contra o Memphis Grizzlies.  Os Mavs fizeram uma arrancada de 18 a 2 na parcial final, vencendo por 121 a 116.  Luka Doncic foi o cestinha da partida, liderando a equipe com 37 pontos, 12 rebotes e 4 assistências.</p>
<p class='noticia-conteudo'>Classificado pela Conferência Oeste, o Golden State Warriors conseguiu garantir a vaga mesmo perdendo para o Denver Nuggets por 119 a 115 na última terça-feira.  O Warriors enfrentará o Houston Rockets nas quartas, que chegou aos playoffs da NBA pela última vez em 2020. 
Bucks e New York Knicks também levantaram a torcida com vitórias na última terça-feira.</p>
<p class='noticia-conteudo'>O Milwaukee Bucks derrotou o Detroit Pistons por 128 a 107 e avançou com facilidade na competição.  Já o Knicks, que está indo bem nessa temporada, venceu o Orlando Magic por 121 a 106.  A partida entre Knicks e Hawks pela Leste promete.</p>
<p class='noticia-conteudo'>Apesar da boa sequência dos Knicks, a franquia de Atlanta é o único time até aqui a vencer os Cavs e os Celtics, líderes da conferência, e podem surpreender. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_30_1.jpg"></div><p class='foto-descricao'>Giannis Antetokounmpo contra o Pistons — Foto: Gregory Shamus/Getty Images</p>
Os astros do Bucks, Giannis Antetokounmpo e Damian Lillard, recebem o embalado Orlando Magic nas quartas, que conseguiu 12 vitórias nos últimos 14 jogos mesmo sem a presença de Paolo Banchero.  A partida promete, já que o Bucks também está em uma boa fase, somando sete vitórias consecutivas.</p>
<p class='noticia-conteudo'>O primeiro colocado Oklahoma City Thunder não tinha a vaga garantida na chave até o Phoenix Suns derrotar o San Antonio Spurs na última rodada.  O Thunder receberá o Dallas Mavericks nas quartas, em uma recapitulação das semifinais de conferência da temporada passada. 
Veja confrontos, datas e horários:
Quartas de final - Conferência Leste

Quartas de final - Conferência Oeste
Oklahoma City Thunder x Dallas Mavericks - terça-feira (10), às 23h30
Houston Rockets x Golden State Warriors - quarta-feira (11), às 23h30
Semifinais:
Semifinal 1 - sábado (14), às 18h30
Semifinal 2 - sábado (14), às 22h30
Final:
Final entre as conferências - terça-feira (17), às 22h30
*Horários de Brasília.</p>
{% endblock main_content %}

