
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Corinthians{% endblock title %}
{% block main_title %}Corinthians{% endblock main_title %}
{% block second_title %}Corinthians informa à Justiça que dívida alcançou R$ 2,4 bilhões e que tem fluxo de caixa estrangulado{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Corinthians informa à Justiça que dívida alcançou R$ 2,4 bilhões e que tem "fluxo de caixa estrangulado"
Clube detalha situação financeira em processo de Regime Centralizado de Execuções



Vaquinha para pagar arena do Corinthians está fazendo sucesso
O Corinthians atualizou a sua situação financeira na ação em que pede à Justiça o Regime Centralizado de Execuções (RCE) - medida que visa negociar de forma coletiva as dívidas que têm com diferentes credores. 
De acordo com petição apresentada pelo Corinthians, a dívida do clube atualmente é de R$ 2,4 bilhões.  O valor é R$ 100 milhões maior do que o informado em setembro, no evento batizado de "Dia da Transparência".</p>
<p class='noticia-conteudo'>Deste montante, cerca de R$ 704 milhões são relativos ao financiamento da Neo Química Arena com a Caixa Econômica Federal.  Para quitar a dívida, a torcida alvinegra está promovendo uma campanha de arrecadação, que já recebeu R$ 10 milhões em menos de dois dias. 
O alto endividamento e os sucessivos bloqueios de contas judiciais acabam por provocar um "fluxo de caixa estrangulado", segundo o clube.</p>
<p class='noticia-conteudo'>Em 2024 o Corinthians teve mais de R$ 50 milhões bloqueados em ações judiciais.  Recentemente, sofreu penhora de mais de R$ 19 milhões devido a uma dívida com a Pixbet, antiga patrocinadora. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_98_0.jpg"></div><p class='foto-descricao'>Augusto Melo, presidente do Corinthians — Foto: Marcos Ribolli</p>
Mais notícias do Corinthians:


O Corinthians afirma ter "projeções indicando a insuficiência para cobrir obrigações de curto prazo, como folha salarial e compromissos operacionais.</p>
<p class='noticia-conteudo'>"
Ainda de acordo com o documento, "atualmente o clube apresenta elevados custos operacionais, com destaque para: R$ 420 milhões em custos diretos relacionados ao futebol profissional e R$ 220 milhões em despesas administrativas e de operação. "

A diretoria alvinegra acredita que a RCE será fundamental para reorganizar as finanças.  Em paralelo, o Timão trabalha para cortar gastos e aumentar receitas.</p>
<p class='noticia-conteudo'>Rodrigo Capelo detalhe caso que pode causa impeachment do presidente do Corinthians


50 vídeos
CORINTHIANS.</p>
{% endblock main_content %}

