
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}corinthians{% endblock title %}
{% block main_title %}corinthians{% endblock main_title %}
{% block second_title %}Corinthians reforma ônibus lendário da invasão de 1976 e do histórico título de 1977; veja fotos{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Corinthians reforma ônibus lendário da invasão de 1976 e do histórico título de 1977; veja fotos
Veiculo será usado para eventos do clube e ficará exposto no Parque São Jorge

14/11/2024 14h03 Atualizado

Virou cinema: Memphis, Garro e Yuri Alberto mudaram o Corinthians
O Corinthians recebeu hoje o Mosqueteiro I, o primeiro ônibus comprado e utilizado pelo clube para o transporte de jogadores. 
Foram dois anos de uma reforma que teve início em 2022 por iniciativa de Herói Vicente, então diretor da gestão de Duilio Monteiro Alves, passando pelo ex-candidato à presidência André Negão.  A entrega foi feita nesta quinta-feira, no Parque São Jorge.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_3_0.jpg"></div><p class='foto-descricao'>Mosqueteiro I, ônibus do Corinthians — Foto: José Manoel Idalgo/Agência Corinthians</p>
O Mosqueteiro I foi reformado por uma empresa especializada em Botucatu, no interior de São Paulo.  Toda a parte mecânica, interior e de pintura foram restauradas, mantendo as características originais do veículo, adquirido pelo clube no início da década de 1960 e utilizado por décadas para transporte de atletas. 
O ônibus participou de episódios marcantes da história do Corinthians, como no translado de jogadores até o Maracanã, em 1976, para a semifinal do Campeonato Brasileiro contra o Fluminense.</p>
<p class='noticia-conteudo'>Na ocasião, mais de 70 mil torcedores do clube estiveram presentes no estádio, marcando a “invasão corintiana”. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_3_1.jpg"></div><p class='foto-descricao'>Mosqueteiro I, ônibus do Corinthians — Foto: José Manoel Idalgo/Agência Corinthians</p>

No ano seguinte, o Mosqueteiro I "ajudou" o Timão a encerrar a fila de 23 anos sem títulos com a conquista do Campeonato Paulista de 1977, contra a Ponte Preta, no Morumbi. 
O Mosqueteiro I agora ficará sob responsabilidade do Departamento Cultural do Corinthians, que fará ações para promover a visitação ao ônibus e manutenção de uma parte da história do clube.</p>
<p class='noticia-conteudo'>Mais notícias do Corinthians:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_3_2.jpg"></div><p class='foto-descricao'>Basílio e o Mosqueteiro I, ônibus do Corinthians — Foto: José Manoel Idalgo/Agência Corinthians</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_3_3.jpg"></div><p class='foto-descricao'>Mosqueteiro I, ônibus do Corinthians — Foto: José Manoel Idalgo/Agência Corinthians</p>



50 vídeos
CORINTHIANS.</p>
{% endblock main_content %}
{% block cor_categoria %}#333333{% endblock cor_categoria %}

