
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}corinthians{% endblock title %}
{% block main_title %}corinthians{% endblock main_title %}
{% block second_title %}Corinthians apresenta plano para pagamento coletivo de dívidas com jogadores, clubes e empresários{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Corinthians apresenta plano para pagamento coletivo de dívidas com jogadores, clubes e empresários
Além de ação na CBF, clube ingressa com pedido de Regime Centralizado de Execuções na Justiça



Corinthians vai para a Libertadores? Veja a projeção
O Corinthians tenta negociar de forma coletiva as dívidas que tem com diferentes clubes, jogadores, empresários do futebol brasileiro, fornecedores e outros credores. 
Nesta quarta-feira, a diretoria corintiana apresentou um plano à Câmara Nacional de Resolução de Disputas da CBF (CNRD), órgão no qual sofre diversas ações de cobranças. 

Segundo o Corinthians, a proposta "abrange processos atualmente em tramitação no referido órgão e prevê o parcelamento ao longo dos próximos anos.</p>
<p class='noticia-conteudo'>" A CNRD, órgão vinculado à CBF, ainda não homologou o pedido. 
Além disso, o clube entrou com pedido de Regime Centralizado de Execuções.  A medida foi acatada pelo Presidente do Tribunal de Justiça de São Paulo e englobará dívidas pelas quais o Corinthians é cobrado na esfera civil.</p>
<p class='noticia-conteudo'>O objetivo neste caso também é buscar uma negociação coletiva com os credores, com pagamento parcelado. 
Mais notícias do Corinthians:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_47_0.jpg"></div><p class='foto-descricao'>Augusto Melo, presidente do Corinthians, vai falar com a CBF sobre arbitragem — Foto: Rodrigo Coca / Ag. Corinthians</p>
Se a ideia prosperar, credores farão uma "fila" para receber do Timão, que se comprometerá a reservar parte de suas receitas mensais para fazer esses pagamentos.</p>
<p class='noticia-conteudo'>Por meio de nota, o clube reafirmou o "compromisso com o pagamento de todos os credores, bem como com a sua reorganização jurídico/financeira/administrativa, inclusive reorganizando o seu orçamento e o controle de gastos. "
Somente neste ano o Corinthians teve mais de R$ 50 milhões bloqueados por ações na Justiça.  O Regime Centralizado de Execuções evitaria com que tais penhoras continuassem acontecendo.</p>
<p class='noticia-conteudo'>Nesta iniciativa o clube contou com o suporte de um escritório especializado de advocacia, além de conselheiros do clube e do presidente do órgão, Romeu Tuma Jr. 

Tudo sobre o processo de impeachment de Augusto Melo; Careca faz desabafo
Na gestão anterior, do presidente Duilio Monteiro Alves, o Timão também cogitou recorrer a medidas deste tipo, mas acabou desistindo. 
Com o auxílio da consultoria Alvarez e Marsal, a gestão de Augusto Melo vem nos últimos meses estudando medidas para recuperar as finanças do clube.</p>
<p class='noticia-conteudo'>Em breve, o orçamento para 2025 será apresentado. 
Atualmente, a dívida alvinegra supera R$ 2 bilhões. 


50 vídeos
CORINTHIANS.</p>
{% endblock main_content %}

