
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Corinthians se garante na Copa do Brasil de 2025 e fica próximo da Libertadores; veja cenários{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Corinthians se garante na Copa do Brasil de 2025 e fica próximo da Libertadores; veja cenários
Timão pode carimbar vaga no torneio sul-americano nesta quarta, com o complemento da rodada

03/12/2024 23h07 Atualizado há 15 horas

Corinthians 3 x 0 Bahia | Melhores Momentos | 37ª Rodada | Brasileirão 2024
Com a vitória por 3 a 0 sobre o Bahia, nesta terça-feira, o Corinthians garantiu vaga na Copa do Brasil de 2025. 
Isso acontece porque o Corinthians foi a 53 pontos e já assegurou pelo menos o nono lugar do Campeonato Brasileiro.  Todos estes entram direto na terceira fase da competição - são 12 vagas diretas para essa etapa, somando os campeões de Série B, Copa Verde e Copa do Nordeste.</p>
<p class='noticia-conteudo'>A presença do Timão no torneio nacional ficou em xeque pelo fato de a equipe ter sido eliminada na primeira fase do Campeonato Paulista e não ter conseguido conquistar os títulos da Copa Sul-Americana e da própria Copa do Brasil neste ano. 
Além disso, o Corinthians está próximo de se garantir na Conmebol Libertadores do ano que vem.  Para isso, o Timão precisa terminar o Brasileirão entre os oito primeiros.</p>
<p class='noticia-conteudo'>Mais notícias do Corinthians:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_32_0.jpg"></div><p class='foto-descricao'>Jogadores do Corinthians fazem "poropopó" com os torcedores na arena — Foto: Marcos Ribolli</p>
O passaporte para o torneio continental pode ser carimbado nesta quarta-feira, caso o Cruzeiro seja derrotado pelo Palmeiras - se isso acontecer, o time mineiro não terá mais condições de ultrapassar o Timão na última rodada. 
Caso a Raposa vença, o Corinthians precisará apenas de um empate com o Grêmio, no domingo, para ir à Libertadores. 
A equipe de Ramón Díaz pode confirmar presença na competição sul-americana até mesmo com derrota no domingo.</p>
<p class='noticia-conteudo'>Para isso basta que o Cruzeiro não vença o Juventude, fora de casa, ou o Bahia tropece diante do lanterna Atlético-GO, na Fonte Nova. 

"O Corinthians atropelou o Bahia na Neo Química Arena!", diz Careca | A Voz da Torcida
Confira equipes classificadas para Copa do Brasil 2025 até o momento:



50 vídeos
CORINTHIANS.</p>
{% endblock main_content %}

