
    {% extends "html/modelo.html" %}
    {% load static %}
    

    {% block title %}Coritiba anuncia saída de Alef Manga, Robson e outros três jogadores; veja a relação{% endblock title %}
    {% block main_title %}Coritiba anuncia saída de Alef Manga, Robson e outros três jogadores; veja a relação{% endblock main_title %}
    {% block second_title %}None{% endblock second_title %}
    {% block main_content %}<p class='noticia-conteudo'>Coritiba anuncia saída de Alef Manga, Robson e outros três jogadores; veja a relação
Atletas já não fazem parte da preparação para os dois últimos jogos do Coxa na temporada



Coritiba perde em casa na despedida de Jorginho
O Coritiba anunciou no início da tarde desta quarta-feira a saída de cinco jogadores que não fazem parte do planejamento para 2025.  Na lista estão nomes como os atacantes Alef Manga, Robson, Figueiredo, além do meia Yago Ferreira e o zagueiro Maurício Antônio. 
🗞️ Leia mais notícias sobre o Coritiba
✅ Clique aqui e siga o canal ge Coritiba no WhatsApp
Quem deve ser o novo técnico do Coritiba?

No caso de Alef Manga, o Coxa tinha a opção de estender o vínculo do atacante por mais um ano, mas decidiu pela liberação antecipada.</p>
<p class='noticia-conteudo'>O jogador ficou marcado pelo envolvimento no esquema de apostas esportivas que o suspendeu do futebol por 360 dias.  Ele voltou a jogar apenas em outubro deste ano, quando marcou um dos gols na vitória por 3 a 1 sobre o Amazonas, no Couto Pereira, pela Série B. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_1_0.jpg"></div>Alef Manga, atacante do Coritiba — Foto: JP Pacheco | Coritiba
Outro que não fica é Robson.</p>
<p class='noticia-conteudo'>Aos 33 anos, ele é o vice-artilheiro do Coritiba na temporada, com 14 gols, sendo 11 deles pelo Campeonato Paranaense (foi o goleador do estadual) e outros três na Série B do Brasileiro, e deu seis assistências.  O destino dele deve ser o Goiás, que ainda está na disputa pelo acesso à elite de 2025.  Recentemente, o camisa 30 completou a marca de 150 jogos pelo Coxa.</p>
<p class='noticia-conteudo'>Maurício Antônio, considerado uma das lideranças do elenco em 2024, também não vai permanecer no Coritiba.  Ele disputou, em quase dois anos de clube, 41 jogos, sendo 38 deles na atual temporada. 
Outros dois nomes dispensados de forma antecipada estavam por empréstimos no Coxa.</p>
<p class='noticia-conteudo'>O atacante Figueiredo, pertence ao Vasco, fez 42 jogos, marcou dois gols e contribuiu com duas assistências.  Já Yago Ferreira, do Fluminense, se despede do Coritiba com somente cinco partidas e uma assistência. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_1_1.jpg"></div>Robson comemora gol do Coritiba sobre a Ponte Preta — Foto: JP Pacheco/Coritiba
Veja a nota oficial do Coritiba
O Coritiba informa que os contratos dos atletas Maurício Antônio (Zag), Figueiredo (Meia), Alef Manga (Ata) e Róbson (Ata) encerram em 2024 e não serão renovados.</p>
<p class='noticia-conteudo'>Nesse sentido, assim como o atleta Yago (Meia), deixam de fazer parte do grupo que participará dos dois últimos compromissos do clube nesta temporada. 
Com menção especial à Robson, com mais de 150 jogos pelo clube e nosso capitão em diversas oportunidades, o Coritiba agradece a todos e deseja sucesso na sequência de suas carreiras. 
50 vídeos
Mais notícias do esporte paranaense em ge.</p>
<p class='noticia-conteudo'>globo/pr
CORITIBA.</p>
{% endblock main_content %}
    