
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}corinthians{% endblock title %}
{% block main_title %}corinthians{% endblock main_title %}
{% block second_title %}Corinthians e empresa lançam novo produto da linha Memphis{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Corinthians e empresa lançam novo produto da "linha" Memphis
Holandês agora virou um totem de decoração que será vendido a partir de 1º de dezembro



Virou cinema: Memphis, Garro e Yuri Alberto mudaram o Corinthians
O Corinthians tem aproveitado o efeito Memphis Depay para investir também fora dos gramados.  Em parceria com a empresa Só Ídolos, especializada em produtos licenciados e memorabília de atletas, o clube vai lançar um totem do atacante holandês. 

As vendas do novo produto começam em 1º de dezembro nas lojas oficiais do Corinthians ou no site oficial da Só Ídolos.</p>
<p class='noticia-conteudo'>O valor da homenagem a Memphis é de R$ 69,99. 
O totem é um novo produto da “linha” Memphis Depay.  Além da pequena estátua com a caricatura do holandês, o clube também comercializa a faixa usada pelo jogador nos jogos, copos personalizados e uma linha de roupas licenciada, ambas vendidas nos canais oficiais do Timão.</p>
<p class='noticia-conteudo'>Mais notícias do Corinthians:



<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_0.jpg"></div><p class='foto-descricao'>Memphis Depay virou totem de decoração em produto do Corinthians — Foto: Divulgação</p>
Memphis rapidamente se tornou um dos principais nomes do Corinthians na temporada, especialmente neste momento de reação dentro do Campeonato Brasileiro. 
Em dez partidas, o camisa 94 soma três gols e quatro assistências com a camisa alvinegra.  Com Memphis, o Timão reagiu e abriu vantagem de quatro pontos para a zona de rebaixamento do Brasileirão.</p>
<p class='noticia-conteudo'>O efeito positivo de Memphis agora é direcionado para o campo do marketing. 

Memphis aplica drible desconcertante em Caetano durante treino
– O totem licenciado é uma peça única que permite decorar ambientes com paixão e estilo, destacando a presença do ídolo em cada detalhe.  O Depay é um ídolo mundial, uma inspiração para milhares de pessoas.</p>
<p class='noticia-conteudo'>Essa parceria com o Corinthians é muito promissora e nos anima – disse Talita Santiago Chalhub, sócia da Só Ídolos. 
Memphis e o Corinthians retornam a campo nesta quarta-feira, às 11h (de Brasília), na Neo Química Arena, para o duelo contra o Cruzeiro, pela 34ª rodada do Brasileirão. 
Com 41 pontos, o Timão ainda sonha com uma possível vaga na Conmebol Libertadores, desde que mais vagas sejam abertas a depender dos resultados das finais da própria edição atual da Libertadores (Atlético-MG x Botafogo) e da Sul-Americana (Cruzeiro x Racing-ARG).</p>
<p class='noticia-conteudo'>50 vídeos
CORINTHIANS.</p>
{% endblock main_content %}
{% block cor_categoria %}#333333{% endblock cor_categoria %}

