
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}atletico_mg{% endblock title %}
{% block main_title %}atletico_mg{% endblock main_title %}
{% block second_title %}Corinthians tem melhor público em uma temporada na arena; bilheteria rende R$ 87,9 milhões{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Corinthians tem melhor público em uma temporada na arena; bilheteria rende R$ 87,9 milhões
Timão recebeu em média mais de 42 mil pessoas por jogo em 2024, recorde desde inauguração do estádio

05/12/2024 11h00 Atualizado há 48 minutos

Corinthians atropela o Bahia e vence a oitava seguida no Brasileirão
Desde que foi inaugurada, há dez anos, a Neo Química Arena nunca recebeu tantos torcedores - em números absolutos e em média por jogo - como na atual temporada.  Em 2024, ano marcado por turbulências e uma arrancada impressionante na reta final, a torcida do Corinthians mostrou mais uma vez por que é chamada de Fiel. 
A casa corintiana, em Itaquera, recebeu 1,49 milhões de torcedores pagantes ao longo de 35 partidas, média de 42,6 mil por confronto.</p>
<p class='noticia-conteudo'>Até então, o recorde era de 2023, ano em que a Neo Química Arena recebeu 1,4 milhão de torcedores e teve média de público de 39,1 mil pessoas por duelo. 
Em nenhuma ocasião em 2024 a equipe masculina principal do Corinthians se apresentou em casa para menos de 32 mil pessoas.  O jogo com pior público foi diante do Nacional-PAR, em abril, pela Copa Sul-Americana, com 32.</p>
<p class='noticia-conteudo'>246 pagantes. 
Além de um apoio fundamental, esse público rendeu ao clube uma renda bruta de R$ 87,9 milhões.  Este valor, descontados os custos para realização dos jogos, foi utilizado para pagar os juros do financiamento com a Caixa Econômica Federal.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_61_0.jpg"></div><p class='foto-descricao'>Torcida do Corinthians na Neo Química Arena — Foto: Marcos Ribolli</p>
Mais notícias do Corinthians:


O melhor público do Corinthians em casa nesta temporada foi na semifinal da Copa do Brasil contra o Flamengo, quando 46. 426 pessoas acompanharam o empate em 0 a 0. 
Em relação ao desempenho dentro de campo, a equipe teve um aproveitamento em linha com o que apresentou nos últimos anos: 19 vitórias, 11 empates e cinco derrotas, o que representa 64,7% dos pontos disputados.</p>
<p class='noticia-conteudo'>Desempenho do Corinthians na Arena
Temporada Vitórias Empates Derrotas Aproveitamento
2024 19 11 5 64,7%
2023 19 13 5 63,6%
2022 22 9 5 69,4%
2021 16 8 7 60,2%
2020 13 10 6 56,3%
2019 19 13 6 61%
2018 19 9 7 62,8%
2017 20 11 3 69%
2016 24 8 2 78%
2015 26 6 3 80%
2014 12 5 1 76%
Fonte: ge
Agora, o Timão volta a jogar em Itaquera somente em 19 de janeiro de 2025, quando recebe o Velo Clube, pela segunda rodada do Paulistão. 

O Corinthians fecha a temporada 2024 fora de casa, neste domingo, contra o Grêmio, às 16h (de Brasília). 


50 vídeos
CORINTHIANS.</p>
{% endblock main_content %}

