
    {% extends "html/modelo.html" %}
    {% load static %}
    

    {% block title %}CPI da Manipulação aprova a convocação do atacante Luiz Henrique{% endblock title %}
    {% block main_title %}CPI da Manipulação aprova a convocação do atacante Luiz Henrique{% endblock main_title %}
    {% block second_title %}None{% endblock second_title %}
    {% block main_content %}<p class='noticia-conteudo'>CPI da Manipulação aprova a convocação do atacante Luiz Henrique
A reunião desta terça-feira também ficou marcada pela aprovação do convite ao também atacante Bruno Henrique, investigado pelo Ministério Público por supostamente forçar um cartão em jogo do Brasileirão


A CPI da Manipulação de Jogos e Apostas Esportivas, que está sendo realizada no Senado, aprovou, na tarde desta terça-feira, a convocação do atacante Luiz Henrique, do Botafogo e da Seleção Brasileira.  O jogador é investigado por supostamente ter participado de um esquema de manipulação de partidas no Campeonato Espanhol, quando ainda defendia o Real Bétis. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}n_7_0.jpg"></div>Luiz Henrique reclama de lance em Botafogo x Cuiabá — Foto: Jorge Rodrigues/AGIF



Apesar da aprovação da convocação, ainda não há uma data definida para que Luiz Henrique seja ouvido pelos parlamentares.</p>
<p class='noticia-conteudo'>Por se tratar de uma convocação, o atacante não pode se recusar a prestar depoimento.  Em caso de recusa, os senadores podem prosseguir com medidas como um pedido de condução coercitiva, ou seja, o uso de força policial para garantir a realização da audiência. 
O convite funciona de maneira diferente.</p>
<p class='noticia-conteudo'>A pessoa convidada pela CPI pode declinar do convite sem sofrer qualquer tipo de punição. 
O embasamento do requerimento de convocação a Luiz Henrique diz respeito aos R$ 40 mil recebidos pelo jogador via pix de parentes de Lucas Paquetá.  A informação das transações bancárias foi publicada pelo portal UOL.</p>
<p class='noticia-conteudo'>Além de Luiz Henrique, o meio-campo Lucas Paquetá, atualmente no West Ham, da Inglaterra, também prestará depoimento à comissão.  Paquetá deve ser ouvido no início do mês de dezembro. 
Logo depois da goleada por 5 a 0 do Botafogo sobre o Peñarol, pela Libertadores, Luiz Henrique falou rapidamente sobre o caso e alegou ser inocente.</p>
<p class='noticia-conteudo'>— Querem apagar o meu brilho, mas não vão conseguir.  Deus está comigo, minha família está comigo, nada disso aconteceu — afirmou o atacante. 
O depoimento de Paquetá chegou a ser marcado para o fim do mês de outubro, juntamente com seu tio, mas, a pedido dos advogados do jogador, a audiência foi transferida para o início de dezembro, período posterior à apresentação da defesa do jogador à Federação Inglesa.</p>
<p class='noticia-conteudo'>Acusado de envolvimento com apostas, Lucas Paquetá se apresenta
Casas de apostas relataram para a FA (Federação de Futebol da Inglaterra) que houve um volume incomum de apostas em cartões amarelos para Luiz Henrique e Paquetá, em jogos realizados no mesmo fim de semana – um na Espanha e outro na Inglaterra. 
Desde então, Paquetá foi formalmente acusado pela FA inglesa, mas seu caso ainda não foi concluído.  O jogador nega ter cometido qualquer irregularidade e até notificou a FA sobre o vazamentos de informações sobre o caso.</p>
<p class='noticia-conteudo'>Embora esteja acusado, o meia do West Ham pode atuar normalmente por seu clube e pela seleção brasileira. 
Senadores aprovam convite a Bruno Henrique
Na mesma reunião, os senadores também aprovaram o convite ao atacante Bruno Henrique, do Flamengo.  O camisa 27 rubro-negro foi alvo de cumprimento de mandados de busca e apreensão depois de investigação aberta pelo Ministério Público do DF e Territórios (MPDFT) apontar que o jogador teria forçado um cartão, em um jogo do Campeonato Brasileiro de 2023.</p>
<p class='noticia-conteudo'>Bruno Henrique, do Flamengo, se emociona e reforça inocência: "Não espera que fosse assim"
Na partida do ano passado, disputada entre Flamengo e Santos, em Brasília, Bruno Henrique entrou em campo pendurado com dois cartões.  Ele levou amarelo por falta em Soteldo aos 50 minutos do segundo tempo, quando o Flamengo já perdia por 2 a 1 (placar final do jogo).  Ele reclamou do cartão de forma acintosa com o árbitro Rafael Klein e imediatamente foi expulso.</p>
<p class='noticia-conteudo'>No último domingo, pouco depois da conquista da Copa do Brasil, o atacante garantiu ser inocente.  A defesa de Bruno Henrique pediu, nesta terça-feira, o arquivamento da denúncia contra o jogador. 
— Sim (sou inocente).</p>
<p class='noticia-conteudo'>Recebi (a operação) de uma forma agressiva.  Não esperava da forma que foi, mas eu acredito na justiça lá de cima.  Deus é um cara que sempre sabe.</p>
<p class='noticia-conteudo'>Minha vida, minha trajetória, desde quando eu comecei a jogar futebol.  Deus sempre foi comigo.  E, cara, eu estou tranquilo em relação a isso.</p>
<p class='noticia-conteudo'>As pessoas que estão aí nessa batalha comigo, eu só peço que a justiça seja feita e separar fora de campo com dentro de campo — disse ele, em entrevista ao Troca de Passes, do SporTV..</p>
{% endblock main_content %}
    