
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}sao_paulo{% endblock title %}
{% block main_title %}sao_paulo{% endblock main_title %}
{% block second_title %}Cria do São Paulo e estagiário de Guardiola e Felipão alcança 1º acesso como técnico em MG{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Cria do São Paulo e estagiário de Guardiola e Felipão alcança 1º acesso como técnico em MG
Parceiro de Kaká e Júlio Baptista na base tricolor e com estágio ao lado do espanhol no Bayern, Thiago Oliveira sobe da terceira para a segunda divisão do Mineiro com Uberaba



Esporte: veja os principais lances de Uberaba 1 x 0 Tupynambás pela 2ª Divisão
O primeiro acesso a gente nunca esquece.  O domingo foi especial para o técnico Thiago Oliveira.  Cria das categorias de base do São Paulo, onde foi parceiro de Kaká e Júlio Baptista, e estagiário de Pep Guardiola no Bayern de Munique, o profissional de 43 anos levou o Uberaba da Segunda Divisão — que corresponde à terceira divisão estadual — para o Módulo 2 do Campeonato Mineiro.</p>
<p class='noticia-conteudo'>A equipe de Thiago venceu o Tupynambas por 1 a 0 no Estádio Municipal Radialista Mário Helênio, em Juiz de Fora, mesmo placar do jogo de ida.  Com isso, o Colorado não só alcançou a promoção, mas também avançou as semifinais para a decisão do campeonato. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_1_0.jpg"></div><p class='foto-descricao'>Thiago Oliveira é parceiro de Kaká desde a base do São Paulo — Foto: Arquivo Pessoal</p>
Thiago Oliveira era um dos principais nomes do time de juniores do São Paulo que conquistou a Copa São Paulo de Futebol Júnior em 2000.</p>
<p class='noticia-conteudo'>Ele subiu para o profissional e fez parte do elenco no título do Torneio Rio-São Paulo em 2001.  Naquele mesmo ano, o então jogador foi convocado pelo técnico da seleção sub-20, Carlos César, para o Mundial da categoria. 
Esporte: técnico comanda último treino do Uberaba antes de decisão contra Tupynambás
Carioca, Thiago Oliveira viveu grandes histórias como atleta.</p>
<p class='noticia-conteudo'>Como destaque da base do Tricolor do Morumbi, disputou o Mundial sub-20 com a seleção brasileira em 2001, ao lado de Kaká, Adriano 'Imperador', Maicon, Luisão e Edu Dracena. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_1_1.jpg"></div><p class='foto-descricao'>Seleção Brasileira sub-20 daquela época contava com Kaká e Adriano 'Imperador' — Foto: Arquivo Pessoal</p>
Na sequência da carreira, ele teve poucas oportunidades no time principal do São Paulo e passou a rodar no mundo da bola.  No Catar Thiago jogou ao lado do então volante espanhol Pep Guardiola, com quem, anos depois, faria um estágio no Bayern de Munique.</p>
<p class='noticia-conteudo'>"Aprendi bastante (com Guardiola) na questão tática e técnica.  Ele me direcionava muito, então foi uma grande experiência e oportunidade que tive na minha vida. ", disse Thiago em entrevista ao ge em 2022.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_1_2.jpg"></div><p class='foto-descricao'>Thiago Oliveira ao lado do massagista brasileiro Anselmo e de Guardiola, na época que o espanhol comandou o Bayern — Foto: Arquivo Pessoal</p>
Na beira do campo
Depois que parou de jogar, Thiago Oliveira se capacitou para se tornar treinador.  Em 2021, ele concluiu a Licença A da CBF e reencontrou Kaká na CBF Academy.  Antes disso, ele fez um estágio no Palmeiras, ao lado de Luiz Felipe Scolari.</p>
<p class='noticia-conteudo'>Além do Uberaba, ele treinou Patrocinense e Caldense em Minas Gerais, e outros times do interior paulista, de Pernambuco e do Mato Grosso.  O último trabalho foi no Bandeirante, que disputou a Série A3 em São Paulo. 
SÃO PAULO.</p>
{% endblock main_content %}
{% block cor_categoria %}#cc0000{% endblock cor_categoria %}

