
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Cristiano Ronaldo não descarta jogar com próprio filho Talvez, ele tem 14 anos{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Cristiano Ronaldo não descarta jogar com próprio filho: "Talvez, ele tem 14 anos"
Em conversa com "Mr Beast", dono do maior canal do Youtube, CR7 imagina parceria com Cristiano Ronaldo Jr, que atua nas categorias de base do Al-Nassr



Cristiano Ronaldo não descarta jogar com próprio filho: "Talvez, ele tem 14 anos"
Robozão e Robozinho juntos?! Em conversa com "Mr Beast", dono do maior canal do Youtube, Cristiano Ronaldo não descartou a possibilidade de jogar ao lado de seu filho (veja no vídeo acima).  Cristiano Ronaldo Jr.  tem 14 anos e joga nas categorias de base do Al-Nassr, time do pai.</p>
<p class='noticia-conteudo'>Talvez, pode ser. ..</p>
<p class='noticia-conteudo'>Ele agora tem 14 anos.  Vamos ver como minhas pernas vão estar (risos). 
— Cristiano Ronaldo, perguntado se jogaria com seu filho.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_0.jpg"></div><p class='foto-descricao'>Cristiano Ronaldo com o filho na academia — Foto: Reprodução / Instagram</p>
A declaração foi em vídeo de seu canal no Youtube, onde o craque português já acumula 67 milhões de inscritos.  Aos 39 anos, CR7 dá declarações de que se sente bem e não pretende se aposentar em breve. 
Cristiano Ronaldo Jr.</p>
<p class='noticia-conteudo'>segue os passos do pai desde os tempos de Juventus.  Se transferiu para o time Sub-12 do Manchester United em 2021 e atualmente faz parte do Sub-15 do Al-Nassr. 

Filho de Cristiano Ronaldo faz golaço de falta em treino
CRISTIANO RONALDO.</p>
{% endblock main_content %}

