
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Cristiano Ronaldo celebra Portugal como sede da Copa de 2030 Sonho tornado realidade{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Ídolo histórico da seleção lusa, astro diz que país dará orgulho como um dos palcos do Mundial, que também terá jogos em Espanha, Marrocos, Argentina, Paraguai e Uruguai



Argentina, Paraguai e Uruguai sediam os primeiros jogos da Copa do Mundo de 2030

- Um sonho tornado realidade.  Portugal vai receber o Mundial de 2030 e encher-nos de orgulho.  Juntos! - escreveu CR7.</p>
<p class='noticia-conteudo'>O craque, entretanto, deve aproveitar a oportunidade histórica de uma Copa do Mundo em Portugal fora dos gramados: ele terá 45 anos em junho de 2030.  Cristiano nem mesmo confirmou que pretende disputar o Mundial de 2026, apesar de estar fazendo parte do ciclo de preparação para o torneio normalmente, como titular da seleção portuguesa sob o comando Roberto Martínez. 
Portugal será uma das sedes da Copa do Mundo de 2030, que será a primeira a ter partidas realizadas em três continentes diferentes.</p>
<p class='noticia-conteudo'>Espanha e Marrocos, vizinhos portugueses, também serão palcos de partidas da competição, assim como Argentina, Paraguai e Uruguai.  Ao todo, serão 17 cidades recebendo jogos em 20 estádios diferentes. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_387_0.jpg"></div><p class='foto-descricao'>Cristiano Ronaldo celebra Copa do Mundo de 2030 em Portugal — Foto: Reprodução/Twitter</p>
As sedes foram anunciadas no Congresso Extraordinário da Fifa, realizado de forma virtual, nesta quarta-feira.</p>
<p class='noticia-conteudo'>Todas as candidaturas foram aprovadas nas inspeções técnicas.  Sem concorrentes, as sedes de 2030 foram confirmadas pelo presidente Gianni Infantino após decisão por aclamação - assim como a Arábia Saudita foi anunciada como palco da Copa de 2034..</p>
{% endblock main_content %}

