
    {% extends "html/modelo.html" %}
    {% load static %}
    

    {% block title %}Cristiano Ronaldo diz que ninguém fez mais gols do que ele no futebol Se vier o milésimo, ótimo{% endblock title %}
    {% block main_title %}Cristiano Ronaldo diz que ninguém fez mais gols do que ele no futebol Se vier o milésimo, ótimo{% endblock main_title %}
    {% block second_title %}None{% endblock second_title %}
    {% block main_content %}<p class='noticia-conteudo'>Cristiano Ronaldo diz que ninguém fez mais gols do que ele no futebol: "Se vier o milésimo, ótimo"
Craque português evita pressão sobre o gol 1000 na carreira e revela decepção com jogadores que não querem defender a seleção de Portugal: "Não há nada melhor"



Cristiano Ronaldo isola pênalti na arquibancada, e torcedor leva bolada no celular
Cristiano Ronaldo declarou, durante premiação da federação portuguesa de futebol (FPF), que nenhum outro jogador na história fez mais gols do que ele.  O craque português está hoje com 908 gols, aos 39 anos de idade.  Ele também se "culpou" pela expectativa em relação ao seu milésimo gol.</p>
<p class='noticia-conteudo'>— Vou ser sincero. ..</p>
<p class='noticia-conteudo'>O culpado disso fui eu.  Na vida, no futebol, a nível pessoal, eu encaro agora a minha vida a viver o momento, e acho que isso é o mais importante.  Não temos que pensar a longo prazo, já não consigo pensar a longo prazo.</p>
<p class='noticia-conteudo'>Se vier o mil, bom, senão, também ninguém marcou mais gols do que eu — declarou Cristiano, ao receber o prêmio Quinas de Platina. 
✅Siga o novo canal ge Futebol Internacional no WhatsApp
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}n_5_0.jpg"></div>Cristiano Ronaldo agraciado com o troféu Quinas de Platina, da federação portuguesa de futebol — Foto: Divulgação / FPF
Cristiano Ronaldo marcou 908 gols em 1252 jogos oficiais, por clubes e seleção de Portugal.  Pelé tem registrados 1.</p>
<p class='noticia-conteudo'>282 gols em 1. 364 partidas, que incluem amistosos relevantes em sua época.  O Rei do Futebol reconheceu o recorde de CR7 em jogos oficiais, em março de 2021.</p>
<p class='noticia-conteudo'>Cristiano Ronaldo soma 133 gols em 216 jogos por Portugal.  Ele também é o maior artilheiro de todos os tempos entre as seleções.  O centroavante considera como aspecto mais relevante de sua carreira ter defendido a equipe nacional.</p>
<p class='noticia-conteudo'>Por outro lado, falou da decepção que sente quando outros jogadores renunciam a esse chamado. 
— Não consigo ver, depois de jogar em tantos clubes, ganhar tantos troféus, Liga dos Campeões, Bola de Ouro, prêmio da Fifa, acho que não há nada melhor do que representar a seleção.  Representar todo o país, toda a cultura, seus filhos, sua mãe, pai, melhores amigos.</p>
<p class='noticia-conteudo'>Por isso é que, muitas vezes, fico decepcionado com alguns jogadores que não querem representar a seleção — disse. 


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}n_5_1.jpg"></div>Cristiano Ronaldo recebeu homenagem da federação portuguesa de futebol — Foto: Divulgação / FPF
CRISTIANO RONALDO.</p>
{% endblock main_content %}
    