
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}ceara{% endblock title %}
{% block main_title %}ceara{% endblock main_title %}
{% block second_title %}Crônica o acesso do Ceará, e a história improvável de uma foto maravilhosa{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Crônica: o acesso do Ceará, e a história improvável de uma foto maravilhosa
Diego e Pedro estavam na festa do acesso do Ceará e traduzem o amor sem limites da torcida do Vozão.  Mas - spoiler - eles não se conheciam



Ceará empata com o Guarani e conquista acesso à Série A de 2025
O último acesso do Ceará à Série A havia sido em 2017.  Muito provavelmente não houve tanta imagem como agora.</p>
<p class='noticia-conteudo'>São fotos, vídeos, postagem em feed e stories, momentos em Campinas e na capital cearense, jogo, pós-jogo e desembarque.  Lágrimas de nervosimo e de emoção.  Sorrisos de alívio e esperança.</p>
<p class='noticia-conteudo'>Dentre tantas fotografias, uma viralizou.  Qualquer torcedor do Ceará que olhar para ela vai se entender naquele momento: um acúmulo de sentimento que desaguou quando o apito final de Goias 1 x 0 Novorizontino soou. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_52_0.jpg"></div><p class='foto-descricao'>Foto de festa da torcida do Ceará viralizou — Foto: Davi Rocha/SVM</p>
Eu estava editando textos quando vi a foto de Davi Rocha, do Sistema Verdes Mares.</p>
<p class='noticia-conteudo'>Foi para a capa nacional do ge, inclusive.  Só queria saber quem eram aqueles torcedores ali.  Pai e filho? Tio e sobrinho? Padrinho e afilhado? Eram irmãos, será?
Nesta segunda-feira (25), logo depois da bonita festa que a Nação Alvinegra fez no desembarque do time, encontrei Diego Marinho, de 31 anos.</p>
<p class='noticia-conteudo'>Pedro é a criança que vibra no colo dele. 
- É engraçado que eu não conheço aquela criança - conta Diego, sorrindo. 
- Mas a foto viralizou, e as pessoas do Instagram ficaram me mandando.</p>
<p class='noticia-conteudo'>Então eu fui atrás de saber quem era aquela criança - complementa. 
Os dois estavam em uma festa próxima a um restaurante em Fortaleza.  E compartilhavam da mesma ansiedade.</p>
<p class='noticia-conteudo'>Não era suficiente somente que o árbitro encerrasse Guarani 0 x 0 Ceará, mas que o jogo do Goiás também terminasse.  A foto foi logo que isso ocorreu. 
- Futebol é assim, bonito por isso.</p>
<p class='noticia-conteudo'>Quando o time faz um gol, todos se abraçam e viram amigos na hora da emoção.  A gente estava em frente à banda, comemorando o acesso.  Muitas crianças estavam na frente da gente, eu peguei o garoto na emoção e levantei.</p>
<p class='noticia-conteudo'>Daí veio o clique - complementa Diego. 
E é verdade.  Quando todo mundo pensava que seria um milagre, o Ceará emendou vitórias e acreditou até o fim para chegar à Série A.</p>
<p class='noticia-conteudo'>E o futebol também é bonito por isso.  O trio Aylon, Saulo e Erick Pulga, o técnico Léo Condé, demais atletas, dirigentes, funcionários, torcedores: todos sabiam que era preciso fazer o máximo a cada rodada para que no fim o êxito viesse. 
- Desde criança, eu torço pelo Ceará.</p>
<p class='noticia-conteudo'>Eu tenho um filho (Bernardo) que parece com o menino da foto e ficou mais engraçado por conta disso.  Foi uma descarga grande de emoção.  A foto representa esse sentimento - traduz Diego.</p>
<p class='noticia-conteudo'>- Estava todo mundo eufórico.  Quando o juiz encerrou o jogo, começou todo mundo a gritar.  Ele pegou a criança, eles comemoraram.</p>
<p class='noticia-conteudo'>Vi que o momento era interessante, especial - comentou Davi Rocha, que eternizou o momento. 
A exemplo de Diego e Pedro, muitos torcedores devem ter se conhecido, se abraçado e se aproximado por conta de mais uma episódio único na história do clube.  O dia 24 de novembro de 2024 foi tão esplêndido quanto a imagem que vimos dos dois juntos.</p>
<p class='noticia-conteudo'>Agora não é mais uma possibilidade remota, agora é real: o Ceará voltou à primeira divisão. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_52_1.jpg"></div><p class='foto-descricao'>Diego Marinho e o filho Bernardo — Foto: Arquivo Pessoal</p>
Ceará retorna à Série A e confirma amor de primeira
50 vídeos
CEARÁ.</p>
{% endblock main_content %}

