
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}cruzeiro{% endblock title %}
{% block main_title %}cruzeiro{% endblock main_title %}
{% block second_title %}Cruzeiro é favorito à sétima vaga na Libertadores com 41%; Bahia e Corinthians também têm chances{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Cruzeiro é favorito à sétima vaga na Libertadores com 41%; Bahia e Corinthians também têm chances
Grêmio empata no Mineirão e aumenta a possibilidade de permanecer na primeira divisão do Campeonato Brasileiro



Saiba como funciona o cálculo por trás do percentual de chances da Série A
Enquanto os seis primeiros colocados do Campeonato Brasileiro já sabem que estarão na Libertadores de 2025, três times têm uma briga acirrada pela sétima colocação, com apenas um ponto entre eles: Cruzeiro, Bahia e Corinthians. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_51_0.jpg"></div><p class='foto-descricao'>— Foto: Info Esporte</p>
O empate de Cruzeiro e Grêmio em 1 a 1 na noite desta quarta-feira no Mineirão equilibrou ainda mais a disputa pelo o que, por enquanto, é a única vaga restante para a Libertadores via Brasileirão.  O time mineiro ainda é quem tem o maior percentual de ficar com a sétima colocação, mas viu a distância para os adversários diminuir.</p>
<p class='noticia-conteudo'>Com o fim da 35ª rodada, assim estão as possibilidades de os times ficarem na sétima colocação: Cruzeiro (40,57%), Bahia (34,16%) e Corinthians (22,28%).  Os mineiros viram a chance diminuir 13,68 pontos percentuais, enquanto baianos e paulistas aumentaram em 7,93 e 4,73 após a partida desta quarta-feira, respectivamente. 


Cruzeiro 1 x 1 Grêmio | Melhores momentos | 35ª rodada | Brasileirão 2024

Pelos números, cinco times ainda têm chances de se classificar para a Libertadores via G-7, mas o percentual é bem pequeno: Vasco (1,90%), Vitória (0,67%), Grêmio (0,28%), Athletico-PR (0,10%) e Atlético-MG (0,04%).</p>
<p class='noticia-conteudo'>Em caso de título do Botafogo na final da Libertadores do próximo sábado, o G-7 vai virar G-8 e mais equipes podem almejar uma classificação à competição continental da próxima temporada.  Se a taça for levantada pelo Atlético-MG, seguimos calculando o G-7 porque dificilmente o Galo vai conseguir se colocar entre os sete melhores do Brasileirão para abrir o G-8. 

Espião Estatístico no Encontro com Patrícia Poeta

As chances são determinadas por modelos estatísticos aplicados pelo economista Bruno Imaizumi sobre microdados coletados pela equipe do Espião Estatístico desde 2013.</p>
<p class='noticia-conteudo'>Foram analisadas as características de todas as finalizações e resultados de 4. 530 jogos de Campeonatos Brasileiros que servem de parâmetro para medir a produtividade atual das equipes no ataque e na defesa a partir da métrica de expectativa de gol (xG), consolidada internacionalmente. 
Por exemplo, se uma equipe com desempenhos ofensivos e defensivos apenas medianos será visitante no segundo turno contra adversários que estejam com as melhores performances mandantes, as chances desse visitante vencer são menores do que de um time eficiente e de alta produtividade ofensiva que tem agendados confrontos contra adversários que, neste momento, estejam com os piores desempenhos caseiros.</p>
<p class='noticia-conteudo'>Porém, conforme novos jogos são disputados, os potenciais futuros mudam, rodada a rodada.  Essas são algumas possibilidades que explicam quando as chances não acompanham exatamente as posições atuais da tabela de classificação: os potenciais futuros são diferentes dos resultados já conhecidos, entre outros motivos, devido à inversão de mandos no returno. 
Os dados ajudam a calcular o potencial que cada equipe tem para vencer os jogos restantes, considerando mando de campo e outras características ao fazer 10 mil simulações para cada partida a ser disputada.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_51_1.jpg"></div><p class='foto-descricao'>Reinaldo e Gabriel Veron em Cruzeiro x Grêmio — Foto: Fernando Moreno/AGIF</p>

Chances de permanência
Com o empate fora de casa, o Grêmio aumentou a possibilidade de permanência na Série A em 2,44 pontos percentuais e agora tem 94,72% de chances de seguir na primeira divisão.  Os outros times não tiveram grandes mudanças em relação à noite da última terça-feira, quando a maioria já havia jogado. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_51_2.jpg"></div><p class='foto-descricao'>— Foto: Info Esporte</p>
Com Atlético-GO e Cuiabá já rebaixados, os times com menos possibilidade de seguir na primeira divisão são Bragantino (30,08%) e Criciúma (42,36%), que estão na zona de rebaixamento, seguidos de Fluminense (55,38%), Juventude (86,96%), Athletico-PR (92,67%), Grêmio (94,72%), Vitória (98,73%), Atlético-MG (99,30%) e Vasco (99,80%).</p>
<p class='noticia-conteudo'>Os demais times já estão garantidos. 

Metodologia
Apresentamos as probabilidades estatísticas baseadas nos parâmetros do modelo de "Gols Esperados" ou "Expectativa de Gols" (xG), uma métrica consolidada na análise de dados que tem como referência as finalizações cadastradas pelo Espião Estatístico em todos os jogos de Brasileirões desde a edição de 2013. 
As variáveis consideradas no modelo são: (1) a distância e o ângulo da finalização em relação ao gol; (2) se a finalização foi feita cara a cara com o goleiro; (3) se foi feita sem a presença do goleiro; (4) a parte do corpo utilizada para concluir; (5) se a finalização foi feita de primeira, ajeitada ou carregada; se o chute foi feito com a perna boa ou ruim do jogador; (6) a origem do lance (pênalti, escanteio, cruzamento, falta direta, roubada de bola, lateral etc); (7) se a assistência foi feita de dentro da área; (8) a posição em que o atleta joga; (9) indicadores de força do chute; (10) o valor de mercado das equipes em cada temporada a partir de dados do site Transfermarkt (como proxy de qualidade do elenco); (11) o tempo de jogo; (12) a idade do jogador; (13) a altura do goleiro em jogadas originadas de bolas aéreas; (14) a diferença no placar no momento de cada finalização.</p>
<p class='noticia-conteudo'>De cada cem finalizações da meia-lua, por exemplo, apenas sete viram gol.  Então, uma finalização da meia-lua tem expectativa de gol (xG) de cerca de 0,07.  Cada posição do campo tem uma expectativa diferente de uma finalização virar gol, que cresce se for um contra-ataque por haver menos adversários para evitar a conclusão da jogada.</p>
<p class='noticia-conteudo'>Cada pontuação é somada ao longo da partida para se chegar ao xG total de uma equipe em cada jogo.  Essa variação indica as chances de os times vencerem cada adversário e, a partir daí, é calculada a chance de os clubes terminarem o campeonato em cada posição. 
O modelo empregado nas análises segue uma distribuição estatística chamada Poisson Bivariada, que calcula as probabilidades de eventos (no caso, os gols de cada equipe) acontecerem dentro de um certo intervalo de tempo (o jogo).</p>
<p class='noticia-conteudo'>Para chegar às previsões sobre as chances de cada time terminar o campeonato em cada posição foi empregado o método de Monte Carlo, que basicamente se baseia em simulações para gerar resultados.  Para cada jogo ainda não disputado, realizamos dez mil simulações. 
*A equipe do Espião Estatístico é formada por: Davi Barros, Guilherme Maniaudet, Guilherme Marçal, Gustavo Figueiredo, Igor Mattos, Leandro Silva, Roberto Maleson, Roberto Teixeira, Valmir Storti.</p>
<p class='noticia-conteudo'>ATHLETICO-PR
ATLÉTICO-GO
ATLÉTICO-MG
BAHIA
BOTAFOGO
BRAGANTINO
CORINTHIANS
CRICIÚMA
CRUZEIRO
CUIABÁ
FLAMENGO
FLUMINENSE
FORTALEZA
GRÊMIO
INTERNACIONAL
JUVENTUDE
PALMEIRAS
SÃO PAULO
VASCO
VITÓRIA.</p>
{% endblock main_content %}

