
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}atletico_mg{% endblock title %}
{% block main_title %}atletico_mg{% endblock main_title %}
{% block second_title %}Cruzeiro precisa de combinação de resultados na última rodada por Libertadores; veja contas{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Cruzeiro precisa de combinação de resultados na última rodada por Libertadores; veja contas
Cruzeiro precisa vencer o Juventude, fora de casa, e torcer pelo tropeço de concorrente

04/12/2024 23h44 Atualizado há 11 horas

Cruzeiro 1 x 2 Palmeiras | Melhores Momentos | 37ª Rodada | Brasileirão 2024
O Cruzeiro precisa de uma combinação de resultados, domingo, na última rodada, para conseguir vaga na fase preliminar da próxima Conmebol Libertadores.  Com a derrota para o Palmeiras, no Mineirão, o time chega ao último jogo sem depender das próprias forças. 


A Raposa precisa vencer o Juventude, em Caxias do Sul, e torcer por empate ou derrota do Bahia contra o já rebaixado Atlético-GO, em Salvador.</p>
<p class='noticia-conteudo'>O jogo contra o Palmeiras era considerado o "da temporada" pela Raposa. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_61_0.jpg"></div><p class='foto-descricao'>Gol de Estêvão em Cruzeiro x Palmeiras — Foto: Fernando Moreno/AGIF</p>
O Cruzeiro está em nono lugar, com 49 pontos, um a menos que o oitavo Bahia.  Em sétimo, com 54 pontos, o Corinthians já está garantido na próxima Libertadores.</p>
<p class='noticia-conteudo'>O Bahia enfrenta o já rebaixado Atlético-GO e precisará da vitória para se classificar.  O Cruzeiro torce pelo tropeço e precisará passar pelo Juventude, que já escapou do rebaixamento. 
Assista: tudo sobre o Cruzeiro no ge, na Globo e no Sportv
50 vídeos

CRUZEIRO.</p>
{% endblock main_content %}

