
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}cruzeiro{% endblock title %}
{% block main_title %}cruzeiro{% endblock main_title %}
{% block second_title %}Cruzeiro x Racing ingressos para final da Sul-Americana estão esgotados{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Cruzeiro x Racing: ingressos para final da Sul-Americana estão esgotados
Decisão é no sábado, dia 23 e novembro, no estádio La Nueva Olla, em Assunção, no Paraguai


Os ingressos para a final da Conmebol Sul-Americana estão esgotados.  Cruzeiro x Racing disputam o título no próximo sábado, dia 23 de novembro, no estádio La Nueva Olla, em Assunção, no Paraguai. 


Tetracampeão: os bastidores do quarto título brasileiro conquistado pelo Cruzeiro

Cruzeiro e Racing receberam, cada clube, cerca de 12 mil ingressos para serem vendidos aos seus torcedores.</p>
<p class='noticia-conteudo'>O restante da carga de ingressos é da Conmebol e comercializados no setor misto.  O estádio tem capacidade para 45 mil torcedores. 
Nessa segunda-feira, a Conmebol colocou a venda a última carga de ingressos para setor misto na final da Sul-Americana, que também se esgotou.</p>
<p class='noticia-conteudo'>Antes da decisão de sábado, o Cruzeiro entra em campo nesta quarta-feira, pelo Brasileirão.  O time de Fernando Diniz enfrenta o Corinthians. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_14_0.jpg"></div><p class='foto-descricao'>Lucas Romero com a braçadeira de capitão do Cruzeiro na Sul-Americana — Foto: Gustavo Aleixo/Cruzeiro</p>
Assista: tudo sobre o Cruzeiro no ge, na Globo e no Sportv
50 vídeos

CRUZEIRO.</p>
{% endblock main_content %}
{% block cor_categoria %}#003399{% endblock cor_categoria %}

