
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}cruzeiro{% endblock title %}
{% block main_title %}cruzeiro{% endblock main_title %}
{% block second_title %}Cruzeiro vence o Neurologia Ativa por 3 a 0 e se isola na liderança da Superliga Masculina de Vôlei{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Cruzeiro vence o Neurologia Ativa por 3 a 0 e se isola na liderança da Superliga Masculina de Vôlei
Time mineiro chega à oitava vitória na competição e segue em primeiro na tabela

04/12/2024 20h00 Atualizado há 9 minutos
Líder da Superliga Masculina de Vôlei, o Cruzeiro não teve dificuldades para vencer o Neurologia Ativa, em Belo Horizonte.  Fez 3 sets a 0 (parciais de 25/15, 25/16 e 25/18) na noite desta quarta-feira.  Com a vitória, a equipe celeste se isola na liderança da competição, com 23 pontos.</p>
<p class='noticia-conteudo'>Enquanto isso, o time goiano segue na 12ª colocação, com dois pontos. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_50_0.jpg"></div><p class='foto-descricao'>Cruzeiro x Neurologia Ativa — Foto: Reprodução/Cruzeiro</p>
O destaque do jogo foi o ponteiro Rodriguinho, com 10 pontos.  Ele recebeu o Troféu Viva Vôlei.</p>
<p class='noticia-conteudo'>Na nona rodada da Superliga, o Cruzeiro encara o Goiás, dia 22/12 (domingo), às 14h (de Brasília), no Ginásio do Riacho.  O Neurologia Ativa encara o Joinville, neste domingo, às 18h, no Ginásio Rio Vermelho. 
O jogo
No primeiro set, o Cruzeiro começou dominando, aproveitando os erros defensivos do adversário.</p>
<p class='noticia-conteudo'>O Neurologia Ativa até tentou esboçar uma reação no meio do set, mas o time celeste seguiu mais equilibrado em quadra e fechou com facilidade por 25/15. 
O equilíbrio deu o tom no início do segundo set.  O placar sempre era igualado, com alternância de pontos.</p>
<p class='noticia-conteudo'>Mesmo com a desvantagem no placar, o Neurologia Ativa foi para cima.  Na metade do set, o Cruzeiro neutralizou os visitantes, chegando a abrir quatro pontos em sequência.  Os donos da casa fecharam a parcial por 25/16.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_50_1.jpg"></div><p class='foto-descricao'>Cruzeiro x Neurologia Ativa — Foto: Reprodução/Cruzeiro</p>
No último set, a partida seguiu lá e cá.  O Neurologia Ativa pressionou o Cruzeiro e conseguiu passar à frente do placar pela primeira vez.  Logo em seguida, a equipe celeste se reorganizou e foi somando pontos, deixando cada vez mais os jogadores do time goiano sem chances.</p>
<p class='noticia-conteudo'>O time mineiro fechou a parcial por 25/18..</p>
{% endblock main_content %}

