
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Da euforia à frustração as reações da torcida do Botafogo em General Severiano{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Sede alvinegra teve pagode antes da transmissão, lamento nos gols do Pachuca e apoio à equipe no fim



Torcedores do Botafogo reagem ao segundo gol do Pachuca, pelo Mundial de Clubes

Assim como na final da Libertadores, que foi realizada na Argentina, a sede do Botafogo foi tomada por torcedores que assistiram a transmissão da estreia do time no Intercontinental em um telão.  O evento contou com a presença ilustre de Jairzinho, um dos maiores ídolos do clube. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_393_0.jpg"></div><p class='foto-descricao'>Torcida do Botafogo em General Severiano — Foto: Ana Carolina Lima</p>
O clima era festivo antes da partida, com o incentivo de um grupo de pagode que animou os torcedores.</p>
<p class='noticia-conteudo'>Foi só o jogo começar, no entanto, para um ar mais tenso tomar o ambiente. 
Torcida aplaude e canta hino do Botafogo em General Severiano após derrota
O primeiro gol, em bonita jogada de Idrissi, não desanimou os torcedores, que continuaram cantando músicas de apoio ao time.  O técnico Artur Jorge colocou alguns titulares em campo e ainda havia expectativa de reação.</p>
<p class='noticia-conteudo'>Mas o segundo gol, com falha de John, esfriou bastante o clima.  E as esperanças foram enterradas no terceiro gol mexicano. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_393_1.jpg"></div><p class='foto-descricao'>Jairzinho em General Severiano — Foto: Ana Carolina Lima</p>
Apesar da frustração com a derrota e perda da oportunidade de disputar a semifinal e a decisão do Intercontinental, no fim, torcedores do Botafogo puxaram o hino do clube e gritos de "é campeão", em reconhecimento à grande temporada feita pela equipe.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}

