
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Dana White descarta chances de combate entre Jon Jones e Poatan{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Dana White descarta chances de combate entre Jon Jones e Poatan
Presidente do Ultimate afirma que o duelo "não faz sentido" e reforça a ideia de um confronto entre Jones e Aspinall: "Será a maior luta de pesos-pesados da história do UFC"


Jon Jones fez a primeira defesa do cinturão dos pesos-pesados no último sábado e reforçou o desejo de enfrentar Alex Poatan em um próximo compromisso, mas seu plano está longe de sair do papel, pelo menos é o que indica Dana White.  Em entrevista pós UFC 309, o presidente do Ultimate elogiou o desempenho de Jones contra Miocic e descartou a possibilidade de luta entre o norte-americano e Poatan. 

Mundo da luta comenta possibilidade de duelo entre Jon Jones e Alex Poatan
- Sabe o que esta noite me disse? Que eu não faço a luta (do Jon Jones) com o Pereira de jeito nenhum.</p>
<p class='noticia-conteudo'>Jon é muito grande, ótimo wrestler.  Viu como ele derrubou o Stipe (Miocic) no primeiro round? Eu gosto do Alex Pereira.  Gosto dele pessoalmente, mas realmente não faz sentido fazer essa luta.</p>
<p class='noticia-conteudo'>- Se os dois quiserem muito e estiverem me perturbando, talvez eu faça.  Alex Pereira está arrasando.  Veja a idade dele e o que ele está fazendo agora - explicou Dana White.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_0.jpg"></div><p class='foto-descricao'>Jon Jones e Dana White no UFC 309 — Foto: Josh Hedges/Zuffa LLC</p>
UFC 309: Charles do Bronx leva susto, mas dá aula e vence Chandler de novo
Jungle Fight: Luis Aguiar vence em 37 segundos e conquista cinturão
Mike Tyson revela ter passado por oito transfusões em junho: "Quase morri"
Além de Jon Jones, que é o campeão linear dos pesos-pesados, a categoria tem Tom Aspinall como dono do cinturão interino da divisão.  Apesar do norte-americano descartar qualquer possibilidade de subir no octógono para enfrentar o britânico, Dana White acredita que esse vai ser um grande duelo, caso se torne uma realidade. 
- Será, de longe, a maior luta de pesos-pesados da história do UFC - disse Dana White.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_1.jpg"></div><p class='foto-descricao'>Jon Jones e Alex Poatan — Foto: Jeff Bottari/Zuffa LLC</p>
Depois de defender o cinturão dos pesos-pesados pela primeira vez, Jones afirmou que não está preocupado em conquistar mais títulos e, caso seja necessário, pode aposentar seu cinturão para enfrentar Poatan. 
- Não estou realmente preocupado com a luta contra o Tom (Aspinall).  Estou realmente preocupado com a luta contra (Alex) Pereira.</p>
<p class='noticia-conteudo'>É isso que eu quero.  Acho que se o UFC quiser me ter de volta, então acho que essa é a luta que eles precisam fazer.  Tenho sido muito claro sobre minhas intenções.</p>
<p class='noticia-conteudo'>É isso que eu quero (. ..</p>
<p class='noticia-conteudo'>) Eu quero lutar contra campeões perigosos estabelecidos.  Então, Tom pode ter o título dos pesos-pesados, eu realmente não me importo com isso.  Meu valor não está mais em cinturões.</p>
<p class='noticia-conteudo'>Eu criei algo maior.  Eu quero Pereira - disse o lutador em entrevista pós-luta. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_2.jpg"></div><p class='foto-descricao'>banner combate — Foto: Combate</p>
Assine o Combate e veja o melhor do mundo das lutas.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

