
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Atlético-MG{% endblock title %}
{% block main_title %}Atlético-MG{% endblock main_title %}
{% block second_title %}Datafolha veja as maiores torcidas por cada região do País{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Datafolha: veja as maiores torcidas por cada região do País
Flamengo lidera no Nordeste, Norte e Centro-Oeste, enquanto Corinthians é o primeiro no Sudeste e o Grêmio, no Sul; confira números completos



Torcida do Corinthians anuncia "vaquinha" para pagar arena
Dono da segunda maior torcida do Brasil, de acordo com a última pesquisa Datafolha, ficando atrás apenas do Flamengo (19% x 14%), o Corinthians aparece em primeiro lugar na preferência clubística considerando apenas a região sudeste. 
Na amostragem limitada apenas aos estados de São Paulo, Rio de Janeiro, Minas Gerais e Espírito Santo, o clube paulista possui 20% dos torcedores, ficando à frente do Flamengo, que aparece em segundo lugar, com 15%. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_97_0.jpg"></div><p class='foto-descricao'>Torcida do Corinthians em jogo contra o Atlético-GO — Foto: Marcos Ribolli</p>
Em seguida, repetindo o que se vê na pesquisa nacional, estão Palmeiras e São Paulo, ambos com 8% da preferência dos entrevistados (nos números nacionais, o percentual é de 7% e 6%, respectivamente).</p>
<p class='noticia-conteudo'>O Cruzeiro fecha as primeiras colocações, em 5º, com 7% no Sudeste. 
Na região, seguem Santos e Vasco, ambos com 5%, Atlético-MG, com 4%, Fluminense, com 3%, Botafogo, com 2% e Ponte Preta, com 1%. 
Maiores torcidas do Sudeste
Fatia da população brasileira %
2020
1515
88
88
77
55
55
44
33
22
11
11
2121
Corinthians
Flamengo
São Paulo
Palmeiras
Cruzeiro
Santos
Vasco
Atlético-MG
Fluminense
Botafogo
Ponte Preta
Outros
Nenhum
0
2
4
6
8
10
12
14
16
18
20
22
24
Fonte: Datafolha
As maiores torcidas do Sudeste

Região Nordeste
Já no Nordeste, segunda região mais populosa do Brasil de acordo com o último censo do IBGE, o Flamengo aparece em primeiro lugar na pesquisa Datafolha.</p>
<p class='noticia-conteudo'>E com muita folga. 
O Rubro-negro carioca possui 25% da preferência dos torcedores da região, seguido por Corinthians, com 8%.  O Bahia, que possui 2% da torcida nacional, é o nordestino mais bem posicionado, com 6% na região, empatado com o Palmeiras.</p>
<p class='noticia-conteudo'>Na sequência, aparecem Sport (5%) e Fortaleza (4%). 
Minuto a minuto: as reações do torcedor do Sport até a conquista do acesso
Completam a pesquisa no Nordeste: Vasco, São Paulo e Vitória (com 3%, cada), Ceará, Santa Cruz e Seleção Brasileira (2%), Náutico, Fluminense, Botafogo e CSA (com 1%, cada). 
Maiores torcidas do Nordeste
Fatia da população brasileira %
2525
88
66
66
55
44
33
33
33
22
22
22
11
11
11
11
22
2424
Flamengo
Corinthians
Bahia
Palmeiras
Sport
Fortaleza
Vasco
São Paulo
Vitória
Ceará
Seleção Brasileira
Santa Cruz
Fluminense
Náutico
Botafogo
CSA
Outros
Nenhum
0
10
20
2,5
5
7,5
12,5
15
17,5
22,5
25
27,5
Fonte: Datafolha
Maiores torcidas do Nordeste
Flamengo - 25%
Corinthians - 8%
Bahia e Palmeiras- 6%
Sport - 5%
Fortaleza - 4%
Vasco, São Paulo e Vitória - 3%
Ceará, Seleção Brasileira e Santa Cruz - 2%
Fluminense, Náutico, Botafogo, CSA - 1%
Outros - 2%
Nenhum: 24%
Região Sul
Um Gre-Nal de torcidas na região Sul.</p>
<p class='noticia-conteudo'>Afinal, os dois rivais gaúchos aparecem com folga nas duas primeiras colocações na preferência dos torcedores da região.  Com a liderança do Grêmio, time da preferência de 23%dos entrevistados, seguido pelo Internacional, que aparece com 18%. 
Internacional 1 x 0 Grêmio | Melhores Momentos | 30ª Rodada | Brasileirão 2024
Maiores torcidas do País, Flamengo e Corinthians vêm logo abaixo, ambos com 9% dos torcedores da região, seguidos por Palmeiras (5%), São Paulo (3%), e a dupla paranaense Athletico e Coritiba (2%, cada).</p>
<p class='noticia-conteudo'>Completam a amostragem na região Sul: Juventude, Santos, Vasco, Avaí, Fluminense e seleção brasileira, todos com 1%. 
Maiores torcidas do Sul
Fatia da população brasileira %
2323
1818
99
99
55
33
22
22
11
11
11
11
11
11
11
2222
Grêmio
Internacional
Corinthians
Flamengo
Palmeiras
São Paulo
Athletico-PR
Coritiba
Juventude
Santos
Vasco
Avai
Fluminense
Seleção Brasileira
Outro
Nenhum
0
10
20
2,5
5
7,5
12,5
15
17,5
22,5
25
Fonte: Datafolha
Maiores torcidas do Sul
Grêmio - 23%
Internacional - 18%
Corinthians e Flamengo - 9%
Palmeiras - 5%
São Paulo - 3%
Athletico e Coritiba - 2%
Juventude, Santos, Vasco, Avaí, Fluminense, Seleção Brasileira - 1%
Outros - 1%
Nenhum - 22%
Regiões Centro-Oeste e Norte
O quarto recorde regional feito pelo Datafolha abarcou as regiões Norte e Centro-Oeste do País, somadas.  E nessa amostragem, o Flamengo aparece com o seu melhor percentual, sendo o time preferido de 29% dos entrevistados (10% a mais que a liderança nacional).</p>
<p class='noticia-conteudo'>Em segundo lugar, o Corinthians aparece com 11%, sendo seguido por São Paulo (7%) e Palmeiras (6%).  Fechando o top-5 está o Remo, clube das regiões mais bem colocado, com 4%. 
Remo vence o São Bernardo e garante o acesso para à Série B
Completam a pesquisa Vasco (3%), Paysandu e Botafogo (2%), Fluminense, Santos, Cruzeiro, Atlético-MG, Goiás e Grêmio (todos com 1%).</p>
<p class='noticia-conteudo'>Maiores torcidas do Norte e Centro-oeste
Fatia da população brasileira %
2929
1111
77
66
44
33
22
22
11
11
11
11
11
11
22
2828
Flamengo
Corinthians
São Paulo
Palmeiras
Remo
Vasco
Botafogo
Paysandu
Fluminense
Santos
Cruzeiro
Atlético-MG
Goias
Grêmio
Outros
Nenhum
0
2,5
5
7,5
10
12,5
15
17,5
20
22,5
25
27,5
30
32,5
Fonte: Datafolha
Maiores torcidas torcidas Norte e Centro-Oeste
Flamengo - 29%
Corinthians -11%
São Paulo - 7%
Palmeiras - 6%
Remo - 4%
Vasco - 3%
Botafogo e Paysandu - 2%
Fluminense, Santos, Cruzeiro, Atlético-MG, Goiás e Grêmio - 1%
Outros - 2%
Nenhum - 28%
A pesquisa ouviu 2. 004 pessoas com mais de 16 anos entre os dias 5 e 7 de novembro, em 113 municípios brasileiros.  A margem de erro para o total da amostra é de dois pontos percentuais, para mais ou para menos.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}

