
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}De Ney Franco a Argel veja onde estão técnicos velhos conhecidos nos estaduais{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Treinadores donos de currículos respeitados no futebol brasileiro começam temporada em busca de retomada nas carreiras e títulos



Ney Franco lamenta queda do ABC na pré-Copa do Nordeste

A lista do ge também tem Gilson Kleina, Alfredo Sampaio, Claudinei Oliveira, Felipe Conceição e Marcelo Vilar.  Estes três últimos tiveram os trabalhos de 2024 reconhecidos e renovaram contrato com seus respectivos clubes. 



Argel Fuchs (Paraná)
Argel Fuchs, de 50 anos, vai comandar o Paraná na volta da equipe à elite do Campeonato Paranaense.</p>
<p class='noticia-conteudo'>No estado, ele já havia dirigido o Coritiba entre 2018 e 2019.  Com mais de 16 anos de experiência à frente de equipes brasileiras e internacionais, Argel tem no currículo títulos como o Catarinense de 2015 pelo Figueirense, o Gaúcho de 2016 pelo Internacional e o Baiano de 2017 pelo Vitória.  Ele também passou por clubes como Goiás, Ceará, Guarani, CSA, Chapecoense, Alverca (Portugal), ABC e Caxias, time onde trabalhou em 2024.</p>
<p class='noticia-conteudo'>A missão no Paraná é recolocar o Tricolor em uma das divisões nacionais para 2026. 
O "jeitão Argel" chegou ao Paraná Clube

Ney Franco (ABC)
Ney Franco, de 58 anos, possui o currículo mais expressivo entre os treinadores do Campeonato Potiguar de 2025.  Entre suas principais conquistas estão a Copa do Brasil de 2006 com o Flamengo e a Copa Sul-Americana de 2012 pelo São Paulo.</p>
<p class='noticia-conteudo'>À frente da seleção brasileira sub-20, foi campeão do Sul-Americano e do Mundial da categoria em 2011.  Além disso, teve passagens por clubes como Coritiba, onde foi campeão da Série B, Vitória, Sport, Goiás, Chapecoense, Cruzeiro e CSA.  Após uma pausa na carreira em 2022, tentou se reposicionar no mercado em 2023, mas só voltaria a trabalhar em 2024, no Joinville, de onde seguiu para o ABC.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_7_0.jpg"></div><p class='foto-descricao'>Ney Franco busca reposicionamento no mercado no ABC — Foto: Augusto César Gomes</p>
Gilson Kleina (Santo André)
Aos 56 anos, Gilson Kleina será o comandante do Santo André na disputa da Série A2 do Campeonato Paulista de 2025.  Com ampla experiência no futebol de São Paulo, o treinador conquistou o título da Série B de 2013 com o Palmeiras e teve cinco passagens pela Ponte Preta - dirigiu a equipe em 232 jogos e é o quarto técnico com mais partidas na história da equipe.  Kleina também acumula passagens por Coritiba, Chapecoense, Goiás, Bahia, Criciúma, Náutico, Brusque e Portuguesa.</p>
<p class='noticia-conteudo'>Em 2024, esteve à frente de dois clubes do Paraná — Azuriz e Cascavel. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_7_1.jpg"></div><p class='foto-descricao'>GIlson Kleina tem experiência no futebol paulista — Foto: Dorival Rosa/Portuguesa</p>
Roberto Fernandes (Piauí)
Aos 53 anos, Roberto Fernandes aceitou o desafio de comandar o Piauí em 2025.  O experiente treinador pernambucano tem mais de 30 clubes no seu currículo, e títulos estaduais por Náutico (2018 e 2022), América-RN (2012 e 2015), Remo (2014), Brasiliense (2007) e Itabaiana (2023).</p>
<p class='noticia-conteudo'>Antes da primeira experiência no futebol piauiense, RF esteve à frente de equipes tradicionais como Retrô, CSA, Santa Cruz, CRB, ABC, Confiança, Bangu, Fortaleza, Figueirense, Athletico-PR e Vila Nova.  No Piauí, que acabou de subir para a primeira divisão, a missão é conquistar o estadual, o que não acontece desde 1985. 
Roberto Fernandes é apresentado como técnico do Piauí para 2025
Claudinei Oliveira (Londrina)
Claudinei Oliveira, 55 anos, renovou com o Londrina após boa participação na Série C de 2024.</p>
<p class='noticia-conteudo'>Contratado em maio, ele assumiu o time na décima colocação e conseguiu chegar ao quadrangular final.  Apesar da luta até a última rodada, o LEC não conseguiu o acesso, mas o trabalho foi reconhecido.  Claudinei tem passagens por clubes como Vila Nova, Sport, Chapecoense, Botafogo-SP e Avaí, pelo qual conquistou dois acessos à Série A, em 2016 e 2021.</p>
<p class='noticia-conteudo'>O treinador ainda trabalhou no Paraná, Vitória, Athlético-PR, Goiás e Santos, onde iniciou a carreira nas categorias de base e foi promovido ao profissional em 2013. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_7_2.jpg"></div><p class='foto-descricao'>Claudinei Oliveira renovou com objetivo de buscar acesso que não veio em 2024 — Foto: Reginaldo Junior/ LEC</p>
Marcelo Chamusca (Floresta)
Marcelo Chamusca retorna ao Brasil para comandar o Floresta no Campeonato Cearense.  O treinador teve como último trabalho o Al-Faisaly FC, da Arábia Saudita.</p>
<p class='noticia-conteudo'>Aos 58 anos, ele teve passagens por clubes como Bahia, Fortaleza, Ceará, Guarani, Atlético-GO, Paysandu, Vitória, Botafogo, Náutico, Ponte Preta, Tombense e Botafogo-SP.  Chamusca foi campeão cearense pelo Fortaleza em 2015 e pelo Ceará em 2018, além de conquistar o Paraense com o Paysandu em 2017.  Ele também tem acessos com Salgueiro (em 2013, da Série D para a C), Guarani (da C para a B, em 2016) e Ceará (para a Série A, em 2017).</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_7_3.jpg"></div><p class='foto-descricao'>Marcelo Chamusca volta ao Brasil e vai dirigir o Floresta — Foto: Kely Pereira/Floresta</p>
Marcelo Vilar (Manauara)
Aos 63 anos, Marcelo Vilar vai para mais uma temporada no comando do Manauara.  O experiente treinador tem rodado entre clubes das regiões Nordeste e Norte nos últimos anos.  Recentemente, fechou a quinta passagem pelo Ferroviário, sendo campeão da Taça Fares Lopes 2024.</p>
<p class='noticia-conteudo'>Pelo time cearense, conquistou o título da Série D em 2018, mesmo feito obtido com o Botafogo-PB, em 2013.  Vilar dirigiu o Palmeiras em 2006 e depois passou por equipes como Treze, Central, Caxias, Moto Club, Sergipe, São Caetano, River-PI, Altos, Fluminense-PI e Nacional-AM.  Com o Manauara, fez a melhor campanha da primeira fase da Série D de 2024, mas acabou eliminado pelo Retrô nas oitavas de final.</p>
<p class='noticia-conteudo'>O bom desempenho valeu um novo contrato com a equipe amazonense. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_7_4.jpg"></div><p class='foto-descricao'>Marcelo Vilar renovou com o Manauara — Foto: Laiza Balieiro/Manauara</p>
Alfredo Sampaio (Sampaio Corrêa-RJ)
Alfredo Sampaio, 66 anos, terá mais uma vez a responsabilidade de dirigir o Sampaio Corrêa-RJ no Campeonato Carioca.  Em 2024, ele levou a equipe às semifinais da competição.</p>
<p class='noticia-conteudo'>Com a carreira construída no futebol do Rio de Janeiro, trabalhou em clubes como Bangu, Madureira, Cabofriense, America-RJ, Volta Redonda, Boavista e Portuguesa-RJ.  Em 2008, assumiu o comando do Vasco, mas só ficou 53 dias no cargo por conta de problemas de relacionamento com o jogador Edmundo.  Fora dos campos, Alfredo também é presidente do Sindicato dos Atletas de Futebol do Estado do Rio de Janeiro (Saferj).</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_7_5.jpg"></div><p class='foto-descricao'>Alfredo Sampaio vai comandar o Sampaio Corrêa-RJ mais uma vez — Foto: Jhonatan Jeferson</p>
Felipe Conceição (Inter de Limeira)
Felipe Conceição teve o contrato renovado com a Inter de Limeira para o Paulistão 2025.  O treinador de 45 anos iniciou a carreira no Botafogo e depois fez bons trabalhos por América-MG, Bragantino e Guarani.  Em 2021, aceitou o convite do Cruzeiro, decisão que, anos depois, confessou ter se arrependido.</p>
<p class='noticia-conteudo'>Naquela oportunidade, com o clube na Série B, foi demitido depois da eliminação para o Juazeirense na terceira fase da Copa do Brasil.  Ele readequou a carreira e treinou equipes como Remo, Chapecoense, Náutico, Sampaio Corrêa, Santa Cruz e Uberlândia até chegar à Inter de Limeira, em 2024.  Com a Inter, ficou perto de conquistar o acesso à Série C - foi eliminado nas quartas de final para o Maringá.</p>
<p class='noticia-conteudo'>Após saída de Júnior Rocha, Inter de Limeira contrata Felipe Conceição
Leia mais notícias do esporte potiguar no ge RN | ge. globo/rn

INTER DE LIMEIRA
LONDRINA
PARANÁ
SANTO ANDRÉ.</p>
{% endblock main_content %}

