
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}De saída do Botafogo, Luiz Henrique se inspira em Ronaldinho e Neymar Habilidosos como eu{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Atacante quer jogar a Copa de 2026, considera a goleada no Peñarol o jogo mais difícil da Libertadores e conta história da tatuagem de "Rei da América"




Votuporanguense 0 x 1 Botafogo | Melhores Momentos | Copa São Paulo de Futebol Júnior
— Sim, esse é o objetivo.  Quero jogar nesta Copa do Mundo e também quero ganhar com o Brasil.  Sou um jogador que sempre tem coisas à frente que quero conseguir.</p>
<p class='noticia-conteudo'>Quero que, em 2026, tanto eu quanto o Brasil façamos tudo para ganhar essa Copa do Mundo — disse Luiz Henrique ao jornal uruguaio El País, que organiza o Rei da América, acrescentando:
— Eu gostava muito do Neymar e do Ronaldinho, porque são jogadores que fizeram muita história com a seleção brasileira e seus clubes.  São jogadores habilidosos com eu, rápidos, que pegam bem na bola - comentou, rindo ao ser lembrado que os dois também foram eleitos Rei da América: - Exato, vou por um bom caminho. 
Ao falar sobre o prêmio, divulgado no último dia de 2024, Luiz Henrique contou ter feito uma tatuagem antes mesmo de ser eleito.</p>
<p class='noticia-conteudo'>Escolhido como o craque da final da Libertadores, na vitória do Botafogo por 3 a 1 sobre o Atlético-MG, o atacante achou que já era Rei da América. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_14_0.jpg"></div><p class='foto-descricao'>Luiz Henrique ergue a taça da Libertadores pelo Botafogo — Foto: Vitor Silva/Botafogo</p>

— Quando terminou a final da Copa (Libertadores) e disseram que eu era o melhor do jogo, eu pensava que era o melhor da América.  Então fiz a tatuagem, e amigos que trabalham comigo disseram que eu ainda não era o Rei da América (risos).</p>
<p class='noticia-conteudo'>Mas a tatuagem estava feita, não podia fazer nada.  Para mim, por tudo que fiz na minha equipe e em cada um dos jogos, já estava no meu coração e na minha cabeça que eu seria o Rei da América. 
— Fiquei muito feliz (com o prêmio), porque estar disputando com um jogador como o Lionel Messi, que para mim é o melhor do mundo, é muito importante.</p>
<p class='noticia-conteudo'>Sou um atleta que joga no Brasil, ele está há muito tempo no futebol, disputa muitas coisas.  Para mim, foi um feito muito grande. 
Luiz Henrique chegou ao Botafogo com status de contratação mais cara da história do futebol brasileiro em valores nominais - posto que depois passou a ser de Thiago Almada.</p>
<p class='noticia-conteudo'>O atacante lembrou a pressão gerada pelas cifras. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_14_1.jpg"></div><p class='foto-descricao'>Luiz Henrique tatuou "Rei da América" antes de receber prêmio — Foto: Vitor Silva/BFR</p>
— Um pouco de pressão e também usei como motivação.  O começo foi difícil porque a pressão estava toda em mim, era o jogador mais caro do Brasil.</p>
<p class='noticia-conteudo'>Mas também gosto de jogar assim, com pressão, com gente insultando.  Para mim, é bom.  Mostra mais o meu futebol, que sou um jogador de alto nível.</p>
<p class='noticia-conteudo'>Foi difícil, mas eu gostava de jogar assim. 
Quando perguntado sobre os jogos contra o Peñarol, na semifinal da Libertadores, Luiz Henrique definiu a partida de ida - no estádio Nilton Santos, com goleada alvinegra por 5 a 0 - como a mais difícil de toda a campanha continental. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_14_2.jpg"></div><p class='foto-descricao'>Luiz Henrique em Botafogo x Peñarol, pela Libertadores 2024 — Foto: André Durão</p>

— O Peñarol é um time que tem nome, que já ganhou muitas vezes a Copa Libertadores.</p>
<p class='noticia-conteudo'>É uma equipe difícil, forte, que sabe jogar, também sabe defender.  Por isso, para mim, foi o jogo mais difícil. 
O Botafogo tem três propostas europeias para vender Luiz Henrique - uma da Fiorentina (ITA) e duas da Premier League.</p>
<p class='noticia-conteudo'>O Lyon, que integra a rede multi-clubes de John Textor, é outro destino possível.  Neste caso, o empresário americano gostaria que ele jogasse o Mundial de Clubes, retornando ao Botafogo na janela excepcional para o torneio.  A decisão está nas mãos do atacante.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}

