
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}vasco{% endblock title %}
{% block main_title %}vasco{% endblock main_title %}
{% block second_title %}De salto de performance a brutal fora dos planos, Galdames ganhou técnicos do Vasco em 2024{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>De "salto de performance" a "brutal": fora dos planos, Galdames ganhou técnicos do Vasco em 2024
Volante chileno não deve ser utilizado por Felipe, mas conquistou técnicos anteriores


Depois de mais de quatro meses afastado do time titular, Galdames voltou a iniciar um jogo pelo Vasco no dia 28 de outubro, contra o Bahia.  Ali, mesmo com a vitória, a diretoria ganhou um elemento a mais para cogitar a demissão de Rafael Paiva, o que se concretizou no domingo.  O volante chileno foi utilizado nos quatro jogos (todos com derrotas) seguintes até a saída do treinador.</p>
<p class='noticia-conteudo'>Galdames foi titular nos quatro jogos de Álvaro Pacheco à frente do Vasco: "Brutal"
A insistência em Galdames foi um dos pontos que desagradaram à diretoria do Vasco, que havia informado a Paiva que o volante não continuaria no clube em 2025.  Até por isso, dificilmente o chileno deverá ser relacionado para os últimos três jogos do Brasileirão, nos quais o time será comandado pelo treinador interino Felipe Maestro. 
— Toda comissão que chega tem as informações necessárias.</p>
<p class='noticia-conteudo'>Não é imposição, é comunicação.  "Não contamos com esse, queremos fazer as transações desses na janela, esses terminam contrato e a gente não tem intenção de renovar".  Não é obrigação, é escolha, e a gente respeitou e vai respeitar todas as escolhas — explicou o presidente Pedrinho após a demissão de Paiva.</p>
<p class='noticia-conteudo'>Mas, antes mesmo de Paiva tirar Galdames do fim da fila, outros treinadores que passaram pelo clube em 2024 elogiaram o jogador.  Com Ramón Díaz e Álvaro Pacheco, o volante também teve espaço, apesar de críticas frequentes da torcida.  Ele foi o "queridinho" dos técnicos.</p>
<p class='noticia-conteudo'>"Salto de performance"
Antes do jogo contra o Bahia, em que o Vasco venceu por 3 a 2 em São Januário, o último jogo de Galdames como titular havia sido no dia 19 de junho, contra o Juventude, na despedida do português Álvaro Pacheco.  Ele também começou jogando as últimas três partidas com Rafael Paiva - derrotas para Fortaleza, Inter e Corinthians. 
Confira entrevista de Rafael Paiva após derrota do Vasco para o Inter
Mesmo sob protestos de vascaínos e com o aviso da diretoria - que nunca forçou o técnico a tirar o chileno do time, mas o alertou sobre o desprestígio -, Paiva defendeu publicamente o jogador em dois momentos recentes:
— Galdames tem uma qualidade grande, jogador de seleção chilena.</p>
<p class='noticia-conteudo'>Sabia que, quando entrasse, daria conta.  Em algum momento, teve fase ruim.  A gente tem muito jogador talentoso.</p>
<p class='noticia-conteudo'>Se a torcida apoiar, vão entregar coisa boa.  O Galdames se dedica, é aguerrido, tem qualidade técnica — afirmou Paiva após a vitória sobre o Bahia. 
— O Galdames, diferente do Hugo, consegue construir um pouco melhor.</p>
<p class='noticia-conteudo'>Galdames deu um salto de performance, tem uma bola longa e primeiro toque melhores.  A briga está muito saudável.  Na verdade, a gente ganhou um jogador.</p>
<p class='noticia-conteudo'>A gente não pode olhar que perdeu o Hugo, a gente ganhou um jogador.  O Galdames é inteligente, a briga está boa.  A gente está tentando criar competitividade.</p>
<p class='noticia-conteudo'>São jogadores com bastante potencial — disse o técnico depois da derrota para o Inter. 
"Brutal"
GE Vasco e a atuação "brutal" de Galdames: "Parece que ele (Álvaro) quer forçar uma barra"
Paiva substituiu Álvaro Pacheco no comando do Vasco.  O português, que era fã do futebol de Galdames, não durou muito no clube.</p>
<p class='noticia-conteudo'>Ele foi demitido após quatro jogos, com três derrotas e um empate.  Em todos eles, o volante chileno foi titular. 
— Galdames fez um jogo brutal.</p>
<p class='noticia-conteudo'>Teve uma capacidade, foi o rei da ação, um jogo posicional muito grande.  Vejam a capacidade que ele teve.  Uma das missões que ele tinha, de matar contra-ataques e ter o jogo sempre posicionado, manter o jogo equilibrado.</p>
<p class='noticia-conteudo'>Soube temporizar quando estava em inferioridade numérica e quando tinha que saltar na pressão — avaliou Álvaro depois do empate com o Cruzeiro por 0 a 0. 
— Enquanto técnico, o Galdames fez um jogo fantástico, mas eu entendo e respeito a opinião da torcida, que tem sempre razão.  Mas, enquanto técnico e diante da estratégia para o jogo, entendíamos o Cruzeiro muito forte numa primeira fase de construção, é muito forte no jogo interior.</p>
<p class='noticia-conteudo'>Ele fechou os espaços — completou o português. 
"Jogador dinâmico"
O chileno viveu seu melhor momento no Vasco no Campeonato Carioca, quando o time ainda era comandado pelo técnico Ramón Díaz.  Em sete jogos, ele marcou um gol e deu duas assistências.</p>
<p class='noticia-conteudo'>Ainda somou assistência (Marcílio Dias-SC) e gol (Água Santa-SP) em dois jogos da Copa do Brasil. 

Veja a coletiva de Emiliano Díaz, do Vasco, após vitória contra o Audax
Dos 17 jogos em que Ramón comandou o Vasco em 2024, Galdames participou de 13.  Ele foi anunciado no dia 5 de fevereiro e não estava presente nos quatro primeiros.</p>
<p class='noticia-conteudo'>Logo na sua estreia, contra o Audax Rio, o volante recebeu elogios de Emiliano Díaz:
— Sabíamos das características do Pablo (Galdames), um jogador dinâmico, ficamos muito contentes.  Não era fácil.  Vinha jogando na Europa, onde neste momento está muito frio.</p>
<p class='noticia-conteudo'>E vem jogar aqui, que está muito quente.  Fez um grande jogo e ficamos muito contentes. 
Fim da linha
Desde a segunda janela, a diretoria já havia definido que Galdames não continuaria em 2025 - seu contrato termina no fim deste ano e não será renovado.</p>
<p class='noticia-conteudo'>O Vasco tentou negociá-lo com o San Lorenzo, da Argentina, mas a transação não rolou. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_27_0.jpg"></div><p class='foto-descricao'>Pablo Galdames não deve mais jogar pelo Vasco — Foto: Luis Garcia Foto/AGIF</p>
Após a janela, o clube sentou com o jogador para renegociar os detalhes de seu contrato.  Ele abriu mão de uma cláusula de renovação automática que seria ativada caso ele disputasse metade dos jogos da equipe na temporada.</p>
<p class='noticia-conteudo'>Com isso, ficou liberado para ser escalado por Paiva. 
A intenção do Vasco era dar mais uma opção ao treinador, ainda mais com as contratações da janela não tendo encaixado - como é o caso de Souza -, mas os dirigentes não imaginavam que Galdames voltaria a ter sequência como titular. 

Assista tudo sobre o Vasco no ge, na Globo e no SporTV:
50 vídeos
VASCO.</p>
{% endblock main_content %}

