
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}De youtuber a algoz de Anderson Silva veja trajetória de Jake Paul até virar adversário de Mike Tyson{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>De youtuber a algoz de Anderson Silva: veja trajetória de Jake Paul até virar adversário de Mike Tyson
Em duelo de gerações, jovem youtuber desafia lenda do boxe em luta na próxima sexta (15), nos Estados Unidos; confronto é marcado pela diferença de 31 anos de idade entre os lutadores



Mundo da Luta projeta combate entre Tyson e Jake Paul
O mundo aguarda com ansiedade o retorno de Mike Tyson aos ringues na próxima sexta-feira (15).  A AT&T Arena, no Texas, vai ser palco do duelo entre um dos maiores nomes do peso-pesado contra Jake Paul, um jovem youtuber que busca consolidar sua carreira no esporte.  Conheça a seguir quem é o norte-americano que já derrotou até mesmo Anderson Silva em uma luta de boxe, e agora é o desafiante de Iron Mike em um confronto que pode ser o divisor de águas para Paul dentro do esporte.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_0.jpg"></div><p class='foto-descricao'>Jake Paul — Foto: Mike Ehrmann/Getty Images</p>
Jake Joseph Paul nasceu em Cleveland (EUA) e, junto com seu irmão, Logan, ganhou fama ainda na adolescência com seus vídeos na plataforma Vine.  Com o fim do site, ele migrou para o YouTube e hoje soma quase 21 milhões de inscritos.  Seu vídeo mais assistido é o clipe da música "It's everyday bro" com mais de 300 milhões de visualizações.</p>
<p class='noticia-conteudo'>De acordo com o jornal "The Sun", também é o terceiro com mais "dislikes" da história do YouTube.  Veja o vídeo abaixo:
O sucesso como criador de conteúdo foi tanto que Jake Paul foi chamado para estrelar uma série de TV da Disney chamada "Bizaardvark", na qual interpretou o personagem Dirk Mann.  Ali, já começava a surgir o rótulo de "Garoto Problema" para o norte-americano.</p>
<p class='noticia-conteudo'>Em meio a especulações sobre seu comportamento fora da tela, ele deixou a atração em 2017 após receber acusações públicas de seus vizinhos por causar desordem com festas barulhentas e brincadeiras perigosas.  Entretanto, o americano deu sua própria versão da história ao dizer que havia "superado" a Disney, que trabalhar lá foi um sonho que virou realidade, mas que era hora de seguir em frente com sua carreira, enquanto a empresa apenas afirmou que sua saída aconteceu por decisão mútua. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_1.jpg"></div><p class='foto-descricao'>Jake Paul — Foto: Reprodução</p>
Números de Jake Paul nas redes sociais
YouTube: 20,8 milhões de inscritos
Instagram: 27,1 milhões de seguidores
Facebook: 5,7 milhões de seguidores
TikTok: 18,2 milhões de seguidores
Twitter: 4,6 milhões de seguidores
Desafios no boxe
Em 2018, Jake Paul decidiu ter sua primeira experiência dentro de um ringue, desta vez como amador.</p>
<p class='noticia-conteudo'>As duas lutas principais do card foram entre youtubers.  Na principal, seu irmão, Logan, teve um empate majoritário contra KSI.  No co-evento principal, Jake enfrentou o irmão de KSI, Deji, e o nocauteou no quinto round.</p>
<p class='noticia-conteudo'>Já afeito a declarações fortes, ele desafiou o cantor Chris Brown naquela noite, mas a luta não aconteceu. 
Após sentir o gosto da vitória, ele quis se testar no boxe profissional e fez duas lutas em 2020.  Primeiro, precisou de cerca de um minuto para nocautear AnEsonGib.</p>
<p class='noticia-conteudo'>Depois, teve luta marcada contra o ex-jogador da NBA Nate Robinson, no mesmo card em que Mike Tyson e Roy Jones Jr.  se enfrentaram.  O nocaute brutal de Paul no segundo assalto começou a chamar a atenção do mundo das lutas.</p>
<p class='noticia-conteudo'>- Foi interessante ver este mundo todo ser criado ao redor deles onde havia um monte de criadores (de conteúdo) que queriam lutar boxe, especialmente pelo boxe ser visto há muito tempo como um esporte que estava morrendo, que não se conectava com a juventude.  Aquilo não era mais interessante e não tinha futuro aqui.  Quem são estes jovens com visão de futuro que estão decidindo entrar no boxe? Não no MMA, que é visto como um esporte mais jovem, e eles queriam fazer uma carreira para se testar contra outros.</p>
<p class='noticia-conteudo'>Assim que ele começou a fazer isso, comecei a prestar atenção nele e então, obviamente, a luta com Nate Robinson foi um acordo massivo porque foi no mesmo card de Tyson e Roy Jones.  Quando ele nocauteou Nate Robinson, começou a ir atrás de caras do MMA e se tornou mais uma história de MMA do que de boxe porque já são quase dois anos dele contra o mundo do MMA e dele contra Dana White - recordou o jornalista especializado em MMA Ariel Helwani, ao Combate. com.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_2.jpg"></div><p class='foto-descricao'>Jake Paul venceu Nate Robinson por nocaute — Foto: Joe Scarnici/Handout Photo via USA TODAY Sports</p>
A partir dali, ele passou a enfrentar atletas do MMA.  Em 2021, nocauteou Ben Askren, recém-aposentado do MMA, no primeiro round.  No mesmo ano, fez mais dois duelos contra o ex-campeão meio-médio do UFC Tyron Woodley.</p>
<p class='noticia-conteudo'>No primeiro encontro, vitória por decisão dividida, muito contestada pelo rival, que exigiu revanche.  No segundo embate, nocaute no sexto round para não deixar dúvidas.  Com as lutas de boxe, especula-se que seu patrimônio esteja na casa dos US$ 30 milhões (cerca de R$ 160 milhões) atualmente.</p>
<p class='noticia-conteudo'>Além de vencer ex-atletas do UFC, Jake Paul colecionou polêmicas com o presidente da organização, Dana White.  Especialmente por contestar os salários recebidos pelos lutadores da companhia, que o youtuber considera baixos. 
- Você pode literalmente morrer no ringue, e os lutadores precisam ser melhor recompensados.</p>
<p class='noticia-conteudo'>Sou um grande defensor deste movimento e de assumir o controle.  É como as gravadoras de música: esses artistas estão sendo tratados como propriedades e ficando presos nestes contratos de m***, e eles não sabem o que fazer.  Então, f***-se essa m***.</p>
<p class='noticia-conteudo'>F***-se Dana White - disparou Paul, em 2021. 
Na visão de Helwani, esta postura combativa com relação ao UFC ajudou Jake Paul a atrair atenção para suas lutas. 
- Desde os tempos de YouTube, quando ele era um garoto, ele era disruptivo.</p>
<p class='noticia-conteudo'>Ele irritava as pessoas.  Ele pregava peças, e eu meio que o via como disruptivo.  Agora, no mundo do boxe também, no mundo das lutas também, ele está rompendo com o modelo.</p>
<p class='noticia-conteudo'>Ele está incomodando a velha guarda.  Está atrapalhando o mundo do MMA com o que ele fala sobre o pagamento dos lutadores e todas estas coisas.  Ele é genuíno? É realmente sincero quando fala sobre isso? Quem sabe? Mas é tudo parte da pessoa dele e é o que está chamando a atenção.</p>
<p class='noticia-conteudo'>Fã x Ídolo
Sem dúvidas, o maior nome que Jake Paul já enfrentou até aqui na sua curta carreira profissional no boxe foi Anderson Silva.  Em 2022, o norte-americano seguiu em ascensão ao derrotar Spider, um dos maiores lutadores de MMA da história, por decisão unânime.  Conhecido por promover suas lutas com bastante provocação, Paul adotou uma postura mais respeitosa por ser fã do brasileiro que costumava assistir na TV desde garoto e com quem chegou a tirar uma foto junto com seu irmão na adolescência.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_3.jpg"></div><p class='foto-descricao'>Jake Paul, Anderson Silva — Foto: Reprodução</p>
Mas a admiração ficou de lado quando ambos se enfrentaram dentro do ringue em Phoenix, nos Estados Unidos.  Na época com 25 anos, Paul levou a melhor por decisão unânime dos juízes (77-74, 78-73 e 78-73).  Com direito a knockdown no fim do combate, o norte-americano lançou mão de um grande volume de golpes para anular Spider, que reconheceu a derrota para o adversário:
- Ninguém mais pode falar de você - disse Anderson para Paul após o anúncio do resultado.</p>
<p class='noticia-conteudo'>Jake Paul derrota Anderson Silva no boxe por decisão unânime
A luta em si começou com a iniciativa de Paul que jogava muitos golpes, mas Spider conseguiu desviar da maioria.  Durante a luta, o norte-americano conseguiu encaixar uma boa direita provocando um sangramento no nariz do adversário.  Apesar disso, Anderson partiu pra cima do rival e seguiu bastante ativo desenhando um combate muito equilibrado.</p>
<p class='noticia-conteudo'>Já o último assalto viu uma trocação franca entre ambos, com Paul levando a melhor: o lutador encaixou um belo knockdown de direita, o suficiente para selar a maior vitória de sua carreira contra Spider. 
Quebra da invencibilidade
O confronto com Anderson Silva marcou a sexta vitória de Paul que seguia invicto no boxe profissional ao derrotar também outros ex-lutadores de MMA como Tyron Woodley e Ben Askren.  Porém, o primeiro revés aconteceu já no ano seguinte quando perdeu a disputa contra Tommy Fury por decisão dividida dos juízes.</p>
<p class='noticia-conteudo'>Mas se engana quem pensa que a perda da invencibilidade diminuiu o ímpeto de Paul, que voltou ao ringue mais duas vezes em 2023 com vitórias sobre Nate Diaz e Andre August.  A sequência positiva seguiu ao longo de todo 2024, na qual o lutador voltou a triunfar com direito a dois nocautes: as vítimas da vez foram Ryan Bourland e Mike Perry.  Aliás, em 2024 o norte-americano vai igualar seu ano mais ativo no boxe com três lutas no total.</p>
<p class='noticia-conteudo'>Duelo de gerações
Acostumado a ser protagonista nas redes e também nos ringues, Jake Paul agora busca encerrar o ano com chave de ouro contra Mike Tyson.  A lenda da nobre arte volta a competir de forma oficial pela primeira vez desde 2005 quando se aposentou do esporte.  A única aparição do multicampeão aconteceu em 2020 quando participou de uma luta de exibição que terminou empatada.</p>
<p class='noticia-conteudo'>O duelo entre Mike Tyson e Jake Paul estava previamente agendado para acontecer em julho deste ano, mas o confronto teve que ser adiado por problemas de saúde do experiente pugilista.  Desde que foi anunciada, a luta tem dividido a opinião do público entre a enorme expectativa pelo retorno de Tyson ao cenário competitivo, mas também por aqueles que temem pelo bem-estar do veterano. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_4.jpg"></div><p class='foto-descricao'>Mike Tyson e Jake Paul se enfrentam no boxe em 15 de novembro — Foto: Info esporte</p>
A preocupação se justifica pela diferença de idade entre os lutadores.</p>
<p class='noticia-conteudo'>Quando subir no ringue na próxima sexta (15), Tyson, de 58 anos, vai ter que superar as mais de três décadas que separam os dois.  Ao seu lado, Iron Mike tem a enorme experiência e um cartel invejável: conquistou 50 vitórias em 58 lutas, sendo 44 por nocaute. 
Já Jake Paul, de 27 anos, está apenas no seu quinto ano competindo profissionalmente.</p>
<p class='noticia-conteudo'>Até aqui, o norte-americano acumula dez vitórias e apenas uma derrota, sendo quatro triunfos por nocaute, o que representa um aproveitamento de 36%. 
Antes do combate, os rivais bateram um papo no quadro MVP Face 2 Face no próprio canal do youtuber.  Apesar de elogiar e pregar respeito a Tyson, Paul esbanjou confiança ao dizer que que seu triunfo "está escrito", enquanto o adversário afirmou que não enxerga nenhum cenário que não seja sua própria vitória.</p>
<p class='noticia-conteudo'>O combate está programado para contar com oito rounds de dois minutos nos quais os lutadores poderão usar luvas de 14 onças. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_5.jpg"></div><p class='foto-descricao'>Jake Paul treina com "cabelo maluco" em formato de galo — Foto: Ayisha Collins/Getty Images for Netflix © 2024</p>
Já no esquenta para a luta, foi realizado o treino aberto na terça (12) que contou com a presença de ambos.  O veterano se apresentou brevemente, mas foi o suficiente para impressionar pela sua boa forma; já Paul chamou a atenção mesmo por usar uma peruca em formato de galo em alusão ao seu apelido "El Gallo de Dorado".</p>
<p class='noticia-conteudo'>Da próxima vez que se encontrarem será para valer e um novo capítulo da história do boxe será escrito. 
Confira abaixo o card completo do evento:
Tyson x Paul
15 de novembro de 2024, às 19h30 (de Brasília), em Arlington (EUA)
CARD PRINCIPAL (22h de Brasília):
Peso-pesado: Jake Paul x Mike Tyson
Peso-super-leve: Katie Taylor x Amanda Serrano
Peso-meio-médio: Mario Barrios x Abel Ramos
Peso-super-médio: Neeraj Goyat x Whindersson Nunes
CARD PRELIMINAR (19h30 de Brasília):
Peso-super-médio: Shadasia Green x Melinda Watpool
Peso-leve: Lucas Bahdi x Corey Marksman
Peso-pena: Bruce Carrington x Dana Coolwell
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_6.jpg"></div><p class='foto-descricao'>banner combate — Foto: Combate</p>
Assine o Combate e veja o melhor do mundo das lutas.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

