
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}flamengo{% endblock title %}
{% block main_title %}flamengo{% endblock main_title %}
{% block second_title %}Despedida de Adriano venda de ingressos para jogo com estrelas de Flamengo e Inter de Milão começa{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Despedida de Adriano: venda de ingressos para jogo com estrelas de Flamengo e Inter de Milão começa
Primeiro lote é exclusivo para sócios-torcedores rubro-negros; partida entre ex-companheiros da Gávea e "amigos italianos do Imperador" será no dia 15 de dezembro no Maracanã


O momento da despedida oficial de Adriano dos gramados se aproxima, e os ingressos para o jogo festivo que vai reunir estrelas da história de Flamengo e Inter de Milão, da Itália (clubes que o ex-atacante mais defendeu na carreira), começaram a ser vendidos nesta quarta-feira.  O evento, batizado de “A Última Batalha do Imperador”, será no dia 15 de dezembro, às 17h (de Brasília), no Maracanã.  Aos 42 anos, Didido vai jogar um tempo por cada time.</p>
<p class='noticia-conteudo'>Adriano lança biografia que conta da infância e momentos difíceis
Todos os ingressos serão comercializados pelo site oficial da partida (CLIQUE AQUI PARA COMPRAR), mas este primeiro lote é destinado apenas para sócios-torcedores do Flamengo.  Os preços vão de R$ 75 (R$ 37,50 meia), nos setores Norte e Sul, a R$ 500 (R$ 250 meia) no Maracanã+.  O sócio-torcedor rubro-negro ainda tem direito a 15% de desconto em cima desses valores até a venda ser aberta para o público em geral no dia 3 de dezembro e podem comprar para mais três pessoas (exceto no setor Maracanã+).</p>
<p class='noticia-conteudo'>Do lado rubro-negro já confirmaram presença o ídolo Zico e jogadores como Petkovic, Athirson, Zé Roberto, Léo Moura, Vagner Love, Ronaldo Angelim, Júlio César, Reinaldo, Toró, Edilson e Denílson, que atuaram ao seu lado com a camisa do Flamengo.  Além deles, nomes como Emerson Sheik, Aloísio Chulapa e Beto também marcarão presença. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_21_0.jpg"></div><p class='foto-descricao'>Cartaz do jogo de despedida de Adriano Imperador — Foto: Divulgação</p>
Já na equipe que vestirá a camisa dos “amigos italianos do Imperador", destaque para o ex-zagueiro Materazzi, que fez o gol da Itália na conquista do tetracampeonato mundial em 2006.</p>
<p class='noticia-conteudo'>Também estão confirmados Córdoba, ⁠Gamarra, Ventola, Burdisso, David Pizarro e Karagounis (todos jogaram com Adriano na Inter de Milão). 
- Estou muito ansioso.  Pareço até uma criança! Graças a Deus, estão todos animados para que isso aconteça.</p>
<p class='noticia-conteudo'>Às vezes nem acredito, porque, como sempre digo, não sei realmente quem eu sou.  Meus amigos me dizem: "Você parece não ter noção de quem você é".  Sempre preferi curtir a vida desse jeito, mais na minha.</p>
<p class='noticia-conteudo'>Será importante para mim, para dar um ponto final na minha carreira.  Estou feliz por poder rever amigos que jogaram comigo, pessoas que fizeram parte da minha história, nos bons e nos maus momentos, que acompanharam minha luta e viram o quanto batalhei.  Só posso dizer muito obrigado.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_21_1.jpg"></div><p class='foto-descricao'>Adriano comemora um gol pelo Flamengo em 2010 — Foto: vipcomm</p>
Adriano não joga profissionalmente desde 2016, quando vestiu a camisa do modesto Miami United em apenas dois jogos na Quarta Divisão dos Estados Unidos.  Na época, ele estava com 33 anos e voltava a jogar depois de dois anos sem clube após deixar o Athletico-PR.  Nos últimos anos, ele participou do Jogo das Estrelas organizado por Zico e do Futebol Solidário para arrecadar fundos para as vítimas das chuvas no Rio Grande do Sul.</p>
<p class='noticia-conteudo'>Pelo Flamengo, Adriano disputou 94 partidas e fez 46 gols.  Já pela Inter foram 177 jogos e outros 74 gols.  O projeto da despedida é da MTR7, empresa de esportes focada no futebol e que já organizou outros jogos festivos com estrelas internacionais que já penduraram as chuteiras, tanto dentro quanto fora do Brasil.</p>
<p class='noticia-conteudo'>O evento também conta com a parceria da MCAsport e da empresa Diogo Souza Advogados. 
🗞️ Leia mais notícias do Flamengo
🎧 Ouça o podcast ge Flamengo
Assista: tudo sobre o Flamengo no ge, na Globo e no sportv
50 vídeos
FLAMENGO.</p>
{% endblock main_content %}

