
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}athletico_pr{% endblock title %}
{% block main_title %}athletico_pr{% endblock main_title %}
{% block second_title %}Destaque do Athletico, Mycael entra no radar do Manchester United e outros times ingleses{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Destaque do Athletico, Mycael entra no radar do Manchester United e outros times ingleses
Furacão vê potencial para negociar o goleiro acima do valor da venda de Bento ao Al-Nassr

04/12/2024 13h05 Atualizado há 5 horas

Mycael e Belezi vivem emoções inéditas no profissional do Athletico
Destaque do Athletico aos 20 anos, o goleiro Mycael já entrou no radar de times ingleses, como Manchester United, Leicester, Brentford e West Ham. 
O Athletico vê em Mycael potencial para superar o valor da ida de Bento para o Al-Nassr, da Arábia Saudita.  Na ocasião, em julho deste ano, a venda foi fechada em cerca 18 milhões de euros (aproximadamente R$ 107 milhões), registrando a maior negociação de um goleiro no Brasil.</p>
<p class='noticia-conteudo'>Leia também:




Apesar disso, o Furacão descarta qualquer pressa para negociar Mycael, que tem contrato com o clube até março de 2027.  A diretoria quer manter o goleiro como titular na temporada 2025 e não pretende buscar outro nome no mercado.  Uma saída agora só ocorreria em caso de uma grande proposta e de um projeto de um time do exterior.</p>
<p class='noticia-conteudo'>Cria do CT do Caju e com passagem de destaque nas seleções brasileiras de base, o goleiro assumiu a titularidade do gol do Furacão nesta temporada e vem sendo um dos principais nomes do time na reta final do Campeonato Brasileiro. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_46_0.jpg"></div><p class='foto-descricao'>Mycael em ação no treino do Athletico — Foto: José Tramontinn/Athletico</p>
Carreira
Natural de Rondônia, ele chegou ao Athletico em 2018, aos 14 anos, após ser aprovado em uma peneira do clube paranaense em Porto Velho-RO. 
O defensor foi selecionado em uma avaliação com cerca de 500 atletas.</p>
<p class='noticia-conteudo'>Após período de testes em Curitiba, retornou à Porto Velho e chegou a participar de processos em clubes como Grêmio e Flamengo, mas optou por escolher o Furacão. 
Apesar da pouca idade, Mycael carrega no currículo vasta experiência quando o assunto é seleção brasileira.  Desde 2019, quando estava no sub-15, o goleiro soma quase 50 convocações na base (incluindo olímpica) e é o jogador com mais convocações para a seleção entre todos os atletas de base do país.</p>
<p class='noticia-conteudo'>Além disso, Mycael foi chamado para a seleção principal uma vez, por Ramon Menezes, interino após a saída de Tite.  Ele ficou no banco de reservas no amistoso contra Marrocos, em março de 2023. 
Mycael estreou profissionalmente pelo Athletico no jogo contra o São Paulo, em julho, após expulsão de Léo Linck.</p>
<p class='noticia-conteudo'>Na rodada seguinte, fez a estreia como titular diante do Atlético-GO, fora de casa, e voltou a atuar contra o Juventude, em agosto, quando Linck sentiu lesão durante o jogo. 
Pela seleção, Mycael conquistou o Sul-Americano sub-20 e sub-15 e o Pan-Americano de 2023.  Pelo Furacão, estava no elenco campeão estadual no início deste ano, contra o Maringá.</p>
<p class='noticia-conteudo'>Mais notícias do esporte paranaense no ge. globo/pr
ATHLETICO-PR.</p>
{% endblock main_content %}

