
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Diniz explica planejamento para titulares do Cruzeiro e admite poucas dúvidas antes de decisão{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Diniz explica planejamento para titulares do Cruzeiro e admite "poucas dúvidas" antes de decisão
Time celeste viaja nesta quarta-feira para Assunção


Após a derrota do Cruzeiro diante do Corinthians nesta quarta-feira, por 2 a 1, Diniz explicou a estratégia para o duelo com o time paulista pensando na final da Sul-Americana, contra o Racing, no sábado.  O treinador celeste explicou que a escolha dos titulares e as mudanças no decorrer do jogo visaram dar minutagem aos jogadores, com foco na decisão. 

Corinthians 2 x 1 Cruzeiro | Melhores Momentos | 34ª rodada | Brasileirão 2024


"Sendo sincera, eu achei que ia ser muito pior", diz Fernanda | Voz da Torcida
"Serviu para dar minutagem para os jogadores, mas obviamente que a partida de hoje tem tudo a ver com a escalação da final da Sul-Americana.</p>
<p class='noticia-conteudo'>"
- Então acho que o planejamento foi correto, como foi correto para o Lanús.  Agora o foco é imenso, total, não tem uma outra coisa que passa na nossa cabeça que não seja o jogo da decisão. 
Diniz explicou que alguns jogadores pediram para ter minutagem na partida contra o Corinthians.</p>
<p class='noticia-conteudo'>O treinador também admitiu que queria dar tempo em campo para o volante Walace, tendo em vista que o último jogo foi contra o Flamengo - ele foi poupado contra o Criciúma por risco de lesão muscular. 
- Alguns jogadores gostam de jogar, como é o caso de hoje, que achavam que sentiriam melhor para sábado, como o Matheus Henrique e o Romero.  O Walace, eu queria colocar para jogar um pouco, o último jogo dele foi contra o Flamengo, e jogou só meio tempo.</p>
<p class='noticia-conteudo'>Então, a gente está fazendo tudo o que a gente pode para chegar em condições. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_0.jpg"></div><p class='foto-descricao'>— Foto: Gustavo Aleixo/Cruzeiro</p>
Com o principal foco da temporada do clube celeste chegando, Diniz admitiu não ter muitas dúvidas sobre o time titular para a partida contra o Racing.  A principal vaga aberta é no meio-campo, com disputa entre Walace e Lucas Silva.</p>
<p class='noticia-conteudo'>"Não, não tenho muita dúvida, não.  A gente está bem consciente daquilo que a gente tem que fazer no sábado. "
A delegação do Cruzeiro embarca rumo a Assunção ainda nesta quarta-feira e realizará dois treinamentos na capital paraguaia, antes da final.</p>
<p class='noticia-conteudo'>Assista: tudo sobre o Cruzeiro no ge, na Globo e no Sportv

COPA DO BRASIL
CRUZEIRO.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

