
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}cruzeiro{% endblock title %}
{% block main_title %}cruzeiro{% endblock main_title %}
{% block second_title %}Diniz permanece no Cruzeiro Alexandre Mattos avalia situação de técnico{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Diniz permanece no Cruzeiro? Alexandre Mattos avalia situação de técnico
Segundo dirigente, treinador tem trabalhado "incansavelmente" pela melhora do time


O técnico Fernando Diniz segue prestigiado pela diretoria do Cruzeiro.  Foi o que garantiu o CEO do clube, Alexandre Mattos.  Ele disse, entretanto, que será tudo avaliado após o final do Campeonato Brasileiro, no qual a Raposa ainda briga por uma vaga na Conmebol Libertadores de 2025.</p>
<p class='noticia-conteudo'>CEO do Cruzeiro prega cautela com Gabigol: "Se não der, o mundo não vai acabar"


- Ele tem contrato até o ano que vem.  Vamos trabalhar juntos para que isso se mantenha, até se alongue.  Vamos acabar o campeonato, ver como Cruzeiro vai terminar, os objetivos, já conversamos de formatação de elenco.</p>
<p class='noticia-conteudo'>. .  Quando se contrata o Fernando, um treinador único, corajoso, foi contra o sistema, vitorioso, atual campeão da Libertadores, entre outros títulos, vamos fazer de tudo para dar certo e que ele fique muitos anos lá com a gente - comentou o dirigente.</p>
<p class='noticia-conteudo'>A entrevista de Mattos foi durante evento organizado pela CBF.  O dirigente garantiu que o elenco e o treinador estão focados no jogo contra o Grêmio, nesta quarta-feira, no Mineirão, pelo Brasileiro.  A Raposa está em sétimo lugar com 47 pontos.</p>
<p class='noticia-conteudo'>- A gente está focado no Grêmio, que é o que tem que fazer.  Focado nesses quatro jogos, e a partir daí, tem as definições a serem feitas.  O que a gente vê é um treinador que trabalha incansavelmente, um dos que eu peguei que mais trabalha.</p>
<p class='noticia-conteudo'>Acabamos de sair de uma derrota dolorosa, por todo o contexto, entendendo o momento do clube, que foi um momento de resgate do Cruzeiro, disputando essas finais, já eram 15 anos sem uma final continental.  Mas o que a gente vê é um treinador que trabalha incansavelmente. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_30_0.jpg"></div><p class='foto-descricao'>Alexandre Mattos e Fernando Diniz no Cruzeiro — Foto: Gustavo Aleixo/ Cruzeiro</p>
Diniz tem 11 jogos no Cruzeiro, com apenas duas vitórias, cinco derrotas e quatro empates.</p>
<p class='noticia-conteudo'>O aproveitamento é de 30%.  Mattos disse que o treinador saiu em defesa do treinador. 
- Nosso desejo é que dê muito certo.</p>
<p class='noticia-conteudo'>Pelo que a gente vê no trabalho no dia a dia, é um dos profissionais que mais trabalha.  Já está criando internamente uma identificação muito interessante com elenco, direção.  Tomara que dê muito certo, fique muitos anos.</p>
<p class='noticia-conteudo'>O tempo que vai dizer - completou. 
Assista: tudo sobre o Cruzeiro no ge, na Globo e no Sportv
50 vídeos

CRUZEIRO.</p>
{% endblock main_content %}

