
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}santos{% endblock title %}
{% block main_title %}santos{% endblock main_title %}
{% block second_title %}Diretor do Santos nega negociação, mas diz que Renato Gaúcho tem o perfil para ser técnico do time{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Diretor do Santos nega negociação, mas diz que Renato Gaúcho "tem o perfil" para ser técnico do time
Peixe ainda não definiu quem será seu próximo treinador, mas comandante do Grêmio está em "lista" de Paulo Bracks



"É um Santos que precisa de uma reformulação muito grande", diz Isabel | Voz da Torcida
Diretor executivo do Santos, Paulo Bracks disse que Renato Gaúcho, hoje no comando do Grêmio, "tem o perfil" do clube.  O Peixe ainda não definiu quem será seu próximo comandante após a saída de Fábio Carille e tem Luís Castro como seu plano A.  Porém, a contratação do português é vista como extremamente difícil.</p>
<p class='noticia-conteudo'>Nesse cenário, Portaluppi aparece como uma opção viável ao Santos.  Porém, será preciso aguardar o término do Brasileirão para abrir conversas com o gremista, que está ainda em ação com sua atual equipe na disputa, mas não deve permanecer em Porto Alegre em 2025. 
– Vou dar uma resposta pessoal.</p>
<p class='noticia-conteudo'>Eu entendo que ele tem o perfil, não necessariamente que vá colocar ele numa mesa de possibilidade ou de negociação, ele é treinador do Grêmio, mas a minha resposta pessoal de analista de futebol é que sim (tem o perfil para treinar o Santos).  Ele tem uma experiência muito grande, mais de cinco anos, e tem essa identidade de ofensividade.  Sou admirador do trabalho dele, dos êxitos que tem tido com a recuperação e projeção do Grêmio nos últimos anos – disse Paulo Bracks, em entrevista à Rádio Gaúcha.</p>
<p class='noticia-conteudo'>Mais sobre o Santos:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_28_0.jpg"></div><p class='foto-descricao'>Renato Gaúcho Grêmio — Foto: Lucas Uebel / Grêmio, DVG</p>
O Santos trata o comandante gremista como uma opção real para o time em 2025, mas pretende, primeiro, jogar a toalha por Castro, que não tem pressa para definir seu futuro e deve dar uma reposta ao clube em meados de dezembro. 
Cuca aparece como opção, mas sua contratação demandaria um enfrentamento da diretoria em relação a uma possível rejeição por parte da torcida alvinegra. 


50 vídeos.</p>
{% endblock main_content %}

