
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}corinthians{% endblock title %}
{% block main_title %}corinthians{% endblock main_title %}
{% block second_title %}Diretoria do Corinthians cancelou investigação interna sobre caso VaideBet antes do resultado{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Diretoria do Corinthians cancelou investigação interna sobre caso VaideBet antes do resultado
Clube contratou EY para apurar possíveis irregularidades no contrato de patrocínio



Tudo sobre o processo de impeachment de Augusto Melo
Menos de um mês após ter contratado a EY, empresa de consultoria e auditoria, para apurar possíveis irregularidades no contrato de patrocínio com a VaideBet, o Corinthians suspendeu a investigação — antes que o trabalho pudesse ser concluído. 
O cancelamento da investigação foi formalizado para a empresa em 18 de junho de 2024, em e-mail enviado por Luiz Ricardo Alves, o Seedorf, então diretor-adjunto financeiro do clube.  O ge obteve a cópia.</p>
<p class='noticia-conteudo'>Ele afirmou na mensagem que, após reunião com o presidente Augusto Melo e com a diretoria, foi decidida a suspensão de "todo e qualquer trabalho em andamento" (leia a mensagem na íntegra abaixo). 
Mais notícias sobre o Corinthians:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_24_0.jpg"></div><p class='foto-descricao'>Augusto Melo se reuniu com diretores e cancelou investigação da EY antes de conclusão — Foto: Marcos Ribolli</p>
A EY era prestadora de serviço do Corinthians desde o início do mandato de Augusto, porém com o escopo de consultoria, para auxiliar na reestruturação financeira e administrativa. 
A diretoria alvinegra contratou outra área da companhia em maio, o departamento forense, para que este conduzisse apuração a respeito do contrato com a VaideBet.</p>
<p class='noticia-conteudo'>No início daquele mês, foi revelado que o patrocínio teria R$ 25 milhões repassados em comissão para a Rede Social Media Design, empresa de Alex Cassundé, aliado de Augusto durante a campanha.  A Polícia Civil abriu inquérito ainda em maio para investigar transferências financeiras para possíveis empresas de fachada. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_24_1.jpg"></div><p class='foto-descricao'>E-mail em que Corinthians cancela investigação da EY sobre contrato de patrocínio — Foto: Reprodução</p>
Profissionais da área forense da EY investigaram o caso até o momento da suspensão — eles buscaram documentos, e-mails, entre outras evidências.</p>
<p class='noticia-conteudo'>Em meados de junho, antes do fim do trabalho, a diretoria do Corinthians informou que a apuração havia sido cancelada. 
Estão copiados no e-mail que suspende o serviço, além de Seedorf e do presidente Augusto, representantes da companhia e os seguintes membros do Corinthians:

Procurado pelo ge para esclarecer por que a investigação foi interrompida antes de sua conclusão, o Corinthians afirmou que colabora com as autoridades no inquérito em andamento. 
Motivos e divergências
A razão para o cancelamento da investigação não foi esclarecida formalmente pelo Corinthians — nem à própria auditoria, em junho, nem em contato com a reportagem, nesta quarta-feira.</p>
<p class='noticia-conteudo'>De acordo com pessoas ouvidas pelo ge, no entanto, havia descontentamento de membros da diretoria do clube em relação à apuração que vinha sendo conduzida pela empresa.  Eles entendiam que não deveriam ser investigados internamente. 
A reportagem procurou todas as pessoas ligadas ao clube que estavam copiadas no e-mail.</p>
<p class='noticia-conteudo'>Marcelo Mariano afirma que o assunto está sendo tratado pelo departamento jurídico e que prefere não se manifestar. 
Vinicius Cascone alega que o cancelamento foi uma recomendação do jurídico da época, além de haver também insatisfação de Romeu Tuma Júnior, presidente do Conselho Deliberativo. 
— Foi uma orientação do diretor jurídico na época, que foi acatada pelo presidente Augusto.</p>
<p class='noticia-conteudo'>O presidente do Conselho Deliberativo também se mostrava insatisfeito com o contrato — afirma Cascone. 
Leonardo Pantaleão, que havia acabado de chegar à administração de Augusto, no cargo de diretor de negócios jurídicos, também copiado no e-mail, confirma que havia questionado o custo do serviço. 
– Foi logo que cheguei no jurídico.</p>
<p class='noticia-conteudo'>Analisei o contrato e verifiquei que era um custo enorme para o Corinthians.  Fiz a seguinte ponderação: qual a lógica de contratar a EY para investigar um assunto que a polícia estava investigando e de graça? – diz, em conversa com a reportagem. 
Além disso, havia também discussões e críticas no âmbito do Conselho Deliberativo.</p>
<p class='noticia-conteudo'>Tuma, presidente do órgão, questionou a contratação de uma empresa cujo CNAE (Classificação Nacional de Atividades Econômicas) não era compatível com o serviço de investigação. 
– Adverti lateralmente em um e-mail, face notícias da imprensa, que eles não tinham CNAE para proceder investigações.  Nunca pressionei a diretoria a fazer qualquer coisa — declara Tuma.</p>
<p class='noticia-conteudo'>@rodrigocapelo
CORINTHIANS.</p>
{% endblock main_content %}

