
    {% extends "html/modelo.html" %}
    {% load static %}
    

    {% block title %}Diretor do Botafogo não crava saídas de Almada e Luiz Henrique em 2025 Querem ficar{% endblock title %}
    {% block main_title %}Diretor do Botafogo não crava saídas de Almada e Luiz Henrique em 2025 Querem ficar{% endblock main_title %}
    {% block second_title %}None{% endblock second_title %}
    {% block main_content %}<p class='noticia-conteudo'>Diretor do Botafogo não crava saídas de Almada e Luiz Henrique em 2025: "Querem ficar"
Jogadores têm futuro possivelmente ligado ao Lyon, clube de John Textor na França



“Só tenho motivo para acreditar que o Botafogo vai ser campeão”, diz Pedro Dep
Thiago Almada e Luiz Henrique, as duas contratações mais caras da história do Botafogo, podem ficar no clube para 2025.  A dupla têm o futuro ligado ao Lyon, clube de John Textor na França, mas o bom momento no Rio de Janeiro pode mudar os planos. 

- Um fato curioso, e eu também estou curioso para 2025, é que os jogadores querem ficar agora.</p>
<p class='noticia-conteudo'>Temos Almada, Luiz Henrique, Igor (Jesus). ..</p>
<p class='noticia-conteudo'>Eles estão muito felizes aqui.  O ambiente é muito bom.  É um fato curioso para 2025 - contou Alessandro Brito, diretor de gestão esportiva do Alvinegro, à ESPN.</p>
<p class='noticia-conteudo'>A dupla chegou ao Alvinegro com participação da Eagle Football, empresa multi-clubes de John Textor.  O norte-americano, inclusive, chegou a anunciar que Almada iria para o Lyon em janeiro de 2025 em live há quatro meses. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}n_6_0.jpg"></div>Luiz Henrique e Almada, do Botafogo — Foto: Vítor Silva/Botafogo
O caso de Luiz Henrique é diferente.</p>
<p class='noticia-conteudo'>A ponte para a Europa foi um dos argumentos para convence-lo a voltar para o Brasil junto ao Real Bétis, clube que atuava antes, mas não há um tempo previsto para que ele possivelmente vá para o Lyon. 
O bom momento vivido por Almada e Luiz Henrique - ambos voltaram a ser convocados para as respectivas seleções e são titulares do Alvinegro - pode alterar a rota.  Alessandro também garantiu que o clube continuará utilizando o artefato da empresa multi-clubes para atrair mais jogadores de renome internacional.</p>
<p class='noticia-conteudo'>- Irão acontecer (contratações neste formato), não só pensando no Lyon, mas irão acontecer porque conseguimos demonstrar na plataforma da Eagle que dá muito certo.  Mesmo que você gaste 10, 12 ou 15 (milhões de euros) o potencial de uma revenda futura vai ser maior - completou. 


Assista: tudo sobre o Botafogo no ge, na Globo e no sportv
50 vídeos
BOTAFOGO.</p>
{% endblock main_content %}
    