
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}atletico_mg{% endblock title %}
{% block main_title %}atletico_mg{% endblock main_title %}
{% block second_title %}Do gol ao ataque o caminho de Deyverson até virar protagonista do Atlético-MG na Libertadores{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Do gol ao ataque: o caminho de Deyverson até virar protagonista do Atlético-MG na Libertadores
Do campo de terra de Comunidade no Rio de Janeiro, camisa 9 tenta entrar para seleta lista de jogadores que balançaram as redes em duas finais da competição continental



Carisma, provocações, catimba e gols: o jeito Deyverson de ser
Deyverson "gastou" o cotovelo como goleiro na infância.  No campo de terra, o Carecão — localizado na Comunidade de Santa Margarida, na zona oeste do Rio de Janeiro, o centroavante do Atlético-MG deu os primeiros passos no futebol.  Mas, ali, tudo era brincadeira.</p>
<p class='noticia-conteudo'>E mesmo quando ainda não sabia o que estava por vir, fez a escolha pelo ataque. 
Hoje, o camisa 9 é protagonista do Galo na Conmebol Libertadores.  No dia 30 de novembro, ele tenta entrar para uma seleta lista de brasileiros que marcaram em duas finais da competição continental.</p>
<p class='noticia-conteudo'>O adversário é o Botafogo, às 17h (de Brasília), na Argentina. 

Deyverson, atacante do Atlético-MG, assina camisa de torcedor

A lista tem nomes como Coutinho, ex-jogador do Santos histórico, Nelinho, Raí, Muller, Fabão e Rafael Sobis.  O último a alcançar o feito foi Gabigol - 2019 e 2021.</p>
<p class='noticia-conteudo'>Coutinho (1962 e 1963)
Nelinho (1976 e 1977)
Raí (1992 e 1993)
Müller (1993 e 1994)
Fabão (2005 e 2006)
Rafael Sóbis (2006 e 2010)
Gabigol (2019 e 2021)
Deyverson Brum Silva teve uma infância simples no Rio de Janeiro.  Mas, desde pequeno, jogava bola na rua ou no Carecão, quadra bem próxima da sua casa. 
— Minha rotina sempre foi em prol do futebol.</p>
<p class='noticia-conteudo'>Sempre fui sonhador.  Um menino de comunidade que queria ser jogador. 
— Eu vivia no Carecão, que era um campo na minha rua.</p>
<p class='noticia-conteudo'>Quatro passos estava no campo.  Muitas vezes fui no gol, tentei ser goleiro, não deu certo.  Fui ao limite para ser atacante e colhi os frutos.</p>
<p class='noticia-conteudo'>Jogava na rua, golzinho, colocava chinelo.  Não tinha noção de nada.  Jogava livre.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_58_0.jpg"></div><p class='foto-descricao'>Deyverson - COPA LIBERTADORES 2024, ATLETICO-MG X FLUMINENSE — Foto: Gilson Lobo/AGIF</p>
Como atacante, jogou na escolinha do pai — o Aesc Mamaô de Campo Grande.  Após ser negado em muitos testes, veio o primeiro "sim", no Grêmio Mangaratibense. 
O início não fácil.</p>
<p class='noticia-conteudo'>Era atleta amador, com pouca estrutura e alimentação aos atletas.  No período, revezava nas vendas na praia para ajudar em casa.  Ele vendia salgados e refrigerante.</p>
<p class='noticia-conteudo'>Com o tempo, profissionalizado na equipe.  Atuou na Série C do Campeonato Carioca antes de dar um salto para fora do Brasil e fazer testes no Benfica B. 
— Foi difícil, não tinha condições.</p>
<p class='noticia-conteudo'>Meu pai fazia dívidas para eu treinar.  E eu realizei.  Fiquei como amador e depois como profissional.</p>
<p class='noticia-conteudo'>Na sequência, jogou no Belenenses, também de Portugal, e no Colônia, da Alemanha, até ter o passe comprado pelo Levante, da Espanha.  O time acabou rebaixado e o emprestou ao Alavés. 
Da Espanha, teve a primeira passagem pelo Palmeiras.</p>
<p class='noticia-conteudo'>Comprado pelo clube, ficou por três anos e marcou 24 gols. 
Retornou à Europa emprestado.  Depois, retornou ao time paulista e entrou para a história ao marcar o gol do título da Libertadores, diante do Flamengo, em 2020.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_58_1.jpg"></div><p class='foto-descricao'>Gol de Deyverson pelo Palmeiras — Foto: REUTERS/Andres Cuenca Olaondo</p>
Deyverson foi a última contratação do Atlético-MG em 2024.  Veio como uma oportunidade de negócio.  Não havia completado os sete jogos, em Série A, pelo Cuiabá, e tinha a missão de ocupar a lacuna deixada por Hulk, que estava lesionado na época.</p>
<p class='noticia-conteudo'>Com a nove, fez o que se espera dele: decidiu jogos e ajudou ao Atlético a chegar à final da Conmebol Libertadores. 
Nas quartas de final, saiu do banco e marcou ambos os gols que classificaram a equipe.  Na semi, dois gols e uma assistência contra o poderoso River Plate.</p>
<p class='noticia-conteudo'>Briga para ser o melhor atleta da América.  E para o garoto de Campo Grande, a vitória já veio muito antes. 
— Se eu não realizasse esse sonho, talvez, estaria na praia vendendo salgado, refrigerante.</p>
<p class='noticia-conteudo'>Não estaria exercendo o que eu amo. 
Assista: tudo sobre o Atlético no ge, na Globo e no Sportv
50 vídeos

ATLÉTICO-MG.</p>
{% endblock main_content %}

