
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Do lixão à Champions conheça a história de Alexsandro Ribeiro, zagueiro em destaque no Lille{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Do lixão à Champions: conheça a história de Alexsandro Ribeiro, zagueiro em destaque no Lille
Zagueiro atuou com Vini Jr.  na base do Flamengo, viveu como catador de latinhas e rodou por Portugal antes de disputar principal torneio do planeta: "Tornei a dificuldade a minha força"



Alexsandro Ribeiro chora ao lembrar de tempo no lixão: "Me reergui pela minha família"
Alexsandro Ribeiro, zagueiro que vem se destacando no Lille, da França, é mais um brasileiro sobrevivente.  A história das origens do jogador de 25 anos é parecida com a de muitos jovens, como ele conta em entrevista ao ge.</p>
<p class='noticia-conteudo'>Uma trajetória de superação de dificuldades até chegar à Champions League, principal torneio de clubes no mundo. 
Irmão mais velho, ele cresceu como o "pai dos irmãos" na Comunidade do Dique II, em Duque de Caxias, onde lutava para ter o que comer.  Ainda na adolescência, ele começou a jogar no Flamengo junto a Vini Jr.</p>
<p class='noticia-conteudo'>, mas enfrentou um caminho diferente do colega.  Alex ficou mais de um ano sem jogar até ter uma oportunidade na terceira divisão de Portugal.  Depois, rodou no país lusitano até chegar ao Lille, onde reencontrou Vinicius em duelo contra o Real Madrid, no mês passado.</p>
<p class='noticia-conteudo'>✅Clique aqui para seguir o novo canal ge Futebol Internacional no WhatsApp
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_18_0.jpg"></div><p class='foto-descricao'>Alex Ribeiro, zagueiro do Lille, da França — Foto: ANP via Getty Images</p>
A "Rampa" era um dos grandes símbolos do lixão de Jardim Gramacho, em Duque de Caxias, cidade localizada na Baixada Fluminense, ao lado do Rio de Janeiro.  O lugar fez parte da vida de Alexsandro por muitos anos.  Era lá que a mãe vendia objetos para ganhar dinheiro e sustentar os cinco filhos.</p>
<p class='noticia-conteudo'>Foi também na "Rampa" que Alex ganhou algumas roupas. 
Muito longe de Gramacho, Alex se emociona ao lembrar dos momentos difíceis que passou em Duque de Caxias.  O jogador brasileiro diz que às vezes imagina que alguém o beliscará para acordar do sonho que vive.</p>
<p class='noticia-conteudo'>- Sempre me reergui pensando na minha família.  A situação que a gente estava era muito precária, e eu queria tirar dessa situação.  Mesmo que aquilo me entristecesse, me desanimasse, quando eu abria a geladeira e não tinha nada para comer, abrindo o armário e não tinha um biscoito.</p>
<p class='noticia-conteudo'>. .  Aquela situação que era negativa, eu transformava em positiva para me reerguer.</p>
<p class='noticia-conteudo'>Foi a falta de tudo, do básico, dentro da minha casa que eu fiz como se fosse positiva.  Eu menti para mim mesmo.  Eu sabia que as coisas poderiam não acontecer, mas eu voltei a acreditar e fiz acontecer.</p>
<p class='noticia-conteudo'>Eu desisti, mas com as dificuldades que passei dentro de casa, eu tornei isso a minha força - diz Alex. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_18_1.jpg"></div><p class='foto-descricao'>Aterro sanitário em Gramacho, local que fez parte da vida de Alexsandro — Foto: Ascom</p>
Do Alex de hoje para o Alex de 2018:
Alexsandro afirma que se motivava a mudar o rumo de sua própria história e de toda a sua família. 
- "Alex, não desista, cara.</p>
<p class='noticia-conteudo'>Você é capaz de realizar o seu sonho.  Torne essa situação positiva em negativa.  Agarre com todas as suas forças que você vai conseguir.</p>
<p class='noticia-conteudo'>Você vai realizar o sonho de dar a casa da sua mãe, de tirar a sua família dessa situação.  Segue firme e acredite em Deus". 
"Sempre tive em mente que eu era o 'pai dos meus irmãos'", diz zagueiro Alexsandro Ribeiro
As coisas pareciam mais encaminhadas para Alex quando ele começou a jogar na base do Flamengo, em 2014.</p>
<p class='noticia-conteudo'>Foi uma geração vitoriosa.  Em dois anos no clube, o zagueiro conquistou sete títulos junto de jogadores como Hugo Souza, hoje goleiro do Corinthians, e Vini Jr. , astro do Real Madrid e cotado como um dos melhores jogadores do mundo.</p>
<p class='noticia-conteudo'>Mas estar no clube do coração o atrapalhou, como ele mesmo avalia. 
- Eu fiquei vivendo em um sonho.  Foi por isso também que me atrapalhou um pouco na fase de adaptação, de maturação dentro do clube.</p>
<p class='noticia-conteudo'>O Flamengo é um clube muito exigente.  Na altura, não tinham muitos jogadores da base indo para o profissional.  Eu queria chegar no profissional, mas estava vivendo aquele sonho.</p>
<p class='noticia-conteudo'>Eu me sentia muito confortável, muito tranquilo.  Foi uma das situações que me atrapalharam bastante, de estar jogando no meu time do coração e isso me acomodar muito. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_18_2.jpg"></div><p class='foto-descricao'>Sub-17 do Flamengo campeão carioca de 2017 tinha Vini Jr, Hugo Souza, Alexsandro Ribeiro e Lincoln — Foto: CR Flamengo</p>
Geladeira vazia e sobrevivência
Sem espaço no Flamengo, Alex optou por deixar o clube em dezembro de 2016.</p>
<p class='noticia-conteudo'>Ali começou uma jornada de muitas portas fechadas, geladeira vazia e resiliência.  O zagueiro fez mais de 10 testes, incluindo nos cariocas Botafogo e Vasco.  O Fluminense foi o clube em que ele permaneceu por mais tempo.</p>
<p class='noticia-conteudo'>Depois de dois meses, o Tricolor dispensou Alexsandro. 
- Foi o ano mais difícil da minha vida.  Fiquei sem clube, estava desempregado.</p>
<p class='noticia-conteudo'>Estava buscando um clube para poder mostrar o que sei fazer, mas nenhum clube conseguia ficar comigo.  Eu estava com a mente muito positiva.  Eu sou o irmão mais velho, tenho quatro irmãos.</p>
<p class='noticia-conteudo'>Eu não podia deixar essas coisas me deixarem pra baixo.  No início eu via como aprendizado.  Depois de um ano e meio, eu não queria mais.</p>
<p class='noticia-conteudo'>Levei muitos “não”, fiquei muito cansado - lembra. 
Após um ano e meio sem clube, o irmão mais velho precisava de dinheiro para ajudar em casa.  Os trabalhos foram vários: em obras, com corte de grama, como feirante, catador de latinha.</p>
<p class='noticia-conteudo'>. .  O importante mesmo era ter o que comer.</p>
<p class='noticia-conteudo'>Desistir era um caminho mais fácil, mas Alex seguiu na luta por um clube. 
Alexsandro Ribeiro trabalhou no lixão antes de carreira como jogador de futebol
A porta fechada no Fluminense, porém, deixou também um "paizão" uruguaio para Alex.  Leo Percovich, treinador do sub-20 do clube na época, ajudou o zagueiro a ganhar uma nova oportunidade.</p>
<p class='noticia-conteudo'>Na época, ele estava no Resende, também do Rio, e teve a chance de ir para Portugal.  E "convocou" o zagueiro. 
Do outro lado do Atlântico
Foi aí que Alexsandro saiu do Brasil pela primeira vez, para ir aos Açores, ilha de Portugal localizada no meio do Oceano Atlântico.</p>
<p class='noticia-conteudo'>O Praiense, da terceira divisão, foi o clube que acolheu o ainda jovem defensor.  Ele chegou "no continente" duas temporadas depois, quando foi para o Amoras.  De lá, fechou com o Chaves, da segunda divisão.</p>
<p class='noticia-conteudo'>Depois de uma temporada de destaque, Alex acreditava que ganharia espaço em um dos grandes do país. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_18_3.jpg"></div><p class='foto-descricao'>Alexsandro Ribeiro, do Lille, e Neymar, no PSG, em ação pelo Campeonato Francês — Foto: Catherine Steenkeste/Getty Images</p>
O que chegou foi uma proposta do Lille, da França.  Alex aceitou na hora.</p>
<p class='noticia-conteudo'>Ele diz ser apaixonado pela cidade e pelo clube.  Com contrato até 2028, o zagueiro vive um momento muito positivo pela equipe.  Em outubro, ele estava em campo na vitória por 1 a 0 sobre o Real Madrid na Champions League.</p>
<p class='noticia-conteudo'>Antes do jogo, um reencontro marcou o camisa 4. 
- Quando estava no túnel para entrar em campo, do nada o Vini veio e me deu um abraço.  Falou: “Estou feliz por te ver aqui, irmão.</p>
<p class='noticia-conteudo'>Depois do jogo a gente conversa”.  Aquilo encheu meu coração de alegria e motivou ainda mais dentro de campo, o que foi um pouco ruim para ele.  Aquilo me inspirou de uma forma muito grande - conta.</p>
<p class='noticia-conteudo'>Alexsandro Ribeiro destaca vitória do Lille sobre o Real Madrid na Champions League e reencontro com Vini Jr
- A gente ficou 10 anos sem se ver, sem se falar.  Ele lembrou daquele tempo que a gente estudava em Vargem Grande, do tempo que a gente jogava junto, e aquilo foi muito positivo.  Ficamos resenhando o tempo todo (depois do jogo) falando da época de escola, da época de Flamengo.</p>
<p class='noticia-conteudo'>Ele falou o quanto eu evoluí, o quanto eu cresci, que estava feliz.  Eu também estava feliz por ver ele.  Eu o vi com 14, 15 anos.</p>
<p class='noticia-conteudo'>. .  Depois de 10 anos, vi dessa forma, disputando Bola de Ouro.</p>
<p class='noticia-conteudo'>Fico feliz por ele.  Ele vem de uma situação difícil, em São Gonçalo, onde ele morava.  Eu lembro do primeiro jogo dele, contra o Atlético-MG, e aquilo me motivou a avançar.</p>
<p class='noticia-conteudo'>Sem ele saber, ele motiva muitas pessoas.  É um moleque de ouro - elogia Alex. 
Agora o objetivo de Alexsandro é vestir a amarelinha.</p>
<p class='noticia-conteudo'>Para o zagueiro, a seleção brasileira não é apenas um sonho, mas sim uma "realidade futura". 
- Estou num momento muito positivo junto com o clube.  Estamos numa crescente muito boa.</p>
<p class='noticia-conteudo'>Individualmente, as coisas estão acontecendo.  Pouco a pouco, meu nome está expandido, meu futebol está chegando em todo lado, inclusive no Brasil, que acho o principal.  Continuando assim, tenho certeza que esse sonho vai se tornar realidade.</p>
<p class='noticia-conteudo'>Copa do Mundo também, com certeza.  Sei que está um pouco distante, mas é pensar no agora.  Passo a passo, dia a dia, semana a semana, ir plantando e no final colher coisas boas.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}

