
    {% extends "html/modelo.html" %}
    {% load static %}
    

    {% block title %}Dono do Botafogo, Textor reforça busca por clube inglês e explica fracasso em negócio com Everton{% endblock title %}
    {% block main_title %}Dono do Botafogo, Textor reforça busca por clube inglês e explica fracasso em negócio com Everton{% endblock main_title %}
    {% block second_title %}None{% endblock second_title %}
    {% block main_content %}<p class='noticia-conteudo'>Dono do Botafogo, Textor reforça busca por clube inglês e explica fracasso em negócio com Everton
Norte-americano vê clube na Premier League como fundamental para funcionamento de rede multi-clubes: "Te faz conseguir melhores jogadores no futuro"



Depois do tropeço em casa, líder Botafogo tem folga até quinta
O dono da SAF do Botafogo, John Textor, explicou pela primeira vez sobre o fracasso na tentativa de adquirir o Everton, da Inglaterra.  Em agosto, o norte-americano ficou perto de comprar o clube, mas foi atravessado pelo Grupo Friedkin, que também é dono da Roma. 

A Eagle Football, empresa multi-clubes de Textor, tem 45% das ações do Crystal Palace, mas Textor não toma decisões majoritárias no clube, que possui diferentes acionistas.</p>
<p class='noticia-conteudo'>Por isso, o empresário busca um novo clube na Inglaterra, visando o funcionamento da rede de clubes.  Para adquirir um novo clube na Inglaterra, vale ressaltar, ele precisa vender a parte que possui do Palace. 
- Não temos uma posição majoritária no Crystal Palace.</p>
<p class='noticia-conteudo'>Temos 45%, mas não conseguimos colaborar no elenco quando um clube precisa de um zagueiro ou outro precisa de um ponta.  Essa colaboração entre a rede-multiclubes, que é imprescindível, faz falta.  Os funcionários de cada clube estão se falando a todo momento e eles gostam uns dos outros.</p>
<p class='noticia-conteudo'>Eu demiti as pessoas que não colaboravam e agora temos um grupo que acredita uns nos outros.  Não conseguimos fazer isso com o Crystal Palace porque lá tem muitos acionistas e pode gerar conflito de interesse - explicou em participação no "Olé Football Summit" nesta terça-feira. 

Além de Botafogo e Crystal Palace, Textor também é dono do Lyon (França) e do RWD Molenbeek (Bélgica).</p>
<p class='noticia-conteudo'>Há também o FC Florida, projeto de base de John nos Estados Unidos.  É comum haver transações entre os clubes e que uma contratação já venha traçada com uma "ponte" para outro time no futuro. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}n_3_0.jpg"></div>John Textor - Botafogo x Criciúma — Foto: André Durão
- Nossos relacionamentos na Inglaterra são muito importantes para decidir possíveis contratações.</p>
<p class='noticia-conteudo'>Estamos de olho em um clube da Premier League ou clubes da segunda divisão que podem subir.  Os jogadores gostam mais de um projeto do que propriamente de um time, isso te faz conseguir melhores jogadores no futuro.  Temos que resolver isso logo.</p>
<p class='noticia-conteudo'>Estávamos muito perto do Everton, é a primeira vez que falo isso.  Faltavam 24 horas para enviar os documentos mas eles estavam em leilão com outro comprador.  Às vezes você precisa mais do que um aperto de mão, e foi isso que aconteceu.</p>
<p class='noticia-conteudo'>Erros acontecem, o Everton não aconteceu, e deve ter um motivo para isso.  Acredito que teremos um clube melhor em breve - completou. 
Thiago Almada, contratação mais cara da história do futebol brasileiro, é um desses casos.</p>
<p class='noticia-conteudo'>Adquirido pelo Botafogo em julho, o argentino tem o futuro ligado ao Lyon.  O projeto europeu foi uma das formas que Textor conseguiu convencer o meia a atuar no Alvinegro.  O camisa 23, contudo, tem gostado do período no Rio de Janeiro e pode ficar por mais tempo.</p>
<p class='noticia-conteudo'>- Eu não assisto à MLS.  Não vou criticar, mas não gosto de algumas regras da liga de limitar talento.  Não sou fã e isso afeta meu desejo de consumir.</p>
<p class='noticia-conteudo'>Duas pessoas me levaram ao Almada: um jogador ex-FC Florida chamado Julian Gressel, foi o melhor novato da liga em 2017 e hoje está no Inter Miami, que jogava pelo Atlanta United.  Foi lá que descobri Almada.  Dias depois recebi a ligação de um dos donos do Atlético de Madrid dizendo que o amava.</p>
<p class='noticia-conteudo'>Apesar de ter gostado dele, eu não confiava no nível da MLS.  Continuei assistindo e qualidade é qualidade, independentemente do lugar.  Vi qualidade excepcional no Thiago e quis trazê-lo.</p>
<p class='noticia-conteudo'>Ele teve o desejo de fazer parte do projeto.  Ele quer ganhar títulos aqui.  Ele sabe que um dia pode jogar na Europa, mas quer aproveitar aqui, a família está mais perto.</p>
<p class='noticia-conteudo'>Está sendo uma boa experiência. 


Assista: tudo sobre o Botafogo no ge, na Globo e no sportv
50 vídeos
BOTAFOGO.</p>
{% endblock main_content %}
    