
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}cruzeiro{% endblock title %}
{% block main_title %}cruzeiro{% endblock main_title %}
{% block second_title %}Dono do Cruzeiro se manifesta sobre Gabigol A gente espera, é o nosso sonho{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Dono do Cruzeiro se manifesta sobre Gabigol: "A gente espera, é o nosso sonho"
Pedro Lourenço afirma que se não fechar com atacante do Flamengo, vai contratar outro jogador do mesmo nível

20/11/2024 17h56 Atualizado

Dono do Cruzeiro espera contratar Gabigol e seguir com Byanca Brasil
O empresário Pedro Lourenço, dono da SAF do Cruzeiro, admitiu que aguarda a conclusão do acerto do clube com o atacante Gabigol do Flamengo.  A declaração foi dada no Mineirão, depois da conquista da Campeonato Mineiro de futebol feminino pela equipe cruzeirense. 
— O Gabigol, a gente espera e é nosso sonho, né? Esperamos que nós teremos a virada do ano feliz, espero — afirmou Pedro.</p>
<p class='noticia-conteudo'>O empresário ainda declarou que, caso não contrate o jogador do Flamengo, pretende buscar um atacante do mesmo nível no mercado. 
— Com certeza, se não for o Gabigol, vai ser um outro grande jogador.  Nós vamos dar um presente de Natal, de virada de ano para torcida, isso pode ter certeza que nós vamos dar — disse o empresário.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_3_0.jpg"></div><p class='foto-descricao'>Gabigol confirmou que deixa o Flamengo no fim do ano — Foto: Gilvan de Souza / CRF</p>

A reportagem do ge noticiou o acerto entre Cruzeiro e Gabigol logo depois do título do Flamengo na Copa do Brasil, com a vitória por 1 a 0 sobre o Atlético-MG, na Arena MRV.  Em entrevista ainda no campo de jogo, o atacante anunciou a saída do time rubro-negro. 
— Foi um ano conturbado para mim individualmente, (houve a) questão do doping, depois um treinador que não me respeitava como jogador.</p>
<p class='noticia-conteudo'>Durante esses momentos, nunca tentei externar isso de alguma forma, mas foi período horrível para mim — disse Gabigol depois da final da Copa do Brasil. 
A diretoria do Cruzeiro trata o atacante como o principal investimento em termos salariais para a próxima temporada.  O clube ofereceu ao atleta um contrato de quatro anos, ainda com um pagamento de luvas ao atacante do Flamengo.</p>
<p class='noticia-conteudo'>De acordo com a apuração do ge, os vencimentos de Gabigol no Cruzeiro serão próximos de R$ 3 milhões, a partir de janeiro (clique aqui e saiba mais).  Esse montante inclui salário, direitos de imagem e luvas, que vão ser pagas mensalmente.  As luvas correspondem à aquisição dos direitos econômicos, que passariam a ser de posse do jogador por ficar livre após o fim do contrato com o Flamengo.</p>
<p class='noticia-conteudo'>Ainda não há assinatura de acordo entre Cruzeiro e Gabigol, mas todas as bases estão desenhadas para a oficialização.  Gabriel Barbosa, de 28 anos, sempre foi um desejo do dono da SAF do Cruzeiro, Pedro Lourenço.  Ele teceu elogios ao atacante, na janela do meio do ano, mas informou que não teria condições de investir naquele momento.</p>
<p class='noticia-conteudo'>Mais notícias do Cruzeiro
"Não vou ficar no Flamengo", revela Gabigol após conquista da Copa do Brasil
A posição é o ponto de atenção principal do Cruzeiro para a próxima temporada.  Em diversos momentos, Pedro Lourenço disse que busca um homem-gol para o próximo ano, ressaltando esse desejo recentemente. 
Gabigol se tornou ídolo do Flamengo.</p>
<p class='noticia-conteudo'>Em seis anos, marcou 160 gols em 305 jogos pelo clube.  Ganhou, entre outros títulos, duas Conmebol Libertadores (2019 e 2022), dois Brasileiros (2019 e 2020) e duas Copas do Brasil (2022 e 2024). 
O contrato do atacante com a equipe rubro-negra acaba no dia 31 de dezembro deste ano.</p>
<p class='noticia-conteudo'>Houve longa negociação para renovação do contrato, mas sem acordo entre as partes. 
Assista: tudo sobre o Cruzeiro no ge, na Globo e no Sportv
50 vídeos

COPA DO BRASIL
CRUZEIRO.</p>
{% endblock main_content %}
{% block cor_categoria %}#003399{% endblock cor_categoria %}

