
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Dorival sugere reduzir limite de estrangeiros em clubes brasileiros Vamos pagar preço alto{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Dorival sugere reduzir limite de estrangeiros em clubes brasileiros: "Vamos pagar preço alto"
Técnico também alerta para saída prematura de jovens jogadores do País


O técnico da Seleção, Dorival Júnior, propôs um debate sobre a redução do limite de atletas estrangeiros nos clubes do Brasil.  O tema foi abordado pelo treinador durante o evento "Summit CBF Academy", na manhã desta terça-feira, em São Paulo. 
Convidado para participar de um dos painéis, Dorival Júnior destacou a evolução da profissionalização do futebol brasileiro, mas apontou desafios que a modalidade ainda precisa superar.</p>
<p class='noticia-conteudo'>– Chamo a atenção para um último detalhe: a Itália abriu para que dentro da comunidade europeia 11 jogadores (estrangeiros) pudessem transitar entre seus clube.  Nós tínhamos equipes italianas com nenhum dos 11 atletas formados na Itália.  E a Itália ficou duas Copas do Mundo afastada.</p>
<p class='noticia-conteudo'>Não perceberam o quanto foi prejudicial tudo isso – comentou Dorival, que ainda prosseguiu:
– É apenas uma colocação, presidente (da CBF, Ednaldo Rodrigues), que o senhor terá com certeza reuniões.  Hoje estamos com nove atletas estrangeiros autorizados a participarem de nossos clubes.  É só um detalhe para que possamos rediscutir esse processo porque isso tem feito.</p>
<p class='noticia-conteudo'>. .  Só para vocês terem uma ideia, um levantamento nosso interno (mostrou que) de 20 clubes da Série A, 12 tinham centroavantes estrangeiros.</p>
<p class='noticia-conteudo'>Daqui a um ano e meio, dois anos, vamos pagar um preço muito alto, porque não teremos quem vender, porque nossa iniciativa de lançar vai se concentrar exclusivamente nos fora de série – completou. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_66_0.jpg"></div><p class='foto-descricao'>Dorival Júnior, técnico da seleção brasileira — Foto: Wagner Meier/Getty Images</p>
No início deste ano, o limite de estrangeiros que podem ser utilizados pelos clubes por partida nas competições nacionais subiu de sete para nove.  Em setembro, o ge mostrou que mais de 130 atletas nascidos em outros países jogavam o Brasileirão.</p>
<p class='noticia-conteudo'>Outro ponto de atenção destacado por Dorival foi a saída precoce de jovens jogadores do País.  São os casos, por exemplo, de Endrick e Estevão, convocados por ele para a Seleção, que foram vendidos para clubes europeus antes de completarem 18 anos. 
– É algo fundamental para a gente rever esse contexto, situações que acontecem no futebol brasileiro e merecem atenção maior de todos: a saída de nossos jovens prematuramente, sem que possam dar retorno técnico aos clubes, fazendo com que os jogadores finalizem suas formações em clubes europeus.</p>
<p class='noticia-conteudo'>Também pagaremos um preço alto daqui a pouco – disse o técnico. 
O "Summit CBF Academy" recebe dirigentes, treinadores e diversos profissionais que atuam no mercado do futebol para a discussão de temas importantes relacionados à modalidade.  Após a sua participação, Dorival Júnior não quis conceder entrevista devido a outros compromissos pessoais.</p>
<p class='noticia-conteudo'>O técnico volta a comandar a Seleção somente em março de 2025, quando o Brasil enfrenta Colômbia e Argentina..</p>
{% endblock main_content %}

