
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Doze técnicos que fizeram sucesso no futebol brasileiro e não estão mais na ativa; confira a lista{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Doze técnicos que fizeram sucesso no futebol brasileiro e não estão mais na ativa; confira a lista
Levir Culpi, Givanildo Oliveira, Abel Braga, Dunga. ..</p>
<p class='noticia-conteudo'>Treinadores experientes que já tiveram sucesso em grandes clubes do futebol nacional — e internacional — saíram de atividade sem fazer alarde



Marcelo Oliveira fala da Copa do Brasil e fim da carreira de técnico
Campeões à frente de muitos clubes, com carreira de sucesso e, se não ainda aposentados, fora de atividade.  O ge lista 12 nomes de técnicos consolidados no mercado nacional — e internacional — que saíram (ou estão fora) de cena sem fazer alarde. 
Entre os tradicionais comandantes estão, por exemplo, o do "Rei do Acesso", Givanildo Oliveira, assim como Levir Culpi, Oswaldo de Oliveira, Marcelo Oliveira, Abel Braga, Dunga, assim como o novo octogenário Jair Picerni, com 80 anos completados no último dia 20 de outubro.</p>
<p class='noticia-conteudo'>Abaixo, a lista com os treinadores que se tornaram referência no comando de grandes equipes do nosso futebol e estão fora de ação. 

Marcelo Oliveira
Bicampeão brasileiro pelo Cruzeiro em 2013 e 2014, o mineiro Marcelo Oliveira está aposentado do futebol.  Atualmente com 69 anos, ele teve a última experiência como treinador na Ponte Preta, quando deixou o cargo em dezembro de 2020.</p>
<p class='noticia-conteudo'>Campeão da Copa do Brasil com o Palmeiras, em 2015, ele acumulou passagens por clubes como Vasco, Atlético-MG e Coritiba, clube que conduziu a duas finais seguidas de Copa do Brasil (2011 e 2012), perdendo para Vasco e Palmeiras, respectivamente. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_14_0.jpg"></div><p class='foto-descricao'>Marcelo Oliveira, em sua última conquista: a Copa do Brasil de 2015 com o Palmeiras — Foto: Marcos Ribolli</p>

Levir Culpi
Treinador multicampeão, o paranaense Levir Culpi está fora de ação desde 2021.  Na ocasião, quebrou o anúncio de aposentadoria, feito dois anos antes, para retornar ao Cerezo Osaka pela quarta vez na carreira.</p>
<p class='noticia-conteudo'>Desde o fim no ciclo no clube japonês, de fato, parou de trabalhar. 
Levir foi campeão em duas ocasiões da Recopa Sul-Americana (pelo Cruzeiro em 1998 e pelo Atlético-MG em 2014), levou por duas vezes a Copa do Brasil (pelo Cruzeiro em 1996 e pelo Atlético-MG em 2014), foi campeão duas vezes da Série B (Inter de Limeira-SP, em 1988, e Atlético-MG, em 2005), conquistou uma Primeira Liga (Fluminense, em 2016) e uma Copa Centro-Oeste com o Cruzeiro, em 1999 - além de acumular diversos títulos estaduais e vice-campeonatos de grandes competições. 
Muricy e Caio enaltecem carreira e estilo de Levir Culpi como treinador
Jair Picerni
Com 80 anos recém-completados e longe do futebol desde 2012, quando treinou o União São João, Jair Picerni tem uma carreira de respeito.</p>
<p class='noticia-conteudo'>O treinador acumulou passagens por Palmeiras, Corinthians, Sport, Guarani, além de uma épica campanha à frente do São Caetano, que teve o ápice com o vice-campeonato da Libertadores, em 2002.  Nos primeiros passos como técnico, após um bom trabalho na Ponte Preta, ele recebeu o convite para dirigir a seleção brasileira olímpica e voltou de Los Angeles 1984 com a medalha de prata. 
Série 'Os Vencedores': Veja a história dos profissionais de futebol Jair Picerni e Pardal
Givanildo Oliveira
O técnico pernambucano Givanildo Oliveira, atualmente com 76 anos, vive em Olinda, onde nasceu e curte a aposentadoria.</p>
<p class='noticia-conteudo'>O último trabalho dele à beira do gramado foi no América-MG, em 2019, clube que marcou época, com títulos da Série B (1997) e Série C (2009), além de um acesso em 2015. 
Givanildo Oliveira relembra momentos no América/MG e no Santa Cruz
A alcunha de "Rei do Acesso" veio também construída com campanhas de sucessos no Paysandu (2001), Santa Cruz (2005) e Sport (2006).  Givanildo Oliveira conquistou 20 taças como técnico, entre as quais, a Copa do Nordeste de 1994, pelo Sport, e a Copa dos Campeões de 2002, com o Paysandu, título que levou o clube paraense à Libertadores no ano seguinte

Torcedor do América cria boneco com pose inusitada para homenagear Givanildo de Oliveira
Ricardo Gomes
Em 2011, Ricardo Gomes protagonizou uma das cenas mais tensas de um treinador à beira do gramado, ao sofrer um acidente vascular cerebral no comando do Vasco em uma partida contra o Flamengo.</p>
<p class='noticia-conteudo'>Recuperado, ele voltou a treinar uma equipe, o Botafogo, em 2015. 
Em 2016, treinou pela última vez uma equipe nacional, o São Paulo.  Ainda teve uma última experiência no cargo no Al Nassr, em 2018.</p>
<p class='noticia-conteudo'>Desde então, tem realizado trabalhos como coordenador técnico, como pelo Santos (2018), Bordeuax (2019/2020) e, por fim, Athletico-PR (2022).  Em 2022, também foi observador da seleção brasileira. 
Veja como foi o último dia de Ricardo Gomes no comando Tricolor e a opinião de torcedores
Dunga
Dunga soma duas passagens pela Seleção (entre 2006 e 2010 e outra entre 2014 e 2016).</p>
<p class='noticia-conteudo'>Também comandou o Internacional, em 2013.  Fora de atividade, o ex-volante dirige o projeto social "Seleção do Bem", que distribui agasalhos e refeições para moradores de rua em Porto Alegre. 
CBF anuncia demissão de Dunga do comando da Seleção Brasileira
Emerson Leão
Treinador com passagens de sucesso por equipes como Sport, Santos e São Paulo, entre outros clubes nacionais, Emerson Leão, atualmente com 75 anos, teve o último trabalho em 2012, quando esteve à frente do São Caetano.</p>
<p class='noticia-conteudo'>No auge da carreira, após passagem de sucesso no Sport, chegou ao comando da seleção brasileiro.  Atualmente, atua como comentarista esportivo. 

Técnico do Sport, Emerson Leão assume comando da Seleção Brasileira em 2000
Andrade
ídolo do Flamengo, Andrade chegou ao comando do clube em julho de 2009, quando Cuca foi demitido e ele, então auxiliar, assumiu como interino.</p>
<p class='noticia-conteudo'>As duas vitórias nos primeiros dois jogos como interino (Santos e Atlético-MG) fizeram Andrade ser efetivado no cargo.  O então treinador levou o Flamengo a uma arrancada história no Brasileirão até a conquista do sexto título do clube. 
Depois de comandar o Flamengo, Andrade comandou o Brasiliense (2010), Paysandu (2011), Boa Vista (2012), Jacobina (2015) e chegou a ser anunciado no Petrolina, para a Série A2 do Campeonato Pernambucano, em 2017, na última experiência como técnico.</p>
<p class='noticia-conteudo'>Sem muito protagonismo no futebol após o título nacional com o Rubro-Negro, o treinador decidiu dar uma pausa na carreira e seguir outro caminho: se tornar empresário.  Atualmente, ele tem 67 anos. 

Em 2004, Andrade começa a se destacar como técnico do Flamengo
Abel Braga
Abel Braga teve em 2022 no Fluminense o seu último trabalho, tendo conquistado o título do Campeonato Carioca em cima do Flamengo.</p>
<p class='noticia-conteudo'>Atualmente com 72 anos, anunciou que está aposentado da função que desempenhava desde 1985.  Com passagens pelos principais clubes do país, o ex-técnico teve a principal conquista pelo Internacional, com o Mundial de Clubes, em 2006, ao superar o Barcelona, de Ronaldinho Gaúcho. 
Bate-pronto: Abel Braga relembra carreira no futebol
Oswaldo de Oliveira
Longe da função de treinador desde 2019, quando comandou o Fluminense, Oswaldo de Oliveira atualmente tem 73 anos.</p>
<p class='noticia-conteudo'>Ainda não anunciou a aposentadoria oficialmente.  O principal título da carreira do ex-técnico carioca foi no início da carreira, em 2000, quando comandou o Corinthians na conquista do Mundial de Clubes.  Ele também acumula uma carreira de sucesso no futebol japonês, onde comandou, por exemplo, por cinco temporadas o tradicional Kashima Antlers, entre 2007 e 2011.</p>
<p class='noticia-conteudo'>Oswaldo de Oliveira fala sobre o preconceito de idade no futebol brasileiro
Celso Roth
Campeão da Libertadores pelo Internacional, em 2010, Celso Roth está fora de ação desde que foi demitido do Juventude, em fevereiro de 2023.  Antes, chegou a ficar seis temporadas sem clubes.  Chegou a justificar que o mercado é quem tinha parado de procurá-lo.</p>
<p class='noticia-conteudo'>Atualmente, ele tem 66 anos, e acumula passagens por clubes como Grêmio, Palmeiras, Flamengo, Sport, Vitória, Cruzeiro e Atlético-MG, entre outros. 
Celso Roth explica por que não trabalha desde 2016: “Não parei, o mercado que me parou”
Ricardo Drubscky
O mineiro Ricardo Drubscky encerrou a carreira de técnico de futebol em 2019.  O profissional treinou clubes como Fluminense, Atlético-MG, Athletico e Goiás, e conquistou títulos nacionais, como a Série D do Brasileirão pelo Tupi, de Juiz de Fora.</p>
<p class='noticia-conteudo'>Atualmente com 64 anos, nesta temporada esteve no Sport no cargo de coordenador técnico. 
Ricardo Drubscky é apresentado com o novo técnico do Fluminense.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

