
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}palmeiras{% endblock title %}
{% block main_title %}palmeiras{% endblock main_title %}
{% block second_title %}Dudu exalta Maurício Galiotte, antecessor de Leila Pereira no Palmeiras O melhor presidente{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Dudu exalta Maurício Galiotte, antecessor de Leila Pereira no Palmeiras: "O melhor presidente"
Atacante tem relação próxima com o ex-dirigente, enquanto contato com a atual mandatária é mais distante, inclusive com rusgas públicas neste ano após negociação frustrada com Cruzeiro



O nível da atuação individual dos jogadores está abaixo do esperado? GE Palmeiras debate
Distante de Leila Pereira, Dudu fez elogios a Maurício Galiotte, ex-presidente do Palmeiras, em uma publicação nas redes sociais. 

O atacante reagiu à lembrança do dirigente pelo aniversário de três anos do título da Conmebol Libertadores, em que os dois fizeram parte.  O camisa 7 definiu Galiotte, antecessor de Leila Pereira, como "o melhor presidente".</p>
<p class='noticia-conteudo'>Mais notícias do Palmeiras:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_55_0.jpg"></div><p class='foto-descricao'>Dudu comenta em publicação de Maurício Galiotte, ex-presidente do Palmeiras — Foto: Reprodução</p>
– O melhor presidente! Como gestor, soube administrar um clube de futebol com sucesso e respeitar torcedores, jogadores e funcionários.  Sempre teve e terá o meu respeito! – escreveu Dudu. 
A relação entre Dudu e Galiotte é próxima, já que o dirigente era vice quando o camisa 7 foi contratado, em 2015.</p>
<p class='noticia-conteudo'>Depois, o comandou como presidente entre 2017 e 2021. 
É um contato totalmente diferente do que o jogador tem com Leila Pereira.  Os dois tiveram até uma rusga pública neste, na negociação frustrada de Dudu com o Cruzeiro.</p>
<p class='noticia-conteudo'>A presidente chegou a dizer durante a negociação que o ciclo do atacante estava encerrado.  Houve um incômodo pela desistência do acordo por parte do jogador de 32 anos de idade. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_55_1.jpg"></div><p class='foto-descricao'>Dudu e o presidente do Palmeiras Maurício Galiotte — Foto: Cesar Greco</p>
Ainda que as partes digam que o caso ficou no passado, a relação de Dudu com a atual diretoria nunca foi próxima como era com Maurício Galiotte e o ex-diretor de futebol Alexandre Mattos.</p>
<p class='noticia-conteudo'>Se todo o processo da negociação com o time mineiro gerou um incômodo grande na cúpula alviverde, para Dudu o processo também causou frustração.  Ele sentiu que o Palmeiras estava fazendo força para vendê-lo. 
Neste cenário, embora tenha contrato até o fim de 2025, a presença do camisa 7 no elenco para o próximo ano é incerta.</p>
<p class='noticia-conteudo'>O Verdão ainda não recebeu novas ofertas, mas a expectativa é de que o mercado reaqueça ao fim do Brasileirão. 

Mais lidas do Ge
1
Espião Estatístico
Cruzeiro é favorito à sétima vaga na Libertadores com 41%; Bahia e Corinthians também têm chances
2
Futebol Internacional
Jornais criticam Mbappé após pênalti perdido no Real Madrid: 'Pesadelo'
3
Corinthians
Torcida do Corinthians lança campanha de arrecadação para pagar a Arena; saiba como doar
4
Flamengo
Veja oito pontos perdidos que custaram caro e tiraram chances de título brasileiro do Flamengo
5
Grêmio
Renato ameaça não dar mais entrevista e intimida imprensa: 'Tenho medo de ninguém'


50 vídeos
PALMEIRAS.</p>
{% endblock main_content %}

