
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Dudu deve fazer despedida do Palmeiras contra o Fluminense no Allianz Parque{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Dudu deve fazer despedida do Palmeiras contra o Fluminense no Allianz Parque
Reserva desde que voltou de lesão, camisa 7 nem saiu do banco contra o Cruzeiro, equipe que tentou contratá-lo em junho e pode terminar como seu próximo destino.  Verdão aguarda ofertas

06/12/2024 04h01 Atualizado há 7 horas

Dudu e Rony não saíram do banco de reservas durante Cruzeiro 1x2 Palmeiras
A imagem de Dudu apenas assistindo ao jogo entre Palmeiras e Cruzeiro do banco de reservas no Mineirão viralizou.  Um retrato incomum para o camisa 7, acostumado a estar em campo nos momentos decisivos desta última década no Verdão, mas que foi apenas um coadjuvante no ano que deve marcar sua despedida do clube.</p>
<p class='noticia-conteudo'>Não há uma negociação aberta neste momento e o contrato de Dudu é válido até o fim de 2025, mas o clube não deve dificultar uma transferência, e o atacante entende que está sendo subutilizado.  O Cruzeiro, pivô da polêmica transferência frustrada de junho, surge como interessado novamente. 
Embora Abel Ferreira tenha despistado ao dizer que "ninguém vai embora se não quiser", o mais provável é que Dudu faça sua despedida pelo Palmeiras neste domingo, às 16h (de Brasília), no Allianz Parque, na rodada final do Campeonato Brasileiro de 2024.</p>
<p class='noticia-conteudo'>Mais notícias do Palmeiras:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_92_0.jpg"></div><p class='foto-descricao'>Dudu em desembarque da delegação do Palmeiras — Foto: Cesar Greco</p>
O local é especial para o jogador, recordista de jogos (205), vitórias (144) e assistências (50) desde a inauguração da arena.  É, também, o vice-artilheiro do Allianz, com 40 gols, atrás apenas de Raphael Veiga, com 51. 
Um dos maiores campeões da história do Palmeiras com 12 títulos, empatado com Weverton, Gustavo Gómez, Marcos Rocha, Mayke, Junqueira e Ademir da Guia, Dudu tem apenas 18 jogos na temporada de 2024, sendo quatro como titular.</p>
<p class='noticia-conteudo'>Não fez gol, nem deu assistência. 
Depois de ficar praticamente um ano fora por conta de uma lesão no joelho, o camisa 7 preparava-se para a volta aos campos quando foi anunciado pelo Cruzeiro como reforço, no meio do ano. 
Veja lances de Dudu pelo Palmeiras no Brasileirão de 2024
O atacante ainda acabou recuando e decidiu permanecer no Palmeiras, mas a relação especialmente com a diretoria ficou abalada.</p>
<p class='noticia-conteudo'>A presidente Leila Pereira, por um lado, dizia publicamente que o ciclo de Dudu estava encerrado e pedia que ele cumprisse sua palavra para se transferir.  E o jogador, por outro, entendia que o Verdão estava fazendo força para que ele fosse embora. 
"Chegou ao fim o ciclo do Dudu no Palmeiras", disse Leila Pereira em junho
As partes tentaram aparar as arestas depois do caso, mas a relação não foi a mesma.</p>
<p class='noticia-conteudo'>Houve, ainda, a possibilidade de troca entre Dudu e Gabigol, só que o negócio com o Flamengo acabou naufragando. 
Na última semana, o atacante comentou em uma publicação de Maurício Galiotte, antecessor de Leila Pereira, que muitos entenderam ser uma indireta à atual dirigente.  Isto porque Dudu definiu o ex-comandante como "o melhor presidente".</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_92_1.jpg"></div><p class='foto-descricao'>Dudu comenta em publicação de Maurício Galiotte, ex-presidente do Palmeiras — Foto: Reprodução</p>
Jogador com mais partidas no elenco (461), Dudu chegou a ser tirado de combate para entrar num processo de recondicionamento físico no momento mais decisivo do ano, nas eliminações para Botafogo e Flamengo na Libertadores e Copa do Brasil, após o clube não diagnosticar lesão apesar da reclamação de dores na panturrilha do camisa 7. 
Ainda que Abel Ferreira tenha dito em algumas entrevistas que o atacante estava evoluindo no dia a dia, ele nunca recolocou Dudu como titular de fato, mesmo com o ataque do Palmeiras entre muitos altos e baixos em 2024. 
Seus lampejos de bons momentos vieram em duas vitórias complicadas no Brasileirão: contra o Atlético-MG, em que sofreu pênalti, e Grêmio, na qual iniciou a jogada do gol de Estêvão.</p>
<p class='noticia-conteudo'>Veja lances de Dudu pelo Palmeiras no Brasileirão de 2024
Nos últimos três jogos, nem saiu do banco em dois deles e só foi utilizado na etapa final da derrota para o Botafogo, no Allianz Parque. 
Diante do Cruzeiro, Abel escolheu colocar no segundo tempo Mayke, Gabriel Menino, Mauricio, Caio Paulista e Lázaro, e não utilizou nem Dudu nem Rony, este titular nos jogos anteriores. 
As definições do elenco do Palmeiras vão começar a ocorrer de fato a partir da próxima semana, ao fim do Brasileirão.</p>
<p class='noticia-conteudo'>Mas é muito pequena a possibilidade de Dudu estar na Academia de Futebol em 2025. 

Mais lidas do Ge
1
Espião Estatístico
Atlético-MG, Fluminense, Athletico e Bragantino buscam permanência na Série A; veja chances na última rodada
2
Futebol Internacional
Mundial de Clubes 2025: veja os grupos completos
3
Corinthians
Não é só Memphis: Corinthians se aproxima de estrelas e pensa em novo reforço de peso para 2025
4
Brasileirão Série A
Briga contra o rebaixamento: veja os cenários para a última rodada do Brasileirão
5
Palmeiras
Dudu deve fazer despedida do Palmeiras contra o Fluminense no Allianz Parque


50 vídeos
PALMEIRAS.</p>
{% endblock main_content %}

