
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}flamengo{% endblock title %}
{% block main_title %}flamengo{% endblock main_title %}
{% block second_title %}Duelo com Flamengo e retorno antecipado de parte do elenco os planos do São Paulo nos EUA{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Duelo com Flamengo e retorno antecipado de parte do elenco: os planos do São Paulo nos EUA
Tricolor enfrentará Cruzeiro e Flamengo em jogos amistosos durante a pré-temporada de janeiro; alguns jogadores voltam antes para o início do Paulistão



São Paulo retorna aos treinos de olho no fim do Brasileirão
O São Paulo pretende retornar uma pequena parte do elenco que viajará aos Estados Unidos durante a pré-temporada de janeiro para que eles entrem em campo na estreia da equipe no Campeonato Paulista, em jogo que deve ser no fim de semana de 18 e 19 de janeiro.  O Tricolor teve anunciado um duelo contra o Flamengo no dia 19, pelo torneio FC Series. 

Embora o clube ainda espere por um adiamento do seu jogo de primeira rodada do Estadual, o ge apurou que a Federação Paulista de Futebol tem a intenção que todos os jogos aconteçam.</p>
<p class='noticia-conteudo'>Assim, a tendência é de que alguns reservas peguem o caminho de volta para São Paulo para a partida. 
Deverão retornar a São Paulo jovens jogadores que já não teriam chance de jogar o segundo jogo.  O regulamento do Paulistão permitirá uma maior utilização de atletas da lista B ao mesmo tempo.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_28_0.jpg"></div><p class='foto-descricao'>Cartaz de apresentação de São Paulo x Flamengo — Foto: Reprodução</p>
O elenco tricolor, que sai de férias dia 9 de dezembro, tem reapresentação marcada para 8 de janeiro, no CT da Barra Funda.  O elenco viajará neste dia para Orlando, nos Estados Unidos, e fará jogos contra o Cruzeiro, no dia 15, e contra o Flamengo, no dia 19.  A volta ao Brasil é no dia 20.</p>
<p class='noticia-conteudo'>O técnico Luis Zubeldía levará 34 jogadores para o período de treino.  Serão quatro goleiros e 30 jogadores de linha para que Zubeldía e seus auxiliares tenham três times para trabalhar.  Na segunda metade da viagem, o time fará atividades no CT do Inter Miami, time de Messi e Suárez.</p>
<p class='noticia-conteudo'>50 vídeos
SÃO PAULO.</p>
{% endblock main_content %}

