
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Ed Sheeran interrompe entrevista de técnico do United Acho que ele não quer falar comigo{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Ed Sheeran interrompe entrevista de técnico do United: "Acho que ele não quer falar comigo"
Cantor, que é acionista do Ipswich, protagonizou momento insólito com Rúben Amorim após empate na Premier League e publicou pedido de desculpas nesta segunda



Cantor Ed Sheeran estrela vídeo promocional do retorno do Ipswich Town à Premier League
Recém-chegado ao Manchester United, Rúben Amorim ainda está se acostumando com as peculiaridades da Premier League.  O técnico português protagonizou um momento insólito com o cantor Ed Sheeran, acionista do Ipswich, após o empate entre as duas equipes no domingo. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_24_0.jpg"></div><p class='foto-descricao'>Ed Sheeran interrompe entrevista de Ruben Amorim — Foto: Reprodução</p>
Amorim participava de uma entrevista pós-jogo do canal "Sky Sports", quando Sheeran interrompeu a conversa para falar com os jornalistas.</p>
<p class='noticia-conteudo'>Ao perceber a reação de Amorim, comentou:
- Acho que ele não quer falar comigo - disse Sheeran. 
- Não, eu não quero - Amorim respondeu imediatamente. 
✅Siga o novo canal ge Futebol Internacional no WhatsApp
Assista ao vídeo:
Nesta segunda-feira, o cantor publicou nas redes sociais um pedido de desculpas pela situação.</p>
<p class='noticia-conteudo'>Ed Sheeran explicou que não sabia que estava invadindo uma entrevista e que a intenção era falar rapidamente com um dos jornalistas que estava ao lado de Rúben Amorim. 
— Peço desculpas se ofendi Amorim ontem, não percebi que ele estava sendo entrevistado naquele momento.  Eu apareci para dizer oi e tchau para Jamie (jornalista do programa).</p>
<p class='noticia-conteudo'>Claro, me sinto um pouco idiota, mas a vida continua.  Foi um ótimo jogo, parabéns a todos os envolvidos — esclareceu Ed Sheeran. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_24_1.jpg"></div><p class='foto-descricao'>Ed Sheeran se desculpa por ter invadido entrevista de Rúben Amorim, técnico do Manchester United — Foto: Reprodução / teddysphotos</p>
Acionista do Ipswich
Ed Sheeran é torcedor ferrenho do Ipswich e um dos acionistas na atual administração do clube.</p>
<p class='noticia-conteudo'>Ele tem 1,4% das ações do clube e patrocina os times masculino e feminino desde 2021. 
O cantor estampa o nome de sua turnê como principal patrocinador nas camisas do clube e constantemente aparece nos shows com o uniforme e outros símbolos do Ipswich Town. 
Sheeran estrelou o vídeo promocional da Premier League para celebrar o retorno do time à elite depois de 22 anos.</p>
<p class='noticia-conteudo'>Na produção, ele aparece pilotando um trator, em referência à alcunha dos torcedores da equipe, The Tractor Boys, devido à influência agrícola da região. 
– Moro em Suffolk (região da cidade) desde os três anos de idade e, embora viaje pelo mundo e às vezes me sinta um estranho nas grandes cidades, Suffolk e Ipswich sempre me fizeram sentir parte da comunidade e protegida – declarou o cantor, aos canais oficiais do clube..</p>
{% endblock main_content %}

