
            {% extends "html/modelo.html" %}
            {% load static %}

            {% block title %}gremio{% endblock title %}
            {% block main_title %}gremio{% endblock main_title %}
            {% block second_title %}edu the best{% endblock second_title %}
            {% block main_content %}
            <p class='noticia-conteudo'>edu the betsstst</p><p class='noticia-conteudo'>eeee </p><p class='noticia-conteudo'>eeee</p>
            <div class='div-imagem'><img class='noticia-imagem' src='/media/noticias/n_70_0.jpg' alt='Imagem'></div>
            {% endblock main_content %}
            