
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}corinthians{% endblock title %}
{% block main_title %}corinthians{% endblock main_title %}
{% block second_title %}Efeito all black Corinthians tem desempenho de líder usando segunda camisa; veja números{% endblock second_title %}
{% block main_content %}<p class="noticia-conteudo">Efeito "all black": Corinthians tem desempenho de líder usando segunda camisa; veja números
Uniforme caiu nas graças dos jogadores e ganhou vaga de “titular” nos jogos em casa



Confira os bastidores da vitória do Corinthians sobre o Vasco
O que era para ser a segunda camisa se transformou em uma espécie de amuleto no Corinthians.  A camisa “all black”, lançada neste ano como opção principalmente para os jogos fora de casa, ganhou a preferência entre os jogadores. 

A camisa preta se tornou a primeira opção dos jogadores quando o Corinthians joga em casa, quando o clube escolhe o uniforme que será utilizado pela equipe.</p>
<p class="noticia-conteudo">Com temática antirracista, a versão foi sucesso de vendas na versão jogador e esgotou nas lojas mesmo ao custo de cerca de R$ 700. 
– Acho que a camisa preta é a mais bonita, se tiver de escolher entre as duas, é a mais bonita.  É só isso, não sei se é uma questão de superstição ou não, mas bem, enquanto der sorte, vamos continuar a usá-la – disse Rodrigo Garro.</p>
<p class="noticia-conteudo">Mais notícias do Corinthians:


</p><div class="div-imagem"><img class="noticia-imagem" src="/media/noticias/n_15_0.jpg"></div><p class="foto-descricao">Yuri Alberto e Memphis Depay em Corinthians x Inter — Foto: Ettore Chiereguini/AGIF</p>
E o uniforme não caiu nas graças do elenco apenas pela beleza.  Os resultados quando ele foi utilizado justificam a preferência.  O Corinthians tem 66% de aproveitamento usando a segunda camisa, desempenho de concorrente ao título.<p></p>
<p class="noticia-conteudo">Em 12 jogos com a camisa preta, o Timão conquistou sete vitórias, três empates e duas derrotas - uma para o São Paulo e outra para o Racing, na Argentina, pela Copa Sul-Americana, quando os jogadores atuaram com calção branco.  O Timão marcou 22 gols e sofreu 13.</p>{% endblock main_content %}

