
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Palmeiras{% endblock title %}
{% block main_title %}Palmeiras{% endblock main_title %}
{% block second_title %}Em enquete do ge, Cuca é o mais votado para assumir cargo de técnico do Vasco em 2025{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Em enquete do ge, Cuca é o mais votado para assumir cargo de técnico do Vasco em 2025
Ex-treinador do Athletico-PR tem a preferência dor vascaínos; veja resultado


Torcedores do Vasco apontaram preferência por Cuca para ser o técnico do time em 2025.  Em enquete do ge, mais de 53% dos vascaínos escolheram o treinador que está sem clube depois de deixar o Athletico-PR, em junho deste ano. 


Emanuelle Ribeiro comenta futuro de Felipe no Vasco e busca por técnico
O Vasco demitiu o treinador Rafael Paiva após derrota para o Corinthians, no último domingo.</p>
<p class='noticia-conteudo'>Felipe Maestro, que atuava como diretor-técnico do clube, vai ser o interino nas últimas três rodadas do Brasileirão.  O ídolo vascaíno foi escolhido por apenas 1,14% dos torcedores na enquete. 
A diretoria já iniciou contatos em busca do novo treinador.</p>
<p class='noticia-conteudo'>Pedro Caixinha, que recebeu 5,55% dos votos, é um dos nomes avaliados.  Cuca, o favorito, já teve o nome ventilado no clube após a saída de Ramón Díaz e agrada a algumas pessoas, mas não foi procurado pelo Vasco neste momento. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_101_0.jpg"></div><p class='foto-descricao'>Cuca deixou o Athletico-PR em junho — Foto: José Tramontin/Athletico</p>
Depois de Cuca, o nome mais querido pelos torcedores é o de António Oliveira, português que foi demitido pelo Corinthians em julho deste ano.</p>
<p class='noticia-conteudo'>O técnico tem experiência no Brasil, com passagens também por Cuiabá e Athletico-PR.  Ele recebeu 22,34% dos votos. 
Veja o resultado:
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_101_1.jpg"></div><p class='foto-descricao'>Torcedores do Vasco escolhem técnico em enquete do ge — Foto: Reprodução</p>

Apesar de alguns nomes que já foram sondados, o clube trata com cautela a chegada de uma aposta estrangeira para o comando técnico.</p>
<p class='noticia-conteudo'>O Vasco deverá priorizar treinadores brasileiros ou que conhecem o futebol do país. 

Assista tudo sobre o Vasco no ge, na Globo e no SporTV:
50 vídeos
VASCO.</p>
{% endblock main_content %}

