
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Em finais eletrizantes, Isa Pacheco, Ivan Monteiro e Isabelly Ávila são campeões da temporada no STU{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Em finais eletrizantes, Isa Pacheco, Ivan Monteiro e Isabelly Ávila são campeões da temporada no STU
Campeões do park feminino e street masculino e feminino foram definidos somente na última rodada do Super Finals



Ivan Monteiro faz 77. 96 e garante o título do street masculino no STU
Se Kalani Konig conquistou o título do park masculino com antecedência, os campeões da temporada do STU nas outras modalidades foram conhecidos de forma emocionante.  Durante a realização do Super Finals, em São Paulo, neste domingo, as definições ficaram para a última volta, com Isabelly Ávila (street feminino), Isadora Pacheco (park feminino) e Ivan Monteiro (street masculino) sendo coroados.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_0.jpg"></div><p class='foto-descricao'>Isadora Pacheco conquistou o título por apenas 0. 37 pontos — Foto: Wesley Felix</p>
A decisão do street masculino ficou para a última manobra, literalmente.  Ivan Monteiro chegou na etapa final com mais de 35 mil pontos de vantagem na liderança do ranking da temporada - que contabilizou as quatro primeiras etapas do circuito.</p>
<p class='noticia-conteudo'>No entanto, ele estava perdendo o título até a última rodada.  Gabryel Aguilar, segundo colocado do ranking, liderava a final, com 82. 04, e estava ultrapassando Ivan na classificação, já que este era o último, com 73.</p>
<p class='noticia-conteudo'>36. 


Na última rodada, o paulistano acertou sua linha e cravou a bomb trick, recebendo o acumulado de 77. 96, e subiu para o terceiro lugar na final - o suficiente para garantir a primeira colocação no ranking da temporada.</p>
<p class='noticia-conteudo'>Gabryel foi o vencedor do Super Finals e ficou em segundo no ranking geral, enquanto Ismael Henrique terminou em segundo na final, com 81. 75. 
Assim como Kalani mais cedo, Isabelly foi campeã da temporada vencendo o Super Finals.</p>
<p class='noticia-conteudo'>Ela também chegou na final na liderança do ranking, mas estava em segundo na decisão até a última volta, quando cravou a linha e recebeu 72. 84 (60. 846 
Campeã brasileira do street, Isabelly Ávila crava 72.</p>
<p class='noticia-conteudo'>85 e leva a etapa de São Paulo do STU
No park feminino, Isadora Pacheco e Fernanda Tonissi chegaram na etapa final empatadas na vice-liderança do ranking da temporada.  Como a líder Sofia Godoy não pôde participar por conta de uma lesão, quem terminasse na frente na decisão seria a campeã geral.  As duas travaram um duelo particular, com uma passando a outra desde o início.</p>
<p class='noticia-conteudo'>No fim, Isa sagrou-se tricampeã do circuito por marcar 70. 37 na quarta rodada, apenas 0. 37 a mais do que Nanda.</p>
<p class='noticia-conteudo'>A vencedora da etapa no park feminino foi Helena Laurino, de 12 anos, que sobrou na final e marcou 82. 07, levando o primeiro título de STU da carreira.  Fernanda Galdino, de 13 anos, foi a segunda na etapa, com 70.</p>
<p class='noticia-conteudo'>99, e terminou em terceiro na classificação geral. 
Isadora Pacheco crava 70. 37 e reassume a liderança do campeonato no skate park do STU
Na outra final do dia, no paraskate street masculino, Tony Alves foi o campeão com 66.</p>
<p class='noticia-conteudo'>97, seguido por Ítalo Romano, com 60. 52, e por Daniel Amorinha, com 55. 53.</p>
<p class='noticia-conteudo'>Campeão do park no dia anterior, Vini Sardi foi o quarto com 38. 81.  Na classificação geral da temporada, Ítalo Romano levou o título ao ultrapassar Felipe Nunes, líder até então.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}

