
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}cruzeiro{% endblock title %}
{% block main_title %}cruzeiro{% endblock main_title %}
{% block second_title %}Embarque do Cruzeiro aerozêro começa na Toca com manifestação de apoio da torcida{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Embarque do Cruzeiro: "aerozêro" começa na Toca com manifestação de apoio da torcida
Dezenas de torcedores vão acompanhar ida do elenco para Aeroporto de Confins antes de decisão da Sul-Americana


Dezenas de torcedores do Cruzeiro se reuniram na porta da Toca da Raposa no começo da tarde desta terça-feira para apoiar o elenco antes do embarque para o São Paulo.  No sábado, o time de Fernando Diniz disputa o título da Sul-Americana com o Racing, em Assunção, no Paraguai. 


Embarque do Cruzeiro: "aerozêro" começa na Toca com manifestação de apoio da torcida

Antes da viagem ao Paraguai, o Cruzeiro enfrenta o Corinthians, pelo Brasileirão, nesta quarta-feira, em Itaquera.</p>
<p class='noticia-conteudo'>De lá, o clube viaja para a Assunção para a decisão. 
Os torcedores irão acompanhar o time no trajeto da Toca da Raposa até o Aeroporto de Confins.  Na porta do centro de treinamento do clube, os torcedores cantaram músicas de apoio e o hino do Cruzeiro.</p>
<p class='noticia-conteudo'>O Cruzeiro vai em busca do primeiro título da Sul-Americana na história do clube.  Os ingressos para o duelo com o Racing estão esgotados.  O estádio La Nueva Olla tem cerca de 45 mil lugares disponíveis.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_21_0.jpg"></div><p class='foto-descricao'>Torcedores do Cruzeiro fazem "aerozêro" na saída do time para viagem — Foto: Malu Rabello/Tv Globo</p>
*Matéria em atualização
Assista: tudo sobre o Cruzeiro no ge, na Globo e no Sportv
50 vídeos

CRUZEIRO.</p>
{% endblock main_content %}
{% block cor_categoria %}#003399{% endblock cor_categoria %}

