
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Emerson Rodríguez perde espaço com chegada de Felipe e termina o ano em baixa no Vasco{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Emerson Rodríguez perde espaço com chegada de Felipe e termina o ano em baixa no Vasco
Atacante colombiano, que tem contrato até junho, não foi relacionado para os dois últimos jogos

06/12/2024 11h08 Atualizado há 38 minutos

João Almirante comenta esquema do Vasco: "Podia ter tentado antes"
Quando Felipe Maestro assumiu como treinador interino, o recado no Vasco era de que a base passaria a receber mais oportunidades enquanto outros jogadores provavelmente perderiam espaço.  Um deles foi Emerson Rodríguez, que vinha sendo utilizado com frequência. 

O atacante colombiano sequer foi relacionado para os dois jogos da equipe sob comando de Felipe: o empate em 2 a 2 com o Atlético-GO (36ª rodada) e a vitória por 2 a 0 sobre o Atlético-MG (37ª).</p>
<p class='noticia-conteudo'>Ele vem treinando normalmente e foi deixado de lado por opção técnica. 
Diferente dos casos de Rojas, Galdames e Rossi, que estão com contrato perto do fim e já foram dispensados dos treinos, Emerson tem vínculo até junho.  O atacante de 24 anos está emprestado pelo Inter Miami, dos Estados Unidos.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_122_0.jpg"></div><p class='foto-descricao'>Emerson Rodríguez em ação pelo Vasco — Foto: Thiago Ribeiro/AGIF</p>
Contrariado com a situação, Emerson Rodríguez recentemente cobrou o técnico Felipe sobre sua ausência na lista de relacionados.  O ge apurou que a conversa em particular ocorreu na semana passada, entre os jogos contra Atlético-GO e Atlético-MG. 
Felipe foi questionado sobre a escolha de não utilizar Emerson na coletiva das duas partidas.</p>
<p class='noticia-conteudo'>Em ambas, justificou como opção técnica. 
- Para o jogo de hoje, jogadores que não vão fazer mais parte do planejamento, junto com minhas escolhas técnicas, ficaram de fora.  O Vasco precisa de todos, todos são importantes, mas no dia a dia, eles que se escalam.</p>
<p class='noticia-conteudo'>Com o jogador mostrando que merece uma oportunidade, vamos oportunizá-lo - explicou ele no domingo. 
Emerson Rodríguez tem 21 jogos disputados com a camisa do Vasco, dois gols e uma assistência.  Sua última aparição foi justamente na derrota para o Corinthians, na 35ª rodada, resultado que culminou na demissão de Rafael Paiva.</p>
<p class='noticia-conteudo'>Assista tudo sobre o Vasco no ge, na Globo e no SporTV:
50 vídeos
VASCO.</p>
{% endblock main_content %}

