
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Empresa de Textor, dono do Botafogo, recebe investimento de R$ 232 milhões antes de entrada na bolsa de NY{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Empresa de Textor, dono do Botafogo, recebe investimento de R$ 232 milhões antes de entrada na bolsa de NY
Cifras totais chegarão a R$ 581 milhões e podem ajudar clubes da rede, incluindo o Botafogo, no curto prazo



“Galo sabe que precisa desestabilizar o Botafogo para vencer” - afirma Lino
A Eagle Football, empresa multi-clubes de John Textor, anunciou, na noite desta quinta-feira, que recebeu o investimento de US$ 40 milhões (R$ 232 milhões, na cotação atual) em rodada articulada pela UCEA Capital Partners, uma companhia de finanças.  O financiamento total será de US$ 100 milhões (R$ 581 milhões) para os cofres da rede do dono da SAF do Botafogo. 

Os outros US$ 60 milhões virão através de outros investidores e parceiros.</p>
<p class='noticia-conteudo'>O movimento faz parte do plano de Textor em colocar a Eagle Football na bolsa de valores de Nova York no primeiro trimestre de 2025. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_0.jpg"></div><p class='foto-descricao'>John Textor, do Botafogo — Foto: André Durão</p>
Esse dinheiro é um investimento pré-IPO (processo de entrada na bolsa).  Além de ajudar os cofres para o processo de recapitalização, também vai ajudar o capital de giro dos clubes da rede - Botafogo, Lyon e RWD Molenbeek - no curto prazo.</p>
<p class='noticia-conteudo'>- A Eagle Football chegou em um importante ponto de inflexão, e essa fusão nos traz um passo à frente das nossas intenções do IPO.  Estamos orgulhosos de ter um investidor tão respeitado conosco porque executamos estratégias para complementar nossa rede global de clubes - afirmou John Textor em comunicado à imprensa. 

- Por vezes classificada apenas como uma organização de futebol, nós avaliamos a Eagle Football também como uma empresa de entretenimento e tecnologia que possui uma estratégia de negócios.</p>
<p class='noticia-conteudo'>Essa é uma abordagem inovadora e disruptiva no mundo do futebol e estamos animados em dar suporte no próximo passo da empresa - afirmou João Teixeira, dono da UCEA Capital Partners. 


Assista: tudo sobre o Botafogo no ge, na Globo e no sportv
50 vídeos
BOTAFOGO.</p>
{% endblock main_content %}

