
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Endrick é eleito um dos 100 jovens mais notáveis do mundo por revista britânica{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Endrick é eleito um dos 100 jovens mais notáveis do mundo por revista britânica
Atacante do Real Madrid é o único jogador de futebol, ao lado de Lamine Yamal, entre personalidades mundiais de diferentes áreas

04/12/2024 16h01 Atualizado há 3 horas

Endrick jogou apenas uma vez pelo Real Madrid em outubro; veja ele no treino
Endrick foi escolhido como um dos 100 jovens mais relevantes do mundo pela revista inglesa "Dazed&Confused".  A lista é divulgada anualmente e reúne personalidades que se destacaram no esporte, nas artes e no ativismo mundial.  Além do craque brasileiro de 18 anos, Lamine Yamal, do Barcelona, e a também jogadora do Real Madrid Linda Caicedo aparecem no ranking representando o futebol.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_48_0.jpg"></div><p class='foto-descricao'>Endrick comemora o gol marcado pelo Real Madrid contra o Stuttgart, na Champions League — Foto: Getty Images</p>
A famosa seleção da revista já contou com nomes como da ambientalista sueca Greta Thunberg, da influenciadora Kendall Jenner e da cantora Rosalía, por exemplo.  Além dos atletas de futebol citados, a lista de 2024 inclui a skatista Sky Brown, a tenista Coco Gauff e a boxeadora Imane Khelif, que ganhou medalha de outro nas Olimpíadas de Paris. 

— Desde quando Endrick se tornou embaixador de uma grande marca, de relevância nacional, ainda com quinze anos de idade, já percebemos que sua influência ia transcender o jogo.</p>
<p class='noticia-conteudo'>Ter ele nessa lista, de uma publicação de vanguarda, disruptiva, e de referência em todas as indústrias criativas do mundo é uma validação de que Endrick será um modelo não só para torcedores e futuros atletas, mas também para empresas e como se relacionam com atletas — disse Thiago Freitas, COO da Roc Nation Sports Brazil e um dos responsáveis pelo gerenciamento da carreira de Endrick. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_48_1.jpg"></div><p class='foto-descricao'>Endrick comemorando gol; Espanha x Brasil — Foto: André Durão</p>
Endrick ganhou ainda mais destaque ao se juntar ao elenco do Real Madrid no meio de 2024 e bater uma série de recordes.  Somente na LaLiga, o atacante se tornou o jogador estrangeiro mais jovem a marcar um gol pelo clube e o terceiro atleta sul-americano mais novo a balançar as redes.</p>
<p class='noticia-conteudo'>Outro fator que chama atenção é que o atacante precisou de menos tempo para fazer o primeiro tento do que nomes como Neymar, Romário, Kaká, Rivaldo e Ronaldinho Gaúcho. 
Endrick também pode se gabar de ser o jogador sul-americano mais jovem a fazer um gol na Champions League.  Sem contar que ele é o mais novo a marcar em competições internacionais, desbancando Raúl, ídolo do Real Madrid.</p>
<p class='noticia-conteudo'>O brasileiro também é o segundo jogador não europeu mais novo a balançar as redes como estreante na Champions, atrás apenas do ganês Peter Ofori-Quaye, que marcou aos 17 anos e 194 dias, em 1997. 

O camisa 16 do Real deixou o Palmeiras em junho de 2024.  Ele foi vendido ao clube espanhol por cerca de R$ 400 milhões, entre valores fixos e bônus, mas precisou esperar completar 18 anos para oficialmente vestir a camisa do Madrid.</p>
<p class='noticia-conteudo'>Na atual temporada, Endrick participou de 12 jogos com o time e marcou dois gols. 
Dorival explica ausência de Endrick na lista: "Portas não estão fechadas"
BARCELONA
CHAMPIONS LEAGUE
PALMEIRAS
REAL MADRID.</p>
{% endblock main_content %}

