
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}vasco{% endblock title %}
{% block main_title %}vasco{% endblock main_title %}
{% block second_title %}Entenda como está a busca do Vasco por um treinador{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Entenda como está a busca do Vasco por um treinador
Clube sonda informações no mercado e ainda não oficializou propostas

04/12/2024 14h28 Atualizado há uma hora
Sem treinador desde o dia 24 de novembro, quando demitiu Rafael Paiva, o Vasco traçou o perfil para o novo técnico, mas ainda não atacou o mercado.  O clube busca informações antes de oficializar propostas, o que deve acontecer a partir da próxima semana. 


Conheça o grego bilionário que pode ser dono da SAF do Vasco
O Vasco esbarra nas limitações financeiras para definir o novo alvo.</p>
<p class='noticia-conteudo'>Nestas sondagens, o clube tem se deparado com alguns valores acima do orçamento e talvez terá que esticar a corda um pouco mais para ter um novo treinador dentro das características que agradam à diretoria. 
Um dos requisitos é que o técnico tenha experiência no futebol brasileiro.  O português Pedro Caixinha, que ficou quase dois anos no Red Bull Bragantino e está sem clube desde que foi demitido em outubro passado, é um dos nomes na mesa, conforme apurou o ge.</p>
<p class='noticia-conteudo'>Outro português cotado é Luís Castro, que teve passagem pelo Botafogo nas temporadas 2022 e 2023.  Ele foi demitido pelo Al-Nassr, da Arábia Saudita, em setembro.  O Vasco fez uma sondagem pelo Mister, mas o contato não avançou para proposta ou negociação.</p>
<p class='noticia-conteudo'>Pessoas ligadas ao treinador dizem que ele só vai definir o futuro na segunda quinzena de dezembro.  A notícia do interesse vascaíno em Castro foi publicada primeiramente pelo "Canal do Pedrosa". 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_38_0.jpg"></div><p class='foto-descricao'>Luís Castro teve passagem pelo Botafogo nas temporadas 2022 e 2023 — Foto: Marcelo de Jesus</p>
Felipe Maestro, até então diretor-técnico do Vasco, assumiu o comando do time na última rodada, no empate por 2 a 2 com o Atlético-GO, e vai buscar sua primeira vitória nesta quarta-feira, às 19h, diante do Atlético-MG, em São Januário.</p>
<p class='noticia-conteudo'>O presidente Pedrinho disse que manterá o amigo como interino até o fim do Brasileirão, enquanto o clube busca um novo treinador para o ano que vem. 

Apesar de não ter aberto negociações ainda, o Vasco entende que precisará acelerar a busca nos próximos dias.  A temporada termina no domingo, com o jogo contra o Cuiabá, pela última rodada do Campeonato Brasileiro, e o clube quer que o novo treinador participe do planejamento para 2025.</p>
<p class='noticia-conteudo'>Assista tudo sobre o Vasco no ge, na Globo e no SporTV:
50 vídeos
VASCO.</p>
{% endblock main_content %}

