
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}athletico_pr{% endblock title %}
{% block main_title %}athletico_pr{% endblock main_title %}
{% block second_title %}Entenda por que Cuello, do Athletico, é o plano A do Vasco na janela{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Atacante se tornou prioridade do clube, que precisa de um jogador versátil e que componha a ponta esquerda; negociação pode envolver Léo



Como Cuello superou má fase e se tornou decisivo no Athletico

O clube busca resolver um problema na formação do elenco na ponta esquerda.  Desde a criação da SAF, o Vasco já teve Gabriel Pec, Palacios, Serginho, David, Emerson Rodríguez e Jean David na posição. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_417_0.jpg"></div><p class='foto-descricao'>Cuello na vitória do Athletico sobre o Atlético-GO — Foto: José Tramontin/ Athletico</p>
Além de Gabriel Pec, revelado no clube e vendido no início de 2024, somente David se firmou na posição.</p>
<p class='noticia-conteudo'>No entanto, o atacante se lesionou e desfalcará o Vasco até o segundo semestre de 2025.  No fim da temporada, a equipe sofreu para encontrar um substituto e terminou a temporada abandonando o esquema de dois pontas para utilizar dois atacantes e um meio mais preenchido. 
Jean David ainda não convenceu no Vasco, e Emerson Rodríguez perdeu espaço após a saída de Rafael Paiva e terminou o ano em baixa.</p>
<p class='noticia-conteudo'>Serginho, emprestado ao Criciúma, retornará a São Januário em 2025, mas não faz parte dos planos do clube. 
Cuello preenche os requisitos do Vasco para a posição.  O atacante é visto como um jogador de velocidade, com drible e finalização — característica que falta ao elenco.</p>
<p class='noticia-conteudo'>Além disso, o argentino tem experiência no futebol brasileiro, com cinco temporadas entre Bragantino e Athletico-PR. 
Apesar do rebaixamento do Athletico, Cuello terminou a temporada valorizado no mercado e no clube.  Depois de ficar entre fevereiro de 2023 e junho de 2024 sem marcar um gol, Cuello encerrou o jejum contra o Criciúma, no dia 13 de junho, e depois marcou quatro vezes no segundo semestre da temporada.</p>
<p class='noticia-conteudo'>Este foi o melhor ano do jogador em números na carreira: foram 18 participações em gols — com cinco bolas na rede e 13 assistências — em 61 partidas pelo Athletico na temporada.  No vídeo em destaque da matéria, há uma reportagem de novembro sobre como Cuello superou os problemas no Athletico e terminou o ano sendo um dos destaques da equipe. 
A versatilidade do atacante também chama atenção.</p>
<p class='noticia-conteudo'>Cuello é ponta-esquerda, mas também já atuou na direita.  O argentino também se destaca pela ajuda na marcação com recomposição na defesa.  No ano passado, o atacante foi bastante utilizado pelo técnico Wesley Carvalho na lateral direita.</p>
<p class='noticia-conteudo'>Para ter Cuello, o Vasco estaria disposto a envolver o zagueiro Léo e mais um valor em dinheiro, proposta que num primeiro momento agradou a diretoria do Athletico.  O jogador argentino de 24 anos tem contrato com o clube paranaense até dezembro de 2025. 
O Athletico demonstrou interesse, antes do fim do Brasileirão, na contratação de Léo.</p>
<p class='noticia-conteudo'>O rebaixamento do clube afetou o rumo das conversas, mas os clubes ainda consideram a possibilidade de fechar a troca.  A dívida pelo empréstimo de Hugo Moura atrapalha porque o Vasco ainda não acertou o valor que deveria pagar em abril pelo empréstimo do volante. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_417_1.jpg"></div><p class='foto-descricao'>Léo e Cuello em ação em Athletico x Vasco — Foto: Heuler Andrey/Eurasia Sport Images/Getty Images</p>


Assista tudo sobre o Vasco no ge, na Globo e no SporTV:.</p>
{% endblock main_content %}

