
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}corinthians{% endblock title %}
{% block main_title %}corinthians{% endblock main_title %}
{% block second_title %}Entenda a ligação de Memphis, do Corinthians, com o rei de Gana e crianças cegas e surdas do país{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Entenda a ligação de Memphis, do Corinthians, com o rei de Gana e crianças cegas e surdas do país
Atacante holandês mantém projeto social voltado para inclusão em local onde tem raízes



Resenha, dribles e intensidade: como é o treino de Memphis Depay no Corinthians 
Memphis Depay usou as redes sociais para mostrar um pouco da sua ligação com Gana, na África.  O jogador, que passou a entender suas raízes africanas há alguns anos, mantém um projeto social no país e amizade com o rei Otumfuo Osei Tutu II. 

Em Gana, Memphis tem um projeto de inclusão para crianças cegas e surdas, oferecendo atividades ligadas ao esporte e a música, áreas em que o jogador atua diretamente.</p>
<p class='noticia-conteudo'>Por meio da Memphis Foundation, o jogador presta apoio aos cerca de 24 mil jovens surdos e cegos que habitam Gana, que tem mais de 34 milhões de habitantes e é considerado um país subdesenvolvido. 
Mais notícias do Corinthians:



<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_7_0.jpg"></div><p class='foto-descricao'>Memphis Depay com crianças de projeto social em Gana — Foto: Divulgação/Memphis Foundation</p>
Memphis ajudou a reformar e melhorar as instalações da Escola de Surdos e Cegos em Cape Coast, em Gana.  A sua fundação angariou fundos para melhorias de banheiros, reforma de outras áreas da escola, sistema de abastecimento de água potável, entre outras coisas.</p>
<p class='noticia-conteudo'>Raízes africanas
Se hoje o holandês tem uma vida confortável e ostenta itens luxuosos, no passado a realidade foi bem mais difícil, na pacata cidade de Moordrecht, na Holanda. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_7_1.jpg"></div><p class='foto-descricao'>Escola de Cegos e Surdos de Gana que tem apoio de Memphis — Foto: Divulgação/Memphis Foundation</p>
O pai de Memphis deixou a família quando ele tinha apenas três anos.  Anos depois, a mãe dele engatou um relacionamento com outro homem, cujos filhos batiam em Depay.</p>
<p class='noticia-conteudo'>Tais experiências fizeram dele um jovem triste, revoltado e agressivo. 
Memphis acabou se envolvendo com álcool ainda na infância, experimentou drogas e conviveu com traficantes por um curto período, antes de despontar para o futebol no Sparta Rotterdam e, depois, no PSV. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_7_2.jpg"></div><p class='foto-descricao'>Memphis ao lado do Rei de Gana — Foto: Reprodução/Instagram</p>
Embora não tenha ligação com o pai, Memphis fez questão de entender e se aproximar de suas raízes africanas - o pai dele nasceu em Gana.</p>
<p class='noticia-conteudo'>Ele já visitou em algumas oportunidades o país para absorver mais da cultura ganesa. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_7_3.jpg"></div><p class='foto-descricao'>Memphis em projeto social que apoia em Gana — Foto: Divulgação/Memphis Foundation</p>


50 vídeos
CORINTHIANS.</p>
{% endblock main_content %}
{% block cor_categoria %}#333333{% endblock cor_categoria %}

