
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Entenda do que o Botafogo precisa para ser campeão Brasileiro antes da final da Libertadores{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Entenda do que o Botafogo precisa para ser campeão Brasileiro antes da final da Libertadores
Clube se divide entre as duas competições e pode ganhar as duas taças em um espaço de quatro dias



Luiz Henrique e Deyverson são os grandes destaques de Botafogo e Atlético-MG, finalistas da Libertadores
O Botafogo vive os 12 dias mais decisivos da temporada 2024.  Na expectativa para jogar a primeira final de Conmebol Libertadores da própria história no dia 30 de novembro, o clube divide esse momento com a possibilidade de ser campeão Brasileiro ainda antes de a bola rolar em Buenos Aires. 

Para isso, depende majoritariamente de si e de uma ajudinha de um dos rivais locais Fluminense e Flamengo.</p>
<p class='noticia-conteudo'>A equipe de Artur Jorge tem 68 pontos, quatro de vantagem na ponta em cima do vice-líder Palmeiras e cinco sobre o terceiro colocado Fortaleza. 
Antes de embarcar para a capital argentina, serão disputadas três rodadas do Brasileirão, contra Atlético-MG, Vitória e um confronto direto contra o Verdão no Allianz Parque.  Se vencer as três partidas, os botafoguenses abrem sete pontos de frente sobre o adversário a duas rodadas do fim do torneio, não podendo mais ser alcançados.</p>
<p class='noticia-conteudo'>Nesse cenário, para o título ser conquistados matematicamente antes do dia 30 de novembro o Glorioso precisaria de um tropeço do Fortaleza nos dois jogos que tem até lá, contra o Fluminense no Maracanã ou contra o Flamengo no Castelão. 
Se os cearenses vencerem ambos, existe ainda a chance de o título nacional vir no dia seguinte à decisão da Libertadores, quando acontece Vitória x Fortaleza. 
Em caso de tropeço em um ou mais jogos nestas três rodadas, o Botafogo precisaria de uma combinação de resultados semelhante dos adversários diretos para ser campeão.</p>
<p class='noticia-conteudo'>Só garante a taça se anotar três pontos a mais que o Palmeiras e dois a mais que o Fortaleza no período. 
Os jogos do Botafogo antes da final:

Os jogos do Palmeiras antes da final:
20/11 - Bahia x Palmeiras
23/11 - Atlético-GO x Palmeiras
26/11 - Palmeiras x Botafogo
Os jogos do Fortaleza até a final:
22/11 - Fluminense x Fortaleza
26/11 - Fortaleza x Flamengo
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_10_0.jpg"></div><p class='foto-descricao'>Botafogo, Nilton Santos, Cuiabá — Foto: Vitor Silva/Botafogo</p>
Os 68 pontos anotados pelo Alvinegro até aqui no Campeonato Brasileiro o colocam a uma vitória de superar a pontuação do Palmeiras em 2023, quando foi campeão, com 70, e a sete da "pontuação mágica" dos campeões, que é 75.  Nunca nos pontos corridos com 20 times quem superou os 74 pontos ficou sem a taça.</p>
<p class='noticia-conteudo'>Assista: tudo sobre o Botafogo no ge, na Globo e no sportv
50 vídeos
BOTAFOGO.</p>
{% endblock main_content %}
{% block cor_categoria %}#000000{% endblock cor_categoria %}

