
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}santos{% endblock title %}
{% block main_title %}santos{% endblock main_title %}
{% block second_title %}Entenda por que o Santos mantém cautela e evita euforia por Neymar{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Entenda por que o Santos mantém cautela e evita euforia por Neymar
Sonho do Peixe em ter o craque de volta à Vila Belmiro depende de uma rescisão com o Al-Hilal, situação que está sendo tratada pelo pai de Neymar

18/11/2024 07h50 Atualizado

Presidente do Santos fala sobre situação do Peixe e previsão para 2025: "Estamos no momento mais grave da nossa história"
Cautela é a palavra de ordem no Santos quando assunto é Neymar.  Apesar do enorme desejo em contar com o craque no elenco em 2025, a diretoria do Peixe evita qualquer tipo de euforia.  Isto porque, qualquer movimento sobre o tema esbarra na necessidade de rescisão contratual do craque com o Al-Hilal, da Arábia Saudita.</p>
<p class='noticia-conteudo'>Nos bastidores, o clube faz uma força-tarefa para viabilizar o sonho.  Embora as conversas se concentrem exclusivamente no presidente Marcelo Teixeira, os departamentos de futebol e de marketing têm trabalhado para montar uma operação financeira capaz de transformar o sonho em realidade. 
Mais sobre o Peixe:



<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_0.jpg"></div><p class='foto-descricao'>Neymar na Vila Belmiro para Santos x Audax Italiano, no ano passado — Foto: Divulgação/SantosFC</p>
Como noticiado pelo ge, o Santos tem uma reunião agendada com o pai de Neymar nesta semana.</p>
<p class='noticia-conteudo'>No encontro, o clube será informado sobre o andamento da conversa com os árabes e sobre a real possibilidade de ter o atacante de volta ainda no ano que vem, seja em janeiro ou em julho - data do término do contrato com o Al-Hilal. 
– Aguardamos as questões relacionadas ao clube e ao atleta.  A maneira como será esse desfecho o Santos não poderá interferir.</p>
<p class='noticia-conteudo'>Se pudéssemos, faríamos.  Não é o caso.  O contrato está vigente, estamos acompanhando para, no momento em que se definir, o Santos se manifestará.</p>
<p class='noticia-conteudo'>Estamos aguardando – explicou o presidente Marcelo Teixeira. 
A relação do clube com o atacante e a família do jogador é a grande cartada santista para ter Neymar de volta à Baixada.  O clube busca um alinhamento com o staff do craque para não ser surpreendido pela concorrência quando o contrato com Al-Hilal for encerrado, seja com ou sem rescisão antecipada.</p>
<p class='noticia-conteudo'>Jogadores do Santos levantam a taça de campeão da Série B 2024

50 vídeos.</p>
{% endblock main_content %}
{% block cor_categoria %}#000000{% endblock cor_categoria %}

