
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}palmeiras{% endblock title %}
{% block main_title %}palmeiras{% endblock main_title %}
{% block second_title %}Entenda a substituição que fez organizada do Palmeiras chamar Abel Ferreira de burro{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Entenda a substituição que fez organizada do Palmeiras chamar Abel Ferreira de "burro"
Técnico usou última alteração no confronto direto com Botafogo para acionar Gabriel Menino no lugar de Estêvão, que pediu para sair; joia não preocupa com lesão, sentiu apenas cansaço



Torcida do Palmeiras chama Abel Ferreira de "burro" durante derrota para o Botafogo
Eram 35 minutos do segundo tempo, contra o Botafogo, quando Abel Ferreira usou sua última substituição para trocar Estêvão por Gabriel Menino e ouviu gritos de "burro" da organizada do Palmeiras.  Foi a primeira manifestação do gênero contra o treinador, logo abafada por vaias de outros setores do estádio.  A mudança, contudo, teve razão além da tática.</p>
<p class='noticia-conteudo'>– Estêvão pediu para sair, estava com câimbras – justificou o treinador, revelando que o plano inicial ali era mexer na lateral esquerda. 
– Era para entrar o Vanderlan na do Caio Paulista, mas a partir do momento que o jogador pede substituição, eu tenho que trocar.  Já é a segunda vez que pede substituição.</p>
<p class='noticia-conteudo'>Foi assim depois de vir da Seleção, contra o Atlético-GO – afirmou. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_17_0.jpg"></div><p class='foto-descricao'>Abel Ferreira em Palmeiras x Botafogo — Foto: Marcos Ribolli</p>
Mais notícias do Palmeiras:


Estêvão arriscou uma finalização, 27 passes, dois desarmes e sofreu quatro faltas - sendo o mais caçado do jogo - antes de pedir a substituição.  Saiu se queixando de dores, mas segundo o clube se tratou apenas de cansaço, sem preocupar em questões de lesão.</p>
<p class='noticia-conteudo'>Neste momento, a equipe já estava com um a menos, pela expulsão do lateral-direito Marcos Rocha, e assim seguiu até o fim do jogo com Weverton; Mayke, Gustavo Gómez, Vitor Reis e Caio Paulista; Richard Rios, Gabriel Menino e Maurício; Dudu e Flaco López. 
“Acho que no jogo de ontem, o Abel podia ter feito diferente. ” afirma Lino
Pela mudança, sendo a última disponível quando o Palmeiras perdia por 2 a 0 no confronto direto, Abel ouviu críticas - que em determinado momento se estenderam à presidente Leila Pereira.</p>
<p class='noticia-conteudo'>Dali em diante a torcida se transformou em um misto de críticas, vaias à organizada e cantos de incentivo, até ver a partida ser finalizada em 3 a 1.  O técnico, questionado sobre o episódio, minimizou a questão. 
– Uma pequena parte da torcida.</p>
<p class='noticia-conteudo'>Mas viu o que toda a torcida fez? Isso mostra o carinho que têm por nós.  Eu entendo.  São muitos títulos juntos.</p>
<p class='noticia-conteudo'>Parece que o Palmeiras ganha sempre e vocês sabem que não é isso – afirmou. 
Veja a íntegra da coletiva de Abel Ferreira, do Palmeiras, após derrota para o Botafogo
Felipão e Luxemburgo também ouviram…
Não é a primeira vez, aliás, que um técnico ídolo no clube alviverde ouve xingamentos de “burro” no estádio.  Antes do português, os multicampeões Felipão e Luxemburgo também passaram por episódios semelhantes.</p>
<p class='noticia-conteudo'>O caso de Felipão ocorreu em setembro de 2012, quando o Palmeiras estava com 17 pontos e sem conseguir deixar a zona de rebaixamento no Brasileiro.  O técnico na época chamou para si a responsabilidade pela má campanha. 
– A torcida tem todo o direito de me chamar de burro.</p>
<p class='noticia-conteudo'>O time não está jogando bem e quem escolhe sou eu, quem coloca em campo sou eu.  A equipe pode ter uma ou outra dificuldade, mas a maioria dos jogadores foi escolhida por mim – disse Felipão. 
Com um a menos, Grêmio segurou empate em 0 a 0 com o Palmeiras
Luxemburgo, por sua vez, vivenciou essa história em maio de 1994, sendo chamado de burro por trocar o lateral-direito Claudio Guadagno pelo atacante Maurílio quando perdia para o São Paulo, por 2 a 1, no Paulistão.</p>
<p class='noticia-conteudo'>Maurílio, contudo, decidiu o Choque-Rei fazendo o gol do empate e sofrendo a falta batida por Evair para a virada por 3 a 2.  O Verdão confirmou a conquista do bicampeonato paulista naquele ano três jogos depois. 
– Uma pessoa que já deu três títulos ao Palmeiras não pode ser chamada de burro.</p>
<p class='noticia-conteudo'>. .  Quero que a torcida seja sempre o nosso primeiro jogador – disse Luxemburgo, em publicação do jornal "Folha de S.</p>
<p class='noticia-conteudo'>Paulo" no dia seguinte ao Choque-Rei. 
Em 1994, Palmeiras vence São Paulo por 3 a 2 pelo Campeonato Paulista

Mais lidas do Ge
1
Futebol
Rebaixamento do Cuiabá reduz lista de times que nunca caíram no Brasileirão; veja quais são
2
Corinthians
Hugo Souza chora após compra pelo Corinthians e vê Seleção como 'sonho muito próximo'
3
Corinthians
Corinthians apresenta plano para pagamento coletivo de dívidas com jogadores, clubes e empresários
4
Atlético-Mg
STJD pune Atlético-MG em seis jogos por incidentes na final da Copa do Brasil
5
Botafogo
Luiz Henrique pede desculpas a Hulk após confusão em Atlético-MG x Botafogo: 'Respeito muito'


50 vídeos
PALMEIRAS.</p>
{% endblock main_content %}

