
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}flamengo{% endblock title %}
{% block main_title %}flamengo{% endblock main_title %}
{% block second_title %}Entenda por que o Flamengo busca um volante no mercado para a temporada 2025{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Clube tem Pulgar, Evertton Araújo e Allan como opções de primeiro volante no elenco




Jogadores do Flamengo se reapresentam com novos uniformes de treino
A notícia de que a posição é tida internamente como carente fez muitos torcedores nas redes sociais não entenderem essa necessidade.  Afinal de contas, o clube já conta com três jogadores para primeiro volante: Pulgar, Evertton Araújo e Allan. 
Para explicar a situação, é preciso começar por Pulgar.</p>
<p class='noticia-conteudo'>O chileno é considerado por Filipe Luís de "nível Barcelona" e um dos jogadores mais importantes do time.  Porém, o volante de 30 anos está em sua última temporada de contrato no Flamengo e não há otimismo para sua renovação. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_11_0.jpg"></div><p class='foto-descricao'>Pulgar em sua reapresentação no Flamengo — Foto: Divulgação / Flamengo</p>
Na reta final do ano passado, o diretor executivo Bruno Spindel chegou a dizer publicamente que esperava sentar com os representantes de Pulgar após o Campeonato Brasileiro.</p>
<p class='noticia-conteudo'>O que não aconteceu.  O volante, que tem um dos salários mais baixos da posição no elenco, já buscou uma valorização anteriormente sem sucesso. 

Agora, Pulgar sonha em voltar para a Europa.</p>
<p class='noticia-conteudo'>O ge apurou que a principal queixa do jogador é o intenso calendário do futebol brasileiro.  Aliado às Datas Fifa, quando o volante sempre é convocado pela seleção chilena, ele sentia muito o desgaste físico com a maratona de jogos. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_11_1.jpg"></div><p class='foto-descricao'>Evertton Araújo em Flamengo 3 x1 Atlético-MG, na final da Copa do Brasil — Foto: Marcelo Cortes/Flamengo</p>
O provável último ano de Pulgar no Flamengo faz a diretoria monitorar o mercado atrás de uma reposição à altura.</p>
<p class='noticia-conteudo'>Entre os reservas, Allan não se firmou no clube e deve continuar sem espaço, enquanto Evertton Araújo, de 21 anos, é considerado promissor, mas há uma cautela para não queimar etapas com o jovem. 
Clique aqui para seguir o novo canal ge Flamengo no WhatsApp
Internamente no Ninho do Urubu, não há pressa para a busca por um camisa 5, apesar de o clube já mapear o mercado.  A posição é considerada a segunda prioridade para esta janela e há o desejo de trazer um nome de peso, experiente e consagrado na carreira.</p>
<p class='noticia-conteudo'>Como Pulgar ainda tem contrato, Filipe Luís conta com ele até dezembro, e o chileno deve continuar como titular.  Se a contratação do novo camisa 5 não acontecer nesta janela, o clube ainda terá uma janela extra no início de junho, antes do Super Mundial de Clubes. 

 Ouça o podcast ge Flamengo.</p>
{% endblock main_content %}

