
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Atlético-MG{% endblock title %}
{% block main_title %}Atlético-MG{% endblock main_title %}
{% block second_title %}Escalação do Atlético-MG Galo treina com Deyverson titular e fecha preparação para decidir Libertadores{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Escalação do Atlético-MG: Galo treina com Deyverson titular e fecha preparação para decidir Libertadores
Time treina no Centro de Treinamento do Defensa y Justicia antes de encarar o Botafogo



Atlético-MG finaliza a preparação para a grande final da Libertadores
O Atlético-MG está pronto para a decisão da Copa Conmebol Libertadores.  Nesta sexta-feira, pela manhã, no Centro de Treinamento do Defensa y Justicia, em Buenos Aires, o time realizou o último treino antes da final contra o Botafogo - neste sábado, às 17h (de Brasília), no Monumental de Núñez.  Deyverson treinou entre os titulares.</p>
<p class='noticia-conteudo'>A dupla Guilherme Arana e Gustavo Scarpa participou na atividade.  Arana se recuperou de um problema no tornozelo, sofrido quando estava servido à Seleção.  Já Scarpa estava tratando dores no joelho direito.</p>
<p class='noticia-conteudo'>Quem está fora da final da Libertadores é Matías Zaracho.  O argentino sofreu lesão no músculo posterior da coxa esquerda, durante o jogo contra o São Paulo, pelo Brasileiro.  Ele se junta ao atacante Cadu no departamento médico alvinegro.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_95_0.jpg"></div><p class='foto-descricao'>Atlético-MG treina antes de final da Libertadores contra o Botafogo — Foto: André Ribas</p>
Em relação ao time, a dúvida fica por quem substituirá Zaracho no meio.  A tendência é de que Gabriel Milito escale um meio com dois volantes e uma trinca no ataque: Deyverson, Hulk e Paulinho, formação treinada nesta sexta-feira.  Outra possibilidade é reforçar o meio e sacar Deyverson.</p>
<p class='noticia-conteudo'>Provável Galo: Everson; Lyanco, Battaglia, Alonso; Fausto Vera, Alan Franco, Scarpa e Arana; Paulinho, Hulk e Deyverson. 
Na tarde desta sexta, o Atlético fará o reconhecimento do gramado do Monumental de Núñez.  Em seguida, o técnico Gabriel Milito e o atacante Hulk concederão entrevista coletiva.</p>
<p class='noticia-conteudo'>Galo 2013 ou Galo 2024? Carol Leandro compara finalistas da Libertadores
Assista: tudo sobre o Atlético no ge, na Globo e no Sportv
50 vídeos

ATLÉTICO-MG.</p>
{% endblock main_content %}

