
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}flamengo{% endblock title %}
{% block main_title %}flamengo{% endblock main_title %}
{% block second_title %}Escalação do Flamengo Filipe Luís terá três zagueiros e Pulgar titular contra o Cuiabá{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Escalação do Flamengo: Filipe Luís terá três zagueiros e Pulgar titular contra o Cuiabá
Técnico definiu a escalação na preleção pouco antes de chegar na Arena Pantanal



Braz comenta ausência de Gabigol em Cuiabá: "Tem mais 27 jogadores do Flamengo aí"
O Flamengo enfrenta o Cuiabá nesta quarta-feira, às 19h (de Brasília), pela 34ª rodada do Brasileirão.  Filipe Luís definiu o time titular com a presença de Alex Sandro na zaga e também Ayrton Lucas como ala.  Pulgar, que não foi para seleção chilena, começa jogando com Evertton Araújo e Alcaraz.</p>
<p class='noticia-conteudo'>+Despedida de Adriano: Materazzi é confirmado em evento com estrelas de Flamengo e Inter
+Veja o que está em jogo para o Flamengo na reta final do Brasileirão
O pedido de efeito suspensivo em favor de Bruno Henrique foi deferido pelo STJD, e o camisa 27 será titular ao lado de Michael.  Além de Alex Sandro, Fabrício Bruno e Léo Pereira formam a linha defensiva. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_0.jpg"></div><p class='foto-descricao'>Pulgar em ação no Corinthians x Flamengo — Foto: Ettore Chiereguini / AGIF</p>
Time: Rossi; Fabrício Bruno, Léo Pereira e Alex Sandro; Wesley, Erick Pulgar, Evertton Araujo, Alcaraz e Ayrton Lucas; Michael e Bruno Henrique.</p>
<p class='noticia-conteudo'>+Braz comenta ausência de Gabigol em chegada a Cuiabá: "Tem mais 27 jogadores do Flamengo aí"
+Show do Apolinho: como um jornalista conseguiu ser técnico do Flamengo durante três meses
O Flamengo tem alguns desfalques: David Luiz (febre e mal-estar), Luiz Araújo (transição), De la Cruz (transição), Carlinhos (transição) e Everton Cebolinha (em recuperação de grave lesão no tendão); Gabigol (afastado); Pedro e Viña, ambos fora da temporada. 


Assista: tudo sobre o Flamengo no ge, na Globo e no sportv
50 vídeos
FLAMENGO.</p>
{% endblock main_content %}
{% block cor_categoria %}#ff0000{% endblock cor_categoria %}

