
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Escalação do Grêmio Renato deve ter baixa na defesa para duelo com o Cruzeiro{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Escalação do Grêmio: Renato deve ter baixa na defesa para duelo com o Cruzeiro
Por outro lado, Jemerson volta a ficar à disposição para jogo da quarta-feira no Mineirão



Cruzeiro x Grêmio: saiba tudo sobre o jogo da 35ª rodada do Brasileirão Série A 2024
O Grêmio não deve contar com o zagueiro Rodrigo Ely contra o Cruzeiro no Mineirão, nesta quarta-feira, no encerramento da 35ª rodada do Brasileirão.  A tendência é que Pedro Geromel seja o escolhido para atuar na defesa. 

Ely ficou fora dos treinos desde o empate com o Juventude, na última quarta-feira, na Arena.</p>
<p class='noticia-conteudo'>Com luxação no pé direito, faz tratamento para estar à disposição nas três rodadas finais do Brasileirão. 
Leia também


A tendência é que não viaje para Belo Horizonte nesta terça-feira.  Assim, Pedro Geromel corre na frente para jogar ao lado de Jemerson.</p>
<p class='noticia-conteudo'>O capitão já esteve no empate com o Juventude ao lado de Ely e faz os últimos jogos com a camisa do Grêmio antes da aposentadoria. 
Confira a sequência do Grêmio na reta final do Brasileirão
Jemerson volta de suspensão e é reforço.  Aravena, Soteldo e Villasanti serão titulares após estarem no banco contra o Juventude, já que haviam jogado no dia anterior nas Eliminatórias para a Copa do Mundo.</p>
<p class='noticia-conteudo'>Uma provável escalação tem Marchesín; João Pedro, Geromel, Jemerson e Reinaldo; Villasanti, Dodi, Aravena (Edenilson), Cristaldo e Soteldo; Braithwaite. 
O Grêmio perdeu uma posição na rodada e entra em campo na 14ª colocação, com 40 pontos, três acima da zona de rebaixamento.  No entanto, Fluminense, o 16º com 38, e Criciúma, 17º com 37, jogam nesta terça-feira e podem se aproximar.</p>
<p class='noticia-conteudo'>Uma vitória colocaria o Grêmio acima do Vasco, na 11ª colocação. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_56_0.jpg"></div><p class='foto-descricao'>Renato em treino do Grêmio — Foto: Lucas Uebel/Grêmio</p>


50 vídeos
GRÊMIO.</p>
{% endblock main_content %}

