
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Escalação Athletico fica sem Thiago Heleno e tem retorno contra o Bahia; veja provável time{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Escalação: Athletico fica sem Thiago Heleno e tem retorno contra o Bahia; veja provável time
Furacão terá mudanças no time titular para o jogo de domingo, na Arena Fonte Nova



Com novo recorde de público, Athletico vence o Atlético-GO na Arena
O zagueiro Thiago Heleno vai desfalcar o Athletico na partida contra o Bahia, pela 34ª rodada do Campeonato Brasileiro.  Por outro lado, o atacante Pablo retorna.  Os times se enfrentam no domingo, às 16h, na Arena Fonte Nova.</p>
<p class='noticia-conteudo'>Um provável Athletico: Mycael; Leo Godoy, Lucas Belezi, Gamarra e Esquivel; Gabriel, Felipinho e Nikão; João Cruz, Cuello e Pablo. 
🗞️ Mais notícias do Athletico
✅ Clique aqui e siga o canal ge Athletico no WhatsApp
Thiago Heleno foi expulso aos 29 minutos do segundo tempo do jogo contra o Atlético-GO, após falta em Janderson e intervenção do VAR.  Ele já não tinha viajado para o último jogo fora de casa, contra o São Paulo, só que por conta de um desgaste muscular.</p>
<p class='noticia-conteudo'>Gamarra deve ser o substituto, repetindo a dupla do jogo no Morumbis com Lucas Belezi.  Outro candidato é Marcos Victor, e o zagueiro Arthur Dias, do sub-20, também treina como opção. 
Por outro lado, o atacante Pablo, que cumpriu suspensão, volta ao time e deve começar jogando.</p>
<p class='noticia-conteudo'>Com isso, Di Yorio volta para o banco. 
VEJA TAMBÉM:


No meio, a tendência é que Gabriel e Felipinho sigam entre os titulares enquanto Erick se recupera de uma lesão na coxa.  Ainda na frente, Julimar é outro que continua fora, tratando uma torção no joelho.</p>
<p class='noticia-conteudo'>Kaique Rocha (lesão muscular), Madson (entorse no tornozelo), Canobbio (edema ósseo na lombar) e Mastriani, que realizou cirurgia no joelho, também estão sob os cuidados do departamento médico. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_11_0.jpg"></div><p class='foto-descricao'>Thiago Heleno desfalta o Athletico contra o Bahia — Foto: José Tramontin/ Athletico</p>

O Athletico chegou aos 40 pontos com as vitórias em casa contra Atlético-MG e Atlético-GO, e está em 14º.  A distância para a zona de rebaixamento ainda é de apenas três pontos.</p>
<p class='noticia-conteudo'>O adversário de domingo está em 8º, com 46 pontos, mas vem de seis jogos sem vencer. 
Bahia x Athletico é válido pela 35ª rodada do Brasileiro.  A partida está marcada para começar às 16h (de Brasília), na Arena Fonte Nova.</p>
<p class='noticia-conteudo'>50 vídeos
Mais notícias do esporte paranaense em ge. globo/pr
ATHLETICO-PR.</p>
{% endblock main_content %}

