
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Escalação do Flamengo Pulgar e Ayrton Lucas voltam ao time contra o Criciúma{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Escalação do Flamengo: Pulgar e Ayrton Lucas voltam ao time contra o Criciúma
Sem Gerson, Rossi, Léo Pereira, Alex Sandro e De la Cruz, Rubro-Negro terá ao todo 10 desfalques


Filipe Luís encerrou a preparação para o duelo com o Criciúma na manhã desta terça-feira.  O treinador foi informado de novos três desfalques, mas também será reforçado pelos retornos de Erick Pulgar, que cumpriu suspensão na vitória por 3 a 2 sobre o Internacional de Porto Alegre, e Luiz Araújo, que se recuperou de uma lesão no joelho direito. 


Flamengo precisa de substituto para Gabigol? Troca de Passes atualiza situação
Gerson e De la Cruz estão suspensos pelo terceiro cartão amarelo, enquanto Rossi, Léo Pereira e Alex Sandro foram cortados da viagem pelo departamento médico: o goleiro está com dor no ombro direito; o zagueiro tem um incômodo na coxa direita, e o lateral, na panturrilha esquerda.</p>
<p class='noticia-conteudo'>Matheus Cunha, Fabrício Bruno e Ayrton Lucas são os prováveis substitutos do trio.  Pulgar é o favorito para a vaga de De la Cruz, enquanto Alcaraz surge como opção para o lugar de Gerson.  A tendência é que Luiz Araújo comece no banco de reservas pelo longo tempo de inatividade: ele não joga há quase três meses, desde o dia 15 de setembro.</p>
<p class='noticia-conteudo'>A provável escalação tem: Matheus Cunha, Wesley, Fabrício Bruno, Léo Ortiz e Ayrton Lucas; Erick Pulgar, Evertton Araújo e Alcaraz; Michael, Bruno Henrique e Plata. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_27_0.jpg"></div><p class='foto-descricao'>Alcaraz e Pulgar em treino do Flamengo — Foto: Gilvan de Souza / CRF</p>

Pendurado, Gabigol ficou fora da lista para não correr risco de que um terceiro cartão amarelo o tire da partida contra o Vitória, no fim de semana.  Pedro, Everton Cebolinha, Viña e Arrascaeta, todos fora da temporada, completam a lista de desfalques.</p>
<p class='noticia-conteudo'>Terceiro colocado do Brasileirão com 66 pontos (sete atrás do líder Botafogo), o Flamengo volta a campo nesta quarta-feira para enfrentar o Criciúma, às 20h (de Brasília) no Heriberto Hülse, pela penúltima rodada do campeonato. 
🗞️ Leia mais notícias do Flamengo
🎧 Ouça o podcast ge Flamengo
Assista: tudo sobre o Flamengo no ge, na Globo e no sportv
50 vídeos
FLAMENGO.</p>
{% endblock main_content %}

