
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}vasco{% endblock title %}
{% block main_title %}vasco{% endblock main_title %}
{% block second_title %}Escalação do Inter volante titular está fora das últimas rodadas do Brasileirão{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Escalação do Inter: volante titular está fora das últimas rodadas do Brasileirão
Treinador definiu a escalação para conter o embalo do Botafogo e impedir o título antecipado dos cariocas



Saiba o que ainda resta para o Inter no Brasileirão
O Inter está pronto para enfrentar o Botafogo na noite de quarta-feira e tentar impedir o título antecipado dos cariocas.  Na tarde desta terça, o técnico Roger Machado definiu a escalação e acertou a estratégia em busca da reabilitação no Brasileirão. 

O Colorado terá uma ausência.</p>
<p class='noticia-conteudo'>Thiago Maia não ficará à disposição contra o Glorioso e diante do Fortaleza em razão de uma questão familiar.  O pai, Joel Alencar, sofreu um Acidente Vascular Cerebral (AVC) recentemente.  Na vitória sobre o Bragantino, o atacante Wesley homenageou o parceiro na comemoração de um dos gols.</p>
<p class='noticia-conteudo'>O volante até voltou ao time na derrota por 3 a 2 para o Flamengo.  Entretanto, o Inter informou no início da noite desta terça que houve piora no quadro de Joel.  Clube e jogador tomaram a decisão por priorizar "o cuidado mental e familiar do jogador".</p>
<p class='noticia-conteudo'>Sem o camisa 29, a tendência é que o treinador opte por Rômulo.  O camisa 40 foi quem substituiu Thiago Maia no Maracanã.  Bruno Henrique surge como alternativa.</p>
<p class='noticia-conteudo'>A atividade, realizada com os portões fechados no Centro de Treinamentos Parque Gigante, contou com uma presença ilustre. 
Tinga, bicampeão da Libertadores pelo clube gaúcho, acompanhou a movimentação e conversou com o presidente Alessandro Barcellos, o vice de futebol José Olavo Bisol e os ex-companheiros D'Alessandro e Roger. 
Veja mais:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_29_0.jpg"></div><p class='foto-descricao'>Roger busca a reabilitação do Inter — Foto: Ricardo Duarte/Divulgação, Internacional</p>
O Inter contará com o retorno de Rafael Borré.</p>
<p class='noticia-conteudo'>O atacante foi a baixa do time no Rio de Janeiro por cumprir suspensão.  Enner Valencia, que deu assistência a Wesley e fez um gol, volta ao banco de reservas. 
O provável time tem: Rochet; Bruno Gomes, Rogel, Vitão e Bernabei; Fernando, Rômulo (Bruno Henrique), Bruno Tabata, Wesley e Alan Patrick; Borré.</p>
<p class='noticia-conteudo'>O Colorado disputa o último jogo do ano no Beira-Rio na noite de quarta-feira.  O duelo com o Botafogo começa às 21h30.  Os gaúchos estão em quarto lugar com 65 pontos, oito a menos que os cariocas, que lideram a competição.</p>
<p class='noticia-conteudo'>50 vídeos
INTERNACIONAL.</p>
{% endblock main_content %}

