
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Escalação do Atlético-MG com Zaracho na delegação, Galo chega à Argentina{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Escalação do Atlético-MG: com Zaracho na delegação, Galo chega à Argentina
Time está em Buenos Aires onde enfrenta o Botafogo no sábado, no principal jogo do clube no ano



Voz do Setorista: Laura Rezende detalha a chegada do Atlético a Buenos Aires
Na noite desta quarta-feira, o Atlético-MG chegou ao hotel onde ficará concentrado, na região de La Plata, em Buenos Aires.  O técnico Gabriel Milito comandou o último treino na Cidade do Galo nesta manhã antes da viagem.  No sábado, às 17h (de Brasília), Galo e Botafogo decidem o título da Conmebol Libertadores.</p>
<p class='noticia-conteudo'>A final será em jogo único no Monumental de Núñez, na capital argentina. 


O local fica cerca de 30km do centro de Buenos Aires.  Nenhum torcedor atleticano estava no hotel para recepcionar o time, e não houve entrevista na chegada.</p>
<p class='noticia-conteudo'>Praticamente todos os jogadores do elenco atleticano vieram para Buenos Aires, inclusive Zaracho, que está lesionado.  Cadu é o único que ficou na fisioterapia em Belo Horizonte, se recuperando de cirurgia no joelho direito. 
Provável escalação do Atlético: Everson; Lyanco, Battaglia e Junior Alonso; Gustavo Scarpa, Fausto Vera, Alan Franco e Arana; Paulinho, Hulk e Deyverson
Os jogadores do Atlético vão fazer duas atividades, uma na quinta e outra na sexta, antes da decisão de sábado no estádio do River Plate.</p>
<p class='noticia-conteudo'>Aerogalo: Atlético-MG embarca para Argentina com apoio da torcida: "Eu acredito"
Como a final é em jogo único, quem vencer levanta a taça.  Em caso de empate, haverá prorrogação.  E, se persistir a igualdade, o título será definido nos pênaltis.</p>
<p class='noticia-conteudo'>Esta é sexta decisão da Conmebol Libertadores nesse formato. 
O vencedor garante vaga na Copa Intercontinental e vai enfrentar o Pachuca, do México, no dia 11 de dezembro, em Doha, no Catar.  Quem passar pega o Al Ahly, do Egito, decidindo um lugar na decisão contra o Real Madrid.</p>
<p class='noticia-conteudo'>O campeão da Conmebol Libertadores fica com a última vaga no Mundial de Clubes, que será disputado nos Estados Unidos entre 15 de junho e 13 de julho do ano que vem. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_37_0.jpg"></div><p class='foto-descricao'>Zaracho viajou com a delegação do Atlético-MG para a Argentina — Foto: Reprodução/Redes sociais</p>
Além disso, o vencedor vai disputar o título da Recopa com o Racing, que conquistou a Copa Sul-Americana.  A disputa está marcada para os dias 19 e 26 de fevereiro.</p>
<p class='noticia-conteudo'>Assista: tudo sobre o Atlético no ge, na Globo e no Sportv
50 vídeos

ATLÉTICO-MG.</p>
{% endblock main_content %}

