
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}atletico_mg{% endblock title %}
{% block main_title %}atletico_mg{% endblock main_title %}
{% block second_title %}Escalação do Atlético-MG sem Zaracho, Galo viaja para enfrentar o Athletico-PR; veja time provável{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Escalação do Atlético-MG: sem Zaracho, Galo viaja para enfrentar o Athletico-PR; veja time provável
Jogador ficou em Belo Horizonte para aprimoramento físico, segundo o clube


O Atlético-MG viaja para enfrentar o Athletico-PR neste sábado, em jogo atrasado da 19ª rodada do Brasileirão.  A partida é na Ligga Arena, às 18h30 (de Brasília).  Entre os relacionados, Milito tem ausências de selecionáveis e ainda não vai contar com Zaracho.</p>
<p class='noticia-conteudo'>Everson tem noite brilhante e evita outra derrota do Galo para o Flamengo

Segundo o Galo, o argentino vai ficar em Belo Horizonte aprimorando a parte física.  Zaracho retornou recentemente após passar por uma cirurgia para corrigir uma hérnia do esporte.  Ele foi titular na final diante do Flamengo no último domingo.</p>
<p class='noticia-conteudo'>No meio de semana, no Maracanã, contra o Rubro-Negro, ele ficou no banco de reservas. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_17_0.jpg"></div><p class='foto-descricao'>Treino do Galo nesta sexta-feira antes de jogo contra o Athletico-PR — Foto: Pedro Souza / Atlético</p>
Além de Zaracho, Milito tem as ausências de Alan Franco, Junior Alonso e Eduardo Vargas que estão com as seleções para jogos das eliminatórias da Copa do Mundo. 
Guilherme Arana, que estava com a seleção brasileira retornou a Belo Horizonte após entorse no tornozelo que o tirou dos jogos da Seleção.</p>
<p class='noticia-conteudo'>Ele vai fazer fisioterapia na Cidade do Galo.  Cadu também segue em tratamento. 
Provável Galo: Everson, Saravia, Battaglia, Lyanco, Rubens; Otávio, Fausto Vera, Scarpa, Bernard, Deyverson (Paulinho) e Hulk
Relacionados do Galo:
Goleiros: Everson, Gabriel Delfim, Matheus Mendes
Laterais: Mariano, Saravia e Rubens
Zagueiros: Bruno Fuchs, Igor Rabello, Maurício Lemos, Lyanco e Battaglia
Meias: Bernard, Fausto Vera, Igor Gomes, Otávio, Paulo Vitor e Gustavo Scarpa
Atacantes: Alan Kardec, Alisson, Caio Maia, Deyverson, Hulk, Palacios e Paulinho
Assista: tudo sobre o Atlético no ge, na Globo e no Sportv
50 vídeos

ATLÉTICO-MG.</p>
{% endblock main_content %}
{% block cor_categoria %}#cc0000{% endblock cor_categoria %}

