
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}selecao{% endblock title %}
{% block main_title %}selecao{% endblock main_title %}
{% block second_title %}Escalação da Seleção Dorival faz observações, mas Danilo é a única novidade em treino em Salvador{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Escalação da Seleção: Dorival faz observações, mas Danilo é a única novidade em treino em Salvador
Lateral-direito substitui o suspenso Vanderson diante do Uruguai.  Treinador observou André e Luiz Henrique em atividade setorizada, mas formação não deve ter mudanças por opção


Dorival até fez testes, mas Danilo foi a única mudança da seleção brasileira em treinamento neste domingo, no Barradão, em Salvador.  O lateral retorna ao time diante do Uruguai na vaga de Vanderson, suspenso pelo segundo cartão amarelo.</p>
<p class='noticia-conteudo'>Capitão da seleção, Marquinhos fala de experiência, momento atual da equipe e Neymar
A tendência é que o Brasil entre em campo com Ederson, Danilo, Marquinhos, Gabriel Magalhães e Abner; Bruno Guimarães, Gerson e Raphinha; Vini Jr. , Igor Jesus e Savinho.  Dorival ainda comandará mais um treino, segunda-feira, na Fonte Nova.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_0.jpg"></div><p class='foto-descricao'>Danilo foi a única novidade em treino da seleção brasileira em Salvador — Foto: Rafael Ribeiro / CBF</p>
No treino deste domingo, Dorival setorizou as atividades em um primeiro momento e deixou André no time defensivo em trabalho de saída de bola.  Entre os atacantes, Luiz Henrique foi observado mais centralizado em movimentação onde Igor Jesus abria espaços, mas Savinho seguiu como extremo pela direita. 
Apesar das observações, quando a comissão técnica abriu o campo e montou time completo, a única mudança foi mesmo Danilo.</p>
<p class='noticia-conteudo'>O lateral volta ao time após ser barrado por Vanderson contra Peru e Venezuela. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_1.jpg"></div><p class='foto-descricao'>Seleção brasileira treinou no Barradão, em Salvador, neste domingo — Foto: Rafael Ribeiro/CBF</p>
Com 17 pontos, o Brasil é o quarto colocado nas eliminatórias sul-americanas para a Copa de 2026, atrás de Argentina (22), Uruguai (19) e Colômbia (19).  O confronto com a Celeste acontece na terça-feira, às 21h45 (de Brasília), na Fonte Nova, em Salvador, pela 12ª rodada.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}
{% block cor_categoria %}#ffcc00{% endblock cor_categoria %}

