
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Escalação do Fluminense Cano participa de treino, e volantes disputam vaga contra Criciúma{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Escalação do Fluminense: Cano participa de treino, e volantes disputam vaga contra Criciúma
Atacante admitiu ter jogado com dores contra Fortaleza, mas participou do treino desta segunda-feira e deve ser relacionado.  Martinelli e Bernal disputam vaga no meio-campo


Após empatar em 2 a 2 com o Fortaleza, na última sexta-feira, no Maracanã, o Fluminense se prepara para um jogo de vida ou morte contra o Criciúma, nesta terça-feira, no mesmo local.  No que se trata de um confronto direto na luta contra o rebaixamento do Campeonato Brasileiro, o Tricolor tem apenas uma dúvida na equipe e deve contar com Germán Cano, que treinou nesta segunda-feira.</p>
<p class='noticia-conteudo'>Flu empata e está a um ponto de distância da zona do rebaixamento
Após a partida contra o Fortaleza, o atacante e o técnico Mano Menezes revelaram que o atleta atuou com dores e deixou o gramado mancando.  Na atividade desta segunda-feira, ele participou do treinamento com o grupo e deve ser relacionado. 
A dúvida fica por conta da escolha do primeiro volante no meio-campo: Martinelli e Bernal disputam a vaga para atuar ao lado de Lima, que segue consolidado com Mano Menezes e deve seguir como titular.</p>
<p class='noticia-conteudo'>Assim, a provável escalação do Fluminense deve ser formada com:
Escalação do Fluminense: Fábio; Samuel Xavier, Thiago Silva, Thiago Santos, Diogo Barbosa; Martinelli (Bernal), Lima, Ganso; Arias, Keno, Kauã Elias. 
Apesar da discussão acalorada no treino da última quinta-feira, os zagueiros Thiago Silva e Felipe Melo participaram da atividade normalmente e o assunto indica ter sido resolvido.  Não houve novos atritos durante o treinamento desta segunda-feira.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_33_0.jpg"></div><p class='foto-descricao'>Cano durante treinamento no Fluminense — Foto: LUCAS MERÇON / FLUMINENSE F. C. </p>
Há expectativa de apoio massivo da arquibancada no penúltimo jogo do ano no Maracanã.</p>
<p class='noticia-conteudo'>Diante do Fortaleza, foram 37. 969 torcedores presentes.  A espera é por um número maior contra o Criciúma.</p>
<p class='noticia-conteudo'>Com o ponto obtido diante do Fortaleza, o Fluminense chegou a 38, em 15º lugar, um a mais que Criciúma e Bragantino, que abrem a zona de rebaixamento.  O Tricolor volta ao Maracanã, na próxima terça-feira, para enfrentar o Criciúma, rival direto na parte de baixo da tabela. 
🎧 Ouça o podcast ge Fluminense
Assista: tudo sobre o Fluminense no ge, na Globo e no sportv
50 vídeos
FLUMINENSE.</p>
{% endblock main_content %}

