
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}cruzeiro{% endblock title %}
{% block main_title %}cruzeiro{% endblock main_title %}
{% block second_title %}Escalação do Cruzeiro Diniz finaliza preparação para final da Sul-Americana; veja provável time{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Escalação do Cruzeiro: Diniz finaliza preparação para final da Sul-Americana; veja provável time
Imprensa teve acesso a 15 minutos de treinamento da equipe no Paraguai


O técnico Fernando Diniz finalizou a preparação do Cruzeiro para a final da Sul-Americana, neste sábado, às 17h (de Brasília), contra o Racing.  A imprensa teve acesso aos primeiros minutos de treino desta sexta-feira, podendo acompanhar apenas o aquecimento. 


Cruzeiro treina às vésperas da final da Sul-Americana

A segunda atividade no Paraguai foi no estádio do Sportivo Luqueño, em Luque, região metropolitana da capital paraguaia.</p>
<p class='noticia-conteudo'>Após poupar os titulares contra o Corinthians, todos treinaram.  Ainda nesta sexta-feira, o técnico Fernando Diniz e o capitão Lucas Romero vão conceder entrevista aos jornalistas. 
Em relação ao time titular, Walace leva vantagem sobre Lucas Silva e tende a ser companheiro de Romero e Matheus Henrique no meio-campo.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_0.jpg"></div><p class='foto-descricao'>Treino do Cruzeiro no Paraguai — Foto: Guilherme Macedo</p>
O provável Cruzeiro para a final tem: Cássio; William, João Marcelo, Villalba e Marlon; Lucas Romero, Walace, Matheus Henrique e Matheus Pereira; Gabriel Veron e Kaio Jorge. 
O Cruzeiro chegou ao Paraguai na quarta-feira, horas após a partida contra o Corinthians, em São Paulo.  O time fez dois treinos no país.</p>
<p class='noticia-conteudo'>Segundo Diniz, os trabalhos eram apenas para alinhar alguns ajustes.  Na tarde de quinta, o elenco recebeu o reforço de Pedro Lourenço, dono do time.  Ele viajou separado da delegação para poder acompanhar a equipe feminina na final do Campeonato Mineiro.</p>
<p class='noticia-conteudo'>Assista: tudo sobre o Cruzeiro no ge, na Globo e no Sportv
50 vídeos

COPA DO BRASIL
CRUZEIRO.</p>
{% endblock main_content %}

