
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}internacional{% endblock title %}
{% block main_title %}internacional{% endblock main_title %}
{% block second_title %}Escalação do Inter Roger ganha reforço, mas tem novo problema para o jogo com o Flamengo{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Escalação do Inter: Roger ganha reforço, mas tem novo problema para o jogo com o Flamengo
Treinador aguarda posição do departamento médico para definir formação que estará em campo no Maracanã



Como a vitória do Botafogo impacta a vida do Inter
Apesar do embalo do Inter, amparado na invencibilidade de 16 partidas, o técnico Roger Machado enfrenta contratempos.  O treinador aguarda um aval do departamento médico, mas o meia Bruno Tabata se encaminha para ficar fora do jogo com o Flamengo, no fim de semana.  Thiago Maia voltou a treinar nesta quarta-feira.</p>
<p class='noticia-conteudo'>O meia-atacante convive com dores insistentes na parte posterior da coxa esquerda há algum tempo.  O problema não chega a ser grave a ponto de provocar um afastamento, mas restringe algumas atividades do jogador.  Tabata tem atuado no sacrifício pela importância do momento do Brasileirão.</p>
<p class='noticia-conteudo'>O camisa 17 não tinha participação prevista no treino da tarde desta quarta-feira.  Pelo menos nas partes técnico e tática.  O Inter viaja no sábado para o Rio de Janeiro.</p>
<p class='noticia-conteudo'>Caso seja vetado da delegação, Gabriel Carvalho estará em campo para o confronto diante dos cariocas. 
Veja mais:


Inter inicia preparação para confronto contra o Flamengo
Já Thiago Maia retornou e pode ficar à disposição.  O volante foi liberado na semana passada para viajar a Boa Vista, em Roraima, para acompanhar o pai, hospitalizado após sofrer um Acidente Vascular Cerebral (AVC).</p>
<p class='noticia-conteudo'>A tendência é que retome a vaga entre os titulares. 
A lista de complicações do Colorado ainda conta com Rafael Borré.  O atacante cumprirá suspensão pelo terceiro cartão amarelo.</p>
<p class='noticia-conteudo'>Enner Valencia receberá a oportunidade como titular. 
O provável time do Inter tem Rochet; Bruno Gomes, Rogel, Vitão e Bernabei; Fernando, Gabriel Carvalho, Thiago Maia e Wesley; Alan Patrick e Valencia. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_26_0.jpg"></div><p class='foto-descricao'>Roger avalia qual estratégia para encarar o Flamengo no Maracanã — Foto: Ricardo Duarte/Internacional</p>
O Colorado volta aos trabalhos na manhã desta quinta-feira.</p>
<p class='noticia-conteudo'>O confronto diante do Flamengo ocorrerá no domingo, às 16h, no Maracanã.  Os gaúchos estão em terceiro lugar do Brasileirão com 65 pontos, oito atrás do líder Botafogo.  O time de Filipe Luís aparece em quinto com 63.</p>
<p class='noticia-conteudo'>50 vídeos
INTERNACIONAL.</p>
{% endblock main_content %}

