
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Especialista Digital aposta em Alerrandro na #36 e fecha novembro no Nível Ouro III{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Atacante do Vitória anota 19,90 pontos no triunfo sobre o Fortaleza e ajuda a inteligência artificial do Gato Mestre a subir de patamar



Cartola | Alerrandro, atacante do Vitória, é o Craque Betano de domingo na rodada #36

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_382_0.jpg"></div><p class='foto-descricao'>Alerrandro comemora gol em Vitória x Fortaleza — Foto: Victor Ferreira / EC Vitória</p>

Foram 77,37 pontos, o que significa 26 rodadas seguidas acima da média de cartoleiros, que ficou em 40,83.  Além disso, o Gato Mestre derrotou os Mais Escalados (70,77).  O patrimônio do Especialista renovou o recorde, com C$ 140,76, mantendo-se por todo o Brasileirão acima da média geral (C$ 123,95) e suficiente para montar uma seleção nas rodadas finais.</p>
<p class='noticia-conteudo'>Garro, mais uma vez, foi motor da excelente fase no Corinthians e contribuiu muito, mas o grande craque do time e aposta do Especialista foi Alerrandro, do Vitória, com 19,90 pontos. 


Pontuação: 77,37
Todos os gols de Alerrandro, do Vitória, pelo Brasileirão 2024
Especialista do Gato Mestre
O Gato Mestre dá dicas de um time completo todas as rodadas, desde 2021.  A escalação já foi montada pelo melhor cartoleiro do país nos últimos anos: primeiro Juvenal Cardoso, o Mestre Kuka, depois Victor Maynard.</p>
<p class='noticia-conteudo'>Para este ano, porém, as dicas são de um assistente virtual. 
Em 2024 o Especialista passa a ser um componente digital, que dá dicas de escalação usando ferramentas de Inteligência Artificial e com velocidade de processamento de dados, o que reduz o tempo de estudo de cartoleiras e cartoleiros por rodada.  Outro ponto é a isenção, pois o novo Especialista digital trabalha com o cruzamento de diversos dados diferentes para tomar uma decisão.</p>
<p class='noticia-conteudo'>Siga o Gato Mestre nas redes sociais
X (Twitter)
Threads
Facebook
Instagram
*Gato Mestre é formado pelos jornalistas Arthur Sandes e Guilherme Giavoni e os cientistas de dados Paulo Pestana e Vitor Patalano..</p>
{% endblock main_content %}

