
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Estêvão supera Pedro e Hulk e tem maior poder ofensivo do Brasileiro{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Estêvão supera Pedro e Hulk e tem maior poder ofensivo do Brasileiro
Após assistir o Paulistão do banco de reservas e levar algumas rodadas para se firmar como titular na Série A, atacante se torna o artilheiro.  Veja os dez atletas mais presentes em lances importantes de ataque

19/11/2024 11h56 Atualizado

Gols, assistências e melhores momentos de Estêvão no Brasileirão 2024
Campeão paulista deste ano acompanhando toda a competição do banco de reservas e entrando em campo ao longo de apenas cinco jogos, Estêvão começou o Brasileirão de mansinho e demorou um pouco para conquistar seu espaço, mas ao se impor em campo, se tornou o novo artilheiro da competição. 
Com o fim dos jogos adiados após a realização de Athletico-PR 1 a 0 Atlético-MG, o ranking elaborado pelo Espião Estatístico atribui diferentes pontuações para cada tipo de participação ofensiva.</p>
<p class='noticia-conteudo'>Foram analisadas 8. 358 finalizações do Brasileirão e atribuída para cada caso a mesma pontuação empregada desde 2017, quando começamos a fazer este levantamento. 
Diferentemente de outros rankings, aqui um atleta pontua até mesmo quando faz uma "assistência indireta".</p>
<p class='noticia-conteudo'>Por exemplo, se uma finalização sua é rebatida e um companheiro aproveita esse rebote e faz o gol, os dois pontuam.  Os critérios estão no final do texto. 
Veja como ficou o ranking de poder ofensivo após a rodada #33.</p>
<p class='noticia-conteudo'>Para ver os 10 jogadores com maior poder ofensivo do Brasileirão, use as setas abaixo. 
Para ver os 10 jogadores com maior poder ofensivo do Brasileirão, use as setas no alto do ranking. 
Metodologia
Para a elaboração do ranking, foram definidas diferentes pontuações para cada critério: oito pontos para gols, cinco para assistências para gols, dois para assistências indiretas (quando há uma rebatida ou desvio em adversário ou na trave antes da finalização), dois pontos para pênaltis sofridos, um ponto para finalizações que exigiram defesas difíceis, foram salvas por um defensor após o goleiro estar batido ou que acertaram a trave sem um desvio anterior de adversário (quando a bola foi diretamente na trave, sem interferência) e 0,6 ou 0,5 ponto para assistências que resultaram em finalizações difíceis ou assistências indiretas para finalizações difíceis.</p>
<p class='noticia-conteudo'>A cada impedimento, foi descontado 0,5 ponto.  Criado em 2017, a base dessas pontuações foram baseadas nos critérios do Cartola da época e mantidos ao longo dos anos.  A soma desses valores foi dividido pelo número de minutos que cada um esteve em campo, e o resultado multiplicado por dez para gerar um índice.</p>
<p class='noticia-conteudo'>Como é padrão nos rankings publicados pelo Espião Estatístico, participaram do levantamento apenas os jogadores que disputaram ao menos 40% dos minutos do atleta de linha com mais minutos em campo. 
*A equipe do Espião Estatístico é formada por: Davi Barros, Guilherme Maniaudet, Guilherme Marçal, Igor Mattos, Leandro Silva, Roberto Maleson, Roberto Teixeira, Valmir Storti. 
AMÉRICA-MG
ATHLETICO-PR
ATLÉTICO-GO
ATLÉTICO-MG
AVAÍ
BOTAFOGO
BRAGANTINO
CORINTHIANS
CORITIBA
CUIABÁ
FLAMENGO
FLUMINENSE
FORTALEZA
GOIÁS
INTERNACIONAL
JUVENTUDE
PALMEIRAS
SANTOS
SÃO PAULO.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

