
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Evander, ex-Vasco, entra para a seleção da temporada da MLS com Messi e Jordi Alba{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Evander, ex-Vasco, entra para a seleção da temporada da MLS com Messi e Jordi Alba
Jogador do Portland Timbers é o único brasileiro entre os 11 atletas que formam o time ideal da liga em 2024


O meia Evander, ex-jogador do Vasco, foi um dos jogadores escolhidos para integrar a seleção do ano na MLS, a principal liga de futebol dos Estados Unidos.  O atleta do Portland Timbers é o único brasileiro entre os 11 jogadores selecionados para o time ideal, que tem como grande estrela Lionel Messi, do Inter Miami, e ainda conta com Jordi Alba e Christian Benteke. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_14_0.jpg"></div><p class='foto-descricao'>Seleção da temporada 2024 da MLS tem Lionel Messi entre os escolhidos — Foto: Divulgação/MLS</p>
O Inter Miami, apesar de ter caído na primeira fase dos playoffs, tem dois jogadores seleção de 2024 da MLS: Messi e Jordi Alba.</p>
<p class='noticia-conteudo'>O clube, que é controlado por David Beckham, teve a melhor campanha na fase regular da competição, mas caiu de forma surpreendente para o Atlanta United.  O Columbus Crew é a outra equipe a ter mais de um representante: Steven Moreira e Cucho Hernández. 

O LA Galaxy, que está na final da competição, teve apenas um representante: o meia Riqui Puig, ex-jogador do Barcelona.</p>
<p class='noticia-conteudo'>Gabriel Pec, também ex-jogador do Vasco, ficou fora da equipe, apesar de ter sido eleito a contratação do ano na liga.  O New York RB, que também está na decisão, não teve nenhum atleta selecionado. 
A eleição da seleção do ano acontece entre jornalistas, jogadores e membros das comissões técnicas dos clubes da MLS.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_14_1.jpg"></div><p class='foto-descricao'>Evander foi escolhido para a seleção do ano na MLS — Foto: Getty Images</p>
MESSI.</p>
{% endblock main_content %}

