
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Ex-jogador passa mal e recebe atendimento durante Holanda x Hungria{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Ex-jogador passa mal e recebe atendimento durante Holanda x Hungria
Ádam Szalai, que atuou na Euro 2024, cai no banco de reservas e recebe atendimento; partida da Liga das Nações foi paralisada


O confronto entre Holanda e Hungria pela 5ª rodada da Liga das Nações foi paralisado logo nos minutos iniciais.  Ádam Szalai, ex-jogador que atuou pela Hungria na Euro 2024, passou mal no banco da seleção húngara e recebeu atendimento.  O relógio da partida parou de correr e o estádio ficou em silêncio.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_12_0.jpg"></div><p class='foto-descricao'>Membro da comissão técnica da Hungria passa mal e recebe atendimento — Foto: ANP via Getty Images</p>
- Ádám Szalai adoeceu nos primeiros minutos do jogo Holanda x Hungria, mas o seu estado é estável e está consciente.  Minutos atrás, ele foi transportado de ambulância para um hospital de Amsterdã para ser examinado - publicou a federação húngara. 
O auxiliar que passou mal é Ádám Szalai, de 36 anos.</p>
<p class='noticia-conteudo'>Ele aposentou-se recentemente do futebol e chegou a atuar pela Hungria na Eurocopa de 2024.  Hoje, Szalai trabalha na comissão técnica de Marco Rossi. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_12_1.jpg"></div><p class='foto-descricao'>Ádam Szalai gol Hungria Alemanha — Foto: John Macdougall/AFP</p>
O jogo começou às 16h45 deste sábado, e o caso ocorreu logo nos minutos iniciais.</p>
<p class='noticia-conteudo'>Aos 7', a partida foi paralisada logo após um membro da comissão técnica da Hungria cair no banco de reservas.  O homem tremia e batia as pernas no chão. 
Jogadores e membros das comissões fizeram um cordão de isolamento para que Szalai, no chão, não fosse visto.</p>
<p class='noticia-conteudo'>O atendimento foi imediato.  A Johan Cruyff Arena, em Amsterdã, ficou em absoluto silêncio.  A arquibancada uniu-se em aplauso logo depois do equipamento de reanimação ser levado de volta à ambulância.</p>
<p class='noticia-conteudo'>Várzea? Hungria faz lance bizarro contra Holanda.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

