
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Ex-número 3 do mundo, tenista argentino revela drama com lesões Pesadelo sem fim{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Ex-número 3 do mundo, tenista argentino revela drama com lesões: "Pesadelo sem fim"
Juan Martín del Potro não joga em alto nível desde 2019, após fraturar o joelho, e sente dores em atividades corriqueiras do dia a dia: "Tenho que tomar seis ou sete pílulas"



O título de Juan Martín del Potro no US Open
Um dos principais nomes do tênis nas últimas décadas, Juan Martín del Potro desabafou sobre as lesões que abreviaram sua carreira.  O argentino de 36 anos, que chegou a ser número 3 do mundo, revelou que precisa tomar até sete pílulas por dia e vem lidando também contra a ansiedade. 
O drama de Del Potro começou em 2019, quando ele fraturou o joelho.</p>
<p class='noticia-conteudo'>Três anos depois, tentou retornar em Buenos Aires, mas foi derrotado na primeira rodada e admitiu, na ocasião, que não conseguiria voltar a jogar. 
- Minha vida diária não é o que costumava ser.  Não consigo jogar futebol, não consigo jogar padel.</p>
<p class='noticia-conteudo'>É terrível.  Eles tiraram de mim a chance de fazer o que eu mais amava, que era jogar tênis - disse Del Potro, em vídeo publicado em suas redes sociais. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_14_0.jpg"></div><p class='foto-descricao'>Juan Martin Del Potro chora após último jogo da carreira profissional — Foto: Marcelo Endelli/Getty Images</p>
De acordo com o tenista, os problemas começaram após a cirurgia no joelho em 2019.</p>
<p class='noticia-conteudo'>- O médico me disse que eu voltaria a jogar em três meses.  Eu até me inscrevi em torneios no fim do ano.  Desde aquele momento, eu nunca mais fui capaz de subir escadas sem dor.</p>
<p class='noticia-conteudo'>Dói quando eu dirijo, dói muitas vezes quando eu vou dormir.  É um pesadelo sem fim - contou. 

"Todo dia quando acordo tenho que tomar seis ou sete pílulas"
A nova condição de Del Potro provocou mudanças na rotina do tenista, a ponto de ele ter ganhado peso por conta dos medicamentos.</p>
<p class='noticia-conteudo'>- Há momentos em que eu não tenho mais força.  Não sou indestrutível.  Eu passo por bons e maus momentos, mas na maioria das vezes eu preciso fingir e mostrar um rosto feliz.</p>
<p class='noticia-conteudo'>Mas muitas vezes me sinto terrível.  Todo dia quando acordo eu tenho que tomar seis ou sete pílulas.  Gastrite, anti-inflamatórios, uma para ansiedade.</p>
<p class='noticia-conteudo'>As pílulas me fizeram engordar, então me falaram para parar de comer algumas coisas - completou. 
Del Potro vence Indian Wells
Despedida oficial contra Djokovic
Mesmo com as limitações, Del Potro ainda planeja uma despedida oficial.  Ele vai enfrentar Novak Djokovic em um jogo de exibição em dezembro, em Buenos Aires.</p>
<p class='noticia-conteudo'>Os dois se enfrentaram na final do US Open, em 2018, quando o sérvio saiu vencedor. 
- Djokovic foi muito generoso em aceitar meu convite.  Eu quero dar a ele todo o amor possível.</p>
<p class='noticia-conteudo'>Se eu puder estar em paz e feliz numa quadra de tênis por uma, duas ou três horas, será maravilhoso - completou Del Potro. 
Rafael Nadal e Juan del Potro fazem jogo épico e argentino avança para a final do tênis
Além de ter atingido a terceira posição no ranking da ATP, Del Potro também colecionou títulos.  Ele conquistou o US Open em 2009, derrotando Nadal e Federer na campanha, e o Masters 1000 de Indian Wells em 2018.</p>
<p class='noticia-conteudo'>Ao todo, foram 22 títulos na carreira..</p>
{% endblock main_content %}

