
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Ex-promessa do Manchester United deixa o futebol para virar carteiro Estava farto{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Ex-promessa do Manchester United deixa o futebol para virar carteiro: "Estava farto"
Marnick Vermijl deixou o Thes, da Bélgica, para começar a trabalhar como carteiro e ter mais tempo com a família


Marnick Vermijl era uma das promessas para os últimos anos da "era Alex Ferguson" no Manchester United.  O meia não ganhou tanto espaço no clube e rodou pela Inglaterra.  Ele chegou a jogar na Holanda e na Bélgica até largar o futebol aos 32 anos.</p>
<p class='noticia-conteudo'>Vermijl diz ser mais feliz com o trabalho de carteiro. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_10_0.jpg"></div><p class='foto-descricao'>Marnick Vermijl em campo pelo Manchester United — Foto: Anesh Debiky/Gallo Images/Getty Images</p>
- Eu estava farto do futebol profissional.  Você é muito dependente do treinador que tem.</p>
<p class='noticia-conteudo'>Encontrar prazer também foi um grande fator para mim - disse Vermijl. 
Dos campos às cartas, Vermijl não está há muito tempo na nova empreitada.  Ele atuou pelo Thes Sport, da Bélgica, até a última temporada.</p>
<p class='noticia-conteudo'>Manchester United revela detalhes de novo estádio para 100 mil pessoas
- Como carteiro, tenho que acordar às quatro horas, mas agora estou em casa por volta do meio-dia e posso pegar as crianças na escola todos os dias.  Isso é um luxo. 
Vermijl era uma promessa no Manchester United de Ferguson.</p>
<p class='noticia-conteudo'>Sem espaço nos Red Devills, o meia belga jogou por Sheffield United, Preston North End e Scunthorpe.  Depois, jogou por MVV, da Holanda, até fechar com o Thes..</p>
{% endblock main_content %}

