
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}internacional{% endblock title %}
{% block main_title %}internacional{% endblock main_title %}
{% block second_title %}Ex-presidente e ex-vice do Inter são condenados à prisão por desvios do clube em nova decisão da Justiça{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Ex-presidente e ex-vice do Inter são condenados à prisão por desvios do clube em nova decisão da Justiça
Vitorifo Piffero e Pedro Affatato foram condenados a 12 anos e 76 anos de prisão, respectivamente


A Justiça do Rio Grande do Sul condenou à prisão pela segunda vez o ex-presidente do Inter, Vitorifo Piffero, e o ex-vice de Finanças, Pedro Affatato, por envolvimento em um esquema de desvio de recursos do clube na gestão 2015-2016. 
Piffero foi condenado a mais de 12 anos de prisão, além do pagamento de 270 salários mínimos, pelos crimes de estelionato e lavagem de dinheiro.  Affatato foi condenado a mais de 76 anos de prisão, além do pagamento de 675 salários mínimos, pelos mesmos crimes e também por organização criminosa.</p>
<p class='noticia-conteudo'>Eles podem recorrer da decisão em liberdade. 
A sentença da 2ª Vara Estadual de Processo e Julgamento dos Crimes de Organização Criminosa e Lavagem de Dinheiro, em Porto Alegre, foi publicada nesta quinta-feira.  A mulher do ex-presidente colorado e outros três empresários ligados ao setor de turismo também foram condenados.</p>
<p class='noticia-conteudo'>Relembre a primeira condenação de ex-presidente e ex-vice de Finanças do Inter
O quem dizem as defesas:
Procurada pela reportagem, a defesa de Pedro Affatato informou que irá recorrer da sentença e se manifestará apenas nos autos do processo.  O advogado Nei Breitman, que representa Vitorio Piffero, também afirmou que vai recorrer e confia na absolvição de seu cliente. 
– De qualquer modo, já adianto que a condenação de Vitorio Piffero está relacionada com a circunstância de exercer à época a Presidência do Clube.</p>
<p class='noticia-conteudo'>Reafirmamos a inocência do Sr.  Vitorio nesse contexto e, especialmente, pelo fato que gerou sua condenação.  Iremos recorrer e confiamos na reversão da sentença – diz a defesa em nota.</p>
<p class='noticia-conteudo'>Relembre o caso


Essa é a terceira sentença proferida pela Justiça sobre irregularidades no Inter durante a gestão Piffero e abrange o núcleo agência de viagens.  Os processos foram divididos em partes.  Na primeira (núcleo administrativo-financeiro), os dois ex-dirigentes também foram condenados à prisão.</p>
<p class='noticia-conteudo'>Na segunda (núcleo jurídico), ex-vice-presidente jurídico do Inter Marcelo Castro também foi condenado. 
Os processos são oriundos da Operação Rebote, deflagrada em 2018 pelo Ministério Público para investigar as suspeitas de irregularidades do Inter.  Segundo as investigações, o esquema teria provocado um rombo de mais de R$ 13 milhões dos cofres colorados.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_0.jpg"></div><p class='foto-descricao'>Pedro Affatato e Vitorio Piffero, ex-dirigentes do Inter — Foto: Tomás Hammes / GloboEsporte. com</p>
Entenda o caso
As investigações sobre as suspeitas de irregularidades no Inter começaram em 2017, no ano seguinte ao rebaixamento do clube para a Série B.  Em abril daquele ano, o Conselho Fiscal do clube emitiu parecer recomendando ao Conselho Deliberativo a reprovação das contas da gestão Piffero.</p>
<p class='noticia-conteudo'>Em decisão inédita, o Conselho do clube acolheu o parecer e reprovou as contas do clube, pela primeira vez na história.  Na ocasião, o presidente do Conselho Fiscal Geraldo Costa da Camino pediu abertura de sindicância para apurar "graves falhas de controles internos" apontadas por uma auditoria externa contratada pelo clube. 
Justiça investiga ex-dirigentes do Internacional e a fraude pode chegar a R$13 milhões
Em setembro do mesmo ano, um relatório sobre as finanças do Inter detectou uma "inconsistência" de R$ 9 milhões em contratos não realizados com cinco empresas do ramo de construção civil.</p>
<p class='noticia-conteudo'>O documento apontava o pagamento suspeitos para obras que não haviam sido realizadas.  Os conselheiros criaram uma comissão especial para investigar os gastos na gestão anterior. 
Mais de um ano depois, em decisão considerada histórica, o Conselho Deliberativo do Inter votou pela inelegibilidade de Piffero e outros três ex-dirigentes por 10 anos.</p>
<p class='noticia-conteudo'>O ex-presidente, o ex-vice de Finanças, Pedro Affatato; o ex-vice de Patrimônio, Emídio Ferreira; e o ex-vice de Administração, Alexandre Limeira, foram considerados culpados por gestão irregular e temerária no biênio 2015/2016. 
Em dezembro de 2018, o Ministério Público deflagrou a "Operação Rebote" e cumpriu mandados de busca e apreensão contra ex-dirigentes da gestão Piffero.  Foram apreendidos documentos e outras informações que resultaram nas denúncias feitas pelo Ministério Público.</p>
<p class='noticia-conteudo'>Os acusados viraram réus em novembro de 2019. 


50 vídeos.</p>
{% endblock main_content %}

