
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Ex-São Paulo deixa a Ponte após temporada mais artilheira da carreira e tem futuro incerto{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Ex-São Paulo deixa a Ponte após temporada mais artilheira da carreira e tem futuro incerto
Gabriel Novaes, de 25 anos, tem contrato com o Red Bull Bragantino até o fim de 2026

06/12/2024 08h35 Atualizado há 3 horas

Aos 50 min do 2º tempo - gol de dentro da área de Gabriel Novaes da Ponte Preta contra o Coritiba
Gabriel Novaes é mais um jogador que não fica na Ponte Preta para 2025.  Apesar de o atacante ter terminado a temporada como vice-artilheiro do time, uma renovação está descartada. 
Ele tem contrato de empréstimo até o fim de dezembro e está com o futuro incerto.</p>
<p class='noticia-conteudo'>Com vínculo até maio de 2026 junto ao Red Bull Bragantino, Novaes também ainda não sabe se será aproveitamento no Toro Loko em 2025 - o time define a permanência na elite nacional no domingo, na última rodada do Brasileirão. 
O atacante deixa a Macaca após o ano mais artilheiro como profissional.  Foram sete gols em 30 jogos, ficando atrás apenas de Jeh, que marcou 11 vezes com a camisa alvinegra.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_136_0.jpg"></div><p class='foto-descricao'>Gabriel Novaes comemora gol pela Ponte — Foto: Marcos Ribolli</p>
Gabriel, atualmente com 25 anos, só tinha feito mais gols na base do São Paulo.  Em 2018, por exemplo, marcou 20 vezes em 46 jogos.  Ele também foi campeão da Copa São Paulo de Futebol Júnior pelo Tricolor em 2009, ao lado de Antony, e logo na sequência ganhou uma chance no Barcelona B.</p>
<p class='noticia-conteudo'>Ainda passou pelo Córdoba na Espanha e retornou ao Brasil para defender Juventude e Bahia por empréstimo até ser vendido pelo São Paulo ao Red Bull Bragantino, que, em maio de 2021, desembolsou aproximadamente R$ 6 milhões por 70% dos direitos federativos. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_136_1.jpg"></div><p class='foto-descricao'>Antony e Gabriel Novaes fizeram dupla no título da Copinha de 2019 — Foto: Tetê Viviani/Colaboração</p>
Novaes teve temporadas discretas pelo Toro Loko e foi emprestado ao Goiás em 2023, mas sofreu com problemas físicos, incluindo uma grave lesão no joelho que o tirou dos gramados por seis meses.  A passagem pela Ponte foi uma espécie de recomeço.</p>
<p class='noticia-conteudo'>Quando vivia o melhor momento da carreira, como dito por ele mesmo, fraturou o braço direito durante um treino, em 18 de junho, e ficou quase dois meses sem atuar. 
Na reta final, chegou a marcar nas vitórias contra Botafogo-SP e Brusque, mas foi insuficiente para evitar o rebaixamento da Macaca na Série B do Brasileiro. 
Gabriel Novaes se destaca, Ponte Preta vence e abre três pontos do Z4

Diante da queda, o elenco alvinegro passará por uma reformulação profunda para 2025.</p>
<p class='noticia-conteudo'>A tendência é que até 80% das peças sejam modificadas. 
PONTE PRETA.</p>
{% endblock main_content %}

