
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Fã de Neymar e com camisa de R10, torcedor-mirim do Boca vai a hotel do Atlético-MG para tietar Deyverson{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Fã de Neymar e com camisa de R10, torcedor-mirim do Boca vai a hotel do Atlético-MG para tietar Deyverson
Felipe Pipe, de 9 anos, é torcedor xeneize e conseguiu fotos com atacante do Galo, que ganhou admiração do argentino após eliminação do River Plate



Deyverson, atacante do Atlético-MG, assina camisa de torcedor
Com calção do Boca Juniors, camisa de Ronaldinho na Seleção, chuteiras e uma bola de futebol, Felipe Pipe, de 9 anos, esperava a delegação do Atlético-MG na porta do hotel onde o clube está concentrado em La Plata, na Argentina.  O motivo? Encontrar com Deyverson. 


Ainda tímido nas palavras e com as câmeras, Felipe destoa no conhecimento de futebol brasileiro.</p>
<p class='noticia-conteudo'>Junto do pai, David Pipe, o garoto foi perguntado se conhecia o Botafogo, rival do Atlético, e de pronto falou: Garrincha.  O menino também é fã de outro brasileiro: Neymar. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_37_0.jpg"></div><p class='foto-descricao'>Torcedor argentino na espera de Deyverson, atacante do Atlético-MG — Foto: Laura Rezende/TV Globo</p>
A espera rendeu autógrafo e foto com Deyverson.</p>
<p class='noticia-conteudo'>Ao assinar a camisa do garoto, o camisa 9 do Galo perguntou para quem ele torcida.  Ao ouvir Boca Juniors, comemorou. 
Ao ge, o pai de Pipe contou que ele imita a brincadeira de Deyverson de fingir que vai chutar a bola e segurar a perna.</p>
<p class='noticia-conteudo'>Deyverson fez isto contra o River Plate, maior rival do Boca (confira no vídeo abaixo). 
Barboza cobra Deyverson por provocação
Felipe e o pai eram os torcedores presentes na porta do hotel atleticano, que fica distante do centro de Buenos Aires.  O garoto reside em um bairro que fica nas proximidades de onde a delegação do Galo está hospedada.</p>
<p class='noticia-conteudo'>O Galo enfrenta o Botafogo no sábado, às 17h (de Brasília), na final da Conmebol Libertadores.  O time chegou a Buenos Aires na noite desta quarta-feira e faz dois treinos na cidade antes da decisão.  Praticamente toda a delegação viajou para a final, inclusive Zaracho, que está com uma lesão na posterior da coxa e fora da partida.</p>
<p class='noticia-conteudo'>Voz do Setorista: Laura Rezende detalha a chegada do Atlético a Buenos Aires
Assista: tudo sobre o Atlético no ge, na Globo e no Sportv
50 vídeos

ATLÉTICO-MG.</p>
{% endblock main_content %}

