
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Fábio Giga veja antes e depois do fisiculturista{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Fábio Giga: veja antes e depois do fisiculturista
Confira a evolução do físico do brasileiro sucesso nas redes sociais

08/12/2024 06h00 Atualizado há 4 horas

Fisiculturismo masculino: conheça as diferenças e peculiaridades de cada categoria
Fábio Augusto Rezende, popularmente chamado de Fábio Giga Pro, é nome conhecido no cenário brasileiro de fisiculturismo brasileiro.  Ele se destacou com três vitórias na categoria Super Heavyweight e com vídeos publicados nas redes sociais, mostrando uma evolução no físico, registrada desde a juventude, quando começou a treinar.  Confira, nesta reportagem, o antes e depois de Fábio Giga.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_223_0.jpg"></div><p class='foto-descricao'>Fábio Giga: antes e depois do físico do fisiculturista — Foto: Montagem/Reprodução/Instagram</p>
Superando adversidades, Giga conquistou espaço no mercado fitness e, embora não dispute mais campeonatos, se mantém com rotina ativo, ao lado da companheira, Júlia Chitarra. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_223_1.jpg"></div><p class='foto-descricao'>Físico de Fábio Giga em dois momentos distintos — Foto: Montagem/Reprodução/Redes sociais</p>
Evolução do físico de Fábio Giga
Em janeiro de 2020, Fábio Giga fez uma publicação comparando os físicos do início da jornada de treinos dele, aos 18 anos, e daquele ano.  Ele contou, na legenda, que não treinava na época da primeira imagem.</p>
<p class='noticia-conteudo'>Fisiculturista usa bomba? Confira mitos e verdades
Quanto ganha um fisiculturista? Entenda valores
Quanto come um fisiculturista? Conheça dieta de bodybuilder
Como competir no fisiculturismo? Saiba por onde começar
Como é o julgamento nos torneios de fisiculturismo
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_223_2.jpg"></div><p class='foto-descricao'>Publicação de Fábio Giga nas redes sociais em 2020 — Foto: Reprodução/Instagram</p>
Também aos 18 anos, Giga passou a fazer musculação por incentivo do irmão e, em paralelo aos treinos e à dieta, entrou para a faculdade de Nutrição. 
Ele estreou no fisiculturismo em 2014, ao competir no Campeonato Paulista, no qual conquistou o título na categoria Super Heavyweight (acima de 100kg). 
Francielle Mattos: veja antes e depois da fisiculturista
Ramon Dino: veja antes e depois do fisiculturista
Eduardo Corrêa: veja antes e depois do fisiculturista
Jorlan Vieira: veja antes e depois do fisiculturista
A partir disso, os treinos e a dieta de Giga se tornaram ainda mais intensos e focados.</p>
<p class='noticia-conteudo'>Ele passou a publicar nas redes sociais e a participar de vídeos com Léo Stronda e Felipe Franco, que ajudaram a fortalecer a presença online. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_223_3.jpg"></div><p class='foto-descricao'>Primeira vez que Fábio Giga participa de uma competição de fisiculturismo — Foto: Reprodução/Instagram</p>
Em 2017, Giga venceu nas categorias Super Heavyweight e Overall do Mr.  Rio.</p>
<p class='noticia-conteudo'>Ele ficou sem competir por dois anos e, segundo o fisiculturista, houve cobrança do público.  Isso virou motivação para que o atleta competisse em um dos maiores eventos de fisiculturismo, o Arnold Classic Ohio. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_223_4.jpg"></div><p class='foto-descricao'>Fábio Giga comemorando sua vitória no Mr.</p>
<p class='noticia-conteudo'>Rio, em 2017 — Foto: Reprodução/Instagram</p>
Em 2020, Giga conquistou o Arnold Classic Ohio nas categorias Super Heavyweight e Overall, obtendo o pro card de acesso ao circuito profissional de fisiculturismo. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_223_5.jpg"></div><p class='foto-descricao'>Fábio Giga ao vencer no Arnold Classic Ohio 2020 — Foto: Reprodução/Redes sociais</p>
Atualmente, Giga compartilha a rotina nas redes sociais e realiza consultorias esportivas e nutricionais.  Ele também publica vídeos no próprio canal no YouTube, no qual conta com mais de 1,4 milhões de inscritos, e faz diversas aparições em outros canais.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_223_6.jpg"></div><p class='foto-descricao'>Fábio Giga exibe físico atual nas redes sociais — Foto: Reprodução/Redes sociais</p>.</p>
{% endblock main_content %}

