
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Favoritismos #37 dicas, palpites e chances de vencer no Brasileirão{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Favoritismos #37: dicas, palpites e chances de vencer no Brasileirão
Botafogo pode ser campeão na rodada e confrontos diretos por vaga na Libertadores e para permanecer na Série A garantem rodada com emoção do início ao fim



Todos os gols de Yuri Alberto, do Corinthians, líder da artilharia do Brasileirão 2024
Corinthians e Bahia se enfrentam nesta terça-feira em um confronto direto pela busca de uma vaga nas fases seletivas da Libertadores.  Empatadas com 50 pontos, apenas um a mais que o Cruzeiro, as duas equipes precisam dos três pontos para não verem diminuídas suas chances de disputarem a competição continental no ano que vem. 

Na quarta-feira, o Cruzeiro recebe o Palmeiras em outra partida em que ambas as equipes precisam dos três pontos: o Cruzeiro para ampliar seu potencial de ir para a Libertadores; o Palmeiras para buscar o tricampeonato brasileiro.</p>
<p class='noticia-conteudo'>Todos os gols de Alerrandro, do Vitória, líder da artilharia do Brasileirão 2024
Ao mesmo tempo, o Botafogo enfrenta como visitante o Internacional e se vencer a partida, pode comemorar a conquista do campeonato se o Palmeiras não derrotar o Cruzeiro. 

Na quinta-feira, a rodada será concluída com Athletico-PR x Bragantino.  A equipe paranaense tem apenas quatro pontos a mais que o adversário, que está no Z-4 que leva para a Série B.</p>
<p class='noticia-conteudo'>Os três pontos vão determinar as chances de cada um permanecer na Série A no ano que vem. 

Analisamos 112. 186 finalizações cadastradas pela equipe do Espião Estatístico em 4.</p>
<p class='noticia-conteudo'>539 jogos de Brasileirões desde a edição de 2013 que servem de parâmetro para medir a produtividade atual das equipes a partir da expectativa de gol (xG), métrica consolidada internacionalmente (veja a metodologia no final do texto). 

Para ver todos os dez jogos, use as setas do quadro abaixo.  As analises das partidas estão uma ao lado da outra.</p>
<p class='noticia-conteudo'>Para ver os outros jogos, clique nas setas que estão antes da análise. 
Metodologia
Favoritismos apresenta o potencial que cada time carrega no Brasileirão 2024 comparando o desempenho nos últimos 60 dias como mandante ou visitante em todas as competições e nos últimos seis jogos, independentemente do mando.  Também são consideradas as performances defensiva e ofensiva das equipes no jogo aéreo e no rasteiro.</p>
<p class='noticia-conteudo'>Os cálculos referentes à influência de bolas altas e de troca de passes rasteiros entre gols marcados e sofridos só consideram as características dos gols marcados em jogadas.  Gols olímpicos, cobranças de pênaltis e de faltas diretas não contam para determinar a influência aérea ou rasteira por serem cobranças feitas diretamente para o gol. 
Apresentamos as probabilidades estatísticas baseadas nos parâmetros do modelo de "Gols Esperados" ou "Expectativa de Gols" (xG), uma métrica consolidada na análise de dados que tem como referência 112.</p>
<p class='noticia-conteudo'>186 finalizações cadastradas pelo Espião Estatístico em 4. 539 jogos de Brasileirões desde a edição de 2013.  Consideramos a distância e o ângulo da finalização, além de características relacionadas à origem da jogada (por exemplo, se veio de um cruzamento, falta direta ou de uma roubada de bola), a parte do corpo utilizada, se a finalização foi feita de primeira, a diferença de valor mercado das equipes em cada temporada, o tempo de jogo e a diferença no placar no momento de cada finalização.</p>
<p class='noticia-conteudo'>O desempenho de um jogador é comparado com a média para a posição dele, seja atacante, meia, volante, lateral ou zagueiro, e consideramos o que se esperava da finalização se feita com o "pé bom" (o direito para os destros, o esquerdo para os canhotos) e para o "pé ruim" (o oposto).  Foram identificados os ambidestros, que chutam aproximadamente o mesmo número de vezes com cada pé. 
De cada cem finalizações da meia-lua, por exemplo, apenas sete viram gol.</p>
<p class='noticia-conteudo'>Então, uma finalização da meia-lua tem expectativa de gol (xG) de cerca de 0,07.  Cada posição do campo tem uma expectativa diferente de uma finalização virar gol, que cresce se for um contra-ataque por haver menos adversários para evitar a conclusão da jogada.  Cada pontuação é somada ao longo da partida para se chegar ao xG total de uma equipe em cada jogo.</p>
<p class='noticia-conteudo'>O modelo empregado nas análises segue uma distribuição estatística chamada Poisson Bivariada, que calcula as probabilidades de eventos (no caso, os gols de cada equipe) acontecerem dentro de um certo intervalo de tempo (o jogo).  Para chegar às previsões sobre as chances de cada time terminar o campeonato em cada posição foi empregado o método de Monte Carlo, que basicamente se baseia em simulações para gerar resultados.  Para cada jogo ainda não disputado, realizamos dez mil simulações.</p>
<p class='noticia-conteudo'>Favoritismos apresenta também gráficos com a evolução da média móvel em cinco jogos da expectativa de gol (xG) de cada equipe no ataque e o acumulado do que fizeram seus adversários nessas partidas.  Para os gráficos, a cada cinco jogos é feita uma média móvel, representada pelas linhas de ataque (preta) e defesa (vermelha, que na verdade é quanto o adversário somou em xG em cada jogo).  É uma forma precisa de medir o potencial de cada equipe.</p>
<p class='noticia-conteudo'>A linha amarela mostra a diferença entre as produções dos ataques do time analisado e de seus adversários. 
*A equipe do Espião Estatístico é formada por: Davi Barros, Guilherme Maniaudet, Guilherme Marçal, Igor Mattos, Leandro Silva, Roberto Maleson, Roberto Teixeira, Valmir Storti. 
AMÉRICA-MG
ATHLETICO-PR
ATLÉTICO-GO
ATLÉTICO-MG
AVAÍ
BOTAFOGO
BRAGANTINO
CORINTHIANS
CORITIBA
CUIABÁ
FLAMENGO
FLUMINENSE
FORTALEZA
GOIÁS
INTERNACIONAL
JUVENTUDE
PALMEIRAS
SANTOS
SÃO PAULO.</p>
{% endblock main_content %}

