
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Federação francesa rejeita recurso do PSG, que terá de pagar R$ 338 milhões a Mbappé{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Federação francesa rejeita recurso do PSG, que terá de pagar R$ 338 milhões a Mbappé
Paris Saint-Germain perde mais uma etapa do litígio com o atacante do Real Madrid, que alega não ter recebido tal valor em salários e bônus acordados. 


A Federação Francesa de Futebol (FFF) rejeitou o recurso do PSG, que tenta evitar o pagamento de 55 milhões de euros (cerca de R$ 338 milhões) a Kylian Mbappé, que alega não ter recebido tal valor em salários e bônus acordados. 
A decisão foi tomada no fim de outubro, pela comissão executiva da FFF, mas, segundo a agência de notícias francesa AFP, o Paris Saint-Germain enviou o pedido com um dia de atraso.</p>
<p class='noticia-conteudo'>O clube tenta de todas as formas evitar o pagamento ao jogador. 
✅Siga o canal ge Futebol Internacional no WhatsApp
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_18_0.jpg"></div><p class='foto-descricao'>Mbappé deixou o PSG de Luis Enrique ao final da última temporada — Foto: Getty Images</p>
Esses 55 milhões de euros são referentes aos últimos três meses de salários e ao bônus de assinatura do último contrato com o clube.  O Paris Saint-Germain não fez os pagamentos por considerar que Mbappé faltou com a sua palavra, depois de se comprometer verbalmente com o presidente do clube, Nasser Al-Khelaïfi, em agosto de 2023, a "perdoar" os 55 milhões de euros que teria a receber.</p>
<p class='noticia-conteudo'>Naquela época, esse acordo teve influência direta em sua reintegração ao elenco. 
Mbappé e seus representantes, por sua vez, exigem que todo o montante seja quitado.  O litígio, que começou há meses, ainda pode parar na Uefa e em tribunais trabalhista da França.</p>
<p class='noticia-conteudo'>Entenda o caso
A imprensa francesa previa uma batalha judicial entre o clube o jogador desde a decisão de Mbappé de não exercer a renovação por mais um ano com o clube, antes do acerto com o Real Madrid.  Davam conta de que o PSG não pagaria o bônus de lealdade na totalidade. 
Na pré-temporada de 2022/23, Mbappé foi retirado da viagem à Ásia feita pelo PSG depois de comunicar ao clube que não estenderia seu contrato até 2025.</p>
<p class='noticia-conteudo'>Depois, o jogador e o clube entraram em acordo para a reintegração do atacante, que renunciaria a cerca de €55 milhões (R$ 330 milhões) brutos do bônus de fidelidade. 
No entanto, segundo o L’Equipe, nenhum acordo foi assinado, e os termos do contrato original ainda teriam validade jurídica.  Mbappé não pretende se desfazer do que teria direito, e as duas partes devem brigar na Justiça.</p>
<p class='noticia-conteudo'>PARIS SAINT-GERMAIN.</p>
{% endblock main_content %}

