
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Federer escreve carta de despedida para Nadal Você me fez gostar ainda mais do jogo{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Federer escreve carta de despedida para Nadal: "Você me fez gostar ainda mais do jogo"
Aposentado em 2022, suíço divulga texto para espanhol nas redes sociais; leia na íntegra



Em duelo de gigantes, Nadal supera Federer por 3 sets a 0 e vai à final de Roland Garros
Rafael Nadal anunciou no mês passado a sua aposentadoria do tênis.  Aos 38 anos, o espanhol, atual 158 do ranking da ATP, passou as últimas duas temporadas convivendo com problemas físicos que o impediram de atuar em alto nível.  Sua despedida será na Copa Davis, quando defenderá a Espanha a partir desta terça-feira.</p>
<p class='noticia-conteudo'>Aposentado das quadras desde 2022, o ex-tenista Roger Federer divulgou um texto falando sobre a despedida do espanhol das quadras. 
- Você me venceu..</p>
<p class='noticia-conteudo'>.  muito.  Mais do que eu consegui vencer você - destacou o suíço ao se referir ao espanhol.</p>
<p class='noticia-conteudo'>Federer reconheceu que no saibro Nadal era quase imbatível:
- No saibro, parecia que eu estava entrando no seu quintal.  Fez eu trabalhar mais do que jamais pensei que poderia, apenas para me manter forte.  Você fez eu repensar meu jogo - chegando ao ponto de alterar o tamanho da cabeça da minha raquete, na esperança de obter alguma vantagem - destacou.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_16_0.jpg"></div><p class='foto-descricao'>Federer, ao lado de Nadal, em sua despedida das quadras, na Laver Cup — Foto: Clive Brunskill/Getty Images for Laver Cup</p>
As palavras de despedida de Federer para Nadal demostram ainda a admiração por um rival que, segundo o suíço, o tornou ainda melhor. 
- Você me fez trabalhar mais do que jamais pensei que poderia, apenas para permanecer forte.  Você me fez refazer meu jogo - destacou
O suíço ainda fez um agradecimento ao espanhol, falando sobre os confrontos entre os dois
- Você me fez gostar ainda mais do jogo - pontuou.</p>
<p class='noticia-conteudo'>CARTA NA ÍNTEGRA
Vamos, Rafa!
Quando você se prepara para se despedir do tênis, tenho algumas coisas para compartilhar antes de ficar emocionado. 
Comecemos pelo óbvio: você me venceu, e muito.  Mais do que consegui vencê-lo.</p>
<p class='noticia-conteudo'>Você me desafiou de uma forma que mais ninguém poderia.  No saibro, parecia que eu estava entrando no seu quintal.  Fez eu trabalhar mais do que jamais pensei que poderia, apenas para me manter forte.</p>
<p class='noticia-conteudo'>Você fez eu repensar meu jogo - chegando ao ponto de alterar o tamanho da cabeça da minha raquete, na esperança de obter alguma vantagem. 
Eu não sou uma pessoa supersticiosa, mas você elevou isso a um nível muito grande.  Montar as suas garrafas de água como soldadinhos de brinquedo em formação, arrumar o cabelo, ajustar as cuecas.</p>
<p class='noticia-conteudo'>. .  Tudo isto com a maior intensidade.</p>
<p class='noticia-conteudo'>Secretamente, eu sempre adorei a coisa toda.  Porque era tão único – era tão você. 
E sabe o que mais, Rafa? Você me fez gostar ainda mais do jogo.</p>
<p class='noticia-conteudo'>OK, talvez não no início.  Depois do Australian Open 2004, cheguei a número 1 pela primeira vez.  Pensei que estava no topo do mundo.</p>
<p class='noticia-conteudo'>E estava, até dois meses depois, quando você entrou em quadra em Miami com a camiseta vermelha sem mangas, mostrando os bíceps, e me derrotou de forma convincente.  O que ouvia sobre você? Um jovem jogador fantástico de Mallorca, um talento geracional, que provavelmente ia ganhar um Grand Slam, não era só conversa. 
Estávamos no início das nossas caminhadas e acabamos por avançar juntos.</p>
<p class='noticia-conteudo'>20 anos depois, Rafa, tenho a dizer: que trajeto incrível você teve.  Incluindo 14 Roland Garros, histórico! Você deixou a Espanha orgulhosa.  Deixou todo o mundo do tênis orgulhoso.</p>
<p class='noticia-conteudo'>Continuo pensando nas memórias que compartilhamos.  Promovemos o esporte juntos.  Jogar aquele jogo na grama e saibro.</p>
<p class='noticia-conteudo'>Bater o recorde de público ao jogar para mais de 50 mil fãs em Cape Town, África do Sul.  Sempre fazendo o outro rir.  Levando o outro ao limite em quadra e, às vezes, quase literalmente, termos de nos segurarmos para ficarmos em pé nas cerimônias de premiação.</p>
<p class='noticia-conteudo'>Ainda estou grato que tenha me convidado para o lançamento da Academia Rafa Nadal em 2016.  Na verdade, eu que me convidei.  Sabia que você era muito educado para insistir que eu estivesse lá, mas não queria ficar de fora.</p>
<p class='noticia-conteudo'>Você sempre foi um modelo para os jovens pelo mundo, e a Mirka e eu ficamos tão felizes que os nossos filhos terem todos treinado nas suas academias.  Adoraram e aprenderam mesmo, como milhares de outros jovens jogadores.  Embora sempre me preocupasse que voltassem para casa jogando tênis com a mão esquerda.</p>
<p class='noticia-conteudo'>E depois houve Londres, a Laver Cup em 2022.  O meu último jogo.  Significou tudo para mim que estivesse lá ao meu lado, não como rival, mas como meu parceiro de duplas.</p>
<p class='noticia-conteudo'>Compartilhar a quadra contigo naquela noite, e compartilhar aquelas lágrimas, será para sempre um dos momentos mais especiais da minha carreira. 
Rafa, sei que você está focado nesta última fase da sua carreira épica.  Vamos falar quando acabar.</p>
<p class='noticia-conteudo'>Por agora, só quero dar os parabéns à sua família e equipe, que tiveram um grande papel no seu sucesso.  E quero que saiba que o seu velho amigo está sempre torcendo por você. 
O melhor sempre, do teu fã.</p>
<p class='noticia-conteudo'>Roger Federer..</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

