
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}vasco{% endblock title %}
{% block main_title %}vasco{% endblock main_title %}
{% block second_title %}Felipe será o treinador do Vasco nas três rodadas finais do Brasileirão{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Felipe será o treinador do Vasco nas três rodadas finais do Brasileirão
Pedrinho vai anunciar escolha em coletiva nesta segunda-feira, em São Januário



Pedrinho anuncia demissão de Rafael Paiva do Vasco
Felipe "Maestro" será o treinador do Vasco nas três rodadas finais do Brasileirão.  O ex-jogador, que ocupa o cargo de diretor-técnico no clube, vai assumir a equipe após a demissão de Rafael Paiva. 

O presidente Pedrinho vai anunciar a decisão em coletiva nesta segunda-feira, às 16h (de Brasília), em São Januário.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_15_0.jpg"></div><p class='foto-descricao'>Felipe, diretor técnico do Vasco, vai assumir como treinador nas últimas rodadas do Brasileirão — Foto: Leandro Amorim/Vasco</p>
Com experiências como treinador no Tigres, Bangu, Confiança e Volta Redonda, Felipe já havia manifestado o desejo de comandar o elenco do Vasco e se colocado à disposição de Pedrinho.  Nas últimas três rodadas, o Vasco enfrenta o Atlético-GO (em casa), o Atlético-MG (casa) e o Cuiabá (fora). 
Rafael Paiva foi demitido neste domingo, depois da perder por 3 a 0 para o Corinthians na Neo Química Arena, pela 35ª rodada do Brasileirão.</p>
<p class='noticia-conteudo'>Essa foi a quarta derrota consecutiva da equipe, que já vinha de resultados negativos contra Botafogo, Fortaleza e Internacional. 
Paiva havia assumido a equipe em definitivo em junho, depois da saída de Álvaro Pacheco - o português também foi demitido por Pedrinho, em 20 de junho, cerca de um mês após assumir o comando do futebol com a saída da 777.  Ao todo, considerando o tempo em que comandou a equipe logo depois de Ramón Díaz, Paiva fez 35 partidas, sendo 13 vitórias, 10 empates e 12 derrotas.</p>
<p class='noticia-conteudo'>Em 11º lugar na tabela, com 43 pontos, o Vasco ainda sonha com uma vaga na Libertadores do ano que vem.  A delegação foi da Neo Química Arena direto para o aeroporto e já desembarcou de volta no Rio de Janeiro. 



Assista tudo sobre o Vasco no ge, na Globo e no SporTV:
50 vídeos
VASCO.</p>
{% endblock main_content %}

