
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}fluminense{% endblock title %}
{% block main_title %}fluminense{% endblock main_title %}
{% block second_title %}Felipe Melo, do Fluminense, é homenageado pelo Galatasaray e sobe em grade de arquibancada{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Atleta de 41 anos defendeu clube turco entre 2011 e 2015, período em que conquistou muitos títulos e se tornou ídolo



Felipe Melo é homenageado pelo Galatasaray e vai para a arquibancada


O jogador do Fluminense também foi homenageado pelo clube.  Metin Öztürk, vice-presidente do Galatasaray, entregou uma placa a ele.  Tocado com a homenagem, Felipe foi à arquibancada e se juntou à ultrAslan, principal organizada do Gala.</p>
<p class='noticia-conteudo'>Além de posar em frente à bandeira, subiu na grade com membros da torcida e foi ovacionado com os gritos de: "Ô, ô, ô, Fe-li-pe!". 
Momentos após chegar ao estádio, ainda do camarote, Felipe filmou a bandeira estendida e sua homenagem e disse as seguintes palavras:
- Cheguei aqui no estádio agora, estou no camarote.  Falei com o treinador, fui muito bem recebido, benção demais, muito feliz.</p>
<p class='noticia-conteudo'>Está vendo lá? Falta uma hora para o jogo e já tem uma bandeirinha do Melo lá.  É isso que fica, rapaziada.  Que prazer, glória a Deus por tudo isso.</p>
<p class='noticia-conteudo'>Felipe Melo é ídolo do Galatasaray.  Defendeu o clube entre 2011 e 2015, período em que conquistou tricampeonatos de três competições diferentes: Campeonato Turco, Supercopa da Turquia e Copa da Turquia. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_426_0.jpg"></div><p class='foto-descricao'>Felipe Melo subiu na grade com torcedores do Galatasaray — Foto: Reprodução</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_426_1.jpg"></div><p class='foto-descricao'>Felipe Melo subiu na grade com torcedores do Galatasaray — Foto: Reprodução</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_426_2.jpg"></div><p class='foto-descricao'>Felipe Melo é homenageado pelo Galatasaray — Foto: Reprodução</p>.</p>
{% endblock main_content %}

