
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Ferj sorteia tabela do Campeonato Carioca de 2025{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Ferj sorteia tabela do Campeonato Carioca de 2025
Arbitral do Estadual da Série A discute regulamento do campeonato: "Acabar com os estaduais é o maior genocídio do futebol que pode acontecer", diz presidente da federação


A tabela do Campeonato Carioca de 2025 foi sorteada pela Ferj (Federação de Futebol do Estado do Rio de Janeiro) nesta terça-feira, durante o Arbitral do Estadual da Série A. 
O evento contou com a presença de representantes dos 12 clubes participantes: Bangu, Boavista, Botafogo, Flamengo, Fluminense, Madureira, Maricá, Nova Iguaçu, Portuguesa, Sampaio Corrêa, Vasco e Volta Redonda. 
O Carioca começará mais cedo no ano que vem.</p>
<p class='noticia-conteudo'>Para interromper os jogos do Campeonato Brasileiro durante o Mundial de Clubes no meio do ano, a CBF decidiu que os estaduais vão ocupar um período menor no ano, com início no final de semana dos dias 11 e 12 de janeiro. 
Para não prejudicar o planejamento dos clubes, ficou acordado que os clássicos não seriam marcados para as primeiras rodadas.  O primeiro clássico vai acontecer na 6ª rodada, entre Botafogo e Fluminense.</p>
<p class='noticia-conteudo'>- Até a quarta rodada o clube pode colocar em campo atletas menos utilizados.  Os clássicos, que são jogos bastante importantes, para dar um equilíbrio técnico, eles vão jogar com seus principais jogadores.  É uma condição lógica e pertinente - explicou o presidente da Ferj, Rubens Lopes.</p>
<p class='noticia-conteudo'>- Essa história que todo mundo fala, "ah tem que acabar com os estaduais", isso é o maior genocídio do futebol que pode acontecer.  Só na cabeça de quem não raciocina, de quem não vê o que os campeonatos estaduais representam em oportunidades laborativas, de inclusão, social, crescimento e surgimento de novos talentos - completou ele. 
Confira a 1ª rodada:

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_63_0.jpg"></div><p class='foto-descricao'>Arbitral da Ferj debate regulamento do Carioca de 2025 — Foto: Ronald Lincoln</p>
Regulamento
Além do sorteio, o Arbitral discutiu o regulamento da Série A do Carioca de 2025.</p>
<p class='noticia-conteudo'>Não haverá grandes mudanças em relação à última edição.  Foram realizadas pequenas alterações, com destaque para a supressão do artigo que indicava uma possível premiação para o vencedor.  Todas as receitas captadas (direitos de transmissão, patrocínio.</p>
<p class='noticia-conteudo'>. . ) serão divididas integralmente entre os clubes, de forma proporcional.</p>
<p class='noticia-conteudo'>Vai constar no regulamento uma recomendação para os clubes realizarem, antes do início do campeonato, palestras educacionais sobre os riscos da manipulação de resultados.  Também será orientada a inclusão de informações e depoimentos nos sites dos clubes para combater a situação. 
Foi aprovada ainda a realização de uma espécie de colegiado com clubes e arbitragem para definir critérios do VAR, desde que estejam dentro das regras da IFAB (órgão que regulamenta as regras do futebol).</p>
<p class='noticia-conteudo'>A publicação desses critérios deve ser realizada de forma obrigatória até três dias antes do início do campeonato. 
BOTAFOGO
FLAMENGO
FLUMINENSE
VASCO.</p>
{% endblock main_content %}

