
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Fernanda Venturini é campeã após 12 anos sem jogar Tinha que viver isso{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Fernanda Venturini é campeã após 12 anos sem jogar: "Tinha que viver isso"
Aposentada desde 2012, ex-levantadora disputou o Vôlei Master 2024, em Saquarema, pelo Superball Vôlei, e faturou o título: "Se eu tivesse treinado uma semaninha, estaria no alto nível"


Fernanda Venturini reencontrou uma amiga de longa data nesta semana.  Parceira inseparável, testemunha de sorrisos e lágrimas, a quadra voltou a ser palco da exímia levantadora depois de mais de uma década.  Aos 54 anos de idade, a camisa 14 disputou o Vôlei Master 2024 - evento organizado pela CBV, em Saquarema - pelo Superball Vôlei, de Minas Gerais, e conquistou o título ao vencer o Apade, do Pará, por 2 sets a 0 (25/21 e 25/18), na última terça.</p>
<p class='noticia-conteudo'>Fernanda Venturini é campeã na categoria master em Saquarema
Com troféu na mão e medalha pendurada no pescoço, Fernanda Venturini concedeu entrevista ao ge, empolgada por se sentir bem fisicamente, por reviver os tempos de atleta e conhecer pessoas de diferentes regiões do Brasil. 
- É diferente do que vivi, nunca joguei dois jogos no mesmo dia.  Viver essa experiência.</p>
<p class='noticia-conteudo'>. .  Meus amigos que jogam no master sempre falaram: "Vai! É legal".</p>
<p class='noticia-conteudo'>Eu tinha que viver isso, por isso eu voltei - declarou a veterana, que disputou duas partidas na segunda-feira. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_12_0.jpg"></div><p class='foto-descricao'>Fernanda Venturini disputa evento em Saquarema — Foto: Wallace Teixeira/FVImagem/CBV</p>
O objetivo de Fernanda Venturini era experimentar novamente a modalidade.  Entretanto, ela admite que, apesar do clima leve do evento, ser campeã era seu plano A.</p>
<p class='noticia-conteudo'>- O espírito de ganhar a gente não perde, quer ganhar sempre.  Eu sou chata, porque quero ganhar tudo que eu jogo.  A gente entra para brincar até certo ponto, depois quer ganhar.</p>
<p class='noticia-conteudo'>Confira a entrevista na íntegra:
Foram 12 anos longe das quadras.  O que motivou a sua decisão de voltar a jogar um torneio de vôlei?Desde 2019 eu cuido da saúde, aprendi como o corpo funciona, tanto que criei meu canal de saúde, o Fernanda Venturini 14.  Eu parei de jogar 12 anos atrás porque eu tinha condromalácia nível 4 no joelho.</p>
<p class='noticia-conteudo'>Era questão de colocar prótese naquela época.  Coloquei célula-tronco no joelho e não sinto dores.  Malho, pedalo, faço stand up paddle, só não consigo correr.</p>
<p class='noticia-conteudo'>O meu amigo, Hércules Souza, técnico do time, me chamou: "Fernanda, você topa entrar em quadra?".  Era uma experiência diferente, conhecer pessoas, ver gente de todas as idades.  Por que não viver isso? Treinei uma vez em Ribeirão, Deus me deu o dom do vôlei, tenho facilidade, um pouquinho de treino, defesa.</p>
<p class='noticia-conteudo'>. .  Joguei em um nível bom.</p>
<p class='noticia-conteudo'>O nível do campeonato não é alto, as meninas erram muito, nunca treinaram juntas, treinam só em Saquarema.  É diferente do que vivi, nunca joguei dois jogos no mesmo dia.  Viver essa experiência.</p>
<p class='noticia-conteudo'>. .  Meus amigos que jogam no master sempre falaram: "Vai! É legal".</p>
<p class='noticia-conteudo'>Eu tinha que viver isso, por isso eu voltei. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_12_1.jpg"></div><p class='foto-descricao'>Fernanda Venturini celebra com as companheiras de equipe — Foto: Wallace Teixeira/FVImagem/CBV</p>
A sua presença nas competições vai virar rotina ou foi um episódio isolado?
A princípio era um episódio isolado.  Mas a Tatiana, que jogou comigo no Leite Moça, quer fazer um time nosso, voltar toda as meninas do Leite.</p>
<p class='noticia-conteudo'>Jogamos no grupo (do Whatsapp) e várias falaram que querem.  Talvez, ano que vem, tenha um time nosso em Saquarema, mas será o Leite Coalhada (risos), porque passou o tempo.  Estamos conversando.</p>
<p class='noticia-conteudo'>Foi muito divertido, fiz grandes amigos, foi tudo de bom jogar em Saquarema. 
Qual foi a sensação de voltar sentir o clima do esporte?
Passa um filme na cabeça, é incrível, volta tudo.  Você se imagina levantando, é uma volta no tempo.</p>
<p class='noticia-conteudo'>No primeiro treino que eu fiz, fiquei tonta.  Questão aeroespacial, depois me acostumei.  Foi muito bom jogar sem dor, o que é uma vitória.</p>
<p class='noticia-conteudo'>A velhice é artrite, artrose, Parkinson, se não nos cuidarmos agora, a conta chega. 
Ficou satisfeita com a sua atuação?
Dei dois toques umas duas vezes (risos), mas no geral fui bem na defesa, caía nas bolas, pegava largada, meu reflexo estava rápido.  Se eu tivesse treinado uma semaninha, estaria no alto nível.</p>
<p class='noticia-conteudo'>Não dei vexame, o que foi o mais importante (risos). 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_12_2.jpg"></div><p class='foto-descricao'>Fernanda Venturini levou o troféu para casa — Foto: Arquivo Pessoal</p>
O clima é amistoso, mas ninguém quer perder, né?
O espírito de ganhar a gente não perde, quer ganhar sempre.  Eu sou chata, porque quero ganhar tudo que eu jogo.</p>
<p class='noticia-conteudo'>A gente entra para brincar até certo ponto, depois quer ganhar.  Aqui o líbero pode sacar, tem 12 substituições, então, quando eu chegava na rede, trocava.  Na última, me deixaram na rede, e eu larguei de segunda no último ponto.</p>
<p class='noticia-conteudo'>Você acha que essa volta serve de inspiração para outros veteranos do vôlei?
Eu acho que dá um "opa, se ela pode, eu também posso".  Tem que se cuidar todos os dias, não é só na semana do campeonato.  Quero uma velhice ativa, feliz, cuidar dos meus netos.</p>
<p class='noticia-conteudo'>Penso muito em como vou envelhecer.  Escutei muito aqui: "Você não tem noção do quanto me animou a me cuidar".  Tem muita gente fora de forma, obesa, de todos os jeitos.</p>
<p class='noticia-conteudo'>Não tem dinheiro que pague ter saúde. 
Você sente falta do vôlei?
Não sinto falta do vôlei, não.  Quando eu parei, parei mesmo, tanto que demorei a voltar.</p>
<p class='noticia-conteudo'>O vôlei, hoje, é mais diversão.  São quatro dias muito gostosos aqui.  Tem gente de Manaus, do Maranhão, a final foi contra um time do Pará.</p>
<p class='noticia-conteudo'>Foi muito legal.  Meu namorado ficou impressionado com a quantidade de gente que joga vôlei (risos).  Esse centro da CBV é muito legal.</p>
<p class='noticia-conteudo'>Se todos os esportes tivessem um CT assim, o Brasil seria uma potência. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_12_3.jpg"></div><p class='foto-descricao'>Fernanda Venturini espera que outras atletas disputem o Master — Foto: Wallace Teixeira/FVImagem/CBV</p>
Como foi receber o carinho de tantos fãs?
Tirei umas 800 fotos, sem brincadeira.  Dei 200 autógrafos.</p>
<p class='noticia-conteudo'>Foto foi recorde, devia ter contado com aquele aparelhinho do cinema (risos).  As meninas atravessaram a quadra para tirar foto, os juízes, todo mundo.  Os levantadores falavam: "Você foi meu espelho".</p>
<p class='noticia-conteudo'>Levantadores de todas as idades, falando que acompanharam minha movimentação em quadra.  Foi muito legal!
Quem você quer que jogue ao seu lado na próxima edição?
Quero trazer a Sassá, a Josiane, que jogou comigo no Leite.  Tem várias que estão jogando ainda.</p>
<p class='noticia-conteudo'>Temos que fazer um apanhado para ver quem está em forma para montarmos um time.  Elas querem montar um time de 50 anos, eu falei: "Pode ser quarenta (risos)".  Elas querem diversão, eu quero jogar.</p>
<p class='noticia-conteudo'>Sacar, defender, bloquear.  É um esporte que fez parte da minha vida e, quando está no ritmo, é muito gostoso.  E levei o troféu comigo por ser meu primeiro master.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}

