
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Festa em Buenos Aires torcida do Botafogo lota bar e comemora vitória sobre o Palmeiras{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Festa em Buenos Aires: torcida do Botafogo lota bar e comemora vitória sobre o Palmeiras
Alvinegros antecipam chegada à cidade da final da Libertadores e acompanham vitória em primeira "final" da semana



Torcedores do Botafogo comemoram gols contra o Palmeiras em Buenos Aires
Ao chegar a Puerto Madero, região de Buenos Aires que atrai turistas por reunir muitos bares e churrascarias, já era possível ouvir cânticos dos botafoguenses.  Foi ali que muitos dos que foram à Argentina para ver a final da Libertadores no sábado se reuniram para acompanhar o jogo contra o Palmeiras. 
Os pouco mais de 2 mil quilômetros de distância em relação a São Paulo, palco do duelo decisivo pelo Brasileirão, não importaram.</p>
<p class='noticia-conteudo'>A ansiedade inicial dos cerca de 1,2 mil alvinegros que lotaram um bar foi recompensada com a vibração e o sentimento de alma lavada pela vitória de 3 a 1 (veja no vídeo acima e no final da reportagem).  O título brasileiro está próximo. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_9_0.jpg"></div><p class='foto-descricao'>Torcedores do Botafogo comemoram vitória sobre o Palmeiras em Buenos Aires — Foto: Sergio Santana</p>
O evento foi organizado previamente pela Argenfogo, torcida recentemente criada por botafoguenses que moram na Argentina.</p>
<p class='noticia-conteudo'>O núcleo, inclusive, preparou outras reuniões ao longo da semana com o objetivo de marcar presença na capital argentina. 
- Sinceramente, não esperávamos isso tudo.  De primeira, pensamos em fechar um bar para 100 pessoas, mas ganhamos cada vez mais seguidores e vimos que a coisa tinha que aumentar.</p>
<p class='noticia-conteudo'>A ideia foi achar um lugar grande e que pudesse ser confortável para todos os torcedores - disse Bruno Ladislau, de 25 anos, que é um dos organizadores. 
De acordo com profissionais do bar, os torcedores começaram a chegar por volta de 16h, ou seja, mais de cinco horas antes da bola rolar em São Paulo. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_9_1.jpg"></div><p class='foto-descricao'>Organizadores da Argenfogo em Buenos Aires — Foto: Sergio Santana / ge</p>
O ge acompanhou todo o jogo no meio dos alvinegros, que se dividiram entre a angústia dos minutos iniciais - com domínio do Palmeiras e saída de Bastos com dores na coxa esquerda - e a euforia da tão esperada vitória, que fez o time retomar o primeiro lugar, agora com 73 pontos.</p>
<p class='noticia-conteudo'>Entre os torcedores, Pedro Paulo e a mãe Ana Maria, de 69 anos.  Os dois chegaram na última segunda-feira de Cataguases, Minas Gerais, e estão vivendo, para eles, algo único. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_9_2.jpg"></div><p class='foto-descricao'>Pedro e Ana Maria, filho e mãe, realizam sonho de final da Libertadores juntos — Foto: Jéssica Maldonado / ge</p>
- Isso aqui é especial e único.</p>
<p class='noticia-conteudo'>A oportunidade que a gente teve, a gente abraçou e viemos para curtir realmente um momento que a gente, pouco tempo atrás, não imaginava viver tão cedo.  E com essa oportunidade tem sido muito prazeroso poder vir curtir e presenciar essa história sendo escrita - disse Pedro, que decidiu comprar as passagens logo depois do Botafogo avançar sobre o São Paulo, nas quartas. 
O Botafogo entra em campo pela final da Conmebol Libertadores contra o Atlético-MG no próximo sábado, às 17h.</p>
<p class='noticia-conteudo'>No Brasileirão, tem três pontos de vantagem sobre o Palmeiras.  O Alvinegro ainda enfrenta Internacional e São Paulo. 

Veja mais reações da torcida do Botafogo em Buenos Aires
Botafoguenses vibram com expulsão de Marcos Rocha
Torcedores cantam músicas do Botafogo em apoio ao time
Veja como a torcida do Botafogo se portou no intervalo do jogo contra o Palmeiras


Assista: tudo sobre o Botafogo no ge, na Globo e no sportv
50 vídeos
BOTAFOGO.</p>
{% endblock main_content %}

