
    {% extends "html/modelo.html" %}
    {% load static %}
    

    {% block title %}Fifa define estádios da Copa de 2022 como sedes do Intercontinental de Clubes{% endblock title %}
    {% block main_title %}Fifa define estádios da Copa de 2022 como sedes do Intercontinental de Clubes{% endblock main_title %}
    {% block second_title %}None{% endblock second_title %}
    {% block main_content %}<p class='noticia-conteudo'>Fifa define estádios da Copa de 2022 como sedes do Intercontinental de Clubes
974 e Lusail, ambos em Doha, no Catar, receberão as três partidas finais da competição, que será realizada em dezembro



Copa Intercontinental: entenda o torneio da Fifa que substitui o Mundial anual
✅Clique aqui para seguir o novo canal ge Futebol Internacional no WhatsApp
A Fifa definiu nesta terça-feira que os estádios Lusail e 974, que foram sedes da Copa do Mundo de 2022 no Catar, como palcos para os jogos finais do Intercontinental de Clubes que será realizado no país, em dezembro.  A cidade volta a receber a competição após as edições de 2019 e 2020. 
O Pachuca, vencedor da Copa dos Campeões da Concacaf, jogará no Estádio 974 contra o ganhador da Conmebol Libertadores.</p>
<p class='noticia-conteudo'>Atlético-MG ou Botafogo terão os mexicanos como adversários no Derby das Américas, no dia 11 de dezembro.  Quem avançar de fase, enfrenta na sequência o Al Ahly, do Egito, pela Challenger Cup, no dia 14. 
A grande final será no dia 18 de dezembro, no Estádio Lusail.</p>
<p class='noticia-conteudo'>Por decisão da Fifa, a Copa Intercontinental terá sempre como um dos finalistas o campeão vigente da Uefa Champions League – neste ano, o Real Madrid. 
O Estádio 974 sediou seis jogos na Copa do Mundo de 2022, incluindo a vitória do Brasil sobre a Coreia do Sul por 4 a 1, nas oitavas de final.  Já o Estádio Lusail, com capacidade para 80 mil lugares, foi o palco da grande final da competição, onde a Argentina conquistou o tricampeonato mundial nos pênaltis contra a França.</p>
<p class='noticia-conteudo'>Conheça o estádio Lusail, palco da final da Copa 2022

Participantes da Copa Intercontinental 2024

Essa competição é diferente do novo Mundial De Clubes, que será organizado a cada quatro anos, e cuja primeira edição, em 2025, nos Estados Unidos, terá 32 times participantes. 
A Fifa decidiu também que entregará um troféu ao vencedor de cada confronto da Copa Interncontinental. 


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}n_6_0.jpg"></div>Al-Ahly venceu o Al Ain, e pode cruzar com campeão da Libertadores na Copa Intercontinental — Foto: Reuters
Além de ter "promovido" o campeão europeu (que antes entrava na semifinal), a Fifa também "rebaixou" o campeão sul-americano, que agora precisa fazer um jogo a mais para ser campeão intercontinental.</p>
<p class='noticia-conteudo'>O campeão da Copa Libertadores agora entra nas quartas de final do torneio. 
Jogo 1 - Playoff Africano/Asiático/Pacífico
Data: 22 de setembro de 2024
Clubes: Al Ain 6 x 2 Auckland City
Local: Estádio Hazza bin Zayed, Al Ain, Emirados Árabes Unidos
Jogo 2 - Copa Africana/Asiática/Pacífico
Data: 29 de outubro de 2024
Clubes: Al-Ahly 3 x 0 Al Ain
Local: Estádio Internacional do Cairo, Cairo, Egito
Jogo 3 - Dérbi das Américas
Data: 11 de dezembro de 2024
Clubes: Campeão da Libertadores 2024 x Pachuca
Local: Estádio 974, Doha, Catar
Jogo 4 - Copa Challenger
Data: 14 de dezembro de 2024
Clubes: Vencedor do Jogo 3 x Vencedor do Jogo 2
Local: Estádio 974, Doha, Catar
Jogo 5 - Final da Copa Intercontinental
Data: 18 de dezembro de 2024
Clubes: Real Madrid x Vencedor do Jogo 4
Local: Estádio Lusail, Doha, Catar
ATLÉTICO-MG
BOTAFOGO
REAL MADRID.</p>
{% endblock main_content %}
    