
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Filipe Luís cita vantagem com Garotos do Ninho em vitória do Flamengo Conheço todos{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Filipe Luís cita vantagem com Garotos do Ninho em vitória do Flamengo: "Conheço todos"
Treinador diz ter a vantagem de conhecer todos os jovens dos quais o Rubro-Negro dispõe em sua base

20/11/2024 21h28 Atualizado

Cuiabá 1 x 2 Flamengo | Melhores momentos | 34ª rodada | Brasileirão 2024
O Flamengo conseguiu a virada na Arena Pantanal e venceu o Cuiabá por 2 a 1 nesta quarta-feira, com gols dos jovens Guilherme e Matheus Gonçalves.  Após o duelo, Filipe Luís fez elogios aos garotos, mas afirmou que precisa ter cuidado redobrado para não atrapalhar o desenvolvimento deles. 

Veja a coletiva de Filipe Luís após a vitória do Flamengo sobre o Cuiabá
- A vantagem que eu tenho de ter trabalhado no sub-17 e no sub-20 é que eu conheço todos os meninos que estão no clube.</p>
<p class='noticia-conteudo'>Sei o que eles podem render, e eu sou um treinador que me guio muito pelos treinos.  Vejo os detalhes e depois revejo o treino, que é gravado, para entender como foram esses comportamentos.  Guilherme e Matheus treinaram juntos durante a semana, e uma das minhas questões foi deixar o Matheus fora pensando no segundo tempo.</p>
<p class='noticia-conteudo'>Para ter uma troca imponente no campo, sei que ele não entrou da melhor forma, não foi a melhor versão do Matheus, mas esse foi o meu pensamento.  Guilherme e Matheus se deram bem juntos. 
Filipe Luís analisa vitória do Flamengo com gols de jovens: "Vantagem é que conheço todos"
Filipe, aliás, afirmou que pensou em promover a estreia de Guilherme no Fla-Flu do returno do Campeonato Brasileiro.</p>
<p class='noticia-conteudo'>Ao citar isso, garantiu confiar em toda a garotada da base. 
- Conheço bem o Gui, quis colocá-lo contra o Fluminense uns jogos atrás, mas não senti confiança.  Tenho que ter muito cuidado com esses meninos para não queimar.</p>
<p class='noticia-conteudo'>Não esperava que ele fosse fazer o gol e estar jogando solto do jeito que ele foi.  Mas tenho muita confiança nele porque jogou todos os jogos comigo no sub-20.  Confio muito nesse jogador.</p>
<p class='noticia-conteudo'>Nele, no Matheus e em muitos outros que estão subindo agora e tendo oportunidades de treinar com a gente.  Com certeza vão nos ajudar nesse período. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_16_0.jpg"></div><p class='foto-descricao'>Filipe Luís após vitória do Flamengo sobre o Cuiabá — Foto: Letícia Marques</p>
Confira outros tópicos:
Falta de efetividade
- Em todas as coletivas a gente bate nesse assunto do gol, é um assunto delicado porque, da parte que me compete é bom para mim porque o time está criando.</p>
<p class='noticia-conteudo'>Isso quer dizer que o trabalho está sendo bem feito na parte ofensiva.  Realmente a gente está pecando em fazer gols.  Da minha parte, o que posso fazer é dar treinamentos, comportamentos e conceitos.</p>
<p class='noticia-conteudo'>E essa vivência perto do gol com os goleiros para eles se sentirem mais frios.  A melhor forma de esquecer desse assunto é não falar dele, é só treinar.  Não falar que a gente tem uma falta de gols.</p>
<p class='noticia-conteudo'>- Quando ganha, ganha todo mundo, quando perde, perde todo mundo.  A postura dos jogadores em campo hoje foi incrível.  Às vezes não se traduz com bola na rede, mas são jogadores que têm muito gol.</p>
<p class='noticia-conteudo'>Michael tem muito gol, Bruno Henrique tem muito gol, Alcaraz tem muito gol, Ayrton tem muito gol.  Eu escolhi jogadores que têm gol para jogar na frente e às vezes a bola não entra, mas o importante era sair com a vitória. 
Como motivar o elenco após um título e poucas chances do enea?
- Eu penso o seguinte: não vejo outra forma de viver a vida senão dando o melhor, o máximo em tudo.</p>
<p class='noticia-conteudo'>Não é no futebol, não é quando acabar faltando dois jogos e não brigar por mais nada.  Ou, como você falou, já foi campeão.  No Ping-Pong, quando você está brincando com seu filho, não vejo outra forma senão que tentar ganhar ou dar o máximo.</p>
<p class='noticia-conteudo'>Esse sou eu.  Transmito para os meus jogadores que não permito que eles se relaxem. 
- Isso é uma cultura de treinos que tenho na minha mente, aprendi com o Simeone, que transformou minha vida.</p>
<p class='noticia-conteudo'>Não vou aceitar nunca que eles se relaxem.  Eles não se relaxaram, eu não precisei nem falar.  Durante a semana e a Data Fifa, foram muitos bons os treinos.</p>
<p class='noticia-conteudo'>E a Data Fifa é um período complicado para os jogadores porque faltam muitos jogadores, porque realmente temos a tendência a relaxar.  E esse grupo não relaxou.  Então não precisei praticamente falar com eles sobre isso.</p>
<p class='noticia-conteudo'>É fácil.  Quando jogar no Flamengo ou num time grande, a vantagem e a virtude que você tem é que você é exigido todos os dias e todos os segundos ao máximo.  Senão você é cobrado.</p>
<p class='noticia-conteudo'>- Eles sabem disso, eles estão aqui há muito tempo.  Já passaram por se relaxarem em algum momento e depois serem cobrados.  Vimos vaias para o Rodinei depois de ganharem o Brasileiro e a Libertadores em 2019.</p>
<p class='noticia-conteudo'>Nesse clube não podemos nunca baixar a guarda.  Poderia não ter sido a vitória hoje, poderíamos ter perdido por 1 a 0, mas a postura que vi do meu time em campo é a que eu quero.  Não é fácil jogar aqui, a viagem e tudo mais não são coisas fáceis.</p>
<p class='noticia-conteudo'>A postura foi ideal. 
Filipe Luís explica por que Flamengo não utilizou jogadores convocados
Como foi a tomada de decisão de não trazer jogadores de seleções?
- O planejamento dessa semana foi em função dos atletas que treinaram.  O Gerson seria titular no Brasil, ou seja: um descarte.</p>
<p class='noticia-conteudo'>Se jogou 90 minutos ontem, não pode jogar hoje.  O Varela a princípio seria relacionado, ele me falou que seria titular, então preferi não trazer.  O Plata já sabemos que jogou 60 minutos em Barranquilla e não seria possível.</p>
<p class='noticia-conteudo'>O último caso seria o Léo Ortiz.  Aí iam jogar Fabrício e Léo (Pereira), que treinaram a semana inteira e viram todos os comportamentos e o nosso plano de jogo.  O Cleiton também e o David também.</p>
<p class='noticia-conteudo'>- O David Luiz passou mal, muitos jogadores estão com essa virose.  Meus filhos estão com virose também.  Mas jogaram no esforço, caso do Bruno Henrique, Allan.</p>
<p class='noticia-conteudo'>Eu confio no Cleiton.  Então foi decisão minha de dizer para o clube que não precisava do Léo Ortiz porque confio nos jogadores que tenho.  E eu não posso correr riscos nessa reta final com jogadores que estão como o Léo.</p>
<p class='noticia-conteudo'>O Léo Ortiz mudou todo o planejamento de treino essa semana, o corpo gera uma adaptação e não ia dormir essa noite.  Então essa foi minha decisão sobre a Data Fifa. 
"Não me preocupo mais, Flamengo está de férias!", comemora Arthur | Voz da Torcida

🗞️ Leia mais notícias do Flamengo
🎧 Ouça o podcast ge Flamengo
Assista: tudo sobre o Flamengo no ge, na Globo e no sportv
50 vídeos
FLAMENGO.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

