
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Fim de era Hamilton deixa legado de títulos e recordes na Mercedes{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Fim de era: Hamilton deixa legado de títulos e recordes na Mercedes
Relação memorável do heptacampeão com as Flechas de Prata acaba dentro das pistas neste domingo, no GP de Abu Dhabi.  Em 12 anos, piloto marcou seu nome de diferentes formas



Fórmula 1 divulga o calendário de 2025 com 24 etapas, e GP de São Paulo
Lewis Hamilton e Mercedes.  A relação já eternizada na história da Fórmula 1 terá o fim de um longo e vencedor capítulo dentro das pistas neste domingo (8), quando o heptacampeão cruzar a linha de chegada do circuito de Yas Marina, em Abu Dhabi.</p>
<p class='noticia-conteudo'>A partir do ano que vem, o britânico de 39 anos vai trocar um sonho realizado por outro ainda por viver e assumirá uma vaga na Ferrari. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_26_0.jpg"></div><p class='foto-descricao'>Lewis Hamilton se despede da Mercedes neste domingo (8) — Foto: Song Haiyuan/MB Media/Getty Images</p>
Pilotar o icônico carro vermelho era um desejo de infância de Hamilton, mas o outro sonho - alcançado com as Flechas de Prata - não surgiu de uma decisão convicta.  Ao sair da McLaren para a Mercedes, no fim de 2012, Lewis não sabia se aquilo era mesmo o que deveria fazer.</p>
<p class='noticia-conteudo'>Mas o resultado foi muito melhor do que o esperado: vários recordes e o status de lenda da categoria consolidado. 

A era Lewis Hamilton na Mercedes se vai.  É "a mais bem-sucedida parceria entre piloto e equipe na história da Fórmula 1", como disse Toto Wolff, chefão da equipe, em comunicado divulgado na terça (3).</p>
<p class='noticia-conteudo'>Mas as marcas obtidas pelo heptacampeão ainda devem permanecer por um bom tempo.  Confira algumas:
Seis títulos pela Mercedes
Hamilton divide o posto de maior campeão da história da Fórmula 1 com Michael Schumacher, com sete títulos.  Desses, seis foram conquistados com a Mercedes.</p>
<p class='noticia-conteudo'>Entre 2014 e 2020, Lewis só deixou escapar o campeonato de 2016, quando foi superado pelo companheiro de equipe Nico Rosberg. 
Confira a lista com todos os campeões da Fórmula 1
Nenhum piloto da história venceu tanto por uma mesma equipe: Michael Schumacher é quem chega mais perto do britânico, com cinco títulos seguidos pela Ferrari entre 2000 e 2004. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_26_1.jpg"></div><p class='foto-descricao'>Lewis Hamilton comemora título pela Mercedes em 2014 — Foto: Clive Rose/Getty Images</p>
Rei de Silverstone
Correr em casa é uma ótima notícia para o ainda piloto da Mercedes.</p>
<p class='noticia-conteudo'>Hamilton tem nove vitórias em Silverstone: nenhum outro piloto ganhou tanto em uma mesma pista na história.  Se contabilizarmos só os números com o time alemão, são oito triunfos: 2014, 2015, 2016, 2017, 2019, 2020, 2021 e 2024. 
Mesmo excluindo a vitória de 2008, conquistada com a McLaren, a marca em Silverstone ainda seria um recorde, embora dividido: o próprio britânico soma oito vitórias na pista de Hungaroring, e Michael Schumacher também ganhou oito vezes em Magny-Cours.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_26_2.jpg"></div><p class='foto-descricao'>Lewis Hamilton comemora oitava vitória no Circuito de Silverstone com bandeira britânica — Foto: Joe Portlock - Formula 1/Formula 1 via Getty Images</p>
Longevidade
Ao vencer em casa na atual temporada, Lewis Hamilton atingiu uma marca impactante: foi o primeiro piloto a vencer uma corrida depois de seu 300º GP.  Com 39 anos e 182 dias, ele quebrou jejum de três anos e ganhou em Silverstone na sua 344ª participação na Fórmula 1. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_26_3.jpg"></div><p class='foto-descricao'>Lewis Hamilton venceu pela primeira vez em 2024 em Silverstone — Foto: Reuters</p>
O futuro piloto da Ferrari também quebrou sua própria marca ao herdar a primeira posição do desclassificado George Russell e vencer na Bélgica, em julho, Com isso, renovou o posto de vencedor mais velho do século 21, com 39 anos e 203 dias.</p>
<p class='noticia-conteudo'>Apesar disso, ele é apenas o 12º ganhador mais veterano da história.  O recorde, que parece improvável de ser batido, é do italiano Luigi Fagioli, vencedor do GP da França aos 53 anos, em 1951. 
Mais vitórias e poles com a mesma equipe
Hamilton também detém o maior número de vitórias pela mesma construtora na Fórmula 1.</p>
<p class='noticia-conteudo'>São 84 triunfos com a Mercedes desde sua primeira temporada na escuderia.  O recorde pertencia a Michael Schumacher, com 72 pela Ferrari, e foi quebrado no GP da Turquia de 2020 - etapa onde o britânico assegurou seu sétimo título mundial. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_26_4.jpg"></div><p class='foto-descricao'>Lewis Hamilton se emociona com o hepta no GP da Turquia de 2020 — Foto: Dan Istitene/F1 via Getty Images</p>
Vale lembrar que Lewis Hamilton também é o líder em vitórias na história da Fórmula 1, com 105 até aqui.</p>
<p class='noticia-conteudo'>Além das 84 com a Mercedes, ele também ganhou 21 com a McLaren.  Mais uma vez, é Schumi quem vem logo em seguida, com 91 triunfos.  Mesmo se considerássemos apenas as vitórias com a Mercedes, o britânico seria o segundo piloto com mais GPs conquistados em todos os tempos.</p>
<p class='noticia-conteudo'>Além disso, o britânico possui o recorde de pole positions por uma mesma equipe na Fórmula 1.  Lewis largou 78 vezes da primeira posição com as Flechas de Prata, 20 a mais que o vice-líder Schumacher.  O maior número de voltas rápidas também é dele: 55, contra 53 do alemão.</p>
<p class='noticia-conteudo'>Mais pódios com a mesma equipe
Lewis Hamilton possui longa folga sobre Schumacher neste quesito: em 12 anos na Mercedes, subiu ao pódio pela Mercedes em 153 oportunidades, contra 112 de Michael Schumacher. 
Impressiona o domínio demonstrado durante a era de ouro da equipe, entre 2014 e 2020.  Nestes sete anos, o veterano registrou 111 dos seus 153 pódios.</p>
<p class='noticia-conteudo'>Quem passou mais perto no período foi Sebastian Vettel: o tetracampeão somou 55 pódios pela Ferrari, menos da metade do britânico. 
Mais corridas com a mesma equipe
O heptacampeão completou em 2024 sua 12ª temporada com o carro da Mercedes.  E de 2013 para cá, Hamilton disputou 245 corridas pela equipe alemã - recorde absoluto.</p>
<p class='noticia-conteudo'>Curiosamente, o vice-líder nesse quesito já é Max Verstappen, que tem 27 anos de idade e soma 185 provas em nove anos na RBR. 
O Grande Prêmio de Abu Dhabi, que encerra a temporada de 2024 da Fórmula 1, acontece no próximo domingo (8) às 10h (horário de Brasília).  O ge.</p>
<p class='noticia-conteudo'>globo vai acompanhar tudo em tempo real..</p>
{% endblock main_content %}

