
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}flamengo{% endblock title %}
{% block main_title %}flamengo{% endblock main_title %}
{% block second_title %}Final do Carioca Sub-17 entre Vasco e Flamengo termina com confusão e quatro expulsos{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Final do Carioca Sub-17 entre Vasco e Flamengo termina com confusão e quatro expulsos
Confusão tem início após gol de empate rubro-negro

17/11/2024 12h16 Atualizado
Houve confusão e expulsões nos últimos minutos do clássico entre Vasco e Flamengo válido pelo jogo de ida da final do Carioca Sub-17, na manhã deste domingo, no estádio Nivaldo Pereira, em Nova Iguaçu. 
Um embate entre jogadores e membros das comissões técnicas começou logo depois de o Flamengo o gol de empate.  Segundo a transmissão da Vasco TV, atletas rubro-negros chutaram a bandeirinha do Vasco na marca de escanteio.</p>
<p class='noticia-conteudo'>Wanderson e Lucas Vieira foram expulsos pelo lado do Flamengo.  Pelo lado vascaíno, Juninho e Bruno André receberam o cartão vermelho. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_25_0.jpg"></div><p class='foto-descricao'>Árbitros cercados por seguranças após confusão em Vasco x Flamengo Sub-17 — Foto: Reprodução: Fla TV</p>
O primeiro tempo terminou sem gols.</p>
<p class='noticia-conteudo'>No segundo tempo foi o quem abriu o placar com gol pênalti, de Pedro Augusto, aos 18 minutos. 
Aos 36 minutos, Jefinho fez uma bela jogada individual e teve o chute bloqueado.  A sobra fica com Lucas Vieira que bate de primeira no canto para empatar o jogo.</p>
<p class='noticia-conteudo'>Na sequência, começou a confusão.  O jogo chegou a ficar paralisado por 8 minutos, até o clima ficar mais calmo. 
As equipes voltam a se enfrentar pelo título do Campeonato Carioca no próximo sábado, às 10h, na Gávea.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}
{% block cor_categoria %}#000000{% endblock cor_categoria %}

