
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}palmeiras{% endblock title %}
{% block main_title %}palmeiras{% endblock main_title %}
{% block second_title %}Flaco López termina ano questionado, mas Palmeiras descarta negociá-lo para 2025{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Artilheiro do Verdão terminou ano em baixa e sob críticas, mas tem confiança da comissão técnica



Aos 25 min do 1º tempo - Gol de Flaco López para o Palmeiras contra o Vasco

Apesar das oscilações, ele segue com a confiança da comissão técnica e consta entre os atletas considerados como não negociáveis no elenco para 2025. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_421_0.jpg"></div><p class='foto-descricao'>Flaco López comemora gol do Palmeiras contra o Bahia — Foto: Cesar Greco</p>



Agora aos 24 anos, Flaco chegou ao Palmeiras em 2022 sob discurso compreensivo, de que pela idade e a carreira construída apenas no Lanús, da Argentina, como profissional, precisaria de tempo de adaptação.  Admite até que sentiu as dificuldades e chegou a cogitar aceitar a proposta do River Plate no início do ano, que Abel conseguiu evitar.</p>
<p class='noticia-conteudo'>Ao fim de sua terceira temporada no Verdão, porém, as cobranças ganham outro tom. 
Quem puxaria do Sub-20 do Palmeiras? "Luighi talvez seja melhor que o Flaco López"
Ele abriu 2024 com a chance de se colocar como candidato a substituto de Endrick, que estava no Pré-Olímpico com a Seleção e sairia para o Real Madrid em julho.  E os primeiros meses do ano foram positivos para o argentino.</p>
<p class='noticia-conteudo'>Em fevereiro, Abel disse que ele estava voando.  Em julho, bateu 15 gols, superando sua melhor temporada da carreira - quando fez 14 pelo Lanús, em 2021 - e recebeu elogios do treinador. 
– A (função de) 9 é uma posição difícil.</p>
<p class='noticia-conteudo'>Ele está um animal, forte, rápido, possante, matador.  Era um jogador que assinou por quatro ou cinco anos e que tínhamos esperança – disse o técnico no período. 
EM JULHO: Leandro Bocca avalia o desempenho de Flaco López
Flaco terminou o ano, por sinal, como artilheiro do time com 22 gols, sendo dois à frente de Veiga, e deu sete assistências em 61 jogos.</p>
<p class='noticia-conteudo'>É a melhor temporada de sua carreira e também a que mais atuou, superando com folga os números de 2021. 
Mas a chegada do Brasileiro, Libertadores e Copa do Brasil deu combustível às oscilações do centroavante. 
Ele não conseguiu se firmar como titular, assim como Rony, e os dois terminaram revezando a posição até o fim da Série A, quando Flaco voltou a amargar o banco por quatro partidas.</p>
<p class='noticia-conteudo'>Recuperou o posto nas duas rodadas finais, mais por incompetência do concorrente do que por mérito de desempenho. 
Se o desempenho no início do ano fez o clube esfriar a busca por mais um centroavante após a saída de Endrick para o Real Madrid, ao fim do ano o cenário já não é mais o mesmo. 
O Verdão voltou a pensar na contratação de um camisa 9 e fez investidas, que terminam não avançando, nos casos de Gabigol, então no Flamengo, e Gabriel Jesus, do Arsenal.</p>
<p class='noticia-conteudo'>Ao mesmo tempo, não é o suficiente para cogitar a saída do argentino, que abrirá 2025 em mais um ano como aposta no time. 

Cartola | Com gol e assistência, Flaco López, do Palmeiras, é maior pontuador da rodada.</p>
{% endblock main_content %}

