
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Flamengo fará pré-temporada nos Estados Unidos e enfrentará São Paulo no estádio do Inter Miami{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Flamengo fará pré-temporada nos Estados Unidos e enfrentará São Paulo no estádio do Inter Miami
Clube ficará duas semanas em solo americano: "Esse é o momento de unir os jogadores, que passarão a estreitar laços tanto dentro quanto fora de campo", disse Filipe Luís



ge Flamengo analisa que Filipe Luis pegou o time sem margem de erro no Brasileirão
O Flamengo fará novamente a pré-temporada nos Estados Unidos.  O objetivo principal é a internacionalização da marca, principalmente no ano do SuperMundial.  A participação no evento da FC Series estava no radar desde o início do ano, mas parceria só foi oficializada nesta semana.</p>
<p class='noticia-conteudo'>+Análise do Flamengo: expulsão compromete mais uma noite de inovações positivas de Filipe Luís
+"Ruas falam" em Fortaleza, mas Gabigol não corresponde na volta ao Flamengo após afastamento
O período eleitoral no clube atrasou o acordo, mas o presidente Rodolfo Landim assinou o documento garantindo a presença rubro-negra.  A partir disso, o departamento de futebol começou a programação da logística em solo americano, que se estenderá por 14 dias em janeiro. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_16_0.jpg"></div><p class='foto-descricao'>De la Cruz recebe carinho de torcedores do Flamengo nos Estados Unidos — Foto: Divulgação / Flamengo</p>
Filipe Luís foi o principal entusiasta para a pré-temporada fora do país.</p>
<p class='noticia-conteudo'>A comissão acredita que, com os dias de intensa convivência e treinamentos, é possível ter um melhor controle para atingir logo a melhor forma física dos jogadores. 
- A gente entende que é de suma importância fazer uma pré-temporada fora do Rio de Janeiro, onde podemos reunir todo o grupo para realizar os treinamentos necessários, tanto físicos quanto técnicos e táticos, além de trabalhar a parte mental dos jogadores que estarão exclusivamente dedicados aos treinamentos, ao descanso e à preparação - comentou Filipe Luís antes de concluir:
- Realizar essa pré-temporada em um lugar tão importante como os Estados Unidos, com instalações de alto nível, será fundamental para fortalecer o grupo e nos preparar para o que virá durante toda a temporada.  Esse é o momento de unir os jogadores, que passarão a estreitar laços tanto dentro quanto fora de campo.</p>
<p class='noticia-conteudo'>Será uma oportunidade também para receber bem os jogadores que possam chegar e os meninos da base que poderão subir com a gente nesse período - encerrou o treinador. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_16_1.jpg"></div><p class='foto-descricao'>Arrascaeta dá autógrafo para torcedores nos Estados Unidos — Foto: Divulgação / Flamengo</p>
O Flamengo chegará nos Estados Unidos no dia 10 de janeiro e iniciará a pré-temporada em Gainesville, cidade universitária na Flórida, localizada a quase duas horas de Orlando.  Os treinamentos serão nas instalações da Universidade da Flórida.</p>
<p class='noticia-conteudo'>Depois, o Rubro-Negro irá para Fort Lauderdale para jogar o amistoso com o São Paulo, no Chase Stadium, casa do Inter Miami de Messi.  Na sequência, fará as atividades no Florida Blue Trainning Center.  O clube volta ao Brasil no dia 24 de janeiro.</p>
<p class='noticia-conteudo'>19/01 – São Paulo x Flamengo – Chase Stadium, em Fort Lauderdale, na Flórida. 
Cruzeiro e Atlético-MG são outros clubes brasileiros que participarão deste período de pré-temporada e amistosos nos Estados Unidos.  Orlando City, um dos principais times da Flórida, jogará contra o Atlético-MG.</p>
<p class='noticia-conteudo'>Os ingressos para o jogo do Flamengo contra o São Paulo estarão à venda a partir de quinta-feira, 5 de dezembro. 
Confira a programação completa da FC Series



Assista: tudo sobre o Flamengo no ge, na Globo e no sportv
50 vídeos
FLAMENGO.</p>
{% endblock main_content %}

