
    {% extends "html/modelo.html" %}

    {% block title %}Flamengo repudia brigas na Arena MRV na final da Copa do Brasil e pede punição Cenas de selvageria{% endblock title %}
    {% block main_title %}Flamengo repudia brigas na Arena MRV na final da Copa do Brasil e pede punição Cenas de selvageria{% endblock main_title %}
    {% block second_title %}None{% endblock second_title %}
    {% block main_content %}<p class='noticia-conteudo'>Flamengo repudia brigas na Arena MRV na final da Copa do Brasil e pede punição: "Cenas de selvageria"
Em nota, Rubro-Negro lamenta cenas contra o Atlético-MG no título conquistado em Belo Horizonte

11/11/2024 18h53 Atualizado

Torcedores do Atlético-MG tentaram invadir o gramado após a vitória do Flamengo
O Flamengo divulgou uma nota no começo da noite desta segunda-feira repudiando os atos de briga na final da Copa do Brasil contra o Atlético-MG, no último domingo, na Arena MRV.  O Rubro-Negro foi campeão após bater o rival por 1 a 0. 
O Rubro-Negro pediu punição para "todos os responsáveis pelos atos de vandalismo, agressão e selvageria que mancharam a imagem de uma das maiores competições do futebol brasileiro".</p>
<p class='noticia-conteudo'>A partida foi marcada por confrontos dentro e fora de campo.  Antes de a bola rolar, torcedores de Flamengo e Atlético-MG conseguiram entrar no estádio sem apresentar ingressos. 
Após o gol de Gonzalo Plata, que deu a vitória para o Flamengo, alguns torcedores do Galo atiraram objetos e bombas na direção do gramado - uma, inclusive, acertou um fotógrafo, que quebrou três dedos do pé.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="/media/Flamengo_repudia_brigas_na_Arena_MRV_na_final_da_Copa_do_Brasil_e_pede_punicao_Cenas_de_selvageria_0.jpg"></div>Torcida do Atlético-MG atira vários objetos no gramado após gol do Flamengo na final da Copa do Brasil — Foto: Cris Mattos/Reuters
Leia a nota na íntegra
"O Clube de Regatas do Flamengo vem a público, após as lamentáveis cenas de selvageria ocorridas ontem, dia 10. 11. 2024, dentro e fora das dependências da arena do Clube Atlético Mineiro, manifestar seu absoluto repúdio em face das agressões sofridas pelos torcedores, profissionais envolvidos no espetáculo, jogadores e comissão técnica deste clube.</p>
<p class='noticia-conteudo'>Infelizmente, o cenário de guerra visto ontem não é uma novidade em jogos realizados em Belo Horizonte, contra a equipe do Atlético Mineiro.  A rivalidade entre as equipes, que deveria ficar restrita ao ambiente desportivo, de forma salutar, extrapolou a barreira do razoável, de modo que as autoridades (Ministério Público, Órgãos de Segurança Pública, Superior Tribunal de Justiça Deportiva, Confederação Brasileira de Futebol, dentre outros) precisam e devem tomar medidas urgentes. 
O país inteiro foi testemunha das diversas e graves violências praticadas ontem por parte dos torcedores do Atlético Mineiro.</p>
<p class='noticia-conteudo'>Não se pode ignorar ou simplesmente deixar cair no esquecimento, os episódios de violência que ocorreram no domingo.  Eles precisam ser tratados com a importância e atenção que merecem. 
Os gestores da Arena MRV, juntamente com a diretoria do Clube Atlético Mineiro, tinham a obrigação legal de organizar o evento e assegurar a segurança dos presentes e não se desincumbiram disso.</p>
<p class='noticia-conteudo'>A fiscalização e revista de pessoas foi totalmente falha, permitindo o ingresso de bombas e outros artefatos, que causaram danos e ferimentos a pessoas. 
Mesmo a imprensa já tendo elencado os absurdos acontecidos ontem, o Flamengo entende que é de extrema importância relembrar alguns desses acontecimentos:
1. Na entrada da torcida do Flamengo ao estádio houve confusão generalizada, uma vez que o sistema de catracas do setor visitante não comportava a entrada da torcida.</p>
<p class='noticia-conteudo'>A Polícia Mineira agiu com truculência, jogando gás de pimenta nos torcedores, onde estavam idosos, mulheres e crianças. 
2. Os bares destinados à torcida do Flamengo pararam de vender bebidas e refrigerantes ainda no primeiro tempo de jogo, sendo que além do calor intenso os torcedores do Flamengo não tinham sequer acesso à água potável, para limpar o rosto em razão do uso constante de gás de pimenta e, ainda, para hidratação.</p>
<p class='noticia-conteudo'>3. O camarote destinado aos dirigentes e à comissão técnica do Flamengo não contou com a segurança necessária para um evento desta magnitude.  Diversos torcedores do Atlético Mineiro ofenderam e ameaçaram os dirigentes, os profissionais do Flamengo e seus respectivos familiares, no trajeto de acesso e saída dos camarotes.</p>
<p class='noticia-conteudo'>4. Inúmeras bombas foram lançadas dentro de campo, uma delas estourou muito próxima ao goleiro do Flamengo (Rossi), outra quase atingiu o jogador Plata, durante a comemoração do gol e uma terceira, infelizmente, atingiu um repórter que estava trabalhando no jogo (Nurenberg José Maria), o qual não teve, sequer, auxílio da maca em campo, tendo que caminhar com dedos quebrados e um tendão rompido, vindo, inclusive, a ser submetido a uma cirurgia, como amplamente divulgado pela mídia. 
5.</p>
<p class='noticia-conteudo'>Durante toda a partida, foram arremessados copos e outros objetos nos jogadores do Flamengo, em campo e no banco de reservas, sem que a segurança da Arena intervisse para conter esses arremessos. 
6. Invasão de campo pela torcida do Atlético Mineiro, com o objetivo de agredir fisicamente os jogadores e integrantes da comissão técnica do Flamengo.</p>
<p class='noticia-conteudo'>7. Durante toda a comemoração e a cerimônia de premiação, os responsáveis pela Arena MRV, de forma deliberada e antidesportiva ligaram, no último volume, o sistema de som do estádio para tocar repetidamente, por quase uma hora, o hino do Clube Atlético Mineiro, em uma atitude desrespeitosa e contrária ao Fair Play. 
8.</p>
<p class='noticia-conteudo'>Foram verificados atos de racismo e de misoginia praticados por torcedores do Atlético Mineiro em face da torcida do Flamengo e de mulheres profissionais de imprensa. 
9. Destaca-se, ainda, diversos relatos de emboscadas de torcedores do Atlético Mineiro aos ônibus das torcidas do Flamengo, bem como reclamações de jornalistas sobre as condições de trabalho do estádio.</p>
<p class='noticia-conteudo'>Assim, considerando os fatos acima narrados, bem como a nítida falta de segurança dentro e fora da Arena MRV, esperamos que a Justiça Desportiva, conjuntamente com a CBF, se posicione com firmeza para que sejam punidos todos os responsáveis pelos atos de vandalismo, agressão e selvageria que mancharam a imagem de uma das maiores competições do futebol brasileiro. 


Assista: tudo sobre o Flamengo no ge, na Globo e no sportv
50 vídeos
FLAMENGO.</p>
{% endblock main_content %}
    