
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Floyd Mayweather é hostilizado em Londres após declarar apoio a Israel, diz site{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Pugilista foi surpreendido por um grupo de pessoas no momento em que fazia compras em uma joalheria.  Ele nega que tenha sido agredido



Mayweather fazia compras no Hatton Garden e, ao ser reconhecido, foi cercado por um grupo de pessoas que questionaram o seu apoio a Israel.  Para evitar uma confusão maior, o lutador foi retirado da loja e levado até o seu carro com o auxílio de alguns seguranças.</p>
<p class='noticia-conteudo'>Enquanto caminhava até o veículo, foi hostilizado e xingado por algumas pessoas que estavam no local. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_374_0.jpg"></div><p class='foto-descricao'>Floyd Mayweather — Foto: Allen Berezovsky/Getty Images</p>
Na manhã desta quarta-feira, Mayweather utilizou a suas redes socias para falar sobre o ocorrido.  Na postagem, o lutador afirmou estar bem e reforçou que em nenhum momento foi tocado ou agredido pelas pessoas que o cercaram na rua.</p>
<p class='noticia-conteudo'>- Deixa eu esclarecer as coisas. ..</p>
<p class='noticia-conteudo'>Não há verdade nos rumores que circulam.  Não levei um soco ou fui tocado de forma alguma.  O que vocês estão vendo é apenas minha segurança fazendo seu trabalho para colocar as coisas sob controle.</p>
<p class='noticia-conteudo'>Eu estava no Reino Unido para uma rápida parada de 48 horas para fazer algumas compras e, infelizmente, as pessoas deixaram que a inveja e a negatividade espalhassem histórias falsas.  Estou perfeitamente bem e não há realmente mais do que isso - escreveu o lutador. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_374_1.jpg"></div><p class='foto-descricao'>Floyd Mayweather nega que tenha sido agredido em londres — Foto: Reprodução/Instagram</p>
O lutador norte-americano já declarou apoio a Israel e lançou a Iniciativa Mayweather Israel, que, segundo ele, dará a cada órfão um presente de aniversário de graça.</p>
<p class='noticia-conteudo'>No mês de outubro Mayweather visitou o país e chamou o lugar de seu “lar longe de casa”. 
Mayweather começou a participar de competições na nobre arte em 1996.  Nos mais de 20 anos de carreira, ele soma 50 vitórias e zero reveses.</p>
<p class='noticia-conteudo'>Sua última luta de boxe profissional aconteceu em agosto de 2017, quando enfrentou Conor McGregor e venceu o lutador irlandês no décimo round. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_374_2.jpg"></div><p class='foto-descricao'>banner combate — Foto: Combate</p>.</p>
{% endblock main_content %}

