
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Fluminense tem último confronto direto como esperança contra o Z-4; veja retrospecto no Brasileirão{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Fluminense tem último confronto direto como esperança contra o Z-4; veja retrospecto no Brasileirão
Com 31,4% de aproveitamento contra equipes que brigam contra o rebaixamento, Tricolor recebe o Cuiabá, único clube com desempenho pior em duelos cruciais contra a degola no campeonato

04/12/2024 15h31 Atualizado há 3 horas
O Fluminense encara o Cuiabá nesta quinta-feira, às 20h (de Brasília), no Maracanã, em um jogo que é praticamente uma final para o clube no Campeonato Brasileiro.  Em caso de vitória, o Tricolor pode até se garantir na Série A, dependendo de outros resultados.  Porém, se tropeçar, pode ver a permanência na elite se tornar dificílima, tendo em vista que encara o Palmeiras, no Allianz Parque, na última rodada.</p>
<p class='noticia-conteudo'>O jogo da 37ª rodada é um duelo de equipes que brigaram na parte de baixo da tabela durante toda competição.  Com o destino já selado, o Cuiabá não tem mais pelo que brigar no Brasileirão, enquanto o Fluminense necessita desesperadamente dos três pontos.  E quando se fala em "confrontos diretos" no campeonato, o desempenho do Tricolor está longe de ser satisfatório, o que justifica a situação do clube nesse final de ano, o que antes era inimaginável para muitos.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_51_0.jpg"></div><p class='foto-descricao'>Arias é uma das esperanças do Fluminense para o jogo importantíssimo contra o Cuiabá — Foto: Alexandre Durão</p>
O Espião Estatístico fez um levantamento sobre o desempenho de cada equipe que briga ou brigava até pouco tempo contra o rebaixamento em confrontos diretos.  O estudo mostra como o Fluminense pecou quando teve a oportunidade de arrancar pontos de clubes do pelotão de baixo do Brasileirão..</p>
<p class='noticia-conteudo'>Em 17 jogos contra Corinthians e Vitória, que se livraram mas já estiveram no Z4, Athletico-PR, Grêmio, Juventude, Criciúma, Bragantino, Cuiabá e Atlético-GO, o Tricolor venceu apenas três, empatou sete e perdeu sete.  Ou seja, de 51 pontos possíveis contra adversários diretos, o Flu conquistou apenas 16. 
Entre todas as equipes listadas anteriormente, o Fluminense tem o segundo pior aproveitamento em confrontos diretos no Brasileirão, com apenas 31,4%.</p>
<p class='noticia-conteudo'>Nem a chegada do treinador Mano Menezes, que fez com que o clube se recuperasse minimamente na competição, foi capaz de melhorar esse número.  Porém, o Tricolor se agarra a uma esperança.  O único time que consegue ter desempenho pior nesses duelos cruciais na briga contra o Z-4 é justamente o próximo adversário: o Cuiabá.</p>
<p class='noticia-conteudo'>Tabela de aproveitamento dos clubes que brigam/brigaram contra o Z4 em confrontos diretos
Times Jogos Aproveitamento Pontos Vitórias Empates Derrotas
Corinthians 17 60,8% 31 8 7 2
Grêmio 16 60,4% 29 8 5 3
Vitória 17 56,9% 29 9 2 6
Bragantino 16 52,1% 25 6 7 3
Juventude 18 44,4% 24 5 9 4
Athletico-PR 17 43,1% 22 6 4 7
Criciúma 17 37,3% 19 5 4 8
Atlético-GO 18 31,5% 17 4 5 9
Fluminense 17 31,4% 16 3 7 7
Cuiabá 17 27,5% 14 2 8 7
Fonte: Espião Estatístico
Os números por si só justificam o quão crucial é pontuar contra os adversários diretos.  Enquanto o Fluminense perdeu dentro e fora de casa contra Atlético-GO e Vitória, por exemplo, a equipe baiana teve um returno impecável contra as equipes da parte de baixo (incríveis sete vitórias em oito jogos), assim como o Corinthians, dono do melhor aproveitamento, que inclusive escapou do rebaixamento e vai jogar a fase prévia da Libertadores em 2025. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_51_1.jpg"></div><p class='foto-descricao'>Kauã Elias comemora gol em Cuiabá x Fluminense, pelo Brasileirão 2024 — Foto: Marcelo Gonçalves/FFC</p>
Mas para os cariocas, se apegar a esperança é o trunfo que resta.</p>
<p class='noticia-conteudo'>Vale lembrar que no primeiro turno o Fluminense bateu o Cuiabá fora de casa por 1 a 0, com gol de Kauã Elias.  Caso volte a derrotar o adversário, o Tricolor vai conseguir um feito inédito no campeonato: ter 100% de aproveitamento contra uma equipe que também brigou na parte de baixo da tabela.  Em um jogo que vale a vida na elite do futebol brasileiro, essa é a oportunidade perfeita para o clube das Laranjeiras tentar fazer as pazes com a torcida e, principalmente, salvar um ano bem abaixo do esperado.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}

