
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}fluminense{% endblock title %}
{% block main_title %}fluminense{% endblock main_title %}
{% block second_title %}Fluminense x Criciúma ganha cara de jogo do ano e vira 'final' na luta contra o Z4 Tem que vencer{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Fluminense x Criciúma ganha cara de jogo do ano e vira 'final' na luta contra o Z4: "Tem que vencer"
Tricolor pode abrir quatro pontos do Z-4 faltando três rodadas a depender dos resultados.  Expectativa é por público superior aos 37. 969 presentes contra o Fortaleza


Todos os jogos restantes no Campeonato Brasileiro são decisivos para o Fluminense, que luta contra a zona de rebaixamento.</p>
<p class='noticia-conteudo'>Mas o duelo contra o Criciúma, na próxima terça-feira, no Maracanã, ganha contornos de jogo do ano.  Esse é o clima com qual a partida está sendo tratada e, da arquibancada à comissão técnica, o lema é apenas um: "Tem que vencer".  De qualquer jeito.</p>
<p class='noticia-conteudo'>Flu empata e está a um ponto de distância da zona do rebaixamento
A frase foi dita inicialmente pelo técnico Mano Menezes, mas também foi repetida por outros profissionais.  O Fluminense está na 15ª colocação, com 38 pontos, um a mais do que o Criciúma, que é o primeiro a abrir a zona de rebaixamento.  Uma derrota pode significa entrar no Z-4 faltando três rodadas; já uma vitória representaria a chance de abrir quatro pontos da zona da degola.</p>
<p class='noticia-conteudo'>— É decisão.  O jogo de terça tem caráter de decisão.  Se tivéssemos nos dois jogos, um que poderia empatar seria hoje.</p>
<p class='noticia-conteudo'>Terça a gente tem que vencer.  Vamos entender como o jogo vai ser jogado.  Melhorar um pouco a bola parada.</p>
<p class='noticia-conteudo'>Com o volume que tivemos hoje, essas ocasiões acontecem com frequência.  Jogamos muitas bolas nas mãos do goleiro.  Hoje o campo estava molhado para controlar a batida é difícil.</p>
<p class='noticia-conteudo'>Mas vamos melhorar pequenos detalhes para buscar na terça-feira a vitória – disse ele — afirmou Mano Menezes. 
Há expectativa de apoio massivo da arquibancada no penúltimo jogo do ano no Maracanã.  Diante do Fortaleza, foram 37.</p>
<p class='noticia-conteudo'>969 torcedores presentes.  A espera é por um número maior contra o Criciúma. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_20_0.jpg"></div><p class='foto-descricao'>Mano Menezes em Fluminense x Fortaleza, pelo Brasileirão 2024 — Foto: Alexandre Durão</p>
As contas para o Fluminense
A matemática diz que 44 pontos é o número ideal para escapar do rebaixamento — as chances seriam de apenas 3%, de acordo com as contas da Universidade Federal de Minas Gerais (UFMG).</p>
<p class='noticia-conteudo'>Mas a configuração da rodada também pode ajudar ao Fluminense, que abriria uma gordura considerável. 
Na 35ª rodada, em caso de vitória do Tricolor, seriam quatro pontos abertos para o Z-4 faltando três rodadas. 
Para chegar nos 44, é necessário ter duas vitórias.</p>
<p class='noticia-conteudo'>Caso vença o Criciúma e, posteriormente, o Cuiabá no Maracanã, fará a pontuação necessária.  Vale lembrar que, de 2010 em diante, nenhum time rebaixado conseguiu alcançar 45 pontos. 
Em 2019, o Ceará foi o primeiro fora do Z-4 e escapou com 39 pontos somados.</p>
<p class='noticia-conteudo'>Em 2020, o Fortaleza escapou com 41 pontos.  Em 2021, o Juventude foi o primeiro time fora da zona de rebaixamento com 46 pontos.  Porém, o Grêmio, que foi o 17º colocado, caiu com 43 pontos.</p>
<p class='noticia-conteudo'>Ou seja, bastaria o Juventude chegar aos 44 pontos para evitar a queda neste cenário.  Em 2022, o Cuiabá escapou do rebaixamento com 41 pontos.  Em 2023, o Bahia terminou na 16º colocação com 44 pontos.</p>
<p class='noticia-conteudo'>Desde 2006 quando o Campeonato Brasileiro de pontos corridos passou a ser disputado com 20 times, somente uma equipe não escapou do rebaixamento com 45 pontos: o Coritiba, em 2009, justamente quando o Fluminense conseguiu uma arrancada histórica e evitou a queda na última rodada, em confronto direto com o Coxa.  Naquele ano, o Flu foi o primeiro time fora do Z-4, com 46 pontos. 
🎧 Ouça o podcast ge Fluminense
Assista: tudo sobre o Fluminense no ge, na Globo e no sportv
50 vídeos
FLUMINENSE.</p>
{% endblock main_content %}

