
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Fluminense tem semana decisiva no Brasileirão e no planejamento para 2025; veja pendências{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Fluminense tem semana decisiva no Brasileirão e no planejamento para 2025; veja pendências
Com jogadores e treinador em fim de contrato, clube aguarda definição se fica na Série A



Pra fugir do Z-4: Fluminense recebe o Cuiabá no Maracanã
O Fluminense vive uma semana decisiva.  Tanto pela permanência ou não na Série A quanto pelo planejamento de 2025.  Neste momento, na luta para se livrar do rebaixamento, o clube tem mais dois jogos pela frente para começar a tomar decisões em relação ao time da próxima temporada.</p>
<p class='noticia-conteudo'>O time tem três cenários ainda em aberto quanto ao calendário.  Para o próximo ano, o Tricolor pode: permanecer na elite e se classificar à Sul-Americana; ficar na Série A, sem vaga no torneio continental; ou cair para a Série B do Brasileirão.  A diretoria tricolor decidiu só iniciar o planejamento 2025 após ter tudo definido.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_26_0.jpg"></div><p class='foto-descricao'>Jogadores do Fluminense comemoram o gol de Arias contra o Athletico-PR — Foto: LUCAS MERÇON / FLUMINENSE F. C. </p>

Possíveis competições do Fluminense em 2025:

Tendo as definições sobre o que disputará ano que vem, o foco passa a ser a definir o planejamento.</p>
<p class='noticia-conteudo'>Neste momento, o clube tem jogadores em fim de contrato, além do técnico Mano Menezes.  Manoel, Felipe Melo, Diogo Barbosa, Jan Lucumí e Marquinhos estão com vínculo perto do fim. 
Emprestado pelo Arsenal e fora dos planos, Marquinhos já foi até dispensado pela comissão técnica e não deve mais atuar pelo clube.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_26_1.jpg"></div><p class='foto-descricao'>Felipe Melo tem contrato perto do fim — Foto: Alexandre Durão</p>
Jogadores em fim de contrato
Manoel (até 31. 12. 2024)
Felipe Melo (até 31.</p>
<p class='noticia-conteudo'>12. 2024)
Diogo Barbosa (até 31. 12.</p>
<p class='noticia-conteudo'>2024)
Jan Lucumí (empréstimo até 31. 12. 2024)
Marquinhos (empréstimo até 01.</p>
<p class='noticia-conteudo'>01. 2025)
Além deles, o técnico Mano Menezes não tem a permanência garantida.  Caso consiga evitar o rebaixamento, o treinador aumenta as chances de ficar no cargo, mas a decisão ainda não foi tomada.</p>
<p class='noticia-conteudo'>O Fluminense ainda tem jogadores que despertam o interesse do mercado.  John Kennedy tem proposta do Pachuca, do México, enquanto Arias é alvo do futebol europeu.  Considerado peça fundamental do time, o colombiano ainda não tem o destino definido, mas tem grandes chances de ser negociado.</p>
<p class='noticia-conteudo'>O Galatasaray, da Turquia, é um dos interessados. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_26_2.jpg"></div><p class='foto-descricao'>John Kennedy tem proposta do Pachuca, do México — Foto: Marcelo Gonçalves/FFC</p>
Com a definição no Brasileirão, a diretoria também iniciará uma possível barca de dispensas com nomes que não estão sendo aproveitados, além de iniciar as negociações em busca de reforços. 
Com 40 pontos e faltando duas rodadas para o fim, o Fluminense pode se garantir na Série A nesta quinta-feira, em jogo com o Cuiabá.</p>
<p class='noticia-conteudo'>Para isto, precisa vencer e torcer por tropeços de Criciúma e Bragantino na rodada.  Veja as contas aqui. 
🗞️ Leia mais notícias do Fluminense
🎧 Ouça o podcast ge Fluminense
Assista: tudo sobre o Fluminense no ge, na Globo e no sportv
50 vídeos
FLUMINENSE.</p>
{% endblock main_content %}

