
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Botafogo{% endblock title %}
{% block main_title %}Botafogo{% endblock main_title %}
{% block second_title %}Fotos, reza e carinho na rede Botafogo reconhece gramado do Monumental antes de final{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Fotos, reza e carinho na rede: Botafogo reconhece gramado do Monumental antes de final
Elenco vai ao Monumental um dia antes de a bola rolar pela taça continental



Botafogo faz reconhecimento do gramado no Monumental
O Botafogo cumpriu mais uma atividade em Buenos Aires antes da final da Conmebol Libertadores 2024.  No começo da tarde desta sexta-feira, jogadores, dirigentes e membros da comissão técnica foram ao gramado do Estádio Más Monumental, casa do River Plate, que será o palco da partida contra o Atlético-MG.  O reconhecimento teve muitas fotos, reza e um carinho de Marlon Freitas na rede de um dos gols.</p>
<p class='noticia-conteudo'>O evento durou cerca de 15 minutos, com os atletas circulando pelo local, tirando fotos do estádio, fazendo oração e conversando.  Essa será a primeira partida no local com a capacidade completa após algumas etapas da reforma (86 mil torcedores). 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_94_0.jpg"></div><p class='foto-descricao'>Marlon Freitas toca no gramado do Monumental — Foto: ge</p>
John Textor, dono da SAF alvinegra, também esteve presente.</p>
<p class='noticia-conteudo'>Em um momento curioso, o capitão Marlon Freitas cruzou todo o campo até um dos gols.  Ele fez questão de tocar a rede, como se fizesse um carinho. 
- O propósito é algo individual nessa caminhada que você citou no gramado.</p>
<p class='noticia-conteudo'>A gente pensa muita coisa, tudo que tive que passar para chegar aqui.  Como eu falei, minha primeira Libertadores, chegar em uma final.  É o único que vem da pré a decidir.</p>
<p class='noticia-conteudo'>Muitas coisas envolvidas, minha família, citei meu pai.  Esse sonho.  Estou muito feliz de estar aqui.</p>
<p class='noticia-conteudo'>A gente precisa desfrutar, estar com alegria.  Foi nossa união que nos trouxe até aqui.  A gente vai desfrutar até o último minuto desse jogo.</p>
<p class='noticia-conteudo'>Vou desfrutar desse momento.  Passou muita coisa na minha cabeça.  Estou muito feliz.</p>
<p class='noticia-conteudo'>Vamos fazer o nosso melhor para conquistar o nosso sonho - contou o volante. 
O Glorioso tem praticamente o elenco completo à disposição de Artur Jorge para o confronto.  Ele terá dois desfalques: o zagueiro Bastos, que sofreu uma lesão muscular na partida contra o Palmeiras, e o lateral-direito Mateo Ponte, que cumpre suspensão pela expulsão na semifinal.</p>
<p class='noticia-conteudo'>A final começa às 17h (de Brasília). 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_94_1.jpg"></div><p class='foto-descricao'>Jogadores do Botafogo fazem reconhecimento do gramado no Monumental — Foto: Jéssica Maldonado</p>


Assista: tudo sobre o Botafogo no ge, na Globo e no sportv
50 vídeos
BOTAFOGO.</p>
{% endblock main_content %}

