
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}FPF acata parecer do Ministério Público e mantém clássicos com torcida única em 2025{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>FPF acata parecer do Ministério Público e mantém clássicos com torcida única em 2025
Medida é válida para os jogos entre Corinthians, Palmeiras, São Paulo, Santos, Guarani e Ponte Preta

04/12/2024 12h11 Atualizado há 7 horas

Rizek faz análise sobre os portões fechados em Cruzeiro e Palmeiras: "que vexame Brasil!"
Os clássicos paulistas vão seguir com apenas uma das torcidas em 2025.  O Ministério Público emitiu um parecer para a Confederação Brasileira de Futebol e a Federação Paulista de Futebol sugerindo a manutenção dos clássicos com torcida única na próxima temporada.  A FPF acatou a decisão.</p>
<p class='noticia-conteudo'>Anualmente, desde 2016 depois de briga entre corintianos e palmeirenses que levou à morte de uma pessoa, a promotoria solicita à FPF que os clássicos paulistas tenham apenas torcedores do time mandante — depois isso se estendeu também para partidas que tenham Guarani e Ponte Preta. 
VEJA TAMBÉM:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_52_0.jpg"></div><p class='foto-descricao'>Sede da Federação Paulista de Futebol em São Paulo — Foto: Henrique Toth</p>
Não há no estado uma lei que determine a realização de jogos com apenas uma das torcidas.  Os casos de violência recorrentes fazem o MP-SP recomendar à FPF, a cada início de temporada, que esses duelos aconteçam sem a presença de visitantes nas arquibancadas.</p>
<p class='noticia-conteudo'>É a federação que determina, portanto, a restrição a torcedores. 
"Considerando que foram tomadas todas as medidas possíveis e necessárias nos últimos anos para que se conseguisse de forma pacífica a realização de jogos entre times paulistas e seus rivais regionais com a presença de suas torcidas, mas o resultado verificado é o da observância de confrontos violentos generalizados, que o Poder Público não pode e não consegue controlar, mesmo diante de todo seu aparato pessoal e jurídico.  Solicito a manutenção da torcida única nas partidas disputadas entre Ponte Preta, Guarani , Santos , São Paulo, Palmeiras e Corinthians durante todo o ano de 2025", recomendou o promotor Roberto Bacal.</p>
<p class='noticia-conteudo'>A orientação do MP não tem o poder de obrigar a federação a aceitá-la.  A entidade esportiva acata, porém, para evitar o risco de ser responsabilizada por incidentes que venham a ocorrer nessas partidas. 
"Atender integralmente a recomendação do Ministério Público do Estado de São Paulo, para que a torcida única seja mantida em todas as competições promovidas por esta entidade no ano de 2025, em todas as partidas disputadas, entre si, pelas seguintes agremiações: Santos Futebol Clube, São Paulo Futebol Clube, Sport Clube Corinthians Paulista, Sociedade Esportiva Palmeiras, Associação Atlética Ponte Preta e Guarani Futebol Clube", informa trecho do documento assinado por Fabio Barbosa Moraes, diretor executivo do Departamento de Segurança e Prevenção de Violência da entidade.</p>
<p class='noticia-conteudo'>"A Federação Paulista de Futebol oficiará aos Órgãos de Segurança Pública, à Polícia Militar do Estado de São Paulo e ao Ministério Público para fins de fiscalização e de cumprimento das solicitações ali constantes", informa outra parte do comunicado obtido pelo ge. 

O primeiro jogo com torcida única em 2025 será entre Ponte Preta e Santos, pela segunda rodada do Paulistão, em Campinas, previsto para o dia 19 de janeiro. 
CORINTHIANS
GUARANI
PALMEIRAS
PONTE PRETA
SANTOS
SÃO PAULO.</p>
{% endblock main_content %}

