
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}G20 no futebol Amistoso entre São Cristóvão e Rússia tem incidente diplomático e pedido para Putin{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>G20 no futebol? Amistoso entre São Cristóvão e Rússia tem incidente diplomático e pedido para Putin
Vitória da seleção russa sub-23 por 4 a 0 na Zona Norte do Rio de Janeiro conta com presentes para torcedores, músicas para os russos e formação de "novo ídolo"



Saltykov, jogador da Rússia, vira ídolo de torcedores do São Cristóvão
Segunda-feira de feriado e calor no Rio de Janeiro é sinônimo de praia.  Para alguns, a manhã foi de futebol.  A cidade está mobilizada para o G20, que recebe os principais líderes mundiais.</p>
<p class='noticia-conteudo'>Um deles, Vladimir Putin, presidente da Rússia, não veio ao Brasil.  Isso não foi um problema para a seleção sub-23 do país, que realiza amistosos no Rio.  Na manhã desta segunda, os russos venceram o São Cristóvão por 4 a 0 na Zona Norte da cidade.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_1_0.jpg"></div><p class='foto-descricao'>São Cristóvão x Rússia sub-23 — Foto: Wandré Silva</p>
A entrada gratuita no Estádio Ronaldo Luís Nazário de Lima trouxe um bom público para o evento.  A maior parte dos torcedores na casa do São Cristóvão foi composta por jovens que aproveitaram o feriado para assistir ao amistoso.  A arquibancada se uniu com músicas que provocaram os russos.</p>
<p class='noticia-conteudo'>As canções, que no começo eram direcionadas contra os visitantes, foram acrescidas de uma criatividade ainda maior e renderam até pedidos inusitados ao presidente da Rússia.  Putin, Haaland e Olaria foram alguns dos citados, mas o maior alvo foi Nikita Saltykov, camisa 25 da Rússia, que presentou um torcedor com a chuteira do jogo. 
Incidente diplomático contornado por "russo carioca"
A tensão começou antes da bola rolar, mas não entre os jogadores.</p>
<p class='noticia-conteudo'>Houve um pequeno incidente quando as bandeiras de Rússia, São Cristóvão, Brasil e Rio de Janeiro foram colocadas no gramado.  A bandeira russa foi colocada de cabeça para baixo, o que irritou a delegação visitante. 
Quem ajudou a contornar a situação foi Sergio Andrade, morador de Copacabana que foi até o estádio para torcer pela Rússia.</p>
<p class='noticia-conteudo'>Já que Putin não veio ao Rio de Janeiro, o carioca, que aprendeu o idioma russo para conversar com professores do mestrado, colocou-se na posição de mediar o conflito entre o país e a Ucrânia. 
"Russos cariocas" impedem acidente diplomático em São Cristóvão x Rússia
- As relações internacionais vão ficar complicadas aqui.  A moça ficou chateadaça, mas agora está tudo resolvido.</p>
<p class='noticia-conteudo'>Eu sei falar um pouco de ucraniano, então poderia ajustar - disse Sergio. 
Sergio não estava sozinho.  Torcedor do CSKA, ele estava com Rennan Rebello, dono do canal "Rússia em Português".</p>
<p class='noticia-conteudo'>Flamenguistas no Brasil, os dois são "rivais" em território estrangeiro, já que Rennan é torcedor do Spartak.  Em São Cristóvão, os cariocas torceram pela Rússia com direito a uniforme vermelho. 
Rennan foi confundido com a delegação russa e virou celebridade.</p>
<p class='noticia-conteudo'>Depois do jogo, quando alguns torcedores pediram camisa e foto, ele respondeu com um português bem claro: "Eu sou de São Gonçalo, pô".  Sergio recebeu uma camisa de treino de presente. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_1_1.jpg"></div><p class='foto-descricao'>Torcida do São Cristóvão no Estádio Ronaldo Luís Nazário de Lima para amistoso com a Rússia sub-23 — Foto: Rafael Bizarelo</p>
Diego Soeiro, morador de São Cristóvão e torcedor do Vasco da Gama, não aprovou a torcida pelos adversários, mas tirou foto com os jogadores russos depois do jogo.</p>
<p class='noticia-conteudo'>"Expulso" de casa pela mãe no feriadão, ele foi com o irmão, Vinicius, para o estádio, e apoiou o Tóvão até o fim. 
- Feriado, nada para fazer..</p>
<p class='noticia-conteudo'>.  minha mãe meio que me expulsou de casa, então estou aqui.  Moro a minha vida inteira aqui.</p>
<p class='noticia-conteudo'>Não pode (torcer para a Rússia).  Hoje é São Cristóvão. 
Família russa
Além de Sergio e Rennan, outros "russos cariocas" também estavam do lado visitante.</p>
<p class='noticia-conteudo'>Um pequeno menino loiro corria pela arquibancada do estádio com provocações aos torcedores do São Cristóvão.  David, de 12 anos, estava acompanhado do pai, Igor, e comemorou todos os gols com muito entusiasmo.  Os dois são naturais de Moscou, capital da Rússia, e moram no Brasil desde 2019.</p>
<p class='noticia-conteudo'>Família russa acompanha São Cristóvão x Rússia na Zona Norte do Rio
Botafoguense, David joga no campo do São Cristóvão de meia.  O pai é torcedor do Flamengo aqui no Brasil.  Eles estão no Rio de Janeiro desde março, e o motivo, para Igor, é um só: a praia.</p>
<p class='noticia-conteudo'>- Sou contratado do Ais Football, que é aqui do São Cristóvão.  Quatro anos anos que moro aqui já..</p>
<p class='noticia-conteudo'>.  mudamos para cá esse ano.  Moramos em Floripa antes.</p>
<p class='noticia-conteudo'>(O calor) é normal - disse David. 
Na hora do primeiro gol da Rússia, em cobrança de pênalti, David não se intimidou com os torcedores do São Cristóvão, comemorou e até provocou os adversários.  Depois do jogo, o pequeno russo conseguiu fotos com os jogadores.</p>
<p class='noticia-conteudo'>Ô Putin. ..</p>
<p class='noticia-conteudo'>Sobrou até para o presidente da Rússia.  Vladimir Putin decidiu não comparecer ao G20, encontro entre líderes mundiais realizado no Rio de Janeiro nesta semana.  Isso não impediu que a torcida do São Cristóvão cantasse músicas direcionadas ao líder russo.</p>
<p class='noticia-conteudo'>Presidente da Rússia, Vladimir Putin é alvo de músicas da torcida do São Cristóvão
As músicas foram de "Ah, que bom seria se o Putin acabasse com o Olaria"; "Vodka é o c*, eu prefiro caipirinha"; "Doutor, eu não me engano! Esse juiz é ucraniano"; "O meu G20 não precisa de você"; "Olha que miséria, vai sair de São Cristóvão direto para Sibéria". 
Ídolos e "coração dividido"
Três jogadores estiveram presentes nos cantos dos torcedores do São Cristóvão durante a partida.  Um deles foi o goleiro Mimito, da equipe da casa, que saiu no segundo tempo enquanto o jogo estava 2 a 0.</p>
<p class='noticia-conteudo'>Aclamado pela arquibancada por boas defesas, ele revelou uma conversa em inglês com os russos. 
- Eu só meti "yes, mi friend (sim meu amigo)".  Eles entenderam.</p>
<p class='noticia-conteudo'>Família São Cristóvão, torcedores, nossos amigos internautas, muito obrigado a cada um de vocês - disse o goleiro Mimito, que usava uma ushanka, gorro russo emprestado por um torcedor. 
Mimito, goleiro do São Cristóvão, revela papo em inglês com russos
Do lado russo, o camisa 19, Alexandr Kokshrarov, foi chamado de Haaland pela semelhança com o craque do Manchester City e da Noruega.  Autor de um dos gols, ele retribuiu o carinho dos torcedores, que fizeram convites para ele jogar no Flamengo e no Vasco.</p>
<p class='noticia-conteudo'>Mimito e "Haaland" estavam nas músicas dos torcedores, mas Nikita Saltykov foi a grande estrela da partida.  Autor de duas assistências, o camisa 25 da Rússia já era cotado como craque na arquibancada.  Francisco, que saiu de Niterói e atravessou a ponte para assistir a partida, disse que viu o jogador nos amistosos da Rússia contra Fluminense, Botafogo e Paraguai.</p>
<p class='noticia-conteudo'>Saltykov estava no banco, e o contato começou no intervalo, quando os reservas aqueciam no gramado.  Ele pediu que os torcedores cantassem o nome dele, e a arquibancada uniu-se em alto em bom som cantando o sobrenome do russo.  Depois, para a alegria de Francisco, o camisa 25 entrou em campo.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_1_2.jpg"></div><p class='foto-descricao'>Nikita Saltykov, da Rússia sub-23, dá as chuteiras para torcedor do São Cristóvão — Foto: Rafael Bizarelo</p>
O flamenguista Francisco começou a pedir Saltykov no Rubro-Negro, e disse que Nikita seria o "novo Petkovic".  A alegria virou "preocupação" logo depois, quando o jogador sofreu falta e recebeu atendimento fora de campo.  Ele voltou a tempo de marcar de contribuir com duas assistências.</p>
<p class='noticia-conteudo'>- Tentaram lesionar ele.  Tentaram parar a besta enjaulada.  Coração divide - disse Francisco, que começou a rir logo depois.</p>
<p class='noticia-conteudo'>Francisco não recebeu o presente do novo ídolo.  Ele ficou contente com uma foto com Saltykov, que tirou foto com ele e outros torcedores.  Nikita tirou as chuteiras e deu de presente para um torcedor.</p>
<p class='noticia-conteudo'>Santiago, o dono da ushanka, foi quem recebeu a chuteira do russo. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_1_3.jpg"></div><p class='foto-descricao'>Santiago, torcedor do São Cristóvão, recebeu a chuteira de Nikita Saltykov, da Rússia — Foto: Rafael Bizarelo</p>
Nikita Saltykov tem 20 anos e joga pelo Lokomotiv, um dos maiores clubes da Rússia.  Em entrevista depois da partida, o camisa 25 disse que foi a primeira vez dele jogando em um estádio que os carros passam "por cima" - a casa do São Cristóvão está localizada ao lado do Elevado Professor Engenheiro Rufino de Almeida Pizarro.</p>
<p class='noticia-conteudo'>- Já tinha vindo para São Paulo no ano passado.  É a primeira vez do Rio, e fomos ontem ver o Cristo Redentor.  Estava meio cheio, mas aproveitamos bem.</p>
<p class='noticia-conteudo'>A praia é incrível.  Vimos as pessoas jogando futebol e todos os tipos de esporte - falou o camisa 25. 
Torcedor do São Cristóvão, Francisco diz ter o "coração dividido" entre clube e Saltykov
O calor não impressionou tanto Saltykov, mas o jogador admitiu que enfrentou uma certa dificuldade no jogo desta segunda-feira.</p>
<p class='noticia-conteudo'>O carinho da torcida tirou o sorriso do rosto de Nikita. 
- As pessoas aqui (no Brasil) amam futebol.  Os torcedores são ótimos, especialmente desse time.</p>
<p class='noticia-conteudo'>Eles começaram a torcer para mim imediatamente.  A interação com os torcedores foi ótima, e fiquei muito feliz quando escutei meu nome ser cantado.  Foi muito legal e gostei muito - completou Saltykov.</p>
<p class='noticia-conteudo'>O jogo terminou com vitória da Rússia sub-23 por 4 a 0 com três gols de Kirill Nikishin e um de Alexsandr Koksharov.  Caso o país pudesse disputar os Jogos Olímpicos e se classifica-se para a competição, essa seria a equipe disponível para atuar.  Antes, o russos atuaram com Fluminense, Botafogo e Paraguai.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

