
            <html>
                <article class="noticia-detalhada">
                    <h1 class="noticia-titulo mt-4">Gabigol e outros jogadores parabenizam Flamengo pelos 129 anos do clube</h1>
                    <p class="noticia-conteudo">Gabigol e outros jogadores parabenizam Flamengo pelos 129 anos do clube
"Parabéns ao maior do mundo. Uma vez Flamengo, Flamengo até morrer", escreveu o atacante que deixará o clube em dezembro


O Clube de Regatas do Flamengo completa 129 anos nesta sexta-feira, dia 15 de novembro. O dia foi de eventos na sede na Gávea, onde o ídolo do basquete Olivinha recebeu um busto sem sua homenagem. Nas redes sociais, Gabigol e outros jogadores do elenco parabenizaram o clube pelo aniversário.
O atacante que deixará o clube ao fim do contrato em dezembro utilizou o X, antigo Twitter, para homenagear o time: "Parabéns ao maior do mundo. Uma vez Flamengo, Flamengo até morrer".
Gabigol parabeniza Flamengo pelos 129 anos: "Parabéns ao maior do mundo" — Foto: Reprodução
Zico, o maior ídolo do clube, publicou a homenagem e relembrou a história do pai, que o apresentou o amor ao Rubro-Negro.
- Quando meu Pai, o querido Velho Antunes nasceu, em 1901, o Clube de Regatas do Flamengo ja existia a 6 anos. Hoje o clube completa 129 anos e graças ao Velho Antunes o Flamengo entrou na vida da Família que ele criou, da qual eu estou incluído. Parabéns ao Flamengo e que venham outros tantos anos, com vitorias e grandes conquistas. Obrigado Flamengo por ter aberto as portas para que eu pudesse ajudar nessa linda historia rubro-negra. Obrigado Velho Antunes por nos fazer amar e entender o que é ser Flamengo. Saudações Rubro-negras - escreveu Zico.
Pedro também homenageou o clube do coração: "Deus tem feito muito mais do que imaginei um dia. Parabéns, Mengão". O atacante e artilheiro do ano ainda se recupera de lesão e retornará aos gramados somente em 2025.
Pedro parabeniza Flamengo pelos 129 anos — Foto: Reprodução
Bruno Henrique, Ayrton Lucas, Everton Cebolinha e Michael foram outros atletas do atual elenco que parabenizaram o Flamengo nas redes sociais. Rodinei, o antigo lateral direito do clube, também fez questão de lembrar o aniversário do clube. Diego Ribas e Diego Alves publicaram um carrossel com lembranças.
Veja outras publicações
Rodinei parabeniza Flamengo pelos 129 anos — Foto: Reprodução
Michael parabeniza Flamengo pelos 129 anos — Foto: Reprodução
Everton Cebolinha parabeniza Flamengo pelos 129 anos — Foto: Reprodução
Ayrton Lucas parabeniza Flamengo pelos 129 anos — Foto: Reprodução
+ Leia mais notícias do Flamengo
🎧 Ouça o podcast ge Flamengo 🎧
Assista: tudo sobre o Flamengo no ge, na Globo e no sportv
50 vídeos
FLAMENGO
Veja também</p>
                </article>
            </html>
            