
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}flamengo{% endblock title %}
{% block main_title %}flamengo{% endblock main_title %}
{% block second_title %}Gabigol e Braz diminuem tensão em boa conversa no CT e começam a projetar final pacífico no Flamengo{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Gabigol e Braz diminuem tensão em "boa conversa" no CT e começam a projetar final pacífico no Flamengo
Apesar da reaproximação, reunião ainda não confirmou se camisa 99 será relacionado para a partida contra o Cuiabá, quarta-feira, na Arena Pantanal



Afastado pela diretoria, Gabigol assiste a jogo em camarote
Depois de uma semana extremamente tensa, que contou com afastamento de Gabigol e promessa de presença do atacante no setor Norte do Maracanã para assistir à partida contra o Atlético-MG (0x0), a temperatura foi arrefecida na manhã deste sábado.  O vice de futebol do Flamengo, Marcos Braz, e o camisa 99, tiveram uma reunião de pelo menos 30 minutos no Ninho do Urubu. 

A notícia foi publicada primeiramente na coluna do jornalista Gustavo Henrique Dando Choque, no jornal "O Dia".</p>
<p class='noticia-conteudo'>Segundo o ge apurou, Gabigol e Braz tiveram uma "boa conversa", e o tom foi ajustado por ambas as partes, especialmente a do atleta. 
Apesar da reaproximação e do saldo positivo do papo, ainda não foi definido se Gabigol será relacionado para a partida da próxima quarta-feira, contra o Cuiabá, pela 34ª rodada do Campeonato Brasileiro, às 19h (de Brasília), na Arena Pantanal. 
A tendência é que Gabigol conste na lista dos que viajam para o Mato Grosso, mas Marcos Braz voltará ao CT na manhã de domingo e terá mais reuniões com o departamento de futebol.</p>
<p class='noticia-conteudo'>As partes trabalham para um fim de relações com menos arranhões e a fim de viabilizar uma despedida que Gabigol e a torcida merecem, na rodada final do Campeonato Brasileiro, contra o Vitória, no Maracanã. 
Para o duelo com o Cuiabá, o Flamengo, por ora, tem mais um desfalque para o ataque.  Bruno Henrique pegou suspensão de dois jogos pela expulsão na semifinal da Copa do Brasil.</p>
<p class='noticia-conteudo'>Cumpriu a automática na partida da final e agora tem de ficar ausente de um confronto no Brasileiro.  O departamento jurídico rubro-negro, porém, tenta a obtenção do efeito suspensivo. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_13_0.jpg"></div><p class='foto-descricao'>Gabigol e Marcos Braz têm boa relação e estão tentando ajustar um final sem maiores arranhões — Foto: André Durão/ge</p>

🗞️ Leia mais notícias do Flamengo
🎧 Ouça o podcast ge Flamengo
Assista: tudo sobre o Flamengo no ge, na Globo e no sportv
50 vídeos
FLAMENGO.</p>
{% endblock main_content %}
{% block cor_categoria %}#ff0000{% endblock cor_categoria %}

