
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}cuiaba{% endblock title %}
{% block main_title %}cuiaba{% endblock main_title %}
{% block second_title %}Gabigol continua afastado pelo Flamengo e não enfrentará o Cuiabá{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Gabigol continua afastado pelo Flamengo e não enfrentará o Cuiabá
Direção mantém decisão que tirou atacante do duelo diante do Atlético-MG após incidentes na final da Copa do Brasil.  Ele volta diante do Fortaleza



GE Flamengo debate a presença de Gabigol no Maracanã
Gabigol continua afastado pelo Flamengo.  Desta forma, o atacante não enfrentará o Cuiabá, nesta quarta-feira, às 19h, na Arena Pantanal, pelo Brasileirão.</p>
<p class='noticia-conteudo'>A informação foi divulgada inicialmente pelo jornalista Venê Casagrande e confirmada pelo ge. 

A direção do Rubro-Negro decidiu manter a decisão que tirou Gabigol do duelo contra o Atlético-MG por incidentes ocorridos na final da Copa do Brasil.  Havia a expectativa de o atleta voltar a ser relacionado pelo técnico Filipe Luís, o que não ocorreu.</p>
<p class='noticia-conteudo'>O camisa 99 tem treinado normalmente no Ninho do Urubu e voltará a ficar à disposição a partir do confronto diante do Fortaleza, dia 26, no Castelão. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_9_0.jpg"></div><p class='foto-descricao'>Gabigol foi ao Maracanã assistir Flamengo x Atlético-MG — Foto: Alexandre Durão</p>
No sábado, o vice de futebol do Flamengo, Marcos Braz, e Gabigol tiveram uma reunião de pelo menos 30 minutos no Ninho do Urubu.  Arestas foram aparadas, e o caminho para a reintegração começou a ser pavimentado.</p>
<p class='noticia-conteudo'>Gabigol foi afastado por indisciplina no intervalo do segundo jogo da final da Copa do Brasil contra o Galo, em Belo Horizonte.  Ele foi substituído por Bruno Henrique.  O Flamengo venceu por 1 a 0 e foi pentacampeão.</p>
<p class='noticia-conteudo'>Ao final da partida, o jogador anunciou que não permanecerá no clube. 

Assista: tudo sobre o Flamengo no ge, na Globo e no sportv
50 vídeos
FLAMENGO.</p>
{% endblock main_content %}
{% block cor_categoria %}#ff0000{% endblock cor_categoria %}

