
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}flamengo{% endblock title %}
{% block main_title %}flamengo{% endblock main_title %}
{% block second_title %}Gabigol no Maracanã tem ida ao vestiário, indiferença da arquibancada e trégua com o Flamengo{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Gabigol no Maracanã tem ida ao vestiário, indiferença da arquibancada e trégua com o Flamengo
Atacante foi afastado de jogo contra o Atlético-MG e segue fora dos jogos "até segunda ordem".  Mas ele está integrado ao elenco e participará dos treinamentos normalmente

14/11/2024 03h00 Atualizado

Filipe Luís faz pronunciamento sobre situação de Gabigol: "É um assunto total do M.  Braz"
Se a véspera do jogo foi agitada, com ataques dos dois lados, a quarta-feira reservou um dia de trégua na relação entre Flamengo e Gabigol.</p>
<p class='noticia-conteudo'>O Maracanã recebeu o jogo contra o Atlético-MG pelo Brasileirão, mas os holofotes estavam na presença de atacante, que ficou fora da relação do jogo por decisão da diretoria.  Ele marcou presença no vestiário logo depois de praticamente passar despercebido no gramado durante o aquecimento. 
+Flamengo afastou Gabigol após irritação com substituição: "Tá de sacanagem"
Gabigol foi comunicado do afastamento no fim do treino na véspera da partida, na terça, no Ninho do Urubu.</p>
<p class='noticia-conteudo'>A decisão partiu do departamento de futebol com a justificativa de "manter a harmonia do elenco".  Em entrevista coletiva, Filipe Luís comentou que a decisão aconteceu devido a um episódio que ocorreu na final da Copa do Brasil, mas reforçou que o assunto está nas mãos do vice de futebol Marcos Braz e lamentou a situação logo após o pentacampeonato da Copa do Brasil (veja o vídeo no topo da matéria). 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_0.jpg"></div><p class='foto-descricao'>Gabigol em Flamengo x Atlético-MG — Foto: Alexandre Durão</p>
Sem poder jogar, Gabigol anunciou nas redes sociais que iria ao estádio no Setor Norte, local onde as organizadas do clube se posicionam.</p>
<p class='noticia-conteudo'>O plano, no entanto, não foi executado por causa do transtorno sob o aspecto da segurança.  O atacante decidiu assistir à partida do próprio camarote - algo que faz normalmente quando está fora dos jogos. 
+Filipe Luís defende David Luiz após pênalti perdido em Flamengo x Atlético-MG: "Sei da capacidade"
+Flamengo é parado por Éverson e quase paga por imprecisão
A trégua começou após a interação entre Marcos Braz e Júnior Pedroso, o empresário de Gabigol.</p>
<p class='noticia-conteudo'>Depois de mais um esfriamento na relação, as partes procuram um caminho para encerrar o ciclo de uma forma minimamente amigável por respeito aos últimos cinco anos e as inúmeras conquistas. 
Os primeiros passos no Maracanã: campo e vestiário
Às 19h25, Gabigol chegou ao estádio usando uma camisa com o número 10 em homenagem a Zico, como publicou nas redes sociais logo após a partida.  O atacante se dirigiu do estacionamento direto para o gramado e assistiu ao aquecimento dos companheiros na beira do campo.</p>
<p class='noticia-conteudo'>Ficou 15 minutos por lá antes de se dirigir ao vestiário. 
Gabigol assiste ao jogo entre Flamengo e Atlético-MG no camarote do Maracanã. 
Gabigol foi ao vestiário somente antes da bola rolar e participou do tradicional fechamento da roda antes de o time entrar em campo.</p>
<p class='noticia-conteudo'>Os relatos são de uma presença tímida.  Arrascaeta, que não jogará a reta final por problema no joelho, também esteve por lá.  O uruguaio voltou ao vestiário no intervalo e também no pós-jogo.</p>
<p class='noticia-conteudo'>+Torcida do Flamengo provoca Atlético-MG após título na Arena MRV: "Primeiro campeão"
O atacante, por sua vez, assistiu ao jogo de seu camarote, esboçou reações durante a partida, cantou acompanhando a torcida, mas deixou o Maracanã antes dos 30 minutos do segundo tempo.  No pênalti perdido por David Luiz, Gabigol levanta e assiste de pé a cobrança.  Ao ver a defesa de Everson, leva as mãos à cabeça lamentando e se senta.</p>
<p class='noticia-conteudo'>Indiferença da arquibancada
A presença de Gabigol não causou comoção na arquibancada rubro-negra.  O Maracanã não inflamou com gritos de apoio e nem com críticas ao jogador.  A expectativa de apelo com a presença no gramado não se cumpriu, assim como durante as aparições no telão durante a partida.</p>
<p class='noticia-conteudo'>Gabigol marca presença no gramado do Maracanã antes de Flamengo x Atlético-MG; veja
É bem verdade que recebeu o carinho de alguns torcedores e chegou a tirar fotos na chegada e na saída do estádio.  Mas também ouviu críticas.  Enquanto aguardava o elevador foi cobrado por alguns torcedores.</p>
<p class='noticia-conteudo'>- Seu pilantra, você não ia na Norte? - gritaram. 
Torcedores do Flamengo exibem bandeiras em homenagem a Gabigol
Na arquibancada, as tradicionais bandeiras em sua homenagem estiveram presentes e ficaram expostas durante praticamente todo o jogo.  Cartazes relembrando a trajetória e já em tom de despedidas foram vistos.</p>
<p class='noticia-conteudo'>Trégua com o Flamengo
Mais cedo, uma conversa entre Pedroso e Braz foi o pontapé na - tentativa - de uma trégua em mais um momento conturbado na relação Gabigol e Flamengo.  O futuro do jogador ainda não está definido e será decidido em uma reunião presencial que será realizada nos próximos dias. 
Gabigol está afastado das relações dos jogos "até segunda ordem", como trouxe Filipe Luís em coletiva.</p>
<p class='noticia-conteudo'>Mas o jogador segue integrado ao elenco e participará normalmente das atividades.  Nesta quarta, como ficou fora do jogo, foi até o Ninho do Urubu na parte da manhã.  O planejamento é o mesmo do restante do elenco: folga nos próximos dois dias e apresentação no sábado de manhã.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_1.jpg"></div><p class='foto-descricao'>gabigol flaxgalo — Foto: Alexandre Durão. </p>
Num primeiro momento, a chance de Gabigol não entrar mais em campo pelo Flamengo era grande.  Os ânimos acalmaram e o cenário mudou.</p>
<p class='noticia-conteudo'>Há a expectativa de que o atleta volte a ser relacionado nesta reta final do Brasileirão.  Uma despedida, no entanto, ainda não está definida.  O Rubro-Negro enfrenta o Vitória, no Maracanã, na última rodada.</p>
<p class='noticia-conteudo'>Apesar das indefinições, há o objetivo em comum de encontrar um bom cenário para o fim da relação, principalmente pela história de Gabigol no Flamengo.  E segundo um fonte do ge: "Vai tudo acabar bem". 


Assista: tudo sobre o Flamengo no ge, na Globo e no sportv
50 vídeos
FLAMENGO.</p>
{% endblock main_content %}
{% block cor_categoria %}#ff0000{% endblock cor_categoria %}

