
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Gabriel Pec, ex-Vasco, faz golaço à la Maradona na MLS; vídeo{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Gabriel Pec, ex-Vasco, faz golaço "à la Maradona" na MLS; vídeo
Jogador brasileiro do LA Galaxy marca duas vezes em goleada por 6 a 2 sobre o Minnesota United



Contratação do Ano na MLS, Gabriel Pec celebra vitória sobre Suárez
Gabriel Pec é a bola da vez na Major League Soccer.  Revelado pelo Vasco, o brasileiro marcou duas vezes na goleada do LA Galaxy por 6 a 2 sobre o Minnesota United.  O resultado classificou o time de Los Angeles às finais da Conferência Oeste da MLS, a liga de futebol dos Estados Unidos.</p>
<p class='noticia-conteudo'>O segundo gol de Pec, marcado com uma arrancada desde a defesa, foi similar ao icônico gol de Maradona sobre a Inglaterra na Copa do Mundo de 1986. 

O LA Galaxy está na final da Conferência Oeste da MLS.  A classificação foi obtida neste domingo com a goleada por 6 a 2 sobre o Minnesota United.</p>
<p class='noticia-conteudo'>Gabriel Pec seguiu com o bom momento no clube de Los Angeles e marcou duas vezes. 
Logo no primeiro minuto de jogo, Gabriel Pec abriu o placar para o Galaxy.  Logo depois, o Minnesota empatou com Yeboah, mas nada poderia parar o time da casa.</p>
<p class='noticia-conteudo'>Joveljic e Paintsil marcaram para deixar o LA Galaxy na frente mais uma vez.  Yeboah descontou na reta final do primeiro tempo. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_11_0.jpg"></div><p class='foto-descricao'>Gabriel Pec faz golaço na MLS — Foto: Reprodução</p>
Com um jogo disputado, o Galaxy precisava de algo diferente para vencer na semifinal.</p>
<p class='noticia-conteudo'>Com cinco minutos do segundo tempo, Gabriel Pec arrancou direto da defesa, driblou três adversários e colocou o 4 a 2 no marcador.  O gol foi similar ao de Maradona no 2 a 1 da Argentina sobre a Inglaterra em 1986, conhecido até hoje como o mais bonito da história das Copas. 
Pec teve a oportunidade do hat-trick, mas perdeu um pênalti.</p>
<p class='noticia-conteudo'>Ainda assim, Paintsil e Joveljic marcaram nos últimos minutos.  Com a vitória por 6 a 2, o LA Galaxy classificou-se às finais de conferência da MLS.  O Seattle Sounders será o adversário da equipe às 0h do próximo domingo.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}

