
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Gabriel Pec comemora sucesso nos EUA “Resgatei meu futebol moleque”{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Gabriel Pec comemora sucesso nos EUA: “Resgatei meu futebol moleque”
Meia-atacante brasileiro destaca a mudança em sua função tática no LA Galaxy, mira Seleção Brasileira como meta de carreira e exalta a relação “familiar” que ainda tem com o Vasco



Contratação do Ano na MLS, Gabriel Pec celebra vitória sobre Suárez
Não é mais menino, muito menos mera promessa.  Recém finalizada sua primeira temporada na liga profissional de futebol nos Estados Unidos, a MLS, Gabriel Pec comemora o sucesso, a adaptação ao novo país e o auge técnico de sua carreira.  O atleta de 23 anos, meia do Los Angeles Galaxy, foi eleito recentemente como a ‘Melhor Contratação da Temporada da MLS’ desbancando o craque Luís Suarez na votação, e se destacou como um dos principais meias-ofensivos do país.</p>
<p class='noticia-conteudo'>Em seu primeiro ano na casa nova, somou 19 gols e 19 assistências, colecionou lances de efeito e encantou público e crítica.  A reportagem do ge em Nova York conversou com Gabriel Pec e ouviu do atleta um balanço de seus primeiros passos no futebol gringo. 
- Aqui nos Estados Unidos consegui resgatar um pouco mais meu futebol moleque, aquela coisa de criança, de criatividade, com alegria nos jogos.</p>
<p class='noticia-conteudo'>Porque eu sempre fui peladeiro na minha infância, meus pais até brigavam comigo porque eu não conseguia ficar sem jogar pelada, e é na pelada de rua que o jogador se desenvolve tecnicamente, esse é o futebol brasileiro.  Além disso, tive a ajuda do meu treinador pra me posicionar mais perto do gol adversário, e ter a liberdade de tentar jogadas individuais.  Estou arriscando mais dribles, mais chutes e isso tudo fez meus números crescerem, graças à Deus.</p>
<p class='noticia-conteudo'>Estou mais confiante também. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_0.jpg"></div><p class='foto-descricao'>Gabriel Pec comemora gol com a camisa do LA Galaxy — Foto: LA Galaxy</p>
Pec passou por drástica transformação na carreira e na vida.  Se adaptar a um novo país, aprender a falar inglês, criar uma rotina longe do berço de origem com sua esposa Isabella e ao mesmo tempo se inserir em um contexto de futebol internacional, com jogadores do mundo inteiro, não é fácil.</p>
<p class='noticia-conteudo'>No entanto, o jogador encarou os desafios fora de campo como um privilégio.  Gabriel vive a oportunidade de conhecer cidades e lugares que sempre quis ir. 
- Foi um sonho realizado a viagem para Nova York.</p>
<p class='noticia-conteudo'>Já tinha visto muito nos filmes, mas visitar foi uma emoção muito grande.  Sempre quis ir na Times Square, tira foto naquelas luzes.  Também adoramos ir ao Central Park, andamos de bicicleta lá, e na Estátua da Liberdade.</p>
<p class='noticia-conteudo'>(. ..</p>
<p class='noticia-conteudo'>) E durante a temporada consegui também conhecer várias outras cidades.  Eu sempre viajo com Juninho, meu amigo, e ele sempre me indica o que é mais importante e o que tem de mais legal em cada lugar, cada cidade.  Os Estados Unidos são um país muito grande e a Liga me proporciona isso, um privilégio conhecer tanta cidade legal.</p>
<p class='noticia-conteudo'>Gabriel Pec já experimentou vestir a amarelinha da seleção em convocações pré-olímpicas, mas ainda não foi lembrado para o selecionado principal que disputa as eliminatórias da Copa de 2026.  A ótima fase em campo no país de LeBron, Trump e Taylor Swift e o momento esquisito e difícil da atual seleção de Dorival Jr deixam o meia sonhar com uma chance em futuras listas. 
- Todo jogador sonha em jogar na seleção brasileira desde criança e acredito muito nesse sonho.</p>
<p class='noticia-conteudo'>Acredito muito no tempo de Deus, vou continuar trabalhando firme para evoluir taticamente para quando o professor quiser me dar uma oportunidade eu chegar preparado e render aquilo que eles querem, o que a torcida está esperando da seleção.  Eu creio que no momento certo o Senhor vai me dar oportunidade lá na seleção brasileira e tá preparado para agarrar essa oportunidade e dar alegria ao país que é o sonho de toda criança. 
A MLS e o Campeonato Brasileiro hoje possuem uma via de mão dupla no fluxo de atletas.</p>
<p class='noticia-conteudo'>Times americanos ficam de olho em talentos como o próprio Gabriel Pec quando jogava no Vasco, enquanto equipes brasileiras se reforçam ano a ano com alguns destaques dos Estados Unidos.  Atualmente, na liga americana, Pec joga com e contra atletas que o surpreendem tecnicamente e que podem pintar no cenário brasileiro em breve, de acordo com o jogador do Galaxy. 
- Tem muito jogador bom aqui na MLS.</p>
<p class='noticia-conteudo'>No meu time por exemplo tem um meia muito bom de bola que veio do Barcelona, o Riqui Puig, tem também o Joseph Paintsil que é muito bom.  E tem um jogador do time rival, o Acosta do Cincinnati, que sei que tem time brasileiro de olho.  Então a Liga vem crescendo, com muitos jogadores se destacando e surgindo para o mundo do futebol internacional.</p>
<p class='noticia-conteudo'>✅Siga o canal ge Futebol Internacional no WhatsApp
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_1.jpg"></div><p class='foto-descricao'>Gabriel Pec brilha na temporada pelo LA Galaxy — Foto: Getty Images</p>
O sucesso atual nos Estados Unidos não afasta o Cria da Barreira de seu primeiro amor no mundo da bola.  Pec mantém contato com a turma do Vasco, procura assistir a todos os jogos do time mesmo com o desafio do fuso horário e revela uma amizade especial com alguns integrantes do elenco cruzmaltino.  Se o ditado de que o “bom filho à casa torna” vai valer no futuro, nem o próprio jogador sabe dizer, mas o carinho e os papos nos grupos de whatsapp com os ex-companheiros estão em dia.</p>
<p class='noticia-conteudo'>- Minha relação com o Vasco vai muito além da amizade com os jogadores.  O torcedor às vezes não entende que tem muito mais gente trabalhando no clube e a gente acaba criando um laço familiar.  E eu estou querendo rever o pessoal nesse fim de ano porque nem me despedi direito dos funcionários.</p>
<p class='noticia-conteudo'>Eu estava na seleção viajando quando rolou a transferência, então não deu tempo de nada.  (..</p>
<p class='noticia-conteudo'>) E do Coutinho sou um grande fã.  Tenho até hoje o print quando ele começou a me seguir no instagram, mostrei pra todo mundo.  Ele já me mandou uma mensagem muito legal de apoio falando pra eu seguir em frente e continuar meu trabalho porque eu estava mandando muito bem.</p>
<p class='noticia-conteudo'>E claro, tenho outros grandes amigos lá até hoje.  Léo (Pelé), Vegetti, Jair, PH, Pumita, Souza, o Teixeirinha (Alex Teixeira) também.  São todos amigos e a gente troca muita ideia direto.</p>
<p class='noticia-conteudo'>É uma grande família. 
Gabriel Pec: gols e assistências no Vasco no Brasileirão 2023
VASCO.</p>
{% endblock main_content %}

