
            <html>
                <article class="noticia-detalhada">
                    <h1 class="noticia-titulo mt-4">Gallo defende trabalho no Santos e cita saldo positivo de R$ 227 milhões: "Recorde da Série B"</h1>
                    <p class="noticia-conteudo">Gallo defende trabalho no Santos e cita saldo positivo de R$ 227 milhões: "Recorde da Série B"
Executivo de futebol do Peixe festeja ano do clube com acesso para a Série A do Brasileirão e lucro impulsionado pela venda de atletas



Gallo fica no Santos para 2025? Quais jogadores devem sair? GE Santos fala sobre planos
O Santos alcançou seus dois principais objetivos do ano ao chegar à decisão do Campeonato Paulista no primeiro semestre e conquistar o acesso para a Série A do Brasileirão de 2025. Responsável pela montagem do elenco, o executivo Alexandre Gallo, em entrevista ao ge, fez um balanço do ano e festejou as cifras envolvidas com um saldo positivo de R$ 227 milhões entre chegadas e saídas. 
+ Siga o canal ge Santos no WhatsApp!
Em sua sala no CT Rei Pelé, Gallo conversou com a reportagem e apresentou os números de sua gestão na temporada 2024. Segundo o cartola, o Peixe bateu o recorde de vendas de um clube na Série B e fechará o ano com lucro no departamento de futebol.  
Mais do Peixe:
+ Neymar não estará na Vila no jogo contra o CRB
+ Luca Meirelles é promovido ao elenco profissional
+ Entenda estratégia do Santos para turbinar elenco
Alexandre Gallo, executivo de futebol do Santos — Foto: Raul Baretta/ Santos FC
– Foram R$ 235 milhões em vendas nessa temporada com o clube na Série B. Batemos o recorde que pertencia ao Grêmio, quando vendeu R$ 102 milhões no ano de 2022. É um número expressivo do Santos, maior do que de vários times da Série A neste ano. 
– Isso é fruto de muito trabalho, de muita relação no mercado, de um trabalho técnico que andou desde o começo da temporada. São poucos os clubes que podem se orgulhar de números tão bons – afirmou o dirigente.
Ao todo, o Santos realizou oito vendas de direitos econômicos de seus atletas. A mais expressiva delas foi a de Marcos Leonardo, ao Benfica, de Portugal, por 18 milhões de euros - quase R$ 100 milhões na cotação de janeiro deste ano, quando a transação foi concluída. 
As vendas do Santos em 2024:

Em contrapartida, o Peixe gastou pouco para montar a equipe que surpreendeu no Campeonato Paulista e correspondeu ao favoritismo na Série B. Segundo Gallo, o custo de montagem do elenco foi de apenas R$ 8 milhões, valores pagos nas compras de Hayner, Rodrigo Ferreira e Patrick. 
No mais, todas as contratações foram negociadas sem custos de aquisição. Nomes como Gil, Giuliano, João Schmidt, Guilherme, Wendel Silva, Escobar, Aderlan, Luan Peres e Otero acertaram com o clube da Vila Belmiro para receber apenas os salários. 
– Montamos o time com R$ 8 milhões no início do ano, praticamente não gastamos nada, foi tudo em cima de ajustes, acordos e credibilidade no mercado. Fizemos o Santos gastar o mínimo possível, fizemos 45 operações de saída, muitas delas de rescisão. 
Entre chegadas e saídas, o departamento de futebol comandado por Alexandre Gallo contabiliza um lucro de R$ 227 milhões.
Alexandre Gallo, executivo do Santos, atende a reportagem do ge no CT Rei Pelé — Foto: ge
Importante ressaltar que o número não significa necessariamente um superávit do clube como um todo. O Santos possui diversos departamentos, cada um com sua realidade financeira, e a equação final leva em conta despesas de salários, pagamento de fornecedores, tributos, juros e pagamento de dívidas antigas. 
O balanço financeiro referente ao ano de 2024 deve ser publicado ao fim do primeiro trimestre de 2025. 
🎧 Ouça o podcast ge Santos🎧
Santos de volta à Série A, e Mesinha do SP2 desce a serra
Ao todo, o Santos incorporou mais de 20 atletas ao seu elenco durante a temporada. Alguns deram certo, casos de Gabriel Brazão, João Schmidt, Gil e Guilherme, e outros sequer estão no CT Rei Pelé, como são os exemplos de Marcelinho e Cazares. 
Alguns dos negócios fechados ao longo dos últimos 12 meses ainda não surtiram o efeito esperado. Nessa lista, o trio formado pelo meia Patrick e pelos atacantes estrangeiros Billy Arce e Yusupha Nije - este último sequer estreou com a camisa do Peixe. 
Pai ídolo na Espanha e português avançado: conheça Yusupha Njie
De acordo com Gallo, todas as contratações passam por um rigoroso processo interno. Para que um jogador seja anunciado como reforço do Peixe, ele precisa ter o aval do treinador, do departamento de análise de mercado, do CEO (Paulo Bracks), do Comitê de Gestão, do departamento jurídico e, por fim, do presidente Marcelo Teixeira. 
– Se eu entendo que o atleta tem capacidade para jogar no Santos, chamo o Carille para analisar. Caso passe por ele, investigamos toda a vida do atleta, procuramos o histórico médico, falamos com representantes, com clubes por onde ele passou e com atletas que jogaram com eles no passado.
– Tendo a aprovação do treinador, minha e da equipe de análise de mercado, passamos efetivamente para frente. Falo com o representante e com o clube desse jogador e o que eu recebo de valores passo para o presidente que diz até onde podemos chegar em termos financeiros – finalizou Gallo, se defendendo das críticas recebidas pelas negociações que não deram certo.
+ Clique aqui e saiba tudo sobre o Santos
Fábio Carille, Marcelo Teixeira (camisa azul) e Alexandre Gallo (camisa branca) são os homens que tomam as decisões no futebol do Santos — Foto: Ana Canhedo
Líder da Série B, o Santos está garantido na Série A do próximo ano e está muito perto de confirmar o título da competição nacional. Para a próxima temporada, o clube monitora as situações de ídolos do clube, casos de Neymar, hoje no Al-Hilal, e Gabigol, de saída do Cruzeiro.
O próximo jogo do Peixe será no domingo, às 16h, contra o CRB, pela penúltima rodada do Campeonato Brasileiro da Série B.
50 vídeos
Veja também</p>
                </article>
            </html>
            