
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}selecao{% endblock title %}
{% block main_title %}selecao{% endblock main_title %}
{% block second_title %}Gerson tem indisposição e desfalca Seleção no primeiro treino em Salvador para pegar o Uruguai{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Gerson tem indisposição e desfalca Seleção no primeiro treino em Salvador para pegar o Uruguai
Jogador do Flamengo faz apenas atividades na academia por conta de problema no estômago.  Dorival comanda trabalho com titulares poupados na maior parte

16/11/2024 17h47 Atualizado

Entenda como a Seleção Brasileira repetiu forma de atacar
Gerson foi a ausência no primeiro treinamento da seleção brasileira em Salvador.  O jogador do Flamengo apresentou quadro de indisposição intestinal e foi a única baixa na atividade realizada na tarde deste sábado, no Barradão, visando a partida de terça-feira, contra o Uruguai, na Fonte Nova.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_11_0.jpg"></div><p class='foto-descricao'>Gerson, meio-campista do Flamengo e da Seleção, em entrevista coletiva — Foto: Reprodução</p>
Dorival Júnior comandou treinamento que contou com a participação dos titulares apenas na primeira meia hora.  Após o aquecimento, todos os jogadores realizaram um trabalho de campo reduzido, mas logo quem começou a partida contra a Venezuela foi poupada. 
André, recuperado de uma lesão no quadril, também participou da primeira parte e depois fez trabalhos individuais com a preparação física.</p>
<p class='noticia-conteudo'>A comissão técnica contou com a ajuda de três jovens das categorias de base do Vitória para completar o treinamento. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_11_1.jpg"></div><p class='foto-descricao'>Seleção Brasileira treina em Salvador antes de jogo contra o Uruguai — Foto: Cahê Mota</p>
A Seleção terá ao menos uma novidade na equipe titular contra os uruguaios: Danilo entra no lugar do suspenso Vanderson.  Dodô e Alex Telles, convocados após a saída de Vanderson e o corte de Guilherme Arana, treinaram normalmente.</p>
<p class='noticia-conteudo'>Brasil e Uruguai se enfrentam terça-feira, às 21h45 (de Brasília), na Fonte Nova, em Salvador, pela 12ª rodada das eliminatórias sul-americanas para a Copa do Mundo.  A Seleção ocupa a quarta colocação, com 17 pontos, enquanto a Celeste é vice-líder, com 19..</p>
{% endblock main_content %}
{% block cor_categoria %}#ffcc00{% endblock cor_categoria %}

