
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}cuiaba{% endblock title %}
{% block main_title %}cuiaba{% endblock main_title %}
{% block second_title %}Gi Fernandes, do Corinthians, é flagrada no doping em exame feito durante Mundial sub-20{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Gi Fernandes, do Corinthians, é flagrada no doping em exame feito durante Mundial sub-20
Lateral disputou a competição pela seleção brasileira e testou positivo para substância proibida



Corinthians vence Palmeiras e abre vantagem na final do Paulistão
A lateral-direita Gi Fernandes, do Corinthians, foi flagrada em exame antidoping realizado durante a disputa do Mundial sub-20, entre agosto e setembro. 

A atleta de 19 anos testou positivo para Boldenona, substância anabolizante derivada da testosterona.  Há a suspeita que a contaminação veio ao ingerir carne bovina contaminada.</p>
<p class='noticia-conteudo'>O Corinthians recebeu a notificação do teste positivo na semana passada e afastou Gi Fernandes das atividades.  O clube pediu contraprova e aguarda os novos resultados. 
Mais notícias do Corinthians:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_9_0.jpg"></div><p class='foto-descricao'>Gi Fernandes foi pega no doping durante o Mundial sub-20 — Foto: Reprodução/Instagram</p>
A informação foi publicada pela "TNT Sports" e confirmada pelo ge com fontes ligadas ao clube alvinegro.</p>
<p class='noticia-conteudo'>A lateral ficou fora da lista de relacionadas para o compromisso do fim de semana contra o Palmeiras, pelo duelo de ida da decisão do Paulistão Feminino. 

Na Neo Química Arena, as Brabas venceram por 1 a 0 e abriram vantagem na decisão.  O empate basta na próxima quarta-feira, no Brinco de Ouro da Princesa, em Campinas, para o Timão conquistar o quarto troféu da temporada.</p>
<p class='noticia-conteudo'>Confira a nota oficial do Corinthians:
O Sport Club Corinthians Paulista informa que foi notificado na última semana sobre o resultado positivo em um teste antidoping realizado pela atleta Gi Fernandes durante a Copa do Mundo Feminina Sub-20, na Colômbia, entre os meses de agosto e setembro. 
Cumprindo todos os protocolos, o clube prontamente afastou a atleta de suas atividades já que a mesma se encontra suspensa preventivamente enquanto o processo de análise da amostra estiver em andamento. 
O processo de investigação do caso encontra-se na fase de contraprova da amostra.</p>
<p class='noticia-conteudo'>50 vídeos
CORINTHIANS.</p>
{% endblock main_content %}
{% block cor_categoria %}#ff0000{% endblock cor_categoria %}

