
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}santos{% endblock title %}
{% block main_title %}santos{% endblock main_title %}
{% block second_title %}Giovani dos Santos, ex-Barcelona, vira empresário do setor petroquímico após aposentadoria{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Giovani dos Santos, ex-Barcelona, vira empresário do setor petroquímico após aposentadoria
Ex-atacante da seleção mexicana se tornou sócio de empresa do país e seguiria com alto faturamento anual depois de deixar os gramados, em 2021


O ex-atacante Giovani dos Santos, que já foi joia da base do Barcelona e jogador icônico da seleção mexicana, se transformou em um empresário de sucesso indústria petroquímica.  A imprensa do México noticiou nesta semana que o ex-atleta, que se aposentou dos gramados em 2021, se tornou sócio da empresa Petróleos Mexicanos. 
✅Clique aqui para seguir o novo canal ge Futebol Internacional no WhatsApp
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_0.jpg"></div><p class='foto-descricao'>Giovani dos Santos parou de jogar em 2021 — Foto: Reprodução/Instagram</p>
Giovani estaria faturando mais de US$ 500 mil (R$ 2,9 milhões) anuais ao trabalhar na empresa, segundo o jornalista Abraham Bencid.</p>
<p class='noticia-conteudo'>Ele ainda estaria se aventurando em outro ramos, como a compra e venda de carros de luxo, aumentando seu rendimento. 
Apesar de nunca ter anunciado uma aposentadoria formalmente, Giovani dos Santos deixou os gramados em 2021, depois de passar por clubes europeus e fechar a trajetória no América do México.  O atacante foi cria da base do Barcelona, na famosa academia de La Masía, mas não foi muito aproveitado na equipe principal.</p>
<p class='noticia-conteudo'>Estreia de Giovani dos Santos no Estádio Azteca em 2019
0 seconds of 50 seconds
Depois, passou por Ipswich Town, Galatasaray, Racing Santander, Tottenham, Mallorca, Villarreal e LA Galaxy, antes de retornar à sua terra natal.  Pela seleção mexicana, ele somou mais de 100 jogos e disputou três Copas do Mundo, em 2010, 2014 e 2018.  Ele também fez parte da equipe que conquistou a medalha de ouro nas Olimpíadas de Londres, em 2012, com vitória sobre o Brasil.</p>
<p class='noticia-conteudo'>GIOVANI DOS SANTOS
MÉXICO.</p>
{% endblock main_content %}
{% block cor_categoria %}#000000{% endblock cor_categoria %}

