
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Globo ganha quatro troféus em premiação do COI pela cobertura de Paris 2024{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Globo ganha quatro troféus em premiação do COI pela cobertura de Paris 2024
Emissora conquistou dois ouros e duas pratas no Golden Rings Awards, realizado nesta terça-feira na sede do Comitê Olímpico Internacional, em Lausanne, na Suíça



Globo recebe primeiro lugar na categoria Melhor Chamada Promocional no Golden Rings
A Globo ganhou quatro troféus no Golden Rings Awards, tradicional premiação concedida pelo Comitê Olímpico Internacional (COI) para a mídia, nesta terça-feira (3), em Lausanne, na Suíça.  A cobertura da emissora dos Jogos Olímpicos de Paris 2024 foi premiada com o ouro nas categorias "Melhor Conteúdo para Promover a Igualdade de Gênero e a Inclusão" e "Melhor Vídeo Promocional"; e com a prata nas categorias "Melhor Programa Olímpico" e "Melhor Estúdio Remoto". 
Globo recebe prêmio de primeiro lugar na categoria Melhor Conteúdo no Golden Rings Awards
A série "Histórias Olímpicas", do Redação Sportv, foi a grande vencedora do prêmio de Melhor Conteúdo para Promover a Igualdade de Gênero e a Inclusão.</p>
<p class='noticia-conteudo'>"Todo o brilho" venceu a categoria Melhor Vídeo Promocional.  O Central Olímpica ficou em segundo lugar na disputa de Melhor Programa Olímpico, e o Estúdio Olímpico levou a prata na categoria Melhor Estúdio Remoto. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_9_0.jpg"></div><p class='foto-descricao'>Representantes do Grupo Globo ao lado do presidente do COI, Thomas Bach — Foto: Divulgação</p>
Histórias Olímpicas: equidade de gênero
Na categoria que contempla a equidade de gênero, a Globo ficou com o primeiro lugar pelo sexto episódio da série "Histórias Olímpicas", exibida em julho pelo programa Redação Sportv.</p>
<p class='noticia-conteudo'>A atração relembrou as dificuldades enfrentadas pelas mulheres para participarem dos Jogos Olímpicos ao longo do tempo. 
Histórias Olímpicas #6: a evolução da presença feminina desde a 1ª edição dos Jogos
Vídeo Promocional
Recheado de momentos icônicos dos Jogos Olímpicos ao longo da história, o vídeo promocional da Globo para aquecer para Paris 2024 também foi reconhecido com o troféu de primeiro lugar. 
Prêmio Olympic Golden Rings: "All the shine"
Central Olímpica
Capitaneado pelo apresentador Tadeu Schmidt e pela medalhista de ouro Fernanda Garay, ex-atleta do vôlei, o Central Olímpica foi o "coração" dos Jogos de Paris 2024 no Brasil.</p>
<p class='noticia-conteudo'>Realizado nos Estúdios Globo, no Rio de Janeiro, o programa brilhou durante a competição na capital francesa, com destaque para o mascotinho "Peti Gatô'. 
Prêmio Olympic Golden Rings: Central Olímpica
Estúdio Olímpico
O novo estúdio construído para oferecer uma experiência imersiva e inédita ao público foi outro ponto alto da cobertura e levou a prata na premiação do COI.  O projeto de produção virtual permitiu que o público se sentisse dentro da capital francesa.</p>
<p class='noticia-conteudo'>O espaço contou com 150m² de LED, utilizando a mesma tecnologia de games, em um estúdio todo sincronizado e imersivo, com elementos de Realidade Aumentada e sistemas interativos. 
Prêmio Olympic Golden Rings: estúdio olímpico
Prêmios do Grupo Globo:
Melhor Conteúdo para Promover a Igualdade de Gênero e a Inclusão: 1º lugar para "Histórias Olímpicas"
Melhor Vídeo Promocional: 1º lugar para "Todo o brilho"
Melhor Programa Olímpico: 2º lugar para Central Olímpica
Melhor Estúdio Remoto: 2º lugar para Estúdio Olímpico
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_9_1.jpg"></div><p class='foto-descricao'>Golden Rings foi sediado em Lausanne nesta terça-feira — Foto: IOC</p>
Os vencedores do Golden Rings Awards:
Melhor Perfil de Atleta
🥇Ouro: France Télévisions – “Les Paris de Leon”
🥈 Prata: CMG Group – “Becoming Quan Hongchan”
🥉 Bronze: Nine Australia – “Saya Sakakibara”
Melhor Conteúdo de Igualdade de Gênero e Inclusão
🥇Ouro: Globo - "Histórias Olímpicas"
🥈 Prata: Livemode – “Laís Souza Returns to the Olympic Games”
🥉 Bronze: CMG Group – “Women Break Through to the Olympics”
Melhor Oferta Digital (Web e Aplicativo)
🥇Ouro: NBCUniversal – NBC Olympics and Peacock
🥈 Prata: CMG Group – CMG Mobile Olympic Tab
🥉 Bronze: WBD – Eurosport: every moment of the Olympics on Max
Melhor Diretor
🥇Ouro: NBCUniversal – “Paris Titans”
🥈 Prata: CBC/Radio-Canada – “Paris 2024: Make or Break”
🥉 Bronze: CMG Group – “Champions at Home”
Melhor Documentário
🥇Ouro: CBC/Radio-Canada – “Running a Revolution”
🥈 Prata: France Télévisions – “L’album des Jeux Olympiques : Pour tout l’Or du Monde”
🥉 Bronze: BBC – “Paris 2024 - BBC Closing Montage”
Melhor Cobertura de Host Broadcaster
🥇Ouro: OBS – Athletics
Melhor Inovação (IA/Tecnologia)
🥇Ouro: BBC – BBC Paris studio
🥈 Prata: France Télévisions – The Torch Relay live broadcast
🥉 Bronze: NBCUniversal – Peacock Olympic Daily Recap
Melhor Programa Olímpico
🥇Ouro: Nine Australia – “Olympic Games Paris 2024 | Nine Network”
🥈 Prata: Globo – “Central Olímpica”
🥉 Bronze: BBC – “Tonight at the Games (BBC)”
Melhor Chamada Promocional
🥇Ouro: Globo – “Todo o brilho”
🥈 Prata: France Télévisions – “Aux Jeux, citoyens !”
🥉 Bronze: Nine Australia – “2024 Paris Olympics Down Under | Nine Network”
Melhor Transmissão Remota
🥇Ouro: WBD – “WBD Sports’ European coverage of Paris 2024”
🥈 Prata: CMG Group – Paris Olympics 2024 Broadcasting Coordination and Operations”
🥉 Bronze: Sky NZ – “Sky NZ Olympic Coverage”
Melhor Estúdio Remoto
🥇Ouro: WBD – “WBD House - Paris 2024 studio”
🥈 Prata: Globo – “Estúdio Olímpico”
🥉 Bronze: NBCUniversal – “NBC’s Coverage of the Games of the XXXIII Olympiad”
Melhor Campanha nas Redes Sociais
🥇Ouro: NBCUniversal – “NBC Olympics Social Media”
🥈 Prata: CBC/Radio-Canada – “CBC/COC’s Promotional Campaign - Brave is Unbeatable”
🥉 Bronze: Sky NZ – “Authentic Aotearoa, New Zealand Olympic Experience”.</p>
{% endblock main_content %}

