
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}GMCadillac vai se tornar a 11ª equipe da Fórmula 1 em 2026{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>GM/Cadillac vai se tornar a 11ª equipe da Fórmula 1 em 2026
Anúncio foi feito nesta segunda-feira pela categoria.  Novela para a inclusão de uma nova equipe na elite do automobilismo mundial já se arrastava há algum tempo



Fórmula 1 divulga o calendário de 2025 com 24 etapas, e GP de São Paulo
A Fórmula 1 anunciou nesta segunda-feira (25) que a General Motors vai se tornar a 11ª equipe do grid da categoria a partir de 2026, sob o nome GM/Cadillac.  Além de se tornar nova competidora na F1, a marca americana também será fornecedora de motores a partir da temporada de 2028.</p>
<p class='noticia-conteudo'>Antes disso, a nova concorrente vai usar motores Ferrari, de acordo com a agência de notícias Associated Press (AP). 

O comunicado divulgado não cita o time americano da Andretti, que chegou a fazer parceria com a Cadillac, marca que pertence à General Motors, para tentar uma vaga na Fórmula 1 e teve sua candidatura recusada no início deste ano. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_50_0.jpg"></div><p class='foto-descricao'>GM/Cadillac — Foto: General Motors</p>
- A General Motors é uma marca global gigantesca e está trabalhando com parceiros incríveis.</p>
<p class='noticia-conteudo'>Eu apoio todos os esforços feitos pela FIA, Fórmula 1, GM e a equipe para manter diálogo e trabalhar até que fosse possível o acordo em princípio para progredir com essa entrada e trazer uma equipe GM/Cadillac para o grid em 2026.  Todas as partes vão continuar a trabalhar juntas para assegurar que o processo continue suavemente - disse no comunicado Mohammed bin Sulayem, presidente da Federação Internacional de Automobilismo (FIA). 
Greg Maffei, presidente e CEO da Liberty Media, grupo que comanda a Fórmula 1, afirmou que a nova equipe se encaixa nos planos da F1 de seguir crescendo nos Estados Unidos:
- Com os planos de que a Fórmula 1 siga crescendo nos EUA, nós sempre acreditamos que dar boas-vindas a uma impressionante marca como a GM/Cadillac ao grid e à GM como uma futura fornecedora de motores pode trazer um valor adicional e interesse ao esporte.</p>
<p class='noticia-conteudo'>Confira motivos que levaram Verstappen ao tetra da F1
Verstappen conforta Norris: "Seu momento vai chegar"
Max diz que seria campeão na McLaren e cutuca CEO
A novela sobre a introdução de mais uma equipe no grid da Fórmula 1 já vinha se arrastando há algum tempo.  Em janeiro de 2023, o presidente da FIA Mohammed bin Sulayem afirmou que estava interessado em dar oportunidade a novas equipes. 
Apesar disso, a vontade de Mohammed ben Sulayem não era compartilhada por todas as partes envolvidas na Fórmula 1.</p>
<p class='noticia-conteudo'>Stefano Domenicali, CEO da categoria, chegou a afirmar no ano passado que "não mudaria de ideia" sobre a inclusão de novas equipes. 
Pouco depois da fala de ben Sulayem, a Cadillac se uniu à também americana Andretti na tentativa de buscar uma vaga na categoria.  A Andretti é chefiada no automobilismo por Michael Andretti, ex-piloto na F1, e está presente em outras categorias, como a Fórmula Indy e a Fórmula E.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_50_1.jpg"></div><p class='foto-descricao'>Michael Andretti no GP de Miami da F1 em 2024 — Foto: Chris Graythen/Getty Images</p>
Em janeiro de 2024, a Fórmula 1 decidiu rejeitar a candidatura da Andretti por considerar que o acordo não traria benefício bilateral - ou seja, seria bom apenas para a Andretti, e não para a competição em si. 
Nesta segunda-feira, Stefano Domenicali, até então contra a entrada de novas equipes, emitiu opinião diferente e se manifestou positivamente sobre o acordo com a GM/Cadillac ao afirmar que o projeto é uma "importante demonstração" da evolução do esporte. 
A temporada de 2026 deverá ser a primeira com mais de dez equipes no grid em uma década.</p>
<p class='noticia-conteudo'>A última vez que isso aconteceu foi em 2016, primeiro e último ano com participação da Manor na Fórmula 1.  Com a saída da equipe inglesa, o formato com 20 carros se consolidou e segue assim no atual campeonato. 
Além da GM/Cadillac, a Fórmula 1 tem mais uma equipe baseada nos Estados Unidos: a Haas, que estreou na categoria em 2016.</p>
<p class='noticia-conteudo'>Apesar disso, o time jamais venceu uma corrida ou subiu ao pódio..</p>
{% endblock main_content %}

