
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Golden Boy Lamine Yamal é eleito melhor jogador jovem do mundo{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Golden Boy: Lamine Yamal é eleito melhor jogador jovem do mundo
Atacante do Barcelona recebe tradicional premiação de melhor atleta sub-21 do jornal Tuttosport



Sem surpresas: Lamine Yamal leva o Troféu Kopa, como melhor jogador sub-21
Lamine Yamal recebeu o prêmio Golden Boy, de melhor jogador sub-21 do mundo de 2024.  Os vencedores da tradicional premiação, organizada pelo jornal italiano Tuttosport, foram anunciados nesta quarta-feira, mas os troféus serão entregues em evento no próximo dia 16, em Turim.  Yamal também já havia vencido o Troféu Kopa, na Bola de Ouro.</p>
<p class='noticia-conteudo'>Toni Kroos foi eleito o jogador do ano, enquanto, no futebol feminino, a jovem Vicky López, do Barcelona, recebeu o prêmio Golden Girl, e Aitana Bonmatí foi a jogadora do ano.  O Golden Boy, entregue desde 2003, é o troféu mais tradicional da premiação, e foi vencido por Jude Bellingham em 2023. 
✅Siga o canal ge Futebol Internacional no WhatsApp
Os brasileiros Endrick, do Real Madrid, e Savinho, do Manchester City, estavam entre os finalistas ao prêmio de melhor jogador sub-21.</p>
<p class='noticia-conteudo'>Anderson (ex-Manchester United), em 2008, e Alexandre Pato (ex-Milan), em 2009, são os únicos brasileiros vencedores do troféu. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_29_0.jpg"></div><p class='foto-descricao'>Lamine Yamal é a maior promessa para o futuro do Barcelona — Foto: Getty Images</p>
Veja abaixo todos os vencedores do Golden Boy

BARCELONA.</p>
{% endblock main_content %}

