
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}corinthians{% endblock title %}
{% block main_title %}corinthians{% endblock main_title %}
{% block second_title %}GP de Abu Dhabi Norris lidera dobradinha da McLaren em 2º treino{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>GP de Abu Dhabi: Norris lidera dobradinha da McLaren em 2º treino
Piastri e Hulkenberg completaram top 3 em sessão que fechou primeiro dia de atividades no Circuito Yas Marina

06/12/2024 11h01 Atualizado há 40 minutos
Depois de ser superado por Charles Leclerc na sessão anterior, Lando Norris fechou a sexta-feira do GP de Abu Dhabi na frente, liderando o segundo trieno livre.  A volta de 1m23s517 do britânico o pôs 0s2 na frente do colega Oscar Piastri.  Nico Hulkenberg fechou o top 3, a 0s4 do piloto da McLaren.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_117_0.jpg"></div><p class='foto-descricao'>Lando Norris durante o treino livre para o GP de Abu Dhabi — Foto: Beata Zawrzel/NurPhoto via Getty Images</p>
A McLaren se sobressaiu no decorrer do treino, tanto com os pneus médios, quanto com os macios.  A Ferrari, que disputa o campeonato de construtores com a equipe britânica, chegou a colocar Carlos Sainz e Charles Leclerc no top 3 mas os tempos de sua dupla foram superados ao longo da sessão. 
NA PONTA DOS DEDOS: Rafael Lopes e Luciano Burti - GP do Catar e prévia de Abu Dhabi
Retornaram, aos seus carros: Max Verstappen (RBR), Lance Stroll (Aston Martin), Yuki Tsunoda (RB), Carlos Sainz (Ferrari), Oscar Piastri (McLaren) e Alexander Albon (Williams).</p>
<p class='noticia-conteudo'>Resultado
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_117_1.jpg"></div><p class='foto-descricao'>Resultado do TL2 — Foto: F1</p>
O terceiro treino livre do GP de Abu Dhabi será neste sábado, 7, a partir de 7h30.  O ge acompanha tudo em tempo real!
Calçando pneus médios, Norris começou a sessão na ponta enquanto Hamilton e Sainz se revezaram pelo posto de segundo mais rápido.  No fim do primeiro terço da disputa, era Leclerc quem aparecia em segundo lugar separado de seu colega por apenas 0s030.</p>
<p class='noticia-conteudo'>Os pilotos retornaram de um intervalo nos boxes quando o cronômetro apontava o fim da primeira metade da sessão.  Aí, os pneus macios entraram em jogo: Norris reduziu seu tempo de volta, e passou a ser sucedido pelo colega Piastri - a meio segundo dele, diferença que o australiano diminuiu posteriormente. 
Perto do terço final do treino, Hulkenberg foi de 15º a terceiro, desbancando a volta de Sainz; pouco antes, seu colega da Haas, Magnussen, também passou pela colocação de forma provisória.</p>
<p class='noticia-conteudo'>Veja classificação da F1 2024
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_117_2.jpg"></div><p class='foto-descricao'>Infos e horários GP de Abu Dhabi de Fórmula 1 2024 — Foto: Infoesporte</p>.</p>
{% endblock main_content %}

