
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}GP de Las Vegas pedestres usam escadas rolantes para burlar regras e assistir à corrida{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>GP de Las Vegas: pedestres usam escadas rolantes para burlar regras e assistir à corrida
Mesmo com circuito de rua, pedestres são proibidos de parar em locais com visão para a pista, mas regra permite que usem escadas rolantes caso sigam se movimentando



Pedestres em Las Vegas usam escadas rolantes para assistir corrida da F1 na rua
Quem não tinha ingressos para assistir das arquibancadas ao Grande Prêmio de Las Vegas neste domingo, nos EUA, deu um jeito de burlar o sistema para acompanhar um pouco da corrida de Fórmula 1.  Assistiu, digamos, em prestações.  Quem não tinha o bilhete também não podia parar como pedestre em locais pela cidade que davam visão para o circuito de rua.</p>
<p class='noticia-conteudo'>Mas, alguns descobriram algo que não era proibido e ainda assim podiam ver a pista sem serem multados ou detidos.  Assista no vídeo acima. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_3_0.jpg"></div><p class='foto-descricao'>Pedestres usam escadas em ruas de Las Vegas para assistir parte do GP de Fórmula 1 — Foto: Reprodução/X</p>
Alguns moradores e turistas usavam as escadas rolantes nas ruas Spring Mountain e Las Vegas Blvd do lado de fora do shopping Fashion Show.</p>
<p class='noticia-conteudo'>Eles podiam ficar se movimentando entre as escadas e não eram importunados pelos seguranças.  A ocasião não proporcionava assistir bem a corrida, mas permitida boas fotos e vídeos no local. 
Verstappen celebra tetra após ano desafiador: "Aliviado e orgulhoso"
McLaren parabeniza Verstappen por tetra da F1: "Totalmente merecido"
Confira a lista com todos os campeões da Fórmula 1
Acesse o canal de automobilismo do ge no WhatsApp
O Grande Prêmio de Las Vegas, nos EUA, aconteceu neste domingo e coroou Max Verstappen tetracampeão mundial de Fórmula 1.</p>
<p class='noticia-conteudo'>Na pista, George Russel venceu a corrida, mas o quinto lugar do holandês foi o suficiente para se tornar campeão com duas rodadas de antecedência..</p>
{% endblock main_content %}

