
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Palmeiras{% endblock title %}
{% block main_title %}Palmeiras{% endblock main_title %}
{% block second_title %}GP do Catar Norris leva pole da corrida sprint; veja grid{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>GP do Catar: Norris leva pole da corrida sprint; veja grid
Piloto da McLaren anotou as melhores voltas de toda a sessão.  Ele largará ao lado do compatriota Russell, da Mercedes.  Piastri ficou em terceiro


A Ferrari pode ter começado o fim de semana na frente, no treino livre, mas a pole position da corrida sprint do GP do Catar é de Lando Norris.</p>
<p class='noticia-conteudo'>Mais rápido de toda a disputa nesta sexta-feira, o britânico garantiu a posição de honra no grid com volta de 1m21s021, superando George Russell, da Mercedes.  Seu colega de equipe, Oscar Piastri, ficou em terceiro lugar. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_102_0.jpg"></div><p class='foto-descricao'>Lando Norris na classificação sprint para o GP do Catar — Foto: Giuseppe Cacace/AFP</p>
A solidez da Ferrari apresentada no treino que antecedeu a classificação sprint passou a contar com a competição de Norris e Piastri na disputa pelas melhores voltas de cada segmento.</p>
<p class='noticia-conteudo'>E o britânico não foi o único a rivalizar com a escuderia: George Russell também surgiu na competição, embora tenha ficado atrás do compatriota da McLaren. 
A diferença entre eles, porém, foi de apenas 0s063 no fim - coincidência ou não, o mesmo número que o piloto da Mercedes carrega em seu carro e capacete. 
NA PONTA DOS DEDOS: Rafael Lopes e Luciano Burti, o tetra de Verstappen e o GP do Catar
Resultado
Lando Norris (McLaren) - 1m21s012
George Russell (Mercedes) +0s063
Oscar Piastri (McLaren) +0s159
Carlos Sainz (Ferrari) +0s269
Charles Leclerc (Ferrari) +0s296
Max Verstappen (RBR) +0s303
Lewis Hamilton (Mercedes) +0s462
Pierre Gasly (Alpine) +0s966
Nico Hulkenberg (Haas) +1s076
Liam Lawson (RB) +1s565
Fernando Alonso (Aston Martin)
Alexander Albon (Williams)
Valtteri Bottas (Sauber)
Lance Stroll (Aston Martin)
Kevin Magnussen (Haas)
Sérgio Pérez (RBR)
Yuki Tsunoda (RB)
Esteban Ocon (Alpine)
Guanyu Zhou (Sauber)
Franco Colapinto (Williams)
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_102_1.jpg"></div><p class='foto-descricao'>Grid da corrida sprint do GP do Catar — Foto: F1</p>
A corrida sprint do GP do Catar será às 11h deste sábado, 30 de novembro, no horário de Brasília.</p>
<p class='noticia-conteudo'>O ge acompanha tudo em tempo real!
SQ1 - 12 minutos e cinco eliminados
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_102_2.jpg"></div><p class='foto-descricao'>classificação sprint q1 gp do catar — Foto: Fórmula 1</p>
Leclerc foi o mais rápido nos minutos iniciais do segmento, até ser desbancado em quase meio segundo pela volta de Norris.  A partir daí o piloto da McLaren manteve-se como o mais rápido, mesmo sendo momentaneamente superado por Sainz. 
Russell foi quem chegou mais perto de desbancá-lo anotando os mesmos 1m22s021 a menos de três minutos da bandeirada, porém, ficou em segundo pois completou sua volta após o rival.</p>
<p class='noticia-conteudo'>Por fim, Norris melhorou seu próprio tempo e foi sucedido por Sainz, em segundo lugar a 0s4 dele. 
ELIMINADOS
16º SERGIO PÉREZ (RBR)
17º YUKI TSUNODA (RB)
18º ESTEBAN OCON (ALPINE)
19º GUANYU ZHOU (SAUBER)
20º FRANCO COLAPINTO (WILLIAMS)
SQ2 - dez minutos e cinco eliminados
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_102_3.jpg"></div><p class='foto-descricao'>classificação sprint q2 gp do catar — Foto: Fórmula 1</p>
Quem começou o segmento na frente foi Piastri, mas o australiano teve suas voltas superadas pelas tentativas de Sainz e Leclerc - separados por 0s009.  A dupla viu Russell passar em sua frente com 0s3 de vantagem, mas Norris tornou a assumir a ponta com o melhor tempo, superando o compatriota.</p>
<p class='noticia-conteudo'>ELIMINADOS
11º FERNANDO ALONSO (ASTON MARTIN)
12º ALEXANDER ALBON (WILLIAMS)
13º VALTTERI BOTTAS (SAUBER)
14º LANCE STROLL (ASTON MARTIN)
15º KEVIN MAGNUSSEN (HAAS)
SQ3 - oito minutos e disputa pela pole
Leclerc seguia com a melhor volta até Norris e Piastri desbancá-los, a três minutos do fim, sob aplausos na garagem da McLaren.  No desfecho do segmento, o britânico conseguiu manter a posição, embora Russell tenha ficado com a segunda melhor volta sob a bandeirada. 
Veja o calendário da F1 2024
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_102_4.jpg"></div><p class='foto-descricao'>Infos e horários - GP do Catar da F1 2024 — Foto: Infoesporte</p>.</p>
{% endblock main_content %}

