
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}gremio{% endblock title %}
{% block main_title %}gremio{% endblock main_title %}
{% block second_title %}Grêmio vai fretar voo para ter jogadores convocados contra o Juventude{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Grêmio vai fretar voo para ter jogadores convocados contra o Juventude
Departamento de futebol está armando logística para ter Villasanti, Soteldo e Aravena no duelo da 34ª rodada do Brasileirão


O Grêmio prepara uma logística especial para ter os três jogadores convocados no duelo diante do Juventude, na próxima quarta-feira, pela 34ª rodada do Brasileirão.  Isso não significa que Soteldo, Villasanti e Aravena serão titulares na partida.  O aproveitamento deles vai depender da condição física dos atletas.</p>
<p class='noticia-conteudo'>Defesa do Grêmio atinge números preocupantes na temporada
A iniciativa da direção junto do departamento de futebol mostra a importância do jogo da próxima rodada para o Tricolor, que trata como uma decisão para permanência na elite do futebol brasileiro. 
A certeza é que no próximo dia 20, às 19h, os jogadores que disputam as Eliminatórias da Copa do Mundo estarão em Porto Alegre.  Na terça-feira, dia 19, os três têm compromisso com suas seleções e viajarão durante a madrugada em voo fretado pelo clube para a capital gaúcha.</p>
<p class='noticia-conteudo'>A ideia é que Soteldo, Villasanti e Aravena se juntem à delegação gremista na manhã de quarta.  Na chegada, serão avaliados pela comissão técnica para entrar em campo ou não. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_18_0.jpg"></div><p class='foto-descricao'>Villasanti e Soteldo têm compromissos por suas seleções na terça — Foto: Marcos Ribolli / ge</p>
Chile e Venezuela se enfrentam às 21h (de Brasília) de terça.</p>
<p class='noticia-conteudo'>Neste duelo, Soteldo será titular e pode ter um desgaste maior.  Já Aravena é reserva da equipe chilena e deve chegar em Porto Alegre com uma condição melhor. 
Já Villasanti estará na altitude de El Alto para Bolívia x Paraguai, no mesmo dia, às 17h (de Brasília).</p>
<p class='noticia-conteudo'>Contra a Argentina, na quinta-feira, o volante do Grêmio entrou no segundo tempo. 
Segundo reportagem de GZH, a operação da direção gremista é em parceria com o empresário Celso Rigo, que irá emprestar o avião.  O torcedor e parceiro do clube teve envolvimento na contratação de Suárez e em outros negócios recentes.</p>
<p class='noticia-conteudo'>Grêmio monta operação especial para buscar Soteldo e Aravena
Além dos jogadores já citados, Nathan Fernandes, Igor Serrote e Zé Guilherme estão em período de treinos com a seleção brasileira sub-20, na Granja Comary.  Mas estes têm uma situação mais viável para retornar a Porto Alegre e devem estar com a delegação na quarta-feira. 
O Grêmio recebe o Juventude no dia 20, às 19h, na Arena, em Porto Alegre, pela 34ª rodada do Campeonato Brasileiro.</p>
<p class='noticia-conteudo'>A equipe de Renato ocupa a 12ª colocação, com 39 pontos.  O time da serra gaúcha é 16º, com 37. 


50 vídeos
GRÊMIO.</p>
{% endblock main_content %}
{% block cor_categoria %}#0066cc{% endblock cor_categoria %}

