
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Guardiola perde cinco jogos seguidos pela primeira vez e diz Temos que nos levantar{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Guardiola perde cinco jogos seguidos pela primeira vez e diz: "Temos que nos levantar"
Goleada sofrida para o Tottenham na Premier League também encerra sequência de 52 jogos do Manchester City sem ser derrotado em casa



Manchester City 0 x 4 Tottenham | Melhores momentos | Campeonato Inglês 2024/25
A má fase do Manchester City é raridade no histórico recente do clube e também do técnico Pep Guardiola.  Mais do que isso: a sequência de cinco derrotas sofridas pela equipe nas últimas partidas nunca havia acontecido na carreira do ex-treinador de Barcelona e Bayern de Munique.  Após o 4 a 0 diante do Tottenham, em confronto pela Premier League, no sábado, o comandante comentou o momento inédito e projetou a reação.</p>
<p class='noticia-conteudo'>✅Siga o novo canal ge Futebol Internacional no WhatsApp
- Fugir? De jeito nenhum.  Nós temos que nos levantar mais do que nunca.  O que vai nos definir é quando falhamos, nos levantamos e enfrentamos.</p>
<p class='noticia-conteudo'>Não sei o que vai acontecer nesta temporada, mas nem por um segundo deixarei de acreditar nesses jogadores.  Não há time no mundo que sustente o sucesso por oito, nove, dez anos consecutivos - disse o treinador em entrevista após a partida. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_0.jpg"></div><p class='foto-descricao'>Pep Guardiola nunca havia perdido cinco jogos seguidos em sua carreira — Foto: GettyImages</p>
A invencibilidade do Manchester City em 2024/25 durou até o final de outubro.</p>
<p class='noticia-conteudo'>A equipe somava 10 vitórias e quatro empates em 14 jogos.  Mas, no dia 30, o time de Pep Guardiola perdeu para o Tottenham, por 2 a 1, pela Copa da Liga Inglesa.  Na sequência, ainda sofreu as derrotas para o Sporting, na Liga dos Campeões, e para Bournemouth e Brighton, pela Premier League.</p>
<p class='noticia-conteudo'>O resultado deste sábado também deu fim a outro recorde positivo do atual tetracampeão inglês: o City estava há 52 jogos sem perder jogando em casa.  Também foi a primeira vez que Pep, no comando do Manchester City, sofreu uma goleada tão pesada no Campeonato Inglês, por quatro gols de diferença.  O Tottenham, aliás, é um algoz de Guardiola: desde 2016, quando o treinador chegou ao comando da equipe, o time londrino foi quem mais conseguiu vencer o City, em sete oportunidades.</p>
<p class='noticia-conteudo'>Uma série de mais de duas derrotas não fazia parte da realidade do City desde 2018, quando o time perdeu três jogos seguidos, para o Liverpool, nos jogos de ida e volta da Liga dos Campeões 2017/18, e Manchester United, pela Premier League. 
A marca negativa acontece justamente na semana em que o clube anunciou a renovação de contrato de Pep.  O treinador ficará no comando do Manchester City por mais dois anos.</p>
<p class='noticia-conteudo'>Isso significa que Guardiola completará mais de uma década no comando do time inglês, caso cumpra o acordo até o fim, em 2027. 
Pep Guardiola perde a cabeça no vestiário do Manchester City
MANCHESTER CITY.</p>
{% endblock main_content %}

