
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Guia do Carioca 2025 tudo sobre o campeonato que começa neste sábado{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Veja como os 12 clubes iniciam a briga pelo título da tradicional competição estadual



Flamengo vence o Nova Iguaçu mais uma vez e é Campeão Carioca 2024


Atual campeão e maior vencedor da história do Carioca, o Flamengo tem como maior novidade no momento a mudança de gestão, depois de Luiz Eduardo Baptista, o Bap, vencer a eleição para presidente do clube para o próximo triênio.  Ele contratou o português José Boto para o cargo de diretor esportivo.  Sob o comando do técnico Filipe Luís, que assumiu o lugar de Tite na reta final da temporada, o time terminou 2024 em alta com a conquista da Copa do Brasil, depois de um ano conturbado.</p>
<p class='noticia-conteudo'>Também em grande momento, o Botafogo chega para a disputa do Carioca com as credenciais de atual campeão do Brasileiro e da Libertadores.  No entanto, o time perdeu peças importantes para o começo da temporada, com a saída do técnico Artur Jorge - John Textor ainda busca um substituto - Thiago Almada e Luiz Henrique, dois pilares do elenco.  Mesmo assim, entra como candidato a encerrar uma sequência de duas edições sem sequer se classificar para a semifinal da competição.</p>
<p class='noticia-conteudo'>O último título foi em 2018. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_0.jpg"></div><p class='foto-descricao'>Guia do Carioca 2025 — Foto: Infoesporte</p>
Depois de um ano de frustação com a briga contra o rebaixamento no Campeonato Brasileiro, o Fluminense tenta se reerguer.  Neste começo de temporada, foi quem mais contratou entre os quatro principais clubes do Rio de Janeiro, mas sem nomes de impacto até o momento.</p>
<p class='noticia-conteudo'>O técnico Mano Menezes renovou seu contrato.  Campeão em 2022 e 2023, ficou fora da final do ano passado ao ser eliminado pelo campeão Flamengo na semifinal.  Agora, tenta voltar a brigar pelo título.</p>
<p class='noticia-conteudo'>De técnico novo, com a chegada de Fábio Carille, o Vasco vai de novo tentar quebrar o maior jejum de títulos entre os quatro principais clubes do Rio de Janeiro.  O último foi o Campeonato Carioca de 2016.  Ainda com dificuldades financeiras e em busca de um novo comprador depois do rompimento com a 777 Partners, o trabalho de Pedrinho segue sendo encontrar um caminho.</p>
<p class='noticia-conteudo'>E 2025 será mais uma ano de tentativa de transformação sob o comando, no campo, de Coutinho, Payet e Vegetti. 


A primeira rodada do Carioca 2025
Sábado (11/1) - 16h30 - Nova Iguaçu x Vasco, São Januário
Sábado (11/1) - 16h - Botafogo x Maricá, Nilton Santos
Sábado (11/1) - 19h - Bangu x Portuguesa, Moça Bonita
Domingo (12/1) - 16h Flamengo x Boavista, Baptistão (Sergipe)
Domingo (12/1) - 16h - Madureira x Volta Redonda, Conselheiro Galvão
Domingo (12/1) - 19h - Fluminense x Sampaio Corrêa, Moça Bonita
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_1.jpg"></div><p class='foto-descricao'>Campeões carioca — Foto: Infoesporte</p>
Regulamento
O Campeonato Carioca será disputado entre janeiro e março, com formato dividido em primeiro turno (Taça Guanabara), semifinal e final.  Os 12 clubes jogam entre si, e os quatro melhores vão para as semifinais da competição.</p>
<p class='noticia-conteudo'>A semifinal será disputada em dois jogos, nos confrontos entre o 1º e o 4º colocados, o 2º e o 3º colocados - com vantagem do empate do time de melhor campanha.  A final será em duas partidas, sem vantagem para nenhuma das equipes.  O campeão carioca de 2025 será conhecido no dia 9 de março.</p>
<p class='noticia-conteudo'>Os quatro clubes classificados entre o 5º e o 8º lugares ao fim das 11 rodadas da Taça Guanabara jogarão as semifinais da Taça Rio, que não têm qualquer ligação com as finais do Campeonato Carioca.  Apenas o último colocado será rebaixado. 
Inscrição de jogadores
Os clubes podem inscrever novos jogadores até o penúltimo dia útil que anteceder a semifinal do Campeonato Carioca.</p>
<p class='noticia-conteudo'>Para a primeira partida da Taça Guanabara e os demais jogos do campeonato, o regulamento diz o seguinte:
"Para a primeira partida da Taça Guanabara somente poderão participar os atletas inscritos até o 5º dia útil que anteceder o início do campeonato e cujo registro conste no BIRA, sem pendências, até o último dia útil que anteceder a respectiva partida;
Para cada uma das demais partidas do campeonato somente poderão participar os atletas inscritos até o penúltimo dia útil que anteceder o início da respectiva rodada e cujo registro conste no BIRA, sem pendências, até o último dia útil que anteceder a respectiva partida". 
Como chega cada um dos 12 participantes?
BOTAFOGO
Atual campeão brasileiro e da Libertadores, o Botafogo não se saiu bem no Carioca de 2024, ficando fora das semifinais - ainda que tenha conquistado a Taça Rio, vista como um torneio de consolação.  O grupo principal, que sofreu as baixas de Luiz Henrique e Thiago Almada, vai estrear contra o Fluminense, no dia 29 de janeiro.</p>
<p class='noticia-conteudo'>O Alvinegro ainda não anunciou o substituto do técnico Artur Jorge, que deixou o Botafogo rumo ao Al-Rayyan (CAT). 
Time-base: John; Vitinho, Bastos, Barboza e Alex Telles; Gregore e Marlon Freitas; Júnior Santos, Savarino e Matheus Martins; Igor Jesus. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_2.jpg"></div><p class='foto-descricao'>Savarino comemora gol do Botafogo contra o Internacional, pelo Brasileirão — Foto: Vítor Silva/Botafogo</p>
FLAMENGO
Atual campeão carioca e da Copa do Brasil, o Flamengo chega como favorito em função de ter mantido praticamente todo o time, enquanto o campeão brasileiro Botafogo perdeu peças importantes.</p>
<p class='noticia-conteudo'>Ainda sem contratações, a base da equipe por enquanto é a mesma, mas o clube busca um substituto para Gabigol (Juninho, do Qarabag do Azerbaijão, é o alvo) e um volante nesta janela.  Saíram do elenco: Gabigol e David Luiz após não renovarem o contrato.  O Rubro-Negro só vai estrear sua força máxima na quinta rodada em função da pré-temporada nos Estados Unidos.</p>
<p class='noticia-conteudo'>Time-base: Rossi, Wesley, Léo Ortiz, Léo Pereira e Alex Sandro; Pulgar, De la Cruz e Arrascaeta; Gerson, Everton Cebolinha (Bruno Henrique) e Plata. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_3.jpg"></div><p class='foto-descricao'>Filipe Luís e Gerson — Foto: Douglas Magno/AFP</p>
FLUMINENSE
Após emplacar dois títulos estaduais consecutivos, o Fluminense foi eliminado em 2024 na semifinal para o Flamengo, que acabou se tornado campeão na sequência.  Para este ano, para tentar voltar a conquistar a competição, o Flu conta com a base do ano passado, mas também foi ao mercado em busca de reforços.</p>
<p class='noticia-conteudo'>Até o momento, o clube acertou as contratações de Hércules, ex-Fortaleza, Juan Freytes, ex-Alianza Lima, Paulo Baya, ex-Goiás, Lavega, ex-River Plate (URU), Renê, ex-Inter, Marcelo Pitaluga, ex-Liverpool, e Canobbio, ex-Athletico-PR.  O elenco principal do Flu ganhou férias após o fim do Brasileirão e só voltou aos trabalhos no último dia 8 de janeiro.  Com isso, o clube iniciará a competição com jovens da base e peças que não participaram da última rodada do Campeonato Brasileiro, em dezembro.</p>
<p class='noticia-conteudo'>Time-base: Fábio; Samuel Xavier, Thiago Silva, Thiago Santos (Ignácio) e Gabriel Fuentes; Bernal, Hércules, Ganso, Arias, Serna (Canobbio) e Cano (Kauã Elias). 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_4.jpg"></div><p class='foto-descricao'>Mano Menezes em Palmeiras x Fluminense, no Brasileiro 2024 — Foto: Marcos Ribolli</p>
VASCO
De técnico novo, o Vasco vai encarar o Campeonato Carioca como um laboratório para Fábio Carille, mas a chance de um título estadual pode ser dar a tranquilidade que o treinador precisa para o início do seu trabalho no clube.  O Vasco até o momento anunciou quatro reforços, com Tchê Tchê (ex-Botafogo) como o mais conhecido.</p>
<p class='noticia-conteudo'>Mais jogadores devem chegar até o encerramento da janela de transferências: a diretoria ainda sente falta de ao menos um zagueiro experiente e um ponta.  Com o elenco principal ainda em pré-temporada, a expectativa é de que a estreia ocorra somente na quarta rodada, contra o Madureira. 
Time-base: Léo Jardim, Paulo Henrique, João Victor, Lucas Oliveira, Lucas Piton; Hugo Moura, Jair, Tchê Tchê, Coutinho, Adson e Vegetti.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_5.jpg"></div><p class='foto-descricao'>Vegetti, do Vasco, comemora gol contra o Cuiabá — Foto: Gil Gomes/AGIF</p>
Bangu
Penúltimo colocado no Estadual de 2024, com apenas oito pontos em 11 partidas, mas com a pior defesa, o bicampeão carioca da zona oeste tem um destaque que tenta se provar na primeira divisão.  Entre andanças e gols pelo futebol acreano e sul-matogrossense, Fabinho, de 29 anos, balançou as redes 15 vezes nas últimas duas temporadas por Audax e Serrano nas divisões inferiores do Carioca.  Com base no Flamengo, ele é um dos mais de 20 contratados pelo Bangu para a temporada 2025.</p>
<p class='noticia-conteudo'>O técnico será Juninho, o Júnior Martins, de 48 anos, que já foi gerente do clube e assumiu a função de treinador em outras oportunidades.  Ele retorna depois de algumas experiências no futebol paulista. 
Time-base: Alexander, Vitinho, Kevin, Yuri, Italo; Castro, Moretti, Rafael Augusto, Lucas Nathan; Rafael Carioca e Macario.</p>
<p class='noticia-conteudo'>. 
Boavista
Sexto colocado no ano passado, o Boavista é a mais nova SAF do futebol carioca.  Os planos são ambiciosos, com aquisição de terreno para construção de CT de excelência e planos de jogar a Série B nacional em oito anos.</p>
<p class='noticia-conteudo'>O técnico é Caio Zanardi, que teve passagens pela seleção de base e pelo Palmeiras.  Um dos nomes mais conhecidos da equipe, que chegou a flertar com o veterano Vagner Love, é Erick Flores, ex-Flamnego, e Anderson Conceição, ex-Vasco.  Outro nome com passagem pelos grandes é o lateral Matheus Mascarenhas, ex-Fluminense.</p>
<p class='noticia-conteudo'>Time-base: André, Ben-Hur, Anderson Conceição, Sheldon, Alysson Vinícius, William Oliveira, Caetano, Erick Flores, Felipe Resende, Abner Vinícius e Gabriel Conceição. 
Madureira
Tradicional equipe do subúrbio do Rio, o Madureira chega nesta edição com o objetivo de mudar o retrospecto ruim apresentado nos últimos anos.  Desde 2021, o Madureira não fica entre os oito melhores colocados do Carioca, de modo que nem sequer jogou a Taça Rio (mata-mata com os times que ficaram entre 5º e 8º lugares).</p>
<p class='noticia-conteudo'>Uma dos principais reforços é o meia Renato Henrique.  O jogador defendia o Retrô-PE, que foi campeão do Campeonato Brasileiro série D no ano passado.  O meia Marcelo, destaque do Sampaio Corrêa-RJ na última temporada, também chegou com grande expectativa.</p>
<p class='noticia-conteudo'>O Madureira também acertou o retorno do técnico português Daniel Neri para esta temporada.  O treinador comandou o clube no Carioca de 2024. 
Time-base: Mota, Marquinho Carioca, Marcão, Arthur Edeson, Evandro,Lira, Wagninho, Renato Henrique, Marcelo, Minho e Geovane.</p>
<p class='noticia-conteudo'>. 
Maricá
Comandado pelo ex-atacante Reinaldo, que tem passagens por Botafogo e Flamengo no futebol carioca, o clube da Região Metropolitana chega motivado para a temporada.  O Tsunami, como é chamado o Maricá, fará sua estreia na elite do Cariocão depois de conquistar o título na Série A2 no último ano.</p>
<p class='noticia-conteudo'>O ano de 2024, aliás, não foi marcante só pelo título estadual, mas também pela conquista da Copa Rio, que rendeu ao clube a classificação inédita para a Série D do Brasileirão 2025.  Ponto forte do time no ano passado, a defesa segue praticamente a mesma, com nomes como o goleiro Dida, os zagueiros Sandro e João Victor e os laterais Magno e Rafael Carioca. 
Time-base: Dida; Magno Nunes, Mizael, Sandro e João; Ramon, Bezerro, Walber e Gutemberg; Hugo Borges e Clisman.</p>
<p class='noticia-conteudo'>Nova Iguaçu
Atual vice-campeão Carioca, o Nova Iguaçu vai tentar manter o sarrafo alto em 2025.  O time que fez a campanha histórica do último carioca, passou por uma grande reformulação, com a saída de alguns destaques, como o atacante Carlinhos, que foi para o Flamengo, e Alegria, que está no Vasco.  Mas a equipe da Baixada Fluminense vai poder contarr com remanescentes importantes, como o meia Bill e o atacante Xandinho.</p>
<p class='noticia-conteudo'>O técnico Carlos Vitor também continuará no comando da equipe à beira do campo.  No ano passado, o treinador foi escolhido para a seleção do campeonato e foi muito elogiado por Tite, campeão pelo Flamengo.  Entre os reforços para esta temporada, estão o centroavante Philippe Costa, de 24 anos, que já teve passagem pelo Goiás e o goleiro Lucas Maticoli, de 27 anos, formado no São Paulo e que jogou no Náutico em 2024.</p>
<p class='noticia-conteudo'>Time-base: Lucas Maticoli; Yan, Gabriel Pinheiro, Renan, Mateus Müller; Jorge Pedra, Igor Guilherme, João Lucas; Xandinho, Andrey e Philippe.  Técnico: Carlos Vitor
Portuguesa
Depois de iniciar com muitas expectativas o ano do centenário, o 2024 da Lusa não acabou como o esperado.  Apesar da classificação para a Taça Rio no Cariocão, o clube da Ilha do Governador acabou eliminado nas semifinais.</p>
<p class='noticia-conteudo'>Na Série D, após bater na trave e quase conseguir o acesso nos dois anos anteriores, a Portuguesa decepcionou e caiu na terceira fase, para o Maringá, mesmo com nomes conhecidos, como Hernande Brocador e Adryan, campeões da Copa do Brasil pelo Flamengo em 2013.  Para 2025, seguem como remanescentes Romarinho, cria do clube e ídolo lusitano, além de Lucas Santos e Rafael Silva, ambos ex-Vasco. 
Time-base: Vinicius; Joazi, Thomas Kayky, Victor Pereira e MV; Wellington Cézar, João Paulo, Lucas Santos, Romarinho e Rosa; Lohan.</p>
<p class='noticia-conteudo'>Sampaio Corrêa
Após disputar a semifinal da Taça Rio em 2024, contra o Botafogo, o Sampaio Corrêa inicia o Carioca com 13 contratações.  Destaques para o volante Daniel Vançan (ex-Mixto e Oeste), o atacante Elias (ex-Cabofriense) e a volta do meia Rodrigo Dantas (ex-Sporting Guadalupe-POR e Atlético Tubarão).  O técnico Alfredo Sampaio, que assumiu o time na metade do estadual do ano passado, também está de volta.</p>
<p class='noticia-conteudo'>O clube tem sede em Saquarema e manda os jogos no Estádio Lourival Gomes de Almeida. 
Time-base: Zé Carlos; Lucas, Marreta, Thuram e Guilherme; Vançan, Agu e Luan; Pernão, Max e Elias.  Técnico: Alfredo Sampaio.</p>
<p class='noticia-conteudo'>Volta Redonda
Campeão da Série C nacional em 2024, o Voltaço não fez um bom Estadual no ano passado.  Terminou na 10ª colocação em ano em que apostou em Felipe Maestro para treinador.  Hoje diretor do Vasco, ele durou oito partidas, com aproveitamento de 33%.</p>
<p class='noticia-conteudo'>Quem arrumou a casa foi um antigo conhecido.  Com Rogério Corrêa, o time conquistou a classificação para a Série B, 26 anos depois da última participação.  No elenco, os nomes mais destacados são Chay, ex-Botafogo, Luciano Naninho, ex-Vasco e com boas passagens pelo Voltaço, e Kelvin, outro ex-Vasco.</p>
<p class='noticia-conteudo'>Time-base: Jean Drosny, Cayo Tenório, Lucas Souza, Luis Caceres e Sanchez; Bruno Barra, Pierre, Luciano Naninho e Chay; MV e Kelvin..</p>
{% endblock main_content %}

