
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Gyökeres se irrita com provocação de brasileiro do Arsenal Se não consegue criar sua comemoração...{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Gyökeres se irrita com provocação de brasileiro do Arsenal: "Se não consegue criar sua comemoração. ..</p>
<p class='noticia-conteudo'>"
Gabriel Magalhães festejou gol na vitória sobre o Sporting imitando comemoração do artilheiro sueco, sensação da Europa na temporada



Sporting 1 x 5 Arsenal | Melhores Momentos | 5ª rodada | Liga dos Campeões 24/25
A goleada do Arsenal sobre o Sporting pela Champions veio com direito a provocação ao principal artilheiro da Europa na temporada.  O zagueiro brasileiro Gabriel Magalhães comemorou um dos gols dos Gunners imitando a celebração de Gyökeres, que não escondeu a irritação pós-jogo. 
- Não sabia que ele tinha feito, mas é curioso que goste da minha comemoração.</p>
<p class='noticia-conteudo'>Está à vontade para usar, se não consegue criar sua própria comemoração - disse Gyökeres ao canal "Viaplay". 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_30_0.jpg"></div><p class='foto-descricao'>Gabriel Magalhães imita comemoração de Gyökeres na goleada do Arsenal sobre o Sporting — Foto: Getty Images</p>
Ídolo do Arsenal reprova: "Falta de respeito"
O gesto de Gabriel Magalhães gerou polêmica após o jogo.  Compatriota de Gyökeres e ídolo do Arsenal, o ex-meia sueco Fredrick Ljungberg desaprovou o gesto.</p>
<p class='noticia-conteudo'>- Não gostei do que vi, mas com certeza Gabriel ficou incomodado com tanta conversa sobre o Gyökeres.  E a forma que ele encontrou para mostrar isso foi essa, mas foi uma falta de respeito com o Gyökeres - disse Ljungberg ao jornal "Aftonbladet". 

Torcedores do Arsenal justificam comemoração
Nas redes sociais, torcedores do Arsenal justificaram a comemoração de Gabriel Magalhães como uma resposta a uma provocação no duelo anterior entre o time inglês e o Sporting.</p>
<p class='noticia-conteudo'>Nas oitavas de final da Liga Europa de 2023, Pedro Gonçalves, do Sporting, imitou a comemoração de Granit Xhaka, ex-jogador do Arsenal. 
Gyökeres é o principal artilheiro do futebol europeu na temporada.  O atacante sueco soma 33 gols em 25 jogos, uma média de gols que supera números de Messi no auge do craque argentino pelo Barcelona.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}

