
    {% extends "html/modelo.html" %}
    {% load static %}
    

    {% block title %}Há 30 anos, jogo mais estranho da história contou com disputa por gol contra no Caribe{% endblock title %}
    {% block main_title %}Há 30 anos, jogo mais estranho da história contou com disputa por gol contra no Caribe{% endblock main_title %}
    {% block second_title %}None{% endblock second_title %}
    {% block main_content %}<p class='noticia-conteudo'>Há 30 anos, "jogo mais estranho da história" contou com disputa por gol contra no Caribe
Em 1994, regra com gol de ouro que valia por dois provocou inversão de objetivos na partida entre as seleções de Barbados e Granada



Em 1994, "jogo mais estranho da história" contou com disputa por gol contra no Caribe
O objetivo do futebol é claro: quem fizer mais gols, vence.  Em alguns casos, o time precisa de uma determinada quantidade de gols para avançar em uma competição.  Na Copa do Caribe de 1994, uma situação inusitada aconteceu no confronto entre as seleções de Barbados e Granada.</p>
<p class='noticia-conteudo'>Na frente do placar por 2 a 1, Barbados foi atrás de um gol contra para poder fazer uso de um gol de ouro na prorrogação que valia por dois e garantir o resultado que precisava.  Estranho? Saiba tudo sobre a história:

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_3_0.jpg"></div>Terry Sealey faz gol contra em Barbados x Granada — Foto: Reprodução
Treinadores variam seus estilos.  Alguns são mais pragmáticos, outros equilibrados, e alguns tentam estratégias mais ousadas.</p>
<p class='noticia-conteudo'>No desespero, porém, vale tudo.  Para Barbados, em 1994, valeu até o gol contra. 
O regulamento era um tanto quanto inusitado na Copa do Caribe de 1994.</p>
<p class='noticia-conteudo'>A primeira fase não poderia ter empate.  Ou ganha, ou perde.  Caso o jogo acabasse empatado nos 90 minutos, seria disputada uma prorrogação com gol de ouro.</p>
<p class='noticia-conteudo'>Normal? A questão da vez é que o gol de ouro valia por dois. 
A primeira partida do Grupo 1 não precisou da prorrogação.  Porto Rico venceu Barbados por 1 a 0 e somou os primeiros três pontos.</p>
<p class='noticia-conteudo'>No segundo jogo, os porto-riquenhos perderam para Granada por 2 a 0, com direito ao gol de ouro. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_3_1.jpg"></div>Mapa do Caribe — Foto: Istock Getty Images
Três pontos para Porto Rico, três pontos para Granada.  Pela vitória por 2 a 0, os granadinos avançariam com mais uma vitória sobre Barbados.</p>
<p class='noticia-conteudo'>Sem vencer na estreia, os barbadianos tinham que ganhar com dois gols de diferença na rodada decisiva. 
Barbados vencia por 2 a 1 na reta final do jogo quando estalaram os dedos e ativaram o trunfo para a classificação.  Com dificuldades para marcar, a seleção deu "all-in", apostou todas as fichas, e viu que o caminho para avançar era fazer um gol contra.</p>
<p class='noticia-conteudo'>A lógica não garantia necessariamente a classificação, mas dava um tempo extra para a tentativa.  Com o 2 a 2, o jogo seria levado para a prorrogação.  Como um gol valia por dois, Barbados continuava na necessidade de balançar a rede apenas uma vez.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_3_2.jpg"></div>Barbados x Granada 1994 — Foto: Reprodução
Foi uma completa inversão de padrões do futebol.  Enquanto Barbados buscava fazer o próprio gol, Granada tentava garantir a própria derrota.  Aos 42 minutos do segundo tempo, Terry Sealy conseguiu empatar para o time adversário e marcou contra.</p>
<p class='noticia-conteudo'>O jogo foi levado para a prorrogação, e a aposta de Barbados deu resultado.  Thorne, no quarto minuto do tempo extra, fez o gol - agora a favor - que colocou o 4 a 2 para os barbadianos no placar e garantiu a classificação à fase final. 
— Me sinto roubado.</p>
<p class='noticia-conteudo'>A pessoa que criou essas regras deve ser um sério candidato para o hospício.  Os nossos jogadores nem sequer sabiam qual direção atacar: nosso gol ou o do adversário.  Eu nunca vi isso acontecer antes.</p>
<p class='noticia-conteudo'>No futebol, você deve marcar contra os adversários para ganhar, não para eles — disse James Clarkson, treinador de Granada. 
A regra do gol de ouro duplo não valia mais na fase final.  Barbados, inclusive, empatou duas das três partidas e não conseguiu avançar às semifinais.</p>
<p class='noticia-conteudo'>Na decisão da competição, Trinidad e Tobago venceu a Martinica por 7 a 2 e ficou com o título da Copa do Caribe..</p>
{% endblock main_content %}
    