
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Hamilton pensou em abandonar Mercedes após GP de São Paulo “Não queria voltar”{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Hamilton pensou em abandonar Mercedes após GP de São Paulo: “Não queria voltar”
Heptacampeão apresentou fraco desempenho durante todo o final de semana em Interlagos; piloto vai deixar a equipe rumo à Ferrari a partir de 2025



NA PONTA DOS DEDOS: Rafael Lopes e Bia Figueiredo fazem a prévia do GP de Las Vegas de F1
Com apenas mais três corridas para o fim da temporada, a parceria entre Lewis Hamilton e Mercedes está com os dias contados.  Mas, se dependesse apenas do britânico, ele não voltaria a pilotar pela escuderia devido à falta de competitividade da equipe no momento.  Já em Las Vegas para a corrida deste final de semana, o heptacampeão admitiu que pensou em desistir depois do desempenho apresentado no GP de São Paulo.</p>
<p class='noticia-conteudo'>Na etapa brasileira, o britânico conseguiu apenas um discreto 10º lugar na corrida principal e nem mesmo pontuou durante a sprint.  Aliás, o único momento de destaque de Lewis em Interlagos foi a oportunidade de guiar a McLaren MP4/5B de Ayrton Senna, como o próprio piloto afirmou.  Por isso, o heptacampeão não escondeu a decepção com a má fase e assumiu que considerou não fazer as últimas corridas pela equipe alemã.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_0.jpg"></div><p class='foto-descricao'>Lewis Hamilton rasga a reta de Interlagos com a McLaren MP4/5B de Ayrton Senna em 1990 — Foto: Mark Thompson/Getty Images</p>
- No momento, foi assim que me senti, eu realmente não queria voltar depois daquele fim de semana.  No calor do momento, claro, eu preferia estar na praia, relaxando.  Mas estou aqui, eu amo esse trabalho e vou dar o meu melhor.</p>
<p class='noticia-conteudo'>Mas acho que é natural.  É frustrante ter uma temporada como essa, e estou certo que não terei novamente, ou pelo menos vou trabalhar para não ter novamente - afirmou o piloto britânico. 
Em fevereiro, Hamilton comunicou sua saída da Mercedes ao final do ano e que vai defender a Ferrari a partir de 2025.</p>
<p class='noticia-conteudo'>Na equipe de Brackley desde 2013, o britânico conquistou seis dos seus sete títulos mundiais e 84 vitórias ao longo de 12 anos de parceria. 
Apesar de ter encerrado um jejum de quase três anos e ter voltado a vencer nesta temporada nas corridas da Inglaterra e da Bélgica, o piloto não sabe o que é subir no pódio justamente desde a etapa de Spa-Francorchamps.  Mas, mesmo com o resultado amargo obtido no Brasil, Hamilton garante que teve tempo para absorver a decepção e voltar o foco para a disputa do GP de Las Vegas que acontece neste final de semana.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_1.jpg"></div><p class='foto-descricao'>Lewis Hamilton no treino livre do GP de São Paulo 2024 — Foto: Reuters</p>
- Naturalmente, no momento eu não me senti bem com aquela última corrida [GP de São Paulo].  Mas tive uma ótima semana passada com muitos projetos incríveis em que estou trabalhando, incluindo o filme da F1.  Isso é o que torna essas coisas importantes para poder se recuperar de finais de semana como o do Brasil - explicou o heptacampeão.</p>
<p class='noticia-conteudo'>Mesmo assim, a insatisfação de Hamilton ficou clara imediatamente logo após a chuvosa etapa em Interlagos em meio as muitas dificuldades com o W15.  Ainda no carro, o piloto teve uma conversa com seu engenheiro, Peter Bonnington, que serviu para criar dúvidas sobre a continuidade da parceria. 
- Foi um fim de semana desastroso, pessoal.</p>
<p class='noticia-conteudo'>O carro nunca esteve tão ruim.  Mas obrigado por continuarem tentando.  Excelente trabalho do pessoal no pit stop.</p>
<p class='noticia-conteudo'>Se essa foi a última vez que pude competir, é uma pena que não tenha dado certo, mas sou grato a vocês - disse Hamilton logo após a bandeirada. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_2.jpg"></div><p class='foto-descricao'>Lewis Hamilton no GP de São Paulo de Fórmula 1 — Foto: Peter Fox/Formula 1 via Getty Images</p>
Acostumado a disputar sempre as primeiras colocações, o piloto vive uma realidade bem distinta desde 2022, quando a F1 adotou o regulamento do efeito solo.  Na temporada atual, o britânico ocupa apenas a 7ª colocação, com 190 pontos e está fora da briga pelo campeonato de pilotos e construtores.</p>
<p class='noticia-conteudo'>Hamilton e Mercedes ainda têm pela frente mais três corridas juntos antes de encerrarem um dos casamentos mais longevos e vitoriosos da história da F1. 
Neste final de semana, a F1 desembarca nas ruas de Las Vegas para a disputa da 22ª etapa da temporada que pode selar o título a favor de Max Verstappen.  O piloto holandês vai ser campeão em caso de vitória, mas tem outros cenários favoráveis.</p>
<p class='noticia-conteudo'>Confira aqui a matemática do título. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_3.jpg"></div><p class='foto-descricao'>Infos e horários do GP de Las Vegas da F1 2024 — Foto: Infoesporte</p>.</p>
{% endblock main_content %}

