
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}atletico_mg{% endblock title %}
{% block main_title %}atletico_mg{% endblock main_title %}
{% block second_title %}Hulk critica Luiz Henrique após empate entre Atlético-MG e Botafogo Acha que é craque, ganhou p... nenhuma{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Hulk critica Luiz Henrique após empate entre Atlético-MG e Botafogo: "Acha que é craque, ganhou p. ..</p>
<p class='noticia-conteudo'>nenhuma"
Atacante botafoguense foi expulso após a partida, que teve confusão generalizada no fim


Atlético-MG e Botafogo empataram em 0 a 0 nessa quarta-feira em jogo da 34ª rodada do Brasileirão, no Independência.  O jogo teve ânimos exaltados com a bola rolando e principalmente após o apito final.  Hulk falou sobre possível comentário de Luiz Henrique sobre time do Galo no intervalo.</p>
<p class='noticia-conteudo'>Hulk critica Luiz Henrique: "Ele acha que é craque.  Ganhou p..</p>
<p class='noticia-conteudo'>.  nenhuma"

Segundo Hulk, o goleiro Matheus Mendes, do Atlético, disse que Luiz Henrique chamou o time atleticano de "fraco" e "m#..</p>
<p class='noticia-conteudo'>. ". 
- O Matheus Mendes jurou pela família no intervalo de jogo, o Luiz Henrique virou e falou: "O time de vocês é muito fraco, uma m#.</p>
<p class='noticia-conteudo'>. . ".</p>
<p class='noticia-conteudo'>Ele tem tudo para ser um craque, mas não é ainda.  Está fazendo um grande ano.  Que sirva como aprendizado, que ele precisa ralar muito.</p>
<p class='noticia-conteudo'>Tenho 20 anos de carreira e nunca falei que um time é uma "m#. ..</p>
<p class='noticia-conteudo'>".  Que ele aprenda com o erro dele.  Tem tudo para ser craque, mas primeiro tem que ser craque como pessoa.</p>
<p class='noticia-conteudo'>Hulk explica discussão no fim do jogo e revela fala de Luiz Henrique sobre o Atlético-MG: "Time de vocês é uma m. ..</p>
<p class='noticia-conteudo'>"
Após a partida, Hulk foi falar com Marlon Freitas e Artur Jorge sobre os comentários feitos pelo camisa sete do Botafogo. 
“Luiz Henrique falou “vocês são uma m#..</p>
<p class='noticia-conteudo'>. ”.  Ele tem cinco jogos na Seleção, acha que é craque, não ganhou p.</p>
<p class='noticia-conteudo'>. .  nenhuma.</p>
<p class='noticia-conteudo'>Ele falou no intervalo do jogo.  Ele tem cinco chutes na Seleção, eu tenho sete anos na seleção, ele tem que correr para caramba. ” - disse Hulk.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_0.jpg"></div><p class='foto-descricao'>Hulk deixou o campo reclamando de fala de Luiz Henrique — Foto: Gilson Lobo/AGIF</p>
O clima da partida ficou tenso durante grande parte do jogo.  Sem torcida, foi possível ouvir os ânimos exaltados no gramado. 
Ainda no primeiro tempo, Rubens foi expulso, após levar dois cartões amarelos.</p>
<p class='noticia-conteudo'>Hulk iniciou no banco, e antes mesmo de entrar, teve uma discussão com Marlon Freitas. 
Após o jogo, o árbitro foi ao VAR.  O lance mostrado foi Luiz Henrique arremessando uma garrafa em direção a seguranças em confusão na saída de campo.</p>
<p class='noticia-conteudo'>O atacante foi expulso. 
"Dia 30 a gente joga" - disse Hulk para Marlon Freitas sobre a final da Copa Libertadores. 
Daqui nove dias as equipes se enfrentam pela disputa da Conmebol Libertadores, em Bueno Aires, no estádio Mâs Monumental.</p>
<p class='noticia-conteudo'>ATLÉTICO-MG.</p>
{% endblock main_content %}
{% block cor_categoria %}#000000{% endblock cor_categoria %}

