
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Ídolo do Manchester United, Rooney fica furioso com fracassos do Plymouth Poderia colocar o sub-18{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Ídolo do Manchester United, Rooney fica furioso com fracassos do Plymouth: "Poderia colocar o sub-18"
Equipe perdeu por 6 a 1 e treinador disse que se colocasse os jogadores do sub-18 não teriam levado os seis gols


A equipe do Plymouth Argyle, comanda por Wayne Rooney, sofreu uma goleada, por 6 a 1, para o Carrow Road, fora de casa, pela Championship (segunda divisão inglesa) A derrota do time, que tem encontrado cada vez mais dificuldades para garantir resultados positivos nesta temporada, deixou o ídolo do Manchester United furioso. 
✅Siga o novo canal ge Futebol Internacional no WhatsApp
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_11_0.jpg"></div><p class='foto-descricao'>Rooney fica furioso com resultados negativos do Plymouth — Foto: GettyImages</p>
- Eu provavelmente poderia colocar o time sub-18 para jogar e eles não sofreriam seis gols - disse o treinador. 
Rooney estava sem alguns craques da equipe como o capitão Joe Edwards e o goleiro Connor Hazard.</p>
<p class='noticia-conteudo'>Além de desfalques também no ataque.  Apesar da falta de alguns jogadores, o treinador não quis dar como desculpas. 
- Não estávamos nem perto de ser bons o suficiente.</p>
<p class='noticia-conteudo'>Estamos com desfalques por lesões, mas isso não é desculpa.  Se os jogadores querem entrar no time e permanecer nele, então eles precisam ter um desempenho melhor do que isso - colocou. 
A derrota foi considerada por Rooney como uma das piores de sua carreira no futebol, tanto como jogador e treinador.</p>
<p class='noticia-conteudo'>Como atleta, ainda no Manchester United, ele sofreu um revés de 6 a 1 para o Manchester City em 2011. 
- Estou muito decepcionado, irritado, frustrado e as próximas 24/48 horas não serão muito boas para os jogadores, mas precisamos descobrir o motivo disso estar acontecendo - afirmou o comandante do Plymouth Argyle. 
A equipe de Rooney não conseguiu vencer nenhum dos nove jogos fora de casa nesta temporada.</p>
<p class='noticia-conteudo'>O Plymouth está agora apenas dois pontos acima da zona de rebaixamento, na Championship, mas disputou mais partidas do que três clubes que estão abaixo dele. 
Veja as 10 ligas de futebol mais fortes do mundo.</p>
{% endblock main_content %}

