
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Insistência Fluminense faz 44 cruzamentos, mas tem 3ª pior marca de gols de cabeça do Brasileiro{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Insistência? Fluminense faz 44 cruzamentos, mas tem 3ª pior marca de gols de cabeça do Brasileiro
Tricolor empilha bolas na área diante do Criciúma, mas não consegue furar defesa catarinense.  Mano Menezes credita excesso à pressão devido a tabela do Brasileirão


Além do resultado no frustrante empate em 0 a 0 com o Criciúma, nesta terça-feira, um fator incomodou aos mais de 41 mil tricolores que foram ao Maracanã acompanhar a partida da 34ª rodada do Campeonato Brasileiro: o excesso de cruzamentos na área.  Foram 44 só nesta partida, um ponto citado até pelo técnico Mano Menezes em coletiva.</p>
<p class='noticia-conteudo'>O problema: o Fluminense tem a 3º pior marca de gols de cabeça na competição. 

Flu empata com o Criciúma e segue na briga contra o rebaixamento
A situação fica ainda pior quando o número de cruzamentos se somam aos feitos diante do Fortaleza, nesta sequência de dois jogos consecutivos no Maracanã.  No total, foram 70.</p>
<p class='noticia-conteudo'>Destes, apenas 15 terminaram em finalizações de atletas tricolores e só um em gol: o de Cano, contra o Fortaleza.  O aproveitamento é baixo, mas o exagero chama atenção devido ao histórico do clube na competição. 
Cruzamentos nos últimos dois jogos
Tentativas Acertos
34ª rodada Fluminense x Fortaleza 26 6
35ª rodada Fluminense x Criciúma 44 9
Total 70 15
Fonte: Sofascore
Neste momento, de acordo com números do Espião Estatístico, o Fluminense tem a terceira pior marca de gols de cabeça na Série A do Campeonato Brasileiro.</p>
<p class='noticia-conteudo'>Nas 35 rodadas já disputadas, são apenas seis gols de cabeça.  O Tricolor está ao lado de outras quatro equipes com este número — Internacional, Cruzeiro, Fortaleza e Grêmio.  Porém, acima apenas de outras duas: os já rebaixados Cuiabá e Atlético-GO.</p>
<p class='noticia-conteudo'>Piores marcas de gol de cabeça do Brasileirão
Time Gols de cabeça
1º Cuiabá 1
1º Atlético-GO 1
3º Fluminense 6
3º Internacional 6
3º Cruzeiro 6
3º Fortaleza 6
3º Grêmio 6
8º Vitória 7
8º Corinthians 7
8º Flamengo 7
Fonte: Espião Estatístico
Após o empate em 0 a 0 com o Criciúma, Mano Menezes falou sobre os cruzamentos.  Admitiu que 44 é um número alto, apesar de defender a quantidade citando o gol de Cano contra o Fortaleza.  Porém, acredita que o excesso se dá pelo momento de pressão que o clube está vivendo.</p>
<p class='noticia-conteudo'>— Quando a gente faz o gol, você fala que a gente achou o gol, daí é injusto.  Aí temos que ser justos com o jogo.  A gente não achou, a gente cruzou a bola e fez um gol de cruzamento.</p>
<p class='noticia-conteudo'>Acho 44 cruzamentos uma demasia.  Já falamos sobre esse assunto.  Você geralmente, quando a gente tem dificuldade, você traz os cruzamentos que a equipe fez.</p>
<p class='noticia-conteudo'>É tão óbvio isso no futebol que todas as equipes cometem o mesmo equívoco, quando elas não encontram as soluções.  Que devem, que querem encontrar, que entende, ela exagera no cruzamento da área, tá? Isso acontece com todo mundo.  Claro que é uma demasia, a gente fez hoje alguns cruzamentos de boa qualidade, um deles, trabalhamos essa semana para tentar achar no chão a bola.</p>
<p class='noticia-conteudo'>O Arias fez um cruzamento maravilhoso, acabou chegando uma fraçãozinha de segundo atrasado.  É esse tipo de bola que acredito que tem a ver mais com a característica da nossa equipe.  É óbvio que na segunda parte a gente cruzou sem qualidade, cruzou de qualquer jeito, isso não vai nos dar nada, mas eu entendo a ansiedade, o torcedor apressa o jogo, você se sente às vezes sem a solução para aquilo que você precisa ter no jogo e se opta pelo mais simples.</p>
<p class='noticia-conteudo'>É bem mais difícil fazer da maneira mais simples o gol e é por isso que a gente sai com zero a zero. 
O Fluminense volta a campo para encarar o Athletico-PR, na Ligga Arena, no próximo domingo, às 18h30 (horário de Brasília).  Com o empate no Maracanã, o Tricolor é o atual 16º colocado no Campeonato Brasileiro, com 39 pontos - a apenas um ponto da zona de rebaixamento.</p>
<p class='noticia-conteudo'>🎧 Ouça o podcast ge Fluminense
Assista: tudo sobre o Fluminense no ge, na Globo e no sportv
50 vídeos
FLUMINENSE.</p>
{% endblock main_content %}

