
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}internacional{% endblock title %}
{% block main_title %}internacional{% endblock main_title %}
{% block second_title %}Inter se garante na Libertadores com resultados da rodada; confira os classificados{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Inter se garante na Libertadores com resultados da rodada; confira os classificados
Bicampeão do torneio, Colorado disputará a competição pela 16ª vez



Inter tenta chegar a 15 jogos de invencibilidade diante do Vasco
O Inter está de volta à Conmebol Libertadores.  O Colorado garantiu a classificação após os tropeços de Bahia e Cruzeiro na quarta-feira, mesmo antes de entrar em campo para encarar o Vasco nesta quinta pela 34ª rodada.  A busca agora é por vaga direta na fase de grupos.</p>
<p class='noticia-conteudo'>Os gaúchos se unem a Botafogo, Flamengo, Palmeiras e Fortaleza, que já tinham confirmado presença.  O Brasil pode até ter nove equipes, se o Cruzeiro conquistar a Copa Sul-Americana.  A Raposa decide a competição com o Racing no sábado.</p>
<p class='noticia-conteudo'>O clube gaúcho, que ficou fora da edição deste ano, disputará o principal torneio continental pela 16ª edição.  Conquistou o título em 2006 e 2010. 
Veja mais:

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_14_0.jpg"></div><p class='foto-descricao'>Inter está de volta ao principal torneio continental — Foto: Ricardo Duarte/Divulgação, Internacional</p>
Na última participação, o Inter chegou até as semifinais em 2023, mas caiu para o Fluminense em pleno Beira-Rio.</p>
<p class='noticia-conteudo'>Após empate em 2 a 2 no Maracanã, os colorados levaram a virada e perderam por 2 a 1.  Os cariocas acabaram com a taça. 
Confira os classificados:

Calendário da Libertadores 2025:
1ª fase: 5 e 12 de fevereiro
2ª fase: 19 e 26 de fevereiro
3ª fase: 5 e 12 de março
Sorteio da fase de grupos: 19 de março
Fase de grupos: 2 de abril a 28 de maio
Sorteio das fases decisivas: 4 de junho
Oitavas de final: 13 e 20 de agosto
Quartas de final: 17 e 24 de setembro
Semifinais: 22 e 29 de outubro
Final: 29 de novembro
INTERNACIONAL.</p>
{% endblock main_content %}
{% block cor_categoria %}#cc0000{% endblock cor_categoria %}

