
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}internacional{% endblock title %}
{% block main_title %}internacional{% endblock main_title %}
{% block second_title %}Inter mapeia o mercado e prioriza busca por zagueiros{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Direção avalia nomes e debate quais peças se encaixam com o orçamento e o que Roger necessita para avançar as tratativas





D'Alessandro comenta sobre o trabalho como dirigente do Inter
Ainda sem uma investida, o Colorado analisa nomes para tentar avançar as tratativas.  Willyam Rocha, do CSKA, e Luizão, do West Ham, já entraram nas rodas de discussões dos gaúchos.  Jemmes, do Vila Nova-GO, é mais uma opção que está sob avaliação.</p>
<p class='noticia-conteudo'>Os goianos gostariam de receber 1 milhão de euros (R$ 6,37 milhões pela cotação atual) para negociá-lo.  Um valor que ainda há margem para discussão entre as partes, caso seja interesse do Inter levar adiante. 
Veja mais:




A parceria entre os clubes também surge como um trunfo.</p>
<p class='noticia-conteudo'>O Inter já emprestou Estêvão aos goianos.  Em fevereiro deste ano, Fernando encerrou o contrato antecipadamente com o clube no qual foi revelado para rumar ao Beira-Rio. 
Willyam Rocha vê com bons olhos ao retorno ao Brasil.</p>
<p class='noticia-conteudo'>Todavia, os russos só aceitam liberá-lo em caso de compra dos direitos, o que dificulta pela situação financeira dos gaúchos.  O defensor renovou em agosto até 2027. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_362_0.jpg"></div><p class='foto-descricao'>Willyan Rocha, zagueiro brasileiro do CSKA — Foto: Divulgação/CSKA</p>
Luizão também gostaria de atuar no país.</p>
<p class='noticia-conteudo'>O West Ham se mostra até mais aberto a conversar, já que apenas solicita a um possível interessado arcar com os vencimentos do jogador. 
O Inter necessita de zagueiros, em quantidade, pela questão numérica.  Como Gabriel Mercado operou o joelho esquerdo e só volta aos gramados no segundo semestre de 2025, Roger Machado ficou com Vitão, Clayton Sampaio, Rogel e Victor Gabriel.</p>
<p class='noticia-conteudo'>O último ainda sequer estreou pelo profissional e está emprestado até o fim do ano pelo Sport.  A direção trabalha para mantê-lo no Beira-Rio.  O uruguaio realizou um procedimento cirúrgico na mão esquerda antes da última rodada, mas estará à disposição quando as competições forem retomadas.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_362_1.jpg"></div><p class='foto-descricao'>José Olavo Bisol, D'Alessandro e André Mazzuco avaliam alternativas para encorpar o grupo do Inter — Foto: Ricardo Duarte/Divulgação, Internacional</p>
Vitão tem o futuro incerto.  O defensor desperta a cobiça do Betis e Napoli.  Com os espanhóis, inclusive, esteve acertado no meio do ano, mas o negócio não foi finalizado em razão do Fair Play financeiro à época.</p>
<p class='noticia-conteudo'>A zaga não é a única posição à qual os colorados avaliam o mercado.  A direção observa volantes e pontas.  Erick, do Athletico, voltou ao radar para encorpar o setor de contenção.</p>
<p class='noticia-conteudo'>Além de incorporar jogadores, o Inter trabalha pela permanência de Bernabei.  O Celtic pede 5 milhões de euros (R$ 31,85 milhões pela cotação atual) para negociá-lo.  Os gaúchos tentam sensibilizar os europeus e compor uma situação menos onerosa.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}

