
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Integração com base e mais campos saiba mais sobre o projeto inicial de reforma do CT do Vasco{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Integração com base e mais campos: saiba mais sobre o projeto inicial de reforma do CT do Vasco
Clube projeta reforma com quatro novos campos, um de grama sintética, miniestádio para base e área molhada


O Vasco iniciou o planejamento para a reforma do CT Moacyr Barbosa no ano que vem.  Um dos objetivos e focos da gestão de Pedrinho é a melhoria do centro de treinamentos, e o clube se movimenta nos bastidores com duas metas principais: possibilitar uma integração entre profissional e a base e aumentar o número de campos disponíveis. 

CT foi citado por Pedrinho como um dos critérios para venda da SAF do Vasco
Passados mais de dois anos da criação da Vasco SAF, o Centro de Treinamento Moacyr Barbosa, utilizado pelo elenco profissional, mudou muito pouco.</p>
<p class='noticia-conteudo'>Na época da venda do futebol em 2022, houve a garantia de que seria feita uma reforma ampla no local, e que as obras seriam concluídas até junho de 2024.  A promessa não foi cumprida. 
Neste período, a área do estacionamento foi calçada, a sala de imprensa recebeu retoques, e novos aparelhos foram comprados para academia e departamento médico.</p>
<p class='noticia-conteudo'>Com apenas dois campos, o CT segue longe dos sete, "incluindo miniestádio para 4 mil pessoas, refeitório e alojamento", que foram prometidos.  Em fevereiro, o ge revelou que o CT Moacyr Barbosa ocupa apenas 1/3 do terreno cedido pela Prefeitura do Rio de Janeiro. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_16_0.jpg"></div><p class='foto-descricao'>Campos do CT Moacyr Barbosa, do Vasco — Foto: Vasco</p>


Esse é o primeiro foco do Vasco: aumentar a quantidade de campos.</p>
<p class='noticia-conteudo'>A meta é sair de dois para seis campos, incluindo um miniestádio para jogos da base.  O projeto que ainda está no papel trata como prioridade e urgência ter mais campos à disposição, além de uma área de recuperação com piscina aquecida e banheiras.  Ter um campo sintético também é primordial.</p>
<p class='noticia-conteudo'>A ampliação da área utilizada seria importante para outro ponto-chave para o Vasco: a integração do time profissional e da base.  Com os jogadores das demais categorias treinando com o profissional, o deslocamento dos atletas da base entre Duque de Caxias, onde fica o CT dos mais jovens, e Barra da Tijuca seria evitado. 
O ge apurou que o Vasco faz estudos na área para se antecipar a possíveis problemas e atacá-los no início das obras.</p>
<p class='noticia-conteudo'>Um estudo recente feito no CT revelou que há áreas em volta do terreno que possuem 15 metros de profundidade de lama e água.  A região é lotada de jacarés e cobras, por exemplo.  No último mês, uma "visita" chamou a atenção no local.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_16_1.jpg"></div><p class='foto-descricao'>Jacaré invadiu CT do Vasco nesta sexta-feira — Foto: Divulgação</p>
Investimento alto
Por mais que a ideia ainda esteja no papel e o projeto seja embrionário, o Vasco sabe e deseja fazer um grande investimento no CT Moacyr Barbosa. 
Funcionários do clube visitaram CTs pelo Brasil para avaliar e tomar outros locais como inspiração.  Um dos locais que mais chamaram a atenção foi o centro de treinamentos do Red Bull Bragantino.</p>
<p class='noticia-conteudo'>A chegada de um novo dono do futebol aceleraria o processo de reforma do CT pelo dinheiro a ser investido.  Na última entrevista coletiva, o presidente do Vasco disse que o investimento no local é um dos critérios a serem alinhados e discutidos com um novo investidor. 
—Tem alguns critérios óbvios para a gente alinhar com um investidor: credibilidade reconhecida, saúde financeira, planejamento esportivo financeiro com prazos para de cumprimento, estrutura de CT com prazo de cumprimento, porque a gente pode botar "gastar R$ 50 milhões no CT" e nunca gasta.</p>
<p class='noticia-conteudo'>A gente precisa ter garantias para proteger a instituição para não cometer o mesmo erro cometido com a 777. 
Enquanto isso, entende-se que o Vasco não pode ficar parado e esperar a chegada de um investidor para resolver as questões do centro de treinamentos.  O clube tem atuado em mais de uma frente para arrecadar recursos e viabilizar as questões jurídicas com a Prefeitura do Rio.</p>
<p class='noticia-conteudo'>Assista tudo sobre o Vasco no ge, na Globo e no SporTV:
50 vídeos
VASCO.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

