
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}internacional{% endblock title %}
{% block main_title %}internacional{% endblock main_title %}
{% block second_title %}Inter x Botafogo onde assistir ao vivo, horário e escalações Brasileirão{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Inter x Botafogo: onde assistir ao vivo, horário e escalações Brasileirão
Veja também desfalques, arbitragem e outras informações do jogo válido pela penúltima rodada do Brasileirão

04/12/2024 04h00 Atualizado há 4 horas

Inter enfrenta o Botafogo em casa no penúltimo jogo da temporada
Inter e Botafogo entram em campo às 21h30 desta quarta-feira, no Beira-Rio, em Porto Alegre.  O duelo é válido pela 37ª rodada do Brasileirão e terá acompanhamento em tempo real pelo ge (clique aqui) e transmissão da Globo, Premiere, RBS TV e sportv. 

Sem mais chances de conquistar o título, o Colorado busca se despedir da torcida com uma vitória.</p>
<p class='noticia-conteudo'>O Beira-Rio receberá mais de 40 mil pessoas.  Os gaúchos tentam conquistar mais três pontos para seguir na luta pelo vice-campeonato.  O time de Roger Machado abre a rodada em quarto lugar com 65 pontos.</p>
<p class='noticia-conteudo'>Embalado pela conquista da Conmebol Libertadores, o Botafogo pode ganhar o Brasileirão nesta quarta-feira.  Para tal, precisa superar o Inter e contar com um tropeço do Palmeiras, que encara o Cruzeiro no Mineirão.  Caso empate, a equipe de Artur Jorge ainda tem chance de ser campeã antecipada, desde que o Verdão perca para a Raposa.</p>
<p class='noticia-conteudo'>Os cariocas lideram com 73 pontos, três a mais que os paulistas. 
CAMPEONATO BRASILEIRO 2024
Fase única
X
Internacional
Botafogo
Onde assistir

Escalações prováveis
Inter - técnico: Roger Machado
Thiago Maia foi liberado por conta de um problema familiar.  Rômulo entra no meio de campo.</p>
<p class='noticia-conteudo'>Borré volta ao time após cumprir suspensão.  Enner Valencia, apesar de um gol e uma assistência no Maracanã, fica como alternativa para o decorrer do confronto. 
Escalação provável: Rochet; Bruno Gomes, Rogel, Vitão e Bernabei; Fernando, Tabata, Rômulo e Wesley; Alan Patrick e Borré
FERNANDO
ALAN PATRICK
BORRÉ
VITÃO
ROGEL
WESLEY
RÔMULO
ROCHET
BRUNO GOMES
BRUNO TABATA
BERNABÉI
Quem está fora: Thiago Maia (questão familiar) e Gabriel Mercado (cirurgia no joelho esquerdo)
Pendurados: Roger, Vitão, Rogel, Valencia, Wanderson, Renê, Bruno Henrique e Ricardo Mathias

Botafogo - técnico: Artur Jorge
O Botafogo vem de uma maratona com direito a título da Libertadores no sábado, festa em carro aberto no domingo e reapresentação na segunda.</p>
<p class='noticia-conteudo'>Artur tem as baixas de John, suspenso, e Bastos, lesionado.  De resto deve contar com todo o elenco.  O desgaste físico vai ser determinante na escalação.</p>
<p class='noticia-conteudo'>Escalação provável: Gatito; Vitinho, Adryelson, Barboza e Alex Telles; Gregore e Marlon Freitas; Luiz Henrique, Savarino e Thiago Almada; Igor Jesus. 
ALEX TELLES
GATITO FERNÁNDEZ
ADRYELSON
MARLON FREITAS
GREGORE
SAVARINO
ALEXANDER BARBOZA
VITINHO
IGOR JESUS
ALMADA
LUIZ HENRIQUE
Quem está fora: John (suspenso) e Bastos (lesionado). 
Pendurados: Gregore, Barboza, Marçal, Allan, Tchê Tchê, Óscar Romero, Júnior Santos, Jeffinho, Cuiabano e Igor Jesus.</p>
<p class='noticia-conteudo'>Arbitragem
Árbitro: Ramon Abatti Abel (Fifa/SC)
Assistente 1: Nailton Junior de Sousa Oliveira (Fifa/CE)
Assistente 2: Alex dos Santos (SC)
VAR: Gilberto Rodrigues Castro Junior (PE)
Quarto árbitro: Felipe Fernandes de Lima (MG)
INTERNACIONAL.</p>
{% endblock main_content %}

