
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Investidor do Atlético-MG, Rafael Menin revela dívida atual e prevê orçamento duro em 2025{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Investidor do Atlético-MG, Rafael Menin revela dívida atual e prevê orçamento "duro" em 2025
Empresário ainda faz balanço do ano, desempenho no Brasileiro e projeções para próximo ano sem Libertadores



Rafael Menin avalia ano de 2024 e fala de finanças e reforços para 2025
Perto do fim da temporada que se tornou frustrante, o Atlético-MG avança para planejar 2025.  Ainda com dois jogos importantes para garantir uma vaga na Sul-Americana via Brasileirão, a SAF já começa a desenhar os investimentos e possibilidades para o ano que vem.  Em entrevista ao ge, Rafael Menin, um dos donos do clube, revelou valor da dívida atual e prevê ano duro na temporada que vem.</p>
<p class='noticia-conteudo'>O investidor atendeu ao ge antes da final de sábado, da Libertadores, em Buenos Aires.  Rafael fez um balanço da temporada em termos de desempenho, revelou o valor atual da dívida do clube e prevê um ano duro sem a Libertadores de 2025 no calendário do Galo. 
"O nosso planejamento já começou.</p>
<p class='noticia-conteudo'>Ele começou, eu te diria, há quase dois meses.  E é claro que a gente trabalha com dois cenários.  Um cenário, caso a gente tenha sucesso no jogo (final da Libertadores), a gente tem um pouco mais de folga.</p>
<p class='noticia-conteudo'>E um cenário no qual a gente, tomara que não aconteça, não tenha sucesso, aí é um ano um pouco mais duro, porque dificilmente vai ter Libertadores.  Então, a gente passa a ter um orçamento um pouco mais difícil, mas já está sendo planejado". 
- De novo, a gente não tem mudanças grandes.</p>
<p class='noticia-conteudo'>O Galo sempre prefere essa continuidade e ajustes pontuais.  De novo, a gente acredita muito no elenco que nós temos, profissionais de muito caráter, de muita qualidade, mas sempre tem uma mudança ou outra no final do ano.  E a gente procura sempre acertar mais e errar o mínimo possível - disse.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_14_0.jpg"></div><p class='foto-descricao'>Rafael Menin, ao lado do pai, será o principal acionista da SAF do Galo — Foto: Pedro Souza/CAM</p>
Dívida atual
A SAF do clube comprou as ações do Atlético por R$ 913 milhões no ano passado.  Quase metade desse valor foi para abater a dívida da Arena MRV.  A dívida do clube ultrapassava os R$ 2 bilhões.</p>
<p class='noticia-conteudo'>Ao longo do ano, novos aportes foram feitos como os R$ 200 milhões provenientes de um novo investidor, o empresário Daniel Vorcaro.  Os R$ 100 milhões do FIGA não foram arrecadados em sua totalidade, e Rubens Menin passou a ser responsável para fazer o aporte. 
"A conta do Galo é uma conta muito difícil.</p>
<p class='noticia-conteudo'>A gente inclusive é muito cobrado, que a gente deveria investir mais, a despeito de ser o que vem investindo nos últimos três, quatro anos, um valor muito parecido por volta de 500 milhões por ano no futebol, mas não dá pra gente fazer loucura.  A gente tem que ter os pés no chão, ter a consciência, a boa consciência, em relação à receita. 
- A gente fez uma SAF no ano passado, que foi muito importante.</p>
<p class='noticia-conteudo'>O Galo tinha uma dívida de mais de dois bilhões de reais e vai terminar o ano com uma dívida pouca acima de um bilhão, mas ainda é uma dívida muito grande (. ..</p>
<p class='noticia-conteudo'>).  A gente tem um investimento já muito grande, temos ainda uma despesa financeira com juros muito elevada e a gente tem que continuar trabalhando para reduzir ano após ano a dívida do clube. 
- Aí sim, quando a gente tiver um endividamento muito baixo, o Galo pode gastar mais dinheiro ou ter um orçamento maior do futebol em relação a sua receita.</p>
<p class='noticia-conteudo'>Mas sempre com muita racionalidade.  Eu sei que o torcedor, o futebol é uma paixão.  O torcedor quer sempre mais contratação, mais time.</p>
<p class='noticia-conteudo'>A gente procura equilibrar o desempenho esportivo com o desempenho financeiro.  O Galo tem trabalhado muito no limite. 
"Agora é juntar os cacos", lamenta Carol após vice na Libertadores | A Voz da Torcida
Retrospectiva do ano
Menin fez ainda um balanço do ano do Galo.</p>
<p class='noticia-conteudo'>Campeão Mineiro em cima do Cruzeiro, finalista da Copa do Brasil e Libertadores e um desempenho ruim no Brasileirão.  Rafael falou sobre os desfalques constantes que o clube enfrentou na temporada e a perda do título para o Flamengo, na Arena MRV. 
- A gente está fazendo uma retrospectiva do ano.</p>
<p class='noticia-conteudo'>A gente disputou o Mineiro, ganhamos do nosso grande rival na casa deles, de virada.  De fato, o desempenho do Brasileiro é muito ruim, é indiscutível.  A gente pode dizer que é verdade, que jogou durante muitas partidas, quase metade do campeonato, com o time muito mexido.</p>
<p class='noticia-conteudo'>A gente acredita em todo o elenco, temos jogadores muito bons, mas quando você passa a ter 14, 15 jogadores de linha para integrar o time, é claro que você sai em desvantagem.  Já a Copa do Brasil, é claro que é muito triste, diria que arrasado perder uma decisão dentro da Arena MRV.  Seria o primeiro grande título dentro da Arena.</p>
<p class='noticia-conteudo'>Infelizmente não deu, mas chegamos na final. 
"A gente também não pode achar que disputar uma final da Copa do Brasil e perder é um resultado ruim, é melhor do que perder na semifinal, melhor do que perder nas quartas de final.  É claro que a gente queria a vitória, mas não veio.</p>
<p class='noticia-conteudo'>O clube estava lá disputando mais um título.  A mesma coisa vale para Libertadores, é uma competição duríssima". 
Balanço sobre a temporada
Rafael Menin usou as redes sociais, na noite desta segunda-feira, para se pronunciar sobre a temporada atleticana, que terminou com vices na Copa do Brasil e na Conmebol Libertadores.</p>
<p class='noticia-conteudo'>O gestor cita a qualidade do trabalho, a necessidade de melhorias e ressalta que o trabalho mira resultados a longo prazo, "elevando o clube em competitividade, infraestrutura, gestão e ambição".  Veja, abaixo, a cara divulgada por Menin:
Massa,
O Galo é de todos nós! É o nosso grande amor, a nossa maior paixão. 
A dor que cada um de vocês está sentindo é a mesma que eu, os demais investidores, os atletas e cada colaborador do Galo sentimos.</p>
<p class='noticia-conteudo'>Na hora de torcer, somos todos iguais e, por isso, somos a Massa. 
A torcida abraçou o Galo de forma incrível nesta temporada e gostaríamos muito de retribuir todo esse apoio com conquistas, mas, infelizmente, elas não vieram. 
Ficam as lições daquilo que fizemos de bom para chegar nessas duas finais, algo impossível de acontecer por acaso, e do que precisamos, com toda humildade, corrigir e fazer de forma diferente daqui para frente.</p>
<p class='noticia-conteudo'>Tenham a certeza de que vamos trabalhar muito para manter o Clube no lugar que é dele de direito, sempre entre os favoritos e conquistando títulos importantes. 
Afinal, por mais que o momento seja dolorido, é fundamental ter frieza para lembrar que esse projeto é de longo prazo, focado em colocar o Galo sempre nos patamares mais altos, elevando o clube em competitividade, infraestrutura, gestão e ambição, para que as conquistas se tornem cada vez mais frequentes e sustentáveis. 
Essa jornada não é só minha, dos demais acionistas da SAF e membros da diretoria, dos atletas ou da comissão técnica, ela é de todos nós.</p>
<p class='noticia-conteudo'>Somente juntos, poderemos chegar lá novamente e escrever um final diferente, que tanto desejamos. 
O Galo nunca lutou sozinho.  Nos momentos mais difíceis da nossa história, a Massa sempre esteve lá.</p>
<p class='noticia-conteudo'>Queremos sempre vencer, é claro, mas nós, Atleticanos, sempre fomos movidos por esse amor incondicional ao Galo.  Esse sentimento, que só a gente sabe como é, ninguém pode tirar de nós. 
É hora de refletir e planejar os próximos passos.</p>
<p class='noticia-conteudo'>Os torcedores são a razão do Atlético existir.  Nós somos o Galo! Forte e Vingador!"
Assista: tudo sobre o Atlético no ge, na Globo e no Sportv
50 vídeos

ATLÉTICO-MG.</p>
{% endblock main_content %}

