
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Jamahal Hill provoca Alex Poatan no Instituto do UFC, mas recua ao ser desafiado{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Jamahal Hill provoca Alex Poatan no Instituto do UFC, mas recua ao ser desafiado
Americano encontra brasileiro em Las Vegas e inicia provocações, mas não aceita desafio de Poatan para lutarem na hora: "(Lutar) de graça? Nós não precisamos de luvas"

05/12/2024 21h17 Atualizado há 13 horas

Patrício Pitbull revela que pediu a empresários que negociem sua liberação do Bellator/PFL
Alex Poatan e Jamahal Hill quase chegaram às vias de fato nesta quinta-feira, num encontro casual no Instituto de Performance do UFC, em Las Vegas.  Os dois, que já se enfrentaram no octógono, foram gravados pelo fotógrafo Big Zay e o vídeo viralizou nas redes sociais rapidamente.  Confira as imagens nos vídeos abaixo.</p>
<p class='noticia-conteudo'>Numa primeira parte das imagens é possível ver Jamahal Hil se aproximar de Poatan, que fazia manopla com seu treinador Plínio Cruz.  O americano começa a falar, mas o brasileiro não entende o idioma, já que Plínio é quem costuma ser seu tradutor.  Poatan acredita que Hill quer apenas cumprimentá-lo e estica a mão, enquanto o americano dispara “não estamos no Twitter agora”.</p>
<p class='noticia-conteudo'>Jungle Fight: em ano de retorno ao MMA, Jefferson Moreira quer cinturão dos meio-médios
Quando Poatan se dá conta das provocações, ele então chama Jamahal Hill para resolver os problemas no octógono ali mesmo do Instituto do UFC.  Ele chega a lançar um par de luvas de boxe para o americano.  Se antes tinha uma postura mais agressiva, Hill passa a recuar.</p>
<p class='noticia-conteudo'>Plínio Cruz, treinador de Poatan, e Pablo Sucupira, um dos líderes da equipe Fighting Nerds, tentavam acalmar os ânimos. 
- Coloca a luva - repetia Poatan na direção de Jamahal Hill, que passou a questionar o desafio. 
- (Lutar) de graça? Nós não precisamos de luvas.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_92_0.jpg"></div><p class='foto-descricao'>Alex Poatan e Jamahal Hill quase brigam no Instituto de Performance do UFC — Foto: Reprodução</p>
Os dois lutaram em abril no UFC 300 numa luta pelo título dos meio-pesados.  Poatan precisou de pouco mais de três minutos para nocautear Hill.  Desde então, em busca de uma nova chance, Hill tem usado as redes sociais para provocar o brasileiro, que também não costuma deixá-lo sem resposta.</p>
<p class='noticia-conteudo'>O brasileiro defendeu seu título meio-pesado do UFC contra Khalil Rountree em agosto e deve enfrentar Magomed Ankalaev no ano que vem.  Jamahal Hill foi escalado para lutar contra o ex-campeão Jiri Proichazka no UFC 311, em 18 de janeiro, em Los Angeles. 
Assine o Combate e veja o melhor do mundo das lutas.</p>
{% endblock main_content %}

