
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}James Harden atinge a marca de 40 pontos em um jogo pela 102ª vez na carreira{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>James Harden atinge a marca de 40 pontos em um jogo pela 102ª vez na carreira
Astro do Los Angeles Clippers pontua 43 vezes na vitória da sua equipe sobre o Washington Wizards por 121 a 96 pela temporada regular da NBA


Ele estava impossível.  Aos 35 anos, James Harden provou que segue em plena forma ao anotar 43 pontos na vitória do Los Angeles Clippers sobre o Washington Wizards por 121 a 96 nesta quarta na Capital One Arena, em Washington.  Foi a 102ª vez que o Barba conseguiu 40 pontos ou mais numa partida de NBA.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_53_0.jpg"></div><p class='foto-descricao'>James Harden na vitória sobre os Wizards — Foto: Reggie Hildred-Imagn Images</p>
Este é o segundo feito do astro dos Clippers no mês de novembro.  Na última semana, no jogo contra o Utah Jazz, Harden havia ultrapassado Ray Allen, tornando-se o segundo jogador com mais cestas de três na história - 2. 974.</p>
<p class='noticia-conteudo'>Harden esteve em quadra por 31min52s nesta quarta.  Além dos 43 pontos, ele deu sete assistências e pegou quatro rebotes.  O segundo maior pontuador da noite foi Ivica Zubac, que pontuou 18 vezes.</p>
<p class='noticia-conteudo'>Pelo lado dos Wizards, os cestinhas foram Malcolm Brogdon e Jonas Valanciunas, ambos com 17 pontos. 

Airball de Draymond Green viraliza em derrota dos Warriors para o Oklahoma
JAMES HARDEN.</p>
{% endblock main_content %}

