
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}João Fonseca no Australian Open Wawrinka e Tiafoe podem entrar no caminho do brasileiro{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Além de Andrey Rublev na estreia, chave principal reserva encontros com nomes como ex-número 3 do mundo Stan Wawrinka e um potencial confronto com o compatriota Thiago Wild



João Fonseca agradece torcida e festeja primeira vez em chave principal de Grand Slam: "Estou animado"

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_12_0.jpg"></div><p class='foto-descricao'>João Fonseca comemora vitória no quali do Australian Open — Foto: Divulgação/XP</p>

Rublev, que chegou a ser número 5 do mundo e tem no currículo 16 títulos de simples, é de fato o adversário mais perigoso da primeira parte da chave João, atual 113° colocado no ranking.  Mas caso passe pelo russo de 27 anos, o brasileiro pode ter frente na segunda rodada outro grande desafio.  João enfrentaria o vencedor do duelo entre o suíço Stan Wawrinka, dono de três títulos de Grand Slam, e o italiano Lorenzo Sonego, 54° do mundo.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_12_1.jpg"></div><p class='foto-descricao'>Stan Wawrinka em ação — Foto: Reuters</p>
Ex-número 3 do mundo e campeão do Australian Open em 2014, Wawrinka ocupa hoje a 158ª colocação no ranking, mas aos 39 anos busca um último momento de brilho no circuito.  Sonego, que já conquistou quatro títulos em torneios da ATP e chegou a ocupar a 21ª colocação no ranking mundial, vive melhor momento, mas não chega a assustar João.  O jovem tenista encarou o italiano na primeira rodada do ATP 250 de Bucareste, na Romênia, em 2024, e levou a melhor, vencendo por 2 sets a 0, parciais de 7/6 (7/5) e 7/5.</p>
<p class='noticia-conteudo'>Seguindo adiante no torneio, João poderia protagonizar um confronto brasileiro contra Thiago Wild, melhor tenista do país no ranking da ATP, em 76° lugar.  Para isso, Wild precisaria superar na estreia o húngaro Fabian Marozsan, número 57 do mundo, e na sequência passar por outro grande nome de sua seção da chave: Frances Tiafoe.  O americano de 26 anos, atual número 17 do mundo, fez uma boa temporada em 2024, chegando à semifinal do US Open e chegou às finais do ATP 1000 de Cincinnati e do ATP 250 de Houston.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_12_2.jpg"></div><p class='foto-descricao'>Frances Tiafoe comemora ponto na semifinal do US Open — Foto: Julian Finney/Getty Images</p>
A partir das oitavas de final, a rota do brasileiro ganha outro nível: na parte de baixo da chave, está o cabeça-de-chave número 5 do torneio e quinto do mundo, o russo Daniil Medvedev, favorito diante de todos os possíveis rivais até lá.  Na parte de cima da chave, encabeçada pelo italiano Jannik Sinner, o principal candidato a atingir as quartas de final no chaveamento de João é o americano Taylor Fritz, quarto do mundo.  Na metade inferior da chave, o alemão Alexander Zverev, vice-líder do ranking, e o espanhol Carlos Alcaraz, número 3 do mundo, são os grandes destaques.</p>
<p class='noticia-conteudo'>João Fonseca 2 x 0 Thiago Tirante | melhores momentos | Australian Open.</p>
{% endblock main_content %}

