
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Jornalista criticado por não votar em Vini Jr. na Bola de Ouro rebate Florentino Pérez Frustrado{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Jornalista criticado por não votar em Vini Jr.  na Bola de Ouro rebate Florentino Pérez: "Frustrado"
Sheefeni Nicodemus é da Namíbia, um dos países citados pelo presidente do Real Madrid como "locais com jornalistas que ninguém conhece" e que participaram da votação


O debate em torno da eleição da Bola de Ouro continua.  Após o presidente do Real Madrid, Florentino Pérez, criticar o sistema de votação do prêmio em um evento, alegando que inclui "jornalistas de países como Uganda, Namíbia, Albânia e Finlândia que ninguém conhece" e que, sem estes votos, Vinicius Jr teria vencido, um dos profissionais resolveu responder.</p>
<p class='noticia-conteudo'>Em declarações à Cadena SER, Sheefeni Nicodemus, jornalista da Namíbia, considerou ofensivas as declarações do espanhol e partiu para o ataque:
- Estas são palavras de alguém frustrado.  O senhor Florentino Pérez sente que o povo do meu país e dos outros países mencionados não têm um voto significativo porque somos pessoas inferiores - afirmou. 

Eric Faria sobre a votação da Bola de ouro : "Eleição sem vergonha"


Pérez fez suas críticas na Assembleia Geral do Real Madrid.</p>
<p class='noticia-conteudo'>O mandatário do clube madrilenho vem tecendo constantes críticas ao processo de votação da Bola de Ouro, que preteriu Vinicius Jr.  e apontou o espanhol Rodri como o vencedor neste ano. 
- Há jornalistas que ninguém conhece e votaram este ano.</p>
<p class='noticia-conteudo'>Sem os votos de jornalistas destes países como Uganda, Namíbia, Albânia e Finlândia, Vinicius teria ganho esta Bola de Ouro. ..</p>
<p class='noticia-conteudo'>O sistema tem de mudar e incluir pessoas reconhecidas, que se preocupam com seu prestígio com esses votos. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_62_0.jpg"></div><p class='foto-descricao'>Vini Jr.  Florentino Pérez Real Madrid — Foto: Getty Images</p>
Os jornalistas da Finlândia, Namíbia e El Salvador foram os únicos que não incluíram Vinicius na sua lista dos dez melhores.</p>
<p class='noticia-conteudo'>Sheefeni Nicodemus não votou em Vinicius e escolheu Bellingham como o melhor jogador do ano, com Rodri na segunda colocação e Lamine Yamal na terceira..</p>
{% endblock main_content %}

