
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Jornal compara investimentos do futebol europeu com potências de NBA e NFL; veja{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Jornal compara investimentos do futebol europeu com potências de NBA e NFL; veja
Levantamento aponta maiores gastos em contratos no Real Madrid do que em milionários clubes de basquete e futebol americano



Veja os elencos mais valiosos do mundo em 2024
O jornal Marca, da Espanha, fez uma comparação dos contratos pagos por alguns dos principais clubes do futebol europeu com as potências dos esportes norte-americanos.  Apesar de os principais astros da NBA e da NFL terem salários maiores, os elencos de Real Madrid e Manchester City são mais bem pagos no total. 
Veja abaixo o levantamento, que tem valores salariais referentes a um ano de contrato, com dados oficiais nos esportes americanos e números aproximados no futebol.</p>
<p class='noticia-conteudo'>Futebol europeu
Real Madrid

Manchester City
Maior salário: De Bruyne - 25 milhões de euros (R$ 152 milhões)
Menor salário: Rico Lewis - 1,5 milhões de euros (R$ 9 milhões)
Salário médio do elenco: 11,5 milhões de euros (R$ 70 milhões)
Folha salarial: 255 milhões de euros (R$ 1,5 bilhão)
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_0.jpg"></div><p class='foto-descricao'>Elenco do Real Madrid é o mais bem pago em comparação do futebol europeu com NBA e NFL — Foto: REUTERS</p>
NBA
Los Angeles Lakers
Maior salário: LeBron James - 48 milhões de euros (R$ 292 milhões)
Menor salário: Bronny James - 1,2 milhões de euros (R$ 7 milhões)
Salário médio do elenco: 13,3 milhões de euros (R$ 80 milhões)
Folha salarial: 200 milhões de euros (R$ 1,2 bilhão)
Boston Celtics
Maior salário: Jaylen Brown - 49 milhões de euros (R$ 298 milhões)
Menor salário: Jordan Walsh - 1,8 milhão de euros (R$ 11 milhões)
Salário médio do elenco: 14,4 milhões de euros (R$ 87 milhões)
Folha salarial: 202 milhões de euros (R$ 1,2 bilhão)
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_1.jpg"></div><p class='foto-descricao'>Jaylen Brown tem maior salário no comparativo do futebol europeu com NBA e NFL — Foto: Matt Stone/MediaNews Group/Boston Herald via Getty Images</p>
NFL
Kansas City Chiefs
Maior salário: Mahomes - 37 milhões de euros (R$ 225 milhões)
Menor salário: Peyton Hendershot - 500 mil euros (R$ 3 milhões)
Salário médio do elenco: 4,8 milhões de euros (R$ 29 milhões)
Folha salarial: 250 milhões de euros (R$ 1,5 bilhão)
Baltimore Ravens
Maior salário: L.  Jackson - 32 milhões de euros (R$ 194 milhões)
Menor salário: Diontae Johnson - 625 mil euros (R$ 3,8 milhões)
Salário médio do elenco: 4,7 milhões de euros (R$ 28 milhões)
Folha salarial: 251 milhões de euros (R$ 1,5 bilhão)
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_2.jpg"></div><p class='foto-descricao'>Kansas City Chiefs e demais times da NFL têm maior desigualdade salarial dentro dos elencos; Mahomes (foto) recebe 74x mais que seu colega Peyton Hendershot — Foto: Jamie Squire/Getty Images</p>
MANCHESTER CITY
REAL MADRID.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

