
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Jovem goiano desponta no futebol americano na Carolina do Norte{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Aos 16 anos, Otávio Oliveira é wide receiver e vai para segundo ano do ensino médio já com propostas de grandes universidades dos EUA



Confira melhores jogadas do wide receiver brasileiro Otávio Oliveira no Ensino Médio

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_373_0.jpg"></div><p class='foto-descricao'>Otávio Oliveira, wide receiver brasileiro no futebol americano colegial dos EUA — Foto: Reprodução/Instagram</p>
Nascido no dia 5 de março de 2008 em Goiânia, Otávio deixou o país aos 6 anos de idade e, embora as memórias da infância em solo brasileiro sejam escassas, seu coração ainda se mantém ligado ao país.  Sua história no esporte começou por acaso: sua mãe, ao chegar aos Estados Unidos, o inscreveu no "football" imaginando que se tratava do futebol popular no Brasil.  No entanto, logo perceberam que o “football” era americano, e a surpresa inicial deu lugar a uma descoberta.</p>
<p class='noticia-conteudo'>Os técnicos notaram seu potencial, e logo aquele novo esporte se tornaria sua paixão. 

Em 2023, Otávio teve seu primeiro contato com o time principal da escola, ainda no nono ano do ensino fundamental.  Ali, ele já começou a se destacar, anotando touchdowns e lidando com a pressão da torcida e dos adversários mais experientes.</p>
<p class='noticia-conteudo'>Na última temporada, o brasileiro conquistou um lugar na Seleção do Ano para o time da conferência South Western 4A, um reconhecimento significativo de seu talento e impacto em campo.  Ele acumulou 41 recepções para 487 jardas e cinco touchdowns em apenas oito jogos, consolidando sua posição como uma das principais peças ofensivas da equipe. 
Esse desempenho não só rendeu destaque local, como também chamou a atenção de olheiros universitários, reforçando sua projeção para o futuro no esporte.</p>
<p class='noticia-conteudo'>Otávio já começou a visitar câmpus universitários e até o momento coleciona ofertas de oito faculdades de Divisão 1, como Boston College e Marshall University.  Jogar no nível universitário é um sonho por si só, mas o jovem tem grandes aspirações e sonha com a possibilidade de estudar em uma das maiores universidades da região. 
- Visitei Clemson e até agora é a minha favorita.</p>
<p class='noticia-conteudo'>Conhecer o câmpus e os técnicos foi muito bom - conta Otávio. 
Sua escola na Carolina do Norte compete em uma conferência de alto nível, em que apenas os quatro melhores times avançam aos playoffs.  Embora o time não tenha se classificado para a pós-temporada em 2024, o jovem vê uma oportunidade de crescimento com as mudanças na equipe para o próximo ano.</p>
<p class='noticia-conteudo'>Com muitos dos veteranos se despedindo, Otávio, agora chegando no segundo ano do ensino médio, assume uma nova responsabilidade, conversando com o técnico sobre o papel de liderança e até mesmo a possibilidade de ser um dos capitães do time. 
- Agora eu já conheço os caras que vão voltar, meu quarterback vai voltar.  Seremos um time muito novo e a expectativa está bem alta, queremos os playoffs - afirma.</p>
<p class='noticia-conteudo'>NFL in Brasa tem terceira edição confirmada em São Paulo
O jovem brasileiro tem uma forte conexão com a fé, gosta de rezar antes de todos os jogos e diz que a oração em conjunto com os amigos do time é um ritual para entrar em campo. 
- Minha mãe me ensinou isso, todo pré-jogo eu abro a Bíblia em uma página aleatória e leio uma mensagem para o meu dia - descreve Otávio..</p>
{% endblock main_content %}

