
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Lateral de 19 anos defende pênalti que classifica time da 4ª divisão espanhola na Copa do Rei{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Lateral de 19 anos defende pênalti que classifica time da 4ª divisão espanhola na Copa do Rei
Pol Arnau, filho de Francesc Arnau, ex-goleiro do Barcelona, assume o gol do UD Logroñés em disputa de pênaltis para eliminar o Girona na competição

05/12/2024 09h02 Atualizado há uma hora
A noite de Pol Arnau ocorreu certamente de uma forma muito diferente da que ele pensava.  Nesta quarta-feira, o UD Logroñés, time da quarta divisão espanhola, eliminou o Girona na Copa do Rei.  A classificação ocorreu na disputa de pênaltis.</p>
<p class='noticia-conteudo'>Arnau, lateral de 19 anos, assumiu as luvas com a saída do goleiro Enrique Royo Herranz.  O que poderia ser o fim da trajetória do Logroñés virou o momento de herói do jovem jogador, que defendeu um pênalti decisivo para avançar no torneio. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_58_0.jpg"></div><p class='foto-descricao'>Pol Arnau, do UD Logroñés — Foto: UD Logroñés</p>
As chances do Logroñés contra um time da elite espanhola seriam baixas por natureza.</p>
<p class='noticia-conteudo'>Na quarta divisão do futebol espanhol, o modesto clube de Logroño não queria um adversário de peso já na segunda fase da Copa do Rei. 
O sorteio colocou o Girona, terceiro colocado da última edição de LaLiga, no caminho do Logroñés.  Jogar contra uma equipe da Champions League não seria fácil, mas o desafio era inevitável.</p>
<p class='noticia-conteudo'>Em campo, o empate durou por 120 minutos. 
Na prorrogação, um baque para o Logroñés: o goleiro Enrique Royo Herranz, capitão do clube, precisou sair de campo.  A equipe já havia feito todas as substituições, incluindo a troca "extra" dos 30 minutos finais.</p>
<p class='noticia-conteudo'>A solução foi levar um jogador de linha ao gol.  Pol Arnau, lateral-esquerdo de 19 anos, foi o escolhido.  Ele é filho de Francesc Arnau, ex-goleiro do Barcelona, morto em 2021.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_58_1.jpg"></div><p class='foto-descricao'>Pol Arnau, do UD Logroñés — Foto: UD Logroñés</p>
O Girona abriu a disputa e marcou com Van de Beek.  Caballero igualou para o Logroñés.  A esperança ainda estava presente, e brilhou nas luvas de Pol Arnau.</p>
<p class='noticia-conteudo'>Abel Ruíz não conseguiu passar do lateral-goleiro, que fez a defesa. 
Madrazo não aproveitou a chance de colocar o Logroñés na frente, e perdeu.  Danjuma e Juanpe fizeram para o Girona.</p>
<p class='noticia-conteudo'>Agüero e Moreno empataram para o time da casa.  Na quinta cobrança do Girona, Stuani chutou no travessão.  A bola chegou a entrar no gol, mas a arbitragem contou o pênalti como perdido pelo atacante.</p>
<p class='noticia-conteudo'>Depois, Iribarren marcou para classificar o time da quarta divisão. 
Classificado, o Logroñés aguarda os resultados da segunda fase da Copa do Rei para conhecer o seu adversário. 
Veja os jogadores mais bem pagos do mundo em 2024.</p>
{% endblock main_content %}

