
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Leclerc dispara pelo rádio após Sainz ignorar ordem e ultrapassá-lo Ser legal me f...{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Leclerc dispara pelo rádio após Sainz ignorar ordem e ultrapassá-lo: "Ser legal me f. ..</p>
<p class='noticia-conteudo'>"
Piloto da Ferrari foi informado por engenheiro de que havia uma ordem para manter as posições, mas acabou superado pelo companheiro de equipe logo em seguida


O clima na Ferrari azedou durante o GP de Las Vegas de Fórmula 1.  Tudo começou na segunda parada dos pilotos para a troca de pneus.  Um erro da equipe, que não estava preparada, fez com que Carlos Sainz tivesse que abortar a ida aos boxes em cima da hora; com isso, o espanhol perdeu um pouco de tempo.</p>
<p class='noticia-conteudo'>Irritado, ele chegou a pedir para os engenheiros "acordarem". 

Com a confusão ferrarista, Charles Leclerc aproveitou a parada nos boxes e retornou à pista à frente do companheiro de equipe, mas com pouca distância e pneus ainda frios, sem muita aderência. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_7_0.jpg"></div><p class='foto-descricao'>Charles Leclerc no GP de Las Vegas de Fórmula 1 — Foto: Rudy Carezzevoli/Getty Images</p>
Logo em seguida, Leclerc foi avisado por seu engenheiro de que Sainz tinha recebido uma ordem para não ultrapassá-lo.</p>
<p class='noticia-conteudo'>Porém, o espanhol ignorou a determinação e deixou o companheiro de equipe para trás.  Após alguns segundos de silêncio no rádio, Charles ironizou a mensagem:
- Tentem em espanhol, talvez!
Ao término da prova, Carlos Sainz subiu ao pódio ao cruzar a linha de chegada em terceiro, e Leclerc acabou em quarto.  Ainda na pista, o piloto de Mônaco disparou pelo rádio e deixou clara a indignação com o descumprimento da ordem dada a Sainz:
- Eu fiz o meu trabalho, mas ser legal me f.</p>
<p class='noticia-conteudo'>. .  o tempo inteiro.</p>
<p class='noticia-conteudo'>Não se trata de ser legal, se trata de ser respeitoso.  Eu sei que tenho que calar a boca, mas chega a um ponto que é sempre a mesma coisa. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_7_1.jpg"></div><p class='foto-descricao'>Carlos Sainz no GP de Las Vegas de Fórmula 1 — Foto: Gary A.</p>
<p class='noticia-conteudo'>Vasquez/Imagn Images via Reuters</p>
Questionado após a prova, Leclerc afirmou que não entraria em muitos detalhes, mas deixou claro que "não está feliz" e que, a partir de agora, vai pensar só em si mesmo, e não no trabalho de equipe:
- Foi frustrante para mim.  Consigo entender que ninguém entende isso, sei que preciso depender só de mim, que tenho que fazer o melhor na classificação e executar tudo de forma perfeita.  Vou pensar apenas em mim daqui em diante e em tentar maximizar tudo - disse à "Sky Sports".</p>
<p class='noticia-conteudo'>Veja classificação atualizada do campeonato
Próxima corrida da F1 2024: veja data do GP do Catar
No outro lado da história está Sainz.  O espanhol, no entanto, tentou colocar panos quentes na discussão e afirmou que o tema será tratado de forma particular com Leclerc. 
- Vamos conversar com Charles sobre o que aconteceu.</p>
<p class='noticia-conteudo'>Não precisamos explicar nada, essas coisas são entre nós.  Eu nunca vou falar no rádio ou com a mídia, porque não é uma coisa legal de se fazer, não é necessário - disse o terceiro colocado na prova. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_7_2.jpg"></div><p class='foto-descricao'>Charles Leclerc à frente de Carlos Sainz no GP de Las Vegas de Fórmula 1 — Foto: Mark Sutton/Formula 1 via Getty Images</p>
Já Frederic Vasseur, "chefão" da Ferrari, disse não estar preocupado com a forte mensagem de Leclerc no rádio da equipe.</p>
<p class='noticia-conteudo'>Para ele, o fato de a fala do monegasco ter ocorrido ainda na pista, sem o entendimento total da situação, foi o que ocasionou a reação agressiva. 
A frustração de Leclerc se explica na tabela de classificação: ele ocupa a terceira posição no campeonato de pilotos e poderia ter reduzido um pouco mais a distância para o vice-líder Lando Norris, da McLaren.  A diferença atual é de 21 pontos.</p>
<p class='noticia-conteudo'>Eles não podem mais alcançar Max Verstappen, que garantiu o tetra da F1 em Las Vegas. 
No campeonato de construtores, a Ferrari está envolvida em uma briga com a McLaren e a RBR.  A escuderia italiana ocupa a vice-liderança e reduziu a desvantagem em relação à McLaren para 24 pontos.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}

