
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}palmeiras{% endblock title %}
{% block main_title %}palmeiras{% endblock main_title %}
{% block second_title %}Leila Pereira é reeleita presidente do Palmeiras por mais três anos{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Leila Pereira é reeleita presidente do Palmeiras por mais três anos
Atual mandatária do Verdão vence eleição neste domingo contra Savério Orlandi e dará sequência à gestão



Veja a entrevista coletiva de Leila Pereira após vencer eleição presidencial no Palmeiras
Leila Pereira foi reeleita presidente do Palmeiras após votação na assembleia de sócios, realizada neste domingo, no clube social.  A atual mandatária venceu o adversário Savério Orlandi, da Chapa "Palmeiras Minha Vida É Você", por 2. 295 votos a 858, com 30 votos em branco.</p>
<p class='noticia-conteudo'>Foram 3. 183 eleitores no total. 
Leila será empossada no próximo dia 15 de dezembro para um novo mandato de três anos.</p>
<p class='noticia-conteudo'>Ela terá como vices Maria Teresa Bellangero, Paulo Buosi, Everaldo Coelho e Márcio Martin. 

Leila comemora reeleição no Palmeiras

Nascida em Cambuci (RJ), Leila Pereira é formada em jornalismo e direito e assumiu o comando da Crefisa, atual patrocinadora do Palmeiras, em 2008.  A mandatária tornou-se uma figura importante no Palmeiras a partir de 2015, quando ela e seu marido, José Roberto Lamacchia, começaram a patrocinar o clube.</p>
<p class='noticia-conteudo'>Mais do Palmeiras


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_0.jpg"></div><p class='foto-descricao'>Leila Pereira, presidente do Palmeiras, com a medalha do Paulistão Feminino — Foto: Marcos Ribolli</p>
Com o início de uma parceria bem-sucedida, que já rendeu 14 títulos com o time masculino, Leila e Lamacchia ingressaram na vida política do clube, ainda que isto tenha gerado divergências, já que opositores argumentaram que ela não tinha tempo suficiente como associada para lançar candidatura ao Conselho Deliberativo. 
O próprio Conselho, porém, considerou que o rito foi legal e autorizou que ela assumisse.  Foi o início de uma sequência de vitórias importantes do grupo de Leila nos bastidores do clube.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_1.jpg"></div><p class='foto-descricao'>Leila reeleita presidente do Palmeiras — Foto: Eduardo Rodrigues</p>
Em 2017, ela foi eleita conselheira com recorde de votos (248) e em fevereiro de 2021 foi reeleita batendo a própria marca, com 387 votos.  O segundo mandato era necessário para que ela pudesse concorrer à presidência, alcançada no final daquele ano. 
Candidata única naquela ocasião, ela recebeu 1.</p>
<p class='noticia-conteudo'>897 dos 2. 141 votos na assembleia de sócios. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_2.jpg"></div><p class='foto-descricao'>Ginásio do Palmeiras recebe eleição presidencial — Foto: Eduardo Rodrigues</p>
As atuais ideias de Leila Pereira:
Elenco: Manutenção do elenco para 2025, com três a quatro contratações.</p>
<p class='noticia-conteudo'>Reforços: Descarta contratação de estrelas ou “jogadores midiáticos”, que seriam, para ela, atletas contratados por marketing. 
Abel Ferreira e departamento de futebol: Manutenção do departamento neste mesmo formato, com plano de renovação com Abel até 2027.  O atual contrato vale até o fim do próximo ano.</p>
<p class='noticia-conteudo'>Reforma em andamento na Academia de Futebol para criação de novas áreas de recovery. 
Marketing: manutenção do formato atual, reforçando confiança no setor, que negocia os patrocínios do clube, e no diretor Everaldo Coelho. 
Futebol Feminino: Tirar o futebol feminino de Vinhedo/Jundiaí para Barueri, com jogos sem custo na Arena Barueri e treinos em CT na cidade, em acordo com a Prefeitura
Clube social: Climatização das piscinas, construção de segunda sauna e reforma do prédio anexo à piscina coberta, com criação de salas e melhorias nos restaurantes.</p>
<p class='noticia-conteudo'>Leila Pereira conta bastidores de negociação com Gabigol: "Palmeiras não é trampolim"

Mais lidas do Ge
1
Palmeiras
Leila Pereira é reeleita presidente do Palmeiras por mais três anos
2
Brasileirão Série A
Corinthians x Vasco: onde assistir ao vivo, horário e escalações
3
Fluminense
Thiago Silva e Felipe Melo têm discussão acalorada em treino antes de Fluminense x Fortaleza
4
Fórmula 1
Leclerc dispara pelo rádio após Sainz ignorar ordem e ultrapassá-lo: 'Ser legal me f. ..</p>
<p class='noticia-conteudo'>'
5
Flamengo
Plata volta a treinar com o grupo, e Flamengo pode ter até oito reforços contra o Fortaleza

50 vídeos
PALMEIRAS.</p>
{% endblock main_content %}

