
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}santos{% endblock title %}
{% block main_title %}santos{% endblock main_title %}
{% block second_title %}Lembra dele Ex-Grêmio e Santos, Victor Ferraz acerta com clube da Paraíba{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Lembra dele? Ex-Grêmio e Santos, Victor Ferraz acerta com clube da Paraíba
Lateral-direito, com seis temporadas pelo Santos, estava no Tacuary, do Paraguai, e defenderá o Serra Branca, seu primeiro clube paraibano na carreira, na disputa do estadual de 2025


O Serra Branca acertou a contratação do lateral-direito Victor Ferraz para a temporada de 2025.  Aos 36 anos, o jogador, natural de João Pessoa, retorna ao futebol brasileiro após defender o Tacuary, do Paraguai, onde atuou em 28 partidas e contribuiu com três assistências.  Esta será a primeira vez que o atleta, ex-Grêmio e Santos, vestirá a camisa de um clube paraibano em sua carreira.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_25_0.jpg"></div><p class='foto-descricao'>Victor Ferraz em Santos x River Plate-URU — Foto: Marcos Ribolli</p>
Com um currículo vasto, Victor Ferraz começou no Iraty-PR e passou por alguns clubes, como Atlético-GO, Bragantino e Vila Nova, antes de se destacar no Coritiba, onde conquistou dois Campeonatos Paranaenses.  A maior parte de sua trajetória foi no Santos, onde atuou por seis temporadas, somando 258 jogos e contribuindo diretamente em 10 gols e 22 assistências. 
Após deixar o Santos, o lateral-direito jogou pelo Grêmio em 2020 e 2021, com 45 partidas no total, além de passagens pelo Náutico e pela Chapecoense.</p>
<p class='noticia-conteudo'>Agora, Victor Ferraz se junta ao elenco do Carcará do Cariri, comandado pelo técnico Cristian de Souza, que já conta com Everton e Yago Taborda para a posição. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_25_1.jpg"></div><p class='foto-descricao'>Victor Ferraz é anunciado pelo Serra Branca — Foto: Divulgação / Serra Branca</p>
O Serra Branca, fundado em 2022, vem investindo fortemente para consolidar sua posição no futebol do estado.  Na última temporada, a equipe do interior do estado chegou à semifinal do Campeonato Paraibano, sendo eliminada pelo Botafogo-PB.</p>
<p class='noticia-conteudo'>GRÊMIO
SANTOS.</p>
{% endblock main_content %}

