
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}fluminense{% endblock title %}
{% block main_title %}fluminense{% endblock main_title %}
{% block second_title %}Lembra dele Zagueiro campeão brasileiro com Fluminense acerta com clube do Piauí{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Lembra dele? Zagueiro campeão brasileiro com Fluminense acerta com clube do Piauí
Elivelton, de 32 anos, ex-Fortaleza, CSA, Santa Cruz e Náutico, fecha com River-PI para disputa do Campeonato Piauiense em 2025; veja carreira do jogador


O River-PI acertou a contratação do zagueiro Elivelton, campeão brasileiro com o Fluminense em 2012, para temporada de 2025.  O jogador é o terceiro zagueiro acertado com o clube para o Campeonato Piauiense da próxima temporada.  O defensor também tem passagens por Fortaleza, CSA, Santa Cruz e Náutico.</p>
<p class='noticia-conteudo'>O atleta estava no Petrópolis, do Rio de Janeiro.  Veja perfil do atleta abaixo. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_17_0.jpg"></div><p class='foto-descricao'>Elivelton, treino, Fluminense, Laranjeiras — Foto: Fernando Cazaes/Photocamera</p>
Veja abaixo o perfil do jogador.</p>
<p class='noticia-conteudo'>Elivelton

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_17_1.jpg"></div><p class='foto-descricao'>elivelton desembarque protesto torcida — Foto: Fernando Cazaes/Photocamera</p>
Elenco do River-PI para 2025 até o momento
Zagueiros: Yan Silva, Neguete e Elivelton;
Lateral: Caetano;
Meio-campo: Fidélis, Erlon Corrêa e Bobô;
Atacantes: Danillo Bala e Denis Ribeiro. 
Julio Costa, comentarista do Globo Esporte, analisa contratações do River-PI para 2025

O Tricolor ainda segue em formação do elenco.  A ideia é que o novo elenco, que vai disputar apenas a elite do estadual, possa começar as atividades de pré-temporada no dia 2 de dezembro.</p>
<p class='noticia-conteudo'>O Galo segue com as contratações mesmo com as eleições agendadas para dia 25 de novembro.  Até este momento, apenas uma chapa está registrada para o pleito: a chapa "Eterno Campeão". 
O River-PI está no Grupo A do Campeonato Piauiense com Altos, Fluminense-PI e Atlético-PI.</p>
<p class='noticia-conteudo'>A competição está agendada para iniciar a partir do dia 11 de janeiro.  A Federação de Futebol do Piauí (FFP) projeta anunciar a tabela do estadual até 20 de novembro..</p>
{% endblock main_content %}

