
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}ceara{% endblock title %}
{% block main_title %}ceara{% endblock main_title %}
{% block second_title %}Léo Condé conquista quarto acesso da carreira com Ceará{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Léo Condé conquista quarto acesso da carreira com Ceará
Treinador do Ceará disputou cinco acessos nas últimas seis temporadas



Ceará apresenta Léo Condé para Série B
O acesso do Ceará passa por vários personagens importantes.  Um dos principais destaques da campanha é o técnico Léo Condé.  O treinador chegou para comandar a equipe no fim de junho, encontrou o time na 11ª posição e que não vencia há quatro jogos.</p>
<p class='noticia-conteudo'>Escreveu um novo fim para essa história e triunfa com novo acesso para carreira e com a esperada volta para a elite do torcedor alvinegro. 

Léo Condé tem conseguido construir uma carreira de sucessos nos acessos.  Nas últimas seis temporadas, o treinador subiu para a Série B com Botafogo-SP e Novorizontino.</p>
<p class='noticia-conteudo'>Na Segundona, chegou perto de conseguir a vaga para a primeira divisão em duas oportunidades, ambas à frente do Sampaio Corrêa, e confirmou o acesso com o Vitória em 2023. 
Em 2024, a história se repetiu com o Ceará.  Condé estreou oficialmente com derrota para o Santos e depois também não venceu o Paysandu, porém conseguiu fazer testes e imprimir um estilo de jogo na equipe.</p>
<p class='noticia-conteudo'>O Alvinegro de Condé engatou e foi subindo degraus na escada do acesso. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_23_0.jpg"></div><p class='foto-descricao'>Léo Condé, Ceará — Foto: Thiago Gadelha/SVM</p>
O primeiro discurso do técnico para o torcedor do Ceará foi pé no chão.  O tom da primeira coletiva foi sério, com muita franqueza e deixando de lado as autodefinições e autopromoções.</p>
<p class='noticia-conteudo'>Prometeu estruturar a equipe e afirmou que confiava nas pessoas que estavam na organização de setores extracampo.  A parceria funcionou e foi evoluindo até a conquista final. 
Contra o Guarani, chegou ao capitulo final de forma emocionante.</p>
<p class='noticia-conteudo'>. .  Sem Saulo Mineiro, lesionado, o time empatou em 0 a 0 com o Guarani neste domingo (24), no Brinco de Ouro, mas comemorou o acesso.</p>
<p class='noticia-conteudo'>Os dois times - Ceará e Novorizontino - tiveram os mesmos 66 pontos, mas o Vozão ganhou uma a mais: 19 a 18. 
Nos 23 jogos no comando do time, conquistou 13 vitórias, 7 derrotas e três empates.  Foram pontos conquistados e uma escalada na tabela que deixaram o Alvinegro na cola do G-4 na maior parte do segundo turno.</p>
<p class='noticia-conteudo'>O time então chegou na reta final dependendo apenas de si para alcançar a primeira divisão. 
Nas últimas temporadas, apenas em 2019 o treinador não brigou pelo acesso em competições nacionais.  Condé já disputou a Segundona em sete oportunidades, e o melhor desempenho foi no ano passado, com o Vitória, quando foi campeão da Série B.</p>
<p class='noticia-conteudo'>Em 2022, Condé comandou o Sampaio Corrêa e terminou a competição na 5ª posição. 
Últimos trabalhos de Léo Condé:

Caminho até o Ceará
A trajetória de Condé como técnico no futebol profissional tem vitórias e conquistas importantes.  Depois de passar por Tupi, Ipatinga, Villa Nova e Nova Iguaçu, o treinador chegou na Caldense, em 2014 e voltou em 2015.</p>
<p class='noticia-conteudo'>Lá escreveu uma história com direito a campanha histórica, chegando invicto à final contra o Atlético-MG, no Campeonato Mineiro. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_23_1.jpg"></div><p class='foto-descricao'>Técnico Léo Condé — Foto: Régis Melo</p>
No confronto, foi derrotado pelo Galo por 2 a 1, porém, a notoriedade do trabalho construído rendeu para Condé uma oportunidade no Sampaio Corrêa no mesmo ano.  O resultado foi o 8º lugar da Série B.</p>
<p class='noticia-conteudo'>Uma boa colocação para o material que tinha em mãos e na estreia na Segundona. 
No ano seguinte, o treinador conquistou o acesso da Série C para a Série B com o Botafogo-SP.  Depois dessa campanha, Condé não teve continuidade nos trabalhos até 2020, quando voltou ao Sampaio Corrêa e conquistou a 6ª posição da Série B.</p>
<p class='noticia-conteudo'>No Novorizontino conquistou o Troféu do Interior e levou o time, pela primeira vez, à segunda divisão nacional.  Já em 2022, o técnico surpreendeu ao ficar na 5ª colocação da Série B. 
50 vídeos
CEARÁ.</p>
{% endblock main_content %}

