
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Liga Conferência conheça a ascensão meteórica do brasileiro que enfrentará o Chelsea{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Liga Conferência: conheça a ascensão meteórica do brasileiro que enfrentará o Chelsea
Leo Scienza, de 26 anos, é atacante do Heidenheim, modesto clube alemão que se classificou para primeira competição internacional logo em seu primeiro ano na Bundesliga


Melhores momentos: FC Heidenheim 1846 4 x 0 Augsburg (Bundesliga)
0 seconds of 0 seconds
Dentre os oito brasileiros que fazem parte de elencos da Bundesliga (primeira divisão da Alemanha) na temporada 2024/25, um deles teve ascensão curta e meteórica na carreira.  Nesta quinta-feira, o atacante de 26 anos Leo Scienza, do modesto Heidenheim, enfrentará o poderoso Chelsea pela quarta rodada da Liga Conferência às 14h45 (horário de Brasília). 

Quando pisar o gramado da Voith-Arena, Leonardo Weschenfelder Scienza pode por um breve momento confundir seus adversários da vida real com aqueles que meses atrás enfrentava só pelo videogame e pensar: "Olha onde eu cheguei!".</p>
<p class='noticia-conteudo'>Segundos depois, sai a emoção, entra a adrenalina e o campo torna-se novamente o melhor lugar no qual poderia estar. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_33_0.jpg"></div><p class='foto-descricao'>Leo Scienza comemora gol pelo Heidenheim na fase preliminar da Liga Conferência — Foto: Kevin Damrose / FC Heidenheim</p>
A trajetória europeia de Leo é daquelas fáceis de explicar e difíceis de entender.  Até os 20 anos, o gaúcho de Venâncio Aires, cidade a 130 quilômetros de Porto Alegre, famosa pelo título de “Capital do Chimarrão”, jogava futsal na Assoeva (Associação Esportiva de Venâncio Aires), equipe que ficou em penúltimo lugar na Liga Nacional deste ano.</p>
<p class='noticia-conteudo'>Naquele 2018, também frequentava campeonatos de futebol de campo amadores da região.  Mas não estava satisfeito.  Já havia tentado a vida com a bola em Grêmio e Inter.</p>
<p class='noticia-conteudo'>Chegou a atuar na base da Chapecoense.  Nada. 
– Comecei relativamente tarde a jogar no campo.</p>
<p class='noticia-conteudo'>Nunca tive oportunidade de jogar em Inter e Grêmio, não sei por que, pois eu sabia que era bom, me destacava.  Talvez pela falta de um empresário bom, contatos mais fortes.  Não me deram chance, paciência.</p>
<p class='noticia-conteudo'>Não guardo mágoa.  Tudo isso serviu para estar onde estou hoje.  Melhor não poderia estar – destaca Leo Scienza em entrevista exclusiva ao ge.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_33_1.jpg"></div><p class='foto-descricao'>Leo Scienza (à frente, com a camisa 10) no futsal da Assoeva, em Venâncio Aires, no Rio Grande do Sul — Foto: Arquivo Pessoal</p>
Mas a verdade é que Leo precisou perambular pelo lado B do continente onde hoje se joga o melhor futebol do mundo.  Empresários levaram ele e mais alguns atletas para fazer testes na primeira e segunda divisão da Suécia.  A promessa era de salários na casa dos 500 euros por mês.</p>
<p class='noticia-conteudo'>A realidade o colocou em um time da quinta divisão, totalmente amador. 
– Nunca vi dinheiro.  Morava no sótão da casa do dono do time.</p>
<p class='noticia-conteudo'>Fiquei um ano e meio dormindo em um colchão no chão.  Se ele viajava por muito tempo, faltava comida.  Mas sempre fui muito persistente, resiliente.</p>
<p class='noticia-conteudo'>Quando pensava em voltar, mordia os dentes e confiava – conta. 
Em dois anos, tudo muda
Até que surgiu a oportunidade de um teste no Schalke 04, da Alemanha.  Segundo Leo, bastou um dia de treinos para que seu talento chamasse atenção.</p>
<p class='noticia-conteudo'>Assinou contrato de dois anos para o time sub-23 e a vida começou a mudar. 
Só que o clube detentor de uma das maiores torcidas do país e rival do Borussia Dortmund afundou em uma crise na mesma época.  Foi rebaixado para a segunda divisão, onde está até hoje.</p>
<p class='noticia-conteudo'>Precisou recuar novamente e jogar no Magdeburg, da quarta divisão. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_33_2.jpg"></div><p class='foto-descricao'>Leo Scienza nos braços da torcida do Ulm, campeão da terceira divisão — Foto: Divulgação / Ulm</p>
Em julho de 2023, o brasileiro transferiu-se para o Ulm, da terceira divisão.  É de lá que guarda as melhores lembranças.</p>
<p class='noticia-conteudo'>Leo Scienza participou de 27 gols – 12 bolas na rede e 15 assistências, segundo o Transfermarkt – na temporada que teve título com 10 pontos à frente do vice e a marca individual de melhor jogador da competição. 
O destaque trouxe o interesse de equipes da segunda e da primeira divisão.  A escolha foi pelo Heidenheim, que entrava em seu segundo período de Bundesliga na história e já classificado para a Liga Conferência.</p>
<p class='noticia-conteudo'>A cidade de Heidenheim fica no centro-sul da Alemanha, a 170 quilômetros de Munique, mas no caminho inverso ao da capital Berlim.  É a típica cidade pacata de interior, com cerca de 50 mil habitantes.  Por isso o time está longe de ser uma potência.</p>
<p class='noticia-conteudo'>Em 11 jogos na Bundesliga, acumula três vitórias, um empate e sete derrotas, a última delas no sábado, para o Bayer Leverkusen, por 5 a 2, depois de abrir 2 a 0 no primeiro tempo.  Ocupa o 15º lugar, à beira da zona de rebaixamento. 
Sonho de seleção?
Para um jogador que chegou aos 20 na Europa por um contexto completamente diferente, Leo Scienza comemorou o aniversário de 26 anos com gol marcado contra o Borussia Monchengladbach.</p>
<p class='noticia-conteudo'>Já são três e uma assistência com a camisa do Heidenheim. 
O brasileiro também possui cidadania de Luxemburgo, pequeno país que faz fronteira com a Alemanha e a Bélgica.  Já recebeu convite para atuar pela seleção, mas as regras da Fifa o impedem.</p>
<p class='noticia-conteudo'>No ano que vem, poderá se tornar alemão.  O sonho de vestir a camisa amarelinha, aliás, entende que ainda é distante. 
– Não quero nem falar disso (seleção brasileira).</p>
<p class='noticia-conteudo'>São os melhores do mundo na minha posição.  Quero me destacar na Bundesliga.  Mas pela história que tenho, a vida já me mostrou que nada e impossível.</p>
<p class='noticia-conteudo'>Pode ser que aconteça – sorri. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_33_3.jpg"></div><p class='foto-descricao'>Leo Scienza finaliza na partida contra o Borussia Dortmund pela Bundesliga — Foto: Kevin Damrose / FC Heidenheim</p>
Nesta quinta-feira, o guri que saiu do interior do Rio Grande do Sul para um futuro totalmente incerto na Europa terá o maior desafio da carreira diante do Chelsea.  As duas equipes têm 100% de aproveitamento após três rodadas da Liga Conferência.</p>
<p class='noticia-conteudo'>Momento perfeito para Leo Scienza dar uma guinada na curta e meteórica carreira europeia. 
CHELSEA.</p>
{% endblock main_content %}

