
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}palmeiras{% endblock title %}
{% block main_title %}palmeiras{% endblock main_title %}
{% block second_title %}Luis Enrique avisou, Messi x Palmeiras... Veja reações nas redes ao sorteio do Mundial{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>"Luis Enrique avisou", Messi x Palmeiras. ..</p>
<p class='noticia-conteudo'>Veja reações nas redes ao sorteio do Mundial
Grupos do torneio entre equipes de todo o mundo foram escolhidos nesta quinta-feira, em Miami

05/12/2024 15h57 Atualizado há 18 horas

Mundial de Clubes 2025: confira imagens do troféu
O sorteio do Mundial de Clubes colocou Botafogo, Flamengo, Palmeiras e Fluminense em confronto com grandes equipes da Europa e suas estrelas.  Tão logo os grupos eram sorteados na tarde desta quinta-feira, em Miami, nos Estados Unidos, as redes sociais repercutiram com muita irreverência os duelos. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_129_0.jpg"></div><p class='foto-descricao'>Perfil de torcedor do Íbis brinca com grupos do Mundial de Clubes — Foto: Reprodução/Ibismania</p>
Confira os memes:
Botafogo contra PSG e Atletico de Madri
Luis Henrique visionário
Vem tranquilo, Messi
A dupla Fla-Flu
Reencontros
Velhos companheiros
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_129_1.jpg"></div><p class='foto-descricao'>Gianni Infantino e Ronaldo Fenômeno apresentam troféu do Mundial de Clubes da Fifa — Foto: Brian Snyder/Reuters</p>.</p>
{% endblock main_content %}

