
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Lusa planeja 2025 com reforços, departamento de inteligência e pré-temporada no interior{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Lusa planeja 2025 com reforços, departamento de inteligência e pré-temporada no interior
Tadeu Oliveira, diretor executivo da Portuguesa, detalhou como será a preparação da equipe



A Portuguesa se transforma em uma SAF e terá um novo Canindé
A Portuguesa planeja com pressa a próxima temporada da equipe, que começa no dia 15 de janeiro, contra o Palmeiras, no Allianz Parque, pelo Paulistão.  Com calendário cheio, o clube tem jogadores encaminhados e quer fechar o elenco até janeiro.  Além disso, a equipe já tem acordo para que a pré temporada seja realizada fora de São Paulo.</p>
<p class='noticia-conteudo'>Para a montagem do elenco, o clube contará com uma ferramenta valiosa.  Segundo Tadeu Oliveira, diretor da Lusa, será criado um novo Departamento de Inteligência de Mercado da Portuguesa.  O centro consiste em uma unidade com analistas de desempenho e dados de atletas para auxiliar na contratação de jogadores.</p>
<p class='noticia-conteudo'>Modelo parecido com o CIFUT, do Corinthians. 
-- Nós já estamos nesse projeto de construir um departamento de inteligência de mercado para a Portuguesa.  Então hoje o processo de contratação na Portuguesa, ele está muito similar a grandes clubes de Série A do Brasil.</p>
<p class='noticia-conteudo'>Então, quando alguém indica um jogador, ele passa por um filtro.  Esse filtro é composto por um especialista, pela diretoria de futebol e depois chega na comissão técnica -- contou Tadeu Oliveira. 
Mais da Lusa:



<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_26_0.jpg"></div><p class='foto-descricao'>Tadeu Oliveira, diretor esportivo da Portuguesa — Foto: Reprodução / Instagram</p>
O diretor também afirma que a Lusa já tem muitos jogadores alinhados, inclusive com contratos em mãos, faltando apenas a assinatura para o anúncio.</p>
<p class='noticia-conteudo'>Em entrevista ao ge, Alexandre Bourgeois, gestor de futebol, afirmou que até 9 de dezembro já esperam ter anunciado todos os contratados:
-- Sim, temos muitos jogadores já alinhados.  Em contatos, inclusive para fechamento de documentos, né, que justamente, culminam num pré-contrato, mas a gente só vai anunciar e também nós só vamos disponibilizar isso nas nossas redes sociais depois que tiver tudo acertado, porque nós temos o compromisso com o torcedor de não criar expectativa. 
Sobre a pré-temporada, o projeto da Portuguesa envolve uma estratégia bem definida, que será dividida em dois períodos.</p>
<p class='noticia-conteudo'>O primeiro ocorrerá no Centro de Treinamento da equipe, no Parque Ecológico, do dia 4 ao dia 21 de dezembro. 
Já a segunda parte da pré-temporada começará no dia 2 de janeiro e será realizada no Desportivo Brasil, em Porto Feliz, interior de São Paulo.  O clube considera que o clube possui uma estrutura adequada para potencializar a parte física dos atletas.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_26_1.jpg"></div><p class='foto-descricao'>Canindé, estádio da Portuguesa — Foto: Divulgação / Portuguesa</p>
Além disso, estão programados dois amistosos durante esse período, possivelmente, com duas equipes de São Paulo, que ainda não foram reveladas. 
-- No Desportivo Brasil, em Porto Feliz, que tem uma estrutura bem interessante para que a gente possa potencializar a parte física dos atletas e fazer uma espécie de fechamento do grupo.  Temos dois amistosos aí colocados em cronogramas ainda não alinhados com nenhuma das equipes de São Paulo, mas temos dois amistosos já programados para serem executados ao longo desse período.</p>
<p class='noticia-conteudo'>-- detalhou Tadeu. 
Cauan de Almeida, novo técnico da Lusa, terá calendário cheio na próxima temporada.  O clube vai disputar o Paulistão, Brasileirão Série D e também a Copa do Brasil.</p>
<p class='noticia-conteudo'>*Colaborou sob supervisão de Leandro Canônico..</p>
{% endblock main_content %}

