
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}internacional{% endblock title %}
{% block main_title %}internacional{% endblock main_title %}
{% block second_title %}Maestro do Inter, Alan Patrick dita o ritmo também fora de campo e se arrisca no samba{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Maestro do Inter, Alan Patrick dita o ritmo também fora de campo e se arrisca no samba
Camisa 10 colorado é apaixonado por música e gosta de tocar instrumentos na intimidade



Alan Patrick tem o pagode como uma das paixões
Se Alan Patrick é o maestro do Inter em campo, o meia ataca como músico fora das quatro linhas.  A facilidade que tem para desmontar defesas aparece também quando está munido do banjo.  O fiel parceiro reproduz no samba a cadência que desfila quando está com a bola para organizar as jogadas do time de Roger Machado.</p>
<p class='noticia-conteudo'>A música é uma das paixões do camisa 10.  Não é raro ver em suas publicações o instrumento a tiracolo.  Aliás, até mesmo o Inter já publicou vídeo com Alan Patrick na faceta musical.</p>
<p class='noticia-conteudo'>Outro corte surge de tempos em tempos nas redes sociais, no qual ele toca com uma banda de pagode em uma festa, com as presenças de Renê, Igor Gomes, Anthoni e Mauricio, entre outros. 
Peça-chave no Inter, Alan Patrick aumenta participações em gols com mudança tática
O samba e o pagode são os ritmos que mexem com o meia.  O gosto, inclusive, serve para estreitar até as relações no vestiário.</p>
<p class='noticia-conteudo'>Em 21 de outubro, dois dias após o Colorado vencer o Gre-Nal 443, o capitão apareceu em uma foto com Roger Machado, o auxiliar Roberto Ribas, o preparador físico Paulo Paixão, Vitão e Bernabei com a banda de pagode Virozueira. 
Veja mais



Se o dom com a bola no pé já encanta, Alan Patrick se dedica para evoluir na música.  Chega a fazer aulas com Thyago Wendell.</p>
<p class='noticia-conteudo'>A parceria teve início em 2015, quando o meia defendia o Palmeiras. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_52_0.jpg"></div><p class='foto-descricao'>Alan Patrick toca banjo — Foto: Reprodução</p>
O contato aconteceu por meio de um velho conhecido dos colorados e com quem o camisa 10 embalava a trilha colorada em 2014 : o hoje ex-lateral-esquerdo Fabrício. 
Músico profissional, Thyago não demorou a tabelar com Alan Patrick.</p>
<p class='noticia-conteudo'>O meia já gostava de tocar e aproveitou a parceria que nascia para pedir informações e evoluir no desempenho. 
– É mais pagode.  O banjo é o (instrumento) preferido dele.</p>
<p class='noticia-conteudo'>Virou o passatempo preferido.  O Alan vai bem, é muito esforçado.  Quando não estou, mando conteúdo na semana para estudar – revela Thyago.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_52_1.jpg"></div><p class='foto-descricao'>Alan Patrick tem o banjo como instrumento favorito — Foto: Arquivo pessoal</p>
O amor pela música aparecia desde quando era promessa do Santos.  Em 2010, junto a Neymar, André e Bruno Henrique, Alan Patrick pegou um pandeiro e tocou com o grupo Algo Mais. 
O jogador admira nomes como Arlindo Cruz, Fundo de Quintal, Sensação e Seu Jorge.</p>
<p class='noticia-conteudo'>A dupla, inclusive, acompanha alguns shows em momentos de descanso.  É o que faz AlanPa sair do refúgio na chácara que tem em Catanduva, sua cidade natal, distante 210 km de São Paulo. 
A conexão com Thyago foi tanta que, mesmo quando trocou o Palmeiras pelo Flamengo, levou o amigo para um período no Rio.</p>
<p class='noticia-conteudo'>Algo que se repetiu quando o meia defendia o Shakhtar.  O músico passou meses na Ucrânia para ensinar a filha do colorado, Camille Victoria, a tocar ukulele e piano. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_52_2.jpg"></div><p class='foto-descricao'>Alan Patrick esteve com Bernabei, Vitão, Roger, Paulo Paixão e Roberto Ribas em um samba na folga do Inter — Foto: Reprodução, Instagram</p>
Na cadência do samba, o camisa 10 retomou o protagonismo após a lesão no joelho esquerdo.</p>
<p class='noticia-conteudo'>Nos 13 jogos em que foi titular desde então, anotou sete gols e contribuiu com três assistências. 
Lidera ambos os quesitos na temporada.  Soma 12 gols, ao lado de Wesley, e oito assistências.</p>
<p class='noticia-conteudo'>Ainda tenta superar as marcas da última temporada, quando anotou 16 e deu 10 passes para gols. 
Caso não desafine, colocará o Inter na fase de grupos da Conmebol Libertadores de 2025.  O próximo compromisso será contra o Flamengo, seu ex-clube, no domingo, às 16h, no Maracanã.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_52_3.jpg"></div><p class='foto-descricao'>Alan Patrick posa para foto com Arlindo Cruz e Arlindinho — Foto: Reprodução, Twitter</p>


50 vídeos
INTERNACIONAL.</p>
{% endblock main_content %}

