
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Manchester City negocia com mais três reforços para janeiro; veja lista{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Além do zagueiro Vitor Reis, clube de Pep Guardiola vai ao mercado por Khusanov, do Lens, Omar , do Eintracht Frankfurt, e McFarlane, do New York City FC



Vitor Reis no Manchester City?: “é muito dinheiro para um zagueiro, não dá para recusar”

Clique aqui para seguir o novo canal ge Futebol Internacional no WhatsApp
As negociações estão avançadas nas três transferências, e a expectativa é que elas sejam finalizadas até o final deste mês, segundo o jornal inglês "Sky Sports".  Vale lembrar que a primeira janela de contratações de 2025 na Inglaterra vai de 1 de janeiro a 3 de fevereiro. 

Omar  é uma das grandes sensações da Bundesliga, com 13 gols e sete assistências em 15 partidas.</p>
<p class='noticia-conteudo'>O atacante de 25 anos foi um pedido pessoal do técnico Pep Guardiola, o que fez o jogador se interessar ainda mais pela proposta da Premier League.  O egípcio já deu o "ok" para a assinar com o City e aguarda as negociações entre o Manchester e o Frankfurt. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_9_0.jpg"></div><p class='foto-descricao'>Omar  é líder na artilharia da Bundesliga, com oito gols em seis jogos — Foto: Reprodução / Omar </p>
O "Sky Germany" assegura que a contratação deve envolver cerca de 80 milhões de euros, aproximadamente R$ 498 milhões na cotação atual.</p>
<p class='noticia-conteudo'>A proposta oficial do Manchester City será enviada neste final de semana. 
Khusanov
Ainda segundo o jornal inglês, o Manchester City já fez uma proposta formal por Abdukodir Khusanov.  O zagueiro do Uzbequistão está no Lens desde 2023 e tem contrato por mais duas temporadas.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_9_1.jpg"></div><p class='foto-descricao'>Abdukodir Khusanov durante Lens x PSG, pela Copa da França — Foto: Xavier Laine/Getty Images</p>

Com apenas 20 anos, Khusanov seria uma aposta à longo prazo.  Sobretudo pela defesa atual do Manchester City ser formada majoritariamente por jogadores mais velhos, como Kyle Walker (34 anos), Rúben Dias (27), John Stones (30), Nathan Aké (29) e Manuel Akanji (29). 
O mesmo princípio acontece na tentativa do City de tirar Vitor Reis do Palmeiras.</p>
<p class='noticia-conteudo'>O zagueiro de apenas 18 anos é considerado um dos mais promissores do Brasil na posição e pode custar até R$ 250 milhões aos cofres ingleses. 
McFarlane
Entre as três, a negociação mais avançada é a de Christian McFarlane, lateral do New York City FC.  Aos 17 anos, ele se destaca na MLS e nas categorias de base da seleção da Inglaterra.</p>
<p class='noticia-conteudo'>O Manchester City concluirá as formalidades da transferência nos próximos dias. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_9_2.jpg"></div><p class='foto-descricao'>Christian McFarlane, lateral de 17 anos do New York City FC — Foto: Eston Parker/ISI Photos/Getty Image</p>
Uma facilidade da negociação é que o City e o New York são comandados pela mesma empresa, o City Football Group.  McFarlane completará 18 anos em 25 de janeiro e fará parte do time B do Manchester para que possa se desenvolver.</p>
<p class='noticia-conteudo'>Manchester City 4 x 1 West Ham | Melhores momentos | Campeonato Inglês

PREMIER LEAGUE.</p>
{% endblock main_content %}

