
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Manchester City agrava crise na Premier League com guerra de cartas{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Manchester City agrava crise na Premier League com "guerra de cartas"
Clube e liga do Campeonato Inglês travam batalha nos bastidores e trocam acusações às vésperas de votação sobre regras mais rígidas para acordos comerciais



Gringolândia debate: Manchester City liga alerta após terceira derrota seguida?
Só piora o clima nos bastidores da Premier League.  O Manchester City enviou uma carta aos outros 19 clubes do Campeonato Inglês e à federação de futebol da Inglaterra (FA) com a alegação de que seriam "ilegais" as propostas de mudanças no regulamento da liga sobre acordos comerciais. 
O clube não publicou essa carta abertamente, mas informações sobre o documento vazaram para a imprensa inglesa.</p>
<p class='noticia-conteudo'>Os clubes da Premier League se reúnem na sexta-feira que vem para votar sobre essas mudanças nas regras da liga. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_16_0.jpg"></div><p class='foto-descricao'>Manchester City, time de Guardiola, enfrenta momento delicado dentro de campo, e o clube fora — Foto: Adam Davy/PA Images via Getty Images</p>
O Manchester City afirmou que os seus pares votarão "às cegas" as emendas às regras de Transações entre Partes Associadas (APT).  Elas foram inseridas na liga na tentativa de se evitar que os clubes obtivessem maiores receitas com acordos comerciais inflacionados.</p>
<p class='noticia-conteudo'>O City teve uma disputa na Justiça contra a Premier League sobre esse tema, em que ambos os lados declararam vitória, mas o Tribunal Arbitral ficou de esclarecer melhor a decisão do mês passado. 
A Premier League também enviou uma carta aos outros 19 clubes, classificando as afirmações do Manchester City sobre essa briga como "infundadas".  Vale lembrar que muitos dos integrantes da liga inglesa obtiveram empréstimos recentes de seus proprietários, como o Everton.</p>
<p class='noticia-conteudo'>Essa discusão das regras comerciais da Premier league é um caso paralelo ao "Julgamento do Século", onde o Manchester City enfrenta 115 acusações de violação das regras de fair play financeiro. 

Entenda o escândalo das violações financeiras do Manchester City
MANCHESTER CITY
PREMIER LEAGUE.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

