
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Manchester City ganha apoio de rival em votação contra regras da Premier League{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Manchester City ganha apoio de rival em votação contra regras da Premier League
Aston Villa acredita que clubes devem apresentar uma "frente unida" contra as regras da liga inglesa a respeito das transações entre partes (ATP); votação das 20 equipes será nesta sexta-feira

21/11/2024 07h34 Atualizado

Entenda o escândalo das violações financeiras do Manchester City
O Manchester City não está sozinho na batalha contra a Premier League.  Nassef Sawiris, coproprietário do Aston Villa, manifestou apoio aos Cityzens contra as novas regras de transações entre partes da liga inglesa.  O Villa apoia uma "frente unida" contra as novas regras do campeonato, que serão votadas nesta sexta-feira.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_3_0.jpg"></div><p class='foto-descricao'>Manchester City e Aston Villa — Foto: Clive Brunskill/Getty Images</p>
O Aston Villa posiciona-se contra as novas regras de transações entre partes associadas (ATP) da Premier League.  Todos os 20 clubes da elite inglesa devem votar a favor ou contra as propostas nesta sexta-feira, dia 22 de novembro.  A visão do Villa é que as taxas aos clubes podem ser "astronômicas" e que os times devem formar uma "frente unida".</p>
<p class='noticia-conteudo'>O Manchester City, que tem como proprietário Sheikh Mansour, membro da família real de Abu Dhabi, processa desde junho a Premier League, acusando-a de “discriminação contra os proprietários do Golfo” e tentando pôr fim às regras de Transações com Partes Associadas (APT). 
Essas regras são sobre como os clubes estabelecem acordos de patrocínio ou receitas relacionadas à sua propriedade.  Os clubes votaram pela aprovação de regras mais rígidas sobre isso em fevereiro deste ano.</p>
<p class='noticia-conteudo'>Uma consequência da compra do Newcastle pelo fundo de investimentos da Arábia Saudita, em 2021.  O objetivo era impedir a inflação de acordos de patrocínio ligados aos donos de clube. 

Gringolândia debate: Manchester City liga alerta após terceira derrota seguida?
Mesmo que esta audiência não esteja diretamente relacionada ao "Julgamento do Século", a alteração destas regras reduziria as acusações ao Manchester City, o que poderia diminuir possíveis sanções.</p>
<p class='noticia-conteudo'>As acusações da Premier League ao City
As supostas violações financeiras do clube teriam ocorrido entre 2009 e 2018.  O Manchester City é acusado de ter violado as regras da liga que exigem "a melhor fé" na hora de declarar informações "que forneçam uma visão verdadeira e justa da posição financeira do clube".  Nesse período, o time conquistou três títulos do Campeonato Inglês, incluindo a quebra de um jejum de 44 anos na liga.</p>
<p class='noticia-conteudo'>A Premier League anunciou as acusações em fevereiro de 2023, com uma série de regras que o Manchester City teria driblado por temporada.  A liga destacou a falta de precisão em informações sobre as receitas do clube (incluindo patrocínio) e os custos operacionais. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_3_1.jpg"></div><p class='foto-descricao'>Torcida do Manchester City faz festa do título da Premier League no Etihad Stadium antes de jogo contra o Chelsea — Foto: Getty Images</p>
A comissão também vai investigar supostas violações no detalhamento sobre pagamento a técnicos do City, entre 2009/10 e 2012/13.</p>
<p class='noticia-conteudo'>Nesse período, o treinador era o italiano Roberto Mancini. 
A liga indica que houve possíveis problemas nas informações sobre a remuneração de jogadores nos contratos entre 2010/11 e 2015/16.  Além disso, a acusação envolve infrações nas regras de sustentabilidade da Premier League e o regulamento no licenciamento na Uefa.</p>
<p class='noticia-conteudo'>A Premier League menciona possível quebra das suas regras, desde dezembro de 2018 até hoje, no que diz respeito à cooperação com a própria liga para as investigações. 
Possíveis punições
Se for considerado culpado em algumas ou todas as acusações, o Manchester City poderá perder muitos pontos, rebaixamento ou, até mesmo, uma expulsão da Premier League. 
Recentemente, Everton e Nottingham Forest sofreram deduções de pontos na temporada passada por violações únicas das regras de lucro e sustentabilidade.</p>
<p class='noticia-conteudo'>PREMIER LEAGUE.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

