
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}criciuma{% endblock title %}
{% block main_title %}criciuma{% endblock main_title %}
{% block second_title %}Manchester City prepara mudanças no elenco, e quatro medalhões podem sair; veja lista{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Manchester City prepara mudanças no elenco, e quatro medalhões podem sair; veja lista
Sequência ruim de resultados impulsiona reformulação, e diretoria admite saídas de jogadores na próxima temporada



Liverpool 2 x 0 Manchester City | Melhores Momentos | 13ª rodada | Campeonato Inglês 24/25
A crise do Manchester City vai atingir o elenco.  Em longa reportagem mostrando os bastidores do clube, o site "The Athletic" informou que uma das conclusões da diretoria é a necessidade de reformular o elenco para a próxima temporada.  Quatro medalhões são citados como possíveis baixas: Ederson, Kyle Walker, Kevin De Bruyne e Jack Grealish.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_16_0.jpg"></div><p class='foto-descricao'>Kevin de Bruyne, meia belga do Manchester City — Foto: REUTERS/Toby Melville</p>
De acordo com a reportagem, a diretoria está ciente de que precisará tomar decisões duras em relação a jogadores que deram muito ao clube, mas que não vêm rendendo o esperado na temporada. 
- O que está ficando cada vez mais claro é que o City precisará agir decisivamente no próximo verão.  Como sempre acontece com times vencedores, eles podem ter esperado demais para liberar alguns dos jogadores que foram importantes.</p>
<p class='noticia-conteudo'>As pessoas relevantes da diretoria do City estão cientes de que precisarão tomar decisões racionais, e isso pode incluir jogadores de topo que foram fundamentais nos momentos mais felizes do time - escreveu o site. 

Fragilidade defensiva do Manchester City chama a atenção; veja análise no Gringolândia
O lateral-direito Kyle Walker é citado como maior exemplo de jogador que deveria ter sido vendido antes.  A diretoria, entretanto, decidiu esperar para começar a reformular o elenco somente em 2025, o que resultou em resultados abaixo do esperado neste início de temporada.</p>
<p class='noticia-conteudo'>Lesões e episódios de acomodação
Além das lesões - especialmente a de Rodri -, a reportagem mostra outros motivos para a queda de rendimento do City.  Um clima de acomodação foi citado, com dois exemplos de bastidores nos últimos dias:
Na derrota para o Liverpool, enquanto Guardiola se irritava com as provocações dos torcedores rivais, jogadores do City surpeenderam os próprios adversários com uma postura relaxada em meio a derrota; alguns, inclusive, estavam rindo e fazendo piadas com atletas dos Reds em campo;
Na última semana, jogadores titulares fizeram uma espécie de treino coletivo contra jovens da base do clube.  Segundo a reportagem, "foram os jovens que roubaram o show" durante o treino.</p>
<p class='noticia-conteudo'>Guardiola segue prestigiado
Mesmo com os problemas, a situação de Guardiola está fora de perigo no momento.  O técnico renovou recentemente seu contrato, que acabava em junho de 2025, e é visto como principal pilar para a reformulação do elenco, inclusive na tarefa de atrair novos jogadores. 
Há sete jogos em vencer, o City ocupa a quinta posição na Premier League, 11 pontos atrás do Liverpool.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}

