
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Manchester City anuncia renovação de contrato com Pep Guardiola até 2027{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Manchester City anuncia renovação de contrato com Pep Guardiola até 2027
Técnico assina extensão de dois anos do vínculo com o clube inglês; espanhol pode se tornar o treinador com mais jogos no comando da equipe



Manchester City oficializa a renovação do contrato de Pep Guardiola
O Manchester City anunciou nesta quinta-feira a renovação de contrato com o técnico Pep Guardiola.  O treinador assinou extensão de dois anos do vínculo com o clube.  Isso significa que Guardiola completará mais de uma década no comando do time inglês, caso cumpra o acordo até o fim, em 2027.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_0.jpg"></div><p class='foto-descricao'>Pep Guardiola pode ser campeão da Premier League pelo quinto ano seguido — Foto: Divulgação / Manchester City</p>
✅Siga o novo canal ge Futebol Internacional no WhatsApp
— O tempo de Guardiola no City é carregado de sucesso.  Ele ganhou até agora 18 troféus importantes, incluindo seis títulos da Premier League e um da Champions League — afirmou o Manchester City, no comunicado oficial da renovação de contrato. 
Guardiola comandou o Manchester City em 490 jogos até hoje e venceu 353 partidas (aproveitamento de 72%).</p>
<p class='noticia-conteudo'>Foram 1200 gols marcados, o que dá uma média de 2,45 por jogo.  Nesse período, o time conquistou 18 títulos ao todo. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_1.jpg"></div><p class='foto-descricao'>Guardiola conquistou 18 títulos pelo Manchester City até hoje — Foto: Divulgação / Manchester City</p>
— Eu senti que não podia ir embora agora, é simples assim.</p>
<p class='noticia-conteudo'>Não me pergunte a razão.  Talvez as quatro derrotas seguidas recentes tenham sido a razão, e eu senti que não podia sair.  Senti que o clube ainda me queria, ou o fato de que estamos juntos, talvez tenha sido essa a razão de assinar — declarou Guardiola, aos canais oficiais do City.</p>
<p class='noticia-conteudo'>Diante dessa extensão de vínculo, o treinador pode ultrapassar Les McDowall (587 jogos) e se tornar o mais longevo na história do clube. 

Pep Guardiola perde a cabeça no vestiário do Manchester City
O portal The Athletic noticiou na segunda-feira que Pep Guardiola e Manchester City tinham se acertado pela renovação de contrato.  Porém, diferente da informação divulgada hoje pelo clube, a extensão do vínculo seria de mais uma temporada, com opção de mais um ano.</p>
<p class='noticia-conteudo'>Em outubro, o treinador afirmou que ainda não tinha o futuro definido e não sabia se iria renovar com o Manchester City.  Guardiola também ressaltou que não estava sendo pressionado pela diretoria do clube inglês para dar uma resposta sobre a renovação do contrato.  O anúncio da saída ao fim da temporada de Txiki Begiristain, amigo pessoal e responsável por contratar Guardiola, alimentou as especulações.</p>
<p class='noticia-conteudo'>Pep Guardiola chegou ao Manchester City em 2016, depois de temporadas gloriosas no comando do Bayern de Munique e do Barcelona.  Ao todo, o treinador soma 38 títulos em 15 anos de trabalho. 
Na Inglaterra, ele levou o City ao sonhado título da Liga dos Campeões, em 2023, e levou o clube a ser o primeiro a ganhar quatro títulos da Premier League em sequência.</p>
<p class='noticia-conteudo'>MANCHESTER CITY
PREMIER LEAGUE.</p>
{% endblock main_content %}

