
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}fluminense{% endblock title %}
{% block main_title %}fluminense{% endblock main_title %}
{% block second_title %}Mano fica Felipe Melo sai Veja situações do Fluminense que vão ser resolvidas nos próximos dias{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Clube vem organizando planejamento para 2025 após garantir a permanência na Série A



 caminha para seguir no Fluminense em 2025



Até a noite do último sábado, Fluminense e  não tinham assinado ainda o novo vínculo para 2025.  Mas, internamente, a permanência é dada como certa, sem chances de melar.  Entre as duas partes existe o entendimento para que o trabalho continue para a próxima temporada.</p>
<p class='noticia-conteudo'>A tendência é que o anúncio seja feito o quanto antes. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_419_0.jpg"></div><p class='foto-descricao'> — Foto: Alexandre Durão</p>
Renovações
Neste momento, Felipe Melo, Diogo Barbosa e Manoel estão com contrato perto do fim - Marquinhos e Felipe Alves foram avisados que não ficam para 2025.  Felipe Melo mantém o otimismo para que o vínculo seja renovado - ele quer ficar no clube por mais um período.</p>
<p class='noticia-conteudo'>Pelo lado tricolor, porém, mesmo com a questão da liderança exercida por ele, existe um entendimento que ele não faz parte dos planos como jogador para a próxima temporada.  A tendência é tudo se resolva nos próximos dias. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_419_1.jpg"></div><p class='foto-descricao'>Felipe Melo — Foto: Lucas Merçon/FFC</p>
Diogo Barbosa fazia parte dos planos para a próxima temporada.</p>
<p class='noticia-conteudo'>O lateral, porém, tem propostas de outros clubes da Série A e ainda não tem o futuro definido.  Manoel é visto como uma boa peça para compor o setor defensivo e tem bom relacionamento com .  A permanência ainda não está garantida pela questão salarial.</p>
<p class='noticia-conteudo'>John Kennedy
John Kennedy tem negociações avançadas para atuar por empréstimo pelo Pachuca, do México.  Existe um interesse de todas partes na negociação.  Porém, nenhum vínculo foi assinado até o momento.</p>
<p class='noticia-conteudo'>O Pachuca tem as atenções voltadas para a Copa Intercontinental - o time vai enfrentar o Real Madrid na final.  A negociação deve ser concluída após o fim da competição. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_419_2.jpg"></div><p class='foto-descricao'>John Kennedy comemora gol — Foto: André Durão / ge</p>
Richarlison
O Fluminense está no mercado em busca de reforços.</p>
<p class='noticia-conteudo'>O principal alvo do clube é Richarlison, do Tottenham.  O clube iniciou conversas com o jogador para tentar um retorno.  A negociação, porém é vista como muito difícil - o Flu precisa convencer o Tottenham a emprestar o jogador.</p>
<p class='noticia-conteudo'>A diretoria tricolor ainda não desistiu da negociação.  O clube espera ter novidades em outras negociações até o fim deste ano.  A tendência é que nenhum jogador seja anunciado antes da confirmação de.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_419_3.jpg"></div><p class='foto-descricao'>Richarlison em Tottenham x Brighton — Foto: Divulgação/Tottenham</p>
️ Leia mais notícias do Fluminense
 Ouça o podcast ge Fluminense.</p>
{% endblock main_content %}

