
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}fluminense{% endblock title %}
{% block main_title %}fluminense{% endblock main_title %}
{% block second_title %}Marcelo, ex-Fluminense, brinca com frase dita a Mano Menezes Não encosta em mim{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Marcelo, ex-Fluminense, brinca com frase dita a Mano Menezes: "Não encosta em mim"
Lateral fez piada com frase que causou desentendimento público no Maracanã; no dia seguinte, Flu e Marcelo romperam contrato em comum acordo


A rescisão de Marcelo com o Fluminense ainda repercute.  Em vídeo publicado por seu barbeiro, nesta quinta, lateral aparece bem-humorado repetindo a frase que causou desentendimento público com Mano Menezes.  O episódio no Maracanã, em jogo contra o Grêmio, foi o estopim para o fim do vínculo em comum acordo com o Tricolor.</p>
<p class='noticia-conteudo'>Marcelo, ex-Fluminense, brinca com frase dita a Mano Menezes: "Não encosta em mim"

— "Pera" aí, não encosta em mim não.  Qual foi? Cuidado com o meu ombro aí, por favor (risos) — disse Marcelo em vídeo. 
Na reta final do jogo no Maracanã, Marcelo entraria no lugar de Lima.</p>
<p class='noticia-conteudo'>Mano passava orientações, mas se irritou com um comentário e mandou o jogador retornar ao banco.  O técnico não disse explicitamente qual foi o motivo do desentendimento.  O ge ouviu que o lateral reclamou de toques de Mano em seu braço, com alegações de que o técnico queria "fazer média com a torcida".</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_0.jpg"></div><p class='foto-descricao'>Mano e Marcelo se desentenderam no gramado em Fluminense x Grêmio — Foto: Reprodução</p>
A frase foi apenas a gota d'água em uma relação que já não era harmoniosa nos bastidores.  Lideranças do elenco apoiaram a decisão da diretoria.  Houve queixas à fama de "reclamão" do lateral, do nível de comprometimento em meio ao momento delicado no Brasileirão e à ausência em jogos do Fluminense fora do Rio de Janeiro.</p>
<p class='noticia-conteudo'>A rescisão foi rapidamente definida após reuniões realizadas na manhã de sábado, 3 de novembro, no dia seguinte ao empate com o Grêmio.  Ao se pronunciar pela primeira vez em suas redes sociais, Marcelo disse que "a verdade, como o sol, sempre sairá". 

Mano Menezes e Marcelo discutem em partida do Fluminense contra o Grêmio
Em setembro, Marcelo foi homenageado com seu nome no estádio do CT de Xerém, onde treinam as categorias de base do Fluminense.</p>
<p class='noticia-conteudo'>O filho do lateral, Liam, está no sub-9 tricolor. 
O Fluminense volta a campo no dia 22 de novembro, contra o Fortaleza, no Maracanã.  O Tricolor é o atual 14º colocado na tabela do Campeonato Brasileiro, com 37 pontos.</p>
<p class='noticia-conteudo'>O clube carioca tem um ponto a mais que o Bragantino, que abre a zona de rebaixamento com 36 pontos. 
🗞️ Leia mais notícias do Fluminense
🎧 Ouça o podcast ge Fluminense
Assista: tudo sobre o Fluminense no ge, na Globo e no sportv
50 vídeos
FLUMINENSE.</p>
{% endblock main_content %}
{% block cor_categoria %}#990000{% endblock cor_categoria %}

