
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Matheus Gonçalves admite que não ia bem até fazer gol da vitória do Flamengo Estava quebrando{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Matheus Gonçalves admite que não ia bem até fazer gol da vitória do Flamengo: "Estava quebrando"
Filipe Luís também afirmou que atleta não entrou em bom nível, mas destacou que o guardava como uma "substituição imponente"

21/11/2024 15h14 Atualizado

Sincero, Matheus Gonçalves admite: "Estava quebrando, mas deu bom"
Escanteado por Tite, a joia Matheus Gonçalves voltou a ter oportunidades no Flamengo a partir da chegada de Filipe Luís, que o utilizou em cinco dos 11 jogos realizados à frente do time. 

A mudança de status com Filipe é tão evidente que o treinador, em entrevista coletiva após a vitória por 2 a 1 sobre o Cuiabá, revelou que pensou em Gonçalves como um potencial titular para o duelo no Mato Grosso.  Apesar de não ter tomado decisão, explicou que o deixou no banco por enxergá-lo como uma "troca imponente".</p>
<p class='noticia-conteudo'>Aos 47 min do 2º tempo - finalização certa de Matheus Gonçalves do Flamengo contra o Cuiabá
Apesar do valor dado ao jovem, o comandante não se furtou de externar que, em sua opinião, o início do autor do gol da virada não entrou em campo demonstrando um futebol de alto nível. 
- Guilherme e Matheus treinaram juntos durante a semana, e uma das minhas questões foi deixar o Matheus fora pensando no segundo tempo.  Para ter uma troca imponente no campo, sei que ele não entrou da melhor forma, não foi a melhor versão do Matheus, mas esse foi o meu pensamento.</p>
<p class='noticia-conteudo'>Guilherme e Matheus se deram bem juntos - afirmou Filipe. 
Em entrevista à FLA TV, com um sorriso no rosto, o garoto de 19 anos afirmou que não vinha jogando bem, mas tratou de celebrar o gol e a vitória. 
- Estava quebrando (risos), mas deu bom.</p>
<p class='noticia-conteudo'>Graças a Deus mais três pontos - disse à FLA TV. 
O aproveitamento de Matheus nos passes não foi bom mesmo, errou cinco de 15 tentados, a maioria deles logo em seus primeiros minutos.  Mas o "voo" para encontrar o cruzamento de Michael fez a diferença para o Flamengo se manter firme no G-4.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_11_0.jpg"></div><p class='foto-descricao'>Matheus Gonçalves comemora com Guilherme em Cuiabá x Flamengo — Foto: Marcelo Cortes / CRF</p>

🗞️ Leia mais notícias do Flamengo
🎧 Ouça o podcast ge Flamengo
Assista: tudo sobre o Flamengo no ge, na Globo e no sportv
50 vídeos
FLAMENGO.</p>
{% endblock main_content %}

