
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Maurício Barbieri detalha como é o jogo do Pachuca, adversário do Botafogo na Intercontinental{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Treinador brasileiro passou pela equipe mexicana Juárez, enfrentou o time de Guillermo Almada e define o estilo do rival do Alvinegro como vertical, perigoso, mas com espaços a serem explorados



O treinador brasileiro Maurício Barbieri passou recentemente pelo Juárez, do México, e enfrentou esse mesmo Pachuca.  Ao ge, ele explicou quais são os pontos fortes e fracos do adversário, que perdeu alguns jogadores importantes nos últimos meses. 
- Essa equipe do Pachuca tem como característica ser muito intensa, vertical, é o jogo que o Almada (treinador) propõe.</p>
<p class='noticia-conteudo'>Inclusive, no México ele é muito conhecido por fazer pré-temporadas bem exaustivas, exigindo dos jogadores ao máximo.  Quando eles foram campeões da Concacaf, muitos jogadores choraram (de alívio) porque tinham pensado em desistir durante pré-temporada por causa da exigência.  Eles têm como fator chave tentar chegar ao seu gol muito rápido, com muita transição, com idas e voltas.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_375_0.jpg"></div><p class='foto-descricao'>Jogadores do Pachuca comemoram título da Champions da Concacaf Concachampions — Foto: Kirby Lee-USA TODAY</p>
O time treinado pelo brasileiro ficou em 12º no Apertura, enquanto o Pachuca terminou em 16º.  E o último jogo oficial do adversário do Botafogo, há um mês, foi justamente contra o Juárez, ainda quando era treinado por Barbieri.  Vencedor no confronto por 1 a 0, o treinador destaca que a estratégia alvinegra para conquistar a classificação à semifinal passa por explorar as lacunas que o Pachuca deixa no campo em alguns de seus contra-ataques.</p>
<p class='noticia-conteudo'>- Acho que o Botafogo tem que estar muito atento a isso, sei que o time também tem o contra-ataque muito forte.  Acho que pode encontrar espaços nesses momentos do jogo porque, como Pachuca promove esse jogo vertical, também fica muito exposto aos contra-ataques. 
Com passagens por Flamengo, Bragantino e Vasco, Barbieri saiu do há um mês.</p>
<p class='noticia-conteudo'>Segundo ele, por questões de "divergência de planejamento".  Livre no mercado, conta que está estudando e acompanhando o futebol e que assistirá com um olhar mais técnico à partida entre Botafogo e Pachuca. 
- No torneio passado, no Clausura, eles (o Pachuca) terminaram em sétimo e conquistaram a Concachampions, como chamam lá no México.</p>
<p class='noticia-conteudo'>Agora eles não fizeram um bom torneio, terminaram em 16º lugar, talvez porque já estavam com a cabeça na disputa desse Mundial.  É um equipe que não está no melhor momento, mas é muito perigosa, sempre cria um número elevado de ocasiões de gols por jogo, mas também permite que o adversário crie - acrescentou. 


Do time campeão da Concacaf, o Pachuca perdeu peças importantes.</p>
<p class='noticia-conteudo'>A principal era o meia Erick Sanchez, que era uma referência no time para as transições e foi transferido para o América.  Também considerado atualmente um time formador de talentos, abriu mão do atacante Miguel Rodriguez, de 21 anos, vendido ao Celta de Vigo. 
Barbieri ressalta que, ainda assim, há jogadores que podem ameaçar o gol do Alvingegro.</p>
<p class='noticia-conteudo'>- Tem jogadores muito perigosos como Idrisse, muito forte no um contra um; Rondón, centroavante de área da seleção venezuelana e muito experiente; e o Deossa, que é um médio colombiano, pode jogar como um segundo volante, mais avançado, pega muito bem de fora da área e sempre faz muitos gols dessa maneira. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_375_1.jpg"></div><p class='foto-descricao'>Salomón Rondón comemora gol marcado pelo Pachuca na final da Concachampions — Foto: Pachuca / Reprodução</p>
Pouco tempo para estudo dos mexicanos
Artur Jorge disse, em coletiva, que o Alvinegro pouco se debruçou nos estudos sobre o adversário, mas que conseguiu passar a ideia no primeiro e único treino para o duelo.  Um pouco dessa análise foi feita, inclusive, durante o voo para Doha, horas depois da conquista do título brasileiro.</p>
<p class='noticia-conteudo'>- Tem alguns contextos diferentes, como bolas paradas, tem uma forma de jogar que cria algumas dificuldades na forma como é e é competente na circulação de bola.  Equipe que tem mais alguma desorganização defensiva no encurtamento sobre o adversário.  Então temos alguns aspectos que para nós são fundamentais e que iremos compartilhar com a equipe também.</p>
<p class='noticia-conteudo'>Nesses últimos dias, nada fizemos.  Hoje no treino tivemos uma parte mais estratégica para que amanhã possamos complementar e os jogadores identificarem os adversários - explicou o treinador português. 
Marcelo Courrege está no Catar e traz informações sobre o Botafogo

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_375_2.jpg"></div><p class='foto-descricao'>Maurício Barbieri treinou o Juárez, do México, e enfrentou o Pachuca — Foto: Arquivo pessoal</p>


Assista: tudo sobre o Botafogo no ge, na Globo e no sportv.</p>
{% endblock main_content %}

