
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Mbappé está em uma situação complicada, diz técnico da França{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>"Mbappé está em uma situação complicada", diz técnico da França
Sem detalhar os problemas do atacante, Didier Deschamps acredita na recuperação do jogador do Real Madrid, que não foi convocado pela seleção francesa nas últimas datas Fifa



França 0 x 0 Israel | Melhores momentos | 5ª rodada | Liga das Nações da UEFA
O técnico da França, Didier Deschamps, disse que o atacante Mbappé vive um "momento complicado", sinalizando que a não convocação dele para esta data Fifa teve mais motivos do que os apresentados inicialmente. 
— Ele está numa situação complicada, período mais difícil, mas ele é perfeitamente capaz de realizar de novo o que já fez.  Kylian tem tudo o que precisa, mesmo que tenha sido menos efetivo em 2024 — afirmou o treinador, em entrevista à emissora TF1.</p>
<p class='noticia-conteudo'>A França enfrenta neste domingo a Itália, no San Siro, às 16h45.  Acompanhe o jogão em Tempo Real no ge. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_19_0.jpg"></div><p class='foto-descricao'>Mbappé não foi convocado pela seleção da França nas duas últimas datas Fifa — Foto: Getty Images</p>

Essa é a segunda data Fifa seguida que Mbappé não é convocado pela França.</p>
<p class='noticia-conteudo'>Ele ficou fora dos compromissos de outubro por se recuperar de uma lesão sofrida enquanto atuava pelo Real Madrid.  Só que ele foi relacionado para uma partida do time espanhol na sequência. 
Entre uma data Fifa e a outra, Mbappé foi acusado de estupro na Suécia.</p>
<p class='noticia-conteudo'>Esse seria o motivo de não ter sido convocado agora em novembro, segundo a imprensa francesa.  O atacante nega qualquer tipo de envolvimento.  O Ministério Público da Suécia confirmou que há uma investigação em curso sobre estupro em Estocolmo, sem citar nomes.</p>
<p class='noticia-conteudo'>— Se Kylian tem algum tipo de problema psicológico ou pessoal em sua vida, nós sempre estaremos ao lado dele para ajudá-lo — afirmou o zagueiro Konaté, também em entrevista à TF1. 
A França não atravessa bom momento, marcado por atuações ruins apesar de resultados satisfatórios.  A equipe conseguiu vaga nas quartas de final da Liga das Nações graças a um empate sem gols com Israel.</p>
<p class='noticia-conteudo'>Além de Mbappé, a França tem como desfalques para o jogo deste domingo contra a Itália os zagueiros Bade e Fofana, o volante Tchouaméni e o atacante Dembelé, todos lesionados. 
Para assumir a liderança do grupo, a seleção francesa precisa vencer a Itália por dois gols ou mais de diferença.  Aí igualaria em pontos com o rival e levaria a melhor nos critérios de desempate.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

