
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}vasco{% endblock title %}
{% block main_title %}vasco{% endblock main_title %}
{% block second_title %}Melhor em campo contra o Vasco, Garro festeja arrancada do Corinthians Onde tem de estar{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Melhor em campo contra o Vasco, Garro festeja arrancada do Corinthians: "Onde tem de estar"
Meio-campista dá assistência e faz dois gols na vitória por 3 a 1 deste domingo, pela 35ª rodada do Campeonato Brasileiro



Eleito craque do jogo, Garro comemora vitória do Corinthians: "Merecíamos como equipe"
O Corinthians venceu o Vasco por 3 a 1, neste domingo, pela 35ª rodada do Campeonato Brasileiro, e se aproximou ainda mais do grupo que vai à Conmebol Libertadores do ano que vem.  Eleito o melhor jogador em campo, com dois gols e uma assistência, o argentino Rodrigo Garro festejou a arrancada do Timão. 


Corinthians 3 x 1 Vasco | melhores momentos | 35ª rodada | Brasileirão 2024
– Fizemos um bom jogo, com um rival difícil.</p>
<p class='noticia-conteudo'>Terminar a última parte do ano dessa maneira é o que merecíamos como grupo, equipe, e pessoalmente é um momento lindo que estou passando, com um bom trabalho no dia a dia, ajudando a equipe a fazer o melhor – disse. 
Mais notícias do Corinthians:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_1_0.jpg"></div><p class='foto-descricao'>Garro festeja gol contra o Vasco — Foto: Marcos Ribolli</p>
Neste domingo, o Corinthians não contou com dois de seus principais jogadores nas últimas partidas: Memphis Depay e Yuri Alberto.  Apesar das ausências, conseguiu ser superior e não dar chances ao Vasco.</p>
<p class='noticia-conteudo'>Garro acredita que isso aconteça por causa da qualidade dos jogadores que Ramón Díaz tem à disposição. 
– Temos jogadores de muita hierarquia, todos que jogam vão fazer o melhor, hoje não jogaram Memphis, Yuri, mas quem entrou são jogadores que toda equipe quer.  Muito feliz pelo momento que estamos vivendo e é aí onde o Corinthians tem de estar – completou.</p>
<p class='noticia-conteudo'>"Grande vitória para brigar na parte de cima da tabela", celebra Careca | A Voz da Torcida


50 vídeos
CORINTHIANS.</p>
{% endblock main_content %}

