
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Memphis vira desfalque do Corinthians contra o Vasco; Yuri sai com dores e é dúvida{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Memphis vira desfalque do Corinthians contra o Vasco; Yuri sai com dores e é dúvida
Holandês recebeu advertência nos acréscimos da vitória do Timão sobre o Cruzeiro, enquanto Yuri deixou o campo no intervalo sentindo problema na coxa direita



Memphis volta a campo após reclamar de dores, toma amarelo e é desfalque na próxima rodada
O Corinthians pode ter dois importantes desfalques para enfrentar o Vasco, no domingo, às 16h (de Brasília), contra o Vasco, em São Januário, pela 35ª rodada do Campeonato Brasileiro. 
Um deles não estará em campo.  Memphis recebeu o terceiro cartão amarelo nos acréscimos da vitória contra o Cruzeiro, nesta quarta-feira, na Neo Química Arena, e terá de cumprir suspensão.</p>
<p class='noticia-conteudo'>Será a primeira vez que o holandês ficará fora por esse motivo desde a chegada ao Brasil. 

Corinthians 2 x 1 Cruzeiro | Melhores Momentos | 34ª rodada | Brasileirão 2024
– O juiz tem que entender.  Não sou o cara de ganhar tempo, não preciso disso.</p>
<p class='noticia-conteudo'>Tentei continuar e senti câimbras.  Tentei continuar e não pude mais andar, e ele me deu amarelo.  Ele me suspendeu do próximo jogo, não acho justo.</p>
<p class='noticia-conteudo'>Acho que a questão física é mais importante dos jogadores, o juiz precisa cuidar, estava no gramado por isso.  Triste com isso e com outras coisas que aconteceram – lamentou Memphis. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_7_0.jpg"></div><p class='foto-descricao'>Gol de Memphis em Corinthians x Cruzeiro — Foto: Marco Miatelo/AGIF</p>
Outro possível desfalque é o de Yuri Alberto.</p>
<p class='noticia-conteudo'>O camisa 9 saiu no intervalo sentindo dores na coxa direita e será reavaliado para saber se terá condições de entrar em campo no domingo. 
"Vitória importantíssima, necessária" comemora Careca Bertaglia | Voz da Torcida
Memphis Depay e Yuri Alberto fizeram 10 partidas juntos no Corinthians.  A dupla marcou 13 gols e deu seis assistências.</p>
<p class='noticia-conteudo'>A parceria com o holandês tem ajudado Yuri a isolar-se ainda mais como artilheiro do Timão no ano: são 27 gols marcados em 2024. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_7_1.jpg"></div><p class='foto-descricao'>Gol de Yuri Alberto em Corinthians x Cruzeiro — Foto: Marco Miatelo/AGIF</p>


50 vídeos
CORINTHIANS.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

