
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Memphis visita organizada do Corinthians, toca instrumento e ganha grito O bicho vai pegar{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Memphis visita organizada do Corinthians, toca instrumento e ganha grito: "O bicho vai pegar"
Holandês esteve na sede dos Gaviões da Fiel na tarde desta quarta-feira; veja vídeos



Memphis vai à sede de organizada e ganha grito personalizado: "O bicho vai pegar"
Memphis Depay visitou na tarde desta quarta-feira a sede da Gaviões da Fiel, principal organizada do Corinthians, para tirar fotos e conhecer o local horas antes de o grupo anunciar a conta PIX que reunirá doações de torcedores para a quitação da Neo Química Arena. 

O holandês participou, com um instrumento musical em mãos, de um momento de batucada com os membros da organizada, que cantaram uma música personalizada para o camisa 94. 
Memphis Depay toca surdo em visita à torcida organizada
– Olê, lê! Olá, lá! O Memphis vem aí, e o bicho vai pegar – cantaram os corintianos.</p>
<p class='noticia-conteudo'>Mais notícias do Corinthians:



<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_37_0.jpg"></div><p class='foto-descricao'>Memphis Depay esteve na sede dos Gaviões da Fiel nesta quarta-feira — Foto: Reprodução</p>
No vídeo, Memphis se diverte e tenta acompanhar os ritmistas da principal organizada do Corinthians. 
O atacante volta ao Timão no duelo deste sábado, às 19h30 (de Brasília), contra o Criciúma, fora de casa, pela 36ª rodada do Brasileirão, após cumprir suspensão diante do Vasco. 

Memphis participou pela manhã do treinamento realizado no CT Joaquim Grava, que teve parte das atividades abertas para a imprensa.</p>
<p class='noticia-conteudo'>50 vídeos
CORINTHIANS.</p>
{% endblock main_content %}

