
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}corinthians{% endblock title %}
{% block main_title %}corinthians{% endblock main_title %}
{% block second_title %}Memphis desconversa sobre papo com Neymar, mas admite Amaria jogar com ele no Corinthians{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Memphis desconversa sobre papo com Neymar, mas admite: "Amaria jogar com ele no Corinthians"
Holandês diz que chegou ao Timão com "zero expectativas", comemora boa fase e exalta parceria com Yuri Alberto: "Complementamos um ao outro"

04/12/2024 13h00 Atualizado há 6 horas

Memphis exalta momento no Corinthians e manda recado a Neymar: "Amaria jogar com ele"
Melhor em campo na vitória do Corinthians sobre o Bahia por 3 a 0, pela 37ª e penúltima rodada do Campeonato Brasileiro, Memphis Depay tem tido dias cheios.  Além de ter ajudado a encaminhar a classificação do Timão para a próxima edição da Conmebol Libertadores, o holandês teve um recente encontro com Neymar e admitiu ter vontade de jogar ao lado do astro brasileiro. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_47_0.jpg"></div><p class='foto-descricao'>Memphis Depay, André Akkari e Neymar em São Paulo — Foto: Reprodução/Instagram</p>
Memphis encontrou Neymar em São Paulo, por meio de um astro do pôquer, e revelou ter tido um papo com o craque.</p>
<p class='noticia-conteudo'>O holandês desconversou sobre o teor da conversa, mas ressaltou que gostaria de atuar com o atacante no Corinthians.  O brasileiro foi um dos conselheiros dele na decisão de atuar no Brasil. 
– Ney sabe o que falei para ele.</p>
<p class='noticia-conteudo'>É entre nós, mas, claro, ele é importante para o país, superestrela, tem toda habilidade para levar o Brasil ao título da Copa.  Amaria jogar com ele no Corinthians.  Apesar de ele torcer pelo Santos, creio que ele tem muitos amigos corintianos, tivemos um bom tempo, é uma inspiração para muitos.</p>
<p class='noticia-conteudo'>Espero o melhor e que ele seja feliz onde ele for – disse Memphis. 
Mais notícias do Corinthians:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_47_1.jpg"></div><p class='foto-descricao'>Gol de Memphis Depay em Corinthians x Bahia — Foto: Marcos Ribolli</p>
Com seis gols marcados e quatro assistências em 13 partidas, Memphis admitiu que não esperava por um início tão bom no Corinthians.  Segundo ele, chegou ao Brasil sem expectativa e com o intuito de "aproveitar a carreira".</p>
<p class='noticia-conteudo'>– Estou muito feliz de estar aqui.  Vim com zero expectativas, vim para ajudar e, claro, para aproveitar minha carreira.  Tenho 30 anos e ainda tenho muitos anos pela frente.</p>
<p class='noticia-conteudo'>Quero agradecer aos torcedores no estádio, em casa, em todo o Brasil, me receberam muito bem.  Lutar para o clube, e gosto muito das pessoas neste país – disse Memphis. 
Corinthians 3 x 0 Bahia | Melhores Momentos | 37ª Rodada | Brasileirão 2024
Memphis falou sobre a parceria com Yuri Alberto, artilheiro do Campeonato Brasileiro, com 14 gols, e o maior goleador do futebol brasileiro em 2024, com 30 gols marcados.</p>
<p class='noticia-conteudo'>O holandês disse ele e o camisa 9 se completam. 
– Penso que complementamos um ao outro, ele é um jogador muito direto, veloz, eu sou um jogador que gosto de jogar nas linhas, estou procurando espaço para criar para ele, por exemplo.  Tento atrair espaço para Yuri ter mais espaço.</p>
<p class='noticia-conteudo'>Tento olhar, estou feliz por ele.  É um cara de muito potencial, muito confiante.  Um cara incrível, sempre feliz, trabalhando duro – analisou Memphis.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_47_2.jpg"></div><p class='foto-descricao'>Memphis chegou com um óculos estiloso na Neo Química Arena — Foto: Marcos Ribolli</p>
Memphis tem feito aulas de português e se esforçado para conseguir entender e se comunicar por meio do idioma.  Diariamente, o jogador busca apreender novas palavras e usá-las como incentivo e também cobrança com os colegas de elenco.  O contrato dele com o Timão é válido até 31 de julho de 2026.</p>
<p class='noticia-conteudo'>"O Corinthians atropelou o Bahia na Neo Química Arena!", diz Careca | A Voz da Torcida


50 vídeos
CORINTHIANS.</p>
{% endblock main_content %}

