
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Messi se irrita com Anderson Daronco por falta não marcada; veja{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Messi se irrita com Anderson Daronco por falta não marcada; veja
Astro da Argentina cobra árbitro brasileiro após lance em que foi cercado por dois adversários e desarmado em duelo contra o Paraguai



Com direito a dedo na cara: Indignado com a arbitragem, Messi afronta Daronco no fim do primeiro tempo
Uma falta não marcada por Anderson Daronco tirou Messi do sério ao fim do primeiro tempo do duelo entre Argentina e Paraguai, nesta quinta-feira.  O craque argentino se irritou e foi cobrar o árbitro brasileiro no intervalo da partida, instantes depois de o juiz indicar que não houve falta em um lance no qual Messi foi cercado e desarmado por dois jogadores do Paraguai, aos 47 minutos. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_1_0.jpg"></div><p class='foto-descricao'>Messi Daronco dedo cara Argentina Paraguai — Foto: Reprodução sportv</p>
Messi chegou a reclamar com Daronco no momento em que caiu no gramado, e o árbitro reagiu indicando que não houve falta no lance.</p>
<p class='noticia-conteudo'>Poucos segundos depois, o juiz encerrou o primeiro tempo do duelo pelas eliminatórias da América do Sul para a Copa do Mundo de 2026.  Então, Messi caminhou na direção de Daronco com o dedo apontado e reclamando muito do lance. 
Jogadores da Argentina pedem expulsão de Alderete após falta em Messi
O juiz brasileiro não respondeu às reclamações e chegou a ignorar Messi, que também reclamou com o assistente Bruno Pires enquanto o trio de arbitragem se preparava para deixar o campo - naquele momento, o placar já estava empatado em 1 a 1.</p>
<p class='noticia-conteudo'>Antes, Daronco foi cobrado por jogadores da Argentina que pediram a expulsão de Alderete, que já tinha cartão amarelo e fez nova falta aos 36 minutos. 
ARGENTINA
MESSI.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

