
    {% extends "html/modelo.html" %}

    {% block title %}Meu nome é Zépiqueno conheça o holandês com nome de personagem de Cidade de Deus{% endblock title %}
    {% block main_title %}Meu nome é Zépiqueno conheça o holandês com nome de personagem de Cidade de Deus{% endblock main_title %}
    {% block second_title %}None{% endblock second_title %}
    {% block main_content %}<p class='noticia-conteudo'>Meu nome é Zépiqueno: conheça o holandês com nome de personagem de Cidade de Deus
Zépiqueno Redmond, atacante de 18 anos, estreou no domingo pelo Feyenoord em partida contra o Almere City pelo Campeonato Holandês


Dadinho é o c******, meu nome é Zé Pequeno, p****!
Não foi apenas o público brasileiro que ficou marcado pelo filme Cidade de Deus e pela história do personagem Zé Pequeno, interpretado pelo ator Leandro Firmino.  A obra dirigida por Fernando Meirelles atravessou fronteiras e impressionou um casal na Holanda, que decidiu "homenagear" o ex-Dadinho e registrou o filho, nascido em 2006, como Zépiqueno Redmond.  Neste domingo, o jovem estreou profissionalmente pelo Feyenoord em duelo contra o Almere City pelo Campeonato Holandês.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="/media/Meu_nome_e_Zepiqueno_conheca_o_holandes_com_nome_de_personagem_de_Cidade_de_Deus_0.jpg"></div>Zépiqueno Redmond estreia pelo Feyenoord — Foto: Feyenoord
-- Meus pais viram o filme e me chamaram de Zépiqueno por causa dele.  O personagem é um pouco mau, mas gostei -- disse o jogador depois da estreia. 
Zépiqueno teve apenas 25 minutos para mostrar o seu futebol.</p>
<p class='noticia-conteudo'>A participação do jovem atacante foi discreta: 15 toques na bola, sete passes e nenhum chute a gol.  O Feyenoord marcou dois gols enquanto o atacante de 18 anos e 141 dias estava em campo e venceu por 4 a 1. 
Os pais de Zépiqueno nasceram no Suriname, país que faz fronteira com os estados do Amapá e Pará, localizados no norte do Brasil.</p>
<p class='noticia-conteudo'>Zépiqueno Redmond: o jogador holandês que não é o Dadinho
Cidade de Deus, indicado ao Oscar em quatro categorias, é um dos filmes mais assistidos do mundo.  A obra chegou até as telas da família Redmond, que depois imigrou para a Holanda.  O país sul-americano foi uma colônia dos Países Baixos até 1975, e possui grande influência dos europeus até hoje.</p>
<p class='noticia-conteudo'>Clarence Seedorf, Edgar Davids, Frank Rijkaard, Patrick Kluivert e Ruud Gullit são alguns dos grandes craques que brilharam com a camisa laranja da Holanda e possuem ascendência do Suriname.  Zépiqueno começa, neste domingo, sua trajetória no futebol profissional. 
-- Acho que correu tudo bem.</p>
<p class='noticia-conteudo'>É ainda um começo, então terei que aceitar isso (jogar pouco).  Você sempre espera por mais, está em minhas próprias mãos.  Só tenho que jogar e claro que depende de quando os outros atacantes voltarem.</p>
<p class='noticia-conteudo'>O treinador disse que isto é o começo e que só darei mais passos. 
<div class="div-imagem"><img class="noticia-imagem" src="/media/Meu_nome_e_Zepiqueno_conheca_o_holandes_com_nome_de_personagem_de_Cidade_de_Deus_1.jpg"></div>Zépiqueno Redmond estreia pelo Feyenoord — Foto: Feyenoord
O nome de Zépiqueno o deixou popular nas redes sociais entre o público brasileiro.  As mensagens não pararam de chegar para o jovem atacante, que precisou do 'Google Tradutor' para entender o que diziam.</p>
<p class='noticia-conteudo'>As semelhanças com o Zé Pequeno original param no nome.  O holandês ficou marcado pelos gols na base do Feyenoord e da Holanda, e agora planeja repetir os feitos no futebol profissional. 
As lesões de Julián Carranza, Santiago Gimenez e Ayase Ueda abrem espaço para Zépiqueno jogar no time principal do Feyenoord.</p>
<p class='noticia-conteudo'>O próximo compromisso da equipe será no dia 23 de novembro, às 14h45, pela 13ª do Campeonato Holandês contra o Heerenveen..</p>
{% endblock main_content %}
    