
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Mike Tyson dá tapa no rosto de Jake Paul em pesagem cerimonial{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Mike Tyson dá tapa no rosto de Jake Paul em pesagem cerimonial
Lenda do boxe se irrita com artimanha de youtuber, que debocha de agressão e responde: "Agora é pessoal! Ele deve morrer!"



Veja tapa de Mike Tyson em Jake Paul na pesagem cerimonial
"O papo terminou", se limitou a dizer Mike Tyson após a pesagem cerimonial de sua luta contra Jake Paul, na noite desta sexta-feira, em Irving, EUA.  Ele deixou isso bem claro ao desferir um tapa no rosto do adversário na encarada e deixar rapidamente o palco. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_3_0.jpg"></div><p class='foto-descricao'>Mike Tyson dá um tapa no rosto de Jake Paul na pesagem cerimonial — Foto: Stephen McCarthy/Sportsfile via Getty Images</p>
Mike surgiu no evento usando apenas uma cueca e uma jaqueta estilizada com seu nome e desenhos do seu rosto.</p>
<p class='noticia-conteudo'>Enquanto ele tinha seu peso de 103,6kg anunciado, Jake se alongava do outro lado do palco, aguardando o momento da encarada.  O youtuber, que pesou 103,1kg, "engatinhou" na direção de Tyson quando ele se aproximou e levantou colocando o rosto colado ao rosto do ex-campeão mundial. 
Assim que o fez, Tyson desferiu um tapa de direita, berrou e entrou em posição de luta, enquanto era imediatamente separado por diversos segguranças e membros de sua equipe.</p>
<p class='noticia-conteudo'>Jake zombou do tapa, sinalizou à plateia que não doeu, mas quando falou no microfone aberto, emitiu uma ameaça à lenda do boxe. 
- Eu nem senti, ele é um elfo pequeno nervosinho.  Foi um tapa fofo, Mike, mas amanhã eu vou te nocautear.</p>
<p class='noticia-conteudo'>Eu vou f*** ele! Ele bate que nem um frouxo! Agora é pessoal! Ele deve morrer! - respondeu Paul. 
Tyson x Paul: Evento terá revanche da maior luta feminina da história
De youtuber a algoz de Spider: veja trajetória de Jake Paul até virar adversário de Mike Tyson
Tyson x Paul: quem é o treinador brasileiro de Mike Tyson?
Foi o único momento crítico de uma pesagem tranquila e respeitosa entre todos os lutadores do card.  Até mesmo Katie Taylor e Amanda Serrano, que fazem uma revanche valendo os cinturões mundiais do peso-super-leve, apenas trocaram palavras de encorajamento, buscando replicar a grande luta que fizeram em seu primeiro encontro.</p>
<p class='noticia-conteudo'>A encarada entre Whindersson Nunes e o indiano Neeraj Goyat, que teve Anderson Silva como supervisor de honra, foi uma troca de sorrisos, cumprimentos e até cócegas, feitas por Goyat no estômago do adversário brasileiro. 
- Ele é comediante, então eu queria fazê-lo rir - brincou o indiano. 
O card principal do evento está programado para começar às 22h (horário de Brasília).</p>
<p class='noticia-conteudo'>O Combate. com acompanha tudo em tempo real a partir das 19h. 
Confira os pesos atingidos pelos lutadores na pesagem:
CARD PRINCIPAL
Peso-pesado: Jake Paul (103,1kg) x Mike Tyson (103,6kg)
Peso-super-leve: Katie Taylor x Amanda Serrano (62,3kg)
Peso-meio-médio: Mario Barrios (66,6kg) x Abel Ramos (66,4kg)
Peso-super-médio: Neeraj Goyat (73,5kg) x Whindersson Nunes (74,4kg)
CARD PRELIMINAR
Peso-super-médio: Shadasia Green (76,1kg) x Melinda Watpool (75,7kg)
Peso-leve: Lucas Bahdi (61,1kg) x Armando Casamonica (62,9kg)
Peso-pena: Bruce Carrington (57,1kg) x Dana Coolwell (56,8kg)
Assine o Combate e veja o melhor do mundo das lutas.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

