
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Minas vence Pinheiros com tranquilidade e assume vice-liderança da Superliga Feminina{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Minas vence Pinheiros com tranquilidade e assume vice-liderança da Superliga Feminina
Equipe mineira venceu e convenceu, derrotando as visitantes por 3 sets a 0 (25/16, 25/10 e 25/21)


Na 6ª rodada da Superliga Feminina de Vôlei, o Minas não teve dificuldades para vencer o Pinheiros, em Belo Horizonte.  Fez 3 sets a 0 (parciais de 25/16, 25/10 e 25/21) na noite desta quinta-feira. 

Minas 3 x 0 Pinheiros | Melhores momentos | Superliga Feminina de Vôlei 2024/25


A destaque do jogo foi a oposta Kisy, ela recebeu o Troféu Viva Vôlei, com 18 pontos.</p>
<p class='noticia-conteudo'>Na próxima rodada, o Minas encara o Fluminense, na quinta-feira, no Clube Sociedade Hebraica.  O Pinheiros encara o Mackenzie, no dia 30/11 (sábado), no Ginásio Henrique Villaboim. 
O jogo
O equilíbrio deu o tom no início do primeiro set.</p>
<p class='noticia-conteudo'>O placar sempre era igualado, com alternância de pontos.  Na metade do set, o Minas neutralizou o Pinheiros, chegando a abrir sete pontos de vantagem.  O time paulista até esboçou uma reação, mas não obtiveram sucesso.</p>
<p class='noticia-conteudo'>As donas da casa fecharam a parcial por 25/16. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_0.jpg"></div><p class='foto-descricao'>Minas x Pinheiros; Plak — Foto: Hedgard Moraes/Minas Tênis Clube</p>
No segundo set, o Minas começou dominando, foi mais consistente e não deixou o Pinheiros pontuar.  A equipe mineira abriu 7/0, obrigando o treinador do Pinheiros a pedir tempo duas vezes logo no ínicio.</p>
<p class='noticia-conteudo'>Mesmo com as paradas técnicas, o time mandante seguiu comandando e ganharam o set com facilidade, com a parcial de 25/10.  O destaque foi para o bloqueio das minastenistas. 
No último set, a equipe mineira manteve o ritmo do segundo set.</p>
<p class='noticia-conteudo'>O Minas foi somando pontos e deixando cada vez mais as jogadoras do Pinheiros sem chances.  Na metade do set, a equipe paulista chegou a esboçar uma reação, mas as donas da casa não deixaram as visitantes gostarem do jogo e venceram por 25/21..</p>
{% endblock main_content %}

