
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}vitoria{% endblock title %}
{% block main_title %}vitoria{% endblock main_title %}
{% block second_title %}Missa da vitória Botafogo pode ser campeão no mesmo dia de fundação e da padroeira do clube{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>"Missa da vitória": Botafogo pode ser campeão no mesmo dia de fundação e da padroeira do clube
Data histórica pode ganhar ainda mais sentido com título nacional, que pode ocorrer neste domingo, contra o São Paulo

07/12/2024 20h36 Atualizado há 13 horas

Botafogo pode se sagrar campeão no dia de Nossa Senhora da Conceição, padroeira do clube
No domingo, às 16h, o Botafogo entra em campo contra o São Paulo, no Estádio Nilton Santos, em busca do título do Campeonato Brasileiro.  A vitória ou o empate garantem a tão aguardada taça, mas a data tem um significado ainda mais especial para os botafoguenses, que celebram não apenas o possível título, mas também a história e a fé. 
Em 8 de dezembro de 1942, o Botafogo de Futebol e Regatas foi fundado a partir da fusão do Club de Regatas Botafogo e do Botafogo Football Club.</p>
<p class='noticia-conteudo'>Além disso, 8 de dezembro é o dia dedicado a Nossa Senhora da Conceição, padroeira do clube.  Este ano, a data pode ser marcada não apenas pela celebração religiosa e o aniversário do time, mas também pela conquista do título brasileiro. 
Para o padre Aldo de Souto, da Paróquia de Nossa Senhora da Conceição, no Engenho Novo, a coincidência entre as datas não é mera casualidade:
- Não é coincidência, nós não cremos em coincidência, mas em providência.</p>
<p class='noticia-conteudo'>Logo amanhã, dia oito de dezembro, dia da padroeira do Botafogo, o time vai disputar esse título tão especial do Brasileirão no dia que completa também 82 anos.  Então é um casamento perfeito amanhã. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_224_0.jpg"></div><p class='foto-descricao'>Padre Aldo de Souto, da Paróquia de Nossa Senhora da Conceição, no Engenho Novo — Foto: Reprodução</p>
A Paróquia, localizada a cerca de quatro quilômetros do Estádio Nilton Santos, preparou uma extensa programação para celebrar a data.</p>
<p class='noticia-conteudo'>As festividades começam às 5h da manhã com uma queima de fogos, e seguem até as 20h, com missas, procissão e show.  Às 15h, uma hora antes do jogo, será celebrada a Missa pela Vitória, que, segundo o padre Aldo, pode ser uma oração especial pelos botafoguenses. 
- Também pode ser pela vitória do Botafogo.</p>
<p class='noticia-conteudo'>Claro que os botafoguenses podem aproveitar esse momento para pedir a intercessão para a padroeira deles pela vitória do Botafogo.  Mas é uma missa pela vitória de tudo aquilo que compõe a vida de todo cristão, que precisa sempre de uma vitória na vida - explicou o padre. 
Fiéis que se dividem entre a fé e o futebol já organizaram a agenda para não perder nenhum momento da celebração.</p>
<p class='noticia-conteudo'>Alguns, como as amigas Carolinne Pacheco e Barbara Candido, irão à missa pela manhã e depois ao estádio para acompanhar a partida.  Elas se conheceram há 25 anos na igreja e, desde então, passaram a frequentar os jogos do Botafogo juntas.  O maior incentivador da paixão pelo clube foi o pai de Carol, Luiz Augusto, falecido há três anos.</p>
<p class='noticia-conteudo'>- Eu sei que ele vai estar lá de cima torcendo pela gente e vai dar tudo certo, porque é o que ele mais quis a vida inteira.  Pegar esse título junto com as filhas dele.  A gente sempre está juntas torcendo pelo Botafogo e fazendo a alegria dele lá em cima.</p>
<p class='noticia-conteudo'>E já deu tudo certo.  Vamos ser campeões - se emociona Carol. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_224_1.jpg"></div><p class='foto-descricao'>Carol com a camisa em memória do pai — Foto: Reprodução</p>
Outro botafoguense que faz questão de passar a tradição para as próximas gerações é Airton Jorge.</p>
<p class='noticia-conteudo'>Ele, que desde o nascimento de seu filho Antônio Miguel frequenta a Paróquia de Nossa Senhora da Conceição, alimenta no filho tanto a devoção pela santa quanto a paixão pelo Botafogo.  Com menos de dois anos, Antônio Miguel já canta o hino do clube e se sente à vontade na igreja. 
A paróquia é uma comunidade unida e todos se conhecem.</p>
<p class='noticia-conteudo'>Rose Borges, botafoguense de Belém do Pará, será responsável pela organização da festa religiosa neste domingo e, por isso, não poderá acompanhar a partida.  Rose conta que, ao escolher o Botafogo ainda no Norte, foi atraída pelo escudo e pelas imagens do time carioca. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_224_2.jpg"></div><p class='foto-descricao'>Nossa Senhora da Conceição é a padroeira do clube — Foto: Reprodução</p>
- Amanhã a gente vai estar assim pra Nossa senhora: "olhe lá pelo meu Botafogo".</p>
<p class='noticia-conteudo'>Porque amanhã não vai dar pra ver o jogo.  A gente só vai ver depois pela Globo. 

A presença de Nossa Senhora da Conceição também é sentida no Estádio Nilton Santos e em General Severiano, sede do clube.</p>
<p class='noticia-conteudo'>No estádio, a imagem da santa é colocada no caminho dos jogadores, entre o ônibus e o vestiário, abençoando a equipe antes das partidas. 
Com uma estrela solitária pintada atrás, a imagem é um símbolo de fé e devoção para os torcedores.  Neste domingo, a padroeira estará novamente lá, e Botafogo pode conquistar o título do Campeonato Brasileiro de 2024.</p>
<p class='noticia-conteudo'>Botafogo pode conquistar o segundo título em nove dias

Assista: tudo sobre o Botafogo no ge, na Globo e no sportv
50 vídeos
BOTAFOGO.</p>
{% endblock main_content %}

