
            <html>
                <article class="noticia-detalhada">
                    <h1 class="noticia-titulo mt-4">Mo Farah, dono de 4 ouros olímpicos no atletismo, recupera celular ao correr atrás de ladrões</h1>
                    <p class="noticia-conteudo">Mo Farah, dono de 4 ouros olímpicos no atletismo, recupera celular ao correr atrás de ladrões
Astro britânico teve o aparelho furtado quando saiu para uma corrida com sua mulher no condomínio onde mora


Jamais desafie um corredor dono de quatro ouros olímpicos e outros seis em Mundiais. Especialmente se esse atleta ainda mantém a forma física. O britânico Mo Farah recuperou um celular furtado justamente graças a suas habilidades na corrida. O caso foi revelado pelo jornal "The Mail on Sunday", e o ex-fundista não quis comentar.
Mo Farah campeão 10.000m mundial atletismo londres medalha — Foto: Reuters
Mo Farah e sua mulher, Tania, corriam no condomínio de luxo onde moram em Surrey, no sudeste da Inglaterra, na semana passada. Contavam com a segurança 24 horas do local quando Farah resolveu deixar seu celular no início de uma estrada particular, dentro do conjuntos de casas, para recolher o aparelho após a corrida.
+ Ex-BBB Paulo André é anunciado como atleta do Benfica, de Portugal
+ Assassinos de atleta olímpico da Uganda são condenados a mais de 30 anos de prisão
+ Streamer desafia campeão olímpico em corrida de mais de R$ 500 mil
Mo Farah é bicampeão olímpico dos 5000m rasos masculino
Foi aí que surgiram dois homens. A dupla desceu de uma van, pegou o telefone do campeão britânico e fugiu no carro. Só não contavam que o ex-atleta visse o furto - e corresse atrás dos dois para recuperar o celular.
Tania e Mo Farah em foto numa corrida do Havaí em 2016 — Foto: Reprodução/Instagram
Aos 41 anos, "a todo vapor", segundo o relato do "Mail on Sunday", Mo Farah correu pelas ruas arborizadas do condomínio, diante dos olhos de Tania, que esperava o marido. Poucos minutos depois, Farah alcançou a van dos ladrões, que o reconheceram e devolveram o aparelho.
De acordo com o jornal, Mo Farah ficou furioso com o furto e com o fato de o sistema de segurança do condomínio ter falhado. Uma fonte disse ao "Mail on Sunday" que uma investigação será feita para apurar o caso. Há informações de que, antes do episódio, o astro britânico teria posto sua mansão de 6 milhões de libras (cerca de R$ 44 milhões) à venda. A casa tem oito quartos e uma luxuosa piscina.
Mo Farah e Rainha Elizabeth — Foto: Reprodução
Mo Farah é um dos nomes mais bem-sucedidos do atletismo em todos os tempos. Tem dois ouros olímpicos nos 5000m e outros dois nos 10000m, todos em Londres 2012 e no Rio 2016. Soma também três ouros em cada prova em Campeonatos Mundiais entre 2011 e 2017. Nascido da Somália, mudou-se para a Inglaterra com a guerra civil em seu país de origem. Ele se casou com Tania em 2010 - eles se conheceram na infância, quando frequentaram o mesmo clube de corrida em Londres.
Há cinco anos, Mo Farah foi condecorado pela Rainha Elizabeth II como cavaleiro do Império Britânico, honraria a personalidades muito respeitadas em sua área de ação e que garante ao homenageado usar o título de "sir" (ou "dame, no caso de mulheres) antes do nome. Farah se aposentou em 2023 - mas segue mostrando o que o alçou ao posto de um dos melhores de sempre na corrida.
Veja também</p>
                </article>
            </html>
            