
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Mourinho provoca Guardiola Não quero vencer lidando com 150 processos{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Mourinho provoca Guardiola: "Não quero vencer lidando com 150 processos"
Rivais, treinadores trocam farpas sobre o número de títulos da Premier League conquistados; português trata de acusações que podem rebaixar o Manchester City no julgamento do século

06/12/2024 09h01 Atualizado há 2 horas

Entenda o escândalo das violações financeiras do Manchester City
José Mourinho não tem papas na língua.  O treinador português respondeu a provocação de Pep Guardiola, que havia dito ter seis títulos da Premier League contra três de Mourinho.  O atual comandante do Fenerbahçe provocou o rival ao falar das acusações que o Manchester City enfrenta no "julgamento do século".</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_122_0.jpg"></div><p class='foto-descricao'>Mourinho Guardiola Manchester United City — Foto: Reuters</p>
— O Pep Guardiola disse uma coisa ontem… ele ganhou seis troféus e eu ganhei três, mas ganhei de forma justa e limpa.  Não quero vencer lidando com 150 processos.  Se eu perdi, quero parabenizar meu oponente — disse Mourinho.</p>
<p class='noticia-conteudo'>A provocação de Mourinho acontece depois de outra provocação, essa por parte de Guardiola.  O treinador do Manchester City falou que ganhou três títulos de Premier League a mais que o português. 
— No fim das contas, talvez eu seja uma pessoa similar a José (Mourinho), mas ele ganhou três, eu ganhei seis — provocou o espanhol.</p>
<p class='noticia-conteudo'>Manchester City oficializa a renovação do contrato de Pep Guardiola
Mourinho tratou do "julgamento do século", processo que o Manchester City enfrenta contra a Premier League.  O clube é acusado de 115 supostas violações das regras financeiras, e pode ser rebaixado caso seja considerado culpado. 
Entenda o caso
O início das audiências de uma comissão independente da liga inglesa estava previsto para novembro, mas foi antecipado para setembro.</p>
<p class='noticia-conteudo'>A expectativa é que o processo dure dez semanas e que, passados potencias recursos, a decisão final saia entre março e junho de 2025. 
A audiência, que não é um processo judicial, é realizada por uma comissão independente em um local não revelado.  Ela é formada por três membros selecionados por Murray Rosen, que preside o painel judicial da Premier League.</p>
<p class='noticia-conteudo'>As supostas violações financeiras teriam ocorrido entre 2009 e 2018.  O Manchester City é acusado de ter violado as regras da liga que exigem "a melhor fé" na hora de declarar informações "que forneçam uma visão verdadeira e justa da posição financeira do clube".  Nesse período, o time conquistou três títulos do Campeonato Inglês, incluindo a quebra de um jejum de 44 anos na liga.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_122_1.jpg"></div><p class='foto-descricao'>Eithad Stadium pronto para receber Manchester City x Fulham — Foto: REUTERS</p>
A Premier League anunciou as acusações em fevereiro de 2023, com uma série de regras que o Manchester City teria driblado por temporada.  A liga destacou a falta de precisão em informações sobre as receitas do clube (incluindo patrocínio) e os custos operacionais. 
O Manchester City contra-atacou e tem vantagem sobre a Premier League no início das investigações que levarão ao "Julgamento do Século".</p>
<p class='noticia-conteudo'>O clube processa desde junho a Premier League, acusando-a de “discriminação contra os proprietários do Golfo” e tentando pôr fim às regras de Transações com Partes Associadas (APT). 
Essas regras são sobre como os clubes estabelecem acordos de patrocínio ou receitas relacionadas à sua propriedade.  Os clubes votaram pela aprovação de regras mais rígidas sobre isso em fevereiro deste ano.</p>
<p class='noticia-conteudo'>Uma consequência da compra do Newcastle pelo fundo de investimentos da Arábia Saudita, em 2021.  O objetivo era impedir a inflação de acordos de patrocínio ligados aos donos de clube. 
Em uma audiência que aconteceu no dia 26 de setembro da ação iniciada pelo clube contra a liga, foi retirada da pauta, de última hora, uma votação dos clubes contra estas regras.</p>
<p class='noticia-conteudo'>Este movimento indicaria que a equipe jurídica do City obteve algum sucesso ao convencer a comissão de que as regras precisam ser alteradas.  Mesmo que esta audiência não esteja diretamente relacionada ao "Julgamento do Século", a alteração destas regras reduziria as acusações ao Manchester City, o que poderia diminuir possíveis sanções. 
PREMIER LEAGUE.</p>
{% endblock main_content %}

