
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Muito além de Ponte Preta e Guarani veja lista de rivais rebaixados juntos{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Muito além de Ponte Preta e Guarani: veja lista de rivais rebaixados juntos
Bahia e Vitória, Vasco e Botafogo. ..</p>
<p class='noticia-conteudo'>cenário já aconteceu oito vezes na era dos pontos corridos



Ponte Preta perde para Sport e é rebaixada para Série C
Inimigos íntimos no interior de São Paulo, Guarani e Ponte Preta foram rebaixados juntos para a Série C do Campeonato Brasileiro.  A queda de rivais em uma mesma divisão é inusitada, mas está longe de ser inédita.  Desde o início dos pontos corridos o cenário já aconteceu em Recife, Salvador e até no Rio de Janeiro, com Botafogo e Vasco rebaixados em 2020.</p>
<p class='noticia-conteudo'>Quem inaugurou a categoria "rivais rebaixados" nos pontos corridos foram Bahia e Vitória, com a queda abraçada para a Terceira Divisão em 2005.  A dupla Ba-Vi repetiu a dose com um novo rebaixamento duplo em 2014, desta vez da Série A para a Série B. 


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_7_0.jpg"></div><p class='foto-descricao'>Alguns dos rivais rebaixados juntos no Campeonato Brasileiro — Foto: Arte / ge</p>

Veja abaixo a lista completa:

Os estados de Pernambuco e Santa Catarina também têm histórico de rebaixamentos de rivais, mas com combinações diferentes.</p>
<p class='noticia-conteudo'>O Náutico já caiu ao lado do Sport e do Santa Cruz.  Enquanto isso, o Avaí amargou a zona de rebaixamento acompanhado por Joinville e Chapecoense. 
Clássico da Amizade
Os mais tradicionais rivais que foram rebaixados juntos são Vasco e Botafogo.</p>
<p class='noticia-conteudo'>Os títulos nacionais e internacionais nos currículos dos alvinegros cariocas não impediram as equipes de caírem para a Segunda Divisão no Campeonato Brasileiro de 2020, que terminou nos primeiros meses de 2021. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_7_1.jpg"></div><p class='foto-descricao'>Vasco pela Série A de 2020 — Foto: André Durão / ge</p>
Naquele ano o Botafogo terminou na última posição e foi rebaixado com rodadas de antecedência.  O Vasco lutou até o fim e chegou na última partida com chances remotas de permanência, mas não conseguiu evitar seguir o mesmo caminho do rival.</p>
<p class='noticia-conteudo'>No Clássico da Amizade, em 2020 eles foram amigos até demais. 
Ba-Vi
As quedas abraçadas em 2014 e 2005 fazem de Bahia e Vitória os rivais que mais vezes foram rebaixados juntos.  Há dez anos a dupla Ba-Vi caiu para a Série B, mas antes eles já tinham despencado para uma divisão ainda mais inferior com o rebaixamento para a Série C logo nas primeiras edições dos pontos corridos.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_7_2.jpg"></div><p class='foto-descricao'>Bahia e Vitória caíram juntos para a Série B em 2014 — Foto: Felipe Oliveira / Divulgação / EC Bahia</p>
Uma curiosidade sobre rebaixamento de 2005 é que, para adequar a competição aos 20 clubes como conhecemos hoje, foi preciso rebaixar seis equipes.  Bahia e Vitória terminaram a Série B respectivamente em 18º e 17º lugar.  Se apenas quatro clubes fossem despromovidos, a dupla Ba-Vi não teria passado pelo drama da Terceira Divisão.</p>
<p class='noticia-conteudo'>Santa Catarina
Clube com mais acessos para a Primeira Divisão na era dos pontos corridos, o Avaí está acostumado a figurar entre a Série A e B do Campeonato Brasileiro.  O diferencial dos rebaixamentos de 2015 e 2019 é que eles aconteceram acompanhados por rivais.  O Joinville caiu para não mais voltar a elite do futebol nacional, e depois a Chapecoense sofreu o primeiro rebaixamento de sua história.</p>
<p class='noticia-conteudo'>Pernambuco
O Náutico "caiu atirando" contra rivais em duas oportunidades.  No Campeonato Brasileiro de 2009, arrastou o Sport para a Segunda Divisão.  Oito anos depois, puxou o Santa Cruz para a Série C.</p>
<p class='noticia-conteudo'>Para completar as duplas possíveis entre os maiores clubes do Recife, Sport e Santa Cruz também foram rebaixados juntos, mas em 2001, ainda antes dos pontos corridos. 
Interior de São Paulo
Paulista de Jundiaí e Ituano são rivais que dividem o mesmo mascote, o Galo.  Mas em 2007 eles dividiram também a zona de rebaixamento da Série B.</p>
<p class='noticia-conteudo'>A dupla do interior de São Paulo amargou a queda para a Terceira Divisão na segunda edição dos pontos corridos com 20 clubes. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_7_3.jpg"></div><p class='foto-descricao'>Guarani x Ponte Preta, derbi 207, na Série B de 2024 — Foto: Marcos Ribolli/ PontePress</p>
O interior de São Paulo voltou a ver rivais rebaixados na atual temporada, com a recente queda de Guarani e Ponte Preta para a Terceira Divisão.  O dérbi será disputado na Série C pela primeira vez em 112 anos de rivalidade.</p>
<p class='noticia-conteudo'>BAHIA
BOTAFOGO
VASCO
VITÓRIA.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

