
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Muito além do título veja o que está em jogo na última rodada do Brasileirão{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Muito além do título: veja o que está em jogo na última rodada do Brasileirão
Botafogo e Palmeiras disputam a taça, mas 10 jogos neste domingo vão definir vagas na Libertadores, Sul-Americana, briga contra o rebaixamento, artilharia e mais; confira um guia

07/12/2024 20h28 Atualizado há 12 horas

Botafogo e Palmeiras disputam o título do Brasileirão na última rodada
Pela nona vez na história do Brasileirão por pontos corridos, a decisão do título ficou para a última rodada.  Assim será neste domingo, com a disputa entre Botafogo, que recebe o São Paulo, e o Palmeiras, que pega o Fluminense.  Nas a 38ª rodada da Série A de 2024 promete mais.</p>
<p class='noticia-conteudo'>Desde 2003, quando o Campeonato Brasileiro adotou o atual formato, o campeão foi conhecido na última rodada em oito edições diferentes: 2004, 2005, 2008, 2009, 2010, 2011, 2020 e 2023.  Nunca o time que ocupava a vice-liderança terminou com a taça. 
Todos os jogos da 38ª rodada serão disputados neste domingo, às 16h (de Brasília)

Precisando de uma combinação pra ser campeão, Palmeiras já se conforma com o vice do Brasileirão

O Brasileirão definiu, até agora, os seus seis classificados que irão direto para a fase de grupos da Libertadores, mais um na fase prévia.</p>
<p class='noticia-conteudo'>Uma equipe está garantida na Sul-Americana, sem chances de ir ao outro torneio da Conmebol.  Confira:

Além do título, classificações aos torneios da Conmebol e briga contra o rebaixamento, a posição final do Brasileirão também rende uma premiação aos 16 que ficam para a Série A 2025.  A última rodada é a chance para cada clube tentar melhorar seu posto e garantir um valor melhor.</p>
<p class='noticia-conteudo'>Há ainda a briga pela artilharia, que neste ano vale o Troféu Roberto Dinamite e uma premiação em dinheiro ao líder (ou aos líderes) do ranking. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_222_0.jpg"></div><p class='foto-descricao'>Chances de rebaixamento para a última rodada do Campeonato Brasileiro 2024 — Foto: Infoesporte</p>
Veja um guia para a última rodada do Brasileirão 2024:
Grêmio x Corinthians (Arena do Grêmio)
O Grêmio precisa de um empate para se garantir na Sul-Americana
Será a despedida de Pedro Geromel, ídolo do Grêmio.  Depois de 11 anos no clube, o zagueiro irá se aposentar
Yuri Alberto, do Corinthians, tenta se isolar na artilharia.</p>
<p class='noticia-conteudo'>Com 14 gols, ele lidera o ranking ao lado de Alerrandro, do Vitória.  Com um gol, o atacante pode passar Pedro, do Flamengo, e terminar 2024 como artilheiro do Brasil no ano
Todos os gols de Yuri Alberto, do Corinthians, pelo Brasileirão 2024
Atlético-MG x Athletico-PR (Arena MRV)
Os dois lutam contra o rebaixamento e seguem com chances de classificação à Sul-Americana. 
Bahia x Atlético-GO (Fonte Nova)
Uma vitória garante o Bahia na fase prévia da Libertadores.</p>
<p class='noticia-conteudo'>O Tricolor não disputa o torneio continental desde 1989.  O Dragão está rebaixado e tenta não terminar o Brasileirão na lanterna. 
Bahia conta com o apoio da torcida para tentar voltar à Libertadores após 35 anos
Flamengo x Vitória (Maracanã)
O Flamengo está garantido na fase de grupos da Libertadores e não sairá da terceira posição.</p>
<p class='noticia-conteudo'>O principal atrativo para a equipe carioca no Maracanã é a despedida de Gabigol. 
O Vitória escapou do rebaixamento e se assegurou na Sul-Americana de 2025.  Com 14 gols, Alerrandro disputa a artilharia do Brasileirão e lidera o ranking no momento, ao lado de Yuri Alberto, do Corinthians.</p>
<p class='noticia-conteudo'>O Vitória ainda pode mirar outro objetivo: se garantir na terceira fase da Copa do Brasil 2025.  Isso acontecerá se o time baiano terminar na nona posição, com um triunfo no Rio de Janeiro, desde que o Cruzeiro perca para o Juventude, e o Vasco não vença o Cuiabá. 
Ídolo do clube, Gabigol se despede do Flamengo amanhã no Maracanã
Bragantino x Criciúma (Nabi Abi Chedid)
O Bragantino joga pela permanência.</p>
<p class='noticia-conteudo'>Uma vitória garante a equipe na Série A de 2025.  Empate ou triunfo do Criciúma rebaixa o time paulista
Fortaleza x Internacional (Castelão)
Fortaleza e Inter disputam ponto a ponto a quarta posição no Brasileirão, que rende uma premiação melhor. 
Cuiabá x Vasco (Arena Pantanal)
É improvável, mas o Vasco ainda tem chance de ir à Libertadores.</p>
<p class='noticia-conteudo'>Tem que vencer o Cuiabá, torcer para o Cruzeiro não vencer o Juventude e por uma derrota do Bahia.  Além disso, teria que tirar uma diferença de 12 gols de saldo para o Tricolor baiano. 
O Vasco está garantido na Sul-Americana e pode assegurar um lugar direto na terceira fase da Copa do Brasil 2025 se terminar o Brasileirão na nona posição.</p>
<p class='noticia-conteudo'>O Cuiabá está rebaixado e tenta não terminar na lanterna. 
Juventude x Cruzeiro (Alfredo Jaconi)
O Juventude garantiu sua permanência e tenta confirmar a presença na próxima Sul-Americana.  Seria sua segunda participação no torneio.</p>
<p class='noticia-conteudo'>O Cruzeiro disputa com o Bahia a última vaga na fase prévia da Libertadores.  O time mineiro está um ponto atrás dos baianos. 
Planejamento para 2025 do Cruzeiro passa por vaga na Libertadores
Botafogo x São Paulo (Nilton Santos)
O Botafogo precisa de um empate para ser campeão brasileiro, ou simplesmente que o Palmeiras não vença o Fluminense.</p>
<p class='noticia-conteudo'>O São Paulo não muda de posição e está garantido na fase de grupos da Libertadores
Palmeiras x Fluminense (Allianz Parque)
O Palmeiras sonha com o título.  Precisa vencer e torcer pela derrota do Botafogo contra o São Paulo. 
Com 13 gols, Estêvão briga pela artilharia do Brasileirão.</p>
<p class='noticia-conteudo'>Yuri Alberto (Corinthians) e Alerrandro (Vitória) lideram o ranking no momento. 
O Fluminense luta contra o rebaixamento.  Uma vitória pode garantir classificação à Sul-Americana.</p>
{% endblock main_content %}

