
    {% extends "html/modelo.html" %}

    {% block title %}Mundial de Clubes 2025 veja data do sorteio dos grupos{% endblock title %}
    {% block main_title %}Mundial de Clubes 2025 veja data do sorteio dos grupos{% endblock main_title %}
    {% block second_title %}None{% endblock second_title %}
    {% block main_content %}<p class='noticia-conteudo'>Mundial de Clubes 2025: veja data do sorteio dos grupos
Evento será realizado em 5 de dezembro, às 15h (de Brasília), em Miami.  Última vaga será preenchida pelo campeão da Libertadores: Atlético-MG ou Botafogo

11/11/2024 13h12 Atualizado

Fifa divulga logo e música do novo Mundial de Clubes
O sorteio dos grupos do Mundial de Clubes de 2025 será realizado no dia 5 de dezembro, às 15h (de Brasília).  A Fifa anunciou nesta segunda-feira que as oito chaves serão definidas em evento realizado em Miami, uma das 11 sedes do torneio, dias depois da final da Copa Libertadores, que indicará o último dos 32 participantes: Atlético-MG ou Botafogo.</p>
<p class='noticia-conteudo'>Flamengo, Fluminense e Palmeiras já estão classificados. 
✅Clique aqui para seguir o canal ge Futebol Internacional no WhatsApp
<div class="div-imagem"><img class="noticia-imagem" src="/media/Mundial_de_Clubes_2025_veja_data_do_sorteio_dos_grupos_0.jpg"></div>Novo Mundial de Clubes da Fifa será realizado entre 15 de junho e 13 de julho de 2025 — Foto: Divulgação / Fifa
Os 32 times do Mundial de 2025 serão divididos em oito grupos de quatro equipes.  A Fifa vai formar grupos para a competição em um sorteio dirigido (com divisão de potes) levando em consideração fatores esportivos e geográficos.</p>
<p class='noticia-conteudo'>Mais detalhes serão divulgados em breve.  O torneio será realizado entre 15 de junho e 13 de julho de 2025. 

O confronto direto será o primeiro critério de desempate na fase de grupos (uma novidade em torneios organizados pela Fifa), seguido por saldo de gols e quantidade de gols marcados.</p>
<p class='noticia-conteudo'>As duas melhores equipes de cada grupo avançam para o mata-mata da competição, que começa nas oitavas de final.  Em caso de empate nos 'playoffs', a partida será decidida na prorrogação com disputa de pênaltis em sequência. 
A edição inaugural do chamado "Super Mundial" será disputada em 11 cidades nos Estados Unidos, sendo que uma delas, Orlando, terá dois estádios no torneio.</p>
<p class='noticia-conteudo'>Nove sedes ficam na Costa Leste, e apenas duas estão na Costa Oeste (Los Angeles e Seattle).  O MetLife Stadium, na região de Nova York, foi escolhido para receber a final do torneio, no dia 13 de julho de 2025.  A competição terá 32 times e será disputada a cada quatro anos.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="/media/Mundial_de_Clubes_2025_veja_data_do_sorteio_dos_grupos_1.jpg"></div>Sedes do Mundial de Clubes da Fifa 2025, nos Estados Unidos — Foto: Divulgação/Fifa
Veja os 31 times confirmados pela Fifa para o Mundial de Clubes de 2025:
Boca Juniors (Argentina) – via ranking da CONMEBOL
River Plate (Argentina) – via ranking da CONMEBOL
Fluminense (Brasil) – vencedor da Copa Libertadores da América 2023
Flamengo (Brasil) – vencedor da Copa Libertadores da América 2022
Palmeiras (Brasil) – vencedor da Copa Libertadores da América 2021
Auckland City (Nova Zelândia) – via ranking da OFC
Pachuca (México) – vencedor da Liga dos Campeões da Concacaf 2024
Club León (México) – vencedor da Liga dos Campeões da Concacaf 2023
Inter Miami (EUA) - vencedor da Supporter's Shield 2024
Seattle Sounders (EUA) – vencedor da Liga dos Campeões da Concacaf 2022
Monterrey (México) – vencedor da Liga dos Campeões da Concacaf 2021
FC Salzburg (Áustria) – via ranking da UEFA
Atlético de Madri (Espanha) – via ranking da UEFA
Juventus (Itália) – via ranking da UEFA
Borussia Dortmund (Alemanha) – via ranking da UEFA
Benfica (Portugal) – via ranking da UEFA
Porto (Portugal) - via ranking da UEFA
Internazionale de Milão (Itália) – via ranking da UEFA
Paris Saint-Germain (França) – via ranking da UEFA
Bayern de Munique (Alemanha) – via ranking da UEFA
Manchester City (Inglaterra) – vencedor da Liga dos Campeões da UEFA 2022/23
Real Madrid (Espanha) – vencedor da Liga dos Campeões da UEFA 2021/22
Chelsea (Inglaterra) – vencedor da Liga dos Campeões da UEFA 2020/21
Ulsan (Coreia do Sul) – via ranking da AFC
Al Ain (Emirados Árabes Unidos) – vencedor da Liga dos Campeões da AFC 2024
Urawa Red Diamonds (Japão) – vencedor da Liga dos Campeões da AFC 2022
Al-Hilal (Arábia Saudita) – vencedor da Liga dos Campeões da AFC 2021
Mamelodi Sundowns (África do Sul) – via ranking da CAF
ES Tunis Esperance (Tunísia) – finalista da Liga dos Campeões da CAF 2023/24 ou via ranking da CAF
Wydad (Marrocos) – vencedor da Liga dos Campeões da CAF 2021/22
Al Ahly (Egito) – vencedor da Liga dos Campeões da CAF 2020/21 e 2022/23
O formato do Mundial de Clubes 2025:

FLAMENGO
FLUMINENSE
PALMEIRAS
REAL MADRID.</p>
{% endblock main_content %}
    