
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Mundial de Clubes 2025 veja os grupos completos{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Mundial de Clubes 2025: veja os grupos completos
Fifa define as chaves da primeira edição do novo torneio nos Estados Unidos

05/12/2024 15h36 Atualizado há 58 minutos

Mundial de Clubes 2025: Veja como ficou o sorteio dos grupos
A Fifa sorteou os grupos do Mundial de Clubes de 2025, primeira edição do novo torneio, que será disputada nos Estados Unidos entre 15 junho e 13 de julho do ano que vem.  Veja abaixo como ficaram as chaves:

Grupo A
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_110_0.jpg"></div><p class='foto-descricao'>Gianni Infantino e Ronaldo Fenômeno apresentam troféu do Mundial de Clubes da Fifa — Foto: Brian Snyder/Reuters</p>
Palmeiras
Porto (POR)
Al-Ahly (EGI)
Inter Miami (EUA)
Fifa divulga detalhes do troféu do Mundial de Clubes 2025
Grupo B
Paris Saint-Germain (FRA)
Atlético de Madrid (ESP)
Botafogo
Seattle Sounders (EUA)
Grupo C
Bayern de Munique (ALE)
Auckland City (NZL)
Boca Juniors (ARG)
Benfica (POR)
Grupo D
Flamengo
Espérance de Tunis (TUN)
Chelsea (ING)
León (MEX)
Grupo E
River Plate (ARG)
Urawa Red Diamonds (JAP)
Monterrey (MEX)
Inter de Milão (ITA)
Grupo F
Fluminense
Borussia Dortmund (ALE)
Ulsan (COR)
Mamelodi Sundowns (AFS)
Grupo G
Manchester City (ING)
Wydad Casablanca (MAR)
Al Ain (EAU)
Juventus (ITA)
Grupo H
Real Madrid (ESP)
Al-Hilal (SAU)
Pachuca (MEX)
RB Salzburg (AUT)
Fifa divulga logo e música do novo Mundial de Clubes
O torneio será disputado nos mesmos moldes antigos da Copa do Mundo de seleções, com cada equipe fazendo três partidas na primeira fase, e os dois primeiros de cada chave avançando para as oitavas de final, para então se iniciar a fase de mata-mata em jogo único. 
Os critérios para a divisão dos potes
De acordo com a Fifa, os 32 times foram divididos nos oito potes para "garantir equilíbrio competitivo e diversidade geográfica" na competição.</p>
<p class='noticia-conteudo'>A divisão entre os representantes de cada confederação nos potes foi de acordo com os rankings continentais. 
No pote 1, ficaram os quatro melhores times do ranking da Europa e os quatro melhores times do ranking da América do Sul.  O pote 2 tem apenas equipes europeias: os outros oito participantes do continente que garantiram vaga no Mundial.</p>
<p class='noticia-conteudo'>No pote 3 ficaram os dois melhores times dos rankings dos seguintes continentes: Ásia, África e Américas Central e do Norte.  E também os outros dois representantes da América do Sul.  O pote 4 ficou com os outros times classificados para o torneio, incluindo os representantes da Oceania e do país-sede.</p>
<p class='noticia-conteudo'>BOTAFOGO
FLAMENGO
FLUMINENSE
PALMEIRAS.</p>
{% endblock main_content %}

