
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Mundial de Clubes 2025 veja o chaveamento do mata-mata{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Mundial de Clubes 2025: veja o chaveamento do mata-mata
Com grupos definidos, confira quem enfrenta quem a partir das oitavas de final da competição

06/12/2024 09h41 Atualizado há uma hora

Mundial de Clubes 2025: Veja como ficou o sorteio dos grupos
O Mundial de Clubes de 2025, primeira edição da nova competição, que será disputada nos Estados Unidos entre 15 de junho e 13 de julho do ano que vem, já tem os grupos definidos.  Após o sorteio desta quinta-feira, confira também o chaveamento do mata-mata do torneio:

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_86_0.jpg"></div><p class='foto-descricao'>Chaveamento do mata-mata do Mundial de Clubes da Fifa 2025 — Foto: Reprodução / SporTV</p>
O torneio será disputado nos mesmos moldes antigos da Copa do Mundo de seleções, com cada equipe fazendo três partidas na primeira fase, e os dois primeiros de cada chave avançando para as oitavas de final, para então se iniciar a fase de mata-mata em jogo único. 
Grupo A:
Palmeiras
Porto (POR)
Al-Ahly (EGI)
Inter Miami (EUA)
Grupo B
Paris Saint-Germain (FRA)
Atlético de Madrid (ESP)
Botafogo
Seattle Sounders (EUA)
Grupo C
Bayern de Munique (ALE)
Auckland City (NZL)
Boca Juniors (ARG)
Benfica (POR)
Grupo D
Flamengo
Espérance de Tunis (TUN)
Chelsea (ING)
León (MEX)
Grupo E
River Plate (ARG)
Urawa Red Diamonds (JAP)
Monterrey (MEX)
Inter de Milão (ITA)
Grupo F
Fluminense
Borussia Dortmund (ALE)
Ulsan (COR)
Mamelodi Sundowns (AFS)
Grupo G
Manchester City (ING)
Wydad Casablanca (MAR)
Al Ain (EAU)
Juventus (ITA)
Grupo H
Real Madrid (ESP)
Al-Hilal (SAU)
Pachuca (MEX)
RB Salzburg (AUT)

Mundial de Clubes 2025: confira imagens do troféu
Oitavas de final
Jogo 1: 1º do A x 2º do B
Jogo 2: 1º do C x 2º do D
Jogo 3: 1º do E x 2º do F
Jogo 4: 1º do G x 2º do H
Jogo 5: 1º do B x 2º do A
Jogo 6: 1º do D x 2º do C
Jogo 7: 1º do F x 2º do E
Jogo 8: 1º do H x 2º do G
Quartas de final
Jogo 9: Vencedor do jogo 1 x Vencedor do jogo 2
Jogo 10: Vencedor do jogo 3 x Vencedor do jogo 4
Jogo 11: Vencedor do jogo 5 x Vencedor do jogo 6
Jogo 12: Vencedor do jogo 7 x Vencedor do jogo 8
Semifinal
Jogo 13: Vencedor do jogo 9 x Vencedor do jogo 10
Jogo 14: Vencedor do jogo 11 x Vencedor do jogo 12
Final
Jogo 15: Vencedor do jogo 13 x Vencedor do jogo 14.</p>
{% endblock main_content %}

