
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}santos{% endblock title %}
{% block main_title %}santos{% endblock main_title %}
{% block second_title %}Mundial de Clubes 2025 veja análise dos oito grupos{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Mundial de Clubes 2025: veja análise dos oito grupos
Botafogo, Flamengo, Fluminense e Palmeiras serão os representantes brasileiros

05/12/2024 19h10 Atualizado há 15 horas

Mundial de Clubes 2025: Veja como ficou o sorteio dos grupos
A Fifa sorteou nesta quinta-feira os grupos do Mundial de Clubes 2025.  O Brasil terá quatro representantes: Botafogo, Flamengo, Fluminense e Palmeiras. 
O ge mostra abaixo uma análise detalhada dos oito grupos.</p>
<p class='noticia-conteudo'>Clique nos links abaixo para saber tudo sobre as chaves. 









Mundial de Clubes 2025: veja os grupos completos.</p>
{% endblock main_content %}

