
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}corinthians{% endblock title %}
{% block main_title %}corinthians{% endblock main_title %}
{% block second_title %}Não é só Memphis Corinthians se aproxima de estrelas e pensa em novo reforço de peso para 2025{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Não é só Memphis: Corinthians se aproxima de estrelas e pensa em novo reforço de peso para 2025
Contratação do holandês abriu portas para o Timão recuperar confiança de grandes jogadores sobre projeto do clube.  Diretoria estuda nova "contratação de impacto" para o próximo ano

06/12/2024 04h01 Atualizado há 2 horas

Rizek comenta ascensão do Corinthians e prevê 2025 "brigando por coisas grandes"
A contratação de Memphis Depay e a perspectiva de um 2025 diferente são alguns dos artifícios usados pelo Corinthians para atrair grandes jogadores ao clube.  O plano é ter mais estrelas para potencializar a marca dentro e fora de campo.</p>
<p class='noticia-conteudo'>Apesar das dificuldades financeiras e da incerteza sobre a continuidade de Augusto Melo na presidência, o Corinthians tem traçado um audacioso plano projetando as próximas temporadas.  A intenção é buscar ao menos um grande reforço a cada ano, como foi a chegada de Memphis ao clube em 2024. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_106_0.jpg"></div><p class='foto-descricao'>Memphis chegou foi a grande contratação do Corinthians nos últimos anos — Foto: Marcos Ribolli</p>
A aproximação do clube de jogadores estrangeiros e também brasileiros que atuaram ou atuam na seleção brasileira tem sido feita nos últimos meses pelo executivo Fabinho Soldado.</p>
<p class='noticia-conteudo'>Com o projeto de Memphis como exemplo, o objetivo é mudar a imagem do clube nos bastidores. 
O executivo de futebol tem contado com o apoio dos jogadores do atual elenco, que o ajudam em conversas sobre o ambiente, estrutura e a gestão do clube.  O caso mais recente foi o encontro entre Memphis e Neymar - o holandês não escondeu a vontade de atuar ao lado do craque.</p>
<p class='noticia-conteudo'>Mais notícias do Corinthians:


Memphis exalta momento no Corinthians e manda recado a Neymar: "Amaria jogar com ele"
A fama de mau pagador e as crises técnica e administrativa afastaram nos últimos anos a chegada de grandes jogadores.  O caso de Willian, que deixou o clube depois de sofrer ameaças de torcedores, também é usado como exemplo para mostrar a mudança de mentalidade a curto prazo. 
No início do ano, segundo apurou o ge, o Corinthians sofreu seguidas negativas no mercado em busca de reforços.</p>
<p class='noticia-conteudo'>Aos poucos, o clube passou a receber ofertas de jogadores interessados em atuar no Brasil e especificamente no Timão.  O trabalho é para recuperar a confiança de agentes, jogadores e investidores. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_106_1.jpg"></div><p class='foto-descricao'>Memphis Depay posa com o diretor Fabinho Soldado e a camisa do Corinthians — Foto: Divulgação</p>
Papo com multicampeão
Um dos exemplos recentes do projeto do Corinthians em se aproximar de estrelas do futebol mundial foi a breve negociação com o zagueiro espanhol Sergio Ramos.</p>
<p class='noticia-conteudo'>Livre no mercado desde a saída do Sevilla, o zagueiro foi oferecido ao Corinthians e teve um projeto apresentado por Fabinho Soldado.  O jogador gostou da estrutura, da história do clube e reagiu positivamente à possibilidade de uma experiência no Brasil. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_106_2.jpg"></div><p class='foto-descricao'>Sergio Ramos estava no Sevilla — Foto: Efe</p>
A partir daí, a direção alvinegra esbarrou no alto investimento que teria de fazer para contar com o zagueiro de 38 anos no elenco.</p>
<p class='noticia-conteudo'>A reta final da temporada e a incerteza sobre o calendário de 2025 acabaram esfriando a investida do Timão. 
A chegada de Sergio Ramos, neste momento, foi descartada pelo Corinthians.  A classificação para a Conmebol Libertadores, porém, deve fazer o clube ir ao mercado em busca de reforços pontuais e de um jogador midiático, que se encaixe no perfil desejado e que possa ter o mesmo resultado técnico e de marketing como teve Memphis Depay.</p>
<p class='noticia-conteudo'>Melhorias no CT
A estrutura do CT Joaquim Grava, que surpreendeu Memphis Depay, é um trunfo que o Corinthians pretende utilizar ainda mais ao “vender” o clube para jogadores estrangeiros. 
Rolê do Memphis: atacante do Corinthians está curtindo São Paulo
O centro de treinamento do Corinthians pode até passar por uma grande reforma nos próximos anos.  Fabinho Soldado tem liderado a mudança de processos e de melhorias no local.</p>
<p class='noticia-conteudo'>O dirigente desenhou a ampliação do CT, com o aumento do local onde os jogadores concentram, do refeitório e da academia. 

A modernização dos espaços internos é vista pelo executivo de futebol como uma maneira de o Corinthians se manter entre os clubes de melhor estrutura do mundo.  No entanto, o investimento em melhorias depende justamente do aumento das receitas.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_106_3.jpg"></div><p class='foto-descricao'>Fabinho Soldado é diretor executivo de futebol do Corinthians — Foto: Rodrigo Coca / Ag. Corinthians</p>
O CT Joaquim Grava foi inaugurado em 2010, quando Ronaldo Fenômeno jogava pelo clube.  Ao longo dos anos, o espaço passou por melhorias e ampliações, como a construção do Lab R9.</p>
<p class='noticia-conteudo'>Recentemente, o clube iniciou obras pontuais para a ampliação do local. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_106_4.jpg"></div><p class='foto-descricao'>CT do Corinthians é trunfo para apresentar clube a jogadores estrangeiros — Foto: Reprodução/TV Corinthians</p>

50 vídeos
CORINTHIANS.</p>
{% endblock main_content %}

