
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}NBA Jokic faz 56 pontos, mas Nuggets perde do lanterna Wizards{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>NBA: Jokic faz 56 pontos, mas Nuggets perde do lanterna Wizards
Sérvio bate recorde de pontuação da carreira e não evita derrota para o pior time da NBA

08/12/2024 06h05 Atualizado há 3 horas

Denver Nuggets de Nikola Jokic conquista título inédito na NBA
Uma performance histórica do sérvio Nikola Jokic, com 56 pontos marcados, o maior número da carreira dele em um só jogo, não salvou o Denver Nuggets de perder para o Washington Wizards, o lanterna da Conferência Leste e que vinha de 16 derrotas consecutivas na NBA.  O duelo terminou em 122 a 113. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_225_0.jpg"></div><p class='foto-descricao'>Nikola Jokic, do Denver Nuggets, salta para fazer cesta em jogo contra o Washington Wizards pela NBA — Foto: Kenny Giarla/NBAE via Getty Images</p>
Jokic está entre os melhores jogadores da temporada, com média de 29,9 pontos por partida e, na noite desse sábado, na Capital One Arena, em Washington, conseguiu superar o recorde anterior de 53 pontos no quarto jogo das semifinais da Conferência Oeste de 2023 contra o Phoenix Suns.</p>
<p class='noticia-conteudo'>Sem a companhia de Jamal Murray e Aaron Gordon, que foram desfalques do Nuggets por causa de lesões, Jokic marcou 56 pontos, com 16 rebotes e oito assistências. 
Entretanto, o desempenho não impediu que o Nuggets levasse a pior contra aquela que era a pior equipe da NBA e acumulava 16 derrotas seguidas.  Para vencer pela primeira vez desde 30 de outubro, o Wizards contou com 39 pontos marcados pelo norte-americano Jordan Poole.</p>
<p class='noticia-conteudo'>Com o resultado, o Nuggets aparece na 9ª colocação da Conferência Oeste, com 11 vitórias e dez derrotas, e o Wizards amarga a última colocação da Conferência Leste, tendo 18 derrotas em 21 jogos.  Considerando as duas conferências, o Wizards tem a pior campanha dentre os 30 times. 
Confira os resultados da 45ª rodada da NBA:.</p>
{% endblock main_content %}

