
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}NBA lança uniformes City Edition para a temporada 20242025{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>NBA lança uniformes City Edition para a temporada 2024/2025
Camisas exibidas pela liga americana de basquete, nesta quinta-feira, através das redes sociais, têm diferentes inspirações e estampas



Ex-jogador da NBA causa preocupação nas redes: "Temo pela minha vida"
A NBA apresentou, nesta quinta-feira, a linha de uniformes City Edition para a temporada 2024/2025.  A entidade, através de sua conta oficial nas redes sociais, lançou as estampas das franquias de Leste e Oeste da liga americana de basquete.  As camisas confeccionadas anualmente são utilizadas apenas em alguns jogos do calendário.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_0.jpg"></div><p class='foto-descricao'>LeBron James veste o uniforme City Edition — Foto: divulgação</p>
Os uniformes têm desenhos e cores diversas, afinal, foram feitas sob inspirações diferentes.  A do Los Angeles Lakers, por exemplo, traz a inscrição "LakeShow" na altura do peitoral, um time que não apenas joga, mas também performa em alto nível.  A expectativa é que LeBron James e companhia enverguem a camisa no duelo contra o Orlando Magic, no próximo dia 21.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_1.jpg"></div><p class='foto-descricao'>Camisas City Edition da NBA para a temporada 2024/2025 — Foto: Reprodução</p>.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

