
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}cuiaba{% endblock title %}
{% block main_title %}cuiaba{% endblock main_title %}
{% block second_title %}Nenê admite possibilidade de adiar aposentadoria e jogar mais uma temporada{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Nenê admite possibilidade de adiar aposentadoria e jogar mais uma temporada
Em caso de permanência do Juventude na elite do Brasileirão, meia de 43 anos pode renovar contrato e permanecer no Alfredo Jaconi

18/11/2024 11h43 Atualizado

Nenê admite possibilidade de adiar aposentadoria e jogar mais uma temporada
Principal referência técnica do Juventude desde a temporada passada, Nenê pode prorrogar a sua passagem pelo clube por mais um ano.  Em entrevista coletiva na manhã desta segunda-feira, o meia de 43 anos foi questionado sobre a aposentadoria ao final da temporada e não descartou a possibilidade de permanecer no clube em 2025. 

– Acabei de acordar e vocês já seguem com essas perguntas (risos).</p>
<p class='noticia-conteudo'>É uma possibilidade.  Não sei ainda, mas como eu falei, o foco agora é a permanência aqui na Série A.  Eu estou bastante feliz aqui, acredito que eu vou ver como eu vou me sentir fisicamente.</p>
<p class='noticia-conteudo'>Mas é difícil falar agora, ainda mais assim, antes de um momento tão importante.  Mas é uma possibilidade, sim – declarou o camisa 10. 
Nenê chegou ao Alfredo Jaconi nas rodadas iniciais da Série B de 2023 e foi peça fundamental na conquista do acesso sob o comando do técnico Thiago Carpini.</p>
<p class='noticia-conteudo'>Naquela temporada, disputou 28 jogos com sete gols e mais sete assistências.  O número só não foi maior por causa de uma lesão nas rodadas finais da competição, que tirou o meia dos últimos quatros jogos do time. 


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_9_0.jpg"></div><p class='foto-descricao'>Nenê, meia do Juventude, cogita adiar a aposentadoria por mais uma temporada — Foto: Fernando Alves/E.</p>
<p class='noticia-conteudo'>C Juventude</p>
Após as boas aparições, o "garotinho" estendeu o vínculo com o Papo por mais uma temporada.  Apesar de menos decisivo, já esteve em campo em 32 partidas no ano, com dois gols e mais quatro passes para gols.  Durante o período no Alfredo Jaconi, Nenê comemorou outra marca expressiva.</p>
<p class='noticia-conteudo'>No primeiro jogo da final do Gauchão contra o Grêmio, atingiu mil jogos como profissional. 
À disposição do técnico Fábio Matias, Nenê é peça importante na luta pela permanência do Juventude na Série A do Campeonato Brasileiro.  O time de Caxias do Sul tem um confronto direto contra o Grêmio na próxima quarta-feira, às 19h, na Arena.</p>
<p class='noticia-conteudo'>50 vídeos
JUVENTUDE.</p>
{% endblock main_content %}
{% block cor_categoria %}#ff0000{% endblock cor_categoria %}

