
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Neymar x Mbappé após troca de farpas, atacantes devem se enfrentar no Mundial de Clubes{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Neymar x Mbappé: após troca de farpas, atacantes devem se enfrentar no Mundial de Clubes
Duas maiores transferências da história do futebol, brasileiro e francês foram de amizade a atritos no PSG.  Real Madrid e Al-Hilal duelarão na estreia do novo torneio

06/12/2024 02h00 Atualizado há 9 horas

Neymar x Real Madrid: Veja o sorteio do grupo H do Mundial de Clubes 2025
A Fifa sorteou, nesta quinta-feira, os grupos do Mundial de Clubes de 2025.  O primeiro jogo do Grupo H será entre Real Madrid e Al-Hilal, e poderá representar o reencontro de Neymar e Mbappé.</p>
<p class='noticia-conteudo'>Ex-companheiros de Paris Saint-Germain, as duas maiores contratações da história do futebol tiveram relação controversa e o ge relembra como os dois foram da amizade à troca de farpas. 
Reforços milionários e grande expectativa
Quando reforçou o PSG, em agosto de 2017, Neymar se tornou a maior transferência de todos os tempos, custando 222 milhões de euros (R$ 812 milhões na época) pagos ao Barcelona.  Mbappé também foi contratado no mesmo momento, primeiro por empréstimo, e na temporada seguinte teve compra efetivada por € 180 milhões (R$ 673 milhões), ficando atrás apenas do colega brasileiro na história do futebol.</p>
<p class='noticia-conteudo'>Tiveram bons momentos já de início, fizeram gols e conquistaram o tricampeonato do Campeonato Francês em suas três primeiras temporadas.  A expectativa era grande de que ambos conseguissem levar o PSG ao sonhado título da Champions League.  Lesões de Neymar em momentos decisivos dificultaram a missão.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_87_0.jpg"></div><p class='foto-descricao'>Neymar e Mbappé treino PSG — Foto: AFP</p>
Da amizade à troca de farpas
Os dois atacantes se destacavam dentro das quatro linhas e passaram muito perto de conquistar a Liga dos Campeões em 2020, quando o brasileiro teve grande destaque na campanha.  Na grande final, contra o Bayern de Munique, o francês desperdiçou boas oportunidades, e o time alemão saiu com o título. 
Até então, a parceria de Neymar e Mbappé se percebia dentro e fora de campo.</p>
<p class='noticia-conteudo'>O jovem francês era era nome certo nas festas de aniversário camisa 10.  A troca de elogios também era constante em entrevistas e postagens em redes sociais. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_87_1.jpg"></div><p class='foto-descricao'>Neymar Mbappé aniversário — Foto: Reprodução/Instagram</p>
O primeiro grande atrito da dupla aconteceu em agosto de 2022, em vitória por 5 a 2 sobre o Montpellier, no Campeonato Francês.</p>
<p class='noticia-conteudo'>Na ocasião, Mbappé perdeu um pênalti no primeiro tempo.  Cerca de 20 minutos depois, houve outro penalidade para o PSG, e Neymar pegou a bola e teve uma discussão com o contrariado companheiro, antes de cobrar e converter a oportunidade. 
No mesmo jogo, Kylian Mbappé protagonizou outras polêmicas, como um lance em que abandona a jogada de contra-ataque do PSG por não receber o passe, e em outro momento deu uma trombada com o ombro em Lionel Messi e saiu andando sem pedir desculpas.</p>
<p class='noticia-conteudo'>Na época, o perfil oficial de Neymar curtiu publicações que criticavam Mbappé e o técnico do Paris.  De acordo com a imprensa local, a diretoria precisou reunir os dois jogadores para aparar arestas. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_87_2.jpg"></div><p class='foto-descricao'>Neymar e Mbappé conversam antes de cobrança de pênalti contra o Montpellier — Foto: Getty Images</p>
Desde então, a situação se tornou cada vez mais complicada no clube, que tinha Lionel Messi para completar o trio estrelado.</p>
<p class='noticia-conteudo'>A imprensa francesa chegou a especular que Mbappé teria pedido a saída de Neymar antes do início da temporada 2022/23.  O diretor de futebol do clube negou o caso. 
Mbappé teria sido pivô da saída de Neymar do PSG
Pouco antes da saída de Neymar para o Al-Hilal, Mbappé foi afastado do time principal e ficou de fora de excursão para o Coreia do Sul, enquanto o brasileiro participou da viagem e voltou de lesão com boa atuação e gol marcado.</p>
<p class='noticia-conteudo'>Dias depois, o atacante francês foi reintegrado.  Segundo apuração do jornal L'Équipe, a iminente saída de Neymar seria o motivo do acerto entre as partes. 
A publicação ressaltava que um ano antes Mbappé tinha dito à diretoria que não havia mais espaço no time para os dois jogadores.</p>
<p class='noticia-conteudo'>No mesmo momento em que o francês voltava a ficar à disposição do PSG, o clube anunciava que Verratti e Neymar estavam fora dos planos e seriam negociados. 
Segundo o L'Équipe, se tratava de uma espécie de acordo do Paris Saint-Germain com o Mbappé para convencê-lo de não sair para o Real Madrid no fim de seu contrato, em junho de 2024, como acabou acontecendo.  Após deixar a França, Neymar deixou de seguir o ex-companheiro no Instagram e, em diferentes momentos, interagiu com publicações que criticavam o francês.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_87_3.jpg"></div><p class='foto-descricao'>L'Equipe destaca movimento no PSG: Mbappé volta, e Neymar sai — Foto: Reprodução/L'Equipe</p>
Possível reencontro
Apesar de o embate entre Real Madrid e Al-Hilal estar confirmado, ainda não se pode ter certeza de que Mbappé e Neymar estarão em campo.  O contrato do brasileiro com o clube saudita vai até o fim de junho de 2025, enquanto o torneio será disputado até o dia 13 de julho.  A Fifa permitirá prorrogações de contratos por determinados números de dias em casos deste tipo e, caso o Camisa 10 e o clube desejem, ele poderá participar.</p>
<p class='noticia-conteudo'>O duelo ainda não tem data confirmada, mas será a estreia das duas equipes na competição.  Recuperado das graves lesões que sofreu no joelho esquerdo, Neymar voltou depois de mais de um ano parado e sofreu novo problema físico, desta vez na coxa, mas a gravidade é pequena, e a previsão é de o astro voltar ainda em dezembro. 
A primeira edição da Copa do Mundo dos Clubes, torneio quadrienal criado pela Fifa, será disputada nos Estados Unidos, entre 15 de junho e 13 de julho de 2025.</p>
<p class='noticia-conteudo'>As 32 equipes, das seis confederações continentais, foram divididas em oito grupos, com formato de disputa semelhante ao da Copa do Mundo: os dois melhores de cada chave avançam às oitavas de final. 
Mundial de Clubes 2025: Veja como ficou o sorteio dos grupos
MESSI
PARIS SAINT-GERMAIN
REAL MADRID.</p>
{% endblock main_content %}

