
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}NFL namorado de Taylor Swift entra em lista de jogadores mais bem pagos; veja valores{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>NFL: namorado de Taylor Swift entra em lista de jogadores mais bem pagos; veja valores
Travis Kelce é único "não quarterback" em relação elaborada pela revista Forbes; confira



Carolina Panthers 27 x 30 Kansas City Chiefs | Melhores momentos | NFL 2024/2025
Apesar de uma janela de transferências e negociações que viu jogadores quebrarem recordes de valor anual de contrato em 13 posições diferentes, a lista dos atletas mais bem pagos da NFL em 2024 ainda é dominada por quarterbacks.  Apenas um dos 10 boleiros mais gratificados da liga não é um quarterback, a posição de maior prestígio do futebol americano.  Esta honra pertence a Travis Kelce, tight end do Kansas City Chiefs e também famoso por ser o namorado da megaestrela pop Taylor Swift.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_31_0.jpg"></div><p class='foto-descricao'>Travis Kelce (esq. ) comemora título do Kansas City Chiefs com a namorada, Taylor Swift (dir. ) — Foto: Patrick Smith/Getty Images</p>
Kelce é o sétimo atleta mais bem pago na liga em 2024, com estimados US$ 52 milhões (mais de R$ 308 milhões) anuais.</p>
<p class='noticia-conteudo'>Isso se deve não só ao seu novo contrato com os Chiefs, com uma média salarial de US$ 17,1 milhões (R$ 101,5 milhões) por ano - recorde entre tight ends, mas "trocado" se comparado ao maior valor anual recebido por quarterbacks (US$ 55 milhões, ou R$ 326,6 milhões) - mas também aos ganhos de Kelce extracampo. 

Ele recebe em 2024 estimados US$ 35 milhões (R$ 207,8 milhões) em seus outros empreendimentos, incluindo patrocínios, contratos com empresas de streaming e investimentos.  É o segundo maior total extracampo recebido por um jogador de futebol americano nos 15 anos que a revista "Forbes" faz este levantamento, superado apenas por Tom Brady nos últimos dois anos de sua carreira (US$ 44 milhões, ou R$ 261 milhões).</p>
<p class='noticia-conteudo'>A popularidade de Kelce explodiu em 2023 com o início de seu relacionamento com a cantora Taylor Swift.  Isto o ajudou a elevar ainda mais seu portfólio.  Em agosto passado, Travis e seu irmão Jason, recentemente aposentado da NFL, atingiram acordo de US$ 105 milhões (R$ 623,6 milhões) por três anos para produzir seu podcast "New Heights" na plataforma de streaming Wondery, pertencente à Amazon.</p>
<p class='noticia-conteudo'>NFL: Philadelphia Eagles confirma favoritismo e vence Los Angeles Rams
O tight end recebeu ainda US$ 2,4 milhões (R$ 14,2 milhões) em vendas de camisas e outras receitas de licenciamento de imagem, o quarto melhor total na liga.  Ele tem ainda acordos com a empresa de bebidas energéticas A SHOC, que inclui participação societária, com a General Mills e a Pepsi, e investiu numa empresa do ramo de cervejas chamada Garage Beer.  Para completar, se tornou apresentador de uma série da Prime Video e fará participações em dois filmes e uma série de ficção.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_31_1.jpg"></div><p class='foto-descricao'>Jared Goff, do Detroit Lions, em ação contra o Los Angeles Rams — Foto: Gregory Shamus/Getty Images</p>
De resto, a lista tem apenas quarterbacks, e o primeiro colocado é um nome que pode surpreender: Jared Goff, do Detroit Lions.  Após liderar a equipe à sua primeira aparição em playoffs em sete anos, ele recebeu uma extensão contratual de US$ 212 milhões (R$ 1,2 bilhão) em maio, com US$ 170 milhões (R$ 1,009 bilhão) em garantias.  As luvas de US$ 73 milhões (R$ 433,5 milhões) ajudaram a levar sua receita em 2024 a US$ 85,6 milhões (R$ 508,4 milhões), sendo US$ 80,6 milhões (R$ 478,7 milhões) em campo e US$ 5 milhões (R$ 29,6 milhões) extracampo.</p>
<p class='noticia-conteudo'>Veja os jogadores mais bem pagos da NFL:
Jared Goff (QB, Lions) - US$ 85,6 milhões (R$ 508,4 milhões)
Patrick Mahomes (QB, Chiefs) - US$ 81 milhões (R$ 481 milhões)
Jordan Love (QB, Packers) - US$ 80,5 milhões (R$ 478 milhões)
Joe Burrow (QB, Bengals) - US$ 69,7 milhões (R$ 413,9 milhões)
Justin Herbert (QB, Chargers) - US$ 66,6 milhões (R$ 395,5 milhões)
Kirk Cousins (QB, Falcons) - US$ 65 milhões (R$ 386 milhões)
Travis Kelce (TE, Chiefs) - US$ 52 milhões (R$ 308 milhões)
Russell Wilson (QB, Steelers) - US$ 49 milhões (R$ 291 milhões)
Aaron Rodgers (QB, Jets) - US$ 47,2 milhões (R$ 280,3 milhões)
Deshaun Watson (QB, Browns) - US$ 47 milhões (R$ 279,1 milhões)
OBS: a data de corte da lista da Forbes se deu antes de 4 de setembro de 2024 e, por isso, não inclui o quarterback Dak Prescott, do Dallas Cowboys, que assinou uma extensão contratual de US$ 240 milhões (R$ 1,4 bilhão) por quatro anos e receberá US$ 86,3 milhões (R$ 512,5 milhões) em campo em 2024, além de estimados US$ 10 milhões (R$ 59,3 milhões) extracampo.  Ele estará na lista de 2025 da revista..</p>
{% endblock main_content %}

