
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Ngannou faz campanha por Vini Jr em Camarões Te esperando{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Ngannou faz "campanha" por Vini Jr em Camarões: "Te esperando"
Lutador de MMA campeão da PFL se empolga após revelação de que craque da Seleção Brasileira e do Real Madrid tem raízes camaronesas


Após teste de ancestralidade feito pela CBF revelar que o jogador de futebol Vinícius Jr.  tem raízes em Camarões, um dos principais atletas do país da África Central ganhou esperanças de que a seleção nacional possa ganhar um reforço de peso.  Francis Ngannou, campeão da superluta da PFL e ex-campeão peso-pesado do UFC, apareceu nas redes sociais com uma camisa da equipe com o nome e número do craque brasileiro, e fez "campanha" para que o jogador do Real Madrid vire casaca.</p>
<p class='noticia-conteudo'>"Eu já tenho minhas camisas do VINÍCIUS JR.  prontas para a seleção de Camarões.  Irmão @vinijr, estamos te esperando em casa impacientemente.</p>
<p class='noticia-conteudo'>@fifaworldcup aí vamos nós!🏆🇨🇲", escreveu Ngannou. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_56_0.jpg"></div><p class='foto-descricao'>Francis Ngannou posa com camisa de Camarões com o nome de Vini Jr — Foto: Reprodução/Instagram</p>
Convenção da WBC vai decidir sobre possível trilogia de Robson Conceição pelo cinturão
PFL: Magomed Umalatov e Shamil Musaev disputam título dos meio-médios
O sonho de Ngannou, porém, não pode ser realizado.  Nascido no Brasil e jamais tendo residido em Camarões, Vini Jr.</p>
<p class='noticia-conteudo'>precisaria ter, no mínimo, avós nascidos no país africano.  Outra restrição é que ele já disputou competições oficiais no nível principal pela Seleção Brasileira, como a Copa do Mundo e a Copa América. 
A campanha que descobriu as raízes da família de Vini Jr.</p>
<p class='noticia-conteudo'>na tribo Tikar, em Camarões, foi uma iniciativa da CBF em parceria com uma empresa de rastreamento genético.  A campanha "Raízes de Ouro" pretende identificar as origens ancestrais de jogadores da Seleção Brasileira. 
Assine o Combate e veja o melhor do mundo das lutas.</p>
{% endblock main_content %}

