
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Nicole Silveira divide pódio com a noiva e é bronze na Copa do Mundo de skeleton{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Primeira brasileira a conquistar medalha em Copas do Mundo de esportes olímpicos de inverno, Nicole repete feito e sobe no mesmo pódio da noiva belga Kim Meylemans





Nicole Silveira termina em 13° e garante segundo melhor resultado da história do Brasil nos Jogos de Inverno
Na primeira descida do dia, Nicole teve uma ótima pilotagem e foi a segunda mais veloz.  Com o tempo de 1min09s61, ficou apenas cinco centésimos atrás de Flock.  Na segunda descida, a brasileira chegou a liderar em algumas parciais, mas no final, com 1min09s31, foi ultrapassada pela noiva.</p>
<p class='noticia-conteudo'>O tempo final de Nicole foi 2min18s92.  A campeã austríaca teve 2min18s65, enquanto a belga somou 2min18s83 nas duas descidas. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_10_0.jpg"></div><p class='foto-descricao'>Nicole Silveira e a noiva Kim Meylemans dividem pódio na Copa do Mundo — Foto: Viesturs Lācis | IBSF</p>
Nicole agora é a nona colocada no ranking da Copa do Mundo e a quinta do ranking mundial de skeleton.</p>
<p class='noticia-conteudo'>Ela disputa a etapa de Lillehammer no dia 7 de fevereiro antes do Mundial de Lake Placid, nos Estados Unidos, entre 1º e 16 de março. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_10_1.jpg"></div><p class='foto-descricao'>Nicole Silveira final skeleton Pequim 2022 — Foto: Alex Pantling/Getty Images</p>

Nascida no Rio Grande do Sul, Nicole mora no Canadá desde os 7 anos.  Ela tem a melhor marca da história do Brasil em Mundiais de skeleton, ficando em 13º lugar no início de 2024.</p>
<p class='noticia-conteudo'>Mesma posição que a brasileira conquistou nos Jogos Olímpicos de Inverno de Pequim 2022.  Hoje com 30 anos, Nicole começou a competir no skeleton em 2018.  Na infância, praticou dança e ginástica artística.</p>
<p class='noticia-conteudo'>Pouco depois, morando no Canadá, migrou para o vôlei e também futebol, atuando na modalidade por 10 anos.  A brasileira já foi fisiculturista e competiu na modalidade até 2017.  Além de todos os esportes, a Nicole ainda é enfermeira e chegou a conciliar o esporte com a faculdade e o estágio.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}

