
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Nível Barcelona, Pulgar chega a 100 jogos pelo Flamengo ainda sem definição sobre renovação{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>"Nível Barcelona", Pulgar chega a 100 jogos pelo Flamengo ainda sem definição sobre renovação
Volante chileno, que completa marca nesta quarta contra o Criciúma, chegou ao clube no segundo semestre de 2022, virou titular absoluto desde a passagem de Sampaoli e espera uma valorização



Veja gol de fora da área de Pulgar do Flamengo contra o Vasco
De desconhecido em 2022 a figura central do Flamengo, Erick Pulgar completará 100 jogos nesta quarta-feira com a camisa rubro-negra contra o Criciúma, às 20h (de Brasília) no Estádio Heriberto Hülse, pela 37ª rodada do Campeonato Brasileiro.  Ele chegou após passagem pelo Galatasaray e contratado junto à Fiorentina, que detinha seus direitos econômicos.  Custou R$ 15 milhões.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_32_0.jpg"></div><p class='foto-descricao'>Pulgar em ação pelo Flamengo — Foto: Gilvan de Souza / CRF</p>
No esquema de Filipe Luís, Pulgar, de 30 anos, é prioridade.  Em algumas entrevistas o treinador já manifestou que considera os meio-campistas os jogadores mais importantes do futebol, algo que reafirmou no último domingo (clique aqui e leia). 
Filipe já disse a pessoas próximas que considera Pulgar um de seus melhores jogadores.</p>
<p class='noticia-conteudo'>No último domingo, durante a coletiva, falou para todo mundo e o tratou como jogador "nível Barcelona". 
Terminada a entrevista, um repórter brincou com o treinador sobre a declaração, dizendo que ele teria traído o Atlético de Madrid, clube com o qual tem enorme identificação.  Aos risos, Filipe brincou: "Ele (Pulgar) é o Busquets", referindo-se ao espanhol que é companheiro de Messi e Suárez no Inter Miami e que foi uma das referências do Barça de Guardiola.</p>
<p class='noticia-conteudo'>- Os meio-campistas para mim são o coração do meu time.  Então a gente vê que o Evertton está crescendo muito, o Nico (De la Cruz) vem jogando cada vez melhor, e o Erick (Pulgar) nem vou falar porque é jogador de nível Barcelona. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_32_1.jpg"></div><p class='foto-descricao'>Erick Pulgar em ação no treinamento de sábado do Flamengo — Foto: Marcelo Cortes/Flamengo</p>
As palavras não deixam mentir: Filipe Luís deseja muito a permanência de Erick Pulgar no Flamengo por bastante tempo.</p>
<p class='noticia-conteudo'>Mas o atleta, por sua vez, espera uma valorizaçãodesde que se tornou titular absoluto do time a partir da chegada de Jorge Sampaoli em abril de 2023.  Por enquanto, a ampliação do vínculo dele segue indefinida. 
O contrato de Pulgar com o Flamengo vence em dezembro de 2025.</p>
<p class='noticia-conteudo'>Até o momento, foram 99 partidas (com 63 vitórias, 21 empates e 15 derrotas), dois gols marcados e quatro títulos: uma Libertadores, duas Copas do Brasil e um Carioca. 
Na semana passada, o diretor executivo de futebol do Flamengo, Bruno Spindel, disse que o Rubro-Negro vai intensificar os contatos para assegurar Erick Pulgar por mais algumas temporadas. 
- É natural que, nesse final de temporada, a gente acelere as conversas com os representantes dele - afirmou Spindel ao "Coluna do Fla".</p>
<p class='noticia-conteudo'>🗞️ Leia mais notícias do Flamengo
🎧 Ouça o podcast ge Flamengo
Assista: tudo sobre o Flamengo no ge, na Globo e no sportv
50 vídeos
FLAMENGO.</p>
{% endblock main_content %}

