
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}palmeiras{% endblock title %}
{% block main_title %}palmeiras{% endblock main_title %}
{% block second_title %}No Cruzeiro, Barreal faz treino parcial em campo; veja ausências para pegar o Corinthians{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>No Cruzeiro, Barreal faz treino parcial em campo; veja ausências para pegar o Corinthians
Argentino cumpre cronograma especial de trabalho desde o jogo contra o Criciúma


Álvaro Barreal participou de uma parte do treinamento com o elenco do Cruzeiro neste sábado.  O argentino havia feito trabalhos internos nos últimos dias, seguindo a previsão do clube em preparação para os jogos contra Corinthians, pelo Brasileiro, e Racing, na final da Conmebol Sul-Americana. 


Cruzeiro vai ter semana com Brasileirão e final da Sul-Americana

O duelo do Brasileirão será na próxima quarta-feira, às 11h, na Neoquímica Arena, pela 34ª rodada.</p>
<p class='noticia-conteudo'>O argentino tende a ser opção, diferentemente do atacante Rafa Silva, que voltou a sentir dores na coxa esquerda e mantém trabalho com a fisioterapia.  O mesmo ocorre com Juan Dinenno, que só retornará aos gramados em 2025. 
Matheus Pereira, Gabriel Veron e Kaio Jorge, os três titulares do setor ofensivo, também não estão à disposição para o duelo com o Corinthians por suspensão.</p>
<p class='noticia-conteudo'>Walace, desfalque contra o Criciúma por controle de carga, treina normalmente desde quinta-feira. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_17_0.jpg"></div><p class='foto-descricao'>Barreal em treino pelo Cruzeiro — Foto: Gustavo Aleixo/Cruzeiro</p>
Outras mudanças tendem a ocorrer na equipe visando a final da Sul-Americana, que acontecerá três dias depois da partida em São Paulo.  Inclusive, a delegação cruzeirense embarcará rumo a Assunção, no Paraguai, logo depois do duelo pelo Brasileirão.</p>
<p class='noticia-conteudo'>Assista: tudo sobre o Cruzeiro no ge, na Globo e no Sportv
50 vídeos

COPA DO BRASIL
CRUZEIRO.</p>
{% endblock main_content %}
{% block cor_categoria %}#006633{% endblock cor_categoria %}

