
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}cruzeiro{% endblock title %}
{% block main_title %}cruzeiro{% endblock main_title %}
{% block second_title %}No Cruzeiro, Fernando Diniz segue com respaldo; técnico tem apenas duas vitórias em 11 jogos{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>No Cruzeiro, Fernando Diniz segue com respaldo; técnico tem apenas duas vitórias em 11 jogos
Treinador do Cruzeiro tem aproveitamento de 30,30% no comando celeste


O Cruzeiro ficou com o vice-campeonato da Conmebol Sul-Americana.  Ao perder para o Racing, no Paraguai, o time se vê obrigado a fazer uma boa reta final de Campeonato Brasileiro para assegurar a vaga na próxima Libertadores, em uma campanha geral de 30% de Fernando Diniz na Raposa.  O treinador segue com respaldo junto à diretoria.</p>
<p class='noticia-conteudo'>Cruzeiro vai tentar vaga na Libertadores pelo Brasileirão

Contratado para o lugar de Fernando Seabra, já no começo do segundo turno do Campeonato Brasileiro, Fernando Diniz acertou um projeto de médio a longo prazo com o Cruzeiro, voltando os olhos para 2024.  Mas também muito centrado para o próximo ano, em virtude do planejamento de grande investimento e perspectiva de disputa de Libertadores. 
Também sempre houve entendimento da diretoria e da parte do treinador que era preciso de um tempo maior para que o trabalho fosse desenvolvido pelo técnico e assimilado pelos atletas.</p>
<p class='noticia-conteudo'>Até por isso, era previsível a irregularidade ser mantida, em relação à reta final de Seabra. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_30_0.jpg"></div><p class='foto-descricao'>Fernando Diniz Cruzeiro — Foto: Gustavo Aleixo/Cruzeiro</p>
Mas o fato é que o treinador ainda não conseguiu embalar no trabalho.  Diniz só conseguiu vencer dois jogos: Lanús (1 a 0, que garantiu a vaga na final da Sul-Americana) e 2 a 1 sobre o Criciúma, no Campeonato Brasileiro.</p>
<p class='noticia-conteudo'>Fernando Diniz teve mais quatro empates (duas pela Sul-Americana e mais duas pelo Brasileiro) e mais cinco derrotas.  Uma agora na final da Sul-Americana e mais quatro no Campeonato Brasileiro.  O aproveitamento é de 30,30%
Resta agora o Campeonato Brasileiro para Fernando Diniz.</p>
<p class='noticia-conteudo'>O treinador está na sétima posição com 47 pontos, na última posição atualmente que garante vaga na próxima Libertadores.  Está empatado com Bahia e Corinthians. 
O Cruzeiro tem mais quatro jogos: além do Grêmio, na próxima rodada, encara o Bragantino (fora), Palmeiras (mandante) e Juventude (visitante).</p>
<p class='noticia-conteudo'>Assista: tudo sobre o Cruzeiro no ge, na Globo e no Sportv
50 vídeos

COPA DO BRASIL
CRUZEIRO.</p>
{% endblock main_content %}

