
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}flamengo{% endblock title %}
{% block main_title %}flamengo{% endblock main_title %}
{% block second_title %}Nova direção do Flamengo assumirá clube com alta projeção de receita, mas caixa apertado{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Orçamento para 2025 revela que a associação deverá virar o ano com apenas R$ 3 milhões na conta.  Investimentos no terreno para o estádio e em direitos de atletas pesaram na temporada




Bap faz o primeiro pronunciamento como presidente do Flamengo
Os números estão contidos no orçamento rubro-negro para 2025, documento feito ainda pela administração de Rodolfo Landim e encaminhado para o Conselho de Administração em 14 de novembro. 
No documento, está descrito que o clube deverá começar o ano com apenas R$ 3 milhões em caixa.</p>
<p class='noticia-conteudo'>A título de comparação, o saldo nas contas bancárias no início de 2024 era de R$ 138 milhões. 
Alguns fatores explicam o consumo das reservas rubro-negras nesta temporada.  O clube registrou mais de R$ 1 bilhão em receitas recorrentes — direitos de transmissão, patrocínios e Maracanã — e manteve os custos compatíveis com esse faturamento.</p>
<p class='noticia-conteudo'>No entanto, houve:

A combinação desses dois investimentos — em atletas e no terreno para a arena — fez com que o Flamengo gastasse o dinheiro que estava disponível em caixa, mais o "lucro" gerado pela diferença entre receitas e custos.  Assim, sobraram somente R$ 3 milhões para a virada do ano. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_378_0.jpg"></div><p class='foto-descricao'>Orçamento do Flamengo para 2025 prevê começar ano com R$ 3 milhões em caixa — Foto: Reprodução</p>

As cifras descritas acima fazem parte da simulação para o fluxo de caixa — ou seja, tudo o que efetivamente entra e sai da conta bancária do Flamengo.</p>
<p class='noticia-conteudo'>Como se você estivesse vendo o seu extrato no banco.  Já os números a seguir correspondem à demonstração de resultado; algo como a declaração do Imposto de Renda para uma pessoa comum. 
A diferença entre uma leitura e outra é que neste caso, da demonstração de resultado, são contabilizados itens que não têm efeito caixa imediato.</p>
<p class='noticia-conteudo'>Depreciações e amortizações não têm desembolso de dinheiro, por exemplo.  O resultado financeiro aponta juros sobre dívidas, que tampouco saem da conta imediatamente.  Entre outros pormenores.</p>
<p class='noticia-conteudo'>Em R$ milhões 2024 2025
RECEITA 1. 111 1. 167
DEDUÇÕES -68 -69
CUSTO -841 -879
EBITDA 202 219
TRANSFERÊNCIAS DE ATLETAS 37 137
DEPRECIAÇÃO E AMORTIZAÇÃO -225 -219
RESULTADO FINANCEIRO -28 -6
MARACANÃ 51 0
RESULTADO 37 131
Fonte: Orçamento
O orçamento mostra que o Flamengo vai superar R$ 1,1 bilhão em faturamento em 2024, número que se mantém na previsão para 2025.</p>
<p class='noticia-conteudo'>O departamento financeiro separa esse dinheiro em quatro categorias:
R$ 461 milhões em comercial;
R$ 419 milhões em televisionamento e premiações;
R$ 243 milhões em matchday (estádio);
R$ 44 milhões em social e outras. 
Já em relação aos custos, o montante orçado é de R$ 879 milhões.  Há expectativa de aumento entre 2024 e 2025, sobretudo nos salários e direitos de imagem de atletas.</p>
<p class='noticia-conteudo'>Os valores são divididos em:
R$ 578 milhões em folha salarial;
R$ 198 milhões em despesas gerais e administrativas;
R$ 86 milhões em despesas com jogos;
R$ 17 milhões em provisões e acordos. 
Outro indicador relevante para a nova administração é o endividamento.  Na peça orçamentária, a diretoria do Flamengo opta por um cálculo que chama de "endividamento líquido operacional", que inclui todas as obrigações que o clube tem com credores, menos o valor disponível em caixa, menos quantias que deverá receber de outros clubes e clientes.</p>
<p class='noticia-conteudo'>Segundo o cálculo da diretoria, a associação fechará 2024 com endividamento líquido de R$ 377 milhões.  A redução das reservas financeiras impacta nesse cálculo, uma vez que o valor em caixa é subtraído da dívida.  Por outro lado, a compra do terreno para o estádio não causa "benefício", pois imóveis não entram na equação.</p>
<p class='noticia-conteudo'>@rodrigocapelo.</p>
{% endblock main_content %}

