
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Novo contrato e quase 90 gols em dois anos os planos para Ryan Francisco no São Paulo{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Novo contrato e quase 90 gols em dois anos: os planos para Ryan Francisco no São Paulo
Jogador de 18 anos renovou contrato até 30 de agosto de 2028 e clube aposta no garoto na Copinha



Ryan Francisco explica comemoração no gol do São Paulo
Com contrato recém-renovado até 30 de agosto de 2028, o atacante Ryan Francisco, autor de dois na decisão da Copa do Brasil Sub-20 contra o Palmeiras, é uma das grandes apostas da base do São Paulo para a próxima temporada. 
Com quase 90 gols marcados em duas temporadas, o atacante de 18 anos tem ganhado cada vez mais projeção na base e gerado expectativas para um futuro no profissional. 
– Ryan tem uma personalidade muito forte e ele vinha se cobrando muito para decidir nas finais.</p>
<p class='noticia-conteudo'>Talvez isso atrapalhava um pouco a performance, as coisas precisam ser naturais, ele precisa repetir os comportamentos para se aproximar do protagonismo.  No intervalo, ele foi chamando a molecada, chamando para ele uma responsabilidade, mas sem se pressionar de ter de decidir a qualquer custo.  A gente sabia que isso aos poucos ia acontecer – destacou o técnico Allan Barcellos.</p>
<p class='noticia-conteudo'>São Paulo vence o Palmeiras e é campeão da Copa do Brasil Sub-20
Depois de se destacar em 2023 no sub-17 com artilharias do Paulistão e do Brasileirão e somar 45 gols, ele quase igualou a marca em seu primeiro ano de sub-20.  Foram 43 gols e 11 assistências. 
Ryan fez três na Copinha, foi artilheiro da Dallas Cup com cinco, deixou sua marca 13 vezes no Brasileirão, marcou mais 14 na campanha do vice-campeonato do Paulistão e, no título da Copa do Brasil Sub-20, diante de 15 mil pessoas no Morumbis, fez dois e chegou a oito, levando a artilharia.</p>
<p class='noticia-conteudo'>– A gente merecia muito, trabalhamos, foi um ano duro, conseguimos ser campeões no último campeonato.  Sou grato ao Alan Barcellos, ao Menta, que me colocou nesta posição, ao Fabiano, que é o meu empresário, a minha família que é a base de tudo – disse o jogador após a partida, dividindo os agradecimentos ao técnico atual e ao anterior, que hoje comanda o time sub-17. 
Na renovação contratual, a multa prevista para clubes de fora do Brasil saltou para 60 milhões de euros, o equivalente a R$ 362,4 milhões.</p>
<p class='noticia-conteudo'>Leia também

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_3_0.jpg"></div><p class='foto-descricao'>Ryan Francisco festeja gol em São Paulo x Palmeiras — Foto: Rubens Chiri e Miguel Schincariol/Saopaulofc. net</p>
Ex-jogador do São Paulo e com bom relacionamento com o clube, o ex-meia Fabiano Costa está à frente da carreira do jogador junto da agência Roc Nation Sports Brazil, que tem como agenciados nomes como Vini Jr, Endrick, Lucas Paquetá e Gabriel Martinelli. 
Com 18 anos recém-completados em 26 de novembro, o garoto está no radar do técnico Luis Zubeldía para um futuro próximo, mas ainda não deve ser levado pelo clube para a pré-temporada nos Estados Unidos.</p>
<p class='noticia-conteudo'>O técnico Allan Barcellos conta com o jogador para disputa da Copinha do ano que vem. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_3_1.jpg"></div><p class='foto-descricao'>Ryan Francisco comemora com a bandeira de escanteio na final da Copa do Brasil sub-20 — Foto: Rubens Chiri e Miguel Schincariol/Saopaulofc. net</p>



50 vídeos
SÃO PAULO.</p>
{% endblock main_content %}

