
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}santos{% endblock title %}
{% block main_title %}santos{% endblock main_title %}
{% block second_title %}Novo técnico do Santos Cuca volta à pauta, e clube vê Luís Castro disputado no mercado{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Novo técnico do Santos: Cuca volta à pauta, e clube vê Luís Castro disputado no mercado
Português adia definição de futuro e, com certa pressa, Peixe volta a olhar para seu ex-treinador



Carille deixa o Santos e clube procura por novo treinador
O nome de Cuca voltou a ganhar força nos bastidores para ser o novo técnico do Santos.  Há uma ala da diretoria que defende a escolha pelo brasileiro e ex-treinador do clube em função de uma negociação vista como complicada com o português Luís Castro, que atualmente está em Lisboa, sem clube. 

Ex-treinador do Botafogo, Castro está em alta no mercado, e seu agente tem em mãos inúmeras outras possibilidades para trabalhar além do Santos, o que não só torna um acordo difícil, mas também lento e complexo.</p>
<p class='noticia-conteudo'>O clube ainda não jogou a toalha, mas já trabalha com outro plano. 
O português não tem pressa para definir seu futuro, podendo se decidir apenas em janeiro de 2025, segundo seu estafe.  Por outro lado, o Peixe precisa escolher seu comandante o quanto antes para começar a intensificar os trabalhos de planejamento e readequação do elenco para o próximo ano.</p>
<p class='noticia-conteudo'>O Santos já sinalizou ao estafe de Castro que não pode esperar demais.  A reapresentação do elenco está marcada para 26 de dezembro, e dia 5 de janeiro já há uma viagem programada a Orlando, na Flórida, onde o clube vai realizar sua pré-temporada. 
Mais sobre o Santos:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_0.jpg"></div><p class='foto-descricao'>Cuca foi técnico do Santos em três oportunidades, a última delas entre 2020 e 2021 — Foto: Anderson Lira / Estadão Conteúdo</p>
Paralelamente a isso, há questões financeiras a serem superadas: além de ter um salário alto, Castro também exigiria do Santos alto investimento no elenco e controle total do futebol para se sentir à vontade e feliz no clube.</p>
<p class='noticia-conteudo'>São desafios que levam tempo a serem alinhados. 
Na contramão dessa esteira, aparece o nome de Cuca, sem clube desde a saída do Athletico-PR, no meio do ano.  O curitibano de 61 anos conhece o Santos, boa parte dos jogadores que já estão no elenco e também outros nomes acessíveis do mercado brasileiro e sul-americano.</p>
<p class='noticia-conteudo'>Cuca é bem avaliado pela alta cúpula e tem um acordo visto como mais fácil.  Ele chegou a ser procurado pelo Santos no meio do ano, em uma das crises da equipe na Série B do Brasileirão, mas, à época, Fábio Carille foi mantido no cargo. 
Cuca tem ocupado o tempo com a família e visita a amigos e atualmente está de passagem pelo Rio de Janeiro.</p>
<p class='noticia-conteudo'>Por ora, ainda não houve uma proposta formal a ele para retornar ao clube de onde saiu em 2021, após a final da Libertadores de 2020 (disputada no ano seguinte em função da pandemia). 
Outro nome bem avaliado internamente é de Renato Gaúcho, atualmente no Grêmio.  Como está empregado e em reta final de campeonato, ele não deve receber nenhum tipo de contato formal do Santos até o final do Brasileirão.</p>
<p class='noticia-conteudo'>Tampouco deve permanecer no clube gaúcho em 2025. 


50 vídeos.</p>
{% endblock main_content %}

