
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}O recado da filha, o gol para a avó e o feito histórico o resgate do America na Copinha{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Do técnico Serginho ao herói da classificação, time joga para manter vivo vermelho do clube carioca



America-RJ 1 x 0 Atlético-GO | Melhores Momentos | Copa São Paulo de Futebol Júnior


Nesse caso, o amor de Serginho vai além de sua filha.  É a sua relação com o futebol.  Desde os 18 anos, atuou como profissional em clubes menores do Rio de Janeiro e encerrou a carreira em 2016.</p>
<p class='noticia-conteudo'>Sua dedicação, ainda em fase de aprendizagem em cursos de graduação e pós-graduação, o levou a uma oportunidade no comando do time sub-20 do America, clube no qual trabalha há três anos.  Mesmo assim, precisa se dividir com o trabalho de porteiro do Ceasa (central de abastecimento) nas madrugadas. 

O resultado desse trabalho culminou em um momento histórico para o America.</p>
<p class='noticia-conteudo'>O time venceu por 1 a 0 o Atlético-GO, na terça-feira, e garantiu a classificação para a fase eliminatória da Copinha, um feito inédito para o clube.  Antes disso, haviam sido sete participações, sempre com eliminações na primeira fase, a última delas em 2020. 

Agora, nesta sexta-feira, às 16h45 (de Brasília), joga por um empate com a Portuguesa-SP para ficar com o primeiro lugar do Grupo 14.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_0.jpg"></div><p class='foto-descricao'>Breno, Serginho e Thurram, representantes do America na Copinha — Foto: Marcus Vinicius Dantas/America</p>
- Ela (Yasmin) estava toda feliz que me viu na televisão.  A maior pureza.  Isso é muito importante para mim.</p>
<p class='noticia-conteudo'>Ficou falando do (Alex) Escobar citando meu nome - contou Serginho, em entrevista por telefone ao ge. 
Na sua carreira de jogador, Serginho não teve a oportunidade de disputar a Copinha.  Ele já comandou outros clubes do Rio de Janeiro antes de chegar ao America, onde já foi técnico do sub-13 ao sub-20, categoria na qual começou a trabalhar este ano.</p>
<p class='noticia-conteudo'>A oportunidade veio depois de Romário, atual presidente, receber o convite para disputar a competição. 
- Todo atleta da base sonha disputar a Copinha.  Eu não tive esse privilégio.</p>
<p class='noticia-conteudo'>Estou tendo a honra de vir como treinador, é a mesma emoção.  Uma satisfação muito boa, conduzindo desta maneira os atletas, vendo eles se unirem, comemorando.  Com a dificuldade do dia a dia, chegar aqui com essa oportunidade foi muito legal - afirmou Serginho.</p>
<p class='noticia-conteudo'>Entre os jogadores, Serginho também é exemplo.  Contador de histórias, procura descontrair o ambiente, dá apelidos.  Foi assim, que Davi da Silva de Oliveira virou Thurram, em referência ao francês campeão do mundo em 1998.</p>
<p class='noticia-conteudo'>Também zagueiro, que completa 18 anos em fevereiro, é considerado um dos destaques do grupo. 
- Na minha família, muitos tentaram (ser jogador), mas infelizmente não conseguiram.  Futebol é uma parada que eu amo, não me vejo em outra profissão que não seja o futebol.</p>
<p class='noticia-conteudo'>Meu pai (Sandro) sempre tentou, meus primos.  Fui no legado deles - comentou Thurram, que mora em Cordovil com a mãe Juliana e a avó Marisvalda. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_1.jpg"></div><p class='foto-descricao'>America se prepara para mais um jogo na Copinha — Foto: Marcus Vinicius Dantas/America</p>
Por enquanto, Thurram tem apenas contrato de formação com o America.</p>
<p class='noticia-conteudo'>A expectativa é de que na volta da Copinha, ele faça seu primeiro contrato profissional.  O resultado do trabalho de quem começou a carreira aos 13 anos no próprio clube. 
- Eu treinava ali perto de casa.</p>
<p class='noticia-conteudo'>A base do America era perto da minha casa, no Quitungo.  Fui fazer uma avaliação e acabei passando - disse Thurram. 
Seu companheiro de zaga, Breno, de apenas 16 anos, também tem uma história ligada ao America, onde começou aos 11 anos depois de passar em uma peneira.</p>
<p class='noticia-conteudo'>Autor do gol da classificação antecipada contra o Atlético-GO, lembrou imediatamente de sua avó Elzedene, que morreu no dia 31 de de dezembro de 2023. 
- Foi muita emoção, lembrei da minha família, da minha avó.  Fez um ano que ela faleceu - disse Breno, que mora em Irajá com seu pai, Bruno - a mãe, Ana Paula, mora em Acari.</p>
<p class='noticia-conteudo'>América avança pro mata-mata da Copinha pela 1ª vez na história
Breno é um dos poucos jogadores já com contrato profissional assinado.  Ele firmou seu compromisso no dia 2 de julho do ano passado.  Um momento que permitiu a ele colaborar na sua casa com as despesas da família.</p>
<p class='noticia-conteudo'>O jovem estuda à noite, está no segundo ano do Ensino Médio. 
- No momento, fiquei muito feliz.  Fui o atleta mais novo a assinar.</p>
<p class='noticia-conteudo'>O principal objetivo hoje é continuar na competição, chegar o mais longe possível e, quem sabe, ser campeão - disse Breno, que tem Thiago Silva como exemplo a seguir em sua carreira. 
Essa relação dos jovens com o America é importante para resgatar o clube.  Hoje, o time profissional está na Série A-2 do Rio de Janeiro.</p>
<p class='noticia-conteudo'>O presidente Romário chegou a ser inscrito na competição este ano, montou um time com jogadores mais conhecidos, mas ainda assim não conseguiu a classificação para a Série A-1
Nesse trabalho de resgate, a presença de quem conhece a história do clube também é importante.  O chefe da delegação em Itapira é o conselheiro Lincoln Mendes, de 59 anos de idade.  Ele encarou as 10 horas de viagem de ônibus até Itapira no dia 2 de janeiro para ajudar o grupo a entender o que significa esse momento do America.</p>
<p class='noticia-conteudo'>- Meu avô, de quem herdei o nome, foi vice-presidente do clube.  Em 1964, chefiou a delegação da Seleção em uma excursão à Europa.  Depois, passou a chefiar a maioria das delegações do America.</p>
<p class='noticia-conteudo'>Eu cresci acompanhando meu avô, vi um America completamente diferente.  O convite do Romário veio sem ele saber desse detalhe, estar aqui hoje como chefe tem uma relação sentimental, eu sou torcedor do America.  Tento passar para eles essa grandeza do America - afirmou Lincoln.</p>
<p class='noticia-conteudo'>O grupo de jogadores varia entre 16 e 20 anos.  Controlar jovens nem sempre é uma tarefa simples.  Mas Lincoln se mostrou entusiasmado com os resultados que podem acontecer para o clube não apenas na Copinha mas como uma pedra fundamental na tentativa de reerguer o America.</p>
<p class='noticia-conteudo'>- Não é mole, mas eles são muito disciplinados.  O Breno tem 16 anos e já é um profissional.  São dedicados, se entregam muito aos treinamentos.</p>
<p class='noticia-conteudo'>Estão começando a entender a importância do America - contou. 
Depois da classificação, Lincoln recebeu um telefonema de Romário.  Os jogadores ainda carregam uma certa timidez e não costumam interagir com o atual presidente do clube.</p>
<p class='noticia-conteudo'>Mas o recado já foi passado para eles. 
- Não tem que escolher resultado, o America tem que entrar em campo para ganhar.  Eles vão entrar para a história do clube - comentou.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}

