
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Obras no Camp Nou avançam e estádio do Barcelona tem os primeiros assentos; vídeo{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Obras no Camp Nou avançam e estádio do Barcelona tem os primeiros assentos; vídeo
Estádio tem reinauguração prevista para fevereiro de 2025, mas deve ficar totalmente pronto apenas em 2026



Obras no Camp Nou avançam e estádio tem os primeiros assentos
Já pode inaugurar? As obras do Camp Nou avançam em ritmo intenso, e o estádio do Barcelona tem os novos assentos.  A reinauguração da casa do clube catalão está prevista para fevereiro de 2025, mas as obras só devem terminar em 2026. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_14_0.jpg"></div><p class='foto-descricao'>Obras no Camp Nou — Foto: Reprodução</p>
O histórico estádio do Barcelona já tem previsão para ser reaberto.</p>
<p class='noticia-conteudo'>A expectativa do clube e da prefeitura da cidade espanhola é que o Camp Nou receba o público em fevereiro de 2025, mas com capacidade reduzida. 
Fechado para reforma em junho do ano passado, o estádio só estará 100% pronto em 2026.  Detalhes ainda precisam ser acertados para a confirmação do dia e do jogo de reabertura, mas o mês fevereiro se torna o grande objetivo oficial.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_14_1.jpg"></div><p class='foto-descricao'>Vista interna no projeto do novo Camp Nou, estádio do Barcelona — Foto: Divulgação / Barcelona</p>
A previsão é que a partida de estreia tenha 62 mil torcedores nas arquibancadas, dos 110 mil que são esperados quando a obra for finalizada. 
Agora, os torcedores podem começar a contagem regressiva dos últimos três meses longe de casa.  Desde o início da reforma, o Barcelona tem sediado as partidas como mandante no Estádio Olímpico de Montjuic.</p>
<p class='noticia-conteudo'>O último confronto no Camp Nou foi em maio de 2023, na vitória por 3 a 0 sobre o Mallorca, na 37ª rodada da LaLiga. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_14_2.jpg"></div><p class='foto-descricao'>Vista externa no projeto do novo Camp Nou, estádio do Barcelona — Foto: Divulgação / Barcelona</p>
Portanto, o Barcelona precisará jogar todos os duelos em casa da Fase de Liga da Champions no Estádio Olímpico.  Os ingressos para o último confronto desta primeira etapa do torneio já estão à venda, contra a Atalanta, no dia 29 de janeiro.</p>
<p class='noticia-conteudo'>O próximo compromisso do Barcelona será nesta terça-feira, às 15h, diante do Mallorca.  A equipe catalã lidera LaLiga com 34 pontos, apenas um a mais que o Real Madrid..</p>
{% endblock main_content %}

