
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Opinião no sonho do Inter pelo Brasileirão, Roger merece ser coroado com o título{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Opinião: no sonho do Inter pelo Brasileirão, Roger merece ser coroado com o título
Técnico não só recuperou o Colorado como encurtou a distância ao líder Palmeiras para cinco pontos.  Futebol do time encanta os torcedores



Internacional 4 x 1 Bragantino | Melhores momentos | 35ª rodada | Brasileirão 2024
É tarefa hercúlea achar defeitos no trabalho de Roger Machado no Inter.  O sonho do torcedor, que é quase um delírio, mas justo, tem a digital do treinador.</p>
<p class='noticia-conteudo'>O conturbado 2024 termina com a ilusão de um improvável tetracampeonato do Brasileirão.  E com mais uma atuação de luxo, como a goleada por 4 a 1 sobre o Bragantino na ensolarada tarde de domingo no Beira-Rio. 

Tudo porque ele não só corrigiu os incontáveis problemas do time de Eduardo Coudet, implementou o futebol que o antecessor tentava apresentar e encanta.</p>
<p class='noticia-conteudo'>Dizimou a desconfiança da torcida pelo passado no Grêmio e virou o responsável pela arrancada e invencibilidade que chegou a 16 partidas, com 12 vitórias no período. 
O time, que chegou a ficar 12 jogos sem ganhar em Brasileirão, Sul-Americana e Copa do Brasil, com cinco derrotas e se aproximou da parte de baixo do nacional, hoje está em terceiro lugar com 65 pontos, a cinco do líder Palmeiras. 
Veja mais:




"Hoje a gente não se estressa com o Internacional", diz Luka | Voz da Torcida
O time tem a cara do ex-lateral.</p>
<p class='noticia-conteudo'>Vibrante, esforçado, mas frio e técnico.  Uma conjunção de fatores que faz a torcida cantar:
"Vamos, Inter! Vamos, Inter! Vamos, vamos, meu Inter! Vamos lutar até morrer! Seremos campeões!"
Um recado claro que, assim como o vestiário, comprou a ideia do treinador e com condições de enfrentar quem aparecer pelo caminho. 
Após o jogo, Roger foi junto com o grupo agradecer ao carinho dos quase 42 mil colorados que compareceram ao Beira-Rio.</p>
<p class='noticia-conteudo'>Depois trocou abraços com companheiros de comissão técnica, o presidente Alessandro Barcellos e rumou ao vestiário sob mais aplausos.  Merecidos. 
Claro que o mandatário também tem mérito pela escolha.</p>
<p class='noticia-conteudo'>Não só isso.  Teve coragem de romper os laços com o amigo Coudet, mas que já não oferecia mais nada. 
Há também a direção de futebol que o dá respaldo, com o vice José Olavo Bisol, o executivo André Mazzuco e o diretor esportivo D’Alessandro.</p>
<p class='noticia-conteudo'>Estes dois ainda não conhecem derrotas no clube. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_17_0.jpg"></div><p class='foto-descricao'>Roger Machado conduz o Inter a lutar pelo título do Brasileirão — Foto: Ricardo Duarte/Divulgação, Internacional</p>
D'Ale, inclusive, é fundamental no vestiário com o discurso motivacional, conversas e o conhecimento do clube para passar ao grupo.  Há ainda Paulo Paixão, o histórico preparador físico campeão da Libertadores e do Mundial em 2006, que faz o Inter não parar de correr.</p>
<p class='noticia-conteudo'>Os jogadores também oferecem sua parcela considerável no processo.  Mas é inegável a mão de Roger.  Alan Patrick voltou a ser o maestro pela liberdade que tem.</p>
<p class='noticia-conteudo'>Fernando, citado corriqueiramente pelo técnico nas coletivas, voltou a atuar como primeiro volante, enquanto Coudet o utilizava de zagueiro.  Desbancou Renê e colocou Bernabei, esquecido pelo argentino, que virou protagonista. 
Descobriu a posição de Bruno Gomes.</p>
<p class='noticia-conteudo'>De reserva como volante, ganhou destaque como lateral-direito, a ponto de ser apelidado de Cafu Gomes.  Ainda sacou Enner Valencia, até então titular indiscutível, deixou apenas Rafael Borré no ataque, e o colombiano desandou a fazer gols.  Já são 11 pelo Inter, oito com Roger.</p>
<p class='noticia-conteudo'>Ainda deu espaço aos garotos, como Gabriel Carvalho, Luis Otávio e Ricardo Mathias. 
Entenda o que fez o Internacional ser tão forte no segundo turno do Brasileirão
Roger agora terá uma semana para trabalhar o grande desafio em pleno Maracanã.  A invencibilidade será colocada à prova no domingo, justamente diante do Flamengo.</p>
<p class='noticia-conteudo'>Simplesmente o melhor grupo da América do Sul e atual campeão da Copa do Brasil. 
Perder após 16 partidas e para o forte grupo de Filipe Luís não seria um desastre.  Todavia, acabaria com as chances de título.</p>
<p class='noticia-conteudo'>Até mesmo um empate inviabiliza o sonho.  Entretanto, caso invente de ganhar..</p>
<p class='noticia-conteudo'>.  Então, até o mais descrente colorado se abraçará na calculadora e na tabela de classificação. 
Sonhe, torcedor! Roger permitiu que você sorria e acredite em um ano de redenção.</p>
<p class='noticia-conteudo'>50 vídeos
INTERNACIONAL.</p>
{% endblock main_content %}

