
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Osasco atropela o Sesi-Bauru fora de casa, e segue caça aos líderes na Superliga Feminina{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Osasco atropela o Sesi-Bauru fora de casa, e segue caça aos líderes na Superliga Feminina
Equipe da Grande SP aproveita noite de "pane" adversária e vence com autoridade


Com autoridade, o Osasco venceu o Sesi-Bauru por 3 sets a 0 (parciais de 20/25, 16/25 e 20/25), na noite desta sexta-feira, na arena Paulo Skaf, em Bauru, pela fase de classificação da Superliga Feminina. 
Dominante nos três períodos, a equipe da Grande São Paulo contou com grande atuação individual da central Valquíria, eleita a melhor jogadora da partida, premiada com o troféu Viva Vôlei. 


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_0.jpg"></div><p class='foto-descricao'>O Osasco venceu o Sesi-Bauru pela Superliga Feminina — Foto: Carol Oliveira/Osasco</p>
A vitória leva o Osasco aos 15 pontos, mantendo a terceira colocação atrás de Praia Clube e Sesc-Flamengo.</p>
<p class='noticia-conteudo'>Já o Sesi-Bauru é o quinto, com 10 pontos. 
O Sesi-Bauru volta à quadra na próxima sexta-feira, às 21h, contra o Sesc-Flamengo, no Tijuca Tênis Clube, no Rio de Janeiro.  O próximo compromisso do Osasco é somente na terça-feira seguinte (dia 26), às 20h, contra o Brusque, no José Liberatti, em Osasco.</p>
<p class='noticia-conteudo'>O jogo
Apesar de um início dominante do Osasco, o Sesi-Bauru tratou de rapidamente equilibrar a partida, mantendo-a bem disputada ponto a ponto.  A partir da metade do período, porém, as visitantes acertaram a defesa e abriram boa diferença na base dos contra-ataques.  Depois de abrir quatro de frente, o time da Grande São Paulo não voltou a ficar atrás no marcador e conduziu a reta final com tranquilidade até abrir 1 a 0 com a vitória no set por 25 a 20.</p>
<p class='noticia-conteudo'>O Osasco seguiu dominando as ações na volta para o segundo período e, rapidamente abriu uma vantagem de 8 a 3.  Sem poder de reação, as bauruenses seguiram errando muito, levando Henrique Modenesi a parar o jogo para tentar arrumar a casa.  As bauruenses conseguiram reduzir a diferença na metade do set.</p>
<p class='noticia-conteudo'>Depois disso, o gás voltou a acabar e as visitantes encaminharam a vitória no set colocando uma margem de seis pontos.  A diferença eventualmente chegou a nove e, dessa forma, o Osasco abriu 2 a 0 vencendo a parcial por 25 a 16. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_1.jpg"></div><p class='foto-descricao'>Sesi-Bauru x Osasco, Superliga Feminina — Foto: Felipe Wiira/Sesi-SP</p>
O terceiro set foi o de início mais favorável ao Sesi-Bauru, que anotou os dois primeiros pontos, mas foi só.</p>
<p class='noticia-conteudo'>Rapidamente, as visitantes retomaram o controle da partida e começaram a construir a vantagem no período, desta vez encaminhando a vitória.  Foi um ace de Valquíria - que estabeleceu uma diferença de cinco pontos - que ilustrou bem o cenário do jogo com o erro bauruense na recepção. 
A partir daí, a vantagem foi ampliada até a casa de oito, deixando o jogo aparentemente decidido.</p>
<p class='noticia-conteudo'>O Sesi-Bauru, porém, reagiu de maneira impressionante e até conseguiu cortar a diferença para apenas um.  O prejuízo, no entanto, era grande demais para ser revertido e, com isso, o Osasco manteve a dianteira, fechando o jogo com a vitória por 25 a 20 no set..</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

