
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Oscar chora em despedida de clube chinês após oito anos; vídeo{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Oscar chora em despedida de clube chinês após oito anos; vídeo
Meia brasileiro chegou ao Shanghai Port (antes Shanghai SIPG) em 2017, quando deixou o Chelsea

05/12/2024 08h39 Atualizado há 39 minutos

Oscar se emociona em despedida de clube chinês
O brasileiro Oscar não é mais jogador do Shanghai Port, da China.  Após oito anos no clube, o meia chegou ao fim do seu contrato e se despediu dos torcedores.  Ele marcou na última partida que fez pela equipe chinesa, na terça-feira, e se emocionou após o jogo.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_53_0.jpg"></div><p class='foto-descricao'>Oscar em campo pelo Shanghai Port, da China — Foto: VCG/VCG via Getty Images</p>
Foram quase oito anos de Oscar no futebol chinês.  O brasileiro chegou ao Shanghai Port em janeiro de 2017, quando deixou o Chelsea.  Na época, o valor da negociação ficou na casa de 52 milhões de libras (R$ 218 milhões na cotação de dezembro de 2017).</p>
<p class='noticia-conteudo'>A passagem pelo Shanghai Port (que era Shanghai SIPG na chegada do brasileiro) chegou ao fim na terça-feira.  O empate por 1 a 1 da equipe com o Gwangju pela Liga dos Campeões da Ásia contou com gol de pênalti de Oscar e lágrimas após o jogo. 
Com 16 gols e 29 assistências em 39 jogos, Oscar se despede do Shanghai Port com a melhor temporada em números no clube.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_53_1.jpg"></div><p class='foto-descricao'>Shanghai Port vence o Campeonato Chinês — Foto: Chinese Super League</p>
Enquanto esteve no clube chinês, Oscar foi alvo de diversos times brasileiros.  Em 2022, a negociação do meia com o Flamengo tomou forma e foi inflamada por uma foto vazada de Oscar com a camisa do Rubro-Negro.  Além do Fla, o Internacional também teve interesse em repatriar o jogador.</p>
<p class='noticia-conteudo'>Recheado de jogadores brasileiros, o Shanghai Port conquistou o bicampeonato consecutivo da Super Liga Chinesa no início de novembro.  O título chegou na última rodada com uma goleada por 5 a 0 sobre o Tianjin Jinmen Tiger. 
Quatro brasileiros estavam em campo pelo Shanghai Port na vitória por 5 a 0 que deu o título chinês ao clube: Matheus Jussa, Léo Cittadini, Oscar e Gustavo.</p>
<p class='noticia-conteudo'>Willian Popp também faz parte do elenco.  O Shanghai Port encerrou a sua trajetória no campeonato com 25 vitórias, três empates e apenas duas derrotas em 30 jogos, somando 78 pontos.  A equipe teve o melhor ataque, com 96 gols marcados, e a segunda melhor defesa, com 30 gols sofridos.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}

