
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}vasco{% endblock title %}
{% block main_title %}vasco{% endblock main_title %}
{% block second_title %}Palmeiras chega a Belo Horizonte para enfrentar Cruzeiro veja lista de relacionados{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Palmeiras chega a Belo Horizonte para enfrentar Cruzeiro: veja lista de relacionados
Verdão visita Raposa às 21h30 da quarta-feira, em meio à polêmica sobre público no Mineirão



Palmeiras chega a hotel em Belo Horizonte
A delegação do Palmeiras chegou a Belo Horizonte na noite desta terça-feira, para enfrentar o Cruzeiro, às 21h30 da quarta, no Mineirão.  É a penúltima rodada do Brasileiro e a última do Verdão como visitante - uma vez que recebe o Fluminense na partida final.  

As principais ausências são do zagueiro Gustavo Gómez, com terceiro cartão amarelo, e do lateral-direito Marcos Rocha, expulso contra o Botafogo, que cumprem suspensão e não vieram com o time.</p>
<p class='noticia-conteudo'>Eles devem ser substituídos por Murilo, que voltou recuperado das dores nas pernas e assim pode compor a zaga com Vitor Reis, e por Mayke, que saiu do banco para ocupar a lateral direita após a expulsão de Rocha no Allianz Parque.  
Mais notícias do Palmeiras:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_29_0.jpg"></div><p class='foto-descricao'>Abel Ferreira em chegada do Palmeiras a Belo Horizonte — Foto: Thiago Ferri</p>
Este pode ser, aliás, o único contato da torcida com o time nesta passagem por Belo Horizonte, porque a CBF determinou a realização do jogo com portões fechados - depois da recomendação do Ministério Público de Minas Gerais por torcida única no Mineirão. 

A sugestão existe por conta da emboscada e briga das organizadas Mancha Alviverde e Máfia Azul, na Rodovia Fernão Dias, em outubro, que terminou com um morto e 17 feridos.</p>
<p class='noticia-conteudo'>O Cruzeiro protestou contra a decisão de portões fechados, e o Governo de Minas acionou a Justiça para ter torcida única. 
Rizek faz análise sobre os portões fechados em Cruzeiro e Palmeiras: "que vexame Brasil!"
O Palmeiras, porém, é contra a torcida única alegando o princípio de isonomia da competição e enviou dois ofícios à CBF, uma vez que recebeu cruzeirenses no primeiro turno do campeonato e considera injusto pagar pelas ações da organizada, com a qual tem relações rompidas. 
A pouco mais de uma semana a partida contra o Cruzeiro, nesta quarta, poderia confirmar o sonhado tricampeonato do Palmeiras no Brasileiro, mas a derrota no confronto direto com o Botafogo, na última terça, deu outros ares decisivos para o jogo do Mineirão: é preciso vencer para seguir vivo na briga pelo título.</p>
<p class='noticia-conteudo'>Vai ter torcida? Ge Palmeiras explica confusão de portões fechados em Cruzeiro x Palmeiras
A duas rodadas do fim, o Verdão está na vice-liderança com 70 pontos, sendo três atrás do líder Botafogo e empatado no número de vitórias. 
Se vencer os últimos dois jogos, portanto, precisa torcer para o time carioca perder ao menos um ou empatar ambos - a equipe enfrenta Internacional no Beira-Rio e São Paulo no Nilton Santos. 
Em caso de derrota para o Cruzeiro, o Palmeiras precisará vencer o Fluminense na rodada final e torcer por derrotas do Botafogo em ambos os seus jogos, tornando o cenário assim mais improvável.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_29_1.jpg"></div><p class='foto-descricao'>Weverton e Veiga em chegada do Palmeiras a Belo Horizonte — Foto: Thiago Ferri</p>
Veja a lista de 24 relacionados para o jogo:


Mais lidas do Ge
1
Corinthians
Análise: Corinthians é letal contra o Bahia e fica perto de salvar ano com vaga na Libertadores
2
Botafogo
Bar de Buenos Aires que reuniu torcedores do Botafogo faz postagem racista
3
Futebol Internacional
Mundial de Clubes 2025: veja o que já se sabe sobre possíveis caminhos dos times brasileiros
4
Corinthians
Corinthians se garante na Copa do Brasil de 2025 e fica próximo da Libertadores; veja cenários
5
Flamengo
Escalação do Flamengo: Pulgar e Ayrton Lucas voltam ao time contra o Criciúma


50 vídeos
PALMEIRAS.</p>
{% endblock main_content %}

