
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}cruzeiro{% endblock title %}
{% block main_title %}cruzeiro{% endblock main_title %}
{% block second_title %}Palmeiras aciona CBF para evitar torcida única contra Cruzeiro{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Palmeiras aciona CBF para evitar torcida única contra Cruzeiro
Após declaração do vice-governador de Minas Gerais, Verdão sugere mudança de estado caso o governo entenda não possuir estrutura para garantir presença de torcedores do Palmeiras

19/11/2024 13h44 Atualizado

Palmeiras reduz distância para o Botafogo e acredita no título
O Palmeiras acionou a CBF através de ofício, nesta terça-feira, em defesa do clube após o vice-governador de Minas Gerais, Mateus Simões, pedir torcida única no confronto com o Cruzeiro, pela penúltima rodada do Brasileiro, no Mineirão. 

O documento, assinado pela presidente Leila Pereira, sugere que a entidade determine a alteração do local da partida para uma cidade de outro estado, caso o governo de Minas Gerais entenda não possuir estrutura e efetivo policial para garantir a presença de torcedores do Palmeiras no jogo. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_18_0.jpg"></div><p class='foto-descricao'>Palmeiras x Grêmio, comemoração do gol de Estêvão — Foto: Marcos Ribolli</p>
Mais notícias do Palmeiras:


O pedido do vice-governador, revelado na segunda-feira, se deve à briga registrada no fim de outubro, em uma possível emboscada de integrantes de organizadas do Palmeiras contra os do Cruzeiro.</p>
<p class='noticia-conteudo'>Houve cerca de 150 pessoas envolvidas.  Um torcedor cruzeirense morreu e outras 17 pessoas ficaram feridas no confronto próximo a um pedágio na cidade de Mairiporã, na Grande São Paulo. 
- Fizemos pedidos aos responsáveis que o jogo seja de torcida única.</p>
<p class='noticia-conteudo'>Se isso não for atendido, que, infelizmente, não somos nós que tomamos essa decisão, nós vamos judicializar, para impedir que a torcida do Palmeiras frequente o estádio - disse o vice-governador de Minas Gerais. 
ESPORTE NO BDSP: Corinthians, São Paulo e Palmeiras se preparam para 34ª rodada do Brasileirão
O Palmeiras, porém, terá caráter decisivo na partida, porque disputa o título brasileiro, a quatro pontos do líder Botafogo, e entende que não pode ser penalizado esportivamente por um crime ocorrido em uma rodovia sem ligação com as partidas do clube. 
O clube ainda reforça à CBF que recebeu o Cruzeiro com presença de torcida no Allianz Parque no primeiro turno da Série A e que, caso seja impedido de contar com seus torcedores, o "princípio da isonomia (igualdade) será ferido".</p>
<p class='noticia-conteudo'>O Verdão é rompido com as organizadas, e a presidente chegou a obter medida protetiva contra os líderes da Mancha Alviverde após sofrer ameaças.  Em agosto, líderes da organizada invadiram a Academia de Futebol na tentativa de conversar com os jogadores e o técnico Abel Ferreira, mas não acessaram as partes internas. 
Filho do autor do primeiro gol do Allianz Parque virou torcedor do Palmeiras

Mais lidas do Ge
1
Abre Aspas
Ramón Díaz compara lutas contra rebaixamento e diz: 'O Corinthians é muito maior do que o Vasco'
2
Espião Estatístico
Série B: Mirassol, Novorizontino, Ceará e Sport duelam pelo acesso à Série A 2025; veja as chances
3
Botafogo
Entenda do que o Botafogo precisa para ser campeão Brasileiro antes da final da Libertadores
4
Flamengo
Sem Gabigol e à espera de efeito para BH, veja opções de ataque do Flamengo para pegar Cuiabá
5
São Paulo
Novo avião do São Paulo chega ao Brasil e é preparado para utilização em 2025; veja detalhes


50 vídeos
PALMEIRAS.</p>
{% endblock main_content %}
{% block cor_categoria %}#006633{% endblock cor_categoria %}

