
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}palmeiras{% endblock title %}
{% block main_title %}palmeiras{% endblock main_title %}
{% block second_title %}Palmeiras projeta pelo menos R$ 130 milhões com novos patrocínios no orçamento de 2025{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Palmeiras projeta pelo menos R$ 130 milhões com novos patrocínios no orçamento de 2025
Clube encerrará exclusividade com Crefisa e Faculdade das Américas, enquanto finaliza detalhes para tornar a Sportingbet nova dona do espaço máster do uniforme

05/12/2024 11h00 Atualizado há 44 minutos

Leila diz que futebol feminino estará no contrato de patrocínio máster do Palmeiras
O orçamento do Palmeiras para 2025 conta com a projeção de pelo menos R$ 130 milhões com novos patrocínios.  Como a parceria com Crefisa e Faculdade das Américas acaba em dezembro, o clube já tem um acordo avançado com a Sportingbet para o espaço máster da camisa. 

Este valor faz parte da projeção de pouco mais de R$ 1 bilhão de receitas para o ano que vem, apresentada ao Conselho de Orientação e Fiscalização (COF) na última segunda.</p>
<p class='noticia-conteudo'>O órgão já aprovou o orçamento, restando agora a votação do Conselho Deliberativo. 
Mais notícias do Palmeiras:

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_67_0.jpg"></div><p class='foto-descricao'>Camisa do Palmeiras para a temporada 2024 — Foto: Divulgação</p>
O valor de R$ 130 milhões é a expectativa mínima, já que o departamento de marketing do Palmeiras busca cerca de R$ 160 milhões em novos acordos de patrocínio.  O orçamento é feito com números conservadores.</p>
<p class='noticia-conteudo'>A negociação com a Sportingbet está adiantada nos seguintes moldes: cerca de R$ 100 milhões fixos por temporada, em um contrato de quatro anos.  Com bônus, o valor pode chegar a mais de R$ 150 milhões, e o contrato terá correção monetária anual. 
A casa de apostas deve ocupar a posição mais nobre da camisa tanto do time masculino quanto do feminino.</p>
<p class='noticia-conteudo'>O Palmeiras também discute com outras marcas mais áreas do uniforme. 
Estão disponíveis: omoplatas, mangas, barra inferior, barra superior e inferior nas costas, calção/shorts e meião, além do espaço máster no time de base, que não pode estampar empresas do ramo de apostas esportivas.  O desejo do Verdão é anunciar todos os novos parceiros em janeiro.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_67_1.jpg"></div><p class='foto-descricao'>Camisa do Palmeiras após a renovação dos contratos com Crefisa e FAM — Foto: Fabio Menotti</p>
A projeção de R$ 130 milhões com patrocínio já significa um aumento de R$ 41,5 milhões para a mesma área no orçamento de 2024.  Ainda sob contrato de exclusividade no masculino com Crefisa e FAM, além da Esportes da Sorte no máster do feminino, o valor calculado era de R$ 88,5 milhões. 
A quantia dos patrocínios do uniforme se junta a acordos como fornecimento de material esportivo da Puma, das placas de publicidade nos jogos do Brasileirão, além de licenciamentos e royalties de produtos como Palmeiras Pay e escolinhas de futebol.</p>
<p class='noticia-conteudo'>Todos esses tópicos são unificados em "patrocínios e licenciamentos" no orçamento de 2025, em que se espera arrecadar R$ 237,1 milhões. 
Ainda que o resultado nesta área em 2024 esteja acima do projetado (R$ 117,3 milhões arrecadados até outubro, em vez dos R$ 105,5 milhões orçados no mesmo período), haverá um aumento considerável, turbinado também pelos acordos de placas de publicidade e renovação com a Puma. 
O orçamento de 2025 é o primeiro da história do Palmeiras já com previsão de R$ 1 bilhão de receitas – o número foi atingido pela primeira em 2024, bem acima do calculado para este ano.</p>
<p class='noticia-conteudo'>Publicidade e patrocínio será a segunda área de maior arrecadação, de acordo com o documento.  Apenas negociações de atletas (R$ 301 milhões) estará acima.  A divisão é a seguinte:


Mais lidas do Ge
1
Botafogo
Análise: Botafogo ressignifica palco e fica a um ponto do título Brasileiro
2
Palmeiras
Análise: Palmeiras é salvo pelo talento de Estêvão, mas não passa confiança para conquistar o título
3
Palmeiras
Abel diz que Brasileirão está praticamente definido: 'Vocês conhecem o futebol brasileiro'
4
Futebol Internacional
Sorteio do Mundial de Clubes 2025: onde assistir ao vivo e horário
5
Flamengo
Filipe Luís critica 'ataque anárquico' após vitória por 3 a 0: 'Um Flamengo de que não gosto'


50 vídeos
PALMEIRAS.</p>
{% endblock main_content %}

