
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}palmeiras{% endblock title %}
{% block main_title %}palmeiras{% endblock main_title %}
{% block second_title %}Palmeiras precisa de feito que ocorreu só em duas ocasiões para ganhar o Brasileirão{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Palmeiras precisa de feito que ocorreu só em duas ocasiões para ganhar o Brasileirão
Desde que a competição passou a ser disputada por pontos corridos com 20 clubes, apenas em 2009 e 2020 o segundo colocado a dois jogos do fim conseguiu terminar com a taça



Palmeiras perde o jogo e a liderança do Brasileirão para o Botafogo
Sem depender apenas de suas forças para ser campeão brasileiro, o Palmeiras terá que repetir um feito que aconteceu apenas em duas das 18 edições já disputadas da competição por pontos corridos com 20 equipes. 

Só em 2009 e 2020 o segundo colocado a dois jogos do fim terminou como campeão.  É este o cenário da equipe alviverde, que tem 70 pontos e está a três do líder Botafogo, vencedor do confronto direto entre os dois times por 3 a 1, terça-feira, no Allianz Parque.</p>
<p class='noticia-conteudo'>Mais notícias do Palmeiras:


Na última vez que isto ocorreu, há quatro anos, o Internacional era o líder ao fim da 36ª rodada com 69 pontos, um à frente do Flamengo.  O time carioca passou na penúltima partida e terminou com o título brasileiro. 
A outra ocasião também teve o Flamengo como o campeão.</p>
<p class='noticia-conteudo'>A dois jogos do fim, a equipe estava a um ponto do São Paulo, líder com 62, assumiu a ponta na 37ª e se sagrou campeã nacional. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_46_0.jpg"></div><p class='foto-descricao'>Flaco López lamenta durante a partida entre Palmeiras e Botafogo — Foto: Joisel Amaral/AGIF</p>
Nas 16 edições restantes nos atuais moldes, o primeiro colocado na 36ª rodada ou já era campeão antecipado, ou garantiu a taça depois.  O próprio Palmeiras viveu este cenário nas outras conquistas, de 2016, 2018, 2022 e 2023.</p>
<p class='noticia-conteudo'>Apesar do último resultado amargo, o Verdão tem chance de voltar à ponta do Brasileirão já no próximo jogo.  Para isso, precisa vencer o Cruzeiro no Mineirão e que o Botafogo seja derrotado pelo Internacional, no Beira-Rio. 
Isto faria com que as duas equipes ficassem empatadas em 73 pontos, mas o time de Abel Ferreira teria a vantagem no número de vitórias: 22 contra 21.</p>
<p class='noticia-conteudo'>Troca de Passes: PC Oliveira analisa lances de Palmeiras x Botafogo
Com a derrota no confronto direto entre os dois líderes, o Palmeiras viu suas chances de título despencarem: de 69,74% no início da rodada para apenas 22,79% após o jogo no Allianz Parque. 
O Verdão terá uma semana até o próximo jogo, na quarta-feira, contra o Cruzeiro, no Mineirão.  A rodada final será contra o Fluminense, no Allianz Parque.</p>
<p class='noticia-conteudo'>Confira os jogos restantes de Palmeiras e Botafogo
37ª rodada

38ª rodada
8/12 , às 16h: Palmeiras x Fluminense (Allianz Parque)
8/12, às 16h: Botafogo x São Paulo (Nilton Santos)

Mais lidas do Ge
1
Espião Estatístico
Cruzeiro é favorito à sétima vaga na Libertadores com 41%; Bahia e Corinthians também têm chances
2
Corinthians
Torcida do Corinthians lança campanha de arrecadação para pagar a Arena; saiba como doar
3
Futebol Internacional
Jornais criticam Mbappé após pênalti perdido no Real Madrid: 'Pesadelo'
4
Flamengo
Veja oito pontos perdidos que custaram caro e tiraram chances de título brasileiro do Flamengo
5
Palmeiras
Palmeiras precisa de feito que ocorreu só em duas ocasiões para ganhar o Brasileirão


50 vídeos
PALMEIRAS.</p>
{% endblock main_content %}

