
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}flamengo{% endblock title %}
{% block main_title %}flamengo{% endblock main_title %}
{% block second_title %}Parecia um filme de Hollywood como Palmeiras sub-14 encantou e viralizou com dribles na Europa{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>"Parecia um filme de Hollywood": como Palmeiras sub-14 encantou e viralizou com dribles na Europa
Mesmo eliminado na segunda fase, Verdão distribuiu lances plásticos na Alemanha, com direito a vitória sobre o Barcelona, e tem vídeos com mais de um milhão de visualizações

06/12/2024 11h00 Atualizado há uma hora

Time sub-14 do Palmeiras viraliza em jogo de showbol na Alemanha; confira
Eles precisaram de segurança para deixar a quadra lotada em Friedrichshafen, na Alemanha, à medida que se amontoaram os pedidos de fotos e autógrafos.  Minutos antes, o recado da comissão técnica era único: "Divirtam-se e mostrem o que é o futebol brasileiro".  E foi assim, a quilômetros de casa, que o sub-14 do Palmeiras driblou, encantou e viralizou jogando entre clubes da Europa.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_115_0.jpg"></div><p class='foto-descricao'>Marquinhos, do Palmeiras sub-14, recebe prêmio de melhor jogador na MTU Cup, na Alemanha — Foto: Divulgação / Palmeiras</p>
Mais notícias do Palmeiras:


Tudo aconteceu na MTU Cup, competição de Showbol, que é um esporte criado para ser disputado em quadra coberta e, neste caso, com cinco atletas para cada lado. 
Só que o Verdão, mesmo longe de ser campeão, encantou as arquibancadas por abraçar como mantra o estilo "Joga Bonito" - citado nos vídeos viralizados da equipe em quadra.  Os principais, em páginas de fora do Brasil, inclusive, tem mais de um milhão de visualizações.</p>
<p class='noticia-conteudo'>– Os torneios de fim de ano devem ser sobre alegria e liberdade – explica o coordenador técnico do Palmeiras, Richard Pabon, entusiasmado. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_115_1.jpg"></div><p class='foto-descricao'>Equipe Sub-14 do Palmeiras na Alemanha para disputar MTU Cup — Foto: Divulgação / Palmeiras</p>
Não à toa, deixaram a Alemanha com o prêmio de melhor atleta: Marquinhos.  Ele esteve em campo, aliás, na principal - e mais viral - das cinco vitórias do Verdão, sobre o Barcelona, quando o time balançou em quadra para fazer 3 a 1 com gols de Luis Gustavo, Benjamin e Pedro Sanches.</p>
<p class='noticia-conteudo'>O coordenador, que estava com a equipe na Alemanha, descreve a atmosfera no torneio como "elétrica", diante de cinco mil torcedores na capacidade máxima da quadra. 
– O burburinho só cresceu.  E quando enfrentamos o Barcelona, os gritos eram ensurdecedores.</p>
<p class='noticia-conteudo'>Nossos jogadores vivenciaram um momento que parecia um filme de Hollywood. 
— conta o coordenador técnico, encantado. 
– Precisamos de segurança pra voltar ao vestiário, e eles estavam assinando autógrafos, tirando fotos.</p>
<p class='noticia-conteudo'>Os torcedores pedindo camisas e caneleiras. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_115_2.jpg"></div><p class='foto-descricao'>Como ficou a quadra de grama society para a MTU Cup — Foto: Divulgação / VFB Friedrichshafen Fussball</p>
Incentivando as Crias da Academia a arriscar, usar dribles e criar jogadas ousadas, o Palmeiras aposta em uma metodologia de sempre colocar a própria identidade em primeiro lugar.  É algo que acontece, por exemplo, com o uso do campo de barro no CT da base.</p>
<p class='noticia-conteudo'>Em competições, no ano passado, essa ideia se repetiu na Aldeia International Cup, quando o Verdão conquistou o título transformando atacantes em zagueiros, laterais em pontas e experimentando formações. 
– Eu queria criar caos no campo, usar papéis invertidos, mas não era apenas sobre o caos.  Era sobre promover crescimento e permitir que os jogadores experimentassem o jogo a partir de diferentes perspectivas – justifica.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_115_3.jpg"></div><p class='foto-descricao'>Palmeiras Sub-14 na MTU Cup, campeonato de showbol na Alemanha — Foto: Divulgação / VFB Friedrichshafen Fussball</p>
Único sul-americano entre 24 times, o Palmeiras fez oito partidas, marcou 35 gols e sofreu nove, vencendo times como Barcelona e Manchester United na MTU Cup.  Avançou até a segunda fase e caiu como terceiro colocado da chave, atrás de Bayern e Borussia Dortmund. 
Mais que os resultados, porém, foram buscando incentivar dribles, leveza e criatividade.</p>
<p class='noticia-conteudo'>E isso foi o bastante para eles. 
– Vamos recuperar nosso orgulho e abraçar nossa identidade. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_115_4.jpg"></div><p class='foto-descricao'>Drible de Luis Gustavo, do Palmeiras Sub-14, na MTU Cup, na Alemanha — Foto: Divulgação / VFB Friedrichshafen Fussball</p>
Veja os jogos do Verdão pela MTU Cup:

Gols: Ruan Pablo (quatro vezes), Pedro Alcântara, Benjamin, Marcos Vinicius (duas vezes), Luis Gustavo (três vezes), Davi Roque, Miguel Campos (duas vezes)
Primeira fase: Palmeiras 3 x 1 Barcelona-ESP
Gols: Luis Gustavo, Benjamin e Pedro Sanches
Primeira fase: Palmeiras 2 x 0 Manchester United-ING
Gols: Luis Gustavo e Benjamin
Primeira fase: Palmeiras 2 x 0 Stuttgart-ALE
Gols: Luis Gustavo (duas vezes)
Primeira fase: Palmeiras 8 x 1 Tettnang-ALE
Gols: Pedro Alcântara (três vezes), Luis Gustavo (duas vezes), Marcos Vinicius (duas vezes) e Davi Roque
Segunda fase: Palmeiras 2 x 2 Bayern de Munique-ALE
Gols: Marcos Vinicius e Benjamin
Segunda fase: Palmeiras 2 x 4 Borussia Dortmund-ALE
Gols: Marcos Vinicius e Ruan Pablo
Segunda fase: Palmeiras 2 x 1 Seleção da Índia
Gols: Benjamin e Guga
Mais lidas do Ge
1
Espião Estatístico
Atlético-MG, Fluminense, Athletico e Bragantino buscam permanência na Série A; veja chances na última rodada
2
Futebol Internacional
Mundial de Clubes 2025: veja os grupos completos
3
Corinthians
Não é só Memphis: Corinthians se aproxima de estrelas e pensa em novo reforço de peso para 2025
4
Brasileirão Série A
Briga contra o rebaixamento: veja os cenários para a última rodada do Brasileirão
5
Palmeiras
Dudu deve fazer despedida do Palmeiras contra o Fluminense no Allianz Parque


50 vídeos
PALMEIRAS.</p>
{% endblock main_content %}

