
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}vasco{% endblock title %}
{% block main_title %}vasco{% endblock main_title %}
{% block second_title %}Payet, do Vasco, diz que tem acordo assinado com Marselha para o futuro Haverá um retorno{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Payet, do Vasco, diz que tem acordo assinado com Marselha para o futuro: "Haverá um retorno"
Em entrevista ao L'Equipe, meia afirma que voltará ao clube francês — mas não detalha função —, critica calendário do futebol brasileiro e projeta aposentadoria



Vasco deve rescindir com Payet? "Ele não tem mais um ano de futebol", diz João Almirante
Em entrevista ao jornal L'Équipe, Payet disse que tem um acordo assinado para voltar ao Olympique de Marselha no futuro.  O meia do Vasco não detalhou o contrato com o clube no qual é ídolo, mas disse que haverá um retorno ao time francês. 
— Foi uma temporada muito boa (a última no Marselha).</p>
<p class='noticia-conteudo'>E no final, sim, houve a saída.  Mas com o Marseille, é muito claro.  É um negócio fechado.</p>
<p class='noticia-conteudo'>Portanto, haverá um retorno ao clube depois, e discutiremos mais tarde os detalhes do por quê ou como.  Obviamente eu quero ajudar, quero ser útil para continuar ajudando o OM a crescer, mas sim, está assinado, então haverá um retorno. 
— Como você disse, minha última temporada (no Marseille) foi difícil para mim pessoalmente, porque obviamente meu primeiro desejo é jogar.</p>
<p class='noticia-conteudo'>Mas depois disso, como capitão, acho que simplesmente fiz o que tinha de fazer.  Esse é o meu ponto de vista, mas um capitão tem de se colocar à frente dos outros.  E mesmo que o futebol seja um esporte pessoal, ele é, antes de tudo, um esporte coletivo.</p>
<p class='noticia-conteudo'>E foi isso que eu fiz.  Cuidei dos outros.  Cuidei daqueles que não jogavam comigo.</p>
<p class='noticia-conteudo'>Cuidei daqueles que estavam jogando.  Cuidei dos pequenos problemas que poderiam ter surgido dentro do vestiário, que poderiam ter surgido entre o técnico e os jogadores.  Portanto, é verdade que foi uma função diferente, mas gostei muito dela, porque o objetivo é que o Marseille vença.</p>
<p class='noticia-conteudo'>Ao ser perguntado se uma aposentadoria estaria próxima, Payet disse que é o "que mais teme que aconteça".  O meia contou que ainda não acha que o fim está perto, mas tem medo de como será a rotina sem estar jogando futebol. 
— O que eu mais temo é ver isso acontecer.</p>
<p class='noticia-conteudo'>Sinceramente, quando me levanto todas as manhãs, gosto muito de treinar e gosto muito de jogar novamente.  Portanto, não estou dizendo a mim mesmo hoje que o fim está próximo, mas, infelizmente, sei que em algum momento meu corpo vai me dizer que é isso, que basta.  Mas, sinceramente, eu amo tanto jogar bola, amo tanto o futebol que acho que o fim vai ser difícil para mim.</p>
<p class='noticia-conteudo'>— Não estou assustado, não, mas eu digo a mim mesmo: no dia em que eu tiver que parar de treinar, parar de jogar, parar de dar prazer às pessoas, parar de fazer o que eu amo, o que eu fiz durante toda a minha vida, é claro que vai ser difícil, é claro que eu vou fazer outra coisa.  E isso também me permitirá aproveitar minha família ao máximo, mas é algo que certamente será difícil. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_61_0.jpg"></div><p class='foto-descricao'>Payet, do Vasco, diz que tem acordo assinado com Marselha para o futuro — Foto: André Durão/ge</p>
Há mais de um ano no futebol brasileiro, Payet afirmou que o mais difícil na sua adaptação foi o clima e o calendário no país.</p>
<p class='noticia-conteudo'>— O mais difícil para mim, para ser sincero, foi o clima.  Porque, em termos de umidade, em termos de calor, em um domingo às 16 horas, quando está 38 graus e o tempo está pesado, é muito, muito, muito difícil jogar.  Além disso, há o calendário, que é muito cheio no Brasil.</p>
<p class='noticia-conteudo'>Não jogamos nem na Sul-Americana nem na Copa Libertadores, mas conseguimos ter uma agenda cheia.  Não sei como os jogadores que disputam essas copas conseguem, mas, para ser sincero, é muito, muito difícil. 


O jogador do Vasco disse que está acostumado a lidar com pressão de grandes torcidas, então tem a impressão de que as coisas não mudaram em sua passagem no futebol brasileiro.</p>
<p class='noticia-conteudo'>Payet afirmou que a exigência no Brasil é muito alta. 
— A pressão depois de 10 anos no Olympique de Marselha, você sabe como é.  Mas é aí que eu também me encontro, eu tenho a impressão de nunca ter saído do Marselha, porque os torcedores (no Brasil) são tão extremos em sua positividade e negatividade.</p>
<p class='noticia-conteudo'>Você nunca tem paz de espírito, então é por isso que eu sempre tenho que dar o meu melhor.  Os brasileiros tiveram jogadores como Romário e Pelé em sua história que tornam a barra ainda mais alta. 
O meia francês foi questionado pelo programa sobre a final da Libertadores, entre Botafogo e Atlético-MG, e disse que não há favoritos.</p>
<p class='noticia-conteudo'>Os integrantes do programa do L'Équipe brincaram sobre o fato do Botafogo ser comandado por John Textor, empresário que tem problemas no futebol francês na gestão do Lyon, que está proibido de contratar e será rebaixado se não melhorar situação financeira. 

Assista tudo sobre o Vasco no ge, na Globo e no SporTV:
50 vídeos
VASCO.</p>
{% endblock main_content %}

