
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}vasco{% endblock title %}
{% block main_title %}vasco{% endblock main_title %}
{% block second_title %}Payet posta vídeo com gol de letra por cobertura em treino do Vasco; assista{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Payet posta vídeo com gol de letra por cobertura em treino do Vasco; assista
Jogador compartilhou lance em suas redes sociais



Payet faz gol de letra em treino do Vasco
Payet compartilhou nas suas redes sociais, nesta terça-feira, vídeo em que ele aparece marcando um belo gol no treino do Vasco (assista acima).  No lance, o francês acerta um chute de letra por cobertura. 
Junto com o vídeo, o camisa 10 compartilhou um trecho da música "Desabafo", de Cláudya e Marcelo D2, que dizia o seguinte: "Deixa eu dizer o que penso dessa vida, preciso demais desabafar".</p>
<p class='noticia-conteudo'>Payet disputa com Coutinho uma vaga no time titular para enfrentar o Internacional, na quinta-feira, às 20h, em São Januário.  O francês reclamou de dores na coxa e ficou fora do jogo contra o Fortaleza, mas não teve lesão detectada, então está liberado para reforçar o Vasco na 34ª rodada. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_19_0.jpg"></div><p class='foto-descricao'>Payet em ação pelo Vasco — Foto: Thiago Ribeiro/AGIF</p>
Philippe Coutinho, que teve um problema muscular na coxa, viajou para o Ceará e jogou alguns minutos na última partida.</p>
<p class='noticia-conteudo'>O camisa 11 ganhou tempo de treino com a paralisação para a Data Fifa e é cogitado para começar como titular na quinta-feira. 



Assista tudo sobre o Vasco no ge, na Globo e no SporTV:
50 vídeos
VASCO.</p>
{% endblock main_content %}
{% block cor_categoria %}#000000{% endblock cor_categoria %}

