
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Pé quente, mãe de Marta assiste 1º jogo da filha nos Estados Unidos e título inédito do Orlando Pride{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Pé quente, mãe de Marta assiste 1º jogo da filha nos Estados Unidos e título inédito do Orlando Pride
Rainha comenta que mãe, Tereza da Silva, perdeu semifinal, mas que com vaga na decisão, ela pôde garantir ida e acompanhar título da filha aos 38 anos: "Significa muito"


O título do Orlando Pride na NWSL (National Women's Soccer League), a liga de futebol feminino dos Estados Unidos, teve um sabor especial para a rainha Marta.  Aos 38 anos, a jogadora pôde contar com a presença especial da sua mãe, Tereza da Silva, nas arquibancadas do CPKC Stadium, em Kansas City, no Missouri.  A vitória por 1 a 0 sobre o Washington Spirit por 1 a 0 marcou a primeira conquista de marta pela franquia da Flórida e a primeira vez que a mãe acompanhou um jogo da filha nos Estados Unidos.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_0.jpg"></div><p class='foto-descricao'>Marta e sua mãe, Tereza da Silva — Foto: NWLS</p>
- Significa muito.  Eu não esperava ter ela nesse momento aqui.  Mas eu acredito demais.</p>
<p class='noticia-conteudo'>Deus sabe o momento certo das coisas.  Eu não imaginava.  No último instante, ela veio.</p>
<p class='noticia-conteudo'>Ela perdeu a semifinal, a gente foi para a final e ela esteve aqui.  Isso significa muito.  Jogar com essas atletas é muito especial.</p>
<p class='noticia-conteudo'>Eu nunca tive isso em outro clube- disse Marta em entrevista a CBS Sports, após a vitória e o título, que ainda completou. 
- Eu estou feliz.  Eu acredito demais o que Deus tem reservado para a gente.</p>
<p class='noticia-conteudo'>No momento certo ele nos dá o necessário.  Eu perguntei para mim porque eu estava jogando no Orlando depois dos 38 anos.  Eu sou a única jogadora desde 2017 - finalizou.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_1.jpg"></div><p class='foto-descricao'>Marta e sua mãe, Tereza da Silva — Foto: NWLS</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_2.jpg"></div><p class='foto-descricao'>Marta e sua mãe, Tereza da Silva — Foto: NWLS</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_3.jpg"></div><p class='foto-descricao'>Marta e sua mãe, Tereza da Silva — Foto: NWLS</p>
A vitória por 1 a 0 finalizou a temporada do Orlando Pride, que terminou o ano com 29 jogos, 21 vitórias, seis empates e apenas duas derrotas: foram 56 gols marcados e 23 sofridos. 
Números do Orlando Pride em 2024

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_4.jpg"></div><p class='foto-descricao'>Orlando Pride conquista liga americana pela primeira vez, Marta, Adriana Silva — Foto: Divulgação/Instagram</p>
Top-5 das goleadoras do Orlando Pride na temporada
Barbra Banda: 17 gols;
Marta: 11 gols;
Adriana: 6 gols;
Summer Yates: 5 gols;
Ally Watt: 3 gols. 
A brasileira, camisa 10 da equipe, está na franquia desde 2017 e precisou de oito temporadas para conquistar o título inédito para a equipe de Orlando.</p>
<p class='noticia-conteudo'>A conquista também é inédita para Marta, o que coroa ainda mais a carreira daquela que já foi eleita a melhor jogadora do mundo em seis oportunidades. 
Com 11 gols marcados na temporada, Marta tem sua segunda melhor performance pelo Orlando Pride desde 2017, seu primeiro ano no clube.  A brasileira foi eleita para a seleção do campeonato e é uma das cinco indicadas à melhor jogadora da NWSL 2024.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}

