
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}PeB 2023 PHzin é tri como melhor atleta de futebol virtual{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Jogador de EA FC vence categoria pelo terceiro ano seguido no Prêmio eSports Brasil





PHzin é o Melhor Atleta de Futebol Virtual no Prêmio eSports Brasil 2023
Ganhador na mesma categoria em 2021 e 2022, PHzin teve uma ótima temporada em 2023: conquistou, pelo segundo ano seguido, o título mundial de seleções no FIFAe Nations Cup e chegou à semifinal do FIFAe World Cup, o campeonato mundial individual. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_383_0.jpg"></div><p class='foto-descricao'>PHzin com o troféu de melhor jogador de futebol virtual do Prêmio eSports Brasil 2023 — Foto: Reprodução/YouTube</p>
Na transição para o EA SPORTS FC 24, sucessor do FIFA 23, PHzin recebeu o convite para o FC Pro 24 Open, sem precisar passar pelas classificatórias. 
Na eleição do PeB, PHzin derrotou Paulo Neto, do EA FC, e João Victor, do eFootball.</p>
<p class='noticia-conteudo'>Brasil vence Holanda de virada e conquista FIFAe Nations Cup 2023.</p>
{% endblock main_content %}

