
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Pedrinho lamenta distância da família para voltar ao Shakhtar em meio à guerra na Ucrânia Sacrifício{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Pedrinho lamenta distância da família para voltar ao Shakhtar em meio à guerra na Ucrânia: "Sacrifício"
Meia, ex-Atlético-MG, conta porque desejou voltar ao país e revela dificuldades logísticas.  Srna, diretor do clube, demonstra expectativa para encontro do G20 ajudar no conflito

15/11/2024 02h00 Atualizado

Pedrinho comenta volta ao Shakhtar em meio à guerra na Ucrânia
A Ucrânia está mergulhada em uma guerra contra a Rússia há mais de dois anos, e a situação complicada entre os países obviamente atinge o futebol e também jogadores brasileiros.  É o caso de Pedrinho, meia do Shakhtar Donetsk, que voltou ao clube neste ano, depois de passagem pelo Atlético-MG, em um caminho inverso ao daqueles que buscam deixar o país em meio ao conflito.</p>
<p class='noticia-conteudo'>✅Clique aqui para seguir o novo canal ge Futebol Internacional no WhatsApp
Pedrinho estava emprestado ao clube mineiro até julho e, ainda em fevereiro, acertou a renovação com o Shakhtar até 30 de junho de 2029.  Apesar de saber as dificuldades que a guerra traz à vida na Ucrânia, o jogador contou, em entrevista exclusiva ao ge, que tinha vontade de voltar ao Shakhtar. 
- Os brasileiros do clube falaram que estavam vivendo um pouco mais afastados da situação da guerra.</p>
<p class='noticia-conteudo'>O diretor também me deu toda a segurança e suporte, mas claro que a gente nunca fica satisfeito por completo porque a gente sabe que a Ucrânia está vivendo uma situação bem complicada.  Mas foram inúmeros fatores que eu achei que poderia ser importante para poder voltar, e poder atuar em alto nível - afirmou o jogador. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_0.jpg"></div><p class='foto-descricao'>Pedrinho voltou ao Shakhtar Donetsk com a intenção de jogar a Champions League — Foto: GettyImages</p>

O Shakhtar Donetsk está disputando a Liga dos Campeões pelo terceiro ano seguido, apesar da guerra.</p>
<p class='noticia-conteudo'>A principal competição do futebol foi um dos grandes motivos que fizeram Pedrinho estender o contrato, mesmo sabendo que teria que enfrentar outros desafios. 
Desde que voltou para Ucrânia, o meio-campista vive sozinho no país, assim como os outros seis brasileiros do elenco.  Por conta da guerra, a família dos jogadores continuaram no Brasil por segurança.</p>
<p class='noticia-conteudo'>O jogador conta que ele não sabia o que iria encontrar e, por isso, a ideia dos familiares não se mudarem seria a melhor opção. 
- Acredito que o maior sacrifício que a gente tem é estar longe da nossa família.  O dia a dia aqui é tranquilo.</p>
<p class='noticia-conteudo'>Estamos vivendo hoje em Lviv, na fronteira com a Polônia, onde a gente pode sair normalmente.  Acho que só aconteceu duas situações quando a gente estava ainda na capital que causou um pouco de tensão, mas esses últimos meses que fomos para Lviv acabou ficando mais tranquilo.  A gente acaba correndo o risco para o bem de todos os nossos familiares, mas sabendo que é complicado a família viver aqui realmente - contou Pedrinho.</p>
<p class='noticia-conteudo'>Além disso, o jogador, que retornou há menos de seis meses, disse que também enfrentou dificuldades dentro de campo.  Apesar de ter sido uma escolha dele, Pedrinho falou abertamente sobre os medos em relação a guerra da Ucrânia.  Assim que voltou, nos primeiros treinos e jogos, o meio-campista não se sentia bem e, com isso, não apresentava seu melhor futebol.</p>
<p class='noticia-conteudo'>Segundo ele, hoje, a situação é bem melhor. 
- O meu retorno vem sendo gradual, porque acredito que os primeiros meses não foram normais.  Vim para uma situação que sabia o que estava acontecendo, mas até mesmo em muitos momentos eu acaba não dormindo bem, preocupado, longe da família.</p>
<p class='noticia-conteudo'>Eu via que isso acaba refletindo dentro de campo.  Às vezes ia dormir cinco horas da manhã para treinar oito.  Então, é como a gente fala, aqui não é só o futebol, é o extracampo também.</p>
<p class='noticia-conteudo'>A gente tem muitas viagens longas, de ônibus, porque até mesmo aeroporto não está funcionando.  No início acho que isso acabou prejudicando um pouco - disse o atleta. 
Pedrinho fala das dificuldades de viver longe da família por causa da guerra na Ucrânia
Ainda não se sabe quando a situação entre Ucrânia e Rússia irá se resolver.</p>
<p class='noticia-conteudo'>Mas em meio aos conflitos os clubes tentam se organizar.  Darijo Srna diretor executivo do Shakhtar Donetsk e antiga lenda do clube e da seleção da Croácia, também comentou a situação.  Segundo ele, jogadores como Pedrinho demonstraram muita coragem ao aceitar atuar no time ucraniano neste momento.</p>
<p class='noticia-conteudo'>- Tenho o máximo respeito por esses jogadores que vieram para nós apesar da guerra nos últimos anos.  Eles não conheciam a guerra até agora.  Mostraram coragem e provaram que ainda somos um grande clube - disse o diretor do clube ucraniano.</p>
<p class='noticia-conteudo'>Pedrinho afirma que no início não conseguia dormir direito por causa da guerra
Uma das apostas para ajudar de alguma forma a guerra na Ucrânia é o encontro do Grupo dos Vinte (G20) que acontece, nesta semana, no Rio de Janeiro.  Esse é o principal fórum de cooperação econômica internacional e vai tratar de diversos assuntos.  Srna, falou sobre a expectativa para o encontro.</p>
<p class='noticia-conteudo'>- Uma oportunidade para os países mais influentes do mundo discutirem vários temas, e definitivamente a invasão da Ucrânia é um deles.  Esperamos que os líderes mundiais encontrem uma forma de finalmente trazer paz para a Ucrânia.  Já são mais de dois anos e meio de mortes, e está reunião pode ser fundamental para encontrar uma solução - afirmou.</p>
<p class='noticia-conteudo'>Pedrinho é um dos sete brasileiros no time do Shakhtar Donetsk.  O jogador que retornou ao clube no meio do ano tem contrato até 2029, mas leva em conta o fim da guerra para permanecer na Ucrânia.  Segundo ele, a expectativa é alta para que os dias no país voltem a normalidade.</p>
<p class='noticia-conteudo'>- Tenho contrato de cinco anos aqui.  O meu desejo quando escolhi voltar era que a guerra acabasse o quanto antes.  Tenho em mente ficar aqui o máximo de tempo possível, tenho certeza que o Shakhtar é uma grande equipe, e que possa fazer com que eu evolua cada vez mais.</p>
<p class='noticia-conteudo'>Tudo depende de como vai ficar a situação da guerra.  É bastante difícil ficar longe da família.  É torcer para que a guerra acabe logo para que eles possam estar junto comigo.</p>
<p class='noticia-conteudo'>O meu desejo é ficar aqui bastante tempo. 

Na Liga dos Campeões, o Shakhtar Donetsk é o 28º na tabela de classificação, com quatro pontos conquistados.  Até o momento, a equipe ucraniana acumula uma vitória, um empate e duas derrotas em quatro jogos disputados.</p>
<p class='noticia-conteudo'>ATLÉTICO-MG
SHAKHTAR DONETSK.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

