
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Perto de virar SAF, Portuguesa já tem reforços e treinador apalavrados para 2025{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Perto de virar SAF, Portuguesa já tem reforços e treinador apalavrados para 2025
Projeto ainda depende da aprovação na Assembleia de Sócios da Lusa, em votação que deve ocorrer no início da próxima semana;



Presidente da Portuguesa detalha planejamento para 2025: "Já tem muita coisa adiantada"
Perto de virar SAF, a Portuguesa já tem reforços e treinador apalavrados para 2025.  Mesmo que ainda dependa da aprovação na Assembleia de Sócios para oficializar a mudança, o clube iniciou o planejamento para a próxima temporada. 
Antônio Carlos Castanheira, presidente da Lusa, revelou que os prováveis parceiros já estão em negociações para definir o elenco que disputará o Paulistão do ano que vem.</p>
<p class='noticia-conteudo'>– O próximos passo é montar o time.  Essa é grande agonia da nossa diretoria e dos investidores que estão chegando.  A Portuguesa vai ter que fazer um papel bom no Campeonato Paulista.</p>
<p class='noticia-conteudo'>Não pode, em hipótese alguma, lutar contra o rebaixamento.  Todo esse movimento é para ter êxito – disse o dirigente, em entrevista no Canindé na última sexta-feira. 
– Já tem muita coisa adiantada (planejamento) porque os investidores não estavam dormindo no ponto.</p>
<p class='noticia-conteudo'>Na segunda-feira já vai aportar com eles no CT para definir a montagem do elenco. 
Torcida da Portuguesa faz festa no Canindé após aprovação da SAF no Conselho
Segundo Castanheira, a Lusa já tem preparada toda estrutura de futebol, incluindo comissão técnica e seis jogadores para iniciar a pré-temporada em dezembro. 
Ele não citou nomes, mas falou que os reforços serão de nível "Série A e B" e que deve aguardar até dez dias para finalizar os trâmites burocráticos para oficializar as contratações.</p>
<p class='noticia-conteudo'>– O que eu posso adiantar é que é um treinador que já passou pelo Paulista.  Ele tem todo perfil de futebol moderno e competitivo.  Estamos esperando um treinador moderno, que coloque um time competitivo, jogando raça.</p>
<p class='noticia-conteudo'>Porque a Portuguesa vai ter um ano cheio com Paulista, Brasileiro e Copa do Brasil. 
– Obviamente não foi batido o martelo (com o treinador) porque a gente o esperava o sim.  Não podemos ser levianos de contratar e ter um não aqui (na reunião do Conselho).</p>
<p class='noticia-conteudo'>O diretor também está apalavrado, toda área de backoffice e seis jogadores estão alinhados para iniciar a pré-temporada – completou. 
A proposta dos investidores é de R$ 1 bilhão por 80% das ações do clube.  Agora, a Lusa precisa que a Assembleia de Sócios aprove a transformação do clube em Sociedade Anônima do Futebol.</p>
<p class='noticia-conteudo'>A votação deve ocorrer no início da próxima semana. 
Conselho da Portuguesa aprova projeto da SAF por aclamação
A Portuguesa está no Grupo B do Campeonato Paulista do ano que vem e duelará por uma vaga nas quartas de final do torneio estadual com Santos, Guarani e Red Bull Bragantino.  A Lusa também disputará a Série D do Brasileirão em 2025 e tem chance de participar da Copa do Brasil.</p>
<p class='noticia-conteudo'>Proposta e valores
A XP Investimentos entra como a cabeça do projeto, cuidando dos investimentos financeiros dentro do clube.  A Tauá representada por Alex Bourgeois cuidará da parte de gestão de futebol. 
Por fim, a Revee tomará conta da administração do novo espaço do Canindé, incluindo uma arena multiuso para eventos além do futebol.</p>
<p class='noticia-conteudo'>Torcida da Portuguesa comemora aprovação do projeto da SAF no Conselho
O valor de pouco mais de 1 bilhão será diluído em três setores:

Investidores comemoram aprovação da SAF na Portuguesa: "A responsabilidade começa agora"
O valor disponibilizado de 2025 a 2029 se dividirá da seguinte maneira:
Investimento no futebol de base - R$ 44 milhões
Compra de jogadores - R$ 50 milhões
Folha salarial (considerando os próximos cinco anos) - R$ 144 milhões
Investimento no CT - R$ 18 milhões
Futebol feminino - R$ 7 milhões
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_13_0.jpg"></div><p class='foto-descricao'>Torcida da Portuguesa comemora SAF no clube — Foto: Portuguesa/Divulgação</p>.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

