
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Piloto da F1 é barrado na imigração de aeroporto antes de correr nos EUA{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Piloto da F1 é barrado na imigração de aeroporto antes de correr nos EUA
Yuki Tsunoda deu detalhes de entrave durante chegada ao país para o GP de Las Vegas, neste fim de semana, apesar de ter viajado para a América do Norte um mês atrás


Respectivamente 19º e décimo colocado nos dois primeiros treinos livres do GP de Las Vegas, Yuki Tsunoda correu sérios riscos de sequer chegar aos Estados Unidos para a prova.  Isso porque o piloto da RB foi interrogado pela imigração no aeroporto e, segundo o próprio, correu risco de ser mandado de volta para a Itália, onde mora desde 2021. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_12_0.jpg"></div><p class='foto-descricao'>Yuki Tsunoda chega ao GP de Las Vegas da F1 2024 — Foto: Rudy Carezzevoli/Getty Images</p>
- Sempre viajo com meu fisioterapeuta, mas quando chega ao controle de passaportes a gente segue de forma individual.</p>
<p class='noticia-conteudo'>De repente, um funcionário me convidou para acompanhá-lo até uma sala; perguntei se alguém poderia se juntar a mim para me ajudar a explicar o motivo da minha viagem, mas não tive como.  Até sugeri de ligar para a equipe ou para a própria Fórmula 1, mas aparentemente, quando você está naquela sala você não tem permissão (de fazer ligações) - detalhou ele, na coletiva que antecedeu a corrida. 
NA PONTA DOS DEDOS: Rafael Lopes e Bia Figueiredo fazem a prévia do GP de Las Vegas de F1
O japonês de 24 anos faz sua terceira visita ao país com a F1 nesta temporada: em outubro, ele viajou para o Texas, onde disputaria o GP dos Estados Unidos.</p>
<p class='noticia-conteudo'>Em maio, esteve na Flórida para correr no GP de Miami.  Ainda comentando sobre o episódio, o próprio lembrou do fato:
- Eu tinha os vistos e tudo mais comigo, estive recentemente nos EUA para a corrida de Austin (em outubro) e não houve problemas.  Foi um pouco estranho ter sido barrado.</p>
<p class='noticia-conteudo'>Talvez não tenha sido tão bom viajar usando meio que pijamas, quem sabe.  De qualquer forma, me pressionaram muito, e eu saquei na hora que era melhor não falar muito, corria o risco de me meter em mais encrencas! Felizmente eles me deram o OK, e agora posso dizer que está tudo bem, mas quase fui mandado de volta pra casa. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_12_1.jpg"></div><p class='foto-descricao'>Yuki Tsunoda nos treinos livres do GP de Las Vegas da F1 2024 — Foto: Mark Thompson/Getty Images</p>
O piloto, que corre pela RB desde 2021, teve seu contrato com a equipe renovado neste ano.</p>
<p class='noticia-conteudo'>Agora, o vínculo de Tsunoda com o time que o revelou na F1 vai até dezembro de 2025.  Seu colega de equipe da próxima temporada, porém, ainda é um mistério: esta é a última vaga a ser definida no grid do ano que vem. 
Com 28 pontos dos 44 conquistados pela RB nesta temporada, Tsunoda é o 11º colocado no campeonato de pilotos.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_12_2.jpg"></div><p class='foto-descricao'>Infos e horários do GP de Las Vegas da F1 2024 — Foto: Infoesporte</p>.</p>
{% endblock main_content %}

