
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Polícia alega ter gravação com confissão de OJ Simpson de homicídio{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Polícia alega ter gravação com confissão de OJ Simpson de homicídio
Site diz que ex-segurança do falecido jogador de futebol americano, preso em investigaçào separada, revelou que pen drive sob posse da polícia contém admissão de crime cometido em 1994

03/12/2024 20h47 Atualizado há 18 horas

Buffalo Bills 35 x 10 San Francisco 49ers | Melhores momentos | NFL 2024/2025
Um dos casos policiais mais polêmicos do século passado pode ter uma nova e inesperada prova.  De acordo com um mandado de busca e apreensão relacionado a outro caso, policiais de Minnesota dizem ter um pen drive onde acredita-se que haja uma confissão gravada de OJ Simpson, lendário ex-jogador de futebol americano e ator falecido este ano, de que ele assassinou sua ex-mulher, Nicole Brown Simpson, e Ron Goldman, amigo de Brown, em 1994. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_27_0.jpg"></div><p class='foto-descricao'>O.</p>
<p class='noticia-conteudo'>J Simpson durante o julgamento do assassinato de sua esposa em 1994 — Foto: Ted Soqui/Sygma via Getty Images</p>
A notícia é do site americano "TMZ".  Segundo a publicação, o pen drive foi obtido entre outros objetos presentes numa mochila pertencente a Iroc Avelli, ex-segurança de OJ, apreendida pela polícia numa investigação separada.  Os oficiais dizem ainda que a gravação implica o envolvimento de mais uma pessoa no homicídio duplo.</p>
<p class='noticia-conteudo'>Os documentos do mandado dizem que Avelli foi preso em março de 2022.  A polícia executou um mandado de busca para coletar evidências e encontrou, entre outras coisas, uma mochila verde com munição e outros itens.  O departamento de polícia de Bloomington, em Minnesota, conta que, em julho de 2024, recebeu uma ligação de um detetive da polícia de Los Angeles, que advertiu que Avelli e seu advogado se reuniram com o departamento californiano e disseram aos oficiais que, na mochila verde, havia um pen drive com a gravação da confissão de OJ.</p>
<p class='noticia-conteudo'>Para acessar o conteúdo do pen drive, a polícia de Minnesota precisa de um novo mandado de busca, e receberam permissão de um juiz em junho passado.  Contudo, os resultados desta busca dentro do pen drive ainda estão pendentes. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_27_1.jpg"></div><p class='foto-descricao'>Julgamento de O.</p>
<p class='noticia-conteudo'>J Simpson em 1994 foi causa de grande comoção pública — Foto: Bob Riha, Jr. /Getty Images</p>
Nicole Brown Simpson e Ron Goldman foram assassinados na noite de 12 de junho de 1994, na entrada da casa de Brown.  OJ Simpson, divorciado da ex-esposa em 1992 e com um documentado histórico de uma relação abusiva com ela, foi acusado de homicídio duplo e foi a julgamento, num caso amplamente coberto pela imprensa mundial.</p>
<p class='noticia-conteudo'>Simpson foi inocentado pelo júri e não foi preso.  Posteriormente, um processo civil movido pela família de Goldman o considerou culpado e o condenou a pagar US$ 33 milhões à família.  A polícia de Los Angeles considerava o caso encerrado, sob o entendimento de que OJ cometeu o duplo homicídio, mas que fora inocentado e que não poderia ser julgado novamente devido à quinta emenda da constituição dos Estados Unidos.</p>
<p class='noticia-conteudo'>OJ Simpson faleceu em abril deste ano, aos 76 anos, após uma longa batalha com o câncer. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_27_2.jpg"></div><p class='foto-descricao'>O. J.</p>
<p class='noticia-conteudo'>Simpson em partida pelo Buffalo Bills na NFL em 1975: ele foi um dos grandes running backs da história da liga — Foto: George Gojkovich/Getty Images</p>.</p>
{% endblock main_content %}

