
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Polícia investiga agressões verbais contra equipe feminina sub-13 de futsal em Pelotas{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Polícia investiga agressões verbais contra equipe feminina sub-13 de futsal em Pelotas
Fato ocorreu em 3 de novembro, no Ginásio Paulista em Pelotas, durante a final contra time masculino em torneio organizado pela Liga Zona Sul de Futsal

03/12/2024 17h23 Atualizado há 22 minutos
A Polícia Civil instaurou na sexta-feira da semana passada inquérito para investigar insultos verbais contra jogadoras de um time de futsal durante um torneio em Pelotas.  A equipe feminina sub-13 do Esporte Clube Pelotas & Princesas do Sul, que atuava contra um time masculino da Escola JR Futsal, foi alvo de ofensas por parte da torcida nas arquibancadas. 

Coordenadora da equipe de Pelotas fala sobre as agressões verbais sofridas pelas atletas

O fato ocorreu em 3 de novembro, no Ginásio Paulista, durante a final do torneio organizado pela Liga Zona Sul de Futsal.</p>
<p class='noticia-conteudo'>A delegada Walquiria Meder, da Delegacia de Proteção à Criança e ao Adolescente (DPCA) de Pelotas, confirmou que iniciou as apurações. 
A equipe sub-13 da escola de futsal do Esporte Clube Pelotas & Princesas do Sul foi a única feminina que disputou a competição iniciada em maio e chegou à final de forma invicta.  Após o início da partida, as jogadoras passaram a ser alvo de agressões verbais de alguns torcedores, pelo fato de serem meninas jogando contra meninos.</p>
<p class='noticia-conteudo'>– A violência, em momento algum, partiu das crianças que jogavam contra nós e sim da torcida.  Supostamente da torcida adversária – explicou Gabriela Salvador, coordenadora da equipe. 
Apesar dos ataques verbais, as jogadoras continuaram na partida.</p>
<p class='noticia-conteudo'>A bola só parou quando torcedores atiraram água na quadra após uma cobrança de falta, mas a interrupção foi breve.  Uma das meninas da equipe secou a quadra, e o jogo foi retomado.  A partida terminou com a vitória por 2 a 1 da equipe masculina.</p>
<p class='noticia-conteudo'>Segundo Gabriela, dos quatro árbitros envolvidos na partida, apenas um sugeriu que o jogo fosse interrompido.  No entanto, após consultar os coordenadores, a decisão foi seguir com a partida.  O ge entrou em contato com um dos árbitros, mas não obteve resposta até o momento.</p>
<p class='noticia-conteudo'>– O árbitro, em vez de tomar uma atitude correta, ele simplesmente atravessa a quadra, pega o pano e entrega na mão da menina e manda ela secar a quadra.  Isso também é uma atitude claramente machista – afirmou a coordenadora. 
O episódio não foi registrado na súmula da partida, embora Gabriela tenha solicitado a correção do documento posteriormente.</p>
<p class='noticia-conteudo'>Recentemente, entrou em vigor no Rio Grande do Sul a Lei Vini Jr. , de autoria da deputada estadual Luciana Genro (PSOL), que estabelece um protocolo para interromper competições após episódios de racismo e homofobia. 
A legislação batizada em referência ao jogador do Real Madrid e da Seleção determina que eventos esportivos devem ser interrompidos diante de atitudes discriminatórias, com medidas escalonadas, incluindo a possível interrupção definitiva do jogo caso os atos se repitam.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_35_0.jpg"></div><p class='foto-descricao'>Quadra de futsal — Foto: Unsplash</p>
Repercussão na Câmara de Pelotas
O caso repercutiu nas redes sociais e motivou debates na Câmara Municipal de Pelotas, onde Gabriela e algumas atletas estiveram presentes para relatar o ocorrido.  Uma jogadora de 12 anos comentou durante a sessão:
– Eu queria esquecer aquele dia.  Mas eu nasci mulher e senti ao vivo a discriminação de ser mulher.</p>
<p class='noticia-conteudo'>Jogaram água na gente, nos chamaram de lixo, disseram que era para mim estar em casa lavando louça. 
De acordo com a mãe da menina, foi difícil ter uma ideia da dimensão do ocorrido no momento da partida.  Conforme seu relato, a filha ficou dias trancada no quarto depois de ouvir xingamentos.</p>
<p class='noticia-conteudo'>– Foi bastante difícil lidar com essa situação, porque eu sou mulher e nós mulheres sabemos que diariamente a gente busca por espaço na sociedade.  A minha filha ficou por dias trancada dentro do quarto.  Ela não queria comer, ela não queria levantar.</p>
<p class='noticia-conteudo'>Ela não queria brincar com a irmã de um ano – disse a mãe. 
Gabriela e sua equipe também conversaram com a Comissão de Cidadania e Direitos Humanos da Assembleia Legislativa do Rio Grande do Sul.  A comissão ficou de acompanhar as investigações policiais e enviará ofícios à equipe de arbitragem do jogo, à empresa Brechane Arbitragem, responsável pela arbitragem na competição, à Liga Zona Sul de Futsal e à Guarda Municipal de Pelotas.</p>
<p class='noticia-conteudo'>O advogado Miguel Siefert, do E. C.  Pelotas, também acompanha o caso.</p>
<p class='noticia-conteudo'>Nota conjunta da Brechane Arbitragem e da Liga Zona Sul de Futsal:
"Vale ressaltar que a Liga Zona Luz de Futsal e a Brechane Arbitragem não foram notificadas ou intimadas de qualquer tipo de acontecimento que porventura tenham ocorrido no dia e horário da referida partida.  Estaremos à inteira disposição para prestar todos os esclarecimentos necessário às autoridades competentes, assim que venhamos a ser intimados ou notificados por parte dos mesmos.  Mas será respondido apenas as autoridades competentes, se for o caso.</p>
<p class='noticia-conteudo'>Voltamos a ressaltar que até está data, de 2 de dezembro de 2024, não fomos notificados ou intimados para tal por qualquer órgão competente neste seguimento"
* Reportagem de Andressa Mendes.</p>
{% endblock main_content %}

