
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Ponte pode ser rebaixada nesta rodada da Série B; veja os cenários{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Ponte pode ser rebaixada nesta rodada da Série B; veja os cenários
Derrota para o Sport coloca Macaca em situação delicada no Z-4



Ponte Preta x Sport - Melhores Momentos
A goleada sofrida para o Sport por 4 a 0, no Moisés Lucarelli, deixou a Ponte Preta em apuros na Série B do Brasileiro.  A Macaca, inclusive, pode ser rebaixada de forma matemática neste domingo, dependendo dos resultados de CRB e Chapecoense. 
Veja abaixo a combinação que faria a 37ª rodada terminar em tragédia para os comandados de João Brigatti.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_26_0.jpg"></div><p class='foto-descricao'>Derrota para o Sport deixa a Ponte em situação difícil — Foto: Paulo Paiva/Sport</p>
O único cenário que rebaixa a Ponte com uma rodada de antecedência envolve uma combinação de dois resultados:

Neste caso, os dois times chegariam aos 42 pontos e não seriam mais alcançados pela Macaca - 17ª colocada com 38 pontos. 
Em caso de derrota da Chapecoense e/ou tropeço do CRB, a Macaca vai para a rodada final com chances de permanência. 

Os jogos da última rodada foram marcados para o dia 24, um domingo, às 18h30.</p>
<p class='noticia-conteudo'>A Ponte visita o Avaí em Florianópolis.  Já o CRB recebe o Operário-PR, sem chances de acesso, e a Chapecoense vai até Mirassol enfrentar o Leão que precisa pontuar para confirmar o acesso. 
PONTE PRETA.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

