
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}santos{% endblock title %}
{% block main_title %}santos{% endblock main_title %}
{% block second_title %}Por que Gustavo Quinteros virou plano A do Santos para ser técnico{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Boliviano tem jogos decisivos com o Vélez e ainda não bateu martelo sobre futuro; imbróglio com Luis Castro e experiência de Quinteros na América do Sul fazem Peixe se aproximar dele



Santos não tem mais interesse em Luis Castro


O ge destrincha alguns dos motivos que levaram o clube a torná-lo o plano A. 
Neste momento, ainda não houve troca de assinaturas e, primeiro, o comandante terá de cumprir dois jogos no Vélez, que valem o título da Copa Argentina e do Campeonato Argentino, para só então decidir o futuro.  Seu atual clube, inclusive, não desistiu de renovar o vínculo, que se encerra no dia 31.</p>
<p class='noticia-conteudo'>Mais sobre o Santos:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_366_0.jpg"></div><p class='foto-descricao'>Gustavo Quinteros já foi técnico da seleção do Equador — Foto: EFE</p>
Veja alguns dos motivos:

Todos esses motivos levaram o Santos a ouvir a opção apresentada pelo scout do clube e dar a Quinteros a possibilidade de treinar o time no próximo ano.  Porém, ainda não houve o aceite, ao menos no papel, do comandante, embora as conversas sejam positivas. 
O motivo determinante, porém, foi o afastamento de Luís Castro.</p>
<p class='noticia-conteudo'>Tido como o preferido da gerência santistas nas últimas semanas, Castro sempre deixou claro que só daria uma resposta em meados de dezembro e não avançou nas negociações depois que seu agente visitou a Vila Belmiro. 
O nome de Renato Gaúcho chegou a ser ventilado e ele seria a primeira opção no caso de uma aposta em um treinador brasileiro, mas pesou nos bastidores o desejo de ser mais "criativo" na escolha, abrindo as portas para a vinda de um estrangeiro. 
Nesse cenário, o Santos se viu obrigado a achar outra opção, e Quinteros apareceu com bastante força.</p>
<p class='noticia-conteudo'>Resta ao clube, agora, esperar pelo fim dos compromissos do argentino com o Vélez, no dia 15, para, enfim, fechar de vez a contratação..</p>
{% endblock main_content %}

