
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Por que o Santos priorizou pré-temporada nos EUA para 2025{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Por que o Santos priorizou pré-temporada nos EUA para 2025
Peixe embarca para enfrentar Fortaleza e Atlético Nacional nas primeiras semanas de janeiro; exposição da marca e demonstração de força após volta à Série A pesam em decisão



Joanna de Assis analisa demissão de Carille no Santos: "Cumpriu o trabalho com excelência"
O Santos não abriu mão de fazer parte de sua pré-temporada nos Estados Unidos nem mesmo com a antecipação do início do Paulistão.  O clube considera o torneio importante para internacionalizar sua marca e viu como uma oportunidade que não poderia deixar passar. 

Há a intenção de mostrar para o mercado um Santos forte e competitivo, recuperado da terrível experiência de ser rebaixado.</p>
<p class='noticia-conteudo'>O torneio contempla esse desejo, assim como o investimento que será feito para reforçar o elenco em 2025. 
O Peixe vai disputar a Orlando Cup com Fortaleza e Atlético Nacional.  O torneio vai de 11 a 19 de janeiro, e o Alvinegro ficará em território norte-americano dos dias 5 a 16, tendo uma semana para se preparar para os dois confrontos e voltando para o Brasil antes da última rodada do torneio.</p>
<p class='noticia-conteudo'>O início do estadual está previsto para o dia 15 de janeiro, mas é possível que a rodada inicial seja desmembrada e o Santos jogue pela competição apenas no dia 19.  Nesse cenário, não haverá a necessidade de usar time alternativo. 
Mais sobre o Santos:



<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_16_0.jpg"></div><p class='foto-descricao'>Elenco do Santos festeja a conquista da Série B do Brasileirão — Foto: Reinaldo Campos/AGIF</p>
Foco no crescimento
A viagem foi planejada com anuência do presidente Marcelo Teixeira pelos seus assessores especiais Marcelo Teixeira Filho e Júnior Bozzella com a intenção de expandir o mercado do Peixe e fazer novos contatos.</p>
<p class='noticia-conteudo'>No meio do ano, cogitou-se um amistoso com o Boca Juniors na Bombonera, na Argentina. 
O amistoso acabou não acontecendo pelo fato de, na época, o Santos não estar bem na Série B.  As tratativas acabaram não avançando.</p>
<p class='noticia-conteudo'>Porém, como agora se trata de um início de ano, o martelo já foi batido e contrato com os organizadores da Orlando Cup assinado. 
Carille deixa o Santos e clube procura por novo treinador
– Essa pré-temporada é mais um marco da reconstrução da imagem do Santos junto à sua torcida e ao público em geral.  Estamos felizes em ser convidados novamente para um torneio internacional e isso agregará muito a preparação do nosso time para os desafios que teremos em 2025, para seguir recuperando o orgulho de torcer para o Santos – disse Teixeira.</p>
<p class='noticia-conteudo'>O clube já sinalizou à Federação sua viagem aos Estados Unidos, indicando que as tratativas já estavam em vias finais quando foi anunciada a antecipação do Paulistão.  O elenco alvinegro tem reapresentação marcada para o dia 26 de dezembro e terá, portanto, também alguns dias no Brasil para fazer exames médicos e iniciar a preparação para a temporada de 2025. 


50 vídeos.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

