
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Pós-glória no Fluminense, 2024 de Diniz tem fim na Seleção e pressão no Cruzeiro Frustrado{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Pós-glória no Fluminense, 2024 de Diniz tem fim na Seleção e pressão no Cruzeiro: "Frustrado"
Em jogos pelo Campeonato Brasileiro, neste ano, técnico tem 9,5% de aproveitamento; apesar disso, Diniz foi campeão da Recopa e vice da Conmebol Sul-Americana

06/12/2024 04h01 Atualizado há 8 horas
Após viver um 2023 de glórias com o Fluminense e alçando posto de técnico da Seleção, Fernando Diniz vive uma temporada que o próprio treinador classifica como frustrante.  Iniciou com a demissão da Seleção, passando pela saída do Fluminense após o título da Recopa Sul-Americana e o início ruim no Brasileiro.  Agora, termina com a pressão no cargo no Cruzeiro, após ser vice da Conmebol Sul-Americana.</p>
<p class='noticia-conteudo'>"O mínimo que podemos fazer é buscar a vitória", diz Cássio após derrota do Cruzeiro

Na última rodada, Fernando Diniz defende o trabalho de 28,57% de aproveitamento no Cruzeiro para tentar uma improvável vaga na Conmebol Libertadores e evitar mais um momento ruim em sua temporada.  O time precisa de uma combinação de resultados. 
Na última coletiva de imprensa, no Cruzeiro, Fernando Diniz se defendeu e disse que classificou todos os times à Libertadores nos últimos anos.</p>
<p class='noticia-conteudo'>Para ele, o trabalho no time mineiro sai da curva histórica. 
— Tem muitos elementos para que isso aconteça.  Todos os times, desde que terminei em 2019, classificou direto para a Libertadores.</p>
<p class='noticia-conteudo'>São Paulo duas vezes, Fluminense duas vezes.  Não é comum em termos de resultados.  Para explicar isso, tem que ficar duas horas tentando explicar.</p>
<p class='noticia-conteudo'>Nunca tive resultados tão ruins na minha carreira.  Primeira vez.  Para mim, é coisa inédita nesse ano.</p>
<p class='noticia-conteudo'>Frustrado.  E a gente fica frustrado por não entregar o que a torcida merece — avaliou o treinador. 
De fato, o 2024 de Fernando Diniz está bem distante da temporada anterior, quando foi campeão carioca e da Libertadores com o Fluminense.</p>
<p class='noticia-conteudo'>Por mais que tenha levado a Recopa, este ano, o conjunto de trabalho do técnico, nesta temporada, não é positivo. 
Em 05 de janeiro, após resultados que não agradaram à cúpula da CBF (seis jogos - vitórias sobre Bolívia e Peru; empate com a Venezuela e derrotas para Uruguai, Colômbia e Argentina), Fernando Diniz foi demitido do cargo de treinador.  Passou, novamente, a centralizar atenções no Fluminense.</p>
<p class='noticia-conteudo'>Mas o time acabou escorregando nos meses seguintes. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_121_0.jpg"></div><p class='foto-descricao'>Fernando Diniz Cruzeiro — Foto: Joisel Amaral/AGIF</p>
No Brasileiro, com Diniz, o Fluminense venceu apenas um dos 11 jogos que disputou.  Foram três empates e sete derrotas.</p>
<p class='noticia-conteudo'>O pior início tricolor na história dos pontos corridos. 
Demitido, Diniz foi contratado pelo Cruzeiro, mas não conseguiu retomar o caminho da regularidade do time, vista no primeiro turno do Brasileiro.  O treinador até chegou à final da Conmebol Sul-Americana, mas perdeu a decisão para o Racing.</p>
<p class='noticia-conteudo'>Aproveitamento de 9,5%
Contando os jogos pelo Fluminense e Cruzeiro, no Brasileiro, Fernando Diniz tem aproveitamento que chama a atenção: 9,5% de aproveitamento sobre os pontos disputados.  Foram 21 jogos, sendo 11 pelo Fluminense e 10 pelo Cruzeiro, com apenas duas vitórias (um em cada time), 12 derrotas (sete no Fluminense, cinco no Cruzeiro) e sete empates (três no Fluminense, quatro no Cruzeiro). 
Assista: tudo sobre o Cruzeiro no ge, na Globo e no Sportv
50 vídeos

CRUZEIRO.</p>
{% endblock main_content %}

