
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Premiere exibe todos os jogos da Copa do Nordeste em 2025{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Torneio regional terá todas as suas partidas, desde a fase preliminar, exibidas no canal no próximo ano



Copa do Nordeste será transmitida pelos canais Premiere


Os rivais Bahia e Vitória são os maiores vencedores da história da competição, com quatro títulos cada.  O Fortaleza, atual campeão, tem três taças e aparece empatado no ranking junto a Ceará e Sport.  América-RN, Santa Cruz, Sampaio Corrêa e Campinense têm um título cada.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_423_0.jpg"></div><p class='foto-descricao'>Taça da Copa do Nordeste — Foto: Fabio Souza/CBF</p>

A fórmula de disputa da Copa do Nordeste 2025 mantém formato tradicional com quatro fases distintas.  Na de grupos, uma mudança: a partir de agora, as oito equipes de cada chave se enfrentarão no mesmo grupo. 
Outra alteração foi no cruzamento dos times classificados.</p>
<p class='noticia-conteudo'>Se antes as quartas de final eram desenhadas com duelos entre clubes do mesmo grupo, agora haverá um cruzamento:


As partidas são disputadas em jogo único, com o mando de campo para a equipe com melhor classificação na fase de grupos.  Em caso de empate, a decisão ocorre nos pênaltis. 
As semifinais seguem o mesmo formato das quartas de final, com partidas únicas e critérios idênticos para definição dos mandos e desempates.</p>
<p class='noticia-conteudo'>Já a final é disputada em duas partidas, com o mando de campo no jogo de volta concedido ao time de melhor campanha acumulada em toda a competição.  Caso haja empate em pontos e saldo de gols ao fim dos dois jogos, o campeão será definido nos pênaltis. 
O torneio começa com a fase eliminatória marcada para os dias 4 e 5 de janeiro.</p>
<p class='noticia-conteudo'>A fase de grupos, vai de 22 de janeiro a 26 de março, com sete rodadas.  As quartas de final e semifinais serão em 4 e 9 de junho.  A decisão em dois jogos está previamente marcada para 3 e 7 de setembro.</p>
<p class='noticia-conteudo'>Veja crônica especial do título do Fortaleza na Copa do Nordeste em 2024
Equipes já classificadas para a fase de grupos
Altos (campeão piauiense)
América-RN (campeão potiguar)
Ceará (campeão cearense)
Confiança (campeão sergipano)
CRB (campeão alagoano)
Sousa (campeão paraibano)
Sport (campeão pernambucano)
Vitória (campeão baiano)
Sampaio Corrêa (campeão maranhense)
Bahia (via ranking da CBF)
Fortaleza (ranking da CBF)
Náutico (via ranking da CBF)

Fase eliminatória
Na primeira etapa da disputa, 16 clubes são divididos em oito confrontos com o posicionamento das equipes de acordo com o Ranking da CBF de 2024 - as partidas são realizadas em jogos únicos, e o time melhor ranqueado como mandante.  Quem vencer, avança para a segunda fase; em caso de empate, definição nos pênaltis. 

Os oito classificados enfrentam outro jogo único, de mata-mata, com o mesmo sistema de cruzamento.</p>
<p class='noticia-conteudo'>Quem passar, vai à fase de grupos do Nordestão - em caso de empate, a decisão será nas penalidades. 
CSA x Barcelona de Ilhéus;
ABC x Maracanã;
Ferroviário x Santa Cruz-RN;
Botafogo-PB x Maranhão;
Santa Cruz x Treze
Juazeirense x Fluminense-PI;
Retrô x Moto Club;
Sergipe x ASA
CSA e ASA conhecem adversários da pré-Copa do Nordeste 2025.</p>
{% endblock main_content %}

