
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Prêmio Brasil Olímpico consagra destaques do esporte nacional nesta quarta; veja categorias{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Cerimônia vai reunir grandes atletas brasileiros no Rio de Janeiro, a partir de 20h30 (de Brasília).  O sportv2 transmitirá ao vivo, e o ge acompanhará em tempo real



Guilherme Costa comenta sobre os indicados do Prêmio Brasil Olímpico

O PBO, promovido pelo Comitê Olímpico do Brasil (COB), terá transmissão ao vivo do sportv2, e o ge acompanhará o evento em tempo real. 



<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_360_0.jpg"></div><p class='foto-descricao'>Rebeca Andrade e Marcus D'Almeida venceram o Troféu Rei Pelé em 2023 — Foto: Alexandre Loureiro/COB</p>
Vencedora em 2023 e uma das concorrentes ao Troféu Rei Pelé neste ano, Rebeca Andrade é a maior medalhista olímpica do Brasil, com seis pódios – quatro deles obtidos em Paris: um ouro, duas pratas e um bronze.</p>
<p class='noticia-conteudo'>Outras candidatas ao prêmio nesta quarta, Bia Souza e Ana Sátila também brilharam nos Jogos da capital francesa.  Enquanto a judoca se sagrou campeã na categoria acima de 78kg, a atleta da canoagem slalom participou de 14 provas e obteve os melhores resultados brasileiros na história da modalidade (uma quarta colocação na prova do caiaque e um quinto lugar na canoa). 
É OURO! Rebeca Andrade comemora conquista no solo nos Jogos de Paris 2024
A disputa masculina pelo Troféu Rei Pelé reúne três medalhistas de Paris.</p>
<p class='noticia-conteudo'>Edival Pontes, o Netinho, foi bronze na categoria até 68kg do taekwondo.  Caio Bonfim levou uma prata inédita para o Brasil na marcha atlética (prova de 20km), e Isaquias Queiroz, também com uma prata, chegou ao quinto pódio olímpico da carreira na canoagem velocidade.  O baiano, inclusive, foi porta-bandeira na cerimônia de abertura dos Jogos deste ano, ao lado de Raquel Kochhann.</p>
<p class='noticia-conteudo'>É prata! Isaquias Queiroz consegue medalha no C1 1000m em final emocionante nos Jogos de Paris 2024
Além do Troféu Rei Pelé, o PBO distribuirá outras premiações tradicionais, como a de melhor atleta de cada uma das modalidades olímpicas (veja lista completa no fim da matéria) e equipe do ano.  Também serão consagrados técnicos: um de esportes coletivos e um homem e uma mulher (novidade da edição) de esportes individuais. 



Para envolver os fãs, o Prêmio Brasil Olímpico tem três categorias com vencedores definidos pelo voto popular (é possível escolher os seus esportistas preferidos no site do COB).</p>
<p class='noticia-conteudo'>Ana Sátila, Alison dos Santos (atletismo), Bia Souza, Caio Bonfim, Darlan Souza (vôlei) e Tatiana Weston-Webb (surfe) são candidatos a “Atleta da Torcida”.  Gustavo Bala Loka (ciclismo BMX freestyle), Mafê Costa (natação) e Raicca Ventura (skate park) disputam o título de “Atleta Revelação”. 
É DO BRASIL! Caio Bonfim leva a medalha de prata na marcha atlética em Paris 2024
A terceira categoria definida por voto popular é o Prêmio Inspire, disputado por Ana Sátila, Bia Souza, Tati Weston-Webb, Jade Barbosa (ginástica artística), Raquel Kochhann (rugby sevens) e Duda e Ana Patrícia, dupla do vôlei de praia.</p>
<p class='noticia-conteudo'>Ao longo da noite, Zé Roberto Guimarães, técnico que já conduziu o vôlei brasileiro a cinco pódios olímpicos, ainda receberá o Troféu Adhemar Ferreira da Silva – honraria dada a quem representa valores da vida de Adhemar.  E destaques dos Jogos da Juventude serão celebrados. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_360_1.jpg"></div><p class='foto-descricao'>José Roberto Guimarães Zé Roberto Olimpíadas Paris — Foto: Jared C.</p>
<p class='noticia-conteudo'>Tilton/Getty Images</p>
Veja os vencedores do PBO 2024 em cada modalidade:.</p>
{% endblock main_content %}

