
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Prêmio Brasil Olímpico Rebeca Andrade é favorita no feminino; masculino tem disputa acirrada{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Maior atleta da história do Brasil, Rebeca Andrade é favorita ao tetra de melhor do ano do Prêmio Brasil Olímpico; Isaquias Queiroz e Caio Bonfim dividem apostas no masculino



Guilherme Costa comenta sobre os indicados do Prêmio Brasil Olímpico

+Confira os candidatos ao Prêmio Inspire


Caso confirme o favoritismo, Rebeca levará o prêmio pela quarta vez seguida e se tornará a primeira da história, entre homens e mulheres, a atingir tal feito.  Isaquias Queiroz tem quatro prêmios no currículo (2015/16/18/21), mas as conquistas não foram consecutivas. 
Durante o Giro Olímpico, com Guilherme Costa, Isaquías Queiroz “invadiu” o vivo
No feminino, concorrem com Rebeca a campeã olímpica de judô Beatriz Souza e a três vezes finalista olímpica na canoagem slalom Ana Sátila.</p>
<p class='noticia-conteudo'>Campeã do peso pesado e peça fundamental na conquista do bronze por equipes em Paris 2024, Bia seria forte candidata ao prêmio de melhor atleta do ano em qualquer temporada.  Mas, nesta, é muito difícil tirar o prêmio de Rebeca. 
A ginasta conquistou quatro medalhas olímpicas - ouro no solo, prata no salto e individual geral, e bronze por equipes.</p>
<p class='noticia-conteudo'>Assim, se tornou a maior atleta da história do Brasil em Olimpíadas.  Ela tinha um ouro no salto e uma prata no individual geral em Tóquio 2021. 
Termômetro do Hello LA traz as novidades olímpicas e paralímpicas da semana
A presença de Ana Sátila nesta final já é um prêmio para a atleta, que encantou o Brasil em Paris.</p>
<p class='noticia-conteudo'>A canoísta ganhou as redes sociais por enfrentar 15 vezes a correnteza do canal olímpico e ficou perto do pódio em três oportunidades: foi quarta colocada no C1, quinta no K1 e oitava no cross. 
Handebol, futebol feminino e premio do COB são destaques no Tá ON
No masculino, a disputa direta é entre Caio Bonfim, prata na marcha atlética, e Isaquias Queiroz, vice-campeão na canoagem.  O terceiro nome é Edival Pontes, o Netinho, que foi bronze no taekwondo, e corre por fora na briga pelo prêmio do COB.</p>
<p class='noticia-conteudo'>Caio tem um ligeiro favoritismo pelo ineditismo de sua medalha - a marcha atlética jamais tinha ido ao pódio olímpico.  Além disso, foi consistente ao longo de toda a temporada, com medalhas no Circuito Mundial.  Isaquias também levou a prata, com uma comemoração tão efusiva quanto, mas este foi o quinto pódio olímpico do baiano.</p>
<p class='noticia-conteudo'>Ele, aliás, busca o pentacampeonato do Prêmio. 
CAMPEÕES DO PRÊMIO BRASIL OLÍMPICO
Ano Masculino Feminino
1999 Gustavo Kuerten Maurren Maggi
2000 Gustavo Kuerten Leila
2001 Robert Scheidt Daniele Hypolito
2002 Nalbert Daniele Hypolito
2003 Fernando Meligeni Daiane dos Santoa
2004 Vanderlei Cordeiro Daiane
2005 João Derly Natália Falavigna
2006 Giba Lais Souza
2007 Thiago Pereira Jade Barbosa
2008 Cesar Cielo Maurren Maggi
2009 Cesar Cielo Sarah Menezes
2010 Murilo Endres Fabiana Murer
2011 Cesar Cielo Fabiana Murer
2012 Arthur Zanetti Sheilla
2013 Jorge Zarif Poliana Okimoto
2014 Arthur Zanetti Kahena/Martine
2015 Isaquias Queiroz Ana Marcela
2016 Isaquias Queiroz Rafaela Silva
2017 Marcelo Melo Mayra Aguiar
2018 Isaquias Queiroz Ana Marcela Cunha
2019 Arthur Nory Beatriz Ferreira
2021 Isaquias Queiroz Rebeca Andrade
2022 Alison dos Santos Rebeca Andrade
2023 Marcus D´Almeida Rebeca Andrade
A ginástica é o esporte mais laureado da história do Prêmio, com nove conquistas no feminino - três com Rebeca, duas com Daniele Hypolito, duas com Daiane dos Santos, uma com Jade Barbosa e outra com Lais Souza.  No masculino, Arthur Zanetti ganhou duas vezes, e Arthur Nory, uma.</p>
<p class='noticia-conteudo'>Um total de12 troféus para a modalidade.  A tendência é chegar ao 13º com Rebeca. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_372_0.jpg"></div><p class='foto-descricao'>Guilherme Costa — Foto: Reprodução</p>.</p>
{% endblock main_content %}

