
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}mirassol{% endblock title %}
{% block main_title %}mirassol{% endblock main_title %}
{% block second_title %}Presidente da Federação Pernambucana detona Mirassol na Série A Quem é que vai assistir{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Evandro Carvalho critica presença de "clubes de empresários" nas principais divisões nacionais, cita também Novorizontino e Athletic, e usa Mirassol como exemplo: "Não é clube de Série A"



Presidente da Federação Pernambucana detona Mirassol na Série A: "Quem vai assistir?"

"Veja aí, o Mirassol, Série A. ..</p>
<p class='noticia-conteudo'>Não tenho nada contra o Mirassol, conheço a cidade, mas o que é que danado o Mirassol vai fazer em Série A de Campeonato Brasileiro? Quem é que vai pagar? Quem é que vai investir? Quem é que vai assistir Mirassol jogando Série A? Mirassol não é clube de Série A", iniciou Evandro Carvalho. 
— Clube de Série A é Flamengo, Corinthians, não sei o quê, não sei o quê, e no segundo escalão, Paysandu, Remo, Santa Cruz, Sport..</p>
<p class='noticia-conteudo'>.  Eu não tenho nada contra clube de empresário, não, mas deveria ter regra (a favor de clubes com tradição), como tivemos outrora, na época de Ricardo Teixeira. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_385_0.jpg"></div><p class='foto-descricao'>Evandro Carvalho, presidente da Federação Pernambucana de Futebol — Foto: Rafael Vieira/Agif</p>
Além do Mirassol, o presidente da FPF-PE citou Novorizontino, também do interior de São Paulo, e o Athletic, clube de Minas Gerais que conquistou acesso para a Série B 2025.</p>
<p class='noticia-conteudo'>Será a primeira participação da agremiação na Segundona. 
— Nós deveríamos ter travas de segurança que fizessem com que a Série A fosse blindada para você privilegiar (clubes de torcida).  As pessoas acham isso errado, dizem que é politicamente incorreto, mas eu sou pragmático.</p>
<p class='noticia-conteudo'>Imagina se daqui a pouco eu estiver na Série A: Mirassol, Novorizontino. ..</p>
<p class='noticia-conteudo'>Atlhetic. 
"Pegue 20 clubes, imagina eu colocar cinco clubes de empresário, que não tem um torcedor, salvo o presidente, a mulher dele, os filhos, a Nora e o papagaio, imagina eu pegar esses clubes todos e botar na Série A.  Não existe isso, não é lugar de clube pequeno, não é lugar de clube sem bandeira, sem história, sem tradição, sem um século, não é", acrescentou.</p>
<p class='noticia-conteudo'>Torcida do Mirassol comemora acesso do time à elite do futebol nacional


Questionado se o Retrô-PE — clube campeão brasileiro da Série D que conquistou o acesso — poderia ser prejudicado com essas normas defendidas, Evandro Carvalho respondeu o seguinte:
— Coloca três mil pessoas no campo, o do jogo dele tem três mil e tantas pessoas.  Nós temos programa de sócio.  Eu sou torcedor do Retrô, (outros) já vão virar sócios do Retrô.</p>
<p class='noticia-conteudo'>Tem estrutura, tem sócio, o Mirassol acho que só o presidente torce. 
O Mirassol teve média de público de 3. 745 pessoas por jogo nas 19 partidas que fez como mandante na Série B.</p>
<p class='noticia-conteudo'>Camilo comemora acesso do Mirassol no meio da torcida.</p>
{% endblock main_content %}

