
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Atlético-MG{% endblock title %}
{% block main_title %}Atlético-MG{% endblock main_title %}
{% block second_title %}Presidente da LaLiga acusa Vini Jr. de pirataria e envia carta ao Real Madrid{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Presidente da LaLiga acusa Vini Jr.  de pirataria e envia carta ao Real Madrid
Story de Vinicius assistindo a transmissão brasileira faz Javier Tebas associar ao uso ilegal de VPN (rede privada virtual).  Segundo apuração do ge, atleta acompanha jogos do Brasil utilizando 5g



Antes com status de favorito, Real Madrid fica em alerta na Champions
O presidente da LaLiga, Javier Tebas, acusou Vini Jr.</p>
<p class='noticia-conteudo'>de pirataria nesta sexta-feira.  Isso porque o atacante publicou, na última quarta, stories acompanhando o jogo entre Liverpool e Real Madrid, na Champions, pela transmissão da TNT Sports Brasil.  De acordo com a publicação, o presidente da LaLiga enviou uma carta ao clube espanhol notificando o caso.</p>
<p class='noticia-conteudo'>— Se estava em Madri, e creio que estava em Madri, é pirataria.  O acesso ao conteúdo da Champions na Espanha tem que ser através da Movistar Television.  Para ver este conteúdo, teria que usar uma VPN ou uma parabólica dirigida a outro lugar.</p>
<p class='noticia-conteudo'>Tem que haver uma conduta ativa saindo do âmbito da Movistar.  Estava pirateando o jogo.  Comunicamos para que na próxima vez não pirateiem o jogo — disse Tebas em entrevista ao portal espanhol Relevo.</p>
<p class='noticia-conteudo'>Vinicius Junior não se posicionou sobre as acusações de Tebas.  Segundo o ge apurou, o jogador não utiliza VPN para assistir a transmissões de TVs brasileiras.  Vini acompanha partidas como essa e jogos do Flamengo, seu time de coração, por exemplo, utilizando internet pelo 5g em roaming de dados de uma linha do Brasil.</p>
<p class='noticia-conteudo'>Vinicius e seu estafe só tiveram conhecimento da carta enviada pelo presidente da LaLiga ao Real Madrid pela imprensa. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_96_0.jpg"></div><p class='foto-descricao'>Javie Tebas, presidente da LaLiga, em evento de debates sobre futebol, na cidade de Sevilha — Foto: Maria Jose Lopez/Europa Press via Getty Images</p>
Tebas tem utilizado, nos últimos tempos, a luta contra a pirataria como uma das principais bandeiras da LaLiga.  O presidente da liga espanhola afirmou que tem passado 60% de seu tempo envolvido na causa e definiu os responsáveis por transmissões clandestinas como "máfias organizadas".</p>
<p class='noticia-conteudo'>Recentemente, viralizou uma publicação do meia Fermín López, do Barcelona, apoiando sua equipe em uma partida em que não poderia atuar, já que servia a Espanha nas Olimpíadas.  O atleta espanhol não se atentou, porém, que se tratava de uma transmissão pirata, diferente do caso de Vinicius. 
Javier Tebas foi personagem controverso no ápice dos ataques racistas recebidos por Vinicius Junior, em 2023.</p>
<p class='noticia-conteudo'>Após o brasileiro se posicionar contra o racismo, o presidente da liga afirmou que o atacante exagerava nas reclamações.  Posteriormente, em entrevista ao ge, pediu desculpas ao atleta e admitiu racismo na Espanha. 
Presidente da La Liga, Javier Tebas pediu desculpas a Vinicius Junior em 2023
REAL MADRID.</p>
{% endblock main_content %}

