
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}bahia{% endblock title %}
{% block main_title %}bahia{% endblock main_title %}
{% block second_title %}Presidente do São Paulo explica interesse por Wendell e admite que pode negociar Nestor com Bahia{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Presidente do São Paulo explica interesse por Wendell e admite que pode negociar Nestor com Bahia
Casares fala, em entrevista no Morumbis, sobre o planejamento para a próxima temporada



Presidente do São Paulo responde sobre reforços e planos para 2025
Ainda em busca de uma vaga na Conmebol Libertadores do ano que vem, o São Paulo planeja o início da próxima temporada sob o comando do técnico Luis Zubeldía.  Nesta segunda-feira, o presidente Julio Casares falou sobre a possibilidade de contratar reforços, saída de jogadores e o início de 2025 nos Estados Unidos. 

Ciente de que vai perder o lateral-esquerdo Welington para o Southampton, da Inglaterra, o São Paulo busca a contratação de um reforço para o setor.</p>
<p class='noticia-conteudo'>Em 2024, o principal objetivo foi Alex Sandro.  Para o ano que vem, o Tricolor quer Wendell, do Porto.  Casares falou sobre o interesse.</p>
<p class='noticia-conteudo'>– Wendell sempre gostei, toda nossa comissão gosta.  Eu o conheci na Copa América, tive momentos de conversa com ele.  Senti que, se vier ao Brasil, tem muito interesse de vir ao São Paulo.</p>
<p class='noticia-conteudo'>Se ele tiver alguma proposta de outro centro da Europa, vai pesar na decisão.  Mas estamos conversando.  A conversa não chegou num ponto maduro de proposta, mas conversamos no sentido de ele falar com a família.</p>
<p class='noticia-conteudo'>Processo que aconteceu com o Lucas.  Mas futebol é só quando tiver apalavrado e assinado – disse Casares. 
Mais do São Paulo:

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_0.jpg"></div><p class='foto-descricao'>Julio Casares, presidente do São Paulo, antes do jogo contra o Flamengo — Foto: Marcos Ribolli</p>
Enquanto busca contratações, o São Paulo sabe que pode ser alvo da procura de outros clubes por seus atletas.</p>
<p class='noticia-conteudo'>Nas últimas semanas, o Bahia, a pedido do técnico Rogério Ceni, demonstrou interesse no meia Rodrigo Nestor, como revelado pelo ge. 
Nesta segunda-feira, Casares disse ainda não ter recebido proposta oficial pelo jogador, mas falou sobre o interesse do Bahia e não descartou a negociação. 
– Ainda não chegou nada oficial.</p>
<p class='noticia-conteudo'>Existe um interesse, até por que o Ceni é técnico e conhece muito bem o Nestor, um grande jogador.  Futebol é assim: se vier proposta, se for boa para o São Paulo e o atleta..</p>
<p class='noticia-conteudo'>.  Nestor foi fundamental, fez o gol do campeonato..</p>
<p class='noticia-conteudo'>.  E é uma pessoa que, eu sempre brinco com os meninos de Cotia, eles devem voar, ganhar o mundo.  No caso do Nestor, se acontecer a proposta, vamos examinar.</p>
<p class='noticia-conteudo'>Outro jogador que nesta temporada despertou interesse de clubes foi o meia Galoppo.  Casares também não descartou uma negociação. 
– Galoppo é grande jogador.</p>
<p class='noticia-conteudo'>Meio de campo está muito povoado, e todo jogador quer jogar.  Volta Alisson, Pablo.  Começa a ter muita gente no setor.</p>
<p class='noticia-conteudo'>Mas a decisão é sempre da comissão.  Se tiver opção boa para ele e para o clube, não vamos dificultar.  Mas é um grande atleta, comprometido, talentoso.</p>
<p class='noticia-conteudo'>Ser titular, é autonomia da comissão técnica – explicou. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_1.jpg"></div><p class='foto-descricao'>Galoppo treina no gramado do CT do São Paulo — Foto: Erico Leonan / saopaulofc</p>
Enquanto planeja chegadas e saídas, o São Paulo lida, agora, com uma nova realidade: o fundo para equação das dívidas financeiras que impõe limites de gastos em diversas áreas do clube.  Casares, porém, não acredita que isso vá atrapalhar o planejamento.</p>
<p class='noticia-conteudo'>– Isso não vai paralisar a gestão do elenco.  Futebol tem chegadas e partidas, pode sair e outros chegarem.  A composição do elenco está bem formatada.</p>
<p class='noticia-conteudo'>Se analisar tem zaga completa, precisamos reforçar as laterais e o meio.  É um elenco que tem boas opções.  Pontualmente, três posições podem ajudar muito no elenco – completou Casares.</p>
<p class='noticia-conteudo'>Com contrato apenas até o fim do ano, Luiz Gustavo e Rafinha ainda não definiram se vão se aposentar ou continuar jogando em 2025. 
– Rafinha e Luiz Gustavo, não conversamos sobre renovação.  Acreditamos que com o fim da temporada vamos ter tranquilidade para discutir a condição.</p>
<p class='noticia-conteudo'>São dois baitas jogadores.  Estamos aguardando.  Mas vamos conversar após a última rodada.</p>
<p class='noticia-conteudo'>50 vídeos
SÃO PAULO.</p>
{% endblock main_content %}
{% block cor_categoria %}#cc0000{% endblock cor_categoria %}

