
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Presidente diz que Santos já tem novo técnico e discute planejamento para 2025{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Presidente diz que Santos já tem novo técnico e discute planejamento para 2025
Marcelo Teixeira afirma que "contratos em vigência" impedem anúncio de novo comandante: "O Santos tem treinador! O clube não trabalharia com ninguém sem ter o treinador"

06/12/2024 04h00 Atualizado há 3 horas

GE Santos analisa as renovações e despedidas no elenco para 2025
O Santos já tem um novo técnico para 2025.  Quem afirma é o presidente do clube, Marcelo Teixeira, que diz já discutir com este profissional o planejamento para a próxima temporada. 
Porém, Marcelo Teixeira se recusa a dizer quem será o substituto de Fábio Carille no comando da equipe.</p>
<p class='noticia-conteudo'>Em entrevista exclusiva ao ge, o presidente do Santos explicou a situação:

– Nós estamos recebendo críticas negativas, eu concordo, admito, mas daqui a pouco vocês vão entender por que são essas estratégias.  Eu não posso, não consigo divulgar.  São compromissos existentes, são contratos que estão.</p>
<p class='noticia-conteudo'>. .  em vigência, eu não posso antecipar fatos – comentou Teixeira, antes de prosseguir:
– Ah, o Santos não tem treinador.</p>
<p class='noticia-conteudo'>. .  O Santos tem treinador! Eu não posso divulgar o treinador.</p>
<p class='noticia-conteudo'>Eu não tenho condições de fazer essa divulgação.  O Santos trabalha no planejamento com o treinador? É lógico que trabalha.  O Santos não trabalharia com ninguém sem ter o treinador.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_121_0.jpg"></div><p class='foto-descricao'>Marcelo Teixeira, presidente do Santos — Foto: Marcos Ribolli</p>

Teixeira indicou que este profissional está sob contrato com outro clube e evitou dar um prazo para anúncio. 
Na semana passada, o dirigente afirmou que a negociação com Luis Castro "avançou bastante".  Porém, o ge apurou que o português não respondeu a oferta do Santos e o negócio esfriou.</p>
<p class='noticia-conteudo'>– Vamos ser claros: eu falei no summit (evento da CBF Academy) porque era inevitável.  Eu não falaria sobre o Castro, eu só falei porque vocês descobriram que o representante dele foi a Santos conhecer as instalações da Vila e do centro de treinamento.  Senão, não falaria sobre o Castro.</p>
<p class='noticia-conteudo'>E disse que avançamos tanto que o representante dele estava em Santos.  Eu disse: a negociação está avançada, mas ela não está concretizada.  Ela não está concluída, porque depende de outras situações.</p>
<p class='noticia-conteudo'>Foi isso que eu disse.  Mais nada do que isso. 
Na sequência, o presidente não quis mais falar do assunto, alegando que não pode dar detalhes.</p>
<p class='noticia-conteudo'>Nas últimas semanas, o Peixe fez contatos com Renato Gaúcho, do Grêmio, e demonstrou interessem em Gustavo Quinteros, argentino naturalizado boliviano que comanda o Vélez Sarsfield, líder do Campeonato Argentino. 

50 vídeos.</p>
{% endblock main_content %}

