
            {% extends "html/modelo.html" %}
            {% load static %}

            {% block title %}gremio{% endblock title %}
            {% block main_title %}gremio{% endblock main_title %}
            {% block second_title %}Professor Fábio Giulian Marques reconhece grupo com nota máxima no curso de ADS{% endblock second_title %}
            {% block main_content %}<p class="noticia-conteudo">O grupo composto por Dudu, Edu e Gab conquistou o reconhecimento do professor Fábio Giulian Marques na disciplina Programação Orientada a Objetos (ADS2M24-2), ministrada no Senac RS. O professor, conhecido por sua rigorosidade acadêmica e pela valorização da prática em programação, atribuiu a nota A+ ao grupo pelo excelente desempenho em seu projeto final.

</p><p class="noticia-conteudo" style="text-align: left;"><b>A equipe apresentou uma solução inovadora que combinava princípios sólidos de Orientação a Objetos com criatividade e aplicabilidade no mercado. O projeto, descrito pelo professor como “um exemplo de dedicação e aplicação técnica”, destacou-se entre os demais pela qualidade do código, documentação impecável e abordagem de problemas reais no desenvolvimento de software.

</b></p><p class="noticia-conteudo" style="text-align: left;">"Foi uma entrega acima da média, um trabalho que reflete não apenas o entendimento teórico, mas também a capacidade de transformar conhecimento em soluções práticas. É um orgulho ver alunos alcançando esse nível de excelência," comentou Fábio Giulian.

</p><p class="noticia-conteudo">O grupo, por sua vez, agradeceu o apoio do professor ao longo do semestre e destacou a importância da colaboração e do estudo contínuo para alcançar o resultado. "Essa nota é o reflexo de muito esforço, noites em claro e, claro, do aprendizado que tivemos com o professor Fábio. Estamos muito felizes com o reconhecimento," declarou Dudu, em nome da equipe.

</p><p class="noticia-conteudo">A nota A+ não é apenas um mérito acadêmico, mas também uma motivação para o grupo e seus colegas continuarem se desafiando na busca pela excelência no mercado de tecnologia.</p>

            <div class="div-imagem"><img class="noticia-imagem" src="/media/noticias/n_399_0.jpg" alt="Imagem"></div>{% endblock main_content %}
            