
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Projeto à mesa e papo em casa saiba como Artur Jorge aceitou a ideia do Botafogo, agora perto da coroação{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Projeto à mesa e papo em casa: saiba como Artur Jorge aceitou a ideia do Botafogo, agora perto da coroação
Na disputa pelos títulos da Libertadores e do Brasileirão, treinador se encantou com a ambição de Textor por taças e recebeu o incentivo da esposa para trocar Braga pelo Rio de Janeiro



Esposa de Artur Jorge fala sobre vida no Rio ao lado do treinador
A jogada ensaiada do primeiro gol do Botafogo contra o Palmeiras, na terça, já entrou na galeria dos momentos marcantes da temporada alvinegra.  Ela nasceu na cabeça de um treinador que até o início deste ano era desconhecido no Brasil, mas entrou no caminho alvinegro a partir de uma conversa na mesa de um restaurante em Matosinhos, município vizinho à cidade do Porto. 
Foi ali, no fim de março, que John Textor apresentou o projeto do Botafogo a Artur Jorge.</p>
<p class='noticia-conteudo'>Na cultura portuguesa, muitas decisões são tomadas à mesa.  Mas o treinador, ainda que encantado com a oportunidade, evitou dar uma resposta definitiva ao empresário.  Faltava ouvir uma pessoa.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_32_0.jpg"></div><p class='foto-descricao'>Maria Marques e Artur Jorge na praia de São Conrado, no Rio de Janeiro — Foto: Arquivo pessoal</p>
Em casa, a conversa com a esposa, Maria Marques, foi decisiva para o treinador aceitar a proposta.  Apesar da distância dos três filhos e dos três netos, Maria incentivou a mudança, em boa parte por conhecer a personalidade do homem com quem é casada há 31 anos. 
- O Artur tem uma capacidade grande de se adaptar onde quer que esteja.</p>
<p class='noticia-conteudo'>Muito maior do que a minha, confesso.  Ele tem esse lado prático que eu gostaria de ter um bocadinho.  Eu sou muito coração, o Artur é muito racional.</p>
<p class='noticia-conteudo'>E acho que isso acaba por facilitar a vida, sem grandes saudosismos.  O Artur de Braga é exatamente o mesmo Artur do Rio - conta a esposa. 

Artur Jorge fala sobre projeto de revelar jogadores no Botafogo
Na conversa com Maria, Artur Jorge deu os detalhes do que ouvira de Textor no restaurante.</p>
<p class='noticia-conteudo'>O empresário norte-americano adotou com o treinador estratégia semelhante à que utilizara para convencer Luiz Henrique e Almada a defender o Glorioso. 
Tiago Nunes havia sido demitido um mês antes, mas Textor garantia não ter pressa.  Enquanto Fábio Matias comandava o time de forma interina, o norte-americano estabelecia como prioridade o acerto com um nome para o longo prazo, já que o clube tivera quatro técnicos em oito meses.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_32_1.jpg"></div><p class='foto-descricao'>Artur Jorge com a Taça da Liga conquistada no Braga — Foto: Braga</p>
O acerto com Artur Jorge tornou-se desejo de Textor pelo trabalho do treinador no Braga, marcado pelo desenvolvimento nas categorias da base e por um título recente, a Taça da Liga de Portugal conquistada em janeiro deste ano, além da participação na Champions League. 
O entrave e o convencimento
O cenário não era favorável na negociação - afinal, as temporadas estavam em andamento, ainda que a europeia estivesse perto do fim.  Artur tinha contrato com o Braga até a metade de 2025, mas o treinador já havia decidido sair ao término da temporada 2023/2024.</p>
<p class='noticia-conteudo'>Além de convencer o treinador a trabalhar no Brasil - e deixar a cidade em que morou quase a vida inteira - para trabalhar no Brasil, Textor teria que negociar com a diretoria do clube português para garantir a liberação com antecedência. 
Artur Jorge dedica vitória sobre o Palmeiras à torcida do Botafogo: "Merecia desfrutar esse momento"
O norte-americano se encontrou pessoalmente com Artur Jorge no restaurante em Matosinhos em 26 de março, sete dias antes de o técnico desembarcar no Rio de Janeiro.  Durante a pausa dos clubes para a Data Fifa, Textor apresentou o projeto do clube, citou a ambição por títulos e, depois de dias de negociação, recebeu o ok do treinador.</p>
<p class='noticia-conteudo'>Negociação por estabilidade
E por que Artur Jorge gostou do projeto? Nos últimos anos, treinadores portugueses passaram a olhar com mais atenção para o mercado brasileiro, principalmente depois do sucesso de Abel Ferreira e Jorge Jesus.  Antes visto como um mundo distante, o Brasil se tornou um lugar fértil para construir novas histórias. 
Quando surgiu a oportunidade do Botafogo para Artur Jorge, ele rapidamente se interessou, mas se assustou com a "máquina de moer técnicos" e tentou garantir alguma estabilidade.</p>
<p class='noticia-conteudo'>Textor concordou. 

Artur Jorge.  do Botafogo, responde a Everson e Deyverson, do Atlético-MG: "Não venham com lições de moral"
- Confesso que a primeira imagem que tinha enquanto espectador não era a melhor sobre o futebol brasileiro, justamente pela continuidade massiva de trocas de treinadores.</p>
<p class='noticia-conteudo'>Muitos em cima de um ou dois resultados.  Isso não mostra estabilidade do projeto, é uma tremenda prova de falta de confiança.  Mas vim muito seguro do projeto que abracei.</p>
<p class='noticia-conteudo'>Sempre que conversei com Textor, foi no sentido de olhar como sendo um projeto, que tem que ter princípio, meio e fim - disse o treinador ao ge. 
- Nas conversas, foi sempre posto que resultados poderiam implicar fragilidade, mas estávamos em busca de grande ambição, seriedade, confiança, demonstração de saber o que estamos fazendo.  É muito importante uma estrutura para ter sucesso, precisamos disso por trás de nós.</p>
<p class='noticia-conteudo'>Precisamos de estabilidade emocional, sabendo que por vezes há contratempos, contextos, momentos. 
Artur fez a carreira praticamente inteira no Braga.  Começou no sub-19 em 2010, passou pelo time B e saiu em 2013 para treinar a equipe profissional do Tirsense, nas divisões inferiores de Portugal.</p>
<p class='noticia-conteudo'>Retornou ao Braga para comandar o sub-15, em 2017.  De lá, foi subindo degrau por degrau até chegar ao time principal em 2022. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_32_2.jpg"></div><p class='foto-descricao'>Artur Jorge comemora.</p>
<p class='noticia-conteudo'>Treinador está perto de entrar para a história do Botafogo — Foto: Vitor Silva / Botafogo</p>
A zona de conforto no clube português o incomodava.  Por isso, já havia tomado a decisão de deixar o Braga ao fim da temporada 2023/24.  Assim, depois de longa reflexão com a família, aceitou o desafio no Brasil.</p>
<p class='noticia-conteudo'>- A paixão de vir para um projeto que me agradou desde a primeira conversa.  Estava em uma zona de conforto muito boa, desde o sub-15 do Braga gradualmente até o mais alto nível.  Quanto mais eu ia subindo, mais perto ficava da minha saída.</p>
<p class='noticia-conteudo'>Não há treinador eterno.  E eu sabia que tinha chegado meu momento de sair.  Fizemos campanhas muito boas.</p>
<p class='noticia-conteudo'>Batemos todos os recordes do clube, gols marcados, pontos conquistados, números de vitórias, eu estava deixando uma marca.  E, quando tive a oportunidade, não hesitei.  O Botafogo era um clube de que eu ouvia falar, da grandeza, e tinha uma estabilidade muito importante para mim, porque vivo disso.</p>
<p class='noticia-conteudo'>Braga resistiu à liberação
No dia 29 de março, o ge publicou que o Botafogo havia acertado com Artur Jorge.  No entanto, Textor ainda precisava negociar com os dirigentes do Braga para conseguir a liberação imediata do treinador.  Mesmo com um novo treinador no horizonte, os portugueses fizeram jogo duro.</p>
<p class='noticia-conteudo'>No dia 3 de abril, o Braga cedeu e anunciou que Artur Jorge deixava o clube, mediante pagamento de 3 milhões de euros.  O presidente António Salvador criticou a forma como o treinador deixou a equipe. 
- Artur Jorge assinou um contrato à revelia do clube e criou todas as condições para não continuar.</p>
<p class='noticia-conteudo'>Enquanto presidente, restou-me defender ao máximo os interesses do clube - disse o dirigente. 
Artur Jorge comemora ida do Botafogo à final da Libertadores: "Marco histórico"
Sete meses depois, Artur Jorge já comandou o Botafogo em 51 jogos, com 28 vitórias, 15 empates e oito derrotas.  Agora, está muito perto de entrar para o rol de grandes nomes de um clube cuja história ele destacou desde a sua apresentação.</p>
<p class='noticia-conteudo'>- Eu conheço a dimensão do Botafogo, sei perfeitamente.  É daqueles clubes que desde muito novo quem é apaixonado pelo futebol sempre ouve falar.  Quando falamos em Brasil, falamos também em Botafogo - disse o treinador.</p>
<p class='noticia-conteudo'>Assista: tudo sobre o Botafogo no ge, na Globo e no sportv
50 vídeos
BOTAFOGO.</p>
{% endblock main_content %}

