
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}PSG inaugura novo CT de R$ 2 bilhões com show de fogos, luzes e drones{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>PSG inaugura novo CT de R$ 2 bilhões com show de fogos, luzes e drones
Clube francês celebra conclusão do Campus PSG, com extensão de 59 hectares, e jogadores treinam na neve no mesmo dia; confira imagens



Paris Saint-Germain realiza cerimônia grandiosa na inauguração do novo CT; veja a festa
O Paris Saint-Germain promoveu uma grande festa nesta quinta-feira (confira no vídeo acima), com direito a show de luzes, fogos de artifícios e projeções no céu com drones, para comemorar a inauguração oficial do seu novo Centro de Treinamento, em Poissy, a 30km de distância de Paris. 


Paris Saint-Germain inaugura oficialmente o seu novo centro de treinamento
Os jogadores do elenco principal do clube usam o Campus PSG desde o início da temporada passada, e todas as outras equipes passaram a fazer o mesmo desde janeiro deste ano.  Mas o Paris Saint-Germain decidiu marcar este 21 de novembro como a data de inauguração porque concluiu as obras em todas as instalações.</p>
<p class='noticia-conteudo'>O Campus PSG fica a cerca de 25 minutos de deslocamento de carro do estádio Parque dos Príncipes, onde o time francês manda seus jogos, e ocupa área de 590 mil metros quadrados.  A construção custou 350 milhões de euros — R$ 2,1 bilhões. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_0.jpg"></div><p class='foto-descricao'>Novo centro de treinamento do Paris Saint-Germain custou mais de R$ 2 bilhões — Foto: Divulgação / PSG</p>
Entre 200 e 250 pessoas trabalham no centro de treinamento todos os dias, para atender 180 atletas profissionais e das categorias de base.</p>
<p class='noticia-conteudo'>— O Campus é tudo o que um treinador pode desejar.  Tudo está perfeito.  Tudo é feito para que a equipe possa melhorar e trabalhar de forma otimizada.</p>
<p class='noticia-conteudo'>Existem poucos centros de treinamento tão funcionais.  É um verdadeiro prazer para mim trabalhar aqui — comentou o técnico Luis Enrique, em entrevista coletiva. 
Grupo treina na neve e se diverte
No mesmo dia da inauguração oficial do Campus PSG, os jogadores do elenco principal tiveram a oportunidade de treinar na neve.</p>
<p class='noticia-conteudo'>Muita neve, como é possível perceber pelas fotos abaixo.  Líder isolado do Campeonato Francês, com 29 pontos em 11 rodadas, o PSG enfrenta nesta sexta-feira o Toulouse, às 17h (de Brasília), no Parque dos Príncipes. 
✅Siga o novo canal ge Futebol Internacional no WhatsApp
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_1.jpg"></div><p class='foto-descricao'>Jogadores do Paris Saint-Germain treinam sob forte nevasca — Foto: J.</p>
<p class='noticia-conteudo'>Azouze / PSG</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_2.jpg"></div><p class='foto-descricao'>Jogadores do Paris Saint-Germain treinam sob forte nevasca — Foto: J.  Azouze / PSG</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_3.jpg"></div><p class='foto-descricao'>Jogadores do Paris Saint-Germain treinam sob forte nevasca — Foto: J.  Azouze / PSG</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_4.jpg"></div><p class='foto-descricao'>Jogadores do Paris Saint-Germain treinam sob forte nevasca — Foto: J.</p>
<p class='noticia-conteudo'>Azouze / PSG</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_5.jpg"></div><p class='foto-descricao'>Jogadores do Paris Saint-Germain treinam sob forte nevasca — Foto: J.  Azouze / PSG</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_6.jpg"></div><p class='foto-descricao'>Jogadores do Paris Saint-Germain treinam sob forte nevasca — Foto: J.  Azouze / PSG</p>
PARIS SAINT-GERMAIN.</p>
{% endblock main_content %}

