
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}palmeiras{% endblock title %}
{% block main_title %}palmeiras{% endblock main_title %}
{% block second_title %}Pupilo de Veiga e Dudu e ex-camisa 10 quem é o goleador do sub-20 que reforçará o Palmeiras em 2025{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Pupilo de Veiga e Dudu e ex-camisa 10: quem é o goleador do sub-20 que reforçará o Palmeiras em 2025
Thalys mudou de posição e tem números de destaque: 31 gols em 42 jogos na temporada.  Abel já anunciou que o garoto fará parte do elenco alviverde no ano que vem



Palmeiras reduz distância para o Botafogo e acredita no título
Anunciado como um dos jogadores promovidos ao profissional em 2025, Thalys está participando dos treinos do Palmeiras na Academia de Futebol nesta Data Fifa. 

O garoto de 19 anos de idade tem como credencial a marca de artilheiro do time sub-20 em 2024: são 31 gols em 42 partidas.</p>
<p class='noticia-conteudo'>Hoje um camisa 9 com mobilidade, ele mudou de posição ao chegar na última categoria de formação. 
Mais notícias do Palmeiras:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_17_0.jpg"></div><p class='foto-descricao'>Thalys durante treino do Palmeiras na Academia de Futebol — Foto: Cesar Greco</p>
Até o sub-17, Thalys era armador e vestia a camisa 10 palmeirense.  Já demonstrava, contudo, faro de gol: foram 15 em 31 partidas pela equipe em 2022.</p>
<p class='noticia-conteudo'>A partir da chegada ao sub-20, assumiu a camisa 9 e se tornou um grande definidor de jogadas.  São 45 gols em 80 jogos nas últimas duas temporadas pela equipe júnior palmeirense. 
– Está sendo um ano muito bom para mim.</p>
<p class='noticia-conteudo'>Desde a Copinha venho marcando gols.  Vem sendo um ano de muito trabalho e gols, com a ajuda dos meus companheiros – resumiu o jovem. 
Ainda à espera da primeira chance como profissional, Thalys faz parte do grupo de apoio que reforça o elenco de Abel Ferreira na Academia de Futebol.</p>
<p class='noticia-conteudo'>GE Palmeiras debate sobre os substitutos para os desfalques que o time terá contra o Bahia
Neste início de adaptação ao elenco, o atacante citou Raphael Veiga e Dudu como dois dos atletas mais próximos. 
– Estar aqui junto com a equipe profissional é algo muito importante para mim, é um sonho meu e de todos os que estão no sub-20.  O Veiga, que é uma referência para mim na função, conversa bastante comigo, assim como o Dudu.</p>
<p class='noticia-conteudo'>Eles me passam dicas, alguns detalhes do que fazer dentro de campo – acrescentou. 
Além de Thalys, o Palmeiras terá como novidades no elenco de 2025 o zagueiro Benedetti, o volante Figueiredo e o também atacante Luighi. 

Mais lidas do Ge
1
Futebol
Doze técnicos que fizeram sucesso no futebol brasileiro e não estão mais na ativa; confira a lista
2
Brasileirão Série A
Athletico x Atlético-MG: onde assistir ao vivo, horário e escalações
3
Corinthians
Jaqueline, atacante do Corinthians, bate em veículo e atropela pedestre em SP
4
Boxe
Whindersson reage à sarrada de indiano em luta no boxe: “Por 500 mil dólares, nunca mais”
5
Combate
Mike Tyson perde para Jake Paul no boxe, e internet reage com memes; veja


50 vídeos
PALMEIRAS.</p>
{% endblock main_content %}
{% block cor_categoria %}#006633{% endblock cor_categoria %}

