
    {% extends "html/modelo.html" %}
    {% load static %}
    

    {% block title %}Quem merece ser campeão Ranking do Gato Mestre tem Palmeiras à frente do Botafogo{% endblock title %}
    {% block main_title %}Quem merece ser campeão Ranking do Gato Mestre tem Palmeiras à frente do Botafogo{% endblock main_title %}
    {% block second_title %}None{% endblock second_title %}
    {% block main_content %}<p class='noticia-conteudo'>Quem merece ser campeão? Ranking do Gato Mestre tem Palmeiras à frente do Botafogo
Expectativa de pontos (xP) traz classificação bem diferente da atual; entenda o conceito


A cinco rodadas do final, Botafogo e Palmeiras têm briga acirrada pelo título.  Todo mundo sabe que futebol não é só merecimento, mas como estaria o Brasileirão se todos os times pontuassem exatamente como performam em campo? O Gato Mestre calcula a expectativa de gols (xG) de todos os jogos disputados até aqui e traz respostas. 
Já conferiu seu time no Assistente de Escalação do Gato Mestre? Só quem é PRO pode avaliar o time quantas vezes quiser, assine já!
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_7_0.jpg"></div>Palmeiras de Abel Ferreira tem o melhor desempenho do Brasileirão — Foto: Ettore Chiereguini/AGIF

Os destaques da classificação por xP
A esta altura do Brasileirão, seria de se esperar o Palmeiras à frente do Botafogo.</p>
<p class='noticia-conteudo'>A diferença para a vida real é de seis pontos: a classificação tem quatro de vantagem para o Alvinegro, mas a classificação por expectativa de pontos (xP) mostra o Alviverde com dois na frente.  Há um mês, quem estava na frente era o Botafogo. 
Isso quer dizer que o Botafogo tem feito mais pontos do que o esperado, e o Palmeiras, menos.</p>
<p class='noticia-conteudo'>Essa diferença pode se dar por vários fatores: ineficiência dos atacantes e goleiros desses times, eficiência dos adversários e até puramente sorte, a depender dos lances – tudo o que é imprevisível no futebol. 
Leia mais
Quais times pontuam mais no Cartola? Veja ranking do returno
Super-trunfo do Botafogo: Gato Mestre compara atacantes
A briga contra o rebaixamento tem várias distorções entre pontuação e desempenho.  O RB Bragantino joga o Brasileirão muito melhor do que pontua, enquanto o Fluminense tem desempenho de rebaixamento, mas resultados que podem salvá-lo.</p>
<p class='noticia-conteudo'>O recorte de 33 rodadas também capta a arrancada do Corinthians, que na virada do turno tinha a segunda pior expectativa de Pontos (xP) e desde então melhorou muito. 
O que é classificação por expectativa de pontos (xP)
O conceito parece complexo, mas parte de uma base simples: soma os pontos em cada rodada, a partir da expectativa de gols (xG) dos dois times envolvidos nos jogos.  A simulação calcula vitórias e empates quando o time A tem xG maior do que o time B naquele confronto.</p>
<p class='noticia-conteudo'>A longo prazo, a tendência é que a pontuação dos times se aproxime cada vez mais da expectativa de pontos.  Se o Brasileirão tivesse 100 rodadas, por exemplo, a classificação "real" seria muito semelhante à classificação "simulada".  Como são 38, as imprevisibilidades de cada jogo têm grande peso no resultado final.</p>
<p class='noticia-conteudo'>Os cálculos consideram todas as rodadas disputadas até aqui no Brasileirão.  Entram na conta não apenas os jogos que aconteceram, mas também os que foram adiados, como aqueles dos times gaúchos atingidos pelas enchentes no RS. 
ESPORTE NO BDSP: Palmeiras e Botafogo de olho em pausa no Brasileirão e todos os detalhes do acesso do Santos
Siga o Gato Mestre nas redes sociais

*Gato Mestre é formado pelos jornalistas Arthur Sandes e Guilherme Giavoni e os cientistas de dados Paulo Pestana e Vitor Patalano.</p>
{% endblock main_content %}
    