
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}vasco{% endblock title %}
{% block main_title %}vasco{% endblock main_title %}
{% block second_title %}Rafael Paiva perde prestígio no Vasco e permanência em 2025 é descartada{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Rafael Paiva perde prestígio no Vasco e permanência em 2025 é descartada
Não há garantias de que técnico termina o Brasileirão no comando do clube



Torcida do Vasco protesta em derrota para o Internacional
A história de Rafael Paiva no comando do Vasco está cada vez mais perto do fim.  O treinador vive seu pior momento à frente do time e sua permanência em 2025 está descartada.  A diretoria já se mexe nos bastidores para buscar outro treinador para a temporada que vem.</p>
<p class='noticia-conteudo'>A derrota para o Inter por 1 a 0, na quinta-feira, foi a terceira seguida do Vasco no Brasileirão.  A equipe perdeu invencibilidade que durava desde abril jogando em seu estádio.  O que mais incomoda é a queda de rendimento de um time que parece não ter margem para evolução - foram apenas duas vitórias nas últimas 13 partidas.</p>
<p class='noticia-conteudo'>Neste momento, não há garantias de que Paiva seguirá sendo o técnico do Vasco até mesmo nas rodadas finais do Brasileirão de 2024.  Se antes qualquer conversa seria realizada somente após o fim do campeonato, a pressão aumentou ainda mais após a entrevista coletiva do treinador — na qual disse que "não há torcida que vaia mais jogador que a do Vasco".  A declaração não foi bem vista internamente e entre os torcedores.</p>
<p class='noticia-conteudo'>A falta de uma opção unânime no mercado também impede qualquer decisão mais imediata. 
"Mais uma derrota melancólica do Vasco", diz João Almirante | A Voz da Torcida
Leia também:


O Vasco entende que a responsabilidade não é apenas do treinador, mas que a falta de progresso tem a ver com as escolhas de Rafael Paiva.  A menor utilização de atletas da base, que foi uma marca dele no início do trabalho, e a pouca "casca" para lidar com os medalhões preocupam.</p>
<p class='noticia-conteudo'>O ge ouviu de quem acompanha o dia a dia do elenco no CT que cresceu a insatisfação de alguns jogadores com o trabalho do treinador.  Paiva não tem mais todo o grupo na mão, como já aconteceu antes.  A dificuldade de lidar com o vestiário é um dos empecilhos para a permanência.</p>
<p class='noticia-conteudo'>Algumas escolhas ao longo da temporada irritaram internamente, quando, por exemplo, ele usou Rossi nos minutos finais do empate com o Atlético-MG em São Januário.  O resultado culminou na eliminação do Vasco na semifinal da Copa do Brasil.  O atacante, fora dos planos da diretoria, estava há mais de três meses sem entrar em campo.</p>
<p class='noticia-conteudo'>Rafael Paiva fala sobre protestos: "Não vejo torcida vaiar mais jogador do que a do Vasco"
A pressão externa é outro elemento que passou a acompanhar o técnico.  Antes bem avaliado pela torcida, ele passou a ser questionado por causa dos desempenhos recentes.  Na quinta, foi xingado pelos vascaínos ao fim do jogo em São Januário.</p>
<p class='noticia-conteudo'>- O Vasco já vaiou o Dinamite, quem sou eu para achar que não vou ser vaiado? Faz parte da profissão.  Enquanto estiver aqui vou tentar levar a equipe para o melhor lugar possível..</p>
<p class='noticia-conteudo'>.  Independentemente do que aconteça, do que a torcida canalize em mim, vou sempre ser grato ao Vasco e a tudo que aconteceu aqui - pontuou o treinador, que acrescentou:
- Eu tenho que trabalhar pensando em entregar o Vasco na melhor posição possível.  Depois da temporada, vou conversar com o Pedrinho, Felipe, Marcelo (Sant'Anna).</p>
<p class='noticia-conteudo'>Para mim tem sido uma experiência incrível, tenho tentado entregar meu melhor, tentado deixar o Vasco onde merece, mas temos que entender o processo e ter paciência. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_11_0.jpg"></div><p class='foto-descricao'>Rafael Paiva vive seu pior momento no Vasco — Foto: Thiago Ribeiro/AGIF</p>
O clube fez avaliações positivas sobre o trabalho em outros momentos.  O treinador perdeu jogadores importantes por lesão, como Adson e David (e até mesmo Estrella, que tinha margem para crescer), e não ganhou os reforços necessários na segunda janela, em especial o tão desejado zagueiro.</p>
<p class='noticia-conteudo'>Ainda assim, superou as limitações do elenco e levou o Vasco a uma semifinal de Copa do Brasil depois de 13 anos, além de chegar à reta final do Brasileirão com chances de classificação para a Pré-Libertadores, que agora se tornaram mais difíceis. 

O presidente Pedrinho, o diretor técnico Felipe e o diretor de futebol Marcelo Sant'Anna mantêm contato frequente com o treinador.  Os dirigentes, inclusive, levam a opinião de Paiva em consideração para o planejamento de 2025.</p>
<p class='noticia-conteudo'>As partes devem conversar para definir se o técnico ocupará alguma outra função no Vasco.  Ele foi contratado para o sub-20 no início de 2024 e assumiu interinamente o profissional em dois momentos - no segundo, acabou ficando de vez, apesar de não ter sido oficialmente efetivado. 

Assista tudo sobre o Vasco no ge, na Globo e no SporTV:
50 vídeos
VASCO.</p>
{% endblock main_content %}

