
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}corinthians{% endblock title %}
{% block main_title %}corinthians{% endblock main_title %}
{% block second_title %}Ramón Díaz mira Libertadores e festeja arrancada do Corinthians O esforço é incrível{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Ramón Díaz mira Libertadores e festeja arrancada do Corinthians: "O esforço é incrível"
Treinador faz planos para últimas três rodadas do Campeonato Brasileiro



Confira a íntegra da coletiva de Ramon Diaz, técnico do Corinthians, após vitória contra o Vasco
O Corinthians chegou, neste domingo, com a vitória por 3 a 1 sobre o Vasco, na Neo Química Arena, à nona colocação na tabela de classificação do Campeonato Brasileiro.  Com 47 pontos, o Timão passou a sonhar de vez com a Conmebol Libertadores.  Esse, ao menos, é o objetivo do técnico Ramón Díaz.</p>
<p class='noticia-conteudo'>Corinthians 3 x 1 Vasco | melhores momentos | 35ª rodada | Brasileirão 2024
Feliz com a arrancada do Corinthians, que por muito tempo brigou contra o rebaixamento, o treinador argentino elogiou a postura dos jogadores. 
– Temos que felicitar o time, porque tudo o que trabalhamos no dia de hoje transmitiram dentro de campo.  Os três (próximos jogos) são fundamentais para chegarmos ao objetivo que estamos buscando.</p>
<p class='noticia-conteudo'>O esforço é incrível, a mentalidade que estão tendo.  Faltavam quatro jogadores importantes e puderam manter a estrutura que temos com personalidade, estamos contentes.  Com respeito ao tramo final, só tem que mentalizar, conseguindo os resultados estamos contentes.</p>
<p class='noticia-conteudo'>Permitem brigar acima, tomara que a gente possa terminar bem – falou Ramón. 
Mais notícias do Corinthians:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_0.jpg"></div><p class='foto-descricao'>Ramón Díaz em Corinthians x Vasco — Foto: Marcello Zambrana/AGIF</p>
Nas quatro vitórias nos últimos quatro jogos, o Corinthians sofreu apenas três gols - um contra Vitória, um contra Cruzeiro e um contra Vasco.  Ramón Díaz viu seu sistema defensivo evoluir e comemorou a postura em campo.</p>
<p class='noticia-conteudo'>– Tenho que elogiar toda a parte defensiva, melhoraram de uma maneira incrível.  Tratar de não cometer erros, estão respondendo bem, estamos dando confiança, como Raniele, que com o trabalho tático que necessitamos desta posição e está em um bom nível.  Quase todo o grupo está jogando e tem uma competitividade entre eles.</p>
<p class='noticia-conteudo'>Conseguimos que o grupo esteja intenso, bem encaminhado, felizes com a parte defensiva que melhorou muito – explicou. 

O que também tem deixado Ramón Díaz feliz são as atuações de Rodrigo Garro.  Eleito o melhor em campo neste domingo, o argentino fez dois gols e deu uma assistência na vitória sobre o Vasco.</p>
<p class='noticia-conteudo'>O treinador também falou de Breno Bidon. 
– Trabalhamos para concretizar a situação que tem, porque tem boa pegada e geramos para poder ter o seu arremate.  Está em um grande nível.</p>
<p class='noticia-conteudo'>Ele está sendo contundente, gerando muito futebol.  Breno é jovem e está crescendo muito.  Realmente está jogando bem, é um protagonista.</p>
<p class='noticia-conteudo'>"Grande vitória para brigar na parte de cima da tabela", celebra Careca | A Voz da Torcida


50 vídeos
CORINTHIANS.</p>
{% endblock main_content %}

