
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Rayssa Leal e park masculino seguem no comando do Brasil em novo ciclo olímpico do skate{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Rayssa Leal e park masculino seguem no comando do Brasil em novo ciclo olímpico do skate
Únicos a repetir medalhas em Tóquio e Paris têm fim de semana com resultados que confirmam ótima fase e são promissores para 2028


O título de Rayssa Leal, na street league, em Tóquio, e o equilíbrio no mais alto nível entre os skatistas do park masculino, no STU, em São Paulo, mostram um caminho promissor do Brasil no início deste ciclo olímpico rumo a Los Angeles 2028.  No mesmo final de semana em que o fim de 2024 se encaminha, o skate brasileiro já deixa os sinais positivos para as próximas temporadas. 




Veja as melhores voltas de Rayssa Leal na conquista da etapa de Tóquio da SLS
Rayssa, única skatista brasileira a conquistar medalhas olímpicas em Tóquio e em Paris, ganhou a última etapa da SLS, principal circuito mundial de skate street, no Japão, e vai chegar como favorita ao tricampeonato no Super Crown, que será realizado na capital paulista dias 14 e 15 de dezembro.</p>
<p class='noticia-conteudo'>A maranhense de 16 anos, porém, é estrela solo na disputa contra um esquadrão de japonesas e a australiana Chloe Covell, de apenas 14 anos.  Cenário que deve se manter nas próximas disputas até LA28.  Pâmela Rosa, segunda melhor brasileira dos últimos anos, por exemplo, não competiu nem na SLS nem no STU neste fim de semana, recuperando-se de uma temporada recheada de problemas físicos.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_29_0.jpg"></div><p class='foto-descricao'>Rayssa Leal é campeã da etapa de Tóquio da SLS — Foto: SLS</p>
VOLTA 1
Se Rayssa é estrela solitária, no domingo, na grande decisão do circuito brasileiro, o Super Finals do STU, outra modalidade em que o Brasil ganhou medalhas em Tóquio e Paris mostrou que a base vem forte.  Mesmo com a presença dos medalhistas olímpicos Pedro Barros e Augusto Akio, o Japinha, quem brilhou no skate park masculino foi a nova geração. 
Única das modalidades do skate olímpico a classificar os três brasileiros para as finais nos Jogos do Japão e da França, o park masculino tem um novo e promissor campeão nacional: Kalani Konig.</p>
<p class='noticia-conteudo'>O catarinense de 17 anos ainda não estreou em Olimpíadas.  E não porque ainda é muito jovem ou por falta de talento.  Mas porque o Brasil é muito forte na modalidade.</p>
<p class='noticia-conteudo'>Kalani Konig é favorito na disputa do skate park no STU Super Finals
Em Tóquio 2021, o medalhista Pedro Barros teve a companhia de Luiz Francisco e Pedro Quintas na final olímpica.  Em Paris, o medalhista de bronze Augusto Akio teve a companhia de Pedro Barros e Luigi Cini na decisão das medalhas.  Ou seja, além de classificar os três skatistas entre os oito melhores dos Jogos, o Brasil ainda teve representantes diferentes ao lado da lenda Pedro Barros.</p>
<p class='noticia-conteudo'>Quem será que vai aos Jogos de 2028 na Califórnia, berço do skate?
Neste fim de semana, Pedro Barros revelou em conversas que deseja ir mais uma vez aos Jogos Olímpicos.  Será com novos parceiros, de novo? Ou o assento privilegiado dele está em risco? Pedro Barros nem sequer se classificou para a final com os seis melhores da competição em São Paulo.  E viu o nome do momento brilhar: Kalani Konig, que, curiosamente, é do mesmo bairro do Rio Tavares, em Florianópolis, onde cresceu e vive Pedro Barros.</p>
<p class='noticia-conteudo'>Outro que se candidata fortemente à Los Angeles 2028 neste início de ciclo é Dan Sabino, de 16 anos, vice-campeão brasileiro na temporada. 
Bom lembrar que cabem somente três atletas por país em cada modalidade, e em cada gênero, nas Olimpíadas.  E bom lembrar também que Augusto Akio tem apenas 23 anos, um título mundial e uma medalha olímpica, assim como Luigi Cini tem 22 anos e um vice-campeonato mundial.</p>
<p class='noticia-conteudo'>Disputa gigante para saber quem vai permanecer no topo nas próximas três temporadas até chegar 2028. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_29_1.jpg"></div><p class='foto-descricao'>Kalani Konig brilhou no STU Super Finals — Foto: Julio Detefon/STU</p>
VOLTA 2
E a Rayssa? Tem apenas 16 anos, duas medalhas olímpicas (prata e bronze), dois títulos mundiais e planos, muitos planos, para o futuro no skate, desde gravar suas viagens andando de skate pelas ruas do mundo até, claro, ser campeã olímpica.  O ouro, aliás, é a única das medalhas que o Brasil, com cinco idas ao pódio, ainda não tem nos Jogos Olímpicos.</p>
<p class='noticia-conteudo'>Rayssa Leal e o park masculino brasileiro largam na frente nessa corrida dourada de três anos e meio até LA28. 
O Brasil só fica atrás do Japão em número de medalhas olímpicas somadas as duas edições de skate nos Jogos.  Os japoneses já somam nove conquistas, sendo cinco medalhas de ouro.</p>
<p class='noticia-conteudo'>No street feminino, de Rayssa, só deu Japão no alto do pódio, assim como no street masculino.  No park, Japão e Austrália foram os únicos países a levarem o ouro para casa.  Ao todo, apenas cinco nações tem medalhas olímpicas no skate (Estados Unidos e Grã-Bretanha completam a lista).</p>
<p class='noticia-conteudo'>São Paulo recebe a decisão do circuito brasileiro de skate park
O Brasil podem sonhar com medalhas no park feminino em 2028, claro, principalmente com Raicca Ventura, praticamente uma tia de 17 anos perto das skatistas com média de 14 anos que fizeram a final do STU em São Paulo neste domingo.  E também há bons nomes no street masculino, com destaque para Felipe Gustavo e Giovanni Vianna, além do medalhista olímpico Kelvin Hoefler.  Contudo, o burburinho ao redor das pistas mostra que o barulho em Los Angeles deve vir dessa juventude que atende por Rayssa Leal e os meninos do park.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_29_2.jpg"></div><p class='foto-descricao'>Blog Olímpico Marcel Merguizo — Foto: Reprodução</p>.</p>
{% endblock main_content %}

