
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Real Madrid, pode esperar e acabou o gás veja zoações da eliminação do Botafogo no Mundial{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Rivais ironizam possibilidade de confronto com o Real Madrid e brincam após derrota por 3 a 0 para o Pachuca, nas quartas de final da Copa Intercontinental



Botafogo 0 x 3 Pachuca | Melhores momentos | Quartas de final | Intercontinental de Clubes

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_391_0.jpg"></div><p class='foto-descricao'>Zoação com o Botafogo — Foto: Reprodução</p>.</p>
{% endblock main_content %}

