
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Real Madrid planeja retorno de Vini Jr. antes da decisão da Copa Intercontinental{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Real Madrid planeja retorno de Vini Jr.  antes da decisão da Copa Intercontinental
Lesionado no final de novembro, brasileiro tinha retorno previsto apenas para final da competição, mas pode voltar na próxima semana

06/12/2024 07h35 Atualizado há 3 horas
Vini Jr.  pode voltar aos gramados já na próxima semana.</p>
<p class='noticia-conteudo'>Fora de ação desde o dia 25 de novembro por uma lesão muscular no bíceps femoral da perna esquerda, o brasileiro do Real Madrid tinha retorno previsto apenas para a decisão da Copa Intercontinental, no dia 18 de dezembro.  Agora, a equipe espanhola espera contar com o camisa 7 uma semana antes do esperado. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_86_0.jpg"></div><p class='foto-descricao'>VIni Jr.</p>
<p class='noticia-conteudo'>é eleito o melhor jogador do mês de novembro em La Liga — Foto: Getty Images</p>
Vini atuou normalmente na partida contra o Leganés e só indicou o incômodo após o duelo.  Na ocasião, o técnico Carlo Ancelotti chegou a tirar Mbappé nos últimos dez minutos de jogo, mas o atacante brasileiro terminou a partida em campo.  O problema físico ocorreu no primeiro jogo de Vinicius com o Real Madrid após os duelos com a seleção brasileira na Data Fifa de novembro.</p>
<p class='noticia-conteudo'>A lesão no bíceps femoral da perna esquerda não é uma novidade para o brasileiro, que já sofreu problemas parecidos na temporada passada.  O clube espera que ele estivesse de volta para a final da Copa Intercontinental, no Catar, marcado para o dia 18 de dezembro. 
Segundo o The Athletic, o retorno do craque pode acontecer alguns dias antes da decisão.</p>
<p class='noticia-conteudo'>O cenário mais positivo pode ter Vini Jr.  em campo na terça-feira, em partida da Champions League contra a Atalanta.  A equipe também quer o brasileiro contra o Rayo Vallecano, no dia 14.</p>
<p class='noticia-conteudo'>Vini Jr.  fala sobre o sonho de conquistar o Hexa do Brasil
Sem Vini, o Real Madrid perdeu por 2 a 0 para o Liverpool e por 2 a 1 para o Athletic Bilbao.  A única vitória foi no 2 a 0 sobre o Getafe.</p>
<p class='noticia-conteudo'>Neste sábado, a equipe de Carlo Ancelotti enfrenta o Girona às 17h. 
A Copa Intercontinental da Fifa continuará envolvendo os campeões continentais de cada ano, mas não terá mais representante do país-sede.  Além disso, o vencedor da Champions League já estará garantido na final, que será em local neutro.</p>
<p class='noticia-conteudo'>As outras equipes irão disputar um playoff. 
A competição já está na segunda fase.  Botafogo e Pachuca, do México, enfrentam-se às 14h de quarta-feira para definir o adversário do Al-Ahly, do Egito, na fase seguinte.</p>
<p class='noticia-conteudo'>Quem passar da terceira fase enfrenta o Real Madrid na final..</p>
{% endblock main_content %}

