
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Rebaixados e até campeão brasileiro veja ranking dos piores times de 2024{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Confira os piores aproveitamentos e quem somou mais derrotas entre os 124 clubes que disputaram as quatro divisões nacionais neste ano



Ituano foi duplamente rebaixado no ano e é o pior time de 2024

Mas mais do que isso, entre os 124 clubes que figuraram nas quatro divisões do Campeonato Brasileiro, alguns se notabilizam por terminarem 2024 com os piores desempenhos. 




<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_389_0.jpg"></div><p class='foto-descricao'>Guarani e Ituano estão entre as piores equipes do Brasil em 2024 — Foto: Miguel Schincariol/Ituano FC</p>
O ge fez um levantamento e identificou o "Z-4" do Brasileirão neste ano.  Figuram nele ninguém menos que o campeão da elite de 1978, o Guarani, o Ituano (ambos rebaixados para a Série C), além do Real Brasília-DF e o Patrocinense-MG.</p>
<p class='noticia-conteudo'>Os clubes em questão disputaram as Séries B e D.  Na Série A, nove deles estão entre os mais derrotados, mas uma das explicações é o alto número de jogos que fizeram em 2024.  Nenhum dos times da elite nacional aparecem entre os piores aproveitamento do ano.</p>
<p class='noticia-conteudo'>Confira:

Campeão brasileiro de 1978 e responsável por revelar inúmeros craques, como Careca, Luizão, Amoroso e Evair, entre outros, o Guarani abre a lista dos quatro piores times no Brasil em 2024. 
Com 28,7% de aproveitamento na temporada, o Bugre acabou rebaixado na Série B.  Pior ainda, no entanto, é o cenário do outro clube paulista no "Z-4", o Ituano.</p>
<p class='noticia-conteudo'>Com 28,1% de aproveitamento, o Galo de Itu caiu não só no Brasileiro, como também no Campeonato Paulista. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_389_1.jpg"></div><p class='foto-descricao'>O Guarani foi o lanterna da Série B — Foto: Raphael Silvestre/Guarani FC</p>
Única equipe a não sofrer uma degola na lista, o Real Brasília terminou o ano com 26,9% de aproveitamento distribuídos entre a Série D, a Copa do Brasil, o Campeonato Brasiliense e Copa Verde. 
Mas o pior desempenho é, de longe, o do Patrocinense.</p>
<p class='noticia-conteudo'>Com apenas 16,6% de aproveitamento, a equipe mineira venceu apenas três jogos em 2024.  Com isso, além de ter sido rebaixado no estadual, o clube ainda terminou na última colocação do seu grupo na Série D. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_389_2.jpg"></div><p class='foto-descricao'>O Real Brasília até chegou à 2ª fase da Copa do Brasil, mas caiu para o Atlético-GO — Foto: Ingryd Oliveira/ACG</p>
Vale lembrar que Real Brasília e Patrocinense (com 26 cada) disputaram praticamente metade do número de partidas na comparação com Guarani (50) e Ituano (51), o que leva a outro dado (confira no tópico abaixo).</p>
<p class='noticia-conteudo'>Apenas mais uma equipe entre as 124 do Campeonato Brasileiro terminou o ano com menos de 30% de aproveitamento: o Iporá-GO, com 29,3%, desempenho que também resultou no rebaixamento no Campeonato Goiano. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_389_3.jpg"></div><p class='foto-descricao'>O Patrocinense foi a pior equipe nas quatro divisões nacionais em 2024 — Foto: Alair Constantino/ Dono do Apito</p>
Outros clubes com baixo desempenho no ano foram Potiguar de Mossoró-RN, Audax-RJ, Democrata/SL-MG e Petrolina-PE (veja os índices abaixo).  Todos eles disputaram a Série D.</p>
<p class='noticia-conteudo'>Veja os clubes com pior aproveitamento em 2024 (de todas as divisões):
Patrocinense - 16,6%
Real Brasília - 26,9%
Ituano - 28,1%
Guarani - 28,7%
Iporá - 29,3%
Potiguar de Mossoró- 30,1%
Audax-RJ - 30,2%
Democrata-SL - 30,5%
Petrolina - 30,6%
Recordistas de derrotas
No quesito número de derrotas, ninguém bate o duplamente rebaixado Ituano em 2024: foram 32 distribuídas entre Paulistão, Série B e Copa do Brasil - na qual o clube caiu na primeira fase.  A estatística coloca o Galo de Itu como o pior do país neste ano. 
Os rivais de Campinas - rebaixados na Série B - são quem mais se aproximam do recorde negativo.</p>
<p class='noticia-conteudo'>O Guarani perdeu 27 jogos, enquanto a Ponte Preta foi superada em 24 oportunidades.  Audax-RJ (rebaixado no Carioca) e Athletico Paranaense (rebaixado no Brasileirão) também foram derrotados 24 vezes. 
Entre os clubes da elite, o Atlético-GO é o líder do quesito com 25 reveses.</p>
<p class='noticia-conteudo'>O Dragão caiu e terminou como vice-lanterna do Brasileiro. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_389_4.jpg"></div><p class='foto-descricao'>O Ituano foi o recordista de derrotas no futebol brasileiro no ano — Foto: Roberto Corrêa / Vila Nova F. C.</p>
<p class='noticia-conteudo'></p>
Oito equipes, sendo sete da Série A, aparecem na sequência com 23 rebaixados.  Três deles (Criciúma, Cuiabá e Brusque) foram rebaixados. 
Veja os times que mais perderam em 2024:
Ituano: 32
Guarani: 27
Atlético-GO: 25
Athletico-PR, Ponte Preta e Audax-RJ: 24
Bragantino, Cuiabá, Brusque, Corinthians, Fluminense, Criciúma, Vitória e Grêmio: 23

ATLÉTICO-GO
BRAGANTINO
BRUSQUE
CORINTHIANS
CRICIÚMA
CUIABÁ
DEMOCRATA SL
FLUMINENSE
GRÊMIO
GUARANI
ITUANO
PONTE PRETA
REAL BRASÍLIA
VITÓRIA.</p>
{% endblock main_content %}

