
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Renato ameaça não dar mais entrevista e intimida imprensa Tenho medo de ninguém{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Renato ameaça não dar mais entrevista e intimida imprensa: "Tenho medo de ninguém"
Grêmio saiu na frente contra o Cruzeiro, mas levou o empate ainda no primeiro tempo.  Com uma vitória, praticamente garante a permanência na Série A



Cruzeiro 1 x 1 Grêmio | Melhores momentos | 35ª rodada | Brasileirão 2024
O ponto conquistado pelo Grêmio fora de casa no empate em 1 a 1 com o Cruzeiro na noite desta quarta-feira, no Mineirão, foi visto com bons olhos por Renato Portaluppi.  Mas, apesar do resultado, o técnico se mostrou insatisfeito com os jornalistas e ameaçou não conceder mais entrevista coletiva depois dos jogos.</p>
<p class='noticia-conteudo'>Ao ser questionado por uma autoavaliação do trabalho na atual temporada e a continuidade no clube, o técnico gremista voltou a se classificar como "muito bom" e criticou novamente a imprensa.  Renato afirmou que há muitas mentiras divulgadas e que pensa em não dar mais entrevistas. 
– Se continuar essas invenções de notícias para tumultuar o ambiente, eu vou ser o primeiro a conversar com a direção e pedir para não dar mais entrevistas.</p>
<p class='noticia-conteudo'>Já que vocês não querem ser profissionais, não vou mais falar.  De novo.  Eu sou muito bom.</p>
<p class='noticia-conteudo'>Sou bom demais.  O que vocês fazem com os treinadores não dá, não – rebateu o comandante. 
"Ponto importante!", afirma Queki após empate do Grêmio | Voz da Torcida
Na mesma resposta, o treinador prometeu dar nomes de jornalistas com quem ele diz estar descontente.</p>
<p class='noticia-conteudo'>Segundo Renato, pode chamar uma entrevista no dia que deixar o Grêmio para rebater jornalistas. 
– Se continuarem mentindo, eu vou dar nomes aos bois, vou chamar de mentiroso, covardes.  Vocês também têm familia, andam por aí e o torcedor conhece.</p>
<p class='noticia-conteudo'>Alguns de vocês vão começar a passar dificuldade também.  Não tenho medo de ninguém da imprensa.  Respeito e sou profissional, se forem profissional comigo.</p>
<p class='noticia-conteudo'>Se continuar inventando notícia, não vou mais dar entrevista – completou. 
A bronca diz respeito a notícias que especulam a troca no comando técnico do clube para 2025.  Depois de Renato, o presidente Alberto Guerra destacou que a única preocupação atual é somar os pontos necessários para não cair.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_42_0.jpg"></div><p class='foto-descricao'>Renato Portaluppi em Cruzeiro x Grêmio — Foto: Lucas Uebel / Grêmio FBPA</p>
Com o resultado desta quarta, o Grêmio chega a 41 pontos e sobe para a 14ª posição no Campeonato Brasileiro.  A equipe está a uma vitória de praticamente garantir a permanência na primeira divisão. 
O Grêmio retorna na manhã desta quinta para Porto Alegre.</p>
<p class='noticia-conteudo'>À tarde, se reapresenta no CT Luiz Carvalho.  A equipe volta a campo no domingo, quando recebe o São Paulo, na Arena, às 16h. 


50 vídeos
GRÊMIO.</p>
{% endblock main_content %}

