
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}internacional{% endblock title %}
{% block main_title %}internacional{% endblock main_title %}
{% block second_title %}Renê inicia retomada no Inter após dois meses sem atuar e vibra com renovação próxima{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Renê inicia retomada no Inter após dois meses sem atuar e vibra com renovação próxima
Criticado pela torcida, lateral faz partida segura contra o Vasco ao substituir o titular Bernabei, suspenso



Vasco 0 x 1 Internacional | Melhores Momentos | 34ª Rodada | Brasileirão 2024
O voto de confiança pedido por Roger Machado deu certo.  Renê foi um dos destaques do Inter na vitória por 1 a 0 sobre o Vasco na noite de quinta-feira em São Januário.  A atuação do lateral-esquerdo chancela a ideia da direção em renovar o contrato.</p>
<p class='noticia-conteudo'>Algo que está próximo de ocorrer. 

A suspensão de Bernabei recolocou o camisa 6 no time após exatos 66 dias, quando entrou nos seis minutos finais da vitória por 3 a 0 sobre o Cuiabá. 
Se pegar a última partida como titular, o hiato era ainda maior.</p>
<p class='noticia-conteudo'>Desde 23 de julho, quando o time empatou em 1 a 1 com o Rosario Central e acabou eliminado na repescagem da Copa Sul-Americana. 
Renê virou alvo de parte da torcida por erros cometidos desde o ano passado e a insistência de Eduardo Coudet.  Com a mudança no comando, perdeu a posição para Bernabei.</p>
<p class='noticia-conteudo'>Em São Januário, mostrou segurança, deu pouco espaço ao Vasco e ainda se aventurou a ajudar no ataque. 
– Feliz por estar de volta.  Trabalhei bem no período em que estava fora.</p>
<p class='noticia-conteudo'>Sabia que estava pressionado pelas atuações do Bernabei, que está bem.  Consegui manter um bom nível e ajudei a equipe a sair com a vitória –valorizou. 
Luka: "O Inter funcionou, venceu e deu motivos para continuar sonhando" | A Voz da Torcida
Veja mais:



O jogador de 32 anos, se perdeu a titularidade, seguiu com o prestígio no vestiário.</p>
<p class='noticia-conteudo'>É uma das vozes ativas e tem muito carinho de direção, comissão técnica e companheiros.  O que fez a cúpula abrir conversas para a renovação. 
O atual vínculo expira no fim do ano.</p>
<p class='noticia-conteudo'>O cenário, que poderia indicar uma saída, é oposto.  O salário recebido e a relação criada no Beira-Rio são vistos como trunfos para a sequência em 2025.  Já há conversas entre as partes e Renê acredita em um desfecho positivo.</p>
<p class='noticia-conteudo'>– Conversamos sobre isso.  Eles passaram o que pensam, que contam comigo e disse que estou feliz aqui, com a família adaptada.  O que posso adiantar é que os dois lados querem que dê certo.</p>
<p class='noticia-conteudo'>É o mais importante.  Estar em um lugar que querem você.  E eu quero ficar – finalizou.</p>
<p class='noticia-conteudo'>Com a recuperação de Renê, o Inter soma 62 pontos e está em quinto lugar no Brasileirão.  Na próxima rodada, o time de Roger Machado enfrenta o Bragantino.  A partida ocorrerá no domingo, às 16h, no Beira-Rio.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_16_0.jpg"></div><p class='foto-descricao'>Renê não comprometeu contra o Vasco — Foto: Ricardo Duarte/Divulgação, Internacional</p>


50 vídeos
INTERNACIONAL.</p>
{% endblock main_content %}

