
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}flamengo{% endblock title %}
{% block main_title %}flamengo{% endblock main_title %}
{% block second_title %}Resumo da Central Fla quer Róger Guedes, tática do São Paulo por Oscar, e Tite vira alvo do Grêmio{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Palmeiras perto de fechar com Facundo Torres, futuro de John Kennedy fora do Flu, interesse do Inter em zagueiro do West Ham e mais destaques da terça-feira de negociações



Emanuelle Ribeiro fala sobre o mercado atual do Flamengo


Na linha dos técnicos, o Grêmio foi atrás de Tite, ex-seleção brasileira, enquanto o Santos definiu seu plano A, após não não avançar com o português Luís Castro. 
E no âmbito de diretoria, o Cruzeiro acertou com novo gerente administrativo experiente, enquanto o Fla fez proposta pelo coordenador geral da base do Palmeiras para integrar seu departamento de futebol. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_361_0.jpg"></div><p class='foto-descricao'>Uruguaio Facundo Torres, do Orlando City, está perto do Palmeiras — Foto: Orlando City</p>
Confira os destaques da Central do Mercado desta terça:

A nova diretoria do Flamengo, que assumirá oficialmente em 18 de dezembro, já está trabalhando ativamente.</p>
<p class='noticia-conteudo'>Um dos alvos é Róger Guedes, desejado por Bap, e as negociações com o Al-Rayyan, do Catar, para uma possível contratação em definitivo, estão em andamento.  O atacante de 28 anos soma 34 gols e seis assistências em 46 jogos pelo clube. 
E para o departamento de futebol, o Fla já estabeleceu mais um alvo: João Paulo Sampaio, coordenador geral das categorias de base do Palmeiras, recebeu uma proposta formal e está analisando.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_361_1.jpg"></div><p class='foto-descricao'>Róger Guedes comemora gol pelo Al-Rayyan — Foto: Arquivo pessoal</p>
Tite procurado pelo Grêmio
O Grêmio procurou Tite, atualmente sem clube após sua saída do Flamengo, para substituir Renato Portaluppi, que deixou o comando da equipe nesta terça-feira.  No entanto, o técnico reforçou sua intenção de esperar por propostas internacionais até o meio do próximo ano e já mantém conversas com clubes da Europa e da Arábia Saudita. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_361_2.jpg"></div><p class='foto-descricao'>Tite, em Flamengo x Athletico-PR, pelo Brasileirão — Foto: André Durão/ge</p>
São Paulo tenta repetir "plano Lucas" com Oscar
O São Paulo reconhece que as negociações para trazer o meia Oscar, de 33 anos, não serão fáceis.</p>
<p class='noticia-conteudo'>Após sua saída do Shanghai Port, da China, o jogador está livre no mercado, mas é considerado caro pelo clube. 
O Tricolor, então, busca aplicar uma estratégia semelhante à utilizada na contratação do ídolo Lucas, no ano passado.  Neste momento, o principal empecilho nas negociações é a questão financeira.</p>
<p class='noticia-conteudo'>Bruno Giufrida comenta negociações do São Paulo com Oscar e Arboleda
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_361_3.jpg"></div><p class='foto-descricao'>Oscar em campo pelo Shanghai Port, da China — Foto: VCG/VCG via Getty Images</p>
Palmeiras perto de fechar com Facundo Torres
O Palmeiras tenta fechar a primeira contratação para 2025: Facundo Torres, atacante do Orlando City, dos Estados Unidos.  Os clubes encaminharam a transferência por cerca de 12 milhões de dólares (R$ 72,2 milhões) pelo uruguaio de 24 anos.  Ele tem 47 gols e 19 assistências em 123 jogos pelo City.</p>
<p class='noticia-conteudo'>Thiago Ferri traz mais informações sobre o Palmeiras na Central do Mercado
O futuro de John Kennedy
O Pachuca, do México, avançou na contratação de John Kennedy, do Fluminense.  O clube mexicano negocia o empréstimo do jogador com opção de compra, com valores perto dos R$ 40 milhões.  Existe um otimismo pela conclusão da negociação de todas partes envolvidas, mas a contratação do atacante de 22 anos ainda não está fechada.</p>
<p class='noticia-conteudo'>Central do GE traz informações da negociação do Pachuca com o Fluminense por John Kennedy
Outros de saída são Marquinhos e Felipe Alves.  O Tricolor não exercerá a opção de compra do atacante junto ao Arsenal, que também não deseja renovar o empréstimo.  O goleiro terá contrato encerrado no fim de dezembro

Interesse mexicano em Eduardo
O meia Eduardo, do Botafogo, está em fim de contrato e recebeu sondagem do Pumas, do México.</p>
<p class='noticia-conteudo'>Aos 35 anos, o jogador está com a delegação na disputa da Copa Intercontinental, no Catar, e o seu futuro será definido após a competição. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_361_4.jpg"></div><p class='foto-descricao'>Eduardo comemora gol em Botafogo x RB Bragantino — Foto: André Durão/ge</p>
Novo plano A do Santos para técnico
Depois de não chegar a um consenso com o português Luís Castro, a diretoria do Santos tem um novo alvo para o cargo de treinador: o Peixe tenta avançar em uma negociação com Gustavo Quinteros, comandante do Vélez Sarsfield.  A tendência é de que ele dê uma resposta na próxima segunda-feira, dia seguinte ao término do Campeonato Argentino

Santos não tem mais interesse em Luis Castro
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_361_5.jpg"></div><p class='foto-descricao'>Gustavo Quinteros entra na mira do Santos — Foto: Reprodução/Instagram</p>
Arana e o Atlético-MG
O lateral-esquerdo titular do Atlético-MG, Guilherme Arana, foi questionado sobre a permanência no clube para a próxima temporada.</p>
<p class='noticia-conteudo'>O jogador não fugiu da resposta, se declarou ao clube e afirmou que tem contrato.  Ainda assim, deixou um certo mistério no ar. 
Arana sobre permanência no Atlético-MG em 2025: "Provavelmente"
Cruzeiro perto de renovar com Lucas Silva
O Cruzeiro está perto de renovar o contrato do volante Lucas Silva por mais dois anos.</p>
<p class='noticia-conteudo'>O jogador se destacou no final da temporada, ganhando espaço sob o comando de Fernando Diniz.  Em 2023, Lucas Silva disputou 50 jogos e marcou dois gols, além de ser capitão do time. 
Gabriel Duarte diz que Cruzeiro está encaminhando renovação com Lucas Silva
A Raposa também acertou a contratação de Rodrigo Ramos para assumir o cargo de gerente administrativo de futebol.</p>
<p class='noticia-conteudo'>O profissional, de vasta experiência na área, esteve por último no Athletico, de onde saiu em agosto. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_361_6.jpg"></div><p class='foto-descricao'>Rodrigo Ramos, novo gerente de futebol do Cruzeiro, em passagem pela CBF — Foto: Divulgação/CBF</p>
Mudanças em peso no Athletico
O Athletico promoveu mudanças no departamento de futebol após o rebaixamento à Série B do Campeonato Brasileiro.  O clube demitiu o técnico Lucho González, o diretor técnico Paulo Autuori e o gestor desportivo Paulo Miranda.</p>
<p class='noticia-conteudo'>O anúncio oficial foi feito na tarde desta terça-feira. 
Enquanto isso, o volante Fernandinho, de 39 anos, ainda não definiu seus próximos passos para 2025.  Ídolo do clube, ele mantém o futuro indefinido, situação agravada pelo rebaixamento.</p>
<p class='noticia-conteudo'>Fernandinho tem contrato válido até o fim desta temporada e ainda não anunciou sua decisão. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_361_7.jpg"></div><p class='foto-descricao'>Fernandinho em treino do Athletico — Foto: José Tramontin/ Athletico</p>
Zagueiro do West Ham interessa ao Inter
O Internacional tem a posição de zagueiro como uma das prioridades no mercado para 2025.  Além de Willyam Rocha, do CSKA, da Rússia, outro jogador que está no radar colorado é Luizão, canhoto de 22 anos do West Ham.</p>
<p class='noticia-conteudo'>Na última semana, o clube gaúcho fez uma consulta para verificar a situação do defensor, que foi alvo do Corinthians em agosto. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_361_8.jpg"></div><p class='foto-descricao'>Luizão, zagueiro do West Ham — Foto: Cameron Howard/Getty Images</p>
Juventude de olho em goleiro Santos
O Juventude tenta assegurar a permanência do goleiro Gabriel, mas encontra dificuldade para renovar o vínculo de empréstimo do Coritiba e já procura um possível substituto: o experiente Santos, de 34 anos, do Fortaleza.  Ele foi reserva durante a temporada, no time cearense, atuando apenas em quatro partidas.</p>
<p class='noticia-conteudo'>Executivo de futebol do Juventude participa ao vivo da Central do Mercado
Mais notícias do dia.</p>
{% endblock main_content %}

