
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}cruzeiro{% endblock title %}
{% block main_title %}cruzeiro{% endblock main_title %}
{% block second_title %}Resumo da Central proposta alta por Artur Jorge, Soteldo na mira do Cruzeiro e Vegetti entre Vasco e Flu{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Estratégia do São Paulo por lateral, Inter de olho em ex-zagueiro do Galo, Sport otimista por permanência de Lucas Lima e renovações no caçula da Série A também movimentaram o sábado



"Acho que é pior perder o Artur Jorge do que o Almada" - opina Eric Faria

+Fique por dentro da Central do Mercado
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_415_0.jpg"></div><p class='foto-descricao'>Artur Jorge técnico do Botafogo — Foto: Vitor Silva/Botafogo</p>
Mas o dia de movimentação no mercado da bola não se resumiu ao treinador botafoguense.  O São Paulo estuda envolver uma joia promessa de Cotia na negociação para contratar o lateral-esquerdo Wendell, do Porto, enquanto que no Cruzeiro, a bola da vez parece ser o venezuelano Soteldo. 
Visando reforçar a defesa, o Internacional fez consulta pelo zagueiro Nathan Silva, ex-Atlético-MG, e no Recife, a diretoria do Sport aguarda o "sim" do meia Lucas Lima para uma renovação de contrato.</p>
<p class='noticia-conteudo'>Confira as principais notícias do dia no nosso Resumo da Central. 

Interessados na contratação do técnico Artur Jorge há cerca de dois meses, os dirigentes do Al-Rayyan, do Catar, fizeram a primeira procura oficial pelo treinador português, campeão brasileiro e da Libertadores pelo Botafogo.  O valor oferecido de salário chega a ser praticamente três vezes maior do que ele recebe atualmente no clube carioca.</p>
<p class='noticia-conteudo'>Artur Jorge avalia a proposta e apesar das altas cifras só vai bater o martelo após conversar com John Texto.  O dono da SAF do Botafogo pretende oferecer um aumento salarial atrelado a uma renovação. 
Após eliminação no Mundial, Botafogo desembarca no Rio e torcida pede: "Fica, Artur Jorge"

O Cruzeiro segue agressivo no mercado.</p>
<p class='noticia-conteudo'>Com Gabigol e Dudu em processo de negociação, o clube mineiro agora volta suas lentes para o venezuelano Soteldo, que tem contrato com o Grêmio até o final do mês. 
Pelas redes sociais, o ex-Cruzeiro, Roberto Gaúcho, garantiu que o atacante está assinado com a Raposa. 
Ex-atacante do Cruzeiro, Roberto Gaúcho afirma que Soteldo pode reforçar a Raposa
Por outro lado, a diretoria cruzeirense definiu que não exercerá a compra do atacante Gabriel Veron, emprestado pelo Porto até o fim deste ano.</p>
<p class='noticia-conteudo'>A única possibilidade de Gabriel Veron permanecer era com um novo empréstimo, uma vez que o valor estipulado pela compra é de10 milhões de euros (R$ 63 milhões na cotação atual). 
Cruzeiro encaminha acordo com Eduardo, do Botafogo; clube não vai comprar Gabriel Veron
Quem vai cumprir seu contrato com a Raposa até o fim de 2025 é o goleiro Anderson, que seguirá como opção em uma eventual ausência do titular Cássio. 
Vegetti no Flu?
O atacante argentino Pablo Vegetti se viu entre o Vasco e o Fluminense desde que o canal "Atenção Vascaínos" publicou na última sexta-feira que o centroavante teria sido oferecido ao Tricolor.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_415_1.jpg"></div><p class='foto-descricao'>Vegetti comemora gol do Vasco sobre o Cuiabá — Foto: Dikran Sahagian / CRVG</p>
Segundo apurou o ge, o Fluminense teria sido procurado duas vezes por uma empresa que representa Vegetti e demonstrou interesse na contratação, chegando a procurar o Vasco. 
Porém, a direção do clube de São Januário sequer abriu conversas.  Mesmo com contrato até o final de 2025, o clube cruzmaltino pensa em oferecer uma renovação de contrato ao argentino.</p>
<p class='noticia-conteudo'>Estratégia do São Paulo por reforço
O São Paulo pode envolver o jovem lateral-direito João Moreira, de 20 anos, na negociação com o Porto para conseguir a liberação antecipada do lateral-esquerdo Wendell, de 31 anos, hoje sem espaço no clube português. 
Central do Mercado: Porto faz jogo duro, mas São Paulo confia em acerto com Wendell
Embora o Tricolor já tenha um bom entendimento com o jogador em relação a salários e tempo de contrato, o atleta tem encontrado dificuldades para quebrar seu vínculo com o Porto, que ainda tem seis meses de validade. 
Por isso, a ideia da diretoria são paulina é incluir na negociação o jovem prata da casa que já foi alvo do clube português nesta temporada.</p>
<p class='noticia-conteudo'>Do Timão para a Vila ?
O zagueiro Caetano, do Corinthians, está no radar do Santos.  Nos últimos dias, a diretoria do Peixe buscou informações sobre o atleta, demonstrou interesse, mas pediu tempo para apresentar uma proposta.  Isso porque aguarda primeira a definição do treinador.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_415_2.jpg"></div><p class='foto-descricao'>Zagueiro Caetano, do Corinthians — Foto: Rodrigo Coca/Ag.  Corinthians</p>
Na atual temporada, Caetano chegou a ser titular do Corinthians nos primeiros meses do ano, mas depois perdeu espaço.  Ao todo, em 2024, disputou 15 partidas com mais de 900 minutos em campo.</p>
<p class='noticia-conteudo'>️
Prioridade do Internacional nesse período de contratações, a defesa pode ganhar o reforço do zagueiro Nathan Silva, ex-Atlético-MG e atualmente no Pumas, do México. 
Inter mapeia o mercado e prioriza busca por zagueiros
Conforme apurou o ge, a direção colorada manifestou interesse e fez uma consulta ao estafe do jogador de 27 anos.  A negociação, porém, é vista como difícil.</p>
<p class='noticia-conteudo'>Nathan Silva tem contrato até junho de 2027 com o Pumas, e o time mexicano não teria interesse em um empréstimo, apenas na venda. 
️
Ao que tudo indica, a tratativa do Vasco para contratar o técnico Renato Gaúcho não deve demorar.  Isso porque, neste sábado, dirigentes do clube carioca e o treinador definiram que irão se reunir na próxima segunda-feira para conversarem sobre a negociação.</p>
<p class='noticia-conteudo'>Renato Gaúcho no Vasco: Tébaro Schmidt explica como estão as negociações
Renato é o plano A da cúpula vascaína.  Os contatos foram iniciados na quinta-feira, e o técnico avalia o convite.  As conversas andaram nas últimas 24 horas e o martelo pode ser batido (ou não) nesse encontro da segunda-feira.</p>
<p class='noticia-conteudo'>No Sport, os esforços estão voltados para a possível renovação contratual do meia Lucas Lima.  O jogador foi o grande destaque do clube pernambucano no acesso para a Série A, e já tem em mãos a proposta rubro-negra. 
Maior garçom da Série B: veja todas as assistências de Lucas Lima
O diretor de futebol Raphael Campos, inclusive, se mostrou otimista quanto a um acerto.</p>
<p class='noticia-conteudo'>"O Sport apresentou uma contraproposta que já esta na mão dele e aparentemente o que tudo indica é que vai dar certo. "
Vale lembrar que Lucas Lima ainda tem contrato em definitivo com o Santos até abril.  Mas o Peixe já informou que não vai contar com o atleta.</p>
<p class='noticia-conteudo'>Mesmo assim pede uma compensação financeira para antecipar a rescisão contratual. 
Mirassol renova com líder de assistências
Novato da Série A em 2025, o Mirassol acertou mais duas renovações para 2025.  Líder de assistências do time na temporada, o meia Danielzinho assinou com o Leão por mais uma temporada.</p>
<p class='noticia-conteudo'>Assim como o também meia Chico Kim. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_415_3.jpg"></div><p class='foto-descricao'>Chico Kim e Danielzinho renovaram com o Mirassol — Foto: Pedro Zacchi/AGIF</p>
Agora já são quatro as renovações do Mirassol para o próximo ano.  Antes, já haviam acertado a permanência, o goleiro Alex Muralha e o atacante Iury Castilho.</p>
<p class='noticia-conteudo'>Mais notícias deste sábado.</p>
{% endblock main_content %}

