
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Rodri elogia Vini Jr. e abre portas para o Real Madrid Melhor clube da história{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Rodri elogia Vini Jr.  e abre portas para o Real Madrid: "Melhor clube da história"
Vencedor da Bola de Ouro, volante espanhol não descarta transferência para o clube merengue: "Quando o Real te chama, sempre tem que prestar atenção"



Rodri é escolhido o melhor do Mundo, e Vini Jr.  fica em segundo
Passada a polêmica da Bola de Ouro, Rodri e Real Madrid voltaram a flertar.</p>
<p class='noticia-conteudo'>Questionado sobre o interesse antigo do clube, o volante do Manchester City abriu as portas para uma possível transferência e também fez questão de elogiar Vini Jr. , seu concorrente na última premiação de melhor jogador do mundo. 
- Quando o Real Madrid te chama, o melhor clube da história, é uma honra.</p>
<p class='noticia-conteudo'>Sempre tem que prestar atenção.  Isso está claro - disse Rodri, em entrevista ao programa espanhol "El Larguero". 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_3_0.jpg"></div><p class='foto-descricao'>Rodri é eleito Bola de Ouro de 2024 — Foto: Sarah Meyssonnier/Reuters</p>
Sobre Vini Jr.</p>
<p class='noticia-conteudo'>, Rodri colocou o atacante como um dos melhores do mundo, mas também ressaltou que o brasileiro pode evoluir. 
- Vinicius é um dos melhores jogadores do mundo.  Acho que é um cara inteligente e com o tempo vai se dar conta de que quanto mais estiver concentrado no campo, melhor será.</p>
<p class='noticia-conteudo'>Tem coisas a melhorar, como todos.  É jovem e terá pessoas que o aconselhem bem, ainda mais no Real Madrid, que é um clube com valores - completou Rodri. 
Ainda se recuperando de uma grave lesão no joelho, Rodri afirmou que pretende voltar aos gramados para a disputa da Liga das Nações e do Mundial de Clubes de 2025.</p>
<p class='noticia-conteudo'>Ele admitiu que será difícil retornar ao Manchester City na atual temporada..</p>
{% endblock main_content %}

