
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}fortaleza{% endblock title %}
{% block main_title %}fortaleza{% endblock main_title %}
{% block second_title %}Ruas falam em Fortaleza, mas Gabigol não corresponde na volta ao Flamengo após afastamento{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>"Ruas falam" em Fortaleza, mas Gabigol não corresponde na volta ao Flamengo após afastamento
Atacante perde ótima chance aos 14 minutos do primeiro tempo, após passe na medida de Michael



Aos 14 min do 1º tempo - chute de dentro da área defendido de Gabi do Flamengo contra o Fortaleza
A passagem de Gabigol por Fortaleza foi barulhenta fora do campo, do desembarque no hotel à ovação na arquibancada, mas silenciosa dentro das quatro linhas.  O atacante não correspondeu ao imenso carinho recebido desde que colocou os pés na capital do Ceará e jogou mal no empate por 0 a 0 no Castelão. 

Na segunda-feira, assim que o ônibus do Flamengo surgiu na Avenida Beira-Mar, os torcedores começaram a gritar: "Fica, Gabigol" e "Ih, f.</p>
<p class='noticia-conteudo'>. . , Gabigol apareceu".</p>
<p class='noticia-conteudo'>Havia cartazes, e o camisa 99, após duas partidas de afastamento por conta de episódios ocorridos durante a final da Copa do Brasil, voltou ao centro das atenções.  Ali o ídolo correspondeu e atendeu a inúmeros fãs que lhe pediam fotos e autógrafos.  Enquanto houve segurança, não arredou o pé de onde estava o povo.</p>
<p class='noticia-conteudo'>Voz do Setorista: Fred Gomes mostra a recepção da torcida do Flamengo em Fortaleza
Tocado pela recepção calorosa, postou na rede social "X" a seguinte frase cerca de três horas após surgir na entrada principal do hotel:
"As ruas falam". 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_12_0.jpg"></div><p class='foto-descricao'>Gabigol postou "as ruas falam" após o carinho dos rubro-negros na orla de Fortaleza — Foto: Reprodução</p>
Em campo, "Gabigol não falou"
No Castelão, os 10 mil rubro-negros presentes continuaram barulhentos, e o único nome de jogador gritado pela arquibancada foi o de Gabigol.  Embora ídolos como Bruno Henrique e Filipe Luís estivessem no gramado, somente o camisa 99 foi aclamado quando ele e o grupo subiram ao campo para realizar o aquecimento.</p>
<p class='noticia-conteudo'>Gabigol retribuiu mais uma vez ao carinho.  Bateu no peito, cerrou o punho e mandou um tchauzinho carinhoso.  Só que o entrosamento ficaria restrito ao pré-jogo.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_12_1.jpg"></div><p class='foto-descricao'>Kuscevic marca Gabigol em Fortaleza x Flamengo — Foto: Baggio Rodrigues/AGIF</p>
Num esquema inovador de Filipe Luís, com quatro atacantes, Gabigol foi o mais discreto deles.  Finalizou três vezes, nenhuma delas com perigo.  E o pior: aos 14 minutos, recebeu passe de Michael em ótima condição para bater.</p>
<p class='noticia-conteudo'>Chutou fraquinho, e João Ricardo defendeu. 
Foram apenas 12 ações com a bola e oito passes, seis deles certos.  Um técnico que passou recentemente pelo Flamengo e com quem Gabigol não tem boa relação (Tite) cunhou a expressão "o campo fala".</p>
<p class='noticia-conteudo'>Pois dentro dele o ídolo foi silencioso e acabou merecidamente substituído no intervalo. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_12_2.jpg"></div><p class='foto-descricao'>Gabigol, Gabriel Barbosa, Flamengo, Fortaleza x Flamengo — Foto: Alexandre Lago</p>
🗞️ Leia mais notícias do Flamengo
🎧 Ouça o podcast ge Flamengo
Assista: tudo sobre o Flamengo no ge, na Globo e no sportv
50 vídeos
FLAMENGO.</p>
{% endblock main_content %}

