
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}SAF da Portuguesa novas cláusulas garantem investimento inicial de R$ 30 milhões; entenda{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>SAF da Portuguesa: novas cláusulas garantem investimento inicial de R$ 30 milhões; entenda
Presidente da Lusa responde apontamentos do COF sobre contrato com investidores



Torcida da Portuguesa comemora aprovação do projeto da SAF no Conselho
Antonio Carlos Castanheira, o presidente da Portuguesa, divulgou uma nota na manhã desta terça-feira respondendo aos questionamentos do COF (Conselho de Orientação e Fiscalização) sobre algumas cláusulas do contrato com o grupo investidor que propõe a transformação da Lusa em SAF (Sociedade Anônima do Futebol).  
Em um documento de 13 páginas, Castanheira detalhou alguns pontos do contrato negociado com o grupo investidor e apresentou as mudanças solicitadas pelo COF.  Durante esta terça-feira, os associados da Portuguesa votarão pela proposta de R$ 1 bilhão para que o clube se transforme em SAF pelos próximos 50 anos com possibilidade de renovação por mais 50.</p>
<p class='noticia-conteudo'>Mais da Lusa:



<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_62_0.jpg"></div><p class='foto-descricao'>Estádio do Canindé, casa da Portuguesa — Foto: Anderson Romão / Portuguesa</p>
A principal mudança diz respeito ao investimento de R$ 30 milhões para a temporada 2025, que será dividido em um aporte inicial de R$ 12 milhões e outro de R$ 18 milhões.  No texto original, o segundo depósito estaria condicionado à homologação da recuperação judicial.  
O entendimento do COF era de que a condição imposta pelos investidores deixava a Portuguesa desprotegida, já que a homologação depende de uma decisão judicial.</p>
<p class='noticia-conteudo'>Agora, com a nova cláusula proposta, a SAF garante o investimento de R$ 18 milhões mesmo que a homologação da recuperação judicial retarde mais do que 180 dias.  Na prática, mesmo que a Justiça não bata o martelo após seis meses, o dinheiro será colocado no clube.  
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_62_1.jpg"></div><p class='foto-descricao'>Alex Bourgeois é um dos investidores da Lusa — Foto: Dorival Rosa/ Portuguesa</p>
Os investidores também estabeleceram uma multa contratual por quebra de contrato, algo que não estava previsto na última versão do contrato.</p>
<p class='noticia-conteudo'>Para ambos os lados, há uma multa de R$ 50 milhões caso haja violação dos termos estipulados no acordo.  
A distribuição das ações também foi melhor detalhada.  O COF pedia a garantia de um mínimo de 10% de participação ao clube durante a duração do contrato.</p>
<p class='noticia-conteudo'>Na nova cláusula apresentada, a SAF reafirma que não poderá deliberar determinados temas sem a aprovação do clube.  Entre eles: mudança de município, modificação de escudo, símbolo, hino, cores e uniformes, e qualquer alteração no estatuto que "modifique, restrinja ou subtraia" as ações de Classe A da Lusa.  
Ao longo desta terça-feira, os associados da Portuguesa estarão no Canindé para votar a proposta encabeçada por Tauá Partners, Revee e XP Investimentos na transformação da Lusa em SAF.</p>
<p class='noticia-conteudo'>Caso a resposta seja definitiva, a tendência é de que o contrato seja celebrado nos próximos dias..</p>
{% endblock main_content %}

