
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}palmeiras{% endblock title %}
{% block main_title %}palmeiras{% endblock main_title %}
{% block second_title %}Saiba o que Estêvão, do Palmeiras, precisa para se tornar o artilheiro mais jovem do Brasileirão{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Saiba o que Estêvão, do Palmeiras, precisa para se tornar o artilheiro mais jovem do Brasileirão
Meia-atacante tem 13 gols na competição e marcou de falta na vitória contra o Cruzeiro

08/12/2024 08h00 Atualizado há uma hora

Comentaristas discutem futuro de Estevão na Europa: “eu tenho muito receio”
Em busca de uma virada improvável pelo tricampeonato brasileiro, o Palmeiras tem em Estêvão sua principal esperança ofensiva.  Neste domingo, o time recebe o Fluminense às 16h (de Brasília), no Allianz Parque, pela rodada final, e o meia-atacante está atrás de mais uma marca. 

Ele tenta se tornar o artilheiro mais jovem da história do Campeonato Brasileiro.</p>
<p class='noticia-conteudo'>Aos 17 anos, ele pode desbancar Keirrison, goleador na edição de 2008 aos 19 anos, pelo Coritiba. 
Mais notícias do Palmeiras:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_218_0.jpg"></div><p class='foto-descricao'>Estêvão durante treino do Palmeiras na Academia de Futebol — Foto: Cesar Greco</p>
O camisa 41 balançou as redes 13 vezes, sendo a última o golaço de falta contra o Cruzeiro, quarta, que garantiu a vitória de virada por 2 a 1. 
Para terminar como o artilheiro isoladamente, Estêvão precisa fazer dois gols e torcer contra seus adversários mais próximos: Yuri Alberto, do Corinthians e Alerrandro, do Vitória, estão logo à frente, com 14 gols cada um.</p>
<p class='noticia-conteudo'>Em seu primeiro ano como profissional, Estêvão explodiu rapidamente.  Tornou-se titular do Palmeiras, foi negociado para o Chelsea, da Inglaterra, e já começou a ser convocado pela seleção brasileira. 
Estêvão marca golaço de falta para o Palmeiras e segura o Botafogo
Ainda desbancou Neymar e já é o atleta de 17 anos de idade com mais participações em gol no Brasileiro.</p>
<p class='noticia-conteudo'>Além dos 13 gols, são nove assistências para o garoto. 
– É um ano que eu tinha muita expectativa, mas foi mais do que eu pensava, Deus me abençoou bastante.  Confesso que no começo do ano eu achei que não ia ter tanta oportunidade, mas, com o passar da temporada, as chances foram aparecendo e fui aproveitando cada oportunidade que eu tive e pude ser feliz, ajudando meus colegas e ajudando o Palmeiras – vibrou Estêvão.</p>
<p class='noticia-conteudo'>Mais do que ser o artilheiro mais jovem, o meia-atacante pode ser o primeiro goleador do Palmeiras em uma edição do Brasileiro desde a década de 1960. 

Cesar Maluco é quem detém a marca, com os 15 gols que fez no Roberto Gomes Pedrosa de 1967.  A competição foi unificada como Brasileiro pela CBF.</p>
<p class='noticia-conteudo'>Mais lidas do Ge
1
Fórmula 2
F2: Bortoleto é campeão em Abu Dhabi após ficar em 2º e rival travar na largada
2
Brasileirão Série A
Botafogo x São Paulo: onde assistir ao vivo, horário e escalações
3
Combate
UFC: Alexandre Pantoja coloca japonês para dormir e mantém cinturão peso-mosca
4
Brasileirão Série A
Muito além do título: veja o que está em jogo na última rodada do Brasileirão
5
Fórmula 1
GP de Abu Dhabi de F1 2024: veja horários e onde assistir


50 vídeos
PALMEIRAS.</p>
{% endblock main_content %}

