
            <html>
                <article class="noticia-detalhada">
                    <h1 class="noticia-titulo mt-4">Saiba quem são os jovens do sub-17 chamados para treinar com elenco principal do Botafogo</h1>
                    <p class="noticia-conteudo">Saiba quem são os jovens do sub-17 chamados para treinar com elenco principal do Botafogo
Caio Valle e Cauã Zappelini aproveitam "brecha" de convocados em treinos sob o comando de Artur Jorge



Treino do Botafogo tem Rafael como novidade
O número alto de convocados no Botafogo para a Data Fifa deu oportunidade para jovens atletas da base alvinegra no elenco profissional. O meia-atacante Caio Valle e o meia Cauã Zappelini, da categoria sub-17, foram incorporados ao grupo de Artur Jorge para as atividades enquanto o elenco está desfalcado.
Os dois são considerados destaques na formação do clube e têm 17 anos - no momento, os mais novos do time principal.
Caio Valle marca Tchê Tchê em treino do profissional do Botafogo — Foto: Vitor Silva / Botafogo
Caio, que também atua como lateral-esquerdo, chegou ao Alvinegro em 2021, antes do período SAF, para o sub-14 e vêm subindo da categoria com o passar do tempo.
Em 2024, foi um dos líderes em gols e assistências na categoria. Foram 33 jogos pelo sub-17, oito gols e nove assistências, chegando à final do Campeonato Brasileiro - título perdido para o Palmeiras. As boas atuações o levaram para uma categoria acima, o sub-20, em que fez apenas um jogo até o momento.
+ ✅Clique aqui para seguir o novo canal ge Botafogo no WhatsApp
Zappelini em treino com o profissional do Botafogo — Foto: Vitor Silva / Botafogo
O meia Cauã Zappelini tem um trajetória semelhante, mas chegou ao clube em julho de 2022, vindo do Fluminense. Ele assinou o primeiro contrato profissional com o clube em agosto.
Ele é meia armador, 10 característico, e com aparições na área para fazer gols, algo que conseguiu fazer nas categorias que passou. Em 2024, foram 35 jogos com nove gols e nove assistências.
Os dois "convocados" treinam com o elenco desde a reapresentação, que foi na última quinta-feira. A tendência é que eles se mantenham até o retorno dos sete jogadores que defendem as seleções - Gatito, Bastos, Alex Telles, Thiago Almada, Savarino, Luiz Henrique e Igor Jesus.
Caio Valle e Zappelini juntos em jogo do sub-17 — Foto: Reprodução
Outro que voltou a aparecer nos treinos foi o atacante Matheus Nascimento, que integra o elenco semifinal do Brasileirão de Aspirantes.
O "intercâmbio" entre base e profissional é um trabalho intencional do Botafogo, que visa oportunizar treinos em alto nível para que os jovens jogadores estejam mais habituados ao elenco principal.
+ Leia mais notícias do Botafogo
🎧 Ouça o podcast ge Botafogo 🎧
Assista: tudo sobre o Botafogo no ge, na Globo e no sportv
50 vídeos
BOTAFOGO
Veja também</p>
                </article>
            </html>
            