
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Salada deve ser consumida antes ou junto da refeição{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Salada deve ser consumida antes ou junto da refeição?
Especialistas explicam os prós e contras de cada estratégia, ensinam a como adotar os vegetais na alimentação e dão dicas do que incluir no prato



Alimentos com muitos nutrientes e variados benefícios para diferentes sistemas do corpo
Todo mundo sabe que colocar verduras e legumes no prato é indispensável para uma alimentação saudável.  O que muita gente pode não saber é que, idealmente, a salada deve ser consumida antes do restante dos alimentos em uma refeição.  Isso, é claro, se não for impeditivo para o consumo dela, já que o mais importante é incluir a salada na dieta, independente do momento.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_32_0.jpg"></div><p class='foto-descricao'>Prato de salada EU Atleta — Foto: iStock</p>
Salada antes ou junto da refeição?
— Idealmente, a salada deve ser consumida antes da refeição.  Seja por funcionar como moderadora de apetite, que nos faz evitar exageros na quantidade de acompanhamentos ingeridos, ou porque controla melhor a glicemia pós-prandial, reconhecida como a glicemia após a refeição, já que o consumo de salada antes da refeição diminui os picos de açúcar no sangue — ensina a nutricionista Rejane Viana. 


Estudos científicos têm apontado para esses dois caminhos.</p>
<p class='noticia-conteudo'>Uma pesquisa publicada em 2019 no Journal of Diabetes and its Complications atestou que o sequenciamento alimentar é capaz de promover perda de peso.  Outra, divulgada em 2022 na MDPI, mostrou que comer vegetais antes dos carboidratos ajuda a controlar a glicemia. 
Como possuem alta quantidade de fibras insolúveis, os vegetais servem tanto para dar saciedade antes do prato principal quanto para reduzir a velocidade de absorção do carboidrato, diminuindo os picos de glicose e, consequentemente, de insulina no sangue.</p>
<p class='noticia-conteudo'>Por outro lado, a nutricionista Juliana Saldanha, do Departamento de Cardiometabolismo da Associação Brasileira para o Estudo da Obesidade e Síndrome Metabólica (Abeso), defende que não se trata de ser pior ou melhor comer a salada antes ou durante a refeição. 
— O importante é comer salada, e isso pode variar conforme a preferência do indivíduo.  Se ele prefere comer como entrada, que coma como entrada.</p>
<p class='noticia-conteudo'>Se prefere comer junto, para disfaçar o sabor, porque às vezes é mais resistente e tem paladar infantil, para esse indivíduo o melhor é consumir junto.  Tem pessoas que preferem consumir depois.  Na França, por exemplo, os franceses comem a salada após a refeição principal.</p>
<p class='noticia-conteudo'>É mais uma questão de hábito, cultura e preferência, e a prescrição precisa ser individualizada. 


Prós e contras
O médico nutrólogo Durval Ribas Filho, presidente da Associação Brasileira de Nutrologia (Abran), tem duas ressalvas quanto às situações de comer antes ou junto da refeição. 
— Uma boa prática é consumir a salada antes da refeição, mas é preciso ter o cuidado de incluir uma fonte de gordura saudável, como o azeite, e se assegurar de que a refeição principal seja completa e balanceada.</p>
<p class='noticia-conteudo'>— Consumir salada durante a refeição é ideal para quem busca equilíbrio nutricional e boa absorção de vitaminas, mas é fundamental garantir que a quantidade de salada seja suficiente para obter os benefícios.  Uma dica é adicionar um molho saudável, como azeite ou vinagre, o que pode tornar o prato ainda mais benéfico. 


Confira os prós e contras de comer a salada antes da refeição:
Prós:

Contras:
Redução de apetite para ingesta de outros alimentos;
Absorção limitada de certas vitaminas;
Sensação de baixa energia;
Possíveis desconfortos digestivos.</p>
<p class='noticia-conteudo'>Confira os prós e contras de comer a salada junto da refeição:
Prós:
Equilíbrio nutricional;
Saciedade prolongada;
Aprimoramento de texturas e sabores;
Controle glicêmico. 
Contras:
Potencial menor consumo de salada;
Certo desconforto pela mistura de temperaturas dos alimentos - quente e frio;
Menor impacto no controle do apetite;
Foco reduzido na ingesta dos vegetais. 
Sugestões de salada para antes ou junto da refeição
O especialista também dá as dicas do que é bom, idealmente, comer antes ou junto da refeição.</p>
<p class='noticia-conteudo'>Confira as sugestões a seguir, mas certifique-se de fazer as combinações que agradem ao seu paladar, ao mesmo tempo em que são nutritivas. 
Antes da refeição:
Folhas verdes escuras (espinafre, rúcula, alface romana, couve): são ricas em fibras, possuem baixo teor calórico, vários nutrientes, como as vitaminas A, C e K, e antioxidantes, que auxiliam no preparo do sistema digestivo;
Pepino: tem alto teor de água, o que torna o vegetal altamente hidratante, além de leve e refrescante, contribuindo na saciedade inicial da refeição, sem pesar no estômago;
Cenoura crua: é rica em fibras e betacaroteno, precursor da vitamina A.  Também ajuda a promover a saciedade, além de contribuir para a saúde ocular;
Rabanete: possui uma textura crocante e é leve.</p>
<p class='noticia-conteudo'>Suas fibras auxiliam no controle do apetite e a digestão;
Tomate: muito comum nas saladas, é rico em licopeno, importante antioxidante.  Possui vitamina C e é excelente opção para aumentar o valor nutricional e a hidratação antes da refeição. 



Junto da refeição:
Brócolis e couve-flor: podem ser consumidos cozidos no vapor ou mesmo crus.</p>
<p class='noticia-conteudo'>Estão no grupo dos crucíferos, que são ricos em fibras, vitamina C e compostos sulforafanos, que ajudam na digestão e possuem propriedades antioxidantes;
Abobrinha: crua ou rapidamente cozida, é leve e fácil de digerir.  É ideal para complementar proteínas e carboidratos, sem pesar no estômago;
Beterraba: é uma hortaliça tuberosa que fornece nitratos naturais, que podem melhorar a circulação sanguínea e fornecer energia, durante e após a refeição;
Pimentão: independentemente da cor - verde, vermelho ou amarelo -, é rico em vitamina C e antioxidantes.  Pode adicionar textura e sabor à refeição, com o benefício de auxiliar na melhora da absorção de ferro de alimentos vegetais;
Cogumelos: cozidos ou em conserva, são ricos em proteínas vegetais, fibras e compostos bioativos, substâncias que fortalecem o sistema imunológico;
Berinjela: grelhada ou assada, pode compor a salada como uma excelente fonte de fibras solúveis, que ajuda a estabilizar os níveis de açúcar no sangue, durante a refeição.</p>
<p class='noticia-conteudo'>Leguminosas: feijões verde, ervilhas e lentilhas entram na lista de ingredientes que adicionam fibras e proteínas vegetais à salada, importantes para promover uma saciedade mais prolongada e uma refeição balanceada. 
Como inserir a salada nas refeições
O presidente da Abran dá dicas de como adotar a salada nas refeições, especialmente comendo antes do prato principal. 
— Em uma refeição equilibrada, sempre é importante considerar a variedade de alimentos.</p>
<p class='noticia-conteudo'>Mas também que sejam práticos e despertem prazer ao serem consumidos.  Assim, se torna mais fácil criar e manter o hábito de começar uma refeição pela salada — ensina Durval. 
— Garantir um prato completo de salada à parte ajuda.</p>
<p class='noticia-conteudo'>Comece pela salada crua apenas temperada com azeite, pitada de sal e limão ou com molhos agridoces que aumentam a palatabilidade da salada, como o de mostarda, mel e limão.  Caso a salada vá no prato comum, garanta que pelo menos 30% a 40% dele seja representado por vegetais cozidos.  Assim haverá nutrientes que geram bem à saúde, dão energia e promovem bem-estar — acrescenta Rejane.</p>
<p class='noticia-conteudo'>Confira as dicas:
Faça uma salada atraente: basta incluir diversos ingredientes, de preferência coloridos, e sempre optar pela versão de molhos saudáveis e caseiros, como o de ervas e azeite, para realçar o sabor;
Coma antes: inicie a refeição principal pela salada e reserve um prato exclusivo para ela;
Mude aos poucos: hábitos se criam devagar.  Por isso, inicie com porções menores de salada e aumente-as gradualmente;
Adote sabores familiares: combine ingrediente com folhas e vegetais e inclua outros alimentos que já aprecia, como porções de queijo ou frutas secas;
Prepare com antecedência: se as folhas já estiverem lavadas e os legumes, higienizados, torna-se mais práticos montar a salada;
Pense nos benefícios: vale chamar a atenção para o fato de as saladas auxiliarem na saciedade e na digestão.  Pode ser um estímulo extra para o consumo;
Invente desafios: tente transformar o hábito em compromisso temporário, para inserir a salada no cardápio.</p>
<p class='noticia-conteudo'>Elogios para quem conquista esta meta sempre são estímulos, que valem, inclusive, para as crianças. 
Fontes:
Rejane Viana é formada em Nutrição pela Universidade do Estado da Bahia (UNEB).  Atua como nutricionista clínica, com ênfase em cuidado intestinal, intolerâncias alimentares e gestão de peso.</p>
<p class='noticia-conteudo'>Tem mestrado em Bioquímica em Saúde pela Escola Superior de Saúde (ESS) do Instituto Politécnico do Porto (IPP), em Portugal. 
Durval Ribas Filho é médico nutrólogo, fellow da The Obesity Society e presidente da Associação Brasileira de Nutrologia (Abran).  Graduado em Medicina na Faculdade de Medicina da Fundação Padre Albino, tem especializações em Clínica Médica, Endocrinologia, Nutrologia e Saúde Pública e mestrado e doutorado em Ciências da Saúde na Faculdade de Medicina de São José do Rio Preto.</p>
<p class='noticia-conteudo'>Juliana Saldanha é nutricionista do Departamento de Cardiometabolismo da Associação Brasileira para o Estudo da Obesidade e Síndrome Metabólica (Abeso).  Formada em Nutrição pela Universidade Federal Fluminense (UFF), tem especialização em Nutrição Clínica na Universidade Gama Filho, mestrado em Ciências Médicas na UFF e doutorado em Ciências Médicas na UFF, com período sanduíche na Université Claude Bernarde, em Lyon, na França..</p>
{% endblock main_content %}

