
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Salah indica saída do Liverpool Estou mais fora do que dentro{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Salah indica saída do Liverpool: "Estou mais fora do que dentro"
Atacante quebra silêncio com imprensa para falar sobre situação no clube.  Seu contrato se encerra em junho de 2025 e ainda não houve proposta



Southampton 2 x 3 Liverpool | Melhores momentos | Campeonato Inglês
A Era Salah está perto do fim no Liverpool.  Quem admitiu foi o próprio atacante, após a vitória sobre o Southampton, no domingo.</p>
<p class='noticia-conteudo'>Em conversa com jornalistas na zona mista, o craque egípcio afirmou que ainda não recebeu proposta para renovar seu contrato com os Reds - o compromisso se encerra em junho de 2025. 
- Estamos quase em dezembro, e eu ainda não recebi propostas para continuar no clube.  Estou provavelmente mais fora do que dentro - disse Salah, em uma rara aparição na zona mista.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_9_0.jpg"></div><p class='foto-descricao'>Salah segue brilhando com a camisa do Liverpool, em todas as competições — Foto: Getty Images</p>
O atacante de 32 anos deixou claro que gostaria de permanecer no Liverpool, mas afirmou que um acordo não depende apenas dele.  A partir de janeiro, Salah poderá assinar um pré-contrato de graça com qualquer outro clube. 
- Eu estive no clube por muitos anos.</p>
<p class='noticia-conteudo'>Não há clube como este.  Mas, no fim das contas, não está nas minhas mãos.  Estamos em dezembro, e eu não recebi nada sobre meu futuro.</p>
<p class='noticia-conteudo'>Eu amo os torcedores, os torcedores me amam.  No fim das contas não está nas minhas mãos ou nas mãos dos torcedores.  Vamos esperar e ver - completou.</p>
<p class='noticia-conteudo'>Veja os jogadores mais bem pagos do mundo em 2024
De acordo com o site "The Athletic", fontes do Liverpool garantem que há conversas em curso com o empresário de Salah, Ramy Abbas. 
Por outro lado, o atacante segue sendo objeto de desejo de clubes da Arábia Saudita.  Em 2023, o Liverpool recusou uma proposta de 150 milhões de libras do Al-Ittihad por Salah.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}

