
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Salah renovará com Liverpool por dois anos, diz jornal{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Salah renovará com Liverpool por dois anos, diz jornal
Craque egípcio chegou a reclamar publicamente da demora em receber uma proposta de renovação do clube inglês

08/12/2024 06h37 Atualizado há 3 horas

Liverpool 2 x 0 Manchester City | Melhores Momentos | 13ª rodada | Campeonato Inglês 24/25
Mohamed Salah e Liverpool chegaram a um acordo para uma renovação de contrato por mais dois anos, segundo noticiou o jornal The Mirror.  O vínculo atual do craque egípcio com o clube inglês termina em junho de 2025.  A assinatura do novo contrato ainda não ocorreu.</p>
<p class='noticia-conteudo'>Nos últimos dias, a permanência de Salah no time pelo qual joga desde 2017 chegou a ser colocada em dúvida. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_219_0.jpg"></div><p class='foto-descricao'>Salah comemora gol do Liverpool contra o Chelsea — Foto: John Powell/Liverpool FC via Getty Images</p>
Depois da vitória do Liverpool sobre o Southampton, Salah disse, em entrevista na zona mista, que ainda não tinha recebido proposta para renovar seu contrato com os Reds.  Na ocasião, o atacante deixou claro que gostaria de permanecer na equipe, mas que isso não dependia só dele.</p>
<p class='noticia-conteudo'>Sem a renovação, a partir de janeiro, Salah poderia assinar um pré-contrato de graça com qualquer outro clube. 

Conforme o The Mirror, Salah queria estender o contrato por três anos, enquanto o Liverpool inicialmente oferecia uma renovação por mais uma temporada.  Isso porque o clube tem sido relutante em assinar vínculos extensos com jogadores acima de 30 anos.</p>
<p class='noticia-conteudo'>Salah tem 32. 
Apesar do impasse que havia sido criado, inclusive com o Paris Saint-Germain (PSG) tendo de desmentir rumores sobre o interesse na contratação do egípcio, Salah segue brilhando com a camisa do Liverpool.  Ele é o artilheiro desta temporada da Premier League, com 13 gols em 14 jogos.</p>
<p class='noticia-conteudo'>Contabilizando todas as competições, o craque tem 15 gols e 12 assistências em 21 jogos. 
LIVERPOOL.</p>
{% endblock main_content %}

