
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}santos{% endblock title %}
{% block main_title %}santos{% endblock main_title %}
{% block second_title %}Salário alto e investimento milionário entenda os pedidos de Luís Castro ao Santos{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Salário alto e investimento milionário: entenda os pedidos de Luís Castro ao Santos
Português teria um custo mensal de cerca de R$ 2 milhões e controle quase que total do CT



Joanna de Assis analisa demissão de Carille no Santos: "Cumpriu o trabalho com excelência"
O Santos está dividido nos bastidores e ainda não definiu quem será o técnico para o ano que vem.  O nome da vez é de Cuca, porém há uma relação direta com um certo esfriamento na negociação com Luís Castro.  Isto porque, os valores apresentados pelo português são considerados altíssimos.</p>
<p class='noticia-conteudo'>O custo com Luís Castro e sua equipe técnica é de aproximadamente R$ 2 milhões mensais.  Além dos salários, o português pede um aporte milionário para a montagem do elenco.  A quantia exata é mantida em sigilo, mas as cifras giram em torno de R$ 50 milhões para contratações nos primeiros meses da próxima temporada.</p>
<p class='noticia-conteudo'>Mais do Peixe:



<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_1_0.jpg"></div><p class='foto-descricao'>Luís Castro, Botafogo — Foto: Vítor Silva/Botafogo</p>
Fora a questão financeira, considerada um problema para o Santos, o pacote Luís Castro passa necessariamente pelo controle do departamento de futebol.  Isto é, ter homens de sua confiança em posições-chave do CT Rei Pelé, ter carta branca para fazer mudanças nos processos internos do clube (caso entenda necessário) e ter poder de decisão sobre a categoria de base.  
As exigências do treinador tendem a ser um obstáculo na construção de uma relação sólida.</p>
<p class='noticia-conteudo'>Afinal, não é raro o Santos abrir as portas do CT Rei Pelé para pessoas próximas à direção e determinados conselheiros para acompanharem sessões de treinamento e terem acesso direto ao elenco.  

Procurado pela reportagem, o staff de Luís Castro informou que o treinador desperta interesse de outros clubes e ainda não tomou a decisão sobre seu futuro.  
– Os custos são importantes, mas não são determinantes.</p>
<p class='noticia-conteudo'>O projeto é fundamental – explicou um de seus representantes. 
Conforme noticiado pelo ge, as conversas entre Santos e Luís Castro estão em andamento.  No entanto, preocupado com a possibilidade de um desfecho negativo, o clube se reaproximou de Cuca nos bastidores.</p>
<p class='noticia-conteudo'>Atualmente no Grêmio, Renato Gaúcho corre por fora na briga. 

50 vídeos.</p>
{% endblock main_content %}

