
    {% extends "html/modelo.html" %}

    {% block title %}Salva a pátria do Flamengo veja cinco vezes em que Léo Pereira evitou gols em cima da linha{% endblock title %}
    {% block main_title %}Salva a pátria do Flamengo veja cinco vezes em que Léo Pereira evitou gols em cima da linha{% endblock main_title %}
    {% block second_title %}None{% endblock second_title %}
    {% block main_content %}<p class='noticia-conteudo'>"Salva a pátria do Flamengo": veja cinco vezes em que Léo Pereira evitou gols em cima da linha
Zagueiro tirou da defesa a bola em lance que terminou no gol que sacramentou título do Flamengo na Copa do Brasil

11/11/2024 17h51 Atualizado

Léo Pereira tira lance em cima da linha e Flamengo faz gol no Atlético-MG na sequência
O bonito gol de Plata sobre o Atlético-MG, que confirmou o título do Flamengo da Copa Brasil neste domingo, foi construído após um chutão de Léo Pereira para interromper a intensa pressão que o Galo fazia contra a defesa rubro-negra.  Se o zagueiro não estivesse no lugar certo e no momento de perigo, o time da casa poderia ter ensaiado uma reação, o que não aconteceu.  Mas esta não foi a primeira vez em que o jogador evitou gols (quase) feitos.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="/media/Salva_a_patria_do_Flamengo_veja_cinco_vezes_em_que_Leo_Pereira_evitou_gols_em_cima_da_linha_0.jpg"></div>Léo Pereira evita o gol do Vasco em cima da linha, pela segunda vez no clássico — Foto: André Durão


O zagueiro tem o hábito, em lances de superioridade numérica da defesa, de se posicionar sob a trave.  Quase um segundo goleiro, que não utiliza as mãos, mas, se necessário, se atira na bola para salvar com os pés ou de cabeça.  O ge listou quatro jogadas em que Léo Pereira fez cortes da defesa que valeram como gols; veja:
Ceará x Flamengo (Brasileirão 2021)
Em 2021, o Flamengo ficou no empate em 1 a 1 com o Ceará, no Castelão.</p>
<p class='noticia-conteudo'>No segundo tempo, Rick protagonizou uma bonita jogada individual e só não fez o gol porque o zagueiro do Flamengo se colocou na frente da bola.  "Salva a pátria do Flamengo", destacou Luiz Roberto na transmissão da Globo. 
Léo Pereira, do Flamengo, tira finalização em cima da linha contra o Ceará
2 vezes em Vasco x Flamengo (Carioca 2024)
No Cariocão deste ano, o Vasco recorreu a uma de suas principais jogadas de ataque para abrir o placar.</p>
<p class='noticia-conteudo'>Piton avançou pela esquerda e fez ótimo lançamento para Vegetti subi alto e soltar um tiro de cabeça, que venceu o goleiro Rossi, mas parou num carrinho de Léo Pereira.  A partida terminou em 0 a 0.  O Rubro-Negro foi campeão do torneio de forma invicta e sofreu apenas um gol em todo Carioca.</p>
<p class='noticia-conteudo'>Léo Pereira salva Flamengo e tira bola em cima da linha contra o Vasco
Quase um milagre. ..</p>
<p class='noticia-conteudo'>No mesmo jogo, Vegetti teve outra oportunidade ainda mais incrível.  Depois de o goleiro Rossi cruzamento furar a bola e Varela não conseguir cortar, Vegetti ficou livre na pequena área e bateu para o gol.  Léo Pereira se agigantou na frente do atacante e tirou com os pés.</p>
<p class='noticia-conteudo'>O rebote ficou novamente com o argentino, que raspou o pé, a bola acertou a trave e, caído, o zagueiro conseguiu afastar mais uma vez do gol rubro-negro. 
Aos 13 min do 2º tempo - defesa de Léo Pereira do Flamengo contra o Vasco
Flamengo x Corinthians (Copa do Brasil 2024)
Na estreia do técnico Filipe Luís, o Flamengo pressionou o Corinthians por quase todo o jogo e venceu por 1 a 0.  Mas uma escapada da equipe paulista quase terminou em gol e poderia ter complicado o Rubro-Negro.</p>
<p class='noticia-conteudo'>Mais uma vez, Léo Pereira mergulhou para ajudar o goleiro Rossi. 
No fim do jogo, Léo Pereira tira chute em cima da linha pro Flamengo contra o Corinthians
Atlético-MG x Flamengo (Copa do Brasil 2024)
Em um momento de intensa pressão, a bola sobrou livre para Alan Kardec abrir o placar para o Galo na reta final da decisão da Copa do Brasil, mas o atacante se atrapalhou e furou de forma impressionante.  Léo Pereira, que não tinha nada com o erro alheio, ficou com a sobra e isolou a bola para frente.</p>
<p class='noticia-conteudo'>Na sequência, o Flamengo emendou um contra-ataque, que terminou com golaço de Plata, que sacramentou o título rubro-negro. 
Léo Pereira tira lance em cima da linha e Flamengo faz gol no Atlético-MG na sequência


Assista: tudo sobre o Flamengo no ge, na Globo e no sportv
50 vídeos
FLAMENGO.</p>
{% endblock main_content %}
    