
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}santos{% endblock title %}
{% block main_title %}santos{% endblock main_title %}
{% block second_title %}Santos tem Dia D para definição de Quinteros como novo técnico{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Campeonato Argentino será encerrado neste domingo e, independentemente de título ou não do Vélez Sarsfield, o Peixe aguarda o profissional nos próximos dias



Neymar, Gabigol e Pacaembu: presidente do Santos detalha planos


Independentemente do resultado, a temporada argentina chegará ao fim e a tendência é de que Quinteros anuncie a transferência para o clube da Vila Belmiro logo após o término da partida.  
No momento, segundo apurou o ge, não há um contrato firmado entre Santos e o treinador.  Apesar disso, a diretoria do Peixe está confiante de que terá um desfecho positivo na negociação e trabalha na execução do planejamento alinhado com Quinteros.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_420_0.jpg"></div><p class='foto-descricao'>Gustavo Quinteros, do Vélez, é o alvo do Santos no mercado — Foto: Reprodução/ Instagram</p>
Por outro lado, o Vélez Sarsfield tentará uma renovação de última hora.  O time argentino tem contrato válido até o dia 31 de dezembro e, classificado para a Conmebol Libertadores do ano que vem, quer manter a comissão técnica.  

O fato é que o martelo será batido apenas ao término da partida e, consequentemente, do Campeonato Argentino.</p>
<p class='noticia-conteudo'>O Santos aguarda Quinteros na Baixada Santista na semana que vem para anunciar a contratação, colocar a temporada 2024 no passado, e virar a chave para o ano de 2025.  
Até o momento, o Peixe tem negociações com Danilo Barbosa, Tiquinho Soares, Luisão e Erick, mas não finalizou nenhuma contratação..</p>
{% endblock main_content %}

