
    {% extends "html/modelo.html" %}
    {% load static %}
    

    {% block title %}Santos crê que ainda pode contratar Gabigol, apalavrado com o Cruzeiro{% endblock title %}
    {% block main_title %}Santos crê que ainda pode contratar Gabigol, apalavrado com o Cruzeiro{% endblock main_title %}
    {% block second_title %}None{% endblock second_title %}
    {% block main_content %}<p class='noticia-conteudo'>Santos crê que ainda pode contratar Gabigol, apalavrado com o Cruzeiro
Dirigentes alvinegros veem propostas parecidas e contam com carinho do atacante pelo clube para tê-lo em 2025; mineiros já acertaram base do contrato, mas não assinaram



No Seleção, Marcelo Teixeira revela proposta a Gabigol para retorno ao Santos em 2025
Apesar de o Cruzeiro ser apontado como o destino do atacante Gabriel para o ano que vem, o Santos, que volta à Série em 2025, ainda acredita na contratação do jogador, que anunciou que deixará o Flamengo no fim de dezembro. 

A reportagem apurou que há uma discussão entre o clube e representantes do atleta de um projeto para o retorno ao clube que o formou. 
Gabigol afirmou que não irá renovar com o Flamengo ainda no gramado da MRV Arena, onde a equipe conquistou a Copa do Brasil, domingo.</p>
<p class='noticia-conteudo'>Logo depois, o ge informou que o atacante tinha se acertado com o Cruzeiro.  As bases salariais e as luvas estão acordadas, tal como o tempo de vínculo, de quatro anos. 
Apesar de estar apalavrado com o clube de Belo Horizonte, não há um contrato assinado – o que faz com que o Santos não desista do negócio.</p>
<p class='noticia-conteudo'>Gabigol pode se tornar um atleta mais bem pago do Brasil no Cruzeiro. 
Mais do Peixe:



<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}n_4_0.jpg"></div>Gabigol defendeu o Santos pela última vez em 2018 — Foto: Douglas Magno/BP Filmes
Essa informação é contestada por dirigentes paulistas, que não revelam valores, mas afirmam que a proposta do Cruzeiro é menor do que a divulgada.  A oferta santista é de R$ 2 milhões, mas o clube pode aumentar esse montante para convencer Gabigol a retornar à Vila.</p>
<p class='noticia-conteudo'>Conta a favor do clube alvinegro, na visão dessas pessoas, o carinho que o atacante mantém pelo clube.  A ideia é que ele use o número 10, que ficou sem ser utilizado durante a disputa da Série B deste ano em respeito à história da camisa. 
Depois da publicação da matéria no ge, o presidente Marcelo Teixeira falou ao vivo no Seleção SporTV sobre a proposta na mesa de Gabriel e seu estafe, confirmando que o clube "está no páreo" pelo jogador.</p>
<p class='noticia-conteudo'>– Veja o Gabriel: conversamos, conversamos com a família.  Temos aproximação grande com a família.  Quisemos saber de que maneira seria o caso futuro dele.</p>
<p class='noticia-conteudo'>Entendemos o caso, buscamos alternativas de parceiros.  Fizemos a proposta a ele e ao pai.  Conheço o pai.</p>
<p class='noticia-conteudo'>Conheço o Gabriel.  Eu sei do caráter e posicionamento deles.  Não me retornaram dizendo se vão para esse ou aquele clube.</p>
<p class='noticia-conteudo'>Estamos aguardando essa definição.  Jogadores desse quilate vem por desafios e projeto.  Não podemos ficar parados, mas se comprometer só com o acesso garantido – disse o presidente.</p>
<p class='noticia-conteudo'>O atacante foi formado no clube e estreou em 2013, ao substituir Neymar no jogo de despedida do atleta que estava a caminho do Barcelona. 
Em 2016, ele foi vendido à Inter de Milão, mas não fez sucesso na Europa.  Jogou no Benfica por um período antes de voltar ao Santos, por empréstimo, em 2018.</p>
<p class='noticia-conteudo'>Na Vila, teve grande temporada, com 52 jogos e 27 gols.  O Santos, porém, não conseguiu bancar a pedida da Inter para mantê-lo no elenco no ano seguinte, e Gabigol foi emprestado ao Flamengo. 

Na equipe carioca, que comprou seus direitos em seguida, fez história ao vencer Libertadores, Brasileiro e Copa do Brasil.</p>
<p class='noticia-conteudo'>50 vídeos.</p>
{% endblock main_content %}
    