
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}santos{% endblock title %}
{% block main_title %}santos{% endblock main_title %}
{% block second_title %}Santos tem interesse no zagueiro Caetano, do Corinthians{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Diretoria do Peixe buscou informações sobre o jogador do rival, mas não apresentará proposta até assinar contrato com o novo treinador



Neymar, Gabigol e Pacaembu: presidente do Santos detalha planos


Nascido no Rio de Janeiro, Caetano é um zagueiro canhoto, de 1,83 m de altura e 25 anos de idade.  O defensor tem passagens pelas categorias de base de Vasco e Botafogo antes de chegar ao Corinthians.  Nos últimos anos, colecionou empréstimos e defendeu as cores de Oeste, Coritiba, São Caetano, CRB e Goiás.</p>
<p class='noticia-conteudo'>Leia também:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_408_0.jpg"></div><p class='foto-descricao'>Zagueiro Caetano pode ganhar chance como titular do Corinthians no clássico — Foto: Rodrigo Coca/Ag.  Corinthians</p>
Na atual temporada, chegou a ser titular do Corinthians nos primeiros meses do ano, mas depois perdeu espaço com a chegada de nomes mais experientes ao elenco do clube do Parque São Jorge.  Ao todo, em 2024, disputou 15 partidas com mais de 900 minutos em campo.</p>
<p class='noticia-conteudo'>O jogador tem contrato com o Corinthians até o fim desta temporada e está avisado que não faz parte dos planos para o ano que vem.  Ciente da situação, o Santos entrou em contato, levantou informações e se mostrou disposto a apresentar uma proposta. 
Contudo, no momento, as conversas estão interrompidas.</p>
<p class='noticia-conteudo'>Antes de avançar no negócio, o Peixe quer ter certeza que o nome de Caetano se encaixa no estilo da nova comissão técnica..</p>
{% endblock main_content %}

