
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}flamengo{% endblock title %}
{% block main_title %}flamengo{% endblock main_title %}
{% block second_title %}Santos define permanências de Lucas Braga e Lucas Barbosa no elenco em 2025{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Santos define permanências de Lucas Braga e Lucas Barbosa no elenco em 2025
Após empréstimos em 2024, dupla será aproveitada e reintegrada ao Peixe em janeiro

04/12/2024 12h29 Atualizado há 3 horas

Você Viu? Santos espera resposta de dupla de ataque para 2025
O Santos definiu a permanência de Lucas Braga e Lucas Barbosa em seu elenco para 2025.  A dupla de atacantes será reintegrada no início de janeiro e viajará com o grupo para Orlando, nos Estados Unidos, no dia 5, para realizar a pré-temporada. 

Lucas Barbosa passou o ano emprestado ao Juventude.</p>
<p class='noticia-conteudo'>Ele se destacou pela equipe gaúcha com 54 jogos, 14 gols e cinco assistências, o que despertou interesse de outros clubes, como o Vasco.  Porém, o Peixe alinhou com seu agente sua permanência no elenco. 
Mais sobre o Santos:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_34_0.jpg"></div><p class='foto-descricao'>Atlético-MG x Juventude Lucas Barbosa — Foto: Alessandra Torres/AGIF</p>
Barbosa, aos 23 anos, tem contrato com o Santos até julho de 2026.</p>
<p class='noticia-conteudo'>Ele pode atuar pelas duas pontas do ataque e também no meio-campo e é visto como um jogador de bom potencial a ser explorado antes de uma possível negociação. 
Lucas Braga também será aproveitado pelo Peixe.  Ele passou a temporada cedido ao Shimizu S-Pulse, da segunda divisão japonesa, mas vai retornar.</p>
<p class='noticia-conteudo'>Aos 28 anos, tem contrato até abril de 2026 com o Santos. 
Os retornos de Braga e Barbosa começam a preencher espaços que foram abertos no elenco ao término desta temporada.  Os atacantes Pedrinho e Nacho Laquintanna, por exemplo, estão em fim de contrato e não permanecerão no Santos em 2025.</p>
<p class='noticia-conteudo'>50 vídeos.</p>
{% endblock main_content %}

