
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Palmeiras{% endblock title %}
{% block main_title %}Palmeiras{% endblock main_title %}
{% block second_title %}Santos diz que avançou em negociação com WTorre pela nova Vila Belmiro{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Santos diz que avançou em negociação com WTorre pela nova Vila Belmiro
Clube negocia com a construtora os termos da pré-venda de cadeiras e camarotes do novo estádio



Torcida do Santos elege melhores (e piores) do ano
Em nota divulgada na tarde desta sexta-feira, o Santos informou que avançou nas negociações com a WTorre para a construção de uma nova Vila Belmiro.  A expectativa é de que o clube e a construtora assinem um contrato formalizando o acordo em 2025. 

De acordo com o comunicado, a reunião desta semana foi para alinhar tópicos estratégicos do projeto, como a campanha de pré-venda das cadeiras e camarotes.</p>
<p class='noticia-conteudo'>Nos próximos dias, haverá um novo encontro da diretoria do Peixe com os executivos da construtora para alinhar questões pendentes. 
Mais sobre o Santos:



<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_101_0.jpg"></div><p class='foto-descricao'>Nova Vila Belmiro terá um grande impacto na cidade de Santos — Foto: Divulgação</p>
A nova Vila Belmiro é um projeto antigo do clube, iniciado na gestão de José Carlos Peres. 
A expectativa do Santos é ter um novo estádio com capacidade para pouco mais de 30 mil pessoas no terreno onde está construída a atual Vila Belmiro.</p>
<p class='noticia-conteudo'>Para que isso seja possível, o Peixe pretende arrecadar um alto valor com a venda de cadeiras, camarotes, espaços vip e comerciais do novo estádio.  O restante do dinheiro viria do investimento de bancos parceiros. 
Por enquanto, não há uma data estipulada para o início das obras.</p>
<p class='noticia-conteudo'>A expectativa mais otimista é de que isso possa acontecer no segundo semestre do ano que vem. 

Leia, na íntegra, a nota publicada pelo Santos:
"Em reunião realizada nesta sexta-feira (29), executivos do Santos Futebol Clube e da WTorre Entretenimento avançaram nas negociações sobre a construção da nova Arena.  No encontro, foram solucionados tópicos estratégicos que abrangem o projeto, tais como a campanha de pré-venda de cadeiras e camarotes entre outros assuntos.</p>
<p class='noticia-conteudo'>Nos próximos dias será realizado um novo encontro para detalhamento do plano de negócios atualizado.  As partes entendem que a solução desses ajustes finais é de grande importância para que a construção da nova Vila Belmiro, que será uma das mais modernas da América Latina, seja iniciada o quanto antes". 


50 vídeos.</p>
{% endblock main_content %}

