
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}santos{% endblock title %}
{% block main_title %}santos{% endblock main_title %}
{% block second_title %}Santos se reúne com empresário de Castro e espera resposta do técnico até sexta-feira{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Santos se reúne com empresário de Castro e espera resposta do técnico até sexta-feira
Representante do treinador português visitou a Vila; clube vê avanço na negociação



Torcedores de Santos, Mirassol, Sport e Ceará comemoram o acesso à Série A do Brasileirão
O Santos está otimista quanto a contratação do técnico Luís Castro.  O empresário do português, Antônio Teixeira, chegou ao Brasil, visitou a Baixada Santista, conheceu as instalações alvinegras e se reuniu com a cúpula santista. 

O Peixe quer uma resposta até sexta-feira, mas viu sinais positivos do empresário e entende ter avançado bem para ter seu plano A no comando técnico da equipe em 2025.</p>
<p class='noticia-conteudo'>Antônio Teixeira seguirá no Brasil pelo menos até esta terça-feira, quando pode retornar a Lisboa. 
Mais sobre o Santos:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_64_0.jpg"></div><p class='foto-descricao'>Luis Castro, ex-técnico do Botafogo, pode ser o próximo técnico do Santos — Foto: Vitor Silva/Botafogo</p>
A negociação por Castro acontece há várias semanas e, como o ge vem informando, o clube só irá avançar em outro nome se não houver possibilidades de contratar o português.  Neste início de semana, ele voltou a ganhar força nos bastidores.</p>
<p class='noticia-conteudo'>Castro é visto pelo Santos como um nome capaz de coordenar uma boa mudança no departamento de futebol e ser o capitão de uma reformulação para o retorno à Série A.  Para tê-lo como treinador, o Peixe está disposto a fazer esforços financeiros não só de salário, mas também de investimento. 
O clube entende que nesse retorno à elite precisa dar um passo certeiro na escolha do comandante.</p>
<p class='noticia-conteudo'>Castro tem oferta de vários clubes, incluindo alguns dos Emirados Árabes.  O português esteve em Dubai com seu estafe e, por ora, ainda não se decidiu sobre o futuro. 


50 vídeos.</p>
{% endblock main_content %}

