
            {% extends "html/modelo.html" %}
            {% load static %}

            {% block title %}sao_paulo{% endblock title %}
            {% block main_title %}sao_paulo{% endblock main_title %}
            {% block second_title %}Sao paulo teste{% endblock second_title %}
            {% block main_content %}
            <p class='noticia-conteudo'>Sao paulo é bairro</p>
            <div class='div-imagem'><img class='noticia-imagem' src='/media/noticias/n_394_0.jpg' alt='Imagem'></div>
            {% endblock main_content %}
            