
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Palmeiras{% endblock title %}
{% block main_title %}Palmeiras{% endblock main_title %}
{% block second_title %}São Paulo acumula déficit de R$ 191 milhões em nove meses; dívida vai a R$ 886 milhões{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>São Paulo acumula déficit de R$ 191 milhões em nove meses; dívida vai a R$ 886 milhões
Dados constam em parecer produzido por membro do Conselho Fiscal do clube, que não divulga balancetes



Casares fala sobre déficit do São Paulo em 2024
O São Paulo acumulou um déficit de R$ 191 milhões entre janeiro e setembro, período em que a dívida do clube cresceu de R$ 666 milhões para R$ 886 milhões. 
Os números constam em parecer complementar produzido por um membro do Conselho Fiscal do clube, que não divulga balancetes, divulgado pelo pesquisador Alexandre Giesbrecht em rede social.  O ge confirmou o conteúdo do documento.</p>
<p class='noticia-conteudo'>O parecer é do dia 18 de novembro, assinado pelo conselheiro Paulo Affonseca de Barros Faria Neto, e é complementar a um parecer bem mais vago produzido pelo Conselho Fiscal quatro dias antes. 

Lucas Moura vive uma das melhores temporadas da carreira em 2024
No documento, Faria Neto revela preocupação com o endividamento “pois é quase o dobro do orçamento anual da instituição”. 
Ele cita que havia a previsão de receitas de R$ 108 milhões no período com a venda de atletas, tendo sido realizados apenas R$ 73 milhões.</p>
<p class='noticia-conteudo'>Além disso, as despesas com pessoal e direitos de imagem foram R$ 30 milhões acima do orçado. 
Como comparação, o clube registrou déficit de R$ 62 milhões em 2023. 
Mais do São Paulo:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_101_0.jpg"></div><p class='foto-descricao'>Julio Casares, presidente do São Paulo — Foto: Rodrigo Corsi/Ag.</p>
<p class='noticia-conteudo'>Paulistão</p>

Nesta semana, em evento da CBF, o presidente do São Paulo, Julio Casares, admitiu que o clube teria um déficit muito alto, sem revelar os números. 
Ele justificou com a decisão da diretoria de negar propostas por atletas no ano passado, quando time disputou e venceu a final da Copa do Brasil. 
– Claro que é ruim terminar o exercício com déficit muito alto, mas o São Paulo ao priorizar aquelas disputas.</p>
<p class='noticia-conteudo'>. .  Eu me lembro que antes da final contra o Flamengo tínhamos propostas para quatro jogadores titulares.</p>
<p class='noticia-conteudo'>Naquele momento, eu iria terminar o ano com superávit se tivesse vendido.  Mas, naquele momento, era muito importante a conquista.  Corremos riscos – disse Julio Casares.</p>
<p class='noticia-conteudo'>A partir do ano que vem, o São Paulo não poderá registrar mais déficits.  É uma das regras da criação de um Fidc (Fundo de Investimentos em Direitos Creditórios) criado para pagar as dívidas bancárias do clube.  Ele também impõe um teto de R$ 350 milhões de investimento no futebol.</p>
<p class='noticia-conteudo'>50 vídeos
SÃO PAULO.</p>
{% endblock main_content %}

