
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}selecao{% endblock title %}
{% block main_title %}selecao{% endblock main_title %}
{% block second_title %}Seleção e Olodum como relação vai além do futebol e vira arma na luta por igualdade racial{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Seleção e Olodum: como relação vai além do futebol e vira arma na luta por igualdade racial
Entenda como visibilidade fez grupo lutar contra violência e carregar bandeira contra o preconceito pelo mundo.  Em entrevista ao ge, Galvão Bueno se declara após anos de parceria



Galvão Bueno se declara ao Olodum após anos de parceria em transmissões da Seleção
Futebol e música se combinam.  E isso é indiscutível.</p>
<p class='noticia-conteudo'>É só experimentar o silêncio de um estádio para saber que uma partida sem aquela gritaria unida ao ritmo dos tambores nas arquibancadas não tem a mesma graça.  E, no Brasil, nada simboliza tanto essa união que dia de jogo da seleção brasileira e o som do Olodum no Pelourinho.  Parceria que vai muito além do lúdico e significa resistência ✊🏿🟩🟨✊🏿.</p>
<p class='noticia-conteudo'>E quis o destino que o último jogo da Seleção em 2024 fosse disputado em Salvador, capital mais negra do país, na véspera do Dia da Consciência Negra.  Nas raízes do Olodum, que teve na construção da relação com a seleção brasileira a oportunidade de se notabilizar no meio musical e deixar de ser visto como um grupo marginalizado. 
Mudou muito o respeito das pessoas com o Olodum.</p>
<p class='noticia-conteudo'>A parceria foi na hora que a gente mais precisava.  Alguns músicos do Olodum estavam sofrendo violência". 
— Lazinho, cantor do Olodum
— Deu uma visibilidade maior, dentro do tamanho que a gente queria que o Olodum fosse.</p>
<p class='noticia-conteudo'>Para que nossa reivindicação chegasse nos ouvidos das pessoas que nos interessavam.  Para poder parar com a violência no Centro Histórico.  Bastava você estar em pé em uma esquina que o policial achava que você era vadio.</p>
<p class='noticia-conteudo'>Tinha uma coisa chamada vadiagem, que você era preso — completa o cantor. 
Lazinho explica relação do Olodum com a seleção brasileira
Tudo começou na Copa do Mundo de 1990, quando o então vice-presidente do grupo, Petronilio Alves de Jesus Filho, o Petu, teve a ideia de tocar no Pelourinho nos dias de jogos da Seleção Brasileira.  A partir daquele ano, o Olodum passou a se apresentar nos jogos da Seleção no Centro Histórico de Salvador.</p>
<p class='noticia-conteudo'>A mistura entre futebol, samba reggae e alegria chegou ao ápice na tela da TV em 2002, momento que foi figura certa nas partidas da seleção brasileira.  Quem lembra bem das participações do Olodum nas transmissões daquela Copa do Mundo é Galvão Bueno.  A voz do pentacampeonato da Seleção falou com exclusividade ao ge.</p>
<p class='noticia-conteudo'>— Tudo começou no primeiro jogo, Brasil e Turquia, na Copa de 2002.  No pentacampeonato.  Acabou o primeiro tempo 1 a 0 para os turcos contra a Seleção.</p>
<p class='noticia-conteudo'>E aí me disseram: “Galvão, escolhe aí.  Você tem um restaurante turco, não sei o que, e tem o Olodum lá no Pelourinho”.  Eu falei: “Não tem nem o que pensar, me dá o Olodum no Pelourinho.</p>
<p class='noticia-conteudo'>Axé para nós.  Para virar esse jogo no segundo tempo” — lembra Galvão. 
— Aí entrou o Olodum, falamos sobre isso, o Brasil virou o jogo, fomos campeões em sete jogos.</p>
<p class='noticia-conteudo'>Eles entraram antes dos jogos, no meio dos jogos, depois dos jogos.  Depois foram seis Copas do Mundo com o Olodum como nosso símbolo — completou a voz do Penta. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_17_0.jpg"></div><p class='foto-descricao'>Galvão Bueno convoca o Olodum durante a Copa da Rússia — Foto: Reprodução/TV Globo</p>
O "Chama o Olodum" na voz marcante de Galvão Bueno levava o ritmo para a tela da TV e despertava a atenção de milhões de brasileiros.</p>
<p class='noticia-conteudo'>E a conquista do Penta aumentou a visibilidade do grupo, que passou a ser visto como "talismã" da seleção brasileira. 
"Galvão é uma pessoa única, parceiro nosso e pessoa muito especial.  Deu um empurrãozinho nessa história do Olodum.</p>
<p class='noticia-conteudo'>Ele já faz parte da nossa vida", disse Narcizinho, que também é cantor da banda. 
Do outro lado da tela, Galvão se derrete ao falar do Olodum.  Ele diz que a banda também o ajudou e lembra de outros episódios em que os tambores baianos fizeram parte de sua vida.</p>
<p class='noticia-conteudo'>Ele cita o dia em que recebeu o título de cidadão soteropolitano e também um aniversário em que foi surpreendido pela banda em Londrina. 
— Olodum! Meu querido Olodum.  Falar de Olodum me traz emoções fortes.</p>
<p class='noticia-conteudo'>Grandes momentos.  O Olodum está diretamente em minha vida.  Eu já era fã do Olodum, já admirava muito a forma como o Olodum se conduzia.</p>
<p class='noticia-conteudo'>Respeitando e lutando por suas origens, por sua raça, por seu credo, por sua cor.  Esse sempre foi o ponto forte do trabalho do Olodum, e continua até hoje.  Eles dizem que eu ajudei um pouco, eles me ajudaram muito.</p>
<p class='noticia-conteudo'>Acho que nesses últimos 20 anos acabou que um entrou na vida do outro. 
Haja coração! Galvão Bueno faz 70 anos e ganha música do Olodum
— Em 2010 eu recebi com muita honra o título de cidadão soteropolitano.  É, eu sou baiano também.</p>
<p class='noticia-conteudo'>Recebi lá com os vereadores no Pelô, família, amigos, gente do esporte, da música, pessoas muito queridas minhas.  E de repente entram os tambores do Olodum estourando, os vereadores olhando uns para os outros assustados, acho que nunca imaginaram aquilo.  Eu não aguentei, passei a mão na baqueta, peguei o surdo do grande e comecei a batucar.</p>
<p class='noticia-conteudo'>Que noite maravilhosa, espetacular.  Eles saíram de Salvador e foram até Londrina sem eu saber para tocar e fazer a festa do meu aniversário.  Então é uma ligação — relembra Galvão.</p>
<p class='noticia-conteudo'>Importante visibilidade
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_17_1.jpg"></div><p class='foto-descricao'>Olodum se apresenta no Centro Histórico em noite de jogo da Seleção — Foto: Reprodução/TV Bahia</p>
A união com a Seleção fez o Olodum não apenas ganhar visibilidade no Brasil, como se tornar uma grande marca mundo afora. 
— Fomos para França, Japão, Estados Unidos, Bélgica.  Onde tinha as embaixadas brasileiras a gente ia tocar.</p>
<p class='noticia-conteudo'>Nossa vida praticamente era dentro de avião nos jogos da Copa do Mundo — lembra o cantor Lazinho. 
O professor e historiador Marinho Soares explica que, ao ganhar espaço na TV, o Olodum se notabiliza como marca e ajuda a afastar o preconceito não somente contra o grupo, mas em relação às pessoas que transitam no Centro Histórico de Salvador. 
— A partir do momento que o Olodum começa a aparecer na Copa, onde há os maiores índices de audiência, isso reverbera positivamente para os músicos, para os locais.</p>
<p class='noticia-conteudo'>Isso acaba afastando a dita marginalidade, acaba afastando o dito preconceito em relação às pessoas que transitam no Pelourinho e em especial às pessoas que ali residem.  E, consequentemente, passa a dar uma credibilidade porque o Olodum e o Pelourinho passam a ser uma atração turística — explica. 
Em relação à "vadiagem" mencionada pelo cantor Lazinho, o professor Marinho Soares explica que o termo ganhou força a partir do fim da escravidão, em 1888, quando quem não tinha um trabalho tradicional era considerado "vadio".</p>
<p class='noticia-conteudo'>Um preconceito que persiste até os dias atuais. 
Marinho Soares reforça que, até 1988, era crime fazer um debate público sobre discriminação racial.  Por isso, ao aproveitar os novos espaços e carregar a bandeira do fim do preconceito, o Olodum se torna uma importante ferramenta de luta contra o racismo.</p>
<p class='noticia-conteudo'>— Até hoje a polícia aborda a pessoa na rua e pede o documento.  Isso é tradição de um resquício de outrora.  Antigamente você mostrava a sua carteira de trabalho.</p>
<p class='noticia-conteudo'>Até hoje você levanta a mão e fala que é trabalhador.  Isso excluía, afastava dele a possibilidade de ser vista como um marginal — completa Marinho Soares. 
"O Olodum é muito fruto desse protesto, dessa resistência, dessa luta contra a desigualdade racial.</p>
<p class='noticia-conteudo'>Então é natural que as pessoas olhassem o Olodum, os músicos com certa resistência". 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_17_2.jpg"></div><p class='foto-descricao'>Marinho Soares é professor e advogado — Foto: Reprodução/ge</p>
Ferramenta educacional
Historiador, professor e idealizador do projeto Experiência Griô, o professor André Carvalho usa o futebol para seduzir os alunos nas aulas sobre racismo.  Ele conta que os jogadores negros demoraram a ganhar espaço nos clubes de futebol do país e até na Seleção.</p>
<p class='noticia-conteudo'>Alguns chegavam a passar pó de arroz no rosto em uma tentativa de "branqueamento". 
— Branqueamento para poder ser aceito.  Curiosamente a história de sucesso da seleção brasileira coincide com a história de inclusão da população preta dentro da Seleção.</p>
<p class='noticia-conteudo'>Quando o Brasil rompe, de certa forma, não totalmente, com essa barreira racial e passa a aceitar, entre aspas, homens negros jogando na Seleção, o Brasil passa a ter um outro sucesso, basta a gente perceber que os maiores heróis que a gente constrói no futebol no século 20 é um homem negro retinto, o Pelé — explicou o professor André Carvalho. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_17_3.jpg"></div><p class='foto-descricao'>André Carvalho é historiador e professor — Foto: Reprodução/ge</p>
De acordo com André Carvalho, a união do Olodum com a seleção brasileira também foi importante para o desenvolvimento do Centro Histórico de Salvador. 
— O Centro Histórico é um outro espaço importantíssimo porque também é um outro espaço de resistência.</p>
<p class='noticia-conteudo'>O Olodum está neste espaço de resistência.  É popularmente chamado de Pelourinho, e o que é isso? É aquele espaço onde os escravizados eram açoitados, mas é um processo de ressignificação tão grande desse espaço que hoje o Pelourinho, o Centro Histórico, passa a lembrar alegria, festa, conquista, e a Seleção entra nesse contexto de ressignificação desse espaço — explica Carvalho
"O Olodum também é uma outra fonte de resistência.  Representa muito bem o que a gente chama de resistência negra a partir do viés da cultura", conclui.</p>
<p class='noticia-conteudo'>Resistência que estará presente mais uma vez nesta terça-feira.  E, desta vez, não da ladeira do Pelourinho, mas ainda mais próximo do espetáculo.  Antes de a bola rolar na Casa de Apostas Arena Fonte Nova, o grupo vai se apresentar na cerimônia de protocolo de abertura, algo que vai se repetir durante o intervalo.</p>
<p class='noticia-conteudo'>Alguns poucos minutos, é verdade, mas que representam muito para esta rica história. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_17_4.jpg"></div><p class='foto-descricao'>Olodum virou o talismã do penta em 2002 — Foto: Reprodução/TV Bahia</p>.</p>
{% endblock main_content %}
{% block cor_categoria %}#ffcc00{% endblock cor_categoria %}

