
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}selecao{% endblock title %}
{% block main_title %}selecao{% endblock main_title %}
{% block second_title %}Seleção do Kosovo abandona o campo após torcida romena gritar Sérvia em jogo da Liga das Nações{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Seleção do Kosovo abandona o campo após torcida romena gritar "Sérvia" em jogo da Liga das Nações
Provocação evoca a guerra travada no país no fim do século passado e a independência kosovar, até hoje questionada pelos sérvios


A seleção do Kosovo abandonou a partida contra a Romênia nos acréscimos do segundo tempo, pela Liga das Nações, em repúdio aos gritos de "Sérvia" vindos da torcida romena.  O jogo estava 0 a 0 no momento da paralisação.  Após aproximadamente uma hora de espera, o árbitro encerrou a partida.</p>
<p class='noticia-conteudo'>Em comunicado em seu site oficial, a Uefa informou que "o jogo da Liga das Nações entre Romênia e Kosovo foi abandonado" e prometeu dar "novas informações no devido momento". 
A provocação evoca os conflitos e hostilidades entre sérvios e kosovares, que já duram três décadas, desde o fim da antiga Iugoslávia.  A Guerra do Kosovo, entre 1998 e 1999, deixou cerca de dez mil mortos e forçou a migração de quase 90% da população kosovar.</p>
<p class='noticia-conteudo'>O Kosovo declarou sua independência de forma unilateral em 17 de fevereiro de 2008.  A Sérvia, no entanto, não reconheceu a separação até hoje.  A Romênia apoia a posição sérvia, e o último jogo contra o Kosovo em Bucareste, em setembro do ano passado, também foi paralisado pelos kosovares, que ficaram cerca de 50 minutos nos vestiários em protesto por provocações da torcida local.</p>
<p class='noticia-conteudo'>"Jogadores do Kovovo em frente à torcida romena antes de decidir deixar o gramado" 👇
Uma hora de espera
De acordo com jornalista romeno Emanuel Rosu, presente ao estádio nesta sexta-feira, a seleção romena aguardou 40 minutos em campo, mas como os jogadores do Kosovo permaneciam nos vestiários, os romenos também deixaram o gramado.  Depois, retornaram para o aquecimento, caso os kosovares retornassem, mas não houve mais jogo. 
As duas seleções estão na Liga C, a terceira divisão da competição, e disputam diretamente a promoção para a Liga B.</p>
<p class='noticia-conteudo'>A Romênia entrou em campo na penúltima rodada com 12 pontos, três à frente do Kosovo.  Se o empate for confirmado, a seleção romena garantirá a primeira colocação do Grupo 2, pois levará vantagem sobre o Kosovo no primeiro critério de desempate, o confronto direto - a outra partida entre as equipes, na primeira rodada, terminou com vitória romena por 3 a 0. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_3_0.jpg"></div><p class='foto-descricao'>Jogadores do Kosovo deixam o gramado após provocação da torcida da Romênia com gritos de "Sérvia" — Foto: REUTERS/George Calin</p>
A Federação Kosovar de Futebol foi aceita pela Fifa em 2016, e desde então a seleção do país pode disputar competições oficiais.</p>
<p class='noticia-conteudo'>No entanto, a situação política costuma marcar presença em certos confrontos envolvendo uma das duas seleções. 
Em 2018, na Copa da Rússia, Xhaka e Shaqiri, jogadores da Suíça, comemoraram gols justamente contra a Sérvia fazendo o símbolo da bandeira da Albânia, uma águia negra de duas cabeças.  Isso porque a maioria do povo kosovar é de origem albanesa.</p>
<p class='noticia-conteudo'>Xhaka tem pais kosovares, e Shaqiri nasceu no Kosovo. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_3_1.jpg"></div><p class='foto-descricao'>Granit Xhaka e Xherdan Shaqiri fazem o símbolo da bandeira da Albânia em jogo contra a Sérvia na Copa de 2018 — Foto: Getty Images</p>
Na Copa de 2022, antes do jogo contra o Brasil, na primeira fase, uma foto do vestiário sérvio causou polêmica, com um mapa do Kosovo coberto pela inscrição da bandeira sérvia e as palavras "sem rendição" escritas em albanês. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_3_2.jpg"></div><p class='foto-descricao'>Bandeira polêmica no vestiário da Sérvia — Foto: Reprodução/Twitter</p>
Entenda a questão Kosovo x Sérvia
O Kosovo é oficialmente reconhecido como uma província da Sérvia.</p>
<p class='noticia-conteudo'>No entanto, kosovares lutam pela independência do país desde a dissolução da ex-Iugoslávia nos anos de 1990.  A região diversas vezes já tentou se tornar independente, sendo a mais recente em 2008, quando promulgou uma declaração de independência que não foi reconhecida internacionalmente. 
A primeira tentativa separatista kosovar gerou a guerra do Kosovo, que aconteceu entre 1998 e 1999 e foi uma das mais letais da ex-Iugoslávia.</p>
<p class='noticia-conteudo'>Na ocasião, o Exército Libertador do Kosovo, internacionalmente conhecido como KLA, tentou enfrentar as forças militares sérvias. 
A ação da população kosovar, que se utilizava de técnicas de guerrilha, era inspirada em outras regiões da antiga Iugoslávia que conseguiram suas independências nos anos 1990, como Eslovênia, Croácia e Bósnia. 
A questão do Kosovo envolve um tema muito delicado: grupos étnicos.</p>
<p class='noticia-conteudo'>Os cidadãos da província não se identificam como sérvios.  Além disso, grande parte dos kosovares tem origem albanesa.  A região do Kosovo foi ocupada pela Sérvia em 1912, e, após a dissolução do império otomano em 1918, tornou-se parte do Reino da Iugoslávia.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}
{% block cor_categoria %}#ffcc00{% endblock cor_categoria %}

