
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Sem jogar há quase nove meses, Luan avalia propostas e cogita aposentadoria aos 31 anos{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Rei da América em 2017, atacante ainda não decidiu futuro da carreira, pesa prós e contras e pode abandonar gramados depois de passagens frustradas por Corinthians, Santos, Grêmio e Vitória



Relembre a trajetória de Luan: de rei da América, no Grêmio, ao ostracismo no Corinthians


Apesar das propostas na mesa, o jogador não tem convicção de que seguir no futebol seja uma boa alternativa.  Sem conseguir emplacar boas temporadas - foram apenas 22 partidas desde 2022 -, Luan coloca na balança o peso da pressão em torno da expectativa por um bom desempenho, como teve no auge da passagem pelo Grêmio. 
A última vez que Luan entrou em campo foi em 27 de março, defendendo o Vitória contra o Treze-PB, pela Copa do Nordeste.</p>
<p class='noticia-conteudo'>Titular na partida, o meia-atacante atuou por 69 minutos.  Depois, foi relacionado apenas mais duas vezes antes de deixar o clube. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_359_0.jpg"></div><p class='foto-descricao'>Luan comemora gol marcado pelo Corinthians contra o São Paulo em 2021 — Foto: Rodrigo Coca/Ag.</p>
<p class='noticia-conteudo'>Corinthians</p>
Vivendo de maneira discreta nos últimos meses, apesar de frequentar festas e eventos no estado de São Paulo, Luan tem ouvido amigos próximos para tomar uma decisão definitiva sobre a carreira.  Caso opte por seguir atuando, a preferência é por clubes que disputam o Campeonato Paulista e a Série A do Brasileiro. 
Luan mora em São Paulo e vive boa parte do tempo em São José do Rio Preto, cidade onde nasceu e mantém amizades desde que a carreira deslanchou.</p>
<p class='noticia-conteudo'>Até por isso, clubes emergentes da região como Mirassol (promovido à Série A) e Novorizontino (Série B) são vistos como opções interessantes para o jogador. 
Com a aproximação do fim da temporada e o início do período de contratações dos clubes projetando 2025, Luan deve tomar uma decisão em breve. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_359_1.jpg"></div><p class='foto-descricao'>Neymar, Gabriel Gabigol e Luan seleção olímpica ouro Brasil na Rio 2016 — Foto: Reprodução/Instagram</p>

Nascido em São José do Rio Preto, no interior de São Paulo, Luan passou por Tanabi, Catanduvense e América-SP até chamar a atenção do Grêmio depois de boa participação em uma edição da Copa São Paulo de Futebol Jr.</p>
<p class='noticia-conteudo'>No Tricolor Gaúcho, Luan atuou no sub-20 antes de ser promovido ao profissional, no qual ficou por seis temporadas consecutivas, sendo campeão da Copa do Brasil (2016), bicampeão gaúcho (2018 e 2019), campeão e artilheiro da Libertadores em 2017 e campeão da Recopa Sul-Americana. 
Vídeo mostra Luan, do Corinthians, sendo intimidado por torcedores em motel
Individualmente, Luan conquistou o prêmio de melhor jogador da América do Sul no ano de 2017 pelo desempenho no título gremista da Libertadores.  Na ocasião, foi artilheiro da competição com oito gols marcados.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_359_2.jpg"></div><p class='foto-descricao'>Luan com a taça da Libertadores conquistada pelo Grêmio — Foto: Reprodução</p>
Na primeira passagem pelo Grêmio foram 288 jogos com 75 gols marcados.  Luan ainda foi medalhista de ouro com a seleção brasileira nos Jogos Olímpicos do Rio de Janeiro em 2016. 
Em 2019, Luan foi comprado pelo Corinthians por R$ 29 milhões e chegou ao clube dizendo realizar um sonho de infância.</p>
<p class='noticia-conteudo'>A passagem pelo Parque São Jorge, porém, não deixou saudades. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_359_3.jpg"></div><p class='foto-descricao'>Luan em treino do Vitória no início do ano — Foto: Victor Ferreira / EC Vitória</p>
Em quatro temporadas, foram 78 jogos, apenas nove gols marcados e um empréstimo ao Santos no meio do caminho.  O atacante foi agredido por torcedores que invadiram um motel onde ele estava com mulheres e amigos.</p>
<p class='noticia-conteudo'>Foi o estopim para o fim de uma relação que já seria encerrada ao término do contrato, em 31 de dezembro de 2023. 
Depois de sair do Corinthians, retornou ao Grêmio para uma passagem sem brilho.  Foram apenas cinco jogos.</p>
<p class='noticia-conteudo'>No Vitória, seu último clube, Luan entrou em campo seis vezes e deu uma assistência, mas acabou rescindindo o contrato em comum acordo. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_359_4.jpg"></div><p class='foto-descricao'>Luan, ex-jogador de Grêmio, Corinthians e Santos — Foto: Reprodução/Instagram</p>




GRÊMIO
SANTOS.</p>
{% endblock main_content %}

