
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Série A CBF detalha jogos das duas últimas rodadas do Campeonato Brasileiro{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Série A: CBF detalha jogos das duas últimas rodadas do Campeonato Brasileiro
Rodada 37 começa no dia 3 de dezembro e vai até o dia 5 de dezembro, e rodada 38 terá todos os jogos no dia 8 de dezembro; veja horários e locais



"Racionalmente, Palmeiras está mais próximo do título", diz André Rizek
A CBF desmembrou as datas e horários da 37ª e 38ª rodadas da Série A do Campeonato Brasileiro.  A entidade detalhou a tabela nesta terça-feira (26). 
A rodada 37 começa no dia 3 de dezembro e vai até o dia 5 de dezembro.</p>
<p class='noticia-conteudo'>A rodada 38 terá todos os jogos no dia 8 de dezembro, um domingo, às 16h.  A CBF informou que pode alterar datas e horários de partidas que não estiverem relacionados com situações de título, rebaixamento ou classificação para Libertadores e Sul-Americana. 


37ª RODADA
Terça-feira, 03/12

Quarta-feira, 04/12
19h Vasco x Atlético-MG, em São Januário
20h Vitória x Grêmio, no Barradão
20h São Paulo x Juventude, no Morumbis
20h Criciúma x Flamengo, no Heriberto Hulse
21h30 Internacional x Botafogo, no Beira-Rio
21h30 Cruzeiro x Palmeiras, no Mineirão
21h30 Atlético-GO x Fortaleza, no Antônio Accioly
Quinta-feira, 05/12
20h Fluminense x Cuiabá, no Maracanã
20h Athletico-PR x Bragantino, na Ligga Arena
38ª RODADA
Domingo, 08/12
16h Grêmio x Corinthians, na Arena do Grêmio
16h Atlético-MG x Athletico-PR, a definir
16h Bahia x Atlético-GO, na Arena Fonte Nova
16h Flamengo x Vitória, no Maracanã
16h Botafogo x São Paulo, no Nilton Santos
16h Palmeiras x Fluminense, no Allianz Parque
16h Bragantino x Criciúma, no Nabi Abi Chedid
16h Fortaleza x Internacional, na Arena Castelão
16h Cuiabá x Vasco, na Arena Pantanal
16h Juventude x Cruzeiro, no Alfredo Jaconi.</p>
{% endblock main_content %}

