
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Snoop Dogg lança linha de joias e mira desenhar medalhas das Olimpíadas de Los Angeles{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Snoop Dogg lança linha de joias e mira desenhar medalhas das Olimpíadas de Los Angeles
Embaixador extraoficial dos Jogos, rapper americano quer assinar confecção das medalhas olímpicas

18/11/2024 09h34 Atualizado

Snoop Dogg carrega a tocha olímpica em Paris
O rapper Snoop Dogg se candidatou a confeccionar as medalhas das Olimpíadas de Los Angeles.  Depois de se tornar um embaixador extraoficial dos Jogos em Paris 2024 e assumir o posto de garoto-propaganda para 2028, o americano lançou na última semana uma linha de joias.  Ele aproveitou a ocasião na próxima sede olímpica para se colocar à disposição do Comitê Olímpico Internacional (COI) e desenhar as medalhas.</p>
<p class='noticia-conteudo'>- Deixe-me apresentar nossa oferta agora.  As Olimpíadas, o COI, queremos fazer as medalhas para as Olimpíadas de 2028 - disse Snoop. 


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_0.jpg"></div><p class='foto-descricao'>Snoop Dogg lança linha de joias — Foto: Olivia Wong/Getty Images</p>
A linha de joias "Lovechild" é uma colaboração de Snoop Dogg com Carolyn Rafaelian, fundadora da Metal Alchemist, e com Larry Jackson, cofundador da companhia de música gamma.</p>
<p class='noticia-conteudo'>A parceria já havia desenvolvido as joias que o rapper usou durante as Olimpíadas de Paris, incluindo um medalhão de cobre original da Estátua da Liberdade. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_1.jpg"></div><p class='foto-descricao'>Snoop Dogg exibe medalhão nas Olimpíadas de Paris — Foto: Tom Weller/VOIGT/GettyImages</p>
Cabe ao Comitê Organizador das Olimpíadas de Los Angeles definir quem vai confeccionar as medalhas olímpicas.  Snoop Dogg pode não receber essa honraria, mas certamente vai marcar presença nos Jogos.</p>
<p class='noticia-conteudo'>Condutor da tocha em Paris, tem tudo para repetir a dose em 2028 e novamente ser um convidado da transmissão da TV americana "NBC". 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_2.jpg"></div><p class='foto-descricao'>Dr Dre e Snoop Dogg na cerimônia de encerramento dos Jogos de Paris na conexão com Los Angeles 2028 — Foto: Reprodução</p>.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

