
            <html>
                <article class="noticia-detalhada">
                    <h1 class="noticia-titulo mt-4">Snoop Dogg lança linha de joias e mira desenhar medalhas das Olimpíadas de Los Angeles</h1>
                    <p class="noticia-conteudo">Snoop Dogg lança linha de joias e mira desenhar medalhas das Olimpíadas de Los Angeles
Embaixador extraoficial dos Jogos, rapper americano quer assinar confecção das medalhas olímpicas



Snoop Dogg carrega a tocha olímpica em Paris
O rapper Snoop Dogg se candidatou a confeccionar as medalhas das Olimpíadas de Los Angeles. Depois de se tornar um embaixador extraoficial dos Jogos em Paris 2024 e assumir o posto de garoto-propaganda para 2028, o americano lançou na última semana uma linha de joias. Ele aproveitou a ocasião na próxima sede olímpica para se colocar à disposição do Comitê Olímpico Internacional (COI) e desenhar as medalhas.
- Deixe-me apresentar nossa oferta agora. As Olimpíadas, o COI, queremos fazer as medalhas para as Olimpíadas de 2028 - disse Snoop.
+ Jordan Chiles ainda tenta manter bronze no solo em Paris: "Tem sido um momento muito difícil"
+ Siga o canal de esportes olímpicos do ge no WhatsApp!
Snoop Dogg lança linha de joias — Foto: Olivia Wong/Getty Images
A linha de joias "Lovechild" é uma colaboração de Snoop Dogg com Carolyn Rafaelian, fundadora da Metal Alchemist, e com Larry Jackson, cofundador da companhia de música gamma. A parceria já havia desenvolvido as joias que o rapper usou durante as Olimpíadas de Paris, incluindo um medalhão de cobre original da Estátua da Liberdade.
Snoop Dogg exibe medalhão nas Olimpíadas de Paris — Foto: Tom Weller/VOIGT/GettyImages
Cabe ao Comitê Organizador das Olimpíadas de Los Angeles definir quem vai confeccionar as medalhas olímpicas. Snoop Dogg pode não receber essa honraria, mas certamente vai marcar presença nos Jogos. Condutor da tocha em Paris, tem tudo para repetir a dose em 2028 e novamente ser um convidado da transmissão da TV americana "NBC".
Dr Dre e Snoop Dogg na cerimônia de encerramento dos Jogos de Paris na conexão com Los Angeles 2028 — Foto: Reprodução
Veja também</p>
                </article>
            </html>
            