
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}cruzeiro{% endblock title %}
{% block main_title %}cruzeiro{% endblock main_title %}
{% block second_title %}Soteldo no Cruzeiro O que sabemos sobre possível negociação{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Após participar de evento na Toca, Roberto Gaúcho, ídolo cruzeirense, anunciou que o atleta está fechado com a Raposa





Ex-atacante do Cruzeiro, Roberto Gaúcho afirma que Soteldo pode reforçar a Raposa

Soteldo agrada a alguns membros da diretoria e comissão técnica.  Segundo apurou o ge, o time ainda não fez proposta ao jogador.  Pelas redes sociais, o ex-Cruzeiro, Roberto Gaúcho, garantiu que o atacante está assinado com a Raposa.</p>
<p class='noticia-conteudo'>Roberto estava participando de um evento de patrocinadores na Toca da Raposa 2. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_411_0.jpg"></div><p class='foto-descricao'>Soteldo, atacante do Grêmio, em ação pela Venezuela — Foto: La Vinotinto/Divulgação</p>
O jogador venezuelano fez 41 jogos nesta temporada pelo Grêmio, marcou sete gols e deu quatro assistências.  Soteldo chegou ao Brasil em 2019, quando foi emprestado para o Santos.</p>
<p class='noticia-conteudo'>Ele defendeu o Peixe até meados de 2021, quando foi para o Toronto, no Canadá, e, em seguida, para o Tigres, do México.  Retornou ao Santos em 2022 e saiu neste ano. 
O jogador tem contrato de empréstimo com o Grêmio até o fim de deste mês.</p>
<p class='noticia-conteudo'>Para ficar com Soteldo em definitivo, o time gaúcho teria que comprá-lo por 5 milhões de dólares (cerca de R$ 30 milhões na cotação atual).  O Santos tem desejo de vender e aguarda posição do Grêmio.  Oficialmente, o Peixe afirma que não foi procurado pelo Cruzeiro.</p>
<p class='noticia-conteudo'>CRUZEIRO.</p>
{% endblock main_content %}

