
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}atletico_mg{% endblock title %}
{% block main_title %}atletico_mg{% endblock main_title %}
{% block second_title %}STJD pune Atlético-MG em seis jogos por incidentes na final da Copa do Brasil{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>STJD pune Atlético-MG em seis jogos por incidentes na final da Copa do Brasil
Galo poderá fazer três últimos jogos da pena com medida socioeducativa; clube ainda estuda recurso


O Atlético-MG foi punido com a perda do mando de campo por seis jogos, três com portões fechados e outros três com possibilidade de comparecimento de mulheres, idosos, crianças, pessoas com deficiência e adolescentes de até 16 anos.  Como o Galo já cumpriu a punição em duas partidas, tem só mais um jogo sem a torcida presente. 


Procuradoria do STJD pede a interdição da Arena MRV por atos de violência na final da Copa do Brasil

A pena foi imposta por causa dos episódios registrados na final da Copa do Brasil, diante do Flamengo, na Arena MRV.</p>
<p class='noticia-conteudo'>O julgamento foi nesta quarta-feira no Superior Tribunal de Justiça Desportiva do Futebol (STJD).  A pena deve ser cumprida nas competições organizadas pela CBF (Confederação Brasileira de Futebol). 
O Atlético foi denunciado seis vezes pela procuradoria.</p>
<p class='noticia-conteudo'>Além dos jogos com portões fechados, o Galo terá de pagar uma multa de R$ 198 mil. 
- Por tudo que o clube fez, pela estrutura que tem a Arena MRV, um estádio supermoderno, com o aumento do efetivo que o clube providenciou para aquele jogo, enfim, todas as providências que foram tomadas, nos pareceu exagerada a punição de seis jogos, ainda que três deles com torcida parcial.  Eu, sinceramente, entendo que uma punição de no máximo de três jogos estaria de muito bom tamanho - disse o advogado do Galo, Gustavo Caputo.</p>
<p class='noticia-conteudo'>O clube ainda estuda recurso. 
Logo após a decisão da Copa do Brasil, a Arena MRV foi interditada e não recebe eventos há dois jogos.  O clube tem atuado no Independência, com os portões fechados.</p>
<p class='noticia-conteudo'>O recurso sobre a interdição será julgado nesta quinta-feira. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_23_0.jpg"></div><p class='foto-descricao'>Arena MRV foi palco de vandalismo durante a final da Copa do Brasil — Foto: Getty Images</p>
O Atlético foi denunciado por arremesso de objetos ao gramado, de quatro bombas (uma delas atingiu o fotógrafo Nuremberg José Maria), invasão de torcedores, tentativa de invasão, uso de lasers no goleiro adversário e cantos homofóbicos. 
O Atlético foi citado nos artigos 213, I (por duas vezes), II, III (por nove vezes) e §1º; bem como artigos.</p>
<p class='noticia-conteudo'>211 e 243-G, §2º, todos do Código Brasileiro de Justiça Desportiva (CBJD). 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_23_1.jpg"></div><p class='foto-descricao'>Fotógrafo Nuremberg José Maria é atingido por bomba atirada pela torcida do Atlético-MG na final da Copa do Brasil e vai para hospital — Foto: Dhavid Normando/Código 19/Folhapress</p>
A assessoria do Atlético divulgou que, junto às forças de Segurança de Minas Gerais, identificou mais de vinte envolvidos nos incidentes na Arena MRV.  Segundo o clube, outras pessoas estão em processo avançado de identificação.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_23_2.jpg"></div><p class='foto-descricao'>Julgamento do Atlético-MG no STJD — Foto: Ronald Lincoln</p>
O governo de Minas anunciou que prendeu o suspeito por atirar a bomba que feriu o fotógrafo Nuremberg José Maria, de 67 anos.  O detido será indiciado por tentativa de homicídio. 
O lateral Saravia também foi julgado nesta quarta-feira pela expulsão na final.</p>
<p class='noticia-conteudo'>Foi apenas advertido. 
Assista: tudo sobre o Atlético no ge, na Globo e no Sportv
50 vídeos

ATLÉTICO-MG.</p>
{% endblock main_content %}

