
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}palmeiras{% endblock title %}
{% block main_title %}palmeiras{% endblock main_title %}
{% block second_title %}Superar esses três anos veja desafios que Leila terá à frente do Palmeiras em novo mandato{% endblock second_title %}
{% block main_content %}<p class="noticia-conteudo">"Superar esses três anos": veja desafios que Leila terá à frente do Palmeiras em novo mandato
Mandatária é reeleita à presidência do Verdão e buscará título da Libertadores, renovação de Abel e aumento nos valores do patrocínio



Veja a entrevista coletiva de Leila Pereira após vencer eleição presidencial no Palmeiras
Leila Pereira deixou claro após ser reeleita presidente do Palmeiras, no último domingo, qual é a sua meta para o novo mandato: superar os seus primeiros três anos à frente do clube. 

Para ser melhor no âmbito esportivo, Leila Pereira terá o desafio de conquistar pelo menos uma Conmebol Libertadores e a Copa do Brasil.  Isso porque o time não venceu essas competições em seu primeiro mandato. <b><i><u>oi</u></i></b></p>
<p class="noticia-conteudo">Nos últimos três anos, o Palmeiras levantou dois troféus do Brasileirão - e pode erguer o terceiro neste ano - três Campeonatos Paulistas, uma Recopa Sul-Americana e uma Supercopa do Brasil. 
Mais do Palmeiras


</p><div class="div-imagem"><img class="noticia-imagem" src="/media/noticias/n_14_0.jpg"></div><p class="foto-descricao">Leila reeleita presidente do Palmeiras — Foto: Eduardo Rodrigues</p>
Em 2025, o Verdão terá a disputa do Super Mundial de Clubes.  O título poderia ser o maior da história do clube, mas a dificuldade da competição é um entrave para colocá-lo como meta principal.<p></p>
<p class="noticia-conteudo">Apostar todas as fichas no torneio pode ser maléfico. 
Por isso, a Libertadores deve ser vista nos próximos anos como a competição a ser vencida na gestão Leila Pereira. 
Para isso acontecer, porém, o Palmeiras terá que se reforçar mais devido ao alto investimento que os adversários têm feito neste momento.</p>
<p class="noticia-conteudo">E esse é um desafio para Leila e sua diretoria. 
Leila comemora reeleição no Palmeiras
A mandatária tem repetido que o torcedor não deve esperar jogadores "medalhões" e que a força do Palmeiras está no atual elenco.  Portanto, a direção terá que ser certeira na avaliação de novos jogadores para o plantel.</p>
<p class="noticia-conteudo">Leila afirmou em entrevista ao ge que deve contratar de três a quatro reforços na próxima temporada. 
Patrocínio
Um dos desafios de Leila Pereira será aumentar o valor de patrocínios, considerado defasado por parte da oposição do clube. 
O Palmeiras recebe R$ 81 milhões anuais fixos do contrato com a Crefisa e Faculdade das Américas, podendo chegar a R$ 120 milhões com bônus por conquistas.</p>
<p class="noticia-conteudo">O valor é aplicado desde 2019 e foi mantido sem reajuste na renovação de 2021 para todas as áreas do uniforme. 
A presidente, por sua vez, já tem alinhado um acordo com a SportingBet para um contrato de quatro anos por R$ 100 milhões fixos.  Com as bonificações - em caso de metas esportivas como títulos - esse valor pode ultrapassar a marca de R$ 150 milhões em uma temporada.</p>
<p class="noticia-conteudo"></p><div class="div-imagem"><img class="noticia-imagem" src="/media/noticias/n_14_1.jpg"></div><p class="foto-descricao">Leila Pereira, presidente do Palmeiras — Foto: Marcos Ribolli</p>
O acordo também prevê o aumento do valor fixo com base nas taxas de inflação do Brasil ao longo dos anos. 
Apesar de já estar com o acordo avançado, Leila ainda não confirma valores e nem a assinatura dos termos com a nova patrocinadora. 
– Estamos trabalhando, já comuniquei que a Crefisa não continua nas camisas do Palmeiras.<p></p>
<p class="noticia-conteudo">Foi uma era de 10 anos muito vitoriosa e não tenho dúvidas de que está na história do Palmeiras.  E esse novo parceiro não tenho dúvidas de que será uma nova era, mas não está nada definido – comentou. 
Renovação de Abel
O contrato de Abel Ferreira só se encerra no fim de 2025, mas Leila Pereira já deixou claro que um de seus objetivos é renovar com o treinador até o fim de seu mandato, no fim de 2027.</p>
<p class="noticia-conteudo"></p><div class="div-imagem"><img class="noticia-imagem" src="/media/noticias/n_14_2.jpg"></div><p class="foto-descricao">Abel Ferreira e Leila Pereira com a taça do Brasileirão 2023 — Foto: Palmeiras / Divulgação</p>
Apesar de ser um dos maiores treinadores da história do Palmeiras, Abel não deve facilitar nas conversas para renovar.  Isso porque o português já citou certo cansaço com o trabalho exaustivo no Brasil e anualmente recebe ofertas de outras equipes do mundo. 
Assim como na última renovação, Leila Pereira terá que alinhar muito bem uma negociação para segurar o treinador no Verdão.<p></p>
<p class="noticia-conteudo">Essas conversas devem se intensificar agora que ela está reeleita. 

Mais lidas do Ge
1
Sport
Análise: Lucas Lima faz mágica no Sport, conduz acesso e transforma R$ 500 mil em dezenas de milhões
2
Brasileirão Série B
Série B: veja quem subiu para a Série A e quem caiu para a Série C
3
Futebol
Viralizou: zoeira com o Botafogo fora da ponta, eficiência do Palmeiras e festa pelo acesso na Série B
4
Mirassol
Mirassol será o time da menor cidade dos últimos 40 anos do Brasileirão
5
Vasco
Felipe será o treinador do Vasco nas três rodadas finais do Brasileirão

50 vídeos
PALMEIRAS.</p>{% endblock main_content %}

