
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}vasco{% endblock title %}
{% block main_title %}vasco{% endblock main_title %}
{% block second_title %}Técnico e reforços Vasco prega cautela com apostas estrangeiras e deve priorizar futebol brasileiro{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Técnico e reforços: Vasco prega cautela com apostas estrangeiras e deve priorizar futebol brasileiro
Clube priorizará nomes que já atuaram no Brasil para a função de técnico; contratações de jogadores também devem seguir essa linha


O Vasco priorizará o mercado brasileiro para o ano de 2025 na busca por reforços e por um treinador.  O clube, no momento, tem cautela com jogadores e técnicos estrangeiros que podem ser considerados apostas. 


Bruno Murito diz que Vasco não deve buscar treinador estrangeiro
Na entrevista coletiva de segunda-feira, Pedrinho e Marcelo Sant'Anna comentaram possíveis procuras por jogadores e treinadores de fora do Brasil.</p>
<p class='noticia-conteudo'>O diretor esportivo disse que o Vasco tinha um olhar voltado para o futebol internacional em sua chegada, mas que esse perfil para 2025 deve mudar para jogadores que gerem retorno imediato:
— Quando cheguei, o Vasco tinha um olhar voltado para jogadores do futebol internacional, tanto que o Vasco tem nove estrangeiros no elenco.  Isso não significa que não vamos contratar mais jogadores estrangeiros, não temos problemas com isso, mas temos que trazer jogadores que gerem retorno imediato ou que sejam economicamente mais interessantes; se não, é melhor a gente investir em jogadores dentro do mercado brasileiro, porque é mais fácil negociar com os clubes, convencer os jogadores, usar a própria base. 
No período da SAF sob o controle da 777, contratações como Orellano e Capasso não renderam o esperado.</p>
<p class='noticia-conteudo'>Sforza, um dos principais reforços de 2024, também não se firmou entre os titulares.  Já sob a gestão de Pedrinho, as chegadas de Jean David e Maxime não geraram impacto imediato.  O Vasco entende que precisa mudar a linha para o ano que vem.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_13_0.jpg"></div><p class='foto-descricao'>Capasso em ação no treino do Vasco — Foto: Daniel Ramalho / CRVG</p>
Além de motivos como problemas de adaptação e as experiências recentes com apostas, o Vasco também vê o mercado estrangeiro como inflacionado nos valores de transferências, apesar de os salários serem mais baixos normalmente. 
O Vasco tem uma lista em mãos com nomes de jogadores que agradam para 2025.  Alguns deles já foram sondados, como Isidro Pitta, destaque do Cuiabá.</p>
<p class='noticia-conteudo'>O paraguaio vem de três temporadas no Brasil e já está adaptado ao país.  No entanto, o staff do atleta vê uma saída para o exterior como um negócio mais provável. 
Outros nomes agradam, como o atacante Lucas Barbosa, emprestado pelo Santos ao Juventude.</p>
<p class='noticia-conteudo'>O Vasco não descartará contratações de fora do Brasil, mas terá um olhar mais criterioso com apostas. 


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_13_1.jpg"></div><p class='foto-descricao'>Lucas Barbosa é o artilheiro do Juventude na temporada — Foto: Fernando Alves/E. C Juventude</p>
E a busca por treinadores?
Após a demissão de Rafael Paiva, o Vasco analisa as opções do mercado para o cargo de treinador do clube na temporada de 2025.</p>
<p class='noticia-conteudo'>Apesar de alguns nomes que já foram sondados, o clube trata com cautela a chegada de uma aposta estrangeira para o comando técnico. 
O ge noticiou na segunda-feira que Gustavo Quinteros, Hernán Crespo e Pedro Caixinha foram consultados — os dois últimos já trabalharam no futebol brasileiro, enquanto o primeiro comanda o Vélez Sarsfield, líder do Campeonato Argentino.  As buscas foram iniciais.</p>
<p class='noticia-conteudo'>Não houve proposta por nenhum nome até aqui. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_13_2.jpg"></div><p class='foto-descricao'>Crespo já comandou o São Paulo e está livre no mercado — Foto: Divulgação/saopaulofc. net</p>
Pedrinho disse que será uma tarefa difícil encontrar um nome dentro do que a diretoria pensa de futebol e do que caberá no orçamento do Vasco na temporada:
- Difícil encontrar, dentro do que penso de futebol, o que a gente tem no mercado e o que cabe dentro do orçamento.</p>
<p class='noticia-conteudo'>Não sei se vou encontrar o treinador que jogue do jeito que eu imagino que o Vasco mereça jogar e que caiba dentro do orçamento.  A gente tem alguns perfis e torce para que tudo encaixe e seja o mais próximo do que a gente pensa. 
Pedrinho detalha qual o perfil do próximo técnico do Vasco
O ge apurou que o Vasco também priorizará técnicos brasileiros ou que conhecem o futebol do país.</p>
<p class='noticia-conteudo'>Um dos principais motivos é ter uma comunicação mais eficiente com todo o grupo.  Internamente, avalia-se que no período de Ramón Díaz foi criada uma separação dentro do elenco, entre brasileiros e estrangeiros, que foi prejudicial para a evolução da equipe. 
Com Rafael Paiva, em um primeiro momento, essa separação foi quebrada.</p>
<p class='noticia-conteudo'>No entanto, no fim do trabalho do treinador, a "panela dos estrangeiros" voltou, não de forma institucional, como com Ramón, mas naturalmente dentro do elenco, segundo pessoas que vivem o dia a dia do clube. 
Além da facilitação da língua, o Vasco também vê o mercado de técnicos estrangeiros como inflacionado no momento.  No campo e bola, a direção trabalha com duas prioridades: 1) treinadores que não sejam reféns de um esquema apenas; e 2) que utilizem a base.</p>
<p class='noticia-conteudo'>Para o clube, é indispensável a utilização dos jogadores mais jovens. 
Cuca, sem clube, é um nome que agrada internamente.  Fernando Diniz, atualmente no Cruzeiro, é um sonho antigo de Pedrinho, mas o Vasco entende que teria que ter um elenco que se adequasse à ideia de jogo do treinador.</p>
<p class='noticia-conteudo'>Além disso, são nomes que podem escapar do orçamento. 

Assista tudo sobre o Vasco no ge, na Globo e no SporTV:
50 vídeos
VASCO.</p>
{% endblock main_content %}

