
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Técnico enlouquece e tira a camisa na comemoração de ponto que deixa Mirassol perto do acesso{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Técnico "enlouquece" e tira a camisa na comemoração de ponto que deixa Mirassol perto do acesso
Após empate com o Operário-PR, fora de casa, Mozart não segura a empolgação em celebração com a torcida; clube pode confirmar acesso antecipado ainda nesta rodada



Mozart, técnico do Mirassol, vibra muito após empate contra o Operário
O técnico do Mirassol, Mozart, não segurou a empolgação na comemoração após o empate com o Operário-PR, fora de casa, que deixa o time paulista muito perto do acesso inédito à Série A. 
Após o apito final, o treinador vibrou bastante e, em um momento de êxtase, tirou a camisa em frente à torcida visitante presente ao Germano Krüger (assista no vídeo acima). 



<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_11_0.jpg"></div><p class='foto-descricao'>Mozart comemora após empate do Mirassol na Série B — Foto: Reprodução/sportv</p>
O Leão largou em desvantagem, mas buscou a igualdade na reta final da partida, com gol de Iury Castilho, e ficou ainda mais perto de chegar à elite nacional.</p>
<p class='noticia-conteudo'>Com 64 pontos, o Mirassol é o vice-líder da Série B e pode até confirmar o acesso nesta rodada, caso Ceará e Sport não pontuem. 
A equipe volta a campo na última rodada da competição no próximo domingo, em casa, diante da Chapecoense. 
OPERÁRIO-PR.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

