
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Terceiro pior do Brasileirão, ataque do Fluminense preocupa na reta final do Brasileiro; veja números{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Terceiro pior do Brasileirão, ataque do Fluminense preocupa na reta final do Brasileiro; veja números
Com 28 gols marcados, Tricolor só supera Cuiabá e Atlético-GO em desempenho ofensivo no torneio

21/11/2024 04h00 Atualizado
"Temos sofrido bastante no ano porque marcamos poucos gols.  Então, quando temos o nosso momento, quando controlamos o jogo, não estamos conseguindo definir o jogo"
A frase do técnico Mano Menezes, dita após a derrota para o Internacional, resume um dos grandes desafios do Fluminense nesta reta final de Campeonato Brasileiro: balançar as redes adversárias.  Terceiro pior ataque do torneio nacional, o Tricolor tem o baixo poderio ofensivo como ponto de atenção em meio à luta contra o Z-4.</p>
<p class='noticia-conteudo'>Fluminense e Flamengo empatam no jogo de ida da final do Carioca Feminino
O Fluminense tem 28 gols marcados no Brasileiro, 18 deles sob o comando de Mano Menezes - que assumiu o Tricolor na 14ª rodada, em empate com o Internacional.  Com Diniz, foram dez gols em 11 partidas.  Com Marcão, que comandou o time interinamente por duas rodadas, foram duas derrotas por 1 a 0 para Vitória e Grêmio.</p>
<p class='noticia-conteudo'>O melhor momento do time com Mano foi uma sequência de quatro vitórias consecutivas - todas por 1 a 0 - sobre Cuiabá, Palmeiras, Bragantino e Bahia.  A situação gerou até memes da torcida: em redes sociais e aplicativos de mensagem, uma figurinha viralizou com os dizeres " 1 a 0 tá bom, é futebol e não basquete" sobre uma foto de Mano. 
Antes do início da 34ª rodada, o ataque do Fluminense só superava os de Cuiabá (25) e Atlético-GO (24).</p>
<p class='noticia-conteudo'>O Tricolor só venceu três vezes no torneio por dois gols de diferença, contra Atlético-MG, São Paulo e Flamengo. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_16_0.jpg"></div><p class='foto-descricao'>Kauã Elias - Fluminense x Grêmio - Brasileirão — Foto: André Durão</p>
Neste momento, Kauã Elias e Arias dividem a artilharia do Tricolor, com seis gols cada.  Ganso, Cano e Lima fecham o top 5 de goleadores do Fluminense no Brasileirão, com três gols cada.</p>
<p class='noticia-conteudo'>Retrospecto recente do Fluminense no Brasileiro:

Com os resultados desta quarta-feira, o Fluminense não corre riscos de voltar ao Z-4 na 34ª rodada do Brasileirão.  O Tricolor caiu para o 16º lugar antes de entrar em campo contra o Fortaleza, mas não poderá perder mais posições - as partidas pendentes não incluem times nas últimas quatro posições da tabela. 

🗞️ Leia mais notícias do Fluminense
🎧 Ouça o podcast ge Fluminense
Assista: tudo sobre o Fluminense no ge, na Globo e no sportv
50 vídeos
FLUMINENSE.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

