
            {% extends "html/modelo.html" %}
            {% load static %}

            {% block title %}atletico_mg{% endblock title %}
            {% block main_title %}atletico_mg{% endblock main_title %}
            {% block second_title %}Teste de notícia{% endblock second_title %}
            {% block main_content %}
            <p class='noticia-conteudo'>teste</p>
            <div class='div-imagem'><img class='noticia-imagem' src='/media/noticias/n_69_0.jpg' alt='Imagem'></div>
            {% endblock main_content %}
            