
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Textor prevê Botafogo com quatro grandes aquisições em 2025 Vender muito e comprar mais{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Textor prevê Botafogo com "quatro grandes aquisições" em 2025: "Vender muito e comprar mais"
Dono da SAF alvinegra revela planos para o clube durante entrevista coletiva em Lyon

18/11/2024 17h24 Atualizado

Abre Aspas: Cleber Xavier elege Botafogo como melhor futebol do Brasil
A crise financeira do Lyon não vai impactar a qualidade do time do Botafogo em 2025.  Foi o que garantiu John Textor em entrevista coletiva na França, no sábado.  Durante a apresentação em que indicou como pretende resolver a situação do clube francês, o empresário norte-americano fez revelações sobre a próxima temporada do Glorioso.</p>
<p class='noticia-conteudo'>- Nosso plano no Botafogo é vender muito e comprar ainda mais.  É aumentar o nível, estar no top-3 do Brasil todo ano, lutar pela Libertadores todo ano.  Torcedores lá podem ficar loucos com essa questão de compartilhar transferências, mas a água flui por onde tem que fluir, os jogadores vão para onde têm que ir.</p>
<p class='noticia-conteudo'>Grande parte dos torcedores no Brasil acredita em mim - afirmou. 
O dono da SAF do Botafogo ressaltou que a base do time deste ano foi montada a partir de "duas grandes contratações", referindo-se a Luiz Henrique e Almada.  Em 2025, o objetivo é dobrar esse número, ainda que vendas estejam previstas.</p>
<p class='noticia-conteudo'>- Montamos esse elenco (do Botafogo) a partir de transferências gratuitas, junto com duas grandes contratações.  Montaremos um elenco mais forte ainda ano que vem com quatro grandes contratações.  Vamos continuar atraindo grandes jogadores como Igor Jesus, que estava nos Emirados Árabes e hoje é titular da Seleção.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_0.jpg"></div><p class='foto-descricao'>John Textor em entrevista exclusiva — Foto: André Durão</p>
O Lyon foi punido pela Direção Nacional de Controle e Gestão (DNCG) e está proibido de contratar até mostrar um plano para ganhar 100 milhões de euros - se não o fizer até o fim da temporada, o OL será rebaixado. 
Uma das formas de o Lyon conseguir levantar o dinheiro envolve o Botafogo.  Como os dois pertencem à mesma rede multiclubes, a Eagle Football, eles "compartilham" contas financeiras.</p>
<p class='noticia-conteudo'>Assim, eventuais valores de vendas de jogadores do clube carioca podem ser encaminhados para quitar problemas dos franceses. 

- Ninguém no Botafogo se preocupa, eles entendem que isso funciona bem.  Temos um orçamento grande de vendas para ajudar esse clube (Lyon) e acreditamos que vamos ultrapassar as projeções que mostramos.</p>
<p class='noticia-conteudo'>Na coletiva, Textor afirmou que mostrou as possíveis receitas de transferências que o Botafogo terá com vendas como uma das garantias e formas de conseguir dinheiro para o Lyon.  O norte-americano fez uma apresentação para os jornalistas franceses presentes sobre o que mudou no clube brasileiro desde 2022, ano em que assumiu. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_1.jpg"></div><p class='foto-descricao'>Botafogo x Fortaleza aquecimento Thiago Almada e Luiz Henrique — Foto: André Durão</p>
Para onde vai o dinheiro?
Se parte do dinheiro de eventuais vendas de Almada, Luiz Henrique e Igor Jesus - os três principais jogadores que são observados pelo mercado internacional - pode ir para o exterior, quanto da verba será dividida entre Botafogo e Lyon? Textor explicou.</p>
<p class='noticia-conteudo'>- O dinheiro de competições (premiação) provavelmente ficará para o Botafogo.  Pela nossa relação de jogadores, todo o dinheiro fica em uma mesma conta e todos os clubes tomam conta.  Nada sobre premiações está previsto ainda, você pode fazer 7 ou 8 milhões de acordo com sua posição no Brasileirão, a premiação na Libertadores também depende do título e ainda tem o Super Mundial que só jogaremos se vencermos a final da Libertadores, que ainda não sei o valor, dizem que pode ser 25 ou 50 milhões de euros.</p>
<p class='noticia-conteudo'>O que Textor mostrou
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_2.jpg"></div><p class='foto-descricao'>Apresentação de John Textor no Lyon — Foto: Reprodução</p>
"O projeto Eagle (Brasil): reestabelecer a reputação do Botafogo como o "Mais tradicional" e o mais glorioso time de futebol da história do Brasil.  Eagle Football teve que tirar o clube da falência, transformar o time da Série B para a Série A e encher o estádio"
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_3.jpg"></div><p class='foto-descricao'>Apresentação de John Textor no Lyon — Foto: Reprodução</p>
"Ao lado do sucesso da equipe, a transição do Botafogo para vendas de matchday e sócio-torcedor convidou os torcedores a serem parte do show..</p>
<p class='noticia-conteudo'>.  botando fogo na arquibancada, melhorando nosso produto midiático e mostrando revendas escaláveis. "
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_4.jpg"></div><p class='foto-descricao'>Apresentação de John Textor no Lyon — Foto: Reprodução</p>
"Botafogo está na final da Libertadores pela primeira vez na história e lidera o Brasileirão com seis pontos de vantagem com seis rodadas para acabar o campeonato.</p>
<p class='noticia-conteudo'>" [Textor posteriormente afirma que a tabela está atrasada em uma rodada]
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_5.jpg"></div><p class='foto-descricao'>Apresentação de John Textor no Lyon — Foto: Reprodução</p>
"Possivelmente pela primeira vez na história do Brasil, Eagle reverteu a direção das saídas de jogadores do Brasil, convencendo jogadores a acreditar na Eagle, voltar para o Brasil e usar o Botafogo como um caminho para a Seleção.  Em 2024, Botafogo colocou mais jogadores nas respectivas seleções que qualquer outro clube na América do Sul"


Assista: tudo sobre o Botafogo no ge, na Globo e no sportv
50 vídeos
BOTAFOGO.</p>
{% endblock main_content %}
{% block cor_categoria %}#000000{% endblock cor_categoria %}

