
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Time que volta ao Paulistão após 46 anos acelera obras para finalizar “novo” estádio; fotos{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Time que volta ao Paulistão após 46 anos acelera obras para finalizar “novo” estádio; fotos
“Vão sobrar só quatro salas do Benitão antigo”, afirma presidente do Velo Clube, que está no grupo com Palmeiras, São Bernardo e Ponte Preta



Velo Clube cai no grupo D com o Palmeiras no Paulistão de 2025
Faltando pouco tempo para voltar ao Paulistão depois de 46 anos, o Velo Clube corre contra o tempo para entregar o “novo” Estádio Benito Agnelo Castellano, o Benitão.  As obras foram iniciadas no segundo semestre deste ano e precisam estar prontas em dezembro.  A estreia do time está marcada para 15 de janeiro, em casa, contra o Noroeste, em reedição da final da A2 de 2024.</p>
<p class='noticia-conteudo'>O clube informou que as obras e adequações estão em estado avançado, com os prazos sendo administrados junto com a Federação Paulista de Futebol (FPF). 
Segundo o presidente Reginaldo Breda, além da construção de uma nova arquibancada para o estádio chegar à capacidade de 10 mil pessoas, conforme exigências da FPF, estão sendo feitas melhorias em praticamente toda a estrutura da casa do rubro-verde de Rio Claro (SP). 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_0.jpg"></div><p class='foto-descricao'>Velo Clube prepara Benitão para o Paulistão — Foto: Divulgação/Torcida Geral do Velo Clube</p>

As intervenções são custeadas pela prefeitura, que investiu R$ 2 milhões na construção da nova arquibancada – o estádio é municipal –, e por verba do clube, que também deve gastar em torno desse mesmo valor nas obras dos outros setores, com apoio de patrocinadores.</p>
<p class='noticia-conteudo'>– De 15 em 15 dias a gente se reúne lá na FPF ou aqui.  Eles estão acompanhando tudo.  (.</p>
<p class='noticia-conteudo'>. . ) As obras são de infraestrutura de vestiário, cabines, banco de reservas, banheiro, sede, academia, gramado.</p>
<p class='noticia-conteudo'>Estão em fase de acabamento – explicou Breda. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_1.jpg"></div><p class='foto-descricao'>Velo Clube prepara Benitão para o Paulistão — Foto: Divulgação/Torcida Geral do Velo Clube</p>

– No gramado fizemos uma recuperação inteira dele.  Fizemos um tratamento de controle de praga, vai ter que fazer de novo, e não vamos usar o gramado até o início do gramado.</p>
<p class='noticia-conteudo'>Está bem tranquilo.  (A torcida) está contando com o nosso trabalho, está ansiosa.  Aqui está um canteiro de obras.</p>
<p class='noticia-conteudo'>Vão sobrar só quatro salas do Benitão antigo, vai ser um novo Benitão – detalhou Breda. 
O Velo também está preparando um novo campo de treinamento com o objetivo de preservar o gramado principal para os jogos. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_2.jpg"></div><p class='foto-descricao'>Velo Clube prepara Benitão para o Paulistão — Foto: Divulgação/Torcida Geral do Velo Clube</p>
– Estamos plantando grama no campo novo para poder fazer aquecimento, treino durante a semana sem utilizar o gramado principal.</p>
<p class='noticia-conteudo'>A nossa preparação vai ser em um campo do município.  Estamos preparando o gramado dele também para ter condições de a equipe se preparar bem – disse o presidente. 
Outra mudança no Benitão está no sistema de iluminação, que está sendo todo trocado.</p>
<p class='noticia-conteudo'>Agora, todos os refletores serão de LED. 
– Essa iluminação é de primeiro mundo.  Vamos ter aqui 1100 LUX (luz percebida pelo olho humano) no gramado inteiro.</p>
<p class='noticia-conteudo'>O mínimo exigido é 700.  Vamos ter quase o dobro de capacidade, tudo LED.  Contratamos uma empresa daqui.</p>
<p class='noticia-conteudo'>São várias frentes de trabalho.  Uma está fazendo a torre, outra cabeamento e outra a iluminação.  Colocamos a base da torre, semana que vem as torres, depois os holofotes – afirmou o presidente.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_3.jpg"></div><p class='foto-descricao'>Velo Clube prepara Benitão para o Paulistão — Foto: Divulgação/Velo Clube</p>
Velo no Paulistão
O Velo Clube está no grupo D do Paulistão, ao lado de Palmeiras, Ponte Preta e São Bernardo.  O elenco já tem jogadores apalavrados, mas ainda não anunciados oficialmente.  Do time que subiu, sete atletas permaneceram.</p>
<p class='noticia-conteudo'>A pré-temporada começou no dia 19 de novembro com 18 atletas.  A ideia é que 26 façam parte do elenco do estadual. 
De acordo com a tabela, são seis jogos no Benitão, entre eles o Santos na quarta rodada, e seis fora de casa (clique aqui para conferir).</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_4.jpg"></div><p class='foto-descricao'>Jogadores do Velo comemoram conquista com a torcida no Benitão — Foto: Thomaz Marostegan/ Ag Paulistão</p>
O Galo foi campeão da Série A2 deste ano ao bater o Noroeste na final.  Os dois times subiram de divisão ao eliminarem Juventus-SP e Portuguesa Santista, respectivamente, nas semifinais.  A única e última vez que o Galo Vermelho disputou o Paulistão foi em 1979.</p>
<p class='noticia-conteudo'>O time teve o comando de Guilherme Alves como técnico na campanha da Série A2.  O ex-atacante do Atlético-MG e Corinthians chegou a ser emprestado para o Água Santa no segundo semestre, para a disputa da Série D, e retornou ao clube de Rio Claro para dar início à preparação para o estadual. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_5.jpg"></div><p class='foto-descricao'>Gabriel Félix, capitão do Velo, levanta taça de campeão da Série A2 — Foto: Thomaz Marostegan/Ag.</p>
<p class='noticia-conteudo'>Paulistão</p>
Veja mais fotos da reforma
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_6.jpg"></div><p class='foto-descricao'>Velo Clube prepara Benitão para o Paulistão — Foto: Divulgação/Torcida Geral do Velo Clube</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_7.jpg"></div><p class='foto-descricao'>Velo Clube prepara Benitão para o Paulistão — Foto: Divulgação/Torcida Geral do Velo Clube</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_8.jpg"></div><p class='foto-descricao'>Velo Clube prepara Benitão para o Paulistão — Foto: Divulgação/Velo Clube</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_9.jpg"></div><p class='foto-descricao'>Nova arquibancada do Benitão, casa do Velo Clube, que volta ao Paulistão — Foto: Divulgação/Velo Clube</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_10.jpg"></div><p class='foto-descricao'>Velo Clube prepara Benitão para o Paulistão — Foto: Divulgação/Velo Clube</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_11.jpg"></div><p class='foto-descricao'>Velo Clube prepara Benitão para o Paulistão — Foto: Divulgação/Velo Clube</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_12.jpg"></div><p class='foto-descricao'>Velo Clube prepara Benitão para o Paulistão — Foto: Divulgação/Velo Clube</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_13.jpg"></div><p class='foto-descricao'>Velo Clube prepara Benitão para o Paulistão — Foto: Divulgação/Velo Clube</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_14.jpg"></div><p class='foto-descricao'>Novo banco de reservas do Velo Clube para o Paulistão — Foto: Divulgação/Velo Clube</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_15.jpg"></div><p class='foto-descricao'>Velo Clube prepara Benitão para o Paulistão — Foto: Divulgação/Velo Clube</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_16.jpg"></div><p class='foto-descricao'>Velo Clube prepara Benitão para o Paulistão — Foto: Divulgação/Velo Clube</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_17.jpg"></div><p class='foto-descricao'>Velo Clube prepara vestiário do Benitão para o Paulistão — Foto: Divulgação/Velo Clube</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_18.jpg"></div><p class='foto-descricao'>Velo Clube prepara vestiário do Benitão para o Paulistão — Foto: Divulgação/Velo Clube</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_19.jpg"></div><p class='foto-descricao'>Velo Clube prepara Benitão para o Paulistão — Foto: Divulgação/Velo Clube</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_20.jpg"></div><p class='foto-descricao'>Velo Clube prepara Benitão para o Paulistão — Foto: Divulgação/Velo Clube</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_21.jpg"></div><p class='foto-descricao'>Velo Clube prepara Benitão para o Paulistão — Foto: Divulgação/Velo Clube</p>
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_4_22.jpg"></div><p class='foto-descricao'>Velo Clube prepara Benitão para o Paulistão — Foto: Divulgação/Velo Clube</p>
Veja mais notícias da região no ge. globo/ribeirao.</p>
{% endblock main_content %}

