
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}gremio{% endblock title %}
{% block main_title %}gremio{% endblock main_title %}
{% block second_title %}Tite recebe sondagem do Grêmio, mas reforça intenção de trabalhar fora do Brasil{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Tricolor procura substituto para Renato Portaluppi, que deixou o clube na segunda-feira




Quem é o alvo do Grêmio para o lugar de Renato Gaúcho?
A informação foi publicada por GZH e confirmada pelo ge.  O Tricolor tinha em Tite a principal figura para substituir o técnico Renato Portaluppi, que deixou Porto Alegre nesta terça-feira. 
O ex-comandante da Seleção respondeu ao Grêmio que espera propostas da Europa e de outros mercados, apesar do carinho com o clube gaúcho.</p>
<p class='noticia-conteudo'>A parceria teve sucesso em 2001 com o título da Copa do Brasil, o primeiro de repercussão nacional do treinador. 
Desde a saída da Seleção, Tite mantém a intenção de trabalhar em clube europeu.  O técnico esperará ao menos até o meio do próximo ano para cumprir esse objetivo pessoal.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_363_0.jpg"></div><p class='foto-descricao'>Tite está livre desde saída do Flamengo — Foto: André Durão/ge</p>
No momento, Tite tem conversas com um clube do futebol europeu e outro da Arábia Saudita.  O treinador esteve na Europa e visitou alguns colegas de profissão para observações e colhendo informações sobre o mercado. 
O Grêmio está no mercado desde a definição da saída de Renato no início da tarde de segunda-feira.</p>
<p class='noticia-conteudo'>Além do ídolo, o Grêmio também acertou a saída de dois preparadores físicos e dois preparadores de goleiros.  Como o vice de futebol Antônio Brum também saiu, o Tricolor pretende definir o nome para 2025 e depois remontar a comissão técnica. 

TITE.</p>
{% endblock main_content %}

