
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Títulos de Ana Marcela e Rayssa Leal marcam semana olímpica do Brasil{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Títulos de Ana Marcela e Rayssa Leal marcam semana olímpica do Brasil
Rayssa Leal é campeã de etapa da Street League e Ana Marcela garante título do Circuito Mundial; no polo aquático, seleção masculina é ouro no Pan e, basquete consegue vitórias importantes



Rayssa Leal supera dores e conquista etapa de Tóquio da Street League de Skate
Rayssa Leal e Ana Marcela mostraram, novamente, que estão entre as maiores atletas da história do país.  Rayssa foi campeã da etapa de Tóquio da Street League, derrotando quatro medalhistas olímpicas, enquanto Ana Marcela garantiu o título do Circuito Mundial de águas abertas pela sétima vez.  No basquete, seleção masculina se garante na Copa América, e no polo aquático, título do Pan coloca o Brasil no Mundial de 2025.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_34_0.jpg"></div><p class='foto-descricao'>Rayssa Leal é campeã da etapa de Tóquio da SLS — Foto: SLS</p>
RAYSSA CAMPEÃ
Veja as melhores voltas de Rayssa Leal na conquista da etapa de Tóquio da SLS
As cinco medalhistas olímpicas da história do skate estavam na etapa do Japão da Street League.  Prata em 2021 e bronze em 2024, Rayssa Leal foi campeã da competição, superando a torcida e suas principais rivais: Coco Yoshizawa e Liz Akama, que foram ao pódio em Paris 2024, e Monjii Noshiya e Funa Nakayama, medalhistas em Tóquio 2021.  Rayssa conquistou o ouro ao conseguir uma ótima pontuação na última manobra.</p>
<p class='noticia-conteudo'>Rayssa Leal é campeã da etapa de Tóquio da SLS
ANA MARCELA CAMPEÃ
Ana Marcela é heptacampeã do Circuito Mundial de Águas Abertas
A brasileira Ana Marcela conquistou o título do Circuito Mundial de águas abertas pela sétima vez na carreira.  Ela, que era líder do ranking após quatro etapas, precisou chegar apenas em sétimo lugar na etapa da Arábia Saudita para erguer o troféu de campeã da temporada 2024.  Ela já tinha vencido o Circuito em 2010, 2012, 2014, 2018, 2021 e 2022.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_34_1.jpg"></div><p class='foto-descricao'>Ana Marcela e Marc-Antoine Olivier, campeões do Circuito Mundial de águas abertas — Foto: Getty Images</p>
VITÓRIAS NO BASQUETE
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_34_2.jpg"></div><p class='foto-descricao'>Brasil e Panamá nas Eliminatórias da AmeriCup — Foto: Fiba</p>
A seleção brasileira masculina de basquete garantiu a vaga na Copa América do ano que vem.  O time venceu duas partidas válidas pelas Eliminatórias da competição.  Em Belém, derrotou o Uruguai e o Panamá.</p>
<p class='noticia-conteudo'>O time está invicto nas eliminatórias, com quatro vitórias, e conseguiu a vaga por antecipação. 
MARTA CAMPEÃ
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_34_3.jpg"></div><p class='foto-descricao'>Orlando Pride é campeão da NWSL — Foto: JAMIE SQUIRE / GETTY IMAGES NORTH AMERICA</p>
O Orlando Pride, de Marta, sagrou-se campeão da NWSL (National Women's Soccer League), a liga de futebol feminino dos Estados Unidos.  O feito foi alcançados após a equipe vencer o Washington Spirit por 1 a 0, em Kansas City, no Missouri, e marcou a primeira conquista deste título pela franquia da Flórida.</p>
<p class='noticia-conteudo'>TÍTULO NO POLO AQUÁTICO
A seleção brasileira masculina de polo aquático conquistou o Pan-Americano da modalidade, disputado na Colômbia.  As vitórias contra Canadá e Argentina foram as mais importantes no torneio que foi disputado em seis rodadas de pontos corridos.  A seleção terminou invicta e garantiu vaga no Campeonato Mundial do ano que vem.</p>
<p class='noticia-conteudo'>Os americanos, medalhistas em Paris 2024, não participaram do evento pois já tinham vaga garantida para o Mundial.  No feminino, a seleção ficou em terceiro lugar e sem vaga para o Mundial. 
ÚLTIMA ETAPA DO CIRCUITO DE VÔLEI DE PRAIA
Agatha/Rebecca 2 x 1 Vic/Thamela | Melhores Momentos | Crcuito Brasileiro de Vôlei de Prai
Ágatha fez sua despedida das areias brasileiras em grande estilo.</p>
<p class='noticia-conteudo'>A jogadora faturou a décima e última etapa do Circuito Brasileiro de vôlei de praia ao lado de Rebecca.  A dupla venceu Thâmela e Vic, por 2 sets a 1, e sagrou-se campeã em um jogo muito disputado.  As parciais foram de 26/24, 19/21 e 16/14.</p>
<p class='noticia-conteudo'>No masculino, Arthur e Adrielson ficaram com medalha de ouro. 
ETAPA DO STU
Kalani Konig tira 90,96 na segunda volta da final do STU Super Finals
Depois de conquistar o título da temporada de forma antecipada, Kalani Konig foi campeão do Super Finals, em São Paulo, e tornou-se o primeiro atleta a ganhar quatro etapas do STU no mesmo ano.  Durante a decisão, teve uma excelente performance e marcou 90.</p>
<p class='noticia-conteudo'>96.  Dan Sabino, com 89. 00, e Augusto Akio, com 86.</p>
<p class='noticia-conteudo'>27, completaram o pódio.  No feminino, Helena Laurino, de 12 anos, foi campeã da etapa, e Isadora Pacheco, em terceiro na etapa, foi a campeã geral. 
Helena Laurino faz 82.</p>
<p class='noticia-conteudo'>07 e abre vantagem na liderança do skate park no STU em São Paulo
CAMPEONATO BRASILEIRO DE JUDÔ
Vila Velha, no Espírito Santo, sediou o Campeonato Brasileiro de Judô, competição que contou com alguns dos principais atletas do país.  Destaque para Rafael Buzacarini, campeão no peso pesado, sua nova categoria, e Clarice Ribeiro, ouro no peso ligeiro.  Ela, de só 17 anos, foi campeã mundial sub-17 e bronze no Mundial sub-21.</p>
<p class='noticia-conteudo'>No peso até 63kg, sem Rafaela Silva, título ficou com Nauana Silva. 
OPEN DE BOXE
No Campeonato Brasileiro Elite Open, que contou com atletas olímpicos, campeões brasileiros e novos talentos que se destacaram no início do ciclo para Los Angeles-2028, os destaques ficaram com Caroline Almeida e Barbara Santos, assim como Queila Américo e Yuri Falcão.  Os quatro foram campeões, com autoridade, em suas categorias.</p>
<p class='noticia-conteudo'>COMEÇO DO CIRCUITO DE ESGRIMA
Na primeira competição do Circuito Mundial 2024/25 do florete, os brasileiros foram eliminados sem jogar a chave principal.  Na etapa da Tunísia, Guilherme Toldo e Paulo Morais foram até a terceira rodada da fase eliminatória, mas não entraram na chave dos 64 melhores. 
FIM DA TEMPORADA DO TÊNIS DE MESA
Na última competição do Circuito Mundial de tênis de mesa, Hugo Calderano foi eliminado na primeira rodada do Finals de Fukuoka, torneio que reuniu os 16 melhores da temporada.</p>
<p class='noticia-conteudo'>Ele perdeu para Jang Woojin por 3 a 2.  Assim, o brasileiro fecha, pela sétima vez seguida, o ano no top 10 do ranking mundial da modalidade. 
RECORDE NA NATAÇÃO
A brasileira Stephanie Balduccini venceu as 200 jardas livre de um importante torneio universitário da natação nos EUA.</p>
<p class='noticia-conteudo'>Ela marcou o tempo de 1min41s85, recorde continental da distância, e, assim, assumiu a liderança do ranking universitário americano. 
BOA MARCA NO LEVANTAMENTO DE PESO
Eduarda Souza bateu o recorde brasileiro da categoria até 59kg do levantamento de peso.  Em uma competição na Espanha, anotou 222kg no total, com 122kg no arremesso e 100kg no arranco.</p>
<p class='noticia-conteudo'>Ela tem 18 anos e é uma das esperanças do país para esse ciclo. 
VICE NO BEISEBOL
A seleção brasileira de beisebol ficou com a medalha de prata no Campeonato Sul-Americano, disputado em Lima, no Peru.  Na final, diante da Argentina, o Brasil saiu na frente com 1 a 0, mas acabou sofrendo a virada na última entrada, e caiu por 2 a 1.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}

