
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Título do Botafogo na Libertadores vira trunfo do governo Milei em defesa das SAFs na Argentina{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Título do Botafogo na Libertadores vira trunfo do governo Milei em defesa das SAFs na Argentina
Final da Libertadores entre Atlético-MG e Botafogo foi usada pelo presidente argentino como ponto de defesa às sociedades anônimas no futebol do país



Redação sportv debate situação das SAFs na Argentina
A final da Libertadores entre Atlético-MG e Botafogo, clubes geridos no modelo de sociedade anônima, levantou mais uma vez o debate das SADs (similares às SAFs do Brasil) na Argentina.  Javier Milei, presidente do país, é um forte defensor da entrada de capital externo no futebol, enquanto a Associação do Futebol Argentino (AFA) é contra.  O título do Botafogo foi usado pelo governo como um ponto a favor do novo modelo.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_23_0.jpg"></div><p class='foto-descricao'>Javier Milei, presidente da Argentina — Foto: Luciano Adan Gonzalez Torres/Anadolu via Getty Images</p>
Desde 2019, apenas dois clubes argentinos disputaram finais da Libertadores.  No primeiro ano da disputa, o River Plate perdeu por 2 a 1 para o Flamengo.  Em 2023, foi a vez do Boca Juniors cair para o Fluminense.</p>
<p class='noticia-conteudo'>Neste sábado, o Botafogo venceu o sexto título seguido do Brasil na competição. 
Essa foi a primeira final da Libertadores entre SAFs.  O Botafogo é gerido como sociedade anônima desde 2021, enquanto o Atlético-MG seguiu o modelo em 2023.</p>
<p class='noticia-conteudo'>A equipe mineira eliminou o River Plate na semifinal.  San Lorenzo e Talleres foram os argentinos que caíram nas oitavas. 
O título do Botafogo no Monumental, casa do River Plate, fez o governo argentino defender ainda mais as SAFs no país.</p>
<p class='noticia-conteudo'>Javier Lanari, subsecretário de imprensa de Javier Milei, afirmou que o sábado foi um "péssimo dia para ser anti-SAD". 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_23_1.jpg"></div><p class='foto-descricao'>John Textor Botafogo Libertadores — Foto: Agustin Marcarian/Reuters</p>
— O caso do Botafogo é incrível.  Há três anos estava falido, jogou na segunda divisão.</p>
<p class='noticia-conteudo'>Um empresário americano comprou 90% e investiu US$ 70 milhões.  Hoje são campeões da Libertadores.  Nada mais deprimente do que assistir à final da Libertadores entre duas equipes brasileiras pela TV.</p>
<p class='noticia-conteudo'>E, também, na Argentina.  Eu completo o combo.  Péssimo dia para ser anti-SAD — publicou Lanari.</p>
<p class='noticia-conteudo'>Sociedades anônimas não são permitidas no futebol argentino.  Caso um clube vire SAD, a AFA irá desfiliar a equipe imediatamente.  Claudio "Chiqui" Tapia, presidente da federação, é um forte opositor de Milei a respeito dos investimentos externos.</p>
<p class='noticia-conteudo'>— Proibir um clube de se organizar como empresa é tão grave quanto obrigar todos os clubes a se transformarem em empresa, do ponto de vista da violação à autonomia.  E realmente é um atraso na adoção do conceito que se faz no mundo inteiro, que só tem aumentado a distância financeira entre os clubes da Argentina e os brasileiros — disse José Francisco Manssur, coautor do projeto de lei que criou as SAFs, em agosto de 2021 no Brasil. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_23_2.jpg"></div><p class='foto-descricao'>Troféu do Campeonato Argentino — Foto: LPF</p>
O contexto do país é muito diferente do brasileiro.</p>
<p class='noticia-conteudo'>Enquanto o River Plate ultrapassou os 350 mil sócios, a segunda maior marca do mundo, outros clubes também possuem números significativos, até mesmo os considerados menores.  Na Argentina, o clube tem uma participação maior do torcedor além do futebol.  SAFs são rejeitadas por muitos fãs.</p>
<p class='noticia-conteudo'>Redação SporTV debate SAFs em clubes argentinos
— É preciso, no entanto, boa gestão.  Alguns clubes sul-americanos têm seguido esse caminho, mas é uma minoria.  A partir do instante em que isso se tornar uma realidade, principalmente aos argentinos, creio que o nível de competitividade terá um efeito maior de equilíbrio — analisou Claudio Fiorito, presidente da P&P Sport Management Brasil, especializada no gerenciamento da carreira de atletas.</p>
<p class='noticia-conteudo'>Em dezembro de 2023, Milei publicou um decreto com uma série de mudanças para a economia argentina.  No pacote, previa-se a mudança da Lei Geral de Sociedades, de 1984, para permitir que as associações esportivas se tornem Sociedades Anônimas caso dois terços dos associados aprovem. 
A AFA foi contra a medida de Milei, que respondeu.</p>
<p class='noticia-conteudo'>Em agosto, o presidente argentino decretou que “qualquer direito de uma organização desportiva não pode ser impedido, privado ou prejudicado em razão de sua forma jurídica, seja uma associação civil ou uma corporação, desde que seja reconhecido por lei”.  A Fifa proíbe que qualquer governo intervenha no estatuto de uma federação, e a seleção pode ser punida. 
Em outubro, Claudio Tapia foi reeleito para mais um mandato na federação, até 2029.</p>
<p class='noticia-conteudo'>A chapa de Tapia era a única no pleito.  A Inspeção-Geral da Justiça (IGJ) do país alegou que outros assuntos poderiam ser discutidos, como o balanço financeiro da AFA, mas que uma eventual eleição do presidente "não seria válida" e poderia até configurar crime. 
A resposta de Javier Milei foi revogar um decreto que derrubou os benefícios fiscais que os clubes do país tiveram nos últimos anos.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}

