
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}vasco{% endblock title %}
{% block main_title %}vasco{% endblock main_title %}
{% block second_title %}Torcida do Vasco xinga Paiva e protesta em derrota Time sem vergonha{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Torcida do Vasco xinga Paiva e protesta em derrota: "Time sem vergonha"
Time de São Januário acumulou a terceira derrota consecutiva no Brasileirão



Torcida do Vasco xinga Rafael Paiva no fim da partida contra o Inter
Após derrota por 1 a 0 para o Internacional, nesta quinta-feira, a torcida do Vasco protestou bastante contra o desempenho da equipe em São Januário.  O técnico Rafael Paiva e os jogadores foram hostilizados pela arquibancada em uma noite de atuação abaixo do esperado pelos vascaínos. 
Em noite chuvosa no Rio, a torcida do Vasco encheu São Januário para apoiar e tentar ajudar o time a evitar a terceira derrota consecutiva no Brasileirão.</p>
<p class='noticia-conteudo'>Depois de um primeiro tempo equilibrado, o Internacional assumiu o controle da partida, povoou as proximidades da área de Léo Jardim e criou muitas chances de marcar. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_1_0.jpg"></div><p class='foto-descricao'>Torcida do Vasco protesta após derrota para o Inter — Foto: Reprodução: Premiere</p>

Sentindo o a situação se complicar, aos poucos a torcida começou a demonstrar insatisfação.  Primeiro puxou os gritos: "Não é mole não, ganhar no Caldeirão é obrigação".</p>
<p class='noticia-conteudo'>O pedido não foi suficiente e Wesley abriu o placar após uma sequência de erros defensivos.  Imediatamente, a arquibancada se voltou contra o técnico Rafael Paiva, que começou a ser xingado.  O coro negativo piorou quando ele decidiu tirar Payet de campo.</p>
<p class='noticia-conteudo'>Nos minutos finais, alguns mais esperançosos evocaram o mantra "o Vasco é o time da virada, o Vasco é o time do amor", canto que logo foi sufocado pelos gritos mais fortes de "vergonha, vergonha, time sem vergonha". 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_1_1.jpg"></div><p class='foto-descricao'>Vegetti em Vasco x Internacional — Foto: Alexandre Durão</p>
Cabisbaixos, os jogadores saíram de campo sob os protestos e vaias.  O Vasco perdeu uma posição na rodada e caiu para décimo, com 43 pontos, e vê a chance de uma vaga na Libertadores se tornar bastante improvável.</p>
<p class='noticia-conteudo'>O time volta a campo no domingo, para enfrentar o Corinthians, na Neo Química Arena, às 16h. 
"A gente tem que trabalhar, mesmo com vergonha", diz Vegetti após derrota do Vasco



Assista tudo sobre o Vasco no ge, na Globo e no SporTV:
50 vídeos
VASCO.</p>
{% endblock main_content %}

