
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}flamengo{% endblock title %}
{% block main_title %}flamengo{% endblock main_title %}
{% block second_title %}Torcida do Flamengo esgota ingressos para despedida de Gabigol{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Torcida do Flamengo esgota ingressos para despedida de Gabigol
Todas as 55. 380 entradas para rubro-negros já foram comercializadas para o jogo contra o Vitória no domingo; bilhetes do setor visitante será vendido só no dia da partida

04/12/2024 11h56 Atualizado há 3 horas

Flamengo precisa de substituto para Gabigol? Troca de Passes atualiza situação
A torcida do Flamengo esgotou a carga de ingressos destinada aos rubro-negros para a despedida de Gabigol: todas as 55. 380 entradas já foram comercializadas para o jogo contra o Vitória no próximo domingo, às 16h (de Brasília) no Maracanã.</p>
<p class='noticia-conteudo'>Os bilhetes para o setor visitante serão vendidos só no dia da partida na bilheteria do estádio.  Há ainda gratuidades e cortesias que totalizam cerca de 70 mil. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_34_0.jpg"></div><p class='foto-descricao'>Torcida do Flamengo no Maracanã — Foto: André Durão</p>
O Flamengo planeja uma festa no jogo com ações de marketing importantes para que a torcida se despeça do nome mais importante da atual geração.</p>
<p class='noticia-conteudo'>Haverá copos com a imagem do atacante à venda, o ingresso terá o rosto dele e três bandeiras que retratam três momentos marcantes da passagem do camisa 99 pela Gávea serão exibidas na arquibancada. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_34_1.jpg"></div><p class='foto-descricao'>Gabigol em Flamengo x Atlético-MG — Foto: Alexandre Durão</p>
Um dos principais ídolos de todos os tempos do Flamengo, Gabigol é o sexto maior artilheiro da história rubro-negra, com 160 gols.  Em 307 jogos, conquistou 13 títulos: duas Libertadores, dois Brasileiros, duas Copas do Brasil, duas Supercopas do Brasil, uma Recopa Sul-Americana e quatro estaduais.</p>
<p class='noticia-conteudo'>🗞️ Leia mais notícias do Flamengo
🎧 Ouça o podcast ge Flamengo
Assista: tudo sobre o Flamengo no ge, na Globo e no sportv
50 vídeos
FLAMENGO.</p>
{% endblock main_content %}

