
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Torcedor do Botafogo sem ingresso encara 2,7 mil km de moto por final da Libertadores{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Torcedor do Botafogo sem ingresso encara 2,7 mil km de moto por final da Libertadores
Patrick Vasconcelos, de Manaus, faz sua segunda viagem para ver o time e soma mais de 6 mil km viajados com semifinal e decisão; confira detalhes



Torcedor do Botafogo viajará 4 mil KM de moto para ver jogo da Libertadores
O botafoguense Patrick Vasconcelos segue em sua saga de motocicleta para ver o time do coração em busca do título inédito da Copa Libertadores da América.  Após ter encarado 4 mil km do Amazonas ao Rio de Janeiro, dessa vez, ele saiu da capital carioca, no último dia 20, e chegou a Buenos Aires, nesta terça (27), após sete dias e mais de 2,7 mil km rodados. 
— Saí do Rio de Janeiro no dia 20 e cheguei hoje (quarta-feira).</p>
<p class='noticia-conteudo'>Como eu estava recebendo o incentivo da torcida para vir a Buenos Aires, só procurei resolver a parte da documentação.  Percorri cerca de 2. 700 quilômetros do Rio de Janeiro até aqui — conta o amazonense.</p>
<p class='noticia-conteudo'>Assim como na primeira viagem para semifinal, onde deixou Manaus em cima de sua moto até o Rio, ele ainda não tinha ingresso para final entre Botafogo e Atlético-MG, que acontece no sábado, às 15h (horário de Brasília), no Monumental de Núñez.  Mas, horas após pisar em solo argentino, Patrick recebeu a notícia da patrocinadora do clube de que estaria no estádio. 
Não tinha ingresso.</p>
<p class='noticia-conteudo'>Tentei comprar, mas estava esgotado.  Agora recebi a notícia de que a patrocinadora conseguiu e vou para o jogo". 
— Patrick Vasconcelos, torcedor do Botafogo
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_25_0.jpg"></div><p class='foto-descricao'>Torcedor botafoguense viajou durante sete dias de moto até chegar na Argentina — Foto: Divulgação</p>
Em vídeo, o botafogoguense fez questão de agradecer o incentivo que vem recebendo nas redes sociais:
Botafoguense chega ao Monumental de moto para a final da Libertadores
"Amuleto da sorte"
Depois da primeira viagem, onde teve que superar a temida BR 319 (estrada que ainda não é totalmente asfaltada) e passar por três estados diferente, Patrick viralizou nas redes sociais.</p>
<p class='noticia-conteudo'>Com a repercussão, ganhou o ingresso da casa de apostas que patrocina o Botafogo e assistiu o time do coração golear o Peñarol por 5 a 0, e avançar de forma inédita para decisão continental. 
Patrick caiu nas graças da torcida Alvinegra e passou a ser tratado como um "amuleto da sorte".  Nas redes sociais, o aventureiro saiu de menos de 400 seguidores para mais de 10 mil.</p>
<p class='noticia-conteudo'>Com tanto apoio e o ingresso na mão, ele sonha em ver o time campeão. 
— Decidi viajar de moto novamente para dar continuidade nessa história.  E isso vai ser uma espécie de marca para essa final.</p>
<p class='noticia-conteudo'>A gente começou e vamos terminar.  O que tem me motivado é o apoio da minha família, minha namorada e da torcida.  Penso que o Botafogo vai ganhar de 2 a 0.</p>
<p class='noticia-conteudo'>Seremos campeões — concluiu. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_25_1.jpg"></div><p class='foto-descricao'>Patrick encarou a BR-319 para ver o time na semifinal da libertadores — Foto: Reprodução</p>
A final da Libertadores entre Botafogo e Atlético-MG será neste sábado (30), às 17h (de Brasília), em Buenos Aires, capital da Argentina.  O estádio Monumental vai sediar a decisão da Copa Libertadores.</p>
<p class='noticia-conteudo'>BOTAFOGO.</p>
{% endblock main_content %}

