
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Botafogo{% endblock title %}
{% block main_title %}Botafogo{% endblock main_title %}
{% block second_title %}Torcida do Botafogo faz bandeiraço em praça de Buenos Aires antes de final da Libertadores{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Torcida do Botafogo faz bandeiraço em praça de Buenos Aires antes de final da Libertadores
Cerca de 350 torcedores se reuniram no Lago de Regatas para festejar a chegada à decisão



Torcida do Botafogo faz festa em Buenos Aires
Falta um dia para a final da Libertadores, e a torcida do Botafogo aproveita cada minuto antes da grande decisão para festejar em Buenos Aires.  Na tarde desta sexta-feira, véspera da partida contra o Atlético-MG, torcedores do time carioca se reuniram no tradicional Lago de Regatas para realizar um bandeiraço. 
Sob céu limpo e tarde ensolarada, cerca de 350 torcedores se espalharam ao redor do lago com bandeiras e balões para entoar músicas de apoio ao Botafogo e compartilhar, juntos, a expectativa pelo título inédito na história do clube.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_92_0.jpg"></div><p class='foto-descricao'>Torcida do Botafogo festeja no Lago de Regatas, em Buenos Aires — Foto: Sergio Santana/ge</p>


Desde o início da semana, torcedores do Botafogo têm tomado as ruas de Buenos Aires sempre em clima festivo.  Na quinta-feira, lotaram os arredores da Bombonera, estádio do Boca Juniors, e chegaram a esgotar ingressos para o tour no local. 
À noite, ocuparam os tradicionais bares de Puerto Madero, um dos principais pontos turísticos da província.</p>
<p class='noticia-conteudo'>Lá puderam festejar a presença na final com o americano John Textor, proprietário da SAF, que apareceu no local de surpresa. 
Botafogo faz reconhecimento do gramado no Monumental
Enquanto a torcida faz a festa, jogadores mantêm o foco na partida.  Nesta manhã, foi realizado o reconhecimento do gramado do Monumental de Nuñez que, amanhã, às 17h, receberá Botafogo e Atlético-MG, em busca da Glória Eterna.</p>
<p class='noticia-conteudo'>Assista: tudo sobre o Botafogo no ge, na Globo e no sportv
50 vídeos
BOTAFOGO.</p>
{% endblock main_content %}

