
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}corinthians{% endblock title %}
{% block main_title %}corinthians{% endblock main_title %}
{% block second_title %}Torcida do Corinthians lança campanha de arrecadação para pagar a Arena; saiba como doar{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Torcida do Corinthians lança campanha de arrecadação para pagar a Arena; saiba como doar
Alvinegros podem acompanhar volume de arrecadação em tempo real por meio de site



Torcida do Corinthians anuncia "vaquinha" para pagar arena
Está no ar a campanha de arrecadação de dinheiro para o pagamento à Caixa Econômica Federal do financiamento da Neo Química Arena, casa do Corinthians.  A "vaquinha" foi encabeçada pela torcida organizada Gaviões da Fiel, com aval do clube e do banco. 
As doações podem ser de qualquer valor e são feitas via PIX por meio do site https://www.</p>
<p class='noticia-conteudo'>doearenacorinthians. com. br/.</p>
<p class='noticia-conteudo'>O saldo do financiamento do clube com a Caixa Econômica Federal está na casa de R$ 710 milhões, e a expectativa é de que seja possível até mesmo quitar o débito com o valor arrecadado na campanha.  Nas primeiras 2h, as doações passaram de R$ 500 mil. 
Uma comissão fiscal independente vai acompanhar a ação.</p>
<p class='noticia-conteudo'>O Corinthians não terá acesso aos valores e não há risco de a conta ser alvo de bloqueios ou penhoras. 
Mais notícias do Corinthians:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_43_0.jpg"></div><p class='foto-descricao'>Corinthians deve cerca de R$ 710 milhões pela Neo Quimica Arena — Foto: Marcos Ribolli</p>
Por meio do site da campanha os torcedores poderão acompanhar o volume de doações em tempo real. 
A “vaquinha” terá duração máxima de seis meses.</p>
<p class='noticia-conteudo'>Se a meta de dinheiro for atingida antes, a arrecadação será interrompida. 

Todos os que colaborarem receberão um certificado de doação e, caso autorizem, terão seus nomes divulgados no painel de doadores que será instalado na arena. 


50 vídeos
CORINTHIANS.</p>
{% endblock main_content %}

