
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Torcedor do Botafogo tatua taças do Brasileirão e da Libertadores antes de decisões{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Torcedor do Botafogo tatua taças do Brasileirão e da Libertadores antes de decisões
Botafoguense mora em Curitiba e se diz confiante nas duas conquistas em 2024



Torcida do Botafogo faz a festa na porta do Nilton Santos em despedida do time
O Botafogo vive a semana mais decisiva na própria história, enfrentando o Palmeiras, nesta terça-feira, às 21h30, no Allianz Parque, pela liderança do Campeonato Brasileiro e, no sábado, o Atlético-MG na final da Libertadores.  Mas um botafoguense já tem confiança na conquista das duas taças, ao ponto de tatuar elas. 

Trata-se de Alex Fonseca.</p>
<p class='noticia-conteudo'>Morador de Curitiba, ele foi a um estúdio de tatuagem nesta semana e já marcou na pele as duas conquistas, que ainda não estão asseguradas pelo Glorioso nesta temporada. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_57_0.jpg"></div><p class='foto-descricao'>Tatuagem de torcedor do Botafogo com taças de 2024 — Foto: Arquivo Pessoal</p>
- O motivo? Eu acredito no meu time esse ano, ano passado nos decepcionou, mas esse ano eu tenho fé que vai trazer os dois títulos para o Botafogo.  E o meu sonho, quero que se realize, conhecer o time do Botafogo inteiro no Rio de Janeiro - afirmou.</p>
<p class='noticia-conteudo'>O confronto direto contra os paulistas nessa terça se tornou uma espécie de final de campeonato.  Os dois times estão empatados em pontos e, em caso de vitória, o Glorioso dependeria apenas de si mesmo nas últimas duas rodadas contra Internacional e São Paulo para ser campeão.  Quatro pontos bastariam.</p>
<p class='noticia-conteudo'>Corintianos e são-paulinos se unem na torcida pelo Botafogo
Caso o Palmeiras saia vitorioso, iria para os dois últimos jogos, contra Cruzeiro e Fluminense, precisando apenas de três pontos pela taça.  Um empate forçaria os paulistas a vencer os dois confrontos. 
A Libertadores é mais simples, jogo único contra o Atlético-MG e quem vencer é campeão da América.</p>
<p class='noticia-conteudo'>Se os 90 minutos terminarem empatados, o duelo vai para a prorrogação.  Caso se mantenha a igualdade, disputa de pênaltis.  A bola rola ás 17h do próximo sábado (30) no estádio Más Monumental, em Buenos Aires.</p>
<p class='noticia-conteudo'>Assista: tudo sobre o Botafogo no ge, na Globo e no sportv
50 vídeos
BOTAFOGO.</p>
{% endblock main_content %}

