
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Torcida do Cruzeiro protesta contra Fernando Diniz e jogadores Time pipoqueiro; assista{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Torcida do Cruzeiro protesta contra Fernando Diniz e jogadores: "Time pipoqueiro"; assista
Treinador do Cruzeiro tem aproveitamento de 30,30% no comando celeste


O Cruzeiro novamente tropeçou no Campeonato Brasileiro, e a maioria dos 21 mil torcedores presentes no Mineirão protestou ao fim do empate por 1 a 1 com o Grêmio.  O time foi chamado de "pipoqueiro", e o técnico Fernando Diniz foi xingado. 

Torcida do Cruzeiro cobra jogadores no Mineirão: "Time pipoqueiro"


Na saída de campo, boa parte dos jogadores foi vaiada pela torcida cruzeirense.</p>
<p class='noticia-conteudo'>Fernando Diniz saiu para o vestiário, mas voltou ao gramado, reclamou da arbitragem, cumprimentou os atletas ainda e saiu abraçado com Matheus Pereira para o vestiário.  Durante o jogo, a torcida acompanhou tentando incentivar o time.  A paciência só terminou nos acréscimos.</p>
<p class='noticia-conteudo'>É o terceiro jogo seguido em casa que Fernando Diniz ouve protestos da torcida cruzeirense.  O treinador só conseguiu vencer dois jogos em 12 disputados pelo Cruzeiro: Lanús (1 a 0, que garantiu a vaga na final da Sul-Americana) e o Criciúma (2 a 1, no Campeonato Brasileiro). 
Cruzeiro 1 x 1 Grêmio | Melhores momentos | 35ª rodada | Brasileirão 2024
O treinador teve mais cinco empates (duas pela Sul-Americana e mais três pelo Brasileiro) e cinco derrotas.</p>
<p class='noticia-conteudo'>A última na final da Sul-Americana, por 3 a 1 para o Racing, e mais quatro no Campeonato Brasileiro.  O aproveitamento é de 30%. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_37_0.jpg"></div><p class='foto-descricao'>Fernando Diniz, do Cruzeiro — Foto: Gilson Lobo/AGIF</p>
O Cruzeiro tem 48 pontos no Campeonato Brasileiro, ainda no G-7, mas está entre as piores campanhas do returno da competição.</p>
<p class='noticia-conteudo'>Assista: tudo sobre o Cruzeiro no ge, na Globo e no Sportv
50 vídeos

COPA DO BRASIL
CRUZEIRO.</p>
{% endblock main_content %}

