
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}vasco{% endblock title %}
{% block main_title %}vasco{% endblock main_title %}
{% block second_title %}Torneira dourada Entenda a polêmica da obra da sede náutica do Vasco{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Torneira dourada? Entenda a polêmica da obra da sede náutica do Vasco
Reforma foi financiada por campanha de doação de torcedores liderada por Zé Colmeia, criticado por Pedrinho em entrevista: "Não é lugar das pessoas usarem o Vasco em benefício próprio"



Torneira dourada: veja como ficou o banheiro da sede náutica do Vasco após reforma
Em entrevista coletiva na quinta-feira, Pedrinho deu ares de polêmica ao assunto das obras na Sede Náutica do Vasco, situada na Lagoa Rodrigo de Freitas.  O presidente do clube acusou Fernando Lima, o "Zé Colmeia", de usar a reforma em benefício próprio. 

As obras foram financiadas por meio de uma campanha de doação dos torcedores que foi liderada por Zé Colmeia, que é um vascaíno com mais de 140 mil seguidores nas redes sociais.</p>
<p class='noticia-conteudo'>O local foi entregue em janeiro deste ano.  "Agradecemos a Fernando Lima e aos vascaínos que viabilizaram essa obra", diz a placa de inauguração. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_2_0.jpg"></div><p class='foto-descricao'>Torneira dourada do banheiro do salão nobre da sede náutica do Vasco — Foto: Divulgação</p>
Entre as críticas, Pedrinho citou as "torneiras de ouro" instaladas no banheiro do salão nobre da sede.</p>
<p class='noticia-conteudo'>Veja o que disse o presidente:
- Esse cidadão estava na sede da Lagoa.  Para ficar claro, eu sou o presidente do clube e responsável pelas sedes.  Então qualquer coisa que aconteça ali, não importa se tem alguém fazendo de boa vontade, eu sou o responsável.</p>
<p class='noticia-conteudo'>OK? Ok.  Não mexi nisso em respeito ao torcedor (campanha da vaquinha).  Quando fui tomando conhecimento de tudo, descubro que lá temos um problema de elétrica que poderia pegar fogo na sede.</p>
<p class='noticia-conteudo'>Ué, e por que não pega esse dinheiro e faz a elétrica? Não, porque a pessoa falou que tem que colocar torneira de ouro porque isso que dá visibilidade.  Depois essa pessoa se candidata a vereador. 
- Então eu tenho que tirar essa pessoa de lá, porque ali não é lugar das pessoas usarem o Vasco em benefício próprio.</p>
<p class='noticia-conteudo'>E eu vou fazer a intervenção, mando uma equipe para cuidar do problema da elétrica.  [..</p>
<p class='noticia-conteudo'>. ]É muita coisa, as pessoas dão credibilidade a pessoas que não são profissionais.  Isso é muito grave, os torcedores acreditam nesses personagens - completou.</p>
<p class='noticia-conteudo'>Zé Colmeia se defende
Em contato com o ge, Zé Colmeia se disse decepcionado com as declarações de Pedrinho.  Ainda na noite de quinta, por meio de uma transmissão ao vivo nas redes sociais, ele afirmou: "Hoje um pedaço de mim morre". 
Ele explica que deu início à campanha no fim de 2021, com o Vasco na Série B do Brasileirão.</p>
<p class='noticia-conteudo'>Garante que não tem ligação com grupo político algum e que tratou o dinheiro doado por torcedores com transparência e responsabilidade. 
- Eu comecei a reforma com a torcida.  Sem a torcida ninguém faz nada no Vasco.</p>
<p class='noticia-conteudo'>Quando a gente estava mais sofrido, com o Vasco na Série B, eu iniciei a campanha para cuidar do patrimônio do clube.  Quanto mais doía, mais o torcedor abraçava - disse ao ge. 
"A gente criou uma conta, botei um membro de cada grupo político para visualizar a conta.</p>
<p class='noticia-conteudo'>Todo o dinheiro que entrava de doação era visualizado, e tudo que saía eu botava o recibo.  Todo mundo confia em mim.  Fizemos tudo como a história do Vasco", completou.</p>
<p class='noticia-conteudo'>Nas contas de Zé Colmeia, foram arrecadados aproximadamente R$ 3 milhões.  Ele explica, também, a escolha pelas torneiras douradas. 
- A gente havia feito a ala da presidência lá em cima, trocou as portas, reformou o rooftop.</p>
<p class='noticia-conteudo'>Quando terminamos, o vice de patrimônio dele (Willians Pereira) me disse que tinha que mexer no banheiro do salão nobre.  Eu falei com o arquiteto, que sugeriu as divisórias em preto com dourado.  Eu pensei: "Estamos no ano da Resposta Histórica, o negro que virou ouro nas terras da colina.</p>
<p class='noticia-conteudo'>. . " - disse.</p>
<p class='noticia-conteudo'>- A gente comprou as torneiras no Mercado Livre, cara.  Tudo com nota fiscal - concluiu. 



Assista tudo sobre o Vasco no ge, na Globo e no SporTV:
50 vídeos
VASCO.</p>
{% endblock main_content %}
{% block cor_categoria %}#000000{% endblock cor_categoria %}

