
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Tottenham reformula escudo; confira mudança{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Tottenham reformula escudo; confira mudança
Clube de Londres faz leve alteração em sua logo, retirando a inscrição "Tottenham Hotspur", e também resgata monograma antigo



Tottenham reformula escudo; confira mudança
O Tottenham anunciou nesta segunda-feira uma mudança em seu escudo.  O clube de Londres optou por fazer uma leve alteração em sua logo, retirando a inscrição "Tottenham Hotspur" e deixando apenas o símbolo tradicional: um galo em cima de uma bola de futebol.  A equipe inglesa ainda resgatou um monograma antigo.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_0.jpg"></div><p class='foto-descricao'>Novo escudo, à direita, não tem o nome "Tottenham Hotspur" — Foto: Reprodução</p>
✅Clique aqui para seguir o canal ge Futebol Internacional no WhatsApp
Segundo o clube, foram consultados mais de 300 fãs, jogadores e funcionários para que a mudança na identidade visual fosse realizada.  O objetivo seria "uma abordagem mais lúdica e ousada", com foco também em ambientes digitais.  A manutenção do galo "Charly" foi o pilar da alteração, embora agora ele possa ser retratado também de outras formas segundo o plano visual.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_8_1.jpg"></div><p class='foto-descricao'>Novo escudo do Tottenham em diferentes combinações das cores do clube — Foto: Divulgação/Tottenham</p>

Em comunicado, a equipe indicou que a retirada do nome "Tottenham Hotspur" permite que o símbolo seja utilizado em diferentes escalas e ambientes.  O escudo que vinha sendo utilizado pelo clube nos últimos anos havia sido criado em 2006, em uma grande mudança com relação ao anterior. 
A nova identidade visual do Tottenham também resgata como possibilidade de marca do clube um antigo monograma, com as THFC (Tottenham Hotspur Football Clube).</p>
<p class='noticia-conteudo'>Junto ao monograma, outras seis marcas estão incluídas no plano de identidade visual, fazendo referências a símbolos que estão ligados à fundação do clube, como o Castelo de Bruce, as Sete Árvores Irmãs e dois leões.  Houve também mudanças nas fontes utilizadas pelo clube nas comunicações. 
TOTTENHAM.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

