
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}santos{% endblock title %}
{% block main_title %}santos{% endblock main_title %}
{% block second_title %}Transmissão no Pará tem comentários machistas contra árbitra, e entidades reagem{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Transmissão no Pará tem comentários machistas contra árbitra, e entidades reagem
Em final da Série B do Paraense, comentarista afirma que "não tem nada contra, mas um um jogo de decisão não é para mulheres".  Sindicato e Federação defendem árbitras

05/12/2024 19h24 Atualizado há 15 horas

FPF e SINDARP repudiam fala machista em transmissão da final da Série B do Paraense
Escalados para apitar o jogo entre Capitão Poço e Independente, pela final da Série B do Campeonato Paraense, o trio de árbitros formado por Gleika Oliveira Pinheiro, Nayara Lucena e Ederson Albuquerque foi alvo de comentários machistas na transmissão realizada pela TV Cidade Norte, na última quarta-feira, dia 4.  A partida aconteceu no Estádio Rufinão, em Capitão Poço.</p>
<p class='noticia-conteudo'>Aos 51 minutos do segundo tempo, o comentarista Lucivan Barbosa, conhecido popularmente como "Peteca de Jesus”, afirmou que "não tem nada contra as mulheres", mas que um um jogo de decisão não é para ser comandado por árbitras. 
— Não tenho nada contra as mulheres, quero o bem e amo, mas não era para apitar um jogo desse.  Colocar um trio desse para apitar aqui não tem como.</p>
<p class='noticia-conteudo'>Não desmerecendo nenhuma das mulheres.  Não sou contra elas, mas um jogo de decisão não é para apitar.  Escolhe o melhor árbitro que tem no estado e bota para apitar.</p>
<p class='noticia-conteudo'>Não desmerecendo, mas não tem pulso para segurar um jogo desses, ela não tem pulso, ela não tem pulso.  Ela vai já acabar e é a melhor coisa que ela faz — disse Peteca de Jesus. 
Essa fala preconceituosa revoltou pessoas do chat da transmissão em que Peteca participava como comentarista e gerou reações no futebol paraense.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_91_0.jpg"></div><p class='foto-descricao'>Nayara Lucena é árbitra assistente do quadro da CBF — Foto: Lenno Costa</p>
Pouco tempo após a partida terminar, a árbitra assistente que estava em campo na vitória do Independente, Nayara Lucena, emitiu uma nota de repúdio nas suas redes sociais.  Ela afirmou que esse tipo de declaração “não apenas desvaloriza as mulheres, mas também perpetuam uma cultura de desigualdade e desrespeito". 
Nesta quinta-feira, dia 5, a Federação Paraense de Futebol (FPF) também repudiou o posicionamento do comentarista da TV Cidade Norte e ressaltou que tomará medidas.</p>
<p class='noticia-conteudo'>Confira um trecho da nota da FPF:
— A Federação encaminhará o caso às autoridades competentes para que as providências cabíveis sejam tomadas.  Reafirmamos nosso compromisso com a igualdade e seguimos firmes na luta por um futebol mais justo e acolhedor para todos. 
O Sindicato dos Árbitros de Futebol do Estado do Pará (Sindarp/PA) emitiu uma extensa nota, na qual destaca que Gleika e Nayara têm plena capacidade para apitar um jogo de futebol e são “representantes da luta pela igualdade de gênero no esporte".</p>
<p class='noticia-conteudo'>"A presença de ambas no campo de futebol é um avanço para a inclusão e a valorização da mulher, especialmente em espaços tradicionalmente dominados por homens", ressaltou o sindicato. 
Vice-campeão da Série B Paraense, o Capitão Poço não deixou de se posicionar.  O timee enfatizou que tais falas são "inaceitáveis, discriminatórias e ferem os princípios de igualdade, respeito e inclusão” que o clube defende.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_91_1.jpg"></div><p class='foto-descricao'>Capitão Poço emite nota de repúdio — Foto: Capitão Poço</p>
Em nota, a TV Cidade Norte ressaltou que não compactua com tal atitude. 
— Repudiamos veementemente qualquer ação semelhante.  Fato.</p>
<p class='noticia-conteudo'>Os comentários feitos pelo colega que estava fazendo freelancer não representa a opinião da emissora e seguramente não será mais contrato para atuar com comentarista esportivo — posicionou-se a emissora..</p>
{% endblock main_content %}

