
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}UFC Alexandre Pantoja coloca japonês para dormir e mantém cinturão peso-mosca{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>UFC: Alexandre Pantoja coloca japonês para dormir e mantém cinturão peso-mosca
Brasileiro freia hype de Kai Asakura com um mata-leão no segundo round para vencer em sua terceira defesa de título na divisão até 56,7kg.  Shavkat Rakhmonov vence Ian Garry Machado

08/12/2024 03h33 Atualizado há 6 horas
Kai Asakura chegou com hype ao UFC vindo na condição de campeão peso-galo (até 61,2kg) do Rizin, mas parece que mirou mais alto do que podia em sua estreia na organização.  Ele foi para a sua primeira luta sob a bandeira do UFC para desafiar o campeão peso-mosca (até 56,7kg) Alexandre Pantoja, na luta principal do UFC 310 neste sábado, em Las Vegas.</p>
<p class='noticia-conteudo'>Resultado: dormiu.  O brasileiro finalizou Asakura com um mata-leão aos 2min05s do segundo round, chegando a sua terceira defesa de título. 
- Este é o nível do UFC.</p>
<p class='noticia-conteudo'>Você acha que algum (lutador) japonês vai vir aqui e pegar meu cinturão? Não.  Quando o octógono estiver fechado, esta é minha cidade, esta é minha cidade - disparou o campeão após o título. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_221_0.jpg"></div><p class='foto-descricao'>Alexandre Pantoja venceu em sua terceira defesa de cinturão no peso-mosca do UFC — Foto: Josh Hedges/Zuffa LLC</p>
Alexandre Pantoja, de quebra, chegou a 13 vitórias na divisão dos moscas e igualou alenda Demetrious Johnson como maior vencedor da história da categoria.</p>
<p class='noticia-conteudo'>O lutador de Arraial do Cabo-RJ fez ainda sua terceira defesa de título.  Ele conquistou o cinturão diante de Brandon Moreno e depois venceu Brandon Royval, Steve Erceg e, agora, Kai Asakura. 
A luta
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_221_1.jpg"></div><p class='foto-descricao'>Alexandre Pantoja finalizou Kai Asakura com mata-leão no segundo round — Foto: Josh Hedges/Zuffa LLC</p>
A luta começou elétrica! Asakura disparou uma joelhada dura de encontro quando Pantoja tentava grudar.</p>
<p class='noticia-conteudo'>O brasileiro meteu em cima e foi nas pernas, mas o japonês defendeu.  Na sequência, Pantoja consegue projetar o japonês para baixo e caiu por cima.  Asakura trabalhou e se levantou.</p>
<p class='noticia-conteudo'>Os dois então trocaram golpes contundentes no meio do cage.  O japonês disparou uma joelhada, mas Pantoja conectou cruzado na resposta.  Um jab direto de Pantoja entrou, mas Asakura soltou um chute alto na resposta.</p>
<p class='noticia-conteudo'>No fim do round, o brasileiro encurtou e tentou derrubar num single leg e conectou uma joelhada.  Pantoja disparou um forte chute no meio do corpo do japonês.  No fim do round, Asakura passou a jogar golpes no vazio e perdeu a distância.</p>
<p class='noticia-conteudo'>No segundo round, Pantoja bateu em cima e foi nas pernas do japonês.  Asakura defendeu, mas Pantoja passou uma banda e o japonês balançou.  Era o que Pantoja precisava para mirar as costas.</p>
<p class='noticia-conteudo'>Asakura defendeu num primeiro momento e Pantoja ficou com apenas um gancho passado, junto à grade.  Até que o campeão deu um 'totó' e junto à grade pulou para as costas, derrubou e fecha o cadeado na linha de cintura.  Faltava pouco para a vitória.</p>
<p class='noticia-conteudo'>Restando quase quatro minutos ainda de round, Pantoja trabalhou o braço no pescoço e colocou Asakura para dormir com o mata-leão. 
Shavkat Rakhmonov bate Ian Garry Machado nos pontos
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_221_2.jpg"></div><p class='foto-descricao'>Shavkat Rakhmonov venceu Ian Garry Machado por decisão unânime (triplo 48-47) — Foto: Jeff Bottari/Zuffa LLC</p>
Em confronto meio-médio (até 77,6kg) entre invictos, o cazaque Shavkat Rakhmonov impôs ao irlandês Ian Garry Machado sua primeira derrota na carreira.  Atual número 3 da divisão, Rakhmonov seria o desafiante ao cinturão do campeão Belal Muhammad, que se machucou e deixou a luta.</p>
<p class='noticia-conteudo'>Ian Garry, número 7, aceitou o desafio em cima da hora para substituir o lutador lesionado. 
Ao longo dos cinco rounds, quem conseguiu chegar mais perto de finalizar a luta foi Ian Garry, no último round, quando fechou o braço no pescoço do cazaque e apertou até onde podia.  Rakhmonov resistiu e levou a luta para a decisão dos juízes, onde venceu tendo levado os dois primeiros rounds e o quarto.</p>
<p class='noticia-conteudo'>Os juízes marcaram o terceiro e quinto rounds para Ian Garry. 
Confira os resultados completos do UFC 310:
CARD PRINCIPAL:
Alexandre Pantoja venceu Kai Asakura por finalização aos 2min05s do R2
Shavkat Rakhmonov venceu Ian Garry Machado por decisão unânime (triplo 48-47)
Ciryl Gane venceu Alexander Volkov por decisão dividida (29-28, 28-29 e 29-28)
Bryce Mitchell venceu Kron Gracie por nocaute técnico aos 39s do R3
Doo Ho Choi venceu Nate Landwehr por nocaute técnico aos 3min21s do R3
CARD PRELIMINAR:
Dominick Reyes venceu Anthony Smith por nocaute técnico aos 4min46s do R2
Vicente Luque venceu Themba Gorimbo por finalização aos 52s do R1
Movsar Evloev venceu Aljamain Sterling por decisão unânime (triplo 29-28)
Bryan Battle venceu Randy Brown por decisão dividida (28-29, 29-28 e 29-28)
Eryk Anders venceu Chris Weidman por nocaute técnico aos 4min51s do R2
Joshua Van venceu Cody Durden por decisão unânime (29-28, 30-26 e 30-27)
Michael Chiesa venceu Max Griffin por finalização a 1min56s do R3
Chase Hooper venceu Clay Guida por finalização aos 3min41s do R1
Kennedy Nzechukwu venceu Lukasz Brzeski por nocaute técnico aos 4min51s do R1
Assine o Combate e veja o melhor do mundo das lutas.</p>
{% endblock main_content %}

