
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}UFC 309 Jon Jones faz parecer fácil e nocauteia Stipe Miocic{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>UFC 309: Jon Jones faz parecer fácil e nocauteia Stipe Miocic
Campeão dos pesos-pesados domina ex-campeão mais dominante da categoria e descarta aposentadoria, mas não crava quem será seu próximo adversário.  Miocic, por sua vez, pendura as luvas



Mike Tyson x Jake Paul | Melhores momentos
Nem o peso-pesado mais dominante da história do UFC conseguiu parar Jon Jones.  É verdade, Stipe Miocic estava há quase quatro anos sem lutar e, aos 42 anos, não parecia mais o mesmo homem que conquistou o cinturão da categoria por duas vezes e o defendeu com sucesso em quatro oportunidades.</p>
<p class='noticia-conteudo'>Muito disso, porém, foi mérito da força irresistível que é o atual campeão da divisão, que teve mais uma performance dominante e saiu do Madison Square Garden em Nova York com uma vitória por nocaute aos 4min29s do terceiro round, na luta principal do UFC 309, neste sábado. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_24_0.jpg"></div><p class='foto-descricao'>Jon Jones recebe o cinturão após vencer no UFC 309 — Foto: Jeff Bottari/Zuffa LLC</p>
Amplamente considerado o melhor lutador de MMA de todos os tempos, Jones venceu a segunda luta como peso-pesado (até 120kg), sua primeira defesa de cinturão, após uma década dominando o peso-meio-pesado (até 93kg).  Em 29 lutas, são agora 28 vitórias e apenas uma derrota, numa desclassificação por usar uma técnica recentemente permitida nas regras do esporte após anos de banimento.</p>
<p class='noticia-conteudo'>Com a adição de Miocic no currículo, "Bones" poderia pendurar as luvas neste sábado, como o próprio Stipe fez. 
UFC 309: Charles do Bronx leva susto, mas dá aula e vence Chandler de novo
Jungle Fight: Luis Aguiar vence em 37 segundos e conquista cinturão
Mike Tyson revela ter passado por oito transfusões em junho: "Quase morri"
Mas o maior da história descartou a aposentadoria.  Só não disse se seu próximo desafio será contra Tom Aspinall, atual campeão interino dos pesados, ou Alex "Poatan" Pereira, campeão dos meio-pesados e ex-campeão dos médios (até 84kg).</p>
<p class='noticia-conteudo'>- Sobre meu futuro no octógono, eu decidi que talvez não vá me aposentar.  E tive umas conversas com Dana (White) e Hunter (Campbell, dirigentes do UFC), e talvez vamos lhes dar o que vocês querem em 2025.  Só sei que tenho opções e vamos conversar - declarou Jones.</p>
<p class='noticia-conteudo'>A luta
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_24_1.jpg"></div><p class='foto-descricao'>Jon Jones acerta chute em Stipe Miocic no UFC 309 — Foto: Jeff Bottari/Zuffa LLC</p>
Jon Jones abriu os trabalhos jogando um direto de esquerda - começou a luta em base canhota.  Stipe passou perto com um direto na resposta.  O campeão passou a mirar as pernas e o corpo com chutes baixos, e mostrou velocidade para escapar dos cruzados pesados de Miocic.</p>
<p class='noticia-conteudo'>Jon jogou um pontapé no joelho e, na sequência, deu um osoto-gari para levar o desafiante ao chão.  Por cima com muito tempo para trabalhar, "Bones" jogou suas características cotoveladas na cabeça.  Mas Mioci resistiu bem e, surpreendentemente, só sofreu um corte abaixo do olho direito no último segundo do assalto.</p>
<p class='noticia-conteudo'>Miocic parecia lento e travado, mas soltou alguns jabs e diretos no início do segundo round.  Jones estava confortável e esquivava os golpes com facilidade.  Paciente, ele acertou uma dura ponteira na linha de cintura e uma joelhada no clinche.</p>
<p class='noticia-conteudo'>O campeão tentou alguns chutes altos de esquerda que pararam na guarda, e conectou um chute rodado no corpo. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_24_2.jpg"></div><p class='foto-descricao'>Jon Jones acerta o golpe decisivo em Stipe Miocic no UFC 309 — Foto: Chris Unger/Zuffa LLC</p>
Stipe foi para cima no início do terceiro round, mas Bones novamente mostrou boa esquiva e saiu de perto.  Ele voltou a apostar nos chutes no corpo e nas pernas.</p>
<p class='noticia-conteudo'>Um jab e direto de Jones machucaram o desafiante, mas Miocic conectou um direto de encontro perigoso.  Mas o campeão permanecia inteiro, esquivando bem e usando o jab com eficácia.  Ele também acertou um bom direto de esquerda.</p>
<p class='noticia-conteudo'>O nocaute, porém, veio num chute rodado potente na costela, que dobrou Stipe na mesma hora. 
- Ele é muito muito bom, muito durável.  Acertei golpes muito duros e ele continuou indo.</p>
<p class='noticia-conteudo'>É como enfrentar o Exterminador do Futuro, ele não para de vir atrás de ti.  Todos sabem que Miocic não é um dos maiores pesos-pesados, mas ele não mostra muita reação com os golpes na cabeça, então mirei mais o corpo - disse Jones sobre o adversário ao final da luta. 
Confira os resultados completos do evento:
UFC 309
16 de novembro de 2024, em Nova York (EUA)
CARD PRINCIPAL:
Jon Jones venceu Stipe Miocic por nocaute aos 4min29s do R3
Charles do Bronx venceu Michael Chandler por decisão unânime (49-46, 49-46, 49-45)
Bo Nickal venceu Paul Craig por decisão unânime (triplo 30-27)
Viviane Araújo venceu Karine Silva por decisão unânime (triplo 29-28)
Mauricio Ruffy venceu James Llontop por decisão unânime (triplo 29-28)
CARD PRELIMINAR:
Marcus McGhee venceu Jonathan Martinez por decisão unânime (triplo 29-28)
Jim Miller venceu Damon Jackson por finalização aos 2min44s do R1
David Onama venceu Roberto Romero por decisão unânime (triplo 30-27)
Marcin Tybura venceu Jhonata Diniz por nocaute técnico (interrupção médica) aos 5min00s do R2
Ramiz Brahimaj venceu Mickey Gall por nocaute aos 2min55s do R1
Oban Elliott venceu Bassil Hafez por nocaute aos 40s do R3
Eduarda Moura venceu Veronica Hardy por decisão unânime (30-27, 29-28, 29-28)
Assine o Combate e veja o melhor do mundo das lutas.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

