
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}UFC 309 Jon Jones descarta aposentadoria e quer enfrentar Alex Poatan{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>UFC 309: Jon Jones descarta aposentadoria e quer enfrentar Alex Poatan
Campeão dos pesos-pesados do UFC afirma não ter interesse em lutar com Tom Aspinall, dono do cinturão interino da divisão



Whindersson Nunes x Neeraj Goyat | Melhores momentos
A atuação de gala na noite do último sábado deu mais gás para Jon Jones, que descartou a possibilidade de aposentadoria e apontou um possível adversário para o futuro no Ultimate.  Após vencer Stipe Miocic com um nocaute no terceiro round e defender o título dos pesos-pesados no UFC 309, que aconteceu em Nova York, o norte-americano negou a possibilidade de uma luta com Tom Aspinall - atual campeão interino dos pesos-pesados - e reforçou o desejo de uma luta com Alex Poatan. 
- Não estou realmente preocupado com a luta contra o Tom (Aspinall).</p>
<p class='noticia-conteudo'>Estou realmente preocupado com a luta contra (Alex) Pereira.  É isso que eu quero.  Acho que se o UFC quiser me ter de volta, então acho que essa é a luta que eles precisam fazer.</p>
<p class='noticia-conteudo'>Tenho sido muito claro sobre minhas intenções.  É isso que eu quero (..</p>
<p class='noticia-conteudo'>. ) Eu quero lutar contra campeões perigosos estabelecidos.  Então, Tom pode ter o título dos pesos-pesados, eu realmente não me importo com isso.</p>
<p class='noticia-conteudo'>Meu valor não está mais em cinturões.  Eu criei algo maior.  Eu quero Pereira - disse o lutador em entrevista pós-luta.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_20_0.jpg"></div><p class='foto-descricao'>Jon Jones e Alex Poatan — Foto: Jeff Bottari/Zuffa LLC</p>
UFC 309: Charles do Bronx leva susto, mas dá aula e vence Chandler de novo
UFC 309: Jon Jones faz parecer fácil e nocauteia Stipe Miocic
UFC 309: Charles do Bronx fatura bônus de 50 mil dólares por "Luta da noite"
Por Jones ser dono do título linear dos pesos-pesados do UFC, a luta contra o campeão interino da divisão, Tom Aspinall, seria a escolha mais lógica, mas o norte-americano rejeita a ideia de que tem a obrigação de lutar contra o britânico. 
- Ele é irritante para mim.  Eu entendo que vocês acham isso divertido, mas eu o acho irritante.</p>
<p class='noticia-conteudo'>Eu simplesmente não gosto dele e, no final das contas, se eu der a ele a oportunidade de lutar comigo, eu quero ser bem recompensado (. ..</p>
<p class='noticia-conteudo'>) Minha vida é perfeita sem ele.  Eu não preciso dele de jeito nenhum e ele precisa de mim - disse Jones. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_20_1.jpg"></div><p class='foto-descricao'>Alex Poatan é dono dos cinturões dos médios e dos meio-pesados do UFC — Foto: Jeff Bottari/Getty Images</p>
Poatan no Ultimate
Desde que chegou ao UFC, em novembro de 2021, Poatan alcançou números importantes na organização.</p>
<p class='noticia-conteudo'>Além do alto número de vitórias nos dez duelos disputados até aqui (9 - 1), é dono dos cinturões de duas categorias (peso-médio e o de peso meio-pesado).  Atualmente ele tem uma sequência de cinco vitórias consecutivas e ainda não tem próximo adversário definido. 
Confira os resultados completos do evento:
UFC 309
16 de novembro de 2024, em Nova York (EUA)
CARD PRINCIPAL:
Jon Jones venceu Stipe Miocic por nocaute aos 4min29s do R3
Charles do Bronx venceu Michael Chandler por decisão unânime (49-46, 49-46, 49-45)
Bo Nickal venceu Paul Craig por decisão unânime (triplo 30-27)
Viviane Araújo venceu Karine Silva por decisão unânime (triplo 29-28)
Mauricio Ruffy venceu James Llontop por decisão unânime (triplo 29-28)
CARD PRELIMINAR:
Marcus McGhee venceu Jonathan Martinez por decisão unânime (triplo 29-28)
Jim Miller venceu Damon Jackson por finalização aos 2min44s do R1
David Onama venceu Roberto Romero por decisão unânime (triplo 30-27)
Marcin Tybura venceu Jhonata Diniz por nocaute técnico (interrupção médica) aos 5min00s do R2
Ramiz Brahimaj venceu Mickey Gall por nocaute aos 2min55s do R1
Oban Elliott venceu Bassil Hafez por nocaute aos 40s do R3
Eduarda Moura venceu Veronica Hardy por decisão unânime (30-27, 29-28, 29-28)
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_20_2.jpg"></div><p class='foto-descricao'>banner combate — Foto: Combate</p>
Assine o Combate e veja o melhor do mundo das lutas.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

