
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}cruzeiro{% endblock title %}
{% block main_title %}cruzeiro{% endblock main_title %}
{% block second_title %}Um louco lindo rival do Cruzeiro em terceira final, técnico tem energia e amor pelo Racing destacados{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>"Um louco lindo": rival do Cruzeiro em terceira final, técnico tem energia e amor pelo Racing destacados
Gustavo Costas foi zagueiro e participou de duas decisões da Supercopa da Libertadores diante do Cruzeiro


Experiente, enérgico e apaixonado pelo Racing.  Assim Gustavo Costas é definido por quem o acompanha de perto no dia a dia do futebol em Avellaneda.  Pela terceira vez na história, o argentino de fala tranquila e sorriso solto nas entrevistas coletivas está no caminho do Cruzeiro em busca de um título.</p>
<p class='noticia-conteudo'>Jogo do ano: Cruzeiro está no Paraguai para final contra o Racing

Nascido em Buenos Aires, em 1963, deu os primeiros passos como zagueiro justamente no Racing, participando da geração do Racing que esteve em evidência internacional pela última vez.  Foi campeão (1988) e vice (1992) da Supercopa dos Campeões da Libertadores, ambas as vezes em enfrentamentos com o Cruzeiro. 
Nas duas disputadas, Gustavo Costas esteve em campo.</p>
<p class='noticia-conteudo'>Em 1988, o Racing ganhou em casa por 2 a 1 e segurou o empate por 1 a 1, no Mineirão, para ficar com a taça.  Em 1992, não teve chance.  Perdeu em Belo Horizonte por 4 a 0, e o Cruzeiro conquistou o título mesmo derrotado por 1 a 0 na Argentina.</p>
<p class='noticia-conteudo'>Menos de dez anos depois, já iniciava a história pelo Racing como treinador.  Além de 2000, também esteve por Avellaneda em 2007, 2008 e iniciou a quarta passagem neste ano, colocando a paixão pelo clube como um dos grandes combustíveis para buscar o título da Sul-Americana. 
"É capaz de estar andando, escutar uma música da torcida, olhar para trás e ser o Gustavo (cantando).</p>
<p class='noticia-conteudo'>Ele vive assim.  Defende os jogadores e o clube.  Gustavo é um louco pelo Racing, algo que mostra 24 horas.</p>
<p class='noticia-conteudo'>Certamente é igual em casa. " (Gabriel Arias, goleiro)
O discurso do goleiro e capitão da equipe também é endossado pelo artilheiro Adrián "Maravilla" Martínez, que tem 28 gols em 46 jogos na temporada. 
- Ele é muito passional, transmite muito o que é o Racing.</p>
<p class='noticia-conteudo'>Ele vive muito e te faz sentir isso, faz a gente dar sempre um pouco a mais pelo que é o escudo. 
"A verdade é que é um louco lindo. "
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_10_0.jpg"></div><p class='foto-descricao'>Gustavo Costa comemora gol do Racing — Foto: Paola Lara/Racing</p>
Outra peça importante do time de Costas é o meia Bruno Zuculini que, assim como o comandante, nasceu em um berço de torcedores do Racing.</p>
<p class='noticia-conteudo'>O jogador diz que um dos artifícios usados como motivação pelo treinador é exatamente contar histórias do tempo em que foi vencedor como atleta do clube.  Todos as falas foram divulgadas pela Conmebol. 
- Ele conta muitas histórias de quando jogava, quando foi campeão e capitão nesse clube.</p>
<p class='noticia-conteudo'>É um ídolo do clube, referência.  Ele foi campeão aqui, e eu ainda não tive essa possibilidade.  Tenho muita inspiração nele e quero ganhar um pouquinho do que ele já ganhou.</p>
<p class='noticia-conteudo'>Ele fica o tempo inteiro cantando músicas, cruza com ele e está cantando canções do Racing. 
"Ele está desfrutando muito de tudo e merece, porque lutou muito pelo Racing.  Que ele tenha esse momento de alegria, de glória, no dia 23.</p>
<p class='noticia-conteudo'>"
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_10_1.jpg"></div><p class='foto-descricao'>Gustavo Costas, técnico do Racing — Foto: Divulgação/Racing</p>
Além da paixão destacada pelos companheiros, Zuculini fez questão de caracterizar Gustavo Costas como um estrategista e um técnico de didática simples. 
- É um grande estrategista, apaixonado pelo que faz, um técnico muito simples.  Com duas ou três informações por partida, nos passa o que temos que fazer.</p>
<p class='noticia-conteudo'>Tem os mecanismos dele, o jeito que gosta de jogar, mas com duas ou três informações já nos passa o que temos ou não que fazer, por onde atacar. 
Currículo vasto
Caminhando para 30 anos de carreira como treinador, Gustavo Costas trabalhou em oito países diferentes.  Além da Argentina, comandou equipes de Arábia Saudita, Chile, Colômbia, Equador, México, Paraguai e Peru, além de ter treinado a seleção boliviana no ano passado.</p>
<p class='noticia-conteudo'>O trabalho de maior destaque foi com o Santa Fé, onde ganhou duas edições do Colombiano e uma da Supercopa colombiana.  O outro título que tem na carreira é de 2012, quando venceu o Equatoriano pelo Barcelona de Guayaquil. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_10_2.jpg"></div><p class='foto-descricao'>Técnico argentino Gustavo Costas foi demitido da Bolívia, que tem quatro derrotas em quatro jogos nas eliminatórias — Foto: Carl de Souza/AFP</p>
Veja os clubes por onde passou:
Arábia Saudita: Al-Fayha e Al-Nassr
Argentina: Racing
Chile: Palestino
Colômbia: Santa Fé
Equador: Barcelona de Guayaquil
México: Atlas
Paraguai: Cerro Porteño, Guarani e Olímpia
Peru: Alianza Lima
Assista: tudo sobre o Cruzeiro no ge, na Globo e no Sportv
50 vídeos

COPA DO BRASIL
CRUZEIRO.</p>
{% endblock main_content %}

