
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}goias{% endblock title %}
{% block main_title %}goias{% endblock main_title %}
{% block second_title %}Vagner Mancini anuncia que não fica no Goiás para 2025 Decisão difícil{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Vagner Mancini anuncia que não fica no Goiás para 2025: "Decisão difícil"
Técnico se despede do Esmeraldino na partida diante do Novorizontino, pela última rodada da Série B



Vagner Mancini anuncia que não fica no Goiás para 2025
Vagner Mancini não fica no Goiás para próxima temporada.  O anúncio foi feito pelo treinador antes da entrevista coletiva concedida nesta quinta-feira.  A partida contra o Novorizontino, domingo, pela rodada final da Série B, será a última dele no comando da equipe.</p>
<p class='noticia-conteudo'>— Decisão muito difícil que tive que tomar junto com o meu representante e a minha equipe técnica.  Decidimos que não permaneceremos para 2025.  É uma decisão que não é fácil de ser tomada, visto tudo que aconteceu aqui no Goiás ao longo desse período — disse.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_11_0.jpg"></div><p class='foto-descricao'>Vagner Mancini técnico do Goiás — Foto: Rosiron Rodrigues/GEC</p>
O técnico disse que comunicaria a decisão formalmente ao diretor de futebol, Lucas Andrino, logo após a entrevista.  O ge adiantou que uma reunião seria realizada pela diretoria do Goiás para discutir se o técnico permaneceria ou não no clube. 
Mancini chegou ao Goiás no fim do primeiro turno da Série B para substituir o demitido Márcio Zanardi.</p>
<p class='noticia-conteudo'>Na ocasião, o time era o 10º colocado, com 25 pontos.  Em 19 jogos no Brasileirão, o treinador somou 10 vitórias, cinco empates e quatro derrotas.  O aproveitamento de 61% é igual ao do líder Santos, que já conquistou o título da competição.</p>
<p class='noticia-conteudo'>Sob seu comando, o time venceu os últimos seis jogos — maior sequência desta Série B —, além de não ter sofrido nenhum gol.  Apesar disso, o time não conseguiu chegar à última rodada da competição ainda com chances de acesso.  Mesmo assim, o treinador garantiu comprometimento total com a última partida à frente do Alviverde.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_11_1.jpg"></div><p class='foto-descricao'>Vagner Mancini deixa o Goiás após 19 partidas — Foto: Rosiron Rodrigues/GEC</p>
— Domingo a gente vai estar firme e forte e eu vou cumprir até o último dia do meu contrato com Goiás, assim como sempre fiz nas equipes onde eu estive.  O jogo é muito importante para nós.  O Goiás não tem mais chance de acesso? Não tem, mas tem o meu nome, a minha cara, a cara dos jogadores e o nome dos jogadores que estarão em campo e sabem que existem outros profissionais que dependem do nosso desempenho — declarou.</p>
<p class='noticia-conteudo'>Com a saída, o Goiás terá que pensar em um novo profissional para o ano que vem.  Um dos nomes que agradam à torcida esmeraldina é o de Jair Ventura, que dirigiu o time em 2022. 
GOIÁS.</p>
{% endblock main_content %}

