
    {% extends "html/modelo.html" %}
    {% load static %}
    

    {% block title %}Vanderson se reinventa como defensor por sequência na Seleção Assumo a responsabilidade{% endblock title %}
    {% block main_title %}Vanderson se reinventa como defensor por sequência na Seleção Assumo a responsabilidade{% endblock main_title %}
    {% block second_title %}None{% endblock second_title %}
    {% block main_content %}<p class='noticia-conteudo'>Vanderson se reinventa como defensor por sequência na Seleção: "Assumo a responsabilidade"
Lateral admite maior vocação ofensiva, promete "algo a mais" para cumprir demandas na defesa e fala de relação de apoio com Danilo em disputa por posição: "Um líder que não tem vaidade"


Adaptar-se é preciso, e Vanderson promete não medir esforços para se firmar na Seleção. 
Surpresa de Dorival Júnior na vitória por 4 a 0 sobre o Peru na Data Fifa de outubro, o lateral-direito retorna ciente de que ter sequência é fundamental para assumir uma posição que foi dominada por Danilo por tanto tempo.  Por mais que para isso seja necessário diminuir o ímpeto ofensivo.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}n_2_0.jpg"></div>Vanderson em entrevista coletiva nesta terça-feira, em Belém — Foto: Rafael Ribeiro / CBF
Revelado pelo Grêmio como lateral de ultrapassagem e uma das grandes armas de ataque do Mônaco há quatro temporadas, Vanderson admite que teve que mudar o estilo de jogo para cumprir as exigência de Dorival.  E a partida diante dos peruanos já foi um mostra do que o jovem de 23 anos é capaz:

"Todo mundo conhece minhas características.  Tenho melhorado defensivamente, mas minha principal característica é chegar na frente, auxiliar os companheiros no último terço.</p>
<p class='noticia-conteudo'>Aqui na Seleção, temos que nos doar e fazer algo a mais pelo nosso país e Seleção"
- A características do meu clube influencia neste aspecto, mas aqui na Seleção tenho noção das responsabilidade e vou assumi-la.  Independentemente da posição que eu for jogar, aqui eu vou me doar para equipe e ajudar no que for preciso. 
Veja a coletiva de Vanderson, lateral da Seleção Brasileira
A passagem pelo futebol europeu foi determinante para a evolução de Vanderson em questões táticas.</p>
<p class='noticia-conteudo'>Além disso o lateral realiza trabalhos paralelos com a empresa de análise de desempenho Performa Sports para trabalhar a compreensão do jogo como um todo. 
Na última partida das eliminatórias, Vanderson entrou na vaga de Danilo e a expectativa era de que a Seleção abusasse dos avanços pelo corredor direito.  Não foi o que aconteceu.</p>
<p class='noticia-conteudo'>O lateral teve obrigações defensivas claras, ficou mais postado na saída de três (principalmente no primeiro tempo) e deixou as subidas ao ataque para a volta do intervalo. 
A maturidade com que aproveitou a oportunidade tem muito também do apoio de seu concorrente.  Capitão e um dos líderes da Seleção, Danilo não se privou de conversas particulares para deixar o companheiro à vontade:
- O Danilo é um cara sem palavras.</p>
<p class='noticia-conteudo'>Todo mundo dentro do grupo sabe isso, é um dos nossos líderes.  Passa bastante confiança não só para mim, por ser lateral.  Pego conselhos por ser da posição, ele tem uma carreira brilhante.</p>
<p class='noticia-conteudo'>É o nosso líder, um cara que não tem vaidade e quer ajudar todo mundo.  Um grupo campeão precisa de caras assim. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}n_2_1.jpg"></div>Lateral-direito Vanderson em treino da seleção brasileira — Foto: Reprodução / Instagram
Em entrevista coletiva nesta terça-feira, em Belém, Vanderson foi questionado também sobre o resultado da Bola de Ouro.</p>
<p class='noticia-conteudo'>A frustração pela derrota de Vini Júnior para Rodri ganhou coro:
- A repercussão foi não só no Brasil, mas mundial.  Na minha opinião, o verdadeiro vencedor da Bola de Ouro é o Vini Jr.  Sem querer criar polêmica, mas é a minha opinião.</p>
<p class='noticia-conteudo'>É um cara que teve uma temporada excelente, vem fazendo outra temporada excelente e com certeza logo logo vai ganhar esse prêmio.  É um cara que luta não somente dentro de campo, mas também for por outras causas. 
Na quinta-feira, o Brasil encara a Venezuela em Manturín, às 18h (de Brasília), pela 11ª rodada das eliminatórias sul-americanas para a Copa de 2026.</p>
<p class='noticia-conteudo'>Já na próxima terça, encerra o calendário de 2024 contra o Uruguai, às 21h45, na Fonte Nova, em Salvador. 
Confira outros trechos da coletiva:
Espera por nova oportunidade
Um ano após o último jogo aqui em Belém, contra a Bolívia, quando eu estava no grupo e passei um tempo fora da Seleção.  Tive duas lesões que atrapalharam, mas há muitos grandes jogadores na Seleção, eu estava acompanhando de longe e quem foi convocado sempre ajudou.</p>
<p class='noticia-conteudo'>Quem estava aqui cumpriu o papel.  Sempre temos o sonho de jogar uma Copa do Mundo, mas o primeiro passo é ajudar a Seleção e estou aqui para isso. 
União do elenco
Não só nós jogadores, mas todo brasileiro tem que ter isso no sangue.</p>
<p class='noticia-conteudo'>Somos a maior Seleção do mundo e se todos caminharem no mesmo barco as glórias vão voltar.  Se caminharmos todos em prol da Seleção, mesmo quando não sou convocado estou torcendo.  Desde criança, sou um torcedor fanático.</p>
<p class='noticia-conteudo'>Se todos caminharmos juntos, logo logo voltaremos a ter glórias como no passado. 
Renovação na Seleção
No futebol brasileiro sempre surgem novos talentos.  Em todo ciclo, se fala em renovação e há os jovens.</p>
<p class='noticia-conteudo'>Já aconteceu com outros e agora acontece com a gente.  Temos que saber aproveitar as oportunidades, tentar integrar e adaptar o mais rápido possível e ajudar a Seleção. 
Venezuela
Jogando em casa, a Venezuela é forte.</p>
<p class='noticia-conteudo'>Temos estudado bastante em cima da equipe deles, vamos tentar impor o nosso ritmo e conquistar a vitória.  Não há adversário fácil, e a Venezuela não vai ser, ainda mais jogando em casa.  Vamos para impor o nosso ritmo e conquistar os três pontos.</p>
<p class='noticia-conteudo'>Boa fase no clube
É um momento muito especial para mim e de realizações.  Estou bem no clube.  É hora de tentar me firmar na Seleção após uma estreia como titular.</p>
<p class='noticia-conteudo'>É a realização de um sonho.  Tenho que implantar o que faço no clube e ajudar a Seleção com um algo a mais. 
Escassez na lateral-direita
Venho aqui para trabalhar e ajudar.</p>
<p class='noticia-conteudo'>Sempre falam que o Brasil não tem mais lateral-direito, mas é só olhar nos clubes aí que são muitos que fazem grandes trabalhos.  Tivemos muitos vencedores na posição, o exemplo maior é o Cafu, mas tivemos muitos.  São jovens que precisam de aparições, precisam jogar e muitos têm surgido ao longo do tempo.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}
    