
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}vasco{% endblock title %}
{% block main_title %}vasco{% endblock main_title %}
{% block second_title %}Vasco vai se reunir com Renato Gaúcho na segunda para avançar na contratação do técnico{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Clube e treinador marcam reunião para conversas avançarem; ainda não há proposta




Renato Gaúcho no Vasco: Tébaro Schmidt explica como estão as negociações
Renato é o plano A da direção de Pedrinho.  Os contatos foram iniciados na quinta-feira, e o técnico avalia o convite do Vasco.  As conversas andaram nas últimas 24 horas.</p>
<p class='noticia-conteudo'>O encontro na segunda pode selar o retorno do treinador ao clube depois de 16 anos - Renato treinou o Vasco em outras duas ocasiões: de 2005 a 2007 e em 2008. 
A presença de Renato Gaúcho no Rio facilita as tratativas.  Ele está na cidade desde o fim do Brasileirão e é figurinha carimbada nas praias de Ipanema.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_405_0.jpg"></div><p class='foto-descricao'>Renato Gaúcho, Vasco x Grêmio — Foto: André Durão / ge</p>
O nome de Renato ganhou força no Vasco e é considerado a bola da vez no clube, que está à procura de um treinador desde o fim de novembro, quando demitiu Rafael Paiva.  O técnico tem o perfil que a direção quer: treinador com experiência no futebol brasileiro, com perfil vencedor e bom de vestiário. 
O presidente Pedrinho e seus dirigentes tratam o tema com urgência para que possam destravar o planejamento para o ano que vem, discutir perfil de reforços e dar continuidade ao processo de fortalecimento do elenco.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_405_1.jpg"></div><p class='foto-descricao'>Renato define time do Grêmio para enfrentar o Fortaleza — Foto: Lucas Uebel/Grêmio FBPA</p>


No fim de novembro, o ge apurou que o Vasco priorizaria técnicos brasileiros ou que conhecessem o futebol do país.  Um dos principais motivos é ter uma comunicação mais eficiente com todo o grupo.  Internamente, avalia-se que no período de Ramón Díaz foi criada uma separação dentro do elenco, entre brasileiros e estrangeiros, que foi prejudicial para a evolução da equipe.</p>
<p class='noticia-conteudo'>Renato também é visto como um treinador bom de vestiário, que sabe manter o bom clima entre os jogadores.  O perfil "copeiro" também agrada, já que o Vasco disputará a Copa do Brasil e a Sul-Americana em 2025. 


Assista tudo sobre o Vasco no ge, na Globo e no SporTV:.</p>
{% endblock main_content %}

