
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}vasco{% endblock title %}
{% block main_title %}vasco{% endblock main_title %}
{% block second_title %}Vasco inicia barca para 2025, e três jogadores são liberados pelo clube{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Vasco inicia barca para 2025, e três jogadores são liberados pelo clube
Galdames, Rossi e Rojas não treinam mais pelo clube após atividade desta terça


O Vasco iniciou a barca para o ano de 2025.  Depois do treino desta terça-feira, o clube liberou três jogadores de qualquer atividade até o fim do ano.  São eles: Galdames, Rossi e Rojas.</p>
<p class='noticia-conteudo'>Conheça o grego bilionário que pode ser dono da SAF do Vasco
Os vínculos dos três jogadores acabam no fim de dezembro, e os atletas não terão seus contratos renovados.  A informação da liberação dos jogadores foi dada inicialmente pelo canal "Atenção, Vascaínos" e confirmada pelo ge. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_29_0.jpg"></div><p class='foto-descricao'>Pablo Galdames em ação pelo Vasco — Foto: Luis Garcia Foto/AGIF</p>


Há uma semana, o ge informou que, após a chegada de Felipe, o Vasco iria parar de relacionar jogadores que não estão nos planos da diretoria nos últimos três jogos da temporada.</p>
<p class='noticia-conteudo'>Galdames, Rossi e Rojas faziam parte da lista. 
Galdames se tornou um dos personagens da demissão de Rafael Paiva.  Na ocasião, o volante saiu do fim da fila no elenco e conquistou a titularidade nos últimos jogos do técnico no comando do Vasco.</p>
<p class='noticia-conteudo'>O apego pelo chileno causou irritação na direção.  Ele fez 30 jogos no clube, 23 como titular, marcou dois gols e deu cinco assistências. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_29_1.jpg"></div><p class='foto-descricao'>Rossi - Juventude x Vasco — Foto: Luiz Erbes/AGIF</p>
Rossi chegou ao Vasco no ano passado e foi importante no fim do Brasileirão.</p>
<p class='noticia-conteudo'>O atacante começou o ano tendo oportunidades, mas após as saídas de Ramón Díaz e Álvaro Pacheco, Rossi não foi muito utilizado por Rafael Paiva.  O clube tentou liberar o jogador no meio do ano, mas o jogador recusou propostas da Série B. 
Rojas foi contratado no início do ano, como pedido de Ramón Díaz e Emiliano.</p>
<p class='noticia-conteudo'>O zagueiro atuou 16 vezes em toda a temporada e foi titular em nove oportunidades.  De agosto até dezembro, só entrou em campo uma vez. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_29_2.jpg"></div><p class='foto-descricao'>Rojas em ação pelo Vasco — Foto: Thiago Ribeiro/AGIF</p>
O Vasco tem mais dois compromisso pelo Campeonato Brasileiro.</p>
<p class='noticia-conteudo'>A equipe enfrenta o Atlético-MG nesta quarta-feira, às 19h, em São Januário, pela 37ª rodada.  No domingo, às 16h, o clube enfrenta o Cuiabá, fora de casa, pela última rodada da competição. 

Assista tudo sobre o Vasco no ge, na Globo e no SporTV:
50 vídeos
VASCO.</p>
{% endblock main_content %}

