
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Vasco sonda três treinadores estrangeiros e planeja ter Felipe na comissão técnica{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Vasco sonda três treinadores estrangeiros e planeja ter Felipe na comissão técnica
Diretoria busca informações sobre Gustavo Quinteros, Hernán Crespo e Pedro Caixinha


O Vasco já definiu que Felipe Maestro vai treinar o time nas últimas três rodadas do Campeonato Brasileiro deste ano.  Mas e depois? O até então diretor-técnico vai ser efetivado como treinador? É provável que não.  O clube já começou a sondar nomes para 2025.</p>
<p class='noticia-conteudo'>Pedrinho anuncia demissão de Rafael Paiva do Vasco
O planejamento da diretoria é manter Felipe no dia a dia do time, mas não como treinador.  Nem como diretor.  O ídolo vascaíno deve assumir uma função fixa na comissão técnica do Vasco em 2025.</p>
<p class='noticia-conteudo'>Ou treinar algum time das categorias de base do clube.  Isso ainda será conversado. 
Mas ele não deverá voltar ao cargo de diretor-técnico.</p>
<p class='noticia-conteudo'>Felipe já havia manifestado o desejo de comandar o elenco do Vasco e se colocado à disposição de Pedrinho.  Ele tem experiências como treinador em quatro clubes: Tigres, Bangu, Confiança e Volta Redonda. 

Felipe vai comandar o Vasco contra Atlético-GO (em casa), Atlético-MG (casa) e Cuiabá (fora).</p>
<p class='noticia-conteudo'>Rafael Paiva foi demitido no domingo, depois da derrota por 3 a 0 para o Corinthians na Neo Química Arena, pela 35ª rodada do Brasileirão.  Esta foi a quarta derrota consecutiva da equipe, que já vinha de resultados negativos contra Botafogo, Fortaleza e Internacional. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_33_0.jpg"></div><p class='foto-descricao'>Felipe vai treinar o Vasco até o fim da temporada — Foto: Leandro Amorim / CRVG</p>
Busca por técnico já começou
O Vasco já começou a olhar o mercado em busca de um técnico para 2025.</p>
<p class='noticia-conteudo'>Antes mesmo da demissão de Rafael Paiva, a diretoria sondou alguns nomes.  Três estrangeiros estão na lista. 

O primeiro é o português Pedro Caixinha, que ficou quase dois anos no Red Bull Bragantino e está sem clube desde que foi demitido em outubro passado.</p>
<p class='noticia-conteudo'>O clube também buscou informações sobre o argentino Gustavo Quinteros, que atualmente treina o Vélez Sarsfield, líder do Campeonato Argentino. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_33_1.jpg"></div><p class='foto-descricao'>Alvo do Vasco, Hernan Crespo treinou o São Paulo em 2021 — Foto: Staff Images / CONMEBOL</p>
O terceiro nome na mesa é o do argentino Hernán Crespo, que no início deste mês pediu demissão do Al Ain, dos Emirados Árabes.  Com o clube, ele foi campeão da Liga dos Campeões da Ásia e garantiu vaga no Mundial de Clubes de 2025.</p>
<p class='noticia-conteudo'>Crespo passou pelo futebol brasileiro em 2021, quando comandou o São Paulo. 

Assista tudo sobre o Vasco no ge, na Globo e no SporTV:
50 vídeos
VASCO.</p>
{% endblock main_content %}

