
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}vasco{% endblock title %}
{% block main_title %}vasco{% endblock main_title %}
{% block second_title %}Vasco homenageia personalidades negras em novo uniforme{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Vasco homenageia personalidades negras em novo uniforme
Do craque Pelé à ativista americana Rosa Parks, jogadores do Vasco entraram em campo vestindo camisas com nomes de referências da cultura negra



Aos 28 min do 1º tempo - chute dentro da área para fora de Pablo Vegetti do Vasco contra o Internacional
Na semana da Consciência Negra, o Vasco fez valer sua vocação histórica na luta antirracista ao homenagear personalidades negras em seu novo uniforme.  Do craque Pelé à ativista americana Angela Davis, jogadores do Vasco entraram em campo oara enfrentar o Internacional, em São Januário, nesta quinta-feira, pelo Brasileirão, vestindo camisas com nomes de referências da cultura negra. 
Um dos primeiros clubes a incluir jogadores negros e pobres em seu time, o Vasco busca manter até hoje as raízes de luta por igualdade e diversidade no futebol.</p>
<p class='noticia-conteudo'>"Eu visto preto.  Por dentro e por fora" é o lema do terceiro uniforme do time da temporada.  A camisa é feita na cor preta, com o escudo do time e o emblema da fornecedora esportiva com detalhes em branco, além dos espaços destinados aos patrocinadores.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_3_0.jpg"></div><p class='foto-descricao'>Payet em Vasco x Internacional — Foto: Alexandre Durão</p>
Nomes importantes do próprio Vasco também foram homenageados.  O goleiro Léo Jardim vestiu a camisa com o nome de Barbosa, que defendeu o time nas décadas de 1950 e 1960 e se tornou o jogador que mais conquistou títulos pelo clube.  Ao todo, foram 15.</p>
<p class='noticia-conteudo'>O arqueiro fez 431 jogos pelo Vasco, com 282 vitórias, 74 empates e 75 derrotas.  Pai Santana, o massagista que se tornou símbolo vascaíno, teve seu nome carregado por Leandrinho, cria de São Januário. 
O francês teve a honra de homenagear o craque Pelé, com a camisa 10.</p>
<p class='noticia-conteudo'>O atacante argentino Vegetti vestiu a camisa com referência ao Dragão do Mar, alcunha do jangadeiro Francisco José do Nascimento, que teve papel fundamental na luta pela abolição, ao se recusar a transportar pessoas negras escravizadas para os navios negreiros. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_3_1.jpg"></div><p class='foto-descricao'>Uniforme do Vasco homenageia personalidades negras — Foto: Matheus Lima/ge</p>
Já Piton usou a camisa com o nome da ativista americana Rosa Parks, símbolo da luto dos Direitos Civis nos Estados Unidos, e se notabilizou ao infringir uma lei segregacionistas que proibia pessoas negras de se sentarem nos assentos da parte da frente dos ônibus, que eram destinados às pessoas brancas.  Sua atitude foi um marco na luta contra o racismo.</p>
<p class='noticia-conteudo'>De acordo com o Vasco, os uniformes utilizados pelos titulares serão autografados e participarão de um leilão social.  Parte do que for arrecadado será revertido ao Observatório de Discriminação Racial..</p>
<p class='noticia-conteudo'>Assista tudo sobre o Vasco no ge, na Globo e no SporTV:
50 vídeos
VASCO.</p>
{% endblock main_content %}

