
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}palmeiras{% endblock title %}
{% block main_title %}palmeiras{% endblock main_title %}
{% block second_title %}Veiga, do Palmeiras, entra no top-10 de artilheiros do Brasil em 2024; veja lista{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Veiga, do Palmeiras, entra no top-10 de artilheiros do Brasil em 2024; veja lista
Meia do Verdão balança as redes contra Atlético-GO e entra no ranking; Yuri Alberto, do Corinthians, chega ao 27º gol na temporada e aumenta vantagem na vice-liderança



Palmeiras vence o Atlético-GO e assume a liderança do Brasileirão com o empate do Botafogo
Meia do Palmeiras, Raphael Veiga entrou no ranking de artilheiros do Brasil de 2024.  Contra o Atlético-GO, em Goiânia, pela 35ª rodada do Campeonato Brasileiro, o atleta balançou as redes pela 20ª oportunidade.  O gol serviu para sacramentar a vitória do Verdão e colocar o clube na liderança da Série A.</p>
<p class='noticia-conteudo'>Pedro, do Flamengo, e Yuri Alberto, do Corinthians, estão na primeira e na segunda posição, respectivamente, do ranking de goleadores nesta temporada. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_32_0.jpg"></div><p class='foto-descricao'>Gol de Raphael Veiga em Atlético-GO x Palmeiras — Foto: Isabela Azine/AGIF</p>

Veja os artilheiros do Brasil em 2024
Pedro (Flamengo) - 30 gols
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_32_1.jpg"></div><p class='foto-descricao'>Pedro, do Flamengo — Foto: Alexandre Durão</p>

“Com a lesão do Pedro, não tinha como abrir mão do Gabriel” opina Renata Mendonça
Yuri Alberto (Corinthians) - 27 gols
Campeonato Paulista: 5 gols
Copa do Brasil: 2 gols
Copa Sul-Americana: 9 gols
Campeonato Brasileiro: 11 gols
Corinthians vence Cruzeiro com gols de Memphis e Yuri Alberto
Juan Martín Lucero (Fortaleza) - 23 gols
Campeonato Cearense: 3 gols
Copa do Nordeste: 3 gols
Copa do Brasil: 2 gols
Copa Sul-Americana: 7 gols
Campeonato Brasileiro: 8 gols
Lucero vive seca de gols e recebe apoio do torcedor do Fortaleza
Anselmo Ramon (CRB) - 23 gols
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_32_2.jpg"></div><p class='foto-descricao'>Anselmo Ramon comemora gol do CRB contra o Santos — Foto: Ailton Cruz</p>
Campeonato Alagoano: 7 gols
Copa do Nordeste: 5 gols
Copa do Brasil: 1 gol
Série B do Brasileiro: 10 gols
Gonzalo Mastriani (América-MG e Athletico-PR): 22 gols
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_32_3.jpg"></div><p class='foto-descricao'>Lesionado, Mastriani não joga mais em 2024 — Foto: Divulgação/Athletico</p>
Campeonato Mineiro: 6 gols
Campeonato Paranaense: 4 gols
Copa do Brasil: 1 gol
Copa Sul-Americana: 7 gols
Campeonato Brasileiro: 4 gols
Erick Pulga (Ceará) - 22 gols
Veja todos os 13 gols de Erick Pulga pelo Ceará na Série B
Campeonato Cearense: 5 gols
Copa do Nordeste: 4 gols
Série B do Brasileiro: 13 gols
Flaco López (Palmeiras) - 21 gols
Flaco López garantiu vitória do Palmeiras contra o Bahia
Campeonato Paulista: 10 gols;
Libertadores: 2 gol;
Campeonato Brasileiro: 9 gols. 
Isidro Pitta (Cuiabá) - 21 gols
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_32_4.jpg"></div><p class='foto-descricao'>Pitta comemora gol do Cuiabá contra o Atlético-MG — Foto: AssCom Dourado</p>
Campeonato Mato-Grossense: 6 gols
Copa do Brasil: 1 gol
Copa Verde: 3 gols
Copa Sul-Americana: 4 gols
Campeonato Brasileiro: 7 gols
Raphael Veiga (Palmeiras): 20 gols
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_32_5.jpg"></div><p class='foto-descricao'>Raphael Veiga - Bahia x Palmeiras — Foto: Cesar Greco</p>
Campeonato Paulista: 7 gols;
Libertadores: 2 gols;
Campeonato Brasileiro: 11 gols.</p>
<p class='noticia-conteudo'>Vegetti (Vasco): 20 gols
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_32_6.jpg"></div><p class='foto-descricao'>Vegetti - Vasco x Atlético-MG — Foto: André Durão</p>
Campeonato Carioca: 4 gols
Campeonato Brasileiro: 9 gols
Copa do Brasil: 7 gols
Nicolas (Paysandu) - 20 gols
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_32_7.jpg"></div><p class='foto-descricao'>Nicolas, artilheiro do Paysandu na Copa Verde — Foto: Jorge Luís Totti/Paysandu</p>
Campeonato Paraense: 11 gols
Copa Verde: 6 gols
Série B do Brasileiro: 2 gols
Júnior Santos (Botafogo) - 19 gols
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_32_8.jpg"></div><p class='foto-descricao'>Júnior Santos - Botafogo x Vasco - Brasileirão — Foto: André Durão</p>
Campeonato Carioca: 5 gols;
Copa do Brasil: 1 gol;
Campeonato Brasileiro: 4 gols;
Libertadores: 9 gols. 
Aos 25 min do 2º tempo - gol de dentro de área de Júnior Santos do Botafogo contra o Vasco
Hulk (Atlético-MG) - 19 gols
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_32_9.jpg"></div><p class='foto-descricao'>Hulk Atlético-MG Flamengo Copa do Brasil — Foto: Douglas Magno/AFP</p>
Campeonato Mineiro: 7 gols;
Campeonato Brasileiro: 10 gols;
Copa do Brasil: 1 gol;
Libertadores: 1 gol. 
Hulk explica discussão no fim do jogo e revela fala de Luiz Henrique sobre o Atlético-MG: "Time de vocês é uma m.</p>
<p class='noticia-conteudo'>. . "
Luiz Fernando (Atlético-GO) - 19 gols
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_32_10.jpg"></div><p class='foto-descricao'>Luiz Fernando - atacante do Atlético-GO — Foto: Ingryd Oliveira / ACG</p>
Campeonato Goiano: 11 gols
Campeonato Brasileiro: 6 gols
Copa do Brasil: 2 gols
Na temporada passada, o atacante German Cano, do Fluminense, foi o artilheiro do Brasil.</p>
<p class='noticia-conteudo'>Em 61 partidas, o argentino balançou as redes em 40 oportunidades.  Pedro, do Flamengo, e Paulinho, do Atlético-MG, com 35 e 31 gols, respectivamente, completaram o pódio. 
Germán Cano tem sofrido com as lesões em 2024
AMÉRICA-MG
ATHLETICO-PR
ATLÉTICO-GO
ATLÉTICO-MG
BOTAFOGO
CRB
CAMPEONATO BRASILEIRO SÉRIE D
CEARÁ
CEILÂNDIA
COPA VERDE
COPA DO BRASIL
CORINTHIANS
CUIABÁ
FLAMENGO
FORTALEZA
PALMEIRAS
PAYSANDU
VASCO.</p>
{% endblock main_content %}

