
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Veja quem é Idrissi, do Pachuca, autor de golaço sobre o Botafogo no Intercontinental{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Nascido na Holanda e naturalizado marroquino, meia de 28 anos é ex-jogador de Ajax e Sevilla.  Com um gol e uma assistência, camisa 11 foi destaque da vitória sobre o clube carioca



Aos 4 min do 2º tempo - Gol do Pachuca! Idrissi marca contra o Botafogo

— Foi um jogo incrível hoje.  Dois times muito competitivos.</p>
<p class='noticia-conteudo'>Estou muito feliz e orgulhoso do meu time.  Fizemos um bom jogo.  Sei que o Botafogo é um time forte.</p>
<p class='noticia-conteudo'>Tivemos que ter muita energia.  É uma honra representar o Pachuca.  Agora temos que pensar no Al-Ahly, que tem muitos bons jogadores — disse Oussama Idrissi após a partida.</p>
<p class='noticia-conteudo'>Idrissi é nascido na Holanda, mas se naturalizou marroquino, nação de seus pais, em 2019.  Revelado pelo holandês FC Groningen, o atleta se destacou no AZ Alkmaar e teve passagens por Sevilla, Ajax e Feyenoord, antes de chegar ao futebol mexicano, em 2023.  Desde então, disputou 52 jogos pelo Pachuca e marcou 11 gols, além de 19 assistências.</p>
<p class='noticia-conteudo'>Rafael Bizarelo analisa o Pachuca, adversário do Botafogo na Copa Intercontinental
O bom desempenho no time mexicano o fez atrair interesse do gigante América-MEX.  De acordo com a imprensa local, a equipe comandada por André Jardine tem Idrissi como alvo.  Com a camisa do Marrocos, fez nove partidas até aqui, incluindo a disputa da Copa Africana de Nações de 2019.</p>
<p class='noticia-conteudo'>O duelo entre Botafogo e Pachuca foi válido pela segunda fase do Intercontinental, disputado no Catar.  O time mexicano enfrentará o Al-Ahly, do Egito, na terceira fase.  Quem levar a melhor, disputará a final com o Real Madrid.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_384_0.jpg"></div><p class='foto-descricao'>Idrissi festeja gol pelo Pachuca — Foto: REUTERS/Ibraheem Al Omari</p>.</p>
{% endblock main_content %}

