
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}flamengo{% endblock title %}
{% block main_title %}flamengo{% endblock main_title %}
{% block second_title %}Veja oito pontos perdidos que custaram caro e tiraram chances de título brasileiro do Flamengo{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Veja oito pontos perdidos que custaram caro e tiraram chances de título brasileiro do Flamengo
Rubro-Negro deixou a vitória escapar em quatro partidas e chega ao quarto ano fora da disputa



ge Flamengo analisa que planejamento da diretoria foi equivocado novamente
No dia 17 de abril, o Flamengo venceu o São Paulo por 2 a 1 no Maracanã e voltou a ser líder do Campeonato Brasileiro depois de um longo jejum de três anos ou 115 rodadas.  O Rubro-Negro se manteve no topo da Série A, inclusive, em meio à Copa América, quando foi o clube com maior número de desfalques de jogadores convocados para a competição de seleções.  Fato que deu muita confiança internamente no Ninho do Urubu para buscar um título que não acontecia desde 2020.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_44_0.jpg"></div><p class='foto-descricao'>David Luiz lamenta em Flamengo x Atlético-MG — Foto: Alexandre Durão</p>
Porém, o Flamengo caiu drasticamente de produção no segundo turno e chega para as últimas três rodadas sem chances matemáticas de ser campeão, já que está 10 pontos atrás do líder Botafogo, restando apenas nove em disputa.  O ge lembra abaixo oito pontos perdidos pelo Rubro-Negro, tanto com Tite quanto com Filipe Luís, que tiraram o time da briga pelo eneacampeonato nacional. 
Flamengo 1 x 1 Palmeiras: -2 pontos
Depois de eliminar o Palmeiras na Copa do Brasil, o Flamengo de Tite voltou a enfrentar o adversário no Maracanã.</p>
<p class='noticia-conteudo'>Em um duelo bastante disputado, o Rubro-Negro abriu o placar em um gol chorado de Arrascaeta e segurou a vitória até os 41 minutos do segundo tempo.  Esse também foi o jogo das graves lesões que tiraram Everton Cebolinha e Viña do restante da temporada. 
Flamengo e Palmeiras empatam no terceiro confronto em 12 dias
Flamengo 1 x 1 Vasco: -2 pontos
Ainda comandado por Tite, o Flamengo novamente amassou o Vasco no Maracanã.</p>
<p class='noticia-conteudo'>Só que desta vez as bolas não entraram como na goleada de 6 a 1 no primeiro turno.  O Rubro-Negro martelou até abrir o placar com Gerson no segundo tempo.  Mas de novo aos 41, foi castigado e levou o empate em um contra-ataque.</p>
<p class='noticia-conteudo'>Também foi o jogo da grave lesão de Luiz Araújo, que não voltou a jogar até hoje. 
Flamengo e Vasco empatam em jogo com 1º gol de Coutinho
Inter 1 x 1 Flamengo: -2 pontos
Já sob o comando de Filipe Luís, o Flamengo visitou o Inter em partida atrasada da 17ª rodada, e foi um jogão no Beira-Rio, com muitas chances para os dois lados.  O Rubro-Negro saiu na frente em uma ótima cobrança de pênalti de Alcaraz no fim do primeiro tempo, teve a chance de matar o jogo na etapa final, mas foi castigado sofrendo o empate aos 43 minutos.</p>
<p class='noticia-conteudo'>Flamengo sai na frente, mas Internacional empata no fim do jogo
Flamengo 0 x 0 Atlético-MG: -2 pontos
Três dias depois de ser campeão da Copa do Brasil em cima do Atlético-MG, o Flamengo de Filipe Luís reencontrou o adversário e voltou a amassar o Galo no Maracanã.  Só que desta vez o Rubro-Negro parou numa atuação de gala do goleiro Everson e não conseguiu fazer gol.  Mas este jogo entra para a conta porque o time teve uma chance de ouro desperdiçada num pênalti mal cobrado por David Luiz, mesmo com o "especialista" Alcaraz em campo.</p>
<p class='noticia-conteudo'>David Luiz perde pênalti, e Fla fica no empate com o Atlético-MG

Com esses oito pontos, o Flamengo estaria hoje com 71, só dois atrás do Botafogo e muito vivo na disputa.  Porém, a dura realidade é que o Rubro-Negro chegou ao quarto ano seguido sem brigar pelo título nas últimas rodadas.  Jejum que Filipe Luís pretende acabar em 2025:
- Enquanto eu estiver aqui, o Brasileiro sempre vai ser prioridade absoluta.</p>
<p class='noticia-conteudo'>Eu levo o Brasileiro como o campeonato mais difícil que existe, é o campeonato onde está a regularidade, onde passa por inúmeros momentos, Data Fifa, viagens. ..</p>
<p class='noticia-conteudo'>É o campeonato mais difícil de conquistar e é um dos que eu tive mais prazer de conquistar como jogador.  Me incluo, sim, nessa culpa de não poder disputar.  Mas acredito que jogos assim, contra Fortaleza, Palmeiras, Botafogo, Inter, são jogos em que é possível perder pontos, principalmente fora de casa.</p>
<p class='noticia-conteudo'>Jogos contra times de rebaixamento, em casa, esses jogos são os que te dão o título no final do ano.  É aí que tem que ter a regularidade. 
🗞️ Leia mais notícias do Flamengo
🎧 Ouça o podcast ge Flamengo
Assista: tudo sobre o Flamengo no ge, na Globo e no sportv
50 vídeos
FLAMENGO.</p>
{% endblock main_content %}

