
    {% extends "html/modelo.html" %}
    {% load static %}
    

    {% block title %}Veja cinco destaques do time sub-17 do Vasco que vai disputar a final do Carioca{% endblock title %}
    {% block main_title %}Veja cinco destaques do time sub-17 do Vasco que vai disputar a final do Carioca{% endblock main_title %}
    {% block second_title %}None{% endblock second_title %}
    {% block main_content %}<p class='noticia-conteudo'>Veja cinco destaques do time sub-17 do Vasco que vai disputar a final do Carioca
Equipe vascaína venceu o Fluminense nesta quarta-feira e vai pegar o Flamengo na decisão


O Vasco venceu o Fluminense por 2 a 0 nesta quarta-feira e avançou para a final do Campeonato Carioca Sub-17.  É o quarto ano seguido que o time disputará a decisão estadual da categoria.  Os gols da classificação vascaína foram marcados por Kaique e Ítalo Sousa.</p>
<p class='noticia-conteudo'>Torcedor acompanha trabalho de roupeiros do Vasco em São Januário
O adversário na decisão será o Flamengo, que passou pelo Botafogo na semifinal.  Os dois jogos da final serão disputados nos dias 16 e 23 de novembro - os dois próximos sábados. 
O ge montou uma lista com cinco destaques do time sub-17 do Vasco.</p>
<p class='noticia-conteudo'>Veja abaixo:
Breno
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_0.jpg"></div>Breno, lateral-direito da base do Vasco — Foto: Dikran Sahagian/Vasco
O lateral-direito é uma das promessas da base vascaína.  Ele se dividiu entre o sub-20 e o sub-17 nesta temporada.  Foi titular nos dois jogos da final do Carioca Sub-20 contra o Flamengo, ambos vencidos pelo Vasco, e reforçou a categoria de baixo na semifinal do Estadual Sub-17 diante do Fluminense.</p>
<p class='noticia-conteudo'>São 42 partidas e dois gols na base em 2024. 
No ano passado, ele renovou o contrato até dezembro de 2025, com multa de 40 milhões de Euros – R$ 245 milhões na cotação atual.  Breno está há oito anos nas categorias de base do Vasco.</p>
<p class='noticia-conteudo'>Ramon Rique
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_1.jpg"></div>Ramon Rique foi campeão carioca sub-20 com o Vasco — Foto: Reprodução/Instagram
Este é um dos principais nomes do time sub-17 do Vasco.  Tem sete gols em 13 jogos pela categoria neste ano.  Também reforçou o sub-20, sendo titular na decisão contra o Flamengo.</p>
<p class='noticia-conteudo'>Ao todo, o meia de 17 anos soma 9 gols em 34 jogos no ano.  Seu vínculo é válido até 2026 e, assim como Breno, tem multa rescisória de 40 milhões de Euros – R$ 245 milhões na cotação atual. 
Juninho
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_2.jpg"></div>Juninho em Vasco x Fluminense, pelo Carioca Sub-17 — Foto: Dikran Sahagian/Vasco
O meia de 17 anos faz ótima temporada no sub-17, com oito gols em 25 jogos.</p>
<p class='noticia-conteudo'>Recentemente, ele marcou também em sua única partida pelo Brasileirão de Aspirantes, na vitória do Vasco sobre o Sport.  Juninho ainda soma quatro jogos com o time sub-20. 
Juninho chegou ao Vasco em 2016 e foi campeão da Copa Brasileirinho Sub-14 de 2021.</p>
<p class='noticia-conteudo'>O contrato do atleta é válido até janeiro de 2026. 
Pedro Augusto
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_3.jpg"></div>Pedro Augusto, atacante da base do Vasco — Foto: Dikran Sahagian/Vasco
O atacante de 16 anos tem números impressionantes em 2024: 13 gols em 18 jogos com o time sub-17.  Ainda participou de cinco partidas pelo sub-20.</p>
<p class='noticia-conteudo'>Natural de Recife, Pedro Augusto chegou ao Vasco em 2021 e se destacou como artilheiro nas categorias inferiores.  O atleta já foi convocado para as seleções brasileiras sub-15 e sub-16.  Ele tem contrato até 2027.</p>
<p class='noticia-conteudo'>Bruno Lopes
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_4.jpg"></div>Bruno Lopes estreou no profissional do Vasco contra o Corinthians — Foto: Leandro Amorim / CRVG
Aos 17 anos, Bruno Lopes já até estreou no profissional do Vasco, em julho passado, na vitória por 2 a 0 sobre o Corinthians.  O atacante chegou ao clube em março de 2023, a princípio para atuar nas categorias sub-16 e sub-17, mas mostrou grande potencial nas categorias inferiores e pulou etapas. 
Em março, Bruno Lopes assinou seu primeiro contrato profissional com o Vasco, válido até janeiro de 2027.</p>
<p class='noticia-conteudo'>Seus números em 2024 chamam atenção:




Assista tudo sobre o Vasco no ge, na Globo e no SporTV:
50 vídeos
VASCO.</p>
{% endblock main_content %}
    