
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Verstappen e Vettel são únicos tetras da F1 antes dos 30; veja lista{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Verstappen e Vettel são únicos tetras da F1 antes dos 30; veja lista
Ao todo, só seis pilotos dos 34 campeões já coroados pela F1 conquistaram quatro ou mais títulos.  Hamilton é o único do atual grid além do holandês da RBR


Max Verstappen segue anotando marcas importantes na categoria apesar da pouca idade.  Tetracampeão mundial aos 27 anos, um mês e 24 dias, após o GP de Las Vegas deste domingo, ele agora é o segundo tetra mais jovem da F1 - atrás apenas de Sebastian Vettel.</p>
<p class='noticia-conteudo'>Dois maiores pilotos da história da RBR, eles são os únicos multicampeões que alcançaram o feito antes dos 30 anos. 

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_16_0.jpg"></div><p class='foto-descricao'>Sebastian Vettel cumprimenta Max Verstappen no GP de Abu Dhabi de 2022, despedida do alemão da F1 — Foto: Dan Istitene - Formula 1/Formula 1 via Getty Images</p>
Na seleta lista de seis pilotos que já foram tetracampeões na elite do automobilismo europeu, Vettel é recordista: o ex-piloto faturou seu quarto título da F1 em 2013 com apenas 26 anos, três meses e 24 dias.  O sexteto conta ainda com outro representante no atual grid da F1: Lewis Hamilton, tetra em 2017 aos 32 anos, nove meses e 22 dias.</p>
<p class='noticia-conteudo'>Veja a lista abaixo!
McLaren parabeniza Verstappen por tetra: "Totalmente merecido"
Idade dos tetracampeões da F1
Piloto Idade no tetra Temporada
1º Sebastian Vettel (4 títulos) 26 anos, três meses e 24 dias 2013
2º Max Verstappen (4 títulos) 27 anos, um mês e 24 dias 2024
3º Michael Schumacher (7 títulos) 32 anos, sete meses e 22 dias 2001
4º Lewis Hamilton (7 títulos) 32 anos, nove meses e 22 dias 2017
5º Alain Prost (4 títulos) 38 anos, sete meses e dois dias 1993
6º Juan Manuel Fangio (5 títulos) 45 anos, dois meses e nove dias 1956
Os quatro títulos fizeram Verstappen igualar Vettel, até então a maior referência dentro da RBR.  Assim com o alemão (2010 a 2013), o holandês faturou seus campeonatos de forma consecutiva: em 2021, 2022, 2023 e 2024. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_16_1.jpg"></div><p class='foto-descricao'>Max Verstappen celebra tetracampeonato da F1, no GP de Las Vegas de 2024 — Foto: Kym Illman/Getty Images</p>
Max estreou na F1 em 2015 aos 17 anos, tornando-se o piloto mais jovem a debutar na elite do automobilismo europeu.</p>
<p class='noticia-conteudo'>Um ano depois, aos 18, foi o piloto mais novo a vencer uma corrida, o GP da Espanha de 2016.  Na ocasião, ele superou Vettel, que havia conquistado o GP da Itália em 2008 aos 21. 
Veja quais são os maiores campeões da F1.</p>
{% endblock main_content %}

