
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}flamengo{% endblock title %}
{% block main_title %}flamengo{% endblock main_title %}
{% block second_title %}Vestiário do Flamengo x Inter teve cobrança em jogo para cumprir tabela Ganhar até ímpar ou par{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Vestiário do Flamengo x Inter teve cobrança em jogo para cumprir tabela: "Ganhar até ímpar ou par"
Veja como foi discurso do capitão Gerson em partida que quebrou longa invencibilidade colorada



Gerson, no vestiário de Flamengo x Inter: "Tem que ganhar até ímpar ou par"
Mesmo sem mais objetivos no Campeonato Brasileiro, o Flamengo venceu o Inter no último domingo no Maracanã, quebrou uma longa invencibilidade colorada de 16 partidas e tirou as chances matemáticas de título do adversário.  Se no papel era um jogo para cumprir tabela, no vestiário rubro-negro o capitão Gerson pediu a palavra para cobrar empenho (veja no vídeo acima):
- Rapaziada, é bom lembrar a todos vocês que quando se veste essa camisa aqui, olha (bate no peito com a mão), não existe amistoso, não existe jogo que não vale nada.  Quem veste essa camisa aqui tem que ganhar até ímpar ou par.</p>
<p class='noticia-conteudo'>Estádio está lotado, vieram aqui nos ver.  O mínimo que temos que fazer é dar o nosso máximo - declarou, em entrevista à FlaTV. 

Wesley cobra Pix de Michael por assistência, e atacante paga com água; veja
O vídeo dos bastidores da partida, divulgado no canal oficial do Flamengo no YouTube, também mostrou uma resenha de Wesley e Michael no pós-jogo (veja no vídeo abaixo).</p>
<p class='noticia-conteudo'>Ainda no gramado do Maracanã, o lateral-direito foi cobrar um Pix pela assistência no terceiro gol, e o atacante brincou:
- Olha, o pagamento.  Toma - falou, esticando a mão com uma garrafinha de água e arrancando um riso de Wesley. 
- Isso aqui é muito bom, garoto - completou o atacante.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_5_0.jpg"></div><p class='foto-descricao'>Jogadores comemoram em vitória sobre o Inter — Foto: Jorge Rodrigues/AGIF</p>
Terceiro colocado do Brasileirão com 66 pontos (sete atrás do líder Botafogo), o Flamengo volta a campo nesta quarta-feira para enfrentar o Criciúma, às 20h (de Brasília) no Heriberto Hülse, pela penúltima rodada do campeonato. 
🗞️ Leia mais notícias do Flamengo
🎧 Ouça o podcast ge Flamengo
Assista: tudo sobre o Flamengo no ge, na Globo e no sportv
50 vídeos
FLAMENGO.</p>
{% endblock main_content %}

