
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Atlético-MG{% endblock title %}
{% block main_title %}Atlético-MG{% endblock main_title %}
{% block second_title %}Victor diz que Hulk é o maior da história do Atlético-MG Não é exagero{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Victor diz que Hulk é o maior da história do Atlético-MG: "Não é exagero"
Ex-goleiro e atual diretor ressalta identificação do camisa 7 com o clube entre os fatores importantes para coloca-lo em destaque na história alvinegra



Ídolo e atual diretor do Atlético-MG, Victor coloca Hulk como maior da história do clube
Ídolo do Atlético-MG e decisivo no título da Libertadores de 2013, Victor apontou Hulk como o maior da história do clube.  Ex-goleiro e atual diretor de futebol do Galo, ele deu entrevista exclusiva ao ge, às vésperas da final da Libertadores, falou sobre o frio na barriga antes de mais uma decisão continental e fez o balanço da temporada alvinegra. 


Campeão da Copa do Brasil, do Brasileiro e da Supercopa, além de cinco Campeonatos Mineiros, Hulk tem acumulado números expressivos desde que chegou ao Galo, em 2020, com artilharias e outros prêmios individuais.</p>
<p class='noticia-conteudo'>Além dos números, Victor também cita a identificação de Hulk com a torcida do Atlético para embasar a opinião de que o camisa 7 é o maior da história do clube. 
"Os números falam por si só, não é exagero falar o Hulk como o maior jogador da história do clube.  Basta ver o que ele já fez e o que ele tem feito.</p>
<p class='noticia-conteudo'>Então, não é exagero, não é demagogia, e sim uma realidade. "
- Acho que é um dos jogadores, se não o jogador mais identificado com a torcida dentro do elenco, acho que o elenco atual é.  Não vejo exagero como colocá-lo como o maior jogador da história do clube, pelo que ele já fez, pela importância que ele tem atualmente e por tamanho da identificação que ele tem com o clube.</p>
<p class='noticia-conteudo'>Realmente o torcedor se sente representado pelo Hulk e também ser ídolo a isso.  Não é só fazer grandes jogos dentro de campo, mas também sua postura.  O Hulk tem muito essa identificação que realmente o torcedor se sente representado por tudo aquilo que ele faz.</p>
<p class='noticia-conteudo'>Victor trabalha nos bastidores do Atlético desde que deixou os gramados, em 2021, e assumiu a diretoria de futebol no início desde ano, com a ida de Rodrigo Caetano para a CBF.  Vivendo a primeira decisão continental na nova função, o ex-goleiro cita ansiedade até maior do que quando estava em campo. 
- Mesmo estando do lado de cá, a gente ainda sente essa sensação.</p>
<p class='noticia-conteudo'>Claro que temos demandas diferentes, talvez com nível de ansiedade maior, porque a gente não está no controle da situação, mas igualmente orgulhoso de poder participar das duas decisões que o Atlético teve em Libertadores.  Para mim, isso é um privilégio e é algo que o dinheiro não paga, algo que tem valor na vida, não tem preço. 
Balanço do ano
O Atlético chegou a duas finais das Copas.</p>
<p class='noticia-conteudo'>Ficou com o vice-campeonato na Copa do Brasil e tem a chance de conquistar o título da Libertadores neste sábado.  O objetivo financeiro do clube na temporada era estar pelo menos nas oitavas de ambas. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_99_0.jpg"></div><p class='foto-descricao'>Victor Bagy, ex-goleiro e diretor do Atlético-MG — Foto: Pedro Souza / Atlético</p>
No Brasileiro, o clube está abaixo do esperado e fora da zona de classificação para a Libertadores, tornando o título da competição continental ainda mais importante, pensando também em 2025.</p>
<p class='noticia-conteudo'>Victor fez um balanço positivo da temporada. 
- Acho que vale ressaltar que, quando se fala de chegar até as oitavas nas competições, isso dentro de uma perspectiva financeira.  Quando se trabalha, quando se joga em uma equipe como Atlético, o foco é sempre por conquistas.</p>
<p class='noticia-conteudo'>Então, essa meta era uma meta financeira que foi superada.  Isso a gente pode considerar como algo muito importante na temporada.  Mas, sempre o discurso, vestindo, defendendo as cores do Atlético, é de conquistas.</p>
<p class='noticia-conteudo'>Então, nosso foco é total, incondicional. 
"Acordamos pensando em Libertadores, respiramos pensando em libertadores, dormimos pensando em libertadores.  Tenho certeza que esse é o pensamento de todo mundo que vai fazer de tudo para conseguir bicampeonato".</p>
<p class='noticia-conteudo'>Como o Atlético-MG pode levar perigo ao Botafogo? Rodrigo Coutinho explica
Assista: tudo sobre o Atlético no ge, na Globo e no Sportv
50 vídeos

ATLÉTICO-MG.</p>
{% endblock main_content %}

