
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Vini Jr. sofre lesão e deve desfalcar o Real Madrid por até um mês{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Vini Jr.  sofre lesão e deve desfalcar o Real Madrid por até um mês
Clube anuncia que jogador tem problema muscular na perna esquerda e ficará de fora dos próximos jogos da equipe


O Real Madrid anunciou nesta segunda-feira que o atacante Vini Jr.  sofreu uma lesão muscular no bíceps femoral da perna esquerda.</p>
<p class='noticia-conteudo'>A notícia surgiu um dia depois de boa atuação do jogador na vitória sobre o Leganés, por LaLiga, na qual ele jogou por 90 minutos.  Ele realizou exames após o duelo, que indicaram o problema físico.  De acordo com a imprensa espanhola, a previsão é que Vini pode ficar de três a quatro semanas fora dos gramados.</p>
<p class='noticia-conteudo'>✅Siga o novo canal ge Futebol Internacional no WhatsApp
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_29_0.jpg"></div><p class='foto-descricao'>Vini Jr.  tem lesão confirma e desfalca o Real Madrid — Foto: GettyImages</p>
Vini atuou normalmente na partida de domingo e só indicou o incômodo após o duelo.  Na ocasião, o técnico Carlo Ancelotti chegou a tirar Mbappé nos últimos dez minutos de jogo, mas o atacante brasileiro terminou a partida em campo.</p>
<p class='noticia-conteudo'>O problema físico ocorre no primeiro jogo de Vinicius com o Real Madrid após os duelos com a seleção brasileira na Data Fifa de novembro. 

O astro usou as redes sociais para se manifestar após a divulgação da lesão e fez uma crítica ao excesso de jogos. 
- O calendário louco.</p>
<p class='noticia-conteudo'>. .  A recuperar! - escreveu o jogador.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_29_1.jpg"></div><p class='foto-descricao'>Vini Jr se manifestou sobre lesão e criticou calendário de jogos — Foto: Reprodução/Twitter</p>
A lesão no bíceps femoral da perna esquerda não é uma novidade para o brasileiro, que já sofreu problemas parecidos na temporada passada.  Caso a previsão de três a quatro semanas de baixa se confirme, Vinicius deve desfalcar o Real Madrid por pelo menos seis jogos, incluindo os confrontos contra Liverpool e Atalanta, na Liga dos Campeões.  De acordo com o "As", o clube confia que ele esteja de volta para o duelo pela Copa Intercontinental, no Catar, marcado para o dia 18 de dezembro.</p>
<p class='noticia-conteudo'>Real Madrid 1 x 3 Milan | Melhores momentos | Rodada 4 | Liga dos Campeões 2024/25
REAL MADRID.</p>
{% endblock main_content %}

