
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}flamengo{% endblock title %}
{% block main_title %}flamengo{% endblock main_title %}
{% block second_title %}Viralizou Estevão impede título do Bota, Fla joga pelo Flu, Vasco da Grécia e craque na galera{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Viralizou: Estevão impede título do Bota, Fla joga pelo Flu, Vasco da Grécia e craque na galera
Penúltima rodada do Campeonato Brasileiro ainda teve são paulinos pistolas com Zubeldía e pedindo para time "entregar" último jogo, sofrência do Galo e lua de mel com Depay

05/12/2024 04h00 Atualizado há 3 horas

Estêvão marca golaço de falta para o Palmeiras e segura o Botafogo
A decisão do Campeonato Brasileiro ficou para a última rodada, no próximo domingo, com Botafogo e Palmeiras ainda disputando a taça.  Mas isso não quer dizer que a 37ª rodada deixou a desejar. 
Afinal, além da ainda indefinição pelo título, não é sempre que se vê torcedores do Fluminense, que nem entrou em campo, comemorando uma vitória do Flamengo (e rubro-negros revoltados com uma vitória do time).</p>
<p class='noticia-conteudo'>Ou uma bandeira da Grécia, no meio da galera do Vasco, em São Januário. 

Entre os virais, destaque também para a torcida do São Paulo pistola com o técnico argentino Luis Zubeldía (e já pedindo para o time "entregar" para o Botafogo na última rodada), os corintianos em lua de mel com o holandês Memphis Depay, e um dos destaque do Vitória no meio da torcida no Barradão. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_56_0.jpg"></div><p class='foto-descricao'>Torcida do Vasco leva bandeira da Grécia para jogo em São Januário — Foto: Reprodução</p>
Falta 1️⃣ ponto 🔥
O Botafogo poderia se sagrar campeão brasileiro nesta quarta-feira.</p>
<p class='noticia-conteudo'>Cenário que se tornou real por um bom tempo, enquanto o time fazia seu papel vencendo o Internacional, no Beira-Rio, e o Palmeiras perdia/empatava com o Cruzeiro, no Mineirão. 
Porém, a definição do título ficou para a última rodada, domingo.  Para o Fogão, no entanto, falta só mais um ponto.</p>
<p class='noticia-conteudo'>O que justifica a empolgação alvinegra nas redes por mais uma taça. 

Internacional 0 x 1 Botafogo | Melhores momentos | 37ª rodada | Campeonato Brasileiro Série A 2024
E o último jogo do Botafogo é contra o São Paulo..</p>
<p class='noticia-conteudo'>. . 
Barboza, do Botafogo, lamenta suspensão na última rodada do Brasileirão
Estevão mantém Palmeiras vivo 🐷🤗
O título já estava nas mãos do Botafogo até o garoto Estevão, em cobrança de falta aos 44 minutos do segundo tempo, marcar o gol da vitória, de virada, do Palmeiras sobre o Cruzeiro por 2 a 1.</p>
<p class='noticia-conteudo'>O pulso alviverde ainda pulsa. 

Cruzeiro 1 x 2 Palmeiras | Melhores Momentos | 37ª Rodada | Brasileirão 2024
Autor do gol da vitória, Estêvão comemora lindo gol no Palmeiras: "Realizei um sonho"

E o Palmeiras vai depender do São Paulo na última rodada..</p>
<p class='noticia-conteudo'>. 
Fla🤝Flu
No Heriberto Hulse, mesmo só cumprindo tabela, o Flamengo venceu o Criciúma por 3 a 0, resultado muito comemorado pelo..</p>
<p class='noticia-conteudo'>. Fluminense.  Isso porque, o Tricolor se livra do rebaixamento em caso de vitória nesta quinta-feira sobre o já rebaixado Cuiabá, no Maracanã.</p>
<p class='noticia-conteudo'>Ajuda que repercutiu bastante nas redes, com inversões de papéis.  Agradecimentos tricolores e reclamações rubro-negras. 
Criciúma 0 x 3 Flamengo | Melhores momentos | 37ª rodada | Brasileirão 2024
Bronca com Zubeldia 😡 e festa do Juventude 🥳
Outro que se livrou matematicamente do rebaixamento foi o Juventude, que em pleno Morumbis, venceu o São Paulo por 2 a 1.</p>
<p class='noticia-conteudo'>Quarto jogo sem vitória do Tricolor, que deixou a torcida pistola com o técnico argentino Luis Zubeldía. 
São Paulo 1 x 2 Juventude | Melhores Momentos | 37ª Rodada | Brasileirão 2024
Craque na galera ⚽🏟️🦁
No Barradão ,Vitória e Grêmio empataram por 1 a 1, resultado que garantiu o rubro-negro baiano na Sul-Americana, com o clube voltando a disputar uma competição internacional após oito anos. 
E se dessa vez não pôde comandar o time dentro de campo por conta de uma lesão, o meia Matheusinho puxou a torcida do Vitória em plena arquibancada.</p>
<p class='noticia-conteudo'>Identificação é isso. 
Matheusinho, meia do Vitória, assiste jogo contra o Grêmio na torcida
Pelo lado gremista, mesmo com o time já livre do risco de queda, segue a bronca com o técnico Renato Gaúcho.  O Tricolor só depende dele para também chegar à Sul-Americana.</p>
<p class='noticia-conteudo'>Vitória 1 x 1 Grêmio | Melhores Momentos | 37ª rodada | Brasileirão 2024
Vasco da Grécia . ..</p>
<p class='noticia-conteudo'>Em São Januário, o Vasco venceu o Atlético-MG por 2 a 0, garantiu a classificação para a Copa Sul-Americana, voltando a disputar uma competição internacional após cinco anos. 
Com direito a show da dupla Vegetti e Philippe Coutinho. 
Vasco 2 x 0 Atlético-MG | Gols | 37ª rodada | Brasileirão 2024
Na arquibancada quem chamou atenção foi um grupo de torcedores com uma bandeira da Grécia.</p>
<p class='noticia-conteudo'>Tudo por conta da informação de que o magnata grego Evangelos Marinakis está negociando para comprar a SAF do clube. 
Torcida do Vasco balança bandeira da Grêcia
..</p>
<p class='noticia-conteudo'>e Galo da crise (e sem técnico)🐔⬇️
Pelo lado do Atlético-MG, foi a 12ª partida seguida sem vencer.  Com dois vice-campeonatos no período, perdendo para o Flamengo, na Copa do Brasil, e para o Botafogo, na Copa Libertadores. 
A nova derrota custou o cargo do técnico argentino Gabriel Milito
Everson fala sobre momento ruim do Atlético-MG e lamenta "despedida melancólica" por último jogo sem torcida
E o Timão segue imparável 👉🏾🦁👈🏾
Abrindo a 37ª rodada na terça-feira, o Corinthians venceu o Bahia por 3 a 0, alcançou a marca inédita de oito vitórias seguidas no Brasileiro, e garantiu a classificação para a Libertadores.</p>
<p class='noticia-conteudo'>Tudo comandando por mais um show da dupla Memphis Depay e Yuri Alberto. 
Corinthians atropela o Bahia e vence a oitava seguida no Brasileirão
O holandês, por sinal, fechou a vitória com um golaço, devidamente registrado por vários torcedores presentes na Neo Química Arena. 
Aos 15 min do 2º tempo - gol de falta de Memphis Depay do Corinthians contra o Bahia
Já Yuri Alberto marcou seu 30º gol na temporada e e igualou a Pedro, do Flamengo, como o artilheiro do ano no Brasil.</p>
<p class='noticia-conteudo'>Um jogador que talvez seja o símbolo dessa reviravolta positiva do Corinthians. 
Artilheiro do Brasileirão, Yuri Alberto se emociona com temporada no Corinthians: "Momento único que estou vivendo aqui"
Por sinal, a torcida do Bahia ficou a bronca com o goleiro Adriel no lance do gol de Yuri Alberto.  Digamos que ele não fechou tão bem assim o ângulo do atacante corintiano.</p>
<p class='noticia-conteudo'>.</p>
{% endblock main_content %}

