
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}atletico_mg{% endblock title %}
{% block main_title %}atletico_mg{% endblock main_title %}
{% block second_title %}Vitória volta à Sul-Americana após oito anos e garante 27ª participação da região Nordeste{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Vitória volta à Sul-Americana após oito anos e garante 27ª participação da região Nordeste
Rubro-Negro vai disputar torneio continental pela sexta vez na história; Bahia é o clube nordestino com mais participações

05/12/2024 06h00 Atualizado há 4 horas
O empate em 1 a 1 diante do Grêmio, na última quarta-feira, garantiu o Vitória na Sul-Americana após oito temporadas longe da competição.  Com isso, o Rubro-Negro confirmou a região Nordeste pela 27ª vez na história do torneio. 
✅ Siga o ge Vitória nos Canais do WhatsApp
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_61_0.jpg"></div><p class='foto-descricao'>Janderson, Alerrandro e Matheusinho em Atlético-MG x Vitória — Foto: Victor Ferreira / EC Vitória</p>
O Vitória disputará, na temporada 2025, a sexta Sul-Americana de sua trajetória e se isola como segundo clube nordestino com mais participações.</p>
<p class='noticia-conteudo'>O Bahia lidera este ranking, uma vez que já participou de oito edições do torneio continental.  Além disso, o Tricolor disputará a Sula pela nona vez se ficar fora do G-8 do Brasileirão ou se não passar da pré-Libertadores. 
Sport, Ceará, Fortaleza, Santa Cruz e Náutico são os demais clubes nordestinos que já disputaram o torneio.</p>
<p class='noticia-conteudo'>Agora, o ge relembra, nas linhas abaixo, o desempenho das equipes nordestinas na Sul-Americana. 
Leão da Barra abriu os caminhos
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_61_1.jpg"></div><p class='foto-descricao'>Último jogo do Vitória pela Sul-Americana foi em 31 de agosto de 2016 — Foto: Giuliano Gomes/PR Press</p>
A Sul-Americana foi iniciada em 2002, mas o Nordeste teve o Vitória como primeiro participante da região apenas sete anos depois, na edição 2009 do torneio. 
O Leão baiano eliminou o Coritiba nos pênaltis, na primeira fase, e caiu nas oitavas diante do River Plate-URU, após derrota por 4 a 1 e empate por 1 a 1.</p>
<p class='noticia-conteudo'>No ano seguinte, em 2010, o Rubro-Negro se garantiu diretamente na segunda fase, mas terminou eliminado após vencer o Palmeiras por 2 a 0 e sofrer revés de 3 a 0 na volta. 
O Vitória voltou à competição em 2013, mas caiu nos pênaltis para o Coritiba, já na segunda fase, após triunfo e derrota pelo placar de 1 a 0.  O time baiano foi além e tirou o Sport para se garantir nas oitavas de final em 2014, mas saiu do torneio após sofrer 3 a 2 do Atlético Nacional no agregado.</p>
<p class='noticia-conteudo'>A última participação do Rubro-Negro baiano, em 2016, foi frustrante e parou na segunda fase com eliminação para o Coritiba no critério de gols marcados fora de casa.  O Vitória ganhou de 1 a 0, como mandante, e perdeu de 2 a 1, como visitante. 
Ceará foi longe
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_61_2.jpg"></div><p class='foto-descricao'>Lima e Miranda em Ceará x São Paulo, último jogo do Vovô na Sula — Foto: Kid Júnior/SVM</p>
O Ceará disputou a primeira Sul-Americana de sua história em 2011, quando foi eliminado pelo São Paulo, na segunda fase, após vencer na ida por 2 a 1 e perder o último jogo por 3 a 0.</p>
<p class='noticia-conteudo'>Dez anos depois, em 2021, já no novo formado da competição, o Vovô terminou no segundo lugar do Grupo C, em chave com Arsenal de Sarandí-ARG, Bolívar-BOL e Jorge Wilstermann-BOL, mas apenas um clube passou ao mata-mata. 
Em 2022, o Ceará fez a sua melhor campanha e ganhou todos os jogos do Grupo G, contra Independiente, La Guaira e General Caballero.  Além disso, eliminou o The Strongest, nas oitavas de final, com agregado de 5 a 1, e só caiu nas quartas diante do São Paulo, nos pênaltis, após derrota de 1 a 0, na ida, e vitória por 2 a 1, na volta.</p>
<p class='noticia-conteudo'>Líder em participações
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_61_3.jpg"></div><p class='foto-descricao'>Bahia venceu o Furacão fora de casa em 2018, mas caiu nos pênaltis — Foto: Felipe Oliveira/Divulgação/EC Bahia</p>
O Bahia estreou na Sul-Americana em 2012, com 4 a 0 no placar agregado e eliminação diante do São Paulo.  Na temporada seguinte, o Tricolor passou pela Portuguesa, na segunda fase, mas caiu nas oitavas para o Atlético Nacional, nos pênaltis, após derrota e vitória por 1 a 0. 
Em 2014, nova eliminação nas oitavas e nos pênaltis, desta vez para o César Valejjo, após classificação diante do Internacional na segunda fase.</p>
<p class='noticia-conteudo'>A quarta participação seguida, em 2015, veio com saída precoce após goleada para o Sport ainda na segunda fase. 
O Tricolor baiano iniciou o novo ciclo na Sul-Americana em 2018 passando por Blooming e Cerro, na primeira e segunda fases, respectivamente.  Além disso, o Bahia eliminou o Botafogo, nos pênaltis, nas oitavas de final, após vitória e derrota por 2 a 1, e caiu diante do Athletico, nas quartas, também nas penalidades, após perder em casa, por 1 a 0, e devolver o resultado em Curitiba.</p>
<p class='noticia-conteudo'>Na temporada seguinte, o Bahia deu vexame e saiu ainda na primeira fase após perder como mandante, para o Liverpool-URU, por 1 a 0, e empatar como visitante.  A recuperação viria em 2020, quando o Tricolor voltou a disputar as quartas de final (passou por Nacional, Melgar e Unión Santa Fe) e foi eliminado pelo Defensa y Justicia, após duas derrotas. 
A última participação azul, vermelho e branca foi em 2021, já no formato de fase de grupos, mas o Bahia não passou da primeira fase.</p>
<p class='noticia-conteudo'>Diante de Independiente, Montevideo City Torque e Guabirá, o Esquadrão terminou em terceiro lugar da chave B. 
Primeiro a chegar nas quartas
Antes de Bahia e Ceará, o Sport foi o primeiro clube do Nordeste a alcançar as quartas de final.  Mas a estreia do clube pernambucano aconteceu em 2013, com direito a classificação nos pênaltis diante do rival, o Náutico, na segunda fase, após vitória e derrota por 2 a 0.</p>
<p class='noticia-conteudo'>Nas oitavas de final, entretanto, o Leão da Ilha perdeu duas vezes para o Libertad e deixou o mata-mata. 
No ano seguinte, o Sport foi eliminado no já mencionado mata-mata da segunda fase diante do Vitória.  Em 2015, passou pelo Bahia, mas caiu diante do Huracán após empate por 1 a 1, em casa, e derrota como visitante, por 3 a 0.</p>
<p class='noticia-conteudo'>A frustração em 2016 foi ainda maior, com saída precoce nos confrontos contra outro rival, o Santa Cruz, após empate sem gols, na ida, e derrota por 1 a 0, na volta. 
A redenção viria em 2017, quando o Sport eliminou Danubio, Arsenal de Sarandí e Ponte Preta e disputou as quartas de final contra o Junior Barranquilla.  O time pernambucano perdeu em casa por 2 a 0, empatou sem gols o jogo da volta e deixou a Sula.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_61_4.jpg"></div><p class='foto-descricao'>Mena em ação pelo Sport contra o Junior Barranquilla — Foto: AFP</p>
Parou no rival
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_61_5.jpg"></div><p class='foto-descricao'>Náutico até venceu o Sport na Sula, mas perdeu nos pênaltis — Foto: Aldo Carneiro/Pernambuco Press</p>
Como mencionado acima, quis o destino que o Náutico enfrentasse o Sport em sua única participação na Sul-Americana.  Em 2013, o Timbu até devolveu o 2 a 0 sofrido no jogo de ida diante do seu principal rival, em jogos da segunda rodada, mas perdeu nos pênaltis, por 3 a 1, e foi eliminado. 
Caiu nas oitavas
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_61_6.jpg"></div><p class='foto-descricao'>Santa Cruz x Independiente Medellín, pela Sul-Americana — Foto: Aldo Carneiro / Pernambuco Press</p>
O mesmo aconteceu com o Santa Cruz, mas com final feliz.</p>
<p class='noticia-conteudo'>O Tricolor pernambucano teve pela frente o arquirrival Sport na segunda fase da Sul-Americana de 2016, mas garantiu vaga nas oitavas depois de empate em 0 a 0 e vitória no jogo da volta, por 1 a 0. 
Na fase seguinte, entretanto, o Santa caiu para o Independiente Medellín depois de perder a ida, por 2 a 0, e estufar as rede três vezes no Arruda, mas sofrer o gol da eliminação por 3 a 1 já na reta final da segunda etapa. 
Único vice-campeão
O último dos sete clubes do Nordeste a disputar a Sul-Americana é o único a alcançar a semifinal e a decisão do torneio.</p>
<p class='noticia-conteudo'>O Fortaleza foi vice-campeão no ano passado depois de fazer excelente campanha e perder a final nos pênaltis para a LDU, por 4 a 3, após empate por 1 a 1. 
O Leão do Pici liderou o Grupo H depois de enfrentar San Lorenzo, Palestino e Estudiantes de Mérida.  Além disso, passou por Libertad, América-MG e Corinthians para chegar à decisão.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_61_7.jpg"></div><p class='foto-descricao'>Pedro Augusto lamenta derrota do Fortaleza para a LDU na final da Sul-Americana — Foto: EFE/ Raúl Martínez</p>
Antes da boa campanha em 2023, o Tricolor cearense caiu na primeira fase, em 2020, para o Independiente no critério de gols marcados fora de casa: perdeu a ida por 1 a 0 e venceu na volta, no Castelão, por 2 a 1. 
Este ano, o Leão do Pici até liderou o Grupo D em disputa contra Boca Juniors, Nacional Potosí e Sportivo Trinidense, além de passar pelo Rosario Central nas oitavas, com empate e vitória, mas foi eliminado após dois resultados negativos que geraram um agregado de 5 a 0 diante do Corinthians . 
Clubes do Nordeste na Sul-Americana
Clube Quantidade de participações Temporadas
Bahia Oito 2012, 2013, 2014, 2015, 2018, 2019, 2020 e 2021
Vitória Seis 2009, 2010, 2013, 2014, 2016 e 2025
Sport Cinco 2013, 2014, 2015, 2016 e 2017
Ceará Três 2011, 2021 e 2022
Fortaleza Três 2020, 2023 e 2024
Náutico Uma 2013
Santa Cruz Uma 2016
Fonte: ge
Outras competições
Também é válido lembrar que a Sul-Americana teve início em 2002, mas outros torneios continentais de clubes em nível inferior à Libertadores foram disputados anteriormente.</p>
<p class='noticia-conteudo'>O único deles a contar com clubes nordestinos foi a Conmebol, realizada entre 1992 e 1999. 
A região Nordeste teve seis participações no total: Vitória (1994 e 1997), América de Natal (1998), Ceará (1995), CSA (1999) e Sampaio Corrêa (1998).  O CSA foi o único finalista e perdeu o título para o Talleres, da Argentina, após vencer por 4 a 2, em Maceió, e ser derrotado por 3 a 0, em Córdoba.</p>
<p class='noticia-conteudo'>50 vídeos
BAHIA
CEARÁ
FORTALEZA
NÁUTICO
SANTA CRUZ
SPORT
VITÓRIA.</p>
{% endblock main_content %}

