
    {% extends "html/modelo.html" %}

    {% block title %}Voo cancelado no Rio deixa cinco jogadores da Argentina fora do treino da seleção{% endblock title %}
    {% block main_title %}Voo cancelado no Rio deixa cinco jogadores da Argentina fora do treino da seleção{% endblock main_title %}
    {% block second_title %}None{% endblock second_title %}
    {% block main_content %}<p class='noticia-conteudo'>Voo cancelado no Rio deixa cinco jogadores da Argentina fora do treino da seleção
Dibu Martínez reclama nas redes sociais: "30 horas de voo e seguimos de passeio"



Argentina 6 x 0 Bolívia | Melhores Momentos | 10ª Rodada | Eliminatórias da Copa do Mundo
Um voo cancelado deixou cinco jogadores da seleção da Argentina fora do primeiro treino para o jogo de quinta-feira contra o Paraguai, pelas Eliminatórias da Copa de 2026.  O grupo formado pelo goleiro Dibu Martínez, os defensores Cristian Romero e Lisandro Martínez, o volante Enzo Fernández e o atacante Facundo Buonanotte saiu de Londres no domingo e fez escala no Rio de Janeiro, mas não conseguiu seguir para Buenos Aires no horário previsto devido ao problema no voo. 
De acordo com o site Flightware, especializado em monitoramento da aviação comercial internacional, o voo BA249, da British Airways, estava previsto para decolar do Aeroporto Tom Jobim, no Rio, às 8h29 desta segunda-feira (horário de Brasília), com chegada estimada em Buenos Aires às 11h44.</p>
<p class='noticia-conteudo'>O cancelamento do voo levou a Associação de Futebol da Argentina (AFA) a fretar de emergência um avião para buscar os cinco jogadores, mas eles não conseguiram chegar a tempo de participar da atividade desta segunda-feira no CT de Ezeiza. 
A Argentina lidera as Eliminatórias com 22 pontos em dez jogos.  Depois de enfrentar o Paraguai na quinta, em Assunção, a equipe dirigida por Lionel Scaloni vai receber a seleção do Peru, dia 19, na Bombonera.</p>
<p class='noticia-conteudo'>Enquanto aguardava o novo avião, Dibu Martínez publicou uma foto com Romero e Lisandro Martínez, aparentemente na pista do Aeroporto Tom Jobim, reclamando do problema no voo: "30 horas e seguimos de passeio". 
<div class="div-imagem"><img class="noticia-imagem" src="/media/Voo_cancelado_no_Rio_deixa_cinco_jogadores_da_Argentina_fora_do_treino_da_selecao_0.jpg"></div>Dibu Martínez reclama nas redes sociais de voo cancelado no Rio — Foto: Reprodução.</p>
{% endblock main_content %}
    