
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Wesley vibra com 16 jogos invictos do Inter Sensação de que não vamos mais perder{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Wesley vibra com 16 jogos invictos do Inter: "Sensação de que não vamos mais perder"
Colorado alcançou o 16º jogo de invencibilidade ao golear o Bragantino por 4 a 1 no Beira-Rio



Wesley exalta sequência invicta do Internacional e comenta briga pelo título: "Continuar sonhando"
Há uma faixa no Beira-Rio que diz “quem será a próxima vítima?”.  A frase deixa clara a confiança que há entre torcedores do Inter.  Mas isso se estende para os jogadores Sem perder há três meses, os colorados mantêm a esperança em lutar pelo título do Brasileirão pela força desta sequência.</p>
<p class='noticia-conteudo'>A goleada por 4 a 1 sobre o Bragantino no domingo culminou com o 16º jogo de invencibilidade.  São 12 vitórias no período. 

Internacional 4 x 1 Bragantino | Melhores momentos | 35ª rodada | Brasileirão 2024
O mundo mudou radicalmente para os gaúchos em 99 dias.</p>
<p class='noticia-conteudo'>Em 18 de agosto, o Inter perdeu por 1 a 0 para o Atlético-GO e ficava em 13º com 25 pontos, três a mais que o Corinthians, que abria a zona de rebaixamento.  O Botafogo, que liderava, somava 46.  Hoje está em terceiro com 65, a cinco do Palmeiras, o primeiro, e do Fogão, logo atrás.</p>
<p class='noticia-conteudo'>A evolução é mérito do trabalho de Roger, diz Wesley. 
– Como se fala no futebol, compramos a ideia.  A comissão e ele estudam muito o jogo.</p>
<p class='noticia-conteudo'>Têm dias que chegam virados.  Assistem três, quatro vezes os nossos e entregam tudo de mão beijada para desempenharmos.  Tem dado certo – comenta o atacante.</p>
<p class='noticia-conteudo'>A sensação que temos é que não vamos perder mais.  Nos apegarmos nos próximos jogos e em continuar vencendo.  Se os outros não vencerem, chegaremos.</p>
<p class='noticia-conteudo'>— Wesley
Veja mais:


Apesar da série, o título ainda é complicado.  Afinal, o Colorado precisa somar seis pontos mais que o Verdão, já que também tem menos vitórias (21 a 18).  O vestiário entende a dificuldade, mas o grupo se apega na matemática para manter a esperança.</p>
<p class='noticia-conteudo'>– O título é relativamente difícil, mas, como falamos, não pagamos para sonhar.  Quem está na frente tem que fazer seu papel porque faremos nosso melhor para continuar vencendo em busca dos objetivos. 
"Hoje a gente não se estressa com o Internacional", diz Luka | Voz da Torcida
A secação colorada será grande na terça-feira.</p>
<p class='noticia-conteudo'>Palmeiras x Botafogo, os líderes, se enfrentam às 21h30.  O cenário indica que um empate ajudaria.  Porém, os gaúchos ainda enfrentam os cariocas na penúltima rodada.</p>
<p class='noticia-conteudo'>O Inter terá a segunda-feira de descanso.  A reapresentação ocorre na manhã de terça.  O confronto com o Flamengo ocorrerá no domingo, às 16h, no Maracanã.</p>
<p class='noticia-conteudo'><div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_32_0.jpg"></div><p class='foto-descricao'>Wesley é um dos destaques do Inter — Foto: Ricardo Duarte/Divulgação, Internacional</p>


50 vídeos
INTERNACIONAL.</p>
{% endblock main_content %}

