
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}Outros{% endblock title %}
{% block main_title %}Outros{% endblock main_title %}
{% block second_title %}Whindersson tem Anderson Silva de tradutor em pesagem nos EUA e critica falta de apoio no boxe{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Whindersson tem Anderson Silva de tradutor em pesagem nos EUA e critica falta de apoio no boxe
Humorista vai fazer sua estreia no boxe profissional em luta no card de Mike Tyson x Jake Paul.  Whind conta com suporte de Lenda do UFC, que faz aparição surpresa, e traduz desabado do piauiense



Mundo da Luta projeta combate entre Tyson e Jake Paul
Whindersson Nunes subiu no palco do evento de boxe antes da sua estreia profissional na modalidade e contou com o suporte de Anderson Silva para criticar a falta de apoio aos atletas.  Na pesagem dos atletas do evento de boxe que tem como principal luta Mike Tyson x Jake Paul, o piauiense citou que às vezes é necessário fazer o trabalho de 10 pessoas para conseguir uma oportunidade.</p>
<p class='noticia-conteudo'>Tudo isso foi traduzido pela lenda do UFC, que fez aparição surpresa.  O brasileiro vai encarar o influenciador indiano, Neeraj Goyat, em luta pelo Peso-super-médio, nesta sexta-feira, em Arlington, nos Estados Unidos,
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_0.jpg"></div><p class='foto-descricao'>Whindersson Nunes e Anderson Silva, nos Estados Unidos — Foto: Reprodução/YouTube</p>
- Estou achando isso sensacional.  O Anderson sabe que, de onde a gente vem, a gente tem que ser 10 pessoas para chegar até aqui e que os campeonatos muitas vezes não apoiam as pessoas da própria cidade, mas estamos sendo muito bem tratados aqui, eu e minha equipe.</p>
<p class='noticia-conteudo'>Obrigado a todo mundo desse evento - disse Whindersson Nunes, que após cinco lutas amadoras, faz nesta sexta-feira sua estreia no boxe profissional. 
- Estou muito feliz de estar aqui com ele - se resumiu a dizer Anderson. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_1.jpg"></div><p class='foto-descricao'>Anderson Silva no meio da encarada entre Goyat e Whindersson Nunes — Foto: Reprodução/Youtube</p>

<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_2.jpg"></div><p class='foto-descricao'>Neeraj Goyat e Whindersson Nunes, nos Estados Unidos — Foto: Reprodução/YouTube</p>
Como foi a pesagem?
Um dos maiores nomes da história dos esportes de combate fez uma aparição surpresa na pesagem da luta entre Mike Tyson e Jake Paul.</p>
<p class='noticia-conteudo'>Anderson Silva, ex-campeão peso-médio do UFC e detentor de vários recordes do MMA, surgiu no palco montado no Toyota Music Factory em Irving, EUA, para supervisionar a encarada entre seu compatriota, o brasileiro Whindersson Nunes, e o indiano Neeraj Goyat. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_3.jpg"></div><p class='foto-descricao'>Whindersson Nunes nos Estados Unidos — Foto: Reprodução/YouTube</p>
Whindersson Nunes surgiu tranquilo para a pesagem.  Goyat, por sua vez, apareceu todo vestido em trajes típicos indianos e fez graça com a plateia.</p>
<p class='noticia-conteudo'>Foi quando Anderson foi anunciado.  O público vibrou com a presença do Spider, que abraçou Whindersson e se colocou entre os dois boxeadores.  Goyat fez cócegas na barriga de Nunes, que riu e brincou com o adversário.</p>
<p class='noticia-conteudo'>- Ele é comediante, então eu só queria fazer ele rir - contou o indiano. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_4.jpg"></div><p class='foto-descricao'>Neeraj Goyat e Whindersson Nunes, nos Estados Unidos — Foto: Reprodução/YouTube</p>
Tyson x Paul: Evento terá revanche da maior luta feminina da história
De youtuber a algoz de Spider: veja trajetória de Jake Paul até virar adversário de Mike Tyson
Tyson x Paul: quem é o treinador brasileiro de Mike Tyson?
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_6_5.jpg"></div><p class='foto-descricao'>Whindersson Nunes posa na pesagem de Mike Tyson x Jake Paul — Foto: Reprodução/Youtube</p>
O card principal do evento está programado para começar às 22h (horário de Brasília).  O Combate.</p>
<p class='noticia-conteudo'>com acompanha tudo em tempo real a partir das 19h. 
Confira os pesos atingidos pelos lutadores na pesagem:
CARD PRINCIPAL
Peso-pesado: Jake Paul (103,1kg) x Mike Tyson (103,6kg)
Peso-super-leve: Katie Taylor (62,3kg) x Amanda Serrano (62,3kg)
Peso-meio-médio: Mario Barrios (66,6kg) x Abel Ramos (66,4kg)
Peso-super-médio: Neeraj Goyat (73,5kg) x Whindersson Nunes (74,4kg)
CARD PRELIMINAR
Peso-super-médio: Shadasia Green (76,1kg) x Melinda Watpool (75,7kg)
Peso-leve: Lucas Bahdi (61,1kg) x Armando Casamonica (62,9kg)
Peso-pena: Bruce Carrington (57,1kg) x Dana Coolwell (56,8kg)
Assine o Combate e veja o melhor do mundo das lutas.</p>
{% endblock main_content %}
{% block cor_categoria %}#cccccc{% endblock cor_categoria %}

