
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}corinthians{% endblock title %}
{% block main_title %}corinthians{% endblock main_title %}
{% block second_title %}Yuri Alberto chega a 30 gols pelo Corinthians em 2024, iguala Pedro e vira artilheiro do Brasil{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Yuri Alberto chega a 30 gols pelo Corinthians em 2024, iguala Pedro e vira artilheiro do Brasil
Camisa 9 do Timão está entre os que mais balançaram as redes em 2024



Artilheiro do Brasileirão, Yuri Alberto se emociona com temporada no Corinthians: "Momento único que estou vivendo aqui"
Yuri Alberto se tornou o grande artilheiro do Brasil no ano de 2024.  Na noite desta terça-feira, na vitória por 3 a 0 sobre o Bahia, na Neo Química Arena, pela 37ª rodada do Brasileirão, o camisa 9 do Corinthians voltou a balançar as redes, chegou a 30 gols na temporada e igualou Pedro, do Flamengo. 


Aos 48 min do 1º tempo - gol de dentro da área de Yuri Alberto do Corinthians contra o Bahia
De quebra, o goleador do Timão assumiu a ponta da tabela de artilharia do Campeonato Brasileiro, com 14 gols, um a mais do que Alerrandro, do Vitória.</p>
<p class='noticia-conteudo'>Os números e o reconhecimento do torcedor emocionaram o camisa 9 na saída para o gramado, ainda no intervalo.  Ele também foi aplaudido após sua substituição no segundo tempo. 
Mais notícias do Corinthians:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_21_0.jpg"></div><p class='foto-descricao'>Yuri Alberto comemora o segundo gol do Corinthians contra o Bahia — Foto: Marcos Ribolli</p>
– É muito significativo para mim e para todo o grupo.</p>
<p class='noticia-conteudo'>Nosso maior objetivo é conseguir esse acesso para a Libertadores – afirmou. 
A fase de Yuri Alberto se assemelha com o crescimento do Corinthians na temporada, que tirou o time da briga contra o rebaixamento e colocou o elenco perto de uma vaga na Libertadores. 

Corinthians 3 x 0 Bahia | Melhores Momentos | 37ª Rodada | Brasileirão 2024
Nas últimas sete partidas, o atacante anotou nove gols.</p>
<p class='noticia-conteudo'>Só no Brasileirão são oito jogos consecutivas em que marcou com a camisa do Corinthians. 
– É só agradecer de poder ajudar dessa maneira, quebrando barreiras, quebrando recordes.  É um momento único que estou vivendo aqui – encerrou.</p>
<p class='noticia-conteudo'>"O Corinthians atropelou o Bahia na Neo Química Arena!", diz Careca | A Voz da Torcida


50 vídeos
CORINTHIANS.</p>
{% endblock main_content %}

