
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}atletico_mg{% endblock title %}
{% block main_title %}atletico_mg{% endblock main_title %}
{% block second_title %}Zaracho tem lesão confirmada no Atlético-MG e está fora da final da Conmebol Libertadores{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Zaracho tem lesão confirmada no Atlético-MG e está fora da final da Conmebol Libertadores
Meia sofre novo problema e não tem previsão de retorno


Matías Zaracho não estará na final da Conmebol Libertadores.  O meia do Atlético-MG teve uma lesão muscular na parte posterior da coxa esquerda, contra o São Paulo, no último sábado, e desfalca o time contra o Botafogo, no dia 30 de novembro, na Argentina. 

Zaracho se lesiona e deixa o campo chorando; veja


Como o Atlético-MG pode levar perigo ao Botafogo? Rodrigo Coutinho explica

Contra o São Paulo, o camisa 15 entrou no intervalo.</p>
<p class='noticia-conteudo'>Jogou por 25 minutos e, ao dar um pique sozinho, sentiu a posterior da coxa esquerda.  Precisou ser amparado pelos companheiros no banco de reserva. 
O Atlético divulgou que ele teve um problema no músculo posterior da coxa esquerda.</p>
<p class='noticia-conteudo'>Zaracho já iniciou o tratamento no departamento do clube, sem dar um prazo para o retorno do atleta. 
Com uma semana para a decisão, ele não deve estar presente. 
<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_54_0.jpg"></div><p class='foto-descricao'>Zaracho chora no banco de reservas — Foto: Premiere</p>
Os problemas clínicos acompanham Zaracho nos quatro anos de Atlético.</p>
<p class='noticia-conteudo'>Lesões musculares em diferentes regiões. 
Nesta temporada, Zaracho teve um problema crônico no púbis.  Ele precisou ser operado para a correção de uma hérnia na região inguinal.</p>
<p class='noticia-conteudo'>Ele ficou mais de dois meses em recuperação. 
Desde que retornou, no dia três de novembro, na final da Copa do Brasil, foi titular em apenas duas oportunidades.  Contra o São Paulo, iniciou no banco de reservas e virou opção durante o intervalo, na vaga de Bernard.</p>
<p class='noticia-conteudo'>Assista: tudo sobre o Atlético no ge, na Globo e no Sportv
50 vídeos

ATLÉTICO-MG.</p>
{% endblock main_content %}

