
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}outros{% endblock title %}
{% block main_title %}outros{% endblock main_title %}
{% block second_title %}Zubeldía pede cinco reforços à diretoria do São Paulo e diz Temos concorrentes com mais dinheiro{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Zubeldía pede cinco reforços à diretoria do São Paulo e diz: "Temos concorrentes com mais dinheiro"
Treinador comenta também a possibilidade de perder Luciano e projeta 2025 "muito difícil"

04/12/2024 23h50 Atualizado há 10 horas

Veja a entrevista coletiva de Luis Zubeldía após a partida entre São Paulo e Juventude
O técnico Luis Zubeldía quer cinco reforços para o São Paulo na próxima temporada.  Depois da derrota por 2 a 1 para o Juventude, nesta quarta-feira, no Morumbis, pela 37ª rodada do Campeonato Brasileiro, o treinador argentino explicou a necessidade por novos jogadores para aumentar a qualidade do elenco tricolor. 

Insatisfeito com a atuação do Tricolor nas últimas rodadas do Brasileirão, Zubeldía disse que sua equipe chegou ao limite do que pode apresentar, alertou a diretoria para a importância de contratar reforços e destacou a necessidade de manter Luciano no elenco depois de o atacante deixar seu futuro em dúvida.</p>
<p class='noticia-conteudo'>– A direção sabe o que eu penso de Luciano, o Luciano sabe o que eu penso dele.  O Luciano não ficar não é condicionante para vir outro jogador ou não.  A equipe precisa de cinco jogadores no mínimo, precisamos de mais cinco jogadores para complementar o que temos, e não porque alguém vai embora.</p>
<p class='noticia-conteudo'>A situação não é fácil, sabemos que temos concorrentes com mais dinheiro e isso permite ter mais força. 
– Então, para nós, como no caso de Luciano, nós precisamos de reforços e faremos todo o possível para ter, porque o próximo ano será tão difícil quanto esse.  Desde o Paulista será difícil.</p>
<p class='noticia-conteudo'>O Corinthians melhorou muito com muitas contratações, o Palmeiras a gente sabe o projeto que tem, o Santos subiu, Bragantino é forte.  Depois disso teremos Libertadores, Brasileirão, tudo difícil..</p>
<p class='noticia-conteudo'>.  – disse Zubeldía. 
Mais do São Paulo:


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_63_0.jpg"></div><p class='foto-descricao'>Luís Zubeldía em São Paulo x Juventude — Foto: Marcos Ribolli</p>
Preocupado, Zubeldía está insatisfeito com as atuações do São Paulo na reta final da temporada.</p>
<p class='noticia-conteudo'>Mesmo com a classificação direta para a fase de grupos da Libertadores do ano que vem e a garantia de terminar o ano em sexto lugar no Campeonato Brasileiro, o treinador argentino não esconde a insatisfação. 
Garantido na fase de grupos da Libertadores, o São Paulo perdeu por 2 a 1 para Grêmio, no último fim de semana, fora de casa, e para Juventude, nesta quarta-feira, no Morumbis.  A maneira como o Tricolor se comportou nos dois jogos depois de se classificar para a competição continental desagradou Luis Zubeldía.</p>
<p class='noticia-conteudo'>– Eu sei que já estamos numa posição que já garantimos a classificação direta, não perderemos a sexta posição e inconscientemente isso faz não estarmos 100% como equipe, como jogo, mas depois quando começa o jogo, quando sofremos os gols, começa a reação, nos ligamos e acho que o São Paulo sempre precisa dar um pouco a mais nos jogos.  Senão não alcança o melhor.  Nós temos bons jogadores, mas precisamos dar um pouco a mais sempre.</p>
<p class='noticia-conteudo'>E hoje, lamentavelmente, não estamos dando esse ponto a mais. 
– Te digo que é 100% pela situação que estamos.  Quando acontece dessa forma me dói, pois eu sei que isso não muda nada da temporada, mas me dói, e dói para os jogadores por conta dos torcedores que vêm aqui.</p>
<p class='noticia-conteudo'>Essa é a dor que tenho agora, pois sempre que jogamos em casa eu falo para darmos um show, apresentarmos um bom futebol para vencer, mas essa partida e contra o Cuiabá foram as piores partidas da minha gestão no São Paulo.  Hoje assumo a responsabilidade pois sou o treinador da equipe – completou. 

O São Paulo se despede do Brasileirão no domingo, às 16h, contra o Botafogo, no Rio de Janeiro.</p>
<p class='noticia-conteudo'>O time carioca precisa de apenas um empate com o Tricolor para comemorar o título do Brasileirão. 
São Paulo 1 x 2 Juventude | Melhores Momentos | 37ª Rodada | Brasileirão 2024
Veja outras respostas de Zubeldía nesta quarta-feira:
Por que não mudou o time contra o Juventude?
– Eu não queria dar uma mensagem de que tudo estava terminado.  Queria terminar com coerência de que todas as partidas são importantes.</p>
<p class='noticia-conteudo'>Queria mostrar o melhor futebol no último jogo em casa, mas jogamos muito mal.  Sou o primeiro a não ficar satisfeito, pois fomos muito mal e me dói o dobro quando jogamos mal em casa.  Se tivéssemos muitas mudanças me pareceria injusto aos que vieram assistir ao jogo aqui no estádio.</p>
<p class='noticia-conteudo'>– E eu também queria começar com os titulares e dar rodagem para alguns para jogar junto com os titulares e experientes, então por isso quis ver o Patryck junto com o Lucas, o Erick junto com o Igor, mas é claro que agora diante da atuação que vi, eu poderia ter pensado em outra coisa, mas a minha ideia era ir fazendo pequenas mudanças entre hoje e a próxima partida, mas fizemos uma má partida.  Sabia que poderia terminar o jogo com Moreira, Nestor, William, poderia ter posto Rodriguinho a depender de como fosse o jogo, mas os titulares também queriam se despedir do torcedor. 
Avaliação da temporada
– Eu creio que a evolução dos jogadores é boa, nem muito boa, nem ruim, mas boa, para mim terminar o Brasileirão com 60 e poucos pontos, terminar em sexto, classificado para a Libertadores, acabou sendo algo que abaixou o ímpeto do time.</p>
<p class='noticia-conteudo'>Então, o resumo é bom, na Libertadores perdemos, mas fomos bem.  Desde que cheguei aqui foi difícil, mas tive uma sequência boa no começo.  Na Libertadores fomos bem, caímos para a melhor equipe, que está à frente por muito, por conta do projeto que investiu muito no meio do ano.</p>
<p class='noticia-conteudo'>– Mas estivemos muito perto de eliminar a equipe mais forte da Libertadores.  Assim a temporada terminaria boa.  Sei que o São Paulo como instituição merece mais do que essa temporada, ano passado ganhou Copa do Brasil, foi direto para a Libertadores e sempre competiu, sempre esteve à altura do São Paulo.</p>
<p class='noticia-conteudo'>No aspecto da minha comissão, acho que fizemos um bom trabalho, mas nada mais do que isso. 


50 vídeos
SÃO PAULO.</p>
{% endblock main_content %}

