
            
{% extends "html/modelo.html" %}
{% load static %}

{% block title %}botafogo{% endblock title %}
{% block main_title %}botafogo{% endblock main_title %}
{% block second_title %}Zubeldía avalia poupar Lucas e outros titulares do São Paulo em jogo que vale título ao Botafogo{% endblock second_title %}
{% block main_content %}<p class='noticia-conteudo'>Zubeldía avalia poupar Lucas e outros titulares do São Paulo em jogo que vale título ao Botafogo
Tricolor visita o Fogão no Nilton Santos no próximo domingo; time paulista não briga por nada

05/12/2024 08h00 Atualizado há uma hora

São Paulo 1 x 2 Juventude | Melhores Momentos | 37ª Rodada | Brasileirão 2024
O técnico Luis Zubeldía avalia poupar o meia Lucas Moura e alguns outros titulares que estejam desgastados no duelo contra o líder Botafogo, domingo, às 16h (de Brasília), no Nilton Santos, na última rodada do Campeonato Brasileiro.  O jogo pode dar ao time carioca o título brasileiro.  O Palmeiras, que recebe o Fluminense, é o único com chance de impedir isso.</p>
<p class='noticia-conteudo'>– Para a partida contra o Botafogo, teremos que ver as situações.  Por exemplo o Lucas, que vem jogando muitas em seguidas, preciso ver se ele estará bem – declarou o treinador. 
Lucas Moura vem numa sequência de 13 partidas como titular.</p>
<p class='noticia-conteudo'>O último jogo que ele ficou fora foi na vitória por 2 a 1 contra o Cruzeiro, no Mineirão, em 15 de setembro. 
Leia também


<div class="div-imagem"><img class="noticia-imagem" src="{% get_media_prefix %}noticias/n_54_0.jpg"></div><p class='foto-descricao'>Lucas em disputa em São Paulo x Juventude — Foto: Marcos Ribolli</p>
Na derrota para o Juventude, Zubeldía não contou com alguns jogadores que estão com problemas físicos, como Calleri (dores na coxa esquerda), Liziero (dores no tornozelo direito), Michel Araújo (edema na panturrilha direita), Ferraresi (dores no joelho direito), Wellington Rato (tendinopatia no joelho direito) e Ferreira (edema na coxa esquerda). 
Eles não devem retornar no domingo.</p>
<p class='noticia-conteudo'>–Se estivéssemos frescos da cabeça para casos importantes (briga por objetivos) e também frescos fisicamente, poderia ser um pouco menos conservador com os jogadores agora no fim da temporada, se não já começam a próxima temporada mal e ai não nos sobrará nada. 
O São Paulo se reapresenta na quinta-feira e inicia a preparação para a partida de domingo.  O Botafogo fica com o título se empatar com o Tricolor.</p>
<p class='noticia-conteudo'>O Palmeiras, para ser campeão, precisa vencer seu jogo e que o Botafogo perca. 



50 vídeos
SÃO PAULO.</p>
{% endblock main_content %}

