<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título da Notícia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="/static/trendfeeds/static/css/modelo.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom d-flex justify-content-between">
            <a class="navbar-brand p-2 nome-site" href="#">site noticias</a>
            <div class="d-flex justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">Início</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Sobre</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Serviços</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contato</a></li>
                </ul>
            </div>
            <div class="d-flex align-items-center">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                    <button class="btn" type="submit"><img src="pngwing.com (3).png" alt="lupa" style="width: 30px; height: 30px;"></button>
                </form>
            </div>
        </nav>
    </header>

    <main class="container mt-4">
      
        <article class="noticia-detalhada">
            <h1 class="noticia-titulo mt-4">CBF planeja começar calendário de 2025 no início de janeiro e parar Brasileiro durante Mundial de Clubes</h1>
            <p class='noticia-conteudo'>CBF planeja começar calendário de 2025 no início de janeiro e parar Brasileiro durante Mundial de Clubes
Mudanças impediriam times de disputar Série A desfalcados por jogadores convocados
Por Martín Fernandez — Rio de Janeiro
07/11/2024 11h07 Atualizado há 7 horas
A CBF prepara mudanças para o calendário de 2025 do futebol brasileiro.  As principais são: a antecipação do início do Campeonato Brasileiro para março e a paralisação durante um mês entre junho e julho, para evitar conflitos com o Mundial de Clubes da Fifa. 
Os campeonatos estaduais também devem ser antecipados, com início na primeira semana de janeiro.</p>
<p class='noticia-conteudo'>Os conceitos da proposta da CBF foram apresentados aos clubes, mas o calendário ainda não foi publicado oficialmente.  As mudanças propostas foram antecipadas pelo portal UOL e confirmadas pelo ge. 
Reproduzir vídeo
Fifa lança clipe para o novo Mundial de Clubes com 32 times


Ao antecipar o início do Campeonato Brasileiro em um mês (de abril para março), a CBF conseguiria paralisar a competição durante a disputa do Mundial, que vai de 15 de junho a 13 de julho e terá quatro clubes brasileiros: Flamengo, Fluminense, Palmeiras e mais o campeão da Libertadores de 2024 – Atlético-MG ou Botafogo.</p>
<p class='noticia-conteudo'>Taça do Campeonato Brasileiro — Foto: Bruno Murito
Durante essa paralisação, os demais clubes poderão fazer inter-temporada, excursões ou mesmo dar férias a seus jogadores.  A CBF entende que isso faria bem para a internacionalização das marcas dos clubes. 
A proposta de calendário, elaborada pela diretoria de competições, tem o apoio do presidente da CBF, Ednaldo Rodrigues.</p>
<p class='noticia-conteudo'>Ao longo desta quinta-feira haverá reuniões com as federações estaduais que teriam seus campeonatos afetados pelas mudanças. 
Se o Campeonato Brasileiro não fosse paralisado durante o Mundial de Clubes, os quatro times que vão disputar o torneio da Fifa nos EUA seriam obrigados a "pagar" os jogos atrasados durante as janelas internacionais (as Datas Fifa) e fatalmente jogariam o Campeonato Brasileiro desfalcados dos jogadores convocados por suas seleções. 
Com isso, os campeonatos estaduais, que normalmente ocupam três meses do ano (do meio de janeiro ao meio de abril), devem começar e terminar mais cedo – antes da Data Fifa de março.</p>
<p class='noticia-conteudo'>O número de datas dos principais estaduais deve ser mantido em 16, mas estes torneios ocuparão menos espaço no ano. 
As mudanças para 2025 contemplam preservar as Datas Fifa sem jogos do Campeonato Brasileiro ou da Copa do Brasil.  A ideia é evitar o que ocorreu em 2024, quando várias rodadas do principal torneio nacional de clubes foram disputadas durante a Copa América disputada nos EUA.</p>
<p class='noticia-conteudo'>Veja também.</p>

        </article>
      
    </main>

    <footer class="text-center mt-5 py-3 bg-light">
        <p class="mb-0">© 2024 site noticias - Todos os direitos reservados.</p>
    </footer>

    <!-- JavaScript do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>