<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título da Notícia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="/static/trendfeeds/static/css/modelo.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom d-flex justify-content-between">
            <a class="navbar-brand p-2 nome-site" href="#">site noticias</a>
            <div class="d-flex justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">Início</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Sobre</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Serviços</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contato</a></li>
                </ul>
            </div>
            <div class="d-flex align-items-center">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                    <button class="btn" type="submit"><img src="pngwing.com (3).png" alt="lupa" style="width: 30px; height: 30px;"></button>
                </form>
            </div>
        </nav>
    </header>

    <main class="container mt-4">
      
        <article class="noticia-detalhada">
            <h1 class="noticia-titulo mt-4">Chelsea aplica maior goleada da história da Liga Conferência e assume liderança geral</h1>
            <p class='noticia-conteudo'>Chelsea aplica maior goleada da história da Liga Conferência e assume liderança geral
Time inglês faz 8 a 0 no Noah, da Armênia, e mantém 100% de aproveitamento na competição após três rodadas
Por Redação do ge — Londres
07/11/2024 19h03 Atualizado há 2 minutos
Reproduzir vídeo
Veja os elencos mais valiosos do mundo em 2024
Com extrema facilidade, o Chelsea aplicou nesta quinta-feira a maior goleada da história da Liga Conferência: 8 a 0 no Noah, da Armênia, no Stamford Bridge, pela terceira rodada da competição, criada na temporada 2021/22. 
Com 100% de aproveitamento, o Chelsea chegou aos nove pontos e assumiu a liderança pelo saldo de gols (13).  Outras cinco equipes também têm nove pontos, com três vitórias em três rodadas: Legia Varsóvia, Jagiellonia, Rapid Viena, Vitória de Guimarães e Heidenheim.</p>
<p class='noticia-conteudo'>Confira a tabela completa da Liga Conferência
João Félix (à direita) marca um dos gols do Chelsea na goleada sobre o Noah — Foto: Reuters/Matthew Childs
O português João Félix foi o destaque da goleada do Chelsea, com dois gols e uma bonita jogada que resultou em um gol de Christopher Nkunku - o francês fez também o oitavo do time inglês.  O volante argentino Enzo Fernández também teve participação importante, com três assistências, para os gols de Adarabioyo, Disasi e o primeiro de João Félix.  Completaram o placar Marc Guiu e Mudryk.</p>
<p class='noticia-conteudo'>Natan marca e deixa o campo em vitória do Betis
Com um gol de cabeça do brasileiro Natan, o Betis conseguiu sua primeira vitória na competição: 2 a 1 no Celje, no Benito Villamarín.  O ex-zagueiro de Flamengo e Bragantino precisou ser substituído logo após abrir o placar, aos 30 minutos do segundo tempo, porque sofreu um corte na cabeça ao se chocar no lance do gol com o zagueiro David Zek, do time esloveno.  Juanjo Nieto chegou a empatar para o Celje, mas Juanmi garantiu a vitória aos 48 minutos.</p>
<p class='noticia-conteudo'>O atacante brasileiro participou dos dez minutos finais da partida. 
Outros dois brasileiros marcaram na rodada.  O meia Luquinhas, ex-Fortaleza, fez dois na goleada de 4 a 0 do Legia Varsóvia sobre o Dinamo Minsk.</p>
<p class='noticia-conteudo'>No Chipre, Anderson Silva, ex-Famalicão, com assistência de Jajá, ex-Cruzeiro e Athletico-PR, garantiu a vitória do Pafos por 1 a 0 sobre o Astana. 
Veja também.</p>

        </article>
      
    </main>

    <footer class="text-center mt-5 py-3 bg-light">
        <p class="mb-0">© 2024 site noticias - Todos os direitos reservados.</p>
    </footer>

    <!-- JavaScript do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>