<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título da Notícia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="/static/trendfeeds/static/css/modelo.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom d-flex justify-content-between">
            <a class="navbar-brand p-2 nome-site" href="#">site noticias</a>
            <div class="d-flex justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">Início</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Sobre</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Serviços</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contato</a></li>
                </ul>
            </div>
            <div class="d-flex align-items-center">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                    <button class="btn" type="submit"><img src="pngwing.com (3).png" alt="lupa" style="width: 30px; height: 30px;"></button>
                </form>
            </div>
        </nav>
    </header>

    <main class="container mt-4">
      
        <article class="noticia-detalhada">
            <h1 class="noticia-titulo mt-4">Endrick completa um mês inteiro sem entrar em campo pelo Real Madrid</h1>
            <p class='noticia-conteudo'>Endrick completa um mês inteiro sem entrar em campo pelo Real Madrid
Atacante brasileiro não saiu do banco de reservas nos últimos cinco compromissos do time espanhol na temporada; ele é o terceiro do elenco com menos minutos em 2024/25
Por Rodrigo Lois — Rio de Janeiro
07/11/2024 13h00 Atualizado há 5 horas
Reproduzir vídeo
Endrick jogou apenas uma vez pelo Real Madrid em outubro; veja ele no treino
Endrick teve pouquíssimo espaço no time do Real Madrid nas últimas semanas.  O atacante não entra em campo pela equipe espanhol há mais de um mês.  Desde a última partida dele, contra o Lille na Champions League, o Real jogou cinco vezes, e o brasileiro não saiu do banco de reservas em nenhuma delas.</p>
<p class='noticia-conteudo'>Endrick não foi utilizado pelo Real Madrid nos últimos jogos da temporada — Foto: Getty Images
✅Siga o novo canal ge Futebol Internacional no WhatsApp
Endrick disputou nove jogos oficiais pelo Real Madrid nesta temporada.  A única vez como titular foi justamente em sua última participação, na derrota por 1 a 0 para o Lille, no dia 2 de outubro.  A sua média de tempo em campo é de apenas 11,8 minutos (107 minutos no total).</p>
<p class='noticia-conteudo'>O máximo que jogou num único dia foram 57 minutos. 
O técnico Carlo Ancelotti usou o brasileiro, por pelo menos um minuto, nos oito jogos anteriores à derrota para o Lille.  O atacante brasileiro também não saiu do banco nos compromissos contra o Mallorca, na rodada de abertura da La Liga, e contra a Atalanta, na decisão da Supercopa da Europa.</p>
<p class='noticia-conteudo'>Endrick marcou dois gols nos nove jogos que disputou pelo Real Madrid em 2024/25. 


Endrick e Arda Güler tiveram pouco espaço no time do Real Madrid em outubro — Foto: GettY Images

Entre os 22 jogadores do elenco do Real Madrid listados no site oficial do clube, Endrick é o terceiro com menos minutos nesta temporada.  Ele só jogou mais do que o defensor Alaba — que ainda não entrou em campo em 2024/25 — e o zagueiro Vallejo (10 minutos no ano).</p>
<p class='noticia-conteudo'>Veja abaixo as substituições promovidas por Ancelotti nas partidas mais recentes, que não envolveram o atacante ex-Palmeiras.  Nesse período, o Real Madrid obteve três vitórias e duas derrotas. 
Real Madrid 2x0 Villarreal (La Liga) - Éder Militão, Rodrygo, Arda Güler e Lucas Vázquez saíram do banco.</p>
<p class='noticia-conteudo'>Celta de Vigo 1x2 Real Madrid (La Liga) - Modric, Rodrygo, Mendy e Ceballos. 
Real Madrid 5x2 Borussia Dortmund (Champions) - Camavinga, Tchouaméni, Ceballos e Arda Güler. 
Real Madrid 0x4 Barcelona (La Liga) - Modric, Brahim Díaz e Fran García.</p>
<p class='noticia-conteudo'>Real Madrid 1x3 Milan (Champions) - Brahim Díaz, Camavinga, Ceballos, Fran García e Rodrygo. 
Real Madrid em crise? Veja análise após derrota para o Milan
Analisando a quantidade de jogos como titular para cada atleta do elenco, dá para dizer que Vallejo, Ceballos, Brahim Díaz, Arda Güler, Camavinga, Lunin, Fran García, Lucas Vázquez (ganhou mais espaço após a lesão de Carvajal) e Modric são mais reservas na temporada, assim como Endrick. 
O atacante brasileiro apresenta minutagem inferior à metade da média (352 minutos).</p>
<p class='noticia-conteudo'>O croata Luka Modric é o mais utilizado: 750 minutos.  Entre os titulares, o zagueiro Rüdiger e o atacante Vinicius Junior lideram nesse quesito: 1357 minutos. 
Utilização dos reservas do Real Madrid
Jogador Posição Jogos Minutagem
Vallejo Zagueiro 1 10
Endrick Atacante 9 107
Ceballos Meio-campista 6 108
Brahim Díaz Atacante 8 184
Arda Güler Meia-atacante 11 292
Camavinga Volante 6 342
Lunin Goleiro 4 360
Fran García Lateral-esquerdo 11 401
Lucas Vázquez Lateral-direito 13 625
Modric Meia 16 750
Fonte: Transfermarkt e ogol

Real Madrid de Endrick enfrenta neste sábado o Osasuna, pelo Campeonato Espanhol — Foto: Getty Images
O técnico da seleção brasileira, Dorival Júnior, usou esse pouco aproveitamento de Endrick no Real Madrid como argumento para não convocá-lo para os próximos jogos do Brasil, contra Venezuela e Uruguai, válidos pelas eliminatórias sul-americanas da Copa de 2026.</p>
<p class='noticia-conteudo'>O novo desafio do Real Madrid será neste sábado, contra o Osasuna, pelo Campeonato Espanhol.  O Real é o vice-líder da competição, com 24 pontos, nove a menos do que o rival Barcelona. 
CHAMPIONS LEAGUE
REAL MADRID
Veja também.</p>

        </article>
      
    </main>

    <footer class="text-center mt-5 py-3 bg-light">
        <p class="mb-0">© 2024 site noticias - Todos os direitos reservados.</p>
    </footer>

    <!-- JavaScript do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>