
            <html>
                <article class="noticia-detalhada">
                    <h1 class="noticia-titulo mt-4">Ex-Flamengo, Sampaoli acerta com Rennes, da França</h1>
                    <p class="noticia-conteudo">Ex-Flamengo, Sampaoli acerta com Rennes, da França
Técnico argentino estava sem clube desde que deixou o time carioca, em setembro de 2023
Por Redação do ge — Rennes, França
08/11/2024 07h00 Atualizado
Reproduzir vídeo
Relembre a passagem de Jorge Sampaoli pelo Flamengo
Jorge Sampaoli tem um novo time. O técnico argentino chegou a um acordo para comandar o Rennes, da França. Ele estava sem clube desde setembro de 2023, quando foi demitido pelo Flamengo. De acordo com o jornal "L'Equipe", o acerto aconteceu na última quinta-feira.
Este será o segundo trabalho de Sampaoli na França. Antes, o técnico argentino comandou o Olympique de Marselha em 2021, levando a tradicional equipe ao vice-campeonato francês. Na ocasião, porém, deixou o clube no início da temporada seguinte, por desavenças com a diretoria.
Veja a tabela do Campeonato Francês
Sampaoli em Goiás x Flamengo — Foto: Isabela Azine/AGIF
No Rennes, o desafio de Sampaoli será diferente. O time está em 13º lugar no Campeonato Francês, com 11 pontos em 10 jogos. O argentino será o primeiro técnico estrangeiro do clube desde 2006.
Sampaoli estava livre no mercado desde que deixou o Flamengo, em setembro de 2023. Neste período, ele continuou morando no Brasil. O argentino também trabalhou em clubes como Santos e Atlético-MG durante seu período no país.
Veja também</p>
                </article>
            </html>
            