<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título da Notícia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="/static/trendfeeds/static/css/modelo.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom d-flex justify-content-between">
            <a class="navbar-brand p-2 nome-site" href="#">site noticias</a>
            <div class="d-flex justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">Início</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Sobre</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Serviços</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contato</a></li>
                </ul>
            </div>
            <div class="d-flex align-items-center">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                    <button class="btn" type="submit"><img src="pngwing.com (3).png" alt="lupa" style="width: 30px; height: 30px;"></button>
                </form>
            </div>
        </nav>
    </header>

    <main class="container mt-4">
      
        <article class="noticia-detalhada">
            <h1 class="noticia-titulo mt-4">Filhos de Alex e Fernandinho se enfrentam em Athletiba pela categoria de base; veja fotos</h1>
            <p class='noticia-conteudo'>Filhos de Alex e Fernandinho se enfrentam em Athletiba pela categoria de base; veja fotos
Felipe e Davi Roza seguem os passos dos pais pelo sub-14 de Coritiba e Athletico, respectivamente
Por Redação do ge — Curitiba
07/11/2024 18h59 Atualizado há 15 minutos
Um clássico entre Coritiba e Athletico, pelo sub-14, nesta quinta-feira, marcou o encontro de filhos de dois craques que estão marcados na história dos dois clubes.  Pelo lado do Coxa estava Felipe, filho do craque Alex (ex-Coritiba, Palmeiras e Cruzeiro), enquanto o Furacão teve Davi Roza, filho do volante Fernandinho, que defende atualmente o próprio Athletico. 
Davi Roza e Felipe, filhos de Fernandinho e Alex, em Athletiba do sub-14 — Foto: Matheus Meneses
O Athletiba terminou em 4 a 0 para o Coritiba, em jogo único semifinal do Sul-Brasileiro BG Prime sub-14 - gols de Pedrinho (duas vezes), Ryan e Luca Casagrande.</p>
<p class='noticia-conteudo'>Felipe e Davi Roza começaram no banco e entraram no segundo tempo.  O Coxa se classificou e pega Internacional ou Azuriz na final. 
Felipe joga futsal desde os 5 anos e começou no futebol através das categorias de base do Coritiba.</p>
<p class='noticia-conteudo'>É o mesmo caminho percorrido pelo pai, em 1989.  Alex foi formado pelo Coritiba e, depois de surgir no profissional em 1995, foi vendido ao Palmeiras por R$ 3,8 milhões.  Ele passou por vários times, mas voltou em 2012 recepcionado por mais de 10 mil torcedores, para se aposentar em 2014.</p>
<p class='noticia-conteudo'>Davi Roza e Felipe, filhos de Fernandinho e Alex, em Athletiba do sub-14 — Foto: Matheus Meneses
Assim como Alex, Fernandinho também é paranaense e também decidiu voltar ao clube em que foi revelado.  Após 17 anos na Europa, entre o Shakhtar e Manchester City, ele acertou com o Athletico em 2022 e ainda não está pensando em aposentadoria.  O filho, Davi Roza, tem jogado como volante, inspirado justamente pela posição exercida pelo pai em campo.</p>
<p class='noticia-conteudo'>Felipe e Davi Roza já tinham se enfrentado no ano passado, pela final do Campeonato Paranaense de Futsal sub-13.  Na ocasião, Fernandinho e Alex postaram fotos do encontro dos filhos na partida. 
Davi Roza e Felipe, filhos de Fernandinho e Alex, em Athletiba do sub-14 — Foto: Matheus Meneses
Davi Roza e Felipe, filhos de Fernandinho e Alex, em Athletiba do sub-14 — Foto: Matheus Meneses
Mais notícias do esporte paranaense no ge.</p>
<p class='noticia-conteudo'>globo/pr
ATHLETICO-PR
CORITIBA
Veja também.</p>

        </article>
      
    </main>

    <footer class="text-center mt-5 py-3 bg-light">
        <p class="mb-0">© 2024 site noticias - Todos os direitos reservados.</p>
    </footer>

    <!-- JavaScript do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>