<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título da Notícia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="/static/trendfeeds/static/css/modelo.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom d-flex justify-content-between">
            <a class="navbar-brand p-2 nome-site" href="#">site noticias</a>
            <div class="d-flex justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">Início</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Sobre</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Serviços</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contato</a></li>
                </ul>
            </div>
            <div class="d-flex align-items-center">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                    <button class="btn" type="submit"><img src="pngwing.com (3).png" alt="lupa" style="width: 30px; height: 30px;"></button>
                </form>
            </div>
        </nav>
    </header>

    <main class="container mt-4">
      
        <article class="noticia-detalhada">
            <h1 class="noticia-titulo mt-4">Justiça reconhece demissão de Hélio dos Anjos por justa causa no Náutico</h1>
            <p class='noticia-conteudo'>Justiça reconhece demissão de Hélio dos Anjos por justa causa no Náutico
Defesa cita "mensagem desrespeitosa" de técnico que teria sido enviada ao presidente do clube por whatsapp; valor da indenização deverá ser reduzido substancialmente
Por Alexandre Barbosa — Recife
07/11/2024 13h18 Atualizado há 48 minutos
Reproduzir vídeo
Relembre como foi a demissão de Hélio dos Anjos, em 2022
Em decisão oficializada nesta quinta-feira, o Tribunal Regional do Trabalho da 6ª Região aceitou o recurso do Náutico e reformou a decisão de 1ª instância, reconhecendo a demissão por justa causa do treinador Hélio dos Anjos. 


Técnico Hélio dos Anjos durante treino do Náutico, em 2022, quando dirigia o clube — Foto: Tiago Caldas/Náutico
A rescisão, ocorrida em abril de 2022, havia sido inicialmente contestada pelo técnico, que entrou com uma reclamação trabalhista contra o clube.  No entanto, com a decisão de 2ª instância, o valor a ser pago pelo Náutico (que giraria em torno de R$ 800 mil) foi significativamente reduzido.</p>
<p class='noticia-conteudo'>Os valores exatos serão publicados em breve pela Justiça. 
Entre os principais argumentos da defesa do Náutico estão uma mensagem em que Hélio teria sido desrespeitoso com o então presidente do clube, Diógenes Braga. 
Segundo o advogado do Náutico no caso, Edmilson Boaviagem, essa atitude teria violado a hierarquia estabelecida no clube.</p>
<p class='noticia-conteudo'>“A jurisprudência aplicada neste caso reflete o entendimento de que treinadores de futebol precisam submeter-se às decisões de seus superiores", afirma o advogado. 
Logo após sua saída, Globo Esporte entrevistou Hélio dos Anjos
Edmilson Boaviagem mencionou que, embora ainda não tenha sido divulgada a fundamentação completa do julgamento, o tribunal considerou, com base nas provas, que o comportamento de Hélio dos Anjos, ao enviar mensagem desrespeitosa ao presidente do clube, configurou desrespeito à hierarquia e comprometeu a relação de trabalho.  O acórdão completo deverá ser publicado nesta sexta-feira.</p>
<p class='noticia-conteudo'>- Hélio dos Anjos, após a rescisão no ano passado, entrou com uma reclamação trabalhista, enquanto o Náutico apresentou uma consignação em pagamento.  A justa causa aplicada pelo clube não foi inicialmente reconhecida na primeira instância.  No entanto, o recurso foi provido por maioria, com a decisão de aceitar a justa causa, retirando, ainda, a justiça gratuita - explicou Boaviagem.</p>
<p class='noticia-conteudo'>Diógenes Braga, presidente do Náutico na época em que Hélio dos Anjos dirigiu o time, em 2022 — Foto: Tiago Caldas/Náutico
Boaviagem destacou também que, embora Hélio dos Anjos tenha a possibilidade de recorrer ao Tribunal Superior do Trabalho (TST), ele considera improvável que a decisão seja revertida. 
- Particularmente, não acredito que ele consiga reverter, pois o chamado recurso de revista só é aceito em casos de violação à lei ou divergência jurisprudencial, e não permite reexame de fatos e provas, o que seria necessário para esse caso - avaliou o advogado. 
Última passagem de Hélio dos Anjos como treinador do Náutico foi em 2022 — Foto: Marlon Costa/Pernambuco Press
O caminho possível para a assessoria de Hélio dos Anjos agora é entrar com um recurso de revista no TST, em Brasília.</p>
<p class='noticia-conteudo'>A reportagem do ge procurou a defesa do treinador, que informou que só vai se pronunciar quando tiver acesso à publicação da decisão. 
No início da noite desta quinta-feira, em rápido contato com o ge, Hélio dos Anjos confirmou que irá recorrer da decisão no Tribunal Superior do Trabalho, em Brasília. 
Errata: a matéria, inicialmente, dizia que um "áudio" teria sido enviado por Hélio dos Anjos e utilizado pela defesa do Náutico no processo.</p>
<p class='noticia-conteudo'>Após novo contato da reportagem com o advogado do clube no caso, a informação foi corrigida para "mensagem de whatsapp" , às 15h41. 
🎙️ Ouça o podcast Embolada 🎧
Assista: tudo sobre o Náutico no ge, na Globo e no sportv
50 vídeos
Veja também.</p>

        </article>
      
    </main>

    <footer class="text-center mt-5 py-3 bg-light">
        <p class="mb-0">© 2024 site noticias - Todos os direitos reservados.</p>
    </footer>

    <!-- JavaScript do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>