<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título da Notícia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="/static/trendfeeds/static/css/modelo.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom d-flex justify-content-between">
            <a class="navbar-brand p-2 nome-site" href="#">site noticias</a>
            <div class="d-flex justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">Início</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Sobre</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Serviços</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contato</a></li>
                </ul>
            </div>
            <div class="d-flex align-items-center">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                    <button class="btn" type="submit"><img src="pngwing.com (3).png" alt="lupa" style="width: 30px; height: 30px;"></button>
                </form>
            </div>
        </nav>
    </header>

    <main class="container mt-4">
      
        <article class="noticia-detalhada">
            <h1 class="noticia-titulo mt-4">Presta Atenção no Cartola Dandan escalou o time inteiro do Botafogo para a rodada #33 Confira!</h1>
            <p class='noticia-conteudo'>Presta Atenção no Cartola: Dandan escalou o time inteiro do Botafogo para a rodada #33? Confira!
Rodada #33 terá sete jogos válidos, todos no sábado.  Mercado fecha às 16h29 do dia 9/11
Por Cartola — Rio de Janeiro
07/11/2024 18h24 Atualizado há uma hora
Reproduzir vídeo
Cartola | Dandan escalou o TIME INTEIRO do Botafogo para a rodada #33? Confira!

Dandan está na área com o Presta Atenção no Cartola! Nosso apresentador, como sempre, repassou os principais acontecimentos da rodada que passou, mas já aproveitou para escalar seu time para a rodada 33, que tem fechamento de mercado previsto já para o próximo sábado (09), às 16h29. 
A rodada 33, aliás, terá apenas sete jogos válidos, todos eles no sábado, e tem o Botafogo, líder do Brasileirão, como o grande favorito dos cartoleiros, já que encara o Cuiabá, que já está rebaixado, em casa.</p>
<p class='noticia-conteudo'>Será que nosso apresentador foi ousado a ponto de escalar o time inteiro do alvinegro? Confira!
Inscreva-se no canal do Cartola no Youtube e ative o sininho das notificações para acompanhar toda a nossa programação semanal
Sugerida para você
Últimos dias de inscrição para a Meia Maratona SC21K em Florianópolis
Ver comentários
Veja também.</p>

        </article>
      
    </main>

    <footer class="text-center mt-5 py-3 bg-light">
        <p class="mb-0">© 2024 site noticias - Todos os direitos reservados.</p>
    </footer>

    <!-- JavaScript do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>