<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título da Notícia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="/static/trendfeeds/static/css/modelo.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom d-flex justify-content-between">
            <a class="navbar-brand p-2 nome-site" href="#">site noticias</a>
            <div class="d-flex justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">Início</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Sobre</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Serviços</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contato</a></li>
                </ul>
            </div>
            <div class="d-flex align-items-center">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                    <button class="btn" type="submit"><img src="pngwing.com (3).png" alt="lupa" style="width: 30px; height: 30px;"></button>
                </form>
            </div>
        </nav>
    </header>

    <main class="container mt-4">
      
        <article class="noticia-detalhada">
            <h1 class="noticia-titulo mt-4">Walter revela namoro antigo com o Flamengo e brinca sobre auge Craque do Brasileiro com 111 kg</h1>
            <p class='noticia-conteudo'>Walter revela namoro antigo com o Flamengo e brinca sobre auge: "Craque do Brasileiro com 111 kg"
Em entrevista exclusiva ao ge, atacante repassa carreira, não descarta retorno em 2025 e alerta jovens no futebol: "Fui roubado para caramba"
Por Heitor Machado — Curitiba
07/11/2024 15h30 Atualizado há 2 horas
Reproduzir vídeo
Walter revela namoro antigo com o Flamengo
O flerte quase virou namoro.  Desejo do técnico Vanderlei Luxemburgo no Flamengo, em 2015, o atacante Walter, por pouco, não vestiu rubro-negro.  Em entrevista exclusiva ao ge, o atacante relembrou a negociação com o time carioca e repassou a carreira, do ápice no Brasil com mais de 100 quilos aos percalços enfrentados.</p>
<p class='noticia-conteudo'>O interesse do Fla surgiu no primeiro semestre de 2015.  O atacante deixou o Fluminense por problemas pessoais e entrou na mira de Luxemburgo, à época técnico do Rubro-Negro.  Um desacerto com o Porto, porém, detentor dos direitos do jogador, impediu o acerto – Walter acabou acertando na sequência com o Athletico.</p>
<p class='noticia-conteudo'>— Um cara que eu gostaria de ter trabalhado era o Vanderlei, o "pofexô".  A gente ia se dar muito bem.  Por pouco ele não me levou para o Flamengo, em 2015, quando saí do Fluminense, mas o Porto queria vender e o Flamengo queria empréstimo.</p>
<p class='noticia-conteudo'>Depois conversei com o Rodrigo Caetano, e ele me confirmou, disse que o Vanderlei pediu minha contratação, depois o professor confirmou também.  Foi por pouco (risos) — contou o atacante. 

Walter aconselha jovens no futebol: "Fui roubado pra caramba"
🗞️ Mais notícias do Athletico
✅ Clique aqui e siga o canal ge Athletico no WhatsApp
Dois anos antes, no Goiás, Walter foi um dos destaques do Campeonato Brasileiro.</p>
<p class='noticia-conteudo'>O atacante ajudou o Esmeraldino na campanha do acesso, em 2012, e foi o protagonista do time que fechou a Série A na sexta posição de 2013 – Walter disputou 54 jogos e marcou 29 gols naquele ano. 
Para além do rendimento em campo, a forma física do atacante, claro, também repercutia. 
— Alguns comentários de imprensa, questionando o meu peso, me incomodavam.</p>
<p class='noticia-conteudo'>Cobra o meu desempenho! Sempre vinham na questão do peso.  O Ronaldo falava: "Cada gol que a gente faz, são cinco quilos a menos.  Quando jogava mal, eram 10 a mais".</p>
<p class='noticia-conteudo'>Essas coisas me incomodavam muito, mas eu procurava não ouvir. 
—Fui craque do Brasileiro, Bola de Prata, jogando com 111 quilos no Goiás.  Absurdo.</p>
<p class='noticia-conteudo'>29 gols no ano, artilheiro do time em todas as competições.  E ainda colocamos o Goiás na semifinal (da Copa do Brasil) contra o Flamengo — relembra. 
Walter revela namoro antigo com o Flamengo e brinca sobre auge: "Craque do Brasileiro com 111 kg" — Foto: Rosiron Rodrigues/Goiás E.</p>
<p class='noticia-conteudo'>C. 

Walter brinca que foi mais difícil ainda manter o peso no Furacão por causa de um detalhe: o clima. 
Em Curitiba, é mais difícil manter o peso por causa do frio.</p>
<p class='noticia-conteudo'>Imagina acordar às sete da manhã.  Não vai, meu irmão… (risos).  Sem cobrança, não vai.</p>
<p class='noticia-conteudo'>Nos clubes, até vai.  Mas por conta? Não vai.  Goiânia, naquele calor, é bem mais fácil"
— Walter

Negociado pelo Inter com o Porto, em 2010, Walter atuou por apenas uma temporada na Europa antes de retornar ao futebol brasileiro, em 2011, para defender o Cruzeiro.</p>
<p class='noticia-conteudo'>Ao todo, foram nove anos de contrato com a equipe de Portugal.  Na avaliação do atacante, o retorno precoce ao Brasil inviabilizou uma segunda chance na cidade do Porto. 
— Meu maior arrependimento da carreira foi ter pedido para sair do Porto.</p>
<p class='noticia-conteudo'>Os portugues são vingativos.  Eles me queriam lá, e eu pedi para sair.  E eles falaram.</p>
<p class='noticia-conteudo'>“Se sair, não volta”. 
— Não à toa fiquei com nove anos de contrato no Porto.  Meu contrato acabou em 2019, assinei em 2010.</p>
<p class='noticia-conteudo'>E não voltei, mesmo arrebentando aqui no Brasil.  Eles não quiseram — contou. 
Walter em ação no treino do Fluminense — Foto: NELSON PEREZ/FLUMINENSE F.</p>
<p class='noticia-conteudo'>C. 
Com passagens por mais de 15 clubes na carreira, o atacante tira lições da própria trajetória para aconselhar jovens que sonham seguir carreira profissional no futebol. 
— Primeiro de tudo, estudar.</p>
<p class='noticia-conteudo'>Estudar para não ser roubado.  Eu fui roubado para caramba — desabafa o atacante. 
— Todo mundo quer ser jogador, mas não é fácil.</p>
<p class='noticia-conteudo'>Sai de casa cedo, deixa a família.  Tem pressão, cobrança, saudade.  Então eu falo para os meninos: estude para você não ser passado para trás.</p>
<p class='noticia-conteudo'>Eu fui para Portugal e não sabia nem o que era a moeda, o Euro.  Perdi muito dinheiro com "rolo" de empresário.  Venda para lá, para cá.</p>
<p class='noticia-conteudo'>O dinheiro vivia na empresa dele.  Depois que a gente foi abrir os olhos, aí já era tarde.  Diz que a venda foi um valor, depois vai ver, é outro.</p>
<p class='noticia-conteudo'>Você precisa ter gente boa e de confiança ao seu lado - alertou. 
Eu cresci na favela, mas sempre quis jogar futebol.  Vendi picolé, pedi dinheiro no sinal, puxei carroça.</p>
<p class='noticia-conteudo'>Não tenho estudo, foquei 100% no futebol.  Eu era apaixonado pela bola.  Foi o dom que Deus me deu"
— Walter
Aos 35 anos, Walter voltou a atuar profissionalmente neste ano pelo Rolim de Moura, clube da segunda divisão de Rondônia.</p>
<p class='noticia-conteudo'>Para 2025, o atacante não descarta retornar ao primeiro nível do futebol brasileiro.  E mira alto. 
— Para o ano que vem quero voltar 100%.</p>
<p class='noticia-conteudo'>Pegar uma Série B, quem sabe uma Série A, porque eu sei que tenho condições. 
— Mas se eu ver que não tenho condições, eu sigo outro rumo, mas sei que posso emagrecer.  Essa briga com a balança é a briga da minha vida.</p>
<p class='noticia-conteudo'>Com ajuda das pessoas que estão comigo e Deus, posso buscar — projetou. 
50 vídeos
Mais notícias do esporte paranaense em ge. globo/pr
ATHLETICO-PR
GOIÁS
Veja também.</p>

        </article>
      
    </main>

    <footer class="text-center mt-5 py-3 bg-light">
        <p class="mb-0">© 2024 site noticias - Todos os direitos reservados.</p>
    </footer>

    <!-- JavaScript do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>