body {
  display: flex;
  background-color: black !important;
  justify-content: center;
  align-items: center;
}

label {
  display: inline-block;
  margin-bottom: 0px !important;
}

#escolha_seu_time {
  position: absolute;
  top: 18%;
  text-transform: uppercase;
  text-shadow: 2px 2px 3px black;
}

#submit {
  position: absolute;
  top: 86%;
  left: 46%;
  box-shadow: 0px 0px 1px 0px white;
  border-radius: 7px;
  cursor: pointer;
  z-index: 10;
}

.spinner-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(201, 201, 201, 0.486);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.carousel-wrap {
  margin: 22px auto auto 32px;
  position: relative;
  width: calc(100% - 50px);
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.nome_time {
  display: none;
}
.descricao_time {
  display: none;
}
.nome_time.active {
  display: block;
  position: relative;
  top: 95px;
  width: 1000px;
  text-align: center;
  font-size: 60px;
  font-family: emoji;
  text-transform: uppercase;
  color: white;
}
.descricao_time.active {
  display: block;
  position: relative;
  top: 115px;
  text-align: center;
  width: 1000px;
  font-size: 20px;
  color: white;
}
.owl-carousel .item {
  margin: 0 15px;
  height: 930px;
  display: flex;
  justify-content: center;
  opacity: 1;
  flex-direction: column;
  align-items: center;
}

.owl-carousel .item img {
  max-width: 150px;
  filter: brightness(0.4);
  width: 50% !important;
  height: auto;
  margin: 40px auto;
  display: block;
}

.owl-carousel .center-active img {
  transform: scale(1.9); /* Amplia a imagem do item ativo */
  transition: transform 0.5s ease;
  filter: brightness(1) !important;
  width: 100% !important;
}

.owl-carousel .item input {
  display: none;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 49%;
  transform: translateY(-50%);
  padding-left: 5px;
  width: 99.5%;
  display: flex;
  justify-content: space-between;
}

.owl-carousel .owl-nav i {
  font-size: 30px;
  cursor: pointer;
  color: #333;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  font-size: 40px;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  margin-top: 20px;
  outline: none !important;
  border: none !important;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.owl-carousel .owl-nav button.owl-next span {
  position: relative;
  top: -8px;
  left: 2px;
  font-size: 4rem;
}

.owl-carousel .owl-nav button.owl-prev span {
  position: relative;
  top: -8px;
  left: -2px;
  font-size: 4rem;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  background-color: #333;
  transform: scale(1.1);
}

.series_bar input[type="radio"] {
  display: none;
}

.series_bar {
  position: absolute;
  z-index: 10;
  top: 6%;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding-left: 10px;
  border-radius: 5px;
  padding: 2px 0px;
  width: calc(3 * 33.3333%);
  max-width: 400px;
  margin: 0px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: row;
}

#serieA {
  flex: 0.33;
  text-align: center;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
  border-right: 1px solid #ccc;
}
#serieB {
  flex: 0.33;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
  border-right: 1px solid #ccc;
}
#selecao {
  flex: 0.33;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
  border-right: 1px solid #ccc;
}

#serieB a {
  text-decoration: none;
  color: #000;
  padding: 15px 15px;
}
#selecao a {
  text-decoration: none;
  color: #000;
  padding: 15px 15px;
}

#serieA:last-child {
  border-right: none;
  margin-right: 0;
}
#serieB:last-child {
  border-right: none;
  margin-right: 0;
}
#selecao:last-child {
  border-right: none;
  margin-right: 0;
}

#serieA:hover {
  background-color: #e0e0e0;
  color: #000;
}
#serieB:hover {
  background-color: #e0e0e0;
  color: #000;
}
#selecao:hover {
  background-color: #e0e0e0;
  color: #000;
}

body .series_bar input:checked + #serieA {
  background-color: #cfcfcf;
}

/* ATLÉTICO MG */
.atlético-mg {
  position: relative;
  color: white;
  overflow: hidden;
}

.atlético-mg::before {
  content: "";
  position: absolute;
  height: 130%;
  width: 107%;
  top: -30px;
  left: -3px;
  z-index: -1;
  filter: blur(1px);
}

/* ATHLÉTICO PR */
.athletico-pr {
  position: relative;
  color: white;
  overflow: hidden;
}

.athletico-pr::before {
  content: "";
  position: absolute;
  height: 130%;
  width: 107%;
  top: -30px;
  left: -3px;
  z-index: -1;
  filter: blur(1px);
}

/* BAHIA */
.bahia {
  position: relative;
  color: white;
  overflow: hidden;
}

.bahia::before {
  content: "";
  position: absolute;
  height: 130%;
  width: 107%;
  top: -30px;
  left: -3px;
  z-index: -1;
  filter: blur(1px);
}

/* BOTAFOGO */
.botafogo {
  position: relative;
  color: white;
  overflow: hidden;
}
.botafogo::before {
  content: "";
  position: absolute;
  height: 130%;
  width: 107%;
  top: -30px;
  left: -3px;
  z-index: -1;
  filter: blur(1px);
}

/* BRAGANTINO */
.red-bull-bragantino {
  position: relative;
  color: white;
  overflow: hidden;
}
.red-bull-bragantino::before {
  content: "";
  position: absolute;
  height: 130%;
  width: 107%;
  top: -30px;
  left: -3px;
  z-index: -1;
  filter: blur(1px);
}

/* CORTINHIANS */
.corinthians {
  position: relative;
  color: white;
  overflow: hidden;
}
.corinthians::before {
  content: "";
  position: absolute;
  height: 130%;
  width: 107%;
  top: -30px;
  left: -3px;
  z-index: -1;
  filter: blur(1px);
}

/* CRUZEIRO */
.cruzeiro {
  position: relative;
  color: white;
  overflow: hidden;
}
.cruzeiro::before {
  content: "";
  position: absolute;
  height: 130%;
  width: 107%;
  top: -30px;
  left: -3px;
  z-index: -1;
  filter: blur(1px);
}

/* CUIABÁ */
.cuiabá {
  position: relative;
  color: white;
  overflow: hidden;
}
.cuiabá::before {
  content: "";
  position: absolute;
  height: 130%;
  width: 107%;
  top: -30px;
  left: -3px;
  z-index: -1;
  filter: blur(1px);
}

/* FLAMENGO */
.flamengo {
  position: relative;
  color: white;
  overflow: hidden;
}
.flamengo::before {
  content: "";
  position: absolute;
  height: 130%;
  width: 107%;
  top: -30px;
  left: -3px;
  z-index: -1;
  filter: blur(1px);
}

/* FLUMINENSE */
.fluminense {
  position: relative;
  color: white;
  overflow: hidden;
}
.fluminense::before {
  content: "";
  position: absolute;
  height: 130%;
  width: 107%;
  top: -30px;
  left: -3px;
  z-index: -1;
  filter: blur(1px);
}

/* FORTALEZA */
.fortaleza {
  position: relative;
  color: white;
  overflow: hidden;
}
.fortaleza::before {
  content: "";
  position: absolute;
  height: 130%;
  width: 107%;
  top: -30px;
  left: -3px;
  z-index: -1;
  filter: blur(1px);
}

/* GRÊMIO */
.grêmio {
  position: relative;
  color: white;
  overflow: hidden;
}
.grêmio::before {
  content: "";
  position: absolute;
  height: 130%;
  width: 107%;
  top: -30px;
  left: -3px;
  z-index: -1;
  filter: blur(1px);
}

/* INTERNACIONAL */
.internacional {
  position: relative;
  color: white;
  overflow: hidden;
}
.internacional::before {
  content: "";
  position: absolute;
  height: 130%;
  width: 107%;
  top: -30px;
  left: -3px;
  z-index: -1;
  filter: blur(1px);
}

/* PALMEIRAS */
.palmeiras {
  position: relative;
  color: white;
  overflow: hidden;
}
.palmeiras::before {
  content: "";
  position: absolute;
  height: 130%;
  width: 107%;
  top: -30px;
  left: -3px;
  z-index: -1;
  filter: blur(1px);
}

/* SÃO PAULO */
.são-paulo {
  position: relative;
  color: white;
  overflow: hidden;
}
.são-paulo::before {
  content: "";
  position: absolute;
  height: 130%;
  width: 107%;
  top: -30px;
  left: -3px;
  z-index: -1;
  filter: blur(1px);
}

/* VASCO */
.vasco {
  position: relative;
  color: white;
  overflow: hidden;
}
.vasco::before {
  content: "";
  position: absolute;
  height: 130%;
  width: 107%;
  top: -30px;
  left: -3px;
  z-index: -1;
  filter: blur(1px);
}

/* JUVENTUDE */
.juventude {
  position: relative;
  color: white;
  overflow: hidden;
}
.juventude::before {
  content: "";
  position: absolute;
  height: 130%;
  width: 107%;
  top: -30px;
  left: -3px;
  z-index: -1;
  filter: blur(1px);
}

/* CRICIÚMA */
.criciúma {
  position: relative;
  color: white;
  overflow: hidden;
}
.criciúma::before {
  content: "";
  position: absolute;
  height: 130%;
  width: 107%;
  top: -30px;
  left: -3px;
  z-index: -1;
  filter: blur(1px);
}

/* VITÓRIA */
.vitória {
  position: relative;
  color: white;
  overflow: hidden;
}
.vitória::before {
  content: "";
  position: absolute;
  height: 130%;
  width: 107%;
  top: -30px;
  left: -3px;
  z-index: -1;
  filter: blur(1px);
}

/* ATLÉTICO-GO */
.atlético-go {
  position: relative;
  color: white;
  overflow: hidden;
}
.atlético-go::before {
  content: "";
  position: absolute;
  height: 130%;
  width: 107%;
  top: -30px;
  left: -3px;
  z-index: -1;
  filter: blur(1px);
}
