
            {% extends "html/modelo.html" %}
            {% load static %}

            {% block title %}gremio{% endblock title %}
            {% block main_title %}gremio{% endblock main_title %}
            {% block second_title %}Gabriel deixa Restinga Velha e agita a comunidade local{% endblock second_title %}
            {% block main_content %}
            <p class='noticia-conteudo'>Na manhã deste sábado (25), Gabriel, conhecido carinhosamente como "Gab", anunciou sua saída da comunidade de Restinga Velha. A decisão pegou muitos de surpresa, já que ele era uma figura querida e ativa na região.

"Foi uma escolha difícil, mas sinto que preciso buscar novos caminhos e crescer em outros lugares", declarou Gab em uma breve entrevista. Amigos e vizinhos destacaram o impacto positivo que ele teve na comunidade, seja com sua simpatia, amizade ou participação em eventos locais.

Ainda não se sabe ao certo qual será o próximo destino de Gabriel, mas os moradores de Restinga Velha já expressaram seu carinho e desejaram sucesso em sua nova jornada.

"Sentiremos falta do Gab, mas estamos torcendo por ele. Ele sempre terá um lugar especial aqui", comentou Dona Maria, uma das moradoras mais antigas da localidade.

A saída de Gabriel marca o fim de um capítulo importante para a comunidade, mas também abre espaço para novas oportunidades e encontros futuros</p>
            {% endblock main_content %}
            