{% load custom_filters_users %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações da Conta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}"/>
</head>
<body>
    <div class="form-container">

        <a href="{% url 'home' %}">
            <img src="{% static "imagens/seta-esquerda.png" %}" alt="seta_voltar">
        </a>

        <h2>Informações da Conta</h2>
        
        <form method="POST" action="{% url 'info_perfil' perfil_id=user.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="first_name">Primeiro Nome</label>
                <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}" required>
                {% for error in form.first_name.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="last_name">Sobrenome</label>
                <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}" required>
                {% for error in form.last_name.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="username">Nome de Usuário</label>
                <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" required>
                {% for error in form.username.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" required>
                {% for error in form.email.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>
            <div class="form-group">
                <label>Senha</label>
                <input type="password" class="form-control" value="••••••" disabled>
            </div>

            <button type="button" id="alterarSenhaBtn" class="btn-link">Alterar Senha</button>

            <div class="form-group mt-3">
                <label for="foto">Imagem de Perfil:</label>
                {% if user.foto %}
                    <div class="text-center">
                        <img src="{{ user.foto.url }}" alt="Foto de {{ user.username }}" class="img-thumbnail">
                    </div>
                {% else %}
                    <img src="{% static "imagens/SemUsuario.jpg" %}" alt="Foto de {{ user.username }}">
                {% endif %}
                <input type="file" class="form-control mt-2" id="foto" name="foto">
            </div>
            <button type="submit" class="btn btn-primary mt-4">Atualizar Informações</button>
        </form>
    </div>

    <!-- Modal de alteração de senha -->
    <div id="senhaModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="senhaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #9b9b9b; color: white;">
                    <h5 class="modal-title" id="senhaModalLabel">Alterar Senha</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="alterarSenhaForm" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="senha_atual">Senha Atual</label>
                            <input type="password" class="form-control" id="senha_atual" name="senha_atual" required>
                        </div>
                        <div class="form-group">
                            <label for="senha_nova">Nova Senha</label>
                            <input type="password" class="form-control" id="senha_nova" name="senha_nova" required>
                            <small class="text-danger">* A senha deve possuir mais de 7 caracteres. *</small>
                        </div>
                        <div class="form-group">
                            <label for="confirmar_senha_nova">Confirmar Nova Senha</label>
                            <input type="password" class="form-control" id="confirmar_senha_nova" name="confirmar_senha_nova" required>
                        </div>
                        <button type="submit" class="btn btn-custom2 btn-block">Salvar Alterações</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="successModal-custom" class="modal-custom" style="display:none;">
        <div class="modal-content-custom">
            <span class="close-custom" onclick="closeModal()">&times;</span>
            <h2 id="h2-custom">Senha Alterada com Sucesso</h2>
            <p id="p-custom">Você será redirecionado para a página de login.</p>
            <button id="redirectButton-custom" onclick="redirectToLogin()">OK</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        // Função para atualizar a imagem de perfil assim que o usuário selecionar uma nova foto
        document.getElementById('foto').addEventListener('change', function(event) {
            var reader = new FileReader();
            
            // Quando a leitura do arquivo estiver completa, atualizar a imagem no campo
            reader.onload = function(e) {
                var imgElement = document.querySelector("img"); // Seleciona a tag <img> existente
                imgElement.src = e.target.result; // Atualiza a imagem com o novo arquivo
            };
            
            // Lê o arquivo selecionado como uma URL de dados
            reader.readAsDataURL(event.target.files[0]);
        });
        
        document.getElementById('foto').addEventListener('change', function(event) {
            var reader = new FileReader();
            
            // Quando a leitura do arquivo estiver completa, atualizar o conteúdo do <p>
                reader.onload = function(e) {
                var pElement = document.querySelector("p"); // Seleciona a tag <p> existente
                pElement.innerHTML = ''; // Limpa o conteúdo do <p> para substituir pela imagem

                // Cria um novo elemento <img> e define o src como a imagem carregada
                var img = document.createElement('img');
                img.src = e.target.result; // Define a imagem com o novo arquivo
                img.style.width = '100%'; // Ajuste de tamanho
                pElement.appendChild(img); // Adiciona a imagem no <p>
            };
            
            // Lê o arquivo selecionado como uma URL de dados
            reader.readAsDataURL(event.target.files[0]);
        });


        // Função para exibir o modal de alteração de senha
        document.getElementById('alterarSenhaBtn').addEventListener('click', function(event) {
            event.preventDefault();
            var modalContent = document.querySelector('#senhaModal .modal-content');
            
            // Adiciona a classe de animação
            modalContent.classList.add('slide-down');
            
            // Mostra o modal
            $('#senhaModal').modal('show');
        });
        
        // Remove a classe de animação quando o modal é fechado
        $('#senhaModal').on('hidden.bs.modal', function () {
            var modalContent = document.querySelector('#senhaModal .modal-content');
            modalContent.classList.remove('slide-down');
        });
    
        // Enviar formulário de alteração de senha via AJAX
        document.getElementById('alterarSenhaForm').addEventListener('submit', function(event) {
            event.preventDefault();
            
            $.ajax({
                url: "{% url 'alterar_senha' %}",  // Substitua pela URL correta
                type: "POST",
                data: $(this).serialize(),
                success: function(response) {
                    if (response.success) {
                        $('#senhaModal').modal('hide');
                        showModal();  // Mostra o modal de sucesso
                    } else {
                        if (response.error) {
                            alert(response.error);  // Exibe mensagem de erro da senha atual incorreta
                        } else {
                            alert("Erro ao alterar a senha. Verifique os campos e tente novamente.");
                        }
                    }
                },
                error: function() {
                    alert("Ocorreu um erro ao tentar alterar a senha.");
                }
            });
        });
    
        // Função para exibir o modal de sucesso
        function showModal() {
            document.getElementById('successModal-custom').style.display = 'block'; 
        }
    
        // Função para fechar o modal de sucesso
        function closeModal() {
            document.getElementById('successModal-custom').style.display = 'none'; 
        }
    
        // Função para redirecionar para a página de login
        function redirectToLogin() {
            window.location.href = "{% url 'login' %}"; 
        }
    </script>  
</body>
</html>
