<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolha seu time</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            {% for time in times %}
                <div class="carousel-item active">
                    <img src="{% GETMEDIAPREFIX E BLA BLA BLA %}" class="d-block w-100" alt="imagem-time">
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>{% time.nome_time %}</h5>
                    <p>{% time.descricao_time %}</p>
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</body>