body {
  background-color: #f8f9fa; /* Fundo leve */
  font-family: Arial, sans-serif;
}

main {
  height: 70vh;
  margin-top: 3%;

}

.descricao-noticia-mais-recente{
  height: 25%;
  width: 100%;
 
}
.titulo-noticia-mais-recente{
  font-size: 2vw;

}
.resumo-noticia-mais-recente{
  font-size: 1vw;

}
.titulo-noticia-recente{
  margin-top: 3%;
  font-size: 1.3vw;
}
.noticia-mais-recente {
  min-height: 100%;
  min-width: 50%;
}
.noticias-recentes-div {
  width: 50%;
}

.noticia-recente {
  min-height: 50%;
  min-width: 50%;
}

.noticias-recentes-banner-principal {
  width: 95%;
  height: 100%;
}

.navbar-custom {
  padding: 15px 20px;
  width: 100%;
  margin: auto;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.222);
}

/* Seta personalizada para o dropdown-toggle com div */
.nav-link.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid rgb(0, 0, 0); /* Cor branca para a seta */
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}

/* Ajustes para o dropdown com hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-menu {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 10px;
}

.dropdown-item img {
  transition: transform 0.2s ease;
}

.dropdown-item img:hover {
  transform: scale(1.1);
}
