/* ==================================
   Estilo Geral
================================== */
body {
  background-color: #f8f9fa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.4s;
}

a {
  color: #333;
}

a:hover {
  text-decoration: none;
}

button {
  margin-right: 10%;
  background-color: #dddddd;
  height: 5%;
<<<<<<< HEAD
  margin-top: 2%;
  display: flex;
  margin-left: 2%;
}
p {
  margin-bottom: 0rem !important;
}
=======
  margin-top: 5%;
  display: flex;
  margin-left: 2%;
}




>>>>>>> 14d5c0173c95180a533e27988c634c59b03f33e1

/* ==================================
   Modo Escuro
================================== */
#dark-mode-toggle {
  all: unset; /* Remove todas as estilizações padrão */
  background: none;
  border: none;
  padding: 0;
  text-align: left;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

<<<<<<< HEAD
=======

>>>>>>> 14d5c0173c95180a533e27988c634c59b03f33e1
body.dark-mode {
  background-color: #1a1a1a;
}

body.dark-mode .navbar-custom {
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.222);
}

body.dark-mode .navbar-custom .nome-site,
body.dark-mode .navbar-custom .nav-link {
  color: #bbbbbb !important;
}

body.dark-mode .navbar-custom .nav-link:hover {
  color: #969696 !important;
}

body.dark-mode #search-results {
  background-color: #000000;
  color: #bbbbbb;
}

body.dark-mode .search-result-item:hover {
  background-color: #1a1a1a;
}

body.dark-mode .noticia-titulo,
body.dark-mode .noticia-conteudo,
body.dark-mode p,
body.dark-mode .likeCount,
body.dark-mode .card-title {
  color: #bbbbbb;
}

body.dark-mode .comentarios-container {
  background-color: #161616;
}

body.dark-mode .border {
  background-color: #1e1e1e !important;
  border: #000000 !important;
}

body.dark-mode .form-control {
  color: #bbbbbb;
  background-color: #171717;
  border: 1px solid #000000 !important;
}

body.dark-mode .form-control:disabled,
body.dark-mode .form-control[readonly] {
  background-color: #17191a;
  opacity: 1;
}

body.dark-mode button {
  color: #bbbbbb;
}

body.dark-mode .card {
  background-color: #000000;
  border: 0px;
}

body.dark-mode .card-title,
body.dark-mode h5,
body.dark-mode .dropdown-item-text {
  color: #bbbbbb !important;
}

body.dark-mode .dropdown-menu.show {
  background-color: #171717;
}

body.dark-mode .carousel-indicators li {
  background-color: #ffffff;
}

body.dark-mode .text-danger:hover {
  background-color: #000000 !important;
}

body.dark-mode svg {
  fill: #353535;
}

body.dark-mode .fab {
  color: #353535;
}

<<<<<<< HEAD
=======




>>>>>>> 14d5c0173c95180a533e27988c634c59b03f33e1
/* ==================================
   Scrollbar
================================== */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Scrollbar no Modo Escuro */
body.dark-mode::-webkit-scrollbar-track {
  background: #333;
}

body.dark-mode::-webkit-scrollbar-thumb {
  background: #777;
}

<<<<<<< HEAD
=======




>>>>>>> 14d5c0173c95180a533e27988c634c59b03f33e1
/* ==================================
   Navbar
================================== */
.navbar-custom {
  padding: 15px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

.navbar-custom .nav-link:hover {
  color: #424242;
}

<<<<<<< HEAD
=======




>>>>>>> 14d5c0173c95180a533e27988c634c59b03f33e1
/* ==================================
   Hero Section
================================== */
.hero {
  background: url("/static/images/hero-bg.jpg") no-repeat center center;
  background-size: cover;
}

.hero h1 {
  font-size: 2rem;
  text-transform: uppercase;
<<<<<<< HEAD
  font-weight: 500;
}

=======
}





>>>>>>> 14d5c0173c95180a533e27988c634c59b03f33e1
/* ==================================
   Notícias
================================== */
.noticia-titulo {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  margin: 10% 0 5%;
}

.noticia-conteudo {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #555;
  margin-top: 50px;
}

.foto-descricao {
  font-size: 0.8rem;
}

.noticia-imagem {
  border-radius: 15px;
  max-height: 400px;
  object-fit: cover;
  width: 100%;
  margin-bottom: 15px;
<<<<<<< HEAD
  margin-top: 5%;
}
.info-noticias {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.222);
}

.all-news {
  margin-top: 7%;
  width: 80%;
}

.news-card {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.news-card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.news-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  max-width: 100%;
  max-height: 100%;
  margin-right: 15px;
}

.news-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news-content h5 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.news-content p {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .news-card {
    flex-direction: column;
  }

  .news-image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .news-content {
    padding: 10px;
  }
}
=======
}




>>>>>>> 14d5c0173c95180a533e27988c634c59b03f33e1

/* ==================================
   Cards e Carrossel
================================== */
.card {
  height: 100%;
}

.card-img-top {
  border-radius: 15px;
  object-fit: cover;
  height: 200px;
}

.card-title {
  color: #333;
}

.card-text {
  color: #333;
}

.carousel .carousel-item {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.carousel-inner .row {
  margin: 0;
}

.carousel-indicators {
  position: absolute;
  top: 110%;
  margin: 0 15%;
}

.carousel-indicators li {
  width: 30px;
  height: 3px;
  background-color: #000000;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
}

/* Setas do Carrossel */
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  z-index: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.8);
}

<<<<<<< HEAD
.categoria-card-text {
  color: #ffff;
  width: 37%;
  padding-right: 3%;
  padding-left: 3%;
  border-radius: 50px;
  margin-left: 7%;
  text-align: center;
}
=======



>>>>>>> 14d5c0173c95180a533e27988c634c59b03f33e1

/* ==================================
   Comentários
================================== */
<<<<<<< HEAD
/* Estilo das cartas de comentário */
.comment-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.comment-card:hover {
  background-color: #f1f1f1;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

/* Estilo do nome de usuário */
.user-name {
  color: #333;
  font-size: 1.1rem;
}

/* Estilo da foto do usuário */
.user-photo {
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

/* Estilo do botão de deletar */
.btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: white;
}

/* Estilo do título "Comentários" */
.comentarios-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
}

/* Estilo do formulário de comentário */
textarea.form-control {
  border-radius: 20px;
}

button.btn-primary {
  border-radius: 25px;
  background-color: #007bff;
  border: none;
  color: white;
}

button.btn-primary:hover {
  background-color: #0056b3;
}

/* Estilo do alert quando o usuário não está logado */
.alert-info {
  padding: 15px;
  background-color: #f0f8ff;
  color: #5bc0de;
}
/* Estilo para a área de comentário */
.comment-textarea {
  resize: none;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
  width: 100%;
  max-width: 650px;
  margin-top: 1rem;
  background-color: #f8f9fa;
}

.comment-textarea:focus {
  border-color: #007bff;
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.2);
}

/* Formulário de comentário */
.comment-form {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Caixa de texto */
.comment-box {
  margin-bottom: 15px;
}

.comment-textarea {
  width: 100%;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  resize: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s ease;
  max-width: 100% !important;
}

.comment-textarea:focus {
  border-color: #007bff;
  outline: none;
}

/* Botão de envio */
.submit-container {
  text-align: right;
}

.submit-btn {
  background: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.submit-btn:hover {
  background: #0056b3;
}

/* Mensagem de login obrigatório */
.no-login-comment {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  background: #f8f9fa;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  color: #333333;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
=======
.comentarios-container {
  max-width: 100%;
  margin: auto;
  padding: 25px;
  background-color: #f3f3f3;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comentario {
  transition: transform 0.2s, box-shadow 0.2s;
}

.comentario:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}




>>>>>>> 14d5c0173c95180a533e27988c634c59b03f33e1

/* ==================================
   Ferramentas e Botões
================================== */
#toolbar {
  position: fixed;
  top: 47%;
  left: 84%;
  transform: translateY(-50%);
  background-color: #f8f9fa;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  padding: 23px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#toolbar button {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  padding: 28px 2px;
  cursor: pointer;
  font-size: 19px;
  height: 40px;
  width: 55px;
}

#toolbar button svg {
  height: 20px;
  width: 20px;
  fill: #747272;
}

svg {
  position: relative;
<<<<<<< HEAD
  height: 25px;
  width: 35px;
  transition: all 0.3s;
  fill: #b3b3b3;
  cursor: pointer;
}

i {
=======
  height: 35px;
  width: 35px;
  transition: all 0.3s;
  fill: #e7e7e7;
  cursor: pointer;
  ; /* Cor padrão */
}

i{
>>>>>>> 14d5c0173c95180a533e27988c634c59b03f33e1
  position: relative;
  height: 35px;
  width: 35px;
  transition: all 0.3s;
  color: #e7e7e7;
<<<<<<< HEAD
  cursor: pointer; /* Cor padrão */
=======
  cursor: pointer;
  ; /* Cor padrão */
>>>>>>> 14d5c0173c95180a533e27988c634c59b03f33e1
}

svg:hover {
  transform: scale(1.1) rotate(-10deg); /* Efeito de hover */
}

.container input:checked ~ svg {
<<<<<<< HEAD
  fill: #2196f3; /* Cor ao curtir */
}

input {
=======
  fill: #2196F3; /* Cor ao curtir */
}

input{
>>>>>>> 14d5c0173c95180a533e27988c634c59b03f33e1
  display: none;
}
#toolbar button:hover {
  background-color: #f1f1f1;
}

#toolbar button:active {
  background-color: #e1e1e1;
}

<<<<<<< HEAD
=======




>>>>>>> 14d5c0173c95180a533e27988c634c59b03f33e1
/* ==================================
   Emoji Picker
================================== */
#emojiPicker {
  display: none;
  position: absolute;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.emoji {
  font-size: 20px;
  margin: 5px;
}

.emoji:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.2s;
}

<<<<<<< HEAD
=======




>>>>>>> 14d5c0173c95180a533e27988c634c59b03f33e1
/* ==================================
   Responsividade
================================== */
@media (max-width: 768px) {
  .noticia-detalhada {
    padding: 15px;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .card-img-top {
    height: 150px;
  }
}
