<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título da Notícia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="/static/trendfeeds/css/modelo.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom d-flex justify-content-between">
            <a class="navbar-brand p-2 nome-site" href="#">site noticias</a>
            <div class="d-flex justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">Início</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Sobre</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Serviços</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contato</a></li>
                </ul>
            </div>
            <div class="d-flex align-items-center">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                    <button class="btn" type="submit"><img src="pngwing.com (3).png" alt="lupa" style="width: 30px; height: 30px;"></button>
                </form>
            </div>
        </nav>
    </header>

    <main class="container mt-4">
      
        <article class="noticia-detalhada">
            <h1 class="noticia-titulo mt-4">Dirigentes do Real Madrid dão voto de confiança ao trabalho de Ancelotti</h1>
            <p class="noticia-conteudo">Dirigentes do Real Madrid dão voto de confiança ao trabalho de Ancelotti
Presidente Florentino Pérez se encontra com treinador depois das derrotas diante de Barcelona e Milan para apoiar italiano no comando do time merengue
Por Redação do ge — Madri
06/11/2024 13h31 Atualizado há uma hora
Reproduzir vídeo
Real Madrid 1 x 3 Milan | Melhores momentos | Rodada 4 | Liga dos Campeões 2024/25
O início de temporada do Real Madrid não é dos melhores. Atual campeão da Champions League e do Campeonato Espanhol, o time merengue sofreu a segunda derrota seguida em casa, o que não acontecia desde 2019. Apesar do momento ruim, os dirigentes do clube, incluindo o presidente Florentino Pérez, passaram confiança ao trabalho de Carlo Ancelotti.
+✅Siga o canal ge Futebol Internacional no WhatsApp
Depois da derrota, por 3 a 1, para o Milan, pela quarta rodada da Champions League, Florentino Pérez e Carlo Ancelotti conversaram e o presidente merengue demonstrou uma certa tranquilidade, mesmo com os resultados adversos. A ideia do encontro, rotineiro entres os dois, é demonstrar apoio ao treinador.
Carlo Ancelotti tem aval de dirigentes para sequência de trabalho no Real Madrid — Foto: Reuters
Apesar do momento da equipe preocupar o staff do Real Madrid, não é a intenção dos dirigentes de rescindir com Ancelotti. O treinador italiano tem contrato em vigor com o clube até 30 de junho de 2026. Esse vínculo foi renovado em dezembro do ano passado.
+ &quot;Ridículo&quot;, &quot;Pesadelo&quot;, &quot;Agora isso&quot;... Jornais espanhóis detonam má fase do Real Madrid
O Real Madrid vem sofrendo com desfalques na temporada. Alaba, Courtois e Carvajal, seguem em tratamento no departamento médico. E, depois da partida contra o Milan, o time confirmou que Aurelien Tchouaméni sofreu uma torção no tornozelo esquerdo. Além de Fede Valverde, que se tornou dúvida depois do último jogo, com dores lombares.
Por conta do momento e das lesões frequentes no elenco, o clube pretende ir ao mercado em busca de reforços. Na temporada, as maiores contratações foram de Kylian Mbappé e Endrick, que ainda não tiverem sucesso.
+ Rodrygo lamenta crise no Real Madrid: &quot;A gente não está acostumado&quot;
A derrota do Real para o Milan aconteceu dez dias depois da goleada, por 4 a 0, diante do rival Barcelona, que se distanciou na liderança do Campeonato Espanhol - uma diferença de nove pontos, com o time merengue com um jogo a menos.
Já na Champions League, o Real Madrid está longe do G-8, o grupo de classificação para as oitavas de final, com metade da primeira fase já percorrida. A equipe de Ancelotti ocupa a 17ª posição, com apenas seis pontos conquistados.
+ Veja a tabela completa da Champions League
+ Veja a tabela completa do Campeonato Espanhol
O próximo desafio de Carlo Ancelotti para se manter no comando do Real é neste sábado, às 10h (horário de Brasília), contra o Osasuna, em casa, pela 13ª rodada da LaLiga. O ge acompanha o duelo em Tempo Real.
BARCELONA
MILAN
REAL MADRID
Veja também</p>
        </article>
      
    </main>

    <footer class="text-center mt-5 py-3 bg-light">
        <p class="mb-0">© 2024 site noticias - Todos os direitos reservados.</p>
    </footer>

    <!-- JavaScript do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>